[2019-02-11 18:43] #958 closed

[2019-02-11 18:47] olpaw commented on #958
Note that if you want an image that is able to perform partial evaluation you still need the `--tool:truffle` option (or a `Requires = tool:truffle`) in your `native-image.properties` file.

[2019-02-11 19:09] deltasquad451 commented on #356
@pejovica Thanks, issue has been resolved.

[2019-02-11 21:47] tarsa commented on #972
Hi,

Where did you get the info that Graal is going to replace JNI?

Replacement for JNI is in the scope of Project Panama: http://openjdk.java.net/projects/panama/

Graal is more about cooperation between languages in sanboxed polyglot environment. For running C++ within Graal you have Sulong: https://github.com/oracle/graal/tree/master/sulong

[2019-02-11 23:14] cstancu commented on #783
@sdeleuze thanks for the report! @zarechenskiy thanks for the minimal reproducer! The issue is fixed in https://github.com/oracle/graal/commit/57199de5ef7c04cd9e11ec00a750956c3fcca386.

[2019-02-11 23:14] #783 closed

[2019-02-11 23:41] cowwoc commented on #972
@tarsa

I read https://github.com/oracle/graal/blob/master/substratevm/JNI.md which said:

I took this to mean that JNI is being deprecated. Having re-read this page in context of Substrate VM I understand that this probably isn't what was meant. Sorry.

Very cool. Thank you.

[2019-02-12 00:13] cstancu commented on #972
It is not a goal of SubstrateVM to deprecate `JNI`. However we explore alternative techniques to express and interact with native code. See for example https://github.com/oracle/graal/blob/master/substratevm/ImplementingNativeMethodsInJavaWithSVM.md.

By the way the `JNI` support is now enabled by default in SubstrateVM. We will update the documentation to reflect that.

[2019-02-12 00:13] #972 closed

[2019-02-12 01:07] cstancu commented on #653
#783 has been fixed. Now using this command:
[code]
and this reflection configuration file:

[code]
I can build an executable which when run does something:
[code]

I am not familiar with the internals of your project so I stopped there. I just wanted to see how far I can get it.

[2019-02-12 08:17] evacchi commented on #958
Thanks, that's great!

[2019-02-12 11:00] moorsu opened #974 "[native-image] Native image takes more time than regular java application"
Following code, when compiled and ran it as java application, completes it by 34 seconds
whereas when I build the native image and ran it, it took 1 min 30 seconds. Am I miss something here?

I used ./native-image -cp . writer.Test to create the image

$ time java -cp bin writer.Test

real	0m34.762s
user	0m25.064s
sys	0m10.100s

$ time ./writer.test

real	1m30.609s
user	1m9.447s
sys	0m20.056s

pac

[2019-02-12 14:33] mur47x111 commented on #593
Should be resolved by https://github.com/oracle/graal/pull/896

[2019-02-12 14:33] #593 closed

[2019-02-12 15:45] plokhotnyuk commented on #593
Thank you all for fixing it!

I am waiting a new release of GraalVM with impatience!

[2019-02-12 19:32] vjovanov commented on #974
This is most likely caused by: 1) the slow implementation of array copy that we use at the moment and 2) that native-image is probably not inlining `builder.append` completely.

We are currently working on a faster array copy. Let's see how well do we perform after that fix is made.

[2019-02-12 19:40] johanvos opened #975 "Class.getModule() not yet implemented"
Using Class.getModule() in Java 11 is not yet implemented.
DynamicHub.getModule() throws a VMError.unsupportedFeature

[2019-02-12 20:26] johanvos commented on #975
See https://github.com/oracle/graal/pull/976 for a quick workaround

[2019-02-12 21:26] tarsa commented on #974
GraalVM is slower in many more benchmarks, see here: https://benchmarksgame-team.pages.debian.net/benchmarksgame/faster/java-substratevm.html (they are calling Graal's nativeimage SubstrateVM).

[2019-02-13 02:16] SergejIsbrecht commented on #974
System:
Linux sergej-P50 4.18.0-13-generic #14-Ubuntu SMP Wed Dec 5 09:04:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment (build 11.0.1+13-Ubuntu-3ubuntu3.18.10.1)
OpenJDK 64-Bit Server VM (build 11.0.1+13-Ubuntu-3ubuntu3.18.10.1, mixed mode, sharing)

[code]

GraalVM RC12 CE (native-image)
[code]

Tomorrow I will provide some perf data.

[2019-02-13 08:23] olpaw commented on #974
[code]
vs.
[code]
Yikes!

[2019-02-13 08:27] olpaw commented on #941
I'd like to remove `System.getenv("VERBOSE_GRAALVM_LAUNCHERS")` from NativeImage.
@johanvos, are you ok with using `--verbose`?

[2019-02-13 11:06] huksley commented on #699
Hi!
Experiencing the similar segfault now, https://github.com/huksley/serverless-java-micronaut/issues/1
Not looks like it is `netty-codec-http2` problem.
Any ideas how to debug?

[2019-02-13 11:13] sebthom commented on #957
@olpaw is there any alternative way to specify additional search locations for header files?

[2019-02-13 15:33] bootstraponline commented on #653
Thanks. I made a simple reproducible example that doesn't require authentication with a service account.

- https://github.com/oracle/graal/issues/926

It's awesome to see GraalVM making progress. 🙂

[2019-02-13 15:53] johanvos commented on #941
Would there be a way to specify it with an API? If NativeImage.build() is called using external code (e.g. the maven plugin in the repository, or another plugin started from a different VM), it would be nice to have the verbosity turned on/off programmatically.

[2019-02-13 16:31] olpaw commented on #941
The native-image options are the API. This is also true for the `native-image-maven-plugin`.
E.g. if you use the following snippet in your `pom.xml` file
[code]
the arguments passed to `NativeImage.build(config)` will contain `--verbose`.
[code]
For more info see https://github.com/oracle/graal/blob/ee6b632e002e96a10071d1d939812c20f8b5f3f5/substratevm/src/native-image-maven-plugin/src/main/java/co

[2019-02-13 16:33] olpaw commented on #941
I.e the API for native image is `NativeImage.BuildConfiguration` that you pass to `NativeImage.build`.

[2019-02-13 16:37] johanvos commented on #941
sounds good.

[2019-02-13 23:41] SergejIsbrecht commented on #974
sudo perf record -F 99 --call-graph fp ~/Development/GitHub/GraalVMTest/oracleIssue/build/graal/hello-world

FlameGraph from recorded native-image data: https://gist.github.com/SergejIsbrecht/83c89c66caa9b06cc3e457db82546b17

[2019-02-13 23:56] SergejIsbrecht commented on #974
@vjovanov, do you have a branch on github for this change? I would like to look into it if possible.

[2019-02-14 01:58] cstancu commented on #785
This issue is now fixed. As of https://github.com/oracle/graal/commit/345567b0db51c0266334f6c7a4cc3bfd695359fb (which will be included in RC13) you should be able to build an image for the simple example above. You also need  the `-H:IncludeResources="org/jline/utils/*.*" ` option to include the resources in the native image.

[2019-02-14 01:58] #785 closed

[2019-02-14 08:04] olpaw commented on #975
Your PR is on master. Thanks for the contribution!

[2019-02-14 08:04] #975 closed

[2019-02-14 08:50] vjovanov commented on #974
No branch yet, for now, I have moved all the `ArrayCopy` snippets from HotSpot to common code. Now, this needs to be used in native-image and all of the array copy calls need to be implemented as foreign functions for native-image.

For inlining the `StringBuilder.append` you can try and increase the inlining threshold: `-H=MaxNodesInTrivialMethod`, `-H:MaxNodesInTrivialLeafMethod`, `-H:MaxInvokes

[2019-02-14 12:52] fniephaus opened #978 "FindBugs' Nullcheck fails in SourceImpl.java"
Not sure why I see this error now, the [lines of interest](https://github.com/oracle/graal/blob/a237181bb5efe0f6bc1eeeec42e3b4b012abe8c9/truffle/src/com.oracle.truffle.api/src/com/oracle/truffle/api/source/SourceImpl.java#L275-L284) haven't changed in a while and so hasn't the version of FindBugs that mx uses. Maybe because of a different FingBugs-related change in mx?

Error message:
[code]

[2019-02-14 12:54] fniephaus commented on #978
Ok, here we go: https://github.com/graalvm/mx/commit/c3cfe9980ecfdc0a9a858122f8a1bc04c2ec72ab (mx upgrade from `5.210.1` to `5.210.2`).

[2019-02-14 13:55] dougxc commented on #978
A fix to mx is on it's way. I've [highlighted](https://github.com/graalvm/mx/commit/48698eee3e9ad18e3a2f03511ffc4112c788dc3b#r32318770) the problem.

[2019-02-14 15:05] fniephaus commented on #978
Fixed in mx `5.210.3` via https://github.com/graalvm/mx/commit/302aac4afea7b0e1ef19201c848d77ac4adb527d.

[2019-02-14 15:05] #978 closed

[2019-02-14 17:55] jasonbelt commented on #804
I ran into the same issue when using GraalVM CE 1.0.0-rc12 for macOS.

[2019-02-14 19:32] turing85 commented on #974
I have observed the same behaviour on multiple benchmarks (GraalVM-EE 1.0.0-RC12). You can find the JMH-benchmarks I wrote here: https://github.com/turing85/graal-playground

If you compare execution of the JMH benchmarks of the execution time of the Fibonacci-, PrimeNumber- and stream-examples with the execution time of their native counterpart, you will see that the native image is up to 5x slow

[2019-02-14 20:29] SergejIsbrecht commented on #974
@turing85, probably create a new ticket sad case, because it could not be related to Array.copy, as this is the case here. Also Java is faster by design when the C2 gets really hot. The native-image does make sense in an embedded environment or for function as a service, when quick startup is really important.

[2019-02-14 20:40] turing85 opened #979 "[native-image] native image Performance is worse than runs on JVM"
**Graal Version**: 1.0.0-RC12

**Expected Behaviour**: native image executes faster than same program executed on JVM

**Actual Behaviour**: JVM execution is faster

I wrote some benchmarks with JMH in order to evaluate performance of Graal, both on JVM and as native image. You can find the code at https://github.com/turing85/graal-playground

When you execute the fibonacci-, primenumber-, and str

[2019-02-15 08:54] johanvos commented on #968
Digging a bit deeper in this, the failure occurs when trying to get the `<init>` method of a declaringClass that is an annotation (`isAnnotation(declaringClass)` returns true).
However, `<init>` is not in the list of methods for the corresponding Subtitution. Only `equals`, `toString`, `hashCode` and `annotationType` are added as subsitutionMethods.

The declaringClass itself is `AnnotationType<jd

[2019-02-15 09:59] johanvos commented on #968
In PR #981 I added the constructors to the list of substitutions, and the error is gone now. I'm not sure though if the constructors were removed deliberately (and only methods were used to create substitutions)?

[2019-02-15 14:12] johanvos opened #982 "Mismatch of analysisExecutor and compilationExecutor"
The NativeImageGeneratorRunner calls NativeImageGenerator.run() with the executors in the order analysisExecutor, compilationExecutor  where the NativeImageGenerator expects them in the reverse order.

This can be relevant when the maximum number of threads is supplied for one of the executors (it will be implied to the wrong one)

[2019-02-15 19:27] christianwimmer commented on #968
I don't see how the substitutions for the constructors could be necessary, because the annotation objects are created during image generation and not at run time. Your PR substitutes the constructor with an accessor method that returns a field value - that is clearly a wrong functionality, i.e., if the constructor would ever be called horrible things would happen.

I think we first need an investi

[2019-02-16 08:03] ilopmar opened #985 "Regression introduced: IndexOutOfBoundsException creating Micronaut native-image apps"
Our CI has detected a regression introduced in this commit: https://github.com/oracle/graal/commit/d4558fb51456328dc272aba597882182b1550248

All of our Micronaut Graal test applications fail when building the native image with the following error:

[code]

In this CI execution https://gitlab.com/micronaut-projects/micronaut-graal-tests/pipelines/47754989 you can check that all the applications fai

[2019-02-16 19:05] nodingneu opened #986 "How to make a SourceSection"
How do I create my own instance of org.graalvm.polyglot.SourceSection?

I see no constructor [in its docs](https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/SourceSection.html), and [org.graalvm.polyglot.Source](https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/Source.html) has no `SourceSection createSection(...)` methods unlike [com.oracle.truffle.api.source.Source](https://www.gra

[2019-02-16 19:43] cstancu commented on #985
Thanks for the quick report! I caught this on our own integration tests too and will have a fix soon.

[2019-02-16 23:50] snazy opened #987 "Host class filter can be bypassed with Java reflection"
The host class filter (via `org.graalvm.polyglot.Context.Builder#hostClassFilter`) is a nice way to restrict the host classes that are accessible by a guest. But it can be easily bypassed using Java reflection.

For example, disallowing `java.lang.Runtime` via the host-class-filter lets the following JS snippet bark:
[code]
But the following snippet still works:
[code]

Nashorn "disables" Java ref

[2019-02-17 12:35] thomaswue commented on #916
Did you test different type of programs and saw a similar regression? What can happen is that in this particular example having the one general register less available leads to a stack spill in an unfortunate location.

[2019-02-17 12:37] #853 closed

[2019-02-17 22:33] SergejIsbrecht commented on #916
I will have a look at different applications. My main application is currently not working. I will provide some feedback in the next week with some example-code.

[2019-02-18 08:25] apete commented on #892
I benchmarked HotSpot, Graal CE and Graal EE doing matrix multiplication using 3 commonly used pure java linear algebra libraries.

https://ojalgo.blogspot.com/2019/02/oracles-jvms-hotspot-graal-ce-graal-ee.html

[2019-02-18 09:11] wirthi commented on #987
Hi @snazy,

Thanks for the report. We will investigate that and report back here.

-- Christian

[2019-02-18 09:26] turing85 opened #988 "[native-image] command line option -H:IncludeResources=... deletes characters"
**Graal Version**: 1.0.0-RC12, EE and CE

**Expected Behaviour**: Resources should be included as-is

**Actual Behaviour**: in some cases, the first letter of a resource path gets deleted

When adding resources through command-ine option `-H:IncludeResources=...`, the first letter willof the resource path will be deleted. I have some sample code on [github][github], that packages (`mvn package) an

[2019-02-18 11:35] olpaw commented on #982
Merged on master. Thanks for the fix!

[2019-02-18 11:35] #982 closed

[2019-02-18 11:47] johanvos commented on #968
The problem occurs with Proxy classes that are annotations and that have an <init>
The <init> should indeed not be implemented with an AnnotationAccessorMethod.

[2019-02-18 15:08] chumer commented on #987
@snazy We are aware of this problem and working on a fix already. We will likely introduce a new flag allowHostReflection that needs to be enabled explicitly if reflection access is desired.

In addition to that, we are considering another flag allowHostPublicAccess to control whether all public members should be exposed by default. If this permission is not granted then the exported methods need

[2019-02-18 15:14] johanvos opened #989 "Class.getPackageName not implemented"
In DynamicHub.java, the call to getPackageName() throws an VMError.unsupportedFeature error (Java 11 only)

[2019-02-18 15:32] greensnark commented on #792
I got this same libnotify crash on Arch Linux using IntelliJ's bundled 1.8.0_152 JVM, with no Graal involved at all, so this is probably not a Graal bug. I reported this bug to JetBrains: https://youtrack.jetbrains.com/issue/IDEA-207451

(For the IntelliJ crash, setting `-Dide.libnotify.enabled=false` in idea64.vmoptions stopped IntelliJ from trying to load libnotify, which fixed the crash for me.

[2019-02-18 16:25] snazy commented on #987
@chumer awesome! I think, both flags will be very useful!

[2019-02-18 21:02] tkrodriguez commented on #792
Thanks for the report.  It certainly seemed like a problem with library dependences that didn't really involve us.

[2019-02-18 21:58] turing85 opened #991 "[Question] Is it possible to load a .jar-file from guest-languages?"
The [Reference Manual][Manual] shows how to use java API classes from guest languages.

Now, let's assume that we have written some `User`-class in Java and that we have compiled this class (and its dependencies) in a jar library. Let's further assume that we want to use this `User`-class in our guest language (e.g. JavaScript or Python). Is it possible to load the jar archive from a guest languag

[2019-02-18 22:36] wololock opened #992 "[native-image] Ratpack (Netty) 1k concurrent requests cause java.io.IOException: Accept failed at com.oracle.svm.core.posix.PosixJavaNIOSubstitutions$Util_sun_nio_ch_ServerSocketChannelImpl.accept0(PosixJavaNIOSubstitutions.java:1261)"
GraalVM: 1.0.0-RC12 CE

I've faced this issue while I was working on the Ratpack + GraalVM integration blog post (https://e.printstacktrace.blog/ratpack-graalvm-how-to-start/). I created a simple demo application with a single "Hello, World!" endpoint and I was measuring RPS and latency using both - native image and a regular `java -jar ...`. When I executed 1k concurrent requests to the applicati

[2019-02-19 00:12] cubuspl42 opened #993 "Static method of the base class not available through JNI reflection in a native image and delayed initialization"
In the native image, when the JNI code tries to get a static method `Bar.foo` via `GetStaticMethodID`, if the initialization of `Bar` is delayed till runtime and the method is actually declared in a super class `Foo`, the resolution fails. It works with OpenJDK `java` (HotSpot), in Graal `java` and with native image without delayed initialization. Am I doing everything correctly?

Code: https://gi

[2019-02-19 00:14] cubuspl42 commented on #993
By the way, this isn't a made up thing ;) It's a blocker for making JavaFX work with Graal .

[2019-02-19 00:14] markehammons commented on #792
@greensnark I'll test this tomorrow. Maybe graalvm aggravates the bug?

[2019-02-19 03:01] cubuspl42 opened #994 "JavaFX native image hangs and doesn't show any window"
I succeeded to build and run a JavaFX native image. It required some patching.

(details: https://github.com/cubuspl42/JavaFX-Graal-HelloWorld)

The program hangs before it shows any window:

[code]
Do you have any idea what might be the reason, or how to debug it?

[2019-02-19 03:03] cubuspl42 commented on #365
Managed to make it build, but doesn't run properly: https://github.com/oracle/graal/issues/994

[2019-02-19 03:04] cubuspl42 commented on #403
Managed to make it build, but doesn't run properly: https://github.com/oracle/graal/issues/994

[2019-02-19 11:32] wirthi commented on #991
Hi,

I don't know of any limitation in that area. If you start from `js --jvm`, you can interop to Java and do anything you can normally do in Java, including accessing JAR files as you are used to.

You can even load the JAR directly from JavaScript:
[code]
We could add a simple example with best practices to the website, true.

Best,
Christian

[2019-02-19 11:45] johanvos commented on #994
From your code, it looks like you're running on Mac.

One of the changes you have to make on Mac is to get out of the main thread, so that Glass can call a selector that runs on the main thread (e.g. see https://bitbucket.org/javafxports/8u-dev-rt/src/1337673d0693dc7cee6e135d76fa47f06487a0aa/modules/graphics/src/main/native-glass/mac/GlassApplication.m?at=jvmci&fileviewer=file-view-default#GlassAp

[2019-02-19 12:20] johanvos opened #995 "[native-image] wrong type in AnalysisObject"
In `AnalysisObject.getInstanceFieldTypeStore()`, I get an `ArrayIndexOutOfBoundException` since the store is empty (for `Object`) while we try to retrieve it's element at position 2.

I noticed that in all calls to` getInstanceFieldTypeStore(BigBang bb, AnalysisField field)` the `field` corresponds to `this`, but printing the values of this and field when it fails show

`this`: `0x0000000100000002

[2019-02-19 12:35] johanvos commented on #993
I filed this before but it seems to be solved: https://github.com/oracle/graal/issues/858
(I manually changed all calls from Native to Java in the native JavaFX layer)

[2019-02-19 12:52] olpaw commented on #988
Thanks for the bug report. I will fix this.

[2019-02-19 12:55] olpaw commented on #988
Note that this is just a bug in the logging of what gets registered as a resource (the missing of the first character). The registration itself works as fine.

[2019-02-19 13:42] cubuspl42 commented on #994
@johanvos Thank you for your response!

So it sounds that you've managed to successfully run a JavaFX app on Graal, is it correct? Did you also have to go through all the issues I listed in the [readme](https://github.com/cubuspl42/JavaFX-Graal-HelloWorld/blob/master/README.md), or did I do something wrong? Is the project you mentioned (the one with `launcher.m`) open source?

[2019-02-19 13:51] wirthi commented on #991
Note you can also add elements to the classpath dynamically from JavaScript, via `Java.addToClasspath(filename)`.

[2019-02-19 13:54] turing85 commented on #991
This was pretty much what I was looking for :) should definitively be mentioned on the website.

[2019-02-19 15:30] rkennke commented on #995
I also see this bug when trying to comile spring-petclinic.

[2019-02-19 17:35] johanvos commented on #994
Yes, I had a JavaFX 8 running on SVM, and ran indeed in those issues. I also modified a number of JavaFX class initialisers to take advantage of executing clinit functions at build time.
My goal is that all JavaFX apps should run easily on SVM, so it should all be open source.

[2019-02-19 20:03] cstancu commented on #995
Thanks for the report. This is the same problem as https://github.com/oracle/graal/issues/985. I am working on a solution.

[2019-02-19 21:21] olpaw commented on #988
Fixed on master (84a80c90728). Btw, by adding `.` to the classpath you are additionally putting `graal-playground/native/target` on the classpath. That causes the resources not only to be taken from the jar file but also from `graal-playground/native/target/classes/wordCount` which is likely **not** what you want.

[2019-02-19 21:21] #988 closed

[2019-02-19 23:24] cubuspl42 commented on #994
So does that link you posted before point to the fork with the mentioned changes? I'm sorry, I'm just trying to figure out what's the current status of Graal+JavaFX. It's not really obvious.

[2019-02-20 00:15] Peter-B-Kessler commented on #992
I can reproduce the
[code]
failure on Darwin when running the suggested
[code]

Trying some lesser runs (less concurrency and fewer requests) I can run
[code]
but fail with an
[code]
which is not what I was expecting.  (Oh, and sometimes (!?) it successfully completes all 50K requests.)

(Note to self: I saw 1 collection during the successful run of 50K requests:
[code]
and later, on the same serv

[2019-02-20 04:27] cstancu commented on #995
The issue is fixed in https://github.com/oracle/graal/commit/9f0546754bfb1bf2a1963f0c4358a67aaeab63b1. The problem was with the `DynamicHub.getProtectionDomain()` substitution: it declared `Object` return type instead of `ProtectionDomain`, so the points-to analysis was not applying the expected type narrowing. I also improved the error reporting: instead of an `ArrayIndexOutOfBoundException` now

[2019-02-20 04:27] #995 closed

[2019-02-20 04:29] cstancu commented on #985
The issue is fixed in https://github.com/oracle/graal/commit/9f0546754bfb1bf2a1963f0c4358a67aaeab63b1. The problem was with the [`DynamicHub.getProtectionDomain()`](https://github.com/oracle/graal/commit/9f0546754bfb1bf2a1963f0c4358a67aaeab63b1#diff-811de719f750f55690c85a7e84fe2190L1079) substitution: it declared `Object` return type instead of `ProtectionDomain`, so the points-to analysis was not

[2019-02-20 04:29] #985 closed

[2019-02-20 07:46] johanvos commented on #994
That is a fork but it won't be maintained as it was just a POC to see if/how JavaFX 8 worked on SVM. It was a positive experience, so focus is now on JavaFX 11 and beyond.
The goal is to have all required changes in JavaFX being upstreamed, for now I use a branch in my fork at https://github.com/johanvos/openjdk-jfx/tree/jfx-11-svm .
I try to leverage as much class initialisation at build time as

[2019-02-20 08:59] rkennke opened #996 "Crash while building native-image of spring-petclinic"
I am trying to build spring-petclinic with substratevm and getting the following crash:

mx native-image -jar spring-petclinic-2.1.0.BUILD-SNAPSHOT.jar

Error: Error encountered while parsing com.oracle.svm.reflect.$Proxy103_constructor_daf58cf9081b19dd3dce8d77b02a3aa856a99e1a.newInstance(java.lang.Object[])
Parsing context:
	parsing java.base@11.0.1/java.lang.reflect.Constructor.newInstance(Const

[2019-02-20 09:09] ilopmar commented on #985
Thanks! I can confirm that our integration tests pass again :+1:

[2019-02-20 09:34] wirthi commented on #991
Hi,

I've added very basic documentation to the doc files in the graaljs repo (https://github.com/graalvm/graaljs/commit/588cfedcc4abf9d104a8e406c935e116b297fd72), but we will still need to add this to the website. Thanks for the hint.

-- Christian

[2019-02-20 09:34] #991 closed

[2019-02-20 09:51] johanvos commented on #996
This seems to be the same issue as https://github.com/oracle/graal/issues/968
(Proxy with a constructor)

[2019-02-20 09:55] peter-hofer commented on #993
Confirmed to work with your unmodified sources:
[code]

[2019-02-20 09:55] #993 closed

[2019-02-20 12:19] dsyer opened #997 "Reactor core Loggers breaks in native image build"
A simple app with only `reactor-core` dependency:

[code]

Barfs on `native-image` generation because of the call to ` Loggers.useJdkLoggers()`:

[code]

Without the call to `Loggers.useJdkLoggers()` the app builds and runs fine (but without any actual logging - probably because of #278 or similar).

The issue seems to be related to the static field `LOGGER_FACTORY` which is initialized statically

[2019-02-20 15:22] dsyer opened #998 "Documentation on dynamic proxies is confusing"
In [this document](https://github.com/oracle/graal/blob/master/substratevm/DYNAMIC_PROXY.md#manual-configuration) there is a nice example of JSON configuration for dynamic proxies, but it doesn't really explain what it means. It's an array of arrays of FQNs of Java interfaces. Why are there 3 arrays in one sample, and 1 in the other (the empty one)? How do they get applied to the proxies that need

[2019-02-20 16:07] olpaw commented on #998
Providing e.g.
[code]
as DynamicProxyConfiguration allows you to write code such as
[code]
where the following asserts hold
[code]

[2019-02-20 16:29] dsyer commented on #998
That's useful (and could therefore be incorporated in the docs immediately). What about if the proxy is created like this?

[code]

Do I need an entry in the JSON for every possible value of `y` at runtime (assuming I even know)?

[2019-02-20 16:49] olpaw commented on #998
Yes for all classes that you might create a proxy for (at image runtime) you will need an entry in the DynamicProxyConfiguration. As with reflection (and JNI) we require upfront knowledge. /cc @peter-hofer

[2019-02-20 16:57] dsyer opened #999 "Allocate annotation proxy instances at runtime"
Seems to be related to trying to create a proxy for an `Annotation`, which is something the JDK does, but maybe in a different way because those ones seem to work (when you ask for `MyClass.class.getAnnotation(MyAnnotation.class)`). Spring uses synthetic annotations a lot and likes to create the proxy manually in this way, so the NPE is a blocker for a large class of Spring app (using `@Value` for

[2019-02-21 00:45] cstancu commented on #772
The error reporting in this case has been improved. Instead of an `IndexOutOfBoundsException` you should now get:
[code]
The error is due to a call to the `MethodHandle` adapter `java.lang.invoke.LambdaForm$MH.1106314392.invokeExact_MT(Ljava/lang/Object;, Ljava/lang/Object;, Ljava/lang/Object;)` generated by HotSpot for the `INVOKEVIRTUAL java/lang/invoke/MethodHandle.invokeExact (Ljdk/nashorn/int

[2019-02-21 01:14] cstancu commented on #989
https://github.com/oracle/graal/pull/990 has been merged.

[2019-02-21 01:14] #989 closed

[2019-02-21 02:33] Peter-B-Kessler commented on #992
I don't know how ratpack closes file descriptors, but the number of open file descriptors varies, sometimes quite a bit.  I **can** see ratpack closing file descriptors.  (Closing file descriptors seems not to be associated with -- or delayed until -- garbage collection, which is good.)

I am testing on Darwin, where
[code]
That is, I can only have 256 open file descriptors.  If I ramp up the clie

[2019-02-22 01:06] Peter-B-Kessler commented on #992
A follow-up to [my analysis](https://github.com/oracle/graal/issues/992#issuecomment-465837755)  of the performance of `ratpack-graalvm-demo` on SubstrateVM versus JDK-8. That was on Darwin, this is on Linux.

On Linux I **can** run the server as a native-image against the client. Here the server was built with `graalvm-ee-1.0.0-rc12`. (Note the garbage collection on the server.)
[code]
[code]
Her

[2019-02-22 20:11] vjovanov commented on #996
It is similar, this is what happens. The issue happens because in the following snippet
[code]
from `java.security.UnresolvedPermission.resolve(UnresolvedPermission.java:278)` analysis believes that `c` can be one of our substitution types and tries to generate a constructor for it (which is currently impossible).

This happens now as this code is reachable from the lambda at `java.security.Permis

[2019-02-22 20:42] vjovanov commented on #968
The explanation about the issue can be found [here](https://github.com/oracle/graal/issues/996#issuecomment-466530986).

[2019-02-23 19:52] johanvos opened #1002 "setAccessible forbidden in JDK 11 in some cases"
After applying PR #1001 , there is a problem left with Method.setAccessible:

Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make public final java.lang.String com.sun.proxy.jdk.proxy1.$Proxy108.value() accessible: module jdk.proxy1 does not "exports com.sun.proxy.jdk.proxy1" to unnamed module @57a31d39
	at java.base/java.lang.reflect.AccessibleObject.checkCanSetAccessible(Acc

[2019-02-23 19:55] diroussel commented on #442
+1 would be great to get this working

[2019-02-24 01:49] twblamer commented on #712
It's still failing. My program is closed source, but if this issue can be reopened, I can try to construct a synthetic repro case.

[code]

[2019-02-24 05:09] sureshg commented on #366
I encounterd the same issue. Is this something graal native-image plans to fix in future?

[2019-02-24 08:19] johanvos commented on #968
The proper fix for this is in #1001

[2019-02-24 20:17] Jurrie opened #1003 "native-image-maven-plugin UnsupportedOperationException for project with com.oracle.substratevm:svm:1.0.0-rc12 as dependency"
I am using the native-image-maven-plugin to make a native image for a Maven project. This project needs the com.oracle.substratevm:svm:1.0.0-rc12 dependency, because I need to use the com.oracle.svm.core.annotate.* annotations. But that dependency, by default, transitively includes dependencies that are not JAR files. For example, it depends on com.oracle.substratevm:svm-hosted-native-linux-amd64:

[2019-02-24 20:42] rkennke commented on #996
Thanks for the comments. Yeah, I tried with jdk8 too, but as you say, that won't even work either. My current goal is to get anything working that lets me play with substrate's GC. https://github.com/adinn/churn seems to do the job and actually fits the bill very nicely.

[2019-02-25 01:46] cstancu commented on #712
@twblamer have you tried using `--delay-class-initialization-at-runtime=...` as suggested above? You can read more details about that option [in this article](https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-generation-d765b7e4d6ed). This behavior is not a bug in the native-image tool and it is a symptom of the limitations that our design imposes on class initi

[2019-02-25 03:18] twblamer commented on #712
@cstancu Thanks for the explanation and link.

I tried the option you suggested and still no luck:

[code]

I will follow your suggestion and try to create a minimal repro case.

[2019-02-25 03:50] ralleman opened #1004 "Nashorn considerably faster than Graal"
Hi guys. I stumbled across Graal a few days ago in looking for an alternative to Nashorn. This thing that made me jump with glee was the timeouts because I'm writing an application that runs untrusted code. Problem is that I'm finding that Graal is performing between 60x and 150x slower than Nashorn in a simple concurrency test embedded in to a JUnit test class. Here are the results (all times in

[2019-02-25 03:54] ralleman commented on #1004
I should point out that I find the Nashorn timings too high too. With a script as simple as the one in the test, I'd expect compilation to be < 1ms ideally.

[2019-02-25 04:05] ralleman commented on #1004
Also, I'm using graal CE 1.0.0 rc12 on a macbook pro.

[2019-02-25 04:27] cstancu commented on #1002
Is the error that you see `Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make public final java.lang.String com.sun.proxy.jdk.proxy1.$Proxy124.value() accessible: module jdk.proxy1 does not "exports com.sun.proxy.jdk.proxy1" to unnamed module @18456020
` or similar? I get that at `com.oracle.svm.hosted.annotation.AnnotationSubstitutionField.readValue(AnnotationSubstitutionFie

[2019-02-25 04:32] cstancu commented on #996
Using the changes in the #1001 PR and the ones that I discussed in https://github.com/oracle/graal/issues/1002#issuecomment-466867932 I was able to build an image for `spring-petclinic`. You also need to specifcy `--report-unsupported-elements-at-runtime`:
`native-image --report-unsupported-elements-at-runtime -jar target/spring-petclinic-2.1.0.BUILD-SNAPSHOT.jar`.

However when I run the image I

[2019-02-25 06:27] Jurrie opened #1005 "com.oracle.svm.core.annotate.* annotations in separate artifact"
My project needs to include com.oracle.substratevm:svm:1.0.0-rc12, because I need to use the com.oracle.svm.core.annotate.* annotations. However, this transitively includes a whole lot of other dependencies. I don't need those. I can exclude them of course, but it would be cleaner if the annotations were in a different package with no transitive dependencies. Something like com.oracle.substratevm:

[2019-02-25 09:50] johanvos opened #1008 "[native-image] empty_class_array not in substitution class"
This snippet results in an error during native-image build (it can be circumvented by supplying -H:+ReportUnsupportedElementsAtRuntime)

[code]

Error: com.oracle.graal.pointsto.constraints.UnsupportedFeatureException: Unsupported field java.lang.Class.EMPTY_CLASS_ARRAY is reachable: The declaring class of this element has been substituted, but this element is not present in the substitution class

[2019-02-25 12:36] olpaw commented on #1003
The right approach is to use `com.oracle.substratevm:svm` is to define
[code]
The key here is that you use `<scope>provided</scope>`. This ensures that `com.oracle.substratevm:svm` will not be transitively folded into your uber-jar.

[2019-02-25 12:40] Jurrie commented on #1003
Right, that does make sense :) Still, I feel it's a bug that the Maven plugin will try to parse any artifact as a JAR. (It's only illustrated by the com.oracle.substratevm:svm artifact, it's not limited to it.)

[2019-02-25 13:19] olpaw commented on #1003
Makes sense. I will add a check that issues a warning for non-jar files. Or if you like I can hold off until you have completed the OCA signing procedure and we merge your change instead.

[2019-02-25 13:25] Jurrie commented on #1003
I hope you can wait for the OCA procedure to finish then :)

[2019-02-25 14:33] kronolynx opened #1009 "[native-image] Scala Apache HttpClient LogConfigurationException"
I'm getting this error
[code]

In issue #768 someone suggest to fix this error using:
[code]

I can't make it work on `GraalVM 1.0.0-rc12` and I haven't found any other solution.

### Steps to reproduce
https://github.com/kronolynx/scala-graal-apache-http

After cloning the project
[code]

[2019-02-25 16:18] wirthi commented on #1004
Hi @ralleman

thanks for your report.

I tried to reproduce your findings. I didn't use the a-f variables, but merely the "test total time" that you already reported for the Graal.js case.

The issue why the reported value is so slow is that the benchmark is rather short-running, and starting many threads, thus potentially competing with our JIT compiler that is on a separate thread. You are not o

[2019-02-25 19:15] johanvos commented on #1008
The issue is more general, as getMethods0 on java.lang.Class will call  getMethodsRecursive which is also not on the substitution class

[2019-02-25 19:35] cstancu commented on #1005
I think https://github.com/oracle/graal/issues/1003#issuecomment-466995625 applies here as well.

[2019-02-25 20:40] blacklion opened #1012 "Performance regresion agains JDK 8 HotSpot for digital signal processing-like tasks"
I'm experimenting with basic DSP-related tasks in pure Java. It is basically simple number (floating-point) crunching on big arrays of primitive types (`float[]`). No complex object creation, no GC, nothing like this, but lot of opportunities for vectorization.
One of basic operations is straightforward implementation of Finite Impulse Response filter. It is convolution of (relatively) short const

[2019-02-25 22:25] Jurrie commented on #1005
Hi @cstancu, I don't think I agree, as the 'provided' scope still gives a whole lot of extra dependencies in the project. If you only want to use the annotations to make your application work with GraalVM native-image, those other dependencies are not needed (and only introduce the risk of actually using them). What's your take on this?

[2019-02-26 01:29] ralleman commented on #1004
Thanks for the explanation Christian and good idea to change the test like you've done. I did the same and came up with these using a shared executor which is more accurate to what we'd see in a web server.

[code]

It's still unclear to me what's going on in that first Graal run though because each of the threads have the same source compilation time of around 11-13 seconds. Is it because Graal n

[2019-02-26 01:58] ralleman commented on #1004
Actually, I think I understand why the compilation times are initially the same between threads - it's because the test is "very" concurrent. The VM will be time slicing each thread at very similar parts of the Javascript compilation and is thus likely to finish each compile around the same time.

[2019-02-26 03:18] cstancu commented on #1008
Fixed in https://github.com/oracle/graal/commit/199391fcfcbfe34d07894fc9df87b88355335d6f.

[2019-02-26 03:18] #1008 closed

[2019-02-26 03:24] ralleman opened #1013 "Sharing precompiled Source objects between contexts"
This has been touched a bit in this issue https://github.com/graalvm/graaljs/issues/67, but my use case is a bit different.

I'm writing a service that runs untrusted code. The service allows users to require or load other sources, but there are many JavaScript libraries (or libraries in other languages supported by Graal) that get reused over and over again in those pieces of untrusted code, e.g.

[2019-02-26 09:00] wirthi commented on #1004
Yes. Optimally, you would warm up just one thread and have it compile the code, only to start the concurrency then. All concurrent threads could then profit from the warmed-up code, without competing with the compiler thread. I think that's what is hitting performance so hard for the first iteration.

You seem to be doing the right thing (have a constant `Source` object, that you execute in differ

[2019-02-26 11:04] wirthi commented on #631
Hi @ArthurStocker

sorry for the delayed response.

You cannot access the fields of the `JavaRecord` class because it is not public. Make that class public, and your code works.

[code]

Best,
Christian

[2019-02-26 11:31] choeflake commented on #649
+1

[2019-02-26 20:36] skrat commented on #684
I tried adding it to the reflection config JSON, but then it complains during build time that no such method (`parse`) is found. Gave up

[2019-02-26 23:21] mikx commented on #651
Any update on this? Thanks!

[2019-02-27 00:15] #968 closed

[2019-02-27 00:28] oroppas opened #1014 "[native-image] Building image fails with long com.oracle.svm.core.posix.PosixJavaNIOSubstitutions$Target_sun_nio_ch_FileDispatcherImpl.seek0 target method not found"
[code]

This is how I build:

[code]

[2019-02-27 03:02] cstancu commented on #1014
Can you please display the trace you get when running with `-H:+ReportExceptionStackTraces`?

[2019-02-27 03:52] oroppas commented on #1014
[code]

[2019-02-27 04:41] cstancu commented on #1014
This error doesn't make much sense since I can see the original `sun.nio.ch.FileDispatcherImpl.seek0` that our substitutions mechanism looks for.  Can you  try an `mx clean`? Also, where do you get your jmvic enabled JDK from? Can you get the latest release `openjdk-8u202-jvmci-0.55` from https://github.com/graalvm/openjdk8-jvmci-builder/releases.

[2019-02-27 05:44] cstancu commented on #1002
Fixed by https://github.com/oracle/graal/commit/823361be9081a0e04454fe959ac0c51799d6d3a7.

[2019-02-27 05:44] #1002 closed

[2019-02-27 05:54] cstancu commented on #996
This issue is fixed on master. Although you can now build an image of `spring-petclinic` it will crash at run time as described above. Judging by the error message it looks like it tries to execute a jar which is currently not supported with `native-image`.

[2019-02-27 05:54] #996 closed

[2019-02-27 13:09] olpaw commented on #1005
@Jurrie having `com.oracle.svm.core.annotate.*` in a separate artifact with no other dependencies makes sense. We will implement that change in a future release.

[2019-02-27 14:15] oroppas commented on #1014
I used graal-jvmci-8 built upon jdk1.8.0_201. I rebased graal-jvmci-8 re-based on jdk1.8.0_202 and the error disappeared. Does this ring any bells?

[2019-02-27 15:58] Jurrie commented on #1005
@olpaw as my applictation progressed to be compatible with GraalVM's native-image, I also needed an `@AutomaticFeature`. For this annotation, I needed the `org.graalvm.nativeimage.Feature` interface as well. That's in a different package. So, I guess we would need a separate package with all stuff needed (classes, interfaces, annotations, ...) to make a random Java application compatible with nati

[2019-02-27 17:32] cstancu commented on #1014
I am not sure what happened there. Maybe there was some inconsistency in your development environment and rebasing/rebuilding fixed it.

[2019-02-27 17:32] #1014 closed

[2019-02-27 17:56] Jurrie commented on #1009
Hi @kronolynx! While not a direct answer to your question why the reflection configuration doesn't work, I do have an alternative. You could substitute the methods in LogFactory and LogFactoryImpl that do reflection. With the following code (which is based on [the work of @DmPanov](https://github.com/DmPanov/graal-vs-apache-httpclient), I get this to work:

[code]

The used annotations are in pack

[2019-02-27 18:10] olpaw commented on #1014
See: https://github.com/oracle/graal/commit/dcaa97b477cf48dd08d94dba544c5eb5e2a1ba82#diff-13c7b80b7342d7b12537e781d66207de

[2019-02-27 21:01] unmellow commented on #336
one suggestion that might sound Accusatory sorry in advance
why not use WASM in place of LLVM? I've heard that LLVM posses
security threats that WASM doesn't you'd get support for go and most
(I'm not sure about plain C) languages you currently support
also i think it was Mozilla that said they chose to make WASM
because LLVM makes breaking changes at to high speed a rate
to be used as a standard

[2019-02-27 22:01] oroppas commented on #1014
Thanks!

[2019-02-27 22:52] nhoughto commented on #667
adding `--language:..` fixed this issue for me.

[2019-02-27 23:29] cstancu commented on #667
@nhoughto thanks for confirming!

[2019-02-27 23:29] #667 closed

[2019-02-28 06:22] ascheman opened #1016 "Exception on image build w/ invoke dynamic and Groovy"
I have a project with groovy (and Spring and Lombok and other libs). Trying to create a native image out of it, I get the following exception:

[code]

It is an open source project and I will soon publish a version where you could see the error. I already took a look into the issue with @jtulach and he recommended to raise an issue here for further investigation.

[2019-02-28 07:02] ascheman commented on #1016
How to reproduce the error:

* Check out the sample project with the specific branch
[code]
* Perform a Maven build: `mvn clean package`
* Optionally run the desired main class: `java -cp converters/target/converters-1.6-SNAPSHOT.jar org.dukecon.server.formes2dukecon.FormesToDukecon` - it should do _nothing_
* Run the native-image conversion the first time:
[code]
* Although it will happily create

[2019-02-28 08:52] sniperliu commented on #926
Same here, use goolge api

[code]

[2019-02-28 12:10] kronolynx commented on #1009
Thanks @Jurrie
In my case I'm not sure if it's possible to use that kind of substitution, I'm actually trying to make a project in scala with [elastic4s](https://github.com/sksamuel/elastic4s). Elastic4s uses the apache http client.

[2019-02-28 18:27] wkgcass opened #1017 "[native-image] failed when using js engine"
I'm running macos 10.13.6 and I am trying to build a native image but got the error during compile time.
I managed to build a very small piece of code which can re-produce this exception.

TestFail.java

[code]

[code]

Then I tried to run on a linux docker container, and I get a heap OOM exception:

[code]

[2019-02-28 23:06] cstancu commented on #1017
@wkgcass Building a `native-image` that contains `graal.js` with the `ScriptEngineManager`/`ScripeEngine` API is currently not possible. However you can build it using the polyglot API:
[code]
We will suppport the `ScriptEngineManager`/`ScripeEngine` API on `native-image` soon too. Right now trying to build and image that calls `AbstractScriptEngine.eval()` will make `NashornScriptEngine.eval()` r

[2019-03-01 03:08] wkgcass commented on #1017
@cstancu Thanks for your help! I successfully compiled and verified my program using reflection to polyglot.Context while it still supports a standard jre without any bundle jars.

Something like:

[code]

and

[code]

This works, and I'm wondering whether the `native-image` compiler does a static check to see which line of code is reachable? Because I didn't remove the ScriptEngine reference from

[2019-03-01 04:10] cstancu commented on #1017
@wkgcass yes, the static block (and in general all class initializers unless specified otherwise) is executed at image build time and the value of `isGraal` is determined. Then constant folding in the Graal compiler eliminates the `else` branch as unreachable code.

[2019-03-01 07:08] cstancu commented on #1016
I am unable to replicate the issue. When I try `mvn clean package` I get:
[code]

Did you push all your changes out? In the meantime, looking at your report I can say:

1. If you think that the problem is with the build server you can disable it with `native-image --no-server ...`. (Running `native-image --help-extra` will show you more options regarding the build server.)

2. From the image build

[2019-03-01 11:54] ilopmar commented on #717
I've tried again with latest Micronaut and Graal versions and the new error is:

[code]

P.S: I've updated the test application to use latest Micronaut.

[2019-03-01 13:03] johanvos opened #1020 "[native-image] Class.getSimpleName not yet implemented"
DynamicHub doesn't have a proper implementation for Class.getSimpleName in Java 11

[2019-03-01 13:05] johanvos commented on #1020
See PR #1021 for an implementation

[2019-03-01 13:30] codependent opened #1022 "Unable to use DynamoDB SDK in a Graal native image because of Cannot construct instance of `com.amazonaws.partitions.model.Partitions` (no Creators, like default construct, exist)"
This problem is similar to the issue: https://github.com/oracle/graal/issues/848

The full context is available in a StackOverflow question, where there's also a link to a Github sample project: https://stackoverflow.com/questions/54931286/micronaut-serverless-application-using-dynamodb-and-graal-custom-runtime-throws

Summing up:

In my native image running on a AWS lambda custom runtime I call s

[2019-03-01 14:24] olpaw commented on #1003
Fixed on master 8020b64a226ae2db6dbb91ac61c8301c79b31879

[2019-03-01 14:24] #1003 closed

[2019-03-01 15:34] vmencik opened #1023 "Custom native JCE Provider with native-image"
I'm trying to compile a project while using a custom JCE provider that is implemented in native code. Because it loads the native library in its static initializer I took a hint from https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-generation-d765b7e4d6ed and used `--delay-class-initialization-to-runtime` (together with `--enable-all-security-services`).

Howev

[2019-03-01 15:54] ilopmar opened #1024 "NoClassDefFoundError with Micronaut and Jaeger"
I'm trying to generate a Graal native image for a Micronaut application that uses Jaeger and I've found a `java.lang.NoClassDefFoundError: io/micronaut/tracing/brave/sender/HttpClientSender`

To reproduce the issue:
- `git clone https://github.com/ilopmar/micronaut-jaeger-graal`
- `cd micronaut-jaeger-graal`
- Use GraalRC12. I've also tried with graal master branch (rc14-dev) and the error is the

[2019-03-01 16:12] ilopmar opened #1025 "Core dumped when running Micronaut native image with Jaeger and Zipkin"
As a workaround for https://github.com/oracle/graal/issues/1024 I've added the missing dependencies (which are Zipkin and I don't really need it because I'm using Jaeger).

To reproduce the issue:
- `git clone https://github.com/ilopmar/micronaut-jaeger-graal`
- `cd micronaut-jaeger-graal`
- `git checkout workaround`
- Use GraalRC12. I've also tried with graal master branch (rc14-dev) and the erro

[2019-03-01 18:21] cstancu commented on #1022
I was able to succesfully execute the
[code]
steps. How can I test this locally, without requiring an aws account. I tried to go to `http://127.0.0.1:3000/` and I get `{"message":"Missing Authentication Token"}` as a response.

[2019-03-01 18:34] cstancu commented on #1023
For SunEC we load it at runtime again. See: https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/SecuritySubstitutions.java#L197

[2019-03-01 19:00] vmencik commented on #1023
OK. So do I understand correctly that the way the SunEC works with SubstrateVM is that it's initialization is NOT delayed to runtime (i.e. happens at image build time) and the substitution of [Provider.checkInitialized](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/SecuritySubstitutions.java#L169) makes sure that the native library is l

[2019-03-01 19:05] johanvos opened #1026 "[native-image] Class.getPackage not yet implemented for JDK9OrLater"
In DynamicHub.java, getPackageJDK9OrLater throws an Error as it is not yet implemented.

[2019-03-01 19:39] johanvos commented on #1026
PR #1027 has an implementation

[2019-03-01 19:59] katox commented on #763
No longer reproducible with RC12. Fixed!

[2019-03-01 19:59] #763 closed

[2019-03-01 20:12] cstancu commented on #763
Thanks for checking back. We made a lot of progress in supporting code with missing dependencies since then, just haven't had a chance to recheck old issues.

[2019-03-01 20:53] cstancu commented on #1023
Yes, that's correct we rely on substitutions to make sure that `System.loadLibrary("sunec")` is executed before `SunEC` is used.  We couldn't rerun `sun.security.ec.SunEC.<clinit>` at runtime since we initialize all the available security providers at image build time, including `SunEC`, and cache them in the image heap, so we would run in the same problem: no instances are allowed in the image he

[2019-03-02 00:44] codependent commented on #1022
Hi @cstancu, I've prepared a simplified project so that you can test it in a local environment: https://github.com/codependent/graal-app

Project setup:

1. `export AWS_DEFAULT_REGION=eu-central-1`
2. `docker build . -t graal-app`

To run the app just execute `./sam-local.sh` and access `http://localhost:3000/ping`.

The first time the request may take a while until it downloads the lambda docker

[2019-03-02 02:29] cstancu commented on #1022
Thank you for the easy to use reproducible. I updated it to use `InputStream stream = ExampleController.class.getClassLoader().getResourceAsStream("com/amazonaws/partitions/endpoints.json");
` instead of the stream from the json string, and also updated the `native-image` command to register the resource: `-H:IncludeResources="logback.xml|application.yml|com/amazonaws/partitions/endpoints.json"`.

[2019-03-02 11:49] codependent commented on #1022
I appreciate your taking the time to help me work this out. I'll be great I you end up detecting reflectively accessed elements automatically. In the meantime I'll take this into account for similar cases.

Thanks again!!

[2019-03-02 11:49] #1022 closed

[2019-03-02 12:47] codependent opened #1028 "Unable to use HttpClient in a Graal native image because of com.oracle.svm.core.jdk.UnsupportedFeatureError: Proxy class defined by interfaces"
I am deploying a native image as an AWS lambda function using a custom runtime. This Java application uses Amazon SDK to access DynamoDB. The problem is when it initializes the HttpClient (Apache HttpClient underneath) it ends up throwing the following exception:

[code]

A project to verify this behaviour can be found here: https://github.com/codependent/graal-app

Steps to reproduce:

1.  `expor

[2019-03-02 13:51] fniephaus commented on #879
According to https://github.com/oracle/fastr/issues/45#issuecomment-468313975, the FastR team is continuing to use an uppercase `R` as language ID. It'd still be great to make the language ID case-insensitive when using the interop API. What are your thoughts on this, @chumer?

[2019-03-02 21:04] cstancu commented on #1028
The `-H:DynamicProxyConfigurationFiles` option accepts JSON files whose structure is an array of arrays of fully qualified interface names, not the array of interfaces directly. Please read the [dynamic proxy documentation](https://github.com/oracle/graal/blob/master/substratevm/DYNAMIC_PROXY.md).

[2019-03-02 22:47] codependent commented on #1028
I'm afraid I'm missing something:

I created a dynamic-proxies.json file with this content:

[code]

Then I modified the build-native-image.sh script:

[code]

But I keep getting the same error:

[code]

[2019-03-02 22:52] cstancu commented on #1028
The proxy is defined by all 3 interfaces, so the proxy config file should contain:
[code]

[2019-03-03 02:02] codependent commented on #1028
My bad, it's working now. Thanks @cstancu!

[2019-03-03 02:02] #1028 closed

[2019-03-03 10:57] ArthurStocker commented on #631
Hi @wirthi
got it. Sorry, should have been able to find it myself.
re Arthur

[2019-03-03 11:33] vlad20012 opened #1029 "Official Rust example segfaults with the latest Rust compiler"
I've just tried the [official rust example](https://www.graalvm.org/docs/reference-manual/languages/llvm/#running-rust) with the latest stable Rust compiler and it segfautls:
<details><summary>stacktrace 1</summary>
<p>

[code]

</p>
</details>

[code]

[code]

But it works fine on the Rust 1.29.2.

[2019-03-03 18:54] johanvos opened #1030 "URL handling for resources is incomplete"
The URL protocol "resource:" is not yet implemented. Resources can be added, but when the URLStreamHandler is asked (URL.getURLStreamHandler) an unsupported error is thrown.

[2019-03-04 00:03] nhoughto commented on #748
More as an FYI to those trying to use xnio with `native-image`, you actually need a bit more to make undertow/xnio run, in the above example I don't think execution went far enough to hit these
problems, working config to start undertow/xnio server for `xnio 3.3.8.Final`:

reflection config
[code]

cmd
`native-image -cp "..." -H:IncludeResources=".*Version.properties$" -H:IncludeResources="META-IN

[2019-03-04 01:10] nhoughto opened #1032 "[native-image] Output name is wrong if `-language` is used after `-H:Name`"
The order of arguments given to `native-image` seems to impact the name of the binary being built.

if you do:
`native-image -language:js -H:Name=blah` the name will be `blah`
[code]

if you do:
`native-image -H:Name=blah -language:js` the name will be `js`
[code]

Obviously this means you need to worry about argument ordering (generally a solvable problem), it becomes a problem when argument orde

[2019-03-04 03:51] anatol1234 commented on #1029
PR #1033 should fix this. There was a problem with the `lang_start` intrinsic which overrides the stdlib entry point. Until the fix is merged one can use this workaround which defines a custom entry point (only available on the nightly channel):

[code]

[2019-03-04 04:50] wkgcass commented on #824
Also getting this error with rc12, any updates now?

[2019-03-04 05:32] cstancu commented on #824
Looking at the stacktraces above it looks like both examples use security services which need to be explicitly enabled. Can you please try running `native-image` with the `--enable-all-security-services` option? You can read more about the JCA Security Services support on `native-image` [here](https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md).

[2019-03-04 06:28] wkgcass commented on #824
Ah, I forgot to add this option. The solution works for me.

[2019-03-04 08:33] uschi2000 commented on #1032
@olpaw Could you indicate whether you consider this a bug (which will be fixed), or intended behavior (that won't be changed)? In the latter case, we will fix our Gradle plugin accordingly, see https://github.com/palantir/gradle-graal/issues/63 .

[2019-03-04 08:56] olpaw commented on #1032
@uschi2000 this is intended behavior. Macro options (like `--language:js`) are allowed to expand to any other options. Thus if a macro option includes `-H:Name=js` you have to pass an alternative name with `-H:Name=<myname>` after the macro option to ensure the image with be named `<myname>`.

[2019-03-04 08:56] #1032 closed

[2019-03-04 10:23] codependent opened #1034 "Calling https URL throws Caused by: java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty"
My native image makes a HTTPS call to a remote resource and throws a `Caused by: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty
`

The code is pretty straightforward:

[code]
I've followed the documentation at https://github.com/oracle/graal/blob/master/substratevm/URL-PROTOCOLS.md and https://github.com/oracle/graal/blob/master/substratevm/JCA-SECUR

[2019-03-04 10:59] emrul commented on #727
@katox thanks for your work on this which helped me get started.  I have found one problem which is if I make a static native image then the binary will segault when trying to establish the Postgres connection - org.postgresql.core.v3.ConnectionFactoryImpl.tryConnect().

If I leave off the static flag then it works.

Test repo here: https://github.com/emrul/testjdbc

[2019-03-04 11:16] johanvos opened #1035 "[native-image] createTempFile().toPath() fails"
The following application will cause an Error (at least on Linux):
[code]
```Exception in thread "main" java.lang.UnsupportedOperationException: Path not associated with default file system.```

For Path instances created using `Paths.get()`, the `Path.getFileSystem()` always returns the same value as `FileSystems.getDefault()`. However, Paths created via `Files.createTempFile()` return a differen

[2019-03-04 11:30] ilopmar opened #1036 "com.oracle.graal.pointsto.constraints.UnsupportedFeatureException creating Micronaut native image with Redis Lettuce"
To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-redis-graal`
- `cd micronaut-redis-graal`
- Use latest GraalVM for master branch
- `./build-native-image.sh`

The image generation fails with:

[code]

[2019-03-05 00:51] christianwimmer commented on #1005
I don't like to separate the annotations in a separate artifact because in an ideal world, it should not be necessary to use them to get an application running as a native image. Substitutions are a workaround until the substituted method itself is changed, which can be a lengthy process when it is in a third-party library.

Note that you also should not use `@AutomaticFeature`, but instead list t

[2019-03-05 01:45] cstancu commented on #728
This is fixed in https://github.com/oracle/graal/commit/1f851caa935d2747898a0dcdc04c9382c65c7df9 which will be available in rc14.

[2019-03-05 01:45] #728 closed

[2019-03-05 07:01] ascheman commented on #1016
Thanks so far!

I have fixed the repositories problem in the POM - it always worked since I do have a mirroring `settings.xml` locally as well as on my Jenkins.

The `@CompileStatic` seems to have fixed the sample now: The generated static binary does not abort anymore.

Will try to get a more complex code sample working.

[2019-03-05 07:31] Jurrie commented on #1005
Hi @christianwimmer. I agree: in an ideal world, those annotations should not be necessary. But why is that an argument against splitting them out in a separate artifact? On top of that: this is not an ideal world. You can not argue with the fact that those artifacts are necessary now. They are meant to be used as a workaround, so why not ease the use by reducing the transitive dependencies?

You

[2019-03-05 11:24] johanvos opened #1038 "[native-image] zip inflate issue"
Trying to decompress a png file results in
[code]

The problem surfaces in Util_java_util_zip_Inflater_JDK11OrLater.doInflate() where the result of ZLib.inflate = -3 in the third chunk.

Using the OpenJDK zip implementation works for the same png file.

[2019-03-05 15:16] JaroslavTulach commented on #1016
Glad to hear the sample started working!

[2019-03-05 16:06] ilopmar opened #1039 "com.oracle.svm.core.jdk.UnsupportedFeatureError: ThreadMXBean methods"
To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-management-graal`
- `cd micronaut-management-graal`
- `git checkout threadmxbean`
- Use latest GraalVM from master
- `./build-native-image.sh`
- The image is generated correctly. Start it: `./management-graal`
- `curl localhost:8080/metrics/jvm.threads.states`

Error:
[code]

[2019-03-05 16:55] cstancu commented on #1016
@ascheman thank you for reporting back! I'll close this issue for now, please reopen if you run into the same problem or open new issue if you have further problems.

[2019-03-05 16:55] #1016 closed

[2019-03-05 16:58] cstancu commented on #824
@wkgcass thank you for reporting back. On the latest RC the error message should also contain the suggestion to use the `--enable-all-security-services` option.

[2019-03-05 16:58] #824 closed

[2019-03-05 17:33] cstancu commented on #1036
@ilopmar from the image build failure I see that you get `Invoke with MethodHandle argument could not be reduced to at most a single call` errors. The native-image `MethodHandle` support is limited to cases where the `MethodHandle` object is a compile time constant. In that case we can constant fold and recursively inline until we get to a concrete method invocation. There is more work to be done

[2019-03-05 17:47] cstancu commented on #1034
@codependent does this fix work for you https://github.com/oracle/graal/issues/768#issuecomment-451776587? Otherwise, can you point to the repo where I can replicate this?

[2019-03-05 17:51] cstancu commented on #1034
By the way `libsunec.so` is in GraalVM under `graalvm-ce-1.0.0-rc12/jre/lib/amd64/libsunec.so`. Various JDK distributions might have it in different locations. However, I don't think missing it is related to that issue.

[2019-03-05 19:08] cstancu commented on #748
@Fabryprog I made some progress on this. Using the `reflection-config.json` from @nhoughto and this command line:
[code]
I can build an image from your example code at https://github.com/Fabryprog/iri/blob/iri-native/GraalVM.md.

Then you can run it with
[code]
In my case I needed the `librocksdbjni-linux64.so` in `$(pwd)/clibraries/`. You may need a different library depending on your platform.

[2019-03-05 19:42] chrisfw opened #1040 "Micronaut based http server native image crashes after 23.5 hours uptime"
Hi,

My micronaut based native image running on RHEL 7.6 scrapes another http endpoint for metrics and parses the results once every 15 seconds.  It works well, but I discovered today that it crashed after almost 24 hours of being up.  The error below was generated.  Please let me know if there is any indication here of the root cause or if more information is required.

 [! OldGeneration.promoteA

[2019-03-05 22:56] Peter-B-Kessler commented on #992
@wololock Can I close this issue as "Can not reproduce"?

[2019-03-05 22:58] Peter-B-Kessler commented on #992
@cstancu noticed that in your `build.gradle` file you have
[code]
which results in
[code]
whereas if I change the line in the `build.gradle` to
[code]
(s/compile/compileOnly/) that results in
[code]
The size of the jar does not seem to make a difference in the size of the generated image, or in the performance of the server.

(I noticed the problem because we changed some things in GraalVM RC13 th

[2019-03-05 23:34] cstancu commented on #1025
Fixed in https://github.com/oracle/graal/commit/e35ad4291478fef66d54cb92f4cce49773eb2c3f. Thanks for the report! It will be included in rc14.

It looks like this app needs some configuration. Now I get:
[code]
when I run the image.

[2019-03-05 23:34] #1025 closed

[2019-03-05 23:58] cstancu commented on #992
To be more exact the reason you should use `compileOnly` instead of `compile` dependency for `svm.jar` is that you don't need to include the `svm.jar` code in your application uber jar. The `svm.jar` is provided on the classpath automatically by `native-image`.

[2019-03-06 05:59] sound2gd commented on #824
in rc13, using `--enable-all-security-services` options , it worked 👍

[2019-03-06 08:18] ilopmar commented on #1025
Thanks for the fix. I've tried locally and now I get the same error as you. We'll dig to see what's happening on our side because Micronaut doesn't use `jaeger.properties`.

[2019-03-06 10:11] wirthi commented on #1013
Hi,

if you follow the description in http://www.graalvm.org/docs/graalvm-as-a-platform/embed/#enable-source-caching then source caching should be enabled. Whether the different Contexts run in the same or in different threads should not make much of a difference (provided the affected languages don't fall into slow paths or a race conditions because of multi-threading).

Can you please clarify ho

[2019-03-06 10:15] codependent commented on #1034
Regarding `libsunec.so`, I am using the mac graal distribuition which doesn't include it. I downloaded the linux version and copied it to my project (https://github.com/codependent/graal-app).

I didn't set the `java.library.path` as the file is copied to /home/application which is the workdir of the image (Dockerfile -> `WORKDIR /home/application`). However if I start the container manually it st

[2019-03-06 11:54] TisonKun opened #1041 "Graal 1.0.0-CE-RC13 runs node(graaljs) quite slower than node(v8)"
Discover when running [hexo](https://hexo.io) based blog. You can reproduce it by installing hexo and run `hexo s` or `hexo g` on a `hexo init` repo.

With node(v8), it runs service or generate site within 1 second; while with node(graaljs), it costs about 30 seconds, which is definitely performance short-coming.

[2019-03-06 11:55] TisonKun commented on #1041
Anyway, glad to see that node(graaljs) is able to run with npm apps :-)

[2019-03-06 16:12] wirthi commented on #1041
Hi @TisonKun,

thanks for your observations.

On my machine:
* `hexo s` first results in a rendered webpage on localhost:4000 after 25 seconds
* `hexo g` finishes after 15 seconds wall clock time (`28 files generated in 12 s`)

It is true that this time is longer than on node(V8). Note however that this is a warmup issue: being based on the JVM, our engine needs longer to compile and optimize all

[2019-03-06 18:08] Peter-B-Kessler commented on #1040
First, I apologize for the crash.

Second, thank you for the crash report.

The crash is an intermittent bug we have been following for a while, but your crash report answers some questions we had about the cause.

Did you elide the printing of the heap: the listing following the last three lines of what you posted?  I imagine it was long and boring, but it would be useful to know if the faulting

[2019-03-06 18:19] wololock commented on #992
@cstancu Thanks for the good suggestion. I have updated `ratpack-graalvm-demo` to use `svm:1.0.0-RC13` with `compileOnly`.

@Peter-B-Kessler, thanks for the great and very detailed analysis! I just compiled the demo using GraalVM 1.0.0-RC13 CE and here are the results:

[code]

And client calling 1000 concurrent requests with total 150k:

[code]

It thrown `Too many open files` two times. My `MAX_

[2019-03-06 19:23] chrisfw commented on #1040
Hi Peter,
Thanks for following up.  Below is everything reported in syslog including and below the entry previously provided up to the message from systemd indicating process failure.  Please let me know if you require any additional information - thank you.
    Mar  5 14:46:55 irv systemd: pcp-prometheus-export.service: main process exited, code=exited, status=99/n/a
    Mar  5 14:46:55 irv pcp-p

[2019-03-06 19:39] Peter-B-Kessler commented on #1040
Cool!  That seems to indicate that the object we are trying to promote (at 0x7fe6dcffab20) is not actually in the heap, which narrows down the possibilities.  That also might explain why the "object" is not well formed!

[2019-03-06 20:04] Peter-B-Kessler commented on #992
What happens if you raise `OPEN_MAX` somewhat?  On my Linux box the default is
[code]
and I was able to run the Ratpack demo without trouble.  On my Darwin box the default is
[code]
and the Ratpack demo (with `-c 1000`) failed horribly until I raised the limit (on the server and the client) to
[code]
I did not search for a lower bound on `OPEN_MAX` that would still let me run the Ratpack demo.  I

[2019-03-06 20:37] wololock commented on #992
I was able to increase `OPEN_MAX` to 4096:

[code]

With these settings, I was able to execute 1000 concurrent request from 150k total a few times. No `Too many open files` error occurred as expected.

[code]

And the client:

[code]

I guess we can close the issue. GraalVM 1.0.0-RC13 introduced much more readable error (`Too many open files` instead of the previous `java.io.IOException: Accept fa

[2019-03-06 22:18] #992 closed

[2019-03-06 23:15] TisonKun commented on #1041
I guess so. Users **always** want shorter startup time LOL

Observed. Thanks for your explanation!

[2019-03-06 23:19] cstancu commented on #1024
Fixed in https://github.com/oracle/graal/commit/aa4990d586a96fd3aa5974738f19a419cd1a3a49. Thanks for the detailed report!

[2019-03-06 23:19] #1024 closed

[2019-03-07 00:47] cstancu commented on #1034
`libsunec.so` is a runtime dependency, so you need to pack it in the `function.zip`: `RUN zip -j function.zip bootstrap libsunec.so server`.

[2019-03-07 01:24] cstancu commented on #1034
I cannot replicate the `InvalidAlgorithmParameterException`. Here is what I get:
[code]

[2019-03-07 01:29] cstancu commented on #1034
It looks like I needed to specify ` --docker-network host` to the `sam`  command.

[2019-03-07 03:05] cstancu commented on #1034
The `cacerts` file is also a run time dependency so you need to package it for run time: `RUN zip -j function.zip bootstrap libsunec.so cacerts server`. Setting
`javax.net.ssl.trustStore` and `javax.net.ssl.trustStorePassword`
in `ExampleController()` doesn't work, I think it is too late, before the classes that need it are already initialized. You need to set them in `bootstrap` via `./server -Dj

[2019-03-07 03:05] #1034 closed

[2019-03-07 03:15] ralleman commented on #1013
Hi Christian,

I haven't tested this. I was specifically picking up on this post https://github.com/graalvm/graaljs/issues/67 where other Christian (@chumer) states:

My situation is different in that I'm creating a single Source object per source file and sharing it globally within the entire JVM, including all threads and all Contexts. If the Source is getting recompiled because it's currently i

[2019-03-07 03:23] ralleman opened #1043 "Is allowAllAccess still needed for Ruby, R and Python"
It's still in the doc, stating:

But I found this post https://stackoverflow.com/questions/50027675/graalvm-access-to-native-code-is-not-allowed-by-the-host-environment/50039062 which states that this is not necessary for Python.

Can someone clarify please? If they still require all access, is there a plan to restrict these?

Richard

[2019-03-07 06:48] cstancu commented on #999
Update: as of https://github.com/oracle/graal/pull/1001 the image build crash has been fixed. The NPE was caused by a missing constructor in our annotation substitution type. Now that constructor is intrinsified into an `UnreachedCode` node. This, however, only pushes the problem to run time:
[code]

The underlying problem, i.e., allocating of annotation proxy instances at runtime, requires more w

[2019-03-07 08:19] pmlopes commented on #1041
@wirthi do you have any tips to improve startup performance? I could think of a `appCDS` kind of feature that caches the compiled scripts, so the whole load, parse, compile would be avoided, or some sort of combining `native-image` AOT with script caching?

[2019-03-07 08:40] ilopmar commented on #1024
Thanks for your support! :100:

[2019-03-07 09:26] wirthi commented on #1013
Hi,

the point is: you need to open and close Contexts (that all share one Engine) for source caching to work. If you share an identical Source object between those, it will optimize and eventually get fast.

This is unaffected by threading, with the exception that in a multi-threaded setup, if you start many threads (contexts) on the source object concurrently, none of them might profit from the

[2019-03-07 10:24] #1029 closed

[2019-03-07 10:55] chrisfw commented on #1040
Great, I hope this assists you in resolving the issue!  Please let me know if you require any further information from me.

[2019-03-07 12:14] #1020 closed

[2019-03-07 18:43] peter-hofer commented on #476
We now have tooling for this, please [refer to the documentation for details](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md).

[2019-03-07 18:43] #476 closed

[2019-03-07 19:20] cstancu commented on #865
@sdeleuze did you forget to push the `build.sh`?

[2019-03-07 21:18] sdeleuze commented on #865
I removed the GraalVM configuration for this example to maintain only 2 of them, but I will restore it tomorrow in a branch.

[2019-03-07 21:31] tarsa commented on #1041
If you're running server application then you usually care more about average performance over a long period than initial performance. That also applies to JITed Java - at the beginning HotSpot VM inteprets Java bytecode which is super slow compared to running native code that is later produced by HotSpot's JIT compilers.

[2019-03-07 22:06] rahmanusta opened #1045 "Restricting I/O access in GraalVM"
In GraalVM, is it possible to block users from accessing file and network APIs for all languages ? Is there a way to configure it? How can I run GraalVM in safe mode?

Thanks
Rahman

[2019-03-08 00:06] thomaswue commented on #1041
@pmlopes Yes, we have been exploring options in this direction. What we can already do for native-image AOT is cache parsed scripts. But we might need to add some support for caching the compiled code for this to be really effective.

Generally, we have several efforts underway to improve those warmup times for Truffle-based languages like JavaScript, Ruby, R, or Python. One of them is the possibl

[2019-03-08 01:32] cstancu commented on #808
With the latest master and the following config files:

<details>
  <summary>Click to expand resource-config.json</summary><p>

[code]
</p></details>

and

<details>
  <summary>Click to expand reflect-config.json</summary><p>

[code]
</p></details>

now you should be able to build the native image:

[code]
and get the expected output:

[code]

[2019-03-08 04:15] fniephaus opened #1046 "NPE when compiling with SVM after upgrading to RC13"
After upgrading GraalSqueak from RC12 to RC13, I am getting the following `NullPointerException` when compiling it with SubstrateVM:

[code]

It seems that `code` is `null` at:
https://github.com/oracle/graal/blob/9160236d1ae227218b54cbc1bdf5f549d085a1bb/compiler/src/org.graalvm.compiler.bytecode/src/org/graalvm/compiler/bytecode/BytecodeStream.java#L209

Any suggestions how I can debug this furth

[2019-03-08 10:37] h0rm opened #1047 "IntelliJ 2018.3 crashes when using Graal 1.0.0-CE-RC13 as boot jdk"
When switching boot jdk for IntelliJ/Pycharm 2018.3 to Graal 1.0.0-CE-RC13 using root `graalvm-ce-1.0.0-rc13` folder it crashes since there is no `libjava.dylib` in `Contents/Home/lib` folder.

[code]

However, using subfolder `graalvm-ce-1.0.0-rc13/Contents/Home/jre` works so there are probably some symlinks missing.

[2019-03-08 10:42] dougxc commented on #1047
As far as I can see, there's only a single `libjava.dylib` in the stock JDK 8u202 as well:
[code]
Do you know how IntelliJ/Pycharm 2018.3 is working with the stock JDK?

[2019-03-08 10:51] h0rm commented on #1047
IntelliJ/Pycharm 2018.3 is using it's own bundled jdk but I just tried it with the stock jdk 8u201 and this works

[2019-03-08 11:01] dougxc commented on #1047
Ok. We'd have to know exactly how IntelliJ/Pycharm 2018.3 is trying to find `libjava.dylib` to potentially resolve this. A number of other apps that resolve Java home seem to work in GraalVM so it must be doing something different.

[2019-03-08 11:39] pmlopes commented on #1045
I think you could use either a security manager (which would allow you to block everything you need) or specifically for graal implement a file system class that filters all disk IO.

http://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/io/FileSystem.html

[2019-03-08 11:56] rahmanusta commented on #1045
Does GraalVM supports all standard permissions here https://docs.oracle.com/javase/8/docs/technotes/guides/security/permissions.html for languages in GraalVM such as ruby, js, R ?

[2019-03-08 13:10] johanvos opened #1048 "[native-image] Annotations on reflection might fail"
The following application will fail during native-image:

[code]

Where Dummy is added in reflectionconfig (passed to native-image with -H:ReflectionConfigurationFiles=reflectionconfig.json)
[code]

This fails with
[code]

[2019-03-08 13:35] johanvos commented on #1048
Stacktrace to the NullPointerException in ReflectionHelper:

[code]

[2019-03-08 14:15] sdeleuze commented on #865
I did not manage to reproduce the same error, so I built a [focus repro](https://github.com/sdeleuze/graal-issues/tree/master/h2) and I ended up to the same error reported in #778, and I did not manage to solve it with command lines arguments as described in the repro. Maybe #778 could be closed in favor of this one more focused with a repro (or the other way around).

[2019-03-08 14:31] vmencik commented on #1023
I've managed to get my custom provider (almost) working using the approach suggested (i.e. don't try to delay/re-run initialization and load native library before using any crypto). I still have some issues but those seem to be a problem with my provider's native code, not SubstrateVM. So I'd be OK with closing this issue.

[2019-03-08 15:10] jwatts-integrationtest commented on #832
Are there any updates on this issue?  Multiple RCs have been released (up to RC13 now) and I have to agree with Victor that most real-world use of Javascript would be affected by some way. In particular, this would include parsing arbitrary JSON or using Javsacript APIs that treat a Javascript object as a dictionary instead of using ES6 Map.

We're very excited and loving Graal but this is a shows

[2019-03-08 15:13] johnwatts commented on #832
Well that's embarrassing! I was doing some unrelated testing and posted under the wrong identity. I wrote the preceding comment.

[2019-03-08 15:26] thomaswue commented on #832
And I thought you have a really good bot that almost talks like you ;).

@wirthi Can you post an update?

[2019-03-08 16:23] gilles-duboscq commented on #1047
Could you set `IDEA_LAUNCHER_DEBUG` in the environment to get some more debug info?

[2019-03-08 18:05] woess commented on #832
This issue will be fixed in RC14. Sorry for the delay.

[2019-03-08 18:42] cstancu commented on #1046
@fniephaus we have seen this issue internally and [fixed at the JVMCI level](https://github.com/graalvm/graal-jvmci-8/commit/54e5821da49a379a4dbf75f9efee9623d13c7f4d). You will need to wait for the next release to get the fix. (cc @dougxc).

The context in which we have seen the problem was when Truffle languages were missing a `@TruffleBoundary` and a native method became reachable for runtime co

[2019-03-08 18:50] cstancu commented on #1030
Fixed in https://github.com/oracle/graal/commit/56624f010fdf2acdb8a1f7e575b6d317e6c63103.

[2019-03-08 18:50] #1030 closed

[2019-03-08 18:57] cstancu commented on #1023
Thank you for reporting back!

[2019-03-08 18:57] #1023 closed

[2019-03-08 19:00] johnwatts commented on #832
Thank you for the excellent news and the very prompt response. I was only worried because of the time delay since the initial response in December.

[2019-03-08 19:07] cstancu commented on #865
Thanks for the focus repo. I wouldn't close #778 yet, they have some other issues too, related to threads started in `org.flywaydb.core.Flyway`.

[2019-03-08 20:25] sureshg commented on #476
This is nice. Haven't seen about the native image configure in release notes for rc13.

[2019-03-08 20:31] cstancu commented on #476
@sureshg it was merged after the rc13 release. It will be part of rc14.

[2019-03-08 21:36] rahmanusta opened #1049 "Running Java code with Graal SDK"
Hi, how can I run Java code via Graal API. When I try to run Java code I get the following error:

"A language with id 'java' is not installed. Installed languages are: [R, js, python, llvm, ruby]."

[2019-03-08 22:10] neomatrix369 commented on #1049
Hi @rahmanusta in my limited understanding, you might be getting this error because due to Java not being available as a Truffle-d language yet, from the list of languages published in the error messages, they look like Truffle languages to me - running via the Truffle interpreter.

Someone please correct me if I'm saying wrong stuff.

[2019-03-08 22:12] neomatrix369 commented on #1049
See http://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/package-summary.html - the docs talk about embedding guest languages, Java is not yet (is it still in the planning to make it a guest language?) guest language on the GraalVM.

[2019-03-08 22:13] neomatrix369 commented on #1049
I'm happy to experiment with this although maybe a long shot for a single person, and I'm not sure what depth of language and compiler experience is expected.

[2019-03-08 22:14] mukel commented on #1049
There's an ongoing effort to provide Java as a Truffle guest language with all the added goodies: seamless interop, language-level sand-boxing...
Our Java implementation can already run way past HelloWorld, it can compile itself (with both `javac` and `ecj`), it can run itself (it's meta-circular) but it's still not ready for prime time.

[2019-03-08 22:45] rahmanusta commented on #1049
Thanks @neomatrix369 @mukel . I'm working on an open-source live code share project which uses GraalVM and Graal API. I noticed and surprised that it doesn't support Java :) Good to hear you work on that.

First prototype of the project:
![image](https://user-images.githubusercontent.com/1158804/54060219-30ee5300-41fc-11e9-832b-d8bc2d2a0d7e.png)

[2019-03-09 08:53] fniephaus commented on #1046
Thanks for the info! Happy to wait, but I'm wondering: must native methods always be annotated with `@TruffleBoundary`?

[2019-03-09 13:45] fniephaus opened #1050 "Compilation fails due to "invalid frame state""
This is a new error that we are getting regularly on RC13:

[code]

Here's the corresponding Graal dump: [graal_diagnostics_28231.zip](https://github.com/oracle/graal/files/2948433/graal_diagnostics_28231.zip). Any idea how this can be fixed?

[2019-03-09 13:50] thomaswue commented on #1050
Thanks for the report. Can you confirm that this does not happen with RC12? Can we reproduce this on our machines?

[2019-03-09 14:09] fniephaus commented on #1050
It's the first time we are seeing this error and we only just upgraded from RC12 to RC13. Our code base is not public yet, but I'm happy to provide everything needed to reproduce this in an email if you like.

[2019-03-10 00:17] cstancu commented on #807
@sdeleuze the [Assisted Configuration of Native Image Builds](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md) should make it easier to discover the reflectivelly accessed elements. Reflection configuration is still required for reflective access and we don't plan to change that. Enabling reflective access for all elements, without any config, although possible, would increase

[2019-03-10 00:17] #807 closed

[2019-03-10 00:25] cstancu commented on #807
@rahulsom did you try using `--delay-class-initialization-to-runtime=...` as mentioned in the error message? You can read more about [class initialization on `native-image`](https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-generation-d765b7e4d6ed). Please open another issue and provide a reproducible example if you still have problems.

[2019-03-10 13:57] rsvoboda opened #1051 "Native image - support for app icon"
Native image - support for app icon

This could be useful when people create custom utilities and want to use and distribute them in their favourite OS - especially macOS and Windows (Substrate VM hopefully available soon) when apps are executed from UI rather than from console.

Some OS related guidelines for app icons
 * https://developer.apple.com/design/human-interface-guidelines/macos/icons-a

[2019-03-10 14:43] cstehreem opened #1052 "Unable to execute bitcode with sulong"
I have been trying to execute a very simple C program's bitcode using Sulong but I am getting following error:

`Cannot convert LLVMTypedForeignObject+0x0 to LLVMNativePointer
	at <llvm> null(Unknown)
`
Steps I performed:
1. Checked out GraalVM code from official repo.
2. Built Graal using mx
3. Built Sulong
4. Compiled a Hello World program with clang -c -emit-llvm -o test.bc test.c (Using Clang

[2019-03-11 00:16] fniephaus commented on #1052
Sounds like a bug. I think there's also an `lli` binary in GraalVM's `bin/` directory. What happens when you run it with that?

[2019-03-11 00:23] fniephaus commented on #986
I think you're supposed to use `com.oracle.truffle.api.source.Source` instead of the one you mentioned.

[2019-03-11 02:25] cstehreem commented on #1052
Hi @fniephaus,

I checked out a clean version and rebuilt it and the error seems to have gone away. Not sure what caused it but since it's resolved I am closing the issue.

Thanks for taking time to suggest a solution.

Tehreem

[2019-03-11 02:25] #1052 closed

[2019-03-11 02:43] fniephaus commented on #1052
Glad it's working for you now :)

[2019-03-11 03:08] cstehreem opened #1053 "Understanding how C code is JIT compiled."
I am new to JVM and trying GraalVM as it promises interoperability among different languages. My focus is on understanding how it interprets/JIT compiles C code. I have a few questions I wasn't able to find answers to, if the questions are too basic, please refer me to a more appropriate forum. I wasn't able to find a room on Gitter dedicated to Sulong discussion.

I have built Sulong and Graal us

[2019-03-11 09:56] katox opened #1054 "[native-image] Static binary causes a segfault"
A simple application that connects to a PostgresQL database fails to run when compiled as a static linux binary. It works if there is no `--static` flag for `native-image`.

The database doesn't even have to be running - the App crashes before it connects.

[code]

The repo to reproduce the issue: https://github.com/katox/graal-pg-client

[2019-03-11 09:57] #727 closed

[2019-03-11 09:57] katox commented on #727
@emrul yes, the static linking still doesn't work.

It's a separate issue, I opened #1054, closing this one.

[2019-03-11 10:04] johenning opened #1055 "-XX:+UseJVMCINativeLibrary without libgraal stops execution on Windows"
On Linux `-XX:+UseJVMCINativeLibrary` is ignored when libgraal is not found. On Windows, execution fails with: `Error occurred during initialization of VM`
`Unable to load JVMCI shared library: Can't find dependent libraries`

Expected behavior would be for both platforms to handle this case in the same way.

[2019-03-11 10:50] dougxc commented on #1055
I'm having problems reproducing this. The VM also fails hard on both macOS:
[code]
and Linux:
[code]
Looking at [the code](https://github.com/graalvm/graal-jvmci-8/blob/de14dbc272f42f819446d1437f9b962731192837/src/share/vm/jvmci/jvmciEnv.cpp#L157-L160), it's hard to see how it could ignore the dll load failure.

[2019-03-11 10:58] h0rm commented on #1047
with `IDEA_LAUNCHER_DEBUG`:
[code]

[2019-03-11 12:31] johenning commented on #1055
Perhaps the problem is slightly [above](https://github.com/graalvm/graal-jvmci-8/blob/de14dbc272f42f819446d1437f9b962731192837/src/share/vm/jvmci/jvmciEnv.cpp#L147-L155)?
Setting `JVMCILibPath` to a nonexistent path throws the same error on Linux and Windows. But `-XX:JVMCILibPath=` i.e. the `NULL` case only fails under Windows (at least in my setup).

It could just be a configuration problem on m

[2019-03-11 12:42] johanvos opened #1056 "[native-image] StringUTF16 issue (unimplemented) with LLVM backend on Java 11"
When generating an image for a HelloWorld application using the llvm backend (-H:CompilerBackend=llvm -H:-MultiThreaded -H:-SpawnIsolates) the following error is thrown:
Fatal error: org.graalvm.compiler.graph.GraalGraphError: org.graalvm.compiler.debug.GraalError: unimplemented: StringUTF16.compress substitution is not implemented on this architecture
	at node: 37|AMD64StringUTF16Compress
	at met

[2019-03-11 12:44] gilles-duboscq commented on #1047
Could you also see what the same logging say when you use the `graalvm-ce-1.0.0-rc13/Contents/Home/jre` sub-folder?
I am under the impression that this launcher will ignore things that don't look like a "bundle" (i.e., with `Contents/Info.plist`) and so it "works" when specifying `graalvm-ce-1.0.0-rc13/Contents/Home/jre` simply because it ignore it and picks an other JVM on the system.

Also cou y

[2019-03-11 13:37] dougxc commented on #1055
Are you running Graal via mx or are you building a GraalVM first? In the case of the latter, libgraal is built by default on macOS and Linux but not (yet) Windows. Specifying `-XX:JVMCILibPath=` is equivalent to not specifying it at all. So `-XX:+UseJVMCINativeLibrary` in a GraalVM binary will try to load the library from the default location in GraalVM.

When you say "`-XX:+UseJVMCINativeLibrary`

[2019-03-11 13:39] h0rm commented on #1047
your're right. when specifying the stock jdk it's loading correctly:
[code]

vs using the graal jre subfolder it just load the bundled jdk:
[code]

It doesn't look like `Contents/MacOS/libjli.dylib` is a link:
[code]

[2019-03-11 14:04] fniephaus commented on #1055
I can confirm it also fails with `-XX:JVMCILibPath=` on macOS. I told @johenning that things are working fine for me on macOS and Linux when using `-XX:+UseJVMCINativeLibrary` with a stock RC13, but that doesn't seem to be the case for him. Is libgraal even shipped with the Windows bundle? Just found out the macOS RC13 bundle contains a `libjvmcicompiler.dylib`.

However, when I run our language w

[2019-03-11 14:14] fniephaus commented on #1055
Here's an example output:

<details>
<summary> ./latest_graalvm_home/bin/java -XX:+UseJVMCICompiler -XX:+UseJVMCINativeLibrary -XX:+CITime HelloWorld
</summary>

[code]

</details>

[2019-03-11 14:15] gilles-duboscq commented on #1047
That's your problem. With the way `libjli.dylib` works, it _needs_ to be in `jre/lib/jli` (see [java_md_macosx.c](http://hg.openjdk.java.net/jdk8u/jdk8u/jdk/file/f0b93fbd8cf8/src/macosx/bin/java_md_macosx.c#l647)).

How did you extract the archive? I checked and it seems to be a link in the archive. Maybe your extracting tool replaced the link with a copy?

You can also try to restore the link man

[2019-03-11 14:26] fniephaus commented on #1055
Looks like @dougxc is running a bleeding edge vm which has [this](https://github.com/graalvm/graal-jvmci-8/commit/65a67eb003c176ab8386cc83d31e5c0ca500437e). We are on RC13+graal-jvmci-8/0.55.

[2019-03-11 14:28] h0rm commented on #1047
thanks!!! the problem was `cp -r` which should not be used in mac os. with `cp -R` all links are copied and pycharm launches.

[2019-03-11 14:42] h0rm commented on #1047
however, the performance is pretty bad. 1-2 seconds delay when changing the cursor position using the mouse, beachball when selecting a file. would not recommend using it. this is also true for the stock jdk so it seams like the bundled jdk is heavily optimized...

[2019-03-11 14:46] gilles-duboscq commented on #1047
I'm glad we could resolve it.

Indeed Jetbrain's bundled JDK 8 has a lot of fixes, especially around AWT/String/Desktop integration and nowadays Intellij & co. are practically unusable without those fixes.

[2019-03-11 14:46] #1047 closed

[2019-03-11 15:11] dougxc commented on #1055
Correct. In general, I would avoid expecting too much from libgraal until there's an official announcement that we've sufficiently tested it. Part of making testing easier however is that we now build it by default into GraalVM (on the platforms that support it - macOS and Linux) and so it can appear to be more "ready" than it actually is.

[2019-03-11 18:52] christianwimmer commented on #1040
Which version of GraalVM are you using, Community Edition or Enterprise Edition?
Are there any optimization or debug flags that you are using, such as `-O` or `-g` options, or anything else that could have an impact on the machine code?

[2019-03-11 20:41] simonDeHero commented on #953
hi, i just wanted to mention, that i have the same issue with rc13:
- if `org.codehaus.groovy:groovy` is not present, i get `java.lang.NoClassDefFoundError: groovy/lang/GroovyObject`.
- but if i add it, i get
[code]
my app is a minimal spring boot REST server with actuator (2.1.3.RELEASE).

thx for having a look!

[2019-03-11 20:52] simonDeHero opened #1057 ""Could not find agent library native-image-agent on the library path""
Hi,
i would like to use the `native-image-agent` like described [here](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md). but i get the following error
[code]

i get basically the same error, when i use the `JAVA_TOOL_OPTIONS`:
[code]

i use graalvm rc13.

thx for having a look!

[2019-03-11 20:59] PatrykGala commented on #1057
Library doesn't  exist in:
`/path/to/graalvm/jre/lib/amd64/libnative-image-agent.so`

[2019-03-11 21:08] cstancu commented on #1057
This feature was merged after the RC13 release. You can [build GraalVM from source](https://github.com/oracle/graal/tree/master/vm#vm-suite) or wait for the RC14 release to use this feature.

[2019-03-11 21:12] cstancu commented on #953
Can you please provide your complete `NoClassDefFoundError` trace? I assume you are already using the `--allow-incomplete-classpath` option.

[2019-03-11 21:20] cstancu commented on #1026
Fixed by https://github.com/oracle/graal/pull/1027.

[2019-03-11 21:20] #1026 closed

[2019-03-12 02:33] fniephaus commented on #1055
Thanks for the info, @dougxc. We were trying to use libgraal for running our GraalSqueak research project because we're still fighting warm-up problems. We don't expect it to be production ready yet, but are happy to help testing it.

[2019-03-12 02:53] chrisfw commented on #1040
I am running the community edition.  I downloaded the [code](https://github.com/micronaut-guides/micronaut-creating-first-graal-app/archive/master.zip) that is part of a micronaut [guide ](https://guides.micronaut.io/micronaut-creating-first-graal-app/guide/index.html)to "creating your first graal app".  If there are optimizations or debug flags, I am not aware of them nor did the guide call any o

[2019-03-12 08:42] trnl commented on #651
Grateful if you can provide any ETA, at least in QQQs for 2019.

[2019-03-12 08:58] olpaw commented on #1054
@katox before I dig in deeper can you try if the problem goes away if you replace the database URL with
`jdbc:postgresql://127.0.0.1/postgres?user=postgres&password=postgres` (i.e. avoiding DNS to be involved - see https://stackoverflow.com/questions/3430400/linux-static-linking-is-dead for more info)

[2019-03-12 09:28] katox commented on #1054
@olpaw good catch, it does work if it doesn't attempt to DNS resolve the address.

Looking at the thread it's probably a bad idea to consider static linking at all.

[2019-03-12 09:34] johenning commented on #1055
To sum up: `UseJVMCINativeLibrary` is not ignored on Linux, as originally stated. Both platforms fail consistently when libgraal cannot be found, which will (for now) always be the case on Windows.

[2019-03-12 09:34] #1055 closed

[2019-03-12 09:44] olpaw commented on #1054
It's certainly a feature that should only be used if you know exactly what you are doing and you are aware of its limitations. But if you are fine with that .... well .... it can be quite handy to have a static executable (e.g. for docker).

[2019-03-12 09:44] #1054 closed

[2019-03-12 09:56] katox commented on #1054
@olpaw yes, the docker was intended target. It could do without a DNS relying on some other mechanism to resolve to real addresses but I'm not sure.

I worked around this by installing graal into the target docker, let it compile and link to shared libraries within the container and then copied all used shared libraries into FROM scratch container along with the generated app binary.

[2019-03-12 10:24] olpaw commented on #1054
Sounds legit.

[2019-03-12 13:02] vjovanov commented on #1056
Fixed [here](https://github.com/oracle/graal/commit/5d98913b9511eaceb8623a1b2b8960b46875a5db).

[2019-03-12 13:04] vjovanov commented on #1048
Fixed [here](https://github.com/oracle/graal/commit/5d98913b9511eaceb8623a1b2b8960b46875a5db).

[2019-03-12 13:05] #1048 closed

[2019-03-12 13:59] dustpuppyNGTI opened #1060 "UnresolvedElementException with ByteBuffer.flip()"
I'm trying to compile a simple HTTP server with graalvm-ce-1.0.0-rc13. The '--allow-incomplete-classpath' option makes the code compile but also fail during runtime. Is ByteBuffer.flip() supported by Graal? Is there an alternative?

[code]

[2019-03-12 14:43] fniephaus commented on #1046
Fixed in [`jvmci-0.56`](https://github.com/graalvm/openjdk8-jvmci-builder/releases/tag/jvmci-0.56).

[2019-03-12 14:43] #1046 closed

[2019-03-12 16:36] sdeleuze commented on #905
@cstancu I will be happy to close that issue and implement it myself on Spring Fu side, I just need a little bit of guidance. Is `@AutomaticFeature` designed to be used by frameworks outside of GraalVM itself? If so in witch dependency is this annotation and related dependencies available? Is there an example project somewhere?

[2019-03-12 16:40] olpaw commented on #905
@sdeleuze see https://github.com/oracle/graal/issues/1005#issuecomment-469488875

[2019-03-12 16:50] thomaswue commented on #905
@sdeleuze Would this new agent that records reflection usage help? Prototype is described at "https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md". Do applications typically have tests that would exercise that reflection?

[2019-03-12 18:15] sdeleuze commented on #905
@thomaswue I will give it a try tomorrow.

[2019-03-12 18:56] simonDeHero commented on #1057
@cstancu thx, i'll wait for rc14 :-)

[2019-03-12 18:56] #1057 closed

[2019-03-12 19:10] simonDeHero commented on #953
@cstancu yes, i use `--allow-incomplete-classpath`.

my build-script is
[code]

graal.json:
[code]

output and stacktrace:
[code]

thx!

[2019-03-12 21:12] ejona86 opened #1061 "SubstrateVM: instanceof retains types"
In https://github.com/grpc/grpc-java/issues/5460 there was a request for gRPC to improve compatibility with AOT/native-image with GraalVM. Looking into one of the failures, it seems it should be handled by SubstrateVM.

gRPC at one point [prints out debug information](https://github.com/grpc/grpc-java/blob/v1.18.0/netty/src/main/java/io/grpc/netty/ProtocolNegotiators.java#L406) for our SSL environ

[2019-03-12 21:45] cstancu commented on #630
This has been fixed as of 61bb4f528f09e9e42b1b6b2e4d14d98b33fab55b and it should be available in RC13.

[2019-03-12 21:45] #630 closed

[2019-03-12 22:57] cstancu commented on #1061
Looking at the error message it seems that `io.netty.handler.ssl.ReferenceCountedOpenSslEngine` is [`@Delete`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/annotate/Delete.java#L40)ed, although I am not sure where that is happening as I cannot find the corresponding substitution in the quarkus extension.

[2019-03-12 23:13] dmlloyd commented on #841
I would say "not"; the workaround appears essentially to disable all signal handlers so that the code in question is never called.

I would say that it might be a better idea to come up with some different signal-handling solution than using POSIX named semaphores.  If a semaphore *must* be used - in preference to, say, a POSIX thread mutex or something simpler - then why not use `sem_init` to est

[2019-03-13 01:08] cstancu commented on #953
I think I know what the problem is. We should also catch the `NoClassDefFoundError` in [`ImageClassLoader.forName()`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/ImageClassLoader.java#L366). A fix will be available soon.

[2019-03-13 04:24] ejona86 commented on #1061
@cstancu, hmm... I see, yeah, the error message does tend to be for a clearly "ain't gonna work" type.

I was _really_ surprised earlier that Netty worked without any real changes. #917 linked to bits of more of what I would expect, as I knew there were Unsafe field indexes that would need to be updated and I questioned some of the static initialization. I dug deeper and started figuring out how t

[2019-03-13 06:35] PatrykGala opened #1062 "[native-image] Adding resources from the external jar"
In Java project, I've added the dependency to DynamoDB SDK in Gradle file:
 `compile group: 'com.amazonaws', name: 'aws-java-sdk-dynamodb', version: '1.11.515'`

After build the native image and run application I have following issue:
`Message: Error while loading partitions file from com/amazonaws/partitions/endpoints.json`

I've added a configuration to native-image (below) but this doesn't work

[2019-03-13 08:51] simonDeHero commented on #953
:+1:

[2019-03-13 09:17] vongosling opened #1063 "[native-image][netty] java.lang.NoSuchFieldException: tclass"
when I build (command :native-image -jar DLedger.jar -H:+ReportExceptionStackTraces )the dledger uber jar[1] into native image, I got the error info like the following:

Build on Server(pid: 69038, port: 62141)
[DLedger:69038]    classlist:   1,005.27 ms
[DLedger:69038]        (cap):   3,174.09 ms
[DLedger:69038]        setup:   3,600.55 ms
[DLedger:69038]     analysis:   3,039.22 ms
Error: Error

[2019-03-13 11:42] peter-hofer commented on #875
Fixed in 32d32a49e8d.

[2019-03-13 11:42] #875 closed

[2019-03-13 13:33] lburgazzoli opened #1064 "[native-image] adding --language:js generates js interpreter instead of application"
I'm having an issue with rc13 and using truffle js in a native compilation as the native-image-maven-plugin reports that I'm running:

[code]

but then the build request changes the values of the -H:Class and -H:Name flags to:

[code]

so as result I have the js interpreter built instead of my application

[2019-03-13 13:39] olpaw commented on #1064
That's by design. You have to provide **your** Class and Name arguments after all the `--language:...` and `--tool:...` options.

[2019-03-13 13:41] lburgazzoli commented on #1064
ok so the order matters

[2019-03-13 13:42] olpaw commented on #1064
Btw, you do not really need the `-H:Class=` and `-H:Name=` prefixes here. The following should do what what you need:
[code]

[2019-03-13 13:44] olpaw commented on #1064
... and `-H:+JNI` is also redundant nowadays (it's enabled by default)

[2019-03-13 13:44] lburgazzoli commented on #1064
I do not set the class name, it is the native-image-maven-plugin that does so, what I have is

[code]

[2019-03-13 13:45] olpaw commented on #1064
That's ok then. I just thought you also use it when you issue the native-image command yourself

[2019-03-13 13:47] olpaw commented on #1064
Btw, the native-image-maven-plugin should actually ensure that `-H:Class=` and `-H:Name=` always come last. Is this not the case in your example?

[2019-03-13 13:50] lburgazzoli commented on #1064
correct, it is not the case in my example

[2019-03-13 13:52] olpaw commented on #1064
oh. this needs fixing then. thanks for reporting.

[2019-03-13 14:19] vjovanov commented on #1056
Fixed [here](https://github.com/oracle/graal/commit/b4b403e30a2f095084ac9f7f5d4f0442661b612c).

[2019-03-13 14:19] #1056 closed

[2019-03-13 14:39] thegreystone opened #1065 "Support agents at image generation time"
It would be great if agents could be supported at image generation time, so that the instrumented code would be used in the final image.

[2019-03-13 17:42] cstancu commented on #1065
How do you envision such a feature? It seems to me that bytecode instrumentation via agents is an orthogonal feature. You can run an agent on your code, instrument it, and then feed it to `native-image`.

[2019-03-13 17:56] Peter-B-Kessler commented on #841
We use POSIX named semaphores because they are available on Darwin and Linux.  Unnamed semaphores are not available on Darwin.  Having platform-specific code is a maintenance burden, especially for platforms we do not have in our testing infrastructure.

[2019-03-13 18:04] dmlloyd commented on #841
Why does it need to be a semaphore at all?  What about using a `pthread_mutex_t` or something?

The problem (in case it wasn't clear) is that `sem_open` is apparently simply unsupported on AWS.

[2019-03-13 18:48] ludoch commented on #926
For Cloud Datastore (link above), the error is like:
[code]

[2019-03-13 18:49] cstancu commented on #1063
#### Short version:
This can be solved by adding `-Dio.netty.noUnsafe=true` to your `native-image` command: `native-image  -jar target/DLedger.jar -Dio.netty.noUnsafe=true`.

#### Long version:

Looking at your project dependecies I see that `rocketmq-remoting-4.3.2` brings in  `netty-4.0.42`, an older version of `netty`. Running `mvn dependency:tree` shows:
[code]
Maybe that's why you saw an inco

[2019-03-13 20:10] cstancu commented on #1061
@ejona86 thanks for digging deeper. That type being `@Delete` in the quarkus-netty extension explains it. However, if you use `--report-unsupported-elements-at-runtime` as the error message suggests this should work exactly as expected, `if (engine instanceof OpenSslEngine)` should always be false at runtime.

Check out [this gist](https://gist.github.com/cstancu/e5158a91c3e1181ea34ac8dec6509fb5)

[2019-03-13 21:22] tomerz90 commented on #1062
@PatrykGala HAve you tried using an exact name? `-H:IncludeResources="endpoints.json"` ? Worked for me in another case, also where did you find docs for this flag? I couldnt find any and im trying to get it to work to include an entire directory

[2019-03-13 22:01] cstancu commented on #953
The fix is on master: https://github.com/oracle/graal/commit/8505c22204c4ea30949a7a0c92765a7f75500b64. You can build from master following instructions [here](https://github.com/oracle/graal/tree/master/vm#vm-suite). If you run into further problems with your app is best if you open a fresh issue.

[2019-03-13 22:01] #953 closed

[2019-03-13 22:14] tomerz90 opened #1066 "[native-image] dynamic loading of classpath resources"
Im trying to execute:
`Thread.currentThread().getContextClassLoader().getResourceAsStream("config.json");`
But it cant find the file even thought I added it in the class path using `native-image -cp` and also tried using `-cp` together with `-H:IncludeResources`.

Is it currently unsupported?

[2019-03-14 00:50] tylerbenson commented on #1065
I'm not super familiar with Graal's build options, but what I would be hoping for is a way to reuse the existing `javaagent` tooling at build time instead of run time.

[2019-03-14 01:11] cstancu commented on #728
I added some [`java.util.logging` documentation ](https://github.com/oracle/graal/blob/master/substratevm/LOGGING.md).

[2019-03-14 03:16] vongosling commented on #1063
@cstancu Thanks for your kindly explanation. Actually, I have read the article that you provided.  you are right if I hope to native-image netty. that's quite a tedious task. Do your team have any plan to support easily netty native image?

[2019-03-14 06:06] cstancu commented on #1063
@vongosling yes, we aim for full out-of-the-box support for netty in the long run. Some issues will be solved on our side as the project evolves, other issues will probably need changes on the netty side. In the meantime, we plan to roll out a repository that centralizes configurations and substitutions required to make third-party frameworks, such as netty, GraalVM `native-image` compatible and t

[2019-03-14 06:06] #1063 closed

[2019-03-14 06:25] vongosling commented on #1063
@cstancu Yep, disable noUnsafe config surely resolve my problem.

[2019-03-14 13:04] neomatrix369 commented on #1049
@rahmanusta Have you tried building GraalVM from github? See https://github.com/neomatrix369/awesome-graal/tree/master/build/x86_64/linux_macos on how it can be done.

[2019-03-14 14:47] dmlloyd commented on #841
In the very, very worst case, maybe a pipe...

[2019-03-14 17:40] rahmanusta commented on #1049
Thanks @neomatrix369 I'll look it. I'm currently use graalvm's docker image from oracle/graalvm-ce

[2019-03-14 17:41] cstancu commented on #1066
@tomerz90 yes, loading of resources is supported. You can read the documentation [here](https://github.com/oracle/graal/blob/master/substratevm/RESOURCES.md#accessing-resources-in-substrate-vm-images). If you still have problems please provide a reproducer.

[2019-03-14 17:44] cstancu commented on #1062
Can you try `-H:IncludeResources='.*/endpoints.json$'`? Please see the [documentation](https://github.com/oracle/graal/blob/master/substratevm/RESOURCES.md#accessing-resources-in-substrate-vm-images) for more examples.

[2019-03-14 18:06] cstancu commented on #1060
Yes, we should support `java.nio.ByteBuffer.flip()`, however, it looks like it cannot be found on the classpath. Can you provide a reproducible example and/or the output when you run `native-image` with the `--verbose` flag?

Since you are using HTTP you should also read the corresponding [documentation](
https://github.com/oracle/graal/blob/master/substratevm/URL-PROTOCOLS.md#url-protocols-on-sub

[2019-03-14 18:10] cstancu commented on #1035
Fixed in https://github.com/oracle/graal/commit/f4452fe3a67871989d309e39f8a24dabffc613ac.

[2019-03-14 18:10] #1035 closed

[2019-03-14 18:42] cstancu commented on #1017
We now [disable the nashorn engine](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_jdk_nashorn_api_scripting_NashornScriptEngineFactory.java#L36) in `native-image`. When you build an image with `native-image --language:js ...` the Graal.js engine is included and returned by `new ScriptEngineManager().getEngineByName("js")` and the

[2019-03-14 18:42] #1017 closed

[2019-03-14 18:55] pmlopes commented on #841
native images can run on AWS lambda: https://github.com/pmlopes/aws-lambda-native-vertx

In the example above we successfully built images on:

* Fedora 29 64bit (with GraalVM rc12/rc13)
* Windows 10 Pro with WSL Ubuntu

And the produced binaries do run on AWS Lambda.

[2019-03-14 19:02] dmlloyd commented on #841
Are you using signal handlers?

[2019-03-14 19:48] cstancu commented on #654
@stuartwdouglas is this still a problem? Can you provide a reproducible example?

[2019-03-14 22:35] cstancu commented on #348
The originally reported issue has been fixed. With the latest release, you can build an image using `native-image --report-unsupported-elements-at-runtime -jar build/libs/graal-0.0.1-SNAPSHOT.jar`. However, running the image I get:
[code]

It looks like the example app tries to execute a jar which is currently not supported with `native-image`.

[2019-03-14 22:35] #348 closed

[2019-03-14 22:54] cstancu commented on #410
@borkdude thank you for your report. I am closing this issue as I cannot reproduce it anymore. If there ever was a problem it has been fixed in the meantime.
[code]

[2019-03-14 22:54] #410 closed

[2019-03-14 23:36] cstancu commented on #420
I cannot replicate the reported issue anymore. Using the following commands

[code]

the `analysis` phase ends after ~2 minutes with -Xmx14g. (If you run it in Docker you may need to set its memory limit accordingly). However, the image building process reports unsupported features after that:

[code]
Fixing these issues requires custom configuration. [This article](https://medium.com/graalvm/unde

[2019-03-14 23:41] cstancu commented on #551
Thank you for your report. The `IndexOutOfBoundsException` has been fixed in the meantime. If the underlying problem still persists now you should at least get a more intuitive error message. Please open a fresh issue if that's the case.

[2019-03-14 23:41] #551 closed

[2019-03-14 23:47] cstancu commented on #623
Fixed in https://github.com/oracle/graal/commit/427e54ba383cd0addf8b621ac7d6928c89583a00.

[2019-03-14 23:47] #623 closed

[2019-03-15 00:11] cstancu commented on #589
The original error has been fixed. When you build an image with `native-image --language:js ...` the Graal.js engine is included and returned by `new ScriptEngineManager().getEngineByName("js")`. This fix will be available in RC14.

[2019-03-15 00:11] #589 closed

[2019-03-15 00:21] cstancu commented on #424
As of https://github.com/oracle/graal/commit/427e54ba383cd0addf8b621ac7d6928c89583a00 the `resource` URL protocol is enabled by default and it doesn't require any special config.

[2019-03-15 00:21] #424 closed

[2019-03-15 00:28] cstancu commented on #622
This is now supported via the `--allow-incomplete-classpath` flag.

[2019-03-15 00:28] #622 closed

[2019-03-15 00:53] cstancu commented on #629
This has been fixed. If the reflection configuration registers a type that references a missing type it should print a warning of the form: [`WARNING: Could not register reflection metadata for ... Reason ...`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.reflect/src/com/oracle/svm/reflect/hosted/ReflectionDataBuilder.java#L213) and continue.

[2019-03-15 00:53] #629 closed

[2019-03-15 01:12] cstancu commented on #612
The reported error has been fixed. Now you can successfully build an image with `native-image --report-unsupported-elements-at-runtime  -cp clojure.jar clojure.main`:
[code]

 However, running it will yield:
[code]

[2019-03-15 01:25] cstancu commented on #746
The `IndexOutOfBoundsException` has been fixed in the meantime. If the underlying problem still persists now you should at least get a more intuitive error message. Please open a fresh issue if that's the case.

[2019-03-15 01:25] #746 closed

[2019-03-15 01:45] cstancu commented on #772
We now [disable the nashorn engine](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_jdk_nashorn_api_scripting_NashornScriptEngineFactory.java#L36) in `native-image`. When you build an image with `native-image --language:js ...` the Graal.js engine is included and returned by `new ScriptEngineManager().getEngineByName("js")`. This f

[2019-03-15 01:45] #772 closed

[2019-03-15 02:06] cstancu commented on #740
@ilopmar the reported issue cannot be reproduced anymore. The `native-image` command requires the `--allow-incomplete-classpath` and ` -Dio.netty.noUnsafe=true` options and the resulting image will behave as expected:
[code]
[code]

[2019-03-15 02:06] #740 closed

[2019-03-15 02:11] cstancu commented on #966
I'll close this due to inactivity. @moorsu please reopen if you can provide a reproducible example.

[2019-03-15 02:19] stuartwdouglas commented on #654
Pretty sure this is no longer a problem.

[2019-03-15 02:19] #654 closed

[2019-03-15 02:25] dmlloyd commented on #1060
This usually indicates that you've compiled on Java 9+, as ByteBuffer has a covariant override for flip() on that version. The fix is typically to do clean rebuild of your classes on JDK 8, or on a later JDK with the `--release=8` option.

[2019-03-15 03:29] ralleman opened #1068 "How to 'instanceof' or 'new' an unknown object"
I'd like do both of these in JavaScript. Are either of these possible:

[code]

and:

[code]

But in these cases "com" and the entire path to com.mydomain.mypackage.MyClass might be unknown. If this is the case, I would like to load the class/package into the context at the time it's first requested.

The reason I would prefer not to preload all the objects is because I'm running very short untrus

[2019-03-15 03:48] ralleman commented on #1068
Forgot to mention, I'm running this embedded in a Java application.

[2019-03-15 08:46] sdeleuze commented on #999
FYI this is the last known blocker to run regular Spring Boot annotation-based application as native image.

[2019-03-15 08:51] theonlygusti opened #1069 "Do Graal native images run faster than the Java bytecode ordinarily produced"
If I compile a Java project I've been working on into a native image using Graal, will its performance increase?

[2019-03-15 09:27] vmencik opened #1070 "native-image fails with "Deadlock creating new types" error"
I get the following error when compiling a Scala application with native-image. Unfortunatelly I don't have a simple reproducer and the app is a proprietary code I cannot publish here.

Is there a way how to get more information about the error? For example which type(s) caused the deadlock?
It is probably caused by native-image having some issues with some Scala feature as the application is usin

[2019-03-15 09:53] plokhotnyuk commented on #1069
It depends.

Best option is to use [profile guided optimization](https://github.com/graalvm/graalvm-demos/tree/master/scala-days-2018/streams#profile-guided-optimizations-with-native-image).

[2019-03-15 09:59] olpaw commented on #1064
Fixed for rc14 and on master (see 9088ea00f618a6864f95b5bdcba6ad0f8c15f454). I have also added `<imageName>` in case you want the image to be named other than the default. Once rc14 is released you can remove `-H:Class=${main.class} -H:Name=${project.artifactId}` from your `<buildArgs>` and just add `<imageName>${project.artifactId}</imageName>` for your custom image name. The `<mainClass>` will n

[2019-03-15 09:59] #1064 closed

[2019-03-15 10:27] mur47x111 commented on #876
Should be fixed by https://github.com/oracle/graal/commit/b301cbfa0d40ed4541a76cdff8be2c92133b6cbb

[2019-03-15 10:28] olpaw commented on #795
Fixed since d9fb89809b96f9cb14e75108cbad8e20162fb247

[2019-03-15 10:28] #795 closed

[2019-03-15 15:09] graemerocher commented on #717
Still broken in rc13 any update?

[2019-03-15 15:09] graemerocher commented on #659
Can this patch be applied?

[2019-03-15 16:04] graemerocher commented on #659
Relates to https://github.com/micronaut-projects/micronaut-core/issues/684 and https://github.com/oracle/graal/issues/717

[2019-03-16 03:55] cstancu commented on #659
FYI I managed to identify the underlying problem and will have a fix soon. The above patch is an workaround that doesn't really fix the root problem, and it can actually lead to other issues.

[2019-03-16 11:43] tarsa commented on #1069
AFAIK currently executables produced by native-image have lower peak performance than the original Java code running under GraalVM JIT. OTOH native-image starts faster and can have much lower memory overhead for simple applications.

Here is some comparison: https://benchmarksgame-team.pages.debian.net/benchmarksgame/faster/java-substratevm.html

[2019-03-16 13:04] fniephaus opened #1073 "TraceTruffleTransferToInterpreter doesn't log transferToInterpreters caused by @TruffleBoundary"
`TraceTruffleTransferToInterpreter` doesn't seem to log transferToInterpreters caused by a `@TruffleBoundary` without a [`transferToInterpreterOnException = false`](https://github.com/oracle/graal/blob/64bc0298cfebf609a851c237d0fc7b7f34e1d504/truffle/src/com.oracle.truffle.api/src/com/oracle/truffle/api/CompilerDirectives.java#L267-L273).

Example code:
[code]

When running with `-Dgraal.TraceTruf

[2019-03-16 13:38] benzap opened #1074 "Error: No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime: javax.net.ssl.SSLContext"
Using RC13, I wonder if it's related to #712

Full command from https://github.com/benzap/eden

### build-native.sh, Line 28
[code]

This was definitely compiling when I was first messing around with it, so it's unclear why it suddenly decided to stop working. **I'm wondering if the error output is a misdirection?**

Here is the error output:

[code]

If you would like to reproduce, it will requir

[2019-03-16 14:19] benzap commented on #1074
Compilation is successful if I remove http-server libraries which is making use of java.net.*, through the use of the [http-kit](https://github.com/http-kit/http-kit) library. This was working in previous releases without issues, so it isn't clear what has changed.

[2019-03-16 15:55] rschwietzke commented on #963
Just an update on the data with RC13. Unchanged behavior. Hotspot is way faster for System.arrayCopy as well as the manual version.

### JDK 1.8.0_201, Java HotSpot(TM) 64-Bit Server VM, 25.201-b09
[code]

### JDK 1.8.0_192, GraalVM CE 1.0.0-rc12, 25.192-b12-jvmci-0.54
[code]

### JDK 1.8.0_202, OpenJDK GraalVM CE 1.0.0-rc13, 25.202-b08-jvmci-0.55
[code]

[2019-03-16 19:27] headius opened #1075 "Failure to compile method that interprets ok"
I'm seeing the following error for a piece of code that interprets correct (I get no verification errors) and which seems to JIT properly on C2.

[code]

The bytecode for this method (Ruby code jitted to JVM bytecode) is in the following gist: https://gist.github.com/headius/33160a110d0365029bd1ec45c48b32f3

[2019-03-16 23:27] thomaswue commented on #1075
@gilles-duboscq Is this related to the bug fix you are currently working on?

[2019-03-17 00:38] theonlygusti commented on #1069
So it's better (more performant) to just use Java, Graal images are less efficient at the moment?

[2019-03-17 01:12] plokhotnyuk commented on #1069
@ theonlygusti it depends on your algorithms and workload...

[Here](http://jmh.morethan.io/?sources=https://plokhotnyuk.github.io/jsoniter-scala/openjdk11graal.json,https://plokhotnyuk.github.io/jsoniter-scala/graalvmce1.json) are results of benchmark of JSON parsing and serialization of different libraries. But those which use a lot of divisions are slower (up to 4x times) on outdated Graal JIT

[2019-03-17 09:48] tarsa commented on #1069
Peak performance of Graal AOT (native-image) is slower than Graal JIT. You need to benchmark Graal in exactly the compilation mode you're interested in.

[2019-03-17 10:18] tarsa commented on #1069
My impression is that the following properties hold:

Warm-up time (from shortest to longest):
- GraalVM AOT = native-image (compilation is fully done before execution, so there's no JIT warm-up)
- HotSpot
- GraalVM CE JIT
- GraalVM EE JIT

Peak performance (from lowest to highest):
- GraalVM AOT = native image
- HotSpot/ GraalVM CE JIT - HotSpot should be better at vectorization, GraalVM CE JIT s

[2019-03-17 11:18] thomaswue commented on #1069
Yes, these are pretty accurate estimates for the status quo.

We are working on getting warmup of GraalVM CE and GraalVM EE equal to HotSpot by linking a native-image of the Graal compiler with HotSpot. There will be a prototype of this available in the next release candidate.

And we are working on getting GraalVM AOT with PGO to the same level as GraalVM EE JIT. This is a longer term effort and

[2019-03-17 19:43] nicokosi commented on #420
Thank you @cstancu!
I don't understand why I don't reproduce the same issue. I gave a try on my macOs laptop:
[code]
Maybe that my `Xmx` parameter is incorrect? I'll give a try on a Linux machine.

[2019-03-17 22:34] nhoughto commented on #951
Great info in your 3 updates thanks for the learnings, i've settled on adding BouncyCastle as a provider, and removing SunEC both via `java.security`, doing it via `Security.addProvider/removeProvider` doesn't appear to work in SVM.

This results in a binary that doesn't require a native library and can't still do HTTPS.

[2019-03-18 09:56] ilopmar commented on #740
Thanks!

[2019-03-18 10:40] gilles-duboscq commented on #1075
@thomaswue If you are thinking about #1050, i wouldn't expect an `AFTER_BCI`, the fix i'm working on for #1050 is specific to the exception handling path where we would rather see `AFTER_EXCEPTION_BCI`.

@headius, according to the log, a second compilation was attempted for diagnostics, did it produce a diagnostic zip? That would contain the IR dumps which could be helpful in identifying the issue

[2019-03-18 17:30] brunoborges commented on #349
For reference:

 - https://github.com/Microsoft/LLVMSharp
   - LLVM bindings for .NET Standard written in C# using ClangSharp
 - https://github.com/dotnet/llilc
   - LLVM based compiler for .NET Core. It includes a set of cross-platform .NET code generation tools that enables compilation of MSIL byte code to LLVM supported platforms.

// @shelajev @thomaswue @chrisseaton

[2019-03-18 17:56] theonlygusti commented on #1069
I wish graal native image was like a C program

[2019-03-18 18:34] cstancu commented on #420
That's probably because you don't have enough *available* memory. On my machine, it takes tops up at about 12g. If it tops up at 8g that's likely the entire available memory. Another thing that you should be aware off is that the compilation server (which is on by default) uses 80% of the *physical* memory, and [-J-Xmx14g is ignored](https://github.com/oracle/graal/issues/920#issuecomment-46175976

[2019-03-18 19:39] johnwatts commented on #832
It looks like it didn't ship in RC14. Should we expect it in RC15?

[2019-03-18 21:06] msgilligan commented on #955
I'm experiencing the same issue and am willing to write code to specifically avoid it, if it is possible.

Coding in Java, what I'd like to be able to do (for two classes A and B) is:
1. Enumerate (and possibly filter) the methods in a class B and store in a `Map` in class A (in a static initializer)
2. Dynamically call one or more of those methods at runtime from class A.

My order of preference

[2019-03-18 21:22] lbialy opened #1077 "[native-image] Segfault in class com.sun.security.auth.module.Krb5LoginModule"
Code using [Kerb4J library](https://github.com/bedrin/kerb4j):
[code]

causes this segfault:
[code]

Is Kerberos supported?

[2019-03-18 21:24] woess commented on #832
The fix shipped in RC14 (forgot to mention it in the changelog).

Please give it a try.

[2019-03-18 21:36] johnwatts commented on #832
Thank you very much! We're excited to try this out and the new libgraal.

[2019-03-18 21:40] victor-smirnov commented on #832
Thank you Andreas! :)

[2019-03-18 21:59] cstancu commented on #1077
@lbialy can you provide a complete reproducible example? Thanks!

[2019-03-18 22:02] msgilligan commented on #955
I've simplified this to a single class:

[code]

[2019-03-18 22:04] msgilligan commented on #955
So to rephrase my question: Can I change this code to use a different type of `MethodHandle` or a `CallSite` or some other mechanism to be able to use dynamic dispatch over a `Map` (or equiv) data structure that is built by a static initializer?

[2019-03-18 22:11] christianwimmer commented on #955
if you change your example to use `java.lang.reflect.Method` instead of `MethodHandle`, i.e., have a `Map<String, Method>`, it will work out-of-the-box. You also don't need a reflection configuration file because you do the lookup of the `Method` instances already during image generation.

[2019-03-18 22:22] msgilligan commented on #955
So the old-school `Method` way is better to use than `MethodHandle` -- I'll try it.

[2019-03-18 22:26] christianwimmer commented on #955
Yes, we have full support for `Method.invoke`. That is much easier to support than `MethodHandle` because `Method.invoke` can "just" invoke a method, while `MethodHandle` allows nested composition, i.e., complex arbitrary expressions that can be changed at run time and therefore not compiled ahead of time.

[2019-03-18 22:27] rschwietzke opened #1078 "CSV/String parsing: Graal CE is slower, EE faster than Hotspot"
The attached code is from a project including several optimized version of it. This is all JMH setup. Graal CE RC14 runs it noticeably slower than without Graal and EE RC14 runs it really a lot faster. While I appreciate the EE performance and the understand the need for a commercial version, I think the CE version should not be slower than a default Hotspot.

Fun fact, JDK 11 shows a performance

[2019-03-18 22:29] msgilligan commented on #955
It's working, thanks!

So, if I want Graal support I need to use `Method.invoke`, but if I want better performance in the JVM, I should use `MethodHandle.invoke*`. I suppose I can make it configurable at compile time.

[2019-03-18 22:32] christianwimmer commented on #955
I don't think `MethodHandle` will get you better performance on the HotSpot VM. Since neither the `MethodHandle` you are invoking is a compile-time constant nor the types of the arguments you are passing in are constant, both `Method` and `MethodHandle` invokes need to do the same argument checks (type checks that the arguments match the signature, unboxing of primitive values, ...).

[2019-03-18 22:40] msgilligan commented on #955
That's good to hear. Thanks for all your help. I should be publishing this work as Open Source when it's ready. It should be an interesting application for Graal. Thanks again!

[2019-03-18 23:20] jesty commented on #1057
Hi, I'm getting the same error with rc14 on Mac OS.

$ java -version
openjdk version "1.8.0_202"
OpenJDK Runtime Environment (build 1.8.0_202-20190206132754.buildslave.jdk8u-src-tar--b08)
OpenJDK GraalVM CE 1.0.0-rc14 (build 25.202-b08-jvmci-0.56, mixed mode)

The error is:
Error occurred during initialization of VM
Could not find agent library native-image-agent on the library path, with error: d

[2019-03-18 23:26] cstancu commented on #1057
@jesty [`the described agent is currently only supported on Linux`](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md#assisted-configuration-of-native-image-builds).

[2019-03-19 05:26] mercyblitz opened #1079 "[Question] How to make the native Images faster in Graal VM CE"
Hi, community,

I'm a newbie and just make a native image for the`HelloWorld` example that wrote in "[Native Images](https://www.graalvm.org/docs/getting-started/#native-images)":

[code]

I found that this image was made too slowly, my question is how to speed up?

[2019-03-19 06:44] lbialy commented on #1077
It's actually quite involving because I believe you would need an actual kerberos server to connect to and a key tab file generated for your principal for that server. I can provide my `reflection.json` and native-image params and a snippet that would yield the segfault, but it`s like 3 loc in total.

[2019-03-19 07:04] fniephaus opened #1080 "[RC14] Unrecognized VM option 'UseJVMCINativeCompiler'"
The [release notes for RC14](https://www.graalvm.org/docs/release-notes/#10-rc14) explains that `libgraal` can be used by adding `-XX:+UseJVMCINativeCompiler`. However, this gives me a `Unrecognized VM option 'UseJVMCINativeCompiler'` error. Using `-XX:+UseJVMCICompiler -XX:+UseJVMCINativeLibrary`, on the other hand, works as intended. Should the `UseJVMCINativeCompiler` option exist or is it just

[2019-03-19 08:21] farquet commented on #1080
Thanks for the report.
This is indeed a typo in the release notes as you have figured out. They will be updated shortly.
Btw, using `-XX:+UseJVMCINativeLibrary` is sufficient to use libgraal on GraalVM.

[2019-03-19 08:54] fniephaus commented on #1080
Thanks for the quick fix!

[2019-03-19 08:54] #1080 closed

[2019-03-19 09:26] grumpyrodriguez commented on #955
@christianwimmer any comments regarding the feasibility of a solution for third party code? Even some cumbersome external hint/config mechanism would be OK. I recently saw mention of a runtime tracing tool (of sorts) for Graal that discovers runtime invocation of types to create configurations for Graal (rough description) A solution like that would also be great for this case. Just speculating he

[2019-03-19 10:29] ilopmar opened #1081 "Segfault using Micronaut application and native image agent"
I've tried to use the native-image agent the generate the appropriate reflect.json files according to https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md and I've hit a segfault.

To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-service-discovery-consul-http-client`
- `cd micronaut-service-discovery-consul-http-client`
- Use latest Graal from

[2019-03-19 10:59] eliasvasylenko commented on #326
Servo may be worth exploring for this in the long term. It's almost entirely Rust afaiu, so can hopefully be targeted to Sulong, and apparently ["pluggable engines is a long-term, low-priority goal"](https://github.com/servo/servo/wiki/Design#javascript-and-dom-bindings). (Though that document appears to be pretty outdated and I can't find anything in the issue tracker about it.)

Maybe this could

[2019-03-19 11:10] thomaswue commented on #326
We are currently exploring the possibility of a GraalVM-based Electron.

[2019-03-19 12:30] jerrinot opened #1082 "SubstrateVM: Error in MulticastSocket"
[code]
this fails with
[code]

I am not quite sure what's the best way to debug native images. When running with strace I can see:
[code]

I assume SubstrateVM calls `setsockopt()` and pass a value `1` instead of a point to value `1`
[code]

[2019-03-19 13:05] gilles-duboscq commented on #1050
This should be fixed by b59108dee720ab4a051aa734ccaa322c09e117d5 (not in rc14 but in the next one).

[2019-03-19 13:12] fniephaus commented on #1050
Perfect, thanks a lot! Will build a VM from tip to confirm this is fixed and will re-open this issue if the problem persists.

[2019-03-19 13:38] ge0ffrey opened #1083 "Fatal error when writes an XLSX file with POI from optaplanner-examples"
To reproduce:

- git clone https://github.com/kiegroup/optaplanner
- mvn clean install
- open pom.xml in intellij
- Run ConferenceSchedulingApp (with working directory "optaplanner-example" !)
- Quick open a file on the left
- Click button "show in libreoffice/excell"

Result:
[code]

This is on Fedora, run from IntelliJ, using Graal from the download site. Using poi 3.17.

[2019-03-19 13:39] ge0ffrey commented on #1083
Crash logs:

hs_err_pid24709.log
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00000000000070f0, pid=24709, tid=0x00007f5048386700
#
# JRE version: OpenJDK Runtime Environment (8.0_202-b08) (build 1.8.0_202-20190206132807.buildslave.jdk8u-src-tar--b08)
# Java VM: OpenJDK GraalVM CE 1.0.0-rc13 (25.202-b08-jvmci-0.55 mixed mode linux-amd64 compressed

[2019-03-19 13:55] fniephaus commented on #1050
I'm afraid the problem is still there:
[code]

Corresponding dump: [graal_diagnostics_66210.zip](https://github.com/oracle/graal/files/2983655/graal_diagnostics_66210.zip).

I have a) verified I'm still seeing the error on RC14, b) build a new VM via `mx --dynamicimports /substratevm,/tools build` in `vm/` from `master` @ 86d3a1c69f80c5b28e97fb9f2fb40325f35a6326 (which includes https://github.com/

[2019-03-19 13:56] fniephaus commented on #1050
Unfortunately, I can't seem to re-open the issue...

[2019-03-19 13:57] johanvos opened #1084 "Allow LLVM 7.0.0 to be used"
At this moment, there is a hard check on llvm 6.0.0 or 6.0.1 to be used. Version 7.0.0 works fine as well though.

[2019-03-19 14:34] victor-smirnov commented on #832
Thank you, Andreas, again! I confirm that RC14 passes our memory leak tests. So I'm closing this issue for now.

[2019-03-19 14:34] #832 closed

[2019-03-19 14:45] dbolkensteyn opened #1086 "native-image static linking error: undefined reference to `dlsym'"
While trying to create a static executable using `oracle/graalvm-ce:1.0.0-rc14`'s [Docker image](https://hub.docker.com/r/oracle/graalvm-ce/tags) for an application similar to [gRPC's Java HelloWorld Server](https://github.com/grpc/grpc-java/blob/master/examples/src/main/java/io/grpc/examples/helloworld/HelloWorldServer.java), I stumbled upon this error:
[code]
Removing the `--static` argument fro

[2019-03-19 14:51] gilles-duboscq commented on #1050
Hey @fniephaus, any way you could share something we can use to reproduce? I created a test case that reproduces the same graph shape and I got the same failure earlier but it's fixed for my test case now. I can't see anything different in the new graph you sent.
If you can not share publicly, please use the email on my github profile.

[2019-03-19 16:08] jerrinot commented on #1082
indeed I can reproduce it with
[code]
please see the missing ampersand in the last `setsockopt()` call.

[2019-03-19 16:31] cstancu commented on #1077
@lbialy that would be helpful. Thanks!

[2019-03-19 16:35] cstancu commented on #1079
@mercyblitz thank you for your question. We use a compilation server in the background so subsequent calls to `native-image HelloWorld` should be faster, roughly twice as fast.

[2019-03-19 16:50] dougxc commented on #1083
Hi @ge0ffrey , this looks like a crash in native code and I don't see any compiled Graal code on the stack of the crashing thread. Can you please try running with a standard OpenJDK 8u202 binary and see if the problem reproduces there.

[2019-03-19 16:57] olpaw commented on #1086
It seems the recent introduction of `com.oracle.svm.native.jvm.posix/src/JvmFuncs.c` breaks `--static`
Can you try to rename `/opt/graalvm-ce-1.0.0-rc14/jre/lib/svm/clibraries/linux-amd64/libjvm.a` to e.g. /opt/graalvm-ce-1.0.0-rc14/jre/lib/svm/clibraries/linux-amd64/libjvm.a.bak and see if building with `--static` works then?

[2019-03-19 17:25] jerrinot commented on #1082
when I change [this](https://github.com/oracle/graal/blob/a86089fc936cb1ec199a70c6b6314021425ab64b/substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/PosixJavaNetSubstitutions.java#L1234) to:
[code]

then it seems to work. I cannot tell I fully understand it tho. This whole `WordFactory` business and Java to C-pointer translation is still a mystery to me.

As a side-note: This

[2019-03-19 17:45] dbolkensteyn commented on #1086
@olpaw Just tried that, the error then becomes `/usr/bin/ld: cannot find -ljvm` and the full logs:
[code]

[2019-03-19 17:50] dbolkensteyn commented on #1086
And indeed `native-image` succeeds with this older Docker image: `oracle/graalvm-ce:1.0.0-rc12`

[2019-03-19 17:58] olpaw commented on #1086
Thanks for this finding. This needs to be fixed for the next RC.

[2019-03-19 18:20] Peter-B-Kessler commented on #1082
Good catch!

Your fix is not the way I would have fixed it: I would have declared `optval` a `CIntPointer` at its declaration, and then used `optval.read` and `optval.write` to access it where I was dealing with it as an `int`, and passed plain `optval` where I needed a `WordPointer`.

I will go fix it.  Thanks for the report.

[2019-03-19 19:57] jerrinot commented on #1082
@Peter-B-Kessler: your fix looks better indeed!

to piggy-back on this issue: Is there any quick way to try changes in the `com.oracle.svm.core.posix` package? full ` mx --env ce build` is quite time consuming.

[2019-03-19 22:29] Sanne opened #1087 "ClassCastException on java.net.Socket#setSoLinger"
There's a simple ClassCastException triggered by attempting to explicitly control the SO_LINGER flag on a `java.net.Socket`.

[code]

I've already looked at investigating the reason; since it looks simple enough I'll try to fix it myself rather than boring you with further details :) I'll send a patch shortly.

Thanks

[2019-03-19 23:15] Peter-B-Kessler commented on #1082
@cstancu: Can you answer the question about less time-consuming ways to test out changes?  I certainly do not build the whole CE distribution to test out changes.  But I do not want to hand out  confusing instructions if there is already a nice write-up on how to build just a native image for, say, a test.

[2019-03-19 23:30] cstancu commented on #1082
@jerrinot  If you are only interested in `native-image` you can build a light version of GraalVM running `mx --disable-polyglot --disable-libpolyglot --dynamicimports /substratevm build` in [`graal/vm`](https://github.com/oracle/graal/tree/master/vm). See the [VM suite documentation](https://github.com/oracle/graal/tree/master/vm#vm-suite) for more details.

[2019-03-19 23:35] jerrinot commented on #1082
Thanks to both of you!

[2019-03-19 23:46] Peter-B-Kessler commented on #1087
Are you saying that `Object value` can be either an `Integer` or a `Boolean` in the case of `SO_LINGER`?  I would be in favor of not trying to interpret `value` until I knew what I wanted out of it.  That's what the C code does, e.g., at the C line 945 and C line 952.

The C code at C lines 934-940 are only _setting up_ to access `Integer.value`, they are not accessing that field.  So, yes, the "e

[2019-03-20 00:02] Sanne commented on #1087
hi @Peter-B-Kessler thanks for the quick check!

to confirm, yes one could have a `Boolean` instance there instead of an `Integer`. I can easily get a `ClassCastException`, with a one liner reproducer:

     socket.setSoLinger(false, i); //(with any value of i)

Good idea to reduce the scopes. I'll change that.

Regarding `LibC.memcpy(optval_Pointer, optval_Pointer, WordFactory.unsigned(optlen))`

[2019-03-20 00:11] Sanne commented on #1087
pushed an updated patch, accessing it only when needed like you suggested.

Thanks! it's indeed looking better as the Boolean seems to be ignored.

[2019-03-20 05:24] mercyblitz commented on #1079
@cstancu Is it possible to use it under Build Tools, like Maven or Gradle?

[2019-03-20 05:32] cstancu commented on #1079
Yes, please read [this article](https://medium.com/graalvm/simplifying-native-image-generation-with-maven-plugin-and-embeddable-configuration-d5b283b92f57) for details on maven support.

[2019-03-20 05:36] cstancu commented on #1079
By the way, if you have questions you can also check out the `native-image` [gitter channel](https://gitter.im/graalvm/native-image). You may get a faster response there.

[2019-03-20 09:37] eliasvasylenko commented on #326
Interesting. So is what you're exploring something like a drop-in replacement? That is, fork Electron with whatever modifications may be necessary to swap V8 out for GraalJS and target to Sulong?

In the spirit of the original issue/question then, facilitating integration with JavaFX (and other non-node-based applications) is not necessarily a goal for you internally. Does that sound like a reason

[2019-03-20 10:43] fniephaus opened #1089 "[Question] InteropLibrary#getArraySize returns long?"
Why does `InteropLibrary#getArraySize` return a `long` rather than an `int`? So that arrays larger than `int` are also supported? I'm wondering if there are any languages supporting arrays with sizes greater than `Integer.MAX_VALUE`.

https://github.com/oracle/graal/blob/8abfc4fbdc763d0f792ab196ef1aad630c68f5d2/truffle/src/com.oracle.truffle.api.interop/src/com/oracle/truffle/api/interop/InteropLi

[2019-03-20 15:56] johanvos opened #1090 "LLVM for ARM64"
I added some arm64 specific code for the LLVM backend to https://github.com/johanvos/graal/tree/llvmarm64 (most of the changes coming from https://github.com/loicottet/graal/tree/lottet/aarch64-squashed)

When trying to compile HelloWorld using
mx native-image -H:CompilerBackend=llvm -H:-MultiThreaded -H:-SpawnIsolates -Dsvm.platform=org.graalvm.nativeimage.Platform\$LINUX_AArch6
4 -H:+ReportExcep

[2019-03-20 16:25] dsyer commented on #1086
I get this even without `--static`. Is that different? Should I open another issue?

[2019-03-20 16:27] mercyblitz commented on #1079
@cstancu Thanks.

[2019-03-20 16:27] #1079 closed

[2019-03-20 16:27] olpaw commented on #1086
Yes please. (with specific descriptions how to reproduce).

[2019-03-20 16:28] dsyer commented on #997
This one is fixed now (in rc14). Probably when the logging libraries started working (#728).

[2019-03-20 16:28] #997 closed

[2019-03-20 16:31] dsyer opened #1091 "Native image build failure: undefined reference to 'dlsym'"
[code]

Sample to reproduce (subdir called "rest"): https://github.com/sdeleuze/graal-issues/pull/4

See #1086 - looks like the same error but I didn't use `--static`.

[2019-03-20 16:58] cstancu commented on #997
@dsyer thanks for checking back!

[2019-03-20 17:40] bobvandette commented on #1086
The problem seems to stem from the fact the -ldl shows up on the link line before -ljvm.

The solutions I see are:

1. Add --start-group and --end-group around all libraries on the link line to cause the libraries to be searched more than once.
2. Remove the dependency on Jvm.java unless we are using the JNI static libraries.
This involves changing the annotations on Jvm.java to be LINUX_JNI and D

[2019-03-20 19:24] peter-hofer commented on #1065
I think supporting existing Java agents (or even JVMTI agents) in the image build would not be straightforward because they are quite often more dynamic than just instrumenting bytecode when it is first loaded, and agents can also affect the code of the image build itself and not just application and library classes. I'm also not sure whether they work currently work well with JVMCI. This could be

[2019-03-20 19:24] peter-hofer commented on #1065
(closed unintentionally)

[2019-03-20 20:46] jperedadnr opened #1092 "[native-image] Error calling Class::getCanonicalName, as Class.reflectionData not supported"
In DynamicHub.java, `reflectionData` is marked as not supported yet for JDK9OrLater.

This causes an error when calling `Class::getCanonicalName`, with JDK 11.0.2.

For instance this call:

[code]

fails with:

[code]

[2019-03-21 00:33] cstancu commented on #659
Fixed by https://github.com/oracle/graal/commit/f68406219a9edb55922605fc4782f135bb2739b3.

The problem was that the reflection metadata objects intrinsified during compilation were not properly initialized. Objects like `java.lang.reflect.Method` have some lazily initialized fields. We eagerly trigger the initialization during analysis to make sure that the reflection metadata objects written in t

[2019-03-21 00:33] #659 closed

[2019-03-21 00:34] cstancu commented on #717
Fixed by https://github.com/oracle/graal/commit/f68406219a9edb55922605fc4782f135bb2739b3. See https://github.com/oracle/graal/issues/659#issuecomment-475078954 for details.

[2019-03-21 00:34] #717 closed

[2019-03-21 05:56] nicokosi commented on #420
Thank you very much @cstancu for your patience and for these information. 👍
I am now able to report unsupported features on GraalVM Community Edition 1.0 RC14 via the following command
```native-image --no-server --verbose  -J-Xmx14g --report-unsupported-elements-at-runtime -jar target/hubstats-0.1.0-SNAPSHOT-standalone.jar``` which fails after 2 minutes. 💥
As a consequence, I close this issue. 🎉

[2019-03-21 05:56] #420 closed

[2019-03-21 09:05] graemerocher commented on #659
Great news!

[2019-03-21 10:33] peter-hofer commented on #1081
No longer occurs with c251ed44467a384a344ae3c51cb5c8a6836e4748. Note that I had to add the following to `application.yaml` or I would get `UnresolvedAddressException: null` on startup:
[code]

[2019-03-21 10:33] #1081 closed

[2019-03-21 10:59] ilopmar commented on #1081
Thanks. I'll check that null on out side

[2019-03-21 13:44] olpaw commented on #1091
Hmm, for some reason i cannot reproduce the issue with RC14
[code]
LGTM. I tested with
[code]

Anyway, fixing #1086 should also solve your problem here.

[2019-03-21 14:09] bsideup commented on #1065
It would be nice if `native-image` will support one-time class file transformations.

Preferably with the existing Java Agents API (simulating `premain`), but if a separate API will be required, that's not a blocker for our use cases.

[2019-03-21 15:18] dmlloyd commented on #841
@Peter-B-Kessler is there a reason for relying on GCC-specific builtins in this code e.g. `__sync_val_compare_and_swap` and so forth?  If you're already requiring GCC in this way... why not use the [C11 standard constructs](https://en.cppreference.com/w/c/atomic) instead?

[2019-03-21 15:53] ryankennedy commented on #801
Related, the version number conflicts with the “vanilla” JDK, which makes it impossible (AFAICT, maybe there’s another parameter I could be using) to use `/usr/libexec/java_home` to select GraalVM from among the installed JVMs…

[code]

[2019-03-21 16:26] gjevardat opened #1096 "Native image compile issue"
Hello using the rc-13 version I have issues with META-INF/services.
I read that now it is handled automatically like described in
        graal/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGeneratorRunner.java

or maybe I miss something and I have to write this json file by myself like here : https://github.com/cstancu/native-image-service-loader-demo

My exact error

[2019-03-21 17:19] errikos commented on #326
Hi. As @thomaswue said, we are currently exploring how we can integrate GraalVM with Electron.

I would say that the problem is not Electron itself, but mostly the tight coupling of Chromium and V8.

Electron is developed upon (and built against) the Chromium infrastructure. This means that it depends on most of the Chromium dependencies, one of them being V8. Electron also depends on Node, but me

[2019-03-21 17:28] olpaw commented on #1086
Fixed on master (5dbe774178c59e34f886fe884dc12cb7f0f6110b)

[2019-03-21 17:28] #1086 closed

[2019-03-21 17:29] olpaw commented on #1091
Fixed on master (5dbe774178c59e34f886fe884dc12cb7f0f6110b)

[2019-03-21 17:29] #1091 closed

[2019-03-21 17:36] rmannibucau opened #1097 "Linking command is not valid"
Hi,

shouldn't https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/c/NativeLibraries.java#L225 use a LinkedHashSet (to keep the order but also remove duplicates)?

Note that the order in the options (+ the .so) is important and prevents the linking in a lot of cases

Here is a command currently generates graal:

    cc -v -o /home/rmannibucau

[2019-03-21 18:52] cstancu commented on #1096
You can disable the automated service loader feature with `-H:-UseServiceLoaderFeature`. If you can share a reproducible example I can take a closer look.

[2019-03-21 20:07] rmannibucau opened #1098 "Stream not correctly supported"
Hi,

I would expect this code to be supported:

        final List<String> images = lines // lines is a List<String>
                .stream()
                .map(String::trim)
                .filter(it -> it.startsWith("foo:"))
                .map(s -> s.substring("foo:".length()))
                .map(String::trim)
                .sorted()
                .collect(toList());

however it fail

[2019-03-21 20:18] cstancu commented on #1098
A similar issue was reported before. Does [this fix ](https://github.com/oracle/graal/issues/1086#issuecomment-475327862) apply to your use case? To check it you can [build a GraalVM distribution from source](https://github.com/oracle/graal/tree/master/vm#vm-suite).

[2019-03-21 20:19] gjevardat commented on #1096
Thanks a lot I'll share the code later.
By deactivating the option you mentioned -H:-UseServiceLoaderFeature I could successfully AOT compile the whole Jar. And then at runtime I have something not that surprising:
[code]

[2019-03-21 20:49] rmannibucau opened #1099 "Weird threadlocal issue with native-image?"
Hi guys,

I'm not 100% sure of the thread local issue but here is my problem.

I have that code - in a main which is not the class Main referenced here, this one comes from tomitribe-crest library if you want to reproduce:

        final Map<Class<?>, Object> services = singletonMap(Foo.class, new Foo());
        final SystemEnvironment environment = new SystemEnvironment(services);
        Enviro

[2019-03-21 20:54] gjevardat commented on #1096
Here is my project:
https://github.com/gjevardat/graalopenjpa.git

To reproduce above stack trace:
[code]

[2019-03-21 21:06] cstancu commented on #1099
I am not sure that I understand what the problem is. Can you please provide a complete example that I can use to reproduce the issue? Do you see the same issue on a JVM?

[2019-03-21 21:53] cstancu commented on #1087
Fixed by https://github.com/oracle/graal/commit/8d2c98ca607b53b6ab1557ff207e408da81bae47.

[2019-03-21 21:53] #1087 closed

[2019-03-21 21:56] rmannibucau commented on #1099
I dont have any issue on a plain jvm. Will try to share a sample tomorrow.

[2019-03-21 21:59] cstancu commented on #1096
I just realized you were using rc13. I tried with rc14 and the image builds succesfully (without the need for `-H:-UseServiceLoaderFeature`). However when I run the image I get:
[code]

It looks like you need some reflection configuration.

[2019-03-21 22:44] ericzconfluent opened #1100 "RC14 profiler is not working"
Hello, I am trying to use the profiler before building a native image, but I am getting the following error:

`/b/b/e/graal/substratevm/src/com.oracle.svm.native.agent/src/trace-agent.c:74: Agent_OnLoad: check failed, aborting: strstr(options, output_opt) == options`

[2019-03-21 22:53] cstancu commented on #1100
The native agent has been reimplemented since RC14. Please [build from source](https://github.com/oracle/graal/tree/master/vm#vm-suite).

[2019-03-22 00:05] jesty commented on #1057
You are right, I was tricked by some other link I read.
Do you know if I can do that using a Docker image? Tonight I'm trying to do something like that:

[code]

But I got this exception:
Picked up JAVA_TOOL_OPTIONS: -agentlib:native-image-agent=trace-output=trace.json
/b/b/e/main/substratevm/src/com.oracle.svm.native.agent/src/trace-agent.c:74: Agent_OnLoad: check failed, aborting: strstr(options

[2019-03-22 00:09] cstancu commented on #1057
@jesty I think that's a failure of the agent itself, not of your setup. See also https://github.com/oracle/graal/issues/1100.

[2019-03-22 06:08] gjevardat commented on #1096
Thanks. Super it's moving forward. No idea on how to configure class reflection, I'll try to find examples and docs

[2019-03-22 07:50] jesty commented on #1057
Sorry, but in #1100 you told that I must use rc14 and in my docker file I'm using rc14. Are you ok with this? Tonight I will try with a more simple jar.
Just to know, I'm trying a simple main that do a set and get on Redis using Lettuce.

[2019-03-22 08:28] rmannibucau commented on #1099
Hi @cstancu ,

I pushed my code on github in a branch called broken-graal-threadlocal at https://github.com/rmannibucau/docosh

The interesting part is https://github.com/rmannibucau/docosh/commit/826480551bbf73a1eed8da6118620f93a41b8dda

I suspect some reflection in between is making the threadlocal tracking lost somehow since in a plain main (with 4-5 classes) I didn't reproduce it so it probabl

[2019-03-22 08:48] rmannibucau commented on #1098
Hi @cstancu,

Is there some kind of snapshot or dev version pre-built? Otherwise I can give it a try next week.
Alternatively you can use https://github.com/rmannibucau/docosh (maybe take the broken branch https://github.com/rmannibucau/docosh/blob/broken-graal-threadlocal/ and just "fix" it uncommenting the line in the Launcher class), the code is in src/main/java/com/github/rmannibucau/docker/co

[2019-03-22 08:50] loicottet commented on #1090
I suspect the `numberOfLeadingZeros` intrinsic in `ObjectHandlesImpl.getBucketIndex` returning a long instead of the expected int is the cause of this. I have pushed a patch to https://github.com/loicottet/graal/tree/lottet/aarch64-squashed, it should do the trick.

[2019-03-22 09:05] rmannibucau opened #1101 "Enable NativeImageMojo to download graalvm"
Hi,

This task is about adding a <graalVersion> and <graalBaseurl> parameters in NativeImageMojo which will download the distibution (CE from github typically, EE from OTN). The version enables to customize which one to download (important: please ensure it is really the maven version of svm, it simplifies the version management in the pom using a property). It can be fancy but optional to default

[2019-03-22 09:07] rmannibucau opened #1102 "Allow multiline <buildArgs> in native-image-maven-plugin"
There are a lot of options you can pass to native-image but if you try to do it with buildArgs parameter of the maven plugin it is quite hard when you use more than 3-4.

I see two nice options:

1. enable the buildArgs to be multiline and just "re-inline" it, this does not break current mojo and solves the issue,
2. alternatively you can use a List<String> instead of a String which will enable to

[2019-03-22 09:08] olpaw commented on #1098
I'm confident that 5dbe774178c59e34f886fe884dc12cb7f0f6110b also fixes this problem. After all, it ensures that `-ljvm` is not passed to the linker anymore.

Feel free to reopen if you can still reproduce with master. BTW, for this simple sample you can just build master of https://github.com/oracle/graal/tree/master/substratevm (see README.md) ... no need to perform a full graalvm release from so

[2019-03-22 09:08] #1098 closed

[2019-03-22 09:23] rmannibucau commented on #1098
Hi @olpaw ,

Nice trick to rebuild only substrate :+1:

I also confirm it fixes my stream issue. Thanks a lot! Guess https://github.com/oracle/graal/issues/1097 is the same then and can be closed as well.

Romain

[2019-03-22 09:24] olpaw commented on #1097
Same as https://github.com/oracle/graal/issues/1098

[2019-03-22 09:24] #1097 closed

[2019-03-22 09:54] peter-hofer commented on #1100
You're likely missing the `output=` option prefix. The argument to `java` should look like this: `-agentlib:native-image-agent=output=/path/to/output-file.json`.

[2019-03-22 10:08] rmannibucau opened #1103 "Add an option for default property editors?"
Hi guys,

Property editors discovery path is not handled by graalvm. I wonder if it wouldn't be useful to add an option to add default ones OOTB to at least handle primitive wrapper types OOTB.

Wdyt?

Romain

[2019-03-22 11:18] olpaw commented on #1102
Fixed in on master (see d1b4f2be573f08fd567bb68097f64c8cfa625849)
You can now use e.g.
[code]
instead of
[code]

[2019-03-22 11:18] #1102 closed

[2019-03-22 13:17] hugsyy opened #1105 "RInternalError: not implemented: .Internal gzcon"
Hello,
I am running Spring Boot application on oracle/graalvm-ce:1.0.0-rc11 image. I installed R language using gu tool as well. When I run an RScript this line gives error.

`load(url("link/test.rda"))`

Error:

[code]

[2019-03-22 14:51] dustpuppyNGTI opened #1106 "[native-image] Support full path name matching for classpath resources"
I'm trying to create a native image that includes all classpath resources below a given path. This does not appear possible. First I created this configuration:
[code]
When I run the `native-image` command using `-H:Log=registerResource:verbose` and the above configuration the `wwwroot/index.html` file is not mentioned. However when I use this configuration:
[code]
I see the following output:
[cod

[2019-03-22 14:56] dustpuppyNGTI commented on #1106
Sorry, my mistake. You have to omit the forward slash at the start.

[2019-03-22 14:56] #1106 closed

[2019-03-22 14:57] belaban commented on #460
Does 'closed' mean this issue has been rejected, or is it still on the todo list?

[2019-03-22 17:44] cstancu commented on #1057
No, what I said was to build from latest master since we have fixed some bugs after the RC14 release. But you may not need to. Does https://github.com/oracle/graal/issues/1100#issuecomment-475558524 solve your problem?

[2019-03-22 17:55] ericzconfluent commented on #1100
Yes I figured that out after looking at the commit history of the documentation. However, when running the RC14 EE native-image using the profiler configuration, I am now getting this error:

`Error: Error parsing reflection configuration in /home/eric/workspace/reflection_config/reflect-config.json:
Class com.google.inject.Inject not found
Verify that the configuration matches the schema describe

[2019-03-22 18:20] cstancu commented on #1099
So the only change in the `broken-graal-threadlocal` brach is commenting out `Environment.ENVIRONMENT_THREAD_LOCAL.set(environment);`?

I tried the `broken-graal-threadlocal` brach both with that line commented and not-commented and the result is the same. The image builds and when I run it I get this, in both cases:
[code]
The only difference is that I use `GraalVM Version 1.0.0-rc15-dev` built f

[2019-03-22 23:57] #1100 closed

[2019-03-23 00:05] ericzconfluent opened #1107 "RC15 profiler adding invalid characters to trace-file.json"
The trace-file.json is full of invalid characters "\00" like the line below:

`{"tracer":"reflect", "function":"newProxyInstance", "caller_class":"sun.reflect.annotation.AnnotationParser$1", "result":true, "args":["\00",["org.graalvm.compiler.graph.Node$Input"],"\00"]},`

This only appears to happen on "function":"newProxyInstance". I have built everything from latest master branch source.

[2019-03-23 02:11] quinton-hoole-2 commented on #678
@chumer Was this ever fixed?  I still seem to be seeing the same problem in community RC14.  If not, any estimate on when or if it might ever get fixed?

[2019-03-23 09:42] jesty commented on #1057
Ok, now it's clear for me. Thank you for your time. As soon as possible I will try it.

[2019-03-23 14:04] mageddo opened #1108 "ClassLoader can't solve directories on Graal binary"
### Context
I'm using [embedded flyway](https://flywaydb.org/getstarted/java) to automatically migrate my database scripts and it solves directories on classpath to load sql files

### What is expected
`java.lang.ClassLoader#getResources(String)` returns the URL for the specified directory

### What is happening
`java.lang.ClassLoader#getResources(String)` returns an empty Enumeration

### Steps t

[2019-03-23 18:31] larchanjo opened #1109 "[Question] How can I set maximum heap into a native image?"
Hello I have this Dockerfile

[code]
I am trying to pass the option -Xms=5m as specified in [Substrate VM Options](https://github.com/oracle/graal/blob/master/substratevm/OPTIONS.md), but I am receiving the error that the argument is not recognized.

To simulate the problem clone the [project](https://github.com/larchanjo/talk-tdc-2019-micronaut/tree/master/micronaut-service), edit the Dockerfile

[2019-03-23 18:40] mukel commented on #1109
Out of my head try `--native.Xmx5g` (maybe without the dot).

[2019-03-23 19:01] larchanjo commented on #1109
Error: Unrecognized option: --native.Xmx5m
Error: Unrecognized option: --native Xmx5m
Error: Unrecognized option: --native=Xmx5m

[2019-03-23 20:03] cstancu commented on #1109
@larchanjo if you are trying to set the max memory of the GC in the generated image you then need to use `-Xmx` as a run time argument and pass it to the generated image like so: `./myimage -Xmx5m`. You can test that it has the desired effect by printing `java.lang.Runtime.getRuntime().totalMemory()`. We will update the options documentation to make this clear.

If you are trying to set `-Xmx` as

[2019-03-23 20:24] larchanjo commented on #1109
Thanks a million. It works

[code]

[2019-03-23 20:24] #1109 closed

[2019-03-24 14:17] rmannibucau commented on #1099
I can confirm it works with master, thanks a lot!

[2019-03-24 14:17] #1099 closed

[2019-03-24 17:52] cstehreem opened #1110 "Unable to build graal from source"
I have been trying to build graal from source but getting a bunch of errors when I try to open the project in eclipse. But I don't seem to get any errors when I build it using mx. The steps I am performing:
1. Checked out entire graal repository.
2. Downloaded jdk-11.0.2 and set JAVA_HOME and PATH
3. cd graal/compiler
4. mx build
5. mx eclipseinit

I am getting about 400 errors currently. All of t

[2019-03-24 19:01] dougxc commented on #1110
I just tried to replicate this on a fresh Graal clone but it all seemed to load and compile fine in Eclipse. For reference, I'm using Eclipse 20180917-1800 and have `JAVA_HOME` set to `/Library/Java/JavaVirtualMachines/jdk-11.0.2.jdk/Contents/Home`. Are you sure you have JDK 11 configured as `jdk-11` in Eclipse (as instructed at the end of the output when running `mx eclipseinit`).

To answer your

[2019-03-24 19:15] cstehreem commented on #1110
Is the JAVA_HOME path specific to your system or it should be like this? I have `/home/tehreem/jdk-11.0.2`. Rest everything is similar.

[2019-03-24 19:15] REASY opened #1111 "CPU/RAM heavy application run on GraalVM"
Hello, guys. I'm working on Beam project (https://github.com/LBNL-UCB-STI/beam) and it's CPU/RAM intensive simulation. Made an experiment when run simulation on GraalVM. All the runs were on the same AWS instance (m4.16xlarge - 64 cores, 256 Gbytes RAM). Under iteration time in comparison table I've meant the time for the agent simulation (CPU intensive, there is some IO there, but it happens asyn

[2019-03-24 19:17] dougxc commented on #1110
`JAVA_HOME` is always specific to where the JDK is installed. The example I gave just happens to be the location used when installing a JDK 11 on macOS.

[2019-03-24 19:18] cstehreem commented on #1110
hmm.. I am on Ubuntu 18.04. I will checkout graal again and see if it works.

Thanks

[2019-03-25 10:45] dsyer opened #1112 "native-image-agent exits with "Agent_OnLoad: check failed, aborting""
This happens to me for all apps I tried (e.g. in this case one of @sdeleuze [issue samples](https://github.com/sdeleuze/graal-issues/tree/master/java-util-logging)):

[code]

It says in the docks it's supposed to work on Linux, and that's what I have. So what does it mean?

[2019-03-25 11:16] peter-hofer commented on #1100
Is it possible that `com.google.inject.Inject` is not on the classpath of your `native-image` commandline?

[2019-03-25 13:18] pmlopes opened #1113 "Add skip configuration property to native-image-maven-plugin"
In order to allow skiping native builds (say when running builds on environments not currently supported or CI's that are testing other sections of the project, there should be a `skip` configuration property that would avoid running the build.

This is a blocker for https://github.com/netty/netty/pull/8963

[2019-03-25 13:19] pmlopes commented on #1113
@olpaw could you advise on how to proceed here on the netty issue.

[2019-03-25 13:21] olpaw commented on #1113
@pmlopes is having such a `skip` configuration property common practice among maven-plugins?

[2019-03-25 13:34] dustpuppyNGTI commented on #1060
I'm quite certain I pointed maven to Java 8, doesn't Graal complain about the version number in the class files when you compile with 9+? It doesn't matter though, I discovered that the Spark Framework compiles flawlessly with Graal so I've thrown out the previous HTTP server.
If anyone else feels like confirming things; the code I was trying to compile is this: https://github.com/jccarrillo/java-

[2019-03-25 13:37] olpaw commented on #1113
i.e. can this also be addressed by binding the plugin execution to a profile.
see https://maven.apache.org/guides/introduction/introduction-to-profiles.html

[2019-03-25 13:45] dmlloyd commented on #1060
It's not a Graal problem at all, it's just that SubstrateVM is *noticing* the problem because of the aggressive/complete way that it analyzes the class path.

JDKs allow you to compile to old bytecode versions without restricting the class path to the corresponding JDK version.  So for example you'll get this particular covariance problem if you include *any* artifact that includes a reference to

[2019-03-25 13:50] pmlopes commented on #1113
skip configuration is quite common on many pluging, e.g.: failsafe, surefire, exec, etc... profiles are another alternative but it can become quite messy or complicated to setup, specially in the netty case:

In their case, they skip plugins when the build is run with `skipTests` or a specific skip property, so their advice is to have a `skipNativeImageTestsuite` which i can use to skip other plug

[2019-03-25 13:56] olpaw commented on #1113
Ok. I will add that. It will be part of RC15.

[2019-03-25 15:08] gjevardat commented on #1112
It works. Actually there is typo in the doc
the command line should be
native-image-agent=output=trace-file.json and not trace-output

[2019-03-25 15:27] dsyer commented on #1112
Excellent! Yes that works. But then the docs have other issues, it seems, because I cannot find a `native-image-configure` command anywhere in the Graal distro. Am I missing something?

[2019-03-25 15:32] dsyer commented on #1112
Nevermind: I found it ("This tool itself must first be built with the command `native-image --tool:native-image-configure`"). But why?

[2019-03-25 15:40] peter-hofer commented on #1112
We are currently extending the agent with more functionality, which is why we renamed that option to the more specific name of `trace-output` on `master`.
The `native-image-configure` tool must be built with `native-image --tool:native-image-configure` as described in the documentation.

[2019-03-25 15:45] dsyer commented on #1112
I guess that makes sense. But it doesn't help users of the latest release? Maybe the docs ought to be changed to help people who are trying rc14?

[2019-03-25 18:10] cstancu commented on #1060
@dmlloyd thanks for your input!

[2019-03-25 18:10] #1060 closed

[2019-03-25 18:27] steve-s commented on #1105
Hello Ulugbek,

thank you for the report. We are working on an implementation of the `.Internal gzcon`.

[2019-03-26 01:06] cstehreem commented on #1110
I tried building from a clean checkout but I am still getting the same errors. Where exactly are these jar files supposed to be?

Also what does `mx vm` do after `mx build`? For me it just prints out a command help guide.

[2019-03-26 01:35] neomatrix369 commented on #1110
@cstehreem Hi, maybe have a look at the code on https://github.com/neomatrix369/awesome-graal/tree/master/build/x86_64/linux_macos to see how it is done, hope this helps.

[2019-03-26 05:21] errantepiphany commented on #775
@rabadin @cstancu : Did you guys ever figure this out? I am having the same problem, with a relatively simple java app:
Exception in thread "main" java.lang.RuntimeException: java.lang.NullPointerException
	at errantepiphany.system.git.GitUtil.status(GitUtil.java:104)
	at errantepiphany.system.git.GitUtil.main(GitUtil.java:57)
Caused by: java.lang.NullPointerException
	at java.text.MessageFormat.a

[2019-03-26 08:12] olpaw commented on #1113
Fixed on master (d9b047d9e35f225b3e92fa60b62f03ee64ba68d0)

[2019-03-26 08:12] #1113 closed

[2019-03-26 08:49] gjevardat commented on #1112
@dsyer Indeed, I had same issue. Then I reminded that the doc is in sync with current code version not with released ones.
Somehow we should be able to access rc14 doc but I did not search how actually. It should be easy

[2019-03-26 09:17] ilopmar opened #1114 "Invalid json processed by native-image-configure tool"
I'm trying to use `native-image-configure` but I got the following error:

[code]

Please find attached the `trace-file.json` file (rename to .txt because of Github restrictions): [trace-file.json.txt](https://github.com/oracle/graal/files/3007342/trace-file.json.txt)

The json file was generated using the native-image-agent. If you need more info or the sample project used to generate the file, p

[2019-03-26 09:34] dougxc commented on #1110
I assume you're talking about the processor jars.
[code]

Add `-v` after `mx` and you'll see exactly what command is executed. It should produce the moral equivalent of just running `java` without any arguments (which also prints a usage message).
[code]

[2019-03-26 09:36] thala321 commented on #1110
Hủy
Vào 16:34, Th 3, 26 thg 3, 2019 Douglas Simon <notifications@github.com> đã
viết:

[2019-03-26 10:35] dustpuppyNGTI commented on #1060
@dmlloyd got it. I rechecked the project and maven had both target and source set to 8 and JAVA_HOME was pointing to a JDK 8 installation it still had the original error. This configuration however fixed the error:
[code]
target and source cannot be removed or maven won't compile, and the release setting is necessary to fix the classpath issue. The code now compiles and runs :)

[2019-03-26 12:11] peter-hofer commented on #1112
Apologies for the confusion, GitHub most prominently displays the files of `master`, including documentation. You can access the docs of a specific distribution by selecting its tag in the top-left drop-down menu, which in this case, would give you: https://github.com/oracle/graal/blob/vm-1.0.0-rc14/substratevm/CONFIGURE.md
We don't plan on changing the name of the options again, so this issue sho

[2019-03-26 12:11] #1112 closed

[2019-03-26 13:23] gjevardat opened #1115 "Strange ClassNotFound exception"
Here is the situation using rc14
I have a fat executable jar (using openjpa) on which I run the native-image config file generator tool. It works well and I obtain all the different config json files.
[code]

Then I run the  native-image generation and it is also working well.
[code]

Then when I execute the native image I have a ClassNotFoundException
[code]

It is puzzling because I'am 100% sure

[2019-03-26 13:29] evacchi commented on #775
unless you actually need to instantiate JGit at each run, I would advise to move it to a static field, so that you can benefit from eager static initialization, at native-image generation. This is likely to fix your problem.

see this article for details on how static initializers work in native image generation https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-

[2019-03-26 14:47] dmlloyd commented on #841
It looks like the design of signal handling doesn't employ a single-threaded `sigwait` strategy, instead relying on regular process-wide async signal handlers.  As such, the handler needs a way to unblock a waiting thread that's safe for use within a signal handler.  The `sem_post` function fits this bill, as do `read`/`write`.  So it's either use an anonymous semaphore (but only on Linux), switch

[2019-03-26 14:48] dmlloyd commented on #841
Hmm I don't understand how/why I just unassigned @Peter-B-Kessler just by replying to a comment.  GitHub confounds again.

[2019-03-26 17:19] cstancu commented on #1114
@ilopmar thanks for the report. This is the same as https://github.com/oracle/graal/issues/1107.

[2019-03-26 17:19] #1114 closed

[2019-03-26 17:23] cstancu commented on #1115
@gjevardat is `org.apache.openjpa.jdbc.kernel.JDBCBrokerFactory` in the reflection config file? Do you see any warnings regarding registering elements for reflection from the `native-image` command?

[2019-03-26 18:29] headius commented on #1075
The setup is a bit involved so I can get back to you on that if the dumps are insufficient.

I've shared three dumps that occurred while using GraalVM to run a JRuby on Rails benchmark: https://drive.google.com/drive/folders/11eTZOJvv2vL9e_wCWTaoz3ffqSJtSSvP?usp=sharing

[2019-03-26 18:33] gjevardat commented on #1115
Good question :) Actually it is not in the reflection config file. But if I add it manually it produces same ClassNotFound error.
In my first attempts to build native image using manually feeded config file I had to add this reflection config for JDBCBroker Factory, but for whatever reason the trace agent does not...

[2019-03-26 18:35] gjevardat commented on #1115
Can I provide a classpath to native image such that it can load bytecode if the class is not found in the native image ?

[2019-03-26 18:42] gjevardat commented on #1115
To answer your question I do not see any warnings during native image build

[2019-03-26 19:53] ilopmar commented on #1114
Upps, sorry about that.

[2019-03-26 22:15] thegreystone commented on #1065
Sorry for not following up. Agreed, limited functionality will go a long way - feeding the classes to be part of the image through the agent(s) and allowing them a go at transforming them will go a long way for my use case(s) too.

[2019-03-27 07:39] dougxc commented on #1065
JVMCI and Graal work fine with JVMTI agents (it's a bug if they don't). We also load method substitution bytecode from disk to avoid instrumentation effects.

[2019-03-27 08:49] maxum2610 commented on #994
I created an example on labsjdk1.8.0_192-jvmci-0.53 and graal/svm rc14 using Johans simplesvm example and cubuspl42's build script here:
https://github.com/maxum2610/HelloJFX-GraalSVM

[2019-03-27 12:43] moorsu commented on #966
Hi @cstancu, Apology for the delay. Here are the steps to reproduce the problem

Write a test program to open a java.sql.Connection using the SQLite JDBC driver org.xerial.sqlite-jdbc.jar (version 3.18.0)

try {
Class.forName("org.sqlite.JDBC");
Connection  connection = DriverManager.getConnection("jdbc:sqlite:mydb");
}
catch (Exception e){
}

Or use the example program from

https://bitbucket.org

[2019-03-27 21:04] melix opened #1118 "Trace agent crashes JVM"
If I try to use the trace agent on a Gradle build, the JVM will crash. Example:

[code]

then create a `gradle.properties` file:

[code]

and run the build:

[code]

it will start dumping into `/tmp/trace-xxx.json` then suddenly fail with:

[code]

[2019-03-28 10:04] peter-hofer commented on #1118
Which version of GraalVM are you using? We have addressed several issues since RC14, so this might be fixed in `master`. If you're using the agent from `master`, please provide any output from the JVM process and the `hs_err_pid` crash report file from the JVM.

[2019-03-28 11:16] gilles-duboscq commented on #1075
Thank you for the dumps!
After a quick look I think they should be enough to identify and fix the issue.

[2019-03-28 11:20] melix commented on #1118
I'm using rc14.

[2019-03-28 13:23] chumer commented on #678
@quinton-hoole-2 Unfortunately no. It takes longer because it involves some interop protocol changes. The way to do this atm is by calling a JavaScript method that returns all the symbols. You can then read/write or invoke them.

[2019-03-28 14:22] tema3210 opened #1119 "Q: Can it be(Potentially) built like a unikernel image?"
This question is inspired by unikernel approach, since it allows us to cut off all trash which we don't use, and get another benefits of unikernels.

[2019-03-28 14:34] borkdude commented on #966
I'm interested in using sqlite with GraalVM native too.
I'm getting this Exception:

[code]

[2019-03-28 15:42] quinton-hoole-2 commented on #678
Thanks @chumer.  We'll use that workaround in the mean time.

[2019-03-28 17:53] normanmaurer commented on #1113
@olpaw thanks for fixing.

[2019-03-28 18:46] cstancu commented on #1119
@tema3210 this question has been asked before. Please see https://github.com/oracle/graal/issues/393. I will close this as a duplicate.

[2019-03-28 18:46] #1119 closed

[2019-03-28 18:49] borkdude commented on #966
There's also an issue for this in the sqlite-jdbc project:
https://github.com/xerial/sqlite-jdbc/issues/413

[2019-03-28 23:41] peblpebl opened #1120 "mx libffi on cygwin"
When doing a mx eclipseinit I get:
<pre>
$ ../mx/mx eclipseinit
WARNING: File .libs/libffi.a for archive libffi does not exist.
WARNING: File include/ffi.h for archive libffi does not exist.
WARNING: File include/ffitarget.h for archive libffi does not exist.
Error while creating project libffi
Traceback (most recent call last):
  File "/cygdrive/d/shared/git/mx/mx.py", line 19151, in <module>

[2019-03-29 08:48] dougxc commented on #1120
@rschatz is it realistic to expect Truffle NFI to compile on cygwin?

[2019-03-29 09:36] #841 closed

[2019-03-29 09:36] rschatz commented on #1120
Sure, no reason why it shouldn't work. There is the question of what it should actually do, i.e. should it use cygwin's libs (e.g. `dlopen` instead of `GetProcAddress`), or rather still use the Windows APIs? Currently it would probably use the Windows APIs, but I'm not 100% sure (might need some fixing of `#ifdef`s). It probably doesn't make a difference.

But this error rather looks like a differ

[2019-03-29 10:40] peblpebl commented on #1120
It was late so I forgot to mention that
<pre>
$ ls -l graal/truffle/mxbuild/cygwin-amd64/src/libffi/libffi-3.2.1/
total 0
</pre>
So I would assume mx failed at downloading libffi src for cygwin, and only complained when trying to compile.

[2019-03-29 11:01] TisonKun opened #1121 "[question] unsupported java options"
Recently I try to build [Apache Flink](https://github.com/apache/flink) with graalvm-rc13. It fails as described below. Thus I guess that graalvm support limited `java` options, and comes to here for help.

[code]

**How to reproduce:**  checkout flink repo and run `mvn clean install`.

[2019-03-29 14:58] shelajev commented on #1121
can you please provide more details on the error, for example if you run this command:
`/bin/sh -c cd /Users/tison/Repository/flink/flink-runtime && /Users/tison/.sdkman/candidates/java/1.0.0-rc-13-grl/jre/bin/java -Xms256m -Xmx2048m -Dmvn.forkNumber=3 -XX:+UseG1GC -jar /Users/tison/Repository/flink/flink-runtime/target/surefire/surefirebooter8445142954569604481.jar /Users/tison/Repository/flink/f

[2019-03-29 18:03] gustav3d commented on #873
Is there any estimated timeframe for this ?:)

[2019-03-29 18:29] plokhotnyuk commented on #873
btw, does GraalVM support PrintAssembly option?

[2019-03-29 20:52] KOLANICH commented on #925
I have created scripts creating Debian/Ubuntu packages and a repo with then from binary releases published on GitHub. Though packages quality may be better (`update-alternatives` calling is not implemented currently, so some things have to be done manually), they are already useful.

Docs how to set up: https://gitlab.com/KOLANICH/GraalVM_deb_packages_CI

[2019-03-29 20:53] KOLANICH opened #1122 "Sign releases with GPG"

[2019-03-30 09:07] oroppas opened #1123 "Building Truffle NFI on Windows 10 fails"
while building `com.oracle.truffle.nfi.native` for Graal compiler:

[code]

Double quotes are missing around `C:\Program Files\Java\jdk-11\include` for `-IC:\Program Files\Java\jdk-11\include`.

[2019-03-30 13:09] dougxc commented on #1123
@pejovica can you please take care of this.

[2019-03-31 08:06] Denis7775 opened #1124 "[native-image] can't compile simple Tomcat application"
Hi!
For now I try to make a native image from simple web application with embedded Tomcat, I solved some problems connected with reflection, providing necessary classes in json file, but I faced with another problem:

[code]

the application is:

[code]
Does anyone have some ideas how to solve this problem?
Thanks

[2019-03-31 08:31] simonDeHero commented on #1118
Hi,
i have the same problem. My app is a minimal Spring Boot Web App (using annotations). Spring version is 2.1.3.RELEASE, GraalVM version is RC14. Just running it with GraalVm without the agent, it works. But running it with the agent, the JVM crashes.

my build script
[code]

graal.json
[code]

JVM output:
[code]

hs_err_pid:
[code]

thx for having a look!

[2019-03-31 08:52] TisonKun commented on #1121
[Terminal Saved Output.txt](https://github.com/oracle/graal/files/3026358/Terminal.Saved.Output.txt)

@shelajev here is the whole log when I re-run `mvn clean install`. The reason I think it is a Graal specific issue is because it fails with `ExecutionException The forked VM terminated without properly saying goodbye. VM crash or System.exit called?`

And if I run `/bin/sh -c cd /Users/tison/Repos

[2019-03-31 10:25] hpehl commented on #668
I'm facing similar issues when building the native profile of my [gRPC quickstart](https://github.com/hpehl/quarkus-grpc-quickstart):

[code]

I filed https://github.com/quarkusio/quarkus/issues/820 to track the overall progress for the gRPC extensions in Quarkus. Please let me know if you make any progress here.

[2019-03-31 11:37] ahmadmo opened #1125 "1.0.0-rc14 native image build error: No instances are allowed in the image heap"
I'm using `Quartz` in my project. building a native image results in:

[code]

[2019-04-01 03:32] cstehreem commented on #1053
Hi,

Anyone around to answer these questions?

Thanks

[2019-04-01 06:08] boris-spas commented on #1053
I'll take a crack at it. Please note that I will simplify things here quite a bit and that there is quite a bit of overlapping terminology so it gets a bit confusing. Feel free to follow up.

JIT compilation does not really play a role here. Sulong is a LLVM bitcode interpreter written in java, so in order to run it you need to execute its java bytecode (normally using a JVM). That said, GraalVM c

[2019-04-01 07:14] cstehreem commented on #1053
Thank you for explaining things. This makes sense.

I am running a loop to 1000000 iterations and it is still not printing any compilation trace. Here is my code:

`#include<stdio.h>
int main (void) {
int a  = 0;
	while(a != 1000000) {
		a++;
	}
return 0;
}`

I am generating bitcode with Clang 6.0 using this command:
`clang -c -g -emit-llvm -o test.bc test.c`

And then running it with following co

[2019-04-01 07:17] mukel commented on #1053
Try `-J-Dgraal.TraceTruffleCompilation=true` just before lli. -J... passes arguments to the underlying VM.

[2019-04-01 07:22] mukel commented on #1053
But compilation may not be triggered, not sure if Sulong supports OSR (in simple terms: jump to compiled code in the middle of a loop). As Boris mentioned put your code in a function and call it in a loop, a plain loop won't be compiled without OSR.

[2019-04-01 07:25] boris-spas commented on #1053
It will trigger some internal stuff to be compiled:
[code]

[2019-04-01 07:39] cstehreem commented on #1053
ok pointing JAVA_HOME to pre-built GraalVM image is printing compilation trace fine `lli --vm.Dgraal.TraceTruffleCompilation=true test.bc `.

However, if I try it from my own build and run using `mx lli --vm.Dgraal.TraceTruffleCompilation=true test.bc`, it doesn't print anything. Any ideas?

I changed code to make it infinite loop and also calling it in a function now.

[2019-04-01 09:49] rschatz commented on #1053
You need to do `mx --dynamicimport /compiler lli --vm.Dgraal.TraceTruffleCompilation=true test.bc`. Without the `--dynamicimport /compiler` it doesn't include the Graal compiler and therefore will never compile anything.

In a built GraalVM image, the compiler is included by default.

[2019-04-01 10:16] #876 closed

[2019-04-01 10:16] cstehreem commented on #1053
Tried that too, no luck...

[2019-04-01 11:09] rschatz commented on #1053
Whoops, sorry, forgot a flag. It's also missing `--jdk jvmci`, to actually put the compiler onto the classpath.

[code]

In general, if you want to test things that integrate multiple components of GraalVM (as in this case, Sulong + compiler), it's often easier to just build a GraalVM image containing these components, instead of working with `mx` from the source directory.

To do that, go to the

[2019-04-01 11:15] dsyer commented on #535
FWIW I think this is a duplicate of #999.

[2019-04-01 11:17] dougxc commented on #876
@christhalinger it would be great if you can verify this fixes the YourKit usage case.

[2019-04-01 11:20] peter-hofer commented on #1118
Thanks for your report @simonDeHero. This seems to be the same as https://github.com/oracle/graal/issues/1081 which has already been fixed on master.

[2019-04-01 11:22] pejovica commented on #1123
@oroppas Thanks for reporting, I'll have a fix shortly.

[2019-04-01 11:25] dsyer commented on #522
This app works for me with GraalVM rc14, as long as I have `java.util.List` in the reflection config JSON. I guess that's expected (and therefore this is fixed)?

[2019-04-01 12:13] tstupka commented on #1105
hi Ulugbek,

i understand that the original url was a complete url including the scheme - e.g. http://, https://
and not "link/test.rda", right?

[2019-04-01 12:42] hugsyy commented on #1105
@tstupka Hi Tomas, yes it was a complete url including the scheme.

[2019-04-01 12:45] cstehreem commented on #1053
Trying to build native image gives me
`OSError: [Errno 2] No such file or directory
Building com.oracle.truffle.llvm.libraries.bitcode with GNU Make failed
1 build tasks failed`

Whole Trace:
` mx --dynamicimport /sulong,/compiler build
JAVA_HOME: /home/tehreem/sulong-dev-old/labsjdk1.8.0_202-jvmci-0.57
EXTRA_JAVA_HOMES:
Dependencies removed from build:
 project com.oracle.truffle.dsl.processor.jd

[2019-04-01 13:01] cstehreem commented on #1053
as for the first method it finally worked with `mx --dynamicimport /compiler --jdk jvmci lli -Dgraal.TraceTruffleCompilation=true test.bc`
What I was doing wrong was typing `--jvm.Dgraal.TraceTruffleCompilation=true` instead of `-Dgraal.TraceTruffleCompilation=true`. Not sure why that matters though. Aren't we supposed to use vm or jvm before Dgraal?

[2019-04-01 13:17] #1053 closed

[2019-04-01 13:29] steve-s commented on #1105
in such case it should be fixed in https://github.com/oracle/fastr/commit/291d948e549c7752976b0d86cea6200b43bb4d57 and should be in the next RC build. Please reopen this issue if you experience the problem again.

[2019-04-01 13:29] #1105 closed

[2019-04-01 18:18] cstancu commented on #1124
@Denis7775 did you [enable http](https://github.com/oracle/graal/blob/master/substratevm/URL-PROTOCOLS.md#url-protocols-on-substrate-vm)? Can you please provide a complete reproducible example, i.e., also the maven/gradle config, etc.?

[2019-04-01 18:25] cstancu commented on #1125
The initialization of `NativePRNG` is [rerun at run time](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/SecurityServicesFeature.java#L93). This [article](https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-generation-d765b7e4d6ed) should help understanding class initialization on `native-image`.

[2019-04-01 18:31] cstancu commented on #522
@dsyer yes, if adding `java.util.List` to the reflection config fixes the problem then I wouldn't consider this a bug. Thank you for reporting back!

[2019-04-01 18:31] #522 closed

[2019-04-02 08:03] johanvos opened #1126 "emitPause not implemented in LLVM backend"
The LLVMGenerator has currently no implementation for emitPause:

Caused by: org.graalvm.compiler.debug.GraalError: unimplemented
	at jdk.internal.vm.compiler/org.graalvm.compiler.debug.GraalError.unimplemented(GraalError.java:39)
	at org.graalvm.compiler.core.llvm.LLVMGenerator.emitPause(LLVMGenerator.java:951)
	at jdk.internal.vm.compiler/org.graalvm.compiler.nodes.PauseNode.generate(PauseNode.j

[2019-04-02 10:55] ilopmar opened #1127 "UnsupportedFeatureException with Micronaut and Hibernate/JPA"
I'm trying to build a native-image for a Micronaut application that uses Hiberate/JPA and the generation of the native image fails.

To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-hibernate-graal`
- `cd micronaut-hibernate-graal`
- Use Graal from master branch (currently rc15-dev)
- `./build-native-image.sh`

Error:
[code]

When the native-image generation

[2019-04-02 11:06] graemerocher commented on #1127
Doesn't seem related to Hibernate, but to h2 in-memory database

[2019-04-02 11:31] vjovanov commented on #1126
@loicottet the only thing I found (besides writing our own assembly) is:

  https://llvm.org/docs/LangRef.html#llvm-donothing-intrinsic

WDYT?

[2019-04-03 05:32] TisonKun opened #1130 "polyglot - multi-thread failed when ruby `require 'git'`"
ref oracle/truffleruby#1643

Since it looks like a general issue, also track in this repo.

[2019-04-03 07:58] Denis7775 commented on #1124
@cstancu , the repo https://github.com/Denis7775/tomcat-native-image, I've solved some problems with reflection(tomcat-reflection-config.json)
1)I tried to construct image within the jar that now in repo(out/...) and get the next error while compiling
[code]
but dispite thit mistake, image finally constructed and I get a mistake that I've already mention in this issue

2)After that I tried to reco

[2019-04-03 10:21] ilopmar commented on #1127
As Graeme mentioned it seems related to H2. I've switched to Mysql (the changes are in branch `mysql`) and the error is:
[code]

[2019-04-03 18:16] bobmcwhirter commented on #1090
fwiw, all of the `aarch64-squashed` bits have been merged into master now.

Pull https://github.com/oracle/graal/pull/1128 is still outstanding.

Dunno if this affects LLVM at all though.

[2019-04-03 18:25] bobmcwhirter commented on #651
@dougxc any branch or place we can experiment with the JDK11+ support, and contribute to help things along?

[2019-04-03 18:36] trnla commented on #651
Due to silence here I developed a feeling that Graal will be commercial for Java 11

[2019-04-03 19:05] dougxc commented on #651
There's no active branch of development apart from what's here on GitHub.

These are some of the larger pieces no one has spent time on yet:
* Implement Truffle and Graal isolation from the application in terms of module access control instead of class loaders. That is, use modules to do what we currently do with the JVMCI class loader (i.e. `-XX:+UseJVMCIClassLoader`).
* Modify the JDK 11 build s

[2019-04-04 00:15] christianwimmer commented on #651
The current status for Native Image generation on JDK 11 is "something in the middle": you can build the source tree and build non-trivial native images with JDK 11. However, new Java APIs added after JDK 8 are only supported on a basic level. For example, we "support" the module system by always just returning the same singleton `Module` instance when you ask a class for its module.

As Doug said

[2019-04-04 06:48] SchulteMarkus commented on #651
Thanks for updates, @dougxc and @christianwimmer

[2019-04-04 19:47] jmaschad opened #1133 "Truffle language installation after update from rc12 to rc14"
After updating from graal 1.0.0-rc12 to 1.0.0-rc14 I get an `IllegalArgumentException` when trying to eval a script of my truffle language. When switching back to rc12 everything works fine again.

[code]

I searched the change log and also tried to find a relevant change in *Simple Language* but could not find anything.

[2019-04-04 22:53] ssmooncoder commented on #403
Is this project dead? I guess React is the way to go for native ui...

[2019-04-05 03:01] ralleman opened #1134 "TypeError: WRITE on foreign object failed due to: Message not supported: WRITE"
Hi all,

I'm getting this odd message when setting a ProxyObject property value in JavaScript:

I'm quite stuck why I'm getting this because I have a few other ProxyObject implementations that are all working fine. Oddly, I can call the other methods of the ProxyObect, but not the putMember on this specific class.

Note that the class is a non-static Inner class of another ProxyObject, however, I

[2019-04-05 03:14] ralleman commented on #1134
Another clue is that a PolyglotException is not thrown, rather the eval returns with a rejected Promise.

[2019-04-05 09:09] chumer commented on #1134
Could you provide us with a snippet of the JavaScript code you are using to access the proxy object?
Note that you should not be able to call any Java methods on a ProxyObject directly.

[2019-04-05 10:10] cubuspl42 commented on #403
@ssmooncoder You must be confused, nobody ever suggested that GraalFX+JavaFX (JavaFXPorts with iOS support, I assume?...) is a production-ready solution for developing mobile applications.

[2019-04-05 10:22] ralleman commented on #1134
It's a little complicated, but here goes:

I eval this, returning a Value, which is a JS class "function":

[code]
I then assign the value to a property in the context, e.g. com.mydomain.Object.

Then I eval something like this returning a Value containing another class "function":

[code]

I then assign this to a property in the context com.mydomain.Lookup.

Then I eval "com.mydomain.Lookup" with

[2019-04-05 16:01] elgris commented on #979
Observed the same issue on 1.0.0-rc14 **CE** following  [Top 10 Things To Do With GraalVM](https://medium.com/graalvm/graalvm-ten-things-12d9111f307d) article ([source](http://bit.ly/graalvm-10-things-sources)).

**Steps to reproduce**:

1. With [the source](http://bit.ly/graalvm-10-things-sources):
[code]
2. Run `gtime -v  ~/GraalVM/bin/java TopTen large.txt`:

[code]
3. Run `gtime -v ./topten la

[2019-04-05 16:27] dsyer opened #1135 "Native image blows up when it accesses Method.getDefaultValue()"
`Annotation` classes have `Methods` with default values. It is useful to access the default value reflectively, but it blows up in a native image, even if you declare the annotation type in `reflect-confg.json`.

Here's an example error:

[code]

Sample project: https://github.com/sdeleuze/graal-issues/pull/9

[2019-04-05 16:32] dsyer commented on #1135
Similar to #1135 (arises in a similar use case) but the error is different, so possibly not the same thing.

[2019-04-05 18:15] KOLANICH commented on #1122
@ansalond

[2019-04-05 18:45] thomaswue commented on #403
@johanvos did some recent work in the area of supporting JavaFX via native images.

[2019-04-05 22:17] AzeemJiva commented on #1122
Who's GPG key would we use?  Can we do this as part of CICD?  I also recommend generating a SHA256 for the binary as a first step.