[2019-07-04 15:48] aclement commented on #1462
If I remove it (from build time init) I get this:
[code]

which I guess indicates it comes in due to `org.springframework.jmx.support.MBeanServerFactoryBean.destroy(MBeanServerFactoryBean.java:210)`

[2019-07-04 16:07] vjovanov commented on #1462
@olpaw it seems that we can't use rerun for `com.sun.jmx.mbeanserver.MXBeanLookup`

[2019-07-04 17:45] aclement commented on #1462
I used some substitutes to temporarily get around the code bringing it in (as I don't actually need it for this app). Nice work on the compile times!
[code]

[2019-07-04 21:04] Figurante17 opened #1468 "[native-image]-[plugin-maven] - executable can not find parameters"
Hi

I have a project made in gatling + maven and would like to use graalvm in our project.

see the code snippet below, it's working

[code]

`./loadtestRun`

however this does not meet our needs, we would like it to be like this

[code]
`  ./loadtestRun -Dgatling.conf.file=gatling-dinner-dev.conf -Dgatling.data.graphite.rootPathPrefix=test-lt.dinnerpushsimulation `

what is happening is that ./lo

[2019-07-05 00:56] lilili87222 commented on #1450
I get a way
String nativepath=org.graalvm.nativeimage.ProcessProperties.getExecutableName();
but this dependent on graal-sdk.jar,
Maybe it is better to  put this value to the System.getProperties();  default

[2019-07-05 06:10] KIC commented on #1467
PS If I downgrade graalvm to 19.0.2 then I get a different error:

[code]

[2019-07-05 07:20] olpaw commented on #1468
I assume somewhere in your code you assign the system property `gatling.conf.file` to **a static field**. In native-image `1.0.0-rc16` such code always got evaluated at **image build time** (thus baked into the image with the value the property had at image build time). In newer versions this was fixed and the default is now to execute static initializers at **image runtime** (thus capturing the s

[2019-07-05 07:25] sogaiu opened #1469 "[native-image] java.io.Exception on Windows slurping built-in Clojure wrapper of stdin"
## Introduction

There appears to be some issue on Windows involving native-image binaries of Clojure programs that try to read from Clojure's wrapper of standard input.  (In contrast, this does not appear to occur for analogous situations under Linux distributions.)

Consider the following code:

[code]

This is supposed to print some output, read from standard input, and then print some more out

[2019-07-05 07:28] olpaw commented on #1467
Please also upgrade your plugin version to `19.1.0`.

In general you should not expect older versions of the plugin to work with newer versions of GraalVM. (The other way around is more likely to work unless there are JVMCI API changes a new plugin version depends on that are not available in the GraalVM you use as `JAVA_HOME`).

[2019-07-05 07:38] borkdude commented on #1469
I can attest that this affects [clj-kondo](https://github.com/borkdude/clj-kondo) on Windows as well.

[2019-07-05 08:16] ziyilin opened #1470 "Why SVM cannot automatically detect reflection on getDeclaredFields?"
SVM requires configuration for reflections such as getDeclaredFields. It seems very easy to obtain such a fixed function name automatically. Why still need to explicitly set "allDeclaredFields=true" in the configuration file?

[2019-07-05 09:02] sogaiu commented on #1407
For Windows 10, msvcr100.dll from VS C++ Redistributable 2010 appears to be sufficient for simple setups.

On a related note, due to Windows' different and complicated methods of determining which dlls to load, it appears significantly more complex than necessary (at least compared to macos and various linux distributions) to ensure the appropriate dll is loaded and not some other file that happen

[2019-07-05 13:00] ziyilin opened #1471 "SVM reporting reflection failure at runtime, bug or feature?"
I found SVM would not report reflection failure when it cannot deduce necessary information to constant, but leave it to runtime. Given a simple case:

[code]

SVM will build it into a native image without any complains, but throws
`Exception in thread "main" java.lang.NoSuchFieldException: a`
during runtime.
I think the early to report such failures the better. Is this a bug or feature? What's th

[2019-07-05 13:19] apetrelli commented on #1397
I tried with GraalVM 19.1.0 and plugin version 19.1.0 and the initial error does not appear, so I suppose this issue can be closed.

[2019-07-05 13:21] olpaw commented on #1397
@apetrelli thanks for checking!

[2019-07-05 13:21] #1397 closed

[2019-07-05 14:05] dniel commented on #1350
@Tetragramato seems like --initialize-at-build-time parameter fixed NoClassDefFoundException for org.eclipse.jetty.server.HttpOutput. Now I got to fix reflection trouble with Servlet initialization.

[2019-07-05 14:05] Figurante17 commented on #1468
I updated the maven plugin version and my graalvm

but still can not find my parameters :(

below the changes:

[code]

[code]

```./loadtestRun -Dgatling.conf.file=gatling-dinner-dev.conf -Dgatling.data.graphite.rootPathPrefix=test-lt.dinnerpushsimulation```

[2019-07-05 14:22] olpaw commented on #1468
Do you have the source available? Please add steps to reproduce so that we can take a look,

[2019-07-05 14:56] prdoyle opened #1472 "SimpleLanguage unit tests fail on Windows 10"
Running `mvn package` produces the following test failures for me:

[code]

I'm running on Windows under Babun.  `mvn --version`:

[code]

Environment variables:
[code]

[2019-07-05 15:30] Tetragramato commented on #1350
Thank you for your time :)

I will try your multi-stage Docker, which seems OK to me ^^

[2019-07-05 15:38] apetrelli opened #1473 "[native-image] native-image-agent does not start in Windows"
Greetings
I am using GraalVM 19.1.0 in a maven project using native-image-maven-plugin 19.1.0.
I am developing a project that I would like to compile natively in Windows. I would like to use the native-image-agent to trace, in particular, calls to JNI.

However if I try to call using the following parameters:
`-agentlib:native-image-agent=config-output-dir=C:/Users/Antonio/wtf`

I see the followin

[2019-07-05 17:03] Figurante17 commented on #1468
I need to check if I have permission to make the code available

This may take a while.

I put another comment here when you have the answer

[2019-07-05 18:05] prdoyle opened #1474 "IllegalArgumentException: A language with id 'xxx' is not installed"
I'm getting this exception:

[code]

Here's my `main`:

[code]

I have declared this class:

[code]

My classpath includes `classpath "C:\Users\pdoyle\.babun\cygwin\home\pdoyle\projects\finch\target\classes;...` which is where the above class is located.  I've used `@Registration` so I was expecting my Language class to be discovered during initialization as per its javadocs.

What am I doing wron

[2019-07-05 18:19] christianwimmer commented on #1461
Multiple different isolates can be active in the same thread. This probably makes it impossible to use anything other than a dedicated register for the `IsolateThread`.

[2019-07-05 18:43] gzoller commented on #1339
Never mind.   19.1.0 just dropped and I'm not seeing the issue any more.  Thank you!

[2019-07-06 07:57] javadimon opened #1475 "Option name "DynamicProxyConfigurationFiles" has multiple definitions"
GRAAL 19.1.0
Native image fail

$JAVA_HOME/bin/native-image -jar shop-1.0-SNAPSHOT-jar-with-dependencies.jar
Build on Server(pid: 15366, port: 40643)
Fatal error: com.oracle.svm.core.util.VMError$HostedError: Option name "DynamicProxyConfigurationFiles" has multiple definitions: com.oracle.svm.core.configure.ConfigurationFiles$Options.DynamicProxyConfigurationFiles and com.oracle.svm.reflect.proxy

[2019-07-06 08:27] smoell commented on #1452
Switched to 19.1.0, fixed this particular issue.

[2019-07-06 08:27] #1452 closed

[2019-07-06 17:02] cstancu commented on #1475
Do you have a compile time dependency on `svm` packages, i.e., for substitutions? Then you should make sure those dependencies are also from 19.1.0.

[2019-07-06 18:44] Azbesciak commented on #651
Any update?

[2019-07-06 20:29] 4ntoine opened #1476 "Failed to create native image for Spring Boot application"
Hey, guys.

I've tried to build native image for a simple Spring Boot application using just released 19.1.0-ce:
https://github.com/4ntoine/NotesServerApp

During building i've got an exception:
[code]

After quick googling i've found few 1 year-old issues #348 and #405. Since the output looks similar but a bit different, i wonder if it's the same issue or not. Feel free to mark as duplicate jic.

[2019-07-06 20:30] 4ntoine commented on #1476
Let me know if i can assist you in any way.

[2019-07-06 20:42] 4ntoine commented on #1476
As far as i understand this was meant to be merged into 19.1.0: https://github.com/aclement/spring-boot-graal-feature

[2019-07-06 21:05] 4ntoine commented on #403
Hey. I've just tried 19.1.0 with JavaFX app: https://github.com/4ntoine/NotesClientApp/

Getting the following exception:
[code]

jfxrt.jar contains `javafx.application.Application`

<img width="1281" alt="Снимок экрана 2019-07-07 в 2 02 29" src="https://user-images.githubusercontent.com/846671/60761115-77917400-a05b-11e9-9a2d-9b03274c9884.png">

command-line seems to be correct: https://www.graal

[2019-07-06 21:09] 4ntoine commented on #403
Does it require JavaFX 12 min? https://github.com/gluonhq/client-samples/blob/master/Gradle/HelloFX/build.gradle

Currently i'm trying with JavaFX8.

[2019-07-07 01:59] Allenyn commented on #1476
I do the same.  Image needs a JDK to run !

[2019-07-07 04:05] javadimon commented on #1475
Thanks for response!
Yes I used https://mvnrepository.com/artifact/com.oracle.substratevm/native-image-maven-plugin
But last version native-image-maven-plugin only 19.0.2

[2019-07-07 11:06] FieryCod commented on #1387
@SergejIsbrecht After adding both failing and passing payload to agent the configuration produced by agent is valid. Thank you @SergejIsbrecht for you investigation.
Closing the issue.

[2019-07-08 06:57] olpaw commented on #1475
native-image-maven-plugin 19.1.0 is available since 01-Jul-2019
https://search.maven.org/search?q=native-image-maven-plugin

[2019-07-08 06:57] #1475 closed

[2019-07-08 07:22] guanchao-yang opened #1477 "Start Tomcat in Spring Boot use GraalVM 19.1.0 got errors : java.lang.ClassLoader.registerAsParallelCapable() Not support"
Start Tomcat in Spring Boot use GraalVM 19.1.0 got errors below:

[code]

[2019-07-08 08:20] lilili87222 opened #1478 "Link Fail JVM_Ge tClassContext Java_java_lang_SecurityManager 19.1.0 ,windows 7 native-image"
java.lib(SecurityManager.obj) : error LNK2019: unresolved external symbol JVM_Ge
tClassContext referenced in function Java_java_lang_SecurityManager_getClassCont
ext
java.lib(SecurityManager.obj) : error LNK2019: unresolved external symbol JVM_Cu
rrentLoadedClass referenced in function Java_java_lang_SecurityManager_currentLo
adedClass0
java.lib(SecurityManager.obj) : error LNK2019: unresolved ext

[2019-07-08 08:20] graemerocher commented on #1342
Managed to solve my issues with these substitutions https://github.com/micronaut-projects/micronaut-kafka/blob/master/kafka/src/main/java/io/micronaut/configuration/kafka/graal/KafkaSubstitutions.java

[2019-07-08 08:20] #1342 closed

[2019-07-08 08:22] olpaw commented on #1478
It seems you are not using the Windows SDK for Windows 7 as described in https://github.com/oracle/graal/blob/master/substratevm/README.md

[2019-07-08 08:46] olpaw commented on #1478
For reference:
[code]

[2019-07-08 08:54] lilili87222 commented on #1478
Helloword works.  19.0.2 works ,but 19.1.0 not work.
Try use https ,try use KeyStore keystore = KeyStore.getInstance("PKCS12");

[2019-07-08 08:56] lilili87222 commented on #1478
D:\developer\graalvm-ce-19.1.0\bin\native-image --allow-incomplete-classpath --initialize-at-build-time=net.appuploader.logic  --report-unsupported-elements-at-runtime -H:+PrintClassInitialization --no-fallback --enable-url-protocols --enable-all-security-services -H:+ReportExceptionStackTraces  -H:EnableURLProtocols=http -H:ReflectionConfigurationFiles=config/reflect-config.json -H:ResourceConfig

[2019-07-08 08:57] lilili87222 commented on #1478
Microsoft (R) C/C++ Optimizing Compiler Version 16.00.30319.01 for x64
Copyright (C) Microsoft Corporation.  All rights reserved.

cl : Command line warning D9002 : ignoring unknown option '/PDBSTRIPPED'
Microsoft (R) Incremental Linker Version 10.00.30319.01
Copyright (C) Microsoft Corporation.  All rights reserved.

[2019-07-08 09:00] olpaw commented on #1478
That's just a warning that does not prevent the linking to succeed. I.e Is no related to the issue you are describing.

[2019-07-08 09:01] olpaw commented on #1478
Please provide a simple reproducer.

[2019-07-08 09:15] lilili87222 commented on #1478
H:EnableURLProtocols=https
Will reproduct

[2019-07-08 09:25] lilili87222 commented on #1478
D:\developer\graalvm-ce-19.1.0\bin\native-image --allow-incomplete-classpath --report-unsupported-elements-at-runtime -H:+PrintClassInitialization --no-fallback --enable-url-protocols --enable-all-security-services -H:+ReportExceptionStackTraces  -H:EnableURLProtocols=https -jar demo.jar

[2019-07-08 09:26] lilili87222 commented on #1478
[code]

[2019-07-08 09:30] lilili87222 commented on #1478
security.provider.1=sun.security.provider.Sun
security.provider.2=sun.security.rsa.SunRsaSign
security.provider.3=org.bouncycaste.jce.provider.BouncyCastleProvider
# security.provider.3=sun.security.ec.SunEC
security.provider.4=com.sun.net.ssl.internal.ssl.Provider
security.provider.5=com.sun.crypto.provider.SunJCE
security.provider.6=sun.security.jgss.SunProvider
security.provider.7=com.sun.secur

[2019-07-08 09:30] lilili87222 commented on #1478
[code]

[2019-07-08 09:58] olpaw commented on #1478
Using your sample and your modifications **on graalvm-ce-19.0.2** gives me:
[code]
Using your sample and your modifications **on graalvm-ce-19.1.0** gives me:
[code]

[2019-07-08 11:16] guanchao-yang commented on #1477
[code]

[2019-07-08 12:46] chumer commented on #1474
Either you ship your languages GraalVM component[1].
Or you add the jar using `-Dtruffle.class.path.append` [2].

[1a] https://www.graalvm.org/docs/graalvm-as-a-platform/implement-language/#simplelanguage-component-for-graalvm
[1b] Example integration: https://github.com/graalvm/simplelanguage/tree/master/component
[2]  https://www.graalvm.org/docs/graalvm-as-a-platform/implement-language/#run-sim

[2019-07-08 12:51] dmlloyd commented on #1461
OK.  Then adding a separate `PlatformThreadLocal*` is probably the way to do this, if it is to be done.  I might look into it: it might be possible without too much of a core change (other than getting the symbol into the ELF image or the Windows equivalent).

[2019-07-08 13:20] olpaw commented on #1462
Fixed on master: 5b48670281438f93739f73b62d3ddb250d7eb974

[2019-07-08 13:20] #1462 closed

[2019-07-08 14:04] olpaw commented on #1462
Also created backport ticket to get the change into `19.1.1`
cc @ezzarghili

[2019-07-08 16:03] dmlloyd opened #1479 "Access checking fails due to wrong `getCallerClass()` results"
I don't know the exact issue but I think `Reflection.getCallerClass()` is (maybe only sometimes) wrong now.  If you look at the stack trace of quarkusio/quarkus#3074, you can see that the result of `Reflection.getCallerClass()` within `Constructor` was `com.sun.xml.bind.v2.runtime.ClassBeanInfoImpl`, which is one frame lower than the class which should have been returned.  I'm thinking it might be

[2019-07-08 17:52] bobmcwhirter opened #1481 "JDK11: Unsupported method java.net.SocketCleanable.cleanupClose0(int)"
Working on a patch.

[2019-07-08 23:48] christianwimmer commented on #1461
I'm curious: what do you want to do with a `PlatformThreadLocal*` that cannot be done with a `FastThreadLocal*`?

From an implementation point of view, a possible implementation might be quite similar to the existing handling of raw C data based on symbols, in `com.oracle.svm.core.c.CGlobalData*` classes.

[2019-07-09 00:39] pli-arm commented on #1439
Pull request successfully merged and closed

[2019-07-09 00:39] #1439 closed

[2019-07-09 02:00] lilili87222 commented on #1478
[debug_out.zip](https://github.com/oracle/graal/files/3370857/debug_out.zip)

`
..\graalvm-ce-19.1.0\bin\native-image --allow-incomplete-classpath --report-unsupported-elements-at-runtime -H:+PrintClassInitialization --no-fallback --enable-url-protocols --enable-all-security-services -H:+ReportExceptionStackTraces  -H:EnableURLProtocols=http,https -cp swing net.appuploader.Demo
`

I have all log ,

[2019-07-09 02:04] lilili87222 commented on #1478
Addition:
not install mx,not set java home, I download graal 19.1.0 from release page  only

[2019-07-09 03:51] christianwimmer commented on #1479
Fixed in 506f2f188e732219020af3d82b2ec6a97446109a

[2019-07-09 03:51] #1479 closed

[2019-07-09 06:10] rsvoboda opened #1483 "GraalVM has 800+ MB unpacked, the size should be reduced"
GraalVM has 800+ MB unpacked, the size should be reduced.

One of the key use-cases for GraalVM is in the cloud environment.
Having 800+ MB footprint just for compiler is too much.

Base binary used 800 MB, I'm also installing `native-image` and the final footprint is 829 MB.
I would personally appreciate "native-image only" bundle which would be nice fit for cloud native era.

[code]

[2019-07-09 07:54] KIC commented on #1467
cool thanks that worked, thx!

[2019-07-09 07:54] #1467 closed

[2019-07-09 09:48] gsmet commented on #1479
@christianwimmer cool thanks. Any idea when the next micro release is due? We can't upgrade Quarkus to use 19.1.0 until this one is fixed.

Thanks!

[2019-07-09 12:09] prdoyle commented on #1474
Thanks @chumer.  I did try adding my classes using `-Dtruffle.class.path.append` but I was pointing at the classes instead of a jar file.  I can try building a jar when I get a chance.

[2019-07-09 12:33] dmlloyd commented on #1461
One category of use case would be when you don't have an `IsolateThread` available.  The cases I'm thinking of are a couple of C libraries which need to call into Java (Java->C->Java), where they don't accept a parameter that can carry the `IsolateThread` (#730).  So, you can stash it into a thread local and restore it before calling back into Java again.  Also `errno` could be (re)implemented thi

[2019-07-09 12:58] dmlloyd commented on #1461
I suppose it could also be used to pass data between different isolates.

[2019-07-09 13:02] prdoyle commented on #1474
It's now pointing at the jar file.  Same exception.  I've confirmed that the jar file exists.

[code]

[2019-07-09 14:01] prdoyle commented on #1474
What does truffle do with such jars anyway?  Is there some kind of truffle-specific manifest in there that I'm supposed to build?

[2019-07-09 14:10] adam-krieg commented on #1057
I'm trying to run this on graalvm-ce-19.1.0 as bundled with the graalvm-ce-linux-amd64-19.1.0.tar.gz.

`graalvm-ce-19.1.0]$ find . -name *.so
./lib/visualvm/visualvm/lib/deployed/jdk15/linux-amd64/libprofilerinterface.so
./lib/visualvm/visualvm/lib/deployed/jdk16/linux-amd64/libprofilerinterface.so
./lib/amd64/jli/libjli.so
./lib/amd64/libjawt.so
./jre/lib/polyglot/libpolyglot.so
./jre/lib/amd64/l

[2019-07-09 14:11] boris-spas commented on #1474
How did you build the jar? You should be using the simple language repo as a starting point as it has the correct dependencies and configs to build the jar correctly. Namely, there is an annotation processor (truffle-dsl-processor) that needs to be run on the language source code in order to generate the proper META-INF entries. Adding this annotation processor as a dependency in maven should do t

[2019-07-09 14:43] szpak commented on #1294
What is the best way to add just those 2 charsets (without using `-H:±AddAllCharsets`)?

I have seen implementation in [LocalizationFeature](https://github.com/oracle/graal/blob/79d85a3f0a41bb264dd396f6ff335da29525bcd1/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/LocalizationFeature.java#L116-L128), but even with static initialization in my cade, when a class is put into `build_

[2019-07-09 16:51] christianwimmer commented on #1479
@gsmet There should be a 19.1.1 soon for the Oracle's July critical patch update. I'll work to get it in there.

In general, we would like to test Quarkus before we make a release (ideally in our gate before every merge). Can you provide @cstancu with some input on what and how to test automatically?

[2019-07-09 16:56] dmlloyd commented on #1479
It's quite easy.  You do need to have Apache Maven on your PATH though.

* Check out the project
* Set JAVA_HOME either to the GraalVM distro or to a JVMCI-enabled JDK (only Java 8 is supported but 11 should come soon)
* Set GRAALVM_HOME to the GraalVM distro
* `mvn clean install -Dnative`

It takes quite a while to build all the integration tests with native unfortunately.

[2019-07-09 16:59] alzadude commented on #407
Hi @thomaswue @chrisseaton since we're halfway through the year, I just thought I'd check in on this one..

Has there been any development on this issue, or any news/progress to report?

Thanks in advance! 🙂

[2019-07-09 17:03] smarr opened #1485 "[TruffleDSL] Use of generic types in node constructor leads to broken createNode signature"
Let's take the following example:

[code]

This currently compiles to:

[code]

See the missing `,` in Map.

In earlier versions this used to work.

@chumer looks like a regression, worked on my old May 2018 Truffle :)

[2019-07-09 17:32] bobmcwhirter opened #1486 "JDK11: FileDispatcherImpl.setDirect0(...) not implemented."

[2019-07-09 18:13] christianwimmer commented on #1479
Is there a possibility to run the same tests without needing the Quarkus repository, i.e., just with a Quarkus release on Maven?

[2019-07-09 19:54] pmlopes opened #1488 "Just faced a Unimplemented exception"
[code]

Use case, trying to use a datagram channel with netty.

[2019-07-09 20:34] Dirzei commented on #1327
Anything new on this issue? I also run over it using the following code:

import java.awt.BorderLayout;
import java.awt.Container;
import java.awt.Dimension;
import javax.swing.JComboBox;
import javax.swing.JFrame;
import javax.swing.WindowConstants;

public class GUIlauncher {
	private static void createAndShowGUI() {
		JFrame frame = new JFrame("Hello World from Java");
        frame.setDefaultC

[2019-07-09 21:50] dmlloyd commented on #1479
The integration tests are not runnable without checking out the source at present.

[2019-07-09 22:06] dmlloyd commented on #1488
This was fixed by 4c4ca8235de8a6fe4b0f434fd511a908e346bad9 in #1425.

[2019-07-09 22:50] cstancu commented on #1479
@dmlloyd I tried the quarkus integration tests with the GraalVM latest master and `Quarkus - Integration Tests - Vert.x` fails with ```Error: Already registered: sun.nio.ch.DatagramChannelImpl.disconnect0(FileDescriptor, boolean)
com.oracle.svm.core.util.UserError$UserException: Already registered: sun.nio.ch.DatagramChannelImpl.disconnect0(FileDescriptor, boolean)```. This is likely because you s

[2019-07-09 22:52] cstancu commented on #1479
@dmlloyd Is it possible to make a Quarkus release variant that also includes the integration tests? That would make it easier for us to integrate them in our internal CI.

[2019-07-09 22:55] bobmcwhirter commented on #1479
Yeah until there is a release and Q rebases we will have this sorta issue.
We have our workarounds that we can only remove once stuff is upstream and
released.

On Tue, Jul 9, 2019 at 6:50 PM Codrut Stancu <notifications@github.com>
wrote:

[2019-07-10 02:16] hgeraldino opened #1489 "java.lang.UnsatisfiedLinkError: sun.security.ec.ECKeyPairGenerator.generateECKeyPair"
[code]

I wrote a small java application (using micronaut) and created a native image. When running the native image it fails with:

[code]

The app is rather simple: it uses a java.security.KeyPairGenerator instance to generate a Public/Private KeyPair. The sample project can be found at: https://github.com/hgeraldino/micronaut-graalvm-keygenerator.git

I tried adding the ECKeyPairGenerator class

[2019-07-10 02:22] guanchao-yang commented on #1477
[code]

[2019-07-10 02:45] #1481 closed

[2019-07-10 04:59] cstancu commented on #1489
The JCA security services need to be enabled via: [`--enable-all-security-services`](https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md#jca-security-services-on-substrate-vml)

[2019-07-10 06:42] #1486 closed

[2019-07-10 08:15] #1488 closed

[2019-07-10 10:22] martinlippert opened #1490 "[native-image] need advice how to deal with class initialization issue"
I am experimenting with native-image compilation, but I am running into the below mentioned error message and have no idea yet how to proceed and how to identify the issue. I marked the class `org.eclipse.jdt.internal.core.NameLookup` to be initialized at build time. Attaching the debugger to the native image builder shows that the class initialization is executed during build time. Nevertheless,

[2019-07-10 12:35] matneu commented on #1125
RMI's `ObjID` is the issue here, as it has a static field that's initialized with `SecureRandom`.
For RMI, delaying initialization for the following classes should get you further:
`--initialize-at-run-time=java.rmi.server.ObjID,sun.rmi.transport.ObjectTable,sun.rmi.transport.Transport,sun.rmi.transport.tcp.TCPEndpoint,sun.rmi.registry.RegistryImpl,sun.rmi.transport.DGCImpl,sun.rmi.transport.DGCCl

[2019-07-10 13:01] hgeraldino commented on #1489
Hi Codrut,

Micronaut is enabling the https URL protocol for this microservice, so security services should be enabled as per the docs. I recreated the image with the `--enable-all-security-services` arg but the result was the same.

 Thanks for looking into this.

[2019-07-10 16:49] bobmcwhirter opened #1491 "JDK11: MacOSXSocketOptions methods unimplemented."
https://github.com/mandrel/graal/issues/7

[2019-07-10 17:01] christianwimmer commented on #1479
How many workarounds are there in Quarkus? Can you push them all out before we make the next release?

In the meantime and to run with multiple different GraalVM release, you can make substitutions conditional on the GraalVM version number by using the `onlyWith` attribute of substitutions.

Currently we have a bit of a testing issue: until we reach a point where you can test the Quarkus master wi

[2019-07-10 17:04] dmlloyd commented on #1479
Usually not many.  In fact I'm surprised about the Vert.x problem because nothing like that came up in my last round of tests, just a few days ago.

Using `onlyWith` is a good idea; I'll pass that on.

[2019-07-10 17:10] dmlloyd commented on #1479
What's the best API to query to get the current GraalVM version?

[2019-07-10 17:28] christianwimmer commented on #1479
The system property `org.graalvm.version` contains the GraalVM version string.

@olpaw @gilles-duboscq we should probably add a GraalVM API (either in `ImageInfo` or even better somewhere that is native image independent) to do version comparisons by string, i.e., to ask queries like "am I running on GraalVM version `19.1` or higher".

[2019-07-10 17:52] bobmcwhirter opened #1492 "JDK11: LinuxSocketOptions methods unimplemented"
https://github.com/mandrel/graal/issues/8

[2019-07-10 20:11] adam-krieg commented on #1057
I now see the native-image stuff has been pulled out into a plugin and I need to install the native-image-installable-svm-linux-amd64-19.1.0.jar to make it go.

[2019-07-10 23:31] pquiring commented on #948
I think legacy_stdio_definitions.lib needs to be added to the list of libraries in https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeBootImageViaCC.java
right after iphlpapi.lib

[2019-07-11 09:00] #1491 closed

[2019-07-11 09:04] olpaw commented on #948
@pquiring interesting. If we add that would that allow us to work with later SDKs OOTB?

[2019-07-11 09:55] boris-spas commented on #1472
Hey @prdoyle ,
Thanks for the report, should be fixed in 19.3!

[2019-07-11 12:11] pquiring commented on #948
Also found one more missing import (__imp___iob_func) which is easy to generate.

Create this file called stdio.cpp
[code]

Steps to follow:
Copy iphlpapi.lib and legacy_stdio_definitions.lib to project folder from SDK lib folder.
compile stdio.cpp
   cl /LD stdio.cpp
Generate new library
   lib iphlpapi.lib legacy_stdio_definitions.lib stdio.lib /out:new.lib
Copy new.lib to iphlpapi.lib in your S

[2019-07-11 12:12] pquiring commented on #948
Only downside is that generated project now requires stdio.dll but it works with latest SDK.

[2019-07-11 12:17] pquiring commented on #948
To use latest SDK OOTB would requires adding legacy_stdio_definitions.lib to the list of LIB files and also compiling the substrateVM against latest SDK to use the newer stdio names (that is what the __iob_func stuff is).

[2019-07-11 12:36] dmlloyd commented on #1479
https://github.com/quarkusio/quarkus/pull/3188 should hopefully fix the problem.

[2019-07-11 14:31] SergejIsbrecht commented on #1490
Do you have the source code to reproduce it?

[2019-07-11 15:55] vjovanov commented on #1288
This has been fixed.

[2019-07-11 15:55] #1288 closed

[2019-07-11 15:56] vjovanov commented on #1168
@loicottet has this been fixed?

[2019-07-11 17:38] loicottet commented on #1168
No, the LLVMArithmeticGenerator is still dependent on the AArch64-specific stuff. A long-term fix will come from the refactoring of lowerings so that code using the LLVM backend only has nodes corresponding to LLVM intrinsics, instead of the platform-specific ones like today.

[2019-07-11 18:50] christianwimmer commented on #1449
How did you come up with the options that you specify for the experiment? For example, `-XX:PercentTimeInIncrementalCollection=100` means that full GCs are avoided as long as possible. This means that the old generation fill up more, which in turn can increase the maximum pause times because the heap is larger.

We are working on a low latency GC for EE. For the existing GC, there are several medi

[2019-07-11 18:51] geek29 opened #1494 "[native-image] Too many files open error, many open fd pointing to /sys/fs/cgroup/memory/memory.limit_in_bytes"
I am building simple http server based on netty plot demo (graalvm-demos/native-netty-plot) which demonstrates the use of isolates and image singletons. What I have found is that after a certain amount of iterations, running image keeps fds open for the following files

- /sys/fs/cgroup/memory/memory.limit_in_bytes
- /dev/urandom
- socket:[xxxxxxx]

Eventually, application starts to fail giving ou

[2019-07-11 18:54] aclement opened #1495 "[native-image] "Static field or an object referenced from a static field changed during native image generation" (involving reflection types)"
Note: I am on graal 19.0.2 on mac. (I can't use 19.1.0 due to the JMX issue in another bug). Is it likely to work better in 19.1?

Just wondering if this is something I can fix with configuration or not:
[code]

I found some other issues with the same error (but different objects involved) but they seemed to be resolved by fixes in graal rather than user configuration?

thanks!

[2019-07-11 20:01] cstancu commented on #1479
@dmlloyd I can confirm that the latest Quarkus master now successfully builds with the latest GraalVM master using `mvn clean install -Dnative`.

[2019-07-12 08:05] martinlippert commented on #1490
Sure, here is the repo:
https://github.com/martinlippert/graal-simple-language-server-jdt

Execute the maven build first (inside of the `org.test.language-server-jdt` directory, then go back and run the `./compile.sh` script, it executes the native-image builder.

Oh, and btw, I would love to learn a bit more here how I could investigate this myself, so any advice how to debug this case (and simil

[2019-07-12 09:18] ziyilin commented on #1449
We tried different values to see how application performance was affected by GC. We set -XX:PercentTimeInIncrementalCollection=100 to see what the longest pause would be.

[2019-07-13 07:12] SergejIsbrecht commented on #1490
Actually I do not know what I am doing either. I just look at the error/ stacktrace and the code and try to figure out whats wrong by trail and error and some source code reading. I will have a look at the source-code.

[2019-07-13 08:02] SergejIsbrecht commented on #1490
@martinlippert ,

does the application work? If I start it with java -cp ... and visit localhost:5556 I get following error:

[code]

Info about Init.
https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md

How to build native-image?
[code]

PrintClassInitialization will give an report, which you can use in order to fine-tune the image generation. Currently all classes wil

[2019-07-13 12:24] martinlippert commented on #1490
@SergejIsbrecht

The app opens a server socket, but doesn't serve HTTP requests. It is a language server that talks JSON-RPC with the outside world, so its a bit hard to test without a proper client. But I already struggle with compiling it to a native image.

Does that mean that building the native image works for you with the mentioned parameters? That would be awesome and would guide me one ste

[2019-07-13 12:31] SergejIsbrecht commented on #1490
Yeah, just replace your config.sh with mine and it should work. The native image is quite big. I think it was 35mib

[2019-07-13 12:32] martinlippert commented on #1490
I did. Interestingly, when I execute the native-image builder with the arguments mentioned above, I don't get the reports output, but instead a few exceptions, complaining about classes that should be initialized at runtime (for a good reason). I wonder how you succeed building the native image.

[2019-07-13 12:35] martinlippert commented on #1490
Ok, now by adding those exceptional classes to be initialized at runtime, I can also get the native-image to be generated... Which is awesome!!! :-)

[2019-07-13 12:37] martinlippert commented on #1490
It looks like I missed the parameter `--initialize-at-build-time` without any classes and/or packages initially, wasn't aware of the fact that is makes sense to add that in that way. Many thanks for that hint, much appreciated. So no need to dive deeper from your end, I think I can make progress myself again. :-)

[2019-07-13 12:37] #1490 closed

[2019-07-14 02:07] abhillman opened #1496 "Type Literals for Complex JS Objects w/Mixed Value Types"
`TypeLiteral` is a wonderful abstraction. Yet it doesn't seem to me that there is some type literal that can be expressed to extract values from a JS object that can be either primitives or lists/objects.

For example, the type literal for `Map<String, ?>`, when operating on `{a: 1, b: "foo", c: {d: "val}}` will result in a Java map with the keys, values "a"/1, "b"/"foo", and c/null. Ideal result

[2019-07-14 11:19] SergejIsbrecht commented on #1495
Do you have the source-code to reproduce it?

Maybe init. the class during RUN_TIME instead of BUILD_TIME?

[2019-07-15 06:33] tunovic commented on #1292
Any estimation when version 19.0.0 and up will be supported? As 19.0.0 supports Windows, it would be a nice welcome.

[2019-07-15 15:34] dmlloyd commented on #1292
Sorry, I forgot to update.  The latest couple of Quarkus releases run well on GraalVM 19.0.2.
 See https://quarkus.io/blog/quarkus-0-19.1-released/ for more info.

[2019-07-15 19:01] dmlloyd commented on #1428
https://github.com/mandrel/graal/issues/9

[2019-07-15 19:51] dmlloyd opened #1500 "EPoll support under Java 11"
I have a PR underway.  The exception would start with:

[code]

[2019-07-16 14:00] dmlloyd commented on #1420
I think this can be resolved now?

[2019-07-16 14:01] dmlloyd opened #1502 "Not implemented: `java.net.AbstractPlainDatagramSocketImpl.isReusePortAvailable0`"
Related to #1420/#1422, but for datagram sockets.  PR forthcoming.

[2019-07-16 14:23] #1420 closed

[2019-07-16 21:23] cstancu commented on #1495
If you have code to reproduce this it would be great. This is a type of bug that we have seen before and fixed, but may have missed some corner cases.

[2019-07-17 00:30] aclement commented on #1495
@cstancu Here we go, hope this is ok:

[code]
The compile script will maven build the vanilla-jpa project and then call native-image on it with the feature on the classpath. As I say this is on graal 19.0.2, I might try building my own graal latest to see if it behaves differently. I don't know if I expect the app to run clean once compiled, there may be further errors after this one.

[2019-07-17 02:58] armLeiJin opened #1504 "Store store barrier at the end of initializer of an object without final fields"
We find when graal news an object without final field, it produces one store store barrier at the end of the object initializer.

According to the Java language spec, thread which only can observe a object field after the object construction finishes, also has chance to observe a default value of it if the field is no final. And the barrier inserted at the end of object initializer is not required

[2019-07-17 06:42] bchapuis commented on #1253
I'm getting the same issue on GraalVM Version 19.1.0 CE.

[2019-07-17 06:47] geek29 commented on #1494
Below is simple program which can reproduce the error. Type "exec 10" - it will spawn ten isolates. Inside each isolate, it creates an instance of `FileInputStream` and `SecureRandom` (which opens FileInputStream to file /dev/random). I close stream explicitely where as `SecureRandom` does not close it.
`SecureRandom` is created in my original program by SSL Socket layer.

My guess is that FDs rem

[2019-07-17 07:54] plokhotnyuk commented on #1504
Why do we need release fences in constructors of instances of data structures which are not concurrent by definition?

Why all these fences cannot be moved to places which work with concurrency immediately: concurrent GC phases, static field initializers, concurrent data structures and APIs like futures, actors, etc.?

[2019-07-17 08:03] adinn commented on #1504
HI Andriy,

This comment and the link to the Scala bug seem to have nothing to do with the problem being reported. Can you explain why you think these two problems are related?

[2019-07-17 08:30] plokhotnyuk commented on #1504
@adinn my questions are related to implementation and usage of the `insertAllocationBarrier` method in GraalVM.

Scala collections started to be [polluted by the `releaseFence` calls](https://github.com/scala/scala/search?q=releaseFence%28%29&type=Code) from 2.13.0 version too.

And for some isolated cases when only constructors of simple linked list nodes are called the combination GraalVM CE/EE

[2019-07-17 09:39] adinn commented on #1504
Hi Andriy,

Ok, I am just concerned to distinguish the different issues involved here and, in consequence, decouple the required solutions. The problem reported here affects compilation of Java and Scala code (and perhaps other languages hosted via Truffle). The one you linked to appears to be a Scala-only problem which requires a Scala-only fix. So, although this current problem may exacerbate th

[2019-07-17 09:48] torkelrogstad opened #1505 "Error bulding Scala project with native-image"
I'm building a Scala project with `native-image` through [SBT Native Packager](https://github.com/sbt/sbt-native-packager). After doing `sbt graalvm-native-image:packageBin` I get this error message:
[code]

If I follow the suggestion from the error message, I get this:
[code]

Is it possible to see where in my project either `scala.Function3` or `scala.Enumeration.populateNameMap` is used?

[2019-07-17 10:02] armLeiJin commented on #1504
Thanks for providing more related information for the issue.
Actually,  we find current C2 already removes the store store barrier guarding a object (with final field)  header writing at the so-called "thread local" case. Am I right? Graal hasn't performance such an optimization yet.
https://bugs.openjdk.java.net/browse/JDK-8032481 still opens. Does it means OpenJDK will continue to optimize the m

[2019-07-17 10:08] hogfilho commented on #1327
Any update on this? I am also unable to build a swing application on linux using native-image and --no-fallback option.

I can build using this:
`[helder@priceshooter bin]$ ./native-image -Dsun.java2d.opengl=false GraalTest graaltest --no-fallback --initialize-at-run-time=sun.java2d.opengl
Build on Server(pid: 22022, port: 34217)*
[graaltest:22022]    classlist:   1,033.71 ms
[graaltest:22022]

[2019-07-17 10:19] adinn commented on #1504
Yes, C2 does already remove some of the redundant barriers. The [graph generation for an initializer method](http://hg.openjdk.java.net/jdk/jdk/file/64330bbb9be5/src/hotspot/share/opto/parse1.cpp#l972) includes a couple of potential optimizations. The two issues mentioned above ares still open so they may be addressed in future but I don't know of any plans to do that soon.

[2019-07-17 16:55] headius commented on #1145
Still broken as of 19.1.

[2019-07-17 17:47] headius commented on #1075
I can confirm I don't get the message I reported above, but I'm still trying to confirm the methods in question are jitting properly.

[2019-07-17 17:58] tkrodriguez commented on #1504
This doesn't have anything to do with final field barriers except that it's a bug introduced by the changes to add the proper barriers for final fields.  The problem is that we currently emit a STORE_STORE barrier both in NewObjectSnippets, which is used for the lowering of AbstractNewObjectNodes, and in the lowering of CommitAllocationNodes, which represents a group of allocations.  CommitAllocat

[2019-07-17 18:13] headius commented on #1075
I managed to get this output from PrintCompilation running under GraalVM EE 19.1:

[code]

I also see the tier 3 compile advance through "not entrant" and "zombie" on its way out.

This seems to confirm all tiers are able to compile the method that failed before.

[2019-07-17 19:16] gilles-duboscq commented on #1075
Thank you for confirming

[2019-07-17 19:16] #1075 closed

[2019-07-17 19:23] cstancu commented on #1505
You can use the [`native-image-agent`](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md#assisted-configuration-of-native-image-builds) to automatically detect reflectively accessed elements.

[2019-07-17 20:05] #1500 closed

[2019-07-17 22:20] woess commented on #1463
Thanks for the report! This bug will be fixed in GraalVM 19.2.0.

[2019-07-17 22:20] #1463 closed

[2019-07-18 00:27] nhoughto commented on #631
FYI with the above workaround (using cached sources), that even though the source is cached it appears the instance of it isn't. So there is some cycles saved in parsing and turning arbitrary JS into Graal objects but each of the instances of them will be separate.

Imagine a library like Faker.js with significant amounts of reference data rather than pure functions, each instance of the Faker lib

[2019-07-18 05:22] odbuser2 commented on #1253
Same issue on 19.1.1 ce.

[2019-07-18 05:22] tkrodriguez commented on #1504
I have a branch with a fix for this but I"m debugging a gate problem.  I'll put it up as soon as that's resolved.

[2019-07-18 08:27] adinn commented on #1504
Exactly, this is just about unnecessary STORE_STORE barriers.

Good to know. Of course, there is no rush to fix this as it only implies a small performance hit. Thanks for looking at this, Tom.

[2019-07-18 11:16] jwedel opened #1506 "gu install native-image - java.net.UnknownHostException: github.com"
# Environment:
- Windows 10
- Windows Subsystem for Linux with Ubuntu
- Graal CE 19.1.1
- Corporate Authenticated Proxy (proxy settings in env variables) that also introduces self-signed certificates

# Actual Behaviour
- I can view the available packages:
[code]
- But I cannot install the package:
[code]
- I can download the file manually when switching off certificate check: ```
wget --no-check-

[2019-07-18 12:51] jwedel commented on #957
FYI: I had the same issue locally and fixed it by running:
[code]

[2019-07-18 13:30] torkelrogstad commented on #1505
I tried adding the `native-image-agent` as the document you linked described, but `reflect-config.json` is completely empty after running the program multiple times with different inputs.

[2019-07-18 15:08] dniel commented on #1350
@Tetragramato I ran my application with graalvm `java -agentlib:native-image-agent=config-output-dir=/native-config/` to auto-generate json config needed for native-image and that solved my mssing reflection config. The code updated on my github repo should work out of the box now.

[2019-07-18 15:29] dnfehren commented on #532
@blak3mill3r sorry, too long ago, good luck though

[2019-07-19 04:36] #1428 closed

[2019-07-19 05:55] #1502 closed

[2019-07-19 06:43] #1492 closed

[2019-07-19 07:35] CAFxX opened #1508 "[native-image] Failed to compile hazelcast release"
Running the `Dockerfile` below to try to build the latest hazelcast (3.12.1) with the latest `native-image` (19.1.1) fails with a bunch of `UnresolvedElementException`s:

[code]

To reproduce run `docker build` using this `Dockerfile`:

[code]

If we further add `--allow-incomplete-classpath` to the `native-image` invocation, we get different errors ("Class XXX cannot be instantiated reflectively

[2019-07-19 08:21] jwedel opened #1509 "[native-image] Can't run on Windows 10"
On Windows 10, I installed the Windows 10 SDK. This does not contain a separate command prompt as the Windows 7 SDK to run native-image as explained in the substrateVM readme.

So I can't get around the error
[code]

[2019-07-19 08:33] Tetragramato commented on #1350
I will try that, but the last time i tried agentlib i had nothing....

Thanks :)

[2019-07-19 08:40] olpaw commented on #1509
ATM using Windows 10 SDK is not supported. Please install [Microsoft Windows SDK for Windows 7](https://www.microsoft.com/en-us/download/details.aspx?id=8442) on Windows 10. Supporting newer versions of Windows SDK/VS will be added in the future.

[2019-07-19 08:40] #1509 closed

[2019-07-19 11:07] jwedel commented on #1509
@olpaw Thanks, I didn't know that I can install the Win7 SDK. Thanks!

[2019-07-19 11:20] olpaw commented on #1509
@jwedel be careful to use the `SDKSetup.exe` in the `Setup` subdirectory of the iso image.
see https://github.com/oracle/graal/issues/946#issuecomment-459333372

[2019-07-19 11:55] jwedel commented on #1509
@olpaw Thanks, I had the same issues and found that I get at least a little bit further. But the installation stops with that error:

[2019-07-19 12:12] olpaw commented on #1509
https://stackoverflow.com/questions/1901279/windows-7-sdk-installation-failure ;-)

[2019-07-19 15:51] peter-hofer commented on #1494
Thank you very much for your report @geek29!
1. I found that `/sys/fs/cgroup/memory/memory.limit_in_bytes` is leaked due to a bug and will prepare a fix.
1. `SecureRandom` creates a singleton `NativePRNG.RandomIO` instance that opens two file descriptors for `/dev/random` or `/dev/urandom` and never closes them. With a single isolate/VM, this does not have significant impact, but it becomes a conc

[2019-07-19 18:21] yschimke commented on #951
@lvh n.b. you have a typo "bouncycaste", not sure if that is just here or in the config file

[2019-07-19 18:44] lvh commented on #951
@yschimke I did orginally have that problem but I've since resolved it :) The most recent table should be accurate (as is #1336).

[2019-07-19 18:59] tkrodriguez commented on #1504
I've put up the PR and it's been reviewed internally but I'm putting it up here in case you have comments.

[2019-07-19 21:05] json-warner opened #1512 "GraalVM Updater utility not supported on windows??"
The GraalVM Updater utility doe not appear to be included in the windows zip.

I was able to pull it out of the Linux tarball, and I pulled the cmd file from GitHub, but I'm unable to get a list or install components. The result I get is

![image](https://user-images.githubusercontent.com/15092973/61565423-fec0ed80-aa46-11e9-87dd-3fa7a3376751.png)

When I look at the the referenced properties, I o

[2019-07-19 21:29] anusse commented on #1146
Was this issue ever resolved?  Is there any way to include directory entries as resource entries in the native image?  I'm dealing with something similar:

I'm using some existing code (Liquibase) that attempts to load a directory path resource and then subsequently loads all the class files it can find from this path. I've also created a resource configuration file specifying the directories and

[2019-07-20 00:09] carbotaniuman commented on #1329
As someone who wants to contribute to this, what parts of the codebase needs to be extended to accomplish JIT on ARMv7?

[2019-07-20 00:24] nhoughto commented on #1336
Not relevant to the discussion, but I’m impressed with your level of detail and testing process 👍🏼

Amazing level of detail for anyone coming here for help. Really great contribution to people (like me!) testing out graal, thanks!

[2019-07-20 01:18] dmlloyd commented on #1329
I believe the first step would likely be adding support to JVMCI.

[2019-07-20 01:46] Christewart opened #1513 "No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime: org.sqlite.JDBC"
This is reproducible here with this command

[code]

at this repo:

https://github.com/Christewart/eclair/tree/native-image-build

I've tried adding the `--initialize-at-run-time=org.sqlite.JDBC` with no success

[2019-07-20 04:40] carbotaniuman commented on #1329
I'll look into that. Do you know where that is? I've looked around Graal/Compiler for about 30 minutes now and haven't found the JVMCI portion.

[2019-07-20 07:45] ezzarghili commented on #1329
The JVMCI code base can be found here https://github.com/graalvm/graal-jvmci-8

[2019-07-20 08:02] dougxc commented on #1329
The above is the JDK 8 implementation of JVMCI which currently does not have an ARM support at all. It may be easier to start with https://github.com/openjdk/jdk which already has AArch64 support in JVMCI:

https://github.com/openjdk/jdk/tree/master/src/jdk.internal.vm.ci/share/classes/jdk.vm.ci.aarch64/src/jdk/vm/ci/aarch64
https://github.com/openjdk/jdk/tree/master/src/jdk.internal.vm.ci/share/c

[2019-07-20 12:10] dvzs1 commented on #1327
I have the same problem. Unfortunately the compiled exe is not working alone. If you store the jar file in the same folder with the exe, it Works, but without the jar could not be run… The program breaks with a AWT Thread.. If you compile the program, without refferenig the window instance, then it could be compiled.. but running, the System could not find the MAIN entrancepoint of the exe-jar.. I

[2019-07-20 12:32] dvzs1 commented on #1327
It seems that only console applications can be made .. But this is nonsense, mixture with NET Framework and Java.. appjav source code makking..  Would it be good if it worked, but how long would it take? I tried with 8u211, but unfortunately the end result is not a standalone executable ..

[2019-07-20 12:45] dvzs1 commented on #1327
I would suggest that if you only work with JAR, put the resources and required codes into the JAR in order to run the EXE.

[2019-07-20 13:08] SchrodingerZhu commented on #424
failed to read configurations for GraalVM 19+/Play 2.7

[2019-07-20 13:09] Christewart commented on #1513
Hmm, so i managed to figure out the issue. But now when i seem to execute it appears that jars from the `core` project are not available on the classpath
[code]

[2019-07-20 14:03] Christewart commented on #1513
The latest iteeration is https://github.com/Christewart/eclair/commit/55a14b5f7e993c310513d08b6f69c0b74427fd10

The error I am running into now is

[code]

[2019-07-20 18:20] alvinj commented on #1327
I’m curious if there is a solution for this? I’m having the same problem with a relatively simple Swing application.

[2019-07-20 18:33] alvinj commented on #1327
If it helps to know it, here’s a simple test app:

[code]

And this is the result I get with the `native-image` command:

[code]

I’m just getting started with GraalVM, but I thought it would be great to create Swing apps as executables because they tend to start so slow, and consume a lot of RAM for even basic apps.

Thanks!

[2019-07-20 23:29] GermanCoding opened #1514 "Fallback image generation fails when working dir and input file are on different partitions (Windows)"
**Steps to reproduce:**

1. On Windows, open a terminal
2. Navigate to a directory, let's say `C:\example1`
3. Execute `native-image -jar D:\example2\input.jar` with a file that requires a fallback build. _Note that the working directory is on **C** and the input file is on **D**._

**Result:** Building fails entirely with the following exception:
[code]

If working in directories which are on the

[2019-07-21 02:40] carbotaniuman commented on #1329
Is there documentation for this? Such as whether the registers on Architecture should be 16 128-bit registers/32 64-bit registers or all the flags for the EnumSet?

[2019-07-21 10:43] plokhotnyuk opened #1515 "[native-image] regression: got false error during compilation to binaries"
It worked for some earlier releases of GraalVM, see: https://gitter.im/graalvm/native-image?at=5b6765fa6d45752f98937ad9

Now with GraalVM CE 19.1.0 I got the following compilation error:
[code]
Sources of UnsafeUtils.java:
[code]

[2019-07-21 10:59] plokhotnyuk commented on #1515
Trying to use only `STRING_VALUE_OFFSET` values in a source bellow doesn't help:
[code]
Version of `UnsafeUtils.java` used:
[code]

[2019-07-21 11:42] fniephaus opened #1516 "Downloading LIBFFI_SOURCES failed"
Our CI builds are currently failing because of this:
[code]

I don't know what caused the `urlopen error`, but http://lafo.ssw.uni-linz.ac.at/ is down at the moment.

[2019-07-21 18:11] h908714124 commented on #911
Still broken in `GraalVM Version 19.1.1 CE`

[2019-07-21 20:22] neomatrix369 commented on #1142
Just to let you know the startup time has improved since I last reported, see current status at https://github.com/neomatrix369/awesome-ai-ml-dl/blob/master/examples/data/databases/graph/grakn/successful-run-console.md

Good work #graal team!

[2019-07-22 07:35] sdedic commented on #1506
@jwedel: do you have `https_proxy` (not just `http_proxy`) env variable set up ?

[2019-07-22 08:45] ansalond commented on #1512
Hi @json-warner, thanks for your interest in GraalVM.
Unfortunately we do not yet provide installable components for GraalVM on Windows, therefore we do not yet support the GraalVM Updater utility on that platform.

[2019-07-22 09:27] fniephaus opened #1517 "Better examples needed in Specialization.java"
The examples for `guards()`, `assumptions()`, and `limit()` are relatively short and quite hard to read. Considering they play a key role in Truffle, it makes sense to improve them.

##### `guards()`
https://github.com/oracle/graal/blob/e100036311bf3d9512e2238010a6c05f4bef1bd2/truffle/src/com.oracle.truffle.api.dsl/src/com/oracle/truffle/api/dsl/Specialization.java#L264-L268

##### `assumptions()`

[2019-07-22 10:33] armLeiJin commented on #1504
Thank you. I have reviewed it and now I am conducting the tests on the another 2 issues I mentioned above. I will comment here once I finish the tests.

[2019-07-22 11:22] davleopo commented on #1516
@fniephaus can you please retry, this should be fixed in the meantime.

[2019-07-22 12:56] fniephaus commented on #1516
@davleopo yes, it's working again. Thanks!

[2019-07-22 12:56] #1516 closed

[2019-07-22 13:29] dmlloyd commented on #1329
I haven't found any documentation on the JVMCI side, but I believe that 32-bit ARM (in normal operation) uses 16 32-bit registers, one of which (R15) is the PC and one which (R14) is usually used as the LR.  Also I think it's pretty normal to use R13 as the stack pointer.  There's more info at https://developer.arm.com/docs/100878/latest/registers-at-aarch32.

[2019-07-22 13:57] json-warner commented on #1512
Hi @ansalond, thanks for the quick response.
I suspected as much, but wanted to confirm.

Can you tell me if this is something on the roadmap/schedule for future release?

[2019-07-22 18:04] lewurm opened #1518 "[sulong] Error "Cannot convert $val to native pointer""
Hello friends,

I think I'm hitting a bug somewhere around here:
https://github.com/oracle/graal/blob/64f1da79b595095722950e88bfa942971b7a226e/sulong/projects/com.oracle.truffle.llvm.runtime/src/com/oracle/truffle/llvm/runtime/library/LLVMNativeLibraryDefaults.java#L108-L119

`repro.c`:
[code]

[code]

[2019-07-22 20:40] bobmcwhirter opened #1519 "JDK11: Silence additional unsafe offset warnings we can't fix."

[2019-07-23 07:21] zapster commented on #1518
Hi @lewurm!

Thanks for you report! Could you try compiling the sources with `clang -O1`? With `-O0`, which unfortunately is the default, llvm does not run optimizations which are crucial for our LLVM IR runtime. To be more precise, it is about the `-mem2reg` pass. Without that, every LLVM value is stored in memory, which makes it impossible for us to track those values.

[2019-07-23 08:41] deanzz commented on #1505
I got reflect-config.json by native-image-agent successfully, then I tried generating image by `sbt demo/graalvm-native-image:packageBin`

but native-image can not parsing some class under reflect-config.json, such as
`{
"name":"com.google.inject.util.Providers$GuicifiedProviderWithDependencies$$FastClassByGuice$$2a7177aa",
  "methods":[{"name":"<init>","parameterTypes":["java.lang.Class"] }]
}`

[2019-07-23 11:57] vianney-allaire opened #1520 "Is it possible to build a binary for Windows 32-bit with native-image ?"
How can we produce a exe or dll for Windows 32 bit (Windows 7 minimum) with GraalVm native-image ? thanks in advance for all your help.

[2019-07-23 12:38] vjovanov commented on #1443
Have you executed the image build with `--static`? We have calls to C functions that will use relocations.

[2019-07-23 13:09] ChadKillingsworth commented on #1137
We've successfully built an published a windows version using the 1.0 release.

[2019-07-23 13:09] #1137 closed

[2019-07-23 13:42] mcred opened #1521 "okhttp parse error with GraalVM CE 19.0.0"
This is a different okhttp issue from #1294. The `native-image` compiler fails to parse the `OkHttpClient.Builder()`. A sample that recreates the issue is available [here](https://github.com/mcred/okhttp-sample). Here is the gist:

[code]
The sample will compile with the following JRE
[code]
Running with java works:
[code]
Compiling with `native-image` fails:
[code]

Stack trace output:
[code]

It

[2019-07-23 13:46] anusse opened #1522 "[native-image] java.net.NetworkInterface.isUp0 not implemented"
As in PR #1076 I am also getting an UnsatisfiedLinkError when I try to run my native executable. Although the required underlying methods (getFlags0 and openSocketWithFallBack()) have been implemented as part of PR #1406, it seems like isUp() is still missing. Are there plans to add isUp()?

Example stack trace:

[code]

[2019-07-23 14:10] hogfilho commented on #1327
I am still out of luck... Devs, please help us!

[2019-07-23 14:12] bobmcwhirter commented on #1522
I’ll submit a patch shortly

[2019-07-23 14:40] lburgazzoli opened #1524 "ForkJoinPool.commonPool() in the image heap"
So while working on making camel running on quarkus I've run into some issues related to the ` ForkJoinPool.commonPool()` found in the image heap as result of how Caffeine constructs caches:

- https://github.com/ben-manes/caffeine/issues/332
- https://github.com/quarkusio/quarkus/issues/3300

As mention in the issues a possible workaround is to lazily initialized the pool but that's not always po

[2019-07-23 14:51] ben-manes commented on #1524
Is it reasonable to have Graal transform the calls to by lazy if possible (no direct usage)? In Caffeine’s case it is setting the executor instance field, not invoking it. If possible I’d like to avoid adding a workaround as the issue seems better to address by improving graal instead. What is the expectation for developers, both library and application?

[2019-07-23 18:42] bobmcwhirter commented on #1450
This seems solved via https://github.com/oracle/graal/commit/0b876cbf5970533ad7f84543f0dc45899c5c5865#diff-811de719f750f55690c85a7e84fe2190

[2019-07-23 21:10] yschimke commented on #1521
I have a branch I'm poking at for okhttp, using the trivial built in curl command.  Mostly working but relies on SunEC native lib.

[2019-07-23 23:10] carbotaniuman commented on #1329
Yeah, I've read through that and I am reading through the ARMv7 Developer guide. I'm wondering if the NEON registers should be the 128-bit or 64 bit views and what flags exist in VMVersion (or do I make those myself?).

[2019-07-24 00:27] nhoughto opened #1528 "[native-image] 19.1.1 Logging missing reflection / NullPointerException in CompileQueue defaultCompileFunction"
Similar to https://github.com/oracle/graal/issues/582

I am getting a NPE when building a native-image, after some further debugging, and recompiling CompileQueue with more logging, I can see its due to Xerces XML parser, so likely a reflection config problem. As per above issue, just a different library.

Debugging this problem would be greatly aided by better logging in CompileQueue, rather than

[2019-07-24 02:46] guanchao-yang commented on #1108
@olpaw Which version do we plan to release ? Thank you very much

[2019-07-24 04:38] yschimke commented on #1521
Also if this is really blocking you, falling back to okhttp 3.14.2 should work, but you will need to revert some nice kotlin source changes.

[2019-07-24 04:48] yschimke commented on #1521
FWIW I also get the following errors in output

[code]

[2019-07-24 05:25] yschimke commented on #1521
I got OkHttp working for me end to end by

- Using a overlay jar with hacked versions of the 4 kotlin implemented interfaces
- Cutting out all ECC ciphers (falling back to much weaker ciphers) for now.  This avoids SunEC or bouncycastle setup drama

[2019-07-24 06:56] yschimke commented on #1489
There is a similar error when trying to use the ECC ciphers, fixed with including the SunEC lib.  I don't know if this is the same.

-Djava.library.path=$JAVA_HOME/lib/

https://github.com/oracle/graal/issues/1336

[2019-07-24 06:58] yschimke opened #1529 "Desktop.isDesktopSupported fails"
I would have accepted false

[code]

[2019-07-24 08:56] plokhotnyuk opened #1530 "Performance regression of creation of List values in Scala 2.13.0"
About 7x times slowdown comparing to OpenJDK was detected by a benchmark which creates lists in Scala 2.13.0.

Initially, the issue was opened in [the Scala repo](https://github.com/scala/bug/issues/11627), but then was factored out on 2 separated problems. This issue is only for 2nd one part that is reproducible only on GraalVM CE/EE.

Steps to reproduce:
1. Install [sbt tool](https://www.scala-s

[2019-07-24 09:32] vjovanov commented on #1327
From the next release (already in master) you can use -H:-TraceClassInitialization to see how this Thread got initialized. You need to use `--initialize-at-build-time` in the right places to prevent this from happening.

When you come up with a working formula, we should merge this into the repo as this falls under the JDK.

[2019-07-24 09:45] mur47x111 commented on #1530
Thanks for reporting this! The 7x slowdown is against what?
Also I get the following error when running the sbt command:
`[error] java.lang.NoSuchMethodError: sbt.package$.stringToOrganization(Ljava/lang/String;)Lsbt/librarymanagement/DependencyBuilders$Organization;`
Is `sbt.version=1.3.0-RC2` mandatory?

[2019-07-24 09:48] plokhotnyuk commented on #1530
@mur47x111 possible the latest stable version of sbt should be installed

[2019-07-24 09:52] olpaw commented on #1108
@guanchao-yang, @mageddo as of now (GraalVM 19.1.1) we only support adding resources that are real data files to native-images. A directory on its own is not seen as a resource because we cannot embed a directory into a native-image. If we'd add support for that, which kind of usage patterns would need to be supported on resources that represent directories to make spring work as expected?

[2019-07-24 10:20] johanvos opened #1531 "[native-image] building using JDK11 and JNI platform fails due to different fields"
Currently, native-image can not be used to build HelloWorld, as it fails with
Error: could not find target method: static native void com.oracle.svm.core.jdk.JDKLibZipSubstitutions$Target_java_util_zip_Deflater.initIDs()

The reason is that there is no difference anymore in registering fields/methods for JDK 8 and JDK 11.

[2019-07-24 11:26] neomatrix369 opened #1533 "[native-image] Error: could not find target method: public static jline.Terminal com.oracle.svm.jline.subst.Target_jline_TerminalFactory.create(java.lang.String)"
When trying to build a native image from a jar, I get the below message, I have generated the needed (I hope it is sufficient) config (in META-INF) file needed, using the tracing agent as per @christianwimmer's [blog](https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271).

Command:

[code]

Output:

[code]

Environment:
[code]

Is thi

[2019-07-24 11:44] neomatrix369 commented on #1533
Is it correct that either of these are valid:

[code]

or

[code]

I have had both work for me (same for class file?).

[2019-07-24 12:12] mur47x111 commented on #1530
The issue is that we did not inline a lambda to native intrinsic method (in this case `Unsafe.storeFence`). A fix is on the way.

Before the fix:
[code]
After the fix:
[code]

[2019-07-24 12:20] olpaw commented on #1533
Yes, that's correct. Options are even recognized when given after `-jar ${JARFILE}`. Also: Order is significant. E.g. if a jar file (either on `-cp` or given as `-jar`) contains `native-image properties` you can override them when you pass the option after the `-cp`/`-jar` argument that adds that jar.

[2019-07-24 12:21] plokhotnyuk commented on #1530
@ mur47x111 thanks!

I'm closing the issue and looking forward to the new version of GraalVM with impatience!

[2019-07-24 12:21] #1530 closed

[2019-07-24 12:22] olpaw commented on #1533
Does the jar file contain jline? I.e. did you build an uber-jar that contains all your dependencies?

[2019-07-24 12:28] AliredDevils commented on #1416
@loicottet
For the llvm comipler,can you give some instructions about how to split the program code into code->code and code->data ?The program will contains：
-  Code section
- RO-data section
- RW-data section
-  ZI-data section
So,the code section will be compiled to bitcode and generated the `llvm.o` file,the other data section would be compiled to data object file(e.g `helloworld.o`)?
Another

[2019-07-24 12:47] retronym commented on #1530
For the record, Scala library's indirection in the Scala through method handles to absrtract over `Unsafe` and `VarHandle` is done to be cross-compatible between Java 8 and later versions that might hide Unsafe. Perhaps multi-release JARs would have been a better answer but I didn't want to complicate our build with them.

At the time, I only [tested inlining](https://github.com/scala/collection-s

[2019-07-24 13:21] lewurm opened #1534 "[sulong] missing specialization for LLVMGetElementPtrNodeGen"
`repro2.c`:
[code]

[code]

[2019-07-24 13:27] lewurm commented on #1518
Thank you @zapster.

I can confirm that `-O1` fixes the problem for the reproducer I've provided. Unfortunately if I compile my application with `-O1` I still run into the problem. FWIW, with `-O2` I hit another issue: https://github.com/oracle/graal/issues/1534

The problem seems to be that `void *` and `int` isn't interchangeable, that is, if `T` is defined like this:
[code]
then it works as exp

[2019-07-24 15:37] portnov commented on #499
I think implementing Haskell 98 with Truffle should be a good theme for someone's bachelor thesis :)
Unfortunately, nobody is interested in haskell 98; implementing Haskell 2010 with Truffle is a whole different thing...

[2019-07-24 15:57] christianwimmer commented on #1533
We are shipping Native Image with support (= substitutions) for JLine. The substitutions are activated when JLine is detected on the class path. Unfortunately, JLine changes over time and it seems like you are using a different version than what we are using: 2.14.6

If you can upgrade/downgrade to exactly that version (or a version close enough to that version), the substitution should work.

And

[2019-07-24 16:11] mcred commented on #1521
Thanks for all the input @yschimke! I was able to solve the issue by downgrading to 3.14.2. It only required some very minor changes. Pretty much just missing the companion objects. I will keep an eye on the 4.0 branch and if a fix gets pushed, I'll upgrade again. For future reference, what is causing this incompatibility with graal?

[2019-07-24 16:11] #1521 closed

[2019-07-24 16:22] neomatrix369 commented on #1533
I have created a PR to add this info to the help usage text, see #1535 - hope this is okay and helps.

[2019-07-24 16:24] neomatrix369 commented on #1533
Thanks for sharing the reason for the issue, I will have to check and see if this is possible, I don't currently have full control over dependency versions. But its good to know `jline` is sensitive to versions other than `2.14.6`.

If you could also make it less dependent on these kinds of things, would be great. Thanks,

[2019-07-24 16:26] yschimke commented on #1521
Not sure. I assume kotlin and how it creates interfaces. When you decompile kotlin there is a lot of syntactic sugar to make modern features work down to JDK 1.6. So I think edge cases really.

[2019-07-24 16:28] neomatrix369 commented on #1533
After I build the `svm` via `mx build`, where can I find `native-image` binary? I have only managed to find .tar files.

Or is there another process that converts the jar into a native image of `native-image` itself?

[2019-07-24 16:42] viktorklang opened #1536 "[question] native-image generation error: lzma"
Hi,

I'm encountering this issue when running native-image on macOS 10.14.5 using:

OpenJDK Runtime Environment (build 1.8.0_222-20190711112007.graal.jdk8u-src-tar-gz-b08)
OpenJDK 64-Bit GraalVM CE 19.1.1 (build 25.222-b08-jvmci-19.1-b01, mixed mode)

This error appears, which is reported as a user error, but it seems rather unlikely. Have anyone seen this, and if so, how to make it go away?

`out

[2019-07-24 16:47] olpaw commented on #1533
It will only be created on demand. E.g. after running `mx native-image --help` in the `graal/substratevm` folder. And even then you will run the native image driver (what users usually recognize as `native-image`) not as an image but on JVM (just look into `svmbuild/vm/bin/native-image` after running `mx native-image --help` - it's a bash script).
If you want to have a **"real"** native-image bina

[2019-07-24 16:52] neomatrix369 commented on #1533
@olpaw Just done it! Thanks!

[2019-07-24 18:24] viktorklang commented on #1536
Possible solved by this, investigating further: https://github.com/golang/go/issues/25240#issuecomment-387969187

[2019-07-24 19:38] johanvos opened #1537 "[native-image] Running HelloWorld fails due to missing classes"
Some classes have recently been marked to rerun (in JNIRegistrationJavaNet.duringSetup).
As a consequence, java.net.NetworkInterface is re-initialized at runtime, but there are a few classes (arrays) missing reflection registration.

[2019-07-24 20:58] #1531 closed

[2019-07-24 21:49] alvinj commented on #1327
That will be great, I’m looking forward to it!

[2019-07-25 01:42] armLeiJin commented on #1504
I have tested the patch. It is good to me.  I have no more questions on the issue. I close it now. Thanks.

[2019-07-25 01:42] #1504 closed

[2019-07-25 04:33] lburgazzoli commented on #1247
Looks like this bug affects truffle in general, see https://github.com/apache/camel-k/issues/873

[2019-07-25 06:21] loicottet commented on #1416
This is correct. I'll add that the data sections are filled with both values defined in the code as well as some other Graal-specific data that the program needs to run, and that is not explicitly modeled by the Graal IR.

[2019-07-25 08:06] zapster commented on #1518
Thanks for digging deeper into the issue, Bernhard!
Right, it seems like we are tripping over the function pointer return type mismatch (or rather, we are more strict that the C compiler and failing in a weird way). Maybe we should be more relaxed about that. I'll reopen this issue and have another look.

[2019-07-25 08:30] lburgazzoli commented on #1247
Seems to be fixed with the latest release

[2019-07-25 08:30] #1247 closed

[2019-07-25 08:30] guanchao-yang opened #1539 "When classpath no groovy dependency got errors below!"
[code]

I think maybe optimize groovy `@Substitute`.

[source code](https://github.com/oracle/graal/blob/97567ebd2a81279461bad60d422b71371ca6803a/substratevm/src/com.oracle.svm.polyglot/src/com/oracle/svm/polyglot/groovy/GroovySubstitutions.java)

[2019-07-25 08:48] Zhoulianchang opened #1540 "native-image success but run failed"
[code]
## Running binary
[code]

[2019-07-25 08:58] johanvos commented on #1537
I rebased the PR since #1532 is now merged.

[2019-07-25 09:54] mur47x111 commented on #1530
FYI, https://github.com/oracle/graal/commit/539964ba3aef2cd4346eb2662b84f3cef5dfea35

[2019-07-25 09:58] olpaw commented on #1540
@Zhoulianchang are you sure running `java -jar hello-1.0.jar` works?

If so please rerun `hello-1.0` with
[code]
and post the output to the command for further inspection.

[2019-07-25 10:20] rschatz commented on #499
Maybe better implement Haskell Core, and use GHC as frontend? Should be a lot simpler, even than Haskell 98, and would give you full support of all language features that GHC supports ;)

Or maybe even STG? But that might be too low-level. Hard to tell without trying it out. Maybe two bachelor thesis? Now where to get talented students that are interested in Haskell?

[2019-07-25 10:50] portnov commented on #499
Another option that should be possible:
* build GHC with clang; modify build scripts a bit to obtain LLVM bitcode files for runtime libraries. // I did not try this
* build your haskell application with `ghc -fllvm -keep-llvm-files`;
* use LLVM linker to build bitcode for whole application
* use graalvm's possibility to run LLVM bitcode.

As far as I understand, this way graal will be not able to

[2019-07-25 11:49] rschatz commented on #499
I did play around a bit with this approach (and I'm not the only one, see https://stackoverflow.com/questions/56681468/how-to-run-haskell-on-graalvm).

One thing I tried and *didn't* work is to just compile a Haskell "Hello, World" to bitcode and run it. See my answer to the stackoverflow question.

A potential problem with running that kind of languages on top of the GraalVM LLVM runtime is the G

[2019-07-25 13:10] Fithos opened #1541 "Batik (dacapo) fails on graalvm-ce-19.1.1 and graalvm-ce-19.0.2"
I noticed that batik (from dacapo-9.12-MR1-bach) fails on GraalVM CE. Please see the log below:

[code]
I tested and got this exception on
- graalvm-ce-19.0.2 MacOS
- graalvm-ce-19.0.2 Linux
- graalvm-ce-19.1.1 MacOS

On graalvm-ee, instead, the workload works fine (I tried graalvm-ee-19.0.2, both on Linux and MacOS).

This issue should be the same one described at https://www.stichlberger.com/sof

[2019-07-25 13:27] gilles-duboscq commented on #1541
Hi Andrea,
Thank you for the report.

Isn't it expected though? GraalVM CE is based on OpenJDK 8 which doesn't have the class batik is looking for. It works on GraalVM EE because that's based on Oracle JDK.

I get the same result on OpenJDK from Fedora for example.
I'm not sure we can do much on our end.

[2019-07-25 14:50] adinn commented on #1329
Hi carbotaniuman.

Are you aware that armv7 is essentially a completely different ISA to armv8. In consequence, your implementation will be unable to achieve significant reuse of the Graal aarch64 components in the compiler and substratevm trees. In other words, if you want to run graal on armv7 you not only need an JVMCI-enabled OpenJDK runtime for armv7 to bootstrap it with (e.g. the jdk dev tre

[2019-07-25 14:55] bobmcwhirter commented on #1515
Now I think that PR *does* address the issue you're seeing here.

[2019-07-25 15:02] bobmcwhirter commented on #1329
@carbotaniuman But also, realize that @adinn has coworkers who might also pitch in, such as myself or @dmlloyd or anyone else interested in PiZeros or other hardware. :)

That makes everyone's portion 1/3 of a tall order, which starts to become only a slight more than average order.

[2019-07-25 15:10] adinn commented on #1329
Hi Bob,

I'm not wanting to stop anyone having fun here -- just pointing out exactly how much fun you face :-)

[2019-07-25 15:59] neomatrix369 commented on #1541
Maybe mention somewhere in the docs or runtime (if possible) about this dependency or requirement, may result in one less repeat question. 😄

[2019-07-25 16:01] neomatrix369 commented on #1533
I did an upgrade and I still get the message, maybe have to wait for your fix.

[2019-07-25 17:35] cstancu commented on #1539
@guanchao-yang can you please provide steps to replicate how you reached this exception?

[2019-07-25 17:56] cstancu commented on #1450
@lilili87222 please reopen if the commit mentioned by @bobmcwhirter didn't fix the problem.

[2019-07-25 17:56] #1450 closed

[2019-07-25 20:35] cstancu commented on #1513
Did you try using ` --allow-incomplete-classpath` as the error message suggests?

[2019-07-25 21:51] Fithos commented on #1541
@gilles-duboscq, @neomatrix369 I see. Thanks for the clarification! Then, I think the issue can be closed.

[2019-07-25 22:42] up-to-you opened #1543 "C1/C2 Compilers vs GraalVM"
Can C1/C2 compilers in standard JDK/JVM distributions be ever replaced by GraalVM JIT ? Are there any future plans or expectations?

[2019-07-25 23:07] thomaswue commented on #1543
This is a question for the OpenJDK community and not for the GraalVM project. We provide a fully compatible Java SE 8 distribution with the GraalVM just-in-time compiler at https://www.graalvm.org/downloads/.

[2019-07-25 23:07] #1543 closed

[2019-07-26 00:21] Skhmt commented on #403
Any update on the Windows version?

[2019-07-26 01:21] Zhoulianchang commented on #1540
@olpaw I deleted the jar file after I generated the file. It can be run before it is deleted.
[code]

[2019-07-26 03:26] deanzz opened #1544 "Compiled to native image which uses Akka successfully but running failed"
I tried to compile my [Akka](https://akka.io/) sample project with Scala ([here](https://github.com/deanzz/graalvm-akka)) successfully, but running failed, cause a java.lang.ClassNotFoundException: akka.event.DefaultLoggingFilter.

How to reproduction:
1. Clone project from [here](https://github.com/deanzz/graalvm-akka)
2. Run `sbt graalvm-native-image:packageBin` under the project directory with

[2019-07-26 07:23] olpaw commented on #1540
Well, that's the expected behavior when a **fallback image** gets generated. But this likely not what you wanted. I guess you want to build a **standalone image** that can run independently from JVM and the original jar file. For more info see https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271

[2019-07-26 07:40] johanvos commented on #403
Depends on your JDK: Java 8 works with JavaFX 8, Java 11 works with JavaFX 11.

I don't work on 8 anymore, and I recommend using JavaFX 11 and beyond.

[2019-07-26 07:54] Zhoulianchang commented on #1540
alright, thank you very much

[2019-07-26 07:54] #1540 closed

[2019-07-26 08:56] #1522 closed

[2019-07-26 09:10] AliredDevils opened #1545 "[native-image]Could not find testing programs' own class or function name"
1. Environment
- [1] GraalVM 19.0.2
- [2] Linux 16.04 X86-64
2. Test Java Program
- [1] please check the attachment HelloWorld.java
3. Native Image command:
`native-image -H:Class=HelloWorld -H:Name=helloworld`

And then,i can get the `helloworld` executable file,and the result is correct.But i could not find the class and function name in the `helloworld` file.The steps are as follows:

- `objdum

[2019-07-26 09:13] AliredDevils commented on #1545
[HelloWorld.zip](https://github.com/oracle/graal/files/3435085/HelloWorld.zip)

[2019-07-26 09:33] olpaw commented on #1545
Building with `-H:-DeleteLocalSymbols` will give you want you want.

[2019-07-26 09:33] #1545 closed

[2019-07-26 09:40] adinn commented on #1543
Thanks for referring this to the correct forum, Thomas. I agree that it would be better directed to the OpenJDK discuss list.

However, I will note right here that I doubt the first question will receive an answer even in that forum. That's mainly because it not clear (to me at least) that replacing one with the other is something either project necessarily wants.

I know the question asks about p

[2019-07-26 12:35] verhas commented on #1002
I figured out with your help that I bumped on the same issue in my code. Let add the following:

For me, it seems more reasonable to use

[code]

instead of

[code]

Your approach assumes that the actual class implementation of the annotation interface of which an instance of is referenced by the variable `proxy` implements only one interface. Although not likely that this changes, it is not guara

[2019-07-26 13:07] T3rm1 commented on #1512
How can we install native-image without it on Windows?

[2019-07-26 15:36] #1537 closed

[2019-07-26 16:11] neomatrix369 opened #1547 "[native-image] Error "Class 'org.aeonbits.owner.crypto.IdentityDecryptor' cannot be instantiated; ""
When trying to build a native image from a new uber jar, I get the below message.

I have generated the needed config (in META-INF) file needed using the tracing agent and also manually added an entry.

Command:
[code]

Config (META-INF/native-image) snippet related to the error:
[code]

I have added the above to the `reflect-config.json` file but has no effect.

Output:

[code]

Environment:

[co

[2019-07-26 18:13] cstancu commented on #1547
What's weird with this error is that `jdk.internal.module.IllegalAccessLogger` is a JDK9+ class and your java is JDK8. Did you compile your app code with a later JDK, i.e., JDK11?

[2019-07-26 18:21] cstancu commented on #1544
It looks like you need to [register `akka.event.DefaultLoggingFilter` for reflection](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md). You can automate the discovery of the reflectivelly accessed elements via the [native-image-agent](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md).

[2019-07-26 18:22] pejovica commented on #1520
We don't support producing 32-bit code on any platform. See #1329 for some additional info.

[2019-07-26 18:22] #1520 closed

[2019-07-26 19:52] aclement opened #1548 "[native-image] any option to make reflect config more relaxed?"
On Graal 19.0.2/MacOS. Not a bug but perhaps a feature request or maybe there is already a way to achieve this, or maybe I'm thinking about it the wrong way. Thanks!

TL;DR - I'd like native-image not to hard fail if something about an entry in reflection-config.json can't be fully resolved (maybe a super type is missing or a type in a generic method reference) because I know the runtime is making

[2019-07-26 20:26] yschimke commented on #1521
@mcred based on the stack trace I think it's issues related to "unknown locality of class" with Kotlin.

[2019-07-26 20:27] yschimke opened #1549 "Kotlin interfaces cause native-image failures"
See https://github.com/oracle/graal/issues/1521

[2019-07-26 23:19] pquiring commented on #1386
I get the same errors, when building truffle with mx.
[code]
Using Windows git 2.22 and Windows Python 2.7.16 (not cygwin which has it's own set of problems).

[2019-07-27 05:29] deanzz commented on #1544
Thanks @cstancu .I tried native-image-agent with below command, but no files are generated in the `config-output-dir` directory. Any suggestions?
[code]

[2019-07-27 05:47] deanzz commented on #1544
And I configured reflection class manually using reflect-config.json, but I got other error below during compilation.

reflect-config.json:
[code]

Error message:
[code]

[2019-07-27 07:45] yschimke commented on #1336
Have you got this test working without graal?  That should be the first step.  n.b. inserting the BC providers at the top of the list.

https://github.com/bcgit/bc-java/blob/master/tls/src/test/java/org/bouncycastle/jsse/provider/test/BCJSSEClientTest.java

You shouldn't need to disable the SunEC provider, but if you do, you should presumably also disable SunJSSE at the same time when using bctls.

[2019-07-27 08:39] yschimke commented on #1336
Now hitting first this with Graal - https://github.com/oracle/graal/issues/378

[code]

Then after fixing above

[code]

[2019-07-27 13:52] lvh commented on #1336
Right: you've hit why I disabled SunEC for Graal :)

[2019-07-27 15:30] yschimke commented on #1336
@lvh OK, makes sense.  That wasn't clear that you were also hitting it when just trying to use SecureRandom with bctls.

[2019-07-27 16:30] yschimke commented on #1336
@lvh on further testing outside of Graal, I can't get bctls working with JDK8.  Works fine with JDK11, just switching the execution JVM for running the test, nothing else.  But I suspect the issues I'm seeing with Graal are now related to that instead.  So I'm not going to spend more time getting bctls working with Graal.

[2019-07-27 16:37] lvh commented on #1336
Do you have a reproducer project? Most of the reason BCTLS exists is good crypto on old JDKs (and I’ve certainly used BCTLS on JDK8, at least I think?) so that’s a very surprising statement to me :)

[2019-07-27 16:42] yschimke commented on #1336
@lvh I've linked above.  OkHttp tries to drive the selection of which cipher suites to use.  It's possible that this is what's causing the issue, negotiating JceChaCha20Poly1305 on JDK 8.

[2019-07-27 17:28] pquiring commented on #651
In the mx build script for substratevm you can see references to JDK 11,13 and 14.
https://github.com/oracle/graal/blob/master/substratevm/mx.substratevm/mx_substratevm.py#L169
Not sure why JDK12 is not listed there so I added it to try and compile it, but still get other errors under Windows.
I would suspect that after JDK-13 is released we would see an updated version of GraalVM that targets it.

[2019-07-27 23:16] Prasanna-sr commented on #1225
i had the same issue. symbolic link got broken while copying the folder to different location. Easy fix is to copy the compressed file (tar/zip) to location you want and then extract it.

[2019-07-28 01:39] volth commented on #1052
I just hit this problem with the latest graal 19.1.1
solved by adding -O1 to clang flags

C files are `sulong/tests/com.oracle.truffle.llvm.tests.interop/interop/interop002.c` and above (interop001.c has no problem)

[2019-07-28 06:31] neomatrix369 commented on #1547
Good point, I will look into this, and see if I can eliminate it on my end. But if I can't (and this could be an example of an edge-case), then would look up to you guys for some support.

[2019-07-28 06:34] neomatrix369 commented on #1547
How do we tackle the second issue:

[code]
As mentioned, despite the definition in the `META-INF` reflection config file, we still get this error message.

[2019-07-28 13:22] neomatrix369 commented on #1547
The latest update is that we are now down to this error message:

[code]

I get these generated in the reflect-config.json for `org.aeonbit` related packages:

[code]
Is this sufficient for the `native-image`?

[2019-07-28 20:15] 4ntoine commented on #366
Having it with just kotlin sequences in kotlin 1.3.31:
[code]

Does it mean kotlin sequenece is a blocker for graalvm?

[2019-07-28 22:27] alvinj opened #1550 "With native-image, reading a large file is more than 2X slower than Java"
I don’t know if you consider performance to be a bug, but I have a situation where I need to read a 9GB text file (Apache access log), and I found these results for a simple line-counting algorithm:

- Running with Java: ~20 seconds
- Running with a native-image executable: ~56 seconds

I’ve written several different versions of the code using BufferedReader and NIO classes, and here’s the NIO ver

[2019-07-28 23:09] thomaswue commented on #1550
Have you tried running with profile guided optimizations?

[2019-07-28 23:28] alvinj commented on #1550
No, I’m sorry, I saw that option but I’m only using the Community Edition.

[2019-07-29 06:56] johnmcconnell opened #1551 "[Question] How would one register a custom guest language for the polyglot api?"

[2019-07-29 07:04] geek29 commented on #1494
yes, I tried but heap dump that I took did not have any live isolates hence could not find anything inside it. I will try once again, probably through programmatically instead of using signals

[2019-07-29 07:06] boris-spas commented on #1551
I assume you mean a Truffle language (such as https://github.com/graalvm/simplelanguage which illustrates how to do this).

- The cleanest way is to build a GraalVM component (https://github.com/graalvm/simplelanguage/blob/master/component/make_component.sh)
- A simpler way is to append the language jar to the Truffle class path (https://github.com/graalvm/simplelanguage/blob/14ebc1b0d0402c173ca7b

[2019-07-29 09:39] ansalond commented on #1512
Sorry for the late replies.

Yes, but unfortunately I don't have an ETA yet.

Correct.

@json-warner, is it ok to close this issue?

[2019-07-29 10:18] deanzz commented on #1544
The problem that running failed was resolved by the repository [here](https://github.com/vmencik/akka-graal-config) that it publishes artifacts that can be used for building Akka projects with native-image without supplying the whole configuration in the project itself.

Please refer to [here](https://github.com/deanzz/graalvm-akka) for the sample code.

[2019-07-29 14:19] pquiring commented on #1430
You need cl.exe in your path (Microsoft VC++ compiler)

[2019-07-29 14:25] pquiring commented on #1386
Got it working, was using ninja from cygwin which doesn't work.  Downloaded Ninja for Windows and get past this point now.
https://github.com/ninja-build/ninja/releases

[2019-07-29 15:44] tarsa commented on #1544
@deanzz

One thing looks really odd - you're putting VM parameters as main class arguments.
[code]
You have to put VM options before main class name or JAR path.

[2019-07-29 16:32] viktorklang commented on #1306
I just ran into this with Scala closures/lambdas.

[2019-07-29 16:38] tarsa commented on #1544
@cstancu
Maybe it's worth specifying on https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md that -agentlib must come before main class name or JAR path? It's not the first time people are complaining that native-image-agent doesn't generate anything.

[2019-07-29 17:02] johnmcconnell commented on #1551
Would following on of the methods above would the language be available to a native c compiler in order to extend the native c application using the polyglot api? (`polyglot.h`).

Example, https://github.com/chrisseaton/graalvm-ten-things#7-extend-a-native-application
Instead of evaluating under the context of javascript, I would like to host my own guest language

[2019-07-29 17:44] cstancu commented on #1547
Can you try specifying the reflection config file via [`-H:ReflectionConfigurationFiles=/path/to/reflectconfig
`](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md#manual-configuration) to eliminate the possibility that the file is not found?

[2019-07-29 19:44] neomatrix369 commented on #1547
That advice helped, I did that for all the 4 config files:
[code]
Although I was under the impression `native-image` detected the `META-INF/native-image` if placed next to the jar file.

[2019-07-29 19:45] neomatrix369 commented on #1547
I can now run the program further, and it now breaks at the below:

[code]
This must be something new.

[2019-07-29 21:48] cstancu commented on #1547
`META-INF/native-image` needs to be inside the jar file. I think `META-INF/native-image` should also work when is placed next to the code organized in directories, but not archived.

[2019-07-29 21:51] cstancu commented on #1547
Regarding the error `Cannot convert 'false' to java.lang.Boolean`, does your code execute successfully on HotSpot?

[2019-07-29 22:39] neomatrix369 commented on #1547
Yes, the uber jar runs fine on traditional JDK (Hotspot).

I'm trying to use the native-image binary to do the same things as the uberjar.

[2019-07-30 02:38] deanzz commented on #1544
@tarsa Thanks.

The native-image-agent works now by below command.
[code]

[2019-07-30 08:57] olpaw commented on #1547
Placing it next to the jar file has not effect whatsoever. You need to have the contents of `META-INF/native-image` **on the classpath**. Either by having it right inside your jar file or by adding **the parent directory** of `META-INF` to the classpath:

[2019-07-30 10:10] chumer commented on #1412
Here is a smaller reproducible example:
[code]
This fails with:
[code]

[2019-07-30 11:19] boris-spas commented on #1551
Yes.
Your component needs to have a `native-image.properties` file specifying, if any are needed, the native-image command line properties. Once your language component is installed in graalvm, you need to rebuild the polyglot lib and it will include your language.

I've just updated simple language example so that the following (using the "extend a native app" example you linked) works:
[code]

[2019-07-30 11:51] peter-hofer commented on #1473
Thank you for your report. Windows support is still under development and `native-image-agent` is not support on Windows yet.

[2019-07-30 12:10] pquiring opened #1554 "Windows : trufflenfi.dll fails to build (ninja problem)"
When trying to build \graal\truffle on Windows I get an error that trufflenfi.dll does not exist.
The ninja job that is suppose to build that file seems to be working but doesn't actually generate the file (dry run?).

Build environment:
Windows 10 x64
Windows Git 2.22, Windows Python 2.7.16, mx 5.229.2
Windows ninja : tried 1.9 and 1.8.2

What version of ninja are you using?

[2019-07-30 12:12] pquiring commented on #1554
The build.ninja file is in \graal\truffle\mxbuild\windows-amd64\src\com.oracle.truffle.nfi.native

[2019-07-30 12:20] neomatrix369 commented on #1547
From this [blog](https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271) I picked up the below:

Although doing what @cstancu and you suggested fixed the first error.

[2019-07-30 12:34] peter-hofer commented on #1528
Thank you for your report, I am in the process of merging improved error reporting.

[2019-07-30 12:43] neomatrix369 commented on #1547
@cstancu
It's this properties files loading library behind the dynamic code generation, see http://owner.aeonbits.org/. Hence we have the error message https://github.com/oracle/graal/issues/1547#issuecomment-516135224

[2019-07-30 14:02] chumer commented on #1412
I did some digging the problem is actually that we get a typeerror here. it seems that the ClassCastException that happens here `(Value) human;` is translated into an interop type error, when then gets translated into a JS error. In this example one would expect a host error pointing tot he cast location in the stack trace.

[2019-07-30 14:09] pmlopes commented on #505
This issue is already fixed (works)

[2019-07-30 14:09] #505 closed

[2019-07-30 14:17] alvinj commented on #1550
Okay, two problems. First, there is no `native-image` command in the “Oracle GraalVM Enterprise Edition based on JDK8 for macOS (19.1.1).” I just installed it on my Mac, unpacked it, tried to use it, then found that this command is not included. I confirmed that by searching the directory with the `find` command.

Second, an issue that doesn’t matter just yet, but are there any more docs on how to

[2019-07-30 15:02] peter-hofer commented on #1494
I fixed the `sysfs` file handle leak in https://github.com/oracle/graal/commit/ece874512d60352bbf462ab90cd123215b2ea7f7.

[2019-07-30 15:16] #1423 closed

[2019-07-30 16:50] peter-hofer commented on #1536
Thank you for your report. The comments on the issue you linked seem to indicate that is caused by incorrect/incompatible leftover header files. Can you confirm that? Are you using _lzma_ anywhere? (we don't seem to reference it)

[2019-07-30 17:11] qwwdfsad opened #1555 "libgraal binary compiled with a frame pointer support"
### The problem statement

Currently, libgraal uses `rbp` register as a general-purpose register (instead of storing frame pointer), thus making impossible to profile it by default Linux/MacOS X tools.

It would be nice to have a separate binary (or at least ability to build it from source) that preserves frame pointer.

### Use-case

For an experiment, we at JetBrains tried to use Kotlin compiler

[2019-07-30 17:42] geek29 commented on #1494
Is there any internal api which keeps a record of open fds which I can use to explicitly close in shutdownhook? As SecureRandom is JDK class I cant modify it. There could be another such fd leaks lurking anywhere. I have verified it that an open fd closed inside another isolate/same isolate explicitly avoids `Too many files open` error. The only issue I face is how to get hold of FD number of `/de

[2019-07-30 17:48] thomaswue commented on #1550
There is an extra download at https://www.oracle.com/technetwork/graalvm/downloads/index.html "Oracle GraalVM Enterprise Edition Native Image Early Adopter". After downloading you can use:

gu install --local-file my/path/to/my/file

The process for PGO is to first create an image with the "--pgo-instrument" flag. Then you run an example program. The result will be a profile.iprof file. Then you c

[2019-07-30 17:50] jukowski opened #1556 "Using POLYGLOT_DECLARE_TYPE fails with Don't call __polyglot_as_typeid function directly"
First of all, great work! Amazing vision!

I want to retire JNI and use a high-performance C library directly through GraalVM & Polyglot. I stumbled on the following error message when I want to return a custom C structure back to Java:
`Don't call __polyglot_as_typeid function directly, use POLYGLOT_DECLARE_* macros.`

I do use the POLYGLOT_DECLARE macro. I also get the same error when trying the

[2019-07-30 18:14] viktorklang commented on #1536
Yes, I can confirm that it was due to leftover header files—just in case
someone else encounters this issue.

Cheers,
V
--
Cheers,
√

[2019-07-30 18:54] dougxc commented on #1555
It should be possible to build a stripped down GraalVM CE that includes a libgraal that doesn't use `rbp`:
[code]

[2019-07-30 18:56] cstancu commented on #1555
FYI: This options used to be named `-H:+UseStackBasePointer` in older releases. Related: https://github.com/oracle/graal/issues/1447

[2019-07-30 19:03] alvinj commented on #1550
I’m sorry that I didn’t see that download link, but I guess I wouldn’t have known what to do with it anyway.

The short summary is:

- The first native image, create with `--pgo-instrument`, takes 74 seconds to run
- The second native image, created with `--pgo`, takes 56 seconds to run
- Running the original jar file with `java` takes 26 seconds to run

More details:

I created the first image li

[2019-07-30 19:11] cstancu commented on #1547
@neomatrix369 can you provide minimal reproducible code?

[2019-07-30 20:03] json-warner commented on #1512
@ansalond Yes, you can close the issue

[2019-07-30 20:03] #1512 closed

[2019-07-30 21:16] pquiring commented on #1554
Nevermind, I had another link.exe in my path.

[2019-07-30 21:16] #1554 closed

[2019-07-30 21:41] thomaswue commented on #1555
Do you have some benchmark suite for the Kotlin compiler that we could run? Also JFRs and -Dgraal.PrintCompilation=true output of a run could be of interest.

[2019-07-30 21:52] johnynek opened #1557 "Add ability to configure needed native-image C/C++ dependencies"
native-image needs gcc, glibc and zlib (according to: https://www.graalvm.org/docs/reference-manual/aot-compilation/ ).

It seems to require `gcc` to be on the path:
https://github.com/oracle/graal/blob/f30f2aa2f0fae4eeb21053fa965bd045abf3a805/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/c/codegen/CCompilerInvoker.java

It would be nice for building tools that use native image t

[2019-07-31 03:35] ashwinbhaskar commented on #1341
@cstancu @elliots sorry for late reply..But I am not able to find `libsunec.so`

[2019-07-31 03:41] AliredDevils commented on #1416
@loicottet
I check the binary file which compiled by llvm-backend compiler,and it seems that `local symbols` could not be removed.

Further testing for `local symbols`,i use the `-s` insteading of `-Wl,-x` to compile again, and the result binary file generated successfully without local symbols.

Does the `-Wl,-x` compiling option not work for the llvm-backend compiler?

[2019-07-31 04:17] nehaliacharya94 opened #1558 "Native image build failed with error: Main entry point class 'io.micronaut.function.aws.runtime.MicronautLambdaRuntime' not found."
I have a Micronaut application for which I am trying to build the native image (a Docker image) in my local environment (Windows) with the command:
`docker build . -t student-custom-runtime`.
The stacktrace is:
[code]
With reference to the above error, I have checked that the Project and External Dependencies in my project has the micronaut-function-aws-custom-runtime jar file. The build-native-im

[2019-07-31 04:27] cstancu commented on #1341
On my machine it is under `$JAVA_HOME/jre/lib/amd64/libsunec.so`. My JDK version is `openjdk1.8.0_222-jvmci-19.2-b02`. However, the message about the `sunec` library missing is just an warning and it is likely not the cause of your latest error. The `HmacSHA1` is enabled by the use of `-H:+EnableAllSecurityServices`. The registration of the security services can be traced with `-H:+TraceSecuritySe

[2019-07-31 04:35] cstancu commented on #1558
The `micronaut-function-aws-custom-runtime.jar` needs to be on your classpath. I see that your `--class-path` only specifies `student-custom-runtime-*.jar`. Or is that an uber jar that is supposed to contain all classes? If you can share your code I can take a closer look.

[2019-07-31 07:30] AliredDevils opened #1559 "[native-image] compiled successfully with llvm-backend but running failed with "Single-threaded VM cannot create new threads""
Compile rawhttp native image:
1.Default style(lir backend)

- Compile native image successfully
- Native image running successfully

2.llvm-backend compiler

- Compile native image successfully
- Native image running **failed**

    `~/graal/substratevm/rawhttp serve ~/public/ --port 8082`

The errors:

    Exception_ in thread "main" com.oracle.svm.core.jdk.UnsupportedFeatureError: Single-threade

[2019-07-31 07:33] #1536 closed

[2019-07-31 07:33] peter-hofer commented on #1536
Thanks for your response.

[2019-07-31 07:35] dougxc commented on #1559
@loicottet can you please offer your thoughts on this.

[2019-07-31 08:26] AliredDevils commented on #1559
The llvm compiler alse does not support multi-thread options:`MultiThreaded`  ? @loicottet

[2019-07-31 08:36] loicottet commented on #1559
You are using `-H:-MultiThreaded` which _disables_ multi-threading. Removing this option or setting `-H:+MultiThreaded` will work.

[2019-07-31 08:44] loicottet commented on #1416
Does using the `-H:+DeleteLocalSymbols` option of `native-image` remove the local symbols from the final binary? This should set `-Wl,-x` at the right place.

[2019-07-31 08:57] AliredDevils commented on #1559
If removing the options `-H:-MultiThreaded` and `-H:-SpawnIsolates`, it will be failed during compiling.

I submitted similar issue [1416](https://github.com/oracle/graal/issues/1416#issuecomment-507241082) before, the llvm currently dose not support "multithreaded" and "isolates".

The commit ID of my local source codes : `488579b038cc33391111831d4aef440cc64bf722`, should i update my source code?

[2019-07-31 08:58] loicottet commented on #1559
Isolates are still not supported by the LLVM backend, so you should still use `-H:-SpawnIsolates`, and only remove `-H:-MultiThreaded`

[2019-07-31 09:05] AliredDevils commented on #1559
Cool, that's all right,thanks very much.

[2019-07-31 09:05] #1559 closed

[2019-07-31 10:01] AliredDevils commented on #1416
The `DeleteLocalSymbols` option has been enabled by default as bellow:

    src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateOptions.java:325:    public static final HostedOptionKey<Boolean> DeleteLocalSymbols = new HostedOptionKey<>(true);

[2019-07-31 13:13] fniephaus opened #1560 "TruffleFile shouldn't use TypeLiteral"
Had a chat with @chumer and he suggested not to use `TypeLiteral` in `TruffleFile`:

https://github.com/oracle/graal/blob/22f49a52f86bbeb0405bef1c25b38cdd969ebea8/truffle/src/com.oracle.truffle.api/src/com/oracle/truffle/api/TruffleFile.java#L185

This throws a caught ArrayIndexOutOfBoundsException.

#### Call stack
![image](https://user-images.githubusercontent.com/2368856/62214450-60694c00-b3a5-

[2019-08-01 02:02] guanchao-yang commented on #1315
@cstancu  Do we have any other workaround temporary？ Thanks

[2019-08-01 05:15] nehaliacharya94 commented on #1558
It is an uber jar having all the classes but when I viewed the contents of the jar, it didn't have `micronaut-function-aws-custom-runtime.jar`. Unfortunately I can't share the code due to workplace policies. I did try to add it in the classpath like you suggested but it still says not found. I might have not added it correctly. Should it be like this:
[code]

[2019-08-01 11:38] Tetragramato commented on #1350
Hello,

I tried to make agentlib works, but have no results.

[code]

Don't know why, but my folder /native-config is empty when i play with my endpoint :/

I explored the container to see if it was a java path problem, but i can see that the JVM is Graal.

I don't know what i missed !!!

[2019-08-01 11:55] dniel commented on #1350
@Tetragramato just wild guess, but could you try to re-order the arguments of the java CMD.
 Like this `CMD ["java", "-agentlib:native-image-agent=config-output-dir=/native-config/", "-jar", "application.jar"]`

[2019-08-01 13:33] neomatrix369 commented on #1547
I have one attached to this message. Usage:

- unzip the zip artifact
- cd into folder
- run `mvn package`
- run `./prepareForNativeBuild.sh target/hotreload-jar-with-dependencies.jar`
- run `./buildNativeImage.sh target/hotreload-jar-with-dependencies.jar`

And you should see a message like this at the end of the process:

[code]

Which is synonymous to https://github.com/oracle/graal/issues/1547

[2019-08-01 13:41] neomatrix369 commented on #1533
@christianwimmer we are through with the `jline` error to land to this error (see attached logs)
[build.logs.txt](https://github.com/oracle/graal/files/3456966/build.logs.txt):

Starts off a bit like:
[code]

[2019-08-01 14:35] bobmcwhirter commented on #1558
Try a single `-cp` for the classpath, using the appropriate path separator (`:` on unix-like systems).

`-cp student-custom-runtime-*.jar:micronaut-function-aws-custom-runtime.jar`

I'm also unsure if `-cp` supports wildcards in that way, or if they will get expanded by the shell. Worth experimenting, but that might also be part of the issue.

To determine, place an `echo` immediately in front of

[2019-08-01 15:28] yschimke commented on #1549
Kotlin issue ticket https://youtrack.jetbrains.com/issue/KT-33097

[2019-08-01 15:28] yschimke commented on #1521
Kotlin issue ticket https://youtrack.jetbrains.com/issue/KT-33097

[2019-08-01 15:29] tzezula commented on #1560
Right, the `SignatureParser.current` uses exception control flow with no reason.
[code]

[2019-08-01 15:35] fniephaus commented on #1560
Maybe this deserves to be fixed in OpenJDK?

[2019-08-01 15:50] tzezula commented on #1560
Yes, I will fill an issue with patch.

[2019-08-01 15:52] fniephaus commented on #1560
Thanks!

[2019-08-01 16:04] apupier opened #1562 "On Windows, if users have "long" username, the build is not working"
for instance, for "Aurelien Pupier", the tmp dir by default is returned in the form: `C:\Users\AURELI~1\AppData\Local\Temp\`

the error is:
[code]

if using the CL command directly, we have access to full error:

[code]
there is effectively no such file or directories
There is  no folder namds SVM-XXXX in the temp folder

workaround: specify another repository using `-H:TempDirectory`

[2019-08-01 16:22] rschatz commented on #1556
Can you try compiling with `-g`? The `POLYGLOT_DECLARE_*` macros only work with debug information enabled, otherwise there is no way to find out the name of the struct members.

We should definitely improve that error message ;)

[2019-08-01 16:38] thurka commented on #1560
This is fixed in JDK-9. https://bugs.openjdk.java.net/browse/JDK-8035424

[2019-08-01 18:06] bobmcwhirter commented on #1307
fwiw, attempted to replicate this on both JDK8 and JDK11 and it seems to be functional at this point.

[2019-08-01 18:08] pejovica commented on #1562
It looks like you are using a 32-bit compiler, which is not supported. Could you try from the 64-bit Developer Command Prompt? Also, we only test the MSVC 2010 compiler, so there may be other issues with newer versions.

[2019-08-01 18:11] ilopmar commented on #1307
@bobmcwhirter let me try that again and I'll get back to you.

[2019-08-01 18:22] bobmcwhirter commented on #1307
fwiw, my test-case was

`Package.getPackage("com.oracle.svm.test")` since that seems to match what Micronaut was doing in the `AbstractBeanConfiguration`.

[2019-08-01 18:56] cstancu commented on #1549
@yschimke thanks for investigating further and opening the Kotlin ticket!

[2019-08-01 19:06] yschimke commented on #1549
I didn’t. Just connecting loop

[2019-08-01 21:12] ilopmar commented on #1307
I've tried again with the sample application I attached and latest Graal built from master (19.3.0-dev) and the error is the same:

When I start the application:
[code]

And then, sending a `GET` request to `http://localhost:8080`:
[code]

[2019-08-01 21:50] bobmcwhirter commented on #1307
If you can make a minimal reproducer I’ll dig in further. Something with
zero dependencies would be best.

Bob

On Thu, Aug 1, 2019 at 5:12 PM Iván López <notifications@github.com> wrote:

[2019-08-01 23:43] #1524 closed

[2019-08-02 02:31] guanchao-yang opened #1563 "Error: Unsupported features in 3 methods when using in GraalVM 19.1.1"
Got errors below :

[code]

[code]

[code]

[2019-08-02 04:55] neomatrix369 commented on #1547
@cstancu is the above good enough for your analysis? Let me know if anything else might help.

[2019-08-02 06:04] nehaliacharya94 commented on #1558
`-cp student-custom-runtime-*.jar:micronaut-function-aws-custom-runtime.jar` showed `cp` as an error in the build-native-image.sh file so I removed it and added `--class-path student-custom-runtime-*.jar:micronaut-function-aws-custom-runtime.jar` but it still gives the same error.

[2019-08-02 06:42] ilopmar commented on #1307
The think is that the issue happens with Micronaut and our Oauth2 security module. We know that it is possible to create Graal native-image application with Micronaut and the security module, so this sample application is the same, but with the oauth2.

[2019-08-02 06:53] tsatatwer commented on #403
@johanvos what is the most JDK version ?????? used and whats is the most Javafx version used??????.

[2019-08-02 07:14] tsatatwer commented on #403
@johanvos
Java 8 is still the most dominant version of Java–almost 8 in 10 respondents say their main applications use it in production.
From : https://snyk.io/blog/jvm-ecosystem-report-2018/

[2019-08-02 07:33] johanvos commented on #403
I don't think that discussion belongs in this issue. If you or someone else want to work on support for 8, that would be very welcome. I only work on 11 and beyond.

[2019-08-02 07:56] tsatatwer commented on #403
@johanvos

 It is not a discussion it is realty.., any way work what ever you want and like.

[2019-08-02 07:57] bmhm commented on #403
@johanvos that would be very sad.
Java 8 has LTS support active, offered by IBM and Oracle (and possibly others).

Also, GraalVM 1.9.11 is still java 8, isn't it?

[2019-08-02 07:58] 4ntoine commented on #403
+1 for 8 support. Since GraalVM is based on JDK8 i can see no reason javafx is supported started 11 only.

[2019-08-02 08:01] tsatatwer commented on #403
@johanvos it is indeed relay very sad and your good efforts missed important point witch hit too many developers.

[2019-08-02 08:16] johanvos commented on #403
JavaFX 8 LTS is closed source, and I don't have access to the sources (you have to ask Oracle or others that support it).

JavaFX 11 LTS is maintained by Gluon and the sources are available. Sources for JavaFX 12/13 and beyond are all public available as well. I can work on those.
The most important patch to JavaFX that allows it to work with GraalVM is here: https://github.com/javafxports/openjdk

[2019-08-02 08:29] chengenzhao commented on #403
Indeed, we r using javafx 13-ea+11 to experiment new WritableImage functions to share the memory with other process.

For client side development, I think most developers would and should use bundled runtime(using jlink to create one) rather than asking users to install JVM/JDK by themselves to provide more convenient way of using our softwares.

In this way, it doesn't really matter which JDK & J

[2019-08-02 08:41] chengenzhao commented on #403
It is Graal 19.1.1, not 1.9.11
and for aot, Gluon client side plugin is using Graal 20.x

Besides Java 8 runtime is really huge for client side softwares compared to Java 11+
It takes like about 252m(wow) for mac...
By using jlink our macrt only take 90m- almost 1/3 of Java 8 runtime

[2019-08-02 08:56] adinn commented on #403
GraalVM support for jdk11 is not yet 100% complete but it is well under way. Note that JDK11 is also an LTS release.

There are several reasons why Java (OpenJDK) has moved on to JDK11 and beyond yet GraalVM is still relying on JDK8. None of them are really to do with the functionality, performance or backwards compatibility of JDK11 vs JDK8. On the consumer side, legacy doesn't really cut much ic

[2019-08-02 09:02] thomaswue commented on #403
Yes, agreed @adinn. We are treating JDK 11 as the #1 priority at the moment.

[2019-08-02 10:23] loicottet commented on #1416
What exactly are the symbols you're trying to delete, and in which file?

[2019-08-02 10:51] mrcalvin opened #1564 "[sulong] Calling back into Java host from LLVM guest language based on user data: managed/ unmanaged memory"
How can I provide for calling back into the host (Java) from LLVM code managed by Sulong, when this call is deferred (function pointer to be passed around in the Sulong side of things as client/ user data to C functions, but memory is unmanaged)?

What I currently have (working, but this is smelly IMO):

1) Sulong/LLVM: A helper function `createCommand` that calls into a bitcode version of the Tcl

[2019-08-02 14:01] apupier commented on #1562
you're right. using a a 64 bits Developer Command prompt, there is not this issue.

[2019-08-02 14:01] #1562 closed

[2019-08-02 21:28] bobmcwhirter opened #1565 "Allow `mx native-unittest` to use `mx native-image`"
As I'm unit-testing stuff in `substratevm/` it can occasionally be surprising that `mx native-unittest` within that directory sometimes ends up using an old/out-of-date `native-image` binary from `vm/`.

If I remove `vm/mxbuild/` then it obviously will rebuild a native-image of `native-image` itself prior to building and executing the test. But that's also... not fast.

If instead it could prefer

[2019-08-03 07:07] guanchao-yang opened #1566 "Fatal error: java.lang.StackOverflowError"
[code]

[2019-08-03 09:42] guanchao-yang commented on #1539
@cstancu  I added this dependency fixed

[code]
But I got the errors below when I use groovy script function:

[code]

[2019-08-03 11:15] qwwdfsad commented on #1555
Thanks, I will try to re-evaluate my experiment with `PreserveFramePointer`, though it may take a while because I've never built Graal from scratch before.

@thomaswue unfortunately, nothing really self-contained and automated.
Internally, we use something like "clean compile this project 10 times, collect statistics of each run and verify that all statistics are within error bounds".

In my case,

[2019-08-03 12:36] Tetragramato commented on #1350
Thanks, but no results -_-

I will try other things, i already had some results with the agent lib (empty file, but i had a file !!!), i don't know why now it's not OK.

[2019-08-03 15:06] fniephaus opened #1567 "[dsl] Cannot use `boolean.class` as type of @NodeField"
The follow example works fine:

[code]

However, when `@NodeField(name = "myField", type = Boolean.class)` is changed to `@NodeField(name = "myField", type = boolean.class)`, the following error is thrown:

[2019-08-04 20:38] jukowski commented on #1556
It worked, thank you!

[2019-08-04 20:38] #1556 closed

[2019-08-05 02:16] #1566 closed

[2019-08-05 03:39] ashwinbhaskar commented on #1341
@cstancu okay, will do that. Using the agent doesn't seem to straight forward at first glance (or is it?). I will try to get the agent working.

[2019-08-05 07:27] johanvos opened #1568 "Appstore does not accept apps using private CF API's"
When submitting an app build using Graal to the AppStore, the app was rejected and the following message was received:

`The app references non-public symbols in App: __CFCopyServerVersionDictionary, __CFCopySystemVersionDictionary.
`
This is due to _CFCopyServerVersionDictionary and _CFCopySystemVersionDictionary in com.oracle.svm.core.posix.headers.darwin.
Those functions are used in com.oracle.

[2019-08-05 07:39] dougxc commented on #1563
Hi @guanchao-yang , is it possible for you to provide a small reproducer for this?

[2019-08-05 09:31] johanvos commented on #1568
FWIW, by removing these 2 methods, we could upload an app to the AppStore without issues.

[2019-08-05 10:13] dougxc commented on #1563
I've managed to reproduce and will create a fix.

[2019-08-05 11:14] mbaudier opened #1569 "Cannot convert a simple SCTP example to a native-image"
Using GrallVM v2019.1.1 on CentOS 7 Linux, I am trying to convert  to native images this example for a simple SCTP client/server:
https://www.oracle.com/technetwork/articles/javase/index-139946.html

It works with GraalVM used as a plain JVM.

The native image generation works, without warnings:
`/opt/graalvm/bin/native-image -cp bin test.sctp.DaytimeServer`

But it fails to run, with what looks l

[2019-08-05 14:05] abilioesteves commented on #959
Hello all! Is there any schedule for the approval of the PR above? Thanks!

Also, the GraalVM CE has already been released. The PR should probably be updated then...

Thanks!

[2019-08-05 14:17] abilioesteves commented on #959
Just checked the response from homebrew-cask, and they will not merge this PR. I think this issue should be closed here, then.

Thanks!

[2019-08-05 14:18] fniephaus commented on #959
I'm afraid https://github.com/Homebrew/homebrew-cask/pull/58492 was closed due to https://github.com/Homebrew/homebrew-cask/pull/57374#issuecomment-453760711. Also, see the discussion at https://github.com/Homebrew/homebrew-cask/issues/57387. Looks like they only support LTS releases of Java.

What we could do, however, is to add the formula to this repository. This would allow users to install Gr

[2019-08-05 14:22] fniephaus commented on #959
Update: it looks like we'd need to create `github.com/oracle/homebrew-graal` to make this work ([see here](https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap#installing)). What do you think, @dougxc?

[2019-08-05 17:35] bobmcwhirter commented on #660
I believe this was fixed by

https://github.com/oracle/graal/commit/e78fc21f53488848f791dca3db394031698177f2

[2019-08-05 18:33] bobmcwhirter commented on #877
@starksm64 Can you confirm if this is still an issue?

Building with my JDK11-ish Substrate from HEAD, stuff seems to work.

[code]

[2019-08-05 19:46] dougxc commented on #959
Sounds good to me. @thomaswue how do we get a repo under the oracle org created nowadays?

[2019-08-05 19:57] dougxc commented on #959
@fniephaus there is now a repo at https://github.com/graalvm/homebrew-repo that we can use for this purpose. I believe all you need to do now is open a PR on that repo.

[2019-08-05 20:22] ahelmbr opened #1572 "Using netty 4.1.36.Final for MQTT Connection in a native-image with graalVM 19.1.1 dos not work."
For my MQTT client application - using netty 4.1.36.Final
I tried to build a native-image with graalVM 19.1.1
The compilation is successful, the image will be build.

But running the application and trying an MQTT connect throws the following error:

[code]

My
native-image.properties are:
[code]

Pom.xml dependencies for netty and substrateVM

[code]

reflection-config.json - snippet
[code]

Any

[2019-08-05 22:34] fniephaus commented on #959
@dougxc thanks for the swift response. The repository name, however, defines the second part of the installation command. So with https://github.com/graalvm/homebrew-repo, it would be `brew install graalvm/repo/{formula}`. [The docs](https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap) include a few tips on how to name a custom tap and formula (e.g. a unique formula name is preferred). Here are

[2019-08-06 07:48] johanvos commented on #1443
reproducable test:
[code]

[2019-08-06 07:54] dougxc commented on #959
Ok, we will rename https://github.com/graalvm/homebrew-repo to https://github.com/graalvm/homebrew-tap.

[2019-08-06 08:18] fniephaus commented on #959
@dougxc working on a PR...

[2019-08-06 08:25] peter-hofer commented on #1528
Fixed in 4cb4bdf3eeba212da44273f127f11b376a5eb4ee

[2019-08-06 08:25] #1528 closed

[2019-08-06 12:01] dougxc commented on #959
There is now a barebones README at https://github.com/fniephaus/homebrew-tap so you should be able to open a PR now.

[2019-08-06 13:47] fniephaus commented on #959
Here you go: https://github.com/graalvm/homebrew-tap/pull/1

[2019-08-06 14:02] guanchao-yang commented on #1563
@dougxc Using the oracle jdbc

[code]
@dougxc Looking forward to your fix.

[2019-08-06 15:45] dougxc commented on #1563
This should be fixed by https://github.com/oracle/graal/commit/17b272f9e2bb634c4544ffacfced6d4fcc6654bb.

[2019-08-06 15:45] #1563 closed

[2019-08-06 15:46] #1302 closed

[2019-08-06 17:13] eurrow opened #1574 "Unable to call NetworkInterface#isPointToPoint"
Carrying on from issue #1522, there is another method on NetworkInterface that isn't implemented.

`Exception in thread "main" java.lang.UnsatisfiedLinkError: java.net.NetworkInterface.isP2P0(Ljava/lang/String;I)Z [symbol: Java_java_net_NetworkInterface_isP2P0 or Java_java_net_NetworkInterface_isP2P0__Ljava_lang_String_2I]
        at com.oracle.svm.jni.access.JNINativeLinkage.getOrFindEntryPoint(J

[2019-08-06 17:53] bobmcwhirter commented on #1574
Hiya--

I'll put together a PR based on this for ya.

[2019-08-06 17:55] bobmcwhirter commented on #1574
Oracle will probably want to be sure you've sign the OCA:

https://www.oracle.com/technetwork/community/oca-486395.html

And if you can let me know what email address you use to sign the OCA, that'd be good.

You can mail me directly at bmcwhirt <at> redhat.com.

Or if you prefer to submit this as a PR directly, that's awesome. I'm just trying to help out.

[2019-08-06 19:49] bobmcwhirter commented on #1572
I don't know the exact answer, but from

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/ResourceLeakDetector.java#L564-L575

It appears that Netty is attempting to iterate all declared methods of `io.netty.buffer.AbstractByteBufAllocator` and is expecting to find a method named `toLeakAwareBuffer(...)` which does normally exist:

https://github.com/netty/netty/blob/4.1/

[2019-08-06 19:50] bobmcwhirter commented on #1572
to be fair, even if used, it won't be reflectable via `getDeclaredMethods()` unless you add it to the reflection config.

There is an outstanding PR, not yet merged, which might solve this also, but it has other more exciting issues at the moment. Until/unless that happens, adding the above solution might help.

[2019-08-06 20:46] sliverdragon37 opened #1576 "CopyingImageHeapProvider unavailable via command line flag"
When using native-image on linux, the heap provider implementation defaults to LinuxImageHeapProvider. However, while it appears that --features=com.oracle.svm.core.os.ImageHeapProviderFeature should allow the selection of the CopyingImageHeapProvider, in practice the LinuxImageHeapProvider is still selected.

[2019-08-06 21:22] fniephaus opened #1577 "[svm] Add org.graalvm.collections to blacklist?"
@eregon recently mentioned that the methods of `BigInteger` are automatically considered boundaries in SVM due to a blacklist.

Now I am wondering... should this blacklist:
https://github.com/oracle/graal/blob/ddd736a2e8b23e1aabd08599a523f847ffc1e97d/substratevm/src/com.oracle.svm.truffle/src/com/oracle/svm/truffle/TruffleFeature.java#L604-L622

be extended with the classes from [`org.graalvm.coll

[2019-08-07 04:14] cstancu commented on #1548
Fixed by https://github.com/oracle/graal/pull/1561.

[2019-08-07 04:14] #1548 closed

[2019-08-07 09:33] fniephaus opened #1579 "[sl] Use of @ReportPolymorphism unclear in SLStatementNode"
`SLStatementNode` uses [`@ReportPolymorphism`](https://github.com/oracle/graal/blob/acb994d5fbd2dd92a50941b786b87b65c7b20e01/truffle/src/com.oracle.truffle.sl/src/com/oracle/truffle/sl/nodes/SLStatementNode.java#L64), but it's not clear to me why. As simplelanguage is a reference language, maybe the use of `@ReportPolymorphism` deserves an explanation in the comments? [`ReportingPolymorphism.md`](

[2019-08-07 09:42] boris-spas commented on #1579
Agreed, I'll take it on.

[2019-08-07 09:44] fniephaus commented on #1579
@boris-spas thanks! Just realized that `ReportingPolymorphism.md` already includes [an explanation](https://github.com/oracle/graal/blob/acb994d5fbd2dd92a50941b786b87b65c7b20e01/truffle/docs/splitting/ReportingPolymorphism.md#automated-reporting-of-polymorphic-specializations). Maybe it just needs to be linked?

[2019-08-07 09:45] boris-spas commented on #1579
Should be a one sentence explanation + link.

[2019-08-07 09:47] fniephaus commented on #1579
And we should probably merged https://github.com/oracle/graal/pull/1580. 😉

[2019-08-07 13:03] martinlippert opened #1581 "how to deal with "too many open files""
I am experimenting with compiling an app down to a native image. This app opens a lot of files, so I am running into "too many open files" exceptions. Is there a way to avoid that and to allow the native image to behave in a similar way than the regular JVM, where I can easily open many many files?

[2019-08-07 13:21] bobmcwhirter commented on #1581
Are you simply exceeding some OS `ulimit` or do you imagine there's a file descriptor leak within Substrate itself, or your app?

Can you post some stacktraces if the "too many open files" error seems inexplicable?

[2019-08-07 13:42] belaban commented on #1398
I tested this with GraalVM 19.1.1, but the multicasttest still fails:

[code]

[2019-08-07 13:43] belaban commented on #1398
This is on MacOS, but that shouldn't be the issue as the Java version works fine.

[2019-08-07 13:47] bobmcwhirter commented on #1398
@belaban Couldja open a new issue for `PlainDatagramSocketImpl.join(...)` so we could track it separately?

[2019-08-07 13:47] ricardozanini opened #1582 "[native-image] Running into "PosixDirectives.c:2223:101: error: ‘SIOCGSTAMP’" after libs upgrade"
Hi!

This could be related to my own environment, but since I haven't found any issues reporting this same error, I guess that might help someone else in the future in case we found the root cause.

I ran a full update on my workstation (Fedora 30) and the `native-image` compilation stopped working since then (might be related, idk yet):

[code]

`glibc-devel` version is glibc-devel-2.29-15.fc30.x

[2019-08-07 13:49] belaban commented on #1398
@bobmcwhirter What do you mean? Clone this issue and change the titel? :-)

[2019-08-07 13:56] martinlippert commented on #1581
I think this is directly related to the `ulimit` (there doesn't seem to be a leak in Substrate nor my app), but the regular JVM doesn't seem to be affected, so I am trying to understand the difference... :-)

[2019-08-07 13:59] bobmcwhirter commented on #1582
Seems on my F29 machine that `#define` lives in

`./asm-generic/sockios.h:#define SIOCGSTAMP	0x8906		/* Get stamp (timeval) */`

The `PosixDirectives` file is the root headers that are processed to bring in the various constants/defines.

The route to that seems to be:

`sys/socket.h` -> `bits/socket.h` -> `asm/socket.h` -> `asm-generic/socket.h` -> `asm/sockios.h` -> `asm-generic/sockios.h`

Can

[2019-08-07 14:02] martinlippert commented on #1581
For completeness, the first error that I see is:

[code]

Shortly after that, I see a

[code]

And running `lsof -p <pid>` reveals that the process has indeed about 256 file handles in use, which is the `ulimit` setting here.

I could try to find out how to increase that setting on my system, but I would very much prefer to find an alternative solution. Would love to run the native image in differ

[2019-08-07 14:18] bobmcwhirter commented on #1398
This one is closed and references a different method so.... yes?

[2019-08-07 14:19] chumer commented on #1579
@boris-spas  I don't think SLStatementNode should use ReportPolymorphism. That is against selectively using it, that we generally recommend.

[2019-08-07 14:20] bobmcwhirter commented on #1581
ulimit is applied by the OS so we can’t subvert that. I’m reviewing to see if we aren’t leaking something though. Seems wrong that a way would have that many files open concurrently.

[2019-08-07 14:30] martinlippert commented on #1581
@bobmcwhirter I think the app that I am dealing with does indeed keep many files open (partly because of its nature), so don't worry so much about Substrate leaking something. I don't think that is the case here. The same number of files are opened when I run the app on the regular JVM. Interestingly it looks like a different ulimit is applied to that somehow.

[2019-08-07 14:32] ricardozanini commented on #1582
Hi Bob! Thanks for your help! :)

Here's the output for my system:

[code]
I guess someone updated the variable and now might be somewhere else. I'm not gcc specialist, so I could be doing something really wrong.

[2019-08-07 14:38] ricardozanini commented on #1582
Found this:
https://lists.sr.ht/~philmd/qemu/patches/6945
https://lkml.org/lkml/2019/7/20/108

asm-generic/sockios.h header file. QEMU sees that header
indirectly via sys/socket.h

the asm-generic/sockios.h header no longer defines SIOCGSTAMP.
Instead it provides only SIOCGSTAMP_OLD, which only uses a
32-bit time_t on 32-bit architectures.

either SIOCGSTAMP_OLD or SIOCGSTAMP_NEW as appropriate. I

[2019-08-07 14:43] belaban opened #1584 "SubstrateVM: PlainDatagramSocketImpl.join() fails"
I'm trying to get JGroups running with IP multicast support, but the showstopper is PlainDatagramSocketImpl.join():

[code]

To reproduce:

    Use native-compile on MulticastTest [1]
    Run with MulticastSocket: ./org.jgroups.tests.multicasttest
    Run with DatagramChannel: ./org.jgroups.tests.multicasttest -nio

[1] https://github.com/belaban/JGroups/blob/master/tests/other/org/jgroups/tests/M

[2019-08-07 14:43] belaban commented on #1398
Done: https://github.com/oracle/graal/issues/1584

[2019-08-07 15:33] bobmcwhirter commented on #1582
Are you comfortable building Substrate from source?

If so, try adding `<linux/sockios.h>` to this stanza in `PosixDirectives` maybe.

[code]

[2019-08-07 15:45] martinlippert opened #1585 "Array.set(..) behaves differently"
`java.lang.reflect.Array.set(Object array, int index, Object value)` behaves differently in SVM than in a regular JDK.

Pass in `null` as the value:
-> JDK: works fine
-> SVM: throws NPE

The JavaDoc says that this could throw a NPE, but it isn't exactly clear whether this refers to the `array` or the `value` param. Looks like JDK and SVM interpret this differently. Not sure who is right, but mayb

[2019-08-07 16:13] qwwdfsad commented on #1330
Hi, could you please elaborate on the status of this fix? Do you want me to provide more benchmarks/test-suites for this?

[2019-08-07 16:21] gilles-duboscq commented on #1330
I had a first version but i noticed some issues while adding more tests. I have ideas about how to fix it and still plan to do it but i have no ETA.

[2019-08-07 17:43] ricardozanini commented on #1582
Yeah, makes sense recompiling the Substrate with the updated headers. Looking at the docs, I'll have to set some tools I don't have yet. I'm going to give it a try and let you know. Many thanks for your help!

[2019-08-07 18:11] bobmcwhirter commented on #1585
Reproduced. I’m working on a fix.

[2019-08-08 01:49] XiaohongGong opened #1587 "Dependencies checking failed when jvmci installing code when running with openjdk master."
BootstrapWithSystemAssertionsRegisterPressure failed when running with openjdk master with the following reason:

    Thread[JVMCI CompilerThread24,9,system]: Compilation of java.lang.StringLatin1.toUpperCase(String, byte[], Locale) @ -1 failed:`

    java.lang.AssertionError: dependencies invalid Code installation failed: dependencies invalid
    Failed dependency of type abstract_with_unique_con

[2019-08-08 05:15] #1585 closed

[2019-08-08 05:18] jroper opened #1588 "native-image --no-server -J-Xmx has no effect"
Using `native-image --no-effect -J-Xmx2048m ...` has no effect, in spite of [the documentation saying it's supported](https://www.graalvm.org/docs/reference-manual/aot-compilation/), because the custom `-Xmx` is appended to the arguments after `native-image`'s own calculated `-Xmx`, and the JVM is taking the first `-Xmx` it finds.

This was also reported in a comment on #903, but that issue was cl

[2019-08-08 05:57] prabusubra commented on #837
This issue still persist for a simple helloworld program which is given in graalvm document too.

FYI
 [Stackoverflow link](https://stackoverflow.com/questions/57400485/running-llvm-for-c-is-not-working-on-graalvm-docker-container-oracle-graalvm)

[2019-08-08 05:59] cstancu commented on #877
@bobmcwhirter thanks for double-checking. I'll go ahead and close this. @starksm64 please reopen if this is still an issue.

[2019-08-08 06:02] cstancu commented on #660
Thanks @bobmcwhirter, I'll close this. @stuartwdouglas please reopen if still an issue.

[2019-08-08 06:02] #660 closed

[2019-08-08 06:49] rschatz commented on #837
There is something weird going on with the docker image. I can reproduce the issue with your commandline from stackoverflow. The compile command looks correct, and in fact, on my Linux system, outside of the docker container, it works fine. Just inside it doesn't.

I'll investigate.

[2019-08-08 09:21] peter-hofer commented on #1581
HotSpot (the Oracle/OpenJDK VM) seems to always increase the file descriptor limit from the current soft limit to the absolute hard limit, which is why it does not fail here. 256 seems rather low however, on my machine the soft limit is 1024. What's the hard limit on your system (`ulimit -aH`, 4096 here)?

[2019-08-08 09:27] martinlippert commented on #1581
`open files                      (-n) unlimited`

Should maybe the native-image do the same than HotSpot with regards to increasing the file descriptor limit?

[2019-08-08 09:55] larsrh commented on #1518
I may or may not have the same problem. The following attached bitcode file can be evaluated fine, but running `test` fails:

[code]

The trace is:

[code]

The bitcode has been produced by compiling some Rust code to LLVM bitcode, and then running:

[code]

Attached is the file: [rust-embedded.ll.gz](https://github.com/oracle/graal/files/3481040/rust-embedded.ll.gz)

[2019-08-08 12:04] peter-hofer commented on #1581
Yes, that would avoid surprises like these where the code runs fine on HotSpot, but where a native image hits the open file limit. I just wonder to what extent a program is supposed to respect the environment's current soft limit. HotSpot is a more heavyweight runtime environment to start with, but I'm not sure if we should apply the same rules to native images.

[2019-08-08 12:31] peter-hofer commented on #1576
The `ImageHeapProviderFeature` is only supposed to register a `CopyingImageHeapProvider` when no "better" implementation is available. `CopyingImageHeapProvider` copies all image heap memory, possibly has to read parts of it from disk first to do so, and then all of the image heap stays in physical memory or can only be swapped out. In contrast, `LinuxImageHeapProvider` and `DarwinImageHeapProvide

[2019-08-08 12:39] peter-hofer commented on #1582
Can you please try whether simply removing `SIOCGSTAMP()` in `com/oracle/svm/core/posix/headers/Socket.java` works? There don't seem to be any usages to begin with.

[2019-08-08 12:46] martinlippert commented on #1581
Yeah, agree, maybe it is not perfect to apply this rule automatically to every native image. Maybe worth an option for the native-image builder?

[2019-08-08 12:46] boris-spas commented on #1579
Sure, I plan to put it in a couple of reasonable places and document it better.

[2019-08-08 13:09] fniephaus commented on #959
GraalVM CE can now be installed with `brew cask install graalvm/tap/graalvm-ce`! 🚀
If you run into any problems, please open an issue at https://github.com/graalvm/homebrew-tap/issues.

[2019-08-08 13:09] #959 closed

[2019-08-08 14:27] peter-hofer commented on #1569
`native-image` currently does not have support for SCTP. I was able to get a bit further with the following steps:
1. `System.loadLibrary("sctp");` at the beginning of the main methods. The library seems to be loaded during the native image build, likely from a static initializer that is/must be executed eagerly, so it is not loaded at runtime.
1. `-H:+ReportUnsupportedElementsAtRuntime` as an opt

[2019-08-08 14:33] neomatrix369 opened #1589 "[native-image] Throws the same error regarding: -H:IncludeResourceBundles=javax.servlet.LocalStrings even though supplied"
Even though I have supplied the necessary config args during the building of the native image, I get an error message asking me to perform the same step again.

Command:

[code]

Resources config:

[code]

Error message thrown:

[code]

Maybe the error message needs to be a different one, possible I'm not supplying it with a Resource bundle via some other `-H:...` option, but then I need to be tol

[2019-08-08 14:37] neomatrix369 commented on #1589
Is there any relation to this issue and https://github.com/oracle/graal/issues/911

[2019-08-08 14:38] pquiring commented on #1327
I think once Graal is built with later JDKs that support for AWT will be included.  The newer JDKs will most likely avoid using class init threads that are not supported by native-image.

[2019-08-08 14:49] neomatrix369 commented on #1589
I just rechecked the error message again and I think it is doing the right thing by suggesting the below:

[code]

since I had only added

[code]

Closing issue, very sorry for the bother. 😞

[2019-08-08 14:49] #1589 closed

[2019-08-08 15:08] fniephaus opened #1590 "[jvisualvm] "Too deep inlining" when running with memory profiler"
It looks like `ProfilerRuntimeObjLiveness.traceObjAlloc` should be marked as a boundary somehow:

[code]

[2019-08-08 15:18] ahelmbr commented on #1572
Now 'Im getting a little bit forward and running into the next error

[code]

I added further substitution
[code]
and in reflection.json
[code]
the native-image props - i override the deprecated settings from netty
[code]

So I can build the image without any warnings
But get the Stacktrace mentioned above.
I guess if I try to fix this somehow weird - I stumble into the next thing - maybe a segmen

[2019-08-08 23:19] ricardozanini commented on #1582
I'll give it a try tomorrow morning. Sorry to not replying until now, I got a lot of other things to work with  :cry:

[2019-08-09 09:43] jroper opened #1592 "native-image should register SIGTERM handler when it is the init process"
Currently, Graal native images don't register a SIGTERM handler, for reasons described here:

https://github.com/oracle/graal/issues/465#issuecomment-397463200

That's fine, unless the Graal native image is the init process (ie, has pid 1), which it is if it's the entry point for a docker container (or any container). Since Linux treats init processes specially, ie, it does not implement a default

[2019-08-09 11:05] tomerz90 opened #1593 "Graal runs SLOWER than regular java?"
Im trying the Blender example from here:
https://www.graalvm.org/docs/examples/java-performance-examples/

And for some reason the run times I get for Graal are 980~ms, when I add the flag that disables Graal I get the same timings as in the example (even a bit faster).
What am I doing wrong? Im running on Ubuntu 18.04 with community edition Graal, I added the Graal dir as first in my PATH (regula

[2019-08-09 12:00] fniephaus opened #1594 "Add support for `Frame#isIllegal()`"
There are checks for all supported frame slot kinds except for the illegal kind. Maybe it makes sense to add  `Frame#isIllegal()`?

/cc @chumer

[2019-08-09 12:51] thomaswue commented on #1593
Thanks for pointing us to this issue. This example is approximately the same speed with CE and substantially faster only with EE, which is not what the documentation for the example indicates.

The problem with it is that it does not appropriately show case partial escape analysis (PEA). It only shows full escape analysis (EA) and double arithmetic optimizations, both of which are also present in

[2019-08-09 13:13] rschatz commented on #1564
I'm afraid there is no better alternative for this yet than `truffle_handle_for_managed`. For normal LLVM functions, that is not necessary, we do the correct thing automatically. But for foreign language "executable" objects, we have the problem that the objects are dynamic, so we need some information about lifetime when storing them to the native heap.

The reason why `truffle.h` is deprecated i

[2019-08-09 13:16] rschatz commented on #1564
That's an interesting use-case, though. We can't make that work fully out-of-the-box because of lifetime management, but it would be interesting to make this work as a kind of "function handle".

That kind of use-case is very interesting for us for cleaning up the handle API. In principle, we have all pieces in place to make a "callable handle", we have the functionality for LLVM functions already

[2019-08-09 14:13] mbecca commented on #1421
Hello! I have the same error, using GraalVM Version 19.1.1 on Spring Boot application:

Aug 09, 2019 2:05:52 PM com.fasterxml.jackson.databind.ext.Java7Support <clinit>
--

[2019-08-09 14:19] henricook opened #1596 "Graal 19.1.1 with Scala and Play Framework: java.lang.IllegalStateException: Must use either different key or iv for GCM encryption"
Hi all,

Unfortunately this bug is really hard for me to recreate, so i've included information that i'm using Scala, SBT and Play Framework.

During day-to-day use when i'm using Graal 19.1.1 with `sbt run` and Play Framework in Dev Mode, and play's using Netty instead of akka-http - I get this error. I have to completely clean and rebuild to make things keep working. It often recurs.

I see it w

[2019-08-09 14:59] tomerz90 commented on #1593
Thanks for the reply and the modified example Thomas!
I will check it shortly, however, this is not what worries me.
At least in my books, and maybe im wrong somehow, but ~50% slower is not "approximately the same"... Im getting 980~ms with Graal CE and 660~ms with regular java...

[2019-08-09 15:07] plokhotnyuk commented on #1593
@tomerz90 I'm wondering too... why this issue was classified as bug in docs, while you have detected a real performance issues with CE?

[2019-08-09 15:14] tomerz90 commented on #1593
Thanks @plokhotnyuk
I was under the impression Graal JIT's code is at least as performant as the code generated by C1/C2, is that wrong?
The reason I was playing around with the examples is that I took one of our production services and compared a day's load (same load) with C1/C2 and with Graal, and Graal came out inferior, which was weird to me considering all the good reviews I have been seeing

[2019-08-09 16:16] thomaswue commented on #1593
For maximum throughput on long-running programs, we recommend the EE version, which does a lot more advanced optimizations at the expense of compilation times.

The CE version currently creates better code than C2 for programs with many abstractions (like the Scala code of Twitter for example). There are some open performance issues with the CE version that we are working on. Find here some data o

[2019-08-09 16:29] peter-hofer commented on #1494
We do not keep track of all open file descriptors. In principle, it can be done by inspecting all existing objects that might hold a file handle, like `java.io.FileDescriptor` and likely others, with heap-walking code similar to that used in `HeapDumpUtils`. I would consider this only as a crutch for diagnosing leaks however.
The right approach would be to address this leak in the `SecureRandom` i

[2019-08-09 16:57] tomerz90 commented on #1593
That was indeed the issue, I am now getting 590~ms on Graal.

[2019-08-09 17:30] thomaswue commented on #1593
OK, thanks for confirming that GraalVM CE is ~12% faster than C2 with this flag also on your machine.

We recommend GraalVM users to test both CE and EE on their workloads. There is always the possibility to tune your workloads by modifying flags. We need to make compromises between workloads, so for a specific workload one can always get a few more percentages by specializing the flag configurati

[2019-08-09 17:30] #1593 closed

[2019-08-09 18:27] peter-hofer commented on #1494
I came up with a fix for the `SecureRandom` file handle leak that uses substitutions, it should be merged today or after the weekend.

[2019-08-09 20:11] jwedel commented on #1506
@sdedic Yes, I have both vars set up. It's always necessary to get all the systems like Maven und npm running.

[2019-08-10 03:30] chineduekwunife commented on #1348
@wirthi

I'm facing a similar issue. Spring Boot Application works ok when started from IDE, but once I package application and run inside docker (openjdk:8u111-jdk-alpine) I get **FileSystemNotFoundException**  see error log below.

@chumer based on your comment on https://github.com/graalvm/graaljs/issues/125, please when can we expect a fix on this issue?

springBootVersion: 2.1.5.RELEASE

graa

[2019-08-10 08:24] ziyilin opened #1598 "AtomicReferenceFieldUpdater field in enum cause build time failure"
How to reproduce:

AtomicRFUTest.java
[code]

UnsafeEnum.java
[code]

Compile above code with `native-image -cp bin --initialize-at-build-time=UnsafeEnum AtomicRFUTest`

[code]

[2019-08-10 13:18] larsrh commented on #1518
After careful reading of the docs, I'm convinced that I completely misunderstood the way Sulong works and that this is in fact not a bug. Values that live in the JVM cannot be stored in native pointers. Am I getting this right? If yes, I apologize for the noise.

[2019-08-10 13:47] neomatrix369 opened #1599 "[native-image] [tracer] Potential bug in the merge function of the tracer"
I think there is a likelihood that the tracer somehow overwrites the manually amended sections of the config file.

Below are two scenarios, the first one, is a result of a manual amendment after a runtime recommendation that the two fields need write permissions, so I did that. Due to another reason, re-ran the tracer and it resulted in the amended block been replaced by the original block.

Befo

[2019-08-10 13:50] neomatrix369 commented on #827
I think you now do this already via the `--static` option?

[2019-08-10 14:37] neomatrix369 opened #1600 "[native-image] [questions] HTTPS support and supplying dependencies like libsunec.so or libsunec.dylib with the binary"
**_Linux_**

I'm building an app that is using HTTPS to connect to third-party services. So far it does well when I run the native image in this form:

[code]
and when the `${JAVA_HOME}/jre/lib/amd64` folder and its content with valid artifacts exist.

Otherwise, it silently terminates with an exit code of 99.

I'm using the `--static` flag to build the app, but this does not seem to have any effe

[2019-08-10 14:52] neomatrix369 opened #1601 "[native-image] Alternative to using the advice 'Register the class by using org.graalvm.nativeimage.hosted.RuntimeReflection'?"
After using the native-image of an app that uses the GSon library, at some point I get the below error:

[code]

The advice prompted here is to use the `RuntimeReflection` class and register is via my app, I'm guessing using code like this:

[code]

Although then I would have to use GraalVM JDK libraries and that creates a dependency between the two, similarly the same is mentioned on [1](https://

[2019-08-10 15:29] plokhotnyuk commented on #1593
@thomaswue WDYT about using of ML on some broad (to avoid overfitting) set of benchmarks to get optimal values of default options for GraalVM CE/EE? or use it to detect most impactful of them for performance tuning guidelines?

[2019-08-10 16:10] neomatrix369 commented on #1601
So following my hunch, I did as above:

[code]

and added field definitions as shown in the docs in the `[ <-- here -->]` section and the advice related to `org.graalvm.nativeimage.hosted.RuntimeReflection` disappeared. And was followed by advice for the `reflect-config.json` file.

[2019-08-10 16:15] lvh commented on #827
That statically links libc and zlib specifically, but not anyhting else, IIUC.

[2019-08-10 16:16] lvh commented on #827
FWIW I think resolving this would also resolve #1336.

[2019-08-10 16:28] neomatrix369 commented on #827
@lvh thanks for the response, I'll update the docs via a PR to express this next to the `--static` option

[2019-08-10 17:07] neomatrix369 commented on #827
@lvh FYI: just raised a PR https://github.com/oracle/graal/pull/1602

[2019-08-10 22:59] thomaswue commented on #1593
We have been doing this for optimizing default values. It is a great suggestion to derive performing tuning guidelines from the variance in the results. @farquet is the engineer behind our parameter tuning technology.

[2019-08-10 23:06] sstubbs opened #1603 "[Native Image] Substitutions Required for Google Tink"
During building a project with google tink I'm getting these warnings.

[code]

 It still completes and the image runs but I'm not sure if this means a problem will occur later.

[2019-08-11 08:51] neomatrix369 commented on #1601
The above action resolved the issue.

[2019-08-11 08:51] #1601 closed

[2019-08-11 08:57] neomatrix369 commented on #1600
Solved the issue with `java.security.InvalidAlgorithmParameterException`  by following the discussion on https://github.com/oracle/graal/issues/1034.

[2019-08-11 09:09] neomatrix369 commented on #1600
Would still like to know alternative means to packing the native image with its dependencies.

[2019-08-11 09:09] #1600 closed

[2019-08-11 22:10] sstubbs opened #1605 "[Native Image] Build Slow In Docker Compared To Locally"
i have tried two different dockerfiles with the native-image-maven-plugin which are:

[code]

and

[code]
Using both of them require 15gb of ram and take 5 times longer than running the build through Debian locally.

[2019-08-11 23:16] nhoughto commented on #532
FYI for future dumb self, if you are getting this error and wonder ytf this is happening my Main class is so simple..

You will get this error if you define your entrypoint without the `static` classifier by accident 🤦‍♂

`public void main(String[] args) {`
vs
`public static void main(String[] args) {`

Pretty weird error this kind of mistake thought? 🤷‍♂  @cstancu

[2019-08-11 23:48] nhoughto opened #1606 "[native-image] IncludeResources doesn't include resources from JRE JARs"
It appears the `IncludeResources` option doesn't quite live upto its name, at least in `19.1.1` that i'm testing on.

The doco says it will include any resources that is on the classpath during native-image build, but whilst trying to include some properties files from the JRE `resources.jar`, specifically in package `com/sun/org/apache/xml/internal/serializer` the files are not included unless I

[2019-08-11 23:48] nhoughto commented on #1606
Testing with `-H:Log=registerResource:` on to see what is included btw :+1:

[2019-08-12 02:33] christianwimmer commented on #532
Good catch, and sorry for the missing check. In https://github.com/oracle/graal/blob/e4ac613c022c67c4504d5772de3ad5ced7a5271b/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGeneratorRunner.java#L288 we check that the `main` method is `public` but not that it is `static`.

[2019-08-12 04:13] zhangruoxu opened #1607 "[native-image] Class initialization of JDK classes"
This issue is about the initialization of JDK classes during native image building.
The following code snippet is taken from the class `com.oracle.svm.hosted.classinitialization. ConfigurableClassInitialization`. This method computes `InitKind` for given class.
[code]

In the else branch, if the class loader of `clazz` is null, which means `clazz` is loaded by the bootstrap class loader, the `claz

[2019-08-12 04:37] Wooyme opened #1608 "Native image JNI GetArrayLength return -1 on Windows"
Found in openjfx modules/graphics/src/native-prism/NativePiscesRasterizer.c
[code]
CheckLen defined here
[code]
I found `(*env)->GetArrayLength(env, a))` always return -1 on Windows( **everything works well on Linux** ), and I'm sure the `boundsArray` is not null.

If I delete the CheckLen and let the program continue to
[code]
the program will hang.

[2019-08-12 04:56] Wooyme commented on #1608
When linking, there is some error
[code]
I add /FORCE:UNRESOLVED argument  and get the excutable file. I don't know whether is this error  cause the problem.

[2019-08-12 06:11] XiaohongGong commented on #1587
Hi @sanzinger , this is an openjdk issue which has been fixed by:

`commit 6ab00a2a9765b97b595f43c193fd4defa13acdcd
Author: redestad <unknown>
Date:   Fri Aug 9 13:58:48 2019 +0200
8229283: StringLatin1 should consistently use CharacterDataLatin1.instance when applicable
Reviewed-by: jlaskey`

Thanks!

[2019-08-12 09:53] farquet commented on #1593
We are doing parameter tuning to :
- Find best default values
- Explore the behavior of the compiler in many different configurations to discover opportunities to improve the compiler optimizations further

@plokhotnyuk, publishing a list of flags ranked by average performance impact is an interesting idea. However, I am not sure this is something we should encourage people to do because this stra

[2019-08-12 10:04] tomerz90 commented on #1593
@farquet What info can I provide to help you guys? Obviously I cant provide the code or the JIT created code, is there anything else that can be of use to you guys?

[2019-08-12 11:55] eurrow commented on #1574
Doesn't #1575 just need to be merged and then both #1575 and #1574 can be closed?

[2019-08-12 12:02] farquet commented on #1593
If sharing JFR recordings of a C2 run versus a GraalVM run is an option, that would be best.
If not possible, a description of what the application does, what kind of technology or frameworks it uses would be a good starting point.
Ideally, we would like to have a minimal reproducer where we see that performance difference.

You could also compare the JFR profiles yourself to identify which method

[2019-08-12 12:12] plokhotnyuk opened #1609 "Invalid tar for 19.2.0-dev-b01 pre-release"
Full link:
https://github.com/oracle/graal/releases/download/vm-19.2.0-dev-b01/graalvm-ce-linux-amd64-19.2.0-dev-b01.tar.gz

I have downloaded it successfully twice and in both cases it cannot be opened as tar:
[code]

/cc @ezzarghili

[2019-08-12 13:15] woess commented on #1594
Could you explain a bit what you would like to use it for? I suppose you'd like to check whether the frame slot has been set?

[2019-08-12 14:25] tomekw opened #1610 "[native-image] Generating random numbers"
I wanted to get a random element from a sequence using `(rand-nth seq)` but I was always getting the same value. After digging into to the source code I figured out it uses `(. Math (random))` under the hood.

I've prepared a sample repo to reproduce the issue. It can be found here: https://github.com/tomekw/random

I had to initialize the main class at build time to compile the project. Maybe tha

[2019-08-12 14:29] fniephaus commented on #1594
@woess yes, that's correct. getValue() can return a default value (if provided at creation time of frame descriptor). Frame.isIllegal() would allow a specialization that returns a default value.

[2019-08-12 14:54] tomekw commented on #1610
Also I just created simple Java class:

[code]

and run

[code]

This works:

[code]

but

[code]

always returns the same value.

[2019-08-12 15:21] borkdude commented on #1610
This does seem to work:

[code]
so it might be a random seed issue. Probably the re-used `Random` object is seeded using the current compilation time, not the current run time.

[2019-08-12 15:26] martinlippert commented on #1609
I having similar issues with the `tar.gz` on macOS.

[2019-08-12 15:37] plokhotnyuk commented on #1609
W/A is using of `7z` for extraction to `graalvm-ce.tar`:
[code]

[2019-08-12 15:43] shelajev commented on #1609
yeah. We figured out the culprit and will reupload in a bit.

[2019-08-12 16:29] ezzarghili commented on #1609
Sorry for the inconvenience, the downloads should be fixed now.

[2019-08-12 16:32] #1609 closed

[2019-08-12 20:45] sliverdragon37 commented on #1576
We're looking at supporting an execution environment where mmap and other system calls are unavailable. It sounds like the CopyingImageHeapProvider is intended for that kind of use case, but it isn't clear to us how it is intended to be enabled.

[2019-08-13 02:15] jroper commented on #1610
I just encountered exactly the same issue with `java.util.concurrent.ThreadLocalRandom`, this prorgam:

[code]

Always prints out the same thing (per compilation).

[2019-08-13 02:57] jroper commented on #1610
Ok, so this is interesting, I created this program:

[code]

Whether you supply an argument to the program or not should have no impact on what's output from the thread that was started, since it's using thread local random, and so that random instance should be local to it. But as you can see, that's not the case, they're using a shared `Random` instance:

[code]

So it looks like `ThreadLocalRan

[2019-08-13 04:47] jroper commented on #1610
I've worked it all out and come up with solutions.

The `Math.random()` non randomness is due to `Math.random()` using a static `Random` instance. Making it random is simple, just delay initialization of class that holds it till runtime, that can be done by adding `--initialize-at-run-time=java.lang.Math$RandomNumberGeneratorHolder` to your arguments to `native-image`.

For `ThreadLocalRandom`, th

[2019-08-13 05:28] jroper commented on #1236
This would make using protobufs (and grpc) a lot easier, since protobufs use reflection to implement their equals/hashCode/toString methods, so every protobuf class generated must have all fields allowed for reflection. Generally, protobufs all get generated into their own package (or as inner classes of an outer class) so allowing wildcards for everything in a package, and for every inner class o

[2019-08-13 10:39] tomekw commented on #1610
Awesome investigation @jroper! Anyway, maybe such things as random seed generators should be forced to be initialized at runtime, shouldn't they?

[2019-08-13 13:46] thomaswue commented on #1596
We have not seen this before. So we might have to indeed try to recreate/reproduce the setup. Are you running with CE or EE? Can you run with -XX:TieredStopAtLevel=1 (effectively disabling the GraalVM compiler) and see if it still occurs?

[2019-08-13 18:38] cstancu commented on #1603
Yes, problems could occur at runtime if the field offsets used in unsafe operations are not properly recomputed. See [this article](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692) for a discussion about substitutions and how we do it for the netty framework.

[2019-08-13 18:41] cstancu commented on #1603
As of https://github.com/netty/netty/commit/f1495e19459eb4e961b1c078e7692680f88a0803 the substitutions from the above article have been also integrated into netty, alongside other configurations needed for out-of-the-box native-image support.

[2019-08-13 20:20] mrcalvin commented on #1564
Thanks for the informative replies!

I take this as a clear go for using `truffle.h`, for the time being.

A "callable handle"/ "function handle" would be my preferred approach, since all handling of calls back into the host language could then be handled , well, just there. I will watch the handle API to become enriched, then!

Thanks for the great work on Sulong & friends so far!

[2019-08-13 20:57] #1574 closed

[2019-08-14 02:08] woess commented on #1594
Note that frame slots start out with `frame.isObject(slot) == true` and `frame.getObject(slot) == getFrameDescriptor().getDefaultValue()` (regardless of FrameSlotKind), as if there was an implicit `setObject(slot, getDefaultValue())` at the beginning. So that can be used to check whether the frame slot was set to anything else than the default value.

[2019-08-14 07:48] tzezula commented on #1560
The `TruffleFile` does not use `TypeLiteral` anymore.
The issue in `SignatureParser` was fixed in JDK 9 by commit: http://hg.openjdk.java.net/jdk9/jdk9/jdk/rev/fb598740935a

[2019-08-14 07:48] #1560 closed

[2019-08-14 09:12] fniephaus commented on #1560
Thanks!

[2019-08-14 10:16] fniephaus commented on #1594
Interesting, but doesn't this mean that if the default value is read first, the slot will have an Object kind and thus never specializes? If Frame.isObject(slot) is true, the generic specialization is activated and all others are excluded, right?

[2019-08-14 11:19] adinn commented on #1582
I just updated and ran into this problem. I can confirm that your suggestion bypasses the problem.

[2019-08-14 12:44] woess commented on #1610
https://xkcd.com/221/ ;)

[2019-08-14 12:48] iustinov commented on #460
I also get this error, when trying to invoke Oracle DB with ojdbc7.
[code]

Can Graal work with ojdbc7 (v 12.1.0.2)?

[2019-08-14 13:02] woess commented on #1594
If the slot is read before the first assignment, then yes, you will hit the Object specialization. But you don't actually have to exclude the other specializations, you can also allow more than one active specialization in your read node, e.g. isInt + isObject. Or if you don't want to return the default value but e.g. throw an error in that case, you could use `isObject() && getObject() == getDefa

[2019-08-15 03:35] XiaohongGong commented on #1587
Although the above bootstrap issue is resolved by [8229283](https://bugs.openjdk.java.net/browse/JDK-8229283) , the dependency issue is still there. This jdk patch [8229283](https://bugs.openjdk.java.net/browse/JDK-8229283) just did some modifications to the `StringLatin1.java`, which will make the bootstrap issue be walked around.
    The dependency issue is caused by another jdk patch: [8222446]

[2019-08-15 06:35] borkdude opened #1613 "Fatal error: com.oracle.svm.core.util.VMError$HostedError: com.oracle.svm.core.util.VMError$HostedError: ... has no code address offset set"
I'm getting this error when compiling a native binary on Mac on CircleCI.

[code]

The project branch: https://github.com/borkdude/babashka/blob/10c7d705cd8c33f2db8a26d0499f006c1a029360
and build script:
https://github.com/borkdude/babashka/blob/10c7d705cd8c33f2db8a26d0499f006c1a029360/script/compile#L1
The failing build on CircleCI: https://circleci.com/gh/borkdude/babashka/367

This error is com

[2019-08-15 08:24] XiaohongGong commented on #1587
This issue also exists on X86_64 platform.

[2019-08-15 10:16] borkdude commented on #1613
This problem is solved when I include the source files of the sci library in the babashka project and then AOT them over there. But I'm still not sure why it worked flawlessly for linux and not for CircleCI+Mac.

[2019-08-15 10:23] dougxc commented on #1587
This looks a missing change from [JDK-8222446](https://bugs.openjdk.java.net/browse/JDK-8222446):
[code]

Can you please test that locally and then open a OpenJDK bug for it to be fixed.

[2019-08-15 10:24] dougxc commented on #1587
This is actually an opportunity to clean up the no longer used `JVMCI::dependencies_invalid` value. Here's the complete cleanup patch:
[code]

[2019-08-15 15:18] markolenkkeri commented on #1307
I also ran into this same problem with Micronaut 1.2.0 and micronaut-security-oauth2. I also tested the reproducer @ilopmar created, and even if it was upgraded to Micronaut 1.2.0 release version, the errors are still there.

[2019-08-16 01:26] XiaohongGong commented on #1587
Yes, I think so. I think changing the result to `JVMCI::dependencies_failed` is more reasonable. I will open a OpenJDK bug and do more tests about it. Thank you!

[2019-08-16 01:45] wburns opened #1614 "[native-image] ThreadLocalRandom seeder is never reinitialized"
The ThreadLocalRandom class has a static final field of seeder and probeGenerator. The class should be reinitialized at runtime to reset the values properly. Otherwise the numbers generated will always be the same from run to run of the same native application.

It is possible to work around this by adding a Feature that sets the class for reinitialization:

[code]

Since this is a standard JDK cl

[2019-08-16 03:16] XiaohongGong commented on #1587
Hi @dougxc , here is the JBS: https://bugs.openjdk.java.net/browse/JDK-8229797

[2019-08-16 06:29] cstancu commented on #1610
@tomekw @jroper thanks for the report, investigation and proposed solutions. Indeed for `Math.random()` you indeed need to run the initialization of `java.lang.Math$RandomNumberGeneratorHolder` at runtime. Similarly, for `ThreadLocalRandom` you can **re**-run its initialization at run time as pointed out in https://github.com/oracle/graal/issues/1614. Re-running a class initialization at run time

[2019-08-16 06:30] cstancu commented on #1614
Thanks, I will make this a default.

[2019-08-16 07:31] dougxc commented on #1587
Thanks!

[2019-08-16 07:31] #1587 closed

[2019-08-16 13:41] #1276 closed

[2019-08-16 17:39] henricook commented on #1596
Thanks for this @thomaswue, I'll give this a try next week and maybe have a crack at a smaller test case

[2019-08-16 18:56] Wooyme commented on #403
I made it on both Linux and Windows. Here is the [demo]( https://github.com/Wooyme/jfx-native-image-demo)

[2019-08-16 20:41] arashi01 commented on #1582
Also just ran into this on Fedora 30. Is the workaround confirmed to work?

[2019-08-17 03:31] #552 closed

[2019-08-17 11:21] fniephaus commented on #1254
Seems to work fine in `19.1.1`. Thanks!

[2019-08-17 11:21] #1254 closed

[2019-08-17 15:04] borkdude opened #1615 "[native-image] is redistributing libsunec.so allowed?"
libsunec.so is needed for SSL. if I publish a binary, am I allowed to distribute libsunec.so along with it?

[2019-08-17 22:09] toriacht opened #1616 "Reflection-config.json fails to parse"
When running a native build while including `-H:ResourceConfigurationFiles=` the build fails with the following issue

[code]
File is of the format

[code]
[Reproducer available here](https://github.com/toriacht/graalvm-issue-reproducer/)

[2019-08-17 22:37] bobmcwhirter commented on #1616
Starting with a [ makes it an array not an object. Dunno if that’s the problem.

[2019-08-18 08:24] tsatatwer commented on #403
More than one year we are the Javafx developers and lovers waiting from GraalVM people the Javafx native solution , and before that we have waited long for Windows support and some just have very good of giving a long speech about not supporting Java 8 although it is the most used.
Although respecting and appreciate all efforts BUT it is very frustrating just to see some giving a speech of what  v

[2019-08-18 08:27] thomaswue opened #1617 "Some microbenchmarks for Jsoniter Scala show slowdown"
The benchmark results at https://jmh.morethan.io/?sources=https://plokhotnyuk.github.io/jsoniter-scala/graalvmee19.json,https://plokhotnyuk.github.io/jsoniter-scala/zingjdk11.json show GraalVM EE substantially ahead in 752 out of 966 cases. We should investigate the ones where GraalVM is not fastest.

[2019-08-18 09:04] toriacht commented on #1616
@bobmcwhirter yep, i thought that too but it then complains about not understanding the keys. The file, as far as i can see is as per the [Graal documentation](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md) and the [Quarkus documentation](https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection)

[2019-08-18 09:08] plokhotnyuk commented on #1617
It wasn't a fair match: Zing is based on JDK 11 and uses C4 GC which is designed for min. latency.

I'm waiting for GraalVM EE based on JDK 11 and some feedback from Azul about how to tune it for max throughput.

[2019-08-18 09:30] thomaswue commented on #1617
It is possible that some of the differences are library changes from JDK8 to JDK11. We will nevertheless investigate.

I believe Zing's marketing material doesn't mention an expected substantial drop in throughput.

[2019-08-18 10:41] plokhotnyuk commented on #1617
The run of the benchmark was for the following commit: https://github.com/plokhotnyuk/jsoniter-scala/tree/50b7efddfd3973b30eef987351e71c2b3ea67c38

Bellow is the script that was used for running;
[code]

The environment used for this run:
`Intel® Core™ i7-7700 CPU @ 3.6GHz (max 4.2GHz), RAM 16Gb DDR4-2400, Ubuntu 18.04`

Comparison of results from Open JDK 8/11/13 + Hotspot C2, OpenJDK 13 + Graal,

[2019-08-18 11:37] henricook commented on #1596
I'm using GraalEE. I still see it regularly on my main project. I've been unable to recreate it on a vanilla (`playframework/play-scala-seed`) project, with netty and https enabled and with me just curl'ing the default endpoint over HTTPS _ad infinitum_ at random intervals

I'll wait for it to recur on my main project and try `-XX:TieredStopAtLevel=1` as suggested to see if it helps

[2019-08-18 14:13] FieryCod commented on #1387
@SergejIsbrecht I've forgotten to remove the following snippet from `reflect-config.json`, before retesting.
[code]

Since the issue still exists I've reopened it. Here you can find a zipped `trace.json` [file](https://github.com/oracle/graal/files/3513111/trace.zip).
As you can see the following line is included in `trace.json`.
[code]
For some reason there are no corresponding reflection config

[2019-08-19 00:02] RFigueira commented on #1582
Hi, I'm having the same problem in fedora 29

[erro.txt](https://github.com/oracle/graal/files/3513735/erro.txt)

[2019-08-19 07:59] peter-hofer commented on #1582
Thanks @adinn, I'll merge a fix to master.

[2019-08-19 08:07] adinn commented on #1582
Yes, the same OS upgrade has been posted for both fedora 29 and 30. SO, my home and work machine are both broken.

This is a real nuisance as it affects current published releases of GraalVM . I can no longer use either 19.0 or 19.2 to build native apps. If there is a new release on the way then it would be good to get this patch in.

[2019-08-19 09:01] XiaohongGong opened #1620 "JVMCIError when running graal unittest with jdk14 master."
Running graal unittest with jdk14 master failed due to a JVMCIError:

    org.graalvm.compiler.core.test.tutorial.GraalTutorial#testIntrinsicIntegerReverseBytes
    jdk.vm.ci.common.JVMCIError: expected type markOop but VM field oopDesc::_mark is of type markWord
    at jdk.internal.vm.ci/jdk.vm.ci.hotspot.HotSpotVMConfigAccess.getField(HotSpotVMConfigAccess.java:319)
    at jdk.internal.vm.ci/jdk

[2019-08-19 10:57] dougxc commented on #1620
I've opened a PR that should fix this: https://github.com/oracle/graal/pull/1621

[2019-08-19 11:02] henricook commented on #1596
So far on my 'main project' i've confirmed that I get the issue, stop sbt shell, start sbt shell, and the issue recurs very quickly (stopped, started and saw again 5 times). When i stop the sbt shell and restart it with `-D-XX:TieredStopAtLevel=1` - the issue no longer occurs.

Without the flag i can also stop the issue for a while by `clean`ing but it comes back

[2019-08-19 12:56] johanvos opened #1622 "[native-image] JNI/LLVM failure with ClassCastException"
When compiling HelloWorld using LLVM backend, a number of ClassCastExceptions are thrown.
Command:
[code]
exception:

[code]

I added some debug, and for example this method causes a ClassCastException:
`HostedMethod<JNIJavaCallWrappers.jniInvoke_ARRAY:Ljava_lang_Boolean_2_0002e_0003cinit_0003e_00028Z_00029V -> AnalysisMethod<JNIJavaCallWrappers.jniInvoke_ARRAY:Ljava_lang_Boolean_2_0002e_0003cinit

[2019-08-19 13:09] kommen commented on #631
We're also running into this limitation. Our use-case it a server state stored in a JS object which is expensive to recompute as well as to serialize/deserialize. So it would make sense to be able to reuse it across contexts. For now we will be able to work around by managing one context per server state. But ideally we would just have a pool of contexts sharing the same engine and we can use the

[2019-08-19 14:09] ricardozanini commented on #1582
+1 for this patch.

Many thanks @adinn for testing @peter-hofer suggestion. I also confirmed that this worked fine. :heart:

[2019-08-19 14:22] pejovica commented on #1622
I reproduced the failure, I'm working on a fix.

[2019-08-19 19:18] thomaswue commented on #1596
OK, thanks for testing. This could be quite a serious issue on our side. What is the processor config? Is the issue reliable enough that you could help us by testing a few flag combinations?

[2019-08-19 19:21] henricook commented on #1596
I wish i could recreate it more reliably. Happy to test multiple flag configs, next time I see it I plan on giving `-XX:-UseJVMCICompiler` a try - please feel free to suggest any more.

I hope to soon be in a position to bring this code home with me as well, which will mean I can test the issue more thoroughly outside of client on-site time.

Hopefully i'm not ignorant when I say processor config

[2019-08-19 19:29] thomaswue commented on #1596
Testing whether one of these two flags helps, would be interesting:
-Dgraal.Vectorization=false
-Dgraal.OptDuplication=false

My main interest regarding the processor is whether it has AVX and/or AVX2 support. For this we would need to know the exact processor version. On a Mac, this can be obtained for example via "sysctl -n machdep.cpu.brand_string".

[2019-08-19 19:33] henricook commented on #1596
Thanks, i'll take a look once on-site. When i manage to bring the code home it'll also be interesting to see if the issue occurs for me on my home machine, which is slightly more bleeding edge than the one on-site.

[2019-08-19 20:31] serefarikan opened #1623 "Packaging/Redistributing Graal CE with an application"
I'm trying to find the answer to the following question:
If I develop an app and distribute it as a standalone package, can I also distribute a Graal CE release with it so that users won't have to download and install Graal?

The same question is mentioned, but not answered in [this previous issue](https://github.com/oracle/graal/issues/472).

All the subprojects listed under License [here](https:

[2019-08-19 22:14] koppor commented on #1258
This is still within the first hits at Google. A quick fix is following [chocolatey](https://chocolatey.org/) command:

    choco install windows-sdk-7.1 kb2519277

Afterwards (in `cmd.exe`)

    call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd"

Then, one can execute native-image.cmd

[2019-08-19 23:13] jglick commented on #689
I added this option but it does not seem to do anything; no output message mentions anything about resources. Am I missing something?

(I used `-H:IncludeResources=…` and it did fix my bug, so presumably there _was_ some resource being included. I am just not seeing anything about it in `native-image` output.)

[2019-08-20 01:22] XiaohongGong commented on #1620
Thank you!

[2019-08-20 01:36] #1620 closed

[2019-08-20 07:19] kelthuzadx opened #1624 "[SVM] Confused about heap object layout"
I'm confused about runtime object layout. Let's say I have a structure which holds fields' type and name:
[code]
And I have a byte array of an object:
[code]
In my experiment, the order of fields in the source code is not correspond to byte array. And if we don't use a field later, it would not become the part of instance data.So how can I read raw value from byte array for a specific field if I h

[2019-08-20 09:09] araspitzu commented on #1513
I also tried to get the same project `eclair` to compile with native-image 19.1.1, following the steps of @Christewart i added `--allow-incomplete-classpath` and my build args for the `native-image` executable are `--no-fallback -H:Name=eclair-native -H:+ReportExceptionStackTraces --initialize-at-build-time=org.sqlite.JDBC --allow-incomplete-classpath -cp ../eclair-core/target/` the build server s

[2019-08-20 09:17] pejovica commented on #1622
Fixed in 40a1a80d4b67fd2ee0ccb9725d5f368895983316.

[2019-08-20 09:17] #1622 closed

[2019-08-20 10:21] henricook commented on #1596
Hmm, i had the issue with `-XX:TieredStopAtLevel=1` today. I didn't clean after enabling the flag though, do you think that's important?

To repeat what i've said before i've never had it with vanilla openjdk, and in this case switching back to openjdk made it go away

[2019-08-20 11:38] thomaswue commented on #1596
If it also occurs with TieredStopAtLevel=1, then it cannot be related to the GraalVM compiler itself, but has to be related to the JDK version or something else in the runtime.

[2019-08-20 11:47] henricook commented on #1596
Very curious, do you think it's important to clean my target directory when enabling the flag? So nothing is cached?

[2019-08-20 11:54] thomaswue commented on #1596
Depends whether it increases the likelihood of the error to occur. When having a faulty config and a correct config, one would basically try to localize the error by searching for the smallest change that would trigger it. The issue with non-deterministic errors is that one cannot be sure if the error *really* does not occur for a certain configuration.

[2019-08-20 15:05] mwilson-cb commented on #1065
Datadog APM is one agent that has issues.

[2019-08-20 15:38] vjovanov commented on #1065
I have done an agent for tracing class initialization and based on the experience I believe we need to:
 1) Let all user agents run before the native-image ones.
 2) Restrict the scope of agents only to classes loaded by the `NativeImageClassLoader`.  Our `native-image` code has various assumptions about the shape of the bytecode (e.g., some parts of the code must not allocate), so any agent will

[2019-08-20 15:51] mwilson-cb commented on #1065
Not sure but here is the Datadog APM Java agent code https://github.com/DataDog/dd-trace-java

[2019-08-20 16:46] peter-hofer commented on #1616
@toriacht You're using option `ResourceConfigurationFiles`, but are trying to provide a reflection configuration file for which you need to use option `ReflectionConfigurationFiles`. Resource configuration files and reflection configuration files have different purposes and a different structure. I'm closing the issue, feel free to reopen if this is a misunderstanding or wrong in our documentation

[2019-08-20 16:46] #1616 closed

[2019-08-20 16:54] peter-hofer commented on #1599
Thanks for your report @neomatrix369! It's possible that the merge code assumes that the two fields are covered by `allDeclaredFields` without considering that this discards their `allowWrite` attribute. Can you provide command lines and source code or a JAR file to reproduce (ideally a minimal example)?

[2019-08-20 17:15] peter-hofer commented on #1576
We currently don't support directly selecting an implementation, the `Feature`s are designed so they register applicable providers in order of preference and the first one to succeed wins. However, if you don't need isolate support, you can bypass the `ImageHeapProvider` code altogether using option `-H:-SpawnIsolates`. Otherwise, if you're comfortable editing the source code, you could disable `L

[2019-08-20 22:42] toriacht commented on #1616
@peter-hofer  my bad! My apologies for wasting your time.. I must have copied/pasted from incorrect section of the `Quarkus` docs.

[2019-08-21 00:14] nhoughto opened #1625 "[native-image] 19.2.0 Compile makes no/little progress, stuck on DeoptProxyNode"
A new behaviour that we are seeing in 19.2 dev and now GA (was hoping it would be fixed in GA 🤞 ) compiling on macOS with `--language:js` enabled.

The native-image build runs and gets stuck in the compile phase, the compile process doesn't complete after 30+mins with no extra logging, profiling the running JVM shows a single thread running at 100% in this class `DeoptProxyNode` we didn't see this

[2019-08-21 03:12] cstancu commented on #1610
Fixed by https://github.com/oracle/graal/commit/39edb2661d8d4931bf364a2513c4e4c9bb75b6f5.

[2019-08-21 03:12] #1610 closed

[2019-08-21 03:13] cstancu commented on #1614
Fixed by https://github.com/oracle/graal/commit/39edb2661d8d4931bf364a2513c4e4c9bb75b6f5.

[2019-08-21 03:13] #1614 closed

[2019-08-21 03:39] #1121 closed

[2019-08-21 03:42] #1130 closed

[2019-08-21 05:59] raphw commented on #1065
Most such agents target mainly user space but also some JVM-specific classes, often those responsible for context switching such as `Thread` or `ThreadPoolExecutor`.

You are saying that passing an agent with `-J-javaagent:<agent-jar>` to the native image compiler should work?

[2019-08-21 08:37] peter-hofer commented on #1494
Fixed in 0840b5f0fdf3f70fef0e06c7a9a60f54142dc36c. Thanks for your report and helpful diagnosis!

[2019-08-21 08:37] #1494 closed

[2019-08-21 08:47] peter-hofer commented on #1582
Fixed in b09b1f6babaaf16d3eaa7888b7826df63964d490. I will also soon remove many more declarations like this to reduce the chances of this happening again.
Unfortunately, the fix did not make it into 19.2.0. Is there a suitable workaround on the system level?

[2019-08-21 08:47] #1582 closed

[2019-08-21 10:02] adinn commented on #1582
Well, I think the only options are to build your own GraalVM release with the patch included or to run the native image build in an OS that has not been updated. I suspect that only the latter will be feasible for most users -- probably best achieved by building in a container or VM.

[2019-08-21 10:23] damesek opened #1626 "aarch64 mx substratevm 'Cannot add absolute links into archive'"
Hello,

I try to compile java program with GraalVM on aarch64.
'mx vm' command run without problems:

[code]

But when I would like to create an image with `mx native-image` (before this mx build in substrate directory) .. I got every time error messages
[code]

 I How could I fix that error message on aarch64?

[code]

As I see.. I got every case this message...

[code]
Any idea how to solve.. ma

[2019-08-21 11:05] vjovanov commented on #1065
Yes, it will if it does not break the image builder. I will merge soon the PR that does transformations for the Java lambdas. This will be a good starting point for adding extra agents.

[2019-08-21 11:46] mbruess1 commented on #1152
@JulienNevo @kipz I ran into the same error (using bouncy castle) as you. Were you able to resolve it by now?

[2019-08-21 12:05] kipz commented on #1152
@mbruess1 still not! :(

[2019-08-21 12:27] pmlopes opened #1627 "19.2.0 bits are not available on maven central"
The title says it all. The release 19.2.0 is out but the jars are not yet available on maven central.

[2019-08-21 17:34] christianwimmer commented on #1624
I'm not sure what exactly you are trying to do. But in Java, you can never treat an object like a byte array, or overwrite the contents of an object with raw data from a byte array.

Not reserving memory for fields that are never used in your application is an important optimization of Native Image. The static analysis tracks the usage of each field individually to enable this optimization.

[2019-08-21 19:31] pmlopes commented on #1324
Hi, any updates on this? Is there anything I can do to help this get implemented?

[2019-08-21 21:35] aghosn opened #1628 "[native-image] Unable to catch OutOfMemoryError"
Hi!
I am unable to catch `java.lang.OutOfMemoryError` exceptions with code generated by native image.
This [gist](https://gist.github.com/aghosn/1ddee4b0c9843c4a6c647c38ff93c4e2) contains a code sample that shows the issue, and the outputs I get with Java and with native-image (head of master).

[2019-08-21 21:46] christianwimmer commented on #928
We fixed an issue quite a while ago where calls to native methods corrupted some internal state, which resulted in all sorts of strange behaviors. If you can still reproduce this problem with a newer version of GraalVM, please reopen.

[2019-08-21 21:46] #928 closed

[2019-08-21 22:12] Skhmt commented on #1327
I tried GraalVM CE 19.2.0 with this:

[code]

and got a huge amount of errors that I have no idea how to solve:

[code]

[2019-08-21 23:32] christianwimmer commented on #1628
This is a known corner case that you cannot catch `OutOfMemoryError` in the same compilation unit (= method + its inlined method). You can catch the error in a caller.

Note that a fine-grained exception handler to catch `OutOfMemoryError` is always misleading in Java: compiler optimizations can move the actual allocation down and out of an exception handler, i.e., the actual allocations happens m

[2019-08-22 07:36] vjovanov commented on #1327
@pejovica assigning to you as the problem is in missing native implementations for security functions.

[2019-08-22 08:41] martinlippert opened #1629 "[svm] add support for sun.misc.Perf"
I am trying to use the Attach tools within a native image, but down the road the implementation causes an exception because of missing support in sun.misc.Perf:

[code]

It would be awesome if support for this could be added to SVM.

[2019-08-22 10:21] flortsch commented on #1627
The artifacts have been uploaded :)

[2019-08-22 11:15] isaichkindanila opened #1630 "[native-image] Can't access user home directory on Windows"
Platform: Windows 10
Version: 19.2.0

Property `user.name` is always "somebody" and `user.home` is always "C:\Users\somebody"

[2019-08-22 11:41] smoell opened #1631 "[DNS issues] GraalVM 19.2.0 DNS issues with Alpine Linux"
Hi all,

I've upgraded to GraalVM 19.2.0 and I still have DNS issues with Alpine Linux.

Dockerfile:

[code]

My Java application still throws java.net.UnknownHostException.

[2019-08-22 11:43] thomaswue commented on #1631
Thanks for the report. This worked fine on 19.1.1?

[2019-08-22 12:12] smoell commented on #1631
Actually, I didn't try with 19.1.1, however, it didn't work with 19.1.0, I'll try.

[2019-08-22 12:21] smoell commented on #1631
Tried it, same behaviour with 19.1.1

[2019-08-22 13:43] pmlopes commented on #1631
In 19.1 ir wouldn't work because the DNS code required upd code that was not implemented. The upd missing code was added "recently"

https://github.com/oracle/graal/issues/1488

I guess this isn't enough

[2019-08-22 13:50] johanvos opened #1632 "Link exceptions when using JNI"
When using the JNI platform, you may want to do the linking separately form the native-image process (e.g. link with additional libraries/resources or specific vesions of the jdk libs).
In that case, it would be useful to have the build phase stopping at the compile step, and not including the link step.
An option -H:ExitAfterWrite would be appropriate.

[2019-08-22 14:19] damesek commented on #1626
Here is the update for this:
I used https://github.com/sanzinger/graal/ on Ubuntu 18.04 aarch64 server image.
https://gist.github.com/damesek/9eabedf20b3f05c6a164016ac51f9861

[2019-08-22 14:21] bobmcwhirter commented on #1626
Try building from HEAD of https://github.com/oracle/graal

All of the work from sanzinger has been merged into head, plus a bit more.

That being said, the weird link issue is not one I've seen.

[2019-08-22 14:24] bobmcwhirter commented on #1626
Also, maybe try building against a non-distribution-provided AdoptOpenJDK11.

The fact some security policy file is under `/etc/...` makes me think you're using one from Ubuntu's distributions?

I unzip my AdoptOpenJDK11 somewhere under my `$HOME` directory and set `$JAVA_HOME` to point to it.

[2019-08-22 16:52] mardukbp opened #1634 "Compiling sulong fails in macOS 10.12"
As per [mx_sulong.py](https://github.com/oracle/graal/blob/master/sulong/mx.sulong/mx_sulong.py) sulong requires LLVM <= 8. However, macOS 10.12 ships with LLVM 9. Compilation fails with

`unknown argument: '-disable-O0-optnone'`

After installing LLVM 8 the compilation proceeds successfully. `mx_sulong.py` should check whether the installed LLVM version is larger than 8 and tell the user to downg

[2019-08-22 17:07] rschatz commented on #1634
LLVM 9 is not yet released.

The version numbers of LLVM on macOS are confusing.  The `9` refers to the XCode version. It's not actually LLVM 9, it's Apple's fork, and it's hard to find out what version it really is. Since it doesn't support `-disable-O0-optnone`, I assume it's quite old, afaik that option was introduced in LLVM 5.

That being said, just for *building* Sulong, you shouldn't need a

[2019-08-22 17:18] mardukbp commented on #1634
Thanks for the info on LLVM/Clang versioning on macOS. Actually, I am building FastR, which clones the `graal` repo and builds Sulong. The compilation failed with the above error and it succeeded upon installation of LLVM 8 with Homebrew.

I think that `mx_sulong.py` should consider certain versions of XCode as old versions of Clang and consequently not call it with the flag `-disable-O0-optnone`.

[2019-08-22 18:38] pmlopes commented on #1631
Hi, I've revisited my test case for the issue above:

[code]

This **will** work on 19.2:

[code]

Using debian as base image but not using alpine.

[2019-08-22 18:40] pmlopes commented on #1631
This is quite odd on alpine:

[code]

[2019-08-22 18:46] smoell commented on #1631
Debian based images work fine for me as well.

[2019-08-22 18:46] pmlopes commented on #1631
[code]

So in order to make it work on `alpine` the compilation **must** contain `--static` in the command arguments, otherwise networking code still requires `glibc`. The dns in this case works because it's a custom client implementation.

[2019-08-22 18:47] pmlopes commented on #1631
There is still an issue (but it's not SVM related) that the default DNS servers are not always properly found (that is why the example is hardcoded to Google DNS)

[2019-08-22 19:02] smoell commented on #1631
`--static` is in my command argument list:

[code]

[2019-08-22 19:55] #1627 closed

[2019-08-22 22:29] #1632 closed

[2019-08-22 23:03] RFigueira commented on #1582
Hi, the problem still persists :/ (GraalVM-19.02.0)
[error.txt](https://github.com/oracle/graal/files/3532212/error.txt)

[2019-08-23 04:45] cstancu commented on #1630
Those seem to be hardcoded values: https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/WindowsSystemPropertiesSupport.java#L47.

[2019-08-23 07:40] guanchao-yang opened #1635 "When running On GraalVM 19.2.0 got errors below:"
[code]

[2019-08-23 07:42] guanchao-yang commented on #1635
No Set method :

![image](https://user-images.githubusercontent.com/32863418/63575400-8fe23180-c5bc-11e9-9134-2fce4436165d.png)

[2019-08-23 08:40] peter-hofer commented on #1582
@RFigueira , unfortunately, the fix did not make it into 19.2.0.

[2019-08-23 08:43] damesek commented on #1626
I try to test on Ubuntu today, on Fedora works everything fine.

[2019-08-23 10:28] gilles-duboscq commented on #1626
You can work around that by building against a self-contained JDK 11 like @bobmcwhirter suggested.

[2019-08-23 10:45] johanvos opened #1636 "Don't try to write symbol map when building a relocatable file only"
When NativeImageOptions.ExitAfterRelocatableImageWrite is set, there is no linker returned and there should be no linker invocation.
When building an executable, this works fine. However, this ImageKind will now also introduce a main function in the relocatable file. This can be avoided by setting ImageKind to SharedLibrary, but this currently causes a NullPointerException as SharedLibraryViaCCBoo

[2019-08-23 11:29] wirthi commented on #1625
Hi,

that seems like a problem in the JavaScript engine. In `PropertyGetNode.java:1396` we are calling `CharSequence.length()` which is expected to be a simple, inlinable operation - which is not the case with `io.micronaut.http.MediaType` it seems.

We will fix.

-- Christian

[2019-08-23 11:31] nhoughto commented on #1625
Oic so micronaut specific? Interesting

[2019-08-23 11:32] wirthi commented on #1625
We just assume `CharSequence.length()` to be a super-simple operation. You seem to do something more sophisticated there (flattening a stream to a string?), violating our assumption.

[2019-08-23 11:48] peter-hofer commented on #1629
Are you planning on attaching to a full JVM (HotSpot)? Supporting `sun.misc.Perf` might not be sufficient for that on its own. If you're trying to attach to a native image, I doubt that we currently support the required interfaces.

[2019-08-23 12:23] martinlippert commented on #1629
@peter-hofer I am trying to attach to a regular HotSpot JVM. I don't know whether support for `sun.misc.Perf` is enough to support that case, this is just how far I got up to now in my experiments.

And yes, I am aware that native images don't support any of these mechanisms yet, but since I don't want to attach to a native image, that is fine for me... :-)

[2019-08-23 16:36] galderz commented on #785
@tjeske Had the same build issue. I didn't have sulong pre-built, but now that sulong is part of the graal repo, I just made the changes [here](https://github.com/oracle/graal/pull/1638) and it seemed to have worked.

[2019-08-23 17:10] isaichkindanila opened #1639 "[native-image] Creating FileHandler silently crashes program"
Platform: Windows
Version: 19.2.0

Code:
[code]
Result: silent crash, file "test.log.lck" is created
![test](https://user-images.githubusercontent.com/33846028/63610005-0a24ad00-c5e1-11e9-9656-17da1f70759b.gif)

[2019-08-23 17:15] dmlloyd commented on #1639
Are you sure it's a crash?  Maybe `System.out` isn't being flushed?

[2019-08-23 17:32] isaichkindanila commented on #1639
Changed code - still nothing.
[code]
![test](https://user-images.githubusercontent.com/33846028/63611459-9389ae80-c5e4-11e9-8db3-43b6dfeb6e5b.gif)

[2019-08-23 20:22] aghosn commented on #1628
Thanks for the explanation and the reply!

[2019-08-23 23:00] cstancu commented on #1635
@guanchao-yang can you share more about your use case? Do you delay the initialization of `java.io.File$TempDirectory` at run time? Can you share simple code to replicate this? I think we could simply remove the `Target_java_io_File_TempDirectory` substitution and always run the initializer of `java.io.File$TempDirectory` at run time.

[2019-08-24 00:17] cstancu commented on #1639
I cannot replicate this on Linux, it must be a Windows-specific issue.

[2019-08-24 04:35] isaichkindanila commented on #1639
After some testing I found that program crashes because of `FileChannel.tryLock()`:
[code]

[2019-08-24 05:19] guanchao-yang commented on #1635
@cansukaynak Yes, I delay the initialization of `java.io.File$TempDirectory` at run time  and config like this `--initialize-at-run-time=java.io.File\$TempDirectory` .

As user can I simply remove the Target_java_io_File_TempDirectory substitution and always run the initializer of java.io.File$TempDirectory at run time? @cstancu

[2019-08-24 06:57] #1624 closed

[2019-08-24 10:11] RFigueira commented on #1582
hi, @peter-hofer, how are you?
some prevision about?

[2019-08-24 19:50] smoell commented on #1631
Any idea how to fix this?

[2019-08-25 20:32] neomatrix369 commented on #1599
I'll try to provide some example. Quite possible and shouldn't happen since `allDeclaredFields` and `allowWrite` are two different levels of abstractions if I understand right, one if read-only and the other one allows writing.

[2019-08-26 02:36] ziyilin commented on #460
Any updates on this issue? Seems still not supported in 19.2.
What's the root cause of this issue?

[2019-08-26 02:43] kelthuzadx opened #1640 "[svm] LayoutEncoding.isPrimitiveArray get incorrect result for Class<?>"
For a Class<?>.class object, LayoutEncoding.isPrimitiveArray would get incorrect result
[code]
In its implementation, Class<?>.class objects are treated as HybridLayout and SVM thus assigns array layout encoding to it:
[code]
What's more, for [Lorg.graalvm.nativeimage.c.function.CFunctionPointer; and [Lorg.graalvm.word.UnsignedWord;, LayoutEncoding.isPrimitiveArray returns true. Is it a bug?

[2019-08-26 03:13] XiaohongGong commented on #1587
@dougxc  I tested this patch locally and it can make all the graal gate tasks pass. Also I ran all the jtreg with graal, and it didn't make new failure.  So will you commit this patch to the jdk project? If you are planning to do this, I can assign the JDB above to you. Thank you!

[2019-08-26 06:09] guanchao-yang commented on #460
[code]

@cstancu GraalVM 19.2.0 have the same problem,  can we have any workaround?

[2019-08-26 08:40] damesek commented on #1626
Hi,

I tested with Ubuntu Bionic (18.04), everything ok with Adopt11openjdk. Thanks!
Once more question, the --static flag supported now on aarch64?

Thanks
Szabolcs

[2019-08-26 08:56] dougxc commented on #1587
https://bugs.openjdk.java.net/browse/JDK-8229797 has already been assigned to someone. If there's some urgency in getting it pushed, please leave comments on the issue.

[2019-08-26 09:04] XiaohongGong commented on #1587
The assignee (Pengfei Li) in https://bugs.openjdk.java.net/browse/JDK-8229797 is my colleague. I don't have the authority to create a JBS, so he helped me.  So if you are planning to commit this patch yourself, this JBS can be assigned to you.

[2019-08-26 09:05] dougxc commented on #1587
I am hoping your colleague can take of committing the patch.

[2019-08-26 09:07] XiaohongGong commented on #1587
OK, I will let him to help to commit this patch. Thank you!

[2019-08-26 11:43] #1640 closed

[2019-08-26 13:39] wirthi commented on #1625
Hi @nhoughto

we have fixed the immediate problem in the JavaScript engine. To our understanding, your code cannot have exercised this path, but the native-image tool found it theoretically possible that it could happen, thus causing the problem you experienced.

The [fix](https://github.com/graalvm/graaljs/commit/2f82d4a10d8c8736bfee4370adfc8018fa3cc78b) is in the master branch already and curren