[2021-12-07 06:41] petermz commented on #4072
The error likely originates from the linker. -H:+TraceNativeToolUsage might help get more information about the linker invocation

[2021-12-07 12:32] ezzarghili commented on #4083
Thank you for the report, this happened due to github changing their sorting algorithm apparently to use committer timestamp instead of publishing stamp and us using a single commit for all releases on the release repo.

Fixed this for now.

[2021-12-07 12:32] #4083 closed

[2021-12-07 12:56] chrisseaton opened #4096 "Truffle should combine multiple exact integer arithmetic operations"
Ruby code that uses exact integer arithmetic such as `a + 1 + 1` will not be combined to `a + 2`. I guess it's because it thinks the two deoptimisations that you get on the two overflows are different so need different deoptimisation points? Both sides of the `IntegerAddExactSplit` actually eventually lead to the same `DynamicDeoptimize` node though!

[code]

@eregon

[2021-12-07 12:57] oubidar-Abderrahim commented on #4084
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-07 13:12] oubidar-Abderrahim commented on #4087
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-07 13:23] mbarbero commented on #4083
Thank you for the swift fix!

[2021-12-07 13:24] oubidar-Abderrahim commented on #4086
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-07 14:34] eregon commented on #4096
Example code to repro:
[code]
Same issue on CE and EE.

[2021-12-07 16:23] adinn commented on #4018
@christianwimmer Thanks -- that has removed the one of the problems with the non-unique method names that is causing the debuginfo generator to fail.

@fniephaus Of course, the trampoline/native method name clash is still present. Unfortunately, I am on PTO right now and will not be back at work until early January. So, fixing the naming issue is not going to happen for some time. If we were to ap

[2021-12-07 16:48] fniephaus commented on #4018
I will leave this to @christianwimmer and @olpaw to decide.

I only created #4097 to buy us some time to prepare and review a fix for this issue. If this happens soon, we don't need #4097. Since this issue has been causing the GitHub gates to fail for more than three weeks, it has unfortunately masked other issues that have popped up in the meantime. I'd like to avoid that.

[2021-12-07 22:44] rodrigar-mx commented on #4061
Hi @collinpeters. I tried to run it and did not get any issue if I generate the config files myself. These were the steps I followed:
1. In a new empty directory I copied HelloWorld.java and build.gradle files from https://github.com/collinpeters/graalvm-groovy
2. I downloaded groovy.jar lib from https://mvnrepository.com/artifact/org.codehaus.groovy/groovy/3.0.9
3. Compile: _javac -cp groovy-3.0.

[2021-12-08 04:08] chirontt commented on #4072
As the original poster couldn't include their proprietary code, here is some simple Swing code that easily reproduces the reported problem (taken from a comment in an old issue: [#1327](https://github.com/oracle/graal/issues/1327#issuecomment-513489602)):

[code]
Using the `JDK11` version of GraalVM 21.3.0, the above code compiles fine to a native executable. But when using the `JDK17` version of

[2021-12-08 06:22] bluntWu commented on #3358
hello,Has the problem been solved? I have the same problem

[2021-12-08 06:28] bluntWu commented on #3358
my graal version is 21.3.0，springboot version is 2.5.6, GraalVM and environment::
openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05, mixed mode, sharing)
springNative 0.11.0-RC1
native-image-maven-plugin 21.2.0
spring-boot-starter-parent 2.5.6

The pom.xml is:

[2021-12-08 06:36] bluntWu opened #4098 "native image build success, but an error is reported when running"
- ****org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.context.annotation.internalConfigurationAnnotationProcessor': Instantiation of bean failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.context.annotation.ConfigurationClassPostProcessor]: No default constructor f

[2021-12-08 06:36] bluntWu commented on #4098
my graal version is 21.3.0，springboot version is 2.5.6, GraalVM and environment::
openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05, mixed mode, sharing)
springNative 0.11.0-RC1
native-image-maven-plugin 21.2.0
spring-boot-starter-parent 2.5.6

The pom.xml is:

[2021-12-08 07:27] mcraj017 commented on #4038
@renatoathaydes  I tried the reproducer and got the same error as you reported in https://github.com/oracle/graal/issues/4047
Is there another reproducer for the error reported in this issue?

[2021-12-08 08:04] mcraj017 commented on #4027
@grzm this issue has been raised with native-image team

[2021-12-08 09:42] siaron commented on #461
same scene

[2021-12-08 14:00] dmclean652 commented on #4072
Thank you @chirontt . When I ran with -H:+TraceNativeToolUsage that was the exact error I received.

[2021-12-08 14:08] oubidar-Abderrahim commented on #4087
Hi, I downloaded the same version from the link provided and managed to extract it using the `tar -xzf graalvm-ce-java17-darwin-amd64-21.3.0.tar.gz` on macOS Catalina

Please re-download the tar file, it might be corrupted, and also check if you can extract other tar files correctly, it could be something specific to your machine

[2021-12-08 14:19] teshull commented on #3944
#4077 has been merged now. Please let me know if you run into any other issues

[2021-12-08 14:19] #3944 closed

[2021-12-08 15:05] oubidar-Abderrahim commented on #4086
Hi, Could you explain the example you are using and how it should work?
If I take the code and execute it on an online C compiler I still get `-1`

[2021-12-08 15:53] jperedadnr commented on #3944
Thanks @teshull
I've just built from head, and deploying to iOS works perfectly fine without a LLVM backend.

Coincidently, since last night our CI integration tests are failing building for iOS _with_ a LLVM backend:

[code]

I'll try to isolate the commit that causes this, but maybe you already have an idea?

[2021-12-08 17:03] teshull commented on #3944
My guess would be https://github.com/oracle/graal/pull/3827 @loicottet hopefully would know more

[2021-12-08 17:14] jperedadnr commented on #3944
It was working fine until last night. I've bisected the recent commits, and it seems this commit: https://github.com/oracle/graal/commit/3292bbbbf8da3d84b15f99b9c1ba9f1ac6cea093 is causing the issue.

Indeed, this commit has as parent https://github.com/oracle/graal/commit/d263c532019201688dd1587310ee6e6bdfda8c1a that was committed yesterday by @loicottet

[2021-12-08 19:12] jperedadnr commented on #3944
I've reverted now both commits, and building from head, it works fine with and without LLVM backend.

[2021-12-08 22:54] zhendongsu opened #4101 "[LLVM] wrong result from valid bitcode compiled from C source"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211208_2010 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-09 04:54] mcraj017 commented on #4089
@han1448 thanks for reporting the issue, we will check it out and get back to you

[2021-12-09 07:31] mcraj017 commented on #4058
@Albretch there is no specific code snippet for this, But I will share links with you to try it out and let us know, if you face errors
Here is the guide to use Java on truffle
https://www.graalvm.org/reference-manual/java-on-truffle/#run-java-on-truffle

Here is the examples of crawler4j
https://github.com/yasserg/crawler4j/tree/master/crawler4j-examples

[2021-12-09 08:03] mcraj017 commented on #4072
@chirontt I tried the reproducer, but it builds and run successfully:
[code]

[2021-12-09 08:24] debu999 opened #4103 "VULNERABILITY - RHSA-2021:4374 CVSS Score v3: 9.1 Docker Image - Graal 21.3.0"
Getting vulnerability - Need fix. Scan is done via AquaSec for the docker image.
RHSA-2021:4374
RHSA-2021:4358
RHSA-2021:4464
RHSA-2021:4595
RHSA-2021:4587
RHSA-2021:4382
RHSA-2021:4059
RHSA-2021:4409
RHSA-2021:4373
RHSA-2021:4424
RHSA-2021:4060
RHSA-2021:4451
RHSA-2021:4451
RHSA-2021:4364
RHSA-2021:4387
RHSA-2021:4386
RHSA-2021:4385
RHSA-2021:4511
RHSA-2021:4489
RHSA-2021:4408
RHSA-2021:4513
Not

[2021-12-09 08:54] dainiusjocas commented on #4076
I've faced a similar issue https://github.com/dainiusjocas/lucene-grep/runs/4463042596?check_suite_focus=true

[2021-12-09 09:14] Nokorbis opened #4104 "Gradle native-image - fatal error c1034 - no include path set"
**Describe the issue**
I'm trying to build a native-image application using gradle and graalvm but I have a compilation error stating "fatal error c1034 - no include path set"

**Steps to reproduce the issue**

1. Make a simple micronaut picocli project
![image](https://user-images.githubusercontent.com/6314619/145367430-5ec73227-0dd1-4ff2-83d4-b2891018c40e.png)

    * Go to https://micronaut.io/l

[2021-12-09 12:30] dainiusjocas commented on #4076
The problem seems to be caused by some updates (on November 23rf) in the musl compiler chain. I've tried to compile the native image with an older release and it worked fine.

Here is my workaround https://github.com/dainiusjocas/lucene-grep/commit/87085077bcb7660268867d860f919686960c3ad8

[2021-12-09 13:59] dmclean652 commented on #4072
I'm not sure what's different. I just performed the exact same test and still had the error. I tried several variants as well and they all behaved the same:

- Naked classes (as in your test)
- Classes in a jar
- Classes in a module
- Graal's bin folder in the path
- using explicit path to Graal's bin folder
- Visual Studio 2019 and 2017

I have a slightly different Visual Studio 2019 version 14.2

[2021-12-09 14:43] olpaw commented on #4018
@fniephaus I see no problem with appending `_jni` to the trampolines. If @zakkak provides a PR feel free to merge that to master. cc @peter-hofer

[2021-12-09 14:54] lewurm commented on #2666
The NFI related failures should be fixed by https://github.com/oracle/graal/commit/4d61ca57e601d74b92574b333a2cce40d9fa780f

[2021-12-09 15:03] Nokorbis commented on #4104
Okay, my bad.
The problem was that I was running the gradle command through the Intellij interface,
When I ran the gradle command from Native Tools Command Prompt, it worked.

[2021-12-09 15:03] #4104 closed

[2021-12-09 15:09] zakkak commented on #4018
:+1: adding this to my to-do list :)

[2021-12-09 16:34] peter-hofer commented on #4018
@olpaw @fniephaus @zakkak @adinn the best fix would be to handle these trampoline methods in `JNINativeCallWrapperSubstitutionProcessor` instead, please try that first.

[2021-12-09 17:39] rodrigar-mx commented on #4088
Hi @Thihup. Thanks for reporting the issue. Could you please provide a bit more detail on how to reproduce the error.

[2021-12-09 17:45] Thihup commented on #4088
@rodrigar-mx Sure.
The following format is the JASM from Codetools: https://wiki.openjdk.java.net/display/CodeTools/Appendix+A
You can download it here: https://repo1.maven.org/maven2/org/openjdk/asmtools/asmtools-core/7.0.b10-ea/asmtools-core-7.0.b10-ea.jar

To compile:
[code]
To execute:
[code]

[2021-12-09 18:42] zhendongsu opened #4105 "[LLVM] NullPointerException on simple LLVM bitcode"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211208_2010 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-09 19:07] LiannOM commented on #4022
Any ETA?

[2021-12-09 19:10] dougxc commented on #4022
Jan 18th, 2022 (https://www.graalvm.org/release-notes/version-roadmap/)

[2021-12-09 19:10] LiannOM commented on #4022
Thanks :)

[2021-12-09 21:03] renatoathaydes commented on #4038
In that ticket, they say issue #4047 is fixed on graalvm ce 22.0.0-dev build, if you try that, maybe you can reproduce?
Otherwise, you need to remove the crypto module and use a non-https URL, I believe.

[2021-12-09 22:32] rodrigar-mx commented on #4091
Hi @zhendongsu. GraalVM CE 19.3.6 is a very old version please use GraalVM 21.3.0. Still, I see that you commented that you perform the test in the latest 22.0.0-dev snapshot. I will take a look to this issue and get back to you.

[2021-12-09 22:36] rodrigar-mx commented on #4092
Hi @zhendongsu. Thanks for reporting this issue. I will take a look into it and get back to you.

[2021-12-09 22:38] mukel commented on #4091
The "latest" version was pointing to an old build (but still supported), please see https://github.com/oracle/graal/issues/4083

[2021-12-10 05:07] mcraj017 commented on #4072
@chirontt thanks for the correction
I have raised this issue with native-image team

[2021-12-10 05:11] mcraj017 commented on #4093
@zhendongsu thanks for reporting the issue, please share a reproducer

[2021-12-10 09:33] zhendongsu commented on #4093
Thanks, @mcraj017; please see the detailed report above on how to reproduce the issue.

[2021-12-10 10:00] loicottet commented on #3944
I have recently noticed this as well, I'm working on a fix.

[2021-12-10 10:01] schadin opened #4108 "An obscure build error message"
**Describe the issue**
Hello!
I'm trying to compile a service written in java + spring boot 2.5.6 into a native application using spring native with buildpacks.
I get an error when I run the native-image. How can I figure out what's causing it?

**Steps to reproduce the issue**
No possibility, using internal dependencies. Using mvn spring-boot:build-image.

**Describe GraalVM and your environment:

[2021-12-10 10:08] rschatz commented on #4086
I can confirm that this is a real bug on our side. @rudihorn is currently working on a fix.

[2021-12-10 10:10] rschatz commented on #4091
I think this is actually the same underlying issue as #4086. @rudihorn is currently working on a fix.

[2021-12-10 10:10] #4091 closed

[2021-12-10 11:30] oubidar-Abderrahim commented on #4095
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-10 13:56] davleopo commented on #4071
Thanks everybody for the input! We identified the problem, and the fix will land in 22.0.0 .

[2021-12-10 14:10] zhendongsu opened #4109 "[LLVM] wrong result from valid bitcode compiled from C source at -Os (not at the other optimization levels)"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211209_2306 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-10 14:19] zakkak commented on #4018
@peter-hofer do I understand correctly that we would essentially like `JNINativeCallWrapperSubstitutionProcessor` to not create wrapper calls for trampolines?

i.e.:
[code]

[2021-12-10 14:44] oubidar-Abderrahim commented on #4096
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-10 14:57] dmclean652 commented on #4072
Using JDK11 I found:

1. I could build and run the JFrameExample demo code
2. I could not build my project if I use modules
3. I could build my project if I use just a classpath
4. When I tried to run my project after building I got NoSuchMethodError on java.awt.Toolkit.getDefaultToolkit()

### Building with modules

[code]

### Result of building with classpath only

[code]

This can be reproduce

[2021-12-10 16:08] peter-hofer commented on #4018
@zakkak the `JNICallTrampolineMethod` instances are registered for compilation independently, you shouldn't see them being passed to `lookup`. Instead you'll get some implementation of `ResolvedJavaMethod` from JVMCI and will need to check if the passed `method` is declared in `JNIJavaCallWrappers` and has one of the names as generated by `JNIJavaCallWrappers.lookupJavaCallTrampoline`. Rather than

[2021-12-10 17:35] peter-hofer commented on #4018
I just realized that after recent changes, we might consider these "methods" reachable because there are pointers reachable for them so this would not be a bug -- but also not correct because what is reachable are the trampolines and not the faux `native` methods we have for them, so there must be some unwrapping and lookups happening.
In that case, it shouldn't be necessary to create and register

[2021-12-10 23:40] rodrigar-mx commented on #4098
Hi @bluntWu. Could you please share a reproducer.

[2021-12-10 23:49] rodrigar-mx commented on #3959
@jaroslawr I think the JFR recordings will provide more insights to this issue, so we can better understand the possible(s) cause(s).

[2021-12-11 01:21] chirontt commented on #4072
@dmclean652 Your above example code works fine for me. Using the `JDK11` version of GraalVM, here are the simple steps to compile it successfully to a native executable in Windows:

[code]
Then just run the resulting native image:

`> JFrameExample.exe -Djava.home="%JAVA_HOME%"`

which would display a simple JFrame on screen.

[2021-12-11 07:13] zedbeit opened #4112 "Can't install Graalvm native-image on ubuntu 20.04.3 LTS"
**Describe the issue**
I've just downloaded and installed graalvm-ce-java11-21.3.0. By default Native Image is not available, so i needed to add it. so i ran this command `$GRAAL_HOME/bin/gu install native-image` but it failed.

**Describe GraalVM and your environment:**
 - GraalVM version: **[e.g. GraalVM CE 21.3.0]**
 - JDK major version: **[openjdk version "11.0.13"]**
 - OS: **[ubuntu 20.04.3

[2021-12-11 07:36] jaroslawr commented on #3959
@rodrigar-mx I can send you the JFRs via email, I do not want to share them in public (you can find my email address on my GH profile if you on the other hand do not want to share yours publicly). Any chances for a fix for the issue that the test I provided illustrates, regardless whether it is related to the load or not? Should I report it as a separate Github issue?

[2021-12-11 07:38] fniephaus commented on #4112
It looks like there's an issue with file system permissions. Did you download and extract your GraalVM installation as root and then tried to install Native Image as normal user?

[2021-12-11 07:53] zedbeit commented on #4112
Yeah my bad. It's fixed now. Thanks

[2021-12-11 07:53] #4112 closed

[2021-12-11 08:01] Anivie opened #4113 "Error:no awt in java.library.path in compose multiplatform program"
Graalvm with native-image can't run a compose multiplatform desktop program with jdk17,it had no problems compiling, but have an error when running:`no awt in java.library.path` ,and when windows show me a messagebox thar about "0xc0000020"error

**Steps to reproduce the issue**
 - Complete compose multiplatform desktop program with gradle option "packageUberJarForCurrentOS"
 - use `native-image -

[2021-12-11 20:57] mbjarland commented on #2666
For the little less initiated among us, what does the above mean for the overall progress of this issue?

[2021-12-12 08:33] fniephaus commented on #4113
As far as I know, AWT and Swing aren't fully supported yet by Native Image on Windows (see https://github.com/oracle/graal/issues/3084).

[2021-12-12 12:21] kkriske commented on #4113
@fniephaus but native-image does produce shim dlls for awt, and `no awt in java.library.path` implies that it is not there. So while there is indeed no full support, the `UnsatisfiedLinkError` shouldn't occur.

[2021-12-12 20:25] zhendongsu opened #4116 "[LLVM] Error "double free or corruption (out)" from valid bitcode compiled from C source (at -Os)"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211209_2306 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-12 20:41] zhendongsu opened #4117 "[LLVM] ArrayIndexOutOfBoundsException from running lli with --engine.CompileAOTOnCreate on trivial code"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211209_2306 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-12 21:04] zhendongsu opened #4118 "[LLVM] lli crashes with segfault from valid bitcode compiled from C source (with mutually recursive functions)"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211209_2306 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-12 21:17] zhendongsu opened #4119 "[LLVM] nondeterministic stack overflow from lli with --jvm on bitcode compiled from C source (at -O2)"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211209_2306 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-12 23:15] chirontt commented on #4113
The statement about the `JDK17` version of GraalVM "had no problems compiling" is just plain wrong:
[code]
To my knowledge, the `JDK17` version simple can't successfully compile *any* Swing program (compose or no compose) to native image; it suffers the "should not reach here" error during the link stage, as described in the issue #4072. Yes, it does produce an .exe file, but that .exe file is bro

[2021-12-13 03:21] Anivie commented on #4113
I can complete JavaFx program with native-image on jdk17 and run,so i thik it can complete this program too,but I seem to have a wrong view?Dose it have any solution?

[2021-12-13 08:14] fcurts commented on #970
Closing because this particular issue is obsolete, although the underlying problem (native executable gets larger with new GraalVM releases) isn't.

[2021-12-13 08:14] #970 closed

[2021-12-13 08:15] fcurts commented on #2377
Closing because obsolete (SHAs are now published).

[2021-12-13 08:15] #2377 closed

[2021-12-13 08:20] fcurts commented on #902
Still hoping to see this fixed so that we can stop using the deprecated `ANTLRInputStream` class and can correctly handle Unicode characters in source files.

As far as I know, several of your own Truffle languages also use ANTLR. Don't they have the same problem?

[2021-12-13 08:23] fcurts commented on #661
Closing because obsolete.

[2021-12-13 08:23] #661 closed

[2021-12-13 08:49] #3384 closed

[2021-12-13 13:34] rudihorn commented on #4086
Hi @zhendongsu, this should now be fixed in the master branch.

[2021-12-13 14:13] zhendongsu commented on #4086
Great; thanks @rudihorn!

[2021-12-13 14:14] #4086 closed

[2021-12-13 15:12] oubidar-Abderrahim commented on #4101
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-13 15:14] oubidar-Abderrahim commented on #4105
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-13 23:57] rodrigar-mx commented on #4103
Hi @debu999. Thanks for sharing this. Could you please i) share which graalvm version are you evaluating, ii) steps to generate this report (if possible) iii) and elaborate more on this type vulnerability scan.

[2021-12-14 04:41] naah69 opened #4122 "Number of elements in a node list too high: 65537"
there is the below log when i build native images.
i don't know where is the error and how to fix it.

[code]

[2021-12-14 05:10] bencz commented on #349
https://github.com/alex4o/truffleclr

https://github.com/gavioto/xmlvm

https://github.com/jagotu/BACIL

[2021-12-14 07:26] mcraj017 commented on #4109
@zhendongsu thanks for reporting the issue, please share a reproducer

[2021-12-14 07:29] mcraj017 commented on #4108
@schadin thanks for reporting the issue.
Please add this flag and try again --allow-incomplete-classpath

[2021-12-14 09:31] zakkak commented on #4018
It looks like they are not always marked as reachable! In my experiments I need to do a couple of runs to replicate the issue.

@peter-hofer I gave this a try and I am getting:
[code]

To my understanding the trampolines need to be present in every application, no matter if their corresponding Java methods appear to be reachable (and thus substituted) or not. By moving the creation of the `JNICall

[2021-12-14 10:44] zakkak commented on #4018
Although I don't understand how it is transient and not consistent, the generation of the _redundant_ `JNINativeCallWrapperMethod`s for trampolines is the result of the following stack trace (line numbers might be off since this is from my branch):

[code]

Note the `registerHidingSubTypeMethods` invocations (added in https://github.com/oracle/graal/commit/7b5f83119a8a216a72924aeaa6c116a877cd020e)

[2021-12-14 11:17] vjovanov commented on #2842
Feel free to open a separate issue. Don't think this will speed up things though--the only thing that can speed things up is a good real-world use case.
CC @pejovica

[2021-12-14 11:26] vjovanov commented on #1308
Can't reproduce this issue? Is this still valid? If yes, can we update the reproducer?

[2021-12-14 11:31] #3703 closed

[2021-12-14 11:31] vjovanov commented on #3703
Please reopen when the reproducer is ready.

[2021-12-14 11:39] zhendongsu commented on #4109
Thanks @mcraj017; please refer to the detailed report above for reproducing this issue.

[2021-12-14 12:12] ilopmar commented on #1308
I can't reproduce this either. I've tried removing the `--initialize-at-build-time=javassist.ClassPool` flag and it works, so I'm closing this issue.

I'll also take a look at the GraalVM config we have in micronaut-views because we have a bunch of build-time initializations for the different template engines.

[2021-12-14 12:12] #1308 closed

[2021-12-14 13:02] vjovanov commented on #3969
Have you tried using `experimental-class-define-support` with the agent? This should output all the classes into a folder structure known to Native Image.

The classes would still need a stable name, but other than that all should work.

[2021-12-14 13:05] raphw commented on #3969
Yes, it would be useful for other things, too, though.

The mentioned feature fails on me, though: https://github.com/oracle/graal/issues/3968

[2021-12-14 14:02] jkeys089 opened #4124 "macOS: no awt in java.library.path"
`ERROR: java.lang.UnsatisfiedLinkError: no awt in java.library.path` when attempting to build a native image that depends on AWT on macOS.

Original issue reported at https://github.com/oracle/graal/issues/2842

The parent issue has been resolved for both windows and linux but remains on macOS. Per @vjovanov, I'm creating a separate report to track this issue specifically for macOS since the paren

[2021-12-14 16:05] realJayNay commented on #2727
-H:CLibraryPath=<string>*                    Search path for C libraries passed to the linker (list of comma-separated directories).

[2021-12-14 23:16] rodrigar-mx commented on #4116
Thanks for reporting this issue. We will take a look into it and get back to you.

[2021-12-15 04:22] chirontt commented on #4113
@Anivie Swing and JavaFX are two different animals. Both JDK versions of GraalVM can successfully compile JavaFX programs to native image, and that precisely shows that JavaFX has nothing to do with Swing :)

[2021-12-15 14:08] debu999 commented on #4103
@rodrigar-mx Thanks for reaching out.
Steps:
We are trying to get the image for version 21.3.0
We use aquasec to scan the images. https://www.aquasec.com/

[2021-12-15 14:09] debu999 commented on #4103
most of them are for the red-hat linux version. All the issues are now having patches, mostly a upgraded redhat linux will solve all the vulnerabilities.

[2021-12-15 14:13] debu999 commented on #4103
More details

https://access.redhat.com/errata/RHSA-2021:4374
https://access.redhat.com/errata/RHSA-2021:4358
https://access.redhat.com/errata/RHSA-2021:4464
https://access.redhat.com/errata/RHSA-2021:4595
https://access.redhat.com/errata/RHSA-2021:4587
https://access.redhat.com/errata/RHSA-2021:4382
https://access.redhat.com/errata/RHSA-2021:4059
https://access.redhat.com/errata/RHSA-2021:4409
ht

[2021-12-15 14:49] oubidar-Abderrahim commented on #4101
Hi @zhendongsu I tried your example, yet I got a different result
[code]
out.txt and ref.txt are identical and both execute without infinite loops, this result are obtained using the same GraalVM version you used.

Could you please try de-downloading GraalVM and trying the reproducer example you've provided again?

[2021-12-15 15:11] oubidar-Abderrahim commented on #4117
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-15 15:13] oubidar-Abderrahim commented on #4118
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-15 15:52] rodrigar-mx commented on #4103
How are you building building/getting the image for graalvm 21.3.0?

[2021-12-15 18:24] zhendongsu opened #4127 "[LLVM] wrong result from bitcode compiled from C source"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211215_1015 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-15 19:20] jsimomaa opened #4128 "SubstrateSegfaultHandler caught a segfault in thread during GC"
Native image segfaults during first garbage collection with exception code `-1073741819` while reading address `0xffffffffffffffff`.

Any ideas or CLI flags that could provide more details why the segfault is happening?

The image is being built with Maven and plugin `native-maven-plugin` version `0.9.6`:

[code]

Unfortunately I can not provide any reproducible project / code sample as this happe

[2021-12-15 19:58] saoj opened #4129 "My Java application uses --patch-module to bootstrap some JDK classes. Is it possible to integrate my patch-module bootstrap shared library with my main application image, in the same way that the JVM does it?"
I'm using Java11. Below how I launch my Java application:

   `java --patch-module=java.base=./lib/bootstrap-jdk11.jar -cp my-app-1.23.34.jar com.myapp.Start`

I'm able to successfully native-compile the jars: `my-app-1.23.34.jar` and `bootstrap-jdk11.jar`. **Great!**

**Note:** bootstrap-jdk11.jar is native-compiled as a shared library.

Now I want to link my shared library with my main applicati

[2021-12-15 23:27] rodrigar-mx commented on #4092
I have reported this issue with LLVM team. An answer will be provided accordingly.

[2021-12-15 23:31] rodrigar-mx commented on #3978
Closing this issue because there has been no activity during last month.

[2021-12-15 23:31] #3978 closed

[2021-12-16 00:07] saoj commented on #4129
I've tried everything again, this time with Graal 17, and I get a different error:

**NOTE:** I'm able to run this successfully with the JVM, passing the same arguments:

[code]

[2021-12-16 00:43] saoj commented on #4129
Can the links below help?

https://bugs.openjdk.java.net/browse/JDK-8177845

https://jigsaw-dev.openjdk.java.narkive.com/OL6JEVzX/running-jaotc-with-an-external-graal

[2021-12-16 00:51] Thihup commented on #4129
Try adding `-J--add-opens=java.base/java.lang=ALL-UNNAMED`

[2021-12-16 01:03] saoj commented on #4129
@Thihup Hey Thiago,

So for Graal 11, I had:

`/usr/java/default/bin/native-image -J--patch-module=java.base=./lib/boot-jdk11.jar -jar lib/myapp.jar MyAppBootstrapped`

and I added like you said:

`/usr/java/default/bin/native-image -J--add-opens=java.base/java.lang=ALL-UNNAMED -J--patch-module=java.base=./lib/boot-jdk11.jar -jar lib/myapp.jar MyAppBootstrapped`

and I get:

[code]

Without your c

[2021-12-16 08:42] zhendongsu opened #4131 "[LLVM] "ERROR: java.lang.ArithmeticException: / by zero" from valid bitcode compiled from C source"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211215_1015 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-16 08:48] zhendongsu opened #4132 "[LLVM] wrong result from bitcode compiled from C source"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211215_1015 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-16 09:28] roxanan-adyen opened #4133 "[LLVM] Sharing context between threads cause crash when `stat` syscall is used."
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.2.0**
 - CE or EE: **EE**
 - JDK version: **JDK11**
 - OS and OS Version: * macOS bigSur**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes, I tried 21.3.0 version and I had the same is

[2021-12-16 09:36] roxanan-adyen opened #4134 "[LLVM] Sharing context between threads causes crash when sem_t is used"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.2.0**
 - CE or EE: **EE**
 - JDK version: **JDK11**
 - OS and OS Version: * macOS bigSur**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes, I tried 21.3.0 version and I had the same is

[2021-12-16 13:10] rschatz commented on #4134
I'm currently debugging that issue, I have a suspicion what it is. Definitely looks like an issue on our side. Thanks for reporting!

[2021-12-16 13:14] rschatz commented on #4133
I'm currently debugging that issue, I have a suspicion what it is. Definitely looks like an issue on our side. Thanks for reporting!

[2021-12-16 13:21] rschatz commented on #4133
Internally tracked as GR-35890.

[2021-12-16 14:16] galderz commented on #3929
For reference, Sanne wrote up some more thoughts about this in [this discussion](https://github.com/oracle/graal/discussions/3932#discussioncomment-1544294).

[2021-12-16 14:40] shashanka981 opened #4135 "Unable to run graavl native image with BouncyCastleFIPSProvider (BCFIPS)"
We are building a graalvm based native image for our application that is using bcfips library. Native image generation goes through fine, But at runtime, appication complains that BCFIPS provider is not registered . Stack trace of the exception :

Caused by: com.oracle.svm.core.jdk.UnsupportedFeatureError: Trying to verify a provider that was not registered at build time: BCFIPS version 1.000201.

[2021-12-16 15:10] oubidar-Abderrahim commented on #4101
I got a confirmation from another team member that he can not reproduce this issue either, this might be related to something different in our setup. Could you please share the compiled `small.bc` file to compare with ours

[2021-12-16 15:20] oubidar-Abderrahim commented on #4122
Hi, thank you for reporting the issue, Could you please clarify a few things

1. What version of GraalVM you're using? (ex: GraalVM CE 21.3.0 java11). have you tried with the latest snapshot build? if not please do so.
2. What OS you're using?
3. Did you try generating the configuration files using the native-image-agent for your application? if not please do so.
4. Could you share a reproducible

[2021-12-16 16:12] zakkak commented on #4094
This is being worked on by @christianwimmer in https://github.com/oracle/graal/pull/4125

[2021-12-16 16:15] rschatz commented on #4134
I think this is actually the same issue as https://github.com/oracle/graal/issues/4133
The underlying issue seems to be that `pthread_self` doesn't work, and this is used internally in both `stat` and the sem functions.

[2021-12-16 16:17] #4134 closed

[2021-12-16 17:40] rodrigar-mx commented on #4116
I have reported this issue internally with LLVM team. An answer will be provided accordingly.

[2021-12-16 17:41] rodrigar-mx commented on #4119
Thanks for reporting this issue. We will take a look into it and get back to you.

[2021-12-16 20:37] zhendongsu commented on #4101
Yes, attached:
[small.bc.zip](https://github.com/oracle/graal/files/7730263/small.bc.zip)

I notice that the infinite looping is somewhat flaky, so please try to repeat several times.

[2021-12-17 09:32] jperedadnr commented on #3944
@loicottet that is great news, do you have an ETA for it? As mentioned before, our integration tests are failing, and we are about to start migrating them to use the non-LLVM backend, but it would be good to know it we can wait just a little bit longer.

[2021-12-17 13:05] cagriuslu-adyen opened #4137 "[LLVM] Possible heap corruption in managed mode while trying to format a string using fmt"
**Describe GraalVM and your environment :**
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Not verified, but it happens with the latest release (21.3.0) and 21.2.0.

**Describe the issue**
Trying to format a string using fmt library causes a `Allocation of native memory is not possible in managed mode` error while running under GraalVM. Suspecting of heap co

[2021-12-17 14:29] rschatz commented on #4137
I'm looking into it.

Note that it's unlikely this is really a heap corruption. The error message indicates that something wants to access the native heap, and our safeguards against this kick in as expected.

Usually this happens when pointer arithmetic goes wrong, for example if the C code is trying to do weird stuff with pointer values. Sometimes this is actually undefined behavior in C that ju

[2021-12-17 14:57] oubidar-Abderrahim commented on #4127
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-17 15:05] raikasdev opened #4138 "GraalVM "No language and polyglot implementation was found on the classpath." on Context create"
**Describe the issue**
I am updating our organization's TypeScript for Minecraft library (https://github.com/raikasdev/craftjs) as Minecraft 1.18 requires Java 17. The code has worked fine on 21.1. Now it is resulting in `java.lang.IllegalStateException: No language and polyglot implementation was found on the classpath. Make sure the truffle-api.jar is on the classpath.` when Context is tried to

[2021-12-17 15:08] raikasdev commented on #4138
To clarify, I am not using Truffle, just the Polyglot API

[2021-12-17 18:41] rodrigar-mx commented on #4119
Hi @zhendongsu. I executed the code and I did not run into any issue. These were the steps I took:

1. $LLVM_TOOLCHAIN/clang  -O2 small.c -o small
2. for i in $(seq 1 5) ; do echo $i; (ulimit -s unlimited; $JAVA_HOME/bin/lli --jvm small); done
3. output:
   1
   2
   3
   4
   5

Is there any additional step?
I tested with GraalVM CE 22.1.0-dev-20211215_1015:
[code]

[2021-12-17 20:40] cagriuslu-adyen commented on #4137
Thanks for the explanation, I'll try to see what happens when optimizations are off while you look into the exception.

The bundled LLVM, I assumed it would ignore the optimization and debug flags and use the most appropriate flags. Is this a wrong assumption?

[2021-12-17 21:03] cagriuslu-adyen commented on #4137
When `-O1 -g` is used, the issue disappears, thank you very much. Feel free to keep the issue open and investigate.

[2021-12-18 12:56] skbeh opened #4140 "Server crashes with sun.awt.geom.Order1.getReversedCurve"
**Describe the issue**
The Minecraft server crashes sometimes when there is someone playing in the server. The problematic frame is always `sun.awt.geom.Order1.getReversedCurve`.

**Steps to reproduce the issue**
1. `wget https://github.com/TacoSpigot/TacoSpigot/releases/download/v1.8.8-R1.0/TacoSpigot.jar`
2. `java -jar TacoSpigot.jar`
3. Agree the eula and do step 2 again.
4. Run a 1.8.9 Minecra

[2021-12-18 13:35] mbucc opened #4141 "Service provider in a different module not added to class path"
**Describe the issue**

`java.util.ServiceLoader` used in a one module does not find a provider defined in another module.

[code]

and

[code]

**Steps to reproduce the issue**

1. git clone git@github.com:mbucc/graalvm-native-bug.git
2. git checkout vanilla
3. make

Current output (last four lines):
[code]

Expected output:
[code]

**Describe GraalVM and your environment:**

 - GraalVM version:

[2021-12-18 16:16] mbucc commented on #4141
Added a nobug target that shows the provider is found when I use the runtime environment provided by GraalVM:

`java -p mlib -m com.example.service`

OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05)

[2021-12-18 20:40] jamesward opened #4142 "Not Clear on: "initialized without the native-image initialization instrumentation""
While trying to debug native image with Netty (4.1.70), I ran into:
[code]

I'm using `graalvm-ce-java11-21.3.0` and this seems to happen when I specify multiple `--trace-class-initialization` flags, like:
[code]

With only 1 `--trace-class-initialization` specified, I seem to be able to get it to provide the stack trace.

[2021-12-18 20:47] jamesward commented on #2050
BTW, I was able to get this working on Netty 4.1.70 by adding (in addition to the ones above):
[code]

[2021-12-19 06:01] debu999 commented on #4103
docker pull ghcr.io/graalvm/graalvm-ce:21.3.0
Once the image is pulled to staging platfomr, AQUASEC scan the image and details are publish if no vulnerabilty it uploads to private container registry else throw error. The one is have listed above are detected during the scan of the image.

[2021-12-19 12:40] bbernhard opened #4143 "Native Image cross compilation from amd64 to arm64 fails with: '/usr/bin/gcc -v' failed"
I want to create native images for both amd64 and arm64. As I only have a Raspberry Pi, I prefer working on my amd64 machine and cross compile for arm64 with QEMU and the graalvm-ce arm64 docker container. Unfortunately when doing so, I end up with a `'/usr/bin/gcc -v' failed` error.

# Steps to reproduce

**On the host system:**
* `cd /tmp`
* `git clone https://github.com/AsamK/signal-cli.git`
*

[2021-12-19 15:41] loicottet commented on #3944
The fix is ready to be merged, it should be in early this week.

[2021-12-20 02:01] performantdata commented on #2159
The property names appear to be defined [in `BundleConstants`](https://github.com/oracle/graal/blob/master/vm/src/org.graalvm.component.installer/src/org/graalvm/component/installer/BundleConstants.java). [`RemotePropertiesStorage.loadComponentMetadata`](https://github.com/oracle/graal/blob/89e4cfc7aeea69970b60c64cd075ceb2a104e864/vm/src/org.graalvm.component.installer/src/org/graalvm/component/in

[2021-12-20 03:57] christianwimmer commented on #4094
#4125 is merged. At least for my purposes this is good enough. I still want to explicitly state the current restrictions here too:
* Turning flight recorder on for the image builder automatically also add flight recorder support in the generated image. This can disturb the measurement a bit, since more code gets included in the image
* A few more classes are initialized at image build time, becaus

[2021-12-20 03:57] #4094 closed

[2021-12-20 04:19] kamel2005 opened #4144 "Image build request failed with exit status 1"
[libalssarimamana:6792]    classlist:  11,170.85 ms,  0.96 GB
[libalssarimamana:6792]        (cap):   1,950.93 ms,  0.96 GB
[libalssarimamana:6792]        setup:   3,910.62 ms,  0.96 GB
Error: Error compiling query code (in C:\Users\user\AppData\Local\Temp\SVM-2991951995775198052\WindowsDirectives.c). Compiler command ''C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Tools\MSVC\14.30.30

[2021-12-20 04:26] kamel2005 commented on #4144
Windows 10

openjdk 17.0.1 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05, mixed mode, sharing)

[2021-12-20 06:13] mcraj017 commented on #4128
@jsimomaa Thanks for reporting the issue, Please share a reproducer for this issue

[2021-12-20 06:14] mcraj017 commented on #4109
@zhendongsu thanks for the reply, please a sample code or steps to reproduce the error reported in this issue

[2021-12-20 06:15] mcraj017 commented on #4093
@zhendongsu thanks for the reply, please a sample code or steps to reproduce the error reported in this issue

[2021-12-20 06:27] jsimomaa commented on #4128
Thank you @mcraj017 for the reply. I can try to craft a reproducer but can't estimate when

[2021-12-20 07:56] mcraj017 commented on #4017
Closing this issue as there is no activity in last 30 days

[2021-12-20 07:56] #4017 closed

[2021-12-20 07:58] mcraj017 commented on #4058
Closing this issue now, if you get any error while running your application on Graalvm.
Please create a new issue

[2021-12-20 07:58] #4058 closed

[2021-12-20 10:31] rschatz commented on #4137
No, the bundled clang wrapper will just add flags, it will never remove flags that you specify manually. If you don't specify anything, it defaults to `-O1 -g`, which is the flag combination we recommend.

In general we try to be compatible with all possible optimization flags, but for the higher levels its tricky, and most of the time it's counterproductive, the two optimizing compilers (LLVM and

[2021-12-20 11:20] schadin commented on #4108
@mcraj017 thanks for answer.

Compiling continues, but failed with message:  [log](https://gist.github.com/schadin/21a4168e94f60f137ad23d232eca1408#file-runtime-init-needed-log)
I added class to runtime initialization: --initialize-at-run-time= sun.instrument.InstrumentationImpl .
In compilation happend error: class already exists runtime initialization: [log](https://gist.github.com/schadin/21a41

[2021-12-20 12:18] olyagpl commented on #4067
@KengoTODA, thanks for the feedback.We updated https://www.graalvm.org/reference-manual/native-image/DynamicProxy/#manual-configuration and some other places.

[2021-12-20 12:18] #4067 closed

[2021-12-20 13:49] KengoTODA commented on #4067
Hi,

I've checked https://www.graalvm.org/reference-manual/native-image/DynamicProxy/#manual-configuration but no `"interfaces"` JSON parameter found. I guess there is some delay in the site?

[2021-12-20 14:14] olyagpl commented on #4067
Right, website is refreshed shortly after. The content is single sourced, I should have pointed you to the source https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/DynamicProxy.md#manual-configuration instead.

[2021-12-20 14:31] oubidar-Abderrahim commented on #4131
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-20 14:37] oubidar-Abderrahim commented on #4132
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-20 15:16] peter-hofer commented on #4018
@zakkak I thought the trampolines become reachable through the `MethodPointer`s to them that are created as part of the JNI data structures we prepare during the image build. Apparently that's not the case, so we need to keep registering the trampolines for compilation explicitly. We should still create their proper representation as `JNICallTrampolineMethod` via `JNINativeCallWrapperSubstitutionP

[2021-12-20 19:01] rodrigar-mx commented on #4103
Thanks @debu999. I have reported this issue internally. An answer will be provided accordingly.

[2021-12-20 21:53] dougxc commented on #4103
What files in the GraalVM image are these reports related to?

[2021-12-20 22:05] rodrigar-mx commented on #4135
Hi @shashanka981. Could you please try using `-H:+TraceSecurityServices` and share the report, to see if the security provider is being registered.

[2021-12-20 23:44] rodrigar-mx commented on #4129
Hi @saoj. I will take a closer look into it. Any updates or questions, I will let you know.

[2021-12-21 01:42] KengoTODA commented on #4067
Thanks @olyagpl! Now I can see the change at both the site and GitHub :)

[2021-12-21 05:06] debu999 commented on #4103
More details :
Install Aquasec Trivy: **https://aquasecurity.github.io/trivy/v0.18.3/installation/**
Download the image: **docker pull ghcr.io/graalvm/graalvm-ce:latest**
Run the Scan: **trivy image ghcr.io/graalvm/graalvm-ce:latest**
Attaching the report for reference.

ghcr.io/graalvm/graalvm-ce:latest (oracle 8.4)
==============================================
**Total: 141 (UNKNOWN: 0, LOW: 18,

[2021-12-21 05:09] debu999 commented on #4103
Release | General Availability Date | redhat-release Errata Date* | Kernel Version
--------- | ------------ | ----------------------------- | ------------
RHEL 8.5 | 2021-11-09 | 2021-11-09 RHSA-2021:4356 | 4.18.0-348

I believe moving to the latest RHEL 8.5 will definitely fix most of the issues . Current image is built with RHEL 8.4 which have the vulnerabilities.

[2021-12-21 08:56] shashanka981 commented on #4135
It appears that security provider seems to be now registered. however, i see following errors while building the native image. Attached the file that has error messages.

[error messages.zip](https://github.com/oracle/graal/files/7750895/error.messages.zip)

[2021-12-21 11:05] dougxc commented on #4103
Tracked internally by GR-35944.

[2021-12-21 11:39] swaechter commented on #4064
I want to use the same IAIK PKCS11 JNI wrapper to digitally sign PDFs. I wasn't aware that a stranger from the internet ran into the *exact* same issue like me - but a few weeks earlier (Mandatory XKCD reference https://xkcd.com/979/.

I forked your repository (https://github.com/swaechter/pkcs-native) and documented all my commands, so you @mcraj017 can reproduce the problem. In addition I made a

[2021-12-21 12:33] swaechter commented on #4064
I upgraded my example: I included the Java JNI glue code into the project to prevent javac compiler issues from older Java installations + also rebuilt the DLL with MSVC 2019. Still the same problem.

The JNI header looks like this and the signature looks ok, so I guess it's a GraalVM issue or me using the wrong commands (E.g. library is not linked/integrated and missing at runtime).

![Problem](h

[2021-12-21 13:27] debu999 commented on #4103
Looking forward to it...

[2021-12-21 14:41] oubidar-Abderrahim commented on #4138
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-21 23:40] rodrigar-mx commented on #4135
Try with the suggested flag --initialize-at-run-time=java.security.SecureRandom. Otherwise, please share a reproducer.

[2021-12-21 23:59] rodrigar-mx commented on #4140
Hi @skbeh. Could you please try deactivating the JVMCI Compiler by using the flag `-XX:-UseJVMCICompiler ` and share if the error persists.

[2021-12-22 00:17] luontola opened #4149 "Segfault when loading Snowflake JDBC drivers, inside sun.misc.Unsafe.putObjectVolatile"
**Describe the issue**
A native compiled app crashes with segfault when it tries to load the [Snowflake JDBC drivers](https://docs.snowflake.com/en/user-guide/jdbc.html). The crash happens on the following line where `sun.misc.Unsafe.putObjectVolatile` is used to set `jdk.internal.module.IllegalAccessLogger.logger` to `null`:
https://github.com/snowflakedb/snowflake-jdbc/blob/v3.13.12/src/main/jav

[2021-12-22 10:20] sophokles73 commented on #3992
@oubidar-Abderrahim any news on this?

[2021-12-22 11:32] shashanka981 commented on #4135
[example.zip](https://github.com/oracle/graal/files/7762320/example.zip)

Attached the zip that serves as a sample reproducer:

- Extract the zip
- Import it as a project
- Build the project
- Project also has sample docker that has instructions to run the native image - run the docker command - "docker build -t sample:1.0 .". You can notice the errors

[2021-12-22 12:20] kirillp commented on #4140
@skbeh
sun.awt is a Desktop module that is not designed to work on server
One should not use it on server side because its threading model is edt while server threading model does not have a edt.

[2021-12-22 13:00] jerboaa commented on #3992
You can assign this bug to me @oubidar-Abderrahim if you want.

[2021-12-22 13:46] jerboaa commented on #3992
This seems to be related to build time initialization of certain container/cgroup classes. `ContainerInfo` seems to be one candidate which would need runtime init instead. It looks to me the quota/period settings (which `--cpus` translates to) are being looked up on the hosted platform which seems incorrect.

[2021-12-22 13:51] jerboaa commented on #3992
Yep:

[code]

[2021-12-22 14:03] oubidar-Abderrahim commented on #3992
Sorry I had some issues with docker and reproducing the issue and it took to long, Thanks @jerboaa I'll assign it to you

[2021-12-22 15:02] oubidar-Abderrahim commented on #4142
Hi, Thank you for reporting this, is it possible to share a small reproducer to illustrate the issue?

[2021-12-22 15:15] jerboaa commented on #3992
This is sufficient to reproduce:

[code]
The last line is supposed to report `[...] processors: 1`.

[2021-12-22 15:18] sophokles73 commented on #3992
@jerboaa yes, and it should also report the limited amount of memory (100m) instead of the 4GB outside of the container ...

[2021-12-22 16:32] fniephaus commented on #3650
Good news: we're working on a GitHub Action for setting up GraalVM, Native Image, and other components.
Please join the discussion and updates at https://github.com/oracle/graal/discussions/4150.

[2021-12-22 16:40] aalmiray commented on #3650
@fniephaus thank you for opening a discussion topic. Just a matter of how the team handles issues and discussions. Strictly speaking this is still an open issue as no fix has been supplied nor a final decisions to say FIX or WONTFIX has been posted.

Having an open discussion to brainstorm possible solutions is not IMHO a reason to close an issue. If your intention is to move all discussions to th

[2021-12-22 16:42] jerboaa commented on #3992
Yes, thanks. Note that `Runtime.getRuntime().maxMemory()` is not a good indicator of that, though. The container limit is supposed to represent the total available memory (including native), while `maxMemory()` is the maximum heap size. Thus, it'll always be less than that in the reporting.

[2021-12-22 16:44] fniephaus commented on #3650
Hi @aalmiray, you are of course correct. This issue has not yet been resolved yet. Nonetheless, I'd like to have the discussion around a GitHub Action in one place. So as per your suggestion, I am going to reopen the issue and mark is as read-only.

[2021-12-22 23:19] rodrigar-mx commented on #4141
Thanks for sharing this issue. We will take a look into it and get back to you.

[2021-12-23 08:27] skbeh commented on #4140
The Minecraft server is really old and I am not familiar with its code. Maybe it is because of historical reason. But I have not faced the problem before I updated graalvm to 21.3.0.

[2021-12-23 11:27] zhendongsu opened #4152 "[LLVM] wrong result from bitcode compiled from C source (at -Os)"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211222_1041 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-23 11:33] zhendongsu opened #4153 "[LLVM] ERROR: java.lang.AssertionError: i40 is not supported for extractvalue"
GraalVM version or commit id if built from source: GraalVM CE 22.1.0-dev-20211222_1041 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-23 15:41] lukasstadler commented on #4059
Thanks for the thorough report.
We've moved to a newer llvm version in 21.3. The new version produces different bitcode for some uncommon integer bit sizes, so that it hits a bug in Sulong. We're looking into it.

[2021-12-23 15:42] lukasstadler commented on #4059
tracked internally as GR-35906

[2021-12-24 10:55] M-a-r-k opened #4156 "Exception java.lang.AssertionError: isSubClass when building Ghidra"
**Describe the issue**
When trying to build [Ghidra](https://github.com/NationalSecurityAgency/ghidra) following instructions [here](https://github.com/NationalSecurityAgency/ghidra/blob/master/DevGuide.md), build fails with `java.lang.AssertionError: isSubClass P`

**Steps to reproduce the issue**

0. Generally, follow instructions at https://github.com/NationalSecurityAgency/ghidra/blob/master/D

[2021-12-24 15:09] oubidar-Abderrahim commented on #4143
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-24 15:10] oubidar-Abderrahim commented on #4144
Hi, Thank you for reporting this, is it possible to share a small reproducer to illustrate the issue?

[2021-12-24 15:11] oubidar-Abderrahim commented on #4149
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-24 15:29] kamel2005 commented on #4144
native-image --shared -H:Name=libalssarimamana -cp bcpg-jdk15to18-1.69.jar;bcprov-jdk15to18-1.69.jar;amana-1.0.jar

[2021-12-24 17:26] M-a-r-k commented on #4156
It looks like this issue is [already known](https://bugs.openjdk.java.net/browse/JDK-8273234) and will be fixed in JDK 17.0.2.

[2021-12-24 17:26] #4156 closed

[2021-12-24 20:46] renannprado commented on #3984
When I run with the java-agent and then run `exec:exec@native`, the binary is built but I get the below error:

 at [Source: (File); line: 1, column: 1]
	at com.fasterxml.jackson.databind.DeserializationContext.reportBadDefinition(DeserializationContext.java:1904)
	at com.fasterxml.jackson.databind.deser.DeserializerCache._createAndCache2(DeserializerCache.java:268)
	at com.fasterxml.jackson.datab

[2021-12-27 13:03] rubyFeedback opened #4158 "[Documentation] Small improvement suggestion for the official "tutorial" at "https://www.graalvm.org/docs/getting-started/""
Hey folks,

First, excuse me filing the issue here; I could not find a "Documentation" issue. Adding this to the template may be useful, as my
report here is solely about documentation.

Right now I am working through a graalVM tutorial again. I downloaded graalvm, and it works fine on my linux box. \o/

I could run "javac" and "java" so this is fine.

Next on my todo list is trying to test javasc

[2021-12-27 13:04] rubyFeedback commented on #4158
Hmm ... guess I filed the wrong issue tag; I did not add the "bug" label ^^^, that was done automatically.

Are the "documentation issues" labels or something like that? Would seem more logical IMO.

[2021-12-27 18:12] rubyFeedback opened #4159 "[Documentation] Small suggestion to add a sentence or so to "native-image" compiling standalone files"
Hey folks,

I am continuing to work through the graalvm guide at:

https://www.graalvm.org/docs/getting-started/

So far everything worked very well. The only small suggestion I have is to make it
easier to install emcc, but this is NOT the reason why I created this issue here.

Right now I am at this step:

    javac HelloWorld.java
    native-image HelloWorld

This worked too!

New generated fil

[2021-12-27 18:26] rubyFeedback commented on #2644
A "hello world" example via swing + native-image on the official documentation would be super-useful IMO.

Does not have to be a complicated GUI, just something we can quickly compile via native-image and then
distribute as-is e. g. for elderly people (that's actually one primary use case of mine; I myself am fine with
Linux, but tons of people are stuck on windows, so GraalVM could really tap int

[2021-12-27 18:31] rubyFeedback commented on #1327
Some folks say they managed to get it to work, others wrote they did not.

Would it be possible to add a simple "hello world" button via native-image + swing, as part of the official documentation,
INCLUDING the syntax how to get it to run, IF it works eventually? I tried some of the examples, and while others
said it worked for them, I failed to get that to work right now ... may be an user probl

[2021-12-27 19:20] ricardocunha opened #4160 "Not able to use a shared library from maven dependency"
I'm trying to put a Quarkus server up using Graalvm with a maven dependency that loads a shared library(*.so file).
However, after the server starts I'm getting a java.lang.UnsatisfiedLinkError.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **git clone --depth 1 https://github.com/ricardocunha/h3-native-test**
2. **mvn clean package -DskipTests && docker

[2021-12-28 08:58] hilycker commented on #4159
You figured it right, you can run what you compiled only on the platform you used for compilation. So what you're looking for is cross compilation, try searching for it, there is something on the internet although I can't comment on it because I've never tried, just googled out of curiosity. Anyway I'd like to know too if any progress toward implementing cross compilation were made or is it still

[2021-12-28 10:59] BluCobalt opened #4161 "Exception in thread "main" java.lang.NoSuchFieldError: java.awt.Component.x trying to use JFrame"
Running a native image compiled with the gradle plugin doesn't work with awt; I have a test app that consists of a simple JFrame that I am trying to compile with native image but runtime fails with the following stack trace:
[code]
This is what I have in my build.gradle.kts:
[code]
I found #3669 which seems to be the same issue but in that case the gradle plugin wasn't being used.
[code]

[2021-12-28 11:42] kirillp opened #4162 "AMD64DarwinUContextRegisterDumperFeature is not triggered for org.graalvm.nativeimage.Platform.IOS_AMD64"
After fixing this https://github.com/oracle/graal/pull/3859
I've found a new issue: AMD64DarwinUContextRegisterDumperFeature is not triggered for
org.graalvm.nativeimage.Platform.IOS_AMD64
GraaVM 22.0 is affected

As a result we can see a following error in during build

Fatal error: com.oracle.svm.core.util.VMError$HostedError: guarantee failed
	at com.oracle.svm.core.util.VMError.shouldNotReachH

[2021-12-28 11:43] kirillp commented on #3840
@teshull
Hello, I found a new issue: https://github.com/oracle/graal/issues/4162

[2021-12-28 13:47] kirillp commented on #4162
I fixed this by adding required annotations
https://github.com/Montura/graal/commit/d9d9a1a4c1e5d331bf9a8fb0ee443ec14c7db4b9

after the fix the build works again

[2021-12-28 14:45] oubidar-Abderrahim commented on #4152
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-28 14:45] oubidar-Abderrahim commented on #4153
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2021-12-28 15:16] shashanka981 commented on #4135
@rodrigar-mx  any help here ?

[2021-12-28 16:06] kkriske commented on #4161
Not a bug.
You are simply missing [JNI configuration](https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/JNI.md) of the `Component#x` field, which was also the resolution of the issue you linked.
Try running your app with the [native image agent](https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/Agent.md) first to collect the required config

[2021-12-28 18:20] marcorobiati opened #4164 "Tomcat Native Image build issues"
EDITED: added info with new tests and better clarification

Tomcat 10.0.14
Windows 10 x64 21H1 OS Build 19043.1415
NetBeans 12.6, maven webapp project
Maven 3.8.4
Ant 1.10.12

openjdk version "11.0.13" 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 11.0.13+7-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 11.0.13+7-jvmci-21.3-b05, mixed mode, sharing)

openjdk ve

[2021-12-28 19:19] Ortega-Dan commented on #2727
HI I just want to add that based on the output you had showing:
`1. It appears as though libz.a is missing. Please install it.`
It was not linking successfully because it was missing libz, in Ubuntu I got it installed with:
`sudo apt install zlib1g-dev`
and after that it worked perfectly for me.

[2021-12-28 20:06] BluCobalt commented on #4161
Can I have a gradle task that runs my app with the native image agent?

[2021-12-28 20:36] kkriske commented on #4161
That's part of the feature set of the [GraalVM Native Image plugin](https://graalvm.github.io/native-build-tools/0.9.4/gradle-plugin.html#_reflection_support_and_running_with_the_native_agent), so yes it's possible.
I haven't used it though, but documentation should be sufficient to figure it out.

[2021-12-29 17:23] ricardocunha commented on #4160
So, after try to run as non-native the error is clear:

java.lang.UnsatisfiedLinkError: /usr/lib/libh3-java.so: /lib64/libm.so.6: version `GLIBC_2.29' not found (required by /usr/lib/libh3-java.so)
Running as native there was no information about GLIBC_2.29 not found. This library is a very core library so I decided to move from docker image quarkus-micro-image:1.0(GLIBC 2.28) to openjdk:11 as a b

[2021-12-29 17:23] #4160 closed

[2021-12-29 23:58] rubyFeedback commented on #287
upx has been mentioned in other threads as well, and I don't mind the large file size.

native-image is pretty nice, works well (at the least so far that I have used) and is
fast. Storage is almost never a bottleneck IMO on modern computer systems. Perhaps
on embedded, but ... I here have a cheap 3TB harddisc and that's already several
years old. I think storage-size wise all is fine.

Still, smal

[2021-12-30 13:14] olyagpl commented on #4159
Hi @rubyFeedback,
What you are talking about is cross compilation, which is not currently possible.  It is stated in the [Native Image guide](https://www.graalvm.org/reference-manual/native-image/) that "...ahead-of-time compiles that reachable code and data to a native executable **for a specific operating system and architecture**". There are parts of the JDK initialized during the image buildin

[2021-12-30 18:10] chirontt commented on #4161
You can configure the `run` task (defined in the `application` plugin) to execute your app with the native-image agent (in Groovy):

[code]

[2021-12-30 19:35] chirontt commented on #4135
@shashanka981 how do you build and run your app (with Gradle) contained in the attached example.zip?

I'd like to run your app first in standard JVM, to see what it looks like, before even attempting to compile it to native image.

[2021-12-30 19:49] ArjanSchouten commented on #4076
Had the same issue because in my Dockerfile I used the latest version of musl toolchain. I now use this version from musl.cc: https://more.musl.cc/10.2.1/x86_64-linux-musl/x86_64-linux-musl-native.tgz and it works!

[2021-12-30 23:21] kamel2005 commented on #4144
finally i run the cmd as admnistrator and it worked just fine.

[2021-12-30 23:22] rubyFeedback opened #4165 "Swing support: example file (its content) in the issue itself (via "native-image")"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**

The below example, shown after a ---- line, can not be compiled via native-image.

It would be convenient if this would work out of the box for default/"vanilla"
swing applications (at the least simple ones).

**Describe the solution you'd like.**

I would appreciate

[2021-12-31 01:21] rubyFeedback opened #4166 "[Documentation] Improve/Clarify on https://www.graalvm.org/reference-manual/native-image/#build-a-shared-library"
Hey there GraalVM seekers,

I am reading up on some more GraalVM stuff, as I was the last ~days - lots of
 information available out there which is great. Hope that 2022 will be an
even better year for GraalVM. Hopefully many more blog articles with useful
knowledge and snippets to learn from!

In regards to the issue here, I am reading up on that URL:

https://www.graalvm.org/reference-manual/nat

[2021-12-31 10:56] phial3 opened #4167 "java.beans.IntrospectionException: Method not found: isName"
**Describe GraalVM and your environment :**
[code]

**Describe the issue**

code:
[code]

result:
[code]

[2021-12-31 13:34] jperedadnr commented on #4162
I've run into this same issue, and the proposed fix works for me too.

[2021-12-31 13:50] marcorobiati commented on #4164
Updated with new info and new tests

[2021-12-31 14:57] #4161 closed

[2022-01-01 00:05] cosmicdan commented on #287
UPX is not a solution. Not only is it an external compressor that has nothing to do with the JVM (so will just bloat the compile system), but also executable compression does add measurable time to decompression, which means native java natives will take longer to startup - greatly diminishing one of the main use cases for native compiled java applets.

UPX will widely known about for anybody who

[2022-01-01 00:17] cosmicdan commented on #287
UPX is not a solution. Not only is it an external compressor that has nothing to do with the JVM but executable compression always adds measurable time to decompression, which means the java natives will take longer to startup - greatly diminishing one of the main use cases for native compiled java applets.

UPX is widely known about, anybody who knows anything about compression will be familiar w

[2022-01-01 21:20] rishavs opened #4168 "Requesting in-depth tutorial on Simple Language creation, from the very start to the end"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
as programmer with intermediate skills, I am unable to make any headway into creating a toy language with Truffle as the documentation is simply not good enough. For someone new to the ecosystem, it is not clear how to even start - what tools to use for the lexing/pars

[2022-01-01 22:11] sergey-morenets commented on #2824
Hi @emrul

Thank you for the provided Dockerfile but it doesn't work for me if I use the latest GraalVM version:

`FROM ghcr.io/graalvm/graalvm-ce:java17-21.3.0 as graalvm`

I get the following error message:

[code]

This executable (x86_64-linux-musl-gcc) is actually absent in my Docker image and musl-gcc is available in ${RESULT_LIB}/bin.

[2022-01-01 22:41] sergey-morenets commented on #2824
I've investigated how different GraalVM versions work with musl library.
The latest 20.x release (20.3.2) and 21.2.0 work without any issues. However 21.3.0 fails to generate native image. My assumption is that because it's  JDK 17-based. Previous versions were JDK 11-based.

[2022-01-01 23:31] sergey-morenets commented on #2824
So I finally made it working by changing the musl implementations:

[code]

Please note, that the latest musl version (12.2.1) doesn't work correctly with GraalVM.

[2022-01-02 15:30] kkriske commented on #4165
Tried out your example:

## Linux:

Note that for linux, the value of the `java.awt.headless` property is baked in because different libraries have to be linked based on if it is to run headless or not. So what you're missing here is pretty much just `-Djava.awt.headless=false` on the `native-image` command.
[code]

Functionality looks identical as running from java. I did run from WSL2 in windows

[2022-01-03 00:01] jperedadnr opened #4169 "URL::openStream fails when running on module path"
**Describe the issue**

Running native-image with latest dev build available (GraalVM CE 22.0.0-dev-20211222_1041) over a modular project:

- Running on the classpath: calling `Class::getResourceAsStream` or `Class::getResource` and then `URL::openStream` work as expected.
- Running on the modulepath: calling `Class::getResourceAsStream` works but calling `Class::getResource` and then `URL::openSt

[2022-01-03 04:04] pml-lang commented on #1910
@max-datagamma: Thanks a lot. That solved it for me.

[2022-01-03 10:36] fniephaus commented on #3650
@aalmiray Please give [the new GitHub Action for GraalVM](https://github.com/marketplace/actions/github-action-for-graalvm) a try and file any issues or feature requests [here](https://github.com/graalvm/setup-graalvm/issues).

Marking this issue as resolved now...

[2022-01-03 10:36] #3650 closed

[2022-01-03 11:34] shashanka981 commented on #4135
@chirontt  App works fine on standard jvm.. Building and running the app means running the commands - ./gradlew build and ./gradlew run.  If you are looking for specific details, let me know

[2022-01-03 12:05] ortix commented on #4133
Hi @rschatz, do you have any update regarding this issue?

[2022-01-03 13:37] oubidar-Abderrahim commented on #4164
Hi, thank you for reporting this issue, could you please provide the following information:

1. Does your application run correctly on the JVM before building the native image?
2. Did you try generating the native-image configuration files using our [native-image-agent](https://www.graalvm.org/reference-manual/native-image/Agent/)?
3. Do you use the x64 Native Tools Command Prompt for generating n

[2022-01-03 14:43] teshull commented on #4162
From my perspective, the issue here is that IOS is a subclass of DARWIN, but IOS_AARCH64 and IOS_AMD64 are not subclasses of DARWIN_AARCH64 and DARWIN_AMD64. I think also there should be an explicit MACOS leaf platform.

You can track the fix at https://github.com/oracle/graal/pull/4171

[2022-01-03 15:15] Anivie opened #4172 "JavaFx can't build with native-image"
I can build JavaFx application on jdk11 with graalvm,but then i build it with jdk17,i get an error at "complete" process:Fatal error:com.oracle.svm.core.util.VMError$HostedError: should not reach here
After reporting this error, he still output an exe file, it can be used normally on my local computer, but when others try to open this file, they will encounter various problems: white screen, fonts

[2022-01-03 16:06] oubidar-Abderrahim commented on #4096
The issue is tracked internally on GR--35795

[2022-01-03 16:08] rodrigar-mx commented on #4140
@skbeh could you please try testing using the requested flag `-XX:-UseJVMCICompiler`, and also performing a test with latest graalvm 22.0.0-dev version https://github.com/graalvm/graalvm-ce-dev-builds/releases.

[2022-01-03 18:12] kirillp commented on #4162
can we see this in 22 ?

[2022-01-03 20:39] rodrigar-mx commented on #4135
Hi @shashanka981. Sorry for the late response. I reviewed the code and do not think you need BouncyCastleFIPSFeature class. Please comment it because the providers can only be added statically and not through addProvider method. Also I noticed you are creating the file $JAVA_HOME/lib/security/java.security and appending the line  "security.provider.3=org.bouncycastle.jcajce.provider.BouncyCastleFi

[2022-01-03 21:55] jperedadnr commented on #4162
Tested #4171, works fine on macOS (AMD64), iOS (AArch64) and iOS simulator (AMD64).

[2022-01-03 22:52] kkriske commented on #4172
native-image does not support JavaFX out of the box.
JavaFX support is provided by Gluon, through the [GluonFX maven plugin](https://docs.gluonhq.com/#_gluonfx_plugin_for_maven).

[2022-01-03 23:20] rodrigar-mx commented on #4166
Hi @rubyFeedback. Thanks for using graalvm. Regarding shared libraries for native methods you can find all the steps here https://www.graalvm.org/reference-manual/native-image/ImplementingNativeMethodsInJavaWithSVM/. Please take a look into it and let me know if you have any questions.

[2022-01-04 09:50] aleqsss commented on #4048
@MartinBalin, any news in regards of this? 🙂

[2022-01-04 09:59] jperedadnr commented on #3944
@loicottet that's really great, hopefully it gets integrated soon!

[2022-01-04 10:48] Anivie commented on #4172
I am using TornadoFx,so I can’t compile with gluon.Do you have another way?

[2022-01-04 11:32] kkriske commented on #4172
TornadoFX works with GluonFX: https://github.com/gluonhq/substrate/issues/572

[2022-01-04 14:13] shashanka981 commented on #4135
@rodrigar-mx  I tried your suggestion and it didn't help. I have also added -H:+TraceSecurityServices option to identify if the service provider is registered and I do not see **BouncyCastleFipsProvider** in the generated security report

[2022-01-04 14:13] marcorobiati commented on #4164
Hello, I forgot to specify I've read and followed https://www.graalvm.org/docs/getting-started/ and https://www.graalvm.org/reference-manual/native-image/
1: It does in every configuration, I omitted adding this information because I took it for granted
2: I did, as it's used in the guide I used, which I linked in the post above, and can be found in the files I linked too.
3: I do.
4.https://githu

[2022-01-04 14:22] oubidar-Abderrahim commented on #4149
The issue is tracked internally on GR--36137

[2022-01-04 14:26] #4144 closed

[2022-01-04 14:28] rmannibucau commented on #407
+1, it is particularly interesting for arm64 (pi) support where relying on (general) amd64 power to build would be a great enhancement.

[2022-01-04 15:40] pradeepkusingh opened #4174 "Unable to use appd with graalvm generated binary , error ERROR registering tracer => com.oracle.svm.core.jdk.UnsupportedFeatureError: Proxy class defined by interfaces [interface com.appdynamics.serverless.tracers.aws.registration.RegistrationService] not found. Generating proxy classes at runtime is not supported. Proxy classes need to be defined at image build time"
**Describe the issue**
Unable to use appd with graalvm generated binary , error ERROR registering tracer => com.oracle.svm.core.jdk.UnsupportedFeatureError: Proxy class defined by interfaces [interface com.appdynamics.serverless.tracers.aws.registration.RegistrationService] not found. Generating proxy classes at runtime is not supported. Proxy classes need to be defined at image build time

I have

[2022-01-04 17:53] christianwimmer commented on #4149
This is a bug in the JDBC driver: The unsafe memory access in https://github.com/snowflakedb/snowflake-jdbc/blob/v3.13.12/src/main/java/net/snowflake/client/jdbc/SnowflakeDriver.java#L85 is for a static field (the offset is coming from a call to `Unsafe.staticFieldOffset`), but the object used in the unsafe memory access is not coming from a call to `Unsafe.staticFieldBase`.

The code just acciden

[2022-01-04 17:53] #4149 closed

[2022-01-04 17:59] virusdave commented on #1039
Any updates on this?

[2022-01-04 22:59] rodrigar-mx commented on #4167
Hi @phial3. Please review that you have correctly define the getters and setters. Otherwise, please share the full example, including the class from with the properties you are retrieving.

[2022-01-04 23:05] rodrigar-mx commented on #4135
Could you share the security report? After the previous changes, what error do you get?

[2022-01-04 23:11] rodrigar-mx commented on #3959
Hi @jaroslawr. Please report in a separate issue the new error found. After that issue is fixed, lets see if this is related to the original performance problem. Before that, perform the tests with [graalvm 22.0.0 pre-release](https://github.com/graalvm/graalvm-ce-dev-builds/releases).

[2022-01-04 23:25] pedrofraca commented on #4124
You can follow instructions here in the meantime to use docker to build it and run it, and do a port forwarding so you can still access from the mac and continue development while this gets fixed. https://github.com/Karm/quarkus-quickstarts/blob/quarkus-awt/awt-graphics-rest-quickstart/src/main/docker/Dockerfile.native

[2022-01-05 00:44] virusdave commented on #1039
It would at least be nice to not throw an uncatchable runtime error for the unimplemented methods, such as an attempt to get a list of threadids.  This should certainly be handleable gracefully by caller if a nonfatal exception were thrown instead.

[2022-01-05 05:30] iwangxiaodong opened #4175 "Support WebAssembly Reference Types Draft externref (0x6F)"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
bin/wasm ... include-externref.wasm execute result - CompileError: Invalid value type: 0x6F

**Describe the solution you'd like.**
Support WebAssembly Reference Types Draft externref (0x6F)

**Describe who do you think will benefit the most.**
Improve WebAssembly

**De

[2022-01-05 07:23] hemin110 commented on #3484
how to solve it?

[2022-01-05 10:23] jaroslawr opened #4176 "Race condition when sharing Engine instance between multiple threads"
**Describe the issue**

Sharing an Engine instance between multiple threads causes multiple different GuestToHostCodeCache instances to come into existence and ultimately an AssertionError if JVM is running with assertions enabled.

**Steps to reproduce the issue**

With Graal 21.3.0+Java17 this test reproduces the issue:

[code]

[code]

[2022-01-05 12:00] behrangsa opened #4178 "H2DB: Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing [...]"
**Describe the issue**

Depending on h2db breaks native image production with an error

**Steps to reproduce the issue**
Please include both build steps as well as run steps

1. Create a Maven project
2. Add a dependency on H2DB
3. Build the native image by running `mvn -Pnative clean package`, for example.

**Describe GraalVM and your environment:**
 - GraalVM version (latest snapshot builds can

[2022-01-05 12:02] behrangsa commented on #4178
CC: https://groups.google.com/g/h2-database/c/xWaIXbqIgqA

[2022-01-05 12:31] iwangxiaodong commented on #4175
No such problem.

Sorry!

[2022-01-05 13:14] iwangxiaodong commented on #4175
Please add ReferenceTypes.EXTERNREF in ReferenceTypes.FUNCREF 🥺

[2022-01-05 13:20] aalmiray commented on #2800
Given that `--rerun-class-initialization-at-runtime` is deprecate since a while now, what's the correct way to get around this problem?

[2022-01-05 14:45] oubidar-Abderrahim commented on #4169
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2022-01-05 15:00] peter-hofer commented on #4018
@loicottet @vjovanov I had a closer look at this and `registerHidingSubTypeMethods` / `findMethod` / `getDeclaredMethods` do not operate on constructors, so no trouble there. The meta access lookups on the trampoline methods will still be done, which is not a bug.

[2022-01-05 21:50] rodrigar-mx commented on #4033
Closing this issue because there has been no activity in last month.

[2022-01-05 21:50] #4033 closed

[2022-01-05 22:30] rodrigar-mx commented on #4165
@rubyFeedback did the suggested approach work for you? Otherwise, please share the graalvm version and the OS you are using.

[2022-01-06 04:50] chirontt commented on #4135
@shashanka981 yes, the app works fine in standard JVM, but how do you determine that it uses the FIPS provider at runtime?

The way I see it, it doesn't use that provider at all at runtime, but I could miss something...

[2022-01-06 06:43] #3917 closed

[2022-01-06 06:47] mcraj017 commented on #4038
@renatoathaydes please provide a reproducer specific to this issue

[2022-01-06 06:49] mcraj017 commented on #4070
closing this issue as there is no activity in last one month

[2022-01-06 06:49] #4070 closed

[2022-01-06 07:03] mcraj017 commented on #4064
@swaechter Please try the latest build
https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/22.0.0-dev-20220103_1601

[2022-01-06 08:03] kkriske commented on #4165
@rodrigar-mx for the windows case, the feature & substitution that I mention is something that I think should be included in native-image out of the box. So in that regard there is still an issue to solve here.

As for the linux case, it is not obvious that you need to set the `java.awt.headless` flag so it would help if that can be documented somewhere.

[2022-01-06 11:39] Consulting4J commented on #3721
still pending ?

[2022-01-06 13:36] adinn opened #4181 "[GR-36201] Avoid control chars in new build output to dumb terminals"
The new build output is wonderful except when you are running your build inside a dumb terminal (i.e. a shell inside emacs). The control sequences posted to the tty just make a mess of the output so it looks like this:

    $ mx debuginfotest
    . . .
    ================================================================================
    ^[]8;;https://www.graalvm.org/native-image^[\GraalVM Nativ

[2022-01-06 13:37] adinn commented on #4181
n..b this should be assigned to me and marked as being fixed by issue #4180

[2022-01-06 14:00] ebremer opened #4182 "Accessing RandomAccessInputStream fails in native image"
**Describe the issue**
I have a project which converts VSI Whole Slide Images to TIFF.  It works.  It worked when using JDK11 of Graalvm https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.3.0.  When I converted it to the JDK17 version, the native-image version would fail, but the jar version still works.  The failure error message is as follows:

(base) erich@Corsair:/mnt/d/vsi$ ./hat

[2022-01-06 15:59] ebremer commented on #4182
System.out.println after the comparisons:
https://github.com/ebremer/hatch/blob/develop/src/main/java/edu/stonybrook/bmi/hatch/JPEGTools.java#L51-L52
will print but does not "fix" the problem.  Only a System.out.println BEFORE the comparisons will make it work under native-image.  I added System.out.println in the else portion of the comparisons to see what data it thought it was seeing and it is

[2022-01-06 16:35] ebremer commented on #4182
It does appear to how Byte.compare handles things in native-image.

Byte.compare is:
    public static int compare(byte x, byte y) {
        return x - y;
    }

I wrote my own comparison method which works now in native-image

    public static int Compare(byte a, byte b) {
        return 0xff&(a-b);
    }

Why the System.out.println BEFORE the Byte.compare makes it work is completely weird.

[2022-01-06 22:20] renatoathaydes commented on #4038
Here you go: https://github.com/renatoathaydes/graalvm-js-jlink-demo

It's a very simple problem. I wanted to be able to load and run JS code from within a Java module, however when running with JPMS, JS scripts can only see exported packages from any module. Non-exported members of even the module loading the JS script itself are not visible.

The demo project demonstrates that.

Check the README

[2022-01-06 22:38] renatoathaydes commented on #4038
Perhaps, the ideal solution would be a "flag" in the `Context` to tell the JS engine whether to run the JS script with visibility into the module that's loading it or not.

In my case, the JS code I am running is considered as an "internal" part of the module that loads it, so I would want its code to be treated as if it were part of the Java module itself (i.e. having the same visibility, exactly

[2022-01-06 22:58] rodrigar-mx commented on #3721
Yes, still in queue.

[2022-01-07 05:57] mcraj017 commented on #4038
@renatoathaydes thanks for the reproducer, I will raise it to javascript team

[2022-01-07 07:30] mcraj017 commented on #4108
@schadin thanks for the response
I will raise this to native-image team for further checking

[2022-01-07 07:31] mcraj017 commented on #4093
@zhendongsu closing this issue for now, please reopen it once you have sample code for us

[2022-01-07 07:34] mcraj017 commented on #4109
@zhendongsu closing this for now, please reopen it with a sample code to reproduce the reported error

[2022-01-07 07:35] mcraj017 commented on #4128
@jsimomaa closing this issue for now, please reopen it with a sample code to reproduce this issue

[2022-01-07 07:35] #4128 closed

[2022-01-07 07:50] mcraj017 commented on #4089
@han1448 please share the steps to start your application and send message to get the reported error

[2022-01-07 08:08] zhendongsu commented on #4093
@mcraj017: again, please refer to the detailed report for reproducing the bug, which contains the sample code and the reproduction steps.

@rschatz

[2022-01-07 08:09] zhendongsu commented on #4093
The same for the few other bugs that you also just closed; thanks.

@rschatz

[2022-01-07 08:10] zhendongsu commented on #4109
@rschatz

[2022-01-07 09:58] morph027 commented on #4143
Are you running Debian/Ubuntu on your host? If so, try installing `qemu-user-static` and then run `DOCKER_DEFAULT_PLATFORM=linux/arm64 docker run --rm -it -v /tmp/signal-cli:/source ghcr.io/graalvm/graalvm-ce:java17-21.3 bash`

I was having problems in the past when bind mounting to `/tmp` as some programs might expect a tmpfs w/ proper permissions.

Example which works on my server using Intel(R)

[2022-01-07 10:28] bbernhard commented on #4143
Thanks for your answer!

Yeah, I am running Ubuntu on my host system. I just tried installing `qemu-user-static`, but even after installing I had to run `docker run --rm --privileged multiarch/qemu-user-static --reset -p yes` before I could do `DOCKER_DEFAULT_PLATFORM=linux/arm64 docker run --rm -it -v /tmp/signal-cli:/source ghcr.io/graalvm/graalvm-ce:java17-21.3 bash`.

Otherwise starting the do

[2022-01-07 11:24] morph027 commented on #4143
I have access to more machines for testing ;)

`Intel(R) Xeon(R) CPU E3-1240 v5`: :heavy_check_mark:
`AMD EPYC 7351P`: :heavy_check_mark:
`AMD Ryzen 5 3500U`: :hourglass_flowing_sand:

[2022-01-07 14:27] #4172 closed

[2022-01-07 14:48] oubidar-Abderrahim commented on #4174
Hi, Thank you for reporting this, Please use the latest build (currently 21.3.0) and let the native-image-agent generate the configuration for your application while you run it as a Java app with appd, then include the generated configs in the image build.
please let us know your findings.

[2022-01-07 17:20] jarostein opened #4186 "Creation of native image on windows 10 doesn't work."
Hi there!
I started learning and experimenting with Quarkus framework recently, as training I have developed a couple of microservices using GraalVM CE 21.3.0, on Windows Home 10, Apache Maven 3.8.4.
In dev mode the microservices are working properly, but when I try to generate the native image using a _**x64 Native Tools Command Prompt for VS 2022**_ for that purpose, with the following command:

[2022-01-07 17:34] christianwimmer commented on #4108
Without knowing your application, i.e., what code you intentionally run at image build time and which `initialize-at-build-time` options you have specified in `native-image.properties` files, it is impossible to diagnose the problem.

What probably happens: You have some code marked as `initialize-at-build-time`, but not all code that these classes transitively depend on. Have you tried the `--tra

[2022-01-07 18:35] eregon commented on #4168
I think there are already several existing resources which introduce Truffle:
https://www.graalvm.org/graalvm-as-a-platform/language-implementation-framework/

And I know of the following blog post series:
* http://cesquivias.github.io/blog/2014/10/13/writing-a-language-in-truffle-part-1-a-simple-slow-interpreter/
* https://norswap.com/truffle-tutorial/

An official tutorial would of course be bet

[2022-01-07 18:59] rodrigar-mx commented on #4176
Hi @jaroslawr. Thanks for contributing to graalvm. This issue has been reported internally. You will receive a response accordingly.

[2022-01-07 22:23] rodrigar-mx commented on #4175
Hi @iwangxiaodong. Could you please share _include-externref.wasm_ and the steps to reproduce the error.

[2022-01-08 01:26] iwangxiaodong commented on #4175
[include-externref.zip](https://github.com/oracle/graal/files/7832126/include-externref.zip)

uploaded

**I tested in chrome:**
[code]

[2022-01-08 01:29] iwangxiaodong commented on #4175
![image](https://user-images.githubusercontent.com/16535878/148626219-5c74b0b9-d0f4-4b92-8218-014b5f7102b7.png)

**bin\wasm** "C:\Users\privacy\Downloads\include-externref.wasm"

[2022-01-08 05:58] behrangsa commented on #4178
Some updates:

Adding the `jts-core` dependency resolved the previous error:

[code]

However, not at runtime I get this error:

[code]

You can use this repository/branch to reproduce the error: https://github.com/behrangsa/xyz-fs/tree/feature/graal

[2022-01-08 19:01] m0ze1r opened #4188 "Fatal Error: SIGSEGV (0xb) at pc=0x00007fadf3869ccc, pid=3211, tid=3251"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **yay -S jdk17-graalvm-bin**
2. **yay -s graalvm**
3.

[2022-01-08 20:08] bbernhard commented on #4143
Thanks for testing!

I also ran another test. This time directly on an arm64 system (Raspberry Pi 4) without docker and QEMU. Unfortunately the build also fails there with:

[code]

[2022-01-09 11:19] Khithar commented on #403
"simplest" Solution is GluonFX ... it handles resources, FXML, css and so on.
https://docs.gluonhq.com/#_gluonfx_plugin_for_maven

I am using the latest 2022.1-dev and am quite happy with it, running quite complex FXML based FX Apps, but it was a lot of pain to find out all the configuration stuff. Some hints here ...

    <nativeImageArgs\>
             <arg>-Djava.awt.headless=true</arg>

[2022-01-09 18:56] mbucc commented on #4141
Hi @rodrigar-mx  Any sense of how hard this will be to fix?

I think this blocks the use of `java.util.ServiceLoader` for service discovery (unless the provider is in same module as the service).

[2022-01-09 19:49] aalmiray opened #4189 "LINK : fatal error LNK1171: unable to load mspdbcore.dll (error code: 1455)"
**Describe the issue**
Stumbled upon this issue when building a native image using https://github.com/marketplace/actions/github-action-for-graalvm on `windows-latest`

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Fork `https://github.com/aalmiray/test`
2. Run the Graal workflow using workflow dispatch

**Describe GraalVM and your environment:**
 - Graal

[2022-01-09 21:18] aalmiray commented on #4189
Related https://github.com/oracle/graal/issues/3171

[2022-01-09 22:23] aalmiray opened #4191 "Missing documentation on gu page and CLI options"
**Describe the issue**
This page describe a few options for the `gu` command line https://www.graalvm.org/reference-manual/graalvm-updater/#installation-configuration

Invoking `gu --help` yields similar options but not the same

[code]

Note that the page lists gu's install options as  `gu install [-0cCfFiLnorsuvyxY]` while the CLI lists them as `gu install [-0CcDfiLMnosruvyxY]`. The `M` option i

[2022-01-10 02:31] liudonghua123 commented on #403
Use `GluonFX` is the "simplest" and clean Solution, however, I compared the size of produced binary. `GluonFX` build one has about 10M bigger size.

[2022-01-10 02:54] LilPoppy opened #4192 "[GR-36414] Truffle blocklist methods issues / Missing @TruffleBoundary"
Hi, I know it's not a bug but I'm curious how can we remove methods from blocklist.

[Stack Overflow](https://stackoverflow.com/questions/70646496/graalvm-build-failure-with-blocklisted-methods-are-reachable-for-runtime-compil)

[2022-01-10 09:12] rschatz commented on #4133
Yes. We're not initializing some internal libc datastructures for threads that are created "externally", i.e. not with `pthread_create` but e.g. as in your example from Java.

I have a fix for it. The fix will be in the upcoming GraalVM 22.0.0 release.

[2022-01-10 09:38] rschatz commented on #4133
For reference: This is the minimal reproducer regression test I added: https://github.com/oracle/graal/commit/a98c149337e02638cabb71f20ef856049c1aadc6

[2022-01-10 09:38] #4133 closed

[2022-01-10 13:28] jerboaa commented on #3992
This is a cgroup v2 specific issue where the container detection code ported from OpenJDK contained a bug. I'll see if I can craft a regression test for this.

[2022-01-10 14:33] oubidar-Abderrahim commented on #4182
Hi, Thank you for reporting this, we will take a look into it and get back to you

[2022-01-10 14:54] oubidar-Abderrahim commented on #4169
Hi, could you please share the reproducer in a Github repo? Thank you

[2022-01-10 15:00] oubidar-Abderrahim commented on #4186
Hi, Thank you for reporting this, Could you please share a small reproducer to illustrate the issue on a Github repo? Thank you

[2022-01-10 15:24] olyagpl commented on #4191
Andres, thanks for pointing this out. Time to update. I'll follow.

[2022-01-10 15:48] aalmiray commented on #4191
FWIW I'd prefer if all CLI options & flags were documented in the CLI tools, as well as web pages. For example, `native-image` advanced options are currently only available form the CLI when you run it. This assumes you have access to the CLI to get the list of options and their descriptions.

What if I'm on an iPad changing/browsing code with an online editor? I can't run the CLI to find the flag

[2022-01-10 17:21] jperedadnr commented on #4169
I'm adding a zip with the HelloWorld project, after copying all the required files to a data folder (src has the java code but it is not needed). You need to run on a Mac.

The readme contains the instructions to run on class path or module path. Let me know if that works for you.

[HelloWorld.zip](https://github.com/oracle/graal/files/7840582/HelloWorld.zip)

[2022-01-10 18:30] jarostein commented on #4186
Hi @oubidar-Abderrahim, thanks for commenting to my post.

As a part of a training with Quarkus Framework, I have created a very simple project (with only three classes). Using the Wizard offered by **Quarkus Tools 4.21.0.Final** Eclipse's plugin (IDE for Enterprise Java and Web Developers- 2021-09)

 this is the corresponding POM:

 `<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven

[2022-01-10 19:26] rodrigar-mx commented on #4175
Thanks for sharing @iwangxiaodong. The feature request has now been reported internally. You will receive a response accordingly.

[2022-01-10 20:00] jerboaa commented on #3992
Suggested fix with regression test in: https://github.com/oracle/graal/pull/4195

[2022-01-10 23:07] rubyFeedback commented on #4192
I think it would be better if you could describe the problem here - it's a bit cumbersome to read them in an external website, in my opinion.

[2022-01-10 23:30] rodrigar-mx commented on #4141
Hi @mbucc. Could you please try building the native image with --module-path, and --module options. These were recently introduced (look [here](https://github.com/graalvm/graalvm-demos/tree/master/native-hello-module)). It would look something like this:
`native-image --module-path mlib/com.example.service@1.jar:mlib/com.example.provider@1.jar --module com.example.service testapp`.
I tested it, an

[2022-01-11 08:15] roxanan-adyen commented on #4133
@rschatz Thanks a lot for solving this. Looking forward to the next release!

[2022-01-11 11:26] han1448 commented on #4089
@mcraj017

https://github.com/han1448/kafka-sasl-native

Here is my test repo and I wrote README.md.

However, for actual testing, you need a broker with kafka topics and sasl authentication settings for testing.

It seems that the username of ScramLoginModule cannot be obtained from the kafka sasl configuration rather than the issue of sending and receiving messages.

[2022-01-11 14:34] smarr commented on #4073
Coming back to this, another feature that would be great to have for the `@Shared @Bind` combination would be type guards.

I'd like to split this one up, using the specialization state of the DSL, instead of the branch profile:

[code]

So, I guess, I would want to be able to write something like, and making sure the getObjectSafe (or equivalent costly expression) is only execute once:

[code]

[2022-01-11 16:00] rschatz commented on #4093
I can reproduce this issue, should be easy to fix.

I think the reason why this doesn't reproduce on older versions is that we recently updated to a newer LLVM version, which seems to produce different bitcode. Running the "new" bitcode should also fail on older versions.

[2022-01-11 17:11] olyagpl commented on #4158
Hi @rubyFeedback, I've pushed some text updates to the getting started guide. Please expect them this/next week.
thanks for sharing your experience!

[2022-01-11 17:16] lewurm commented on #2666
Status update:
1. The PR https://github.com/oracle/graal/pull/4173  fixes `mx --env libgraal gate` in `vm/`.  There are some issues with the PR in its current state (e.g. it won't handle floating points correctly), but that should be sorted out soon.
2. In order to run Truffle languages via SubstrateVM, we need to add support for `MAP_JIT` [1] to enable just-in-time compilation. From what I've see

[2022-01-11 20:50] jarostein commented on #4186
After several attempts, I found out the exception is thrown when the **quarkus-container-image-docker** dependency it is used.
Just commenting out that dependency and the maven command `mvn package -Pnative` works well!
But I don't understand exactly why that dependency affects generation of the native image.

[2022-01-11 22:16] rodrigar-mx commented on #4089
Hi @han1448. I will try first to reproduce the issue locally. If you have a Dockerfile for launching kafka that meets the config of your app, it would be great. Any other questions or updates, I will let you know.

[2022-01-11 23:56] mbucc commented on #4141
Hi @rodrigar-mx, same result after switching to module options:

https://github.com/mbucc/graalvm-native-bug/commit/7205c7984039e76701e52c8448c39c3d7f759e04

[2022-01-12 00:18] rodrigar-mx commented on #4188
Hi @m0ze1r. Thanks for reporting this issue. It is a bit unclear if you are building and running a native image. If so, could you please share the steps you are taking for building the native image.

[2022-01-12 01:46] rubyFeedback commented on #4191
Completely agreed. I always hated reading man-pages or man-pages like
options; always preferred web-based views and explanations.

I guess the simplest way to maintain this would be to focus on the CLI,
and then simply have some ruby or python script autogenerate the
documentation with a bit of CSS styling (or just the general CSS theme
used on the graalvm homepage). That way people could concentr

[2022-01-12 08:33] cagriuslu-adyen opened #4199 "[LLVM] stdc library function `localtime` causes exception due to O_NONBLOCK being unimplemented"
**Describe GraalVM and your environment :**
[code]

**Have you verified this issue still happens when using the latest snapshot?**
It happens on both 21.3.0 and 21.2.0

**Describe the issue**
Calling `localtime` from C code causes an exception with the message "O_NONBLOCK not implemented".
Diving into the musl-libc, `localtime` calls `tzset` which calls `__map_file` with O_NONBLOCK flag.
Issue can

[2022-01-12 08:34] han1448 commented on #4089
Hi. @rodrigar-mx
I've updated my repo and added kafka docker.
In this case I did not configure ssl, only sasl authentication was added.
The error log is a little different from before, but not sure if the error is caused by the same authentication issue.

This scenario also works fine without native image.

## Starting kafka
[code]

## Create Topic
Required to install kafka client in local
[code]

[2022-01-12 09:27] jerboaa commented on #3992
@oubidar-Abderrahim Could you please help find reviewers for the suggested PR, please?

[2022-01-12 09:29] jerboaa commented on #3992
Ah, nvm, Paul assigned Aleksandar.

[2022-01-12 10:14] zakkak opened #4200 "Native compilation of programs using sqlite-jdbc fails with `-H:-ParseOnce`"
**Describe the issue**

Native compilation of programs using sqlite-jdbc throws exception (see in _More details_ for the stack trace) when passing `-H:-ParseOnce`.

**Steps to reproduce the issue**

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **21.3.0**
 - JDK major version: **11**
 - OS: **Fedora 35**
 - Architecture: **AMD64**

**More details**

[code]

[2022-01-12 10:18] guygoldwasser opened #4201 "Failed to load Graal compiler on non-GraalVM"
- GraalVM version 21.3.0
 - CE or EE: both
 - JDK version: 17
 - OS and OS Version: WIN10

Migration from Rhino. SpringBoot App with heavy JS.
While trying use the GraalVM found out Rhino with compilation runs much faster.
Wondering if it is vm issue or graal compiler, tried to load the compiler to non graal vm.

in order to do so, added dependencies:
[code]

and set those VMs arguments:
--add-exp

[2022-01-12 10:51] rschatz commented on #4109
I think I found the issue. Thanks a lot for reporting this!

[2022-01-12 11:28] a-inacio commented on #4089
Hi there,

Also having an issue with Kafka SASL authentication, however having a different error output from @han1448 and was about to open an issue when stumbled into this one. Similar use case for `spring native`, but with `java 17` (should not be that different under the hood) and I'm using a newer version of Spring Boot (2.6.2 vs 2.5.6).

https://github.com/a-inacio/spring-native-kafka/

I bel

[2022-01-12 11:34] zhendongsu commented on #4109
Great; thanks for looking into this and the other bugs, Roland!

[2022-01-12 13:16] han1448 commented on #4089
Thank you for your comment @a-inacio.
It looks the same issue in my [comment](https://github.com/oracle/graal/issues/4089#issuecomment-1010773982) above.

@rodrigar-mx.
It shows different error using security protocol `SASL_PLAINTEXT` and `SASL_SSL`
The first NullPointerException is when `SASL_SSL` is used, and the situation tested in the comment above is when `SASL_PLAINTEXT` is used.

### Using

[2022-01-12 14:26] woess commented on #2867
I was able to reproduce the bug with 20.3 (EE only) but not 21.3, so I would suggest to upgrade to 21.3 or later. If the problem still occurs, please report / reopen the issue. Thanks!

It looks like a potential JVM bug triggered by Graal-compiled StringBuilder MethodHandles and may already be fixed. It does not happen with `--vm.Dgraal.OptStringConcat=false`, so that may be used as a workaround.

[2022-01-12 16:46] fniephaus commented on #4168
It doesn't solve this issue but I wanted to mention that there's going to be a Truffle workshop at ECOOP'22:
https://2022.ecoop.org/home/truffle-2022

[2022-01-12 17:46] fniephaus commented on #4186
It seems this is more of a Quarkus issue rather than of Native Image. Could you please file an issue at https://github.com/quarkusio/quarkus/issues in case you haven't already?

[2022-01-12 19:40] rodrigar-mx commented on #4141
Hi @mbucc. From the last commit I only added _testapp_ at the end of the native-image command.
[code]
Here is the full output after running make
[code]

[2022-01-12 21:14] christianwimmer commented on #4200
The actual problem is an abstract class being marked as instantiated, see https://github.com/oracle/graal/pull/4202#discussion_r783440717

[2022-01-12 21:17] mbucc commented on #4141
@rodrigar-mx  It works!  (I had misread your previous comment and thought the trailing period was supposed to be there.)

Thank you!

[2022-01-12 23:06] #4018 closed

[2022-01-12 23:12] #4141 closed

[2022-01-12 23:39] ebytez commented on #2666
Thanks for the update Bernhard (and on Slack too)!

[2022-01-13 05:57] Yush08 opened #4207 "Debian and RPM repositories for GraalVM stable and nightly builds."
**Feature request**

**Is your feature request related to a problem? Please describe.**
Whenever I try to install GraalVM, I always have to manually wget the tarball and add the directory to my $PATH. In my opinion, having repositories for Debian and RPM distributions can greatly decrease this hassle. And GraalVM can automatically get upgraded through the package manager as well.

**Describe the s

[2022-01-13 16:13] gilles-duboscq commented on #3965
This should be fixed in the upcoming January releases (22.0.0, 21.3.1)

[2022-01-13 16:13] #3965 closed

[2022-01-13 16:17] ansalond commented on #3948
This should be fixed in the upcoming January releases (22.0.0, 21.3.1).

[2022-01-13 18:47] rodrigar-mx commented on #4047
This should be fixed in the upcoming January releases (22.0.0, 21.3.1).

[2022-01-13 18:47] #4047 closed

[2022-01-13 22:52] nirvdrum opened #4210 "[GR-36396] Unable to build native image in GraalVM 22.1.0-dev"
**Describe the issue**

I'm unable to build a native image of a Java application with `native-image` from GraalVM CE 22.1.0-dev (build 17.0.2+5-jvmci-22.0-b02) due to an issue compiling in charsets.

**Steps to reproduce the issue**
As far as I can tell, this happens when trying to build a native image of any application, at least on macOS. Although, `gu` was able to install the Ruby image and reb

[2022-01-13 23:13] scientificware commented on #3948
@ansalond  Thanks. 😊

[2022-01-14 08:35] harism commented on #4098
I was struggling with something very similar issue and I was able to fix build to work without all these --initialize-at-build-time etc build configurations by simply removing <pluginManagement> tag in my .pom file. I had added it to cover <plugins> tag to make Eclipse happy with my .pom file.

[2022-01-14 09:40] fniephaus commented on #2505
TruffleString was merged last night via https://github.com/oracle/graal/commit/845231e651d611ecbe5cffc0535fda0d0e83bad1.

[2022-01-14 09:40] #2505 closed

[2022-01-14 09:55] fniephaus commented on #4210
https://github.com/oracle/graal/commit/df04e9d641403289010fb66e290ca80199eda0a4 might have caused this problem. We'll look into this.

[2022-01-14 15:16] fniephaus commented on #4192
The [CI log you linked](https://github.com/SpamanDev/StoreChain-Server/runs/4755546198?check_suite_focus=true#step:9:305) does suggest that GraalVM's Python implementation is missing a `@TruffleBoundary`, which is a bug we need to fix. I've already informed the GraalPython team.

While turning off the blocklist might help you work around the bug, it can certainly cause other problems. The warning

[2022-01-14 16:06] peter-hofer commented on #3969
@raphw @vjovanov the stable name is arguably up to the class generator. If it reproducibly generates the same class data, then stable names can be assigned by hashing like `experimental-class-define-support` does.

You probably mean #3974, I'll have a look.

[2022-01-14 20:10] LilPoppy commented on #4192
Thank you so much! And graal python is not work in Mac Platform is that correct?

[2022-01-14 20:32] wildmaples opened #4213 "Unexpected ClassCastException when compiling simple script"
**Describe the issue**
There seems to be a problem where a method is not compiled and the exception is hard to interpret. More specifically, it's only happening on [this branch](https://github.com/Shopify/truffleruby/tree/call-target-agnostic-kwargs) on TruffleRuby. It seems like it could be from a recent [frameslot fix](https://github.com/oracle/graal/commit/def50a7810dd841e0536a3ca11e46a188b943d

[2022-01-14 20:56] fniephaus commented on #4192
GraalPython is still considered experimental, but we ship builds for Linux and Darwin so macOS should work. Windows is not yet supported.

[2022-01-14 21:26] LilPoppy commented on #4192
But I got build failure on MacOS which return message is Unsupported platform. Not sure it’s another bug or I should add another arg in native-image beside language:python

[2022-01-14 21:35] fniephaus commented on #4192
GraalPython can be built with native image on macOS. However, it does require additional configuration (see [here](https://github.com/oracle/graalpython/blob/master/mx.graalpython/native-image.properties)). Note that building it as an embedded part of a Java application is definitely not supported in any way at this point.

Could you please open an issue for the "Unsupported platfork" error incl.

[2022-01-14 22:27] rodrigar-mx commented on #4199
Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-01-14 23:03] smarr commented on #4009
I put together a prototype for this ([here](https://github.com/oracle/graal/compare/master...smarr:main/direct-assumption-field-use)), which saves 459 lines of generated code on TruffleRuby. This isn't exactly the number of saved field declarations though. A better approximation is possibly half of it, because some reading and writing code also gets not generated.

The prototype avoids putting fie

[2022-01-14 23:54] rodrigar-mx commented on #4199
Hi @cagriuslu-adyen. I executed the following example and did not run into any error:
[code]
Am I missing something on the reproducer? Otherwise, could you share more information on how you are compiling and executing the code.

[2022-01-15 12:20] DeivAstra opened #4214 "Incredible slow (up to 10 times) graalvm native-image vs java on trivial code"
**Describe the issue**
I had create some chunk of code for internal purposes and found that my code builded by image-native is executes slower up to 10 times.
I have use native-maven-plugin (0.9.9) without any specific settings. Main class configured only.

Source code here:
[IncredibleSlowGraalVmTest.java](https://github.com/danykey/incredible-slow-graalvm/blob/master/src/main/java/test/Incredibl

[2022-01-15 13:07] Revolution2021 opened #4215 "Is Windows still not supportd by llvm-toolchain component ?"
Hi,

I am now trying to run Python on GraalVM(CE) based on this document.
https://www.graalvm.org/python/quickstart/
My OS is Windows 10.

I follow the below process.

===================
Install Python
The Python runtime is not shipped with the default GraalVM installation package, but can be quickly added using the updater utility, gu:

gu install python
The Python runtime requires the LLVM tool

[2022-01-15 17:16] nartamonov opened #4216 "Native-image should provide a cross-platform way to get the path of executable file"
**Feature request**

**Is your feature request related to a problem? Please describe.**
Native-image could be used to replace scripts (for example, *.sh or *.cmd) for various system tasks: launchers, backups, utilities, etc. Often such scripts need a way to find out their own directory in order to calculate path to some adjacent directories. For example if we write a launcher that pefrorms some pr

[2022-01-16 01:10] rubyFeedback commented on #4216
This reminds me a bit of a problem I had with ocra  ( https://github.com/larsch/ocra ) in ruby. I could bundle things on windows, but I also was using local yaml files (.yml) which then could not be found since they were not part of the ocra bundle. Made me re-consider depending on .yml files and provide sane defaults in the event no .yml file could be found.

So while my above description is not

[2022-01-16 01:15] rubyFeedback commented on #4207
I handle this by just downloading the generic linux variant of graalvm, install into /home/Programs/Graalvm/VERSION_HERE, and then symlink from that bin/ directory onto /usr/bin/. This is a bit similar to GoboLinux and it works very well. I use the same for openjdk.

Now, that does not have much to do with your use case, I understand, but the problem I see is that you have to maintain tons of dist

[2022-01-16 10:18] kkriske commented on #4216
I've done it like this before:
[code]
I know it works on windows, don't know about other platforms. But I don't see why it wouldn't work the same way.

This gives you the folder in which the exe is located, no matter where you call it from. It only works in native-image, as the `getLocation` call returns `null` when running in jvm.

[2022-01-16 13:33] fniephaus commented on #4215
I'm afraid neither GraalPython nor the llvm-toolchain are supported on Windows at the moment  (and I don't think there is an ETA for any of the two):

[2022-01-16 13:33] #4215 closed

[2022-01-17 00:24] valbendan commented on #2462
If there is any work aournd for now ?

[2022-01-17 01:00] Revolution2021 commented on #4215
Oh, thanks for your quick reply.
Got it.

[2022-01-17 03:11] richardbowen commented on #1752
I have in graalvm-ce-java17-windows-amd64-21.3.0.zip, defender found Trojan:Script/Oneeva.A!ml in svm.jar

[2022-01-17 09:16] cagriuslu-adyen commented on #4199
I should have made it clear that I'm using the LLVM toolchain bundled with 21.2.0, but run the compiled binary on 21.2.0 and 21.3.0. The reason I cannot use 21.3.0's bundled toolchain is this: https://github.com/oracle/graal/issues/4059

I've prepared a minimal example for you, in this example I've used 21.2.0. There is a precompiled binary in case you want to inspect it. `output.txt` is the outpu

[2022-01-17 09:18] cagriuslu-adyen commented on #4199
If you haven't seen the issue does this mean O_NONBLOCK is already implemented with 21.3.0?

[2022-01-17 11:17] nartamonov commented on #4216
@kkriske thank you for the advice! I tested that approach on Windows 10 and Linux with GraalVM 21.3.0 and JVM11. Works fine in both cases! I suppose it will work on MacOS too.

I think we can close the issue but it would be helpful for community if the trick will be documented in `native-image` user manual. I can try to propose a PR if the devs tell where the sources of docs are.

[2022-01-17 12:32] eregon commented on #4009
This is great! And doing it only for direct fields makes it clear it gains footprint without costing any extra indirection.
We should probably also check the field is `final` to guard against mutability and ensure we can fold the read in PE code (didn't see that in the commit).

@chumer Sounds good to you? I guess you'd want a PR with tests?

[2022-01-17 12:54] kkriske commented on #4216
@nartamonov I did a bit more searching and found this one as part of the native-image SDK:
https://github.com/oracle/graal/blob/dff76ed3958669b80c6d20c881fcd5eb448c633c/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/ProcessProperties.java#L59

The ProtectionDomain workaround ends up delegating to that same call in native-image, so you should probably just use it directly.

[2022-01-17 12:57] chumer commented on #4009
Thanks for the suggestion. This is indeed a good optimization.
This is a breaking change though if the node field is mutable.

So i suggest we only consider it a trivial field if:
1. it is a field of type Assumption or Assumption[].
2. the field is marked final or @CompilationFinal if of type Assumption
3. the field is final and marked with @CompilationFinal(dimensions=1) if of type Assumption[]

[2022-01-17 12:58] chumer commented on #4009
ah. my mistake. that is already checked.

[2022-01-17 13:06] petermz opened #4221 "native-image fails to find module resource"
Looks like module support introduced recently interferes with resource lookup. I'm trying to read a resource from a system module. It works with 21.3 but fails with a recent dev build.

The immediate cause as I see it is that the resource is keyed with a (moduleName, resourceName) pair at image build time, but is looked up using just resourceName at run time:
https://github.com/oracle/graal/blob/6

[2022-01-17 13:08] petermz commented on #4221
Code to reproduce:
[code]

[2022-01-17 13:16] smarr commented on #4009
If you want to take it from here, that's great. It's first week of university term for me, so, my ability to allocate quality time, is a little, ehm, sporadic and erratic...

[2022-01-17 13:16] oubidar-Abderrahim commented on #3247
Closing for inactivity

[2022-01-17 13:16] #3247 closed

[2022-01-17 15:36] oubidar-Abderrahim commented on #4182
Hi, Could you also share the native-image command you use to build the image? thank you

[2022-01-17 15:40] mathjeff commented on #4057
Coming back to this after doing more research, it appears that running the command prompt in a different way is working for me.

If I push the windows key and type "x86 native tools command prompt" then it brings up a standalone window labelled "x86 Native Tools Command Prompt for VS 2017", and running `native-image` inside of there successfully creates a native image.

I don't recall all of the t

[2022-01-17 16:16] woess commented on #4176
Thank you for reporting this and providing a reproducer! Fixed in fc5d6bef63c71faad0caf2e41af92439e1098120.

[2022-01-17 16:16] #4176 closed

[2022-01-17 17:27] radcortez commented on #3671
I'm also experiencing the same issue. Any update on this? Thanks!

[2022-01-17 17:55] susil556 opened #4223 "Native image for java swing in windows"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**ted when [...]

I got to know for java swing native-image conversion availble for linux. When it will be available for windows?

**Describe the solution you'd like.**
A clear and concise description of what you want to happen.

**Describe who do you think will benefit t

[2022-01-17 18:09] kkriske commented on #4223
Please look for similar issues before creating a new one: https://github.com/oracle/graal/issues/3659 https://github.com/oracle/graal/issues/2644 https://github.com/oracle/graal/issues/4165 https://github.com/oracle/graal/issues/4072 https://github.com/oracle/graal/issues/3084
Native image definitely works for simple Swing applications, as per previous linked issues.

If you have a specific use-ca

[2022-01-17 21:36] christianwimmer commented on #4182
I can reproduce the problem with GraalVM 21.3, but no longer with the latest 22.0 or 21.3.1 snapshots that are coming out tomorrow. I will double-check, but so far it is looking promising that we already found and fixed the problem.

[2022-01-17 22:35] rodrigar-mx commented on #4165
@rubyFeedback this feature request has been reported internally. Any updates or questions we will let you know.

[2022-01-17 23:16] rodrigar-mx commented on #4201
Hi @guygoldwasser. Could you please share a reproducer or the piece of code that is causing this exception.

[2022-01-18 00:10] rodrigar-mx commented on #4207
Hi @Yush08. For the moment there are no plans for making available graalvm ce in debian and rpm repositories because that requires extra maintenance and support. (However, for OCI users there are rpm packages available for graalvm ee).
For CI you can also use the [container images](https://www.graalvm.org/docs/getting-started/container-images/). Also, some users install graalvm through [sdkman](ht

[2022-01-18 00:10] #4207 closed

[2022-01-18 07:55] guygoldwasser commented on #4201
sure:
[code]

if removing compiler dependency it work well just with interpreter.

[2022-01-18 11:54] adinn opened #4224 "Static field offsets encoded in DWARF debug info are incorrect when isolates are enabled"
**Issue description**
Printing of static fields in gdb is no longer working correctly when debugging a native image created using -H:+SpawnIsolates. The offset of the static field from the heap register that is encoded into the debug records appears to be less than the correct value by 0x100000.

Note that this functionality was working previously but has not been regularly tested because of a pro

[2022-01-18 13:51] olpaw commented on #4224
`getAddress()` is the right method.

`com.oracle.svm.hosted.image.NativeImageHeap.ObjectInfo#getOffset` only gives you the offset within the ImageHeap. To get the actual offset from the base-register you use `com.oracle.svm.hosted.image.NativeImageHeap.ObjectInfo#getAddress()` which factors in the actual position of the image heap in the address space (determined by `HeapParameters.Options#Aligned

[2022-01-18 13:56] ebremer commented on #4182
@oubidar-Abderrahim

native-image -H:ConfigurationFileDirectories=/mnt/d/projects/hatch/config -jar /mnt/d/projects/hatch/target/hatch-1.1.2.jar --no-fallback --allow-incomplete-classpath --report-unsupported-elements-at-runtime /mnt/d/vsi/hatch

[2022-01-18 14:36] nartamonov commented on #4216
@kkriske thanks again, I tried and it works fine! 😃 Turns out there is a whole NativeImage-specific API in the package [org.graalvm.nativeimage](https://www.graalvm.org/sdk/javadoc/org/graalvm/nativeimage/package-frame.html). Didn't know it. So I suppose it completely settles the issue.

[2022-01-18 14:36] #4216 closed

[2022-01-18 17:17] mur47x111 commented on #4182
Could be fixed by https://github.com/oracle/graal/commit/868d594df1f925072b007cb5d3297bba4dd04306

[2022-01-18 17:27] michael-simons opened #4229 "native-image from 22.1.0 has issues resolving core svm classes."
**Describe the issue**

When creating a native image from a JVM program that depends on a library containing conditional substations for `com.oracle.svm.core.jdk.JDK11OrLater` , native-image fails with `Fatal error: java.lang.TypeNotPresentException: Type com.oracle.svm.core.jdk.JDK11OrLater not present`. The substitutions in the library are compiled with `org.graalvm.nativeimage:svm:21.3.0` in pr

[2022-01-18 18:47] cstancu commented on #3849
Should be fixed by https://github.com/oracle/graal/pull/4230. Now the benchmark can be successfully built and executed with `allocsens` context-sensitivity using:
[code]
Note that the benchmark needs to be built with the `-H:+AliasArrayTypeFlows` option.

[2022-01-18 19:16] Moocow9m opened #4231 "[Windows] [Gradle] property 'image' specifies file "..." Which doesn't exist"
**Describe the issue**
When running `nativeTest` it seems the path looks for a file without the `exe` extension. File exists and runs correctly when manually executed.

**Steps to reproduce the issue**
1. **[git clone --depth 1 git@github.com:Moocow9m/PoderTechIR.git]**
2. **[gradlew -Pagent nativeTest]**

**Describe GraalVM and your environment:**
 - GraalVM version: **[GraalVM CE 21.3.0]**
 - JD

[2022-01-18 19:32] mklueh opened #4232 "Google links broken"
In case you are not aware of the issue, when googling for graal-related things, many links are broken and are showing 404 errors, such as

https://www.graalvm.org/reference-manual/native-image/ClassInitialization/

<img width="463" alt="image" src="https://user-images.githubusercontent.com/1553757/150005925-501b1e0b-03bc-4b35-813d-78dc80128157.png">

[2022-01-18 20:21] nirvdrum commented on #4213
@wildmaples and I spent some time stepping through this code today. The issue appears to be in:

https://github.com/oracle/graal/blob/6ffdd9760d7d1da4e6ae7f2bd70bcf830ac4f351/compiler/src/org.graalvm.compiler.truffle.compiler/src/org/graalvm/compiler/truffle/compiler/nodes/frame/VirtualFrameSetNode.java#L96

The issue can be reliably reproduced within a TruffleRuby branch (not _master_), but we we

[2022-01-18 23:41] rodrigar-mx commented on #4199
Thanks for sharing @cagriuslu-adyen. I was not able to reproduce it because the error is only present when using the managed mode. I have now reported the issue internally. Any updates or questions, we will let you know.

[2022-01-19 05:01] #3849 closed

[2022-01-19 07:50] maxandersen commented on #3984
Any updates for this ? at the moment this prevents usage of one of Java 17's primary features `record` to be used for json serilization with jackson or actually any kind of annotation based use.

[2022-01-19 08:06] lukasstadler commented on #4213
I'm taking a look. It might be a race between execution and compilation, and those are notoriously hard to reproduce.

[2022-01-19 08:16] raphw commented on #3969
Yes, I meant the latter issue. I just tested with the latest Graal release and the null pointer still occurs.

[2022-01-19 09:04] lukasstadler commented on #4213
unrelated, but for reference: I wasn't able to build the branch from scratch, but building the base revision first and then updating to the branch worked.

[2022-01-19 09:26] lukasstadler commented on #4213
How exactly did you build and run the example? I'm unable to reproduce the problem so far.

[2022-01-19 10:38] jerboaa commented on #3984
I can have a look at this.

[2022-01-19 10:58] eregon commented on #4213
@lukasstadler You need:
[code]
And `test.rb` is the above snippet.

See https://github.com/oracle/truffleruby/blob/master/doc/contributor/workflow.md for more details.

[2022-01-19 12:04] lukasstadler commented on #4213
Ok, I'll try with jt, running the above example with sdk/latest_graalvm_home/bin/ruby didn't produce the error.

[2022-01-19 12:33] eregon commented on #4213
Note, there is another error (Partial evaluation did not reduce value to a constant, is a regular compiler node), which can be avoided by commenting out the `CompilerAsserts.partialEvaluationConstant(descriptor);` in RubyArguments.java:234.

[2022-01-19 12:36] lukasstadler commented on #4213
I can reproduce the problem now, looking at it now.

[2022-01-19 12:36] eregon commented on #4213
I pushed a commit to that branch commenting out that partialEvaluationConstant which does not hold yet.

[2022-01-19 12:41] roxanan-adyen commented on #4133
Hey @rschatz! I managed to download the new release and the issue is gone. Thanks once again for solving this!

[2022-01-19 12:53] boris-petrov opened #4236 "[22.0.0] Duplicate classes in `org.graalvm.js:js` causing troubles with module-path and classpath"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **22.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK17**
 - OS and OS Version: **Arch Linux 5.16.1-arch1-1**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
No.

**Describe the issue**
Updating

[2022-01-19 13:31] zakkak opened #4238 "Native image Isolates are not able to access run time set system properties"
**Describe the issue**
Invoking `System.getProperty()` to get the value of a run time set system property works as expected in native images, but fails when done from an Isolate.

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **21.3.0**
 - JDK major version: **11**
 - OS: **Fedora 35**
 - Architecture: **AMD64**

[2022-01-19 13:51] loicottet commented on #3984
I am currently working on solving this as part of a larger refactoring of our reflection implementation. I'll update again when I have a better idea of when the fix will be ready.

[2022-01-19 15:33] fniephaus opened #4239 "Unable to determine size of debuginfo on Darwin"
It looks like we did not look into Darwin as part of #4082. [`e.getName().contains(".debug")`](https://github.com/oracle/graal/commit/6607747c0f32bb19195728ac722fc17f24982292#diff-1b7b75f25c2c7d8aa2171787dcb1cab1726fcbe536afec2c0319c886bf92516dR184) doesn't seem to do anything on macOS, so the new build output is unable to report the size of debuginfo.

Could you please look into this, @zakkak? Th

[2022-01-19 15:50] olpaw commented on #4239
My guess would be that on Darwin ".debug" would instead be "__debug".

[2022-01-19 16:00] olpaw commented on #4239
I infer that fix from
[code]
on linux vs.
[code]
on darwin.

[2022-01-19 18:04] zakkak commented on #4239
That's true. Since we don't generate debug info for macOS (yet!?) I didn't look it up.

It looks like @olpaw beat me to it :)

[2022-01-19 20:59] fniephaus commented on #4239
I opened #4241 with a possible fix for this.

[2022-01-19 21:03] nirvdrum opened #4242 "TRegex lazy matchers ignore flavor processors"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **1bc9a8623c9e9e3444e53d183f03a5bf535f2b48**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS 12.1**
 - Architecture: **amd64 (Rosetta)**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes.

*

[2022-01-19 21:09] nirvdrum commented on #4242
cc @djoooooe

[2022-01-19 23:16] rodrigar-mx commented on #4214
Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-01-20 02:33] debu999 commented on #4103
Hi Team any thing done in upgrading to latest RHEL version?

[2022-01-20 10:40] zakkak commented on #3664
@gradinac did you have the chance to have a look at this? I am willing to work on a fix for it, but I would like to get some feedback about my claims from you first.

Thanks

[2022-01-20 10:49] zakkak commented on #3591
This has been merge in 20.3.4 (see https://github.com/oracle/graal/commit/dd88f0579d76f7bb87d38416da9b40d4acb8d56b)

[2022-01-20 10:49] #3591 closed

[2022-01-20 11:24] #2502 closed

[2022-01-20 12:10] lukasstadler commented on #4213
As far as I can tell, this error is caused by calls to Frame.getValue that are in PE'd code.
That shouldn't cause exception in the compiler, of course, but even if it works, it will likely produce non-optimal code and/or lead to unnecessary deoptimizations.
Nevertheless, I'll create a fix for this.

[2022-01-20 12:10] lukasstadler commented on #4213
tracked internally as GR-36493

[2022-01-20 13:18] chrisseaton commented on #4213
That sounds like that could be the case yes - we'll look for that.

[2022-01-20 13:19] AndreiYu commented on #4238
We made a workaround - `CustomRuntimeConfigSource` that has higher ordinal than System properties and Environment Variables

https://quarkus.io/guides/config-extending-support#example

Isolates are unable to see changes of system properties (since they have a snapshot of Image Heap at build or start time of native executable), but isolate refreshes env_variable changes with `CustomRuntimeConfigSou

[2022-01-20 13:44] AndreiYu opened #4244 "Isolate falls with OutOfMemoryError and crashes the whole app when isolate maxHeapSize exceeds limit"
**Describe the issue**
We create an isolate in native image with limited heap size:
		RuntimeOptions.set("MaxHeapSize", 33554432); //32Mb
		RuntimeOptions.set("StackSize", 2097152); //2Mb
		RuntimeOptions.set("MaximumYoungGenerationSizePercent",50); //16Mb

The main native executable app is run in docker with parameters "-Xmx1024m", "-Xss16m"

when we execute custom JS function in Isolate context

[2022-01-20 18:07] nirvdrum commented on #4210
This is also failing for me in the released EE 22.0.0 version. I'll check the CE builds when they appear, but I suspect it will be problematic as well.

[2022-01-20 19:16] nirvdrum commented on #4210
I'm sorry, this was my fault. I was running with the maven plugin and overlooked that the plugin was pointing at 21.3.0 while my `JAVA_HOME` was pointing at 22.1.0-dev and they're evidently incompatible. Things look good with the new 22.0.0 maven artifacts and EE 22.0.0. I've tried a 20.0.0-dev CE snapshot and it still won't work there, so I'll have to wait and see when the CE 22.0.0 final release

[2022-01-20 19:16] #4210 closed

[2022-01-20 20:08] fniephaus commented on #4210
Thanks for the update, @nirvdrum. I'm glad you figured it out and that it's not an issue with the 22.0 release.

[2022-01-20 20:32] rodrigar-mx commented on #4201
Hi again @guygoldwasser. Please  follow the instructions [here](https://www.graalvm.org/reference-manual/js/RunOnJDK/#graalvm-javascript-on-jdk-11) to run graaljs on jdk 11+. I tested your program and did not get any errors. I used
[code]
dowloaded the required jars, and then run the command:
`/Library/Java/JavaVirtualMachines/jdk-11.0.11.jdk/Contents/Home/bin/java -XX:+UnlockExperimentalVMOptions

[2022-01-20 23:29] rodrigar-mx commented on #4221
Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-01-21 00:29] kutzhang commented on #3103
Still not works, my ENV is:

    GraalVM version 21.3.0
    JDK major version: 17.0.1
    OS: MacOS
    Quarkus: 2.6.2.Final

[2022-01-21 00:33] kutzhang opened #4245 "[native-image] Agent fails to detect reflective instantion of Arrays-Float."
Describe the issue
Hi On working with Apache's BeanUtils.copyProperties(src, dest) for copying the bean properties & found below error with Native image. The below error is generated during Runtime.
Class java.lang.Float[] is instantiated reflectively but was never registered

GraalVM and your environment:

    GraalVM version 213
    JDK major version: 17.0.1
    OS: MacOS
    Architecture: AMD64

[2022-01-21 15:02] chumer commented on #4009
@smarr  PR is ready for review: https://github.com/oracle/graal/pull/4247
I did not use your prototype as I expanded the scope of this optimization a bit.

[2022-01-21 23:02] rodrigar-mx commented on #4223
Closing this issue as it has been requested before, and the native image team is already aware of.

[2022-01-21 23:02] #4223 closed

[2022-01-21 23:41] rodrigar-mx commented on #4025
Closing this issue because no response has been given during the last months.

[2022-01-22 01:22] lazar-mitrovic opened #4248 "Class define support skips classes that are injected in system class loader"
At the moment our `experimental-class-define-support` agent option skips classes that are loaded in one of built-in class loaders.
This poses an issue when [running Scala's `LambdaDeserializer`](https://github.com/scala/scala/blob/v2.12.15/src/library/scala/runtime/LambdaDeserializer.scala#L96) as well as with any Mockito-related workload.

I attached a Mockito/ByteBuddy reproducer based on one de

[2022-01-22 10:06] rubyFeedback opened #4249 "[Suggestion / Discussion] Fat GraalVM distribution"
Before I explain this suggestion, let me explain the rationale and use case.

I started using GraalVM some time ago; using native-image too and it worked
all very well. Hopefully Swing support can be improved, but this is an aside.

Some time ago I proposed to integrate upx, simply because when I used it
with native-image the binaries became much smaller. So this was a
convenience suggestion reall

[2022-01-22 20:41] smarr opened #4250 "[TruffleDSL] Use of variable to be bound in `@Bind` causes stack overflow in annotation processor"
The following specialization causes a stack overflow on a Truffle/Graal from Nov. 12, 2021:

[code]

The DSL processor overflows in `SpecializationData.isDynamicParameterBound(SpecializationData.java:344)`.
If this hasn't been already fixed, it might be nice to protect against it.

[2022-01-23 05:56] ningpengtao-coder commented on #2809
@KengoTODA I had this problem too, and it was resolved. Add --enable-url-protocols=jrt to run normally. The version I am using is graalvm 22.0.0.

[2022-01-24 02:20] fendo8888 opened #4251 "Whether hot swap is supported"
Whether hot swap is supported？Something like DCEVM https://github.com/dcevm/dcevm

[2022-01-24 04:34] siaron opened #4252 "lambda reflect"
- ![image](https://user-images.githubusercontent.com/13701232/150717781-4f2ffe2b-eef1-472d-9eb2-5d5241cc8b88.png)
- for Scenes how to config reflect-config.json

[2022-01-24 04:53] rodrigar-mx commented on #4229
Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-01-24 13:01] gradinac commented on #3664
Hey @zakkak! Sorry for a late answer on this. The security services feature currently automatically registers only services that follow the JCA. Unfortunately, that doesn't seem to be the case for the SASL provider, but, we still would want to support it. The proposed changes seem good - though we will most likely encounter this again in the future - perhaps we could keep these special methods in

[2022-01-24 14:05] oubidar-Abderrahim commented on #4231
Hi thank you for reporting this, we will take a look into in and get back to you

[2022-01-24 14:13] oubidar-Abderrahim commented on #4232
Hi, thank you for reporting this, we've set up redirects to our new link: https://www.graalvm.org/22.0/reference-manual/native-image/ClassInitialization/
I've tested it and it should be working, please give it a try and let us know if any link is still not functioning
Thank you

[2022-01-24 14:14] morph027 commented on #4143
Funny ... I've just bootstrapped my workstation w/ daily Ubuntu 22.04 build, which ships newer kernel and QEMU and crosscompiling even works on my AMD Ryzen 5 5600X now ;)

[2022-01-24 14:16] oubidar-Abderrahim commented on #4238
Hi thank you for reporting this, we will take a look into in and get back to you

[2022-01-24 17:00] limbic-derek commented on #2903
Appears to not be working in a new way,

Command I ran:
[code]

Binary builds successfully, but crashes at runtime:

[code]

[2022-01-24 17:05] perezd commented on #2903
Appears to not be working in a new way,

Command I ran:
[code]

Binary builds successfully, but crashes at runtime:

[code]

[2022-01-24 17:51] peter-hofer commented on #4248
The problem at hand is, what criteria do you use to select classes? A class is ultimately defined for a specific loader from a byte array with no explicit well-defined source. By excluding the known built-in loaders, we exclude the JDK and anything else on the class or module path which can reasonably be expected to be available on the class/module path of `native-image` as well, and assume that e

[2022-01-24 20:30] bbernhard commented on #4143
That's interesting! I guess I could give it another try with the newest Ubuntu build :thinking:. Thanks a lot for sharing!

[2022-01-25 00:22] rodrigar-mx commented on #4245
Hi @kutzhang. Could you specify how are you running the native image agent. Also, can you share also which version are you using of the native image maven plugin.

[2022-01-25 00:35] perezd opened #4255 "native-image command failing to respect -H:-CheckToolchain"
**Describe the issue**
I'm attempting to use the LLVM backend with native-image, and so I've installed the llvm-toolchain with gu and when I run native-image it complains about the lack of gcc. It suggests adding `-H:-CheckToolchain` to the command, and when I do, the error remains. Seems like this isn't the right thing to pass any longer? I've also attempted to add `-H:CompilerBackend=llvm`

**St

[2022-01-25 01:34] perezd opened #4257 "native-image on MacOS Apple Silicon returns x86_64 executables instead of arm64"
**Describe the issue**

Noticing this is available for linux: https://www.graalvm.org/22.0/reference-manual/native-image/ARM64/
Does this not include MacOS as well?

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. clone https://github.com/perezd/google-java-format/tree/native-image
2. mvn -Pnative -DskipTests package
3. file ./core/target/google-java-format

[2022-01-25 08:40] vjovanov commented on #4248
To find a good algorithm we first need good examples. @lazar-mitrovic we need to collect different traces that lead to `defineClass` from regular applications and see how can we distinguish them.

If there it is not decidable (or overly complicated) to see if a class is truly dynamically loaded, we can propose a modification to the JDK.

[2022-01-25 08:57] zakkak commented on #4043
Fixed in https://github.com/oracle/graal/pull/4042

[2022-01-25 08:57] #4043 closed

[2022-01-25 09:19] zakkak commented on #4224
Fixed in #4226

[2022-01-25 09:19] #4224 closed

[2022-01-25 10:04] jaroslawr commented on #4176
@woess Thanks for the fix! I see its part of vm-22.0.0.2 tag, but maven central only has graal 22.0.0. Will 22.0.0.2 eventually make it to maven central?

[2022-01-25 10:14] djoooooe commented on #4242
Should be fixed by https://github.com/oracle/graal/commit/280594dd6381fb9f74a33b76378b57e6eee50daa

[2022-01-25 10:24] oubidar-Abderrahim commented on #3308
Closing for inactivity, please reopen if the issue is still present in the latest build 22.0.0

[2022-01-25 10:24] #3308 closed

[2022-01-25 10:38] zakkak commented on #3435
Closing this as it's now out of date and a better analysis has been performed in https://github.com/graalvm/mandrel/issues/316. Note:

[2022-01-25 10:38] #3435 closed

[2022-01-25 12:11] zakkak commented on #3664
Hi @gradinac, as mentioned in the description:

Explaining in more detail and links to the corresponding code below:

[The reproducer invokes `Sasl.createSaslClient`]( https://github.com/zakkak/issue-reproducers/blob/fdf3f12bb322d829071c68ab91b37d0214e0f4bc/src/main/java/Main.java#L17) which [conditionally invokes `javax.security.sasl.SaslClientFactory#createSaslClient`](https://github.com/graalvm

[2022-01-25 13:01] woess commented on #4176
@jaroslawr it should be part of 22.0.0.1 and released soon:tm:

[2022-01-25 16:04] guygoldwasser commented on #4201
Thanks @rodrigar-mx . this solved my issue.
Thanks

[2022-01-25 16:04] #4201 closed

[2022-01-25 16:47] esestt commented on #4257
As I known, GraalVM hasn't support Apple ARM yet. You can follow below feature request.
https://github.com/oracle/graal/issues/2666

[2022-01-25 16:47] esestt commented on #4257
As I known, GraalVM hasn't support Apple ARM yet. You can follow below feature request.
https://github.com/oracle/graal/issues/2666

[2022-01-25 16:53] perezd commented on #4257
Excellent, thank you!

[2022-01-25 16:53] #4257 closed

[2022-01-25 16:54] jerboaa commented on #3984
A more comprehensive test/reproducer is (as it verifies more RecordComponent methods):

[code]

[2022-01-25 17:38] oubidar-Abderrahim commented on #4138
Hi, could you please verify if the issue is still persisting with the latest release of GraalVM and if yes, is it possible to have a reproducer I can test with without the Minecraft server?

[2022-01-25 20:40] rodrigar-mx commented on #4221
This issue has now been reported internally. Any questions or updates we will let you know.

[2022-01-25 23:30] LifeIsStrange commented on #3232
@mur47x111 Hi, I was wondering if you could take an other look at this.
Your String.getBytes hypothesis is a good one but it has been intrinsified to AVX in JDK 18
https://cl4es.github.io/2021/10/17/Faster-Charset-Encoding.html
and already was somewhat optimized in JDK 17?
If so then it's strange because yes JDK 17 is almost as fast as JDK 8 but still, had the JDK 8 to 11 performance regression be

[2022-01-26 05:51] TheMode opened #4261 ""can't get base address on a record class""
**Describe the issue**
Native image fails to build due to a static field in a record class: https://github.com/Minestom/Minestom/blob/0b4dd3b8aa4661a8c389833c3095927c9c90d98e/src/main/java/net/minestom/server/network/packet/client/login/EncryptionResponsePacket.java#L29

**Steps to reproduce the issue**
1. clone https://github.com/Minestom/Minestom/tree/0b4dd3b8aa4661a8c389833c3095927c9c90d98e
2.

[2022-01-26 05:59] TheMode commented on #4261
For reference, this allowed the native image to build: https://github.com/Minestom/Minestom/commit/85677360ebd28328426fb56bdabeeb252ae0a104
But still, I doubt that my problem above is expected behavior.

[2022-01-26 11:49] mosheduminer commented on #3314
I'm still having this issue with `graalvm-ce-java17-22.0.0.2`.

[2022-01-26 13:18] CommanderTvis opened #4263 "Graal.nodejs fails if experimental WebAssembly turned on"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **22.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Kubuntu 21.10 Impish Indri**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**

A clear and concise description of the issue.

**Steps to reproduce the issue**
Please inclu

[2022-01-26 13:31] CommanderTvis commented on #4263
Wrong repo.

[2022-01-26 13:31] #4263 closed

[2022-01-26 13:33] matteobertozzi opened #4264 "GraalVm 22.0.0.2: IllegalStateException: The Context is already closed."
**Describe the issue**
if I reuse the engine Context.newBuilder("js").engine(...)
after a few runs (e.g. 20 executions) of executions I get: IllegalStateException: The Context is already closed.
If I create a Context without specify the engine everything seems to work.
going back to 21.3.0 I don't see the problem.

**Steps to reproduce the issue**
1. git clone https://github.com/matteobertozzi/gra

[2022-01-26 14:00] oubidar-Abderrahim commented on #4164
Hi, I did some research on this, and it does seem to be an issue for the Tomcat side. I could be wrong though. I would suggest checking with the Tomcat team before.
If it turns out otherwise, please don't hesitate to reopen the issue and share any findings from the Tomcat team with us to further investigate the issue.

[2022-01-26 14:00] #4164 closed

[2022-01-26 14:03] chumer commented on #4264
Already tracked internally with GR-36613.

[2022-01-26 15:00] jerboaa commented on #3992
@sophokles73 Feel free to try your reproducer with the latest 22.0 dev builds from here:

https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/22.1.0-dev-20220126_0118

Issue should be fixed.

[2022-01-26 16:51] sureshg commented on #4124
I have tried to compile a jetbrain compose app on Mac using the latest build `GraalVM CE 22.0.0.2` and still have the same issue. The compilation was successful though. Any plans to fix this in the coming release?

[code]

[2022-01-26 17:10] sschuberth opened #4265 ""Non-reducible loop requires too much duplication" error in call to Kotlin suspend function"
**Describe the issue**

I'm using Graal 22.0.0.2 to build a native image for [ORT - the OSS Review Toolkit](https://github.com/oss-review-toolkit/ort), and the `./gradlew :cli:nativeImage` task fails with:

[code]

**Steps to reproduce the issue**

1. git clone --depth 1 https://github.com/oss-review-toolkit/ort.git
2. ./gradlew :cli:nativeImage

**Describe GraalVM and your environment:**
 - Graal

[2022-01-26 18:40] scientificware commented on #3948
Works fine with 22.0.0.2.

[2022-01-26 18:41] scientificware commented on #3948
Fixed, works fine with 22.0.0.2.

[2022-01-26 18:41] #3948 closed

[2022-01-26 19:30] chumer commented on #4264
Thank you very much for the excellent bug report.

I could reproduce the bug. Fix is in progress.
The only reliable workaround I can see is turning off code caching by not specifying an explicit engine in `Context.Builder`.

[2022-01-26 19:46] jerboaa commented on #3984
@loicottet Here is a quick patch I did solving just this issue. Would this be worthwhile proposing as a PR? The idea would be to have a stand-alone fix which could be considered for backport to `21.3`.

https://github.com/oracle/graal/compare/master...jerboaa:record_annotations

[2022-01-26 21:20] christianwimmer commented on #4182
@ebremer GraalVM 22.0 and 21.3.1 are released (also the CE versions now), can you please check if the problem is fixed?

[2022-01-26 23:50] rodrigar-mx commented on #4249
Thanks for contributing to GraalVM. We will consider your suggestion. cc @gilles-duboscq

[2022-01-26 23:50] rodrigar-mx commented on #4250
Hi @smarr. Could you please test it again using latest graalvm version: 22.0.0. If the error still persists, please share a full reproducer and the steps to run it.

[2022-01-26 23:59] smarr commented on #4250
This is something for @chumer, and this hasn't been worked on yet. Not sure it's even a priority.

[2022-01-27 03:16] #4009 closed

[2022-01-27 09:00] ShalokShalom commented on #1327
Doing that does suggest, that Scala + Swing = Native actually works, beyond Hello World.

If not even that is consistent, I see it as detrimental to encourage people in the official documentation to use it.

Do you agree?

[2022-01-27 10:38] matteobertozzi opened #4266 "Instrument calculateContextHeapSize() AssertionError: org.graalvm.polyglot.Value should not be reachable"
**Describe the issue**
env.calculateContextHeapSize() gives: AssertionError: org.graalvm.polyglot.Value should not be reachable

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone https://github.com/matteobertozzi/graalvm22-issue.git
2. ./run-instrument-test.sh

**Describe GraalVM and your environment:**
 - GraalVM Community Edition 22.0.0.2 (vm-22.0

[2022-01-27 11:08] oubidar-Abderrahim commented on #3314
Yes, the issue is tracked internally on GR--30634

[2022-01-27 11:24] chumer commented on #4266
@jchalou  can you please take care of this? While you are at it, it would be useful to have some information which field was last read when this error occured. Also, can we check this in the gate please?

[2022-01-27 12:09] vjovanov commented on #4124
@pejovica did the AWT for Windows so he can give a better estimate.

[2022-01-27 15:06] oubidar-Abderrahim commented on #4238
Tracked internally on GR--36661

[2022-01-27 15:08] #4232 closed

[2022-01-27 15:23] oubidar-Abderrahim commented on #4251
Hi, thank you for reporting this, let me check and get back to you

[2022-01-27 15:40] pshirshov commented on #3208
Well, I have a repro: https://github.com/7mind/distage-example/pull/265

Clone this branch and run `sbt graalvm-native-image:packageBin`, the compiler will hang forever.

[2022-01-27 17:03] rubyFeedback opened #4267 "[Discussion / Documentation] Better "roadmap" visibility and discussion for "coming up""
Hey there GraalVM Team,

This is more related to documentation and news entries related to GraalVM and any of the associated ecosystem.

Now you lot have a blog here:

https://medium.com/graalvm

The "developer blog". This is ok so far.

Recently a new article was published here titled "GraalVM 22.0 is here!":

https://medium.com/graalvm

Also fine.

Now I am a fairly "new" person in regards to Gr

[2022-01-27 17:12] pshirshov commented on #3208
And here is a completely minimized one-line demo: https://github.com/7mind/graalvm-native-image-livelock-demo

[2022-01-27 18:47] nirvdrum opened #4268 "Unable to dump dashboard data when linking a Truffle language"
**Describe the issue**

The new dashboard feature in GraalVM 22.0.0 makes it really to see what is being compiled into a native image binary. I wanted to use the tool to gain more insights into a linked polyglot application, but if I link a Truffle language (I've tried JS and Ruby) with the dashboard  data options enabled, the build errors out.

**Steps to reproduce the issue**
Please include both

[2022-01-27 18:50] christianwimmer commented on #4238
@zakkak looking at your example, I would say the current behavior is what we want. The same holds for runtime options too that are set via `-XX:` on the command line: arguments passed on the command line only affect the main isolate that is automatically created for the `main` method. If you create isolates manually, you have full control over system properties and arguments, i.e., nothing is inhe

[2022-01-27 19:33] brettwooldridge opened #4269 "Dockerized cross-platform build"
My team currently compiles a custom version of OpenJDK 17. We develop on Mac, but the target is x86_64 embedded Linux. For OpenJDK, there is an extremely handy build that is capable of building for x86_64 Linux from within MacOS.

https://github.com/adoptium/temurin-build

On Mac, invocation goes something like this:
[code]
This executes the entire build from soup to nuts inside the Docker contain

[2022-01-27 22:50] neko-kai commented on #3208
I have fully minimized the above repro: https://github.com/7mind/graalvm-native-image-livelock-demo
The hang seems to be caused by a 40-level deep inheritance hierarchy in library code:

[code]

NOTE: The trait `trait Syntax3 extends Syntax3.ImplicitPuns` is NOT referenced anywhere at all, but is crucial for reproducing the hang - removing it removes the hang, it makes me think that the hang happe

[2022-01-27 23:31] rodrigar-mx commented on #4252
Hi @siaron. Could you please fill properly the feature request template or elaborate a bit more on it. Thanks in advance.

[2022-01-28 07:40] sophokles73 commented on #3992
@jerboaa I have tested the latest 22.1.0 dev graal vm with my reproducer and this works as expected :-)

Thanks a lot!

[2022-01-28 07:52] zakkak commented on #4238
Thanks for looking into this @christianwimmer.

Is there any documentation around Isolates explaining what's expected to be shared between the main isolate and the other isolates that I failed to locate?
The only resource I could find is [this medium article](https://medium.com/graalvm/isolates-and-compressed-references-more-flexible-and-efficient-memory-management-for-graalvm-a044cc50b67e), accor

[2022-01-28 07:52] #4238 closed

[2022-01-28 09:19] schadin commented on #4108
Guys thank you for answers!
I'm compiled and run application after removing log4j-core.

I encountered a strange error. For testing, I added a file application-graalvm.yml with specified values. Service runs only with this profile! If you run the service without specifying a profile or with specifying another profile, an error appears:

`ERROR SpringApplication Application run failed
 org.springfr

[2022-01-28 09:23] rudihorn commented on #4101
I was able to reproduce this bug in the December 15 snapshot, but the underlying issue has since been fixed independently and should the code should run fine in the current master branch.

[2022-01-28 09:31] fniephaus commented on #4249
Hi @rubyFeedback,

fast again!", but the easy of distribution and deployment is in my opinion
a secondary benefit to GraalVM. People could easily package up
stuff and have it "drop" onto a user's computer. Wouldn't that be great?

I agree, performance is important but so is distribution and deployment. I can see why you'd like to have "fat" GraalVM bundles but I'm not sure this is a good idea. For

[2022-01-28 09:49] jerboaa commented on #3992
Anytime. Thanks for verifying. Appreciate it!

[2022-01-28 10:44] zhendongsu commented on #4101
Okay, thanks, Rudi; please feel free to mark it resolved and close the issue. @rudihorn

[2022-01-28 10:59] vjovanov commented on #1327
At this point, we are striving to support all libraries (given they are configured correctly). I don't see why we would treat Swing any different in terms of documentation.

I think a blog post in this space would be great to show the process of using Swing with Native Image. Two interesting things here are the configuration experience with Swing, great startup time, and all the benefits that come

[2022-01-28 12:52] rschatz commented on #4101
The fix has also been backported to 22.0, so it should work there, too.

[2022-01-28 12:52] #4101 closed

[2022-01-28 15:05] oubidar-Abderrahim commented on #4255
Hi thank you for reporting this, we will take a look into in and get back to you

[2022-01-28 15:56] rudihorn commented on #4132
Hi @zhendongsu, thanks for reporting this. This is actually an upstream bug in LLVM 12.0.1. I had a look at the produced `small-opt.bc` file, and the compiler introduces undefined behaviour for the following phi in `main.extracted.1`:

[code]

The bug can be reproduced without Graal by compiling `small-opt.bc` with clang 13. It can also be fixed by performing the optimization step with `opt` versi

[2022-01-28 17:47] mklhmnn commented on #1327
It would be great if AWT and Swing would be supported by default (without the need to configure anything), because they are part of the JDK, not some external library.

[2022-01-28 19:43] olymk2 opened #4273 "GU is not working when built from source."
Building from source gu can not find the native images a pre compiled downloaded tar.gz release seems to work how ever.

[code]

The downloaded sources are these

[code]
The commands to compile are as follows
[code]

Is there some step that needs to be run to make the gu tool pick up the native-image so it can be installed ?
the binaries all seem to work apart from that so a bit confused by this o

[2022-01-30 08:54] rubyFeedback opened #4278 "[native-image] Please consider supporting non cl.exe ways on windows to compile via native-image"
Hey GraalVM team,

I recently tried graalvm-22.0.0.2 for 64bit linux. It worked fine. I
was able to use native-image even on swing applications - not sure
if it works in general, but it seems to work fine for me on linux just
fine. My next idea was to test this on windows. Anyway.

On windows this is all a bit more complicated than on linux. :(

I tried to do the same steps, aka those that worked

[2022-01-30 17:11] kkriske commented on #4278
Just to get you going with the "can't find cl.exe" issue, the windows prerequisites can be found right here in the documentation: https://www.graalvm.org/22.0/docs/getting-started/windows/#prerequisites-for-using-native-image-on-windows

The step that you're missing seems to be just running in the `x64 Native Tools Command Prompt`.

You also don't need to install the entirety of visual studio, the

[2022-01-30 19:20] kkriske commented on #4072
@christianwimmer
for some reason, the created exe does not export these symbols anymore. This is a general issue with the java.dll shim on jdk 17.
Replacing these:
https://github.com/oracle/graal/blob/ea70ccc6952f86dd68366da08680e04884f224cb/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/jdk/JNIRegistrationAWTSupport.java#L70-L72
With:
[code]
seems to fix the issue. Same list that

[2022-01-30 19:22] kkriske commented on #4072
For anyone else looking for a workaround in the meantime, add a feature containing this in your codebase:
[code]

[2022-01-30 22:05] EpicGamer007 commented on #4072
@kkriske , If you can, can you be more specific on how we add this to a codebase or more preferably, how to pass these as cli options because I have not been able to find any useful documentation on this specific option (`-H:NativeLinkerOption`).

Thanks

[2022-01-30 22:20] kkriske commented on #4072
@EpicGamer007
from the output of `native-image --expert-options-all`
[code]

so your native-image command would become something like:
[code]

after checking, it appears that `getEncodingFromLangID` and `getJavaIDFromLangID` are not required in the list.

[2022-01-30 22:39] EpicGamer007 commented on #4072
Thank you so much :)

[2022-01-31 00:52] chirontt commented on #4072
@kkriske thanks a lot for your great workaround. This problem in Windows has stumped us since GraalVM 21.3.0 for JDK17, and still persists in 21.3.1 and in 22.0.0.2.

Talking about 22.0.0.2, it has new link errors in Linux (in addition to in Windows which is fixed by your tip) for the JDK17 version, for the simple Swing code above. But I guess this new Linux problem will be for another issue threa

[2022-01-31 03:24] rodrigar-mx commented on #4261
Hi @TheMode. Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-01-31 04:07] christianwimmer commented on #4072
@pejovica can you please check what is going on?

[2022-01-31 05:28] christianwimmer commented on #4238
There is nothing shared between isolates. At least on the Java side - of course all isolates are in the same process so any C static variable exists only once per process.

[2022-01-31 06:57] vjovanov commented on #3208
Thank you very much for reporting. The issue has been fixed in:

https://github.com/oracle/graal/commit/891b7bf259eeb61f8cee7ba6f64f2350c02674ee

[2022-01-31 06:57] #3208 closed

[2022-01-31 07:46] MartinBalin commented on #4273
The problem is that it reads old remote catalog. You need to point GU to thttps://www.graalvm.org/component-catalog/**v2**/graal-updater-component-catalog-java11.properties or different Java flavour of **v2** version of catalog. Can be done in `release` file or on `gu` command line.

[2022-01-31 07:46] #4273 closed

[2022-01-31 08:04] kkriske commented on #1327
The problem with that is that awt is huge, and adding config for all of that probably means that a bunch config gets added when it isn't really required just because the calling class is reachable. AWT is a bit of a mess imo and once 1 thing is accidentally or intentionally required, it can cascade a lot. To give you an idea how much config is required: https://github.com/oracle/graal/pull/3079

[2022-01-31 08:22] fniephaus commented on #4273
If you're building GraalVM from source, note that you can run into incompatibility issues installing components from the catalog. To avoid that, I suggest that you also build native-image from source if your goal is to use native image. You can do this as follows:

[code]
Have a look at [this README](https://github.com/oracle/graal/tree/master/vm#vm-suite) for more information on how you can confi

[2022-01-31 08:35] fniephaus commented on #4278
Thanks for raising this issue, @rubyFeedback. As @kkriske correctly pointed out, there is only one supported way of building native images on Windows at the moment: through the `x64 Native Tools Command Prompt`. And for that, you only need to install the build tools.

Building software on Windows is not always straightforward and I think it's actually a good thing that we don't provide too many op

[2022-01-31 08:35] #4278 closed

[2022-01-31 09:32] lukasstadler commented on #4213
this is fixed with https://github.com/oracle/graal/commit/d7a3d5f5665283c5848907b5df6cc6b807b98cea

[2022-01-31 09:32] #4213 closed

[2022-01-31 10:42] olpaw commented on #4221
@petermz this example does not even work on the JVM. Can you provide me with a working example?

[2022-01-31 12:39] jerboaa commented on #3984
@loicottet Any idea yet when this would land? If far off, could we perhaps consider an intermediate fix in the meantime? For Quarkus it would be good to know a rough timeline for this issue being fixed. Thanks very much!

[2022-01-31 14:45] CRefice opened #4280 "Debug info generation fails in combination with -O0 flag"
Trying to build the "helloworld" image with debug info and with an optimization level of 0 leads to a failing assertion during debug info installation, presumably due to the lack of AOT inlining.

**Steps to reproduce the issue**
This failure is most easily reproducible with `mx`. Check the full log for the list of flags passed to `native-image`.

1. `git clone https://github.com/oracle/graal.git`

[2022-01-31 14:45] CRefice commented on #4280
CC @adinn

[2022-01-31 14:59] oubidar-Abderrahim commented on #4265
Hi, thank you for reporting this, we will take a look into it and get back to you

[2022-01-31 15:15] adinn commented on #4280
Hi @CRefice Thaks for reporting this.

Actually, no that's not the issue. The problem here is that debug info generator is expecting (well, actually, asserting) that any of the reported compiled method code subranges that has no caller belongs to the top level compiled method. It is indeed true that any subrange that consists of top level method code does report null for its caller. However, I hav

[2022-01-31 16:27] rudihorn commented on #4118
This issue is also caused by a bug an upstream bug in the LLVM version 12 toolchain. The `opt` command generates the following call opcode:

[code]

The `undef` causes the program to crash, and this problem does not occur in LLVM 13.

[2022-01-31 18:27] pshirshov opened #4282 "JNA: apps built with native-image cannot write into local Unix sockets"
`docker-java` a popular library, fails to communicate with local docker instances when built by `native-image` but the same code works perfectly under JVM. It seems to be some kind of a weird problem with JNA built by NI or NI itself, at least `docker-java` developers [think](https://github.com/docker-java/docker-java/issues/1714) that.

Here is a simple repro: https://github.com/7mind/graalvm-nat

[2022-01-31 19:35] olymk2 commented on #4273
okay thanks this seems like the steps I need I did not realize substratevm is the native-image I will give it a try thanks for the tips

[2022-02-01 07:26] zakkak commented on #3664
It looks good, thank you @gradinac.

[2022-02-01 07:37] petermz commented on #4221
What do you mean by "does not work"? It prints two lines and exits, which is not much, but its point is to show that the resource actually exists and can be read from (i.e. `InputStream.read()` succeeds)

[2022-02-01 10:51] jchalou commented on #4266
Cause is known, fix is on the way.

[2022-02-01 11:53] olpaw commented on #4280
That's fine. No one can expect that your carefully crafted debuginfo tests to magically pass when being executed with a different optimization level.

Running into and assert during buildtime (triggered by using `-O0` or by other means) needs to be fixed though.

[2022-02-01 12:09] CAFxX opened #4284 "Optimize repeated divisions by same divisor using multiplication with shifts"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**

Division/modulo operations executed in a loop with the same divisor (not constant at compile time, but constant at runtime for the duration of the loop) are not strength reduced to multiplications/shifts (as in https://github.com/oracle/graal/issues/593)

**Describe t

[2022-02-01 15:55] oubidar-Abderrahim commented on #3353
Closing this issue for inactivity, if the error is still occurring in the latest version of GraalVM (22.0.0.2) please re-open it.

[2022-02-01 15:55] #3353 closed

[2022-02-01 15:59] oubidar-Abderrahim commented on #4251
It is not supported on GraalVM by default, but there is something similar on Espresso (Java on Truffle): please see our reference manual for more: https://www.graalvm.org/22.0/reference-manual/java-on-truffle/hotswap-plugin/

[2022-02-01 16:44] michael-simons commented on #4229
Thanks @rodrigar-mx Please let me know if you need input. Right now, our driver can't be used with GraalVM 22.1 and we would love to change or fix that.

[2022-02-01 16:48] rodrigar-mx commented on #4229
Hi @michael-simons. This PR should fix the issue https://github.com/oracle/graal/pull/4277 and should be integrated in the next dev build.

[2022-02-01 16:51] michael-simons commented on #4229
Oh that's lovely! Exactly what I have hoped for.

I wonder how to tackle that in the future. `JDK11OrLater` is likely to stay there, right? Library authors are probably fine with removing `JDK8OrEarlier` at some point when Graal doesn't support JDK anymore.

[2022-02-01 16:52] michael-simons commented on #4229
Aaah, he who reads has an advantage, I did saw the deprecations. Nice solution. Thank you.

[2022-02-01 17:00] #4229 closed

[2022-02-01 23:58] rodrigar-mx commented on #4267
Thanks for contributing to graalvm. We will look at your proposal closely and take it into account.

[2022-02-02 06:57] jskov-jyskebank-dk opened #4285 "Using java.net.useSystemProxies has no effect"
**Describe the issue**

We use graalvm as a JDK for building native applications.

The build happens in a container where we need to set a proxy, as general egress is blocked.

Using -Djava.net.useSystemProxies=true has no apparent effect when using graalvm. It works with "regular" JDKs.

The http[s].proxyHost/proxyPort counterparts fortunately work, so we can use those instead.

**Steps to reprod

[2022-02-02 13:17] mur47x111 commented on #3232
Thanks for the info. I will take a look and update later.

[2022-02-02 13:20] peter-hofer commented on #3974
Fixed with 1bdc9f8991a785352bcb9c2542e5978d944abbb0.

[2022-02-02 13:20] #3974 closed

[2022-02-02 13:50] DJViking opened #4287 "Install Native Image GraalVM-21.3.0, Corrupted file, digest does not match"
After downloading the GraalVM 21.3.0 and unpacking it, then installing the native-image fails.

[code]

A workaround, download the native image manally and install worked.
[code]

So I suspect the problem is not the native image, but something wrong with the download itself using the `gu` tool.

[2022-02-02 18:34] lewurm commented on #2666
Another update:

* https://github.com/oracle/graal/pull/4173 didn't cut it, instead @teshull fixed it properly 🥳 https://github.com/oracle/graal/commit/ac694ff2ac8056e2f830561b6a157dcd28aa483b Among some corner cases around the Linux ABI, it fixes the crash when running CTW with libgraal on macOS AArch64.
* @pminearo and I have been working on instructions to build GraalVM yourself from source. Ch

[2022-02-02 19:07] pshirshov commented on #4282
I've made a smaller example with a shorter stacktrace: https://github.com/7mind/graalvm-native-image-jna-bad-address-bug-demo/tree/ca7d3578e9081b64fcd0eede6a20d43ada2892ed

[code]

[2022-02-02 19:48] pshirshov commented on #4282
It's interesting that I can read from the socket w/o any problems, `private native int read(int fd, ByteBuffer buffer, int count) throws LastErrorException;` works. Though `private native int write(int fd, ByteBuffer buffer, int count) throws LastErrorException;` fails. The signatures are the same.

[2022-02-02 20:06] pshirshov commented on #4282
Here is an excerpt from the  strace of the native-image:

[code]

[2022-02-02 20:47] pshirshov commented on #4282
Another observation: in case I use ByteBuffer.allocateDirect` instead of `ByteBuffer.wrap` `write` returns an error code and there is no exception being thrown.

The allocation looks like:

[code]

The corresponding strace:

[code]

Same code works fine under JVM.

[2022-02-02 21:03] pshirshov commented on #4282
Seems to be relevant: https://github.com/oracle/graal/issues/2152

[2022-02-03 02:17] #4093 closed

[2022-02-03 02:17] #4105 closed

[2022-02-03 02:17] #4109 closed

[2022-02-03 10:49] rschatz commented on #4133
Awesome, thanks for confirming!

[2022-02-03 16:59] rubyFeedback opened #4289 "[GR-36820] Show native image linking type in build output"
Hello GraalVM-devs,

Today I was reading this article on the graalvm homepage:

https://www.graalvm.org/22.0/reference-manual/native-image/StaticImages/

I have not yet built a "mostly static" executable/binary and set out
to try it today (just now). I was trying it first, as always, with my canonical
hello world java example.

For simplicity and reproducibility, let me copy/paste the content of
s

[2022-02-03 21:33] nassimus26 opened #4290 "windows build failed"
Building on windows 10 return this :

C:\work\graal\vm>mx --env libgraal build
WARNING: The component inclusion list ('--components' or '$COMPONENTS') includes an unknown component: 'svml'
WARNING: The component inclusion list ('--components' or '$COMPONENTS') includes an unknown component: 'svml'
JAVA_HOME: C:\work\jdk-17.0.2
8 unsatisfied dependencies were removed from build (use -v to list them

[2022-02-04 07:06] fniephaus commented on #4290
In what build environment are you running this on Windows? An [x64 Native Tools Command Prompt](https://medium.com/graalvm/using-graalvm-and-native-image-on-windows-10-9954dc071311)?
Also, it seems you're using a stock JDK 17.0.2. For building GraalVM, you need to use a [LabsJDK](https://github.com/graalvm/labs-openjdk-17/releases/).

[2022-02-04 07:53] chenzhiguo commented on #2666
So long, didn't I support Apple M1?

[2022-02-04 08:25] dr-eme commented on #2666
I managed to build GraalVM thanks @pminearo instructions, thanks.
However, I'd like to know if it is possible to build a native-image component somehow, as obviously using gu tries to download this from the component catalog.

[2022-02-04 08:39] davleopo commented on #4284
Hi @CAFxX  thanks for bringing this to our attention. I'm refactoring some code in this part of the code base at the moment and Ill have an initial look what it would take to add the support to graal.

[2022-02-04 09:33] jchalou commented on #4266
The issue is fixed by https://github.com/oracle/graal/commit/3d94e74fdd6b1d51b1fb90db357403dd5bc87cca. Next dev build will include the fix.

[2022-02-04 11:07] lewurm commented on #2666
Thanks for testing!

This should work:
[code]
You can check with `mx --env <envfile> graalvm-show` which things will be included in that configuration.

This was fixed some weeks ago: https://github.com/oracle/graal/pull/4107

Are you sure you are on the latest revision? If not, can you provide a reproducer?

[2022-02-04 12:39] roxanan-adyen opened #4291 "[LLVM] Exception in thread "main" Allocation of native memory is not possible in managed mode when using C++ exceptions"
**Describe GraalVM and your environment :**
 - GraalVM version: **22.0.0**
 - **EE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS bigSur**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Only tried it with 22.0.0

**Describe the issue**
I have a small C++ program where I throw an

[2022-02-04 14:58] dr-eme commented on #2666
Thanks for pointing out the fix and env file.
Using the latest revision it worked flawesly.
Amazing the performance obtained w.r.t running native-image through roseta.
I hope we get an official release soon.

[2022-02-04 15:09] oubidar-Abderrahim commented on #4087
I am closing this issue for now, if you still face this problem please reopen it.

[2022-02-04 15:09] #4087 closed

[2022-02-04 15:12] oubidar-Abderrahim commented on #4282
Thank you for reporting this, we will take a look into it and get back to you.

[2022-02-04 16:32] nirvdrum opened #4292 "[GR-36931] Native Image from GraalVM CE does not generate JNI function declarations for shared libraries"
**Describe the issue**

When building a native shared library with `native-image` from EE, the generated header file includes the following function declarations for managing `graal_isolate_t*` and `graal_isolatethread_t*` from JNI:

[code]

`native-image` from GraalVM CE, however, does not generate a similar set of function declarations. Naturally, the above ones refer to EE classes, so I wouldn'

[2022-02-04 16:44] rodrigar-mx commented on #4092
Issue fixed: https://github.com/oracle/graal/commit/ed244e64c29b392d55af048c0247047cd4604f7b

[2022-02-04 16:44] #4092 closed

[2022-02-04 16:57] rodrigar-mx commented on #4119
Hi @zhendongsu. Is there any additional step I am missing, or the issue has already been already fixed?

[2022-02-04 16:58] rodrigar-mx commented on #4116
Issue fixed: https://github.com/oracle/graal/commit/3cab95f28b1d0a8e87c4f8a9f6b93441a8550615

[2022-02-04 16:58] #4116 closed

[2022-02-04 17:20] nirvdrum commented on #4292
This was more of general question, but if you need a reproduction case, please let me know.

[2022-02-04 19:42] rodrigar-mx commented on #4061
Closing this issue because there has been no activity during last month.

[2022-02-04 19:42] #4061 closed

[2022-02-04 23:18] rodrigar-mx commented on #4269
I think that what you can try to do is run a docker container, install the dependencies required for building graalvm, then build graalvm CE base image ([look here]( https://github.com/oracle/graal/blob/master/vm/README.md)), and then package it in a tar.gz.

[2022-02-04 23:20] rodrigar-mx commented on #4285
Thanks for reporting this issue. We will take a look into it and get back to you.

[2022-02-04 23:31] rodrigar-mx commented on #4287
Hi @DJViking which os are you using? can you share exactly the link where you download graalvm 21.3.0?

[2022-02-05 10:33] alina-yur commented on #4267
hey @rubyFeedback,
thank you for sharing this feedback with us. You are right that our Medium blog is the place where we announce releases and talk about existing features. But that’s only one channel; let me walk you through others, where among other things we talk about upcoming features and changes.
1. [Projects @ GitHub](https://github.com/oracle/graal/projects). Currently we have several proj

[2022-02-05 18:18] debu999 commented on #4103
Hi Team,
Can we expect a new version of Graal with new Rhel Base immage???

[2022-02-07 06:02] rubyFeedback opened #4294 "[ Update documentation at https://www.graalvm.org/22.0/docs/getting-started/ ] native-image shows a deprecation warning"
Hey there GraalVM devs,

I am reading through https://www.graalvm.org/22.0/docs/getting-started/ and testing.

When coming to this part:

    javac PrettyPrintJSON.java
    native-image --language:js --initialize-at-build-time PrettyPrintJSON

native-image tells me this:

    ========================================================================================================================

[2022-02-07 06:55] dougxc commented on #4265
I see there is [an option](https://github.com/oracle/graal/blob/83c37dde9922be071b8d6efe3b0a140bbb1231f2/compiler/src/org.graalvm.compiler.java/src/org/graalvm/compiler/java/BciBlockMapping.java#L310) for limiting the amount of work done by the compiler to support non-reducible loops. The help text is a little ambiguous on what the value of that option means but please try increasing it to see if

[2022-02-07 08:52] ManjuCaroline opened #4295 "[native-image] installation error on Windows"
I am trying to install native image using the command "gu install native-image" in my cmd. But it is showing the below mentioned error,

Downloading: Release index file from oca.opensource.oracle.com
Error: Error reading component list: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

I tried executi

[2022-02-07 09:09] gilles-duboscq commented on #4265
2.0 was chosen because it could accommodate all the examples we saw in the original reports while still not allowing large explosions of code size.
Maybe a larger default value is the right answer, but i suspect there will always be "practical" cases that require a higher limit than what we set as default.

It would be a good data point to know the factor needed to this specific case.
Also maybe A

[2022-02-07 09:45] sschuberth commented on #4265
I'll try to come back to you on that.

That would have helped absolutely 👍🏻

[2022-02-07 09:59] niklbird commented on #4138
Hey, I got the same exception with the newest Maven Release (22.0.0).
I'm not sure how to provide a reproducer. The problem occurs in Eclipse on Ubuntu 20.4.with Java SE 16. I tried to reproduce the bug on Windows but the bug did not occur.

My Manifest contains the following lines:
 org.graalvm.js;bundle-version="22.0.0",
 org.graalvm.truffle.api;bundle-version="22.0.0",
 org.graalvm.sdk.graal-sd

[2022-02-07 13:41] Noisyfox commented on #3359
For statically linked lib to make `loadLibrary` work there have to be an exported function called `JNI_OnLoad_<library name>()` according to [JEP 178](https://openjdk.java.net/jeps/178), or you can simply don't call `loadLibrary` at all, and the native method should simply work as long as the native function name matches.

[2022-02-07 15:48] oubidar-Abderrahim commented on #4282
Tracked internally at GR--36862

[2022-02-07 16:53] Ulibaer opened #4297 "Java 11 GraalVM 22.0.0.2 EE on Windows 10 pro 21H2 64bit fails the test "reactors (concurrency)" with NPE on renaissance suite"
On Windows 10 21H2 64bit with Java 11 GraalVM 22.0.0.2 **EE** the test "reactors (concurrency)" fails with NullPointerException on the **second** repetition:

(...snip...)
GC before operation: completed in 333.103 ms, heap usage 131.266 MB -> 111.873 MB.
====== finagle-http (web) [default], iteration 11 completed (4599.485 ms) ======
====== reactors (concurrency) [default], iteration 0 started ===

[2022-02-07 22:35] marinier opened #4299 "groovy jar getting included in classpath"
**Describe the issue**
I've been building a native image using graalvm 21.2 successfully (actually for Android using gluon mobile). I recently updated to graalvm 22.0 and I'm now getting an exception related to groovy that looks very similar to issue #2858, except in that case the person was trying to use groovy and I am not -- it is not among my dependencies at all and does not appear in any of t

[2022-02-08 08:18] rudihorn commented on #4152
I can confirm this is a bug that is now fixed by https://github.com/oracle/graal/commit/3e600e05fe5c84a1fd817399afb6ab8f1ee60c02.

[2022-02-08 08:36] sschuberth commented on #4265
So, I got it working with `-H:MaxDuplicationFactor=4.0`. I'll bisect between 2.0 and 4.0, but it will take a while as the native image build takes a whopping 18 minutes for me...

[2022-02-08 10:45] sschuberth commented on #4265
A factor of 3.0 works, 2.5 is too low, and so is 2.75, so I stuck to 3.0.

[2022-02-08 11:04] sschuberth opened #4301 "Fatal error in `MoveAndUpdateClosure`"
**Describe the issue**

I'm using Graal 22.0.0.2 to build a native image for [ORT - the OSS Review Toolkit](https://github.com/oss-review-toolkit/ort), and the `./gradlew :cli:nativeImage` task fails with:

[code]

**Steps to reproduce the issue**

1. git clone --depth 1 https://github.com/oss-review-toolkit/ort.git
2. ./gradlew :cli:nativeImage

**Describe GraalVM and your environment:**
 - Graal

[2022-02-08 12:27] UbiquitousBear opened #4302 "Prohibited package name"
**Describe the issue**
When running `native-image` to build a native binary of a jar (`gradle bootBuildImage`) with `Spring Native`, an error occurs stating `Prohibited package name: java.util`

**Describe GraalVM and your environment:**
[code]

**More details**
Consider adding the `--native-image-info` and  `--verbose` flags when building your native image and paste output below.

Add any other i

[2022-02-08 14:33] lucacirillo2738 opened #4303 "spring-boot-starter-artemis (native-image): Invalid declaration of container type [org.springframework.jms.annotation.JmsListeners] for repeatable annotation [org.springframework.jms.annotation.JmsListener]; nested exception is java.lang.NoSuchMethodException: No value method found"
**Issue description**
I'm building my project with native-image and I've noticed a java.lang.NoSuchMethodException: No value method found when trying to run the native image.
After several test I've noticed that the problem occurs after adding spring-boot-starter-artemis dependency in my pom.xml (also without using it). There are some Hints that I can use for bypass the problem?

I'm asking suppor

[2022-02-08 14:54] lucacirillo2738 commented on #4303
I've also replaced spring-boot-starter artemis with the following dependencies but same exception occours

[code]

[2022-02-08 19:15] jvalkeal opened #4304 "javax.naming.directory.InitialDirContext fails on windows"
**Describe the issue**

Essentially on windows image you will get `NPE` from:
[code]

**Steps to reproduce the issue**

Test code and GH Actions runs can be found from https://github.com/jvalkeal/win-netty-issue. There doesn't seem to be any issues on macos/linux, just when running native on windows. Matrix build shows that `java Test` runs ok but `test.exe` doesn't.

**Describe GraalVM and your e

[2022-02-08 19:34] sdeleuze commented on #4304
Please add the `spring` label to this issue.

[2022-02-08 23:37] rodrigar-mx commented on #4292
Hi @nirvdrum. Yes, can you please share the reproducer

[2022-02-08 23:41] nirvdrum commented on #4292
Are the JNI function declarations supposed to be present in the generated header on CE?

[2022-02-08 23:56] marinier commented on #4299
I tracked down what's happening: the groovy dependency was being added because of logback-1.2.6. It has an optional groovy dependency. The thing is, I didn't have the optional dependency added in any of my poms, yet somehow it ended up on the classpath during native image creation. I wonder if optional dependencies aren't being handled correctly by native image.

Luckily for me, it turns out that

[2022-02-09 03:14] dougxc commented on #4265
With 3.0, what was the native image build time? And how much does that deviate from similar native image builds that you make?

[2022-02-09 15:22] sschuberth commented on #4301
Nevermind, I believe I actually saw this because I was running out of disk space during the build... 😮

[2022-02-09 15:22] #4301 closed

[2022-02-09 17:43] olpaw commented on #4221
Fixed with https://github.com/oracle/graal/commit/86f7b49eb4632f7791d0f30d787a8c3f0023411f

Now e.g.
[code]
works on JVM with
[code]
and with native-image using
[code]

[2022-02-09 17:43] #4221 closed

[2022-02-09 18:07] rodrigar-mx commented on #4103
HI @debu999. Still is work in progress. We will notify you as soon as there is any update.

[2022-02-10 02:03] bakkot opened #4306 "Specifing the path of a Source object?"
I'm attempting to use graaljs to run some JavaScript which is entirely in-memory. To do that I need to create a Source object. Module resolution in JavaScript modules is done with relative paths, so I need my Source object to carry its Path. But there does not appear to be any way to do this - there's no `withPath` method on `SourceBuilder` or anything similar that I can find.

[2022-02-10 08:33] Karm commented on #4295
You most likely need to update you Windows to have a fresh truststore. A good way to check would be to use PowerShell to access the site: https://oca.opensource.oracle.com/
If it fails too, you know you need to update your truststore.

IMHO

[2022-02-10 09:45] zakkak commented on #2800
@aalmiray you should be able to use `RuntimeClassInitialization.initializeAtRunTime` in the feature, e.g.:

[code]

[2022-02-10 15:03] oubidar-Abderrahim commented on #4294
Hi, Thank you for reporting this, @olyagpl would you mind checking this out? Thank you

[2022-02-10 18:00] #4299 closed

[2022-02-10 19:22] XCCC12 opened #4313 "Error only on java grall"
A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x0000016d0de51066, pid=7680, tid=0x00000000000005f0
#
# JRE version: OpenJDK Runtime Environment (8.0_282-b07) (build 1.8.0_282-b07)
# Java VM: OpenJDK 64-Bit Server VM GraalVM CE 21.0.0 (25.282-b07-jvmci-21.0-b06 mixed mode windows-amd64 compressed oops)
# Problematic frame:
# C  [

[2022-02-10 23:09] rodrigar-mx commented on #4261
Hi @TheMode. I built a small reproducer and I can confirm this is an error on our side. I have reported the issue internally. We will let you know any update.

[2022-02-10 23:10] nirvdrum opened #4314 "SIGBUS error using TruffleString"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **749e1e32ba4**
 - CE or EE: **CE**
 - JDK version: **11**
 - OS and OS Version: **macOS 12.2**
 - Architecture: **AMD64 through Rosetta on M1**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**

While working on TruffleRuby's adoption of TruffleString, I ran into an issue wher

[2022-02-10 23:17] dougxc commented on #4313
Please attach `hs_err_pid7680.log` to this issue.

[2022-02-10 23:21] rodrigar-mx commented on #4295
Hi @ManjuCaroline. Try the suggested approach. Otherwise, please share which graalvm specific version did you download and your windows version. You can also try downloading the native image [installable](https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-22.0.0.2)  and install with `gu install -L <native-image-installable-file>`

[2022-02-11 02:09] nirvdrum commented on #4292
Please see https://github.com/nirvdrum/gr-4292 for a reproduction. It's trivially reproducible with any `@CEntryPoint`, which is why I inquiring if the JNI function declarations should be generated with CE at all. I see the same issue with a half dozen other projects built using the Maven plugin, but I removed Maven to keep the reproduction simpler. Please let me know if you need anything else.

[2022-02-11 10:03] rschatz commented on #4117
Should be fixed by https://github.com/oracle/graal/commit/ab89a130039dd2697505aacb59dc59b524976d0d

[2022-02-11 10:03] #4117 closed

[2022-02-11 10:04] petermz commented on #4221
Thanks Paul -- my original (more complicated) scenario seems to be working now.

[2022-02-11 10:06] rschatz commented on #4127
Should be fixed by https://github.com/oracle/graal/commit/1144e781c1960b6a90cf35ff6dfce3ea7979b0d8

[2022-02-11 10:06] #4127 closed

[2022-02-11 10:09] djoooooe commented on #4314
Unfortunately i don't have a Mac to test this on, could you check if commenting out
`
registerTStringReadPlugins(r, true);
registerTStringReadPlugins(r, false);
registerTStringWritePlugins(r, true);
registerTStringWritePlugins(r, false);
`
in https://github.com/oracle/graal/blob/a10a2870f0c101ff5cf9fdeb5335a85934533326/compiler/src/org.graalvm.compiler.truffle.compiler.amd64/src/org/graalvm/compil

[2022-02-11 10:11] #4152 closed

[2022-02-11 10:12] rschatz commented on #4153
Should be fixed by https://github.com/oracle/graal/commit/1b0a9fad5cc2846c1540bcf7553fd21b8f9e587b

[2022-02-11 10:12] #4153 closed

[2022-02-11 10:39] #4022 closed

[2022-02-11 10:54] Montura opened #4315 "Native image crashes on ARMv8 (64-bit) on iOS"
### Describe the issue
A problem with running the Java code (processed by graalvm-native-image) on ARMv8 (64-bit) (tested on Apple A7)

#### Steps to reproduce the issue

1. **git clone https://github.com/Montura/ios_graalvm**
2. **set `JAVA_HOME` to the GraalVM**
3. ```mvn clean package -Pgraal-ios```
4. **open `ios-graalvm.xcodeproj`**
  * scheme `ios-graalvm-22.0.1` works fine and prints: ```He

[2022-02-11 15:12] rodrigar-mx commented on #4292
Thanks @nirvdrum. This issue is now been tracked internally. You will receive a response accordingly.

[2022-02-11 19:57] fernando-valdez commented on #4297
Hello @Ulibaer, thanks for reporting this issue. I will take care of it.
If I have any questions I will let you know.

[2022-02-11 23:54] rodrigar-mx commented on #4302
Hi @UbiquitousBear. Could you please share a reproducer.

[2022-02-13 09:57] helins opened #4318 "Runtime failure in native image when `java.nio.channels.Selector` is `.wakeup`"
**Describe the issue**

Initially, a native image of a Clojure program was behaving very well. After integrating a Java library doing some networking with NIO, the image now fails at runtime when a client tries connecting to a server through TCP. Precisely, when `.wakeup` is called on a `java.nio.channels.Selector`. See exception below.

No such problem occurs when running the uberjar used to crea

[2022-02-14 09:31] bademux commented on #3399
closed as "clone" in favour of #3938

[2022-02-14 09:31] #3399 closed

[2022-02-14 10:22] eregon commented on #4314
cc @lewurm

[2022-02-14 10:50] kirillp commented on #4315
This is the problem with CPU detection code
The CPU supports all the FP and SIMD while the detection code failed to detect and a runtime exception raised

[2022-02-14 12:26] DJViking commented on #4287
I downloaded this
https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-21.3.0/graalvm-ce-java11-linux-amd64-21.3.0.tar.gz

Unpacked it, and then run `gu install native-image` to install the native image, which fails.

[2022-02-14 14:36] gimbles opened #4319 "[GR-36973] Improved diagnostic reporting on C exports not having an IsolateThread param."
**Describe the issue**
I just did a clean GraalVM 17 Community edition install and tried to test run the GraalVM C exports API.

**Steps to reproduce the issue**
1. Make a basic Java app exporting a C function
2. Try to use native-image
3. Failure

**Describe GraalVM and your environment:**
![image](https://user-images.githubusercontent.com/93856041/153883663-749484d3-d1cd-49ec-89ac-61a050191cc3.p

[2022-02-14 15:26] ade90036 commented on #3289
hi @mcraj017 any ETA of this fix? Is there a potential work around?

[2022-02-14 15:47] fendo8888 opened #4320 "When is cross-compilation supported?"
Is there any latest news about cross-compilation?

[2022-02-14 16:11] dsyer opened #4321 "ClassCastException in polyglot Value"
Looks like a bug. Using the wasm embedding code from the docs and inspecting the context:

[code]

[2022-02-14 16:38] rodrigar-mx commented on #1935
Serialization support was introduced with [graalvm 21.0.0](https://www.graalvm.org/release-notes/21_0/#2100)

[2022-02-14 16:38] #1935 closed

[2022-02-14 17:13] Yush08 commented on #4319
@fniephaus
[code]

[2022-02-14 17:16] Yush08 commented on #4319
Oh! I noticed something -- I accidently forgot to add the IsolateThread parameter to the function

Isn't there a dedicated error message for this?

[2022-02-14 17:16] Yush08 commented on #4319
(Btw, adding the parameter and compiling works OK. Just realized :P)

[2022-02-14 17:30] christianwimmer commented on #4319
As the error message says:

See the JavaDoc of `CEntryPoint`: https://github.com/oracle/graal/blob/master/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/c/function/CEntryPoint.java#L84

[2022-02-14 18:57] nirvdrum commented on #4314
Making those changes did not help, unfortunately.

I've been running the TruffleRuby test suite in a loop all day. I'm not sure that the codepoint methods are at fault, even though using it seems to induce the issue more regularly. I tried rolling back to earlier commits and could get a SIGBUS issue there as well. Unfortunately, not reliably. But I can see it happen ~20% of the time. I'll try bise

[2022-02-14 19:56] rodrigar-mx commented on #4287
Thanks @DJViking. I tested it locally and did not run into any issue. Perhaps the error was caused by a corrupted download. Could you please download it and install the native-image again.

[2022-02-14 21:15] Jim-Harrington opened #4323 "Handling of system properties in fallback image contradicts the documentation"
**Describe the Problem**

When I attempt to pass -D properties to my GRAAL fallback image, they are not being passed on to the java command line.  Referring to the documented handling of system properties here: https://www.graalvm.org/22.0/reference-manual/native-image/Properties/, system properties passed to my native/fallback executable are not being passed on to the JVM process as documented.

[2022-02-14 21:45] christianwimmer commented on #4214
Thanks for sharing. In summary, these are two microbenchmarks that trigger behavior that we are already working on to optimize, so things should get a lot better in a few months.

First, two notes:
* The random number generation makes the benchmark non-deterministic. That can easily be solved by changing the code to use a `Random` object with constant seed, so that every run produced the same (now

[2022-02-14 23:26] nirvdrum opened #4324 "Unable to build native image if using polyglot API and linking in GraalWasm"
**Describe the issue**

I was looking to embed GraalWasm in a native application. The application also uses the polyglot API in Java to expose a `@CEntryPoint` using TruffleRuby to implement the logic of the method. Before I even called into the `"wasm"` language I ran into issues building the native image.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. *

[2022-02-14 23:53] rodrigar-mx commented on #4306
Hi @bakkot. What do you mean by "I need my Source object to carry its Path"? In case it helps, here is some doc about [loading modules ](https://www.graalvm.org/22.0/reference-manual/js/Modules/), and [building a source object](https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/Source.html)  from a file, url, stream, etc.