[2020-08-26 14:49] sendev1 commented on #2788
I noticed this warning `WARNING: Could not register reflection metadata for net.sf.ehcache.transaction.manager.DefaultTransactionManagerLookup. Reason: java.lang.NoClassDefFoundError: javax/transaction/TransactionManager.` during image build after trying so many things and that gave me some clue. For some reason the DefaultTransactionManagerLookup was looking for TransactionManager, but it was not

[2020-08-26 14:49] #2788 closed

[2020-08-26 15:15] sendev1 opened #2798 "Warnings during native image build"
**Describe the issue**
I am using native-image-agent to generate config files to create native image. I am using spring boot application to create native image.

I am seeing 1000's of below warnings during image creation
`WARNING: Could not resolve com.ours.schema.AdminRequestType_JaxbXducedAccessor_RegId for reflection configuration.
So many similar warnings`

The project has so many SOAP calls a

[2020-08-26 15:18] EdenYoung1 commented on #2678
I found that there is a similar problem in [openj9](https://github.com/eclipse/openj9). Maybe we can refer to this issue https://github.com/eclipse/openj9/issues/6119  to learn more context about the bug ?
Or maybe we can locate the faulty lines and this fix https://github.com/eclipse/openj9/pull/6288 can probably help repair the bug ?

[2020-08-26 15:21] sendev1 opened #2799 "NoSuchBeanDefinitionException even with reflection and resource configuration"
**Describe the issue**
I am using native-image-agent to generate config files to create native image. I am using spring boot application to create native image.

I am getting `Unsatisfied dependency expressed through constructor parameter 1; nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'com.commons.http.ssl.KeystoreConfig' availabl

[2020-08-26 15:37] fernando-valdez commented on #2799
Hello @sendev1 Can you please share a reproducer to I can take a closer look at this issue?

[2020-08-26 15:46] sendev1 commented on #2799
Hi @fernando-valdez due to restrictions I would not able to share code. Kindly let me know if you need any additional information.

[2020-08-26 16:00] sendev1 commented on #2799
The KeystoreConfig(interface) and KeystoreConfigImpl are present inside a jar and jar is added into class path during image generation.

KeystoreConfigImpl is defined with @Component
[code]

I have org.springframework.experimental:spring-graalvm-native and org.springframework:spring-context-indexer in my gradle dependency and I would expect that component keystoreConfig should be identified during

[2020-08-26 16:24] fernando-valdez commented on #2799
I understand if you cannot share your code. Is it possible to set up a very simple (shareable) project that has this error?

Not having a reproducer will make the testing/diagnosis process really slow.

[2020-08-26 16:30] #2786 closed

[2020-08-26 16:44] gergo- commented on #2542
Hi @informarte, thank you for these very interesting benchmarks. I'm sorry it took me so long to start taking a detailed look. I can confirm that GraalVM CE has some slowdowns compared to OpenJDK on the outliers you highlight. On my machine these are less severe than on yours, but I will keep investigating.

What I believe I can already say is that the slowdown on `MiniZincChallenge2013#proteindes

[2020-08-26 16:45] starkgate commented on #2787
Yes. Built on Alpine.

Is this different from -H:UseLibC=musl? ie could the crash be caused by the wrong option instead of Alpine itself?

The problem is that I need it to run on Alpine. I've successfully built native-images linked against musl on a normal Ubuntu system. But the end goal of my project is to compile Java apps in an AoT fashion using GraalVM and musl. The trick is that the compilati

[2020-08-26 17:01] jramirez-isc commented on #2798
Hi @sendev1
The [documentation](https://github.com/oracle/graal/blob/master/substratevm/Configuration.md#assisted-configuration-of-native-image-builds) says:
"It can be necessary to run the target application more than once with different inputs to trigger separate execution paths for a better coverage of dynamic accesses. The agent supports this with the `config-merge-dir` option which adds the i

[2020-08-26 17:26] gergo- commented on #2542
Ah, I see that commit `5fc58fd` seems to allow a correct native image build.

[2020-08-26 20:56] sendev1 commented on #2799
I generated spring.components in the dependency jar using spring-indexer and started using jar with spring components and that helped me to over come this issue.

[2020-08-26 20:56] #2799 closed

[2020-08-26 20:59] sendev1 opened #2800 "Fatal error: javax.crypto.JceSecurity.getCodeBase(Class) is reached at runtime."
**Describe the issue**
Created native image for spring boot app.I has so many dependencies like CXF for soap calls. While running generated native image seeing this error
[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. gradlew build
2.  native-image ^
        --no-server ^
        --no-fallback ^
        --initialize-at-build-time=com.sun.jmx.remote

[2020-08-26 21:30] sendev1 commented on #2800
with `--enable-all-security-services` receiving this error

[code]

[2020-08-27 01:08] johnynek commented on #955
I'm seeing a related issue with this line of code:

https://github.com/scala/scala/pull/8779/files#diff-75c547cedb525c06d7bab20ee470e8eeR25

error output:
[code]

The confusing thing to me is that it seems to say that if the MethodHandle is loaded from a static final, it should be okay. Am I misreading that? The field in question is static final.

It seems that you can not use native-image with sc

[2020-08-27 06:41] boris-spas commented on #810
Hey all,

After some consultation it turns out that the order of methods is intentional, first instance methods then static methods then inner classes.

Gonna close this issue.

[2020-08-27 06:41] #810 closed

[2020-08-27 06:58] fcurts commented on #810
Did you consider that public methods should come before protected/private ones?

[2020-08-27 07:38] christianhaeubl commented on #2497
This feature will be part of GraalVM 20.3.

[2020-08-27 07:38] #2497 closed

[2020-08-27 08:11] mcraj017 commented on #2800
@sendev1
Please provide the code sample to reproduce this error

[2020-08-27 08:36] chumer commented on #810
No but instance methods before static methods. That is a convention we use all over the Truffle code base.
We will not be able to make everyone happy with the code layout we produce, unfortunately. And making the style configurable is not worth the complexity in my opinion.

[2020-08-27 08:57] dougxc commented on #2783
Why do we need an issue here if it's already being tracked elsewhere?

[2020-08-27 09:00] dougxc commented on #2784
I'm not familiar with Vault and Vault Agroal - can you please add more information and suggest what might be the problem so I can triage to the right Graal developer.

[2020-08-27 09:41] mcraj017 commented on #2787
@starkgate for docker you can use graalvm docker image
Something like this:

`from oracle/graalvm-ce
RUN gu install native-image
COPY HelloWorld.class .
RUN native-image HelloWorld
CMD ./helloworld`

[2020-08-27 11:02] zakkak commented on #2783
Since this is an error appearing in this repository I thought we needed an issue to track it even if it's being worked on elsewhere.

I see the following benefits in doing this:
1. In case someone from the graal community wants to see why the tests are not passing they can easily land on this issue by searching in this repo. Otherwise they would need to search the Quarkus repo instead. Additionall

[2020-08-27 11:35] nhoughto commented on #2497
Great! there are no early access builds of EE are there? I can see there are 20.3 CE dev builds but no EE? 🤞

[2020-08-27 11:52] christianhaeubl commented on #2497
Currently, we don't provide any EE early access builds.

[2020-08-27 12:44] starkgate commented on #2787
I don't understand what you mean. Run this docker from the Alpine docker? Wouldn't it be compiled with libc instead of musl then?

[2020-08-27 13:12] wangzhongshan opened #2802 "org.xml.sax.SAXException"
**Describe the issue**

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **git clone https://github.com/wangzhongshan/zeebe-bpmn-demo.git**
2. **mvn clean package**
3. **native-image --verbose --initialize-at-build-time --no-fallback --allow-incomplete-classpath --report-unsupported-elements-at-runtime -cp ./target/zeebe-bpmn-demo-1.0-SNAPSHOT.jar App ./targ

[2020-08-27 13:33] gradinac commented on #2787
@starkgate the failure you've encountered comes from this code:
[code]
The error you were supposed to see is the one in the above code, but when I edited this the last time, I seem to have written `%` instead of `%n`, sorry for that! :) I will make a PR to rectify it.

The true error shows that you do not have the static JDK libraries available for your selected libc (musl). Which version of the l

[2020-08-27 13:39] starkgate commented on #2787
Thank you so much. I'll give it a try soon. I'm building from `release/graal-vm/20.2`.

[2020-08-27 13:45] zakkak commented on #2784
Hi @dougxc, I am also not sure, so I will have a look with @galderz and come back (feel free to assign the issue to us till then).

[2020-08-27 13:52] sendev1 commented on #2800
Hi @mcraj017, Thanks for your comment. I have raised few issues earlier before and for each issues everyone is asking reproducer for each issue. I understand the reproducer will help the developer to debug issue, but I would not able to share code due to restrictions and all the issues are happening in the production ready product that we are trying to create native image. I dont know how I would

[2020-08-27 14:00] gradinac commented on #2787
The library shuffle happens during the build in our CI, that's when the static libraries are put in their correct place in the layout.
The layout is structured like this: `$JAVA_HOME/lib/static/<os>-<arch>/`. For Linux, there's an additional folder: ``$JAVA_HOME/lib/static/<os>-<arch>/<libc>`. When compiling against musl on linux-amd64, the path that gets searched is: `$JAVA_HOME/lib/static/linux-

[2020-08-27 14:14] oubidar-Abderrahim commented on #2802
@wangzhongshan I think the correct command is: `native-image -jar target/zeebe-bpmn-demo-1.0-SNAPSHOT.jar`
the -cp is used to indicate jar added to the classpath, not the actual App you want to create native-image for.

[2020-08-27 14:15] oubidar-Abderrahim commented on #2802
I tested it and it works, I can generate and execute the native-image. please confirm that this solved your issue.

[2020-08-27 14:18] starkgate commented on #2787
Just to confirm, this is the command I should run to move the libraries?
`mv $JAVA_HOME/lib/* $JAVA_HOME/lib/static/linux-amd64/musl`

I tried this, it didn't change anything to the error, this time with `mx native-image -H:+ReportExceptionStackTraces --static --libc=musl -cp /mnt/shared/native-image-sandbox hello.HelloWorld`. I do see the musl related libs though.

[code]

[2020-08-27 14:22] gradinac commented on #2787
Oh, no, not everything! Only the .a files should have been moved! You should move everything back, and then do:
[code]
You should also rebuild GraalVM after doing this. If you want to skip the build, you can `cp -r $JAVA_HOME/lib/static $GRAALVM_HOME/lib/`

[2020-08-27 15:22] starkgate commented on #2787
I'm sorry this is so tedious, I'm not used to this. Here's what I did:
[code]

The error I get now is different from before (yay!) and too long for github: https://pastebin.com/BCPfcGrC

[2020-08-27 15:31] gradinac commented on #2787
There is nothing to be sorry about, you are exploring an unsupported platform, there's bound to be a ton of errors along the way!

These errors come from the linker, it is complaining about the `clibraries` that we have available. Did you build the entire GraalVM on your machine using the exact same gcc that you've used for the JDK, or did you paste them from a different build? Perhaps we require

[2020-08-27 16:35] dougxc commented on #2783
Ok, sounds reasonable. For such issues, I then assign them to you.

[2020-08-27 17:16] sendev1 commented on #2800
@mcraj017 here is the reproducer. https://github.com/sendev1/graalvm-samples.git. https://github.com/sendev1/graalvm-samples/blob/12617ca2300244a55cd5429d65c9a68941fa8cb0/src/main/java/com/demo/CryptoService.java#L29 This line is causing issue.

[code]

[2020-08-27 17:44] sendev1 commented on #2800
the generated exe can be found here https://github.com/sendev1/graalvm-samples/tree/master/native-image which is throwing `Fatal error: javax.crypto.JceSecurity.getCodeBase(Class) is reached at runtime.`

[2020-08-27 21:22] doctorpangloss opened #2804 "nodejs: ReferenceError: WebAssembly is not defined (Gatsby development bundle)"
**Describe the issue**
`react-hot-loader` depends on `WebAssembly`, which is not defined (?) at some stage of using Graal's `node`.

This arises during development with Gatsby.

**Steps to reproduce the issue**

On **macOS**:

[code]

Observe the following console output:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 20.2.0
 - JDK major version: 11
 - OS: macOS Catalina

[2020-08-27 21:33] doctorpangloss opened #2805 "nodejs: gatsby build on Graal takes 34x longer than native node"
**Describe the issue**
`gatsby build` is very slow on the `gatsby` starter project.

**Graal**: 429.293387519 sec

**node v14.4.0**: 12.523748648 sec

**Steps to reproduce the issue**

On **macOS**:

[code]

Graal log:

[code]

**node v14.4.0** log:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 20.2.0
 - JDK major version: 11
 - OS: macOS Catalina
 - Architecture: AMD64

[2020-08-27 21:51] doctorpangloss opened #2806 "nodejs: Running Meteor's production bundle throws an assertion failed exception"
**Describe the issue**
An empty `meteor` project will not run on Graal's nodejs.

It would appear the `node-fibers` package is the culprit.

**Steps to reproduce the issue**

On **macOS**:

[code]

Observe the following console output:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 20.2.0
 - JDK major version: 11
 - OS: macOS Catalina
 - Architecture: AMD64

[2020-08-27 22:08] doctorpangloss opened #2807 "nodejs: create-react-app development starts slow"
**Describe the issue**

`create-react-app`'s development server is very slow.

**Steps to reproduce the issue**

On **macOS**:

[code]

Graal log:

Approximately 120s:
[code]

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 20.2.0
 - JDK major version: 11
 - OS: macOS Catalina
 - Architecture: AMD64

[2020-08-28 01:53] wangzhongshan commented on #2802
It works ok with your command,but it not work when use `native-image --initialize-at-build-time -jar target/zeebe-bpmn-demo-1.0-SNAPSHOT.jar`,I  have to use `--initialize-at-build-time ` for some reason(eg. use polyglot api).
Is there any other solution?

[2020-08-28 03:24] ericlabouve opened #2808 "GraalVM src.zip is missing source files"
Both Linux and Mac version for graalvm-ee-java11-20.2.0 are missing source files from src.zip that are present in jmod files. For starters, java.base is missing all the javax.net.ssl sources whereas they are clearly present in jmods/java.base.jmod

**Steps to reproduce the issue**
Download and unzip graalvm-ee-java11-20.2.0 from Oracle: https://www.oracle.com/downloads/graalvm-downloads.html?selec

[2020-08-28 08:22] oubidar-Abderrahim commented on #2802
the command `--initialize-at-build-time` is used to specify what classes or packages should be initialized at build time (as the name suggests) for static access. the correct way to use this flag is `--initialize-at-build-time=full.name.of.the.ClassOrPackage` (ex: `--initialize-at-build-time=com.sun.org.apache.xerces` `--initialize-at-build-time=java.awt.event.ActionEvent`).

Note that you can dec

[2020-08-28 10:02] wangzhongshan commented on #2802
Ok,tks,I don't use `--initialize-at-build-time` command now.

[2020-08-28 10:02] #2802 closed

[2020-08-28 10:58] wangzhongshan opened #2809 "java.nio.file.ProviderNotFoundException: Provider "jrt" not found when run groovy code in java"
**Describe the issue**

java.nio.file.ProviderNotFoundException: Provider "jrt" not found when run groovy code in java

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **git clone https://github.com/wangzhongshan/graalvm-groovy-demo.git**
2. **mvn clean package**
3. **native-image --no-fallback --report-unsupported-elements-at-runtime --allow-incomplete-cla

[2020-08-28 13:04] johanvos opened #2810 "reachability of http not triggered"
**Describe the issue**
Using the latest GraalVM code, a HelloWorld program that contains a URL with a http resource requires
`--enable-url-protocols=http` or otherwise will fail at runtime.
While this make sense, there might be a reachability handler that would check for this, and that is currently failing

**Steps to reproduce the issue**
Please include both build steps as well as run steps
[code

[2020-08-28 14:14] oubidar-Abderrahim commented on #2805
Thank you for reporting this, I will check it.
Did you try with other versions of GraalVM, v20.1.1, and 19.3.3 for instance?

[2020-08-28 14:15] oubidar-Abderrahim commented on #2807
This might be related to #2805

[2020-08-28 14:16] oubidar-Abderrahim commented on #2804
Thank you for reporting this, I will look into it.

[2020-08-28 14:16] oubidar-Abderrahim commented on #2806
Thank you for reporting this, I will look into it.

[2020-08-28 15:18] gergo- commented on #2542
With respect to the apparent 0.001x speedup of native-image vs. OpenJDK on `yuck.flatzinc.test.MiniZincChallenge2017#ma_path_finding_ins_g16_p10_a10`, the problem seems to lie in the benchmarking methodology. On this problem the "Generating solver" step takes rather long -- on my machine, about 1 minute on GraalVM EE 20.1.0 vs. about 4 minutes with the native image. The default runtime limit is 30

[2020-08-28 15:23] johanvos opened #2812 "getdtablesize not supported on Android"
**Describe the issue**
Applications using JMX fail at runtime on Android, due to a missing symbol:
`cannot locate symbol "getdtablesize"`

This is because `com/oracle/svm/core/posix/PosixSubstrateOperatingSystemMXBean.java` is using getdtablesize, which is not supported since Android 21. Using sysconf(_SC_OPEN_MAX) works on Android.

Also, the man page for getdtablesize recommends using sysconf(_S

[2020-08-28 15:23] johanvos commented on #2812
See https://github.com/gluonhq/substrate/issues/761 for the original issue

[2020-08-28 15:24] fernando-valdez commented on #2810
Hi @johanvos, thank you for reporting this.

Can you please share the version of GraalVM you used?

[2020-08-28 15:39] oubidar-Abderrahim commented on #2723
I raised a ticket to the dev team for this issue

[2020-08-28 16:08] johanvos commented on #2810
The head version (https://github.com/oracle/graal/commit/c69eded9bb9613cbbc412559fe02c0a19c7f5ffa being the latest commit at the moment)

[2020-08-28 17:48] starkgate commented on #2787
Alright. Gave this another try, this time on vanilla Alpine 3.11 (no SCONE, just musl). Everything was built on that system, OpenJDK and GraalVM. Full log: https://pastebin.com/pdW3usTq
[code]

[2020-08-28 17:58] gradinac commented on #2787
Do you have the gold linker available inside the docker container (`ld.gold`)? If yes, you can add `-H+ForceNoROSectionRelocations`, that should get rid of that error.

[2020-08-28 19:39] starkgate commented on #2787
Man, I'd never have been able to come up with this. Thanks. New error, this time I think it's a bug with graal. I'm not sure if I should open a new issue for this. It looks some of gold's options (in particular `--no-dynamic-linker`) aren't consistent with ld and graal isn't accounting for that.
[code]

[2020-08-28 22:43] sendev1 commented on #2800
Hi @mcraj017 , I found what is causing this issue and updated the reporducer.

 I have found what is causing this issue. We have a static block in our spring config which inserts the java.security.Security Provider before spring framework initialize and in the same configuration class we use Cipher as well in one of the setter methods which is causing this issue `Fatal error: javax.crypto.JceSecur

[2020-08-29 06:18] sjmini opened #2815 "Xcheck:jni option misses validation of usage of signature value as NULL"
**Describe the issue**
GraalVM misses validation in usage of NULL value when calling GetFieldID JNI function.
Because of the NULL value, a segmentation fault occurs.
According to JNI specification, GetFieldID function receives the field signature as 4th argument, and the value must not be NULL.
https://docs.oracle.com/en/java/javase/11/docs/specs/jni/functions.html#GetFieldID

However, GraalVM acc

[2020-08-29 11:07] mcraj017 commented on #2800
@sendev1 Thanks for the reproducer, I will take a look and let you know
As soon as I have something for you

[2020-08-29 22:23] ntrp commented on #1999
I would really like to avoid shipping client certificates with my application, we are currently fetching certificates at runtime

[2020-08-30 02:24] christianwimmer commented on #1999
It is certainly possible to implement "option 2" as well. If anyone is willing to implement it, I'm happy to give the right directions. I don't know when we have resources available to address it, there are many other compatibility issues open that are have higher priority right now.

[2020-08-30 13:41] sdeleuze commented on #2748
@vjovanov I reproduced the issue locally (without `-H:+TraceClassInitialization` BTW) and sent to you the `hs_err_pid1073.log` file.

[2020-08-30 16:44] informarte commented on #2542
Regarding the `ma_path_finding_ins_g16_p10_a10` instance, I investigated what happens in the early phase of solving. It turned out that the poor performance (in terms of moves per seconds) results from a basic property of the solver: Whenever the solver finds a better proposal, it clones the current assignment (of values to variables, a hash map) and stores it (as the best proposal found so far).

[2020-08-30 18:25] vjovanov commented on #2748
[hs_err_pid26455.log](https://github.com/oracle/graal/files/5147258/hs_err_pid26455.log)

[2020-08-30 18:30] agilob commented on #534
The link is now https://github.com/oracle/graal/blob/master/substratevm/Resources.md

[2020-08-31 02:42] mostafacs commented on #2217
I have the same issue with quarkus project is any progress or work around for this issue

[2020-08-31 04:37] samyc1201 commented on #2723
I encounter the similar issue while using `zip4j` jar.

[code]

Looks like those using `RandomAccessFile` would cause issue in GraalVM native image.

[2020-08-31 07:19] frank-dspeed opened #2817 "Documentation on https://www.graalvm.org/advanced-tools/"
https://docs.oracle.com/en/graalvm/enterprise/19/guide/tools/ideal-graph-visualizer.html

is the correct link and i did not found the source to correct it on https://www.graalvm.org/advanced-tools/

so i open a issue here to get pointed into the right direction.

[2020-08-31 08:31] oubidar-Abderrahim commented on #2815
@sjmini could you provide a small reproducer?

[2020-08-31 08:44] oubidar-Abderrahim commented on #2808
Actually, this is not a bug. In GraalVM EE we ship the same source code provided in OracleJDK. some internal classes like javax.net.ssl are not shipped in OracleJDK and thus, are not shipped in GraalVM EE too.

The GraalVM team cannot expose source file of internal classes to the JDK unless the Java team do so.

[2020-08-31 08:44] #2808 closed

[2020-08-31 09:13] galderz commented on #2784
@zakkak These failures are happening in a run that doesn't include native image generation, so I don't think it's a GraalVM issue right now. I'll create an issue in Quarkus instead and go from there. Also, this was with Quarkus 1.7.0, so you should verify if the issue is still present in Quarkus master. This might have been a temporary blip.

[2020-08-31 09:14] galderz commented on #2784
To be precise, these failing tests didn't have a native image generation step executed before them.

Can someone close this?

[2020-08-31 10:44] #2784 closed

[2020-08-31 15:16] sdeleuze commented on #2748
As pointed out by @vjovanov, it seems to be JFR related, but we enable nothing about JFR on our side, we just ship JFR support with https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/metrics/jfr/FlightRecorderApplicationStartup.java referenced nowhere.

But in our builds I noticed `/opt/java/jre/lib/jvmci/graal-truffle-jfr-impl.jar` i

[2020-08-31 15:27] chrisseaton opened #2818 "Update VisualVM"
When you build GraalVM from scratch you get VisualVM `Build 200521`, also called version `830` in the file it downloads.

But when I download a build of GraalVM I get `2.0.4`. `Build 200521` seems to be quite old and is incompatible with for example the go-to-source plugin.

<img width="642" alt="Screenshot 2020-08-31 at 16 24 05" src="https://user-images.githubusercontent.com/341094/91737236-b875

[2020-08-31 16:21] fniephaus commented on #2818
You may looking for this: https://github.com/oracle/graal/blob/eae2da1d4f39eee558d82ce39a66a470fd6dd5c1/tools/mx.tools/suite.py#L276

[2020-08-31 16:52] chrisseaton commented on #2818
That's the old one - but now I look in https://lafo.ssw.uni-linz.ac.at/pub/graal-external-deps/visualvm/ again maybe these are GraalVM version numbers not VisualVM version numbers?

[2020-09-01 00:34] jramirez-isc commented on #2809
Hi, thanks for reporting this.
I'm able to reproduce the issue you reported. I'll investigate more about it and report back.

[2020-09-01 00:57] mostafacs opened #2820 "[Native Image] build for quarkus app.UnsupportedFeatureException: No instances of java.net.Inet4Address are allowed in the image heap as this class should be initialized at image runtime."
**Describe the issue**
Building image for quarkus project with java version 11 with MySQL an hibernate.

**Steps to reproduce the issue**
1. sorry, I can't put the repo here.
2. **mvn -Pnative clean package**
produced command
``` /Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.2.0/Contents/Home/bin/native-image -J-Djava.util.logging.manager=org.jboss.logmanager.LogManager -J-DCoordinatorEnv

[2020-09-01 01:16] mcraj017 commented on #2770
Reopen the issue to get the bug fix in 20.2

[2020-09-01 06:37] fniephaus opened #2821 "Create GraalVM CE releases with GitHub Actions"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
Currently, the release process is not transparent to the community. It'd be good to open it up, which in turn would also eliminate issues like https://github.com/oracle/graal/issues/2818.

**Describe the solution you'd like.**
I'd like to see the release process to be

[2020-09-01 06:38] Malaska678 opened #2822 "Android port?"
Actually there's open jdk port but i think graal port can be better.
It benifits porters who port pc-only java games to android (Like minecraft java edition or the pc only version)

[2020-09-01 06:39] Malaska678 commented on #2822
Want it to support all android 5+ and above

[2020-09-01 07:14] Malaska678 commented on #2822
Accident

[2020-09-01 07:15] zakkak commented on #2784
Hi @galderz thanks for looking into this.

The upstream issues tracking this is https://github.com/quarkusio/quarkus/issues/11753

PS: I wouldn't close this issue until the tests pass (see https://github.com/oracle/graal/issues/2783#issuecomment-681878611 for reasoning).

[2020-09-01 07:44] gsmet commented on #2820
I think this is more something we need to fix in Quarkus.

Could you open a bug in our Quarkus tracker and provide a reproducer project? Thanks!

[2020-09-01 07:58] dougxc commented on #2820
Closing in favor of bug in Quarkus tracker.

[2020-09-01 07:58] #2820 closed

[2020-09-01 07:59] emrul opened #2823 "java.lang.VerifyError ?"
**Describe the issue**
Hi,

I'm using Graal Native Image 20.2.0 via Docker and spent quite a while getting everything working (eventually it did).  However, suddenly this morning I get the stack trace below.

I don't have an isolated test case yet, I'm wondering if you can suggest what the cause of such a stack trace may be so I can investigate further into my own code?

The last code change invol

[2020-09-01 09:49] adinn commented on #2748
That's a very bizarre SEGV.

The hs_err file shows the crash point is early in method position_stream_after_cp(). This is JFR code which modifies loaded class bytecode for class Event or one of its subclasses (I suspect that in this case it is actually the latter given that the call to  position_stream_after_cp happens 0x491 bytes into method JfrEventClassTransformer::on_klass_creation()). In an c

[2020-09-01 10:15] emrul commented on #2823
Ok, I have progressed with figuring this out: if I compile my app with JDK8 I get the verify error above; if I use Graal JDK 11 then everything works as expected.

For now I will close this issue but if I can help by providing more diagnostic information please ask.

[2020-09-01 10:15] #2823 closed

[2020-09-01 10:27] sdeleuze commented on #2748
Could it be possible to share a JVMCI build without JFR enabled in order to check that fixes the issue?

[2020-09-01 10:41] adinn commented on #2748
You may not need to do that. Your suggestion of disabling JFR is worth trying first. See what happens when you run the native image build with --disable-jfr (you will probably need to pass -J--disable-jfr). That should stop the JFR class transformation code being invoked.

[2020-09-01 10:45] sdeleuze commented on #2748
I am not sure when I specify `-J--disable-jfr` I got a message `Unrecognized option: --disable-jfr`. Maybe `--disable-jfr` is a flag to be used when building the JVM not running it ...

[2020-09-01 11:17] adinn commented on #2748
Oops, apologies. Of course the correct JVM option is -XX:-FlightRecorder.

[2020-09-01 12:20] dougxc commented on #2784
A closed issue is still searchable so I think it's fine to leave closed.

[2020-09-01 12:20] sdeleuze commented on #2748
Thanks for the tip, I am starting a few full builds on our CI with this option to see if that solves the issue. I will keep you informed.

[2020-09-01 12:47] emrul opened #2824 "Static using muslc"
My native images are building well so now I am experimenting with other areas - specifically building a static image.

Per instructions on the internet I've added ```--static -H:UseMuslC=bundle/``` arguments to my native image build but I get the following error:

[code]

For reference my Dockerfile looks like:
[code]

[2020-09-01 14:10] sdeleuze commented on #2748
Same error with `-J-XX:-FlightRecorder` so this flag is not sufficient. I guess next step would be testing a JDK without JFR support since this has started to fail when this support was introduced in OpenJDK (approximately).

[2020-09-01 14:15] sdeleuze commented on #2748
Do we have a way to remove `graal-truffle-jfr-impl.jar` from the classpath?

[2020-09-01 16:59] fernando-valdez opened #2825 "Support of the Alpine Linux distribution"
**Feature request**

**Is your feature request related to a problem? Please describe.**
Provide out-of-the-box support of the Alpine Linux distribution on GraalVM CE and EE

**Describe the solution you'd like.**
This can be delivered as its own platform. For example, if someone desires to use GraalVM using Alpine, it should be a package like this:  graalvm-ce-javaN-**Alpine**-amd64-X.Y.Z.tar.gz

*

[2020-09-01 19:30] fernando-valdez commented on #2824
Hello @emrul,
On GraalVM 20.1 you were able to use the flag `-H:UseMuslC`. But GraalVM 20.2 uses a different approach. Please see this document that explains the process:
https://github.com/oracle/graal/blob/master/substratevm/StaticImages.md

[2020-09-01 20:04] sdeleuze commented on #2748
I saw a similar error on #2164 cc @gilles-duboscq. Related?

[2020-09-01 20:07] sdeleuze commented on #2748
Trying a new build with `-Djfr.unsupported.vm=true`.

[2020-09-01 20:57] sdeleuze commented on #2748
No more chance with that one.

[2020-09-01 21:40] sendev1 opened #2826 "Agent tracing warning for IndexOutOfBoundsException"
I am using native-image agent to generate the json configs but while running the native agent I see so many `IndexOutOfBoundsException` warning all over the logs for so many class. Sample is below. I suspect that this would have severe impact down the road, so reaching out to get some help on how to fix them

[code]

[2020-09-01 21:46] #2687 closed

[2020-09-01 21:57] sdeleuze commented on #2748
Using `-J-Djfr.unsupported.vm=true` introduces [other issue](https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/jobs/java11-key-samples-build/builds/528) so I rollback this change.

[2020-09-01 22:07] emrul commented on #2824
Ah, @fernando-valdez thank you for pointing me to that!

Ok, so I've managed to get it to work without much hassle in Docker (no kidding this has been the smoothest part of my Native Image exeperience so far!).

For anyone else who wants a copy + paste for building static images, here is my Dockerfile:

[code]

[2020-09-01 22:07] #2824 closed

[2020-09-01 22:08] sendev1 commented on #2800
any help on this would be appreciated

[2020-09-02 07:03] mcraj017 commented on #2826
@sendev1 please provide the reproducer

[2020-09-02 07:20] mcraj017 commented on #2822
@Malaska678 Please provide the detailed information of this feature in the below format:

**1. Is your feature request related to a problem? Please describe.**
**2. Describe the solution you'd like.**
**3. Describe who do you think will benefit the most.**
**4. Describe alternatives you've considered.**
**5. Additional context.**

[2020-09-02 07:42] #2822 closed

[2020-09-02 07:52] samyc1201 opened #2827 "[native image] drools throw error during compilation, Error: Classes that should be initialized at run time got initialized during image building"
**Describe the issue**
I am trying to run a simple drools example and compile it into native image, but it fails at compilation time.

**Steps to reproduce the issue**
I am using Gluon plugin to build it, the extra arguments I pass in:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: graalvm-ce-java11-20.2.0-dev
 - JDK major version: 11 (use the one come with Graalvm)
 - OS:

[2020-09-02 08:00] oubidar-Abderrahim commented on #2827
Can you provide a reproducer, please?

[2020-09-02 09:15] samyc1201 commented on #2827
I am actually using Gluon maven plugin to build it, it abstracts away those manual command complexity. I try to copy the content below:

In the pom.xml, include:

[code]

In the main method entry point, it calls:

`RuleUtil.setupDrools();`

`RuleUtil` file content:

[code]

Simple drools fact:

[code]

`droolsTest.drl` localed at `src/main/resources`

[code]

I run in desktop JVM, it is running wi

[2020-09-02 09:28] ansalond commented on #2785
Hi @steventamm, thanks for your feedback.

We updated the GraalVM build and deployment scripts to include sources of [org.graalvm.sdk:graal-sdk](https://search.maven.org/artifact/org.graalvm.sdk/graal-sdk) and [org.graalvm.truffle:truffle-api](https://search.maven.org/artifact/org.graalvm.truffle/truffle-api).

JDK8-based GraalVMs now include these source archives:
* `./jre/lib/jvmci/jvmci-api.src

[2020-09-02 09:28] #2785 closed

[2020-09-02 12:57] dougxc commented on #2748
@sdeleuze you could take the `libjvm.so` file from https://github.com/graalvm/graal-jvmci-8/releases/download/jvmci-20.2-b03/openjdk-8u262+10-jvmci-20.2-b03-fastdebug-linux-amd64.tar.gz and replace the same file in the GraalVM 20.2.0 binary you are using.

[2020-09-02 14:19] starkgate commented on #2787
@gradinac Any idea?

[2020-09-02 20:16] ericlabouve commented on #2808
@oubidar-Abderrahim is it possible for me to get in contact with your Java team? Is there any way to download the full source? OpenJDK's version of src.zip comes with all the .java files from the sdk.

[2020-09-02 20:37] dougxc commented on #2808
OracleJDK 11 has been closed source since April 16, 2019 (https://www.oracle.com/java/technologies/javase-jdk11-downloads.html). If you need Java sources for everything in GraalVM, I recommend using GraalVM CE.

[2020-09-02 22:41] #2776 closed

[2020-09-03 06:48] peter-hofer commented on #1788
Fixed in 1b42c794087070d8fac505a581beca025d1043a8. Thanks!

[2020-09-03 06:48] #1788 closed

[2020-09-03 08:24] #1771 closed

[2020-09-03 08:25] msandy10 commented on #1771
Editor formatting issue, closing this issue

[2020-09-03 08:59] oubidar-Abderrahim commented on #2804
Currently, GraalVM's Node does not support WebAssembly.

There are plans for adding support to WebAssembly for GraalVM's Node. But not any time soon.

Unfortunately, there is no workaround for this, using GraalVM.

[2020-09-03 10:13] oubidar-Abderrahim commented on #2805
GraalVM 20.2.0 uses node v12.18.0 instead of v14.4.0.

There is a known issue related to warm-up in GraalVM; while NodeJS is interpreted and can start fast on a V8 engine, GraalJS is compiled and takes time to do so. there is a lot of efforts done in this area to reduce the start-up time but we do not expect it to be as fast as NodeJS.

The real peak of performance is seen in long-running Node app

[2020-09-03 10:14] oubidar-Abderrahim commented on #2807
There is a known issue related to warm-up in GraalVM; while NodeJS is interpreted and can start fast on a V8 engine, GraalJS is compiled and takes time to do so. there is a lot of efforts done in this area to reduce the start-up time but we do not expect it to be as fast as NodeJS.

The real peak of performance is seen in long-running Node applications, applications that consume resources and memo

[2020-09-03 10:15] oubidar-Abderrahim commented on #2807
Same as #2805; closed as duplicated.

[2020-09-03 10:15] #2807 closed

[2020-09-03 10:28] oubidar-Abderrahim commented on #2808
@ericlabouve, Sure, it is possible to get in contact with the Java team but as @dougxc mentioned. OracleJDK is closed source and cannot be made public under any circumstances. GraalVM CE, on the other hand, is based on OpenJDK which is open source.

[2020-09-03 10:34] #2804 closed

[2020-09-03 13:27] galderz commented on #2535
I've found myself needing this today. Btw, not the first time asked, @Sanne already asked for this in #1884 last year.

[2020-09-03 13:28] galderz commented on #1884
I found myself needing this today and found that it was asked again earlier this year: #2535

[2020-09-03 13:51] gradinac commented on #2787
Hey @starkgate, sorry for the late answer on this. Is that an option you are passing in manually? If not, I suspect gcc might be passing this option in that case. Could you post the output of your build, with the addition of the following option: `-H:Log=InvokeCC`? It should provide us with the underlying command. If we don't see the option, then it's most likely something on the gcc side of thing

[2020-09-03 14:21] oubidar-Abderrahim commented on #2806
`node-fibers` contains some native parts that rely heavily on low-level implementations of the V8 engine. Unfortunately, these hacks do not work and cannot be replicated on Node in GraalVM (where V8 is replaced by GraalJS).

Note that even the author of fibers admits that his package is obsolete and that its use should be avoided if possible: https://github.com/laverdet/node-fibers

[2020-09-03 14:22] #2806 closed

[2020-09-03 15:36] vjovanov commented on #2535
I would be reluctant to introduce this feature as I believe, it would make the progress of the community slower. If there is a problem in the library, the right approach is to submit a PR to that library.

Also, as @eginez pointed out, this can be achieved via other means (e.g., preprocessing). I would like to understand why submitting a PR to a library is not possible? Also, what makes it hard to

[2020-09-03 17:47] agilob opened #2829 "Compilation fails without --report-unsupported-elements-at-runtime"
**Describe the issue**

I'm getting the error below when native-image.properties doesn't contain `--report-unsupported-elements-at-runtime`

Uncommenting the parameter produces working native-image.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone git@github.com:agilob/mhipster-graal.git
2. `MICRONAUT_ENVIRONMENTS=prod ./gradlew assemble && bash .

[2020-09-04 01:03] kdvolder commented on #779
I found the doc that I think were written in response to this ticket.
https://www.graalvm.org/reference-manual/native-image/Properties/

The docs seem pretty clear, however, it looks like things do not actually work as is described. From what I can tell system properties passed to the image at runtime as `-Dfoo=bar` arguments do not get set.

I tested this in my app as follows:

[code]

And I run

[2020-09-04 01:16] kdvolder commented on #779
I deleted my comment. Explanation: please disregard for now. What I posted before was incorrect. I'm still trying to understand something and may post something again later.

[2020-09-04 07:32] bajajyog opened #2830 "Graal VM Native image UPX Compression"
**Describe the issue**
For me, native image size is 337 MB. I want to deploy native image to AWS lambda. there max size allowed is  250 MB. I used UPX to reduce the image size. in linux AMD 64, after compressing and running the image, following error is coming. let me know if you can provide any clue. i already opened ticket with UPX team for this.

"Fatal error: Failed to create a new Isolate. (c

[2020-09-04 07:38] bajajyog commented on #2830
[graal-native-image-hello-world 2.zip](https://github.com/oracle/graal/files/5173369/graal-native-image-hello-world.2.zip)

[2020-09-04 08:36] oubidar-Abderrahim commented on #2829
@agilob did you try to run the native-image-agent to generate config files?

[2020-09-04 09:11] agilob commented on #2829
I have run `java -jar  -agentlib:native-image-agent=config-output-dir=config-files build/libs/mhip-2-0.0.1-SNAPSHOT-all.jar` before and put simplified generated config files to meta-inf.

By simplified I mean I removed some classes that micronaut handles during compilation, so it would be duplicated.

[2020-09-04 09:25] agilob commented on #2829
@graemerocher commented on gitter that method handles aren't supported yet by graal. Is this a duplicate then?

[2020-09-04 09:28] oubidar-Abderrahim commented on #2829
Yes indeed, method handles are not supported by GraalVM currently. This is a duplicate

[2020-09-04 09:34] #2829 closed

[2020-09-04 09:57] oubidar-Abderrahim commented on #2830
@bajajyog  Just to be clear, the native-image was working correctly and without error when it was 337MB, but when you used UPX Compression you got an error. Is that correct?
Also when using UPX Compression you only get the error in Linux AMD 64? not in macOS?

[2020-09-04 10:20] agilob commented on #2829
Can you please link duplicates together and where is this being worked on?

[2020-09-04 10:27] oubidar-Abderrahim commented on #2829
Duplicate of #955
As mentioned in #955, `MethodHandle` allows nested composition, i.e., complex arbitrary expressions that can be changed at run time and therefore not compiled ahead of time.

Maybe @christianwimmer can shed more light on this.

[2020-09-04 11:46] starkgate commented on #2787
Hope this is what you want: https://pastebin.com/V2dJ38x5

[code]

[2020-09-04 13:37] gradinac commented on #2787
That is good, we have the following command that was executed:
[code]
`gcc` internally invokes `collect2` that takes care of calling the appropriate linker. The culprit only appears in the `collect2` command. After digging a bit further, it seems like `ld.gold` does not support the `--no-dynamic-linker` option. A breakdown of what happens is:
GCC is instructed to create a static executable. Notice

[2020-09-04 13:50] starkgate commented on #2787
My god, it works. At least with the hello world, let's hope nothing more pops up when compiling more complex apps. Thank you for all the help thus far, it's truly appreciated!

[2020-09-04 13:50] #2787 closed

[2020-09-04 13:52] ezzarghili commented on #2830
@bajajyog What version of UPX are you using ?

[2020-09-04 14:00] gradinac commented on #2787
No problem at all! I'm glad to hear it works :) Hopefully, once those issues are addressed this will be a lot easier so that one day we can also support that platform out of the box.

[2020-09-04 14:34] gilles-duboscq commented on #2818
This was fixed by https://github.com/oracle/graal/commit/5987b4bc6d091af7f9e6d73a8135855643756e0a

[2020-09-04 14:34] #2818 closed

[2020-09-04 14:38] bajajyog commented on #2830
I am using UPX 3.96 Linux/amd. native image runs file without compression. After compression by UPX, it crashes.

[2020-09-04 16:12] ezzarghili commented on #2830
Can you try out  UPX 3.94, I remember using UPX 3.95 last year for some demo talks but it had some regressions, switching to 3.94 worked for me at the time.

[2020-09-04 17:01] bajajyog commented on #2830
I tried with UPX 3.94, 3.93,3.92, 3.91, no success

[2020-09-05 09:14] ezzarghili commented on #2830
I don't think we can help much in this as the generated native image works, the issue is definitely related to the compression method.

But with regards to your original issue with size, you could make the image smaller by actually analyzing what is included in the native image snapshot using [GraalVM Dashboard](https://www.graalvm.org/docs/tools/dashboard/) you can find how to use it [here](https

[2020-09-06 03:48] bajajyog commented on #2830
Please refer the analysis from UPX for this issue.

https://github.com/upx/upx/issues/405 #

[2020-09-06 04:38] zohar-soul commented on #1909
Had the same problem

[2020-09-06 11:57] jaikiran commented on #1999
Hello @christianwimmer,

Given that there is interest in supporting this use case, I've opened a PR https://github.com/oracle/graal/pull/2831 with the potential changes to support this. The PR has the necessary details about the change.

[2020-09-07 01:31] swiftma commented on #2809
any progress on this?I have the same issue.

[2020-09-07 03:08] dmlloyd commented on #2809
Does it even make sense to have JRT support in a native image? Why would it have that filesystem at run time?

[2020-09-07 06:02] swiftma commented on #2809
the code simply calls a groovy script , which calls println, then triggers the exception stack ....

[2020-09-07 07:30] sdeleuze commented on #2748
@dougxc We have the choice of the LabsJDK version we use so I have switched to the debug variant. The bug is transient so by nature we can't reproduce it for every `native-image` invocation but we can provide a way to run the build until this bug is reached. Let me first check what is the result of this bug with those new JDKs.

[2020-09-07 09:50] d-kozak commented on #2417
I've experimented with this issue and noticed that the resource bundles are no longer being added via command line flags in the sample project. The flags were removed in the commit
https://github.com/spring-projects-experimental/spring-graalvm-native/commit/b1efa9f70682b6e386a07897c0fd7ad872dd34f7
(Also, the project was renamed from springmvc-tomcat to webmvc-tomcat). I've run the build script and

[2020-09-07 10:05] maxandersen commented on #2535
1) libraries does not necessarily release with the speed you need
2) removing invalid properties means forking/modifiying which one can do (we know we will have to it already in quarkus as many libs don't apply these things properly)

note we will properly already need to do the #2 processing but still find it interesting we can explicitly turn off graalvm/native-image processing of bundled conten

[2020-09-07 10:09] galderz commented on #2535
From the POV of Quarkus, an integrator, we try to make an environment as efficient as possible for our users. We do native image configuration that is more aggressive than what libraries are ready to offer to the general public. We are one of their use cases, and so it'd be unfair for us to impose such configuration on all the libraries' users. At the same time, it's unfair for integrators to be f

[2020-09-07 10:41] Sanne commented on #2535
@vjovanov we've been sending PRs to upstream libraries often, but now since I don't have this switch I regret doing so: by the time such metadata is accepted, merged, a release is happened, and then other libraries of a more complex platform are ready to upgrade to such latest version, it's highly likely that some tweaking is possible.

For example, if we start working / experimenting with a new o

[2020-09-07 10:47] Sanne commented on #2535
P.S. I wrote about what we did in Hibernate ORM here:
 - https://in.relation.to/2020/02/14/hibernate-orm-5-4-12/

In particular I should stress that I had to move this metadata insto a separate artifact, so to allow people to exclude it.

I also contribute to several other libraries (100+ !) but I won't be adding rules in `META-INF` in any library if we don't have a way to disable / override them;

[2020-09-07 13:56] peter-hofer commented on #2830
Should be solved by the recently introduced fallback when mapping an image fails: https://github.com/upx/upx/issues/405#issuecomment-688342502

[2020-09-07 13:56] #2830 closed

[2020-09-08 00:22] bajajyog commented on #2830
I was working on graal vm EE 20.1.1  and UPX was not working for me. Now I am using Graal VM CE latest 20.30 DEV build. There UPX is workring   fine.

[2020-09-08 09:23] vjovanov commented on #2535
It would be very useful to have a list of cases where things went wrong in PRs made to the libraries. That way we could define what are the best practices related to native image configuration. Those practices would guide library authors on how to do configuration properly.

As for the flag to disable part of the config, I realize that it can be a useful tool. When designing this tool we need to k

[2020-09-08 09:47] Sanne commented on #2535
thanks @vjovanov , and yes I agree about the annotations described in the document.

I had mentioned the same in a comment on that document last week, which then someone resolved stating it was not a goal in the "first phase". While I generally agree with the need to structure code sprint in smaller phases, I would hope that a general override switch isn't too complex to implement, so maybe there'

[2020-09-08 13:04] sdeleuze commented on #2748
@dougxc Could you please share some guidance on what we could do to provide you more insights now that we use the debug builds?

[2020-09-08 13:10] sdeleuze commented on #2560
I think we can close this issue now.

[2020-09-08 13:10] #2560 closed

[2020-09-08 13:12] sdeleuze commented on #2657
Indeed it seems this has been fixed.

[2020-09-08 13:12] #2657 closed

[2020-09-08 13:18] dougxc commented on #2748
Do you have a new hs-err file from the debug build? Maybe it provides more detail that @adinn might be able to decipher. If not, then the next step is to add assertions to the C++ to try work out what's going wrong. My suspicion is still that there's something wrong in the JFR backport but I do not know that code very well.

[2020-09-08 13:35] sdeleuze commented on #2748
Let me reproduce the bug locally and provide you the hs-err file.

[2020-09-08 13:47] ziyilin opened #2835 "Java system properties are inconsistent between traditional JDK and native image"
**Describe the issue**

 Java system properties are changed from native image to OpenJDK. Some properties are removed, and some properties' values are changed. When user call `System.getProperty`, he/she may expect a consistent value with OpenJDK version. Or at least a warning is reported at build time. We propose https://github.com/oracle/graal/pull/2834 to fix this issue.

**Steps to reproduce t

[2020-09-08 14:16] DeanWookey opened #2836 "UserError.Abort can cause MissingFormatArgumentException"
**Describe the issue**
Building a native image with a generated reflection configuration file as well as jni-config.json, proxy-config.json, and resource-config.json (as described here: https://github.com/oracle/graal/blob/master/substratevm/Configuration.md) may cause an error which causes the UserError.Abort method to fail, resulting in an unhelpful error message.

**Steps to reproduce the issue

[2020-09-08 14:29] adinn commented on #2748
Hi @sdeleuze @dougxc I think the culprit is probably this issue just reported in the JDK8 JVM

  https://bugs.openjdk.java.net/browse/JDK-8252904

It certainly looks likely as the cause of this issue.

Andrey Petrushkov has proposed a patch for it in the jdk8u mail list which I am reviewing now.

  https://mail.openjdk.java.net/pipermail/jdk8u-dev/2020-September/012642.html

It looks like his patc

[2020-09-08 23:59] #951 closed

[2020-09-09 08:45] rpuch commented on #2820
The corresponding issue at Quarkus github seems to be https://github.com/quarkusio/quarkus/issues/11923

[2020-09-09 09:28] oubidar-Abderrahim commented on #2836
Could you please follow these steps to build the native-image

1. make sure that the application compiles and executes correctly. (sometimes the error is in the code, we just miss it).
2. run the application again this time using the command `java -agentlib:native-image-agent=config-output-dir=path_to_the_folder_in_which_you_want_to_put_the_generated_config_files -jar your_application.jar` (please

[2020-09-09 10:22] DeanWookey commented on #2836
I think I have managed to get past that point (I have another error now, which I'm working through).

The bug report is not to do with the native image failing, but to do with the fault reporting itself crashing.

If you look at the code relevant to this line: com.oracle.svm.hosted.config.ConfigurationParserUtils.doParseAndRegister(ConfigurationParserUtils.java:138)

[code]
It's trying to throw a

[2020-09-09 11:39] oubidar-Abderrahim commented on #2836
@cstancu can you take a look at this.

[2020-09-09 20:40] maxboehm commented on #2774
Same here, it is a clean installation:
GraalVM: graalvm-ce-java11-20.2.0
Eclipse: eclipse-jee-2020-06-R-win32-x86_64
OS: Windows 10
Architecture: AMD64

[2020-09-10 04:14] jaikiran commented on #2836
I've opened https://github.com/oracle/graal/pull/2838 with a potential fix

[2020-09-10 09:15] ziyilin opened #2839 "undefined reference to `JNI_OnLoad_jaas' and `JNI_OnLoad_sunec'"
**Describe the issue**
This commit https://github.com/oracle/graal/commit/8fb8fc502411b3c84308ff5cda4d6c1f775f3920 generates symbol such as JNI_OnLoad_jaas for all JDK versions. However, JDK 8 doesn't mandatory require JNI_OnLoad_L method for static libraries. And in fact sunec and jaas libraries in JDK8 don't have such method.

**Describe GraalVM and your environment:**
 - GraalVM version (latest

[2020-09-11 00:05] abamoshe commented on #2363
thanks, i had the same issue and this fixed it

[2020-09-11 09:44] fcurts commented on #1644
Any chance to get this fixed? We just spent a day diagnosing and fixing a Truffle version conflict. With people moving from Nashorn to Graal.js, this will become more common.

[2020-09-11 10:12] #1579 closed

[2020-09-11 12:15] fniephaus commented on #1579
https://github.com/oracle/graal/commit/c9ec1e9542ffd2a09a4fdf9702605529079a7584#diff-edced7f79cef978b51ff44cf05ec22cc is the corresponding commit.

[2020-09-11 12:24] arodionov commented on #2839
@ziyilin are you using `graalvm-ce-java8-20.2.0` for Linux?
It contatins all required static libraries:
[code]

Regarding mandatory of `JNI_OnLoad_L` method please read the following discussion  https://github.com/oracle/graal/commit/8fb8fc502411b3c84308ff5cda4d6c1f775f3920#commitcomment-39100664

[2020-09-11 13:40] boris-spas commented on #1579
^ yes! Thanks! Forgot to give context.

[2020-09-11 14:31] zakkak opened #2841 "Quarkus native tests fail after 1b7b2c8c72dd6e3c3601f9e20705cd8b92c46f06"
**Describe the issue**
After 1b7b2c8c72dd6e3c3601f9e20705cd8b92c46f06 quarkus is failing with:
[code]

See https://github.com/oracle/graal/pull/2840/checks?check_run_id=1102052270#step:17:122

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Build latest graal with `mx --primary-suite-path substratevm --components='Native Image' build`
2. `export JAVA_HOME=$

[2020-09-11 15:00] mipastgt commented on #911
Is there still no progress on this issue after nine months? For some applications this is a show stopper.

[2020-09-11 16:25] ziyilin commented on #2839
I'm using a GraalVM built from tag `vm-20.2.0` with Alibaba's own JDK8 which is also a downstream of OpenJDK. Copying existed static libraries from `graalvm-ce-java8-20.2.0` release can be a temporary workaround, but not an ideal solution. Adding new symbol into libraries is not so simple, we may need to evaluate the impact to our users in Alibaba.

[2020-09-11 18:05] angelica-moreira commented on #1110
Hi Tehreem Fatima,

I know this is an old question and maybe you have figured out a way to fix it, but I wanted to let you know that I had the same problems as you. I found out that the main issue, on my side, was that I was trying to use the latest version of Eclipse instead of the recommended version (4.7.3a). You may experience some problems when running this version but the reason might be tha

[2020-09-11 19:23] abamoshe opened #2842 "no awt in java.library.path"
hare is my project https://github.com/abamoshe/ConnectWise_portable/releases/tag/0.0.0
im running native-image -jar ConnectWise.jar --no-fallback -H:NativeLinkerOption=prefs.lib
and on runtime i get this error:
[code]
(the -H:NativeLinkerOption=prefs.lib is becose of https://github.com/oracle/graal/issues/2363#issuecomment-619426179
i'v also downloaded the dev version to avoid this https://github.

[2020-09-11 20:22] zakkak commented on #2841
\cc @cstancu

[2020-09-11 20:59] pshirshov opened #2843 "Default Scala threadpool fails to initialize under 20.2 while 20.1 works perfectly"
I'm getting the following stacktrace on `native-image` 20.2 when my Scala application tries to execute `ExecutionContext.global`:

[code]

Exactly the same code works perfectly when built on 20.1.

I have both these lines in my NI arguments:

[code]

It happens on both Java 8 and Java 11 versions:

[code]

[code]

[code]

[code]

[2020-09-12 02:27] jaikiran commented on #2841
I've opened https://github.com/oracle/graal/pull/2844 with a potential fix.

[2020-09-12 03:50] mmoayyed opened #2845 "Native-Image on MacOS Catalina: Unable to compile C-ABI query code"
**Describe the issue**
Attempting to build a native image creates:

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps

[code]

**Describe GraalVM and your environment:**

[code]

When I run: xcode-select --install, I get back `xcode-select: error: command line tools are already installed, use "Software Update" to install updates`

Also,

[code]

**More d

[2020-09-12 14:28] ebremer opened #2847 "Minimal embedded Jetty program compiles to native exe but throws an java.lang.NoClassDefFoundError: Could not initialize class org.eclipse.jetty.http.HttpTokens"
**Describe the issue**
Minimal embedded Jetty program compiles to native exe but throws an java.lang.NoClassDefFoundError: Could not initialize class org.eclipse.jetty.http.HttpTokens error when connecting to http://localhost:8080

This is using the latest Jetty 9.4.31.v20200723, however, everything works fine reverting to Jetty version 9.4.3.v20170317.

**Steps to reproduce the issue**
1) git clo

[2020-09-12 18:53] t3rmian commented on #1902
Hi there!

I've run the image build for a basic Vert.x (3.9.1) app with this [GraalVM CE 20.3.0-dev-20200912_0211](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.3.0-dev-20200912_0211) (*graalvm-ce-java11-linux-amd64-dev*) with `--trace-class-initialization=io.netty.util.NetUtil` and this is what I got:
[code]
So, I then added `io.netty.resolver.dns.DnsServerAddressStreamProvider

[2020-09-13 15:43] t3rmian commented on #2063
I can confirm that [GraalVM CE 20.3.0-dev-20200912_0211](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.3.0-dev-20200912_0211) (*graalvm-ce-java11-linux-amd64-dev*) fixed the issue for me at least. With 20.2.0 for the same arch, I was getting linker errors with undefined references to `Java_java_util_prefs_FileSystemPreferences`.

[2020-09-13 23:20] starkgate commented on #2787
@gradinac If I run `mx --env ni-ce build` from graal/vm, where should I put the static libraries? I'm getting the same `error:java.util.UnknownFormatConversionException` as before, despite graal/substratevm working fine and the static libs placed in `$JAVA_HOME/lib/static/linux-amd64/musl`.

[2020-09-14 01:31] mcraj017 commented on #2843
@pshirshov Please share the reproducer for the reported error.

[2020-09-14 01:44] mcraj017 commented on #2842
@abamoshe please provide the reproduce or the instructions to reproduce this error

[2020-09-14 02:53] mcraj017 commented on #2845
@mmoayyed As per my initial check, I can see that there is a bug reported in openjdk regarding posix_spawn failure, which is not yet back ported to Java 11
https://bugs.openjdk.java.net/browse/JDK-8223777
for the time being, I will check further and update you

[2020-09-14 08:26] oubidar-Abderrahim commented on #2847
Do you get the same error while using the current version v20.2.0? what happens if you remove the `--report-unsupported-elements-at-runtime` flag?

[2020-09-14 10:58] gradinac commented on #1902
@t3rmian Thank you for verifying this! :)
I will be closing this issue for now but if any more problems arise we can either reopen it or create a new issue.

[2020-09-14 10:58] #1902 closed

[2020-09-14 11:01] gradinac commented on #2063
@t3rmian Thank you for checking this out, I'm glad that it solved it!
As the original problem was for JDK 8 on Darwin, I will keep this issue open as that's the only platform - Java version combination that this fix doesn't work for.

[2020-09-14 11:09] gradinac commented on #2787
The UnknownFormatConversionException should be fixed in https://github.com/oracle/graal/commit/e555fca6de15fcd4d2bbbbb4e707b7496ee15b6e.
As for the issue you are hitting, if I understood you correctly: `cd substratevm && mx build` works but `cd vm && mx --env ni-ce build` fails?
The exact same code should run for the static library discovery. Could you verify that JAVA_HOME is indeed pointing to t

[2020-09-14 11:44] starkgate commented on #2787
Exactly. Tried `mx --java-home $JAVA_HOME --env ni-ce build` too, no change.

[2020-09-14 11:54] gradinac commented on #2787
Hmm, perhaps it's due to the difference in the environment - is this the build you've been using for your hello world native-image? I suspect this doesn't occur due to the difference in the suites - to verify that, you can run `NATIVE_IMAGES=lib:native-image-agent mx build` from `substratevm`
I think something else happens here - we currently do not support running GraalVM on anything other than `

[2020-09-14 12:05] starkgate commented on #2787
This does indeed cause the same crash outlined before in substratevm.

I assume you meant `$JAVA_HOME/static/lib/linux-amd64`. The same thing happens after that change. Here's the output of the tree command:

[code]

[2020-09-14 12:17] gradinac commented on #2826
Hey @sendev1, I think https://github.com/oracle/graal/commit/551bcea220209a91cdd06a398679cad3cd77b7c7 contains a fix for the issues you are facing - could you verify if the error still occurs with the latest GraalVM dev release?

[2020-09-14 12:21] gradinac commented on #2787
You are correct, my bad - I've edited the above comment to reflect the proper path :)
Hmm, could you fix the error at `com.oracle.svm.hosted.c.NativeLibraries.initCLibraryPath(NativeLibraries.java:334)`? You can do that by replacing %U in that string with %nU - this should give us the proper error message.

[2020-09-14 12:57] starkgate commented on #2787
Here's the proper error message:
[code]

[2020-09-14 13:32] ebremer commented on #2847
Same issue with 20.2.0.  I tried the dev build to see if it was an issue already fixed before reporting it../eJet.  Without that flag, I get:

[code]

[2020-09-14 13:47] gradinac commented on #2787
This warning: `WARNING: Using an older version of the labsjdk-11.` suggests that it didn't find the folder with the static libraries that it was looking for. The logic for searching the libraries is here: `com.oracle.svm.hosted.c.NativeLibraries#getPlatformDependentJDKStaticLibraryPath`. Could you print the search path that it is looking for by replacing
[code]
with
[code]
That way we should see w

[2020-09-14 14:04] abamoshe commented on #2842
just download the jar from hare https://github.com/abamoshe/ConnectWise_portable/releases/tag/0.0.0 and run `native-image -jar ConnectWise.jar --no-fallback` (but to avoid `unresolved external symbol Java_java_util_prefs_WindowsPreferences` error
 you need to add -H:NativeLinkerOption=prefs.lib (https://github.com/oracle/graal/issues/2363#issuecomment-619426179)

[2020-09-14 14:08] ebremer commented on #2847
if I add "-H:+ReportExceptionStackTraces" and run it, I get:
[code]

[2020-09-14 14:19] starkgate commented on #2787
Here's the result, always with `cd vm && mx --java-home $JAVA_HOME --env ni-ce build`: `Searching for libraries at /mnt/shared/AoTandSCONE/scripts/graal/sdk/mxbuild/linux-amd64/GRAALVM_FECDE662FF_JAVA11_STAGE1/graalvm-fecde662ff-java11-20.2.1-dev/lib/static/linux-amd64/glibc`

Placing the libraries there seems to work. Next come a series of errors about GNU environment variables. I suppose this is

[2020-09-14 14:22] gradinac commented on #2787
You are correct, although I find it very strange that the libraries did not end up being placed there. Perhaps we could try `mx ... clean --all` before building? As for the issue you are hitting now, you are correct - this is because it is using GNU only types on a musl based system. There are no clean workarounds for this at the moment, but if you just want it to run, you can change `com/oracle/s

[2020-09-14 14:26] abamoshe commented on #2842
@mcraj017
the problem is basically with the tray icon hare is a simple snippet  of code wat makes a simple demo tray icon
[code]
just run `javac TrayIconDemo.java` then `native-image TrayIconDemo --no-fallback` and then `trayicondemo.exe`
and the error
[code]

[2020-09-14 14:38] starkgate commented on #2787
Running `mx --java-home $JAVA_HOME --env ni-ce clean --all` seems to fix the missing libs problem. Modifying LibCFeature fixes the POSIX errors. On to the next error! I guess I need to add the --static option somewhere (and probably the other options like ForceNoROSectionRelocations too), the question is where?

[code]

[2020-09-14 14:43] gradinac commented on #2787
The first error you've encountered was probably something due to mx not figuring out that the JDK has changed and not updating the build accordingly. As for the next error, you can remove `com/oracle/svm/core/posix/linux/libc/MuslLibC.java:38` the error condition from here. This check was in place to prevent users from accidentally generating dynamic native-images linked against musl. However, as

[2020-09-14 15:43] olpaw commented on #2839
@ziyilin you are probably looking for
https://github.com/graalvm/graal-jvmci-8/commit/792248241ec6a48fad9a5fe631bb40903e175f90

[2020-09-14 16:43] gergo- commented on #2542
Hello again @informarte . Thank you for analyzing the `path_finding` benchmark and confirming that the hash map accesses are a hot part of the computation. (Though it looks like I had misunderstood the phase in which this was relevant in the benchmark.) In our ongoing work on native image performance I will definitely keep an eye on this problem. I will report back once we have results on this.
Re

[2020-09-14 20:25] pshirshov commented on #2843
https://github.com/pshirshov/graalvm202-scala-fence-bug

[2020-09-15 02:03] Malaska678 opened #2848 "This is not feature request but a simple question"
Is the graal vm for linux amd64 also for android aarch32/aarch64?

[2020-09-15 02:40] mmoayyed commented on #2845
Thanks much for the analysis. Looks like a fix will be available for 11.0.9, due for release on Oct 20th. I'll double check once the jdk release is available.

[2020-09-15 03:09] ziyilin commented on #2839
Thanks. Are the patches in `patches/jdk` and `patches/static-libs` automatically applied while running `mx build`, or should I apply them manually before building?

[2020-09-15 06:18] starkgate commented on #2787
libnative-image-agent compiles successfully with your changes, but actually running native-image causes a segfault. I don't want to use any more of your time with this, I'll just wait for Graal to openly support musl.

[2020-09-15 07:33] olpaw commented on #2839
ATM we do not have applying the patches integrated. But it should be possible. The patches are in a directory hierarchy that tells you exactly where in the JDK sources (`.`, `jdk`, `hotspot`) and when (building `jdk`, `static-libs`) you need to apply them. This could be automated.

[2020-09-15 07:36] ziyilin commented on #2839
Thanks, I'll create our own script then.

[2020-09-15 07:36] #2839 closed

[2020-09-15 08:12] jUnG3 opened #2849 "Load C-code from insade a jar"
**Describe the issue**
For my home automatisation project I want to use Java and CAN. I found a nice [library](https://github.com/pschichtel/JavaCAN) that handles the communication with the CAN interface (device). The library uses native compiled C-code to achieve the goal. The C-code is shipped with the `.jar` inside the `/native` directory. My application crashes because the C-code is not availa

[2020-09-15 08:25] oubidar-Abderrahim commented on #2848
We do have a distribution for Aarch64 (you can find the full list [here](https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.2.0).
There was a discussion about using GraalVM on top of Android in this [thread](https://github.com/oracle/graal/issues/632) a few examples can be found [here](https://github.com/gluonhq/client-samples/).

[2020-09-15 08:25] oubidar-Abderrahim commented on #2848
Duplicate of #632

[2020-09-15 08:25] #2848 closed

[2020-09-15 08:28] Malaska678 commented on #2848
I already know that

[2020-09-15 08:29] Malaska678 commented on #2848
So the one that for linux aarch64 is the one that for android aarch64

[2020-09-15 08:37] mcraj017 commented on #2842
@abamoshe thanks for the reproducer

[2020-09-15 08:38] mcraj017 commented on #2845
@mmoayyed So for now I am closing this ticket, Once you check and if the fix is not there,then you can reopen it

[2020-09-15 08:38] #2845 closed

[2020-09-15 08:51] shelajev commented on #2843
This is a known thing in Scala 2.13 where Statics.VM uses methodhandles, for example https://github.com/scala/bug/issues/11634.

I think if you add the scalameta jar with the correct substitutions and initialize Statics.VM at build time, it should work as expected:

[code]

On my machine (I didn't build in Docker) it prints :
[code]

[2020-09-15 08:52] JiriOndrusek opened #2850 "Not implemented yet for GraalVM native images (LCMS.getTagNative(LCMS.java:28))"
**Describe the issue**
I'm implementing camel-quarkus extension for FOP (https://github.com/apache/camel-quarkus/issues/1642).

I ran into following error using `native-image`:

	at sun.java2d.cmm.lcms.LCMS.getTagNative(LCMS.java:28)
	at sun.java2d.cmm.lcms.LCMSProfile$TagCache.getTag(LCMSProfile.java:70)
	at sun.java2d.cmm.lcms.LCMSProfile.getTag(LCMSProfile.java:51)
	at sun.java2d.cmm.lcms.LCMS.

[2020-09-15 08:59] pshirshov commented on #2843
It works well on 20.1, so I'm not sure if it's really just a Scala issue. Thanks for the workaround though, I'll try it.

[2020-09-15 09:27] dougxc commented on #2839
There's two more changes to `patches/` that should land in the next few hours:
* the patch files are prefixed with a number so that they can be applied in sort order
* the symlinks from `patches/static-libs` to `patches/jdk` have been removed. You now need to apply all the patches in `patches/jdk` first and then those in `patches/static-libs`.

[2020-09-15 09:33] Malaska678 commented on #2848
Hey! What about 32 bit devices support?

[2020-09-15 09:34] ziyilin commented on #2839
Are the contents of the upcoming commit same as the previous one? Is it necessary to reapply the upcoming patch if I have already applied the previous one?

[2020-09-15 10:01] oubidar-Abderrahim commented on #2848
@vjovanov

[2020-09-15 11:00] dougxc commented on #2839
No, the content of the patches is the same: https://github.com/graalvm/graal-jvmci-8/commit/d1fe9b10fa4986920e3e258a835a94658cd92756

[2020-09-15 12:04] abertschi commented on #361
Hi everyone, Over the past 6 months I worked on a preliminary peak
performance evaluation of a Truffle-hosted implementation for the PHP
programming language. The language implementation is currently
ca. 4000 LoC and shows promising results in the Computer Language
Benchmark Game benchmarks. We reach speedups of up to 859% compared to
PHP's reference implementation and show competitive to signific

[2020-09-15 13:23] fernando-valdez commented on #2850
Hello @JiriOndrusek, I will take a look at this issue.
Thanks for reporting it.

[2020-09-15 13:26] fernando-valdez commented on #2849
Hello @jUnG3, I will take a look at this issue.

Thank you for reporting it.

[2020-09-15 13:34] JiriOndrusek commented on #2850
@fernando-valdez thanks for looking at it.
In case you need some help (to verify, ...), please add comment for me.

[2020-09-15 14:09] michael-simons opened #2851 "Using -H:ResourceConfigurationFiles with wildcard ${.} in native-image.properties resolves to wrong path."
When using a `native-image.properties` containing the following

[code]

and `resources-config.json` containing a standard like

[code]

`native-image` fails as it try to resolve the `resources-config.json` with an absolute path outside the jar:

[code]

Attached you will find a reproducer:

[code]

Removing the `native-image.properties` and building like this

[code]

works.

**Expectation**

`Re

[2020-09-15 14:40] olpaw commented on #2851
You have to use Option `-H:ResourceConfigurationResources` instead of `-H:ResourceConfigurationFiles` if you want to refer to a Java resource location (which is what you are trying to do here).
[code]

[2020-09-15 14:43] michael-simons commented on #2851
Awesome!! And makes totally sense when you got point to it. My bad.
That would be a nice addition to the docs, though.

Should I close this then?

[2020-09-15 14:45] olpaw commented on #2851
Were would you suggest to add this info in our docs?

[2020-09-15 14:49] michael-simons commented on #2851
Here: https://www.graalvm.org/reference-manual/native-image/Resources/

I just copied and pasted `-H:ResourceConfigurationFiles`.

Of course, I could have read more carefully and the docs are accurate as is.

Helpful would be something like

"For configuration inside your rresources use the `ResourceConfigurationResources` form.

Or as a general block atop https://www.graalvm.org/reference-manual/

[2020-09-15 14:54] olpaw commented on #2851
@michael-simons thanks for the suggestions. I will add something like that.

[2020-09-15 16:22] olpaw commented on #2851
@olyagpl please provide the following patch to our documentation.

[code]

[2020-09-15 23:04] zakkak commented on #2502
HI @gilles-duboscq sorry for the late reply

Re 1.:
So would a flag like `--no-jlinking` be welcome?

Re 2.:

So I need to remove all distributions and dependencies that depend on libraries built from source from the corresponding suite.py files and dynamically create them by defining `mx_register_dynamic_suite_constituents` in the corresponding suite modules.
For LIBFFI those would be dist `subst

[2020-09-16 17:48] jUnG3 commented on #2849
Hello @fernando-valdez, thank you for your time and effort.

[2020-09-16 19:05] MuriloFtto commented on #2261
@amahfouz1 Can you pass this on ?, I have the same problem

[2020-09-17 06:02] yildiz-online opened #2853 "com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported method"
**Describe the issue**
Exception when building native app using maven plugin with update4j dependency

**Steps to reproduce the issue**

1. git clone --depth 1 https://github.com/yildiz-online/test-build-graalvm-linux.git
2. docker run -e NO_DEPLOY=true -v $PWD:/src -v $HOME/.m2:/root/.m2 moussavdb/build-graalvm-amd64-linux64

**Describe GraalVM and your environment:**

 - GraalVM version 20.2.0

[2020-09-17 08:49] kirillp commented on #2849
That means that there is no such file on system FS. loadLibrary only works on underlying **files** on host FS.

anywhere, the best choice is the same location as executable

[2020-09-17 14:32] jUnG3 commented on #2849
Hi @kirillp,

I have placed the `/native` directory next to the executable and also in my system root. The same error still occurs.

[2020-09-17 15:00] fernando-valdez commented on #2853
Hello @yildiz-online,

I will review this issue. I will let you know if I have any questions.

Thank you for reporting it.

[2020-09-17 16:22] sdeleuze commented on #2594
@vjovanov @christianwimmer As discussed recently, could we move this issue to 20.3 since it seems the potential fix for #2500 will fix this one as well?

[2020-09-17 19:47] GenghisChen opened #2855 "chromeinspector-20.2.0.jar forces slf4j binding"
Hello
The chromeinspector-20.2.0.jar contains slf4j package structure and binding.
This means that a project containing chrome inspector, cannot use its own binding; getting this instead:
[code]

If slf4j is required for chrome inspector, it should be a dependency

Thanks
Chen

[2020-09-17 20:36] kirillp commented on #2849
then you should
  - get executable full path
  - get parent if executable path
  - resolve your /native/libMyLib.so against the parent
then System.load it with full file name

however I suggest putting it to the executable folder

This is my code:

[code]

[2020-09-18 04:25] manavsah commented on #2849
Hi Everyone,

I am also facing similar issues. My jar contain a dynamic library("jar!/darwin-x86_64/lib/libcatboost4j-prediction.dylib") but some how not able to it from the dependency jar.
org.jboss.resteasy.spi.UnhandledException: java.lang.UnsatisfiedLinkError: ai.catboost.CatBoostJNIImpl.catBoostLoadModelFromArray([B[J)Ljava/lang/String; [symbol: Java_ai_catboost_CatBoostJNIImpl_catBoostLoadMo

[2020-09-18 05:31] cayhorstmann opened #2856 "Linker failure: undefined reference to `Java_java_util_prefs_FileSystemPreferences_chmod'"
**Describe the issue**

Creating a native image fails with the above-mentioned linker issue.

**Steps to reproduce the issue**

[code]
**Describe GraalVM and your environment:**

GraalVM graalvm-ce-java11-20.2.0
JDK 11.0.4
OS: Ubuntu Linux 20.04.1
Arch. amd64

**More details**
Consider adding the `--native-image-info` and  `--verbose` flags when building your native image and paste output below.

[2020-09-18 09:27] chumer commented on #2855
@entlicher is this dependency an optional one?

It seems the Maven descriptor does not show these dependencies. I think this should be fixed.
See:
https://repo1.maven.org/maven2/org/graalvm/tools/chromeinspector/20.2.0/chromeinspector-20.2.0.pom

FYI: If you use GraalVM you don't have any of these problems. There the inspector and JS classpath is fully separated from the application.

[2020-09-18 09:31] oubidar-Abderrahim commented on #2856
Did you try to use the native-image agent to generate config files?

You can do so by using the command `java -agentlib:native-image-agent=config-output-dir=conf-dir -jar youApp.jar`
For generating the native-image you can use `native-image -H:ConfigurationFileDirectories=conf-dir -H:+ReportExceptionStackTraces -H:+StackTrace --no-server --no-fallback -jar youApp.jar`

[2020-09-18 09:48] entlicher commented on #2855
The chromeinspector.jar was originally designed as self-contained. It bundles nano-httpd and also java-websocket, which requires the slf4j. We'd need to remove all the libraries from it.

[2020-09-18 09:50] entlicher commented on #2855
The maven descriptor does not show these dependencies, because there are no such dependencies when it contains the libraries already. We need to separate that.

[2020-09-18 09:58] mathbagu commented on #617
I have the same issue with the last version. The information in the documentation is not working at all:

[code]

Could you please reopen the issue or fix the documentation? Do we have to pass options to the JVM?

[2020-09-18 10:04] cayhorstmann commented on #2856
Unfortunately, that makes no difference. It fails with the same linker error message.

[2020-09-18 12:59] johanvos opened #2857 "OS mismatch on ios as of XCode 12"
**Describe the issue**
Since XCode 12, the linker will fail if object files are built for macOS while targeting an iOS executable:
ld: building for iOS, but linking in object file built for macOS, file '.../llvm.o'

We already compile the .c and .m files with -miphoneos-version-min=12 and with a -sysroot pointing to an ios SDK, but the .bc files are compiled into .o files with the GraalVM bundled

[2020-09-18 13:10] vkukk commented on #2377
Any ETA for this?

[2020-09-18 13:34] ezzarghili commented on #2377
sha264 files will be available with releases starting next release.

[2020-09-18 13:40] omar391 opened #2858 "Graalvm 20.2.0 with Groovy+JDK8 throws runtime NullPointerException/Stream closed exception"
**Describe the issue**
The image generated use the following environments and option. However, not sure how to reproduce the err from a sample code as it get generated from private codes and this whole native code generation is confusing.

**Describe GraalVM and your environment:**
 - GraalVM version CE 20.2.0 stable build
 - JDK major version: **8**
 - Groovy version: **3.0.5**
 - OS: **(Win 10)

[2020-09-18 14:31] gradinac commented on #2856
Hey @cayhorstmann!
The cause of this issue is that the `prefs` library is not being linked in properly - we have addressed this issue and the fix will be included in GraalVM 20.3 - you can test whether the fix would work using one of our nightly builds from https://github.com/graalvm/graalvm-ce-dev-builds/releases

You could also try adding the following option to the native-image builder to force

[2020-09-18 14:50] johanvos commented on #2857
The following patch fixes the link issue on iOS:
[code]
However, this won't allow arm64 to be used on macosx

[2020-09-18 15:01] cayhorstmann commented on #2856
Thanks very much for the fast turnaround. It works with the added option.

[2020-09-18 15:01] #2856 closed

[2020-09-18 16:52] jramirez-isc commented on #2858
Hi @omar391
Without a reproducer is hard to tell.
But the error seems to be related to class initialization at run-time/build-time. You can get more info about that here: https://github.com/oracle/graal/blob/master/substratevm/ClassInitialization.md

Does the issue occur at build-time or run-time?

[2020-09-18 23:07] omar391 commented on #2858
@jramirez-isc , Thanks for replying. This issue happens at runtime. There are several issues at if i don't specify `"option '--allow-incomplete-classpath', option '--report-unsupported-elements-at-runtime'"` these 2 options. I will see if I can shorten it into a reproducible block. In general, based on my search and readings, it seems, Groovy is not well matched in Graal native image story.

[2020-09-19 09:24] jUnG3 commented on #2849
Thank you @kirillp, your suggestion fixed the problem.

I had to remove the runtime initialization `--initialize-at-run-time=tel.schich` and do it "manually".
The fix is applied in `org.junge.Application`.

[2020-09-19 09:24] #2849 closed

[2020-09-19 16:55] pshirshov commented on #2843
Upd: the workaround works. Though I believe it still a good idea to investigate why did it work before 20.2.

[2020-09-19 21:11] pshirshov opened #2863 "`native-image` hangs then crashes after a watchdog event"
It's very hard to make a proper report for this issue.

Sometimes (like once per six runs) when I build my project on my CI `native-image` hangs then crashes with the following diagnostics:

[graal_crash.txt](https://github.com/oracle/graal/files/5250609/graal_crash.txt)

Normally my project takes about 1300 seconds to build on that machine (and about 6 minutes on my 3970x desktop). When this happ

[2020-09-20 18:12] pshirshov commented on #2863
The stage log right before the crash:

[code]

[2020-09-20 21:49] oleksandr-ilin commented on #287
I refactored one of Real World app from Spring Boot to Quarkus/Panache.
That apps are usual micro-services. In my case with PostgreSQL DB, JWT security and RESTful API.
You can check different real world apps here:
https://github.com/gothinkster/realworld

My Quarkus app has Uber jar 43Mb and native linux binary is 82.5Mb!
The similar Go app has just 16Mb

5 time thinner!

Is it because native bui

[2020-09-21 06:28] marjanasolajic commented on #2594
We have a research project that looks at method inlining before static analysis https://github.com/oracle/graal/pull/2860. In https://github.com/oracle/graal/pull/2860#issue-489679740 you'll find examples for fixing https://github.com/oracle/graal/issues/2500.

[2020-09-21 06:30] marjanasolajic commented on #2594
We have a research project that looks at method inlining before static analysis https://github.com/oracle/graal/pull/2860. In https://github.com/oracle/graal/pull/2860#issue-489679740 you'll find examples for fixing https://github.com/oracle/graal/issues/2500.

[2020-09-21 08:36] oubidar-Abderrahim commented on #2863
Could you please provide a reproducer and steps to see this issue

[2020-09-21 08:58] Sanne commented on #287
On this point specifically: consider that the native binary is including the whole of all JDK classes and Substrate, the "JVM" runtime. The "fat jar" only includes your application code and its dependencies, so you would need to add the size of the JDK for a fair comparison.

A good way to compare is via the (full) disk size of a docker image: in the case of native-image make you can wrap an empty

[2020-09-21 09:06] Sanne commented on #287
@vjovanov in Quarkus we make sure many immutable structures that frameworks needs are initialized as a constant during compilation, so for example many such String and HashMap are "ready to go" and guaranteed immutable.

I also noticed these take quite some space; I even had the impression Strings are not de-duplicated - I didn't have time to dig further into detail, but if someone wanted to pursu

[2020-09-21 09:37] dougxc commented on #287
Just a quick note on de-duplication: one would need to be sure that objects subject to de-duplication/converting are never synchronized or have their identity used.

[2020-09-21 10:01] Sanne commented on #287
@dougxc great point, I hadn't thought of that. Regarding - specifically - Strings, I think we can all agree that people should never do this, but I agree it could still be a thing to consider. Perhaps the safe option would be to de-duplicate the underlying byte array?
Some GC implementations do this at runtime, so one could expect to trigger the same process before "casting it all in stone" in the

[2020-09-21 10:10] oilin commented on #287
@Sanne

That is not clear for me. I thought one of the purpose to have the new separate VM like Substrate was actually to have ability do not bring ALL JDK classes and unused stuff into the native binary. So basically having AOT we can do static analysis and remove everything unused and that why we have so long build process for native build, I thought.
Similarly like C LINK links `exe` and picks

[2020-09-21 10:29] adinn commented on #287
The thing that has not been mentioned yet is that much of the image size is contributed by the static OpenJDK static libraries that are now linked into every native image. These cannot be pruned during Java code analysis to remove unwanted code or data because they are not Java code.

In earlier versions of GraalVM Native the behaviour provided by the OpenJDK static libs was reimplemented as pure

[2020-09-21 11:33] oilin commented on #287
@adinn If the problem is `static OpenJDK static libraries that are now linked into every native image`, should it be some constant value for any size of app?
According to the 1st post the Hello World app is ~6.1 MiB so logically it should be added not more than 6+Mb. Rest should be your stuff?
How 43Mb in jar becomes almost 90Mb in the native executable?

Also `disk space in your deployed containe

[2020-09-21 12:39] olpaw commented on #287
@adinn for Linux we compile the static libs with `-ffunction-sections -fdata-sections`. If the image is built with `-H:+RemoveUnusedSymbols` the native linker command makes use of `-Wl,--gc-sections`. While this is not as effective having the code available as Java code it can still remove bits of the static libs that are not referenced anywhere at image link-time.

[2020-09-21 12:46] adinn commented on #287
It would be if all the libs were always linked in. I'm not sure if that is the case.

The libs provide code needed for various native methods e.g. io, maths functions etc. So, selective inclusion of libs according to which JDK classes get linked in may account for the disparity.

Jar sizes are a completely specious metric against which to compare executable size.

Firstly, the sizes are only very

[2020-09-21 14:25] MartinBalin commented on #617
What is the OS you are running it on? Linux in VM or on host?

[2020-09-21 16:44] rafaelfnx opened #2864 "Create a CEntryPointLiteral not working on Windows"
Hello, I'm getting a strange error when trying to pass a pointer to a Java function into the C code of a native Windows library, during the build of a native image.

This is the code of a wrapper class for the function:

[code]

So I pass the pointer of that function to a native windows function:

[code]

I did the representation of the native function in a class that has the C context:

[code]

B

[2020-09-21 18:33] rafaelfnx commented on #2864
Another error message also appears just below the first one I spoke about:

[2020-09-21 19:02] rafaelfnx commented on #2864
I don't believe it was that, but the Procedures class needed to be in context, when I put the `@CContext(WindowsDirectives.class)` annotation it compiled without problems!

[2020-09-21 19:02] #2864 closed

[2020-09-21 23:29] shourien commented on #2188
Hello @jramirez-isc, I have tried the above configurations as mentioned here for generating the native image and I was able to get past the above error by regenerating the config files using the filter and proceed further. However, I encountered another error

[code]

I have `jaxws-tubes-default.xml` in my generated resource-config.json file, for reference below is the config.
[code]

[code]
I hav

[2020-09-22 10:50] samyc1201 commented on #2384
Probably it is not related, but I have been seeing `-H:xxx` arguments for the native-image command, but I couldn't find it [here](https://www.graalvm.org/reference-manual/native-image/Options/). Where are those `-H:xxx` arguments documented actually?

[2020-09-22 11:02] jaikiran commented on #2384
Hello @samyc1201,

The following command should show you all those available options for that particular version of native-image tool:

[code]

[2020-09-22 15:21] petermz commented on #2825
I'm currently working on it. I've got both 8 and 11 versions build on Alpine, but the native-image tool does not work properly: it produces images that crash when run

[2020-09-22 15:46] galderz commented on #2711
@rinx I've just had this same fatal error. I've fixed by changing from:

[code]

to:

[code]

Basically, any reentrant calls back to Java need to be signalled, otherwise the code thinks you're calling it from the wrong place (java instead of native).

[2020-09-22 20:02] abertschi commented on #361
I uploaded the presentation I gave at ETH which summarizes the results of our experimental Truffle-hosted language implementation for PHP.

https://twitter.com/andrinbertschi/status/1308495323774550021

[2020-09-22 20:20] jramirez-isc commented on #2857
Hi @johanvos, thanks for reporting this and for your proposed patch.
Do you have the stack trace error?

[2020-09-22 21:49] cstancu commented on #532
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 21:49] #532 closed

[2020-09-22 21:52] cstancu commented on #955
`MethodHandle` support is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 21:52] #955 closed

[2020-09-22 21:53] cstancu commented on #802
`MethodHandle` support is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 21:53] #802 closed

[2020-09-22 21:56] cstancu commented on #1036
`MethodHandle` support is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 21:56] #1036 closed

[2020-09-22 22:00] cstancu commented on #1306
Thanks for the detailed reproducible. The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:00] #1306 closed

[2020-09-22 22:05] cstancu commented on #2420
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:05] #2420 closed

[2020-09-22 22:11] cstancu commented on #2546
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:12] #2546 closed

[2020-09-22 22:13] cstancu commented on #2654
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:13] #2654 closed

[2020-09-22 22:14] cstancu commented on #2721
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:14] #2721 closed

[2020-09-22 22:16] cstancu commented on #2770
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:16] #2770 closed

[2020-09-22 22:17] cstancu commented on #2843
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-22 22:17] #2843 closed

[2020-09-22 22:30] cstancu commented on #2858
Judging by the name of the class where the error is thrown from this may be a case of missing reflection meta-data. Did you try using the NativeImage agent?

[2020-09-22 23:21] shourien commented on #2188
I can confirm this problem persists even with Java 8.
GraalVM version -> 20.1.0
CE or EE -> CE
JDK version -> JDK8

[code]

[2020-09-23 02:13] cstancu commented on #2850
@JiriOndrusek that doesn't seem to be a GraalVM bug. The error message seems to come from Quarkus https://github.com/quarkusio/quarkus/pull/3246/files to work around AWT limitations.

[2020-09-23 05:13] cstancu commented on #2847
The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-23 05:13] #2847 closed

[2020-09-23 05:37] cstancu commented on #2841
This likely happens because `java.util.concurrent.ThreadLocalRandom` is initialized at run time, then its `<clinit>` is analyzed and the write to the  `ThreadLocalRandom.seeder` static field becomes reachable. Is there a reason why  `java.util.concurrent.ThreadLocalRandom` is (re)initialized at run time, or is there some leftover config in Quarkus? We could support a proper implementation for `set

[2020-09-23 06:08] cstancu commented on #1812
Java system properties support is being worked on in https://github.com/oracle/graal/issues/2835 and AWT support should be coming soon. You can track progress here https://github.com/oracle/graal/issues/2545.

[2020-09-23 06:08] #1812 closed

[2020-09-23 06:21] cstancu commented on #2826
Please reopen if the above-mentioned changeset doesn't fix the issue.

[2020-09-23 06:21] #2826 closed

[2020-09-23 06:24] cstancu commented on #2812
Fixed in https://github.com/oracle/graal/pull/2813

[2020-09-23 06:24] #2812 closed

[2020-09-23 06:33] zakkak commented on #2841
It looks like the re-init was done to work-around the issue that 1b7b2c8c72dd6e3c3601f9e20705cd8b92c46f06 fixes (see https://github.com/quarkusio/quarkus/issues/11573) so I guess it could be removed in future releases (or applied only on GraalVM <=20.2)

\cc @stuartwdouglas @gsmet

I see. Not sure what's the standard here, nor do I have a strong opinion on this. Are there any other similar cases,

[2020-09-23 06:56] cstancu commented on #2677
Fixed by https://github.com/oracle/graal/pull/2674.

[2020-09-23 06:56] #2677 closed

[2020-09-23 09:10] johanvos commented on #2857
The relevant part is

`ld: building for iOS Simulator, but linking in object file built for iOS, file '/Users/johan/gluon/code/gluon-samples/HelloWorld/target/client/arm64-ios/gvm/helloworld/AppDelegate.o'
`
but here is the complete command + error response:
[code]

[2020-09-23 10:37] oubidar-Abderrahim commented on #2863
This is might be related to #2283

[2020-09-23 11:28] Girgias commented on #361
Just to clarify is the reference implementation of PHP you are comparing against PHP 7.4 *without* OpCache support? As IIRC this is the current set-up for the Benchmark Game, due to OpCache needing a preliminary run.

It would also be interesting how this compares to PHP 8.0 and PHP 8.0 with it's newly implemented JIT.

[2020-09-23 11:46] frank-dspeed commented on #361
@Girgias that all got covered watch the video linked on twitter from the comment above your comment

[2020-09-23 12:35] Girgias commented on #361
Just watched it, so PHP 8 Alpha does refer to the JIT version, however doesn't say which settings are used. This is relevant as in the first Beta release (Tagged 4th of August 2020: https://github.com/php/php-src/releases/tag/php-8.0.0beta) Changed some of default options of the JIT (see: https://github.com/php/php-src/commit/0e1e991a89528b571a0271a3f24f9d3c2c36e23a), most notably it changed from

[2020-09-23 12:56] abertschi commented on #361
Thanks a lot for asking! We used the default distribution of PHP 7 available on Ubuntu ubuntu:20.04.

The setup is reproducible in the docker file here:
https://github.com/abertschi/graalphp/tree/master/docker

Please also consider reading the technical report:
https://abertschi.ch/default_public/ethz/graalphp/download.php

The benchmarking infrastructure and timing results are stored in a databas

[2020-09-23 13:06] Girgias commented on #361
Sadly my Docker skills are non existent 😓

I'll try to read this when I have some time :-)

Thanks for the info 👍 the only thing I would probably change is to not use the CLI SAPI (Server API) but PHP-CGI as it seems to generate better results (I know I had some issues getting JIT/OpCache to work on the CLI) as stated in the article I linked above:

As an aside we probably should get back to maint

[2020-09-23 13:45] pabl0rg commented on #361
Aside from performance, key/huge benefit of phpGraal would be running in a managed memory environment.

[2020-09-23 13:50] dotdevru commented on #361
Can we see an opcache.ini ? its important to enable it in cli mode.

[2020-09-23 14:17] sendev1 commented on #2800
any update on this issue please

[2020-09-23 15:48] Sahil308 commented on #343
i got the same error but on windows platform
os-windows 10 64-bit
jdk-11
graalvm-20.2.0

can anyone help me out

[2020-09-23 15:55] vjovanov commented on #343
Can you post your whole environment? That will make it easier to debug what went wrong.
You can also use our slack channels:

 https://www.graalvm.org/community/

@pejovica is PoC for Windows.

[2020-09-23 16:04] Caffeine-01 opened #2865 "Graalvm 20.2.0 Deadlock in chromeinspector.server.CommandProcessThread when debugging"
Found one Java-level deadlock:
=============================
"ajp-nio-0.0.0.0-8009-exec-21":
  waiting for ownable synchronizer 0x0000000572418480, (a java.util.concurrent.locks.ReentrantReadWriteLock$NonfairSync),
  which is held by "chromeinspector.server.CommandProcessThread"
"chromeinspector.server.CommandProcessThread":
  waiting for ownable synchronizer 0x00000001c5e235f8, (a java.util.concu

[2020-09-23 17:01] cstancu commented on #2841
No, the image build should definitely not break.

[2020-09-23 17:22] #2719 closed

[2020-09-23 17:25] cstancu commented on #2707
Please reopen if this is still reproducible with the latest Spring/GraalVM versions.

[2020-09-23 17:25] #2707 closed

[2020-09-23 17:26] #2706 closed

[2020-09-23 17:32] sendev1 commented on #1152
I am facing this same issue with 20.0.3-dev release as well with bouncy castle. I am using `--enable-all-security-services` with my native-image command. Could some please help me if you were able to resolve this issue.

[2020-09-23 17:42] cstancu commented on #2694
Fixed by https://github.com/oracle/graal/commit/46cd5c77da1f8acbe0ac2a472e64e515805b5ea9.

[2020-09-23 17:42] #2694 closed

[2020-09-23 17:47] UglyHobbitFeet opened #2866 "NPM run build call in GraalVM hangs indefinitely"
I have a Vue project in Node that I am trying to build via 'npm run build'.  This works fine using standard NPM.  Using the npm shipped with GraalVM causes it to hang indefinitely. FWIW my Vue project is built in Node and compiled using ES4x for Vert.x.
I am on a CentOS 7 OS.  I have tried the same with a prior GraalVM build (19.2.1) and get the same error. I am using v4.5.6 of the vue-cli-service

[2020-09-23 17:51] kustosz opened #2867 "Usage of StringBuilder through Polyglot causes a segfault"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.2.0**
 - CE or EE: **EE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina 10.15.3**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds here: http

[2020-09-23 18:09] Sahil308 opened #2868 "i got the same error but on windows platform"
i got the same error but on windows platform
os-windows 10 64-bit
jdk version-11
graalvm version-20.2.0
visual studio version-2019

I am using a maven project in eclipse ide and executed using mvn package command

can anyone help me out

_Originally posted by @Sahil308 in https://github.com/oracle/graal/issues/343#issuecomment-697576354_

[2020-09-23 19:14] sendev1 commented on #2800
Looks like this file before using Cipher is causing problem when running native image `Security.addProvider(new BouncyCastleFipsProvider());`

[2020-09-23 19:26] sendev1 commented on #2800
@cstancu Looks like similar issue is reported https://github.com/oracle/graal/issues/1152 way back in April 2019 but I could see any updates for this issue. Its blocking my work and I have been trying to figure out a solution for a month now. Kindly help me.

[2020-09-23 19:52] abertschi commented on #361
I am happy to give more information about the experimental setup. In order to reduce to noise in this issue I encourage you to file an issue in our github project or ping me on twitter. As I said the benchmark setup can be reproduced with the docker/podman file provided. All settings undertaken for PHP8 are here https://github.com/abertschi/graalphp/blob/2d536e40b77b7f8601ad72dfe878c09cfbc1d4e0/do

[2020-09-23 22:28] stuartwdouglas commented on #2841
It sounds like the solution here is to just make this fix in Quarkus only apply to GraalVM <= 20.2?

[2020-09-23 23:27] cstancu commented on #2868
Please use the issue-reporting template and make sure that your report includes all the necessary details to allow us to reproduce.

[2020-09-23 23:27] #2868 closed

[2020-09-23 23:42] cstancu commented on #2684
Please use the [Native Image issue template](https://github.com/oracle/graal/issues/new?assignees=&labels=bug%2C+native-image&template=1_issues_native_image.md&title=) and provide details necessary to reproduce.

[2020-09-23 23:42] #2684 closed

[2020-09-23 23:44] cstancu commented on #2671
`-H:+RemoveSaturatedTypeFlows` is now the default.

[2020-09-23 23:44] #2671 closed

[2020-09-23 23:48] cstancu commented on #2669
Please reopen if still an issue.

[2020-09-23 23:48] #2669 closed

[2020-09-23 23:56] cstancu commented on #2660
Closing this in favor of https://github.com/oracle/graal/issues/2724.

[2020-09-23 23:56] #2660 closed

[2020-09-24 00:03] cstancu commented on #2658
`MethodHandle` support is under development and is being tracked by https://github.com/oracle/graal/issues/2761.

[2020-09-24 00:04] #2655 closed

[2020-09-24 00:19] cstancu commented on #2643
Please a more recent version of Netty, the latest release is recommended. It should contain all the necessary support code for building Native Image.

[2020-09-24 00:19] #2643 closed

[2020-09-24 00:22] cstancu commented on #2626
This is not a bug, `org.apache.maven.project.ReactorModelPool` is missing from the class path. Use `--allow-incomplete-classpath` as the error message suggests. We are planning to make that the default in the near feature.

[2020-09-24 00:22] #2626 closed

[2020-09-24 00:47] cstancu commented on #2561
`java.io.StringReader` doesn't have a `reset` field. Maybe it is injected by clojure? Please provide steps to reproduce.

[2020-09-24 00:50] cstancu commented on #2556
Fixed in d383d80a0e0acc13006da932f052f8c1177bec2b.

[2020-09-24 00:50] #2556 closed

[2020-09-24 01:00] #2550 closed

[2020-09-24 01:01] cstancu commented on #2550
(@adinn I closed this assuming that was your intention. I assigned #2551 to @gilles-duboscq )

[2020-09-24 01:10] cstancu commented on #1884
Closing this in favor of #2535.

[2020-09-24 01:10] #1884 closed

[2020-09-24 01:16] cstancu commented on #2525
Please reopen if this is still reproducible with the latest Spring/GraalVM versions.

[2020-09-24 01:16] #2525 closed

[2020-09-24 01:26] cstancu commented on #2503
@skyguard1 see https://github.com/oracle/graal/blob/master/substratevm/DebugInfo.md

[2020-09-24 01:26] #2503 closed

[2020-09-24 01:41] cstancu commented on #2461
Can you please run with `--no-fallback` to get a stack trace?

[2020-09-24 01:46] cstancu commented on #2428
Can you please provide steps to reproduce?

[2020-09-24 02:37] lic9 opened #2869 "GraalVM: JVMCI-native CompilerThreads are RUNNABLE but not get processed"
We were running some Presto jobs on GraalVM and we found on 1 of the worker node, Graal stopped compiling new methods for more than 1 day. From thread dump, we saw all JVMCI-native CompilerThreads were at RUNNABLE but not consume any CPU ('cpu' metric from thread dump stayed the same and only 'elapsed' increased). The issue seemed only apply to JVMCI-native CompilerThreads. C1 CompilerThread was n

[2020-09-24 03:46] cstancu commented on #2369
I'll close this in favor of https://github.com/oracle/graal/issues/2369 which has the same stack trace but also includes a reproducible.

[2020-09-24 03:46] #2369 closed

[2020-09-24 03:57] cstancu commented on #2368
@viktorklang this is a feature that would have to leave in Akka. We provide a programmatic API to register classes for reflection.

More to your idea, Graal has invocation plugins that allow interception of calls. We use that for example to optimize reflection calls in [`ReflectionPlugins`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/

[2020-09-24 04:07] cstancu commented on #2339
@ninja- is this issue still reproducible?

[2020-09-24 04:27] cstancu commented on #2281
@borkdude we reduced the memory footprint of the image build process since this issue was opened. It would be interesting to check if it fits in CircleCI again. I'm closing this issue as I don't believe that it is relevant anymore.

[2020-09-24 04:27] #2281 closed

[2020-09-24 04:41] cstancu commented on #2251
I'm closing this in favor of https://github.com/oracle/graal/issues/2254.

[2020-09-24 04:41] #2251 closed

[2020-09-24 04:47] cstancu commented on #2233
Class initialization has been significantly refactored. Please see the details in  https://github.com/oracle/graal/blob/master/substratevm/ClassInitialization.md.

[2020-09-24 04:47] #2233 closed

[2020-09-24 05:23] cstancu commented on #2187
I see that you attached the `native-image\META-INF\native-image\reflect-config.json` file and that it contains `org.apache.xmlbeans.impl.schema.SchemaTypeLoaderImpl` but I don't see how you specify this file to `native-image`. I think that in this case, since you don't package your app as a jar, you need to specify the reflection config explicitly, I don't think it is automatically detected in `ME

[2020-09-24 05:28] lic9 commented on #2869
Is this related to https://github.com/openjdk/jdk/pull/35?

[2020-09-24 05:43] #2117 closed

[2020-09-24 05:48] cstancu commented on #2098
@ashwinbhaskar please provide steps to reproduce if this is still reproducible with the latest GraalVM.

[2020-09-24 05:48] #2098 closed

[2020-09-24 06:19] piranha commented on #2561
Hmm, am I misunderstanding something?

https://docs.oracle.com/javase/8/docs/api/java/io/StringReader.html#reset--

[2020-09-24 07:30] dougxc commented on #2869
That looks like a deadlock within libgraal. Is it possible to attache gdb to this process to get the native stack trace of all threads?
@christianwimmer, @tkrodriguez , got any other suggestions on how to diagnose "stuck" libgraal threads?

[2020-09-24 07:45] gilles-duboscq commented on #2551
After #2785 the Graal SDK and Truffle API sources are included in the standard builds. This is controlled by the `--sources=sdk:GRAAL_SDK,truffle:TRUFFLE_API` argument passed to `mx` during the build.

The case of SDK code should be resolved but the issue remains for the compiler and SVM code.
I think it's OK to add both `compiler:GRAAL` and `substratevm:SVM` to this list.

Note that in 11+, code

[2020-09-24 07:52] dougxc commented on #2495
This is a crash in a netty native method called via JNI: https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/transport-native-unix-common/src/main/java/io/netty/channel/unix/Errors.java#L37
As far as I can see, the initialization of these JNI methods in *only* done via [`OnLoad`](https://github.com/netty/netty/blob/f58223982ce8d9ed056c3d127972222966d0ebd1/transport-native-

[2020-09-24 07:57] dougxc commented on #2495
Or maybe try a more recent netty version as suggested [here](https://github.com/oracle/graal/issues/2643#issuecomment-698038550).

[2020-09-24 08:15] oubidar-Abderrahim commented on #2865
Hi, could you provide a small reproducer for this deadlock?

[2020-09-24 08:19] petermz commented on #2825
I'm able to build substratevm and native-image with the attached patch applied and the following prerequisites:
- gcc-9.3.1 from [musl.cc](http://musl.cc/x86_64-linux-musl-native.tgz) (no luck with gcc package provided by Alpine)
- symlink named `musl-gcc` somewhere in PATH and pointing to `gcc` from the package above
- [labsjdk-11](https://github.com/graalvm/labs-openjdk-11.git)
- `apk add bash c

[2020-09-24 08:21] adinn commented on #2550
@cstancu Yes thanks.

[2020-09-24 08:23] #2663 closed

[2020-09-24 08:28] oubidar-Abderrahim commented on #2866
Hi @UglyHobbitFeet could you please provide a small reproducer for this issue?

[2020-09-24 08:28] lbeuster opened #2870 "Duplicate resources at runtime if specified twice in resources-config.json"
I have one resource in the classpath and I add it twice to my resources-config.json files with 2 **different** patterns. If I run the native-image I see the resource twice (ClassLoader.getResources(name)).

**Steps to reproduce the issue**
1. **https://github.com/lbeuster/graalvm-dup-resources.git**
2. **mvn clean verify**
3. **target/my-native-image**

**Describe GraalVM and your environment:**

[2020-09-24 08:33] adinn commented on #2551
@gilles-duboscq Thanks for pointing us at the --sources option. I think it would probably be useful to have `substratevm:SVM` in the list for GraalVM builds. If the compiler code is in lib/src.zip for those builds then the current debug source manager should find it. In mandrel builds we don't jlink the compiler code but we can add `compiler:GRAAL` to the --sources list to ensue the relevant sourc

[2020-09-24 08:40] oubidar-Abderrahim commented on #2867
Thank you for reporting this, we will look into it

[2020-09-24 08:49] oubidar-Abderrahim commented on #2870
Thank you for reporting this, we will look into it

[2020-09-24 09:46] ninja- commented on #2339
@cstancu I gave up moving my project to Graal due to crucial features and optimizations being hidden behind Enterprise Edition..
If no one fixed the issue, I guess it would still be reproducible, but as my classpath was super large and the build scripts quite hacky and volatile, it was hard for me to provide a good reproducer.

[2020-09-24 09:57] zakkak commented on #2841
Yes that sounds like the right thing to do on the Quarkus side, but it looks like there needs to be something done on the GraalVM side as well, to avoid the build failure in similar cases.

[2020-09-24 10:18] viktorklang commented on #2368
@cstancu Ah, so the course of action would be to expose that API so we could use it to instrument those callsites?

[2020-09-24 11:33] zakkak commented on #2551
I agree

We actually do this already (not through `--sources` though so the sources end up next to the jars instead of inside src.zip)

[code]

I gave `GraalVM CE 20.3.0-dev-20200924_0204` a spin with:
[code]

And it fails to find both `com.oracle.svm.*` and `org.graalvm.compiler.*` sources, so I think we need to add both `substratevm:SVM` **and** `compiler:GRAAL`.

[2020-09-24 13:35] oubidar-Abderrahim commented on #2867
An internal ticket was created for the Dev team to investigate and fix this issue.

[2020-09-24 13:39] newk5 opened #2872 "GraalVM using almost 3x more memory than the standard JDK"
I've created the most basic test and just noticed that GraalVM uses almost 3x more memory than a standard JDK. I'm unsure if this would be considered a bug or if it's just an accepted consequence of using GraalVM in non-native mode.

**Steps to reproduce the issue**
This is the code:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **graalvm-ce-java11-windows-amd64-20.2.0**

[2020-09-24 14:34] kirillp opened #2873 "Graal is 12x times slower then JVM doing trivial native calls"
Assume we need to communicate with "C", and we dont need complex JNI like call a method
Assume the following code:
  `static native int call(int[] arr);`

Testsource code:

[JniTest.cpp](https://gist.github.com/kirillp/9954b1ad4c08b4ec0b9dc2f350872a5c)
[JniTest.java](https://gist.github.com/kirillp/a5bf5cab4e2cb25e60576b92c62955ab)

Build commands
`native-image.cmd --no-fallback -cp . test.JniTest

[2020-09-24 14:52] sendev1 commented on #1152
@hhandoko @kipz were you able to solve this issue. Looks like no response from Oracle since April 2019. I got stuck with this and need some help to move forward.

[2020-09-24 15:27] lic9 commented on #2869
Thanks @dougxc ! I did try get some gdb info, but 'bt' didn't work for some reason. I'll see if I can find a way to reproduce it.

[code]

[2020-09-24 15:42] dzou commented on #2012
Just an FYI, Google is starting a project to provide out-of-the-box working Graal configurations for the client libraries here: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support

You can try following the instructions and adding the dep to your project to see if it helps.

[2020-09-24 15:45] dzou commented on #2028
Hello, Google is working on official support for the client libraries with native image compilation here: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support

You can try following the instructions and adding the dependency to your project; we were able to find the solution to the native library error.

[2020-09-24 17:16] tkrodriguez commented on #2869
There isn't really a way to know what's happening without a stack trace.  gcore'ing the process so we have a permanent copy of the state at the crash would be good before investigating the live process.  Are you running with -Xbatch?  If you aren't I don't think it can be related to openjdk/jdk#35.

[2020-09-24 18:29] Caffeine-01 commented on #2865
It's a race condition and the initial deadlock stacktracess were user triggered. It took me a while to reproduce it easily.  Eventually the code below deadlocked, but I'm not sure if it's the same deadlock.

package graalvmDeadlock;

import com.oracle.truffle.api.debug.Breakpoint;
import com.oracle.truffle.api.debug.Debugger;
import java.io.IOException;
import org.graalvm.polyglot.Context;
import

[2020-09-24 19:42] cstancu commented on #2561
The error message complaints about a missing field `No matching field found: reset for class java.io.StringReader`, which indeed doesn't exist.

[2020-09-24 19:49] cstancu commented on #2339
Thanks for your reply. I'll close this issue for now. I'll reopen if I have a reproducible.

[2020-09-24 19:49] #2339 closed

[2020-09-24 19:52] cstancu commented on #2841
Yes, as an immediate solution you can modify Quarkus, but we'll provide a solution in GraalVM to avoid the image build crash.

[2020-09-24 20:00] cstancu commented on #2368
That API is probably more powerful than you'd need, it can actually rewrite compiler graphs to replace entire calls. What I'm thinking about is maybe exposing a simplified version, a hook for call sites of a specific method where you can analyze the parameters and take actions based on their values, like in your case registering the respective class and constructor for reflection.

[2020-09-24 20:07] christianwimmer commented on #2368
That is something that method inlining during analysis could improve, which is currently prototyped here: https://github.com/oracle/graal/pull/2860

[2020-09-24 20:22] vjovanov commented on #2368
@viktorklang I find this as a compelling proposal. It would be helpful to give us concrete examples from Akka that we can use to drive our work on inlining before analysis. If inlining is not powerful enough to satisfy all the needs, we can then use these examples to drive the design of the API.

I would first try hard not to have an extra API at all; if we fail we can introduce the desired API.

[2020-09-24 21:11] lic9 commented on #2869
No, we use background compilation. So for https://github.com/openjdk/jdk/pull/35, it only unblocks the Java thread from a non-progress JVMCI thread, but the JVMCI thread will stay stuck?

The job we have did not crash. It's no Graal compilation progress, and all code running on C1. I'll try find some way to get the stack trace.

[2020-09-24 23:16] tkrodriguez commented on #2869
No, everyone gets properly unblocked with that fix but it will only occur if -Xbatch or -Xcomp was used.  Otherwise the regular Java threads never wait for compiler threads to complete and the JVMCI native threads shouldn't be able to deadlock each other in the same way.  But maybe we have lock ordering problem in libgraal that we haven't thought of.  Anyway, we'd need a native stack trace to unde

[2020-09-25 02:17] samyc1201 commented on #2723
@oubidar-Abderrahim hi, is there any update on this? I see another java library which giving same issue `trying to change RERUN for JDK native code support via JNI to BUILD_TIME super type of`, how should we avoid that? In fact, we never touch anything related to `RERUN` or `BUILD_TIME` in the library.

[2020-09-25 03:24] cstancu commented on #2019
Thank you for finding a solution and for reporting back. The underlying issue here is incomplete `MethodHandle` support. That is under development and is being tracked by https://github.com/oracle/graal/issues/2761. Once that is done hopefully no substitutions will be required.

[2020-09-25 03:24] #2019 closed

[2020-09-25 03:29] cstancu commented on #2013
@plokhotnyuk as @dougxc investigation suggests this doesn't seem to be a GraalVM specific issue. Were you able to replicate this in a different environment as well?

[2020-09-25 03:39] #1984 closed

[2020-09-25 03:42] christianwimmer commented on #2873
While there is probably room for improvement, there is a fundamental difference how `GetPrimitiveArrayCritical` is implemented on SVM vs. HotSpot: while HotSpot just disables the GC while a critical array is requested, SVM properly just pins that single object. This has far less severe side effects on the GC, on HotSpot JNI code that uses `GetPrimitiveArrayCritical` can let the VM run out of memor

[2020-09-25 03:44] #2290 closed

[2020-09-25 03:54] cstancu commented on #1943
`--allow-incomplete-classpath` should now report the missing class at run time, if the code path is actually executed.

[2020-09-25 03:54] #1943 closed

[2020-09-25 04:01] cstancu commented on #1934
@mageddo can you still reproduce this on latest GaalVM version?

[2020-09-25 04:05] #1929 closed

[2020-09-25 04:08] cstancu commented on #1918
@fhoeben can you still replicate this issue with latest GraalVM release?

[2020-09-25 04:36] cstancu commented on #1810
@ldeclevanano that looks like some incompatible class change in one of the dependencies. Please reopen if you can still replicate with the latest GraalVM and provide reproducible code. Thank you!

[2020-09-25 04:36] #1810 closed

[2020-09-25 04:52] #1765 closed

[2020-09-25 05:03] cstancu commented on #1924
Quarkus currently contains the necessary config for MySql. See https://github.com/oracle/graal/issues/1748#issuecomment-670504827

[2020-09-25 05:03] #1924 closed

[2020-09-25 05:13] cstancu commented on #1715
This seems like a good candidate for a community contribution.

[2020-09-25 05:15] cstancu commented on #1702
A solution is proposed here https://github.com/oracle/graal/issues/2256#issuecomment-624024965.

[2020-09-25 05:15] #1702 closed

[2020-09-25 05:15] plokhotnyuk commented on #2013
@cstancu @dougxc thank you for your investigation and support!

I'm closing it as not related to GraalVM

[2020-09-25 05:15] #2013 closed

[2020-09-25 05:20] cstancu commented on #1696
The originally reported problem was fixed by switching to JNI platform.

[2020-09-25 05:20] #1696 closed

[2020-09-25 05:22] cstancu commented on #1677
The root cause of this issue has been fixed in the meantime.

[2020-09-25 05:22] #1677 closed

[2020-09-25 05:26] #1673 closed

[2020-09-25 05:27] cstancu commented on #1672
This issue is not relevant anymore. `sunec` is now statically linked when code that uses is reachable.

[2020-09-25 05:27] #1672 closed

[2020-09-25 05:44] cstancu commented on #1635
This issue is not relevant anymore. We removed the `Target_java_io_File_TempDirectory` substitution in the meantime.

[2020-09-25 05:44] #1635 closed

[2020-09-25 05:53] #1519 closed

[2020-09-25 05:58] #1505 closed

[2020-09-25 06:00] cstancu commented on #1489
`sunec` is now statically included in the image when code that requires it is reachable.

[2020-09-25 06:00] #1489 closed

[2020-09-25 06:03] cstancu commented on #1477
The class loader support has been refactored and we don't replace the entire `java.lang.ClassLoader` class anymore. The reported stack traces are not relevant anymore.

[2020-09-25 06:03] #1477 closed

[2020-09-25 06:05] piranha commented on #2561
Hm, this is really weird. It's calling a method `reset` [there](https://github.com/yogthos/markdown-clj/blob/master/src/clj/markdown/core.clj#L38), it even checks it's a `StringReader`. I wonder what the issue could be then. :\

[2020-09-25 06:09] #1469 closed

[2020-09-25 06:15] #1457 closed

[2020-09-25 06:26] cstancu commented on #1438
@auke- if I understand correctly your PR fixes the issue in Axiom. Thank you!

[2020-09-25 06:26] #1438 closed

[2020-09-25 07:13] olpaw commented on #1636
This issue is fixed long since.

[2020-09-25 07:13] #1636 closed

[2020-09-25 07:18] olpaw commented on #1976
@ziyilin does this issue still have any relevance or can we close it?

[2020-09-25 07:24] dougxc commented on #2561
Does your reflection configuration specify `java.io.StringReader.reset` as a _field_ or a _method_? Judging purely by the comments in this issue, that seems to be at least one source of confusion.

[2020-09-25 07:42] #1976 closed

[2020-09-25 08:19] oubidar-Abderrahim commented on #2872
Thank you for reporting this issue, we will take a look into it.

[2020-09-25 08:21] #1878 closed

[2020-09-25 08:52] piranha commented on #2561
Well, to specify as a field I would have to write `(.-reset StringReader)`, so it should be a method. But if I remove reflection and specifically point out it's a `StringReader`, this code dies during compilation (rather than in runtime). It has no problems working in GraalVM without native-image though.

[2020-09-25 09:22] dougxc commented on #2872
The extra space is probably mostly due to libgraal. It will be the memory used for mmapping `jvmcicompiler.dll` as well as for allocating the libgraal heap. In addition, the mmapped cost of the C2 compiler (part of `jvm.dll`) is paid even though C2 is not use (by default) in GraalVM.
In GraalVM EE as of 20.2, libgraal is unloaded when compilation becomes idle.

[2020-09-25 11:01] viktorklang commented on #2368
@vjovanov Here's a good example:

Usage: https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/scala/akka/actor/ActorLifeCycleSpec.scala#L39
Definition: https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/Props.scala#L86

[2020-09-25 11:07] ansalond commented on #2551
Fixed by https://github.com/oracle/graal/commit/bb1becf3a8eb2e8daab024acbf5261d7e964072f.

[2020-09-25 11:07] #2551 closed

[2020-09-25 11:12] zakkak commented on #2551
Thank you @ansalond

[2020-09-25 13:59] vjovanov commented on #1979
We did an overhaul of class initialization and tracing of why classes got initialized. This issue should be fixed if you try out the latest version of the GraalVM dev build.

[2020-09-25 14:01] vjovanov commented on #1948
The initialization issue has been fixed. @peter-hofer is the agent bug also fixed so we can close this issue?

[2020-09-25 14:01] vjovanov commented on #1930
This has been merged in 20.2. Closing as fixed.

[2020-09-25 14:01] #1930 closed

[2020-09-25 14:16] daddykotex commented on #2222
I'm writing here as a way to bump this issue and maybe check with the authors if they found a solution workaround. Logging frameworks are a pain to work with in Graal and I've managed to finally compile a somewhat complex application.

But upon execution, I have the same error as described in https://github.com/oracle/graal/issues/2222#issuecomment-595288448 (above).

[2020-09-25 14:21] peter-hofer commented on #1948
Lambdas should already be filtered, so I don't know why these entries showed up, but now that they apparently no longer do, I believe we can close this.

[2020-09-25 15:48] fhoeben commented on #1918
I no longer get the stack trace. A quick retry gave me another error on starting the created image, but build seems to work now...

[code]

[2020-09-25 16:34] #1948 closed

[2020-09-25 16:35] UglyHobbitFeet commented on #2866
Unfortunately not. The project I have is too big.  I tried creating a
simple hello-world and then using the package.json file from my larger
project, but it did not replicate the issue. So it must be something in the
code and how it's interacting with the Graal version of npm.  Is there any
way that debug flags can be set so I can see when/why it's freezing?

Also FWIW the (graal npm / vue-cli-bui

[2020-09-25 18:29] daddykotex commented on #1039
I'm also curious to know if there is an update on this. I'm investigating GraalVM at work and got pretty far but this is a blocker. We use prometheus and their official java-client: https://github.com/prometheus/client_java. It seems to rely on `ThreadMXBean` because I get a very similar stack trace when I try to run my natively built image.

If there is a way to mitigate this, I'd be a taker. I d

[2020-09-25 18:52] arodionov commented on #1387
@rsteppac @FieryCod Could we close this issue?

[2020-09-25 19:00] ankitdeshmukh87 commented on #1751
Hi Team,

I am still running into : "ScriptEngineManager providers.next(): javax.script.ScriptEngineFactory: Provider com.oracle.truffle.js.scriptengine.GraalJSEngineFactory could not be instantiated"

I am using jdk 11 , below is  my code :

import javax.script.*;
import java.util.*;
ScriptEngineManager manager = new ScriptEngineManager();
ScriptEngine engine = manager.getEngineByName("Graal.js")

[2020-09-25 19:13] #2387 closed

[2020-09-25 19:28] cstancu commented on #1918
That looks like you are missing a reflection configuration.

[2020-09-25 22:56] jbaileyashe commented on #2461
Unfortunately I deleted that repo and don't have access to the code any longer.

[2020-09-26 04:56] #2461 closed

[2020-09-26 10:55] kaspernielsen commented on #2761
Is the plan that every method handle created either via a field/constructor/executable or via java.lang.invoke.MethodHandles as part of an image's build time will work without any additional configuration?

[2020-09-26 19:08] daddykotex commented on #2222
I have found a solution. Graal comes with a tracing agrnt that you can use to generate configuration file to specify what classes to include at runtime because they're used via reflection (reflect-config.json).

I did that and the ConsoleAppender was in the list. In the following build, the error described above did not happen.

[2020-09-27 04:36] christianwimmer commented on #2620
With the change in GraalVM 20.2 that many JDK classes are no longer initialized at build time, this might work now already.

[2020-09-27 04:38] christianwimmer commented on #2554
The image build server is disabled by default now, so I'm closing this issue.

[2020-09-27 04:38] #2554 closed

[2020-09-27 04:49] christianwimmer commented on #2289
I think this problem has already been fixed in the last months. If it is still reproducible, please re-open the issue.

[2020-09-27 04:49] #2289 closed

[2020-09-27 04:52] christianwimmer commented on #2232
I think @vjovanov is currently working on a fix for this

[2020-09-27 05:01] christianwimmer commented on #1792
The image build server is disabled by default now, so I'm closing this issue.

[2020-09-27 05:01] #1792 closed

[2020-09-27 05:06] christianwimmer commented on #1754
I think this issue has been fixed in the last months. If it is still reproducible, please re-open the issue.

[2020-09-27 05:06] #1754 closed

[2020-09-27 05:19] floating-cat commented on #2495
I tried to use the most recent netty version, but it doesn't help.
I switched to use dockered version of my app before because I still haven't found out how to compile it by using the Graal Native.

Will dig this problem or reach out to the netty team if I have time later.
Thanks for the information.

[2020-09-27 05:19] #2495 closed

[2020-09-27 07:52] rpuch commented on #2694
@cstancu The commit you mentioned https://github.com/oracle/graal/commit/46cd5c77da1f8acbe0ac2a472e64e515805b5ea9 was made on July, 17, so it seems that the issue should be fixed in the nightly builds for a looong time. But it is still present in the nightly build I downloaded today.

I've put together a demo project: https://github.com/rpuch/native-unsafe-static-field-offset

GraalVM's java ident

[2020-09-27 11:27] fhoeben opened #2875 "How to determine which class causes 'Image heap writing found a class not seen during static analysis'?"
**Describe the issue**
I'm trying to build a native image of wiremock. I get an exception during image build time about a class encountered that was not seen before. How do I determine which class this is (so I can add it to the reflection config)?

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1.  git clone https://github.com/fhoeben/wiremock-docker.git
2.

[2020-09-27 12:00] #1918 closed

[2020-09-27 13:34] shourien commented on #2188
Finally I got this working.. Had to switch to apache cxf ws implementation. Used the latest 3.4.0 plugin and include 2 libraries cxf-rt-frontend-jaxws, cxf-rt-transports-http.

Regenerated the config files and finally able to invoke the Webservice.

[2020-09-27 14:17] lscoughlin commented on #546
so like...
[code]

[2020-09-27 18:30] cstancu commented on #2222
@daddykotex thanks for sharing your solution.

[2020-09-27 18:30] #2222 closed

[2020-09-27 18:34] cstancu commented on #2188
Thanks letting us know!

[2020-09-27 18:34] #2188 closed

[2020-09-27 19:05] Dmole opened #2876 "Feature avalibility chart"
A list of features and what OS and architectures they are limited to would be nice.

[code]

[2020-09-27 19:08] Dmole commented on #2876
Limitations are not mentioned in the documentation here;
https://www.graalvm.org/reference-manual/python/

[2020-09-27 22:11] fniephaus commented on #2876
IIRC `gu` will only show components compatible to the system's architecture, but it could list others as well.

What kind of features would you expect to see in the listing? I'd much rather see a URL (e.g. to the corresponding project page).

[2020-09-27 23:22] shourien commented on #2188
However, I would like to point out that I had to resort to `-H:+ReportUnsupportedElementsAtRuntime` even while using the latest GraalVM 20.2.0. Else I encounter the following error when the image is built. Could you please confirm if applying this flag is recommended? I picked up this idea from referring [apache documentation](https://tomcat.apache.org/tomcat-9.0-doc/graal.html#Building_the_native

[2020-09-27 23:28] Dmole commented on #2876
I'd expect the linked documentation to mention "gu install python" is only available on amd64 Linux or wherever, and a Limitations/Availability section of the documentation.

[2020-09-27 23:53] perezd commented on #2050
I'm seeing the same thing with a basic hello world netty app using epoll native transport.

[2020-09-28 00:18] perezd commented on #442
My most recent attempt at this resulted in:

[code]

However that is the only error I received so far.
Netty 4.1.52
GraalVM/native-image: 19.3.1

[2020-09-28 00:59] gradinac commented on #2363
As the patch for this issue is now on master, I'll close it. Let us know if you run into this error again.

[2020-09-28 00:59] #2363 closed

[2020-09-28 08:13] peter-hofer commented on #1387
I believe the original issue is solved. @rsteppac , if this is still a problem, can you please open a separate issue (referring to this one)? A small reproducer would be welcome.

[2020-09-28 08:29] oubidar-Abderrahim commented on #2875
You can use the native image agent to generate the necessary config files using `java -agentlib:native-image-agent=config-output-dir=ConfigFolderName -jar YourApp.jar` and try to cover most use cases in your application to make sure the agent scans most of the code.
Finally, specify the config folder when generating the native image by adding the flag: `-H:ConfigurationFileDirectories=ConfigFolder

[2020-09-28 08:32] loicottet commented on #2761
Method handles will require some configuration. Whether it will be the existing reflection configuration or a separate one is still open.

[2020-09-28 08:32] fhoeben commented on #2875
@oubidar-Abderrahim unfortunately I already did what you suggest (see the branch in my repo), I even added an extra class the agent did not pick up (to fix the first error I got), and I still get this error.
So my question is: what next, where do I start look?

[2020-09-28 09:09] fniephaus commented on #2876
The command `gu available` suggests that it only lists components available for the current platform. Maybe a new command should be added to list what's available in the current catalog, e.g. `gu catalog` `gu outline`, independently from the current platform/architecture.

[2020-09-28 12:22] kaspernielsen commented on #2761
I'm not sure I understand why you need any configuration. MethodHandles that are strongly reachable after the image creation phase will in 99.99% of all cases be meant for invocation at runtime.

[2020-09-28 12:38] fniephaus commented on #2620
It's unfortunately still an issue on 20.2:

[code]

[2020-09-28 13:32] petermz commented on #1898
Liberica JDK runs on alpine/musl. They have 8 and 11 among others:
https://bell-sw.com/pages/downloads/?os=Linux&bitness=64-bit&architecture=x86-musl&package=jdk

[2020-09-28 14:05] vjovanov commented on #2620
We have a fix for this in the pipeline. It should be in by 20.3.

[2020-09-28 14:25] radeusgd commented on #2855
Are you sure this is the case? Seems like it should be, but when I try to run a Truffle language that includes its own logger (temporarily, for testing purposes), I get the following output:
[code]

Am I doing something wrong? How can I isolate from the `chromeinspector` (as I'm not even using it)?

Just to be sure:
[code]

[2020-09-28 14:53] christianwimmer commented on #2761
Yes, and such method handles will work without configuration. Same as reflection: if you have a `java.lang.reflect.Method` instance strongly reachable in the image heap, it works without further configuration.

But if you create new method method handle at run time, then you need configuration at image build time.

[2020-09-28 15:58] kaspernielsen commented on #2761
Sounds great. I must admit the more I work with MHs the less my need for runtime support for them. Transformations via the various static methods on MethodHandles can mostly be done at image creation time. The only thing I actually miss is being able to bind object instances that cannot be created until runtime. For example, via MethodHandle#bindTo or MethodHandles#insertArguments

[2020-09-28 16:10] olpaw commented on #2642
@adinn is right. This needs to be fixed in our build system. Specifically the part of mx that deals with native-code compilation.

[2020-09-28 16:40] sendev1 opened #2877 "java.lang.ClassNotFoundException: com.sun.xml.ws.db.DatabindingFactoryImpl"
**Describe the issue**
I am using soap webservices in spring boot 2.3.1 app. I am using agent to prepare the configuration files. I executed the soap webservice when agent was running to make sure that agent collects all the information for the soap service. The image generation went fine but while running the native image I got the following error.

[code]

**Steps to reproduce the issue**
Please

[2020-09-28 22:17] pshirshov opened #2878 "No way to change Runtime.availableProcessors() return value"
Sometimes it's necessary to override`Runtime.availableProcessors()` to affect hidden states of various threadpools/etc.

Though it's not possible to do that for an app compiled with `native-image`. `-XX:ActiveProcessorCount` is not supported by NI apps so the only way to do it is to use Graal's monkeypatching capabilities.

Could you please support `-XX:ActiveProcessorCount`?

[2020-09-28 22:40] sendev1 commented on #2877
some more info.

I am not sure why agent did not pickup. I manually added this entry into reflect-config.json

[code]

and I am seeing following error while running native image

[code]

[2020-09-28 23:49] mcraj017 commented on #2877
@sendev1 please try --enable-all-security-services option while building native image

[2020-09-29 06:44] nikitakakra commented on #460
I am also facing the same issue while using `Elastic RestHighLevelClient` for ES operations

- `GraalVM:19.2.1`

- `AWS SDK:2.12.0`

- `Micronaut : 2.0.0`

Stacktraces:

[code]

[2020-09-29 07:34] MartinBalin commented on #2876
Adding something like `gu outline` to list all components all platforms for given version is possible. We will consider it.

[2020-09-29 07:45] felixbarny commented on #2761
Are invokedynamic instructions supported whose bootstrap method returns a dynamically computed `ConstantCallSite`?

[2020-09-29 10:43] JiriOndrusek commented on #2850
Thanks @cstancu , I've reported this missing feature to quarkus: https://github.com/quarkusio/quarkus/issues/12393

[2020-09-29 10:43] #2850 closed

[2020-09-29 14:10] mavocitrix commented on #2164
I just encountered the same/similar error on OpenJDK 64-Bit Server VM GraalVM CE 20.2.0 (11.0.8+10-jvmci-20.2-b03. In this case it was also caused by jacoco plugin. When I removed it, build worked fine.

The proposed workaround with -Djfr.unsupported.vm=true worked fine with jacoco enabled.

Attaching thread dump:
[hs_err_pid30776.log](https://github.com/oracle/graal/files/5299559/hs_err_pid30776.

[2020-09-29 14:53] chrisseaton opened #2879 "Build SubstrateVM generated libjvm.a fallbackcode without warnings"
[code]

Uses `abort`

https://github.com/oracle/graal/blob/7d3aa48fe2c28e8aaf864194692fb6ea95d51bdb/substratevm/mx.substratevm/mx_substratevm.py#L1261

But doesn't declare it

https://github.com/oracle/graal/blob/7d3aa48fe2c28e8aaf864194692fb6ea95d51bdb/substratevm/mx.substratevm/mx_substratevm.py#L1251

I worked around by

[code]

But I don't know if this is really a fix or why I need it and you

[2020-09-29 14:59] cstancu commented on #2841
Fixed via https://github.com/oracle/graal/commit/665fa481c01076d86592f46f405923c824daac45. Now we have a setter for `ThreadLocalRandom.seeder` so the class can be initialized at run time. As I mentioned above, we don't initialize that class at run time by default to avoid bringing `java.security.SecureRandom` code for even the simplest images.

[2020-09-29 14:59] #2841 closed

[2020-09-29 15:25] reddigfabian commented on #1152
I'm also running into this error using the Gluon maven plugin to try and build ios/android/desktop applications. Below is my plugin configuration and relevant source code:

[code]

[code]

[2020-09-29 15:27] olpaw commented on #2879
@chrisseaton thanks! I will incorporate that.

[2020-09-29 15:45] cstancu commented on #2877
@peter-hofer does the agent collect reflective calls from `com.sun.xml` packages?

[2020-09-29 15:49] oubidar-Abderrahim commented on #2866
As a general knowledge about GraalVM. It is expected when using node and npm from GraalVM to take more time than the original node for the simple reason that every language used in GraalVM, including JavaScript, runs over the JVM, so it is compiled first. So, it takes more time to compile.

The Graal JS team is working continuously to reduce the memory and time consumption, it won't be similar to

[2020-09-29 15:51] oubidar-Abderrahim commented on #2866
@wirthi Do you have any idea that can be helpful in this case?

[2020-09-29 15:57] zakkak commented on #2841
Thank you @cstancu

[2020-09-29 16:01] peter-hofer commented on #2877
@cstancu it does with the more recent caller filter by @vjovanov , but did not with the old filter. It's likely that the _20.0.3 09/22 build_ is still using that old filter, but it can be overridden.

[2020-09-29 16:48] UglyHobbitFeet commented on #2866
Looking at the package.json for @vue/cli-service (
https://github.com/vuejs/vue-cli/blob/dev/packages/%40vue/cli-service/package.json)
I see at line 113...
devDependencies: {
"fibers": ">=3.1.1 <5.0.0"
}

Assuming that's the case, would this ever be able to be run on Graal?

On Tue, Sep 29, 2020 at 11:52 AM Abderrahim Oubidar <
notifications@github.com> wrote:

[2020-09-29 18:30] oubidar-Abderrahim commented on #2866
If `fibers` is the underlying issue then unfortunately it won't be able to run on GraalVM.

As I said `node-fibers` rely on low-level code of the V8 engine that runs NodeJs. Graal's Node runs on GraalJS Engine, so `fibers` won't be able to call those low-level methods. it is like trying to run a Windows program on a Linux machine. Even `fibers`'s developers stated on their GitHub page that the pac

[2020-09-29 18:36] UglyHobbitFeet commented on #2866
Thanks, I'll pass this on in the vue-cli issue (
https://github.com/vuejs/vue-cli/issues/5898)

On Tue, Sep 29, 2020 at 2:31 PM Abderrahim Oubidar <notifications@github.com>
wrote:

[2020-09-29 20:47] teshull commented on #2870
Commit 5dcdc28fb1265406c8f6038b3232831e83c6f2bf fixes this issue.

[2020-09-29 20:47] #2870 closed

[2020-09-30 07:31] pmlopes opened #2881 "jvmci compiler with jdk15 fails due to missing classes"
If we try to run a graaljs application with stock jdk15, using the jvmci updated module, the vm fails to start with:

[code]

This seems to be related to JEP 381.

[2020-09-30 08:48] cipo7741 opened #2882 "page not found"
Hi graal dev,

there is a 404 on your website https://www.graalvm.org/docs/introduction/
[code]

keep up the good work - thanks for your amazing dev-stuff

[2020-09-30 09:43] dougxc commented on #2881
This requires an mx fix. Can you please test this patch to confirm it fixes the problem on your end:
[code]

[2020-09-30 09:46] olpaw commented on #2879
Fixed on main https://github.com/oracle/graal/commit/489daee58b8b0c2281b6f1c3329ff93630317258

[2020-09-30 09:46] #2879 closed

[2020-09-30 10:39] dougxc commented on #2881
Should be fixed by https://github.com/graalvm/mx/commit/2d41ec7beb2d673d694ba5cf11fe04aa68e24a73 - please re-open if not.

[2020-09-30 10:39] #2881 closed

[2020-09-30 12:32] gradinac commented on #2146
I will close this issue as it has gone stale. As of the time of writing, we do not support running GraalVM itself on Alpine, but we support creating static native-images that can be used either on Alpine or in a FROM scratch container (https://github.com/oracle/graal/blob/master/substratevm/StaticImages.md)

If any more issues arise, please re-open or create a new issue.

[2020-09-30 12:32] #2146 closed

[2020-09-30 13:36] cfontes commented on #460
Facing this issue using

- Quarkus 1.8.1
-Building with maven -P native profile

[code]

[2020-09-30 13:36] alexh2o17 opened #2883 "Native image problem in Jenkins pipeline"
Hi, I've a problem with my native image. I want to create native images of my microservices written in scala with http4s.

On my macbook pro everything works. I tried also in a windows pc and in other docker image, but if I try to create native image on Jenkins I've an error on last stage. I can't give a reproducible test. I used last Graalvm 20.2.0 and also last dev 20.3.0 with the same error.

I

[2020-09-30 13:52] sodasmile commented on #1506
Had the exact same issue, on linux. Seems the binary gu does not use the java cacerts-keystore? Was able to run gu and download packages using graal-java:

cd $GRAALVM_HOME
java -classpath "lib/graalvm/launcher-common.jar:lib/installer/installer.jar" org.graalvm.component.installer.ComponentInstaller install native-image

(java is graalvm/bin/java)

[2020-09-30 13:56] sdedic commented on #1506
@sodasmile see [preceding comment](https://github.com/oracle/graal/issues/1506#issuecomment-580570838); security reasons. You can simplify your commandline with `--jvm` switch, should cause `gu` to run on regular Java (GraalVM) runtime.

[2020-09-30 14:27] fernando-valdez commented on #2883
Hello @alexh2o17, thank you for reporting this.
Can you please tell me the version of Java you used on Jenkins?

[2020-09-30 14:29] alexh2o17 commented on #2875
I've the same error. Tried with agent but nothing changed.

[2020-09-30 14:36] alexh2o17 commented on #2883
@fernando-valdez  Jenkins agent start with:
[code]

but during pipeline I change with graalvm java 8 version. I tried both using native image and mvn native image plugin with same error.

[2020-09-30 14:43] fernando-valdez commented on #2883
Did you use the native image agent?
You can use the native image agent to generate the necessary config files using
`java -agentlib:native-image-agent=config-output-dir=ConfigFolderName -jar YourApp.jar`
and try to cover most use cases in your application to make sure the agent scans most of the code.

Finally, specify the config folder when generating the native image by adding the flag:
`-H:Conf

[2020-09-30 14:44] alexh2o17 commented on #2883
Yes i just used native image agent to populate config file.

[2020-09-30 15:06] fernando-valdez commented on #2883
@alexh2o17 is this a trasient issue? or happens 100% of the time on Jenkins?

[2020-09-30 15:07] alexh2o17 commented on #2883
@fernando-valdez 100% only in jenkins.

[2020-09-30 15:09] fernando-valdez commented on #2883
It will be difficult to create a diagnostic without a reproducer. Is it possible to test another (sharable) project on the same environment that throws this error?

[2020-09-30 15:16] alexh2o17 commented on #2883
I don't think that is possibile cause is not private project on private environment :( Other logs or informations can help??

[2020-09-30 16:11] fernando-valdez commented on #2883
These kinds of errors usually occur when application code runs already during image generation and changes static fields (or state reachable from static fields) while the image build process is running.

So the static analysis still sees an uninitialized field, but then when the image heap is written the field contains an instance of a type that was not seen as ever been instantiated.

Can you ple

[2020-09-30 16:11] olpaw commented on #2647
Fixed by https://github.com/oracle/graal/commit/e6c493be6e4091d772011394621bf7064c18ca63

[2020-09-30 16:11] #2647 closed

[2020-09-30 17:09] wirthi commented on #2866
Hi,

I don't have any immediate insight here. As mentioned above, `fibers` might not be the immediate problem, as it only is an dev-dependency (whether it is really optional or still used by some feature, I cannot yet tell).

For the way forward we have two options:

1. check our compatibility on `@vue/cli-service`
2. have an example application similar to the usecase reported here (but much small

[2020-09-30 17:24] christianwimmer commented on #2761
When everything is finished, all aspects of method handles including bootstrap methods will be supported.

[2020-09-30 18:23] cstancu commented on #2652
Fixed by f64d70db19b4647722a6dfb14d312e043e635146. Now services without a nullary constructor are ignored by the `ServiceLoaderFeature`. At run time trying to load such services will throw a `ServiceConfigurationError` since the type was not registered for reflective instantiation.

[2020-09-30 18:23] #2652 closed

[2020-09-30 18:25] cstancu commented on #1779
Fixed by 096d01ed8d8fe28b12ea0b54f199e30eea7b263d.

[2020-09-30 18:25] #1779 closed

[2020-09-30 21:39] jryans opened #2884 "Compiler reference manual does not load"
The [reference manual](https://www.graalvm.org/reference-manual/) page has a link to a "Compiler" manual which points to https://www.graalvm.org/reference-manual/compiler/, but that page seems to reference various missing files that can't be loaded, so it just shows a blank page.

Here's a network log from the browser tools:

<img width="779" alt="image" src="https://user-images.githubusercontent.

[2020-09-30 22:07] dougxc commented on #2884
Triage hint: @olyagpl

[2020-09-30 23:57] #2735 closed

[2020-10-01 05:51] cstancu commented on #2758
Fixed by f4f1fc8ba8d2044df680ebe40bf2313ca2c62399. `ClassLoader.defineClass()` was automatically registered for reflection, but it should have just been `@Delete`ed and `@Delete`ed methods should be ignored by the reflection plugin. @ilopmar I think this fix should also apply to other similar open issues.

[2020-10-01 05:51] #2758 closed

[2020-10-01 07:42] jerboaa commented on #2735
@christianwimmer Do you mind pointing us to the PR which fixed this? Or asked differently, why was this closed? Thanks!

[2020-10-01 09:04] olpaw commented on #2642
Fixed by https://github.com/graalvm/mx/commit/ba0c0bee111142a91496b38c9a5c11ad91f6ba29

[2020-10-01 09:04] #2642 closed

[2020-10-01 09:13] #2836 closed

[2020-10-01 09:14] peter-hofer commented on #2836
Fixed by 725d8ab3e820143146dc778b3aaaeb2825d5c7e2.

[2020-10-01 10:53] olyagpl commented on #2882
@cipo7741, thank you for the report.
It's been fixed.

[2020-10-01 10:53] #2882 closed

[2020-10-01 12:52] mpela81 commented on #2842
Having the same issue here with SystemTray.getSystemTray()

[2020-10-01 15:04] sparkyspider opened #2887 "Unresolved Conflict in "Release Notes""
https://www.graalvm.org/release-notes/

![Oops](https://user-images.githubusercontent.com/1888768/94826921-20b64e00-0408-11eb-872d-635c9c2e6e3d.png)

[2020-10-01 15:05] frank-dspeed commented on #2348
i am also interrested in the current status of that.

[2020-10-01 16:03] sparkyspider opened #2888 "Please allow executing of complete NPM packages from Java code (like NodeJVM)"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
The most useful feature of Graal or Truffle in my opinion should be to execute npm modules from Java. I've tried this using the Java API but it's no means trivial trying to include all the "system" libraries through the API.

**Describe the solution you'd like.**
It wo

[2020-10-01 16:50] christianwimmer commented on #2375
Fixed in https://github.com/oracle/graal/commit/70e8d135f3294807398619212c737cc194c7f01a

[2020-10-01 16:50] #2375 closed

[2020-10-01 16:51] christianwimmer commented on #2735
Fixed in https://github.com/oracle/graal/commit/929dde28d8ba99b3d044be2b6fb86ce1625a2286

[2020-10-01 18:47] olyagpl commented on #2884
@oubidar-Abderrahim, thanks for the report ;-)
We resolved that.

[2020-10-01 18:48] #2884 closed

[2020-10-01 18:50] olyagpl commented on #2887
@sparkyspider , we've just fixed. Thank you!
By the way, you now can submit documentation related issues to https://github.com/graalvm/graalvm-website.

[2020-10-01 18:51] #2887 closed

[2020-10-01 23:17] cstancu commented on #2800
@sendev1 I reproduced the issue, thanks for the code! (I had to rewrite the script since I'm on Linux). I'll have a solution soon.

[2020-10-02 01:32] cstancu commented on #2800
@sendev1 the problem here is that the `BouncyCastle` provider needs to be registered at build time. You can use the same config as here https://github.com/micronaut-projects/micronaut-oracle-cloud/pull/17/files. You'll need the feature

[code]
and `--rerun-class-initialization-at-runtime=org.bouncycastle.jcajce.provider.drbg.DRBG$Default,org.bouncycastle.jcajce.provider.drbg.DRBG$NonceAndIV`.

Adm

[2020-10-02 01:39] cstancu commented on #2062
Fixed by https://github.com/oracle/graal/commit/e922ede476ba5d99c826779ef5931648fd6150df.

[2020-10-02 01:39] #2062 closed

[2020-10-02 04:43] christianwimmer commented on #2692
Fixed in https://github.com/oracle/graal/commit/7692f73305c7dc14a036f4f6a8f631f608760ef4

[2020-10-02 04:44] #2692 closed

[2020-10-02 07:58] jerboaa commented on #2735
Thanks very much, @christianwimmer!

[2020-10-02 09:13] mcraj017 commented on #2877
@sendev1 please provide the reproducer for this issue

[2020-10-02 09:39] vjovanov commented on #766
Testing popular libraries is planned. The following doc describes the process:

https://docs.google.com/document/d/1J7c2HcTCvYn2d17PV8LbsIfD7wlSGrFVJTaZNphC-Rg/edit?usp=sharing

`--auto-delay-class-initialization` is very hard to implement. We have the `--trace-class-initialization` and `--trace-object-instantiation` flags that should allow you to find issues easily.

[2020-10-02 11:04] alexh2o17 commented on #2883
HI @fernando-valdez I've little updates. I created image with last dev graalvm 2.3.0 with java11. Now image starts but have the same problems of classic jar: cold start. First call is ever really slow!

[2020-10-02 15:08] kirillp commented on #2857
Will it allow to build for iOS-Simulator ?

[2020-10-02 15:35] olyagpl commented on #2817
@frank-dspeed, thank you for pointing at the link. It's been updated
 to https://docs.oracle.com/en/graalvm/enterprise/20/docs/tools/igv/
Feel free to submit GraalVM website or documentation issues to https://github.com/graalvm/graalvm-website.
Olya

[2020-10-02 15:35] #2817 closed

[2020-10-02 16:58] UglyHobbitFeet commented on #2866
Thanks for looking into this.

FWIW i've tested with the following versions and they all hang:
v19.2.1-ce-java8, 20.2.0-ce-java8, 20.2.0-ce-java11

On Wed, Sep 30, 2020 at 1:09 PM Christian Wirth <notifications@github.com>
wrote:

[2020-10-02 18:52] christianwimmer commented on #2333
I could not reproduce the issue locally. But I identified and fixed a probably cause in https://github.com/oracle/graal/commit/18eeb1e98428a7272d0d4fab9f9be017827f3e28 - the method name passed to `GetMethodID` was decoded using the current charset instead of using UTF-8. That can lead to a wrong decoding of the C string `<init>`.

I'm closing the issue. If you can still reproduce with my fix, plea

[2020-10-02 18:52] #2333 closed

[2020-10-02 19:20] jeshan opened #2890 "What are the prerequisites to learning Truffle?"
**Describe the issue**
I'm looking to learn the Truffle api but I still have close to zero clue about language implementation.
When I read blogs like this:
https://medium.com/graalvm/graalvm-ten-things-12d9111f307d

I see the author @chrisseaton writes:

As somebody who didn't study compiler design, I'd like to ask: What would those skills be?
Are there specific chapters in the ["Dragon book"](htt

[2020-10-02 19:24] chrisseaton commented on #2890
I wouldn't recommend the Aho et al book for writing Truffle languages. It's very old-fashioned and pretty much the opposite of the way Truffle does things.

I'd recommend (in order):

* [Writing An Interpreter In Go](https://interpreterbook.com/)
* [Writing A Compiler In Go](https://compilerbook.com/)
* [Crafting Interepters](https://craftinginterpreters.com/)

Then come back and look at Truffle.

[2020-10-02 19:33] jeshan commented on #2890
Thanks Chris, that's good enough for me.

[2020-10-02 19:33] #2890 closed

[2020-10-02 23:40] cstancu commented on #2800
https://github.com/oracle/graal/commit/fdc9ba443de8c540b07f7f10ea726df8b8fcef54 improves the error message when trying to load a provider that was not registered and verified at Native Image build time. That should make it easier to find the underlying issue for these kinds of errors in the future. The reason why providers need to be registered and verified at build time is that we don't have acce

[2020-10-02 23:40] #2800 closed

[2020-10-02 23:43] cstancu commented on #1152
As I mentioned in a related issue the Bouncy Castle, and all other providers, need to be registered and verified at Native Image build time. See: https://github.com/oracle/graal/issues/2800#issuecomment-702480444.

[2020-10-02 23:43] #1152 closed

[2020-10-02 23:47] cstancu commented on #1693
As I mentioned in a related issue the Bouncy Castle, and all other providers, need to be registered and verified at Native Image build time. See: #2800 (comment).

[2020-10-02 23:47] #1693 closed

[2020-10-03 02:33] #2058 closed

[2020-10-03 02:43] cstancu commented on #1721
The `Unsupported field java.net.URL.handlers is reachable` error is fixed by https://github.com/oracle/graal/pull/2059. Full support for custom `URLStreamHandlerFactory` is planned for a future release.

[2020-10-03 02:43] #1721 closed

[2020-10-03 02:49] reddigfabian commented on #1152
With all the same code as my comment above, I added the following:

In the gluon plugin config (passes cmd line arg to native-image):
`<nativeImageArgs>--rerun-class-initialization-at-runtime=org.bouncycastle.jcajce.provider.symmetric.AES$Mappings</nativeImageArgs>`

In my dependencies:
`        <dependency>
            <groupId>org.graalvm.nativeimage</groupId>
            <artifactId>svm</artifa

[2020-10-03 09:43] wirthi commented on #2888
Hi @sparkyspider

thanks for your request.

We have some documentation on the possible embeddings in https://github.com/graalvm/graaljs/blob/master/docs/user/NodeJSVSJavaScriptContext.md

To use Node.js AND Java to the full extend (including the Node.js event loop), our preferred solution is to start from a Node.js app and interop to Java from there. This is fully supported today. And basically, t

[2020-10-03 10:41] dsyer opened #2891 "Incomplete HTTP responses with Tomcat causing timeout on client side"
This seems to be a regression between GraalVM 19.2 and 20.1. See https://github.com/spring-projects-experimental/spring-graalvm-native/issues/306#issuecomment-702932959 for more background. To observe it you can build a native image with Tomcat and run ApacheBench with no concurrency (`-c 1`). You will see each request is fast with 19.2 and takes precisely 1000ms with 20.1 and above (presumably a

[2020-10-03 19:00] marinier commented on #2855
I'm running into another issue caused by this same problem. Specifically, I have a Java 8 library that depends on graal's `js` and `js-script-engine` (as opposed to using Nashorn) so that projects on newer JDKs (e.g., JDK 15) can still use it. While not strictly required, I was also depending on `chromeinspector` because it caused additional log printing to occur that was useful. The error I got i

[2020-10-03 19:21] xcporter opened #2892 "Java Sound API support?"
I've prepared a small proof-of-concept app using Kotlin, TornadoFx and the `javax.sound.sampled` package to play a test tone when a button is pressed. (https://github.com/xcporter/nitest)

When it's compiled to a native image, the ui loads, but when I first try to engage the sound generator portion I get the following error (abridged):

[code]

Then any activity after that leads to a `java.lang.No

[2020-10-04 01:16] frank-dspeed commented on #2888
@sparkyspider i am working on such a context at present you can follow me on github to be uptodate

at present i am working on mapping the fundamentals to get node/interals/* running inside the context.

[2020-10-04 02:43] reddigfabian commented on #1152
So after a bunch more testing, reading, googling, testing, and trying random stuff, I am still receiving the `Fatal error: javax.crypto.JceSecurity.getCodeBase(Class) is reached at runtime.` failure despite the suggested fixes. I've gone ahead and put a repo on github to reproduce the issue: https://github.com/reddigfabian/GluonGraalTest.

I built this using the "Gluon Mobile - Multiple View Proje

[2020-10-04 03:15] amahfouz1 commented on #2261
@MuriloFtto  I am working on contributing a full JNA configuration sample for GraalVM will let you know once it's ready.

[2020-10-04 03:41] christianwimmer commented on #2645
Fixed in https://github.com/oracle/graal/commit/c6cfbe276d34833e092bbe7c5b42938849db9ac7
System properties from the command line are now parsed earlier, so that the JDK initialization code reads the correct system property value.

[2020-10-04 03:41] #2645 closed

[2020-10-04 12:27] omar391 commented on #2858
@cstancu, Yes. As you could see in the Gradle task:

[2020-10-05 03:48] christianwimmer commented on #2160
The `Perf` class is not supported, and all code from it should be unreachable. To diagnose the issue better, https://github.com/oracle/graal/commit/39ec03d4e7a4d69015d72dc8a4c96fda75261299 marks the method as deleted so that a reachability stack trace is printed.

[2020-10-05 03:48] #2160 closed

[2020-10-05 04:54] christianwimmer commented on #2853
Support for the module system is currently under development. So there is no real resource lookup based on the module path possible yet. But I added some more substitutions in https://github.com/oracle/graal/commit/3af85e58222988710f542e5285d69dca133b5196 that should avoid the problem that you have seen.

[2020-10-05 04:54] #2853 closed

[2020-10-05 08:48] oubidar-Abderrahim commented on #2891
Would you mind providing a reproducer for this issue?

[2020-10-05 08:52] dsyer commented on #2891
This sample has the performance issue: https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/webmvc-tomcat. I'm not sure if it can be compiled with 19.2, so you might not be able to see the regression.

[2020-10-05 09:11] halimpuckjava opened #2893 "GraalVM support for Dart language"

[2020-10-05 10:31] sparkyspider commented on #2888
Thank you for your Christian and Frank.

Christian, unfortunately I need to call the node scripts from Java, not the
other way around.

Frank, very exciting. Please send me a link!

Thank you,

[2020-10-05 10:44] sparkyspider opened #2894 "Please create an updated Heroku Buildpack"
Seems that Heroku (an extremely useful, convenient and quick way to deploy Java applications) no longer has support for GraalVM. The older buildpack by Joe Kutner (https://elements.heroku.com/buildpacks/jkutner/graal-buildpack) no longer works.

It would be great if there was a buildpack that installs the latest GraalJVM on Heroku that also then will pick up your build.gradle specifically and then

[2020-10-05 12:32] oubidar-Abderrahim commented on #2892
Thank you for reporting this. we will look into it

[2020-10-05 15:38] oubidar-Abderrahim commented on #2892
An internal ticket was created for the Dev team to further investigate and fix this issue.

[2020-10-05 22:48] collinpeters commented on #2875
I have this same issue that started with 20.2

[2020-10-06 03:52] sendev1 commented on #2877
@mcraj017 Here is the code
**SOAP Server**
https://github.com/sendev1/cxf-server
Just download the spring boot app and start the app
This should be up and running http://localhost:8080/cxf/ws/helloworld?wsdl

**SOAP Client** - Here is where I am facing issues
https://github.com/sendev1/cxf-client
Download app
If you would like to try it as spring boot app then just start it as spring boot app and

[2020-10-06 08:05] mcraj017 commented on #2893
Hello @halimpuckjava
thank you for the feature request

Please provide the information in the form of below template

Feature request

**1. Is your feature request related to a problem? Please describe.
2. Describe the solution you'd like.
3. Describe who do you think will benefit the most.
4. Describe alternatives you've considered.**
5. Additional context.

[2020-10-06 08:09] mcraj017 commented on #2894
Hello @sparkyspider
thank you for the feature request

Please provide the information in the form of below template

Feature request

**1. Is your feature request related to a problem? Please describe.
2. Describe the solution you'd like.
3. Describe who do you think will benefit the most.
4. Describe alternatives you've considered.
5. Additional context.**

[2020-10-06 08:45] dougxc commented on #2893
Duplicate of #437. Please search for existing issues before opening new ones.

[2020-10-06 08:45] #2893 closed

[2020-10-06 08:46] ilopmar opened #2896 "Regression with Micronaut gRPC: "org.graalvm.compiler.debug.GraalError: should not reach here: Intrinsic graph can only have one node with an exception edge""
**Describe the issue**

Our CI has detected a regression introduced by this commit https://github.com/oracle/graal/commit/9d21964f7afa35d4d4f3bece233a293b2682637e with our Micronaut gRPC test application.

**Steps to reproduce the issue**

- `git clone https://github.com/micronaut-graal-tests/micronaut-grpc-graal`
- `cd micronaut-grpc-graal`
- `git checkout graalvm-issue`
- Use GraalVM compiled fr

[2020-10-06 08:53] dougxc commented on #2894
Hi @sparkyspider I see that you've already opened an issue with the existing buildpack (https://github.com/jkutner/graal-buildpack/issues/4). That's the best path to get the problem resolved.

[2020-10-06 09:16] libin049 opened #2897 "Can swift be running in graalvm?"
Hello, all:
     I want running swift in graalvm, but failed. here is my steps. Can swift be running in graalvm? and how?

OS: ubuntu 16.04
Graalvm: graalvm-ce-java8-linux-amd64-20.2.0
hello.swift: as follows

[code]
[code]
some error occur:
[code]

--------------------------------------------------------------------------------------------------------------------------------------
I also try it i

[2020-10-06 09:43] libin049 commented on #2897
I found `/usr/lib/libSystem.B.dylib` does not exist in macos 11.0. It exists in macOS 10.x.
So graalvm cannot running in macOS 11.0, right?

[2020-10-06 09:48] borkdude opened #2898 "Undefined symbols for architecture x86_64 with compilation on macOS"
**Issue**

I am trying to compile [this](https://github.com/borkdude/console-tetris#graalvm) project with GraalVM native-image on macOS and it fails with a link issue.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone https://github.com/borkdude/console-tetris
2. follow instructions here: https://github.com/borkdude/console-tetris#graalvm

**Descri

[2020-10-06 12:11] zakkak commented on #2502
Re 2: I have opened https://github.com/oracle/graal/pull/2852

Could someone please provide some feedback on my latest questions regarding 1 and 3 in https://github.com/oracle/graal/issues/2502#issuecomment-693024160?

I am especially interested in getting some feedback for 1!

cc @gilles-duboscq

[2020-10-06 12:18] fniephaus commented on #2898
This looks like a duplicate of #2063.

[2020-10-06 12:22] borkdude commented on #2898
Thanks. I'll try with GraalVM dev 20.3.0.

[2020-10-06 12:23] olpaw commented on #2063
@gradinac kindly fixed this on master.

[2020-10-06 12:23] #2063 closed

[2020-10-06 12:26] borkdude commented on #2898
@fniephaus I'm getting a different error with 20.3.0 (java 11):

[code]

[2020-10-06 12:58] fniephaus commented on #2898
What happens if you remove `RandomNumberGeneratorHolder` from
https://github.com/borkdude/console-tetris/blob/20d0d3bd4e764cd67ff676c751be9b0e7e6acc1c/script/compile#L15
?

[2020-10-06 13:03] borkdude commented on #2898
@fniephaus Then I get a new error:

[code]

[2020-10-06 13:05] borkdude commented on #2898
When adding `"--initialize-at-run-time=java.awt.color.ICC_ColorSpace"` I get:

[code]

[2020-10-06 13:12] gilles-duboscq commented on #2502
I'm not sure how the result will not be a rather awkward GraalVM in which the `java` command will not be using the Graal compiler and using `-XX:+UseJVMCICompiler` there will use an old outdated version of the Graal compiler.
The fundamental issue I see here is that there's no way for the JDK to pickup additional module just based on their presence in a special location (this was the design we had

[2020-10-06 13:17] fniephaus commented on #2898
I'm afraid you are out of luck: the project you are compiling depends on AWT/Swing which is not yet supported by native image (see #2644 for example).

[2020-10-06 13:52] borkdude commented on #2898
@fniephaus No problem. I switched over the terminal to text instead of Swing and now it works with 20.2.0 :)

[2020-10-06 13:52] #2898 closed

[2020-10-06 14:18] dsyer opened #2900 "Native image fails at runtime with standard charsets used in MySQL"
"WINDOWS-1252" is a fallback charset for the MySQL JDBC client. It works in a regular JVM, but fails in a native image. Here's a short repro:

[code]

[2020-10-06 14:43] fernando-valdez commented on #2900
Hello @dsyer,
Can you please share the version of GraalVM you used?

[2020-10-06 14:44] dsyer commented on #2900
[code]

It's the same with 20.2 I think.

[2020-10-06 14:57] gradinac commented on #2900
Hey @dsyer! Looking at `com/oracle/svm/core/jdk/LocalizationFeature.java:164`, that charset is not added to the native-image by default. You can try building the native-image with `-H:+AddAllCharsets`, this should include `WINDOWS-1252` but it will also include a bunch of other charsets too, making the image bigger.

[2020-10-06 15:03] fernando-valdez commented on #2900
@dsyer I was able to build/run the Foo example without the `-H:+AddAllCharsets` suggested by @gradinac.

![image](https://user-images.githubusercontent.com/54555325/95219435-fb845f80-07ba-11eb-815e-83aa6b18a01c.png)

Please try `-H:+AddAllCharsets` and let us know if the problem persists

[2020-10-06 15:30] mipastgt opened #2901 "Incompatible change of initialization policy for java.io.RandomAccessFile"
**Describe the issue**
When I build an application of mine via Gluons client-maven-plugin (JavaFX toolchain, but probably not relevant to this issue) I get the following exception at the end of the native-image build:
[code]
The problem seems to be in some external code inside of apaches PDFBox (2.0.20) which I am using in my program.

**Describe GraalVM and your environment:**
 - GraalVM version

[2020-10-06 15:31] dsyer commented on #2900
Thanks, that works for my MySQL sample as well (but adds 7MB to the image size!). It's better to tell MySQL to use UTF-8 explicitly.

[2020-10-06 15:31] jramirez-isc commented on #2896
@ilopmar Thanks for reporting this.
I can confirm this issue in the latest snapshot. It's working fine in GraalVM 20.2.0.

[2020-10-06 15:36] fernando-valdez commented on #2901
Hello @mipastgt,
Thanks for reporting this issue.
Can you please share a reproducer?

[2020-10-06 15:43] fernando-valdez commented on #2900
Thanks @dsyer and @gradinac!

[2020-10-06 15:45] #2900 closed

[2020-10-06 15:59] fhanik opened #2902 "Performance Regression on Apache Tomcat from Graal v19 -> v20"
**Describe the issue**
Using Apache Bench we're noticing that socket data is not getting flushed when running Apache Tomcat as a native image.
The delay, which is almost exactly `1 second` seems to be happening in the Apache Tomcat run time.

**Highlights**

- We're not seeing this with curl or other http clients
- We're not seeing this with Graal v19.2 native-image, `ab` works fine here too
- Put

[2020-10-06 16:00] fhanik commented on #2891
Linking a reproducible test case:

https://github.com/oracle/graal/issues/2902

[2020-10-06 16:41] ilopmar commented on #2896
Yes, with the previous commit (8a96bec03e19a666ae749cce35f8e895a6561844) it also works, no need to go back to 20.2.0 :-P

[2020-10-06 17:02] mipastgt commented on #2901
I don't have a reproducer right now because this happened in a large project outside of my own code. I thought you might just have a look at the two relevant classes (which are both available on the internet) and see immediately what's going wrong.

[2020-10-06 18:50] perezd opened #2903 "Native image for google-java-format fails unexpectedly after compilation"
**Describe the issue**

Using graalVM-jdk11 + native image, I am unable to create a runnable native image of google-java-format.jar. Some say it has worked in environments like MacOS but I cannot get it to work in Linux/Ubuntu.

**Steps to reproduce the issue**
Steps are outlined here:
https://github.com/google/google-java-format/issues/358#issuecomment-699926534

**Describe GraalVM and your envir

[2020-10-06 20:28] fernando-valdez commented on #2903
Hello @perezd,

Can you please share the args you used to create the native image?

Also, did you use the `native-image-agent` to create the configuration files? if not,  you can get more information here:
https://www.graalvm.org/reference-manual/native-image/Configuration/#assisted-configuration-of-native-image-builds

[2020-10-06 20:53] perezd commented on #2903
Hi @fernando-valdez, the detailed flags and commands are outlined in a walkthrough:
https://github.com/google/google-java-format/issues/358#issuecomment-699926534

The agent was used as well.

[2020-10-07 06:46] fniephaus commented on #2792
The above example was missing a closing `"`, but here's an updated one that also breaks:
[code]

[2020-10-07 10:14] mipastgt commented on #2901
Here is a trivial and tiny example maven project which reproduces the issue.
Just call `mvn clean package` to reproduce the bug.
[PDFBoxBugReport.zip](https://github.com/oracle/graal/files/5339760/PDFBoxBugReport.zip)
I hope this helps to fix the problem.

[2020-10-07 14:56] oubidar-Abderrahim commented on #2897
Currently, yes. GraalVM cannot be run on macOS Big Sur 11.
As mentioned in the [release notes of macOS 11](https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11-beta-release-notes/) the system ships with a built-in dynamic linker cache of all system-provided libraries. As part of this change, copies of dynamic libraries are no longer present on the filesystem. Code that at

[2020-10-07 15:08] oubidar-Abderrahim commented on #2897
@libin049 could you provide a reproducer for `Library "/usr/lib/libSystem.B.dylib" does not exist.`?
it will help speed up the investigation

[2020-10-07 15:31] ppalaga opened #2904 "Provide a way to call the original method from a @Substitute method"
**Feature request**

I'd need to change the behavior of a method only if some condition is fulfilled and otherwise delegate to the original implementation.

Here is an example:

[code]

**Is your feature request related to a problem? Please describe.**
The only solution known to me is to copy the code from the original method to the substituted method. That might be tedious as I might have to alia

[2020-10-07 16:07] libin049 opened #2905 "External LLVMGlobal $ss23_ContiguousArrayStorageCMn cannot be found"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.2**
 - CE or EE: **CE**
 - JDK version: **JDK8**
 - OS and OS Version: **ubuntu16.04**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
java call swift failed
- java file: Polyglot.java
- swift file: hello.swift

error messages is
[code]

**Code

[2020-10-07 16:19] libin049 commented on #2897
Sure!
I follow the guidelines 'https://www.graalvm.org/docs/getting-started-with-graalvm/macos/'.
OS: macOS 11.0 beta
Graalvm: graalvm-ce-java8-darwin-amd64-20.2.0

Steps:
1. download **graalvm-ce-java8-darwin-amd64-20.2.0.tar.gz**
2. ```tar -xvf graalvm-ce-java8-darwin-amd64-20.2.0.tar.gz```
3. ```sudo mv graalvm-ce-java8-20.2.0 /Library/Java/JavaVirtualMachines```
4. ```export PATH=/Library/Java

[2020-10-07 21:50] alaa-abu-zidan commented on #2261
amahfouz1  finally some hope, I am postponing migrating to GraalVM until the JNA issue can be solved, please share the workaround.
Thank you.

[2020-10-08 13:54] teshull commented on #2896
I pushed something to master yesterday (67bf1674bf639d165bdc8010b73881ef6e823b3f) which I believe resolves this issue. @ilopmar can you confirm things work now?

[2020-10-08 14:32] dougxc commented on #2904
Hi @ppalaga as far as I understand, this is currently not supported by SVM. @christianwimmer can comment on plans, if any, to add such support.

[2020-10-08 14:42] christianwimmer commented on #2904
My usual disclaimer first: you should not use method substitutions.

Doug is correct, preserving the original method is not supported and would also be very difficult to support: as the name of the annotation suggest, the new method really is a substitution that replaces the original implementation. There is never a new "method entity" created (in JVMCI terminology a `ResolvedJavaMethod`). All met

[2020-10-08 14:42] #2904 closed

[2020-10-08 15:49] oubidar-Abderrahim commented on #2897
Thank you @libin049
I added the reproducer to the internal ticket

[2020-10-08 17:19] ilopmar commented on #2896
Yes, I can confirm it works now! https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/780683984

Thank you for fixing this so fast :rocket:

[2020-10-08 17:19] #2896 closed

[2020-10-08 20:10] zakkak commented on #2502
You are actually describing Mandrel here :)
The `--no-jlinking` would essentially allow one to take a JDK and augment it with the necessary bits to work with `native-image`.
The end goal here is being able to run `native-image`, not producing a GraalVM.

This is only relevant if we want to have a GraalVM (i.e. a JDK using graal by default, or at least when using `-XX:+UseJVMCICompiler`), right?

M

[2020-10-08 22:21] collinpeters commented on #2151
@r-uu are you able to share your script which does this initialization? Just curious as I ran into this just now while trying to build on GitHub Actions. Once I copied native-image.exe from `lib/svm/bin` to `/bin` it works. I'm curious how you worked around this.

[2020-10-09 01:18] alzadude commented on #726
@olpaw this issue caught me out as well! I think a line in the docs is justified for this.

https://www.graalvm.org/reference-manual/native-image/Options

The reference manual currently doesn't state anything about argument/option ordering, it simply states
[code]
Which would make one think that any `-H:Name=myname` option would need to go before the `-jar` argument, not after.

Thanks 🙂

[2020-10-09 07:31] olpaw commented on #726
@alzadude we have that under https://www.graalvm.org/reference-manual/native-image/Configuration/#order-of-arguments-evaluation. Maybe that should be linked to also from https://www.graalvm.org/reference-manual/native-image/Options
cc @olyagpl

[2020-10-09 09:22] oubidar-Abderrahim commented on #2232
@christianwimmer FYI: There is an Internal ticket (GR-24133) for this issue

[2020-10-09 09:33] gilles-duboscq commented on #2502
Between those two options, i personally prefer `--no-jlinking` since it is orthogonal to what is included or not (native-image present or not, orther components present or not etc.).

[2020-10-09 09:43] ppalaga commented on #2904
Thanks for the explanations, @dougxc and @christianwimmer. I see that "preserving" would be rather hard to do, but can't the solution be approached as "method renaming"? Renaming seems to be a substitution of a special kind, where all method characteristics are kept except for the name. This alone looks doable with the current JVMCI means. But yes, what I actually want is to both rename and substi

[2020-10-09 10:11] brentco commented on #2855
Cannot use this as long as it's not a real maven dependency :(

[2020-10-09 10:36] ppalaga opened #2907 "Document the limitations in Locale support"
As of GraalVM 20.2.0, native executables produced by the `native-image` command contain only the single locale that has been returned by `Locale.getDefault()` in the building JVM. That's at least my understanding of what happens in [LocaleSubstitutions](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/LocaleSubstitutions.java) and [Localiz

[2020-10-09 10:57] ppalaga commented on #2907
Related https://github.com/oracle/graal/issues/1645 and https://github.com/oracle/graal/issues/911

[2020-10-09 13:05] ppalaga opened #2908 "Support for non-default locale"
**Feature request**

As of GraalVM 20.2.0, native executables produced by the native-image command contain only the single locale that has been returned by `Locale.getDefault()` in the building JVM. This is implemented in [LocaleSubstitutions](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/LocaleSubstitutions.java) and [LocalizationFeatu

[2020-10-09 17:31] jramirez-isc commented on #2902
Hi @fhanik thanks for reporting this.
I'm able to run your steps and I tested on different versions. I found this issue starting from version 19.3.0.

**Results with Graal 19.2.1**
Server Software:
Server Hostname:        localhost
Server Port:            8080

Document Path:          /
Document Length:        33 bytes

Concurrency Level:      50
Time taken for tests:   0.040 seconds
Complete requ

[2020-10-10 01:30] XeonG commented on #403
https://github.com/gluonhq/gluon-samples/issues/72

is this the same issue.. default project HelloFXML project runs fine with no fxml changes, add in any other component that wasn't already in the default setup and  it just doesn't work on windows.

[2020-10-10 02:48] postmodern opened #2909 "graalvm-ce tar.gz release files contain read-only files"
While debugging an issue where I was getting permission issues when re-installing graalvm-ce 20.2.0 from `graalvm-ce-java8-linux-amd64-20.2.0.tar.gz`, I noticed that the tar archive itself contains read-only files.

[code]

When extracted with `tar -xzvf graalvm-ce-java8-linux-amd64-20.2.0.tar.gz` the file ownership changes to my user, however the `-r--r--r--` permissions are preserved.

[code]

I

[2020-10-10 13:46] chrisseaton opened #2910 "engine.CompilationStatistics prints number of methods invalidated - could also print number of times invalidated"
When we use `--engine.CompilationStatistics` we get the number of compiled methods invalidated by an assumption. It would be useful to also see the number of times it is invalidated. Once but lots of methods is not as bad as many times and many methods, so we need to see the difference.

[2020-10-10 16:42] davidchang168 opened #2911 "Failed to build native executable for Quarkus app using Graalvm v20.2"
[INFO] [io.quarkus.deployment.pkg.steps.NativeImageBuildStep] /home/david/tools/graalvm-ce-java11-20.2.0/bin/native-image -J-Djava.util.logging.manager=org.jboss.logmanager.LogManager -J-Dsun.nio.ch.maxUpdateArraySize=100 -J-Dvertx.logger-delegate-factory-class-name=io.quarkus.vertx.core.runtime.VertxLogDelegateFactory -J-Dvertx.disableDnsResolver=true -J-Dio.netty.leakDetection.level=DISABLED -J-

[2020-10-11 18:33] pgillet commented on #2347
I gave it a shot anyway. Please see https://github.com/oracle/graal/pull/2912 .

[2020-10-12 08:01] sdeleuze commented on #2902
Please add the `spring` label to this issue, and please let us know any progress since we are working heavily on benchmarks these days.

[2020-10-12 09:26] oubidar-Abderrahim commented on #2907
The issue will be closed and the progress can be tracked on the feature request. see #2908

[2020-10-12 09:26] #2907 closed

[2020-10-12 09:29] r-uu commented on #2151
@collinpeters the relevant part is just a call to vcvars64.bat:
@call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"

As you can see I updated to Visual Studio 2019 meanwhile. However, in the meantime I gave up with building a native image because I tried hard but could not find a way to get such basic stuff as log4j running :(

[2020-10-12 11:33] oubidar-Abderrahim commented on #2911
Could you please follow the template at (https://github.com/oracle/graal/issues/new?assignees=&labels=bug%2C+native-image&template=1_issues_native_image.md&title=) when reporting a bug and provide a reproducer for this issue

Thank you

[2020-10-12 13:21] manuelgustavor3 commented on #291
Hi @vjovanov (or @thomaswue), was there any progress on this feature?
Is there a way, in the current release, to reproduce native-image builds? (With GraalVM 20.2, a simple "hello-world.java" still outputs distinct binaries on every single build).

[2020-10-12 14:17] vjovanov commented on #291
There has not been much progress on this feature. I am currently looking for a candidate to handle this issue. It will not be an easy task to make this work.

[2020-10-12 14:48] oubidar-Abderrahim commented on #2875
This code is only reached when trying to use `VarHandles` or `MethodHandles`, which are not supported by Native Image yet. The code you’re trying to compile probably uses one of these, which gets pulled by the agent into the reflection configuration.
We are currently developing support for `MethodHandles`, in the meantime, you can work around this by finding where the LambdaForm code gets called a

[2020-10-12 15:12] oubidar-Abderrahim commented on #2891
Closing this issue for duplication, the progress should be tracked in #2902

[2020-10-12 15:12] #2891 closed

[2020-10-12 15:14] manuelgustavor3 commented on #291
Hi @vjovanov, thank you very much for your quick update.
Since this has been open for quite a while, do you have a target date or release version for this feature?

[2020-10-12 18:03] zfernandez88 opened #2913 "API to manually dump pgo profiles"
As far as I can tell, there is no way to generate profile data for profile guided optimizations when building shared objects using native-image. I am able to generate an image using `--pgo-instrument`, but no profile file is created. If I generate an executable, the profile file is created as expected.

If an API is provided, users of shared objects would be able to call the profile dumping API fr

[2020-10-12 18:50] fernando-valdez commented on #2909
Hello @postmodern,
Thanks for reporting this. I will take a look at the problem.
If I have any question, I will let you know

[2020-10-13 01:32] davidchang168 opened #2916 "Unable to build native executable with the latest dev GraalVM on LinuxMint 20"
**Describe the issue**
I have an old (classified) Maven application generated by quarkus.io (ver 1.3.2) with gPRC, REST plugins, and I tried to build a native executable with GraalVM-CE-java11-20.2.0 and GraalVM CE 20.3.0-dev-20201010_0232. But I always got the following error:
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.3.2.Final:build (default) on project radio-monitor-sim:

[2020-10-13 01:34] davidchang168 commented on #2911
Re-submitted using the template you provided (new issue #2916)

[2020-10-13 06:36] DeanWookey commented on #2916
Did you try the suggestion in the stacktrace:

[code]
Specifically,
[code]

[2020-10-13 07:00] DeanWookey opened #2917 "gu install native-image fails on linux"
**Describe the issue**
When building a native image on Linux I got the following error:
[code]
After following those instructions I got this error:
[code]
GRAALVM_HOME is /opt/java/graalvm-ce-java11-20.2.0

After doing some digging into where the error is reported, specifically this line (potentially): https://github.com/oracle/graal/blob/0dee9ea640a96137e72d2583a02b828b9a0deb87/vm/src/org.graalvm

[2020-10-13 10:48] oubidar-Abderrahim commented on #2911
Closing this issue, progress is tracked on #2916

[2020-10-13 10:48] #2911 closed

[2020-10-13 11:11] oubidar-Abderrahim commented on #2916
Could you please provide a reproducer, a source code I can run and test to see this issue

Thank you

[2020-10-13 20:58] davidchang168 commented on #2916
Yes I did try all the suggestions but still failed

Thanks,
David

On Tue, Oct 13, 2020 at 1:36 AM DeanWookey <notifications@github.com> wrote:

[2020-10-13 20:58] cstancu commented on #442
This should be fixed in latest release, you may need `  --initialize-at-run-time=io.netty.channel.epoll`.

[2020-10-13 20:58] #442 closed

[2020-10-13 21:00] davidchang168 commented on #2916
For this one I'm not able to provide a reproducer because that's a
classified project, but I have another simple project generated by
quarkus.io and I have no problem to generate a native executable.

On Tue, Oct 13, 2020 at 6:12 AM Abderrahim Oubidar <notifications@github.com>
wrote:

[2020-10-13 21:07] #592 closed

[2020-10-13 21:08] #612 closed

[2020-10-13 21:09] #638 closed

[2020-10-13 21:10] cstancu commented on #639
This issue cannot be reproduced anymore.

[2020-10-13 21:10] #639 closed

[2020-10-13 21:12] #668 closed

[2020-10-13 21:13] #685 closed

[2020-10-13 21:13] #699 closed

[2020-10-13 21:18] #718 closed

[2020-10-13 21:19] cstancu commented on #720
This issue has since been fixed.

[2020-10-13 21:19] #720 closed

[2020-10-13 21:22] cstancu commented on #741
This issue is not reproducible anymore.

[2020-10-13 21:22] #741 closed

[2020-10-13 21:28] cstancu commented on #843
The behavior of the class initialization and the format of the error messages has evolved since this issue was open.

[2020-10-13 21:28] #843 closed

[2020-10-13 21:29] #922 closed

[2020-10-13 21:36] cstancu commented on #966
@mageddo thanks for sharing your working solution!

[2020-10-13 21:36] #966 closed

[2020-10-13 21:37] cstancu commented on #969
I could not replicate this issue.

[2020-10-13 21:37] #969 closed

[2020-10-13 21:39] cstancu commented on #1009
@kronolynx the behavior has changed since this issue was opened. I suggest using the Native Image agent to get the complete reflection configuration.

[2020-10-13 21:39] #1009 closed

[2020-10-13 21:40] pkesseli opened #2919 "Compilation fails with llvm backend: `ImageSingletons do not contain key org.graalvm.home.HomeFinder`"
**Describe the issue**
Compiling a simple hello world program using the LLVM back-end issues the following error: `ImageSingletons do not contain key org.graalvm.home.HomeFinder`

**Steps to reproduce the issue**
In Docker `ubuntu:latest`:
1. `wget https://github.com/graalvm/graalvm-ce-dev-builds/releases/download/20.3.0-dev-20201013_0215/graalvm-ce-java11-linux-amd64-dev.tar.gz`
2. `export PATH=$

[2020-10-13 21:58] cstancu commented on #1200
This issue cannot be replicated anymore.

[2020-10-13 21:58] #1200 closed

[2020-10-13 22:03] cstancu commented on #1239
As suggested the `java.lang.NoClassDefFoundError` by adding the optional dependencies or, with the latest release by using `--allow-incomplete-class-path`.

[2020-10-13 22:03] #1239 closed

[2020-10-13 22:09] cstancu commented on #1471
This is a feature, some frameworks depend on this behavior, i.e., the absence of a field/method/class is considered "configuration". I personally don't like that programming style but we have decided that having an incomplete classpath is something that we need to support and the Native Image build must be succesfull. In the specific case that you mention we actually synthesize the `NoSuchFieldExc

[2020-10-13 22:09] #1471 closed

[2020-10-13 22:11] cstancu commented on #1470
As @kaspernielsen mentioned this could lead to too many fields being registered for reflection. We prefer that reflection registration is either explicit or it is the result of using the Native Image agent to profile the application.

[2020-10-13 22:11] #1470 closed

[2020-10-13 22:19] cstancu commented on #1307
`java.lang.Package.getPackage()` is [substituted](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/JavaLangSubstitutions.java#L792) and we just parse the name. It doesn't involve any class loading.

[2020-10-13 22:19] #1307 closed

[2020-10-13 22:24] #1539 closed

[2020-10-13 22:28] cstancu commented on #1547
@neomatrix369 I'm closing this issue as I don't think it is a bug. I suggest using the Native Image agent to get the complete configuration.

[2020-10-13 22:28] #1547 closed

[2020-10-13 22:45] #1862 closed

[2020-10-13 22:47] cstancu commented on #1895
The underlying issue here is incomplete MethodHandle support. That is under development and is being tracked by #2761.

[2020-10-13 22:47] #1895 closed

[2020-10-13 22:50] cstancu commented on #2736
This should be fixed by f4f1fc8ba8d2044df680ebe40bf2313ca2c62399. `ClassLoader.defineClass()` was automatically registered for reflection, but it should have just been `@Delete`ed and `@Delete`ed methods should be ignored by the reflection plugin.

[2020-10-13 22:50] #2736 closed

[2020-10-13 23:01] #1941 closed

[2020-10-13 23:04] cstancu commented on #1941
@gwenneg while the error message can be improved that is just an internal assertion in SVM code and not something that should ever show up in user code. As @jaikiran correctly analysed the problem was caused by invalid bytecode generated by the framework. Pull requests to improve the debugging experience are welcome.

[2020-10-13 23:19] fernando-valdez commented on #2919
Hello @pkesseli,
Thanks for reporting this issue. I will take a look at it and will let you know if I have any questions

[2020-10-13 23:58] sherl0cks commented on #1163
@cstancu I'm looking at some code again that needs `ImageIO` in graal. Any way to support you and help get this feature built?

[2020-10-14 00:06] perezd commented on #442
@cstancu do you mean https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.2.0 ?

If so, that is not working.

[2020-10-14 04:21] guillermomolina opened #2920 "The inspector/Chrome Devtools Protocol implementation forces to show "this" as a local variable on any language"
I am implementing a language that does not use a "this" (or "self") variable. But the debugger in visual studio is forced to show a "this" local variable (initialized as null). It would be nice that there should be a way of not doing that:

In [InspectorDebugger.java](https://github.com/oracle/graal/blob/master/tools/src/com.oracle.truffle.tools.chromeinspector/src/com/oracle/truffle/tools/chromei

[2020-10-14 07:30] ddimtirov opened #2921 "Native Image fails if /tmp is mounted with noexec"
**Describe the issue**

Graal Native Image fails with exception on RHEL7 when the `/tmp` directory is mounted as `noexec`.
This is our new company standard, and it's a royal pain to get an exception.
Please consider adding an option to put the executable files in user-specified location.

**Steps to reproduce the issue**
1. Start with stock RHEL7
1. Edit `/etc/fstab`
1. Update as follows:
[code]

[2020-10-14 09:21] cmoine opened #2922 "Native image agent filter: Improve syntax"
**Feature request**

This is a superset for issue https://github.com/oracle/graal/issues/2602

**Is your feature request related to a problem? Please describe.**
According to the nice recommendation in this article: https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271, I am using the tracing agent during jUnit execution, but it is als

[2020-10-14 11:39] neomatrix369 commented on #1547
No worries @cstancu I think this issue is long gone because I was able to rebuild and run the native-image with success, later on, I think the tracing-agent plus some manual config must have helped, it's been a long time since I worked on it. Thank you for following up.

PS: long time no speaks, keep up the good work (and to your team!  👏 )

[2020-10-14 22:33] sherl0cks commented on #1163
@vjovanov Any thoughts on how we may collaborate here?

[2020-10-15 02:42] concavelenz commented on #2756
Can we provide any additional information or otherwise help with resolve this?  npm download size is a significant concern when we start talking about 100s of MB for each supported platform.

[2020-10-15 11:50] ddimtirov commented on #2921
Fixed by passing `-H:TempDirectory=<path>`, but the compilation slowed to a crawl - 8min vs ~2min.

Nevertheless, the setting exists, and smart enough build tool should be able to take advantage of `/tmp` when mapped as executable, while using a fallback when it is not.

Ideally though, I hope it is possible to eliminate the need for executable `/tmp`, or provide a setting for only executable file

[2020-10-15 15:33] ilopmar opened #2923 "Regression with Micronaut Data and JDK 11: "com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported type jdk.internal.reflect.MethodAccessorGenerator is reachable""
**Describe the issue**

Our CI has detected a regression introduced by this commit c616f346ae4552c04be74fe927c81f6f45fd6e6e and some Micronaut Data JDBC/JPA apps. In particular for **Oracle**, **MySql**, **MariaDB** and **Postgres**. It works for H2 and SQL Server.

This only happens with **JDK11** and it works for all the databases with JDK8.

For reference, this is the run that failed: https://g

[2020-10-15 20:27] emrul commented on #2842
I get the same error using SXSSFWorkbook in Apache POI
`
java.lang.UnsatisfiedLinkError: no awt in java.library.path
	at com.oracle.svm.core.jdk.NativeLibrarySupport.loadLibrary(NativeLibrarySupport.java:131) ~[?:?]
	at java.lang.ClassLoader.loadLibrary(ClassLoader.java:228) ~[?:?]
	at java.lang.Runtime.loadLibrary0(Runtime.java:830) ~[?:?]
	at java.lang.Runtime.loadLibrary(Runtime.java:238) ~[?:?