[2019-04-05 22:26] KOLANICH commented on #1122
It's not me to decide, but Oracle.  Ideally is to create a dedicated  key for that and sign it with the keys known as belonging to Oracle.

[2019-04-06 11:29] ChadKillingsworth opened #1137 "Closure Compiler Native Image Builds on Windows"
As soon as it's appropriate, I'd like to help test the native image builds on Windows for Closure Compiler. I don't mind to build Graal from source to do that.

https://twitter.com/thomaswue/status/1114449543729430528?s=09

[2019-04-06 15:58] raphw commented on #1065
This would be very relevant for me, too. I have a monitoring application for which I would like to support this. If Graal could mimic the instrumentation API, this would of course be a plus but a different API that only supports registering a ClassFileTransformer for all classes that are added to the image would solve most use cases, I think.

[2019-04-06 21:49] thomaswue commented on #1137
@pejovica Can you check if the current Windows support for native image is sufficient for building @ChadKillingsworth 's program?

[2019-04-07 08:32] jmaschad commented on #1133
`-XX:-UseJVMCIClassLoader` fixed the issue. Apparently, that option was not strictly necessary with rc12 so I missed it in the original project setup.

[2019-04-07 08:32] #1133 closed

[2019-04-07 09:52] cstehreem opened #1138 "Developing Graal with IntelliJ Idea"
I have been exploring Graal's code following [this article][1] and Graal's official documentation on GitHub. I am trying to import project in IntelliJ Idea but failing so far. Here is my directory structure:

    Graal-Dev
        graal
            ci_includes
            compiler
            docs
            examples
            regex
            sdk
            substratevm
            sulong

[2019-04-07 22:40] fniephaus opened #1139 "Misleading link name for IGV on OTN"
The IGV listing on [OTN](https://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html) currently looks like this:

![image](https://user-images.githubusercontent.com/2368856/55690732-75087b00-5995-11e9-9bcc-b2783c83b34b.png)
The link name should probably read something like `idealgraphvisualizer-1.0.0-rc15-all.zip` instead.

[2019-04-08 03:53] ralleman commented on #1138
If the point of you building Graal is to run up a Graal-based project in IntelliJ, you can download prebuilt binaries for Linux and Mac here https://github.com/oracle/graal/releases. You should us rc14 in this case because the rc15 hasn't been released yet in Maven Central. You need to replace the Project JDK8 in IntelliJ with the one from Graal and it works fine thereafter.

[2019-04-08 03:55] cstehreem commented on #1138
I want to be able to modify Graal and JDK8 it is based on.

On Mon, Apr 8, 2019, 8:53 AM ralleman <notifications@github.com> wrote:

[2019-04-08 08:26] rmannibucau opened #1140 "Bootstrap always slower than oracle JVM?"
Hi guys,

I did a small main (comparable to just calling a CLI help command, no real logic) and the execution is always slower with graalvm than with oracle. Whereas with the rc14 it was slower but close, the rc15 is really noticeably slower. Here a capture of the execution time to illustrate that statement - using time command on the exact same command line (java -cp "li/*.jar" my.Main):

    Ora

[2019-04-08 08:42] plokhotnyuk commented on #1140
@rmannibucau please try -XX:-UseJVMCINativeLibrary option for RC15

[2019-04-08 08:45] rmannibucau commented on #1140
Hi @plokhotnyuk,

thanks for the fast answer, here is what I get - does not look as fast as expected to me:

    Oracle 1.8u191

    real	0m0,175s
    user	0m0,176s
    sys	0m0,042s

    Graal 14

    real	0m0,228s
    user	0m0,391s
    sys	0m0,025s

    Graal 15

    real	0m0,262s
    user	0m0,410s
    sys	0m0,048s

    Oracle 1.8u191

    real	0m0,126s
    user	0m0,161s
    sys	0m0,019s

    Gra

[2019-04-08 08:50] plokhotnyuk commented on #1140
@rmannibucau have you tried OracleJDK and GraavVM EE for a full picture?

[2019-04-08 09:02] rmannibucau commented on #1140
@plokhotnyuk here the same run with zulu - as openjdk representant (I had it locally):

    Oracle 1.8u191

    real	0m0,130s
    user	0m0,156s
    sys	0m0,022s

    Zulu 1.8u202

    real	0m0,126s
    user	0m0,169s
    sys	0m0,021s

    Graal 14

    real	0m0,113s
    user	0m0,206s
    sys	0m0,019s

    Graal 15

    real	0m0,251s
    user	0m0,405s
    sys	0m0,037s

    Oracle 1.8u191

    real	0

[2019-04-08 09:13] gilles-duboscq commented on #1075
This should be fixed in d742661.

[2019-04-08 10:02] plokhotnyuk commented on #1140
@rmannibucau AFAIK it is not free for usage in _production_ only

[2019-04-08 11:05] adinn commented on #979
The problem here is that you have a misguided expectation:

    Expected Behaviour: native image executes faster than same program executed on JVM

Why would you assume this? Native images give you certain gains at the cost of other losses.

JVM execution of an application includes runtime optimization of the code that profits from profile information built up during execution. That includes the o

[2019-04-08 11:55] rmannibucau commented on #1140
@plokhotnyuk here are the results - very close to CE:

    Oracle 1.8u191

    real	0m0,202s
    user	0m0,218s
    sys	0m0,026s

    Zulu 1.8u202

    real	0m0,155s
    user	0m0,188s
    sys	0m0,046s

    Graal 14

    real	0m0,140s
    user	0m0,261s
    sys	0m0,016s

    Graal CE 15

    real	0m0,292s
    user	0m0,458s
    sys	0m0,042s

    Graal EE 15

    real	0m0,165s
    user	0m0,271s
    sys

[2019-04-08 12:00] andreaneri opened #1141 "[native-image] build java prj with dependencies"
Hello,
my env:
uname -a
Darwin Macintosh.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Dec 20 21:47:19 PST 2018; root:xnu-4570.71.22~1/RELEASE_X86_64 x86_64

java -version
java version "1.8.0_202"
Java(TM) SE Runtime Environment (build 1.8.0_202-b08)
Java HotSpot(TM) GraalVM EE 1.0.0-rc15 (build 25.202-b08-jvmci-0.58, mixed mode)

i have this simple prj:
AESMain.java -> depend on: AESUtil.java

i

[2019-04-08 12:14] plokhotnyuk commented on #1140
@rmannibucau do you have a possibility to create a native image for your tool(s)?

That can be a game changer, especially with the profile guided optimization...

[2019-04-08 12:53] neomatrix369 opened #1142 "Startup of application via GraalVM-CE-1.0-rc15 is a bit slower than the traditional JDK8 version"
**This might be application specific, and not necessary happening for all applications**

I'd like to know if there are _any flags to pass on the CLI as args to speed up the startup_? Maybe it is expected to startup slow but would love to know what is happening and why. Are there any _CLI args to enable logging/recording of diagnostics_ when running with the Graal compiler enabled?

If I have to d

[2019-04-08 13:00] neomatrix369 commented on #1140
Will try this and respond asap!

[2019-04-08 13:01] neomatrix369 commented on #1140
Great work with comparing various JDKs with GraalVM - do you have an automated way to do it? I mean scripts and the likes?

[2019-04-08 13:17] rmannibucau commented on #1140
@neomatrix369 I used https://github.com/rmannibucau/docosh/blob/master/graalcomparison.sh (read the small warning at the beginning, tried to not put .jar in the git repo)

@plokhotnyuk i was generating a native image, it works but it is super slow and loose portability of java which is still a nice feature. My goal with graal rc15 was to see if libjvm was a game changer which could enable to not r

[2019-04-08 13:25] thomaswue commented on #1065
@thegreystone Would the approach as described by @raphw also work for your use case?

[2019-04-08 13:34] plokhotnyuk commented on #1140
@rmosaner for fast native images use `--pgo-instrument` and `--pgo` options as described on the 18th slide [here](https://static.rainfocus.com/oracle/oow18/sess/1526041579721001pM2J/PF/2018-10-24%20SubstrateVM%20CodeOne_15404788159460019swO.pdf)

[2019-04-08 13:53] thomaswue commented on #1140
What is the OS/machine you are running on? Generally, the new libgraal setup should be significantly faster in startup in the first few seconds. But it could be that you are dominated by loading the binary. Can you share the program so we can test on different machines?

Generally, for CLI apps, the native image configuration is indeed the recommended one. It gives you an order of magnitude better

[2019-04-08 14:05] rmannibucau commented on #1140
My OS is an ubuntu:

    Linux RMANNIBUCAU 4.18.0-16-generic #17-Ubuntu SMP Fri Feb 8 00:06:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

The app is available in master of previous link.

@plokhotnyuk do you think pgo was not used in libjvm generation and could optimize it more? Goal is really to reduce the need to go native making the jvm itself pre-optimized. Can also imply to hack the default cla

[2019-04-08 14:13] neomatrix369 commented on #1142
There is a slight chance that this issue might be similar to https://github.com/oracle/graal/issues/1140.

The app in question can be found at https://github.com/neomatrix369/awesome-ai-ml-dl/tree/master/examples/data/databases/graph/grakn, all the instructions to start the container (option for GraalVM is also provided) is present in the README, you will see the console logs show how much time it

[2019-04-08 14:46] thomaswue commented on #979
We are not there yet, but our goal is to have native images with profile-guided optimizations (PGO) run at equivalent peak performance to the JIT-compiled JVM version.

The main downsides of using GraalVM in AOT mode instead of JIT mode are:
* Longer build times due to image generation process
* Target platform must be known at build time
* Set of classes of the application and reflection usage mu

[2019-04-08 15:03] jasonkarns opened #1143 "Request to include checksums for published asserts on github/releases"
Can checksums be published along with the packages that are uploaded to github Releases?

Preferably in some programmatically consumable fashion (ie, a checksums.txt file along with the assets, or something?)

[2019-04-08 15:10] pejovica commented on #1137
@ChadKillingsworth I've tried the [Hello World example](https://developers.google.com/closure/compiler/docs/gettingstarted_app), and it seems to work well. It won't work out-of-the-box because it needs additional configuration, but that's not Windows specific.

Getting the config for resources was straightforward, however, I used the [native-image-agent](https://github.com/oracle/graal/blob/master

[2019-04-08 15:14] plokhotnyuk commented on #1140
@rmannibucau [pgo wasn't used for this RC](https://twitter.com/thomaswue/status/1114250855165964289)

[2019-04-08 18:47] raphw commented on #1065
I prototyped a bit and extended my list of requirements by a few things. With this I could make most of my agents Graal compatible in short time.

[2019-04-08 19:08] cstancu commented on #1141
@andreaneri can you try enabling security services with `native-image --enable-all-security-services AESMain`. See the documentation on [security services support](https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md) for more details

[2019-04-08 19:23] andreaneri commented on #1141
@cstancu wow, compilation has been very long than before, but now it work, just i have this warning:
WARNING: The sunec native library, required by the SunEC provider, could not be loaded. This library is usually shipped as part of the JDK and can be found under <JAVA_HOME>/jre/lib/<platform>/libsunec.so. It is loaded at run time via System.loadLibrary("sunec"), the first time services from SunEC

[2019-04-08 20:24] cstancu commented on #1141
The warning (as explained [here](https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md#native-implementations)) is shown because `libsunec.so` cannot be found. If you don't need the SunEC provider then it should not affect your application. In the future, we will statically link `libsunec.so` in the executable.

[2019-04-08 20:24] #1141 closed

[2019-04-08 20:35] gradinac opened #1144 "[polyglot-native] poly_create_context throws NullPointerException"
Compiling GraalVM on Ubuntu 18.04 from master and using the native API provided by libpolyglot.so causes a NullPointerException during a call to poly_create_context.

Source code of the test program:

[code]
---
__The way Graal was built:__
[code]
Contents of lp_js environment:
[code]
__Compiling the test code:__
[code]
where $(POLY_LIB_PATH) is the path to the $(mx --env lp_js graalvm-home)/jre/l

[2019-04-09 05:34] headius opened #1145 "GraalVM fails to handle method handle getClass guard"
This JRuby issue details the symptom and some of my investigation: https://github.com/jruby/jruby/issues/5655

Basically there are a number of core Ruby types in JRuby which can't be subclassed, so if we see those types at an invokedynamic call site we can use a different type guard that doesn't need to consider child classes. The linked issue shows the InvokeBinder code I'm using to build that ch

[2019-04-09 07:27] ChadKillingsworth commented on #1137
Thanks I will give it a go. I already have the reflection config from generating images for Unix and macos.

[2019-04-09 08:42] ChadKillingsworth commented on #1137
What jdk is currently recommended for building substratevm?

[2019-04-09 09:46] pejovica commented on #1137
You need a JVMCI-enabled JDK 8 that has the necessary native libraries available for static linking. I used `labsjdk`, which can be downloaded from [OTN](https://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html), but OpenJDK based [build](https://github.com/graalvm/openjdk8-jvmci-builder/releases) should also work.

[2019-04-09 09:59] gradinac commented on #1144
Changing DEBUG_IMAGES to false in the lp_js environment makes the test code work.

[2019-04-09 10:27] pejovica commented on #1123
This is fixed in mx [5.215.6](https://github.com/graalvm/mx/releases/tag/5.215.6). To get the latest version, you can run `mx update`.

[2019-04-09 10:52] Godin commented on #901
FWIW same still happens with RC15:

[code]

[2019-04-09 11:03] alexander-shustanov opened #1146 "How to iterate through native image resources directory"
If I have a jar file, I can get any packed resource directory as a Path object, and iterate all it files and subdirectories. Is there any way to do the same in native images?

The example on Kotlin:

[code]

[2019-04-09 11:54] chumer commented on #1144
I could reproduce the issue. Working on a fix.

[2019-04-09 13:21] thomaswue commented on #1142
We identified the issue and are working on a fix. It is related to "shutdown hooks" that prevent the VM process from exiting when a compilation is currently running. Thanks for the report.

[2019-04-09 13:22] thomaswue commented on #1140
We have identified the issue. It is related to "shutdown hooks" delaying an exit of the VM process when a compilation is currently running. We are working on a fix that should be ready for the next release candidate.

[2019-04-09 14:06] msteindorfer opened #1148 "GraalVM RC15 artefacts not available on Maven Central"
The GraalVM RC15 artefacts still seem to be missing on Maven Central. Is there an ETA when the community can expect them to land there? /cc @ansalond

[2019-04-09 16:25] ansalond commented on #1122
Thanks for your input!
`mx` already produces SHA1 signatures, which we could easily upload. Would that be enough for you?

[2019-04-09 16:26] ansalond commented on #1143
Hi @jasonkarns, thanks for your input. FYI, we are discussing something similar here: https://github.com/oracle/graal/issues/1122.

[2019-04-09 16:36] thomaswue commented on #979
So @elgris I tested PGO for this example and it should give a very substantial speed-up of ~50%. Can you try the following on your machine?

`native-image --pgo-instrument TopTen`
`./topten large.txt`
`native-image --pgo=default.iprof`
`gtime -v ./topten large.txt`

[2019-04-09 16:57] KOLANICH commented on #1122
is insecure

Do you mean just hashes or OpenPGP signatures using SHA1 as a hash? I meant OpenPGP signatures. And SHA1 must not be used, it is insecure and broken. Signatures should be secure. RSA4096 (or some ECC of equivalent strength) and sha256 (or blake2 or keccak, but keccak is discouraged because it is slower than SHA256 and because of accusations of NSA influence on its design) as a hash fu

[2019-04-09 17:05] #1143 closed

[2019-04-09 17:09] jasonkarns commented on #1122
Just adding my use case (after I opened #1143)...

I maintain https://github.com/nodenv/node-build which includes build definitions for installing graalvm with nodenv (a node version manager). Our build definitions expect checksums to help ensure the packages aren't tampered with or corrupted. Presently, our build system generates the checksums manually when adding a new graal release to our build

[2019-04-09 20:08] neomatrix369 commented on #1142
Thanks for the response, I'll await the fix. In the meanwhile is it worth using the below flag:

[code]

Can I also use this with the `JAVA_OPTS` environment variable:

[code]

I would also suggest adding regression test(s) to capture startup time (covering multiple scenarios, if needed) so that it gets flagged (if it regresses in functionality) during your nightly builds at least. You are able to

[2019-04-09 21:00] dougxc commented on #1142
Wrt to using `-XX:-UseJVMCINativeLibrary`, it depends on your use case.

Your advise for regression tests is spot on - we will add some.

BTW, in case you are interested, this is the fix being proposed so far: https://github.com/dougxc/graal-jvmci-8/commit/d8d8e27d21066f266df4149f037a5cde334a004d

[2019-04-09 22:50] neomatrix369 commented on #1142
Happy to take a look at the regression suite when it's ready. Do all the tests now reside in this repo or is there a separate one for it? I'll try to play around with them to see if I can find anything else that might help.

[2019-04-09 23:58] ralleman commented on #1134
Hi guys, is there any further feedback on this?

I've found a temporary work around for the issue. Because I don't need to put properties yet, I've added "Selfer" to my ProxyObject:

[code]

And instead of putMembering $self, I get the Selfer object and call set on it:

[code]

This is working, but it's not pretty. I will need putMember working later though.

Note that I'm not assuming there's any

[2019-04-10 00:52] hlolli opened #1149 "sulong mangled name conflict"
I'm trying to compile graal community edition on NixOs with clang6. I'm encountering strange error, as I'm not a c-developer, I'm a bit lost.

[code]

The command I'm running
[code]

[2019-04-10 08:36] gilles-duboscq commented on #1145
Thank you for the report. I managed to reproduce and capture some Graal IR

[2019-04-10 10:33] jeroenvandijk commented on #612
I've tested the above with clojure 1.8 [1] and compiling works [2]:
[code]
However running a simple file `foo.clj`
[code]
Gives the defineClass unsupported method error.
[code]

Is this fixable by adding this (and other methods) to https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md ?

[1] clojure 1.9 and above have more complicated dependencies e.g. clojure.spec
[2] The jar can

[2019-04-10 11:36] flortsch commented on #1148
The artifacts have been deployed and will be available in the next few hours.

[2019-04-10 12:00] pmlopes commented on #1148
@flortsch `truffle-nfi` refers to:

[code]

Which isn't available on central so if your project depends on `svm` which is needed for the native image annotations then it fails...

[2019-04-10 12:10] dougxc commented on #1142
We have tests in various places but a lot of them are in this repo.

[2019-04-10 12:15] msteindorfer commented on #1148
@flortsch thanks for the notification.

Unfortunately I'm still blocked by issue @pmlopes was pointing out:

[code]

[2019-04-10 12:17] thomaswue commented on #1142
Adding a regression test for this aspect is difficult due to the variability in results when measuring warmup. It is possible to detect large regressions, but almost impossible to detect very small ones.

[2019-04-10 12:58] lbialy commented on #1077
This issue seems to have gone away with RC15 or at least I can't replicate it.

Different thing is that security packages don't work correctly in native-image anyway. I can create another ticket to track differences in behaviour between OpenJDK and native-image if you want.

[2019-04-10 13:02] thomaswue commented on #1077
Yes, please create a new ticket for that.

[2019-04-10 13:02] #1077 closed

[2019-04-10 13:12] lbialy opened #1150 "[native-image] native images with Kerberos support have different behaviour than OpenJDK"
Given following scala/sbt project:
build.sbt
[code]
project/plugins.sbt
[code]
reflection.json:
[code]
src/main/scala/Main.scala
[code]

a) this will all work correctly with OpenJDK (given Kerberos server actually works and auth is correct)
b) this will fail with native-image executed with
`./target/graalvm-native-image/kerbtest -Djava.library.path=/usr/lib/jvm/java-8-graal/jre/lib/amd64` (path to

[2019-04-10 13:48] fniephaus commented on #1139
![image](https://user-images.githubusercontent.com/2368856/55884292-1c5cfc00-5ba8-11e9-8c0c-37cfcef71847.png)
Fixed, thanks!

[2019-04-10 13:48] #1139 closed

[2019-04-10 13:51] johanvos commented on #1126
that should work imho

[2019-04-10 15:13] neomatrix369 commented on #1142
Makes sense, I can see how it can be a needle in a haystack issue. How about adding the tests that can be caught and leaving the less practical ones to be reported by users like us, using graal in the wild!

[2019-04-10 15:33] dougxc commented on #1142
Have you tried running `mx gate`? That will run all the tests we have in this repo.

[2019-04-10 15:38] neomatrix369 commented on #1142
Thanks, you read my mind. I was going to ask how to. I used the command:
[code]
or

[code]

In the past, but they don't run the whole thing I guess. I'll check this out.

There is a `mx coverage` as well or something to see test coverage - is this worth looking at, and does it give a good picture of the tests covered?

[2019-04-10 15:45] dougxc commented on #1142
Running `mx gate --jacocout html` should result in a coverage report being generated in a `html/` subdirectory.

[2019-04-10 17:19] raboof opened #1151 "InetAddress.getLocalHost throws UnknownHostException on Alpine"
`java.net.InetAddress.getLocalHost` throws a `java.net.UnknownHostException` when running in Docker and using an Alpine base image.

[2019-04-10 17:20] raboof commented on #1151
This is because doing DNS lookups requires a 'full' libc, and 'minimal' libc's such as musl and scratch aren't currently sufficient for graal. See also #571, #624.

[2019-04-10 17:20] #1151 closed

[2019-04-10 19:12] flortsch commented on #1148
The missing artifact for aarch64 should also be available on Maven Central in the next minutes or hour.

[2019-04-10 21:57] christianwimmer commented on #1040
The issue should be fixed by now. We fixed some corner cases in the Java / Native thread state transition, the code had the possibility for races that lead to symptoms as the ones described in this issue.

[2019-04-10 21:57] #1040 closed

[2019-04-11 00:20] miere commented on #287
Any thoughts on this, guys?

I'm targeting Graalvm as the (probably/hopefully) the solution for the long cold-starts in AWS Lambda functions written in Java. Smaller binaries would make our deployments faster. Also, AWS has some limits on deployment size, I'm afraid that binaries would become too big if we have multiple dependencies in our project - which is usually the case when using AWS SDK.

I

[2019-04-11 00:47] hhandoko opened #1152 "[native-image] Fatal error: javax.crypto.JceSecurity.getCodeBase(Class) is reached at runtime."
I'm getting the error below while compiling into native-image:

[code]

I've enabled the option as per instructions but the error persists. I've also tried using other options such as `--enable-https` to no effect.

My `native-image` options can be found here: ~~https://github.com/hhandoko/scala-http4s-realworld-example-app/blob/feature/get_current_user/scripts/graal/bin/dist.sh#L54~~

https://git

[2019-04-11 07:30] SchulteMarkus commented on #287
(not issue relevant) @miere , already discovered https://quad.team/blog/Micronaut-to-AWS-Lamda-guide ?

[2019-04-11 11:10] MirkoTeran opened #1153 "Graal + Nashorn crashes"
(Preface: I hope this is the correct place for this.)

We have Java11 app using a lot of JS scripting still using Nashorn. When we replaced C2 with Graal we got some errors in places where same script gets called multiple time (graal tries to optimize it?).

I've made a simple reproducible example:

[code]

Running it on openjdk11 (also tried with azul/zulu) with parameters:
 _-XX:+UnlockExperimen

[2019-04-11 11:38] zaoqi-unsafe opened #1154 "How to build it for armhf/aarch64?"

[2019-04-11 11:51] maffelbaffel commented on #1127
As a workaround for having `java.util.logging.SimpleFormatter` instances on the heap with a `ConsoleHandler` I did the following:

Create a logging Handler class which just forwards log calls to System.out:
[code]
I then register this class as logging Handler in a static fashion:
[code]
This way, all logging calls while building the native-image get redirected to System.out.
Before starting the ap

[2019-04-11 11:53] christianwimmer commented on #901
@Godin Can you share the complete diagnostic report of the Substrate VM "Fatal error", and the crash log file of HotSpot when running in `--jvm` mode?

[2019-04-11 11:55] sanzinger commented on #1154
What exactly do you want to build/use?

[2019-04-11 12:00] hhandoko commented on #1152
Additional information:

Error is gone after switching JWT token generation library to `java-jwt` [1] from `jwt-scala` [2]. The following message was printed instead:

[code]

Notes:
[1] - https://github.com/auth0/java-jwt
[2] - https://github.com/pauldijou/jwt-scala

[2019-04-11 12:49] dougxc commented on #1153
Hi @MirkoTeran this definitely looks like a Graal bug. However, it may well have been fixed by now since the version of Graal in jdk11 is quite old. Can you please see if the bug still reproduces on GraalVM.

[2019-04-11 13:49] zaoqi-unsafe commented on #1154
something like graalvm-ce-1.0.0-rc11-linux-amd64.tar.gz

[2019-04-11 13:51] alexander-shustanov commented on #1146
Now, I created my own implementation of FileSystem and provide all resources index.

[2019-04-11 15:56] Godin commented on #901
@christianwimmer Thank you for looking into this problem. Here is [log.txt](https://github.com/oracle/graal/files/3069338/log.txt) of `~/graalvm-ce-1.0.0-rc15/bin/lli ./bin/clang-8.0.0.preopt.bc --version` failure. For some reasons out of ~20 executions with `--jvm` I only once got usual crash message [log2.txt](https://github.com/oracle/graal/files/3069476/log2.txt) and [hs_err_pid2551.log](https

[2019-04-11 16:00] panga commented on #552
Hi! Do you have any update or feedback about this request?

[2019-04-11 16:10] olpaw commented on #1148
Fixed by @flortsch
Thanks a lot!

[2019-04-11 16:10] #1148 closed

[2019-04-11 16:13] ramymagdy opened #1156 "NPE in jdk.vm.ci.code.BytecodePosition.<init>"
While trying to run native-image on a Spring Boot Application, I'm getting an NPE with the following stack trace:

Error: Error encountered while parsing org.springframework.core.annotation.SynthesizedAnnotation$$ProxyImpl.equals(java.lang.Object)
Parsing context:
        parsing com.sun.org.apache.xerces.internal.util.AugmentationsImpl$SmallContainer.putItem(AugmentationsImpl.java:136)
        pa

[2019-04-11 17:17] bobmcwhirter commented on #1154
I've started an attempt at it:

https://github.com/oracle/graal/pull/1155

note, `bin/native-image` doesn't currently work on aarch64.  No idea if it really actually works on any platform. This is mostly focused on JDK11 work, which will be required for the aarch64 stuff to function.

[2019-04-12 05:09] MirkoTeran commented on #1153
Hi. I've re-tested it with rc15 and it looks like it's already fixed. I'm sorry for not testing this before.

But I have 2 side questions:
- Will newer versions of Graal compiler be added to OpenJDK11 or is that totally up to each vendor?
- Is there a way to get Graal compiler version at runtime (so I could at least display a warning)?

Thank you!

[2019-04-12 09:10] dougxc commented on #1153
Answers:
* Yes, it's up to the vendors.
* We don't maintain a Graal version separate from the version of the embedding JDK. That means you can use the `java.vm.version` system property.

[2019-04-12 18:22] chumer commented on #1144
Fixed in: https://github.com/oracle/graal/commit/93f92d0b0fe0cd8d5f05aa0e8b58eccbf2730710

[2019-04-12 18:22] #1144 closed

[2019-04-12 22:28] hlolli opened #1158 "[native-image] unsafe accessed field from Truffle"
After successfully building graalvm-1.0.0-rc15 from sources, I'm running into a bug when running the following clojure code

[code]

[code]

Seems to be internal issue of declaring some fields unsafe? Any chance to override this with some native-image compiler flags?

[2019-04-12 22:38] hlolli commented on #1154
To build the native-image binary, you can from the substratevm directory run

`mx native-image -cp $(THE MX_BUILD_DIR_PATH)/substratevm/dists/jdk1.8/svm-driver.jar com.oracle.svm.driver.NativeImage`

I wonder how this is done to generate the `lli` binary?

In any case, it would be nice if the build script for the official community release would be made public.

[2019-04-13 00:44] hashtag-smashtag opened #1159 "RC15 G1GC OSX crashes"
With RC15, and it's defaulting to `-XX:+UseJVMCINativeLibrary`, we're seeing crashes when using `-XX:+UseG1GC` on some of our OSX machines, including Mojave and High Sierra.

[code]

These crashes no longer happen with `-XX:-UseJVMCINativeLibrary`.

[2019-04-13 01:31] chrisfw commented on #1040
That is good news!  Thank you!

[2019-04-13 14:09] chumer commented on #1158
Thanks for the report!

Could you provide us with the command line and environment configuration of your build?
This is a pretty common pattern, and should not cause any problems, so I suspect there is something special going on with your build configuration.

[2019-04-13 14:25] hlolli commented on #1158
I am using leiningen plugin that runs the native-image binary, and that spits out the configuration, so I'll c/p it here below (despite large classpath, I'm only importing basic jars).

[code]

anything out of the ordinary?

[2019-04-13 14:27] hlolli commented on #1158
There are flags that I was running which I added on top of the default to experiment around
[code]

[2019-04-13 15:36] oroppas opened #1160 "[Sulong] unistd.h does not exit on Windows"
… so the building of sulong fails:

[code]

[2019-04-13 16:31] dougxc commented on #1159
Would you be able to attach hs_err_pid24193.log to this issue? That may offer some clues as to what is going wrong. Even more helpful would be steps to reproduce the crash.

Using the default collector should be a workaround until this is resolved.

[2019-04-13 16:54] eregon commented on #1043
Ruby now boots fine with just `Context.create()` and no additional permissions.
However, functionality will be limited as it cannot make any native call.

@timfel Can you answer for Python?
@lukasstadler Can you answer for R?

We should update the website, indeed.

[2019-04-13 22:04] hlolli commented on #1154
Ah nevermind, I somehow overlooked one thing in the build directory mxbuild, theres a graalvm directory

`mxbuild/vm/linux-amd64/GRAALVM_CMP_GU_GVM_INS_JS_LIBPOLY_NFI_NJS_POLY_POLYNATIVE_PRO_RGX_SLG_SVM_SVMAG_SVMCF_SVML_TFL_VVM/`

and there you'll find all the binaries set up like in the CE distribution. With the added bonus of source files. So it seems all make sense now :)

[2019-04-14 06:16] plutext opened #1161 "NativeImage server-id-XYZ file name too long"
[code]
There is:
[code]

where

[code]

Nothing is stopping that from getting too long?

Happens with rc15.  How to work around this please?

[2019-04-14 11:59] teras commented on #373
So, now that the AArch64/Linux is merged, any news about supporting iOS now?

[2019-04-14 12:50] hhandoko commented on #1152
I've since merged and deleted the feature branch, here is the commit which contains the `jwt-scala` implementation:

https://github.com/hhandoko/scala-http4s-realworld-example-app/tree/b4abb5868e14fba0d62ef4e7d106ca45545da17f

[2019-04-14 13:34] paulvi opened #1162 "CE Download in China is to slow (about 3KB/s)"
I am trying to download today with Free Download Manager (as previous attempts fails)

And today Sunday 8pm UTC+8 Shenzhen download speed is about 3KB/s
(welcome back to stone age of Internet)

Meanwhile Oracle VirtualBox, could be downloaded at 2-3MB/s, that is 1000 times difference.

[2019-04-14 13:37] fellmann opened #1163 "[native-image] Use of Graphics fails"
Minimum Example1.java:

[code]

The code can be executued with GraalVM: `sudo docker run -v $(pwd):/work -w /work oracle/graalvm-ce:1.0.0-rc15 sh -c "javac Example1.java && java Example1"`

But it is not working as Native Image: `sudo docker run -v $(pwd):/work -w /work oracle/graalvm-ce:1.0.0-rc15 sh -c "native-image Example1 && ./example1"`

Error:
[code]

[2019-04-14 14:09] paulvi opened #1164 "EE Download requires Oracle login, that is slow and unstable in China"
EE Download requires Oracle login, that is slow and unstable in China
(I could not get logged in this mongth, and today again 3 times)

Given that there is only 2 option to get GraalVM, and both have issues (#1162 and this).
Please consider improving/adding more download services

[2019-04-14 18:14] timfel commented on #1043
Python Boots without additional permissions. But many things (e.g. regular expressions, distutils, package installation, or even some parts of the math module) need native access through Sulong.

[2019-04-14 18:53] smoell opened #1165 "[SSL] the trustAnchors parameter must be non-empty"
I have a dockerized that uses the AWS SDK for Java and needs SSL support, unfortunately, I get the following error:

[code]

Dockerfile

[code]

Java code

[code]

[2019-04-14 19:30] fniephaus commented on #1162
That's odd. GraalVM CE is hosted on GitHub and I believe they use a CDN to speed up downloads. Maybe this was due to a temporary network problem? Do you have the same problem when downloading other GitHub releases (e.g. from [here](https://github.com/OpenSmalltalk/opensmalltalk-vm/releases))?

[2019-04-14 20:21] hlolli commented on #1158
A more minimal example with https://www.graalvm.org/docs/reference-manual/languages/llvm/#embedding-in-java

[code]

[2019-04-14 21:12] fniephaus opened #1166 "Need ability to release byte[] referenced by Truffle Source"
I'm developing a Squeak/Smalltalk implementation in Truffle and for that, we open images which are memory snapshots (MBs to GBs in size). Truffle `Source`s are cached and seem to keep a reference to a `byte[]` referencing the source file, in our case an image file:

![image](https://user-images.githubusercontent.com/2368856/56099113-27e25700-5f09-11e9-8f53-4ddce22ee2f0.png)

Is there any way we ca

[2019-04-15 06:47] #1153 closed

[2019-04-15 08:14] fniephaus commented on #1166
Turns out my launcher shouldn't cache sources:
[code]
Then, everything works fine.

[2019-04-15 08:14] #1166 closed

[2019-04-15 08:16] plutext commented on #379
I can report that using the JAXB reference implementation (v2.3.2) works for me.  I'm using rc15.  I didn't try com.sun.xml.internal.bind

[2019-04-15 08:57] #1124 closed

[2019-04-15 10:23] olpaw commented on #1161
The digest of an SHA-512 is always the same size (512 bits). I don't know what you mean by "Nothing is stopping that from getting too long". We haven't encountered a system where that code caused any problems. Please provide detailed system specifications (Linux Version, Distribution, Filesystem used for /home/jharrop, ....) so that we have a chance to reproduce the issue.

As a workaround you can

[2019-04-15 10:41] plutext commented on #1161
Linux 4.19; Manjaro;
dev/mapper/cryptroot /home btrfs rw,noatime,compress=lzo,ssd,space_cache,commit=120,subvolid=258,subvol=/@home 0 0

But the problem only just started happening.  That is, I happily ran the native-image command a number of times yesterday before it suddenly started to give that error.

I have found that I can ignore the error; "Fallback to one-shot image building ..." works for

[2019-04-15 10:52] pmlopes commented on #1165
For anyone stuck with SSL and certificate verification, it seems that the solution is to let the final binary know where both the trust and anchor cacert file lives. Add the following system properties to your application:

[code]

Assuming your graal installation is on the current path `graalvm`.

[2019-04-15 11:34] gradinac commented on #1144
I can confirm it is fixed. Thank you!

[2019-04-15 12:43] mkouba opened #1167 "Substratevm - annotation member registered for reflection not found on proxy"
If I register an annotation class and method for reflection like this:
[code]
And then at runtime I try to invoke the method obtained from the runtime class of the annotation:
[code]
I get `java.lang.NoSuchMethodException: com.github.mkouba.TestAnnotation$$ProxyImpl.test`.

I understand that the runtime class is the annotation proxy. Still, I would expect the methods of the proxy to be registered

[2019-04-15 14:04] dbolkensteyn commented on #1086
Thanks, I confirm that this is fixed in RC15.

[2019-04-15 15:56] hashtag-smashtag commented on #1159
@dougxc Unfortunately no longer have that exact file, but I've attached another one that occurred during a test I was running.
[hs_err_pid21035_redacted.log](https://github.com/oracle/graal/files/3081006/hs_err_pid21035_redacted.log)

[2019-04-15 17:06] smoell commented on #1165
That worked for me, thx!

[2019-04-15 17:06] #1165 closed

[2019-04-15 17:15] hashtag-smashtag commented on #1159
Here is another one, which occurred when debug running a local version of our server, accompanied by this on the console:
[code]
[hs_err_pid30930_redacted.log](https://github.com/oracle/graal/files/3081292/hs_err_pid30930_redacted.log)

[2019-04-15 18:12] dougxc commented on #1159
Do you know if the crashes still occur without libgraal (i.e., `-XX:-UseJVMCINativeLibrary`)?

[2019-04-15 18:21] hashtag-smashtag commented on #1159
These crashes only occur when using libgraal.

[2019-04-15 19:22] dougxc commented on #1159
Sorry, I just saw that you stated that earlier. Do you only get the crashes with G1, not the (default on 8) parallel collector?

[2019-04-15 20:33] hashtag-smashtag commented on #1159
Correct.. we see the crashes with G1, but not with the default collector.

[2019-04-16 07:29] olpaw commented on #1161
That could indeed be a problem with the filesystem. I will close this issue. Feel free to reopen if you are able to reproduce the issue on ext4.

[2019-04-16 07:33] peter-hofer commented on #1161
Could you post the output of `find /home/jharrop/.native-image/ -ls` please?

[2019-04-16 07:47] plutext commented on #1161
[code]

[2019-04-16 08:21] dougxc commented on #1159
@hashtag-smashtag where is this info coming from:
[code]

I don't see it in the hs_err files.

To get more details, it would be great if you can add these options:
[code]
We need to find out which compilation is not producing the right GC info/barriers and why it only happens with libgraal and not JavaGraal.

[2019-04-16 09:17] johanvos opened #1168 "Implement emitRound and emitCompareOp for LLVMGenerator.ArithmeticLLVMGenerator"
In PR #1157, LLVMGenerator.ArithmeticLLVMGenerator now implementends AArch64ArithmeticGenerator.
The methods `emitRound` and `emitCompareOp` are not yet implemented.

This could be done differently though, by moving the `emitCountLeadingZeros` and `emitCountTralingZeros` to ArithmeticLLVMGenerator so that the dependency on an AArch64 specific interface is not needed in ArithmeticLLVMGenerator.

[2019-04-16 12:23] kipz commented on #1152
I'm experiencing what I think is the same issue using bouncy-castle to single JWT's (with `--enable-url-protocols=https` and `--enable-all-security-services` as options):

[code]

[2019-04-16 12:49] jmaschad opened #1169 "Execution times in repeated runs of a Truffle language script"
Hi

I am working on a truffle language for data processing and have begun to measure script execution times for common workloads. A typical script is just a sequence of loops that iterate over batches of records.

I have observed, that script execution times are drastically reduced when executing the same script multiple times in the Java main class. Essentially, the second run halves the script e

[2019-04-16 15:27] lukasstadler commented on #1043
R needs native access on startup.
(it can be configured in a mode where it doesn't, but with limited functionality)

The statement on the website is arguably true, since it refers to the specific example.
It is possible to run these languages without native access, but at least IO permissions or a custom filesystem will be necessary, but that's a more complex topic that needs to be explained on it

[2019-04-16 16:26] chumer commented on #1133
Yes, this was the case precisely for RC-12.  RC-11 had the current behavior. Sorry for the confusion.
Please check out the [documentation](https://www.graalvm.org/docs/graalvm-as-a-platform/implement-language/#running-simplelanguage-using-command-line) regarding this.

[2019-04-16 16:41] sdeleuze opened #1170 "Exeption in Spring Fu application with GraalVM rc15"
Spring Fu native image builds are broken (with GraalVM RC14 and RC15 so it is not a regression unlike what I wrote in the original report). It seems it comes from the new merged annotation subsystem that was introduced as part of Spring Framework 5.2 M1 which SubstrateVM seems not supporting.

The error can be observed when running the native image of our basic `jafu-reactive-minimal` sample and g

[2019-04-16 16:46] cstancu commented on #1156
@ramymagdy can you please provide the code for the spring boot app so I can reproduce?

[2019-04-16 17:14] hashtag-smashtag commented on #1159
When I run the server, it often doesn't crash in the same way.  Here are two hs_err files from runs with the options you specified:

[hs_err_pid64055_redacted.log](https://github.com/oracle/graal/files/3086086/hs_err_pid64055_redacted.log)

[hs_err_pid63727_redacted.log](https://github.com/oracle/graal/files/3086087/hs_err_pid63727_redacted.log)

[2019-04-16 17:53] cstancu commented on #1170
@sdeleuze how does spring access the `value` attribute for annotations. Is it via reflection? I quickly looked in the implementation of `AbstractMergedAnnotation.getAttributeValue` but couldn't immediately figure it out.

[2019-04-16 18:09] philwebb commented on #1170
@cstancu It's usually via reflection, but there's an additional layer of indirection so that we can use the same API against different underlying data structures. The `TypeMappedAnnotation` class has the following member variable:

[code]

Most of the time, this will be a method reference to `ReflectionUtils::invokeMethod` which ultimately calls `Method.invoke`. My guess is this extra indirection

[2019-04-16 18:48] cstancu commented on #1156
Can you please enable assertions by adding `-J-ea` to `native-image`? That should give us a better idea.

[2019-04-16 18:56] christianwimmer commented on #901
@Godin thanks for the log files. They are interesting - in the HotSpot crash it seems like application code gets executed on a JIT compiler thread. Looks like some bad memory corruption. I'll try to reproduce on native image, since that seems to be a good path to debugging the issue.

Can you share the file `clang-8.0.0.preopt.bc` so that I don't need to build it myself?

[2019-04-16 19:44] Godin commented on #901
@christianwimmer surprised that only this file will be enough, given that bitcode is platform dependent, and I guess Oleg was suggesting Docker image due to this. Nevertheless uploaded  to Dropbox - https://www.dropbox.com/s/tasnsxi3uludpv8/clang-8.0.0.preopt.bc.tar.gz ( it doesn't fit into GitHub limit for attachments even after compression 😄 ).

[2019-04-16 20:24] dougxc commented on #1159
There should also be a bunch of console output from the `-Dgraal.PrintCompilation=true -Dgraal.TraceTruffleCompilation=true` options. Is is possible for you to attach a (redacted) copy of that?

At this point, we're going to have to try and reproduce locally. In the meantime, I would suggest not using G1 with GraalVM for your workload.

[2019-04-17 11:09] johanvos opened #1172 "[native-image] Missing support for StackWalker.walk in Java 11"
The missing support for StackWalker.walk (Target_java_lang_StackWalker.walk() throws an UnsupportedFeature) causes java.util.logging to fail, e.g.
[code]
will result in this:
[code]

[2019-04-17 12:13] dmlloyd commented on #1172
This issue is solved by #734 but that PR needs a bit of love.  I'll try to come back around to it.

[2019-04-17 14:10] dili91 commented on #460
I encountered a similar issue when using the following method of _java.security.KeyStore_ class
[code]
and this is the stack trace
[code]

[2019-04-17 14:43] chumer commented on #879
I consider the language id a symbol, that is just dynamic because the API is language agnostic. Symbols should not be case-insensitive unless there is a good reason imo. If you want to make your language polyglot api less strict, you are free to do so, I would however not recommend it.

Note that we make suggestions if the language id is slightly off. I think that is good enough.

[2019-04-17 14:43] #879 closed

[2019-04-17 15:08] chumer commented on #1158
The cause of the problem is that you are not adding any languages to the image.
You need to do `polyglottest native-image --language:llvm Polyglot `.
Of course, this should not crash like this. We need to fix that.

[2019-04-17 16:11] chumer commented on #1158
Another workaround if you don't want to put any language into your image is to enable `--tool:truffle`.

[2019-04-17 17:18] hashtag-smashtag commented on #1159
It was easier to repro the crash on an integrated test (with the vm options you provided) and redact the console and logs:

[hs_err_pid78925_redacted.log](https://github.com/oracle/graal/files/3090754/hs_err_pid78925_redacted.log)

[console for hs_err_pid78925.log](https://github.com/oracle/graal/files/3090756/console.for.hs_err_pid78925.log)

Hope those help.

[2019-04-17 20:25] inikolaev opened #1177 "Unable to load log4j configuration: Detected a ZipFile object in the image heap"
I'm trying to build a native image and getting the following error in the end:

[code]
[code]

This is similar to #495, if I understand correctly. If the fix is somewhat similar I could create a PR as well.

[2019-04-17 23:08] aclement opened #1178 "[native-image] incompatible type message during 'analysis' causes abort of stand-alone image build"
I'm running native-image on a spring boot application, I've worked around some of the known issues/restrictions (by post processing of the app) but am hitting this one that I can't seem to get past.

The command is a bit like this:
[code]
resulting in:
[code]

I can't work out what might be in the app that leads to this so am having trouble trimming it down to a minimal testcase. Might I be doing

[2019-04-17 23:30] cstancu commented on #1177
This seems to be a `log4j` specific problem. It looks like a `ZipFile` object is initialized in the image heap. [This article](https://medium.com/graalvm/understanding-class-initialization-in-graalvm-native-image-generation-d765b7e4d6ed) should help.

[2019-04-18 00:04] cstancu commented on #1178
I think that has to do with our substitutions. It could be as easy as having `CompleteGarbageCollectorMXBean` and `IncrementalGarbageCollectorMXBean` implement `NotificationEmitter` to mimic the JDK class hierarchy.   Can you try applying this patch:
[code]

[2019-04-18 01:45] hlolli commented on #1158
Thanks for this tip. Now this error is gone. But I'm getting new one, so I'm probably misunderstanding something.

[code]

[2019-04-18 02:48] ludoch commented on #460
Same error with some Google App Engine apps.... If only time would block the fix, I recommend reopening this bug...

[2019-04-18 03:39] hlolli commented on #1158
Adding to that, I tried to compile statically, using statically compiled zlib and glibc (only .a files now on the library path), this is the java stacktrace I get

[code]

If I include the shared library files on the libpath, it will complain that perhaps only -lpthreads is missing or smth weird (with only shared lib files I get multiple -lpthreads missing).

[2019-04-18 09:25] olpaw commented on #1158
@hlolli, I tried to reproduce your issue with `--static` on latest master (085fb0a37980499a5102371b105366a0104f588c) but I cannot observe the build error:
[code]
In general, only use `--static` if you know exactly what you are doing and you are aware of it's limitations (e.g. https://github.com/oracle/graal/issues/1054).

[2019-04-18 09:30] olpaw commented on #1158
Especially in this case, you are building an image that makes use of sulong (llvm). This will require a full dynamic glibc (as it depends on dlopen & the like to work as expected).

[2019-04-18 11:52] rschatz commented on #1158
at org.graalvm.polyglot.Context.eval(Context.java:341)
	at Polyglot.main(Polyglot.java:10)

`libsulong.bc` is a runtime library that our LLVM engine needs (that, and also `libsulong++.bc` and `libsulong.so`). These files are in `$GRAALVM_HOME/jre/languages/llvm`.

I don't know how the lookup of these things is supposed to work if you build your own native image (I'll defer answering that to the na

[2019-04-18 13:03] hlolli opened #1179 "Missing LLVM builtin: @llvm.x86.sse.stmxcsr"
Sorry that I'm making a third ticket here, take this more as a question about implementation instead of as a ticket in that sense. I'm compiling a c-app that's using some unsafe functions from phtread library. Looking at the IR I can see which function this is coming from.

[code]

where setcsr is @llvm.x86.sse.stmxcsr and getcsr os @llvm.x86.sse.ldmxcsr. I do realize that full implementation of p

[2019-04-18 13:45] chumer commented on #961
This was already fixed some time ago. Whenever the engine lock is held to free the instance the context lock is not longer held. This should unblock this deadlock.

[2019-04-18 13:45] #961 closed

[2019-04-18 13:47] chumer commented on #1013
Note that we have plans to allow multi-threaded sharing of ASTs for JavaScript. It is not done yet.

[2019-04-18 13:55] chumer commented on #987
Since [RC15](https://github.com/oracle/graal/blob/master/sdk/CHANGELOG.md#version-100-rc15) we changed the default for polyglot contexts to no longer allow reflection. In addition to that all method sthat should be accessible from a context must be marked with `HostAccess.Export`. All of this can be customized by creating a custom host access configuration (`HostAccess.newBuilder()...`).

We decid

[2019-04-18 13:55] #987 closed

[2019-04-18 15:38] fniephaus opened #1180 "[Interop] LLVM bitcode objects do not seem to support `getMembers` message"
When running the `cpart.c` interop example from the [reference manual](https://www.graalvm.org/docs/reference-manual/languages/llvm/#interoperability), I get something like this:

[code]

In the case of `dir(cpart)`, I was expecting something like this instead:
[code]
Allocating a point in this example correctly shows the two fields of the `Point` struct (`x` and `y`).

I'm guessing that LLVM bitc

[2019-04-18 16:01] rschatz commented on #1180
Yes, that's a bug. Thanks for the report. I'll look into it.

[2019-04-18 17:10] aclement commented on #1178
That patch works great, fixes my problem, thanks! I now get no warnings and a native image produced.

[2019-04-18 17:27] hlolli commented on #1158
Ok, dynamically linking against `.bc` files sounds tricky, I wonder if it would be too hacky to include it in the rpath and the native image lib loader would search trough them for the .bc files. I was able to get it running like this

[code]

As for statically linking, I can imagine the ld gets confused as to which library to choose, static or dynamic libs if they are both on the path, can you po

[2019-04-18 18:20] hlolli commented on #1158
4wiw I tried building from master fca52d07f3a6aac88e766fdad2497e9302165851 and git this [stacktrace](https://pastebin.com/GiAuZr81), going to give 085fb0a37980499a5102371b105366a0104f588c a try...

[2019-04-18 18:45] cstancu commented on #1178
Great! I will push those changes soon.

[2019-04-19 07:26] olpaw commented on #1158
The glibc shipped with fedora (package glibc-static) works pretty well in this regard.
On 085fb0a37980499a5102371b105366a0104f588c on Fedora 30:
[code]
Note that while this produces a static executable it is by no means a "standalone" executable. Looking at the strace when running `polyglot` shows:
[code]
So while the executable itself is static when running it dlopens shared library version bits

[2019-04-19 08:32] razem-io commented on #460
Guys, he only closed another issue which was a duplicate and referenced it. It had exactly the same name, which might have caused the confusion. This issue (#416) is still open.

[2019-04-19 12:01] tsatatwer commented on #886
Hi ,

I still waiting an answer please .

[2019-04-19 20:25] cstancu commented on #1170
@philwebb the indirection that you mention above is not the problem. After some debugging I found that you are calling [`annotationType.getDeclaredMethods()`](https://github.com/spring-projects/spring-framework/blob/v5.2.0.M1/spring-core/src/main/java/org/springframework/core/annotation/AttributeMethods.java#L259) where the `annotationType` comes from a call to [`annotation.annotationType()`](http

[2019-04-19 20:25] #1170 closed

[2019-04-19 20:55] cstancu commented on #999
This is fixed by https://github.com/oracle/graal/commit/1a68d88d9521245b54595f828225a9e36fbfca4b. This changeset maintains the optimized implementation for ahead-of-time allocated annotation instances, but it also preserves the default JDK implementation for run-time allocated annotations. See [this comment](https://github.com/oracle/graal/commit/1a68d88d9521245b54595f828225a9e36fbfca4b#diff-826d5

[2019-04-19 20:55] #999 closed

[2019-04-19 23:17] hlolli opened #1182 "Compilation failure with graalvm 1.0.0 RC16"
I am using clang 5-0, gcc 7.4.0, jvmci "0.59" built with openjdk version "1.8.0_202".

[code]

[2019-04-19 23:23] cstancu commented on #1135
This is fixed by https://github.com/oracle/graal/commit/ef950cc5fe3506f45403571c4c15badcdf2115d1.

[2019-04-19 23:23] #1135 closed

[2019-04-19 23:24] cstancu commented on #1170
FYI #1135 is now fixed.

[2019-04-19 23:26] cstancu commented on #649
This was fixed by https://github.com/oracle/graal/commit/ef950cc5fe3506f45403571c4c15badcdf2115d1.

[2019-04-19 23:26] #649 closed

[2019-04-19 23:31] cstancu commented on #905
@sdeleuze I will close this issue as not-a-bug. As you mentioned above the automatic reflection registration should be implemented on Spring Fu side via a `Feature`.

[2019-04-19 23:31] #905 closed

[2019-04-19 23:42] cstancu commented on #905
@sdeleuze we currently don't have a tutorial for `Feature` but you can look at [`JavaFXFeature`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/javafx/JavaFXFeature.java#L36a) or [`SecurityServicesFeature`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/SecurityServicesFeature.

[2019-04-20 01:15] cstancu commented on #1167
@mkouba via
[code]
you are registering the method of the annotation interface for reflection, and not that of the proxy implementation. At runtime you need to access it via the annotation type, i.e., replace `getClass()` with `annotationType()`:
[code]
I tried this on your reproducer and it works. (Thanks for the minimal reproducer by the way.)

Implementing annotations via a proxy is an implement

[2019-04-20 01:15] #1167 closed

[2019-04-20 01:25] cstancu commented on #1127
The `No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime: java.util.logging.SimpleFormatter` issue was fixed by https://github.com/oracle/graal/commit/73544249ffd462d6b81ba10ac6233d914b7fb064. The fix will be part of RC16.

[2019-04-20 01:25] #1127 closed

[2019-04-20 01:34] cstancu commented on #1096
You can read the [reflection documentation](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md#reflection-on-substrate-vm) for details. This [blog article](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692) also has some details regarding reflection configuration. I will close this issue as the originally reported problem cannot

[2019-04-20 01:34] #1096 closed

[2019-04-20 01:39] cstancu commented on #1115
No, the `native-image` cannot currently run bytecodes loaded at run time.

[2019-04-20 01:54] cstancu commented on #1115
Can this be reproduced with the same repo from https://github.com/oracle/graal/issues/1096, https://github.com/gjevardat/graalopenjpa ?

[2019-04-20 02:00] cstancu commented on #1092
This issue looks to have been fixed by https://github.com/oracle/graal/commit/d4b6d2637fca85da2d95286833e8aa5a5e022dd5. Please reopen if that is not the case.

[2019-04-20 02:00] #1092 closed

[2019-04-20 02:03] cstancu commented on #1066
@tomerz90 I am closing this due to inactivity. Please reopen if you still have problems.

[2019-04-20 02:03] #1066 closed

[2019-04-20 02:08] cstancu commented on #1061
I am closing this as the originally reported behavior is fixed by the use of `--report-unsupported-elements-at-runtime`.

[2019-04-20 02:08] #1061 closed

[2019-04-20 08:16] sdeleuze commented on #905
Thanks for the guidance @cstancu.

[2019-04-20 17:12] fniephaus commented on #1182
What did you try to compile? Could you please provide steps to reproduce this?

[2019-04-20 17:39] hlolli commented on #1182
`mx -v --dynamicimports /substratevm,/tools,sulong,/graal-nodejs,graalpython build`

[2019-04-20 18:02] inikolaev commented on #1177
Thanks, the article actually helped me to understand why it looked like the application was running, which was very confusing. Turned out I had some code in static initializer which started a thread.

As for `log4j` now I have a problem that latest version seems to be compiled against JDK 9, which, as far as I understand is not yet supported by Substrate VM.

I will close the issue then.

[2019-04-20 18:02] #1177 closed

[2019-04-20 23:42] eregon commented on #1182
Looks like a missing `@TruffleBoundary` before calling `  com.ibm.icu.text.*` methods.
cc @woess @wirthi

Also, SubstrateVM should probably have `java.lang.Thread.interrupt` as an implicit boundary. cc @cstancu

[2019-04-21 00:32] hlolli commented on #1182
Because I had 20 minutes to spare, I tried compiling with this patch on newest master
[code]

Does the stacktrace look the same

[code]

Looks the same to me, but nice experiment, took your comment most likely out of context :)

[2019-04-21 18:40] fniephaus commented on #1169
Graal and Truffle can make applications run really really fast, but warmup is sometimes a problem. Having said that, I would be surprised if the JIT has compiled everything it can within 8s. Instead, I would run it 50 or maybe even 100 times to see when things reach a steady state (if they don't, your code might have a problem).

If you want to see some information on Truffle compilation, I recomm

[2019-04-22 03:07] hickst commented on #1158
I'm not even using Clojure (yet) and I'm getting this same error just trying to run the [basic Javascript example](https://www.graalvm.org/docs/getting-started/#native-images) on the Getting Started page:
[code]

I'm on MacOS 10.13.6, `java -version` reports:
[code]

[2019-04-22 11:04] ilopmar commented on #1127
Yeah, it works now! :tada:

[2019-04-22 14:05] hickst commented on #1158
This seems to be related to the reported problem. If I try to build the polyglot example (Getting Started/Native Images), the `native-image --language:js PrettyPrintJSON` command gets past the setup phase and then **spikes the CPU usage of every thread on the machine to 90+% but never finishes the build**:
[code]

[2019-04-22 15:25] snazy commented on #987
@chumer thanks for fixing this! I tried the recent 1.0.0-rc15 build and it works for me.

[2019-04-22 16:53] inikolaev commented on #1177
@cstancu Now looking at `log4j-api-2.11.2.jar` it looks like it uses multi-release jar and has several classes compiled against both JDK 7 and JDK 9. I feel like Substrate VM should ignore classes located under `META-INF/versions.9` and above until they are supported.

This is not really related to the original issue, do you want me to create a new one instead?

[2019-04-22 17:20] woess commented on #1182
Since you're building from source using mx, can you please check the version of graaljs (git commit or `mx sversions`)? `CreateSegmentIteratorNode.execute` has changed in RC16 (https://github.com/graalvm/graaljs/commit/71ee9723af19133f92a0f478f6660e3fcd0daffa) and it appears you don't have that change.

[2019-04-22 18:01] cstancu commented on #1177
Thanks for investigating further and for the suggestion. Yes, please open a new issue.

[2019-04-22 18:06] cstancu commented on #1178
Fixed by https://github.com/oracle/graal/commit/818cccb852ecf246ecd9dbdb8d5307e824528121

[2019-04-22 18:06] #1178 closed

[2019-04-22 20:29] hlolli commented on #1182
@woess you are right, I am using graaljs revision rc15 with sha256 `0siryzvmj9h8zkyr0d3gy9fqgyxb9s5xs15rf7lnx9zh3ykq549y` but rc16 has sha256 `079ag8wjdfxd8z69i6di55q1d7a4c87a6091flwn6fd3jz0f3crf`. This seems to be totally my blunder, not to blame mx, since I patched it to prevent this check manually. Will test soon (the compilation takes a while and I'm busy with the other tasks atm).

[2019-04-23 00:22] peter-hofer commented on #1118
Works with the instructions from the original post in RC16. @melix, if you still encounter problems, please provide error output.

[2019-04-23 00:22] #1118 closed

[2019-04-23 00:22] peter-hofer commented on #1107
Fixed in RC16.

[2019-04-23 00:22] #1107 closed

[2019-04-23 06:57] ziyilin opened #1183 "[native-image]Is it possible to disable eager class initialization at compile time?"
We have managed to compile a shared native image of Apache RocketMQ client with one API exposed as a trial. However, we find previous experiences are less useful when trying to expose more APIs because of eager class initialization mechanism.  Different execution path is reached when a new API is called, reporting new exceptions or errors. We know they are caused by the class initializations are n

[2019-04-23 09:03] olpaw commented on #1158
@hickst can you try if the following helps:

Create an empty subdir and copy the `PrettyPrintJSON.class` into that directory
[code]
Build the image with **an explicit -cp argument**
[code]
With this you should get something like:
[code]

[2019-04-23 10:26] jmaschad commented on #1169
Hey, thank you for the flags, I am going to report back any findings in this thread.

I had assumed that the decision to compile a piece of code is mainly dependent on how often that code is executed. Therefore, I expected that a `LoopNode` that calculates the average of a couple millions of doubles would be optmized and compiled very early. That would add a constant compilation overhead for the f

[2019-04-23 12:23] fniephaus commented on #1169
Truffle applies partial evaluation and compiles methods when they get "hot". In case of a long running loop, however, it only knows how often the loop actually ran at the end of the method call. If you don't use `LoopNode`, your method might be compiled at some point, but probably not in the first iteration.

Yes, you're looking for OSR for which you need `LoopNode`. The [docs](https://www.graalvm

[2019-04-23 12:37] jmaschad commented on #1169
Ah sorry, I certainly use loop nodes already.

That sounds promissing!

Here is some code from my fold operator, just for reference.

[code]

[2019-04-23 13:07] fniephaus commented on #1169
First, I'd avoid Java lambdas when working with Truffle ASTs as the compiler might not be able to figure out that a node is constant. More importantly, you are missing a parent node. Your loop node is not part of any AST which will cause compilation errors. Maybe have a look at how simplelanguage implements [`SLWhileNode`](https://github.com/graalvm/simplelanguage/blob/34f29087f772de262b124aaff041

[2019-04-23 14:27] mkouba commented on #1167
@cstancu Thanks for looking into this. I know that annotation proxies are an implementation detail but I was just wondering if it would be possible to "redirect" the `getDeclaredMethod()` invocations somehow as it works fine on JVM. Anyway, the `Annotation.annotationType()` approach seems reasonable.

We've also noticed this commit: https://github.com/oracle/graal/commit/d2d4b2dbdbd996ebece4accd3f

[2019-04-23 16:25] hickst commented on #1158
Thanks for the idea but it didn't help. `native-image` starts, it passes the `setup` stage and just hangs with **all threads** showing very high usage (see attached screenshot). It never finishes and, after a few minutes, I have to force kill the java process.

![ThreadsGoWild](https://user-images.githubusercontent.com/22797/56598561-9084a000-65a9-11e9-8d63-cc3dff55fdad.jpeg)

[code]

[2019-04-23 16:47] olpaw commented on #1158
@hickst I see. Please open a separate PR for this issue as this one is already overloaded with other topics (using polyglot api without `--tool:truffle`). It would also be useful to have a look with jvisualvm to see where exactly it is livelocking.

[2019-04-23 16:58] hickst opened #1184 "native-image hangs with very high cpu on all threads"
If I try to build the polyglot example ([Getting Started/Native Images](https://www.graalvm.org/docs/getting-started/#native-images)), the `native-image --language:js PrettyPrintJSON` command gets past the setup phase but then **spikes the CPU usage of every thread on the machine to 90+% and never finishes the build**:

[code]

[2019-04-23 16:59] olpaw commented on #1158
@hlolli I merged 097cf1229cc9d009f26ef86f587b6d2fbaf899c0. Your original example (https://github.com/oracle/graal/issues/1158#issue-432767769) should not cause an image build failure anymore. At image-runtime it should now report:
[code]
Please verify that it behaves like this for your original example.

[2019-04-23 17:01] hickst commented on #1184
@olpaw commented:

@hickst can you try if the following helps:

Create an empty subdir and copy the PrettyPrintJSON.class into that directory
[code]
Build the image with an **explicit -cp argument**
[code]
With this you should get something like:
[code]

[2019-04-23 17:02] olpaw commented on #1184
@hickst I changed the title to indicate that I was not able to reproduce the problem on Linux (as already shown in https://github.com/oracle/graal/issues/1158#issuecomment-485715403)

[2019-04-23 17:03] hickst commented on #1184
@olpaw Thanks for the idea but it didn't help. native-image starts, it passes the setup stage and just hangs with all threads showing very high usage (see attached screenshot). It never finishes and, after a few minutes, I have to force kill the java process.

![ThreadsGoWild](https://user-images.githubusercontent.com/22797/56601011-e871d580-65ae-11e9-95f3-caae621db3f6.jpeg)

[code]

[2019-04-23 17:05] olpaw commented on #1184
@hickst do you get the same behavior if you run with `--no-server` ?
[code]

[2019-04-23 17:08] olpaw commented on #1184
Also how much RAM does you machine have?

[2019-04-23 17:40] mbbee opened #1185 "[native-image] windows: ProcessBuilder bug"
I'm getting the error below when i use ProcessBuilder in a native image.
[code]

Same with  eg `Runtime.getRuntime().exec(commandStr, null, workingDir);`

I'm using the native-image-maven-plugin   version  1.0.0-rc15
thx

[2019-04-23 18:04] cstancu commented on #1185
@mbbee Java classes accessed via JNI need to be registered. See the [JNI documentation](https://github.com/oracle/graal/blob/master/substratevm/JNI.md#java-native-interface-jni-on-substrate-vm) for details.

[2019-04-23 18:10] cstancu commented on #1185
In your case you should add `-H:JNIConfigurationFiles=jni-config.json` to the `native-image` command, where jni-config.json contains at least:
[code]
After that you may need to expand this config file with further classes/methods/fields accessed via JNI.

For an automated method of discovering all the elements accessed via JNI look at [Assisted Configuration of Native Image Builds](https://github.

[2019-04-23 18:22] jmaschad commented on #1169
Hey Fabio, thank you for the advice. The missing parent node was a good catch that explains why the loop was not optimized.

[2019-04-23 19:42] fniephaus commented on #1169
Great! How's the performance improvement?

[2019-04-23 20:12] mbbee commented on #1185
the graalvm-ee-1.0.0-rc16-snapshot-windows-amd64 produces other strange errors when i try to run the command "cmd /c dir" with Process or ProcessBuilder. Maybe an encoding issue:
[code]

i also tried native-image-agent which created an empty "jni-config.json "

another strage issue: the following statement retrieves a wrong (not existing) directory:
File workingDir = new File(System.getProperty("u

[2019-04-23 20:21] hickst commented on #1184
My Mac has 128G but your question made me examine the memory issue....so I increased the heap size from 2G to 16G and it successfully compiled the (17 line) `PrettyPrintJSON` program **in 2.5 minutes**:
[code]
**However**, the native executable does not work correctly: the JSON is not pretty printed:
[code]

Also, this is not just a Mac issue: here's the failure on Ubuntu 16.04, using 2G of heap:

[2019-04-23 20:47] hickst commented on #1184
Using the server again shaved 45 seconds off of the build:
[code]
and reducing the heap memory to 8G was similarily successful. But, still no luck on the pretty printing:
[code]

[2019-04-23 23:24] thomaswue commented on #1140
Fix shipped in RC16.

[2019-04-23 23:24] #1140 closed

[2019-04-24 00:39] cstancu commented on #1167
It is somewhat related, that's a fix for https://github.com/oracle/graal/issues/999, it preserves the default JDK implementation for run-time allocated annotations while maintaining the optimized implementation for ahead-of-time allocated annotation instances.

[2019-04-24 02:18] ziyilin commented on #1183
I have modified the substrate a little to use an option to use ConservativeClassInitialization which seems can delay class initialization to runtime.
[code]
But the compiled executable crashes during run time with the following messages. I don't quite understand the crash information. What does it suggest and what should I do according to this information?

[code]

[2019-04-24 06:52] lburgazzoli opened #1186 "[native-image] suspicious method reachable for runtime compilation: com.oracle.svm.core.genscavenge.HeapImpl.freeMemory()"
I've embedded the truffle js interpreter into a native image and I see the following warning

[code]
This warning does not preclude the app to run properly so I've reported here just to let you know.

[2019-04-24 07:48] olpaw commented on #1184
Building an image that contains graaljs with less than 4G for image building is not really a good idea. Image building requires large amounts of memory, especially if you build large images with truffle included.

For server-based image building we allow to use 80% of your reported physical RAM for all servers together (keeping max 2 servers alive is currently hardcoded). But never more than 14GB

[2019-04-24 08:18] olpaw commented on #1184
Hmm, the image behaves exactly the same as running PrettyPrintJSON on the JVM:
[code]
When running on JVM (via the `java` command):
[code]
when running as native image:
[code]
The only difference I can see is that it executes **much** faster when running as image
... but that's the beauty of it ;-)
[code]
vs.
[code]

[2019-04-24 08:25] vjovanov commented on #1183
Yes, in a couple of days. We will have a flag `--initialize-at-run-time` and `--initialize-at-build-time` which will allow control over how things get initialized.

[2019-04-24 09:18] rmannibucau commented on #1140
Hi @thomaswue ,

rc16 is significatively better but still slower than oraclejdk or openjdk:

    Oracle 1.8u191

    real	0m0,141s
    user	0m0,154s
    sys	0m0,038s

    Zulu 1.8u202

    real	0m0,116s
    user	0m0,163s
    sys	0m0,013s

    Graal 14

    real	0m0,198s
    user	0m0,314s
    sys	0m0,034s

    Graal CE 15

    real	0m0,200s
    user	0m0,335s
    sys	0m0,027s

    Graal EE 15

    r

[2019-04-24 09:24] johanvos opened #1187 "[native-image] Using LINUX_JNI fails for Java 11"
At least 2 classes are referred that don't exist anymore in Java 11, resulting in NullPointerExceptions. The classes are referred to from PosixJavaLangSubstituteFeature.duringSetup and PosixJavaNetSubstitutionsFeature.duringSetup

[2019-04-24 09:36] thomaswue commented on #1140
The measurements you show have a high level of noise - i.e., running them multiple times will give you very different results. Can you do these measurements 100 times for each config and create some average/medium metric (potentially removing outliers)?

[2019-04-24 09:40] rmannibucau commented on #1140
@thomaswue I did and pasted an iteration representing well the executions. real and sys times are always close - excluding singular points - but the user time is also always ~+80ms.

[2019-04-24 09:50] thomaswue commented on #1140
It seems like your metrics indicate that we are at least same level for "real" time:
Oracle 1.8u191 real 0m0,141s
Graal CE 16 real 0m0,130s

The "user" time could depend on how many compiler threads are started at which point in time. It is the less important metric. I will check if I can confirm higher user times on my machine.

[2019-04-24 10:12] chumer commented on #621
Fixed in https://github.com/oracle/graal/commit/4bb8cf972e1e61df2c05a833c200596f33c6ad85.

[2019-04-24 10:12] #621 closed

[2019-04-24 10:13] mbbee commented on #1185
many problems are gone with native-image-maven-plugin 1.0.0-rc16
but following still exisits:
System.getProperty("user.home")) retrieves wrong dir
and ProcessBuilder has problems with empty spaces in path ( this was a problem in jdk8 ?)

[2019-04-24 11:06] johanvos opened #1189 "[native-image] FileDescriptor.append field not found (Java 11)"
the native implementation for FileDescriptor.initIDs will check for a field called "append" which is not available.

[2019-04-24 12:26] rmannibucau commented on #1140
@thomaswue yes, rc16 is definitively better than rc15. It is still a bit disappointing to not benefit from libjvm in terms of startup times but at least not being worth would be ok.

[2019-04-24 12:34] thomaswue commented on #1140
For substantially improved start-up time for your user application, we recommend creating a native image. Libgraal is only creating such AOT-compiled image for the compiler itself. This can improve start-up if your application benefits from faster compilation times; and it substantially improves start-up versus vs our previous versions where the compiler had to dynamically warm up in parallel to t

[2019-04-24 13:05] rmannibucau commented on #1140
@thomaswue as mentionned earlier going native is not an option for the app and has a lot of pitfalls currently (not being portable anymore and requiring to cross compile vs just relying on prebuilt JVM, not supporting classpath extensibility, not supporting several libraries which rely on classpath etc...). So my goal is really to get the best of both world having an optimized boot for the JVM cla

[2019-04-24 17:39] hickst commented on #1184
Thanks for the clarification: this is all good to know. But, did I miss this requirement documented somewhere in the Getting Started guide? Documentation seems especially important since the maximum heap size (listed by Oracle documentation for Java 8) is **"Smaller of 1/4th of the physical memory or 1GB."**, which will be insufficient to run the native-image.

[2019-04-24 17:44] hickst commented on #1184
But...but....but it's supposed to actually **pretty print** the JSON!, as illustrated in the example from the Getting Started guide:

![prettyprint](https://user-images.githubusercontent.com/22797/56681302-e591e600-667d-11e9-91a2-8d781a2bd7ae.jpeg)

[2019-04-24 21:09] hickst commented on #1184
I just updated to RC16 (on both OSX and Ubuntu) and the issues remain: it takes 2:5+ minutes to build a native image from the 1830 byte `PrettyPrintJSON.class` file and the result doesn't correctly pretty print the given JSON.

[2019-04-24 23:24] thomaswue commented on #1184
This is not just building that PrettyPrintJSON class, but includes building a JavaScript engine and the GraalVM compiler when creating that image; so probably more than 10000 classes.

We will update the documentation to include heap requirements when adding a dynamic scripting language including compiler to a native image and fix the illustration output to match the program output.

[2019-04-24 23:29] hickst commented on #1184
Thanks, those steps seem reasonable to close this issue. But, I'm still confused....why use a pretty print example if it wasn't intended to really pretty print?

[2019-04-24 23:58] thomaswue commented on #1184
It does pretty print, just without indentation. If you want indentation, you can specify this as the third parameter to the JSON.stringify method call:
`Value result = stringify.execute(parse.execute(input), null, 2);`

We will make sure that output and program exactly matches with respect to pretty printing parameters.

[2019-04-25 00:17] hickst commented on #1184
Ah, I see! Tested and confirmed. Thank-you for promising to fix the documentation so new users like me are no longer confused. :)

[2019-04-25 00:23] thomaswue commented on #1184
Excellent! Thanks for the report! We will close the issue when the documentation fix is propagated.

[2019-04-25 07:38] knyttl opened #1190 "Class file version > 52"
Do you plan to support JDK11, so that classes with version > 52 can be run with Graal as well?

[code]

[2019-04-25 08:56] ilopmar opened #1192 "Missing docker image for RC16"
The docker images for RC16 is not avaible:

[code]

Can you please release it? Thanks!

[2019-04-25 10:43] ilopmar opened #1194 "Segfault with Micronaut and native-image-agent"
I'm following this https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md to use the native-image-agent with a Micronaut application that uses Hibernate and JPA and I've hit a segfault.

To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-hibernate-graal`
- `cd micronaut-hibernate-graal`
- `git checkout mn-110`
- `./gradlew assemble`
- Use Graal fr

[2019-04-25 11:17] johanvos opened #1195 "[native-image] SimpleDateFormatter regression"
The following code will cause a failure during compilation:

[code]

The error is
[code]
(regression introduced by https://github.com/oracle/graal/commit/73544249ffd462d6b81ba10ac6233d914b7fb064)

This can be fixed with the following patch:

[code]

[2019-04-25 11:26] peter-hofer commented on #1194
Thank you for the report, I am already working on a fix.

[2019-04-25 16:08] jmaschad commented on #1169
I did some quick experiments. My program performs a simple aggregation over a column of a data frame. The frame is loaded from disk in batches of 1 million rows. Batches are processed by a sequence of operators.

I started measuring individual operator execution times as well. To my surprise I found that the performance of my fold operator is mostly constant overall. What does improve is data load

[2019-04-25 17:06] fniephaus commented on #1169
What kind of output do you get when running with `-Dgraal.TraceTruffleCompilation=true`?

[2019-04-25 17:59] mzachh commented on #1192
Hi Ivan,
sorry for the delay, the upload is internally pending and we will upload it as soon as possible.

If you need it earlier, you could also build it by your own:
Dockerfile: https://github.com/oracle/docker-images/tree/master/GraalVM/CE/1.0.0-rc16
[code]

[2019-04-25 18:01] ilopmar commented on #1192
Thanks for the info. I just wanted to upgrade Micronaut documentation and profile to use rc16, but I'll wait until the image is available in docker hub.

[2019-04-25 18:07] jmaschad commented on #1169
I appended the output. The `JitRootNode(func)` is the aggregation function that is called in the  `AccumulatorRepeatingNode`. I was trying to see the generated assembly by copying the `-disassemble` JAVA_ARGS from SimpleLanguage but apparently this requires the hsdis library which is not included with Graal?

[code]

[2019-04-25 19:53] aclement opened #1196 "[native-image] having to delete a class from my project - delay or allow-incomplete-cp options not helping"
I've got a spring app `native-image` building (yey!) but I am having to patch spring to make it work. I am finding I have to delete a class completely due to it referencing types not on the classpath (this class is actually never used in the app, it just happens to be in a jar).

This is the problem class - I think it is important that it is an enum: https://github.com/spring-projects/spring-boot/

[2019-04-25 20:00] dougxc commented on #1159
This should be fixed by https://github.com/graalvm/graal-jvmci-8/commit/a53131efce4e1c7d4e5aa3eefef504fee750e9f3 which did not make it into GraalVM RC16. It will be in the subsequent GraalVM release.

[2019-04-25 20:05] aclement commented on #1196
I removed the reference in `isEmbedded(DataSource)` to `DataAccessException` and that problem is now gone (so it was that reference) but it then uncovers the next problem. The enum values in the type above actually refer to another type that isn't on the classpath. They value declarations look like this:
[code]
and `EmbeddedDatabaseType` is not on the project classpath. Same exception stack trace

[2019-04-25 21:48] fniephaus opened #1197 "[interop] Handling of `Null` values"
Have a look at the following example:
[code]

First, `DynamicObject` leaks which is a bug. I'm guessing it's in TruffleRuby, but maybe there's also a problem in Graal.js?

More importantly, I'm a bit puzzled by the results. The interop API has support for numbers and for `Null` values, yet they seem to be treated differently. Why are the actual instances `nil` and `None` in the array and not JavaS

[2019-04-26 10:59] johanvos opened #1198 "[native-image] StringConcat indy delayed"
Running native-image with the following class will fail with the following error:

`Error: Class that is marked for delaying initialization to run time got initialized during image building: Hello3$$StringConcat/0x00000007c09ff440`

[code]

[2019-04-26 11:27] gsmet opened #1200 "ClassCastException with substitutions"
In Quarkus, we have the following substitutions:
[code]

Starting recently (probably with rc15, it's still there in rc16), we started to see the following `ClassCastException`:
[code]
line 47 being `Target_java_lang_Thread thread = (Target_java_lang_Thread) (Object) Thread.currentThread();`.

Note that `JBossThread` is extending `Thread` so we suspect it has something to do with the substitutions

[2019-04-26 12:07] vjovanov commented on #1196
This comes from the new way we handle enumerations. This was introduced 2 months ago an should not be hard to fix.

[2019-04-26 12:30] mzachh commented on #1192
The image oracle/graalvm-ce:1.0.0-rc16 is now online.

Thanks for the report!

[2019-04-26 12:30] #1192 closed

[2019-04-26 13:00] vjovanov commented on #1196
The problem seems to be that this class is seen by analysis in the first place. To find what is the cause we would need a way to reproduce the issue. @aclement could you please show us how to reproduce this?

[2019-04-26 13:30] ilopmar commented on #1192
Thank you :)

[2019-04-26 13:40] fniephaus commented on #1169
Cool, OSR is working. In a next step, you could analyze these compilation units with [igv](https://www.graalvm.org/docs/graalvm-as-a-platform/implement-language/#igv). Red nodes in Truffle graphs are usually performance problems (e.g. invocations, transferToInterpreter/deopt, ...).

[2019-04-26 14:02] mrigger opened #1201 "[Sulong] Repeated printing of WARNING: setjmp is unsupported!"
Hi,

I'm executing a benchmark from the cicro benchmarks that calls `setjmp`, but never `longjmp`. Sulong does not support `setjmp` and repeatedly prints a warning `WARNING: setjmp is unsupported!` (see [here](https://github.com/oracle/graal/blob/7b0cc8ba7d6ce48d709e8e1f6551d06c4be1f2c9/sulong/projects/com.oracle.truffle.llvm.libraries.bitcode/src/setjmp.c#L36)). Only if `longjmp` is called would

[2019-04-26 14:21] mrigger opened #1202 "[Sulong] Compilation error for LLVMX86_Pmovmskb128"
Hi, when executing `armon-libart` from the cicro benchmarks with Sulong (RC16), I get the following error:

[code]

[2019-04-26 16:50] hlolli commented on #1182
I can confirm that this was the problem, I wasn't using the right graaljs version

[2019-04-26 16:50] #1182 closed

[2019-04-26 17:35] headius commented on #1145
Any luck fixing this? Can you see the problem?

[2019-04-26 19:04] aclement commented on #1196
Let me try to share this project

[2019-04-26 19:27] aclement commented on #1196
ok, I have created https://github.com/aclement/graal-1196

If you clone that project there is a little script `compile.sh` that runs `native-image` against the contents of the `unpack` folder. The `unpack` folder is the simple spring app built, unpacked and patched to be graal ready. I am sorry it isn't a minimal testcase but hopefully it reliably fails at least. Thanks for taking a look.

[2019-04-26 19:28] hlolli commented on #1158
@olpaw (willingly leaving out the missing --language option)

[code]

[2019-04-26 19:28] hlolli commented on #1158
@olpaw ahhh sorry, too quick, I of course didn't use your 3 day merge :=) will try again tomorrow.

[2019-04-26 21:37] cstancu commented on #1200
Not sure what is going on here but we cast frequently between `java.lang.Thread` and `com.oracle.svm.core.thread.Target_java_lang_Thread`. We use the [`JavaThreads.toTarget(Thread)`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/thread/JavaThreads.java#L146) utility method.

[2019-04-27 12:35] fniephaus commented on #1197
Had a chat with @timfel and he convinced me this is the correct behavior. Nonetheless, Graal.js should print `Null` values as `null`. Closing this issue here...

[2019-04-27 12:35] #1197 closed

[2019-04-27 13:08] dmlloyd commented on #1200
I will try to change the cast from a "normal" cast to `Foo.class.cast()` and see if that helps.

[2019-04-27 13:08] mbbee commented on #1185
file.isDirectory() is also buggy, sometimes it works sometimes not
(Files.isDirectory is allways korrect)
[code]

[2019-04-27 13:14] mbbee commented on #1185
and ProcessBuilder doesn't find the "cmd" command
eg "cmd /c R:\\putty.exe"

[2019-04-27 14:31] yoreyuan opened #1203 "When start hive report 'Error calling jdk.vm.ci.services.Services.serializeSavedProperties'"
When I changed the JDK to `OpenJDK GraalVM CE 1.0.0-rc16`, I started the `Hive` prompt with the following error:
[code]

[2019-04-27 15:30] opportun1st opened #1204 "unnecessary vzeroupper instruction generated with retq on x86"
Currently vzeroupper is generated with retq as long as the CPU supports AVX. See the source code here: [AMD64HotSpotReturnOp.java#L114](https://github.com/oracle/graal/blob/87c4ce8eabe466ce13adb10a1bf527b8dc1e8c3b/compiler/src/org.graalvm.compiler.hotspot.amd64/src/org/graalvm/compiler/hotspot/amd64/AMD64HotSpotReturnOp.java#L114).

Here is a simple example and the corresponding generated code:
[c

[2019-04-27 16:04] hlolli commented on #1158
@olpaw good error message, I think we can close this ticket

[code]

[2019-04-27 16:04] #1158 closed

[2019-04-27 19:30] tarilabs opened #1205 "[native-image] despite native-image-agent JNI UnsatisfiedLinkError with javax.sound.midi"
Hi, I am using 1.0.0-rc16

I have a simplified reproducer by means of a very simple app[1] just for listening to midi keyboard note press, I believe this is using JNI because I am using package `javax.sound.midi` so as suggested from documentation, I run first the reproducer with:
[code]
and I can use the application normally; display midi devices, I connect to a midi device and it print out keybo

[2019-04-27 21:53] knyttl opened #1206 "Reflection discovery via annotations for data classes"
We are using graal with Kotlin and Micronaut where we use dataclasses for endpoints as follows:

[code]

The problem is with reflection on DataBody, which needs to be described in reflect.json. This works, but it is not very friendly as there might be forgotten old classes.

It would be great to have an annotation to tell Graal to process reflection. Something like:

[code]

[2019-04-28 07:43] knyttl commented on #475
This feature would be super useful for us.

1. We want to debug on native-image build, because the potential issues because of reflection/introspection must be discovered in development, not in production.
2. Our microservices can be super-tiny, but needs a lot of dependencies. changing just one of our classes leads to total recompilation of all the dependencies and overall it takes us 10 minutes.

[2019-04-28 16:39] fniephaus opened #1207 "[truffle-dsl] SpotBugs error when using node in guard, @Shared, and @Fallback"
### Example code
[code]

### Generated code
[code]

### SpotBugs Problem
[code]

### Observations
- does not happen if `SomeOtherNode` is not used in guard
- does not happen when `@Shared` is not used
- does not happen when `@Fallback` is removed

/cc @chumer

[2019-04-29 04:15] davidmrdavid opened #1208 "Uncaught error generated by simple change to the TruffleLibraries tutorial"
Hello folks,

I'm making this issue by the request of @chumer in the graal-core gitter channel.

In the [Truffle Libraries Tutorial](https://github.com/oracle/graal/blob/master/truffle/docs/TruffleLibraries.md) there's a link to a unit test showing how to write simple specializations using the Truffle DSL. The fully worked example may be found [here](https://github.com/oracle/graal/blob/master/tru

[2019-04-29 07:19] dougxc commented on #1203
Thanks for the report. This occurs when initializing libgraal with the system properties of the VM. We hadn't considered the case of a system property value being longer than 65535 bytes. I'll fix. In the meantime, the work around is to either disable libgraal (i.e. `-XX:-UseJVMCINativeLibrary`) or to somehow avoid this long system property being passed to `Hive` by the relevant launcher.

[2019-04-29 08:53] gilles-duboscq commented on #1145
Not yet. The data you provided was enough to reproduce though.
The full stack trace is
[code]
I could get some IR graphs, the hard part is figuring out where in the source the check was supposed to be in the generated code from the lambda form (probably somewhere around that frame: `LambdaForm$MH:1000082`).
I had to take on some other issues so i didn't have time to debug more but I have not forgo

[2019-04-29 11:32] chumer commented on #1169
Also note you should not store runtime values in your nodes. Instead they should be stored in the frame. This allows for more reliable virtualization of those values in the compiler.
You may reuse those nodes from SL for that:
https://github.com/graalvm/simplelanguage/blob/master/language/src/main/java/com/oracle/truffle/sl/nodes/local/SLReadLocalVariableNode.java
https://github.com/graalvm/simple

[2019-04-29 12:40] knyttl opened #1209 "Log4j2 issues"
(Possibly related with https://github.com/oracle/graal/issues/808)

Within our graal-compiled project we have issue with log4j2. When anything is to be logged, it gets to reflection issues.

https://gitlab.com/GoOutPublic/MicronautKotlinDemo/blob/master/

We have declared reflect-config.json as follows:

https://gitlab.com/GoOutPublic/MicronautKotlinDemo/blob/master/reflect-config.json

The error

[2019-04-29 13:13] jmaschad commented on #1169
Thank you for the comment, I will look into that.

I am not sure if I know what virtualization is. I believe it is an optimization that removes unnecessary copying of values. For example, if a value is passed as an argument to some function that only reads but does not update the value, it is not necessarry to create a copy for the argument but instead the original value can be read? Is this relat

[2019-04-29 15:46] juv commented on #532
Some time has passed since the latest comments in this issue, so I'll just hop in and ask if someone has made progress in compiling Kafka producers/consumers to a native image?

[2019-04-29 15:51] fniephaus commented on #1169
For the difference between `VirtualFrame` and `MaterializedFrame `, have a look at [this](http://fniephaus.com/2019/morevms19-efficient-activation-records.pdf).

[2019-04-29 16:34] fniephaus opened #1210 "[truffle-dsl] Problem with execute methods with varargs"
### Example code
[code]

### Generated code
[code]

### Observations
- Problem fixed when `executeWithArguments` is removed
- Problem still there if `executePrimitive` and `@NodeChild` is removed
- Problem fixed when `doIsBoolean(final TruffleObject receiver,` is used

/cc @chumer

[2019-04-29 18:42] dmlloyd commented on #1200
We tried using the `cast` method approach and it still fails.

[2019-04-30 07:38] zapster commented on #1202
Hi Manuel! Thanks for the report. A fixed has already been merged to master (27e7276341). Disclosure: the issue was in fact discovered by running the cicro benchmarks internally.

[2019-04-30 07:38] #1202 closed

[2019-04-30 08:04] dougxc commented on #1190
Yes, support for JDK11 is a work in progress. I'm closing this as a duplicate of #651.

[2019-04-30 08:04] #1190 closed

[2019-04-30 08:08] vjovanov commented on #1196
We are working on a fix, thanks for making it reproducible. Note that on master you will need to add `--initialize-at-build-time`, or even better `--initialize-at-build-time=<csv-of-packages>`.

If you want all your classes delayed to run time you will need:
[code]

In the second case, the list is necessary as lambdas and annotations get initialized at build-time. In Spring those pull in the given

[2019-04-30 08:41] zapster commented on #1201
Thanks Manuel for the report. IMHO It is tricky to deal with `setjmp`/`longjmp` in a graceful way.

Regarding you suggestion (a): I am concerned about the case when `setjmp` is called in bitcode (which would currently print the warning), but `longjmp` is called in native code, which means so we cannot intercept it. In that case, the program will abort but we would never notify the user that someth

[2019-04-30 08:44] rschatz commented on #1160
Sulong has some OS specific components. Currently it works only on Mac and Linux.

Windows support is planned, but I can't give you a concrete ETA yet.

[2019-04-30 08:49] #1043 closed

[2019-04-30 08:58] mrigger commented on #1201
Thanks for your quick response! Regarding (b): It would be an improvement, for cicro at least, since for programs that call `setjmp` in a loop, large amounts of data on stderr are produced. This is a problem for cicro, since the `stderr` output is stored to a file and printed to the console.

Aborting the program when `setjmp` is called would also be satisfactory, which would prevent the case that

[2019-04-30 09:18] gnodet commented on #592
I've had the same kind of exception reported in https://github.com/quarkusio/quarkus/issues/2207 with:
[code]

[2019-04-30 09:42] ilopmar opened #1211 "Error with Micronaut and native-image: "class got initialized during image building""
It is now not possible to build a Micronaut native image with RabbitMQ support after this change https://github.com/oracle/graal/commit/b20dead4f4f0527dae948767992c82d4f43837f6 was merged in master last week.
Keep in mind that the application is using the suggested options: `--initialize-at-build-time=ch.qos.logback,com.fasterxml.jackson,fresh.graal,io.micronaut,io.netty,io.reactivex,org.reactives

[2019-04-30 09:50] ilopmar opened #1212 ""No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime" in Micronaut"
It is now not possible to build a Micronaut native image with the management and metrics endpoints enabled support after this change https://github.com/oracle/graal/commit/b20dead4f4f0527dae948767992c82d4f43837f6 was merged in master last week.

Keep in mind that the application is using the suggested options: `--initialize-at-build-time=ch.qos.logback,com.fasterxml.jackson,fresh.graal,io.micronau

[2019-04-30 09:59] johanvos commented on #1172
I updated PR #734 and created #1213
All credits should go to @dmlloyd

[2019-04-30 10:26] ralleman commented on #1043
Thanks guys for the answers.

[2019-04-30 10:55] MaartenSmeets opened #1214 "Liberty startup issue: NumberFormatException in com.ibm.ws.kernel.service.util.JavaInfo when running on GraalVM 1.0 RC16"
I also created this issue on https://github.com/OpenLiberty/open-liberty/issues/7372. Not sure where a fix should be implemented (Open Liberty or GraalVM).

When running JAR generated with mvn clean package from https://github.com/MaartenSmeets/jvmperformance/tree/master/microservicetestcode/MicroProfile
 (using net.wasdev.wlp.maven.parent:liberty-maven-app-parent:2.6.4,
net.wasdev.wlp.maven.paren

[2019-04-30 11:12] ilopmar opened #1215 ""No instances are allowed in the image heap" for Micronaut and Security"
It is now not possible to build a Micronaut native image with Security after this change https://github.com/oracle/graal/commit/b20dead4f4f0527dae948767992c82d4f43837f6 was merged in master last week.

Keep in mind that the application is using the suggested options: `--initialize-at-build-time=ch.qos.logback,com.fasterxml.jackson,fresh.graal,io.micronaut,io.netty,io.reactivex,org.reactivestreams,

[2019-04-30 11:52] ilopmar commented on #1212
More information. Adding `--initialize-at-run-time=io.micronaut.configuration.metrics,io.micrometer` there is a new error:
[code]

[2019-04-30 14:26] vjovanov commented on #1212
When I composed the list I did not have metrics included.
Try marking `io.micrometer.core.instrument.push.PushRegistryConfig` as build time. Probably adding the whole package would work as well.

This is not technically an issue. It is just difficult to debug--I am working on providing better stack traces when this happens. To know how this class got initialized you can either print the stack trac

[2019-04-30 14:49] gsmet opened #1216 "Include package-info into the native image"
Hi,

Maybe it's simple but I wasn't able to figure out how to include a `package-info` into a native image.

We have a user trying to use JAXB and the generated `package-info` contains important information necessary for JAXB to work properly, namely:
[code]

I tried to see if the reflection API would allow me to register it but it doesn't look like it does. I tried with a reflection JSON file but

[2019-04-30 15:28] ilopmar commented on #1212
Thank you for your quick reply. Adding `--initialize-at-build-time=io.micrometer.core` did the trick.

One question to make sure that I understand how this works. Once I add `-H:+PrintClassInitialization` the log files are generated and I can see the classes that got initialized eagerly == build-time? So I need to pass those classes to `--initialized-at-build-time` in case some of them fails?

[2019-04-30 15:46] ilopmar opened #1217 "Not possible to build Micronaut native-image for a basic-app without deprecated flags"
I'm trying to remove the deprecated flags (from versions prior to RC17) and build a Micronaut basic native-image application, but it's failing.

This is the content of the relevant `native-image.properties` file we include in Micronaut:

[code]

When creating a native-image with either `--rerun-class-initialization-at-runtime` or `--delay-class-initialization-to-runtime` I see deprecation warnings

[2019-04-30 15:49] vjovanov commented on #1212
Yes, I will rename eager to `build-time` and delay to `run-time`. It comes from the past when the default was initializing at build time.

When we fix the issue with lambdas you should never need to add `--initialize-at-build-time`. `--initialize-at-build-time` is there to make your framework start faster and that the images are smaller.

[2019-04-30 15:49] #1212 closed

[2019-04-30 15:53] ilopmar commented on #1212
Thanks! Can you please let link here that issue so I can track it?

[2019-04-30 16:04] vjovanov commented on #1217
I removed `--rerun-class-initialization-at-runtime` from the API as its semantics is very complicated and it is used only for the JDK. Both classes you set are already handled by the `native-image` so you should not need this one.

The `--delay-class-initialization-to-runtime=io.netty.handler.codec.http.HttpObjectEncoder,io.netty.handler.codec.http.websocketx.WebSocket00FrameEncoder,io.netty.handl

[2019-04-30 16:17] ilopmar commented on #1217
Ohh boy, I think I tried that and it didn't work, but now it's working. Probably I didn't use this new `initialize-at-run-time` with the `initialize-at-build-time` you provided me.

Thanks and sorry for the noise.

[2019-04-30 16:17] #1217 closed

[2019-04-30 16:26] vjovanov commented on #1183
It should work now without adding any flags.

[2019-04-30 16:41] vjovanov commented on #1215
Addition of this flag fixes the issue: `--initialize-at-build-time=com.nimbusds.jose.jwk.KeyType,net.minidev.json.JSONObject`.

These got initialized through: `io.micronaut.security.token.jwt.signature.jwks.JwksSignatureConfigurationProperties` which is eagerly initialized. Again, adding a stack trace here will help in the future.

[2019-04-30 16:54] vjovanov commented on #1211
Have you tried `--initialize-at-build-time=com.rabbitmq.client.SocketConfigurator`. It probably got initialized by one of the classes in Micronaut.

[2019-04-30 16:54] #1215 closed

[2019-04-30 16:59] vjovanov opened #1218 "[native-image] Lambdas get always initialized at image build time."
This causes problems with class initialization as instances of classes that should be initialized at run time get in the image heap. This happens when a lambda inherits a `FunctionalInterface`  that has default methods and static fields. An example of such failure in Micronaut is:
[code]

[2019-04-30 17:00] vjovanov commented on #1212
This is the issue: https://github.com/oracle/graal/issues/1218

[2019-04-30 19:11] cstancu commented on #1194
This should be fixed by https://github.com/oracle/graal/commit/8c84d1e5d411d2515a123257c720d85c16edefee.

[2019-04-30 19:11] #1194 closed

[2019-04-30 22:16] ilopmar commented on #1211
Yes, I tried that and I also added `io.micronaut.configuration.rabbitmq` to the list but the error is the same.

[2019-05-01 06:08] janostgren opened #1221 "Import and Export does not work in Javascript"
Can not use import and export in JavaScript.
Need it for subclassing of classes in my project

[2019-05-01 06:18] janostgren opened #1222 "Running NodeJS scripts from Java programs"
Is it possible to run NodeJS JavaScript from Java programs using PolyGlot API.
I need to use require() and await async etcetera.
The use case is to manage Puppeteer script from Graal VM.

[2019-05-01 06:23] janostgren opened #1223 "Passing Java Collections to from Java to Javascript"
Cannot find any examples of using Java Collections in JavaScript called from Java.
Should be possible but no documentation is avalble.

[2019-05-01 06:53] MaartenSmeets commented on #1214
The issue has been resolved on the Liberty side in release 19.0.0.5. See https://github.com/OpenLiberty/open-liberty/issues/7372#issuecomment-487969687

[2019-05-01 06:53] #1214 closed

[2019-05-01 13:35] fniephaus commented on #1222
It's not officially supported, but have a look at [NodeJVM](https://github.com/mikehearn/nodejvm/).

[2019-05-01 13:55] fniephaus commented on #1210
As a workaround, I seem to be able to use:
[code]

[2019-05-01 16:58] olyagpl commented on #1184
@hickst, please find heap requirements in https://www.graalvm.org/docs/reference-manual/aot-compilation/#prerequisites section.  The JSON.stringify method  of the example program has been updated too.
Thank you for the feedback

[2019-05-01 16:59] #1184 closed

[2019-05-01 21:40] fniephaus opened #1224 "GraalError: plugin graph not found (numberOfLeadingZeros)"
### Environment
GraalVM CE 1.0.0 RC16 on Linux

### Error message
[code]

### Dump
[graal_diagnostics_20264.zip](https://github.com/oracle/graal/files/3136078/graal_diagnostics_20264.zip)

[2019-05-02 02:29] neomatrix369 commented on #1142
Re-ran the above with RC15 and compared it with the traditional JDK8, there is a small ~6 seconds startup lag with RC15, see https://github.com/neomatrix369/awesome-ai-ml-dl/blob/master/examples/data/databases/graph/grakn/successful-run-console.md

I'll close this issue for now, since it has been addressed. I will try to use native images and also run a detailed performance suite on the app itself

[2019-05-02 02:29] #1142 closed

[2019-05-02 06:17] vjovanov commented on #1211
I tried adding the two classes that fail to `--initialize-at-build-time` and it works. Also, adding `--initialize-at-build-time=com.rabbitmq.client` works well. Can you please verify?

[2019-05-02 07:45] #1198 closed

[2019-05-02 07:45] vjovanov commented on #1198
This issue has been fixed. Thanks @johanvos.

[2019-05-02 08:01] ilopmar commented on #1211
Yes, that is working now but only using the deprecated options with the new ones. I'm also working on removing the deprecated options as discussed in #1217 and I think I tried both approaches and the same time.
I think that now everything should work.

[2019-05-02 08:01] #1211 closed

[2019-05-02 08:05] vjovanov commented on #1211
Deprecated options do exactly the same thing as the new ones. They are deprecated because of the name change: when delay is default, it does not really make sense to say delay.

I removed rerun and left it for internal use as the semantics is extremely complicated. I still need to see a solid use-case that justifies exposing this option.

[2019-05-02 08:20] ilopmar commented on #1211
Thanks for the clarification. Btw, I also needed to add `--initialized-to-build-time=io.netty.buffer,io.netty.util` to make it work.

[2019-05-02 08:46] janostgren opened #1225 "gu does not work in rc16 installation on MacOS"
Here comes the output when try to invoke the gu command
jostgren:GraalVM janostgren$ which gu
/Users/janostgren/local/gralvm-ce-1.0.0-rc16/Contents/Home/jre/bin/gu

jostgren:GraalVM janostgren$ gu
/Users/janostgren/local/gralvm-ce-1.0.0-rc16/Contents/Home/jre/bin/gu: line 40: /Users/janostgren/local/gralvm-ce-1.0.0-rc16/Contents/Home/jre/bin/../../../../bin/java: No such file or directory
/Users/j

[2019-05-02 08:56] dougxc commented on #1224
@tkrodriguez this looks like a case of a method substitution not being included because our build system says it's not needed (https://github.com/oracle/graal/blob/b4b403e30a2f095084ac9f7f5d4f0442661b612c/compiler/src/org.graalvm.compiler.replacements.amd64/src/org/graalvm/compiler/replacements/amd64/AMD64GraphBuilderPlugins.java#L115). I think you fixed this for a number of other conditional meth

[2019-05-02 09:14] mur47x111 commented on #1204
Thanks for the report! I agree that we are too conservative on generating `vzeroupper`. I will introduce a pass on the LIR to determine whether there is fp register usage.

[2019-05-02 10:40] tzezula commented on #1225
Seems that `/Users/janostgren/local/gralvm-ce-1.0.0-rc16/Contents/Home/jre/bin/gu` is not a symbolic link. @janostgren can you verify it?

[2019-05-02 11:25] pekd commented on #1201
I originally implemented these warnings/errors. Before `setjmp`/`longjmp` were implemented in bitcode, programs called the native implementation, which was no problem for `setjmp` but it caused weird and hard to understand JVM crashes for `longjmp`. The idea behind the warnings was that the user should know he is using something unsupported.

Aborting at `setjmp` is a bad idea, since many programs

[2019-05-02 13:27] o- opened #1226 "inaccessible publications"
I noticed that many links on [this list of publications](https://github.com/oracle/graal/blob/master/docs/Publications.md) from the wiki end up at a paywall. Some of them can't be found at all through other means.

It would be super awesome if all of those publications would be made available somehow. It's such a shame that all this work you put into sharing graal with the world is not freely acce

[2019-05-02 14:12] chumer commented on #1210
Seems like I missed that combination in the test. Thanks for the report.

[2019-05-02 14:34] fniephaus commented on #1224
Thanks for the info! Everything seems to work fine when running with `-XX:-UseJVMCINativeLibrary` as a workaround.

[2019-05-02 15:26] smokeelow opened #1227 "VS Code Debug. Debug Console autocomplete errors."
### Issue
I'm using VS Code to debug JavaScript. In debug, when i'm trying to type something in _Debug Console_
i'm getting error

[code]

See full video https://www.youtube.com/watch?v=VINnHJqmC60&feature=youtu.be

When i go by url chrome-devtools://devtools/bundled/js_app.html?ws=127.0.0.1:7992/3ad2426f-e6a244b0f3a in Chrome, it works as expected. I see autocomplete, no errors, everything works

[2019-05-02 16:06] jarohen opened #1228 "Calling host method with TruffleObjects - converted to PolyglotList on the way out but not on the way back"
Hi there,

I'm currently passing one of my TruffleObjects to a Java host method - because my TruffleObject returns true from `hasArrayElements` it gets converted to a PolyglotList by ToHostNode::asJavaObject.

Let's say the Java method I'm calling just returns its parameter - I then get a PolyglotList in my guest language rather than my original TruffleObject.

Is this expected? If so, could you m

[2019-05-02 16:14] chumer commented on #1228
Could you provide some context what you are trying to do? I assume you're implementing your own language?

If not, then you are on the wrong path. As a language embedder, you are restricted to use the GraalVM SDK Polyglot API only. You should not implement TruffleObject but use `ProxyArray` instead (you can also just pass in a Java array).
Here are the docs for embedding:

If you are implementing

[2019-05-02 16:42] jarohen commented on #1228
Hey, thanks for the prompt reply!

Yes, I'm creating my own language. In this case, I'm creating a 'variant' object (the TruffleObject - similar to Haskell's ADTs), which can be used by users to create (e.g.) 'result' types - either a 'Success' object also containing a success value or an 'Error' type containing the error. The TruffleObject is hence the combination of the discriminator ('Success'/

[2019-05-02 17:47] jarohen commented on #1228
examples below are in Kotlin, don't know if that'll be an issue?

VariantObject is:
[code]

I've got a `ValueNode` abstract class which is the supertype for most of my nodes:
[code]

I write (for example) a vector expression that gets turned into a VectorNode (I've inlined a fair bit into this example - am aware, for example, that this isn't the most efficient way to get hold of the various envs/l

[2019-05-02 17:52] jarohen commented on #1228
I suspect my misunderstanding is around when to wrap/unwrap Truffle objects when passing them back and forth to Java. I hit a few issues earlier on when I had a mixture of Truffle objects and Java objects (the VectorNode, for example, used to just wrap its elements up in a Java list and pass the raw list around, but that hit issues with various Truffle functions that expected TruffleObjects, or wr

[2019-05-02 18:55] cstancu commented on #1186
This looks like a missing Truffle boundary. cc: @chumer

[2019-05-02 19:05] cstancu commented on #1216
We don't currently support this. Can you provide a simple example? How would you access the `package-info` at runtime?

[2019-05-02 20:57] smoell opened #1229 "Parsing problems"
Hi all,

I want to implement a self-contained build for my [application ](https://github.com/aws-samples/reactive-refarch-cloudformation/tree/master/services/tracking-service/reactive-vertx)using Docker. This is my Dockerfile:

[code]

Unfortunately, I get the following error:

[code]

Any idea what this could be?

[2019-05-02 23:42] fcurts opened #1230 "Truffle: Support non-blocking cancellation"
The recommended way to timebox Truffle programs is to call `Context.close(true)` from a timer/executor thread. In some cases (e.g., when writing a service for remote code execution), it makes sense to reuse the same timer (thread) rather than creating a new one per run for efficiency reasons. For this to work reliably, there needs to be a way to trigger cancellation without blocking. Hence this fe

[2019-05-03 02:20] ralleman commented on #1134
This issue has now become critical for me to resolve. It was still happening on rc14, so I updated to rc16, but even my work around doesn't work on that. I'm going to continue hunting. Has anything been done on the original fault between rc14 and rc16?

[2019-05-03 03:24] ralleman opened #1231 "rc16 seems quite broken"
ECMA import support is no longer working. This was working in rc14, but not in rc16:

[code]

rc16 gives the error:

[code]

I've detailed another instance of something that was working in rc14, but fails in rc16 here https://github.com/oracle/graal/issues/1134.

Could the rc16 gz artifact have corrupt files in it?

[2019-05-03 05:20] ralleman commented on #1231
Turns out rc15 has the same fault above. I'm going to try rc13 because rc14 has the fault mentioned in #1134 which is now blocking my work.

[2019-05-03 05:28] ralleman commented on #1222
Related: https://github.com/graalvm/graaljs/issues/50

[2019-05-03 05:34] ralleman opened #1232 "Package error"
I get an error copying out of the GraalVM package gzip file for every artifact due to the duplicated polyglot_types.h file below:
![image](https://user-images.githubusercontent.com/5635170/57121140-de26b700-6db8-11e9-8115-eeb4c900b872.png)

[2019-05-03 05:50] ralleman commented on #1231
rc13 has the same problem described in #1134, so I'm now properly blocked. Can either this issue or #1134 be escalated please?

[2019-05-03 07:10] neomatrix369 opened #1233 "[BUILD] Build issues on Linux Graal/GraalVM"
Recently the builds are failing due to a number of reasons, I have come across two of them that might be specific to the JDK usage:

Issue 1: Breaks due to gcc warnings (treated as errors)
https://circleci.com/gh/neomatrix369/awesome-graal/321

Issue 2: HotSpot version string missing
https://circleci.com/gh/neomatrix369/awesome-graal/314

Can you please recommend some other OpenJDK/JDK versions to

[2019-05-03 07:23] dougxc commented on #1233
For what its worth, you could use the binaries at https://github.com/graalvm/openjdk8-jvmci-builder/releases instead of building them.

Issue 1 was fixed by https://github.com/graalvm/graal-jvmci-8/commit/49b68a769ebaebaf792fc03c98b3cf8e2384813e

Issue 2 should be fixed with this patch:
[code]
Please test that and I can integrate it.

[2019-05-03 07:30] neomatrix369 commented on #1233
Awesome work @dougxc - super fast you guys are!

I'll give it a whirl, thanks for making the checking of HotSpot string a bit more resilient, you see different JDK versions (Free and Paid) might have formatted it differently.

[2019-05-03 07:57] sdedic commented on #1225
@janostgren is that a standard install  from github's RC tarball ? Please check that `bin/gu`, `jre/bin/gu` are actually symlinks; the `jre/lib/installer/gu` (the real script) uses relative paths to get to its java, so if it is misplaced, it will fail.

[2019-05-03 08:18] neomatrix369 commented on #1233
Just applied the patch to fix HotSpot string issue but now I get this:
[code]

[2019-05-03 08:31] ralleman commented on #1134
Can someone please tell me how to enable stack trace dumps inside truffe while running as a JVM (i.e. what -D property do I use)?

By my reckoning this problem is in one of these files:

truffle/src/com.oracle.truffle.polyglot/src/com/oracle/truffle/polyglot/PolyglotProxy.java
truffle/src/com.oracle.truffle.polyglot/src/com/oracle/truffle/polyglot/HostObject.java
truffle/src/com.oracle.truffle.pol

[2019-05-03 08:46] iamstolis commented on #1231
You are using dynamic import that is not part of the ECMAScript specification yet. GraalVM JavaScript supports dynamic import but its support is disabled by default. You can enable it by setting `js.ecmascript-version` to `11`.

[2019-05-03 09:24] neomatrix369 commented on #1233
Another such issue on a Linux box: https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_linux/2/console

[2019-05-03 09:41] ralleman commented on #1231
Thanks @iamstolis. That got me past that error and onto another error:

`TypeError: invokeMember on JavaObject[com.mydomain.script.ApiProxyModulesService$1@79aa675b (com.mydomain.script.ApiProxyModulesService$1)] failed due to: Unknown identifier: find`

Where the Java code is:

[code]

And the javascript is:

[code]

Again, this was all working with rc14. rc16 is having trouble invoking api.modul

[2019-05-03 10:18] iamstolis commented on #1231
There were some recent changes that made `Context` more restricted by default. I think that you are running into one of these restrictions (arbitrary methods/fields of Java classes are not accessible by default). You can remove these restrictions using `allowAllAccess(true)` method (or some more specific `allow*()` method) on `Context.Builder`.

[2019-05-03 10:46] knyttl opened #1234 "Improving documentation for @AutomaticFeature"
I am trying to implement `@AutomaticFeature` described here:

https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md#manual-configuration

I implemented the class, but it is not clear where it should be put. Firstly, I had it normally within my code, but it did not work. Then I found some information about `META-INF` directory, but it is still not being registered. I turned on the t

[2019-05-03 10:51] ilopmar opened #1235 "Error encountered while parsing org.graalvm.compiler.hotspot.HotSpotBackend.mulAddStub"
After #1194 is fixed I can use the agent to generate the meta-information needed to build the native image. I used that for the test application in that issue, then include the generated files in the application jar and tried to build the native image. It fails with the error shown.

To reproduce the issue:
- `git clone https://github.com/micronaut-graal-tests/micronaut-hibernate-graal`
- `cd micr

[2019-05-03 11:02] ralleman commented on #1231
allowAllAccess(true) gets past it, but I can't use this because I run untrusted code. If this is the only way I can get past it, it's a huge step backwards on running untrusted code. Is there another way past this that doesn't require me to allow access to untrusted code?

Additionally, while allowAllAccess(true) gets me running(ish) I'm still blocked by #1134 except the error message has changed

[2019-05-03 11:12] iamstolis commented on #1231
`Context.Builder` has various methods that allow you to specify fine-grained privileges of the `Context`. I suggest you to start with an appropriate `HostAccess` (`allowHostAccess(HostAccess.newBuilder()....build())`).

I am sorry, I cannot help you with #1134 as it does not contain a reproducible test-case. There is some JavaScript code but if I understand correctly the same JavaScript code works

[2019-05-03 11:22] ralleman commented on #1231
Understood. That's working. Thanks.

Re #1134, I have not been able to reproduce this in an isolated test case, but I can confirm that I have hundreds of instances of a ProxyObject class called ResourceProxy and one of those instances is consistently producing the error. It's almost like it reaches a max count of some kind because putMember is not even getting invoked on that one instance (like it

[2019-05-03 11:46] dougxc commented on #1233
The recent failures are the same as Issue 1 which was fixed by https://github.com/graalvm/graal-jvmci-8/commit/49b68a769ebaebaf792fc03c98b3cf8e2384813e.

[2019-05-03 13:03] smoell commented on #1229
Quick update: using rc16 in the pom.xml results in the following issue:

Error: Error encountered while parsing sun.security.ssl.DHCrypt.<init>(int, javax.crypto.spec.DHParameterSpec, java.security.SecureRandom)
Parsing context:
        parsing sun.security.ssl.DHCrypt.<init>(DHCrypt.java:114)
        parsing sun.security.ssl.ClientHandshaker.serverKeyExchange(ClientHandshaker.java:770)
        pa

[2019-05-03 13:32] smoell commented on #1229
Windows 10/Docker issue

[2019-05-03 13:32] #1229 closed

[2019-05-03 15:14] dougxc commented on #1233
Issue 2 is fixed by https://github.com/graalvm/graal-jvmci-8/commit/3b3f076a486faad903c6540cf64255463cbf66b5.

[2019-05-03 17:04] cstancu commented on #1234
Try adding the feature class to the `native-image` using `--features=` which takes `A comma-separated list of fully qualified Feature implementation classes`. This is preferred over the `@AutomaticFeature` approach, we will update the docs. The class implementing `Feature` just needs to be on the `native-image` classpath in both cases.

Regarding wildcards for reflection, we currently don't suppor

[2019-05-03 17:19] knyttl commented on #1234
I added the `--feature` param and now I can see the:

[code]
But the class it is supposed to add is still not added.

[2019-05-03 18:12] cstancu commented on #1234
Yes, please create a separate issue for the wildcard feature.

[2019-05-03 18:12] cstancu commented on #1234
What do you mean by:

[2019-05-03 18:59] knyttl commented on #1234
Okay, I probably see the problem now:

[code]

When I call directly the `.register` method, it works correctly, but the reflection used to find all classes within package is probably ignored. Is there some hidden logic, which would prevent adding the whole package?

[2019-05-03 19:15] cstancu commented on #1235
The problem that you are seeing is because the `reflect-config.json` file contains entries for `org.graalvm.compiler.*`. This is a side effect of the fact that the Graal compiler itself is Java code that the agent cannot dissambiguate. The fix for this is to use `libgraal` instead, i.e., the Graal compiler built as a native shared library. If you use an official GraalVM distribution starting with

[2019-05-03 19:16] cstancu commented on #1235
However, after eliminating the `org.graalvm.compiler.*` entries from your reflection config you will likely run into `Error: Field java.lang.reflect.Method.defaultValue is not present on type java.lang.reflect.Constructor. Error encountered while analysing java.lang.reflect.Method.getDefaultValue() `. A fix for that will be pushed soon.

[2019-05-03 19:20] cstancu commented on #1234
No. Are you sure that `for (clazz in reflections.getSubTypesOf(Any::class.java))` enumerates all the classes that you want to register? This is outside the scope of our code.

[2019-05-03 20:18] knyttl commented on #1234
Okay, that was my error. However, I fixed that and the classes are still not registered. Current code is:

[code]
which logs this during native-image:

[code]
Full log is here: https://gist.github.com/knyttl/645f9e557ce02a514e109f84673762d9

Is it okay, the "adding implementation class does not happen for the classes added via `.register` method?

When the compilation finishes and these classes sh

[2019-05-03 20:27] cstancu commented on #1234
`(no Creators, like default construct, exist)` probably means that you need to register the default constructor too.  `RuntimeReflection.register(clazz)` only registers the `java.lang.Class` itself, e.g., for access via `Class.forName()`, it doesn't register any methods or fields. The [reflection documentation](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md#manual-configurat

[2019-05-03 20:42] knyttl commented on #1234
Ah okay. I guess there is no wildcard like there is within the json file.

[2019-05-03 21:12] vojkny opened #1236 "reflect.json: allow for package wildcard my.package.*"
It would be very useful to be able to use wildcards for packages. Consider following `reflect.json`:

[code]

Which could just be replaced with:

[code]

[2019-05-03 21:12] knyttl opened #1237 "Allow for constructor and method wildcards when registering reflection programmatically"
When registering a class for reflection programmatically like this:

[code]

it would be great to be able to say all `allPublicMethods=true` and `allDeclardConstructors=true` similarly like in `reflect.json`.

Ideally something like:

[code]

[2019-05-03 21:12] knyttl commented on #1234
I created two separate tasks:
- https://github.com/oracle/graal/issues/1236
- https://github.com/oracle/graal/issues/1237

[2019-05-03 21:12] #1234 closed

[2019-05-04 04:31] ralleman commented on #1134
I found the problem, and as you guys suspected, it was in my code. I thought all of my ProxyObjects were the same type, but one of them was a proxy ProxyObject which was forwarding the getMember requests to an underlying proxy. Hence when I printed the class type in Java, they all looked the same. However, that proxy ProxyObject was throwing an UnsupportedOperationException on the putMember causin

[2019-05-04 04:33] ralleman commented on #1231
@iamstolis, I've resolved #1134. Thanks for your help here. Closing this.

[2019-05-04 04:33] #1231 closed

[2019-05-04 15:24] janostgren commented on #1225
Will check

fredag 3 maj 2019 skrev Svatopluk Dedic <notifications@github.com>:

[2019-05-04 21:23] mduesterhoeft opened #1238 "Incomplete classpath and reflection configuration generated with native-image-agent"
I am trying to use the `native-image-agent` to generate the native image configuration files.

When running my application with the agent I need to mock out some dependencies and to do so I needed to have a few dependencies on the classpath that my "real" application does not know (e.g. WireMock).

Thus the generated `reflect-config.json` contains classes that are not inside the real jar file.
Thi

[2019-05-04 21:45] vepo opened #1239 "Build error: MongoDB on Quarkus"
I had create a sample project using Quarkus and then I added a MongoDB.

For running using JVM everything works find, but when try to build a docker image using graalvm, I got the error bellow.

    [INFO] --- maven-jar-plugin:2.4:jar (default-jar) @ quarkus-backend ---
    [INFO] Building jar: /home/victor/sources/quarkus-mongo/target/quarkus-backend-1.0-SNAPSHOT.jar
    [INFO]
    [INFO] --- qua

[2019-05-05 04:09] ziyilin commented on #1183
Tried with different combinations of initilization options. I found delay all class initialization to runtime is still not working.

**==Eager class initialization==**
With following options, both native image building and running are good.
[code]
**==No Settings==**
Comment out all above settings, as it is said in previous post:

I got some warnings during building such as:
`Warning: RecomputeFie

[2019-05-05 06:24] hhandoko opened #1240 "[native-image] The string '{"typ":"JWT","alg":"HS256"}' doesn't have a valid JSON format."
There seems to be an issue with Graal native image JWT token verification (JSON decoding) using 0auth JWT library. The method works in standard JVM but fails in native image with the following error:

[code]

I've created a repo to reproduce this issue: https://github.com/hhandoko/graal-json-decoding-issue

[2019-05-05 09:54] dougxc commented on #1233
I believe all problems in this issue have been addressed. Please reopen with a description of anything unresolved if not.

[2019-05-05 09:54] #1233 closed

[2019-05-05 09:58] dougxc commented on #1203
This is fixed by https://github.com/graalvm/graal-jvmci-8/commit/c6eba22155a84292220f64de4e40f0f443e3431f which should be part of the next GraalVM release. Please re-open if the problem still occurs in GraalVM 1.0.0-rc17.

[2019-05-05 09:58] #1203 closed

[2019-05-05 09:59] dougxc commented on #1159
Please re-open if not fixed in subsequent GraalVM release.

[2019-05-05 09:59] #1159 closed

[2019-05-05 10:02] dougxc commented on #792
Closing on the assumption this is an Intellij bug. Please re-open if new evidence implicates GraalVM.

[2019-05-05 10:02] #792 closed

[2019-05-05 10:09] dougxc commented on #358
We will not be including JavaFX in the OpenJDK builds of GraalVM.

[2019-05-05 10:09] #358 closed

[2019-05-05 10:12] #356 closed

[2019-05-05 13:07] vjovanov commented on #1183
Nice catch. When you do that classes from the JDK start getting delayed and they should not as Native Image does not really support that. I will make the fix that the JDK is also treated through the package system (currently it is initialized differently).

To achieve what you want you can simply leave no flags on the command line. That will initialize at runtime any non-JDK class with side-effect

[2019-05-05 22:24] #1189 closed

[2019-05-06 07:30] wirthi commented on #1223
Hi @janostgren

In many cases, you can just pass them to JavaScript and access them like you would in pure JavaScript (get size, indexed access, iterate over them) - see https://www.graalvm.org/docs/graalvm-as-a-platform/embed/#access-guest-languages-directly-from-java. If you need more fine-grained access, you can use a Proxy from the Java side, like described in https://www.graalvm.org/docs/graa

[2019-05-06 08:31] ilopmar commented on #1235
Thanks for the detailed explanation. Now, as you mentioned I run into that error. I'll wait until it's fixed to try again.

[2019-05-06 09:17] #1187 closed

[2019-05-06 09:17] vjovanov commented on #1187
This issue has been fixed.

[2019-05-06 09:21] vjovanov commented on #1183
I will have a fix for this soon. JDK will still be initialized at build-time, but you will be able to set the default for the whole hierarchy.

Until then, you can simply do `--initialize-at-run-time=<csv-of-all-your-packages>`.

[2019-05-06 10:19] chumer commented on #1134
Sorry to hear that the debug experience was not good.

Noted! We will improve that.

We also want to implement support for that. We have an issue tracking this internally.

We only do this very selectively for the proxy interfaces. We need some way to indicate that an operation is not supported. In such cases, error messages in target languages are translated in order to provide a consistent exper

[2019-05-06 11:30] wirthi commented on #1221
Hi @janostgren

we support `import` and `export`, but you need to select the newest ECMAScript version for that to work. In our default, 2019, this is not yet available.

[code]

Best,
Christian

[2019-05-06 11:30] #1221 closed

[2019-05-06 15:36] neon-dev opened #1241 "[native-image] Building fails in WSL"
Since there's not yet real Windows support, let alone for Windows 10, I tried to build a native-image in WSL (Debian) via Maven.
I'm using native-image-maven-plugin version 1.0.0-rc16, so the most recent one. The project is a simple Hello World without any external libs.

This is the error I get: `host C compiler or linker does not seem to work: java.lang.RuntimeException: returned 1`

And here th

[2019-05-06 16:04] olpaw commented on #1241
@neon-dev looks like you do not have GCC and binutils installed in your WSL Linux.
Try: sudo apt install gcc” and “sudo apt install g++”.

[2019-05-06 16:59] fniephaus opened #1242 "MLE docs outdated and inconsistent"
The [MLE example page](https://www.graalvm.org/docs/examples/mle-oracle/) mentions [`dbjs`](https://github.com/oracle/graal/blob/c8a76e616634c25beb913fccb63c58a5174b2598/docs/examples/mle-oracle/index.html#L635) which does not seem to be available in public (yet).

Moreover, https://oracle.github.io/oracle-db-mle/js/deploy/ can be found through Google and mentions `dbjs` for MLE 0.2.7. The rest of

[2019-05-06 17:10] tkrodriguez commented on #1224
Hmm.  This is an interesting version of the problem with missing method substitutions.  Most of our method substitutions are for features which are enabled by processor features so you if you on a recent CPU you get all of them.  This particular one has a fallback for the case where the you don't have a CPU feature so it gets left out.  It's easy enough to fix in a localized way.

[2019-05-06 17:21] neon-dev commented on #1241
@olpaw thanks for the fast response.
GCC is installed, but not g++ and binutils. I was basically trial&error-ing because there's no guide that shows a definitive list of dependencies. https://www.graalvm.org/docs/reference-manual/aot-compilation/ just doesn't list what you stated here.
I'll try and update you tomorrow, since I won't have access to my Win 10 machine for the rest of the day.

[2019-05-06 17:31] olpaw commented on #1241
You will also need zlib headers. For more info see https://github.com/oracle/graal/blob/master/substratevm/README.md#quick-start

[2019-05-06 17:32] neon-dev commented on #1241
Got that also

[2019-05-06 18:03] lucasbraun commented on #1242
Thanks for your comment, @fniephaus.

The newest version of MLE is 0.3.0 and, as you observed correctly, MLE 0.3.0 comes without `dbjs`. The reason for this is that `dbjs` has been factored out into a separate project. We wrote a blog that explains how to program your own "poor-man" dbjs: https://medium.com/graalvm/bringing-modern-programming-languages-to-the-oracle-database-with-graalvm-80914d0c0

[2019-05-06 18:07] fniephaus commented on #1242
@lucasbraun thanks for the info. What are the plans regarding `dbjs`? We don't want to get used to `dbjs` if it's not going to be released any time soon.

[2019-05-06 21:50] neomatrix369 commented on #1233
We have made progress with the above issues but the tests JVMCI fail - see https://circleci.com/gh/neomatrix369/awesome-graal/343

I have set my build to fail if the tests fail, I'll open this one as a separate issue.

[2019-05-06 21:52] neomatrix369 opened #1243 "[BUILD] Graal compiler build process fails"
On the back of issue #1233, the reported issues were fixed and we have been able to progress, but now the building of the Graal compiler fails with:

[code]

See full logs at https://circleci.com/gh/neomatrix369/awesome-graal/343

[2019-05-07 00:44] ralleman commented on #1134
Yup true. Anyway closing this now it's resolved. Thanks @chumer.

[2019-05-07 00:44] #1134 closed

[2019-05-07 02:39] perezd commented on #437
This would be compelling!

[2019-05-07 07:04] janostgren commented on #1221
Should I install and download something?

mån 6 maj 2019 kl. 13:31 skrev Christian Wirth <notifications@github.com>:

[2019-05-07 07:22] neon-dev commented on #1241
Ok my bad, binutils is also already present (via [`build-essential`](https://packages.debian.org/sid/build-essential) -> [`dpkg-dev`](https://packages.debian.org/sid/dpkg-dev)). So I should have everything needed.

[2019-05-07 08:36] johanvos opened #1244 "jdk.internal.logger is not exposed"
FormatAccessors and other classes require jdk.internal.logger to be opened, otherwise this error is thrown:
Error loading a referenced type: java.lang.IllegalAccessError: class com.oracle.svm.core.jdk.FormatAccessors (in unnamed module @0x3fe5d9b2) cannot access class jdk.internal.logger.SurrogateLogger (in module java.base) because module java.base does not export jdk.internal.logger to unnamed m

[2019-05-07 08:38] janostgren commented on #1221
I wait for a solution !

Den tis 7 maj 2019 kl 08:38 skrev Jan Östgren <jan.ostgren@gmail.com>:

[2019-05-07 09:03] olpaw commented on #1241
I tested building a HelloWorld image on WSL on my Win10 VBox it it worked as expected.
@neon-dev are you still having trouble with building / image building on WSL?

[2019-05-07 09:48] zapster commented on #1201
Thanks @pekd for sharing your insights!

[2019-05-07 10:18] neon-dev commented on #1241
Unfortunately yes, still the same problem. What other info can I provide to find the problem? As I wrote in the issue I'm building with the Maven plugin via the JVMCI enabled JDK8, so I don't have the GraalVM installed. Maybe the issue only affects this constellation.

[2019-05-07 10:27] neon-dev commented on #1241
Here's a reproducer: [Native Image Test.zip](https://github.com/oracle/graal/files/3152112/Native.Image.Test.zip)

[2019-05-07 21:44] cstancu commented on #1235
The `Error: Field java.lang.reflect.Method.defaultValue is not present on type java.lang.reflect.Constructor` is fixed by https://github.com/oracle/graal/commit/c6237d219a91c82b1954dfbfa0898ed917db09eb.

[2019-05-07 21:44] #1235 closed

[2019-05-07 21:53] cstancu commented on #1235
However, now you'll see a series of `No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime: ...` which will require further configuration. I haven't investigated it further.

[2019-05-07 23:44] bufferings opened #1246 "[native-image] DynamicProxyConfiguration from resource"
GraalVM Version: 1.0.0-rc16

It would be useful for me if I can put my dynamic proxy configuration file into JAR file (resource directory) like `ReflectionConfigurationResources` and specify it in `native-image.properties` as follows:

[code]

Sample Project:

https://github.com/bufferings/micronaut-petclinic

Currently I put the config file in the project directory `dynamic-proxy/config.json` and

[2019-05-07 23:53] cstancu commented on #1246
@bufferings I think this should be possible (at least with the latest master) since the two configs share the same implementation.

[2019-05-07 23:57] christianwimmer commented on #1246
The option `DynamicProxyConfigurationResources` exists already, and I don't think this is a recent addition. Does the option not work on RC16?

[2019-05-08 00:06] bufferings commented on #1246
@cstancu @christianwimmer
ah, I missed it! I will try it.

https://github.com/oracle/graal/blob/master/substratevm/DYNAMIC_PROXY.md#manual-configuration

[2019-05-08 00:20] bufferings commented on #1246
It works! Thank you @cstancu @christianwimmer !

[2019-05-08 00:20] #1246 closed

[2019-05-08 01:08] lburgazzoli opened #1247 "[native-image] ClassCastException: java.lang.Object cannot be cast to com.oracle.truffle.polyglot.PolyglotLanguageContext"
I'm trying to use js' arrow functions in some js code executed using truffle js from an native executable and I get

    ClassCastException: java.lang.Object cannot be cast to com.oracle.truffle.polyglot.PolyglotLanguageContext

the goal is to use arrow functions to implement a functional interface, the js code is:

[code]

an example project can be found here: https://github.com/lburgazzoli/camel

[2019-05-08 06:27] cstancu commented on #1200
Can you provide a reproducible example so I can take a closer look?

[2019-05-08 06:37] cstancu commented on #1195
This has been merged in 35a1819a37fc3df5c34072921850447010ed0581. Thanks!

[2019-05-08 06:37] #1195 closed

[2019-05-08 06:39] cstancu commented on #1172
Fixed by https://github.com/oracle/graal/pull/734.

[2019-05-08 06:39] #1172 closed

[2019-05-08 11:24] fniephaus opened #1248 "[igv] ASTs and Call Trees no longer show up in igv"
When I run my language with `-Dgraal.Dump=Truffle`, ASTs and Call Trees no longer show in igv:

![image](https://user-images.githubusercontent.com/2368856/57371844-24eb2700-7194-11e9-94e0-3b001b6b0fe7.png)

I'm running my language on GraalVM CE 1.0.0 RC16 for macOS and am using `igv` RC16 from OTN on the same GraalVM.

[2019-05-08 12:54] ziyilin opened #1249 "[native-image] Fail to build a jar file larger than 40M"
When I try to naive-image a large jar file whose size is over 40M, it exausts all resources and hangs. Is there any configuration can avoid such situation, even it may slow down the building process?

[2019-05-08 17:36] olpaw commented on #1241
The reason you see this is that
https://search.maven.org/artifact/com.oracle.substratevm/native-image-maven-plugin/1.0.0-rc16/maven-plugin
depends on
https://search.maven.org/artifact/com.oracle.substratevm/svm-hosted-native-linux-amd64/1.0.0-rc16/tar.gz
which is built on a Linux machine with a recent version of binutils that makes use of compressed data alignment in the debuginfo sections. The ve

[2019-05-08 18:09] neon-dev commented on #1241
My WSL is the Debian version and my error message is not the same as in the linked issue, but the versions found in https://packages.debian.org/search?keywords=binutils&searchon=names&suite=stable&section=all are all below 2.32, so I assume it actually is the same issue then. I will check tomorrow and post here in case it's not.

Thank you for your time.
I suggest adding all the missing informatio

[2019-05-08 19:24] mduesterhoeft commented on #1238
Please see also for a complete motivation why this is useful:
https://medium.com/@mathiasdpunkt/ease-creation-of-graalvm-native-images-using-assisted-configuration-68a86dea07c7

[2019-05-08 19:55] joshuavijay commented on #532
I have the exact same problem with kafka Snappy compression method invocation. Given that this thread is a year old, may I ask what how you ended up solving this?

[2019-05-08 23:45] #742 closed

[2019-05-09 08:07] olpaw commented on #1241
Since this only affects building via the `native-image-maven-plugin` it's probably better to ask the maintainer of the `com.oracle.substratevm:svm-hosted-native-linux-amd64` artifact to build with an older version of binutils so that we do not force users to have binutils >=2.32 installed on their system.

The current section reads:
_For compilation native-image depends on the local toolchain, so

[2019-05-09 09:58] neon-dev commented on #1241
Indeed I had binutils 2.28 installed. Updating to 2.32 solved the issue and building now works. Thanks so much for your help, would have never found this out by myself!

Good idea.

I really think it'd be helpful to add more noob friendly documentation. Not everyone wanting to build native images is an experienced linux user who knows the relation and dependencies of these things.

[2019-05-09 10:20] #1241 closed

[2019-05-09 10:42] rmannibucau opened #1250 "Classloader extensibility feature"
Hi guys,

Probably not an immediate fetaure but a challenging and killing one ;).

A lot of java code relies on classloader being built dynamically at runtime.

Advantages are obvious:

1. Ability to add code by dropping a jar - no rebuild
2. Ability to create code at runtime avoiding to rebuild user code when upgrading a lib
3. Run incompatible lib versions in the same JVM - OSGi or JavaEE like.

[2019-05-09 16:20] chumer commented on #1247
Could you provide the exact arguments how you created the native image?

Also when I try to build I get
[code]
what am I doing wrong?

[2019-05-09 17:30] thegreystone commented on #1065
A separate API is OK for me. That said, if the tooling could take unmodified JPLIS agents, place them in a little sandbox and throw all classes to the premain (and also intercept calls to Unsafe#defineClass etc for any helper classes generated), that would probably allow many existing agents to work with graal without much modification. Harder to accomplish and maintain though.

[2019-05-09 18:34] lburgazzoli commented on #1247
you need to set-up the maven toolchain plugin:

in .m2/toolchains.xml  I have:
[code]

[2019-05-09 19:06] neomatrix369 opened #1251 "Simple streams performance regression (graalvm-ce-rc16)"
Environment:
[code]

See https://github.com/graalvm/graalvm-demos/blob/master/scala-days-2018/streams/Streams.java and see https://github.com/graalvm/graalvm-demos/tree/master/scala-days-2018/streams for execution instructions.

Our results:

[code]

expected results (approx):

[code]

Or twice as fast as the traditional JDK.

### Versions info

[code]

[code]

/cc @lukasstadler

[2019-05-09 19:26] dougxc commented on #1251
This is what I see on my Mac:

JDK              | Iteration 20   | Total time
------------ | ------------- | ----------
OracleJDK  | 98                   | 2101
GraalVM CE | 127                | 2746
GraalVM EE | 20                   | 555

OracleJDK:
[code]

GraalVM CE RC16:
[code]

GraalVM EE RC16:
[code]

The time for GraalVM CE RC15 is about the same as for GraalVM CE RC16. As such, it's not c

[2019-05-09 19:36] neomatrix369 opened #1252 "[native-image] native-image (in server mode) freezes when run on jar file (graalvm-ce-rc16)"
Environment:
[code]

[code]

See https://github.com/graalvm/graalvm-demos/tree/master/native-netty-plot, when running the below:

[code]
we get

[code]
Why? Because process is waiting in memory!!! See below:

[code]

Better explanation: because we ran version 0.32 `native-image` server previous to running the version rc17 version. And version 0.32 is running and waiting for a response (we ran this

[2019-05-09 19:44] neomatrix369 commented on #1251
@dougxc I just rechecked the demos docs didn't mention that the numbers were for GraalVM EE and not for GraalVM CE, so it's not actually a regression, i'll close the issue. Apologies for the confusion.

[2019-05-09 19:48] vjovanov commented on #1065
I am adding an agent to `native-image` as we speak; I am a bit afraid of what happens when these agents start interacting. Things that worry me are:
# The order of agents. For example, my agent adds a call in every static initializer at the beginning. What if the agent of someone else adds something before.
# Agents can modify the code of native-image itself. This includes very sensitive things su

[2019-05-09 19:49] neomatrix369 commented on #1252
[code]
Does not return any list or return to the CLI.

[2019-05-09 19:50] #1251 closed

[2019-05-09 19:54] neomatrix369 commented on #1252
[code]

And this works!

[code]

[2019-05-09 19:57] cstancu commented on #1252
@neomatrix369 can you replicate this with the freshly released [GraalVM 19](https://github.com/oracle/graal/releases/tag/vm-19.0.0)?

[2019-05-09 20:07] gmpassos commented on #1069
Doing some benchmarks, GraalVM has a tendency to be faster. Compiling a DB in pure Java it shows a faster boot, running with native performance (like Hotspot JIT) from the beginning. Overall improvement of performance was from 10% to 20% depending of the operation.

[2019-05-09 20:15] neomatrix369 commented on #1251
@dougxc Just a question about why GraalVM CE is slower in performance than GraalVM EE with regards to this simple benchmark - could I run any other such examples/benchmarks to justify the reasons or see different results.

[2019-05-09 20:58] dougxc commented on #1251
This benchmark may look simple but it's using a lot of abstractions (Streams API and lambdas) which the inlining algorithm in EE can "see through" to a better degree than the CE inliner.

[2019-05-09 21:57] neomatrix369 commented on #1251
OK got it, thanks.

[2019-05-09 21:59] neomatrix369 commented on #1252
@cstancu I re-ran using rc19 and its the same issue:

[code]

see command:
[code]
Additiona confusion, why is it showing the above warning even though I have used `--initialize-at-run-time`, am I not passing the flag in the correct manner?

[2019-05-09 22:04] neomatrix369 commented on #1243
I'll close this issue, as the build does not fail anymore.

I suggest take a look at this patch, see https://github.com/neomatrix369/awesome-graal/commit/628e5e2875086d40833fa659024ccc19b72be727#diff-12d564a25796a5c2eb64e51509bbc11f (Line 35 onwards) - the fix might be needed when Graal is built over JDKs which HotSpot/JVM string does not contain a space.

[2019-05-09 22:29] neomatrix369 commented on #1251
So if we switch off JVMCI, should it not give us the same results the traditional JDK (without Graal), what is the explanation to this:

[code]

There are gaps between ~300 to ~1000 ms between the above results.

[2019-05-09 23:14] vjovanov commented on #1252
I will look into this. The native-image.properties of netty contain the deprecated flag. It will be fixed with the new version of netty.

[2019-05-10 04:49] nhoughto commented on #951
My own update since rediscovering this, SunEC can be replaced with BC fairly easily like this:
https://github.com/bsycorp/java-keytool/blob/master/java.security.overrides

Its a bit fragile but works.

[2019-05-10 05:04] odbuser2 opened #1253 "native-image : WatchService results in UnsatisfiedLinkException"
graalvm : 19.0.0
linux (Mint 19.1)

The following will cause an exception at the native-image runtime:
[code]

[code]

[2019-05-10 07:53] fniephaus opened #1254 "Cannot launch igv 19.0.0 on macOS"
[code]

It seems that `$jdkhome` is declared too late in the launcher file.

[2019-05-10 08:30] dougxc commented on #1251
I cannot reproduce your results The performance with `-XX:-UseJVMCICompiler` is as expected with GraalVM 19:

Standard JDK:
[code]

GraalVM CE 19:
[code]

GraalVM EE 19:
[code]

[2019-05-10 09:03] CptMauli opened #1255 "native-image won't work on windows if graalvm path contains spaces"
The scripts on windows (native-image.cmd) which build the actual path for the call, won't work if there is a space in the path ("Program Files" anyone?).

[2019-05-10 10:21] lucasbraun commented on #1242
We do not plan to release a new `dbjs` version before the next MLE release (if there will be one).

[2019-05-10 11:30] fniephaus opened #1256 "[svm] VM does not support the minimum JVMCI API version required by Graal: 0.59 < 19.1"
I'm trying to build a native image of my language using [JVMCI 0.59](https://github.com/graalvm/openjdk8-jvmci-builder/releases/tag/jvmci-0.59), which appears to be the latest public version, but I get the following error:

I assume this work with `oraclejdk-8u212-jvmci-19-b01-linux-amd64.tar.gz` from OTN, but I'm looking for an open version that our CI can download directly. Maybe we need a new r

[2019-05-10 11:34] dougxc commented on #1256
We will make a new JVMCI release next week. However, I'm confused as to why you are hitting this problem since the `master` branch on GitHub still [only requires](https://github.com/oracle/graal/blob/d617672c972d95949eae4d5015744170637c22ae/compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/JVMCIVersionCheck.java#L46) `0.57`. What sources are you using? What are you running

[2019-05-10 11:36] fniephaus commented on #1256
I'm building against [`vm-19.0.0`](https://github.com/oracle/graal/tree/0721d343872c6e7e036402547d9a76ed43f69637).

[2019-05-10 11:46] dougxc commented on #1256
There are now `jvmci-19-b01` binaries at https://github.com/graalvm/openjdk8-jvmci-builder/releases/tag/jvmci-19-b01.

[2019-05-10 13:17] janostgren commented on #1221
It works in my use case. Just changed name from .js to .mjs . Magic

tis 7 maj 2019 kl. 10:58 skrev Josef Haider <notifications@github.com>:

[2019-05-10 14:33] neomatrix369 commented on #1252
Is this error related? I got this error after a fresh restart of the machine:

[code]

[2019-05-10 14:51] fniephaus commented on #1256
Great, that's perfect and works like a charm! Have a great weekend :)

[2019-05-10 14:51] #1256 closed

[2019-05-10 14:57] gzoller opened #1257 "Unkown identifier using graalvm.js engine in non-graal JVM"
I'm migrating from Nashorn to Graal via the ScriptEngineManager (running Graal's JS engine inside a stock, non-Graal VM).  I'm running Scala code, but that's not material to the issue.
Tried running Oracle's JVM 12.0.1 and 1.8.0_152.

[code]

When run with nashorn I see the expected output.  With graal.js I get this error:

[code]

[2019-05-10 15:11] tsatatwer opened #1258 "Unable to compile C-ABI query code"
Hi ,
I am testing windows  GraalVM Community Edition 19.0.0  native-image , I got this error:
`
Error: Unable to compile C-ABI query code. Make sure GCC toolchain is installed on your system.
com.oracle.svm.core.util.UserError$UserException: Unable to compile C-ABI query code. Make sure GCC toolchain is installed on your system.
        at com.oracle.svm.core.util.UserError.abort(UserError.java:65

[2019-05-10 15:16] olpaw commented on #1258
Hi @tsatatwer

The error message is misleading in this case. Our Windows support is still early days and the message claims that you have to install GCC. This is **not** the case for Windows. Instead you need to have [Windows SDK for Windows 7](https://www.microsoft.com/en-us/download/details.aspx?id=8442) installed and you need to run from the `Windows SDK 7.1 Command Prompt` (so that native-imag

[2019-05-10 15:21] tsatatwer commented on #1258
Thanks for the fast replay .
OK it is clear that GCC has nothing to do with windows , any way happy that GraalVM support windows .
I will instal Windows SDK and let you know.

[2019-05-10 15:43] olpaw commented on #1255
@CptMauli thanks for reporting. A fix is on its way to master and will also get backported to 19.1.

[2019-05-10 15:45] vjovanov commented on #1252
This class is in the Graal SDK which should be on the boot classpath. This jar must be missing somehow. You can use the verbose mode to see the exact command and why this JAR is missing.

[2019-05-10 15:49] tsatatwer commented on #1258
Hi @olpaw,
can you explain this please :    you need to run from the Windows SDK 7.1 Command Prompt

[2019-05-10 16:52] tsatatwer commented on #1258
Hi @olpaw,

I have installed the Windows SDK  but the error still there???

[2019-05-10 16:59] tsatatwer commented on #1258
@olpaw ,
after the Windows SDK  installed the error mentioned disappeared . Thanks can be closed.

[2019-05-10 20:18] CrazyPython opened #1259 "Make JavaScript math at least as fast as V8"
I can provide some benchmarks/test cases to prove that GraalVM is sometimes 2 times slower at floating point math than V8.

[2019-05-10 20:54] wololock opened #1260 "[native-image] Groovy static script - native-image-agent adds java.lang.reflect.Executable to reflect-config.json which breaks native image generation"
Environment:

* GraalVM CE 19.0.0
* Groovy 2.5.7

I'm testing some of my Groovy GraalVM examples, and I've found a weird issue I thought you might be interested in. I'm testing `reflect-config.json` file generation using `native-image-agent`. For a simple "Hello, World!" like Groovy application, it produces the following reflection configuration file. _(It's 598 lines, so I'm pasting a Gist instea

[2019-05-10 20:59] Jotschi opened #1261 "[native-image] Netty Vert.x PoC - NoSuchMethodException"
I have just updated the PoC project I created a while ago to utilize GraalVM 19. I have also applied the latest changes which were suggested by @vjovanov in https://github.com/netty/netty/pull/9118

Building works just fine using:

[code]
I however get a `NoSuchMethodException` during runtime which I can't really explain. I double checked all classes involved. The signatures seem to be okay.

[cod

[2019-05-10 21:20] vjovanov commented on #1261
Have you tried refining the reflection configuration? This seems like reflection was not configured correctly.

You can try using the new agent to get the right config:

  https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md

[2019-05-10 21:22] pmlopes commented on #1261
@vjovanov this issue reproduces the netty DNS problem I messaged you before. So it looks like we're missing some metadata or substitution there.

[2019-05-10 21:23] Jotschi commented on #1261
Adding ` -Dvertx.disableDnsResolver=true` to the execution of the image will workaround the _netty DNS problem_ but the initial NoSuchMethodException remains. I'll take a look at the reflection configuration.

[2019-05-10 21:23] vjovanov commented on #1253
Thanks for finding this issue. Could you attach the whole file that we can use to reproduce it?

[2019-05-10 21:43] cstancu commented on #1260
The `Error: Field java.lang.reflect.Method.defaultValue is not present on type java.lang.reflect.Constructor` issue was fixed by https://github.com/oracle/graal/commit/1873d37e35f69fa0753ec641e5cc3919eb6e9b1e which didn't make it in the release. However, having a filtering mechanism for the generated reflection configuration would be useful.

[2019-05-10 21:47] vjovanov commented on #1261
I think it is just the reflection configuration. You can have multiple runs now with different configurations (e.g., one with DNS and one without). Simply aggregate those configs and all should work.

[2019-05-10 22:22] Jotschi commented on #1261
@vjovanov Thanks for the hint. The agent is really helpful. I however get:

[code]
The agent does not generate a reflection config for this class. I assume it is an anonymous inner class of ServerBootstrap. I'm currently trying to add the reflection config but so far I was not successful.

[2019-05-10 22:26] vjovanov commented on #1261
@peter-hofer any idea why this could be happening? Is there any special treatment of inner classes in the agent or reflection?

[2019-05-10 22:28] Jotschi commented on #1261
@vjovanov
https://gist.github.com/Jotschi/9aa9f44653e1d004b875bab0a10c1575

[2019-05-10 22:30] vjovanov commented on #1261
I don't see `io.netty.bootstrap.ServerBootstrap$1` with a method `channelRegistered` in the config.

[2019-05-10 22:34] Jotschi commented on #1261
@vjovanov Adding

[code]
results in:

[code]

[2019-05-10 23:23] aboullaite opened #1262 "Could not build native binary for Netty app: Could not find option 'ClassInitialization'"
Hello,

I'm using the graal-vm docker image to build a native binary of a simple netty application. The project and Dockerfile used can be found [here](https://github.com/aboullaite/java-docker/tree/graal), which is based on `graalvm-ce:1.0.0-rc16`.

However when I tried to upgrade to `graalvm-ce:19.0.0`, building the image fails! The updated Dockerfile looks like this:
[code]

and the logs on run

[2019-05-10 23:33] vjovanov commented on #1262
You must have a server from the previous version still running. @olpaw do we send the version of the native image together with the request?

We should check that and kill the server if the version does not match.

[2019-05-10 23:46] Jotschi commented on #1261
I can however workaround this problem by patching Netty and explicitly listing following method in the AIC.

[code]

I think the reflection config should also work without changing the class. I have not yet tried whether using `allDeclaredMethods` in the declaration would be another workaround for this.

@pmlopes The same problem also occurred in `io.vertx.core.http.impl.HttpServerImpl#listen` (FY

[2019-05-10 23:58] aboullaite commented on #1262
@vjovanov Thanks for you response ;)

Just to understand, How could that be possible even if I'm using containers which ensure isolation! also, how could I kill the server if it's the case (`--server-shutdown` ?)

[2019-05-11 06:40] thomaswue commented on #1259
Can you share the code snippets?

[2019-05-11 08:57] tsatatwer commented on #886
Hi @shelajev ,

can be closed.

[2019-05-11 10:03] johanvos opened #1263 "Missing JVM_GetNanoTimeAdjustment for Java 11"
JvmFuncs.c has no implementation of JVM_GetNanoTimeAdjustment causing native code that relies on it (e.g. via Clock.java) to fail.

[2019-05-11 12:07] pmlopes commented on #1261
This is a major regression as with `rc16` no flags nor config was needed as long the latest stable netty package was used.

[2019-05-11 12:08] pmlopes commented on #1261
Also note that "patching" netty or vertx in this way is not a fix, as this "patches" will not end up upstream just like that.

[2019-05-11 12:17] Jotschi commented on #1261
@pmlopes I agree. I just wanted to show that explicitly declaring the method will resolve the problem. This information may be useful when debugging the problem.

My last status is that the image builds and can be started. I got it so far that a connection to the socket could be established but no response was send to the client.

[2019-05-11 13:08] pmlopes commented on #1261
@Jotschi @vjovanov I can build a vertx + netty 4.1.30 app with 19.0.0 [hi.zip](https://github.com/oracle/graal/files/3169051/hi.zip) So it should be a matter of flags here. The reproducer attached shows it.

[2019-05-11 13:16] Jotschi commented on #1261
@pmlopes The example works for me too. I'll take a look at my PoC and check whats the difference.

[2019-05-11 13:29] Jotschi commented on #1261
The example app will not build once Netty gets bumped to `4.1.31`.

[2019-05-11 13:40] pmlopes commented on #1261
This example uses a netty version without native image substitutions or properties. With the new netty then the included substitutions and properties must be reviewed...

[2019-05-11 14:45] grumpyrodriguez commented on #532
@joshuavijay The problem appears to be related to method handlers. I asked [in this issue](https://github.com/oracle/graal/issues/955) if there is a workaround but could not get a response or comment yet. I'd be really interested in finding a workaround.

[2019-05-11 15:53] pmlopes commented on #1261
@Jotschi I've updated the versions on my example, in the `pom.xml` i've changed the vert.x version from `3.7.0.` to `3.7.1-SNAPSHOT`:

[code]

Which means it will pull netty `4.1.34.Final` (the last version before the graal specific metadata and substitutions was added) and it still works and builds like before. I do believe that there could be something messed up on later releases as the previous

[2019-05-11 17:18] BrunoBonacci opened #1265 "GraalVM-19 fails to build running native-images for Clojure projects"
Graal version:
[code]

Building a simple main function with Clojure-1.8.0 produces a native image which when executed throws the following error:

[code]

**This works fine with version: `OpenJDK GraalVM CE 1.0.0-rc14 (build 25.202-b08-jvmci-0.56, mixed mode)`**

I've also cross checked all the latest Clojure versions with both GraalVM versions and this is what I get:

[code]

To reproduce the jar

[2019-05-11 17:42] BrunoBonacci opened #1266 "GraalVM-19 fails to build native-images for Clojure-1.10.0"
GraalVM version:
[code]

Fails to build a native image for a simple main function with Clojure-1.10 with the following error:
[code]

**This works fine with version: OpenJDK GraalVM CE 1.0.0-rc14 (build 25.202-b08-jvmci-0.56, mixed mode)**

To reproduce the jars here all the steps:
https://github.com/BrunoBonacci/graalvm-clojure/tree/master/clojure

In attachment the standalone JAR:
[simple-clojur

[2019-05-11 18:21] BrunoBonacci commented on #1266
After additional tests, it seems that the regression was introduced after `GraalVM-CE-1.0.0-rc16` as it is working with this version.

[2019-05-11 18:21] BrunoBonacci commented on #1265
After additional tests, it seems that the regression was introduced after `GraalVM-CE-1.0.0-rc16` as it is working with this version.

[2019-05-11 18:38] vjovanov commented on #1265
We have changed the default for class initialization. Now, application classes are initialized at build time. Unfortunately, this change had to be done to make a larger set of applications work out of the box.

The easy way out is to pass `--initialize-at-build-time` and all will behave as before.
A proper solution is to define the list of packages that need to be initialized at build time for clo

[2019-05-11 18:44] vjovanov commented on #1266
Here as well running initializers at run time has revealed other issues. So the quick way out is to pass `--initialize-at-build-time`.

I am investigating what is the correct set of packages that need to be initialized at build time.

[2019-05-11 18:51] vjovanov commented on #1266
It should be `--initialize-at-build-time=clojure` but then I get:
[code]

We will have to investigate why this happens and make proper config for `clojure`. Until then `--initialize-at-build-time` will work as before.

[2019-05-11 19:49] BrunoBonacci commented on #1265
Hi @vjovanov ,
thanks for your quick reply. Yes `--initialize-at-build-time` does seem to fix the problem.
Where can I find more information on what the `--initialize-at-build-time` does?
How should I select which packages need to initialize a build time vs the run time?

There are a number of other packages in the `clojure-1.8.0.jar` here is the list:
[code]
Do all of these need to be listed in t

[2019-05-11 19:56] BrunoBonacci commented on #1266
Hi,
`clojure-1.10.0.jar` depends on two additional jars:

[code]

Here is the cumulative list of packages:
[code]

[2019-05-11 21:01] melix opened #1267 "Unable to call NetworkInterface#isLoopback"
Maybe I'm missing something obvious, but it feels not. The Gradle launcher needs to find a proper interface to communicate with the daemon. To do so it iterates over network interfaces and does this: https://github.com/gradle/gradle/blob/055a689b16a2b1798e77a4d9522ba935d1c610a4/subprojects/messaging/src/main/java/org/gradle/internal/remote/internal/inet/InetAddresses.java#L62

However, when runnin

[2019-05-11 21:19] vjovanov commented on #1262
Yes, `--server-shutdown` should do.
This server is spawned when you run native image to keep the compiler warm. It dies after 4 hours of idle time. If you tried building with a previous version downloaded new GraalVM and built an image this could happen. I know because the flags `DelayClassInitialization EagerClassInitialization` don't exist anymore in the new version.

[2019-05-11 23:11] kimec opened #1268 "Apart from Isolates is there another way of marking methods to participate in region based memory management?"
Greetings.

I am wondering whether the annotation based region "tagging" as originally described in @cstancu's [dissertation](https://escholarship.org/uc/item/2kv6w8m4) evolved directly into Isolates or is it still possible to have region based allocation and deallocation on region exits within a single Isolate in the current incarnation of SubstrateVM?

Thank you.

[2019-05-12 05:13] behrangsa commented on #461
@cstancu does that mean GraalVM would eventually support scenarios like this:

Let's say I have a program that has a pluggable architecture. It has a `Plugin` interface that can be implemented by third parties:

[code]

The entry point of the program looks for a CLI argument named `--plugin`, the fully qualified name of the implementation that the user wants to use:

[code]

It then creates an ins

[2019-05-12 18:11] philwalk commented on #1258
Hi, thanks for the information.    After installing Windows SDK for Windows 7 (the x64 version), I got further along, but below is the problem I'm still having.  I suspect the wrong C++ compiler may be in my path, but I'm not quite sure.   Any suggestions are welcome!

[code]

[2019-05-12 22:32] lvh commented on #1074
FWIW, I can reproduce this using 19.0.0. I'm using this with Clojure, so I already have `--initialize-at-build-time` on by default (since otherwise Clojure itself won't work).

[2019-05-12 23:29] CrazyPython commented on #1259
I have a full 120-second benchmark, I don't have time to sanitize it, is it okay if I send it to you in private?

[2019-05-13 00:21] odbuser2 commented on #1253
Added file as .txt (it is .java but the window wasn't accepting it).

[WatchServiceTest.txt](https://github.com/oracle/graal/files/3170746/WatchServiceTest.txt)

Pasting code here too:

[code]

[2019-05-13 00:55] tsatatwer commented on #1258
Hi @philwalk,
before installing the Windows SDK try to deinstall  MS C++ compiler version  10 and then install Windows SDK after that run Windows SDK command prompt and from this run mative-image.

[2019-05-13 01:58] peter-hofer commented on #1261
There is no special treatment of inner classes, nor should it be necessary. I tried this code myself, bX the agent write a trace file, and didn't find `ServerBootstrap` anywhere in the trace. I'm not familiar with any of the Netty/Vert.x-specific properties/substitutions/configuration, is it possible that the code just takes a different path on SVM?

[2019-05-13 02:09] peter-hofer commented on #1260
As @cstancu says, broken reflective access to `java.lang.reflect.Method` is a bug that unfortunately wasn't fixed in time for the release.
Registering reflection classes themselves for reflective usage is a perfectly valid use case however. I ran your code and looked at the trace file and it is the Groovy class `org.codehaus.groovy.reflection.stdclasses.CachedSAMClass` that reflectively uses `java

[2019-05-13 02:09] #1260 closed

[2019-05-13 06:33] wololock commented on #1260
@cstancu @peter-hofer Thanks for the details! Waiting for the upcoming update then :+1:

[2019-05-13 06:53] wololock opened #1269 "jconsole crashes on GraalVM CE 19.0.0"
Affected version: GraalVM CE 19.0.0

[code]

OS info:

[code]

When I switch my `$JAVA_HOME` to GraalVM distribution, and I try to run `jconsole`, it crashes right away with the following error output.

[code]

Here is the content of `/home/wololock/hs_err_pid10326.log` log file.

[code]

I'm guessing this crash may be caused by an exception thrown in the `AWT-EventQueue-0` thread. I also tried ru

[2019-05-13 07:00] olpaw commented on #1255
Fix on masters:
https://github.com/graalvm/mx/commit/c90c34ff90bd021b9ce3c4c7b9bd21d4d6edac58
https://github.com/oracle/graal/commit/b6590ef5ef947ea86c80b9c56620455d7f9fd850
It will also be in 19.1.0

[2019-05-13 07:00] #1255 closed

[2019-05-13 07:02] lizhanhui commented on #1258
Hi @olpaw I tried to build our  client jar to a shared library on Windows 7 with the SDK you mentioned above, some symbols are missing in the last step.

/implib:C:\build\build\rocketmq-client-cpp-full.lib
/debug
/out:C:\build\build\rocketmq-client-cpp-full.dll
/INCREMENTAL:NO /NODEFAULTLIB:LIBCMT /NODEFAULTLIB:OLDNAMES
/LIBPATH:C:\graalvm-ce-19.0.0\jre\lib
/LIBPATH:C:\graalvm-ce-19.0.0\jre\lib\sv

[2019-05-13 07:08] vjovanov commented on #1267
Thanks for reporting the issue. Can you send a code sample and the command to reproduce this issue?

It is hard to tell what could be the problem without a complete example.

[2019-05-13 07:20] vjovanov commented on #1265
We have [this document](https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md) describing how it works. If it is still unclear from the doc and from flags I will expand the document.

[2019-05-13 07:29] lizhanhui commented on #1258
@tsatatwer The issue @philwalk and I have is caused by missing of sunec.lib and sunmscapi.lib from graalvm SDK. They should included as  "ffi.lib
zip.lib
nio.lib
net.lib
java.lib
strictmath.lib
jvm.lib
libchelper.lib
advapi32.lib
ws2_32.lib
secur32.lib
iphlpapi.lib" are

[2019-05-13 07:33] dougxc commented on #1269
This appears to be an issue with the underlying OpenJDK binary we build GraalVM on top of. The same error is reproducible with https://github.com/graalvm/openjdk8-jvmci-builder/releases/download/jvmci-19-b01/openjdk-8u212-jvmci-19-b01-linux-amd64.tar.gz.

Running this in gdb shows that the error happens in the call to the standard `getaddrinfo` function.

[code]

We will investigate further. As a

[2019-05-13 07:57] wololock commented on #1269
Thanks @dougxc for a quick explanation! I will open an issue for JVisualVM as well :+1:

[2019-05-13 08:06] wololock opened #1270 "jvisualvm crashes on GraalVM 19.0.0"
Affected version: GraalVM CE 19.0.0

[code]

OS info:

[code]

I'm trying to run `jvisualvm` from GraalVM CE 19.0.0 distribution, and I face the following problem. When I run `jvisualvm`, the splash screen shows up, the CPU is consumed, the memory consumption stays at the level of 700 MBs, but nothing shows up. There is no error in the console, nor any error file gets created.

![Przechwycenie obr

[2019-05-13 08:30] dougxc commented on #1270
Can you please look at #817 to see if this is a duplicate of that issue.

[2019-05-13 08:57] PaulSchulz commented on #612
I am seeing this same issue.

[2019-05-13 09:27] wololock commented on #1270
Thanks @dougxc for pointing to that issue. I checked it, and I can confirm that `fontconfig` is installed on my system. I did `fc-cache --force` and re-run, but the effect is the same.

I don't know if this is helpful, but it turns out that `jvisualvm --help` does not throw this exception if I add `--nosplash`.

[code]

However, running

[code]

has no effect.

I've found `~/.visualvm/graalvm/19.0

[2019-05-13 09:49] dsyer opened #1271 "Version 19.0 artifacts not available in Maven Central"
Or maybe I'm looking in the wrong place? The rc artifacts are here: http://repo1.maven.org/maven2/com/oracle/substratevm/

[2019-05-13 11:49] ad-si opened #1272 "Standardize names of supported languages"
I just got following error because I used "r" instead of "R":
[code]
There doesn't seem to be any schema whatsoever…

My proposal:

- javascript
- llvm
- python
- r
- regex
- ruby

[2019-05-13 12:12] ad-si opened #1273 "Provide safe / contained alternative to Polyglot.eval"
When I start the node repl with `node --polyglot --jvm` and execute following code:

[code]

I get this warning on stdout / stderr:

[code]

There should be an alternative `eval` function which has **no** side effects and always returns a result object. E.g. something like:

[code]

Otherwise one has to intercept stdout / stderr to be able to forward meaningful information about the execution, whi

[2019-05-13 12:12] ad-si commented on #1272
Related: https://github.com/oracle/graal/issues/879

[2019-05-13 12:24] BrunoBonacci commented on #1265
Great doc thx.

[2019-05-13 12:26] dougxc commented on #1269
During my investigation, removing `graalvm-ce-19.0.0/jre/lib/amd64/libfreetype.so.6` resolved both this problem as well as #1270 . Both `jconsole` and `jvisualvm` then resolve `/lib64/libfreetype.so.6` instead and appear to work fine. Can you please test this on your system.

[2019-05-13 12:34] wololock commented on #1269
@dougxc Removing `libfreetype.so.6` worked for me as well. Both `jvisualvm` and `jconsole` start without any problem. :+1:

[2019-05-13 13:34] dougxc commented on #1269
Great. Subject to further testing, we will stop bundling `libfreetype.so` in GraalVM CE.

[2019-05-13 13:34] #1269 closed

[2019-05-13 13:35] dougxc commented on #1270
Duplicate of #1269 .

[2019-05-13 13:35] #1270 closed

[2019-05-13 14:12] wololock commented on #1269
Awesome! Thanks for an effective collaboration! :+1:

[2019-05-13 14:58] olpaw commented on #1262
This is impossible in the context of a Dockerfile execution. Any server running in the image gets killed when the docker image is done. The real reason for this messed up behavior is the following line in your Dockerfile
[code]
What you are doing here is to copy **the RC16 version of svm.jar into the graalvm-ce:19.0.0** image thus **corrupting the installation**. You get a mix of svm.jar from RC16

[2019-05-13 14:58] #1262 closed

[2019-05-13 15:17] #1263 closed

[2019-05-13 15:29] lvh commented on #1265
I'm not sure if I should produce a new ticket for this (happy to! I'm also working on a tight reproducer), but one consequence of this is that just setting `--initialize-at-build-time` makes all HTTPS support break, see #712 (closed but should be reopened, I think) and #1074.

[2019-05-13 15:39] vjovanov commented on #1074
The problem comes from `--rerun-class-initialization-at-runtime=javax.net.ssl.SSLContext`. This requires that there are no instances of this class in the image heap and the instances somehow end up in the image heap.

We should trace where this happens and fix support for `javax.net.ssl.SSLContext`. Also, `--rerun-class-initialization-at-runtime=javax.net.ssl.SSLContext` should not be done in the

[2019-05-13 16:02] olpaw commented on #1258
We do not provide static libs for sunec or sunmscapi on any supported platform. Regarding Security Services the same rules apply as on other platforms. See https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md#native-implementations
CC @cstancu

[2019-05-13 16:02] #1258 closed

[2019-05-13 16:05] lvh commented on #1074
Yep, it's definitely true that there are image heap instances of SSLContext. For example, `clj-http` (which wraps the Apache HTTP client) has  org.apache.http.nio.conn.ssl.SSLIOSessionStrategy, which shows up in the Trace for the "No instances are allowed..." error. Same with `java.security.SecureRandom`, which appears to be pulled in via SSLContext anyway (specifically via `sun.security.ssl.SSLCo

[2019-05-13 16:31] vjovanov commented on #1074
Hmm, we need to see how this instance ended up in the heap.

The problem comes from: `--rerun-class-initialization-at-runtime=javax.net.ssl.SSLContext` which prevents instances of classes being in the heap.

First, `--rerun-class-initialization-at-runtime` is now not in the API anymore because it is complex to get right. It is also added by the native image so there is no need for that flag.

Now

[2019-05-13 18:36] lvh commented on #1074
@vjovanov Sorry, I may be adding to the confusion here. I'm speaking about my reproducer, which has `  --initialize-at-build-time ` and no `--rerun-class-initialization-at-runtime` flags, and still produces that output.  You can see the native-image.sh I'm using here: https://github.com/lvh/cljurl-graalvm-demo/blob/master/native-image.sh but for your convenience here's the contents:

[code]

I can

[2019-05-13 18:43] johanvos opened #1274 "[native-image] Add correct implementation of JVM_GetNanoTimeAdjustment"
JvmFuncs.c has an implementation for JVM_GetNanoTimeAdjustment that always returns 0. This is sufficient for e.g. the Clock implementation, but an implementation similar to hotspot is needed.

[2019-05-13 20:06] vjovanov commented on #1074
It is most likely ‘RERUN’ as it is set so in ‘native-image’. There is a flag ‘-H:+PrintClassInitialization’ that will give you all the details and reasons. You can also look at the new documentation that explains it:

https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md

[2019-05-13 22:26] lvh commented on #1074
Yep; I read that doc and I'm running with `-H:+PrintClassInitialization` for the output I pasted but I'm not seeing anything in the output about attempting to initialize any classes.  Am I missing something?

I tried picking some classes that look promising from the traces:

[code]

... but now I just get the same errors at different

[code]

I'll keep banging at it to see if I can find which clas

[2019-05-13 23:56] vjovanov commented on #1074
Yes, in combination with object path.

The error messages are misleading here. Since you already explicitly marked classes as `BUILD_TIME` the message should tell you how to use the information below and not suggest to use `--initialize-at-build-time` as this is clearly not what you want.

[2019-05-14 00:00] lvh commented on #1074
Gotcha, makes sense. So: find classes introducing objects in the image, make them initialize at run-time, rinse, repeat. I might just parse the output and try to come up with those locations automatically. Also, since you mention that's just a shortest path, is there a way for native-image to dump all the paths? I'm happy to burn hours of CPU time on this and less happy to burn hours of human time

[2019-05-14 04:34] pli-arm opened #1275 "AArch64: AssertionError in unittest RegisterPackageNFITest"
@axel22
Graal unittest RegisterPackageNFITest fails on AArch64 after below patch merged.
[code]
Failure is caused by an assertion error. See stack trace below.
[code]

[2019-05-14 07:23] johanvos opened #1276 "[native-image] no support for platformclassloader"
While the relevance of ClassLoader.getPlatformClassLoader() is different, it is important that calls to it do not cause the VM to halt. Specifically, calls in the JDK core libs rely on ClassLoader.getPlatformClassLoader() to return a valid object.
Currently, ClassLoader.getPlatformClassLoader returns an Exception in NativeImage.

[2019-05-14 07:29] santhoshTpixler commented on #1258
I ran into lot of errors while installing Windows SDK 7.1 and found a useful link given below. It worked flawlessely for me.
For installing Windows SDK https://stackoverflow.com/a/32534158/8279604

[2019-05-14 08:44] borkdude commented on #1258
In a Windows 10 VM I keep running into this problem:

<img width="783" alt="Screenshot 2019-05-14 10 33 13" src="https://user-images.githubusercontent.com/284934/57684044-44230200-7635-11e9-80cd-f50958aedd8a.png">
<img width="781" alt="Screenshot 2019-05-14 10 36 19" src="https://user-images.githubusercontent.com/284934/57684045-44bb9880-7635-11e9-9bd5-424e6fc95be1.png">

Is there a way to get aro

[2019-05-14 08:51] rsvoboda commented on #1258
@borkdude, was fighting the same war last night, had to change registry entries ( + grant full control to myself for those entries ... ). A bit of nightmare before I managed to install SDK, plus I uninstalled some newer .net/c++ stuff.

See
 - https://stackoverflow.com/questions/32091593/cannot-install-windows-sdk-7-1-on-windows-10/32322920#32322920
 - https://stackoverflow.com/questions/32091593/

[2019-05-14 08:54] borkdude commented on #1258
@rsvoboda confirmed that worked

[2019-05-14 09:48] thomaswue commented on #1259
Yes, send it to me via thomas.wuerthinger at oracle.com.

[2019-05-14 10:34] lizhanhui commented on #1258
As the mentioned document requires,
The following command instruction fails on Windows although its equivalent is proven working properly on Linux and Mac:

[code]
Native-image command fails on the "generate image step".
I doubt the windows version is buggy when handling linking symbols of JNI.

[2019-05-14 11:04] vyudenkov commented on #409
The same issue happens when project is merged into the single fat jar file. So path to language on my pc becomes:
file:/D:/Projects/project/target/project.jar!/BOOT-INF/lib/js-1.0.0-rc16.jar!/META-INF/truffle/language. And Paths.get doesn't understand the nested urls.

[2019-05-14 11:17] flortsch commented on #1271
Sorry for the delay. There were a few troubles building some artifacts for specific platforms but they are now available on Maven Central.

[2019-05-14 11:53] olpaw commented on #1258
Hi @lizhanhui,
That sounds plausible. Please create a separate ticket for this finding with an appropriate title.

[2019-05-14 12:14] #1271 closed

[2019-05-14 12:25] olpaw commented on #1241
@neon-dev the `19.0.0` `com.oracle.substratevm:svm-hosted-native-linux-amd64` artifact is built with an older version on binutils that should not have the same problem as the 1.0.0-rc16 artifact. Please retry with `19.0.0` to check if it now also works with the default binutils of WSL Debian.

[2019-05-14 12:58] djoooooe commented on #1257
Hi @gzoller,
Thanks for the report. GraalVM JavaScript enforces strict sandboxing rules by default, one of them being that JavaScript code cannot access host Java objects unless it is explicitly allowed by the user. The simplest way to allow your code to access `Foo.hi()` is to pass the option `polyglot.js.allowAllAccess=true` as described here: https://github.com/graalvm/graaljs/blob/master/docs/

[2019-05-14 13:00] johanvos opened #1279 "Missing JVM_Module symbols"
using the JNI platforms, applications may fail while linking the static libjava.a library, as there might be traces to JVM_Module calls that are not implemented in JvmFuncs.c

[2019-05-14 13:11] johanvos opened #1281 "[native-image] no contextClassLoader for some Threads"
Threads that are created based on an existing OS thread get a number of fields set correctly, but not their contextClassLoader.

[2019-05-14 13:33] up-to-you opened #1283 "Persistence of compiled c1/c2 state"
Are there any plans or already implemented feature to save application's machine code (or maybe partially) compiled by c1 and c2 jit (actually graalvm) such that consequent app startups will not require warmup and related decision making ?

I don't mean such full aot like substratevm provides , but something like implemented in openj9 (saving compiled machine code from jit compilers  for further r

[2019-05-14 14:05] melix commented on #1267
Repro instructions are on: https://github.com/melix/graal-repro-1267

[2019-05-14 14:06] lvh opened #1285 "Structured logging output"
I'm debugging a bunch of native-image problems and it would be very helpful (for automation and testing and bug reporting) if I could get error reports out as structured objects. I'd be fine with any kind of format -- XML, JSON, or even just holding on to the relevant objects and letting me run some code in the JVM.

As an example of something I would like to get a structured version of, here's an

[2019-05-14 15:13] ziyilin opened #1286 "native-image-agent failed with "java.lang.String cannot be cast to java.util.List""
I got a `Fatal error: java.lang.ClassCastException: java.lang.String cannot be cast to java.util.List` while running java program with RC16's native-image-agent.
P.S.  I tried to use the lastest 19.0's agent, but it is not shipped with https://github.com/oracle/graal/releases/download/vm-19.0.0/graalvm-ce-linux-amd64-19.0.0.tar.gz. How to build native-image-agent if it is not come along with the r

[2019-05-14 15:21] borkdude opened #1287 "Thread.currentThread().getContextClassLoader() returns null in Windows image"
My compiled native image for Windows fails with a `NullPointerException`. The `null` is returned from a call to a library which basically does:

[code]

This returns `null` in the Windows image, but in the linux and MacOS images it returns a non-null object.

The specific line where the error happens is:
https://github.com/clojure/clojure/blob/master/src/clj/clojure/java/io.clj#L450

[2019-05-14 15:26] borkdude commented on #1287
Might be related to #1281 ?

[2019-05-14 16:30] dmlloyd commented on #1183
I think this should be reopened as the original issue isn't fixed yet?  We have a similar problem, but we're registering our eager initializations via the `RuntimeClassInitializationSupport` image singleton from an automatic feature.  None of our registrations seem to be taking effect.

[2019-05-14 16:41] dmlloyd commented on #1200
Got it into a minimal reproducer:

[code]

Compile into a JAR with this class as the main class, then:

[code]
Finally:

[code]

[2019-05-14 17:15] dmlloyd commented on #1200
If both `Thread.class` and `Target_java_lang_Thread.class` are printed, the output is:

[code]

[2019-05-14 17:53] johanvos opened #1288 "Class.forName is not initializing class"
In hotspot, the class initializer is called when Class.forName() is called, but this is not the case in substratevm.
Consider these classes:
[code]
[code]

With hotspot, running A results in
[code]

With native image, the order is different:
[code]

[2019-05-14 17:57] dmlloyd commented on #1288
Both behaviors are within spec AFAIK.

[2019-05-14 17:58] bobmcwhirter commented on #1200
If you use `SubstrateUtil.cast(...)` you get the same error, but with a better/more-nonsensical message:

    Exception in thread "main" java.lang.ClassCastException: java.lang.Thread cannot be cast to java.lang.Thread

[2019-05-14 18:45] lvh commented on #1074
Figured it out: unfortunately the printed classes only happen after analysis, and the error above happens _before_ analysis. Also for any Clojure folks reading: it's a lot easier to get https://github.com/martinklepsch/clj-http-lite/ working than clj-http. The former relies on the JVM builtin URL openers, whereas the latter is a pretty involved library using the Apache HTTP Client. There's some re

[2019-05-14 19:11] lvh commented on #951
Is there a way to disable SunEC without editing the java.security file?

[2019-05-14 20:57] BrunoBonacci commented on #1266
I understand this issue, although it manifests itself with a different error it can be resolved with the same considerations of https://github.com/oracle/graal/issues/1265. So I think we can close this one and follow up the investigations for the minimal set of `--initialize-at-build-time` flag with the related ticket.

[2019-05-14 20:57] #1266 closed

[2019-05-14 21:13] hanzr commented on #587
Retested with 19.0.0, problem is gone. Closing the issue.

[2019-05-14 21:13] #587 closed

[2019-05-14 21:14] dougxc commented on #1283
There are no current plans for this feature. Also, it would require extensive HotSpot changes so would probably best be done as an OpenJDK project.

[2019-05-14 21:24] BrunoBonacci commented on #1265
Hi @vjovanov ,
thanks again for the link. My understanding is that to get the best performances we should aim to have most of the initializations done a build time. However, some must be forced at runtime.
What is the best way to find the minimal set of classes which initialization needs to be forced a runtime? How to deal with classes which use JNI/JNA libraries?

Thanks

[2019-05-14 21:48] nhoughto commented on #951
My approach above doesn’t edit the file, overrides by environment variable? Other than that I don’t think so

[2019-05-14 23:32] remkop commented on #1209
@knyttl @cstancu FYI, this "Unrecognized format specifier" stuff is Log4j2 encountering a format specifier in the pattern that it does not have a converter for. Log4j2 registers converters (and all other configuration components) through an annotation-based plugin mechanism. This plugin mechanism reads components from `META-INF/org/apache/logging/log4j/core/config/plugins/Log4j2Plugins.dat` in the

[2019-05-15 00:01] remkop commented on #1209
@knyttl I could be wrong but your reflection-config.json is missing `allDeclaredConstructors = true` for the log4j classes, also, are you sure these sections  work?

[code]

[2019-05-15 03:54] ziyilin opened #1289 "[native-image]How to dump more information when running into errors?"
We have sucessfully run a native-image version of RocketMQ's ( https://github.com/apache/rocketmq) client module, but got `java.lang.OutOfMemoryError: Garbage-collected heap size exceeded` after a few days' continous running.
Is there any way to print more reports or issue a core dump other than this one line message?

[2019-05-15 05:32] ziyilin opened #1290 "[native image] Is native-image portable on different Linux releases?"
When a native-image is built on one Linux release such as CentOS 7, can it run on another Linux release such as CentOS 6 or Ubuntu?

[2019-05-15 07:10] olpaw commented on #1290
Hi @ziyilin,
for images the same restrictions as for other native-compiled binaries apply. I.e. if e.g. a C/C++ application built on CentOS 7 runs on CentOS 6 so does a native image.

[2019-05-15 07:34] ziyilin commented on #1290
Thanks.

[2019-05-15 07:34] #1290 closed

[2019-05-15 07:47] djoooooe commented on #1257
Closing the issue, please re-open if the suggested solution does not work for you.

[2019-05-15 07:59] vjovanov commented on #1074
Yes, I am working on error reporting now: It will print all of the issues it finds on one go so repeat happens less. Also, I will try to print available info when the error occurs so that it is easier to get things right.

Unfortunately, error reporting requires using java agents to track initialization and that is hard to integrate with the rest. The solution will be out soon.

Thanks for the val

[2019-05-15 08:52] plokhotnyuk commented on #412
@thomaswue it is reproducible on current master with the latest release of GraalVM. Just need to clone [the repo](https://github.com/plokhotnyuk/jsoniter-scala) and run the following commands for different JVMs:
[code]
Below are results of running of those commands, which show that there lot of difference in number of instructions, branches and cache misses:
## GraalVM CE 19.0.0
[code]
## GraalVM

[2019-05-15 08:59] johanvos commented on #1288
Class.forName javadoc says:

[code]

The 3-arg method is
[code]

with the initialize defined as
`initialize - if true the class will be initialized. See Section 12.4 of The Java Language Specification.
`

[2019-05-15 10:57] neomatrix369 commented on #1243
@dougxc this is fix help, in my experience the bug triggers for builds that do not have spaces around the brackets in the HotSpot string

[2019-05-15 11:02] lburgazzoli commented on #1247
The argument used to create the native images are:

[code]

[2019-05-15 11:37] dmlloyd commented on #1288
Ah I thought that it defaulted `initialize` to `false`, my bad.

It looks like `DynamicHub#forName` just ignores the init parameter.  It should be a simple change to have it call `ensureInitialized` on the target class if the flag is `true`.

[2019-05-15 13:48] gersonimo opened #1292 "Error: Already registered: java.lang.reflect.Method.getDefaultValue()"
Hi, I'm trying to compile a native image for Java compiler and got error.

[code]

For reproducing please run `./mvnw package -Pnative` in the `https://github.com/quarkusio/quarkus-quckstarts` folder `getstarted`

I'm on ubuntu with graalvm-ce 19.0.0

[2019-05-15 13:52] neon-dev commented on #1241
@olpaw I had major issues downgrading libc6 but now that I'm back on a stock WSL distro (and binutils 2.28) I could test v19.
The first build attempt failed, but just because I needed to update JVMCI enabled [JDK](https://github.com/graalvm/openjdk8-jvmci-builder/releases). After that everything worked out of the box :)
Thanks again, looking forward to full Windows support and maybe even cross com

[2019-05-15 14:07] ziyilin commented on #1286
solved in GraalVM-CE-19

[2019-05-15 14:07] #1286 closed

[2019-05-15 14:19] lvh commented on #951
@nhoughto That repository appears to have disappeared :) I'm passing `-Dsecurity.provider.3=org.bouncycastle.jce.provider.BouncyCastleProvider` to `native-image` directly, which feels like it should be equivalent to what you're doing, but doesn't work.

[2019-05-15 14:19] dmlloyd commented on #1292
Quarkus only supports GraalVM RC16 right now.  We'll give an update when 19.0.0 is supported.

[2019-05-15 14:34] gersonimo commented on #1292
Ok. Thanks for  the quick answer

[2019-05-15 14:34] #1292 closed

[2019-05-15 14:58] dmlloyd commented on #1200
I attempted to bisect this but couldn't find a GraalVM version that introduces the problem.  I went as far back as RC5 but I didn't have JVMCI versions for going any earlier than that.  I wonder if the problem might  be in JVMCI though?  Either that, or this *never* worked and somehow we didn't notice until now.

[2019-05-15 15:48] lvh opened #1293 "PRNG should be seeded from /dev/urandom, not /dev/random"
When installing GraalVM 19.0.0., `jre/lib/security/java.security` has the following line:

[code]

This should be `/dev/urandom`. There's a lot of fearmongering around "/dev/urandom is actually unsafe sometimes" that is unwarranted. Lots of OSes already patch this out; for example, if I install OpenJDK11 on Fedora, I already get /dev/urandom. The Linux manpage has caused tons of damage (in real ac

[2019-05-15 16:10] lvh commented on #951
Starting from an app that works (if it has libsunec.so, at least), with `[org.bouncycastle/bcprov-jdk15on "1.61"]` on the classpath, All tests are with graalvm-19.0.0 with the following options:

[code]

I tried both `security.provider.3=sun.security.ec.SunEC` and `security.provider.3=org.bouncycastle.jce.provider.BouncyCastleProvider` and both commented (so there's no provider 3) and they all hav

[2019-05-15 18:28] ludoch opened #1294 "issue with okhttp with graalvm-ce-19.0.0"
With graalvm-ce-19.0.0 I get
[code]
Which I did not have with the RC candidates...
Is it a regression or a feature? Any workaround?
https://github.com/square/okhttp/blob/5cfa0bb3e6d1cdba89761806ff6999f59a15c0eb/okhttp/src/main/java/okhttp3/internal/Util.java#L84
did not  change in my tests between RCs and 19.0.0.

[2019-05-15 18:52] dmlloyd commented on #1200
Another weird thing, I tried to reverse the cast like this:

[code]
and:

[code]

And I got this unexpected error during `native-image` build:

[code]

The thing is I didn't substitute the class, so I'm not sure what is going on here.

[2019-05-15 19:04] dmlloyd commented on #1200
Here's a more minimal reproducer:

[code]
Constrast with this program which appears to work fine:
[code]

[2019-05-15 19:06] gzoller commented on #1257
Many thanks, Josef.  This worked exactly as you said!

[2019-05-15 19:06] #1257 closed

[2019-05-15 19:49] dougxc commented on #1293
The best thing to do here is to submit this as an [OpenJDK RFE](https://bugs.openjdk.java.net). There are many factors to consider for such a change ranging from backwards compatibility to different behavior on various OS distributions. Since Graal is a drop-in JDK replacement, we'd prefer not to deviate from the default config. That said, the default config can be changed easily enough by anyone

[2019-05-15 20:44] melix commented on #460
We also have the problem with Gradle: the daemon may send messages to the client in serialized form (in particular exceptions). When the client gets the message, it fails with:

[code]

[2019-05-15 20:49] ludoch commented on #1294
Correction: I changed the okhttp version so this is not related to the 19.0.0 release.
Anyway, the bug is valid with this version of okhttp3

[2019-05-15 21:52] ludoch commented on #1294
Solution: add this in your reflect.json configuration
[code]

As this class in initialized via reflection in the OpenJDK Charset class.

[2019-05-15 22:47] nhoughto commented on #951
1.0.0-rc16, I’ll try with 19.0.0.

I moved the repo sorry, it’s here now:

https://github.com/bsycorp/make-jks/blob/master/java.security.overrides

Graal options here:

https://github.com/bsycorp/make-jks/blob/master/build.gradle

I’m not sure you are setting environment variables properly, you can’t override sunec from jvm args directly, but you can set an argument to a file that has overrides. S

[2019-05-16 01:20] ludoch commented on #1294
Sorry, spoke too soon... My json file does not fix this...

[2019-05-16 04:48] causalnet commented on #1294
Try the `-H:+AddAllCharsets` command line option when running the native image generator.

from the help text:

[2019-05-16 08:48] vjovanov commented on #1294
We changed class initialization to delay class to runtime by default. This exposes extra JNI functions that were not there before. You can find out more [here](https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md).

[2019-05-16 09:11] tcollignon commented on #1216
Hi @cstancu

I have provide a simple example here : https://github.com/tcollignon/quarkus-jaxb-test

If I run it with graalvm native image it fail like I described here : https://github.com/quarkusio/quarkus/issues/2199#issuecomment-487703960

Do you need more information?

Thx you very much

[2019-05-16 12:12] graemerocher opened #1295 "[native-image] Micronaut + Hibernate results in Error encountered while analysing java.lang.reflect.Method.getDefaultValue()"
The application at https://github.com/graemerocher/micronaut-petclinic

Uses Micronaut, Hibernate and Postgres and works on GraalVM substrate rc16. Switching to the `graal19` branch which has the following changes:

https://github.com/graemerocher/micronaut-petclinic/commit/d3fde7574162eed04c0bf49309c8baab4a91db8c

The result is the following error:

[code]

So the question is what combination of

[2019-05-16 12:37] graemerocher commented on #1295
Also note that I don't currently understand why Substrate is arriving to `java.lang.reflect.Method.defaultValue` since there are no direct references in the code `io.micronaut.inject.annotation.AnnotationMetadataSupport$AnnotationProxyHandler.invoke`

[2019-05-16 16:27] ludoch commented on #911
+1.
To add on this, I am quite confused about the difference between H:IncludeResourceBundles and a resource-config.json containing:

[code]

Can we express everything we put in H:IncludeResourceBundles in a json file? It does not see the case...

[2019-05-17 05:43] elliots opened #1296 "Minimal JDBC example hanging"
Hi, I'm trying to use JDBC from a native-image but had a problem with the build executable hanging when trying to connect to the database.

When trying to isolate the problem to create an issue, my project started working. Adding back things until it broke again I've worked out if I annotate one method in my project with @CEntryPoint but build as an executable instead of a shared library, the exec