[2020-03-09 19:40] borkdude commented on #2214
Also available as library now: https://github.com/borkdude/clj-reflector-graal-java11-fix

[2020-03-09 20:05] RealCLanger commented on #2196
The question is whether we should try to go bug by bug through this list or whether it's better to use the monolitic change at once.

[2020-03-09 23:20] eginez commented on #2234
I actually think the problem is in a bug supporting custom time zones.  @sbrannen once we fix the bug you should be able to use custom time zones via the `IncludeTimeZones` flag, e.g.: `-H:IncludeTimeZones=GMT+2`

[2020-03-09 23:41] eginez commented on #2234
@SergejIsbrecht would you be able to paste the whole output of the failure?

[2020-03-10 00:46] eginez commented on #2198
fixed by https://github.com/oracle/graal/commit/a92092327454e32f00678d503ca11c242b5a686b

[2020-03-10 00:46] #2198 closed

[2020-03-10 07:29] Zireael07 commented on #304
Any news on LibGDX/LWJGL3 support? Any other libraries we could use for rendering with GraalVM?

[2020-03-10 07:44] boris-spas commented on #2201
@djoooooe Fixed? Can this be closed?

[2020-03-10 08:18] SergejIsbrecht commented on #2234
@eginez,
There is not problem in custom TimeZones. The problem is, that the feature/ substitution does not contain the correct logic to normalize given string.

Currently all time-zones are added to a HashMap and later and will be asked for, when #getTimeZone is called. When you look at the JDK implementation, you see that #parseCustomTimeZone is called in some circumstances.

Current substitution

[2020-03-10 08:23] RealCLanger commented on #2196
I played around with the JDK13 monolith (https://github.com/graalvm/labs-openjdk-11/commit/fbbdf5f15300716110d2ac9b9bd7f70b03b35a7d). It actually applies quite well to jdk11u-dev with a few resolves and parts from JDK-8208686. I'll try to run this through our OpenJDK test queue now and will then start a discussion on jdk-updates-dev about merging this in.

Maybe we need to compile a list of all jd

[2020-03-10 08:52] wirthi commented on #2201
The issue has been resolved in the TRegex engine itself. Graal.js has not updated this engine yet (still using an older version). This should be resolved by the end of the week. Ultimately, the fix will land in GraalVM 20.1.0.

[2020-03-10 11:32] sbrannen commented on #2234
OK. We'll wait to see how this issue is resolved.

Please note, however, that we are not interested in having to configure multiple "custom time zones" explicitly. Rather, enterprise applications need to be able to support whatever time zone is supplied by the user (i.e., GMT with any supported positive or negative offset in hours). The best would be if this were supported out of the box. If that'

[2020-03-10 12:33] rschatz commented on #2127
The wrong exception should be fixed in https://github.com/oracle/graal/commit/6e6940c20f52fda72ad509733cee0eaa16b06a6c

[2020-03-10 12:33] #2127 closed

[2020-03-10 13:01] sbrannen opened #2243 "Locally declared @Inherited annotations are not present in native image"
# Overview

Given an `@Inherited` annotation that is declared on a superclass and again on a subclass, the annotation is not _present_ as a "locally declared" annotation on the subclass within a native image.

This breaks code that relies on the actual location of the declaration of the annotation.

For example, given the `InheritedAnnotations` test case below, the output when using a standard JDK

[2020-03-10 13:44] Iltotore opened #2244 "Android and iOS support ?"
# Feature request/Question
I've seen on [this post](https://github.com/oracle/graal/issues/373#issuecomment-383727025) that the iOS support for SubstrateVM and the native-image tool will come soon. I didn't find any information about official Android support.

My question: Is there any official Android and iOS support ? If yes, where can I find the documentation to compile my program to an apk or

[2020-03-10 14:26] fniephaus commented on #2127
Thanks!

[2020-03-10 15:53] RUSshy commented on #304
i think for libgdx it is better to ditch completly LWJGL, and create a new backend with simpler opengl/glfw bindings

[2020-03-10 19:02] stooke commented on #1917
I have created PR #2245, with a prototype Windows debug implementation.  It is still a work in progress, and is missing types, variables, and complete stack frame records. It will be dependent on @adinn PR #2088.

[2020-03-10 19:04] eginez commented on #2234
@sbrannen yes it would be ideal to be able to lift such restriction, but bear in mind that currently you have to specify timezones for the image at build-time. I am looking for ways to do so but those limitations enable us to keep the image small

[2020-03-10 20:37] SergejIsbrecht commented on #2234
@eginez , did you measure the impact, when all TimeZones are pre-init? I did it and it looks like there are only some bytes (~50KiB) overhead. Maybe I measured it wrong.

[2020-03-10 21:25] mardukbp commented on #2193
The problem is that the instructions in [Implementing Native Methods in Java with Substrate VM](https://github.com/oracle/graal/blob/master/substratevm/ImplementingNativeMethodsInJavaWithSVM.md) are misleading.

In particular, the following statement is false:

First of all one has to compile the Java class to bytecode. **Afterwards** one executes `native-image`. Now the generated header and libra

[2020-03-10 22:30] eginez commented on #2234
The first thing is to fix the linking error you are getting above, that happens because the extra JDK code brings in symbols that are currently not define. I think I have a solution for that

[2020-03-11 01:01] helloguo opened #2247 "Use intrinsics to speed up Arrays.fill()"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
OpenJDK Hotspot JIT uses intrinsics to optimize `Arrays.fill()`. GraalVM compiler does not have similar intrinsics to optimize it. This makes large performance regression for Graal in certain cases.

**Describe the solution you'd like.**
Add corresponding intrinsics to

[2020-03-11 03:03] XiaohongGong commented on #2210
Sorry for the late replying! It's great that it's in your plan. I'm looking forward to it. Thank you so much!

[2020-03-11 03:24] XiaohongGong commented on #1872
Hi @sanzinger , how is this issue going on? Is there any update? Thanks!

[2020-03-11 04:32] mardukbp commented on #2193
@uvilop Since you have a `classes` directory, chances are that you are using Maven. In that case you can use the native-image Maven plugin to generate the shared library. See [here](https://web.archive.org/web/20200311043100/https://towardsdatascience.com/code-in-java-execute-as-c-921f5db45f20?gi=546cde9e2f1f) for details.

[2020-03-11 14:20] olpaw commented on #2193
@uvilop please reopen are you still having trouble building shared library native-images.

[2020-03-11 14:20] #2193 closed

[2020-03-11 14:28] sbrannen opened #2250 "Relative classpath resource lookup fails in native image"
# Overview

If the path supplied to `getClass().getResource()` is a relative path, lookup for the resource fails in a compiled native image, even when using the configuration generated by the agent.

For example, given the `RelativeClasspathResource` test case below, the output when using a standard JDK results in the following.

[code]

Whereas, if you compile the test case into a native image, t

[2020-03-11 21:26] jramirez-isc commented on #721
@aplut as @dsyer commented, you need to add the reflection config. You can use the [native-image-agent](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md) to automatically detect the reflectively accessed elements and generate the config files.

After setting up the reflection config, I added a few more options to run `native-image` command with your code:
[code]
Find the full c

[2020-03-11 21:26] #721 closed

[2020-03-11 21:45] christianwimmer commented on #2235
@dougxc That synchronization was introduced for some deadlocks in HotSpot I think. For native image generation, it should be unnecessary. Maybe we can move the synchronization into HotSpot-specific code? Or make it optional based on a graph builder configuration?

[2020-03-11 21:45] jramirez-isc commented on #1929
@mohitochani, the error message seems very general and unrelated to `native-image`. Can you please share the code/steps to replicate the error? How are you generating the native image?

[2020-03-11 22:13] dougxc commented on #2235
I'm not sure why this is specific to HotSpot. Class initialization triggered by Graal compiler threads (be they in HotSpot or native-image) can happen in an order that the application otherwise guards against by ensuring initialization happens in a certain order.

That said, we can make the synchronization specific to the HotSpot use case and see what issues arise. Something like this:
[code]

@ja

[2020-03-11 22:18] christianwimmer commented on #2235
That is true, but how is this synchronization helping with that problem? There must have been some problems on HotSpot, and since there eager resolving is only used for snippets and method substitutions the problem must have been in that area.

[2020-03-11 22:30] dougxc commented on #2235
It's rather unfortunate that the referenced link is broken as I recall it having a clear demonstration of the issue. It may well have been a deadlock between a compiler thread and some other HotSpot thread in early VM startup when a bunch of JDK class initializers are run.

In light of this missing history, let's just proceed with we think will address the native-image problem while leaving the Ho

[2020-03-12 02:08] doctorpangloss commented on #2201
That's great, I'd be happy to keep testing my `node` work with nightlies, but I am having trouble finding them or a compilation guide for macOS.

[2020-03-12 08:50] ge0ffrey commented on #2076
We're running into a similar error and it seems some our code is calling `ClassLoader.defineClass()`, although we're sure all such code is unreachable (in theory). Inspecting all potential call sites is unrealistic.

[code]

[2020-03-12 10:00] wendigo opened #2251 "Fatal error: Implicit exception thrown in code where such exceptions are fatal errors"
**Describe the issue**
During native image execution it fails in a indeterministic way (sometimes it fails, sometimes it doesn't)

**Steps to reproduce the issue**
Please include both build steps as well as run steps
[code]

**Describe GraalVM and your environment:**
 - GraalVM version CE 20.0
 - JDK major version: 11
 - OS: macOS Catalina
 - Architecture: AMD64

**More details**
[code]

[2020-03-12 10:32] jaikiran commented on #2235
Hello @dougxc, thank you for that patch. I'll run some tests tonight with some of the apps that I had used previously for testing and see how it goes.

I'll update this PR once I have the numbers.

[2020-03-12 12:06] geoand commented on #2076
We were able to debug the above problem, but again it took way more time than we would have liked it to :)

[2020-03-12 13:13] starkgate commented on #2146
Hello again. I tried to compile graal from source (based on the JVMCI-enabled OpenJDK8, however I'm running into a problem when launching native-image:

[code]

Are there specific arguments I need to use when compiling graal? Here's what I used:

`mx --dynamicimports /substratevm,/tools,/sulong,/graal-nodejs build`

[2020-03-12 15:13] peter-hofer commented on #2207
@pczmr8v5n454iycf which are the "imported" classes in your example?

[2020-03-12 15:25] peter-hofer commented on #2250
Thank you for your report @sbrannen ! Indeed resource lookups can currently only be done with the exact path in the configuration.

[2020-03-12 16:32] eginez commented on #2200
Are you seeing the same Andy?

[2020-03-12 16:36] #1940 closed

[2020-03-12 17:40] eginez commented on #2234
@sbrannen, @SergejIsbrecht  I think I found a  way to lift the substitution and restore the JDK time zone code without impact the image size dramatically. we are still running more tests but we are getting close and should a fix soon

[2020-03-12 18:04] aclement commented on #2200
Fails the same for me as it does above. I did have to regenerate the `ni.sh` script because dependencies must have shifted (to get the ni.sh script I just run `mvn -Pgraal clean package` then copy out the line from the maven failure. Feels like there might be another bug lurking that the mvn direct run of native-image doesn't print the error out.

Passing that option through with `-J-esa` did give

[2020-03-12 21:45] eginez commented on #2200
@aclement there seems to be a missing dependency in the project as shown here:https://github.com/spring-projects-experimental/spring-graal-native/pull/53.

With such dependency in the classpath, the error is no longer present. Granted I am still verifying for errors in our bytecode parsing. At least the above should let you continue building the application.

FYI that application is initializing a

[2020-03-12 22:40] eginez commented on #2200
If you are wondering where that dependency is coming from:
https://github.com/spring-projects/spring-framework/blob/master/spring-tx/src/main/java/org/springframework/transaction/reactive/TransactionalOperator.java  brings in
https://github.com/reactor/reactor-core/blob/59aa6a402d94dc9effed3931a028de1492ca88c9/reactor-core/src/main/java/reactor/core/publisher/Flux.java which brings the missing dep

[2020-03-13 01:13] dmlloyd opened #2252 "Allow building native images from stock OpenJDK"
Users should be able to build native images without being required to install a special JDK (and thus requiring us to support one) to do so.

The user should be able to use any of the most commonly available JDKs in the 11 series (OpenJDK, Adopt, Oracle JDK, Red Hat builds of OpenJDK, etc.) to build a native image, with stable and predictable results.

To the maximum extent possible, the native im

[2020-03-13 05:23] jaikiran commented on #2235
@dougxc, @christianwimmer, I've run multiple test runs against test Quarkus applications overnight, with and without this patch. Without this patch, I can consistently see the lock attempts in this code. Then, with this patch I no longer see those lock contentions, even after several runs. Plus, there have no failures or errors after this patch against the applications I've tested so far. So this

[2020-03-13 08:18] sbrannen commented on #2234
That's great news.

Looking forward to trying it out!

[2020-03-13 13:45] sbrannen opened #2253 "Class path resources have invalid last-modified timestamps"
# Overview

Class path resources have invalid last-modified timestamps. They are in fact always `0` since the custom `URLConnection` for resources within a native image does not override `java.net.URLConnection.getHeaderField(String)`.

https://github.com/oracle/graal/blob/b98be8370e9e6e1fe888ba13e393630e7681c77e/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Resources.java#L110-L

[2020-03-13 17:20] aclement commented on #2200
I have seen a situation or two where I've needed to add stuff to the classpath to make it native-image buildable when the app runs just fine regularly. Doing that felt wrong/odd, as if native-image was making a wrong decision (or at least non optimal decision). For now I'll try adding it and see how far I can get.

[2020-03-13 17:27] eginez commented on #2200
You are initializing a lot of classes at runtime in that example

[2020-03-13 17:32] aclement commented on #2200
I guess I was interpreting it as a build-time init setting would mean 'the bits of this class you determine we need should be initialized at build-time' but sounds like it is more subtle than that, interesting.

[2020-03-14 16:27] aclement commented on #2200
This looks like the project that keeps on giving, adding that dependency causes the next issue which I'm not quite sure how to deal with:
[code]
Maybe it needs a separate tracker item? Again, the app is running perfectly fine with java -jar, it just seems native-image can't build it.

[2020-03-14 16:47] vektory79 opened #2254 "Doublekill: SEGFAULT during reporting about SEGFAULT"
**Describe the issue**
I continue to experiments with [PlantUML compilation](https://github.com/vektory79/plantuml-native-image). Some time ago I report issue #1716, that is not reproduced on GraalVM CE 20.0.0.

But now I meet a wery curiosus error. When plantuml running without parameters it should open Swing window, but SEGFAULT'ed. SVM trying to generate report, but crashed again. Report is unc

[2020-03-14 16:54] vektory79 commented on #1716
Seems like that this issue is not reproducible anymore.

[2020-03-14 16:54] #1716 closed

[2020-03-15 13:33] mauricioszabo commented on #326
Is there any issue, feature request, or branch were we can follow up this integration with Electron? I'm really interested in doing alpha tests with it :)

[2020-03-15 14:24] mbarbeaux opened #2256 "Add an option to launch a native image without opening a console/terminal"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
On Windows (maybe also on other systems, didn't check that), when creating a native image and then double-clicking the built executable, I couldn't find a way to not display a console/terminal (for example, when your native image opens a window/GUI with Swing/JavaFX/SW

[2020-03-15 19:16] sbrannen commented on #535
I just verified that the following (modified version of the sample application) passes in the `spring-core` native image tests build against GraalVM 20.0.

[code]

Thus, feel free to close this issue.

[2020-03-15 19:57] sbrannen commented on #715
The following test passes within a native image using GraalVM 20.0.

[code]

Thus, I think you can probably close this issue.

[2020-03-16 10:34] tsatatwer commented on #403
Several months passed and we are just waiting for Windows Javafx native image to be supported and no word at all .....all efforts went to other operating systems BUT very little made on Windows Javafx native image support....and when we asked about the delay we faced critics (check my posts and see)  .

[2020-03-16 13:51] johanvos opened #2259 "Error in compilation when crosscompiling using LLVM"
**Describe the issue**

When using the LLVM backend, with cached CAP files (and no CCompiler) VMFeature fails with this error:

Error: ImageSingletons do not contain key com.oracle.svm.hosted.c.codegen.CCompilerInvoker
com.oracle.svm.core.util.UserError$UserException: ImageSingletons do not contain key com.oracle.svm.hosted.c.codegen.CCompilerInvoker

[2020-03-16 14:02] christhalinger commented on #1998
Building upstream Graal directly seems easier.

[2020-03-16 14:02] #1998 closed

[2020-03-16 14:13] thatsIch commented on #1896
You should set `JAVA_HOME` to the same directory as `GRAALVM_HOME`. This is important, that Maven uses the same JDK as GraalVM uses. If you use Maven, add the parameter `-e` to expand the error statements like `mvn -e clean install`

[2020-03-16 15:38] amahfouz1 opened #2261 "JNA fails to load with GraalVM throwing JNA: Problems loading core IDs: java.lang.Object"
I know JNA is not supported out of the box on GraalVM and there are some issues closed with that conclusion but still, I tried to see if I can find a workaround. When JNA initializes during build time it never works during the runtime. I differed it to initialize at runtime and had all the resources and I started feeling there is a light at the end of the tunnel but unfortunately JNA failed when i

[2020-03-16 16:59] woess commented on #1412
A fix for the ClassCastException issue has been merged to master and will be released as part of GraalVM 20.1.0.

[2020-03-16 21:09] matthiasblaesing commented on #2261
I commented on the JNA side: I think the reflection/jni configuration is missing a huge number of types/methods/fields, that are needed at runtime.

[2020-03-17 00:15] tkrodriguez commented on #2219
This was fixed in https://github.com/oracle/graal/commit/cec31521c063dcb0bec9b211675f9e60635955ce and should appear in the next release.

[2020-03-17 06:24] rsvoboda opened #2265 "Windows - native-image - UUID.randomUUID() returns always the same uuid"
On Windows, native-image based binary always returns the same uuid when calling `UUID.randomUUID().toString()`. On macOS and Linux with native-image based binary, the returned value is always different.

Using GraalVM Version 20.0.0 CE JDK11 on all the systems

HelloWorld.java
[code]

[code]
Windows (always the same UUID)
![Screenshot 2020-03-17 07 07 28](https://user-images.githubusercontent.com/

[2020-03-17 10:26] frank-dspeed commented on #361
There is a Working Implamentation! https://github.com/direktspeed/trufflephp

the new name should be trufflephp the source is at present even with the one from the chineese contributor author

this are the slides showing it https://github.com/direktspeed/trufflephp/raw/master/graalvm_jjug20190227.pdf

[2020-03-17 14:22] galderz commented on #2169
I've just encountered a very similar exception testing master with quarkus: https://github.com/quarkusio/quarkus/issues/7914.

[2020-03-17 15:09] eginez commented on #2234
All we hit a problem with windows in our test. The code in the JDK that deals with time zones reads a file  in the native code: https://github.com/openjdk/jdk/blob/e9494f2155bd8d3468b666df876f0bdf65cbf045/src/java.base/windows/native/libjava/TimeZone_md.c#L439

I am currently looking for ways around this.

[2020-03-17 16:52] #1568 closed

[2020-03-17 18:26] sbrannen commented on #2234
Thanks for keeping us posted.

Good luck!

[2020-03-17 22:33] Konstantin773 opened #2267 "[Native Image] Non-heap memory of DirectByteBuffer in SubstrateVM caused to free only by GC"
In common JVM native memory freed up regardless of the amount used heap. Perhaps a different thread checks references to DirectByteBuffers in "Cleaner" object pool and clean non-heap memory early
In native image APPCRASH happens( PhantomReference problem

Example:
`for(int i = 0;i<100000;i++) {
	ByteBuffer.allocateDirect(128*1024*1024);
}`

Are there any solutions?

[2020-03-18 05:25] pczmr8v5n454iycf commented on #2207
@peter-hofer `ru.tehkode.permissions.PermissionManager`

[2020-03-18 08:07] loicottet commented on #2259
Fixed by [6f7e0e3e](https://github.com/oracle/graal/commit/6f7e0e3eab80ff613081d3f50fb5274f2e1cd551)

[2020-03-18 08:07] #2259 closed

[2020-03-18 08:42] kangzq0530 opened #2268 "BufferOverflowException"
I've found a native image bug for Windows version.
The bug is in  [PECoffSymtabStruct](https://github.com/oracle/graal/blob/bc8b8424f1b45ec97912c7409d9f9c8d88ec3cc2/substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/pecoff/PECoffSymtabStruct.java)
[Line87](https://github.com/oracle/graal/blob/bc8b8424f1b45ec97912c7409d9f9c8d88ec3cc2/substratevm/src/com.oracle.objectfile/src/com/oracle

[2020-03-18 14:16] mik3hall opened #2269 "new (jdk14 preview) command jpackage created OS X app crashes"
**Describe the issue**
I was interested in trying out FastR. Wanting to integrate it into my application I tried using the jpackage command currently in preview incubator status for jdk14. Trying simple programmatic functionality the application crashed with...

Exception Type:        EXC_BAD_ACCESS (Code Signature Invalid)

It was indicated on the core-dev mailing list that jpackage signs the lau

[2020-03-18 22:16] jramirez-isc commented on #2075
Hi @nhenneaux I'm currently working on this issue, I'm trying to reproduce it and not seeing the `no-parameter constructor `message, but I'm getting a different error message, even when running with `java -jar`:
[code]
Did you encounter this error?

This is the `native-image` command I ran:
[code]

[2020-03-18 22:36] nhenneaux commented on #2075
Hi,

Are you running it using Java 11? It needs an alpn processor which is not
available in Java 8.

Thanks for your support,

Best regards,

Nicolas Henneaux

On Wed, 18 Mar 2020 23:16 Jose Ramirez, <notifications@github.com> wrote:

[2020-03-19 01:57] jaikiran commented on #2169
I suspect, with the recent commit[1] that went into master, this should no longer be an issue. Is that right @vjovanov ?

[1] https://github.com/oracle/graal/commit/5ce84f4f975128c3dc28d2e4d9b61bd0274c9b35

[2020-03-19 06:21] avirlrma commented on #606
Can I work on this?

[2020-03-19 10:10] Konstantin773 opened #2272 "[Critical] GC breaks direct Int and Long buffers"
**Describe the issue**
Data of direct IntBuffer and LongBuffer mutated after GC (some address writes into first four bytes of non-heap mem). Also memory page becomes partially invalid (access rules changes)
As a result Native Image application random crash on Int(Long)Buffer interaction after GC (Young/Full)

**Steps to reproduce the issue**
1. Allocate direct LongBuffer
`LongBuffer buf = ByteBuff

[2020-03-19 16:32] #1996 closed

[2020-03-19 17:56] Konstantin773 commented on #2272
**Problem:**
Field "att" in java.nio.Direct[T|Byffer[U/S] classes containing reference to original DirectByteBuffer
**Temp solution:**
Force reflect fields "att" from java.nio.Direct[T|Byffer[U/S] classes
**Solution:**
Autoreflect that field

[2020-03-19 17:56] #2272 closed

[2020-03-19 18:24] #2267 closed

[2020-03-20 08:02] FieryCod commented on #1387
@peter-hofer @cstancu any progress?

[2020-03-20 10:03] Gasol commented on #361
Obviously, @kishida is Japanese.

[2020-03-20 10:09] frank-dspeed commented on #361
@Gasol  yes but he did rudimentary basic implementation there is an ETH Zurich Thesis project ongoing over the next 6 month that will give a more complete implementation and JPHP will also after the thesis join the overall effort: https://github.com/direktspeed/trufflephp/issues/2

[2020-03-20 13:06] SchulteMarkus commented on #1924
Maybe related https://github.com/quarkusio/quarkus/issues/7936 ?

[2020-03-20 14:35] aquatir commented on #1739
It should be `--initialize-at-build-time='org.jooq.SQLDialect$ThirdParty'`.

I suggest running native image compilation with `--verbose`. This way if you don't put quotes around you will see output like:
`-H:ClassInitialization=org.jooq.SQLDialect:build_time`

which is clearly not what you want. With quotes it become
`-H:ClassInitialization=org.jooq.SQLDialect$ThirdParty:build_time`

[2020-03-20 16:54] a74nh opened #2276 "[LLVM] AArch64 current failures"
These are all the failures on AArch64 from running
`mx gate --tags "build,sulongBasic,sulongLL,nwcc,llvm,toolchain"`

I plan on blacklisting all of the failures. Everything was run on Ubuntu 18.04.3. As far as I understand it, these are all the tests that we should care about for AArch64.

I've categorised them into groups. Each group should hopefully be a single piece of work. Formatting of the l

[2020-03-20 19:21] nedisUa opened #2277 "native-image tool does not read reflection-config.json from META-INF/native-image"
I use the code from the netty demo repository https://github.com/cstancu/netty-native-demo:

**Steps to reproduce the issue**

1. `git clone https://github.com/cstancu/netty-native-demo`
2.  `cd netty-native-demo`
3. Configure maven-compiler-plugin (I would like to use Java 11):
[code]
4. `mvn package`
5. `native-image --verbose -jar target/netty-svm-httpserver-full.jar`

Result is:
[code]

**Verb

[2020-03-21 01:54] thomaswue commented on #2169
@galderz Does the mentioned commit fix your issue?

[2020-03-21 07:58] nedisUa commented on #2277
Sorry. It is my fail.
Official documentation describes how reflect-config.json must be configured.
(https://www.graalvm.org/docs/reference-manual/native-image/#native-image-configuration)

**It is issue of example code:**
native-image.properties must contain `-H:ReflectionConfigurationResources=${.}/reflection-config.json`.

Netty transport contains require option:

https://github.com/netty/netty/

[2020-03-21 07:58] #2277 closed

[2020-03-21 09:27] pulasthibandara commented on #1631
Had a similar issue with making a http request with http4s. Adding glibc to the alpine image fixed it. (I was using the `--static` flag)

[2020-03-21 11:33] jaikiran commented on #2235
Hello @dougxc, just checking - is there anything else that needs to be tested for this change before it can be committed to master?

[2020-03-21 14:52] dougxc commented on #2235
I've created #2278 to integrate this.

[2020-03-22 04:56] jaikiran commented on #2235
Thank you @dougxc

[2020-03-22 09:49] johanvos commented on #2252
I think the general trend is to have less code in C/C++ and more code in Java, and I think that is great.

But reality is that at this moment, there are large parts of code in C that are required by the class libraries. Moving those to Java is imho not something that can be done overnight.
I don't think having those native files being compiled at native-image runtime is realistic. The whole build

[2020-03-22 10:36] plokhotnyuk commented on #1515
Closing as outdated... jsoniter-scala doesn't use `sun.misc.Unsafe` anymore.

[2020-03-22 10:36] #1515 closed

[2020-03-22 10:39] plokhotnyuk commented on #1617
Closing as outdated... most noticeable performance regressions are fixed in a separated issue: https://github.com/oracle/graal/issues/2203

[2020-03-22 10:43] plokhotnyuk commented on #1829
Closing as resolved... Works fine in early access builds of OpenJDK 15 too!

[2020-03-22 10:43] #1829 closed

[2020-03-22 10:59] borkdude commented on #841
@dmlloyd Should this issue have been fixed? As of which GraalVM version? @dainiusjocas still ran into it because babashka uses a `PIPE` signal handler. We had to work around this using an environment variable for now.

[2020-03-22 15:37] thomaswue commented on #1617
OK, thank you!

[2020-03-23 03:01] amahfouz1 commented on #2261
@matthiasblaesing thanks finally after a sleepless week I have figured out all the needed JNA metadata for GraalVM and now it's working perfectly, it was a lot of fiddling through the JNA code and tracing it back to the errors.

[2020-03-23 03:01] #2261 closed

[2020-03-23 03:26] XiaohongGong commented on #2216
Has created a PR here: https://github.com/oracle/graal/pull/2248.

[2020-03-23 03:26] #2216 closed

[2020-03-23 10:42] boris-spas commented on #1412
@woess Can this be closed than? Also, might be nice to link to the merge commit of the fix for future reference...

[2020-03-23 10:47] borkdude opened #2281 "Upgrading from 19.3.1 to 20.1.0-dev (java8) increases binary size with 8mb + 1gb more memory usage"
**Insights from after this issue was created**

The larger binary size can be explained by reachable methods in `java.util.Properties` which triggers inclusion of XML functionality in 20.+. See https://github.com/oracle/graal/issues/2136#issuecomment-619351276.

The only unresolved bit here is the 1GB extra memory usage in 20.1-dev. This could also be explained by more reachable classes. Still it

[2020-03-23 10:52] boris-spas commented on #1368
@shishkin Yeah, SimpleLanguage is a continuous battlefield around whether to add more language features in order to illustrate more, or keep the language simpler to make it more accessible. Over time, it has grown up to really not be a "simple language" anymore. With this in mind, we try to avoid adding things to SL, and encourage people to look at other language implementations once they outgrow

[2020-03-23 10:55] boris-spas commented on #986
@theonlygusti Can you elaborate on your use case? In general, one should not need to create org.graalvm.polyglot.SourceSection instances. As @fniephaus pointed out, do you mean to use https://www.graalvm.org/truffle/javadoc/com/oracle/truffle/api/source/SourceSection.html ?

[2020-03-23 11:01] chumer commented on #1368
@Wooyme the `TruffleObject` object interface had many purposes in the past. These days, after some APIs got removed, its last purpose is to mark values that are expected to flow through an interpreter.  Between Truffle interpreters we allow primitives like, String, Boolean, Integer and any object that implements TruffleObject. We call such values interop values. Asserting that we see only interop

[2020-03-23 11:08] woess commented on #1412
Fixed as of https://github.com/oracle/graal/commit/6c0d46e1631de1eabe39cbfcfe46a0ed30ba468f

[2020-03-23 11:08] #1412 closed

[2020-03-23 11:22] vjovanov commented on #2101
@arodionov has this been merged?

[2020-03-23 13:22] pisto commented on #2063
pinging on this.

[2020-03-23 13:31] dmlloyd commented on #2252
It's an OK solution technically, but it doesn't really meet our requirements.  Part of the issue is that we started moving in this direction early, but changing to JNI/static libs really derailed us (particularly, having this decision be non-public).  But we're still hoping to find some way to attain the goal of (more or less) JDK-agnostic native image building.

[2020-03-23 13:34] dmlloyd commented on #841
No, the issue is not fixed.  It turns out the anonymous `sem_post` doesn't work either.  So, the signal handling code still cannot be run on AWS.  In Quarkus we've worked around the problem using system properties to disable our signal handlers, but the problem of not having clean shutdown or handling for other signals on AWS remains.

[2020-03-23 13:35] dmlloyd commented on #841
One idea might be to use `eventfd`, which can be interacted with using just `read`/`write` system calls.

[2020-03-23 14:39] jorinvo commented on #1151
Since it is *currently* not possible, I wonder if there are any plans to include something for this in the binary directly at some point in the future?

It would be awesome to have the same seamless experience building Docker images "from scratch" with GraalVM as one does with Golang 😃

[2020-03-23 14:50] #2178 closed

[2020-03-23 21:31] eginez commented on #2199
Fixed by https://github.com/oracle/graal/commit/5ce84f4f975128c3dc28d2e4d9b61bd0274c9b35

[2020-03-23 21:31] #2199 closed

[2020-03-23 21:37] jramirez-isc commented on #2075
@nhenneaux Yes, that was it, thank you.
I could go further the `org.apache.logging.log4j.message.DefaultFlowMessageFactory` error by using:
[code]
Instead of `-H:ConfigurationFileDirectories` option. @cstancu do you think there is an issue with this option? Apparently, it's not recognizing the reflection config from the `config-dir`.

[2020-03-24 11:30] johanvos opened #2283 "Watchdog detects no activity and kills the process"
**Describe the issue**
When using native-image to compile medium-sized projects, the native-image process halts with

=== Image generator watchdog detected no activity. This can be a sign of a deadlock during image building. Dumping all stack traces.

**Describe GraalVM and your environment:**
 - GraalVM master, LLVM backend

[code]

[2020-03-24 22:20] jramirez-isc commented on #2098
@ashwinbhaskar Hi, can you please provide the steps to reproduce the reported error?
The issue here https://github.com/oracle/graal/issues/727 should've been fixed by now.

[2020-03-25 01:41] mik3hall opened #2286 "FastR quantmod/TTR package install errors - fortran on OS X"
**Describe the issue**
Installation of the quantmod package fails on the TTR package dependency while attempting to compile fortran on OS X.

**Steps to reproduce the issue**
From an interactive R session...
install.packages("quantmod")

or for more verbose messages
setwd("~")
install.packages("quantmod",quiet=FALSE,verbose=TRUE,keep_output=TRUE)

**Describe GraalVM and your environment:**

versio

[2020-03-25 04:43] jaikiran opened #2287 "ImageClassLoader holds on to large number of irrelevant Method(s) and Field(s)"
The `ImageClassLoader` seems to be responsible for initializing all classes on the classpath during native image generation (during classlist phase). During this process, it loads the class (through `Class.forName` with `initialize` param as `false`) and then for each such loaded class, it goes on to check if annotations can be loaded from that class (i.e. `AnnotatedElement.getAnnotations` doesn't

[2020-03-25 04:57] jaikiran commented on #2287
I've issued https://github.com/oracle/graal/pull/2288 with a potential fix.

[2020-03-25 05:46] fjwbarnard commented on #2223
From your code snippet I notice Java AWT. Anything based on AWT such as Swing apps do not work with GraalVM native-image currently - see https://github.com/oracle/graal/issues/1327#issuecomment-548087243

They do plan to support it, but it certainly is not high on the priority list: https://github.com/oracle/graal/issues/1327#issuecomment-587087553

[2020-03-25 08:41] smil2k commented on #1163
How do you get the imagedata without using bufferedimage?

Can you post some code here?

[2020-03-25 08:55] adinn commented on #2287
Hmm, that looks worth having ;-) Nice work, Jaikiran!

[2020-03-25 09:04] gilles-duboscq commented on #1330
This should be fixed by 4662877b8ce214528f09553f21776ab97e97c1a8. The fix is included in the latest 20.1 dev build (e.g., [20.1.0-dev-20200325_0537](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.1.0-dev-20200325_0537)).

Using the `FlowBenchmark.flowBaseline` benchmark from @qwwdfsad:

|                                          | time (μs/op)   |
|-------------------------------

[2020-03-25 09:04] #1330 closed

[2020-03-25 10:37] gilles-duboscq commented on #366
This should be fixed by 4662877b8ce214528f09553f21776ab97e97c1a8. The fix is included in the latest 20.1 dev build (e.g., [20.1.0-dev-20200325_0537](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.1.0-dev-20200325_0537)).

I tested that the original example from @rhencke now produces a working native-image.

[2020-03-25 10:37] #366 closed

[2020-03-25 10:42] qwwdfsad commented on #1330
Amazing!

I've tested it on some of our workloads. When no suspension happens, it is on par with C2, but as soon as a benchmark has a hot-loop with a suspension, it is significantly faster.

E.g.:
[code]

(I'd say that `channelPipelineTwoThreadLocals` is considerably faster mostly because of more advanced EA, though I didn't dig deep enough to verify it).

Great job!

[2020-03-25 10:46] gilles-duboscq commented on #1330
Glad to hear it helped your use-case. Thank you for the report.

[2020-03-25 11:28] mik3hall commented on #2286
I believe this is still generally true although there appear to be some additional issues due to my using GraalVM as an embedded JRE in an OS X desktop application. From my application I get errors installing the curl and jsonlite packages. These work fine when run against the OS installed JavaVirtualMachines version of GraalVM.
The OS installed still appears to get fortran errors on quantmod depe

[2020-03-25 11:40] qwwdfsad opened #2289 "Fatal errors when building native image of Kotlin/Native compiler"
**Describe the issue**

Attempt to build a native image of Kotlin/Native compiler fails with fatal errors: `com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing...` with cause `JVMCIError: failed guarantee: DynamicNewInstanceNode.instanceType is constant, should have been canonicalized to NewInstanceNode`.

**Steps to reproduce the issue**

1) Download Kotlin/

[2020-03-25 14:21] olpaw opened #2290 "Quarkus hello.world image build fails when using openjdk-8u252-jvmci-20.0-b03"
Building a Quarkus hello.world image fails when using a GraalVM built from https://github.com/graalvm/graal-jvmci-8/releases/download/jvmci-20.0-b03/openjdk-8u252-jvmci-20.0-b03-linux-amd64.tar.gz
[code]

**Steps to reproduce the issue**
1. Get and extract https://github.com/graalvm/graal-jvmci-8/releases/download/jvmci-20.0-b03/openjdk-8u252-jvmci-20.0-b03-linux-amd64.tar.gz
2. Set `JAVA_HOME` to

[2020-03-25 14:28] olpaw commented on #2290
Note that doing all exactly as above except for using https://github.com/graalvm/openjdk8-jvmci-builder/releases/tag/jvmci-20.0-b02 instead of jvmci-20.0-b03 will result in a successful build.

[2020-03-25 15:01] rschatz commented on #2276
Thanks for the detailed investigation!

I'm a bit surprised by the interop test failures. I would have expected those to make the least problems, since they don't depend on anything native ;) Still it's good to know where we stand.

I will merge https://github.com/oracle/graal/pull/2280 asap.

[2020-03-25 15:15] dougxc commented on #2290
@dmlloyd can you please triage this to the right person on the Quarkus team.

[2020-03-25 15:18] dmlloyd commented on #2290
We don't triage to people per se; can you please open an upstream bug at https://github.com/quarkusio/quarkus?

[2020-03-25 15:40] olpaw commented on #2290
@dmlloyd, created https://github.com/quarkusio/quarkus/issues/8156

[2020-03-25 16:23] sherl0cks commented on #1163
@smil2k take a look at https://commons.apache.org/proper/commons-imaging/sampleusage.html. You only replace `FileIO` which has native extensions to each platform (e.g. Linux vs Windows). `BufferedImage` works as normal.

[2020-03-25 17:06] sbrannen opened #2291 "Nonexistent relative classpath resource appears to exist in native image"
# Background

Spring Framework provides a `Resource` abstraction for classpath resources that supports creation of relative resources. The `Resource` abstraction also provides support to determine if any given `Resource` _exists_ based on various techniques for detecting the presence of such a resource. For a Spring `UrlResource`, the `exists()` method is inherited from `AbstractFileResolvingResou

[2020-03-25 17:30] jramirez-isc commented on #2115
Hi @neomatrix369, it seems that you can work around `java.lang.NoClassDefFoundError: Lorg/codehaus/janino/ScriptEvaluator` using one of these:
- [Adding a dependency on Janino](https://github.com/oracle/graal/issues/1943#issuecomment-580681513)
- [Initializing `JaninoEventEvaluatorBase` at build time](https://github.com/oracle/graal/issues/1943#issuecomment-586174476)

Can you confirm that the iss

[2020-03-25 18:02] aitorhh opened #2292 "[wasm] not compiling example"
**Describe the issue**
wasm not compiling while testing example provided at https://www.graalvm.org/docs/reference-manual/languages/wasm/

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `sdk install java 20.0.0.r11-grl`
2. `sdk use java 20.0.0.r11-grl`
3. Download the latest wasm: `wget https://github.com/graalvm/graalvm-ce-dev-builds/releases/download/20.

[2020-03-25 21:11] neomatrix369 commented on #2115
@jramirez-isc thanks for that, I'll give it a whirl and report back, have not retried yet with the newest version of GraalVM

[2020-03-26 00:00] christianwimmer commented on #2252
Going back to the non-JNI approach / converting C to Java is not a feasible option. It worked as long as there was only one version of the C code - and if we had only one version of the C code than we would only have one version of the statically linked libraries and thus no problem at all. But reality is that in the JDK the Java and C code are tightly coupled. Even in the quarterly update release

[2020-03-26 04:09] jaikiran commented on #2291
The resource URL handling mechanism in native image uses this construct[1]. So each registered resource is backed by a `URLStreamHandler` which creates a `ConnURL` for _that specific_ resource in `openConnection` (i.e. there's an implicit assumption that the `URLStreamHandler` instance will always only be called for that specific resource).

In the test case above, the following construct is used:

[2020-03-26 06:52] zerg000000 commented on #2098
@ashwinbhaskar here is a repeatable example of how to compile postgresql jdbc driver

https://github.com/zerg000000/ragtime-cli

[2020-03-26 10:00] adinn commented on #2252
@christianwimmer Rather than simply +1 I'll flesh out the content of my agreement by noting that you are repeating the exact same line of reasoning that I have already proposed in our internal discussions in Red Hat. That is why our OpenJDK have been pursuing building with jdk11u. We want to ensure the relevant build, package and deploy steps for the extra deliverables are possible using standard

[2020-03-26 10:32] nikitakakra commented on #2138
I have added the reflect.json but still facing the issue

[2020-03-26 14:26] sbrannen commented on #2291
@jaikiran, thanks for the detective work!

That certainly explains the odd behavior, and hopefully that will help the team come up with a fix.

[2020-03-26 14:32] galderz commented on #2169
@thomaswue I've not tried yet, something else has come up. However, I hope I'll be able to try shortly.

[2020-03-26 14:48] galderz commented on #2169
Actually, I'm indirectly testing again with the latest graalvm code, so let's see if I can get as far as this particular test...

[2020-03-26 16:10] galderz commented on #2169
Some other errors are happening, so I've not been able to reach to test this again.

[2020-03-26 19:39] rmoquin opened #2295 "GraalVM 20.0.0 CE catalog seems to only have native-image available."
**Describe the issue**
I wanted to experiment with graalpython, so I downloaded GraalVM 2.0.0.  When I open a windows command prompt and run:

gu install python

I get the following output:

Downloading: Component catalog from www.graalvm.org
Error: Unknown component: python

If I run:

gu available

I get  the following output:

Downloading: Component catalog from www.graalvm.org
ComponentId

[2020-03-26 22:36] jramirez-isc commented on #2163
Hi @aliegeois ,
I can see in [this line](https://github.com/aliegeois/native-image-jni/blob/master/makefile#L7) that you are using `-H:ReflectionConfigurationFiles=./jni-config.json` to specify the JNI config. But the correct option to use is `-H:JNIConfigurationFiles`. If you replace it the native image works fine with your code.
As @dougxc commented, you can see this in the [docs](https://github

[2020-03-26 22:36] #2163 closed

[2020-03-27 08:06] drocsid commented on #1294
@szpak Did you ever figure that out?

[2020-03-27 19:01] kustosz opened #2297 "Looking up language services without TruffleContext entered causes a NullPointerException"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.0**
 - CE or EE: **EE**
 - JDK version: **JDK8**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **x86_64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds here: https://github

[2020-03-27 19:54] sir-ion opened #2298 "Java objects injected in Javascript runtime do not behave as expected"
**Describe GraalVM and your environment :**
 - GraalVM version: **20.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Ubuntu 19.10**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?** No

**Describe the issue**
I'm opening this issue as I have been asked to do so aft

[2020-03-28 02:08] jaikiran commented on #2235
With https://github.com/oracle/graal/pull/2278 merged, I think this can be closed now. I would have done it myself, but I don't know what version/milestone to apply to this issue while closing.

[2020-03-28 08:57] olyagpl commented on #2295
@rmoquin, GraalVM 20.0  distribution for  Windows platforms currently includes the JDK with the GraalVM compiler enabled, the gu utility, JavaScript support and the developer tools (e.g., Chrome inspector based debugger, Profiler, etc.). Node.js support is scheduled to be included in the next GraalVM release (20.1).
The support for other languages  Python, Ruby and R is on the roadmap but we don't

[2020-03-28 09:12] olyagpl commented on #2292
@aitorhh, thank you for the report. The error is reproducible.

[2020-03-28 11:56] #2235 closed

[2020-03-28 13:37] pczmr8v5n454iycf commented on #2223
It is a CLI application that uses a AWT API.

[2020-03-28 14:52] vldF opened #2299 "ExceptionInInitializerError in JMH project"
**Describe the issue**
I'm trying to build native code for benchmarked jar (I'm using JMH for building it). JAR file runs normaly.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone https://github.com/vldF/bench-sample
2. gradle clean
3. gradle jvmBenchmarkJar
4. gradle nativeImage

**Describe GraalVM and your environment:**
 graalvm-ce-java11-20.0.

[2020-03-29 12:21] mikehearn opened #2300 "[LLVM] Can't compile bash 5 using the toolchain"
Using GraalVM EE 20.1-dev  on macOS High Sierra

[code]

I tried building bash 5.0 with the LLVM toolchain. It fails with this error in the final link step:

[code]

It builds fine using a regular macOS toolchain.

**Steps to reproduce the problem**

1. Download [bash-5.0.tar.gz](http://gnu.mirrors.hoobly.com/bash/bash-5.0.tar.gz) source code from GNU.
2. Set PATH to be prefixed with the LLVM tool

[2020-03-29 12:35] mikehearn opened #2301 "[LLVM] Can't compile fish with the LLVM toolchain"
Using GraalVM EE 20.1-dev on macOS High Sierra

[code]

I tried building the fish shell with the LLVM toolchain. It's a C++ app. It fails due to some sort of incorrect header path search order. The cause is that the fish build system creates a file called `version` in the root directory of the build, and there's an identically named file called `version` in the C++ stdlib headers directory. The wr

[2020-03-29 20:43] gdoenlen commented on #2151
Hi I think this might be a windows problem when using the native-image-maven-plugin.

I receive the MAVEN_OPTS error when on windows but packaging the same project on the subsystem for linux does not produce the same error.

[2020-03-30 03:47] jaikiran commented on #2290
This has been fixed in Quarkus 1.3.1.Final which was released a few days back.

[2020-03-30 06:57] galderz commented on #2169
@thomaswue The error appears to be different now (see [here](https://github.com/quarkusio/quarkus/issues/7914#issuecomment-605817754)), but I don't yet know if the issue is still present until I resolved the existing issue now.

[2020-03-30 10:24] olyagpl commented on #2301
Hello @mikehearn,
Do you have command line developer tools from Xcode installed:
$ xcode-select --install

Also, on macOS Mojave, you have to install headers, as system headers aren't provided in standard locations:
$ open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

Could you please try that on High Sierra?

[2020-03-30 11:49] mikehearn commented on #2301
Yes they're installed. I can build fish (and bash) normally, it's only with the GraalVM LLVM toolchain that it doesn't work. So the headers and other tools are available.

[2020-03-30 13:10] galderz commented on #2169
The error is gone after we added the missing dependency and updating graalvm master :)

[2020-03-30 13:25] vjovanov commented on #2169
Thanks for testing it out!

[2020-03-30 13:25] #2169 closed

[2020-03-30 13:57] Andrea-Di-Giacomo commented on #1748
@iustinov Hi, did you just copy the config of the 3 files?
Because I'm trying to make things work but with that config I get a lot of errors in the compilation stage about the runtime loading classes. Am I forgetting something?

[2020-03-31 01:20] danielcompton commented on #1789
Fixed in https://github.com/oracle/graal/commit/7ff42caaa3f09e528af040bc75e2d9f245f967ff.

[2020-03-31 07:55] #2283 closed

[2020-03-31 09:33] rwestrel opened #2303 "Can't run mx gate in graal/compiler anymore"
**Describe the issue**

mx gate fails in graal/compiler

**Steps to reproduce the issue**

mx gate fails with:

Running: mx --java-home /home/roland/openjdk1.8.0_242-jvmci-20.0-b02 pylint --primary
Detected pylint version: 2.4.4
Running pylint on /mnt/ssd/rwestrel/graal-repos/graal/compiler/mx.compiler/mx_compiler.py...
************* Module mx_compiler
mx.compiler/mx_compiler.py:163:12: R1720: Unn

[2020-03-31 09:43] ansalond commented on #2303
Hi @rwestrel, thanks for your report. You are running with Pylint 2.4.4:
[code]

while we run our gates with Pylint 1.9.3:
https://github.com/oracle/graal/blob/master/common.hocon#L47

Could you please try running the gate with Pylint 1.9.3?

[2020-03-31 10:02] rwestrel commented on #2303
Note that I pasted 2 mx gate commands that both fail. The second one skips pylint. So it's not only about pylint.

[2020-03-31 10:03] XiaohongGong opened #2304 "JDK build error after "mx updategraalinopenjdk"."
**Describe the issue**
Updating graal compiler in openjdk, and then building the updated jdk will report the error:

    jdk_src/src/jdk.internal.vm.compiler/share/classes/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/SymbolicSnippetEncoder.java:107:
    error: package org.graalvm.nativeimage does not exist
    import org.graalvm.nativeimage.Platform;

[2020-03-31 10:04] mur47x111 commented on #1829
Sorry for not replying earlier. With the new JVMCI https://github.com/graalvm/labs-openjdk-11/releases/tag/jvmci-20.1-b01 and https://github.com/oracle/graal/commit/6fe68785c8a20ebd905e922d42e6ed22a431702b we are now able to turn on the branch alignment by default on affected CPUs. Latest JDK should contain the necessary patch as well.

[2020-03-31 10:21] ansalond commented on #2303
You are right, there's a bug in `mx_compiler.py`:
[code]

I'll merge it in my next PR. Thanks!

[2020-03-31 12:15] gigt001 opened #2305 "Is there a way to display graal version easily from java"
[code]

[code]

[code]
--------
Is there a way to display the version of graal from java command line ?

What about a graal.ShowVersion that would display the graal version ?

Something like 19.3.1

[2020-03-31 13:18] sdeleuze opened #2306 "Failure when using kotlin-reflect with native images"
**Describe the issue**
It seems non trivial to make Kotlin reflection working with GraalVM native images, and this is an problem for Spring Boot applications. I have isolated the first blocking point I hit with a focused repro using only `kotlin-reflect.jar` with both runtime and build time variants since the errors are different.

**Steps to reproduce the issue**
1. ` git clone https://github.com

[2020-03-31 13:45] rwestrel commented on #2303
Thanks. That fixes the main failure.

[2020-03-31 14:56] helloguo commented on #2142
I'm curious whether the fix will be only included in 20.0.1? Or both 20.0.1 and 19.3.2?

[2020-03-31 14:59] dougxc commented on #2142
It will be in both.

[2020-03-31 15:38] tkrodriguez commented on #2304
This is fixed by the above referenced commit.

[2020-03-31 15:38] #2304 closed

[2020-03-31 17:10] tporeba opened #2307 "OutOfMemoryError is sometimes reported as PolyglotException.isInternalError()"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **19.3.1**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Windows / Linux**
 - Architecture: **x64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes, reproducible

**Describe the issue**
I was

[2020-03-31 21:54] dougxc commented on #2305
When using the GraalVM compiler in the JDK, there is no version other than the JDK version available. This is because the version in the JDK is frozen at some point after which it is disjoint from the GraalVM sources.
To get a version such as 19.3.1 you need to be using a GraalVM binary.

[2020-04-01 00:18] ninja- commented on #1124
just got the same issue after switching from 20.0 to 20.0-java11...

[2020-04-01 06:04] drocsid opened #2309 "Native image app crashes during runtime with `--static` build option in http4s scala application in linux environment"
**Describe the issue**

When building a native image using the --static argument, the application crashes during runtime. I think it might be happening specifically when a SSL POST request is made within the application

**Steps to reproduce the issue**

git clone https://github.com/drocsid/https_example

then to reproduce:

Run `native-image-build-cmd.sh` to build the image. Execute the `native-i

[2020-04-01 06:12] drocsid commented on #2309
When time allows will attempt the solution on https://github.com/oracle/graal/issues/1919#issuecomment-589085506 to use muslc vs glibc and see

and report back if it resolve the issue.

[2020-04-01 08:56] ansalond commented on #2303
Fixed in https://github.com/oracle/graal/commit/c006ed92251fccb602233df452e129353d6f055e.

[2020-04-01 08:56] #2303 closed

[2020-04-01 11:25] gigt001 commented on #2305
Yes, understood. Two idea here :

1) With upgrade every 6 months of the JDK I would like to know easily what is under the hood. What is the difference between Graal of JDK 13.0.2 and let say JDK 14. Should I expect  a better compiled code if both JVM are running the same code with graal compiler or exactly the same because both JVM are built with the very same graal compiler

2) I need to know whi

[2020-04-01 11:45] dougxc commented on #2305
The JBS issues for synchronizing Graal into the JDK all have the title "Update Graal". There is (or should be) a tag in the Graal repo for each of these closed issues (e.g. https://github.com/oracle/graal/releases/tag/JDK-8238355). So if you find the most recent Update Graal issue with a Fix Version denoting the JDK you're interested in, then you will know which version of Graal is in that JDK.

[2020-04-01 13:26] gigt001 commented on #2305
Ok but a simple command line option would not be easier ? A kind of "graal.ShowVersion" ? Or use an existing switch like "graal.ShowConfiguration := verbose" and add in the output the release number ? Sounds like an easy to do improvement that would greatly simply the works

[2020-04-01 13:30] dougxc commented on #2305
Sounds like a good idea to me but is probably best implemented in the JDK since it will have to keep some breadcrumbs around in the binary to know which Graal "version" (really just a Graal commit hash) it is using. @veresov @vnkozlov what do you think?

[2020-04-01 13:55] peter-hofer commented on #1387
@arodionov , should this work with your recent changes?

[2020-04-01 14:03] peter-hofer commented on #2306
@vjovanov , please assign to who is working on Kotlin topics now.

[2020-04-01 14:05] peter-hofer commented on #1940
@aclement @sbrannen you seem to be using this now, could you please give us some feedback? Do you think this is ready to be enabled by default now or did you run into any difficulties?

[2020-04-01 14:06] peter-hofer commented on #1958
Closing because #1940 is fixed. Please give us feedback on #1940 on whether you believe this is ready to be enabled by default now.

[2020-04-01 14:06] #1958 closed

[2020-04-01 14:08] #2077 closed

[2020-04-01 14:09] #1350 closed

[2020-04-01 14:13] peter-hofer commented on #1880
Agent support for resource bundles has been introduced in bd1c10b61cb146e949fef0a1d1b957564328a859.

[2020-04-01 14:13] #1880 closed

[2020-04-01 14:32] bobvandette opened #2310 "Native-image fails on JDK 15 due to ClassLoader changes"
**Describe the issue**
Building and running native-image from the latest Graal and OpenJDK sources no longer works
due to native library loading changes that have been made to the ClassLoader in JDK 15.

**Steps to reproduce the issue**
1. Build the latest GraalVM using JDK binaries built from the latest OpenJDK 15 sources.
2. Run mx native-image Hello

native-image will fail due to missing substi

[2020-04-01 15:26] aclement commented on #1940
Hey. From my point of view I've used it a couple of times. It certainly found more stuff, but it didn't find the thing I needed in at least one situation.  But I haven't seen it make things worse (perhaps feels weird that it finds much more stuff but those entries don't affect the application success). Spring Boot refactored to something that would be caught without this change so it hasn't been a

[2020-04-01 17:23] jeevavenkataraman commented on #1039
Hello, Any updates on this?

[2020-04-01 17:32] sbrannen commented on #1940
TBH, I haven't noticed a difference in the two Spring modules that I modified for unit testing within a native image. I added the `experimental-class-loader-support` option with the hope that it would make my life easier (while I was still getting the tests to pass), but the tests I have in place still run without the option.

So it's obviously not making things worse as @aclement pointed out, and

[2020-04-01 18:46] ltlgobearssf opened #2311 "java.lang.NoClassDefFoundError: jdk/internal/misc/JavaBeansAccess"
graalvm  version graalvm-ee-java11-20.0.0 cannot be used with jdk.internal.misc.JavaBeansAccess class, even  with --add-exports options.  Same code that works in openjdk 11.0.6 and graalvm ce, fails in graalvm ee version graalvm-ee-java11-20.0.0

Repro:
[code]
This can be compiled like this, works both in graalvm and jdk 11.0.6:
**javac --add-exports java.base/jdk.internal.misc=ALL-UNNAMED JBA.jav

[2020-04-01 22:14] dougxc commented on #2311
That's because GraalVM on JDK 11 includes a backport of https://bugs.openjdk.java.net/browse/JDK-8211122.

[2020-04-01 22:17] #2311 closed

[2020-04-02 03:13] pquiring commented on #1859
Still seeing a similar issue with Version 20.0 (JDK11) on Windows.
Although now it seems all files are relative to the folder the program was compiled in, even if the exe is executed from another folder, moved to another folder (or another PC) which causes file not found exceptions.

[2020-04-02 04:58] jaikiran opened #2312 "substratevm project compilation fails on JDK15"
Building the latest GraalVM against JDK 15 runs into compilation error:
[code]

[2020-04-02 05:02] jaikiran commented on #2312
https://github.com/oracle/graal/pull/2313 should fix this.

[2020-04-02 06:50] 38leinaD commented on #1387
I am using graalvm 20.0.0.r11 and facing the same exception on my Quarkus application. It is giving me this exception also when i provide a reflect-config.json.
I was not sure if he is using the config i provided, so i first built a plain simple Java class without Quarkus  just using the SAXParserFactory/SAXParser in the main method. Native-image-generation worked and the application runs; no need

[2020-04-02 07:43] aitorhh opened #2314 "[polyglot] scala sdk support for data types conversions"
**Feature request**

**Is your feature request related to a problem? Please describe.**
The problem is when trying to use graal sdk library withing Scala code. The data conversions between Graal <-> Java <-> Scala are not trivial. Or I am missing something?

**Describe the solution you'd like.**

I would like to have specific functions to convert `org.graalvm.polyglot.Value` to the Scala primitive

[2020-04-02 08:40] sighingnow opened #2315 "CFGPrinter: ArrayIndexOutOfBoundsException for trivial Java program"
**Describe the issue**

CFGPrinter doesn't work as expected for trivial Java program.

HelloWorld.java

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `javac HelloWorld.java`
2. `java -Dgraal.Dump -Dgraal.PrintCFG=true -XX:+UseJVMCICompiler HelloWorld`

**Describe GraalVM and your environment:**
 - GraalVM version: GraalVM CE 20.0.0 (build 11.0.6+9

[2020-04-02 08:43] dougxc commented on #2312
Hi @jaikiran , for future reference, if you have an issue along with a pull request to fix it, there's no need to open a separate issue for it - just put all the details in the pull request.

[2020-04-02 09:58] jaikiran commented on #2312
Will do. Thank you.

[2020-04-02 17:20] vnkozlov commented on #2305
There was discussion about a separate versioning Graal in JDK and the decision was to not do that. Recording a tag (or hash) for some intermittent Graal changes which were integrated into JDK release will not help - it will create more confusion.
In all cases (not just Graal) you have to look for a bug record to find in which JDK release it was fixed.

[2020-04-02 17:39] ltlgobearssf commented on #2311
Got it, thanks for the quick feedback

[2020-04-02 22:41] eginez commented on #2200
Hey @aclement I am trying to fix a patch for this issue but I am getting the following error
[code]

[2020-04-02 23:11] pquiring opened #2316 "[native-image] relative paths are based on compile time and not run-time working folder"
Relative paths created are based on the working folder at compile time and not during run-time.
Using graal 20.0 JDK 11 (Windows).

test.java
[code]

Sample Output:

[code]

The output from the native test.exe that is executed from \bug\folder creates paths based on the directory that native image was created (\bug), even if the exe is copied to another PC causing file not found exceptions.

This

[2020-04-03 07:29] pejovica commented on #2316
Thanks for the report @pquiring. I'll look into it.

[2020-04-03 12:03] sdeleuze commented on #2200
I think you should use `master` since `extensible-configuration` has been merged in it and active development is on `master`. Also the artifact is now just `spring-native-graal` see updated documentation in https://github.com/spring-projects-experimental/spring-graal-native.

[2020-04-03 14:45] olyagpl commented on #2165
@Leznodc, your suggestion has been followed https://www.graalvm.org/docs/getting-started/#install-graalvm. We mention also the prerequisites for using Native Image on Windows.
Thank you,
Olya

[2020-04-03 14:45] #2165 closed

[2020-04-03 15:51] eginez commented on #2200
perfect I will try from master thanks @sdeleuze

[2020-04-03 17:37] eginez commented on #2309
Great let us know if you still have a problem after switching to muslc, we are closing this issue for now

[2020-04-03 17:37] #2309 closed

[2020-04-03 20:45] eginez commented on #2200
https://github.com/oracle/graal/commit/69794db183e49551cc31b7c5aa122cd332c863f0 merges a fix for the above. The spring project no longer fails with the NullPointerException. Further for unlinked methods an error will be returned

[2020-04-03 20:46] #2200 closed

[2020-04-04 01:01] drocsid commented on #2309
I'm building the bundle and my app and test against it now. But I think this is really a bug. It seems necessary to build a bundle with the --static flag. Then you should probably make the bundle path part of the static flag arguments and document it right there.

[2020-04-04 02:56] drocsid commented on #2309
I made successful requests after building with muslc using my host OS gcc libstdc++.a . Then I think it did resolve the issue but will watch more requests in production.

[2020-04-05 14:25] kittylyst opened #2318 "Compiled image crashes at runtime with UnsatisfiedLinkError when using the JFR API"
Calling certain native methods from within the Java 11 JDK's JFR libraries causes an UnsatisfiedLinkError at runtime.

1. git clone https://github.com/kittylyst/jfr-parser_repro_case_graalvm_linkage_bug-bevans.git
2. mvn clean compile assembly:single
3. java -jar target/jfr-graal-repro-0.1.0-jar-with-dependencies.jar <JFR file containing TLAB allocs>
4. native-image --verbose --native-image-info -

[2020-04-05 14:32] albogdano commented on #2164
Probably related to this issue (same version GraalVM 20.0.0/jdk11):
The first time I ran a large batch import job this happened:
[code]
Then I ran it again and I got this:
[code]
[hs_err_pid12885.log](https://github.com/oracle/graal/files/4434027/hs_err_pid12885.log)

[2020-04-06 08:49] gilles-duboscq commented on #2164
@albogdano i'm not sure that's related.
In your hs_err it looks like there is a problem with the JDWP agent when starting a JVMCI compiler thread.
Some possible issues:
* it's running in libgraal mode so that JavaThread might look a little unusual?
* there's been a GC between the creation of the thread and the time the thread creation was reported to the agent, maybe there's a naked oop somewhere?

[2020-04-06 11:45] peter-hofer commented on #1940
Thanks @aclement and @sbrannen! If you run into an issue where this option breaks something or doesn't seem to work as intended, please let us know.

[2020-04-06 12:12] olpaw commented on #2318
It's the same on Linux. It fails because it relies on the native method implementation for
`jdk.jfr.internal.JVM.getTypeId` which we currently do not support when building native images. I.e. none of the static jdk libs that we link the image against provides `Java_jdk_jfr_internal_JVM_getTypeId` (hotspot finds the symbol in `lib/server/libjvm.so` as `jfr_type_id (accessed via JNI Java_jdk_jfr_int

[2020-04-06 12:28] kittylyst commented on #2318
Thanks for such prompt attention - it's really appreciated!

The case that I'm interested in is after-the-fact parsing of a JFR dump file, not live handling of JFR events within a Graal native image. My understanding is that what we're actually looking at here should be the klassid's of the JVM that produced the dump file (which is no longer running). Does that help at all? This should just be fil

[2020-04-06 12:53] olpaw commented on #2318
Yes that's also what I see. This is triggered by https://github.com/kittylyst/jfr-parser_repro_case_graalvm_linkage_bug-bevans/blob/240d36c88aa0108230d5f4175b08ccf585b2c7d3/src/main/java/com/newrelic/jfr/summarizers/PerThreadObjectAllocationInNewTLABSummarizer.java#L37
The implementation of `RecordedObject.getLong` uses `jdk.jfr.ValueDescriptor.isUnsigned` and that leads to `jdk.jfr.internal.Annot

[2020-04-06 13:14] kittylyst commented on #2318
After staring at this for a bit and some more coffee - I think I see what's happening here:

The first for-loop is an attempt to give better guarantees for the case where the RecordedEvent was generated by the currently running JVM (e.g. the Java 14 Streaming case) - but if that fails, as it always will for the "cold case" parsing case, then the second for loop kicks in and does the best it can, w

[2020-04-06 13:19] olpaw commented on #2318
I'm no JFR expert but that's also hows I read this code.

[2020-04-06 13:20] chbatey commented on #2028
I also get an unsatisfied link error with GraalVM 20.0.0.

I've treid various gRPC java versions and get this at runtime:

[code]

[2020-04-06 14:28] christianwimmer commented on #2318
We have some intrinsifications in `SubstrateGraphBuilderPlugins` to remove the instrumentation that JFR is doing, so that enabling JFR at image build time does not leak into images. The package names there are for JDK 8 and changed for JDK 11, so the first step is to enable these intrinsifications also for JDK 11. Then there might be more intrinsifications necessary if the JFR implementation got e

[2020-04-06 16:39] tporeba commented on #2224
@christianwimmer Any recommendations on how much memory give to the `libgraal.Xmx` ? What are the defaults? What resources should I give to this SVM heap for a relatively lightweight java process with java heap of 128MB?

[2020-04-06 18:25] dougxc commented on #2224
@tporeba you could add the `-Dlibgraal.PrintGC=true` to see what GC is happening in libgraal and use that to experiment with different heap values for libgraal.

[2020-04-06 19:26] eginez commented on #2243
There seems to be a bug in the `getDeclaredAnnotations` API. Conversly both `getAnnotations()` and `getAnnotations(Class<?>)` does report the expected result

[2020-04-06 20:00] #1917 closed

[2020-04-06 22:21] #2312 closed

[2020-04-07 00:03] christianwimmer commented on #2224
The maximum heap size (`Xmx`) is not much of a concern since the GC does not fill it up, but instead balances incremental and full GC time. What you want to set is the young generation size (`-Xmn`) which is always filled before a GC. The default young generation size is 256 MByte.

An appropriate value depends on the number of compilation threads (which depends on the number of cores). Currently

[2020-04-07 00:44] drocsid commented on #779
Hello, I'm setting a system property -Dlogback.configurationFile="./logback.xml". When I run my application as a jar with this property argument it respects the logback configuration. But when I run my native image ./binary -Dlogback.configurationFile=./logback.xml it is not respecting the configuration. I think this is contradicting the discussion above. Can someone chime in?

[2020-04-07 00:44] drocsid commented on #779
@olpaw ^^

[2020-04-07 08:12] olpaw commented on #779
I depends. Where in Java code is system property `logback.configurationFile` used. Is that code probably already executed at at image build-time and thus it's build-time value baked into the native-image? In this case providing a custom value at image-run-time would not have any effect (change what got already determined at image-build time).

[2020-04-07 08:15] fniephaus opened #2319 "[igv] NPE in LocationOpener$openAtLine"
IGV version: 20.0.0

Happens when I click on "Navigate to Source" via "Stack View".
Workaround: Restart IGV.

[code]

[2020-04-07 08:17] TheGoesen opened #2320 "JDWP/jvmti crashes"
**Describe the issue**
I debug my java application using intellij. If I use adoptopenjdk the application runs fine. If I use graal I get roughly one crash per day.

JDWP exit error AGENT_ERROR_NULL_POINTER(201): thread list corrupted [:2148]
FATAL ERROR in native method: JDWP thread list corrupted, jvmtiError=AGENT_ERROR_NULL_POINTER(201)

**Steps to reproduce the issue**
No specific pattern to re

[2020-04-07 09:21] tporeba commented on #2224
@christianwimmer Thank you for your advice.

Now I'm running with `libgraal.Xmx` set to ~50MB, which solved my initial problem of unrestricted growth of native memory. But dig into the subject to understand what is the price I pay (in terms of performance probably).

This a 4 core system.

I didn't restrict `libgraal.Xmn`, so I guess it is effectively `libgraal.Xmn`==`libgraal.Xmx`==50MB for me no

[2020-04-07 11:54] gradinac opened #2321 "JVMTI Agent Framework"
Java agents are tools that attach to and can monitor and alter the state of a running JVM. One kind of these agents is a JVMTI agent - JVM Tool Interface agent ([Java 11 JVMTI spec link](https://docs.oracle.com/en/java/javase/11/docs/specs/jvmti.html)). These agents can be written in any language that supports C calling conventions and C/C++ definitions.

As such, we can write them in Java and com

[2020-04-07 17:45] asadganiev commented on #403
Guys, how to contribute in solving this issue?

[2020-04-07 19:29] eginez commented on #2234
All https://github.com/oracle/graal/commit/03d7d0cb244941f1a2835844b9889bb3d06b003a adds complete support for time zones in native-image. Do test it and let us know if you are still having problems with this.

[2020-04-07 19:29] #2234 closed

[2020-04-07 19:31] eginez commented on #1833
This is no longer an issue after https://github.com/oracle/graal/commit/03d7d0cb244941f1a2835844b9889bb3d06b003a

[2020-04-07 19:31] #1833 closed

[2020-04-07 20:46] didibus commented on #403
@asadganiev

The great thing is: you don't need to wait. All of this is open source. If you feel it's not going fast or good enough, you can contribute and make it happen. See https://github.com/gluonhq/substrate, bottom of that page for instructions on how to contribute.

[2020-04-08 12:16] rmoquin commented on #2295
Gotcha, thanks.  It wasn't clear in the docs that this wasn't ready yet on Windows.  Thanks for letting me know! Looking forward to being able to try it out.

[2020-04-08 12:16] #2295 closed

[2020-04-08 12:47] sbrannen commented on #2234
I wanted to try it out with "GraalVM CE 20.1.0-dev-20200407_0218" (on Mac OS)...

[code]

... but I get the following during the native image build.

[code]

[2020-04-08 15:56] justinnichols opened #2325 "Spring Boot on GraalVM - Disabling Forks During test Phase Displays Classpath Error"
**Preface**

Given that it requires Spring Boot in the mix, I cannot say for certain if this is an issue with Spring Boot, or an issue with GraalVM.  It was suggested on Slack by @chumer to go ahead and submit this issue just in case.

**Repo with example project**

https://github.com/justinnichols/graalvm-mvn-test-bug

**Issue**

In order to breakpoint debug the test phase of a maven project in I

[2020-04-08 16:22] eginez commented on #2234
@sbrannen I can't reproduce your issue running on the latest master. In fact this seems like a different problem. If that is the case would you mind opening a different issue for it?

[2020-04-08 16:54] vjovanov commented on #2234
This issue shows up when you run with the agent and this class gets into your reflection config. Try removing this class from the config. @peter-hofer what is the best place to filter this type out in the agent?

[2020-04-08 18:56] peter-hofer commented on #2234
@vjovanov there already is a filter for that class in `AccessAdvisor.shouldIgnoreJniMethodLookup` courtesy of @tzezula , and accesses from within `org.graalvm.compiler.**` are filtered anyway. Sounds like a regression.

[2020-04-08 23:21] Leznodc commented on #2165
Thanks.

I stopped using it from windows anyway. Running into Ubuntu in Virtual Box
is far easier.

Regards

Le ven. 3 avr. 2020 à 16:45, Olga Gupalo <notifications@github.com> a
écrit :

[2020-04-09 10:32] konevts opened #2326 "Apache POI and GraalVM"
**Feature request**

Hi!

I have small enterprise project based Quarkus and have some issuies with couple of Apache POI and GraalVM.

I created an issue on git hub https://github.com/konevts/apache-poi-quarkus/issues/2

Thanks for your job!
Konstantin

[2020-04-09 12:58] sdeleuze opened #2327 "Code removal regression"
It seems there is a big regression at code removal level between 19.3.1 and 20.0.0. The reports mentioned are available in https://github.com/sdeleuze/graal-issues/tree/master/code-removal-regression.

The very same [jafu](https://github.com/spring-projects-experimental/spring-graal-native/tree/master/spring-graal-native-samples/jafu) example:

With GraalVM 19.3.1:

- Image build time: 36.2s
- RSS

[2020-04-09 14:55] rbotafogo opened #2329 "Code installation failed: code is too large"
**Describe GraalVM and your environment :**
 - GraalVM-ce-java11-20.0.0
 - CE
 - JDK version: 11
 - OS Ubuntu 18.04
 - amd64
 - The output of `java -Xinternalversion`: OpenJDK 64-Bit Server VM (11.0.6+9-jvmci-20.0-b02) for linux-amd64 JRE (11.0.6+9-jvmci-20.0-b02), built on Jan 20 2020 20:06:41 by "buildslave" with gcc 7.3.0

[truffle] opt fail         calc_element

[2020-04-09 16:26] ninja- commented on #2265
I think the same problem was with netty(Random number generator?) and they manually blacklisted relevant classess from `build-time initialization`. So the main question should be - is there any GraalVM-managed blacklist of such classess, or is it up to user to blacklist these classess everytime?

[2020-04-09 16:39] eginez commented on #2327
@arodionov do you think this is related to your recent commit on xml packages?

[2020-04-09 16:53] fniephaus commented on #2329
Steps to reproduce would be helpful, as well as the language(s) you're using. Where does "calc_element" come from?

[2020-04-09 16:57] tpolecat commented on #2132
@crowlogic could you share your solution to `java.lang.NoSuchMethodError: javax.xml.bind.annotation.XmlType.factoryClass` above? I am stuck at the same place.

[2020-04-09 16:59] crowlogic commented on #2132
@tpolecat I abandoned jaxb altogether and switched to another mechanism, com.fasterxml.jackson.dataformat.javaprop.JavaPropsMapper

[2020-04-09 18:03] warrenc5 commented on #2190
I want to build a context with a custom filesystem to load file resources from the network/classpath.
I noticed it was an interface so I created a java.lang.reflect.Proxy for FileSystem to intercept a few methods and went looking for the Contexts "default" FileSystem to delegate to.
But I saw NIOFileSystem in Engine and it's Impl is a heavily decorated nio.spi.FileSystemProvider.
And the engine is

[2020-04-09 18:18] deepj opened #2331 "gosu: Missing LLVM builtin: llvm.objc.autoreleasePoolPush (IllegalStateException)"
[code]

To reproduce:

[code]
Note: `sdl2` needs to be installed on your OS

Error:

[code]

[2020-04-09 18:20] eregon commented on #2331
@deepj Thanks for the report. I moved this issue to the Sulong tracker.

[2020-04-09 23:51] eginez commented on #2243
should be fixed with https://github.com/oracle/graal/commit/c78d5fd611f8bfc1f449f7f7655f44644497fb55

[2020-04-10 00:00] DoctorW00 opened #2332 "nativ-image java 8 graalvm 20.0.0 win64 static compile error"
bin\nativ-image --static -jar c:\myjar.jar

`Error: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported field java.net.URL.handlers is reachable
To diagnose the issue, you can add the option --report-unsupported-elements-at-runtime. The unsupported element is then reported at run time when it is accessed the first time.
Detailed message:
Trace:
        at parsing java.net.URL.set

[2020-04-10 02:26] iwangxiaodong opened #2333 "Windows 10 OS Locale switch to Chinese, Execute *.exe throw java.lang.NoSuchMethodError: java.lang.String.([B)V on Runtime"
**Describe the issue**

My windows 10 OS Locale is **Chinese (simplified, China)**,

Though Graal native-image **build is succeeded**,

But runtime execute hi.exe is NoSuchMethodError.

I switch OS Locale to **English** it works!

**Steps to reproduce the issue**

First switch OS Locale to Chinese (simplified, China)

  SET GRAALVM_HOME="G:\...\graalvm-ce-java11-20.0.0\"
  SET PATH="%PATH%;%GRAALV

[2020-04-10 07:36] ziyilin opened #2335 "Agent missed reflections in clinit"
**Describe the issue**
Agent intercepts java.lang.Class.forName method and executes _forName(className, **true**, classloader)_ inside Agent. If there are other reflection, resource, proxy or jni calls in the target class' static initializer, Agent will miss them and lead to native-image runtime failure.
This issue can be fixed by this proposed PR https://github.com/oracle/graal/pull/2334
**Steps

[2020-04-10 12:31] jendrikw opened #2336 "Confusing error message when allocating large amounts of memory in Wasm"
Compile the following C code with `clang` from the [wasi-sdk](https://github.com/WebAssembly/wasi-sdk) and the flags `-O3 -fno-builtin-malloc -nostartfiles -Wl,--no-entry -Wl,--export=main`

[code]

Call the WebAssembly with this Java code:

[code]

I get the following error message:

[code]

The negative number is confusing and should be printed unsigned.

[2020-04-10 14:25] sbrannen commented on #2243
Great news, @eginez!

I'll try it out...

[2020-04-10 15:00] #2310 closed

[2020-04-11 04:32] warrenc5 commented on #2147
There a few blockers
truffle has it's own FileSystem which prevents package access however you can set a FileSystem in the context builder.
module resolution wants to relativize the module path to the referer.
The TruffleLanguage Environment and FileSystem deals in Paths.
Instead of jar:/file.jar!resource.txt The url scheme handler for resource: is available in the native image.
(
https://github.c

[2020-04-11 07:42] warrenc5 commented on #2147
I have copied NIOFileSystem from Graal and URLChannel from Jcodec.

[](https://github.com/warrenc5/jain-slee-js/blob/master/src/main/java/MyFileSystem.java)

Here is a summary of the modifications I made.

1. there is a resource: schema handler to load resources out of the native image.
2. import '/resource:js/index.js' - the / prefix is to prevent the FileSystem from resolving it as a relative pa

[2020-04-11 10:33] warrenc5 commented on #2131
Hi, I think I also may have this issue.
I'm using

[code]

And

 `System.err.println("available " + scriptEngineManager.getEngineFactories().stream().map(f -> f.getLanguageName() + " " + f.getEngineName() + " " + f.getEngineVersion()).collect(toList()).toString());
`

results in

However I can get an engine with
`engine = scriptEngineManager.getEngineByName("nashorn");`

but "js" returns null engi

[2020-04-11 16:26] phamvanthanh commented on #403
Hi have the same problems

Built successfully with **x86_x64 Cross Tool Command Promt for VS 2019**

Any solutions, guys?

[code]

[2020-04-11 17:47] tsatatwer commented on #403
@phamvanthanh

The great thing is: you don't need to wait. All of this is open source. If you feel it's not going fast or good enough, you can contribute and make it happen. See https://github.com/gluonhq/substrate, bottom of that page for instructions on how to `contribute.`

OR wait loooooong .... sorry we are in waiting since two years .

[2020-04-11 20:43] DoctorW00 commented on #2332
Same error occurs on Ubuntu Linux using Java 11 (openjdk 11.0.6 2020-01-14).

[2020-04-12 02:51] phamvanthanh commented on #403
Is this one symtom of missing native libs?
@tsatatwer
indeed

[2020-04-12 10:37] tsatatwer commented on #403
@phamvanthanh   check this maybe it helps hopefully :
 **https://github.com/Wooyme/jfx-native-image-demo**

[2020-04-12 15:24] phamvanthanh commented on #403
@tsatatwer
Thanks
Build exe without any erros but could not work.

[2020-04-13 04:58] ninja- opened #2339 "Compilation fails on native-image java11 with java.lang.Class.annotationData problem"
**Describe the issue**

When switching build from java8 to java11, it fails with this error.
I needed to enable assertions to get this stacktrace.

[code]

**Steps to reproduce the issue**
Not sure yet. I am trying to get a minimal reproducer, as my classpath is super large.

**Describe GraalVM and your environment:**
 - GraalVM version (latest snapshot builds can be found [here]
20.0.0-java11 fro

[2020-04-13 05:14] ninja- commented on #2339
I think that's an edge case for java.lang.Class, which unlike all other classess does not have a superclass?
https://github.com/oracle/graal/blob/a6fefe14fb58e5f78b2d5d12467a9510d0722a2d/substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/meta/AnalysisType.java#L877
^ following 2 methods are suspicious

[2020-04-13 12:16] davsclaus opened #2340 "[GR-51563] Use human readable output for time to compile"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**

When compiling the output is reported in milli seconds for both each individual steps and the total time at the end.

**Describe the solution you'd like.**

I would like to see the time taken in human readable format where its reported in minute:seconds.

For example

[2020-04-13 12:24] sbrannen commented on #2243
I can confirm that the example now works with GraalVM CE 20.1.0-dev-20200411_0336.

[2020-04-13 12:26] sbrannen commented on #2234
I can confirm that the example now works with GraalVM CE 20.1.0-dev-20200411_0336.

[2020-04-13 13:48] a701440 commented on #2320
I have the same issue running 20.0 on MacOS. Testing javascript embedded in a java app. I use VisualVM to sample the CPU. If I put some load on the app at around 5 concurrent requests the entire JVM crashes and the only info I get in the logs is this:

20200413.093014 JDWP exit error AGENT_ERROR_NULL_POINTER(201): thread list corrupted [:2148]
20200413.093014 FATAL ERROR in native method: JDWP thr

[2020-04-13 14:23] sbrannen commented on #2234
Indeed, the following now shows up in `jni-config.json` when running with the agent.

[code]

I removed the entry for `SVMToHotSpotEntryPoints`, and the native image build succeeded.

Sure, I'll open a new issue for that regression.

[2020-04-13 15:05] sbrannen commented on #2243
Well, I spoke too soon.

The change in the commit did in fact cause the original example in this issue to pass; however, it causes 33 failures in the native image test run for `spring-core` in the Spring Framework.

If you change the examples to look like this (where the `@Inherited` annotation is only present on the superclass)...

[code]

Then the output in a normal JDK is:

[code]

But the outp

[2020-04-13 18:09] sbrannen opened #2341 "Regression: native image agent adds SVMToHotSpotEntryPoints to jni-config.json"
# Overview

As mentioned in the discussion following https://github.com/oracle/graal/issues/2234#issuecomment-610938442, the native image JVM agent now produces an entry for `org.graalvm.compiler.hotspot.management.SVMToHotSpotEntryPoints` in `jni-config.json`, resulting in the following during the native image build.

[code]

I unfortunately do not have a simplified example to reproduce this regr

[2020-04-13 18:10] sbrannen commented on #2234
See https://github.com/oracle/graal/issues/2341

[2020-04-14 04:29] christianwimmer opened #2342 "Initialize classes with simple side-effect-free class initializers before static analysis"
In the native image generator, classes that have side-effect free class initializers should be initialized as early as possible so that the static analysis already sees them as initialized and can constant fold.

Before static analysis, we are restricted to intraprocedural analysis. But method inlining helps: we can inline statically bound methods to grow the analysis scope. If after such inlining

[2020-04-14 07:26] DoctorW00 commented on #2332
Warning: Reflection method java.lang.Class.forName invoked at org.apache.commons.logging.LogFactory.createFactory(LogFactory.java:1146)
Warning: Reflection method java.lang.Class.forName invoked at org.apache.commons.logging.LogFactory.createFactoryStore(LogFactory.java:331)
Warning: Reflection method java.lang.Class.forName invoked at org.apache.commons.logging.LogFactory.class$(LogFactory.java:1

[2020-04-14 07:51] olpaw commented on #2332
@DoctorW00 this sounds like something worth investigating. But without steps to reproduce we cannot do much. Please provide a proper native-image issue as described by template: https://github.com/oracle/graal/issues/new?assignees=&labels=bug%2C+native-image&template=1_issues_native_image.md&title=

[2020-04-14 12:39] spangaer opened #2344 "SIGSEGV during G1 GC after running for a long time (2-3 weeks)"
**Describe the issue**
After running 2-3 weeks (no exact timing) 2 out of 3 equal processes crashed so far. On after 16 days, one after 20 days. Due to a segmentation fault during GC.

**Describe GraalVM and your environment:**
 - GraalVM version: **CE 19.3.1**
 - JDK major version: **8**
 - OS: **Ubuntu 16.04 container on top of Amazon Linux 2**
 - Architecture: **AMD64**

**More details**
Stripp

[2020-04-14 13:47] #2218 closed

[2020-04-14 13:55] dougxc commented on #2344
@tkrodriguez can you think of any GC related  changes since 19.3.1 that may address this?

[2020-04-14 17:44] pquiring commented on #2316
I think the problem is with useCanonPrefixCache which is defined at:

https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/FileSystemProviderSupport.java#L434

Try disabling it for Windows too.

[2020-04-14 19:00] pquiring commented on #2316
Nope that wasn't it.

[2020-04-14 20:27] warrenc5 opened #2345 "[native-image] java.lang.ref.SoftReference - Static field or an object referenced from a static field changed during native image generation"
**Describe the issue**
I don't know how to describe this issue. So here is the stack trace and code.

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
git clone https://github.com/warrenc5/jain-slee-js.git
./test.sh will run mvn -Pgraal clean install
mvn -Prun  builds and runs the program with the graal agent

go.sh is the command as output from the plu

[2020-04-14 20:28] tkrodriguez commented on #2344
Not really.  It's a bit unclear what's gone wrong.  The call stack doesn't make a lot of sense since it seems like there must be a couple frames missing.  We've gone from [here](https://ol-bitbucket.us.oracle.com/projects/g/repos/graal-jvmci-8/browse/src/share/vm/gc_implementation/g1/concurrentMark.cpp##2609) to [here](https://ol-bitbucket.us.oracle.com/projects/g/repos/graal-jvmci-8/browse/src/sh

[2020-04-14 20:42] warrenc5 commented on #2341
If I run the agent with this project
https://github.com/warrenc5/jain-slee-js.git
mvn  -Prun
I get the same error in target/native/jni-config.json
[code]

[2020-04-14 23:02] pquiring commented on #2316
Looks like java.io.WinNTFileSystem.userDir needs to be re-initialized during run-time.  Trying to figure out how to do that.

[2020-04-15 00:28] warrenc5 commented on #2345
I was able to get the image to build with these native-image arguments
[code]

If this is not a bug.. Happy for you to close this :)
Thanks Graal Team!!!

[2020-04-15 01:32] sleipnir commented on #2267
Hi @Konstantin773  Why was this closed? Was it a bug or was it not? I would like to know

[2020-04-15 05:06] spangaer commented on #2344
The error file also contains a hex stack.
Would it help if I provide that?
It looks consistently the same, excluding some offset.

[2020-04-15 07:19] spangaer commented on #2344
By which I mean

[code]
and
[code]

[2020-04-15 11:07] olyagpl commented on #1852
We have included the prerequisites for using Native Image on Windows platform for both  Java 11 and Java 8 GraalVM builds: https://www.graalvm.org/docs/reference-manual/native-image/#prerequisites
Thank you for sharing user experience!

[2020-04-15 11:13] borkdude commented on #1852
Thanks!

[2020-04-15 11:44] #1852 closed

[2020-04-15 11:56] olyagpl commented on #333
@jlovejoy , the question of licensing for Substrate VM has been clarified - Substrate VM is licensed under the GPL 2 with Classpath Exception and source files are marked as  "Oracle designates this particular  file as subject to the "Classpath" exception ...".

Thank you!

[2020-04-15 12:17] viktorklang commented on #1715
Seconded. I'm currently having issues trying to track down which of my dependencies is trying to add a substitution to something which clashes somehow. Headache.

[2020-04-15 14:34] pejovica commented on #2316
@pquiring Yes, the `userDir` field is the culprit. The fix will be merged shortly.

[2020-04-15 15:28] ppalaga opened #2347 "[native-image] Add -H:ExcludeResources option"
**Feature request**

`native-image` currently supports the `-H:IncludeResources` and `-H:ResourceConfigurationFiles` options documented in [RESOURCES.md](https://github.com/oracle/graal/blob/master/substratevm/RESOURCES.md#accessing-resources-in-substrate-vm-images )
These options allow to include resources via one or more regular expressions.

I'd like to propose to add a way to restrict the sele

[2020-04-15 15:47] pquiring commented on #2316
I tested the changes and it works!  Thanks!

[2020-04-15 17:06] linux-china opened #2348 "WebAssembly WASI Module support"
The last  WASI  specification is wasi_snapshot_preview1  on https://github.com/WebAssembly/WASI/tree/master/phases/snapshot

It's almost stable and lots of Wasm runtime support wasi_snapshot_preview1, such as wasmtime, wasmer, Node.js 13.3.0+ etc.

Any plan to implement WASI Module in GraalWasm?   Thanks.

[2020-04-15 19:17] tkrodriguez commented on #2344
Can you just attach the complete hs_err file?  The register section might provide some clues as well.  It sort of looks like mark_on_stack is being called with NULL which the JVMCI code guards against.

[2020-04-15 21:27] kittylyst commented on #2318
I've updated the test repo with a dummy impl and tried to force native-image to link the extra symbols - but no luck. Is there an obvious way to force this? And should I be using a static or shared library for this?

[2020-04-16 03:03] #2321 closed

[2020-04-16 07:09] spangaer commented on #2344
[hs_err_pid28-red.log](https://github.com/oracle/graal/files/4485409/hs_err_pid28-red.log)
[hs_err_pid25-red.log](https://github.com/oracle/graal/files/4485411/hs_err_pid25-red.log)

There you go. I have still redacted the JARs on the classpath as I'm somewhat uncomfortable with exposing every lib-version we use and theoretically that part shouldn't make a difference, right?

[2020-04-16 09:09] sdeleuze commented on #2341
This error can be reproduced with our `commandlinerunner-agent` sample from [`spring-graal-native`](https://github.com/spring-projects-experimental/spring-graal-native):
 - `git clone https://github.com/spring-projects-experimental/spring-graal-native.git`
 - `./build.sh`
 - `cd spring-graal-native-samples/commandlinerunner/agent`
 - `./build.sh`

[2020-04-16 11:45] olpaw commented on #2318
@kittylyst I fixed that for you:
https://github.com/olpaw/jfr-parser_repro_case_graalvm_linkage_bug-bevans

[2020-04-16 11:47] viktorklang commented on #2345
Ran into this one as well with 20.0.0

[2020-04-16 11:51] olpaw commented on #2318
With the changes on my fork you can build with:
[code]
Then run the native image with
[code]

[2020-04-16 11:54] olpaw commented on #2318
Note that in addition to providing a dummy implementation for `jdk.jfr.internal.JVM#getTypeId` you also needed a proxy configuration for the dynamic proxy that is used by your application code. See: https://github.com/olpaw/jfr-parser_repro_case_graalvm_linkage_bug-bevans/blob/master/src/main/resources/META-INF/native-image/proxy-config.json

[2020-04-16 13:06] bavarianpumukel opened #2350 "windows 10 visual studio 2019 pro builds nothing [graalvm-ce-java11-windows-amd64-20.0.0]"
Situation: installed
graalvm-ce-java11-windows-amd64-20.0.0
native-image-installable-svm-java11-windows-amd64-20.0.0.jar
Windows 10 Prof, Visual Studio 2019 Pro.
no other jdk/jre installed.

Build using
x64 Native Tools Command Prompt for VS 2019
a build of a helloWorld-Style .class builds nothing...
native-image helloWorld michi2.exe
output...

[michi2.exe:9240]    classlist:   2,810.18 ms,  1.00

[2020-04-16 13:09] kittylyst commented on #2318
That's got it fixed. Thanks for the patch @olpaw - PR'd & merged to the test repo. I think we can go ahead and close this issue now?

[2020-04-16 13:17] christhalinger commented on #2066
Totally forgot about this one. This fixes the issue.

[2020-04-16 13:55] #2318 closed

[2020-04-16 14:28] gradinac opened #2353 "Musl-based static native-images no longer compile on master."
Due to changes on the master branch, musl-based static native-images no longer compile on master.

There are currently two known issues:
 - The specified compiler options are now also passed to the query code compiler. This results in the duplication of some options passed over to GCC.
 - A GNU specific optimization that has been added to the `PosixTruffleNFIFeature`.

[2020-04-16 18:29] DoctorW00 commented on #2332
I do you one better and get you the source code https://github.com/DoctorW00/jSFDLSauger/releases/tag/1.0.1

[2020-04-16 19:28] #2316 closed

[2020-04-16 21:05] aclement opened #2355 "native-image failing with unexpected CNFE when analyzing default methods"
**Describe the issue**
We are compiling our app with `--allow-incomplete-classpath --report-unsupported-elements-at-runtime`. However it still reports CNFE at image build time like this:
[code]

The default method can be found in https://github.com/spring-projects/spring-framework/blob/master/spring-tx/src/main/java/org/springframework/transaction/reactive/TransactionalOperator.java - it is the on

[2020-04-16 21:10] eginez commented on #2355
This is happening in the `vanilla-tx` example

[2020-04-16 21:14] christianwimmer commented on #2265
Answering here an email sent to the GraalVM-dev mailing list: https://oss.oracle.com/pipermail/graalvm-dev/2020-April/000049.html

Usually the problem for such issues is that a class that caches state in a static field needs to be re-initialized at run time. The class `UUID.Holder`, i.e., the actual holder of the `SecureRandom` instance, cannot be the problem because https://github.com/oracle/graa

[2020-04-16 21:34] arodionov commented on #2327
Yes, this regression is related with the following Feature that enables XML support https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/config/JavaxXmlClassAndResourcesLoaderFeature.java

[2020-04-16 22:08] aclement commented on #2355
my mistake - i didn't use a rebuild of todays graals master. Instead I built a fresh version of the 20.0 tag (so I could include some debugging). sorry!

[2020-04-16 22:14] #2355 closed

[2020-04-16 22:25] #535 closed

[2020-04-17 02:57] jamesward commented on #2345
Ran into this as well but the arguments above didn't resolve it.

[2020-04-17 03:46] jamesward commented on #2345
The fix for me was:
[code]

Which was weird because the error message didn't seem to indicate that but somehow I had another Scala app that led me to that.

[2020-04-17 04:03] #2066 closed

[2020-04-17 07:25] #2332 closed

[2020-04-17 07:36] Karm commented on #2265
@christianwimmer Thank you for the detailed answer, I will be looking into it further.

[2020-04-17 09:50] peter-hofer commented on #2341
Thanks, I'm also seeing more issues like this one with the fix for #2334/#2335, so I hope I can fix this long-term with a filter.

[2020-04-17 10:59] bavarianpumukel commented on #2350
A classical.: Solution is: Back to VM-Hypervisor Snapshot version minus one to keept your system clean again - may not the problem but for the sake of regaining trust in the vc toolchain... then turn  your anti-virus off! I it prevents generation of the binary -without any popup, message.... I've shout down it and remove *all* the graal & java related from the blocking function of the anti-virus..

[2020-04-17 10:59] #2350 closed

[2020-04-17 11:04] arodionov opened #2356 "SpringBoot classloaders initialization at build time leads to image heap polution"
The `native-image` by default burns the set of classloaders: `sun.misc.Launcher$ExtClassLoader`, `sun.misc.Launcher$AppClassLoader`, ....
If `ClassLoader.registerAsParallelCapable()` is enabled, classloaders uses `ClassLoader#parallelLockMap` during parallel classes registration.
As a result, the `ClassLoader#parallelLockMap` contains several thousand of String->Object entries and all these entrie

[2020-04-17 12:13] Karm commented on #2265
@christianwimmer Thanks again. I have a working fix. Testing it now with JDK8 too... (I used just JDK 11 before).

[2020-04-17 12:16] tzezula commented on #2325
Thanks for the report.
The JavaScript language is not found because the polyglot SDK is using an invalid polyglot.
The invalid polyglot is used because the Spring boot provides the `IsolatedClassLoader` as a context class loader and the `ServiceLoader` is not able to find out the `PolyglotImpl` in this class loader.
Setting the Thread’s context class loader to the system class loader before creati

[2020-04-17 12:16] #2325 closed

[2020-04-17 13:29] sdeleuze opened #2357 "Make it possible to initialized proxified interfaces at runtime"
In an application that is using runtime initialization by default, it seems that proxified interfaces must  be initialized at build time. It is expected that proxies are created at build time, but I don't think this limitation about initialization makes sense.

This behavior can be reproduced with our `vanilla-tx` sample from [`spring-graal-native`](https://github.com/spring-projects-experimental/

[2020-04-17 14:04] dpasdar commented on #691
Since version 20.0 is already released and is the current version, is there already support for any of the items mentioned above(CPU Time limiting for example). If yes, any instructions/docu on  how to enable this feature would be appreciated.

[2020-04-17 16:02] eginez commented on #2243
Ok a new commit to address this issue has been merged: 83ac94f5b0a67044cbf3a59569861a0ee93d85f2

[2020-04-17 16:29] sbrannen commented on #2243
Wow, that commit is considerably more involved!

Sorry it ended up being so much work, though by the looks of it... I suppose the necessary information simply wasn't previously present in the native image.

When will I be able to try that out with one of the downloads from [here](https://github.com/graalvm/graalvm-ce-dev-builds/releases/)?

[2020-04-17 16:31] retrogradeorbit opened #2358 "New snapshot builds of CE 20.1.0-dev fail native-image with java.lang.NullPointerException"
**Describe the issue**
Uberjars that successfully native-image with older 20.1.0-dev snapshot images fail with the latest snapshots. Fail with version 20200407_0218. Fails with different error on 20200414_0225. (But succeed with version 20200324_0554)

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone git@github.com:epiccastle/spire.git
2. make all

[2020-04-17 20:00] borkdude commented on #2358
Similar issue with a similar project: [babashka](https://github.com/borkdude/babashka/):

[code]

[2020-04-17 23:25] christianwimmer commented on #2358
Thanks for finding this issue early. From the exception stack trace, I see that your image invokes System.arraycopy using reflection. Without even needing to reproduce with your examples, I can confirm that this is currently broken.

[2020-04-18 06:21] doctorpangloss opened #2361 "javadoc throws exception, OpenJDK javadoc does not"
**Describe the issue**
`javadoc` crashes on my codebase. It does not crash on regular JDK.

**Steps to reproduce the issue**
1. `git clone --depth 1 https://github.com/hiddenswitch/Spellsource`
2. `./gradlew game:javadoc`

Observe the following exception:

[code]

**Describe GraalVM and your environment:**

[code]

macOS 10.14.6

[2020-04-18 09:08] auke- commented on #1438
I've created a Jira issue at Axiom [AXIOM-502](https://issues.apache.org/jira/browse/AXIOM-502) and proposed a fix (https://github.com/apache/ws-axiom/pull/1).

[2020-04-18 09:22] jonathansantilli commented on #1256
Hello @dougxc, I hope you are great today.

Am having kind of the same issue, running the [NativeImageGeneratorRunner](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGeneratorRunner.java#L87) through the main method, as a normal java app, I get the following exception:

[code]

I have tried with these different versions of the

[2020-04-18 11:50] starkgate commented on #2353
You absolute legend. Thank you so much for debugging this.

[2020-04-18 16:17] #2342 closed

[2020-04-19 01:00] pquiring commented on #2316
How often are the 20.1-dev builds created?

[2020-04-19 12:23] kristofdho opened #2363 "linker cannot find symbols to edit the windows registry: LNK1120 unresolved extnerals"
**Describe the issue**
The linker seems the have issues finding the symbols required for editing the registry through `java.util.prefs.Preferences`. Causing a fatal error LNK1120: x unresolved externals.
These externals should be available in advapi32.lib, which is available to the CL command.

**Steps to reproduce the issue**

1. input file:
[code]
2. compile:
[code]

**Describe GraalVM and your

[2020-04-19 13:13] pquiring commented on #2316
Never mind, there was a build last night, thanks!

[2020-04-19 14:55] aprelkin commented on #2363
I have the exactly same issue, with the same configuration

[2020-04-19 15:41] victornoel commented on #2345
I'm seeing the same problem, not with 19.3.1, but with 20.0.0.

I couldn't find the source of the problem in my case, but it could be something that is hidden in 19.3.1 with the use of `--report-unsupported-elements-at-runtime`

[2020-04-19 17:07] victornoel commented on #2345
Actually, I found the source of the problem, it was this method: https://github.com/jOOQ/jOOQ/blob/version-3.13.0-branch/jOOQ/src/main/java/org/jooq/impl/DefaultRecordMapper.java#L597

By replacing it with an empty method using `@Substitute`, GraalVM 20.0.0 is happy and furthermore, it is without using `--report-unsupported-elements-at-runtime`. See https://github.com/jOOQ/jOOQ/issues/8779 for som

[2020-04-19 23:25] #2358 closed

[2020-04-20 09:23] dougxc commented on #2361
What JDK do you mean by "regular JDK"? GraalVM CE is based on OpenJDK. Does this error reproduce with an OpenJDK 11.0.6+9 binary?

[2020-04-20 12:30] jerboaa opened #2365 "[OpenJDK 15] Removal of nashorn javascript engine breaks build"
In jdk/jdk the nashorn javascript has been removed:
https://openjdk.java.net/jeps/372
https://bugs.openjdk.java.net/browse/JDK-8241749

This breaks the graal VM native image build like this:

[code]

Substrate VM needs to get updated to account for this. I hope to get a fix in for this later in the week.

/cc @bobvandette

[2020-04-20 14:55] galderz opened #2367 "Recent caching additions in javax.naming will break code"
[JDK-8223260](https://bugs.openjdk.java.net/browse/JDK-8223260) has been recently been fixed in jdk 11. When using a JDK that includes this fix, code relying on `javax.naming` will encounter exceptions like this:

[code]

This is due to a cache introduced in the JDK.

I've found a workaround for Quarkus (see PR associated with https://github.com/quarkusio/quarkus/issues/8651), but others are likel

[2020-04-20 15:04] galderz commented on #2367
The change that introduced this prohibition was 316703f4a3fc9d9b9c0b0e448da48f3b2d0131b8. One way to solve this would be for `AbstractClassLoaderValue.map` to assume that classloader is always null, assuming actual classloader parameters are ignored?

[2020-04-20 15:27] viktorklang opened #2368 "Feature: dynamic build-time interception of method calls (call-site analytics)"
**Describe the issue**

In [Akka](akka.io) we have APIs for reflectively instantiating things on other threads or even on other machines—for the sake of the argument, consider the following method signature:

[code]

Almost 100% of the time, that `clazz` is going to be a compile-time constant, and the parameters will effectively match one of the very few constructors involved.

However, right now,

[2020-04-20 17:39] viktorklang opened #2369 "Error: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported method java.lang.ClassLoader.defineClass1"
**Describe the issue**
native-image generation fails with the given stack trace below

**Steps to reproduce the issue**
Currently only available in my work-in-progress branch of cloudstate.io

**Describe GraalVM and your environment:**
 - GraalVM version: CE 20.0
 - JDK major version: **[e.g.:8]**
 - OS: **macOS Catalina**
 - Architecture: **[e.g.: Intel x86-64]**

**More details**

[code]

[2020-04-20 19:50] kittylyst opened #2370 "java.util.logging Does Not Work Out of the Box"
**Describe the issue**
The document at https://www.graalvm.org/docs/reference-manual/languages/Native-Image/user/LOGGING describes j.u.logging as working out of the box at INFO level on console. It does not appear to.

**Steps to reproduce the issue**
1. git clone https://github.com/kittylyst/jfr-parser_repro_case_graalvm_linkage_bug-bevans.git
2. mvn clean package
3. ./target/JFRFileParser <JFR F

[2020-04-20 22:43] eginez commented on #2357
@sdeleuze I can not replicate this issue in the head of master. What version of graalvm are you using?

[2020-04-20 22:52] eginez commented on #2357
Never mind. I was able to trigger the problem by manually starting the class at runtime.

[2020-04-21 08:13] olpaw commented on #1962
https://github.com/oracle/graal/pull/2372 addresses the modularization of the image builder itself.

[2020-04-21 08:37] mbarbeaux commented on #2232
Ok so I have some kind of update for this ticket.

After many tests, I finally discovered it worked as expected if I included the SWT source code manually in my project source directory. The native-image performs the compilation and the executable works fine on MacOS now.

So it seems that, using the official SWT jar file, native-image isn't able to perform the compilation. But if I remove the jar

[2020-04-21 10:24] gradinac commented on #2353
No problem at all! :)

[2020-04-21 11:09] sdeleuze commented on #865
We now have a [R2DBC + H2 sample](https://github.com/spring-projects-experimental/spring-graal-native/tree/master/spring-graal-native-samples/webflux-r2dbc) which works correctly with GraalVM 20.0.0 so I close this issue.

[2020-04-21 11:09] #865 closed

[2020-04-21 11:31] drocsid opened #2373 "IPv6 static native image throws java.net.SocketException: Protocol family unavailable"
**Describe the issue**
Executing a static native image binary built using muslC throws a SocketException when using an IPv6 address

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Install scala build tool `SBT` https://www.scala-sbt.org/download.html
2. Clone https://github.com/drocsid/https_example
3. Execute the script native-image-build-cmd.sh which bui

[2020-04-21 11:57] sbrannen commented on #2341
Looks like this might be fixed by #2322 -- yes?

[2020-04-21 14:09] peter-hofer commented on #2341
Ah, I missed that one. Nevertheless, I already have a more comprehensive fix that replaces these case-by-case filters with a broader filter for classes of Libgraal and JVMCI when no caller frame is available.

[2020-04-21 14:13] sdeleuze commented on #2341
Great news thanks :-)

[2020-04-21 14:41] #715 closed

[2020-04-21 15:05] johanvos opened #2374 "ClassInitalizerHasSideEffectsException: Non-inlined invoke of method: java.lang.invoke.MethodHandle.invokeBasic()"
**Excessive exception reporting**

Using native-image with the latest master, since dfab304406916b239935b9b70179e57ff3d1eadf (https://github.com/oracle/graal/commit/dfab304406916b239935b9b70179e57ff3d1eadf)   there is a huge amount of exceptions being thrown while compiling e.g. HelloFX (https://github.com/gluonhq/client-samples/tree/master/Maven/HelloFX)

Compilation succeeds and the resulting im

[2020-04-21 15:53] arodionov commented on #2327
The XML-parsers support has been added in GraalVM 20.0.0.
Now it is possible to use Spring XML configuration without the agent.

As a result, if the code that loads parser via reflection is reachable, the specified parser and all related classes will be loaded too.
Spring with Java 8 triggers the _DocumentBuilderFactory_ and _SAXParserFactory_ parsers by the following branch of the call-tree: _org

[2020-04-21 16:27] sbrannen commented on #2327
Thanks for the detailed analysis, @arodionov.

For this particular use case (looking up the `spring.factories` file), Spring will never actually load the properties from an XML format, since the `spring.factories` file name does not end in `.xml`. So perhaps `SpringFactoriesLoader` could be reworked to omit the possibility of loading an XML file when loading `spring.factories` files, or perhaps we

[2020-04-21 18:14] eginez commented on #2243
The latest dev build now contains this fix. eg: https://github.com/graalvm/graalvm-ce-dev-builds/releases/download/20.1.0-dev-20200419_0207/graalvm-ce-java8-darwin-amd64-20.1.0-dev.tar.gz

[2020-04-21 18:22] arodionov commented on #2327
@sbrannen

Yes, it could be a solution. For Java 11 `java.util.Properties` brings only ~16 classes with `SAXParser`.

[2020-04-21 18:41] jerboaa commented on #2367
Simple reproducer for this:

[code]

[code]

Expected (e.g in JVM mode):

[code]

[2020-04-21 19:26] rdoeffinger opened #2375 "[native-image] MappedByteBuffer segfault due to munmap while still in use"
**Describe the issue**
In some uses of a MappedByteBuffer the file mapping is removed even though it is still in use.
Judging by the symptoms this happens when the original MappedByteBuffer is garbage collected yet slice()s are still in use.

**Steps to reproduce the issue**

1. git clone -b graalbug --recursive --depth 1 https://github.com/rdoeffinger/Dictionary
2. git clone -b graalbug --recursi

[2020-04-21 20:46] dougxc commented on #2157
@wx-yz please attach `hs_err_pid24126.log` to this issue.
Also please let me know if this reproduces on more recent releases or a recent nightly (https://github.com/graalvm/graalvm-ce-dev-builds/releases).

[2020-04-21 21:02] cstancu commented on #2150
@pejovica it looks like turning on the ParallelGC for Native Image in https://github.com/oracle/graal/commit/5751bb15989ec55126c7dcd83cd697490216d14a generation increases memory usage on JDK 11.

@ilopmar In https://github.com/oracle/graal/commit/92d44c1dbab224fb05bfd5d8e7e57e552b57db4e we merged a feature that improves the Native Image analysis performance: it significantly reduces both memory fo

[2020-04-21 21:05] #2071 closed

[2020-04-21 21:12] cstancu commented on #2188
Is it possible that the `com.sun.xml.internal.ws.model.RuntimeModelerException: [failed to localize] runtime.modeler.no.operations(org.acme.soap_service.v1.MySoapService)` is caused by missing some reflection config for a dynamically allocated object? `--report-unsupported-elements-at-runtime` works as expected and I don't think that the runtime error is related to `java.lang.ClassLoader.resolveCl

[2020-04-21 21:55] mohammed860 opened #2376 "When i used jasper 6.12.2 show this problem how to fixed"
Apr 22, 2020 12:53:01 AM erp.Newtest86 jButton1ActionPerformed
SEVERE: null
net.sf.jasperreports.engine.JRException: Errors were encountered when compiling report expressions class file:
1. The operator % is undefined for the argument type(s) Integer, int
                value = ((java.lang.Integer)variable_colum32cunt.getValue()) % 2 == 0; //$JR_EXPR_ID=14$
                        <--------------

[2020-04-21 22:27] christianwimmer commented on #2145
Support for soft references is now merged.

[2020-04-21 22:27] #2145 closed

[2020-04-21 23:32] eginez commented on #2356
fixed with 9abecf764253a023c69882ca543848e3b4c9125e

[2020-04-21 23:32] #2356 closed

[2020-04-21 23:39] eginez commented on #2357
We are currently taking an overly optimistic policy when dealing `Proxy` classes in our class initialization logic (see https://github.com/oracle/graal/blob/dfab304406916b239935b9b70179e57ff3d1eadf/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/ConfigurableClassInitialization.java#L618)

We have to  find more specific ways to handling Proxy classes to allow for

[2020-04-22 07:53] fcurts opened #2377 "Publish SHAs for GraalVM CE downloads"
I'd like to verify GraalVM downloads. I can find SHAs for EE but not for CE. Could you please publish CE SHAs as well?

[2020-04-22 09:07] peter-hofer commented on #2341
Fixed with 9abecf764253a023c69882ca543848e3b4c9125e.

[2020-04-22 09:07] #2341 closed

[2020-04-22 09:09] peter-hofer commented on #2335
Merged your fix in 9abecf764253a023c69882ca543848e3b4c9125e, thanks again!

[2020-04-22 09:09] #2335 closed

[2020-04-22 10:53] sdeleuze commented on #2327
I have been able to restore previous size and memory consumption for our `jafu` sample (the most basic one) with [this substitution](https://github.com/spring-projects-experimental/spring-graal-native/blob/master/spring-graal-native-substitutions/src/main/java/org/springframework/internal/svm/Target_PropertiesLoaderUtils.java). That said I still think optimizing the number of classes compiled make

[2020-04-22 10:56] a74nh opened #2378 "[native-image] AArch64: Using GDB errors with unknown CFA value"
Take a simple java program. On AArch64, create a native image using the debug info flag. Then load it into GDB. Break at main, run, then backtrace. GDB errors with unknown CFA value.

[code]

Tested on Ubuntu 18.04 with gdb 8.1.0.20180409-git (default ubuntu) and 10.0.50.20200416-git built from gdb head last week.

Graal built from git head b47aaf4814 2020-04-14
Using labsjdk-ce-11.0.6-jvmci-20.0-

[2020-04-22 11:47] olpaw commented on #2378
@adinn looks like `com.oracle.objectfile.elf.dwarf.DwarfFrameSectionImplAArch64` needs further refinement for AArch64.

[2020-04-22 11:57] arodionov commented on #2327
@sdeleuze There are [ 8 classes ](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/config/JavaxXmlClassAndResourcesLoaderFeature.java#L41) instantiated via reflection, so we create handlers for the following [methods](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/config/JavaxXml

[2020-04-22 12:33] arodionov commented on #2327
@sdeleuze For `jafu-webmvc` there is another branch that triggers `TransformerFactoryImpl` -
`org.apache.catalina.servlets.DefaultServlet.renderXml(javax.servlet.http.HttpServletRequest, java.lang.String, org.apache.catalina.WebResource, javax.xml.transform.Source, java.lang.String)`

[2020-04-22 12:47] a74nh opened #2379 "[native-image] Quarkus NI build failures when using Debuginfo"
*Using Quarkus github checkout of a0d8e9bf5 2020-04-22.
*Edit the deployment code to always build native images using debug info.
*Build Quarkus using the native flag.
*Almost all integration tests will fail to build as native images.

[code]

Tested on both X86 and AArch64.
Graal built from git head b47aaf4 2020-04-14
Using labsjdk-ce-11.0.6-jvmci-20.0-b02.

Everything works fine if I undo the pa

[2020-04-22 13:24] peter-hofer commented on #1948
I'm still curious what happens here because we already filter internal accesses to lambda classes, and shouldn't see this unless filters are turned off (which is not advisable). Do you run code that explicitly calls `getClass` and then `getDeclaredMethods` and `getDeclaredFields` on the lambda object? Is there a relevant use case for that?

[2020-04-22 13:40] axel22 commented on #2164
@albogdano Could you please post the exact steps that triggered that error? Did you also run `mvn test` on the es4x project? Thank you.

[2020-04-22 14:17] bobvandette commented on #2268
Thank you for determining the root cause of this issue.  Symbols are stored as UTF_8 in PE Coff files so yes, the name.getBytes().length should have been name.getBytes(StandardCharset.UTF_8).  I will submit a PR to fix this.

[2020-04-22 14:42] sdeleuze commented on #2135
Hi, we are blocked by this issue while trying to optimize Spring Boot application image size. Please let me know if I should share a repro project or not. Also could you tag it with `spring`?

[2020-04-22 14:44] sdeleuze commented on #2135
Thanks. Is there a workaround for that? If I specify `org.springframework.util.MimeType$$Lambda$3` it is not taken in account, and `org.springframework.util.MimeType$$Lambda$3/1638737677` changes at each compilation. For now I try to use package config but if there is a better way I would be interested to know.

[2020-04-22 15:53] albogdano commented on #2164
@axel22 Actually my crash is not related to the es4x project at all but unfortunately I cannot reproduce it now. Apparently it only happened once.
I'm running the latest GraalVM CE 20.0.0 JDK 11. Steps are:
1. I run a Spring Boot application I do a full backup of the database ([here's the code executed](https://github.com/Erudika/scoold/blob/master/src/main/java/com/erudika/scoold/controllers/Admi

[2020-04-22 17:47] jramirez-isc commented on #2188
Hi @troosan
I tried to reproduce the issue using your code, but I get an error when I run `mvn clean package -Pnative`
[code]
Is there any additional step I have to do?

[2020-04-22 19:07] aclement commented on #1948
I'm not sure what has changed but I haven't been seeing them in the reflection config for a little while now. (I don't believe I ever turn the filters off). The agent output has been pretty good lately.

What I did see that scared me a little was lambdas mentioned in the initialization messages:
[code]
and I don't want to start writing `--initialize-at-build-time=io.r2dbc.spi.ConstantPool$$Lambda$

[2020-04-22 19:55] vjovanov commented on #2135
Here is a reproducer:
[code]

[2020-04-22 21:29] #2243 closed

[2020-04-23 03:36] doctorpangloss commented on #2361
It turned out it only didn't reproduce in OpenJDK 11 for some idiosyncratic reason, which I discovered trying to make a minimum reproduction.

Right now I think there's just a regression of https://bugs.openjdk.java.net/browse/JDK-8200432.

[2020-04-23 03:36] #2361 closed

[2020-04-23 08:49] axel22 commented on #2164
@albogdano Ok, thank you for detailing the steps. It seems that the error is non-deterministic, and depends on the precise timing of the lifecycles of the JVMCI compiler threads in the JVM.
I will keep trying to reproduce it.

[2020-04-23 08:51] sdeleuze commented on #2327
@arodionov Thanks I am working on fixing those on Spring side.

@fhanik Could you have a look to the Tomcat ones?

[2020-04-23 09:11] borkdude commented on #2358
Babashka seems to work again with https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.2.0-dev-20200423_0149.

However, I do see a regression in startup compared to 19.3.1. I'll continue in #2136.

[2020-04-23 09:17] borkdude commented on #2136
@olpaw Despite the fix with substitutions in https://github.com/oracle/graal/issues/2136#issuecomment-595688524 I'm now back to where we started with the dev build https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.2.0-dev-20200423_0149.

When compiling with the new dev-build I'm seeing that a lot more dynamic libraries are loaded compared to compiling with 19.3.1:

19.3.1:

[code]

[2020-04-23 09:19] sdeleuze opened #2381 "Add callee-based filters to the tracing agent"
As [pointed out](https://graalvm.slack.com/archives/CN9KSFB40/p1587030771130700?thread_ts=1587026997.128900&cid=CN9KSFB40) by @shelajev on GraalVM Slack, the tracing agent currently only support  [caller-based filters](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md#caller-based-filters).

This issue is a feature request to add callee-based filters in order to be able to lever

[2020-04-23 09:21] borkdude commented on #2281
Comment that could also be relevant to this issue:

https://github.com/oracle/graal/issues/2136#issuecomment-618285261

[2020-04-23 09:46] tsatatwer commented on #2101
@cstancu  any word on this issue it is vital for the javafx native image support  @tiainen  do great efforts to support on that .....so please put it on high priority do not put on hold sorry to say that BUT several  javafx issues in freeze again I am sorry to say that .

[2020-04-23 09:55] arodionov commented on #2101
Yes, it has been merged.

[2020-04-23 10:35] adinn commented on #2379
Hmm, that's 'interesting' :-). I'll see if I can reproduce this and identify where this is coming from. I may well refer it on to our Quarkus team though. Thanks for the report!

[2020-04-23 10:35] adinn commented on #2378
The CFA rule in the frame CIE is definitely wrong but that's not the only thing that is going on here. Comparing with C frame records the CIE needs to be empty and the PC register needs to be marked a lr (r30). Unfortunately those fixes still do not stop the gdb crash. I need to debug gdb to see what is going on here (doing that now).

Just for the record this seems to be gdb trying to be smart ab

[2020-04-23 10:58] tiainen commented on #2101
I can confirm that it is indeed works now.

[2020-04-23 11:04] a74nh commented on #2378
Yes. [aarch64_analyze_prologue() in aarch64-tdep.c](https://github.com/bminor/binutils-gdb/blob/dc1e8a474f904419abaa27da4be5b0f735a87255/gdb/aarch64-tdep.c#L283) does that.

Other architectures do the same in GDB too - eg [amd64](https://github.com/bminor/binutils-gdb/blob/66708c54e6b49c7fae7f7652f783cac5687fa507/gdb/amd64-tdep.c#L2370)

I did fix a big in the AArch64 function back in 2019-08-14 -

[2020-04-23 12:42] sdeleuze commented on #2135
@vjovanov I have just tried the latest [20.2.0-dev-20200423_0149](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.2.0-dev-20200423_0149) build and indeed it compiles fine my `org.springframework.util.MimeType` class and its lambda.

But latest [20.1.0-dev-20200419_0207 build](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.1.0-dev-20200419_0207) still has the issu

[2020-04-23 12:49] jerboaa commented on #2365
This gets one further (past nashorn removal), but then a slew of errors result

[code]

Error then looks similar to:

[code]

[2020-04-23 12:57] bobvandette commented on #2365
I just discovered this issue yesterday.  I believe the problem is caused by the introduction of Hidden classes (8238358).

https://hg.openjdk.java.net/jdk/jdk/rev/30ec85283758

I’m trying to confirm this now.

[2020-04-23 12:58] vjovanov commented on #2135
It will eventually, as I am fixing this issue now and will do a backport of it.

[2020-04-23 13:56] adinn commented on #2378
Well, I fixed up the CFA issue. I had bollixed up the CIE. I have a patch which stop[s it crashing but the FDEs are still not correct. I can't really fix that until I sort out the prologue issue.

It seems the break is being inserted at the first control-flow transfer which is not really good enough as that can be an arbitrary way into the body of the method code.

I am sure there is an 'equivalen

[2020-04-23 14:04] olpaw commented on #2367
@galderz thanks for the heads-up. @jerboaa thanks for the reproducer. We will look into it.

[2020-04-23 14:16] #2101 closed

[2020-04-23 14:26] bobvandette opened #2382 "[OpenJDK15] The addition of Hidden Classes breaks native-image"
**Describe the issue**

The addition of Hidden Classes in JDK15 is causing native-image to fail with several UnsupportedFeatureExceptions.

https://bugs.openjdk.java.net/browse/JDK-8238358
https://hg.openjdk.java.net/jdk/jdk/rev/30ec85283758

**Steps to reproduce the issue**

Build GraalVM with binaries built from the latest JDK15 and run native-image on Hello World.

**More details**

Here is one

[2020-04-23 14:28] bobvandette commented on #2382
// @jerboaa

[2020-04-23 14:54] ringods commented on #349
Could this be built by leveraging the Roslyn compiler framework?

https://github.com/dotnet/roslyn

[2020-04-23 15:01] sdeleuze commented on #2327
Ok so using [this branch](https://github.com/sdeleuze/spring-graal-native/tree/jafu-webmvc-optim) with various optimizations to remove XML classes using @arodionov and unused converters, I have these figures.

Before:
Build memory: 6.83GB
Image build time: 81.2s
RSS memory: 50.2M
Image size: 55.8M
Startup time: 0.012 (JVM running for 0.013)

After:
Build memory: 6.40GB
Image build time: 59.5s
RSS

[2020-04-23 15:13] chrisseaton commented on #349
I'm not an expert on the .NET system, but my understanding is that Roslyn just generates CIL. That bit isn't the problem - we can use the existing compilers to do that. The bit we need to implement would replace the .NET VM.

[2020-04-23 15:18] a74nh commented on #2378
Ideally sticking to what gdb expects helps with compatibility across the board with tools in general. GDB guys are usually happy with small tweaks for non standard stuff as long as it's not going to break anything else. And of course, changing gdb then requires graal users to update their gdb.

[2020-04-23 15:30] ilopmar commented on #2150
@cstancu Thanks for the explanation. I've been doing some tests with the same test application and this is the output.

### Tests only with `-H:+PrintAnalysisStatistics`

**Take 1**

[code]

[code]

Image size: `81861752`

**Take 2**

[code]

[code]

**Take 3**

[code]

[code]

**Take 4**

[code]

[code]

### Tests with `-H:+RemoveSaturatedTypeFlow` and `-H:+PrintAnalysisStatistics`

**Take 1**

[

[2020-04-23 15:32] jamesward commented on #571
Ran into this issue as well.  Here is the terrible workaround:
https://github.com/jamesward/graalvm-dns-issue/blob/master/Dockerfile.scratch-fix#L33-L39

[2020-04-23 15:34] olpaw commented on #2136
We figured out that `/usr/lib/libobjc.A.dylib` is needed on OSX. @eginez knows more about that.

[2020-04-23 16:05] ringods commented on #349
@chrisseaton if you the full package, then it generates CIL. However Roslyn offers you the full spectrum of source code parsing, analysis, compilation in an API. While I don't know a lot about Roslyn, I do know that we use Roslyn to perform static quality analysis rules on our customer projects.

So if you stick to the parsing functionality, would it be possible to generate GraalVM specific interm

[2020-04-23 16:24] adinn commented on #2378
Ok, so using gdb 8.3 it turns out there is a difference between routines amd64_skip_prolog and aarch64_skip_prologue which are suppose dot find the offset to the method body after the method prologue. It is this rather than any difference in the debug info that seems to be causing a problem setting the breakpoint.

The AArch64 code checks for two successive debug line records at or following the s

[2020-04-23 16:42] olpaw commented on #571
We have a better solution for this now. Build a static image with muslc. @gradinac knows all about it.

[2020-04-23 17:03] jerboaa commented on #2365
OK. https://github.com/oracle/graal/pull/2383

[2020-04-23 17:04] jerboaa commented on #2365
@bobvandette Please cc me on the hidden classes issue. Thanks!

[2020-04-23 17:08] jerboaa commented on #2382
Thanks for the heads-up. Only saw this now.

[2020-04-23 17:08] bobvandette commented on #2365
Here is the Hidden Classes issue https://github.com/oracle/graal/issues/2382

[2020-04-23 17:09] jerboaa commented on #2367
@olpaw Appreciate that. Thanks!

[2020-04-23 17:11] eginez commented on #2357
fixed with https://github.com/oracle/graal/commit/9381ac96af8c45d71f2cff4f2de23e168b28bd26

[2020-04-23 17:11] #2357 closed

[2020-04-23 17:15] jerboaa commented on #2365
Thanks!

[2020-04-23 18:28] jamesward commented on #571
Yes! Much better:
https://github.com/jamesward/graalvm-dns-issue/blob/master/Dockerfile.scratch-fix#L30

[2020-04-23 20:18] pquiring commented on #1928
What if these annotations were part of the JDK itself.  Then the JDK could annotate what needs to be initialized at run time instead of patching it later in Graal code.  Would be a lot cleaner.

[2020-04-23 20:45] cstancu opened #2384 "Improve Native Image points-to analysis performance"
In https://github.com/oracle/graal/commit/92d44c1dbab224fb05bfd5d8e7e57e552b57db4e we merged a feature that improves the Native Image analysis performance: it significantly reduces both memory footprint and analysis time at the cost of a slight accuracy loss (see next paragraph for a detailed explanation). This feature will be part of the 20.1.0 release but it is disabled by default; it can be ena

[2020-04-23 21:01] cstancu commented on #2150
Yes, the output is as expected. You need to focus on the `(typeflow)` step of the `analysis` phase. It looks like it is consistently reduced from `~70s` to `~40s`. I created an issue with more details about this feature https://github.com/oracle/graal/issues/2384. The memory numbers in the `native-image` output are not very useful, it is the total amount of memory in the JVM as reported by `Runtim

[2020-04-23 21:15] borkdude commented on #2136
@eginez I'd like to learn more about the reason why this was needed. So far I haven't seen any problems with babashka on 19.3.1 on macOS where the library wasn't loaded. Is it maybe possible to opt out of loading certain dynamic libraries at the cost of errors (on the person who chooses to opt out) to restore startup time in macOS? Adding more dynamic libraries adds tens of milliseconds of startup

[2020-04-23 21:33] eginez commented on #2136
To be honest I don't recall any previous change bringing in `libobjc` directly. However we did decide to increate the size of the image in order to properly support time zones. `6Mb` though does not sound correct and we would have take a look at why `libobjc` is getting linked in

[2020-04-23 21:40] cstancu commented on #2129
@jaikiran thanks for the in-depth analysis. I will look into how we can avoid the Truffle classes being pulled in. In the meantime, we added a feature that should improve analysis performance, see https://github.com/oracle/graal/issues/2384.

[2020-04-23 21:45] #2384 closed

[2020-04-23 21:46] arodionov commented on #2306
@sdeleuze To make it works, you should have the following JSON-configs:
[reflect-config.json.txt](https://github.com/oracle/graal/files/4525464/reflect-config.json.txt)
[resource-config.json.txt](https://github.com/oracle/graal/files/4525466/resource-config.json.txt)

[2020-04-23 22:31] christianwimmer opened #2385 "Use card marking for the image heap"
Root pointer scanning during the GC needs to process the writable part of the image heap. Currently, all objects of the image heap are visited. Card marking for the image heap reduces the overhead to just visiting cards that contain modified parts of the image heap.

[2020-04-23 22:40] christianwimmer opened #2386 "Native Image GC Improvements"
GraalVM Native Image CE currently provides a simple (non-parallel, non-concurrent) stop&copy GC. There are various areas where the GC can be improved. This issue captures ideas. Actual work should be done under separate issues, but linked from this issue so that everyone who wants to work on GC performance gets an overview of who is working on what.

### GC policy and generation sizes

The current

[2020-04-23 22:47] cstancu commented on #2129
@jaikiran Just because the extra classes from `com.oracle.truffle.api` are loaded by the `ImageClassLoader` it shouldn't make a significant difference in image building time, as long as that code is not actually reachable.

@olpaw  why do we add `${GRAALVM}/lib/truffle/truffle-api.jar` on the `--module-path` by default? Running `native-image` with `--verbose` for a simple `HelloWorld` app I see:

[2020-04-23 22:50] #877 closed

[2020-04-24 00:06] eginez commented on #2136
Ok I took some time today to analyze some of the variation. I built `bb` with
 - 19.3.1
- 20.2 commit c55645f8d3ff3695543dcf7dc5fc07fbd090b58f
- master commit 991e9f43c64b7bf7a9f71d14e2ffb72f926b7433
- revert a custom building reverting suspicious recent additions: 03d7d0cb244941f1a2835844b9889bb3d06b003a, and 5c5417b7959d82d3b972fca6a1d5c37622b8b532

Below the results
[code]

Some observations
-

[2020-04-24 00:20] eginez commented on #2136
@loicottet can probably expand on the need for 5c5417b. To investigate the size @borkdude I'd like to run a `git bisect` to see if I can find a probable cause. On your earlier comment(https://github.com/oracle/graal/issues/2136#issuecomment-595814343) it seems like you successfully created a build that was considered `good` using an snapshot build of `20.1` would you be able to provide the git has

[2020-04-24 03:40] jaikiran commented on #2379
Hello @a74nh, just a FYI - you don't have to patch the Quarkus code to pass in additional native build arguments. Quarkus lets you pass those right from the command line. You can use the following to achieve what you are after:

[code]
Notice the `quarkus.native.additional-build-args` which can be used to pass the additional build arguments for native image build.

Furthermore, I tried this with l

[2020-04-24 04:07] eginez commented on #2136
Ok I actually ran bisect with the range starting with the commit for `19.3.1` and ending in `master` and I found what seems to be the issue causing the increase:
https://github.com/oracle/graal/commit/9d5ce43fbb2093ab2d8d76e38b3266a91c59815d   `Load classes and resources for 'javax.xml.*'.`
I confirmed that is actually the problem by disabling this feature https://github.com/oracle/graal/blob/0ee4

[2020-04-24 05:26] #2134 closed

[2020-04-24 05:26] #2268 closed

[2020-04-24 06:35] LeifW commented on #1919
Not sure how to access the "flag help text", but I did find this commit with a text file describing it: https://github.com/oracle/graal/commit/87fe3d67305eda1c72b13ec4ddf159f20ba44c95#diff-0e5fe263fca2f2531fa44856795cb6d0

[2020-04-24 06:42] olpaw commented on #2136
@eginez thanks a lot for investigating!

[2020-04-24 06:54] olpaw commented on #2136
IIRC this was driven by the need to generate OSX binaries that do not link to against the internal CoreFoundation library. @loicottet  implemented that. Its needed for OSX so that the binaries that we produce can be uploaded to AppStore. See https://github.com/oracle/graal/pull/2266

[2020-04-24 08:10] Mobe91 opened #2387 "native-image fails on windows with command size limit (CreateProcess error=206)"
I am using io.quarkus:quarkus-maven-plugin:1.3.2.Final and GraalVM CE 20.0.0 (Java 11) to build a native image on Windows 10 that issues to following command:
[code]
This in turn launches another command targeting java.exe but the -imagecp argument is way too long which is why it fails with "CreateProcess error=206, file name or extension too long".

The problem is caused by `https://github.com/or

[2020-04-24 08:11] ilopmar commented on #2150
Thank you very much for the explanation :)

[2020-04-24 08:45] borkdude commented on #2136
Thanks @eginez @olpaw !

### Regarding binary size

If this is related to XML, then it makes sense. Babashka includes xml functionality, but to do so, I've only added these classes to the reflection config:
[code]

How does the XML feature work? Does it automatically detect XML usage and can I now remove these classes from the reflection config for version 20.1 or 20.2?

### Regarding startup time

[2020-04-24 09:28] sdeleuze commented on #2306
Thanks for your help, indeed with this refined configuration it works as expected.

[2020-04-24 09:28] #2306 closed

[2020-04-24 11:00] gradinac commented on #2353
The fix for this issue has been merged to master so I will close this issue.

[2020-04-24 11:00] #2353 closed

[2020-04-24 11:24] sdeleuze commented on #2327
After a second look, XML classes are still included, the great figures I got seems to come for the sum other the various optimizations I did. I have not found yet what triggers their inclusion.

If you want to reproduce:
 - Use https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.2.0-dev-20200423_0149
 - `git clone https://github.com/sdeleuze/spring-graal-native.git`
 - `git checkout j

[2020-04-24 11:52] peter-hofer commented on #1948
Thanks for the feedback. Maybe @vjovanov knows what is happening with class initialization here.

[2020-04-24 12:10] arodionov commented on #2327
@sdeleuze Will look again what triggers the XML inclusion.

[2020-04-24 12:24] sdeleuze commented on #2327
Oh I think I found, it could be`org.apache.catalina.servlets.DefaultServlet.findXsltSource`, I try to remove that one as well.

[2020-04-24 12:27] sverrejb opened #2388 "gcc@4.9 not supported on macOS Catalina."
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **graalvm-ce-java11-20.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - The output of `java -Xinternalversion`:
[code]
Following the tutorial for R in the [documentation](https://www.graalvm.org/docs/reference-manual/languages/r/) i am uanble to install g

[2020-04-24 12:44] arodionov commented on #2136
@borkdude

During the analysis, it detects if there are methods in a call-tree that instantiate XML-parsers via reflection, and registers those parsers. The feature [code](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/xml/JavaxXmlClassAndResourcesLoaderFeature.java).

Yes, you can remove reflection config for XML.
For 20.1 it will be us

[2020-04-24 12:46] zakkak commented on #2221
Hi @dougxc could you please provide me some pointers to have a look at it?

[2020-04-24 12:52] arodionov commented on #2136
@eginez

This benchmark uses the last (already optimized) version of the feature. We can try to check maybe some libraries or frameworks also triggers XML-parsers instantiation. Should have a call-tree for this

[2020-04-24 13:44] sdeleuze commented on #2327
Ok I managed to remove those one as well by enabling static initialization at build time for those Tomcat classes (security manager is still disabled by default):

Build memory: 4.58GB
Image build time: 59.3s
RSS memory: 33.1M
Image size: 29.7M
Startup time: 0.01 (JVM running for 0.01)

I will let you close this issue when you have finished your optimizations, on my side it is ok.

[2020-04-24 13:57] dimasukr opened #2389 "[native-image] sun.security.provider.X509Factory - Static field or an object referenced from a static field changed during native image generation"
**Describe issue**
Error during native image build.
Very simple vertx-pg-client project - https://github.com/dimasukr/graalvm-vertx-repro/blob/master/src/main/java/App.java

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `git clone --depth 1 https://github.com/dimasukr/graalvm-vertx-repro.git`
2. `sh docker_build.sh`
Or if no docker then:
[code]

**Describ

[2020-04-24 13:59] a74nh commented on #2378
The complete "skip prologue code if clang" block was added back in Dec 2012 (https://sourceware.org/pipermail/gdb-patches/2012-December/098215.html), due to the prologue being different on clang. Instead adding adding additional code to amd64_analyze_prologue to pattern match the clang code, it was easier to trust that clang was producing usable line notes. At the time GCC was not trusted ("compil

[2020-04-24 15:04] williamhaw opened #2390 "Extremely slow NPM actions on WSL2"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

In the Ubuntu distro of WSL2, when using NPM/Node from GraalVM 20.0.0, NPM actions are much slower (3-5x) than using the installed NPM/Node. So

[2020-04-24 15:51] aclement opened #2391 "CNFE failure during native-image build for type not necessary to run the app"
**Describe the issue**
This is a bit like issue #2355  in that native-image fails with a CNFE for a type that the app doesn't need when running - it is being compiled with `--allow-incomplete-classpath` and `--report-unsupported-elements-at-runtime`. However it seems to be a different codepath leading to the problem related to method handles and possibly invokedynamic. It may be a real issue that

[2020-04-24 16:26] eginez commented on #2391
Hey @aclement, at first sight this looks like an unsupported use of reflection via `MethodHandles`. I'll take a deeper look at it

[2020-04-24 16:37] arodionov commented on #2136
Have checked, during image build, the following parsers are instantiated via methods calls (it means that those methods are present somewhere in a `babasha` code or libraries):
- `javax.xml.stream.FactoryFinder.find(java.lang.Class, java.lang.String) -> StAXParserClasses`
- `javax.xml.transform.FactoryFinder.find(java.lang.Class, java.lang.String) -> TransformerClassesAndResources`
- `javax.xml.pa

[2020-04-24 16:43] qwwdfsad commented on #2289
Hi, should I provide some additional details?

[2020-04-24 17:29] gradinac commented on #2373
@drocsid I have found the cause for this issue. It affects all static native-images, regardless of underlying libc.
On Linux, during the initialization of the `net` library, IPv6 support is checked. Part of that check is a call to `jint  IPv6_supported()` from `net_util_md.c`. Eventually, the function will check if a symbol `inet_pton` is available:
[code]
Since we supply our own `libjvm`, we can

[2020-04-24 17:43] borkdude commented on #2136
@arodionov Thank you for explaining

[2020-04-24 17:54] sbrannen opened #2395 "Support agent as org.graalvm.nativeimage.imagecode system property value"
While working on GraalVM native image support for the Spring Framework, we have noticed that we could really benefit from having the GraalVM native image agent automatically set the value of the `org.graalvm.nativeimage.imagecode` JVM system property to `agent` (or something similar).

The reason we need this is that we have certain code paths that get executed while running with the agent that wi

[2020-04-24 18:10] arodionov commented on #2136
@borkdude as I can see, the most XML-parsers coming via https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jdbc/PgSQLXML.java#L240

[2020-04-24 18:16] borkdude commented on #2136
@arodionov I only recently added support for postgres to babashka, only as of today actually. Try with commit `2fef8a793e22237a53059737cab91f336aef699b`, that was the commit before psql support was added.

I'm also adding clojure.data.xml to it, so you can do things like this:

[code]

so I'm not surprised that XML-related classes are detected, I was only surprised by the difference in binary size

[2020-04-24 18:47] arodionov commented on #2136
@borkdude yes, you are right, for the provided commit the following methods brings all XML via:
- `clojure.data.xml.jvm.parse$make_input_factory.invokeStatic(java.lang.Object)`
- `clojure.data.xml.jvm.emit$write_document.invokeStatic(java.lang.Object, java.lang.Object, java.lang.Object)`
- `java.util.Properties.storeToXML(java.io.OutputStream, java.lang.String, java.lang.String) -> XmlSupport.save

[2020-04-24 18:53] vjovanov commented on #1948
I am fixing this issue now. It should be in next week. I will also try to backport it for 20.1.

[2020-04-24 19:04] arodionov commented on #2136
@borkdude in your `reflection.json` config I'd like to advise to specify methods for reflection more selectively (it can reduce the size of the image).
For example, for
`{ "name" : "java.util.Properties", "allPublicMethods" : true, ... }`
you can exclude `storeToXML` and `loadFromXML` to be analyzed and included into the image (with all XML-related stuff).

[2020-04-24 19:16] borkdude commented on #2136
@arodionov Thanks for the advice.
I have tried this now with the 19.3.1 version of babashka:

[code]

As you can see this fails. But with 20.2-dev this works:

[code]

So this explains the extra binary size: there is actually more functionality available now.
Since this is a Clojure interpreter, I don't know ahead of time which classes and methods people are going to use, but I'll consider removin

[2020-04-24 20:26] dougxc commented on #2221
The code that creates the build schedule is here: https://github.com/graalvm/mx/blob/28e6a5c6b77df50886d83fc79ec09a689a13d348/mx.py#L13563-L13583
You need to build the schedule graph and then:
* remove all tasks on a path from a root to an `AbstractNativeBuildTask`
* remove all tasks dominated by an `AbstractNativeBuildTask`

[2020-04-24 23:00] doctorpangloss commented on #2133
You can read a file and close it in static initialization.

[2020-04-25 01:43] pquiring opened #2397 "java.util.Random stops working after a while"
**Describe the issue**
I have a Noise random generator but when it runs under Graal's JVM it stops working after a while.  Not sure if this is a problem in java.lang.Random or some other possible computational error.
This is NOT related to native-image, just the java that ships with Graal.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1.Compile program belo

[2020-04-25 02:58] pquiring opened #2398 "[native-image] ASCII characters do not print to console"
**Describe the issue**
ASCII characters do not print to the console.  The sample below will print a simple ASCII gradient.

**Steps to reproduce the issue**
1. Compile program below (javac ASCII.java)
2. Run with normal java (java ASCII) Output is correct.
3. Generate native-image (native-image ASCII)
4. Run native version (ASCII.exe) Output only shows '?' characters.

[code]

**Describe GraalVM a

[2020-04-25 09:37] borkdude commented on #2136
@sogaiu did some measurements and omitting the `java.util.Property` classes saves about 5MB of binary size, so this explains that part.

@eginez @olpaw I think the only unresolved bit in this issue is startup time and dynamically linking. I'll just past that part of the comment here again.

This is what I'm seeing with the latest dev release (https://github.com/graalvm/graalvm-ce-dev-builds/releas

[2020-04-25 14:14] pquiring commented on #2397
After putting a println() after the Random.nextInt() function it appears this is NOT related to Random.  It's must be a computational error in the JVM included with Graal (JDK11)

[2020-04-25 14:19] pquiring commented on #2397
What's more strange is that the program works if converted to a native-image.

[2020-04-25 16:18] cemo commented on #2097
Will GraalVM officially support only LTS?

[2020-04-25 18:08] cstancu commented on #2265
Fixed by https://github.com/oracle/graal/pull/2359.

[2020-04-25 18:08] #2265 closed

[2020-04-25 19:03] pquiring commented on #2363
The pref.lib is missing from the link operation.
You can add the library with this option for now:
-H:NativeLinkerOption=prefs.lib

[2020-04-25 19:46] Auties00 commented on #437
Bump, would love this

[2020-04-25 21:56] bwfrieds commented on #437
I recently learned of this...  https://dart.dev/tools/dart2native   Is Dart support on Graal still compelling?

[2020-04-25 22:55] wdanilo commented on #326
@thomaswue @errikos, I remember Thomas mentioned one day on Twitter that there are plans for GraalVM to be run on WASM, is this still true? For us, this would be a killer thing, as we are building a SaaS product, and being able to just run the compiler on the client-side would be our dream come true (this would allow us for a much more interactive experience). I know it's hard and I appreciate the

[2020-04-25 23:20] kristofdho commented on #2363
This does seem to work indeed, thank you!

[2020-04-26 04:05] drocsid commented on #2373
Congratulations @gradinac ! How did you follow the initialization ? Were you using strace , dtrace, or similar? I think the graal team should be happy to fix this on a future release. I would expect that IPv6 should work for static native-images.

[2020-04-26 12:18] sbrannen commented on #2395
I actually consider this an `enhancement` rather than a `bug`, but the template automatically selected the `bug` label.

[2020-04-26 17:13] thomaswue commented on #326
We had an early attempt of translating a native image into JavaScript (https://www.davidleopoldseder.com/publications/aotjs_dsl_paper_authorversion.pdf). The main resulting challenge was the size of the code and how to best minify it.

The issue with WebAssembly at this point is that it is missing the necessary functionality to perform garbage collection (e.g., missing stack walking); and generall

[2020-04-26 23:34] wdanilo commented on #326
@thomaswue thank you for the answer! I highly appreciate it ❤️

I have seen such statements across the internet but TBH, I'm highly surprised to hear that from you. Please correct me if I'm wrong, but to me, it sounds like "hey, normal assembly doesn't support GC out of the box, so it's more designed to run languages like C/C++ rather than Python/JS/Ruby/Java/...". Sure, WASM, in a similar fashion

[2020-04-26 23:44] hiroga-cc opened #2399 "[native-image] "Static field or an object referenced from a static field changed during native image generation" (involving java.lang.ref.SoftReference@)"
**Describe the issue**
Trying to generate a native image from a jar file. An external library I use may cause the problem but I cannot figure out what is wrong.

The error may be related to this line.
https://github.com/hiroga-cc/excel/blob/e797739c0ebb9d61ba0327c0735ea78cba3c7fb5/src/main/kotlin/cc/hiroga/excel/Commands.kt#L21

This is the stacktrace

[code]

**Steps to reproduce the issue**
Plea

[2020-04-27 06:48] tarsa commented on #326
WASM is not an ordinary close to metal assembly, it's a sandboxed and limited assembly. Java bytecode is somewhat similar in that it's also restricted (you can't do arbitrary memory management in any of them) and it also has assembly form (just run `javap` to disassembly bytecode). Java even had hardware implementations https://en.wikipedia.org/wiki/Jazelle while WASM doesn't have any.

One thing

[2020-04-27 07:23] arodionov commented on #1387
@FieryCod Please check with the last `native-image` version. There are no needs any XML-parser configs in JSON any more, all parsers should be instantiated automatically.

[2020-04-27 07:52] olpaw commented on #2136
If Apple does not want users to link to CoreFoundation directly we would like to respect that.

It would be interesting to see why your measurement results do not seem to match the results from @loicottet as shown on https://github.com/oracle/graal/pull/2266. Maybe a different version of OSX or XCode is responsible for that mismatch.

[2020-04-27 08:01] borkdude commented on #2136
@olpaw

- Was this a request made by Apple? I read #2266 as a way of getting things into the AppStore, not as something that should be avoided?
- I see two more dynamic libraries linked in 20.2-dev:
  - /System/Library/Frameworks/Foundation.framework/Versions/C/Foundation (compatibility version 300.0.0, current version 1575.17.0)
  - /usr/lib/libobjc.A.dylib (compatibility version 1.0.0, current v

[2020-04-27 08:12] olpaw commented on #2136
I don't think so. See https://github.com/oracle/graal/issues/1568#issue-476699005 from @johanvos

Relying on linking against non-public symbols sounds like a bad idea to me ... independent from being able to upload native-images to the AppStore. @christianwimmer how should we handle this case?

[2020-04-27 08:15] borkdude commented on #2136
@olpaw To be clear, I'm only interested in getting the good startup time on macOS back like it was in 19.3.1. How that is done is an implementation detail to me, but maybe there is not much that can be done? Is the result of loading 2 more libraries compared to 19.3.1 that the public API loads these private APIs that were used before (+ 1 one more)?

[2020-04-27 08:29] olpaw commented on #2136
I assume us now having `-ObjC` on the linker command line plays out like this.
https://github.com/oracle/graal/pull/2266/files#diff-bfc44cccccc87507300243b7d38779bd

[2020-04-27 08:37] sdeleuze commented on #904
@cstancu Any chance you could have a look at this one which is blocking proper logging support on Spring applications?

[2020-04-27 10:10] gergo- commented on #2397
Thank you for this report and the nice reproducer, @pquiring . I can reproduce this on Windows (both JDK 8 and JDK 11) but not in Linux, and I'm working on it.

[2020-04-27 11:27] a74nh commented on #2379
Aha! thanks for that.

Just updated both Quarkus and Graal and I can still repeat the issue.

However.... **I've been using JDK11 to build Graal on both X86 and AArch64.**

I switched to JDK8 for X86, and almost everything passes (except Kafka)

_So, looks like the build failures are JDK11 specific issues._

Note, The Kafka failure the following (maybe worth splitting this to a new defect):

[code

[2020-04-27 12:01] jerboaa opened #2402 "[OpenJDK 11u] HelloWorld native-image generation fails with enabled assertions"
A graal VM built from OpenJDK 11u (upcoming 11.0.8) will hit an assertion on generating native images. A simple `HelloWorld` will do. I'm setting `java.vm.version` to a version which looks like a released version of OpenJDK so as to actually enable assertions at runtime. Developer builds won't show this issue.

Reproducer:
[code]

Note that [JDK-8221092](https://bugs.openjdk.java.net/browse/JDK-82

[2020-04-27 12:16] dougxc commented on #2402
This is going to require enhancing the `expectPresent` guard for `AVX3Threshold` at https://github.com/oracle/graal/blob/6fe68785c8a20ebd905e922d42e6ed22a431702b/compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/GraalHotSpotVMConfig.java#L157
Do you think you can come up with a PR for that @jerboaa ?

[2020-04-27 12:22] jerboaa commented on #2402
@dougxc Yes. See #2403

[2020-04-27 12:50] jaikiran commented on #2379
Hello @a74nh, for the Kafka issue, I think it's better to open an issue in the quarkus repo and have it tracked and investigated there.

[2020-04-27 13:15] zakkak commented on #2221
Thanks @dougxc!

For clarification:

This is to avoid building projects/dists/libraries with broken dependencies, right?
Other than that it does not result in fetching _native_ dependencies.

This is the actual removal of the unnecessary dependencies.

Additionally, when you say "remove all tasks" you mean all tasks that are not also dependencies of any non-native project.
E.g., if a library `X` i

[2020-04-27 13:28] dougxc commented on #2221
Correct.

Yes.

Yes.

[2020-04-27 14:15] wdanilo commented on #326
What do you mean by arbitrary memory management here? WASM allows you to manage memory on a very low level. For example, if you compile Rust to WASM you can choose among different memory allocator implementations for WASM (e.g. [this one](https://github.com/rustwasm/wee_alloc)). It delivers you a linear memory model where you can normally allocate or free memory according to your needs.

Why? If w

[2020-04-27 14:51] chrisseaton opened #2404 "Formatting of PolyglotException for internal errors is redundant in some cases"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **`268c16f23cd527949a340aa1917956638583f455`**
 - CE or EE: **CE**
 - JDK version: **JDK8**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Not latest s

[2020-04-27 15:26] aclement opened #2405 "Results of AnnotatedElement.getDeclaredAnnotations() can be an array with null entries"
**Describe the issue**
With either the recent 20.1 graal dev release build or master (commit 78f22e7892) some of the Spring samples have started failing (notably webflux-netty). This appears to be due to a call to `AnnotatedElement.getDeclaredAnnotations()` made on a spring `RestController` annotation type returning an array with null entries:
[code]
when it previously returned:
[code]

Esteban th

[2020-04-27 15:27] bobvandette commented on #2382
The problem is caused by a change in the LambdaMetaFactory.

For lambda proxies, it might be related to the constructor:
   http://cr.openjdk.java.net/~mchung/valhalla/webrevs/hidden-classes/webrev.07/src/java.base/share/classes/java/lang/invoke/InnerClassLambdaMetafactory.java.sdiff.html

Previously, it created a static factory method that calls the constructor and the callsite returned is the st

[2020-04-27 16:46] eregon commented on #2404
BTW, that `NullPointerException` should really be a more explicit error, without requiring `assert` to be on.

[2020-04-27 18:25] tarsa commented on #326
WASM doesn't let you e.g. unmap a memory page. Page fault trapping is the common method in JVM world for reaching a safepoint (unless info on the Internet is dated) and safepoints are required for various purposes. More info:
http://blog.ragozin.info/2012/10/safepoints-in-hotspot-jvm.html
https://medium.com/software-under-the-hood/under-the-hood-java-peak-safepoints-dd45af07d766
https://shipilev.n

[2020-04-27 20:37] tiainen opened #2406 "float values are always 0.0f when passed down as a variable from JNI to Java"
**Describe the issue**
When passing down a float variable from a native JNI method to the JVM layer, the value in JVM will always be 0.0f instead of the actual float value in JNI. The linked project uses `env->NewObject()` to construct a new instance of a Java class while passing a float value to the constructor. The value of this float in the Java-side is always 0.0f instead of 1.0f.

**Steps to

[2020-04-27 20:43] christianwimmer commented on #2399
https://github.com/oracle/graal/pull/2407 fixes the problem during image heap writing. That still does not mean that the `MethodHandle` usage in that application is going to work.

[2020-04-27 22:32] eginez commented on #2391
I notice https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/io/buffer/DataBufferUtils.java#L42 pulls from a jar that is not in the classpath. This is happening during analysis time.

[2020-04-27 23:36] eginez commented on #2391
The problems is due to analysis not handling all exceptions for unresolved types. Specifically when the analysis bumps into a type that can not be loaded/found in the classpath. Typically we push those exceptions to the run-time, thus we'll do the same here

[2020-04-28 04:08] eginez commented on #2405
should have been fixed with https://github.com/oracle/graal/commit/26fdc9cbbdbb29110f0ffeb53f1dd818928974b3

[2020-04-28 05:20] #2345 closed

[2020-04-28 05:20] #2399 closed

[2020-04-28 07:42] RajeevKumarMarrapu commented on #2320
I have the same issue running 20.0 on Windows.

FATAL ERROR in native method: JDWP thread list corrupted, jvmtiError=AGENT_ERROR_NULL_POINTER(201)
JDWP exit error AGENT_ERROR_NULL_POINTER(201): thread list corrupted [:2148]

[2020-04-28 10:11] olpaw commented on #2367
@galderz with my changes on https://github.com/oracle/graal/pull/2409 I can get the reproducer from @jerboaa working. (It just needs a reflection config for the `com.sun.jndi.ldap.LdapCtxFactory` default constructor. But that's to be expected.)

The question is if the fix is also sufficient for the quarkus usecase. Please give it a try?

[2020-04-28 10:30] galderz commented on #2367
@olpaw Thx for the fix. I'll give it a go shortly...

[2020-04-28 10:39] olpaw commented on #1592
The fix is on master and on the 20.1 branch. Using native-image option `--install-exit-handlers` gives you the same exit handlers that also the JVM provides. I.e. if you build an image that should work nicely in docker containers make sure to build with  `--install-exit-handlers`.

[2020-04-28 10:39] #1592 closed

[2020-04-28 10:39] XiaohongGong opened #2410 "Several AOT jtreg tests fail both on x86_64 and aarch64."
**Describe the issue**
Following six AOT jtreg tests fail recently:

    hotspot/jtreg/compiler/aot/calls/fromAot/AotInvokeSpecial2AotTest.java
    hotspot/jtreg/compiler/aot/calls/fromAot/AotInvokeSpecial2InterpretedTest.java
    hotspot/jtreg/compiler/aot/calls/fromAot/AotInvokeSpecial2NativeTest.java
    hotspot/jtreg/compiler/aot/calls/fromAot/AotInvokeStatic2AotTest.java
    hotspot/jtreg/com

[2020-04-28 10:40] olpaw commented on #465
https://github.com/oracle/graal/issues/1592#issuecomment-620526634

[2020-04-28 11:26] aldettinger commented on #460
The h2 MVStore also makes heavy usage or writeObject/readObject.

[2020-04-28 11:31] ziyilin commented on #460
I have committed a PR(https://github.com/oracle/graal/pull/2323) to support serialization.

[2020-04-28 12:26] olpaw commented on #2367
@galderz If you don't want to build a complete GraalVM release for testing you can use:
[code]

[2020-04-28 13:24] a74nh commented on #2379
Kafka issue raised here: https://github.com/quarkusio/quarkus/issues/8914

[2020-04-28 13:25] a74nh commented on #2379
That just leaves the JDK11 issues for this bug

[2020-04-28 15:08] peter-hofer opened #2412 "Clean up garbage collector code base."
In preparation for and in unison with #2386 tasks, clean up the _genscavenge_ garbage collector code base. This is explicitly not intended to be a major refactoring nor a rewrite and should not incur changes in functionality and behavior.
This task should improve readability and comprehensibility of the code and therefore encourage future extensions and refactorings by sensibly
- eliminating unuse

[2020-04-28 17:05] gsstar9028 commented on #1002
hey is this fixed?

[2020-04-28 17:10] martinformanko commented on #2369
I have the same problem, in my case it started with adding micronaut dependency.

[2020-04-28 18:01] gradinac commented on #2373
@drocsid I have submitted an initial PR to fix this, and if accepted, will see if we can get it ported for the upcoming release.
The way I tracked it down is by going through the JDK sources and backtracking from the error message that we were getting to where the issue begun. `gdb` also helped to see the values of variables at runtime, which then meant the wrong result must have occurred during `

[2020-04-28 18:14] #2405 closed

[2020-04-28 18:15] eginez commented on #2391
fixed with https://github.com/oracle/graal/commit/97bffe682455f68ac272205997eff3d482f3a013

[2020-04-28 18:16] #2391 closed

[2020-04-28 18:26] #2402 closed

[2020-04-28 19:06] drocsid commented on #2373
Thanks @gradinac ! Let me know if you'd like me to test it against my build.

[2020-04-28 22:07] viktorklang commented on #2345
@christianwimmer Thanks for this fix, Christian—will it make it into the next release?

[2020-04-28 22:53] pquiring commented on #1327
I've made some progress with BufferedImage.

Steps:
- remove the getDefaultToolkit() substitution in substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/JavaAWTSubstitutions.java
- before creating a BufferedImage call System.load("c:/temp/awt.dll")  [must be absolute path]
- need to copy awt.dll, java.dll, server\jvm.dll, verify.dll from labsjdk/bin to c:\temp

But I get this error:
[c

[2020-04-29 06:08] sieveo commented on #2345
I have the more or less same question as @viktorklang @christianwimmer . This is unfortunately a blocking issue for me.

How will this be updated? Will it ship with GraalVM 20.1.0? Or will it come as an update via the `gu` tool to the `native-image` feature?

Another question. How would one go about debugging this issue? The stacktrace from the native image tool does not really point me in the dir

[2020-04-29 13:24] viktorklang commented on #2345
@sieveo I'm at the same stage as you: unable to make progress forward—I have no idea what caused the issue or what to work around.

[2020-04-29 15:54] christianwimmer commented on #2345
The fix is now also merged into the 20.1 release branch (required a second merge because the release branches were created a few weeks ago). So it will be in the upcoming 20.1 release, i.e., one of the next 20.1 preview builds.

You can also grab a recent nightly build from master to check if the error is fixed for you.

[2020-04-29 15:59] christianwimmer commented on #2345
And some ideas how to debug the underlying issue, i.e., to debug why `java.lang.invoke.MethodHandleImpl$AsVarargsCollector.invokeWithArguments` is reachable:
You can use the option -H:+PrintAnalysisCallTree to dump the entire call graph.
Or use the option -H:ReportAnalysisForbiddenType=java.lang.invoke.MethodHandleImpl$AsVarargsCollector to disallow that type completely and then see where the anal

[2020-04-29 16:30] #2367 closed

[2020-04-29 16:46] rsteppac commented on #1387
With Woodstax as the StAX parser I run into the same issue:

[code]
I am using GraalVM 20.0.0:
[code]

[2020-04-29 17:01] arodionov commented on #1387
@rsteppac For Woodstox (`com.ctc.wstx.stax.WstxInputFactory`) you should explicitly specify classes in reflection-config. Only default JDK-providers are supported.

[2020-04-29 17:15] XakepSDK opened #2416 "Linux CCompilerInvoker not working if locale is not english"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Set locale to not English or C, German for example
2.

[2020-04-29 17:18] pquiring commented on #1327
Made more progress today, found all the classes that need to be initialized at run-time and those that need reflection.

My test looks like this now:

[code]

The command line looks like this:

[code]

And the graal.json file:
[code]

But now I'm stuck at this error:
[code]

It looks like AWT is trying to reflect a class in the DLL which is not supported yet.  Labsjdk will need to get those DLLs c

[2020-04-29 17:18] cstancu commented on #1002
@gsstar9028 yes this should be working as intended.
@verhas, sorry for the late reply, I missed your comment. Since then that code has evolved and we now use a [constant-annotation-marker interface](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/annotation/AnnotationSupport.java#L123) to identify the ahead-of-time allocated annotation pr

[2020-04-29 17:24] jazdw commented on #2056
#2190 would certainly make this easier

[2020-04-29 17:25] eginez commented on #904
@sdeleuze This is now fixed
[code]

[2020-04-29 17:25] #904 closed

[2020-04-29 18:57] rsteppac commented on #1387
And it is expected behavior that the agent misses non-default parsers?

[2020-04-29 19:00] aclement opened #2417 "agent is missing resource bundles for spring sample (e.g. javax.servlet.http.LocalStrings)"
**Describe the issue**
In trying to use pure agent generated configuration to build some of the Spring samples, the agent is missing two resource bundles and they have to be added via command line flags:
[code]

These places are found in `javax.http.servlet.HttpServlet`:
[code]

and I think `javax.servlet.GenericServlet`:
[code]

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your

[2020-04-29 19:25] vektory79 commented on #1327
Hi, @pquiring. I have the experiment, that came mach far toward: https://github.com/vektory79/plantuml-native-image

I think, that it ca be interesting for your.

The key thing is that it needs large set of reflection in JNI for AWT.

[2020-04-29 19:30] arodionov commented on #1387
@peter-hofer

[2020-04-29 19:52] #808 closed

[2020-04-29 20:05] cstancu commented on #1991
Cannot replicate the original issue reported here, the error message for unsupported MethodHandle use has been improved since. As for proper support of the latest Log4j, as mentioned in the issue linked above, we will need proper MethodHandle support first.

[2020-04-29 20:05] #1991 closed

[2020-04-29 20:12] cstancu commented on #1376
`MethodHandle` support discussion is at https://github.com/oracle/graal/issues/955.

[2020-04-29 20:12] #1376 closed

[2020-04-29 20:17] cstancu commented on #778
The class initialization approach has significantly changed since this issue has been reported. Please see https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md

[2020-04-29 20:17] #778 closed

[2020-04-30 06:38] olpaw commented on #2129
@cstancu that should be fixed. Only if truffle-api.jar is actually needed we should have it on the module path. I'm currently working on several improvements in out handling of `-imagecp` and `NativeImageClassLoader`. Taking care of this truffle-api.jar problem fits well in. I will add a fix for that on PR https://github.com/oracle/graal/pull/2415

[2020-04-30 06:46] olpaw commented on #2416
@XakepSDK thanks for the hint!

[2020-04-30 09:14] galderz commented on #2367
@olpaw I tested your branch with Quarkus and it worked fine.

[2020-04-30 09:17] olpaw commented on #2367
The fix is on master and also on the 20.1 branch.

[2020-04-30 10:09] peter-hofer commented on #1387
I assume that Woodstox classes (in particular, factory classes) are discovered and instantiated through system properties, property files or the service provider mechanism in `java.xml.stream.FactoryFinder`. Because that is a JDK class, the agent filters these accesses since it cannot tell whether these are JDK internals or external classes that are relevant for a user configuration. Please try ad

[2020-04-30 10:10] olpaw commented on #2129
@cstancu having `truffle-api.jar` on the `--module-path` is not a problem (since it's the module-path of the image-builder and not the module-path of the image we want to build). The problem arises from https://github.com/oracle/graal/blob/5b5dd481e59e9cb6c08d06917ab6e97ad149c4b3/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/ImageClassLoader.java#L154-L166
This code unconditional

[2020-04-30 10:43] highleverage commented on #373
Hello, could you please share any guide where I can read about how exactly it could be done? I mean, I have a jar that I can compile as a native library for OS X and Linux, but how I could compile it for iOS?

[2020-04-30 11:04] vjovanov commented on #373
@johanvos how far are we from building shared libraries for iOS?

[2020-04-30 11:39] pejovica commented on #1287
@borkdude Thanks for the report. It was probably related to #1281, and since I can't reproduce it anymore, I'll close it as resolved.

[2020-04-30 11:39] #1287 closed

[2020-04-30 13:22] jzdayz opened #2420 "Aborting stand-alone image build due to unsupported features"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. wget https://github.com/halo-dev/halo/releases/downloa

[2020-04-30 14:17] viktorklang commented on #2345
@christianwimmer My issue seems to be caused by protobuf-java 3.10.0—you might be able to create a regression test from that code.

(this is from a shaded version of 3.10.0)
[code]

[2020-04-30 14:32] bobvandette commented on #2373
Could you please try running your test with muslC 1.2.0.  It looks like they have added some support for RTLD_DEFAULT in the latest version.

https://git.musl-libc.org/cgit/musl/tag/?h=v1.2.0

[2020-04-30 14:43] cvgaviao commented on #1902
I've tried once more to build my vertx app with native-image, but this time I used the version 20.0.0 and using the properties that @vjovanov  have suggested. But still no luck.

[code]
`-H:+TraceClassInitialization` and `-H:+ReportExceptionStackTraces` doesn't help to show who is initializing it.

[2020-04-30 15:22] Barteks2x commented on #2232
I'm running into the same issue on graalvm java 11. Any idea how to fix it when I'm not using maven?

I'm using gradle for build, and I'm running it on github actions.

[2020-04-30 15:29] mbarbeaux commented on #2232
I got it working successfully on Windows, Linux and MacOS with GraalVM 20.0.0 java 11 version.

I just took the SWT java sources and add them to my project source path (do not use the JAR provided by SWT), run the GraalVM agent to generate config files for JNI, reflection, resources and proxies, and it will work at native compilation time. Of course you will have to also download the SWT native sh

[2020-04-30 16:01] rsteppac opened #2421 "Substitution for ClassValue#get cannot handle null"
**Describe the issue**
I am trying to build a service as a native image that utilizes Apache WSS4J. WSS4J's `org.apache.wss4j.dom.util.WSSecurityUtil` implements a `java.lang.ClassValue<Method>` with an implementation of `java.lang.ClassValue#computeValue` that may return `null`. This causes an NPE in GraalVM's substitute `Target_java_lang_ClassValue`, which stores the result of `computeValue` in

[2020-04-30 16:13] gergo- commented on #2397
Thanks again for the report. This is fixed by https://github.com/oracle/graal/commit/fc2b286614994f9dd60748c96276c6ba62d4b271. The fix will be part of upcoming development builds, and it's making its way into the 20.1 release.
Please test a future build when you get the chance, and reopen the issue if the problem persists.

[2020-04-30 16:13] #2397 closed

[2020-04-30 17:11] cstancu commented on #2129
Yes, but if the `truffle-api.jar` is *not* on the `--module-path` then even if `native-image-modules.list`  contains the `org.graalvm.truffle` declaration nothing extra will be loaded. In general, I think the best approach is to have a better decoupling of Truffle things.

[2020-04-30 18:18] Barteks2x commented on #2232
I did some more investigation here and it seems like the main difference is that the SWT jar is compiled using the eclipse compiler, and not the standard java compiler. After some further investigation, it seems to be mainly a difference in static initialization order. I was able to reproduce similar issue even at runtime, with the "wrong" initialization order. With that in mine it should be possi

[2020-04-30 19:06] peter-hofer commented on #2381
@sdeleuze , @sbrannen is #2422 what you had in mind?

[2020-05-01 03:57] jaikiran commented on #2421
FWIW - The javadoc (contract of the) `ClassValue#get` API does state[1] that this method is expected to throw a `NullPointerException` if the passed parameter is `null` (as in this case). So it does appear to be behaving as expected.

[1] https://docs.oracle.com/javase/8/docs/api/java/lang/ClassValue.html#get-java.lang.Class-

[2020-05-01 06:55] jaikiran commented on #2287
Hello @dougxc, I'm closing this since the linked PR has been merged (thanks!). However, I don't know what milestone to add as the fix version for this issue.

[2020-05-01 06:55] #2287 closed

[2020-05-01 07:09] rsteppac commented on #2421
The argument, i.e. the type, is not `null`. In the WSS4J case it is a type that does not declare a method `getDomElement`. WSS4J's implementation of `computeValue(Class<?> type)` then returns null, which causes the NPE in the substituted `get(Class<?> type)`.

[2020-05-01 07:48] jaikiran commented on #2421
Thank you for clarifying that. I now see what you mean.

[2020-05-01 08:28] sirthias commented on #373
Shared library support for iOS would be absolutely fabulous!!
If it's available - or as soon as it's available - I'd be extremely eager to try it out and promote it (e.g. with blog posts, talks, etc.).

It's the original graal "feature" that this ticket was all about.

[2020-05-01 12:18] fniephaus opened #2424 "IllegalAccessException when accessing HostObject"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds here: https://github.com/graalvm/graalvm-ce-dev-builds/releases

Nop

[2020-05-01 15:14] pquiring commented on #1327
@vektory79 Thanks for the example, quite complex.

It would be nice if there was an option to initialize a whole module at run time, like this:
[code]

[2020-05-01 15:38] vjovanov commented on #1327
There is such an option. Just put the package name without `@`.

[2020-05-01 15:48] jazdw opened #2425 "Add HostAccess configuration that disables reflection"
**Feature request**

**Is your feature request related to a problem? Please describe.**
There are several pre-built HostAccess configurations but none which allow you to access public methods but disable reflection.

**Describe the solution you'd like.**
A HostAccess configuration that allows access to public methods but disables reflection. At it's most basic I think it could look like this -
[co

[2020-05-01 15:50] jazdw commented on #2425
Related issues #987 and #1654. @chumer would probably be interested in this one.

[2020-05-02 17:14] #2327 closed

[2020-05-02 18:12] rsteppac commented on #1387
I tried specific rules as well as what I hope to be a catch'em all rule, but it made no difference with regards to the Woodstox parser being added to the generated `reflect-config.json`.

[code]

[2020-05-03 03:49] lvh commented on #2177
FWIW: I'm seeing the exact same problem on Clojure with JDK11 and 20.0.0. Downgrading to 19.3.1 appears to fix it.

[2020-05-03 06:53] myxyz opened #2428 "Memory keeps growing and never releases again"
**Describe the issue**
native-image in windows Memory keeps growing and never releases again  set Xmx or XX:MaxHeapSize no effect

graalvm 20.0.0 jdk8 or jdk11 in windows both have

[2020-05-03 07:16] wkgcass opened #2429 "Incompatible behavior when using Thread#getStackTrace()"
Hi, I am using native-image `GraalVM Version 20.0.0 CE` to build a program and found that the returned array of native-image's `Thread.currentThread().getStackTrace()` is missing the first element which should be `java.base/java.lang.Thread.getStackTrace(Thread.java:1606)`.

**Steps to reproduce the issue**
1. Test.java:

[code]

2. `javac Test.java`

3. `native-image Test --no-server`

4. `java T

[2020-05-03 07:21] 38leinaD opened #2430 "Desktop.getDesktop().browse() not working in native application"
The following gives me an error when running within a native image:

`Desktop.getDesktop().browse(new URI("http://www.google.com"));
`
Under GraalVM 20.0.0  i am getting:

[code]

Under GraalVM 19.3.1 i am getting an additional output:

[code]

But if i do echo $DISPLAY, it shows me that the variable is correctly set (":1") within the shell and also xclock works.

When running as a regular java ap

[2020-05-03 22:08] drocsid commented on #2373
@bobvandette I will test. But then against the current version of graal?

[2020-05-04 07:06] CedricGatay commented on #373
@sirthias you can take a look at the issue I made here (https://github.com/gluonhq/substrate/issues/47) and the links to my forked repositories to have a starting point for building iOS static libraries.

It is however an abandoned project on my side, as the results were not convincing enough for the time being, we decided to switch to K/Native instead.

[2020-05-04 07:29] boris-spas commented on #2244
Doesn't https://github.com/oracle/graal/issues/373#issuecomment-563435260 answer your questions?

[2020-05-04 07:38] boris-spas commented on #2329
As @fniephaus pointed out, more information is needed to make this report actionable.
I'm closing the issue but will gladly reopen if more information is provided.

[2020-05-04 07:38] #2329 closed

[2020-05-04 08:10] ppalaga commented on #2347
Is this idea worth pursuing? I'd have a look how to implement this but it feels risky as long as there is no explicit approval.

[2020-05-04 08:17] boris-spas commented on #2404
Tracking internally as Issue GR-23071.

[2020-05-04 08:18] boris-spas commented on #2424
Tracking internally as Issue GR-23072

[2020-05-04 08:20] boris-spas commented on #2297
Tracking internally as Issue GR-23073.

[2020-05-04 08:21] boris-spas commented on #2298
Tracking internally as Issue GR-23074.

[2020-05-04 08:26] boris-spas commented on #2307
Tracking internally as Issue GR-23075.

[2020-05-04 08:29] boris-spas commented on #2190
Tracking internally as Issue GR-23076.

[2020-05-04 08:31] boris-spas commented on #2319
Tracking internally as Issue GR-23077.

[2020-05-04 08:38] boris-spas commented on #2314
Tracking internally as Issue GR-23079.

[2020-05-04 08:46] sirthias commented on #373
Thank you so much for the pointer, @CedricGatay, I hadn't seen your work there yet.
A largish Scala-based shared lib is my exact first use case, so you breaking the ground there is highly relevant for us.

What exactly wasn't "convincing enough" and the trigger for you to abandon your project?

[2020-05-04 08:49] CedricGatay commented on #373
There was the following concerns :

 * hacks around loading native libraries (JNI on devices)
 * final artifact size (over 200Mb)
 * general stability, it would randomly crash on device without a readable backtrace
 * build time / reproducibility was also present (but not the factor that made us abandon this, as we know it will be better and better).

[2020-05-04 09:07] sirthias commented on #373
Ok, thank you for these details!
I guess we could live with all but your 3rd point, but maybe it's related to your first.

I'll definitely play around with your forks and try to get sth off the ground.
The good thing is that, in our use case, the shared library would simply be a heap of rather complicated business logic and nothing that needs interacting with native libs.

It would be great though

[2020-05-04 09:12] CedricGatay commented on #373
As far I remember, I had no concurrency issues / memory leaks during my testings (the framework is using akka / scala and makes use of concurrency).

I don't know if the random crashes were due to JNI loading ,but I sincerely doubt it, as it was rather random and backtrace were not necessary involving native code. However I might have done things the wrong way (and Graal have evolved too).

One of

[2020-05-04 09:22] sirthias commented on #373
Ok, thank you, Cedric!

[2020-05-04 09:23] vjovanov commented on #373
@CedricGatay we have made quite a few improvements in the last couple of months:
- The LLVM is shipped with Graal so there are no difficulties with finding the right version.
- The LLVM backend passes all our tests.
- The debug symbols are coming soon so the stack traces should become usable.
- The build-time is improved quite a bit.

We are currently working on improving testing on mobile devices

[2020-05-04 09:26] CedricGatay commented on #373
Glad that most of the issues are being fixed @vjovanov  !

The binary size was coming from transitive dependencies I guess from the project I was building to native (https://github.com/ACINQ/eclair) without the GUI part (so without JFX parts). But it gets scala + akka as a base.

[2020-05-04 09:29] vjovanov commented on #373
You can both start new threads and use the OS threads that are passed through the entry points. The memory model is the same as on the JVM.

[2020-05-04 09:45] sirthias commented on #373
Thank you, @vjovanov, that's what I assumed, as otherwise lots of things would fall apart.

[2020-05-04 09:46] nhoughto commented on #373
The shared library is super interesting, compelling use case for us would be no jni etc. like kotlin mpp but without having to deal with kotlin migrations 🤔

https://kotlinlang.org/docs/reference/multiplatform.html

[2020-05-04 09:47] chumer commented on #2404
We will print internal errors if they have no guest frames.
Not sure we can actually remove the guest frames (0) notice in the end. But that can be fixed with the new TruffleException base class that we plan to do.

We will provide a better error for the NPE here.

[2020-05-04 10:13] chumer commented on #2307
Errors that happen as part of guest code execution are guest errors. Errors that happen as part of host code execution are host errors. So OOM errors are not necessarily host errors.

OOM should never be an internal error. As internal errors are always bugs on our side, but in this case it is a problem in the script.

I suggest we add a new category of errors in PolyglotException. First thing I ca

[2020-05-04 10:19] adinn opened #2431 "Native image debug line info wrongly attributed when using gdb 9.1"
gdb 9.1 appears to be associating method code addresses with the wrong line numbers when presented with a native image containing debug info. An objdump of the binary indicates that the debug_lineinfo DWARF data has the correct line numbers. Also, the mismatch does not occur when debugging the same generated image with gdb 8.3. So, this may be a bug in gdb.

1. Clone latest graalvm repo and mx bui

[2020-05-04 10:20] chumer commented on #2314
Hey @aitorhh . Thank you very much for the report!

We want to to improve Scala support.
Would you mind describing what you mean by " The data conversions between Graal <-> Java <-> Scala are not trivial. " by providing a few examples?

In the meantime I suggest you implement converters to ProxyObject / ProxyArray for Scala objects that you pass in with the behavior you desire. If you can then sha

[2020-05-04 10:29] tporeba commented on #2307
Looks fine for me.

[2020-05-04 12:29] jendrikw opened #2432 "`jaotc` missing from download"
If I interpret https://openjdk.java.net/jeps/295 correctly, a JDK build should have a `jaotc` tool. It seems like that's missing from the GraalVM 20.0.0 amd64 linux build at https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.0.0/graalvm-ce-java11-linux-amd64-20.0.0.tar.gz.

[2020-05-04 14:07] gilles-duboscq commented on #2377
@ezzarghili / @soufianenassih can we add some hashes in the release descriptions (releases and dev builds). I suppose sha256 would work.

[2020-05-04 14:18] olpaw commented on #2416
The fix is on master and will also be added to 20.1.

[2020-05-04 14:18] #2416 closed

[2020-05-04 15:09] warrenc5 commented on #2190
FYI for a greater detail how I work around the existing design to intercept calls to the file system.

[](https://github.com/oracle/graal/issues/2147)

[2020-05-04 15:10] warrenc5 commented on #2147
Cross reference to original issue

[](https://github.com/oracle/graal/issues/2190)

[2020-05-04 16:41] danielkec commented on #1754
We have ran in to the same issue on Ubuntu:

TempReproducer.java:
[code]

[code]

[code]

[2020-05-04 16:55] soufianenassih commented on #2377
sure will do.

[2020-05-04 17:56] aclement opened #2434 "Despite delaying missing classes issues to runtime, Spring sample causes native-image failure at build time"
**Describe the issue**
The spring feature is setting `--allow-incomplete-classpath --report-unsupported-elements-at-runtime` however, at image build time it is producing this error:

[code]

The `Manager` class is not on the classpath. Looks like `com.oracle.svm.hosted.substitute.AnnotationSubstitutionProcessor.findOriginalMethod(AnnotationSubstitutionProcessor.java:624)` can't cope with that.

**

[2020-05-05 01:37] lvh commented on #2177
FYI: my reproducer for this is latacora/wernicke. I've tried locally with current 20.2.0-dev builds, and the issue has gone away, so I'm hopeful for the next release :)

[2020-05-05 05:27] drocsid commented on #2373
@bobvandette yes it fails the test for musl-1.2.0. https://github.com/drocsid/https_example

[2020-05-05 07:33] johanvos opened #2435 "object files can't be inspected with nm/otool/objdump"
**Describe the issue**
object files generated by native-image for Darwin can not be inspected with tools like nm, otool or objdump, since the headers are not set correctly:

nm: error: hello.helloworld.o truncated or malformed object (load command 0 filesize field in LC_SEGMENT_64 greater than vmsize field)

**Steps to reproduce the issue**
`native-image -H:+ExitAfterRelocatableImageWrite -H:+Shar

[2020-05-05 12:26] Barteks2x commented on #2256
This is the answer I got on slack, so leaving it here, for anyone else who runs into this issue

The compiled executable can be easily modified with a [tool that comes with windows SDK](https://docs.microsoft.com/en-us/cpp/build/reference/subsystem?view=vs-2019):
[code]

[2020-05-05 13:49] sdeleuze commented on #2381
@peter-hofer Thanks, yes it looks like what I had in mind. Feel free to rename this issue and/or close it if needed.

[2020-05-05 13:59] sbrannen commented on #2381
Yes, I think that looks good. Thanks!

[2020-05-05 19:24] tsatatwer commented on #2406
@pejovica  any update on the issue please ?????

[2020-05-06 06:06] tiainen commented on #2406
As far as I know, this has been fixed with the following commit: https://github.com/oracle/graal/commit/fc2b286614994f9dd60748c96276c6ba62d4b271

[2020-05-06 06:20] albertobarbaro opened #2436 "[LLVM] Invalid Source Section in Sulong"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Debian Buster**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Not yet

**Describe the issue**
When I execute `

[2020-05-06 07:08] gergo- commented on #2406
I agree, this looks very much like it's caused by the same underlying problem as #2397 . @tiainen could you test the newest development build and close this issue that resolves it? Thank you.

[2020-05-06 07:40] #2412 closed

[2020-05-06 14:16] lazar-mitrovic opened #2437 "Runtime error using embedded JIT-less languages"
Using GraalVM master, building `native-image` Hello World with embedded JIT-less languages (`-Dtruffle.TruffleRuntime=com.oracle.truffle.api.impl.DefaultTruffleRuntime -Dgraalvm.ForcePolyglotInvalid=false`) would produce runtime error:
[code]
We know that it worked on 5970ec82a2e4f2d9810ff1c88f412b45da551901 but I'm uncertain whether internal API changed, or if this was regression.

**Reproducer**

[2020-05-06 14:51] olpaw commented on #2437
@lazar-mitrovic this is the result of merging https://github.com/oracle/graal/pull/2415
Specifically: https://github.com/oracle/graal/commit/691923f6188ce0c5d6a9233024e4208fe7d8fbab

Adding `-cp truffle-api.jar` to the native-image command should give you a working image build.

[2020-05-06 14:55] olpaw commented on #2437
@lazar-mitrovic is using `-Dtruffle.TruffleRuntime=com.oracle.truffle.api.impl.DefaultTruffleRuntime` a common usecase. If it is, I have to come up with something better than https://github.com/oracle/graal/commit/691923f6188ce0c5d6a9233024e4208fe7d8fbab

[2020-05-06 15:00] vjovanov commented on #2437
It is, we should check for both of them.

[2020-05-06 15:03] olpaw commented on #2437
It'll try to change https://github.com/oracle/graal/blob/master/truffle/mx.truffle/macro-truffle.properties
to contain `-cp truffle-api.jar`. Then we don't need https://github.com/oracle/graal/commit/691923f6188ce0c5d6a9233024e4208fe7d8fbab at all.

[2020-05-06 17:18] ezzarghili commented on #2377
I would actually go with adding .sh256 companion files so this can be automation friendly.

[2020-05-06 19:17] aclement opened #2438 "Static field changed error that wasn't there before in earlier 20.1 builds"
**Describe the issue**
We have a Spring webflux-r2dbc sample. It was working fine with Graal 20.1 dev release 20200419 but it fails with 20200506. The failure looks like this:
[code]
I can't tell if it is an app problem or a graalvm problem.  The `shouldNotReachHere` in the stack trace perhaps suggests something graalvm really didn't think it would encounter? I half wondered if related to the chan

[2020-05-06 19:22] eginez commented on #2438
@aclement is this only happening on docker? or on mac os well?

[2020-05-06 21:37] aclement commented on #2438
@eginez Those instructions are for Mac too. I managed to sort out the versions that truly did/didnt show the problem for me.

[2020-05-07 04:08] kuaiwei opened #2439 "javac crash on fastdebug graalvm with libgraal"
**Describe the issue**
I build graalvm with libgraal and fastdebug jvmci jdk. But the javac command will crash by assertion
"assert(value != badJNIHandle) failed: Pointing to zapped jni handle area"

**Steps to reproduce the issue**
1 Download jvmci-20.1-b02-fastdebug from https://github.com/graalvm/graal-jvmci-8/releases/download/jvmci-20.1-b02/openjdk-8u252+09-jvmci-20.1-b02-fastdebug-linux-amd6

[2020-05-07 08:19] dougxc commented on #2439
Thanks for the report @kuaiwei . I can also reproduce this on macOS and am investigating.

[2020-05-07 09:34] dougxc commented on #2439
To get a better stack trace in the hs_err file, I build libgraal as follows:
[code]
and as a result I see:
[code]

@tzezula can you please see if this is still reproducible with the changes you're working on for the libgraal MBean.
[code]

[2020-05-07 16:58] doctorpangloss commented on #2428
This is not a solution, but is memory returned to the system by calling `System.gc()` frequently?

[2020-05-07 17:10] sdeleuze commented on #2438
I can reproduce it on regular Linux as well, so I think this is not platform specific.

[2020-05-07 19:21] tiainen commented on #2406
I can verify that the issue has been resolved with the latest development build.

[2020-05-07 19:21] #2406 closed

[2020-05-07 21:34] lucaswerkmeister opened #2441 "NPE in javac on parent and child TruffleObject exporting interop library"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **[20.0.0](https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.0.0)**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Arch Linux**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the

[2020-05-08 12:21] quintesse commented on #2387
I created a PR with a possible solution. Is that what you were looking for @Mobe91 ?

[2020-05-08 12:27] zapster commented on #2301
Hi @mikehearn!

Thanks for the report! I've tried the [latest 20.1 prerelease](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.1.0-dev-20200506_1135) as well as _master_ and it looks like compiling _fish_ works out-of-the-box now. There have been a few changes lately to the toolchain so it is indeed possible that we fixed the bug you were seeing. Note that I used the CE versions,

[2020-05-08 12:56] spannozzo commented on #1322
I had the same issue when I was running the native image with sudo. the R_HOME variable must be set also into the root account