[2021-09-19 07:56] Lucifer-02 commented on #1165
I just uncheck "verify server certificate"
![image](https://user-images.githubusercontent.com/84069686/133919924-24bce680-9d24-4cec-9a18-e09b9e0e5921.png)

[2021-09-19 15:10] retriku opened #3815 "NullPointerException while creating GraalVM native image"
**Describe the issue**
NullPointerException while creating native image

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **git clone https://github.com/retriku/graalvm-scala-mongodb-npe.git**
2. **sbt clean compile 'show graalvm-native-image:packageBin'**

**Describe GraalVM and your environment:**
 - OpenJDK 64-Bit Server VM (11.0.12+6-jvmci-21.2-b08) for

[2021-09-19 19:55] DaniruKun commented on #3807
Have the same issue on `Darwin` :

Using `graalvm-ce-java11@21.1.0`

[code]

[2021-09-19 20:18] smallshen commented on #3807
For me I can successfully build the native binary, but the executable output is the
[code]

[2021-09-19 23:35] chrisseaton opened #3816 "NPE dumping CFG"
[code]

@eregon

[2021-09-20 07:55] mcraj017 commented on #3800
@chenjie100 thanks for reporting the issue, please share the GraalVM version you are using
Please try latest build and let us know, if you still face the issue
https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.3.0-dev-20210914_2058

[2021-09-20 07:57] mcraj017 commented on #3802
@SwapnilGaikwad thanks for reporting the issue
@dougxc please advise

[2021-09-20 08:17] zakkak commented on #3697
The command I used to build from source is:
[code]

Good catch, no it doesn't!

Building with:
[code]
does so, but I am still getting similar results.

Enabling GC logs I see that the actual heap usage is not that different between the two builds, despite the consistent increased heap capacity in the case of the build-from-source GraalVM.

# GraalVM 21.2.0 built from source with native libgraal
[c

[2021-09-20 10:07] ilopmar opened #3820 "[Regression] Micronaut Redis app stuck at runtime"
**Describe the issue**

Our CI has detected a regression this morning with the Redis application. It is possible to build the native image but when sending a request it gets stuck.
I've been trying a few things and this happens even if no Redis class is involved during the execution, just having it on the classpath (the Lettuce driver). I've also setup the Micronaut log to `TRACE` to try to find w

[2021-09-20 11:09] ascertsimonm opened #3822 "Graal Chrome Inspector not showing all fields of java objects during debugging"
The issue was noticed when using the Graal JS engine as a drop in replacement for the deprecated Nashorn JavaScript within an existing java application. When using various debugger tools, for example Intellij or Netbeans (or using [NCDBG ](https://github.com/provegard/ncdbg) with Google Dev Tools) and running the script with Nashorn, any java objects used in the script are shown in the debugger wi

[2021-09-20 14:26] dougxc commented on #3802
@sanzinger is this something already being taking care of with the work to migrate mx and Graal to python 3?

[2021-09-20 14:32] rschatz commented on #3802
FWIW, I recently changed some of our internal gates to use python3 for pylint, and it seems to work fine with the current version. Not sure what exact python version we're using there, it might be older than 3.8.10.

See https://github.com/oracle/graal/commit/e90430bfc11dd77ac718931fc6215fb95333292e for the change. Might make sense to do this for all our gates, including the GH actions ones.

I ju

[2021-09-20 14:37] rodrigar-mx commented on #3810
Hi @tolginho. The format for the target flag is <OS>-<architecture>. As OS you can have "linux", "android", "darwin", "ios", or "windows", and as architecture you can have "amd64", or "aarch64". Not all combinations are supported. Take a look [here](https://docs.oracle.com/en/graalvm/enterprise/21/sdk/org/graalvm/nativeimage/Platform.html).

[2021-09-20 15:30] tolginho commented on #3810
Thank you very much.

Rodrigo Garcia ***@***.***> schrieb am Mo. 20. Sept. 2021 um
16:37:

[2021-09-20 21:03] senderic opened #3823 "Linked Identity HashMap?"
I see the following class was developed in Nov 2014, however I don't think it is part of the master branch or part of the JAR on mvncentral.

https://github.com/oracle/graal/blob/86f9ead4d5ade316c5953a1210df6a6cb9e272fe/graal/com.oracle.graal.compiler.common/src/com/oracle/graal/compiler/common/remote/LinkedIdentityHashMap.java#L34

I am in need of an IdentityHashMap that is ordered by insertion,

[2021-09-20 21:35] rodrigar-mx commented on #3808
Hi @somereason. Thanks for reporting this issue. Could you please try using graalvm tracing-agent https://www.graalvm.org/reference-manual/native-image/Agent/. If error persists, please share a reproducer.

[2021-09-20 22:24] #3810 closed

[2021-09-20 22:59] rodrigar-mx commented on #3811
Hi @andirady. Thanks for reporting the issue. I will take a closer look into it and get back to you.

[2021-09-21 07:52] mcraj017 commented on #3807
@smallshen thanks for reporting the issue, we will check it out and get back to you

[2021-09-21 08:48] mcraj017 commented on #3807
@smallshen please share the commands you used to generate native-image for https://github.com/oracle/graal/files/6462384/JetpackComposeMinimumExample.zip

[2021-09-21 09:46] dougxc commented on #3823
This was part of an experiment to add replay compilation support to Graal. Unfortunately, it never panned out.

[2021-09-21 15:39] #3823 closed, assigned to nobody

[2021-09-21 19:09] rodrigar-mx commented on #3811
@andirady, I have reported this issue with the native-image team. They will respond you accordingly.

[2021-09-21 23:19] smallshen commented on #3807
I use the agent to produce config first, and then
native-image.cmd -jar Jarfile.jar
since the old bug is fixed, It should be able to compile it properly without fallback.

[2021-09-21 23:33] rodrigar-mx commented on #3814
Hi @yang-uamng. Thanks for sharing the issue. You may want to take a look [here](https://www.graalvm.org/reference-manual/embed-languages/#access-java-from-guest-languages). If you cannot find an answer, please share i) the graalvm version you are using, ii) the OS you are using, iii) a reproducer, if possible, or the steps required to reproduce the issue.

[2021-09-22 04:41] vjovanov commented on #3811
This issue has been fixed but we are waiting for the backports to JDK 11 and JDK 17:
https://bugs.openjdk.java.net/browse/JDK-8273278

After this is merged, XSLT will be fully supported, however, it needs to use class pre-difinition for XSLT templates: one needs an agent run to collect all the generated template-processing classes.

[2021-09-22 06:24] fcurts opened #3826 "Propagate annotations for constructor parameter types of node classes to generated code"
We use JSR-305 nullability annotations in the Java code of our Truffle language. Specifically, we annotate nullable method parameter types with our own `@Nullable` annotation, which is itself annotated with JSR-305 annotations. The nullability annotations are leveraged by IntelliJ and the Kotlin compiler.

Even though we annotate nullable constructor parameter types of our Truffle node classes, th

[2021-09-22 09:23] chumer commented on #3826
@fcurts  thanks for there report. since we are not using the Nullable annotation ourselves, would you mind posting a small example so we can verify the feature with the expected behavior?

[2021-09-22 09:24] gradinac commented on #3283
I'll close this issue as the feature had made it into 21.3 - let me know if you hit any issues/have any questions about the feature

[2021-09-22 09:24] #3283 closed

[2021-09-22 11:02] petermz commented on #3122
You can change the language cl.exe speaks using Visual Studio Installer. I don't have Windows around at the moment, but it should have "Language Packs" tab somewhere, where you uncheck Chinese and check English. No restart needed

[2021-09-22 15:53] #3566 closed

[2021-09-22 15:53] vjovanov commented on #3566
Fixed in 21.3.

[2021-09-22 22:20] #1715 closed

[2021-09-22 22:44] fniephaus commented on #3800
Instead of exposing your debugger sessions to the internet, why not use remote port forwarding via SSH?

[2021-09-23 01:28] usrinivasan opened #3831 "JDK test java/security/Policy/SignedJar/SignedJarTest.java fails with GraalVM 21.2.0 and OpenJDK 11.0.12"
**Description**
The OpenJDK test java/security/Policy/SignedJar/SignedJarTest.java fails with a JVM build of GraalVM 21.2.0 and JDK 11.0.12 sources, and JVM options -XX:+UnlockExperimentalVMOptions -XX:+EnableJVMCI -XX:+UseJVMCICompiler to run with the Graal compiler. The test passes with the default C2 compiler.

**Steps to reproduce the issue**
1. 'make images' with GraalVM 21.2.0 and OpenJDK 11

[2021-09-23 02:11] somereason commented on #3808
Hi @rodrigar-mx

After using config files generated by agent, package failed with the following error:

I have created a a demo project here, https://github.com/somereason/graalvm-demo,  all the commands are listed in README

thank you

[2021-09-23 03:12] yang-uamng commented on #3814
the graalvm version :graalvm-ce-java8-linux-amd64-21.2.0.tar.gz
the OS  : ubantu

jscode:
[code]
javacode:

[code]

[2021-09-23 03:13] yang-uamng commented on #3814
the graalvm version :graalvm-ce-java8-linux-amd64-21.2.0.tar.gz
the OS : ubuntu

[2021-09-23 03:27] fcurts commented on #3826
Here is a contrived example. Let me know if this is good enough.

Nullable.java (uses Maven dependency com.google.code.findbugs:jsr305:3.0.2):
[code]

MyAdditionNode.java:
[code]

MyAstBuilder.java:
[code]

[2021-09-23 06:41] mcraj017 commented on #3815
@retriku thanks for reporting the error, we will take a look and get back to you

[2021-09-23 07:11] zakkak commented on #3697
I am closing this, as it seems related to a slightly different allocation pattern that leads to the GC algorithm increasing the heap size a bit more aggressively in one of the two cases while the actual memory usage is not that different.

[2021-09-23 07:11] #3697 closed

[2021-09-23 08:03] dougxc commented on #3831
As shown in https://bugs.openjdk.java.net/browse/JDK-8262762, there's not much Graal can do to avoid this kind of deadlock. The only reliable solution is to use libgraal which avoids all class loading related to Graal.
Unless you have other ideas, I'd prefer to close this until JDK-8262762 is resolved.

[2021-09-23 08:49] mcraj017 commented on #3815
@retriku When I am trying to use jar file of this project, I am getting Error:
[code]

[2021-09-23 08:52] mcraj017 commented on #3815
for native-image, you can use native-image-agent to generate config files and add them to the settings in build.sbt
1. Run agent
`java -agentlib:native-image-agent=config-output-dir=./configs -jar target/scala-2.13/graalvm-scala-simple_2.13-0.1.0.jar `
2. add config files
[code]

[2021-09-23 09:00] mcraj017 commented on #3816
@chrisseaton thanks for reporting the issue
@chumer please advise

[2021-09-23 09:03] zakkak commented on #3534
Reproducer:
[code]

[2021-09-23 09:04] mcraj017 commented on #3816
@eregon please check and advise

[2021-09-23 09:21] adinn commented on #3534
@zakkak I just ran your reproducer with a build of the current master branch and see no DWARF errors. n.b. this is on the release of fedora 33 detailed below (which may make a difference).

    [adinn@sputstik substratevm]$ uname -a
    Linux sputstik 5.13.15-100.fc33.x86_64 #1 SMP Wed Sep 8 15:51:20 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Output is as follows:

    [adinn@sputstik substratevm]$

[2021-09-23 09:23] adinn commented on #3534
And of course the perf version is

    [adinn@sputstik substratevm]$ perf --version
    perf version 5.13.6

[2021-09-23 09:35] retriku commented on #3815
I added assembly plugin. You can build fat jar with `sbt assembly`, it will create file graalvm-scala-simple-assembly-0.1.0.jar. I force pushed code to repo.

Failing image build seems to be due to `(Class[])null` parameter value. Following code also fails to create native image:
`import java.lang.reflect.Method;

public class JavaApp {
    public static void main(String[] args) throws Exception {

[2021-09-23 09:57] eregon commented on #3816
It looks very much like a compiler issue, reassigning to Doug.

[2021-09-23 10:00] mcraj017 commented on #3815
@retriku ok great, do you still need any other assistance from our side?

[2021-09-23 10:03] mcraj017 commented on #3807
@smallshen while running set java.home property to GRAALVM_HOME to your application
app.exe -Djava.home=$GRAALVM_HOME

[2021-09-23 11:25] jyemin commented on #3815
Hi @mcraj017, the code that @retriku is referring to is contained in multiple releases of a widely-used library (I'm one of the maintainers), so @retriku can't easily change it.  Moreover, the Javadoc for `Class.getMethod()` explicitly states that it's legal to pass null in this case:

So it seems like GraalVM should handle this code without error, but if not I'd like to understand why.

[2021-09-23 11:28] dougxc commented on #3816
Hi @chrisseaton is there any chance you could try reproduce this on a 21.3 snapshot? There have been some changes in that area so it would be interesting to know if the problem still exists.
Also, looking at [the code](https://github.com/oracle/graal/blob/912dc699239176ba953cf85cb10309ce03f646cf/compiler/src/org.graalvm.compiler.printer/src/org/graalvm/compiler/printer/CFGPrinterObserver.java#L83-

[2021-09-23 11:31] chrisseaton commented on #3816
I don't think it causes compilation failure - it just means I don't get the graphs I want.

I will check on the snapshot today.

[2021-09-23 11:34] dougxc commented on #3816
Ok, thanks.

Of course, any help you can provide in terms of debugging the cause would be greatly appreciated.

[2021-09-23 12:07] zakkak commented on #3534
That's interesting!

I am using the same perf version on a slightly newer kernel build (on Fedora 34).

[code]

Profiling the given example compiled with GraalVM built from 6419956ec6800b2a5ef3278a1c86a4a8d90e1ad9 gives me:
[code]

[2021-09-23 12:43] zakkak commented on #3534
This appears to not be GraalVM related after all.

Running:
[code]
yields similar output, so the "corrupted" section is probably part of some system library.

[2021-09-23 12:43] #3534 closed

[2021-09-23 12:49] tzezula commented on #3590
It works fine for me.
Tested graalvm:
[code]

I've used the above test case. I've just added `System.out.println("Second execution");` before second call to `fn.execute(cls);`.

There is no exception thrown from the second execution as seen from the output:
[code]

[2021-09-23 13:00] jiekang commented on #3538
Commits were merged. E.g. https://github.com/oracle/graal/commit/5d3ecbd1c5240ce5b445ceedb4ea2647928915ed#diff-675f3b798fb7398860a8f07bb70077817eb3d734dd8190ad8b76f17bc4198898

[2021-09-23 13:00] #3538 closed

[2021-09-23 13:09] chrisseaton commented on #3816
Still fails.

Talks about 'disassembler' but in my experience the CFG files just include raw binary as Base 64 or something like that, which is fine because I disassemble offline.

[code]

[2021-09-23 13:14] dougxc commented on #3816
@tzezula could you please look into this. I'm not familiar with how the IsolateAwareTruffleCompiler is configured.

[2021-09-23 14:01] oubidar-Abderrahim commented on #3796
Hi, This looks more like an issue for Gluon, please report the issue on the Glueon repo.
I'll close this issue for the time being. If you need more assistance please reopen.

[2021-09-23 14:01] #3796 closed

[2021-09-23 14:18] oubidar-Abderrahim commented on #3727
Could you try to run CALL "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 inside your commande prompt?

[2021-09-23 15:10] adinn commented on #3534
That is certainly quite possible. During testing I have noted several errors when dumping DWARF info and have verified that they are caused by problems with DWARF content derived from compiled C/C++ code.

[2021-09-23 16:52] rodrigar-mx commented on #3808
@somereason thanks for sharing. Could yo please try remove the "org.springframework.boot.logging.log4j2.Log4J2LoggingSystem$Factory" entry from the `reflection-config.json`, and tell me what you get.

[2021-09-23 17:22] chumer commented on #3826
@fcurts impl is ready would be great if you have time verify it.
https://github.com/oracle/graal/pull/3832

[2021-09-23 17:49] olyagpl commented on #3735
@arielcarrera, thanks for suggestion. It was followed, https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/DynamicProxy.md#manual-configuration.

[2021-09-23 17:49] #3735 closed

[2021-09-23 18:12] usrinivasan commented on #3831
Were you able to reproduce this issue on your side?
If not, what build and runtime configurations are you using for the Graal 21.2.0 + JDK 11.0.12 testing?

I think it's okay to close this issue as being dependent on JDK-8262672.

[2021-09-23 18:27] dougxc commented on #3831
No but there's not much point given that the deadlock cause is clear.

When we test with jtreg tests, it's with libgraal.

[2021-09-23 18:27] #3831 closed

[2021-09-23 23:25] rodrigar-mx commented on #3820
Hi @ilopmar. I will take a closer look into it, and report the bug if necessary. Any updates or questions I will let you know.

[2021-09-24 05:47] mcraj017 commented on #3815
@jyemin thanks for the clarification, I have raised this issue with the native-image team

[2021-09-24 07:48] tolginho opened #3833 "Graal VM native image ARM v5/v6 platform compatibility"
**Feature request**

Dear ladies and gentlemen,

our project focusses on a IoT device based on a RaspberryPi Zero on a arm v5/v6 platform.
It looks like you unfortunately dont support that currently. (https://docs.oracle.com/en/graalvm/enterprise/21/sdk/org/graalvm/nativeimage/Platform.html)

We would be very happy if you could include this compatibility, as a native executable program would impro

[2021-09-24 12:40] kkriske opened #3835 "[GR-34132] Missing resource bundle 'sun.util.resources.CurrencyNames'"
**Describe the issue**
Missing resource bundle `sun.util.resources.CurrencyNames` when resolving currency symbols.

**Steps to reproduce the issue**

1. `AvailableCurrencies.java` file:
[code]
2. compile: `javac AvailableCurrencies.java`
3. build native-image: `native-image --no-server --no-fallback AvailableCurrencies -H:DefaultLocale=en-US`
4. run `availablecurrencies.exe`:
[code]

**Describe Gr

[2021-09-24 14:33] oubidar-Abderrahim commented on #3822
Hi, Thank you for reporting this, could you please share a small reproducer?

[2021-09-24 19:56] rodrigar-mx commented on #3814
Hi @yang-uamng. The problem is not extending the java interface in js, and then call it from java. You can test this by adding at the beginning of  `asyncRequest` method the following calls: `callback.fail("")` or `callback.ok("")`; and you should see the methods been called without errors. The problem is raised because a new thread, created by the HttpRequest, is the one trying to execute this me

[2021-09-25 01:30] #3769 closed

[2021-09-25 11:02] Karm opened #3837 "[JDK17] Native image build fail, Unsupported method java.lang.ref.Reference.refersToImpl(Object) is reachable"
**Describe the issue**
GraalVM/Mandrel build used to work with OpenJDK 17u. A post-17.0.0 GA change in OpenJDK 17 affected the compatibility.

**Steps to reproduce the issue**
Build Mandrel or GraalVM distribution of 21.3 branch with latest OpenJDK from https://github.com/adoptium/jdk17u/.

**Describe GraalVM and your environment:**
 - GraalVM version: 0103a9729b2   (HEAD of 21.3 branch at the tim

[2021-09-26 08:37] somereason commented on #3808
It works. thank you.

[2021-09-26 08:37] #3808 closed

[2021-09-26 08:59] Karm commented on #3837
(updated description with the commit i JDK17u that affects the compatibility)

[2021-09-26 17:33] FieryCod opened #3838 "java.lang.NoClassDefFoundError: Could not initialize class com.sun.jna.Native"
**Describe the issue**
I'm trying to make https://github.com/testcontainers/testcontainers-java work with native-image. I think I went pretty far, but I'm having some troubles to understand why I'm receiving the following issue, hence the report.

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps

1. Install Babashka & Clojure
[code]

2. Provide `$HOME/.

[2021-09-27 06:20] tzezula commented on #3744
Fixed in master https://github.com/oracle/graal/commit/51a681f6320e1abec4c27772907f96881b81115a.

[2021-09-27 06:20] #3744 closed

[2021-09-27 06:47] mcraj017 commented on #3486
@agibsonccc we have added the information in our documentation
https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/MemoryManagement.md#serial-garbage-collector

[2021-09-27 06:47] #3486 closed

[2021-09-27 06:51] mcraj017 commented on #3659
Closing this because there is no activity in last 30 days

[2021-09-27 06:51] #3659 closed

[2021-09-27 06:58] mcraj017 commented on #3695
Closing this issue as there is no activity in last 30 daysa

[2021-09-27 06:58] #3695 closed

[2021-09-27 07:06] agibsonccc commented on #3486
@mcraj017 this doesn't remotely address the root problem, nor the underlying feature that needed to be implemented. This is not even close to a fix. @adinn mentioned that there would need to be a significant change to the underlying runtime to allow the native heap to be more than 2 billion objects. Documenting the limitation is fine, but I don't really see how documenting the different GC options

[2021-09-27 07:28] yang-uamng commented on #3814
it is asynccall, so it will take new  thread to callback inevitable, can i take same context to new thread avoid Multithreading ？

[2021-09-27 07:56] smallshen commented on #3807
@mcraj017 thanks it solves the problem, looks like it forget to link the jawt.dll somehow

[2021-09-27 08:08] smallshen commented on #3807
it will load the "bin/jawt.dll" under java.home, is it possible to link it into the exe? same as the java.dll and jvm.dll

[2021-09-27 08:14] jerboaa commented on #3837
I can take a look later today.

[2021-09-27 08:56] iamrecursion commented on #3590
This is very odd. I can reproduce it on EE, but not on CE.

[code]

EE gives:

[code]

[2021-09-27 08:58] iamrecursion commented on #3590
Interrupting still shouldn't leave the class loader in a broken sate.

[2021-09-27 09:01] #3826 closed

[2021-09-27 09:02] chumer commented on #3826
Implemented in master. Will land in 22.0.

[2021-09-27 09:25] adinn commented on #3486
That's not exactly what I said. The limit is that an image cannot currently be created with a build-time initialised heap section containing more than 2 billion *bytes*. Apologies for being fussy but I like to ensure that reports of what I say are precise.

That is perhaps correct but I think you need to consider what you are asking for. It might well be possible to modify GraalVM Native to accomm

[2021-09-27 09:42] agibsonccc commented on #3486
@adinn first of all thanks for commenting. I agree with you that it wouldn't make sense for them to make that change without a ton of work. I was ok with it being a documented limitation, but the GC change doesn't really reflect the hard coded number.

It's not very user friendly to just have an overflow error thrown on the number of entries when it clearly should just be a warning to the user: yo

[2021-09-27 13:00] jaikiran opened #3839 "Deserialization in native-image doesn't work for certain types"
Consider this simple Java code which serializes and then deserializes a `java.math.BigInteger`:

[code]
Include the following serialization config file (`ser-conf.json`):
[code]

Compile the java code into .class and then create a native image out of it as follows:

[code]
After the image is generated, launch it:
[code]
This throws an exception during the deserialization part:

[code]

The issue i

[2021-09-27 13:01] jaikiran commented on #3839
/cc @zakkak, @cstancu

[2021-09-27 13:39] kirillp opened #3840 "AMD64 Register dumper is used on ARM platforms."
Currently, on Darwin systems only AMD64 register dumper is used, even on ARM (Platform.IOS_AARCH64):

[code]

This defect lead to weird behaviour like request for AMD64 registers in .cap files during IOS_AARCH64 build:

`NativeCodeInfo:PosixDirectives:StructInfo:struct___darwin_mcontext64:StructFieldInfo:__ss___rax:PropertyInfo:size=8
`

All versions of GraalVM affected.

[2021-09-27 13:46] kirillp commented on #3840
suggested fix: https://github.com/Montura/graal/commit/f04db5557f05cb737ff57f5259c5c7ec62771136

[2021-09-27 16:40] jerboaa commented on #3837
As @Karm pointed out, caused by https://bugs.openjdk.java.net/browse/JDK-8271862 which got backported to OpenJDK 17.0.2 (current version of jdk17u development line),

[2021-09-27 16:59] esend7881 commented on #3823
I made a class that accomplishes this here: https://gist.github.com/esend7881/aa5c1d26753205b6bd0d3af64e86234b I credit StackOverflow but what I have here works in my projects (tests, etc).

[2021-09-27 17:18] StefanLobbenmeier opened #3842 "How do I use native-image for axis2 / inner jars from classpath"
I have a project that uses Axis2 to run a Soap Server

My module has this layout:
![image](https://user-images.githubusercontent.com/36509607/134954646-2d59a32a-dbb2-4b06-bef3-a1fdc955d12e.png)

and I start my server like this

[code]

I was able to generate the graalvm .json configuration files using the agent. But when I now compile this while providing the .json files in my build.gradle.kts lik

[2021-09-27 17:20] StefanLobbenmeier commented on #3842
Just in case this is relevant to the issue:
[code]

I used this gradle plugin:
`
    id("org.graalvm.buildtools.native") version "0.9.5"
`

[2021-09-27 18:12] rodrigar-mx commented on #3788
@jperedadnr native-image in graalvm jdk17 is in an experimental status, still I have raised a ticket internally with the dev team and they will answer you accordingly.

[2021-09-28 01:55] chenjie100 commented on #3800
@fniephaus thanks a lot

[2021-09-28 05:54] mcraj017 commented on #3833
@tolginho thanks for the feature request, we will check it out and get back to you

[2021-09-28 05:57] mcraj017 commented on #3835
@kkriske thanks for reporting the issue, we will check it out and get back to you

[2021-09-28 07:00] fniephaus commented on #3800
You are welcome. It is much safer to work with an SSH tunnel. Can this issue be closed?

[2021-09-28 07:35] #3838 closed

[2021-09-28 08:00] zakkak opened #3843 "[GR-34638] Add option to pick which kind of reports one wants to generate"
**Feature request**

Now that https://github.com/oracle/graal/pull/3128 is merged it would be nice to have the option to disable the generation of the call-tree in text format when passing `-H:+PrintAnalysisCallTree`.

**Is your feature request related to a problem? Please describe.**
In complex applications the text-formatted call-tree can quickly get really big, while the CSV files are quite sma

[2021-09-28 10:42] mcraj017 commented on #3807
@smallshen AWT support on windows for native-image is still in progress
https://github.com/oracle/graal/issues/3084
I will add your comment in the main ticket, so that it will be covered under that effort.

[2021-09-28 10:42] #3807 closed

[2021-09-28 10:43] mcraj017 commented on #3084
Please include this also
-Djava.home=$GRAALVM_HOME will load the "bin/jawt.dll" under java.home, is it possible to link it into the exe? same as the java.dll and jvm.dll
https://github.com/oracle/graal/issues/3807#issuecomment-927631674

[2021-09-28 10:43] mcraj017 commented on #3807
Comment added
https://github.com/oracle/graal/issues/3084#issuecomment-929071657

[2021-09-28 12:56] teshull commented on #3840
The suggested fix doesn't really fix the issue; the methods should be populated correctly.

[2021-09-28 13:10] kirillp commented on #3840
It prevents from invalid memory access. We can file a new issues to improve ARMRegisterDumper.

[2021-09-28 13:26] oubidar-Abderrahim commented on #3839
Thank you for reporting this, we will take a look into it and get back to you

[2021-09-28 16:09] kirillp commented on #3840
This fix works for iOS development and production.
We have very clear and crash reports on console.firebase.google.com for production application.
As well as clear bugreports during product debug and testing.

![image](https://user-images.githubusercontent.com/4068190/135124672-ca9549a0-06c7-43d5-8d51-c1036614cee3.png)

I agree that ARMRegisterDumper need more work to be better, but it can be done

[2021-09-28 16:29] rodrigar-mx commented on #3814
Current context can be obtain by calling  _Context c = Context.getCurrent()_, but this will not work inside the new thread. Take a look at this blog post https://medium.com/graalvm/multi-threaded-java-javascript-language-interoperability-in-graalvm-2f19c1f9c37b, specially the very last example. There they achieved an async call sharing objects between nodejs and java by using workers.

[2021-09-28 20:37] smallshen commented on #3084
@mcraj017 Thanks for adding it, there is one more thing with the system resources, awt will laod
sun/datatransfer/resources/flavormap.properties
which will not be included in native-image
current workaround is copy the file from the jmod and add it to your own resources, and add it into the reousrce config

[2021-09-29 01:17] #3800 closed

[2021-09-29 07:08] marjanasolajic opened #3849 "Context sensitive analysis fails with/without type flow saturation"
**Describe the issue**
Running several dacapo benchmarks with allocsens context-sensitivity produces runtime NullPointerException.

**Describe GraalVM and your environment:**
 - GraalVM version: **CE**
 - JDK version: **JDK11**
 - OS: **Ubuntu**
 - Architecture: **AMD64**
 - The output of java -Xinternalversion:
[code]

**Steps to reproduce the issue**
Example for running xalan with type flow satu

[2021-09-29 07:15] marjanasolajic commented on #3849
@cstancu I'll continue with further testing and add more information if I come to new conclusions.

[2021-09-29 09:54] mcraj017 commented on #3833
@tolginho I have raised this request to Native-Image team

[2021-09-29 14:18] oubidar-Abderrahim commented on #3822
Thank you, the issue is tracked internally by GR-34101

[2021-09-29 16:22] chandan84 commented on #3727
The above program seems to be specific for Win 7. My system OS is Windows 10 Enterprise. Is there something equivalent?

[2021-09-30 00:50] doctorpangloss commented on #3759
@oubidar-Abderrahim any update on this? It's the same in 21.3.0 snapshot build.

[2021-09-30 08:24] yang-uamng commented on #3814
I've solved the problem by sharing queue, but it's not rigorous。i want use synchronized but it donest work

[code]

[2021-09-30 10:30] zakkak opened #3852 "Debug Info: ptype showing wrong modifiers?"
**Describe the issue**
Using ptype to print information about a Java type/class results in some methods being listed with wrong modifiers. E.g. for `java.lang.Object` we see that `hashCode()` is listed as private.

[code]

**Steps to reproduce the issue**
[code]

[2021-09-30 10:57] zakkak commented on #3852
Update: It looks like we are peaking up the modifiers from [the substitute method](https://github.com/oracle/graal/blob/d465c5885127caef6d551d417e6caef937fe225a/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/JavaLangSubstitutions.java#L92-L96) instead of the original. I've got a fix and working on extending the `debuginfotest` to catch such issues both for methods and fields.

[2021-09-30 12:28] adinn commented on #3852
Hmm, that's an interesting issue.

When we present the source code in the debugger we will actually be displaying the substituted method code. So, from the point of view of someone stepping through the implementation marking it as private matches the displayed view.

However, from the point of view of someone stepping into a call to the original method from a caller in some other class than the or

[2021-09-30 14:30] oubidar-Abderrahim commented on #3839
The following `ser-conf.json` should work
[code]
The `native-image-agent` should be able to generate the correct serialization-config file

[2021-09-30 14:35] jaikiran commented on #3839
Hello @oubidar-Abderrahim, thank you for that detail. I'll give that a try soon.

It's interesting that it requires/adds a byte[] representation as the allowed serialization types. Do you happen to know why it is expecting the byte[] class to be specified. A quick look at the `BigInteger` class shows me that it has a `int[]` field but I don't see any `byte[]` field in it.

[2021-09-30 15:19] oubidar-Abderrahim commented on #3716
Sorry for the late response, could you please share the complete class used for reproducing this? thank you

[2021-09-30 15:21] jiekang commented on #3018
The initial support has made it into upstream via https://github.com/oracle/graal/pull/3444

I think this issue can be closed as 'done'. There is more work to do to complete the implementation but those will be covered in separate, specific issues.

[2021-09-30 15:21] #3018 closed

[2021-09-30 15:58] oubidar-Abderrahim commented on #3839
Hi @jaikiran
if you look at the `java.math.BigInteger.readObject(BigInteger.java:4646)` mentioned in the stacktrace, you'll find
[code]
As you can see, The magnitude field is a byte array.

It is also explained in the JavaDoc of BigInteger.writeObject:
[code]

Hope this clarifies things for you, I will close this issue for now, if you still need assistance you can reopen it.
Thank you

[2021-09-30 15:58] #3839 closed

[2021-09-30 16:38] tzezula commented on #3744
Back-ported into graalvm 21.3.

[2021-09-30 17:35] rodrigar-mx commented on #3814
It does not work, because the problem is that you are accessing the same context with a different thread. **synchronized** is not doing any difference because the whole java program  is run in currentContext and the context has not been left. As you saw in the [example](https://medium.com/graalvm/multi-threaded-java-javascript-language-interoperability-in-graalvm-2f19c1f9c37b,), there is no js cod

[2021-09-30 22:58] rodrigar-mx commented on #3842
Hi @StefanLobbenmeier. I will take a closer look into it and get back to you.

[2021-10-01 04:07] fishandsheep commented on #3547
Halo @gradinac ,Thank you for your reply.
I carefully read the information you gave in the link, Follow the steps above build musl and zlib，but my project build failure.
Part of the error messages are as follows:
[code]
I have upgraded the version of my [`spring-native`](https://github.com/fishandsheep/spring-native-demo) project to `0.10.3`

**java -version:** and my other environment not change

[2021-10-01 07:56] SalathielGenese commented on #1257
Thank you @djoooooe

[2021-10-01 09:27] jaikiran commented on #3839
Thank you @oubidar-Abderrahim for those details. I tested your suggested change to the serialization configuration and it did help and the application started passing.

[2021-10-01 09:29] mcraj017 commented on #3835
@kkriske I have raised this issue with native-image team

[2021-10-01 09:36] oubidar-Abderrahim commented on #3716
Thank you that would be very helpful

[2021-10-01 09:42] oubidar-Abderrahim commented on #3759
The issue is tracked internally on GR-33715, we reach the freeze for 21.3.0 so most probably this issue will be fixed in later versions

[2021-10-01 09:59] jaikiran opened #3856 "commit author in release file is incorrect"
The `release` file that gets generated graal installation/home contains a section for `COMMIT_INFO`. It looks like this currently has a bug where the commit author is incorrect. For example, this is what it generated when I built graal `vm` locally:
[code]
Notice that it marks me as the commit author for all these commits in those modules, whereas I'm not. I even had a look at a released Graal VM

[2021-10-01 09:59] jaikiran commented on #3856
/cc @dougxc

[2021-10-01 12:31] galderz commented on #3843
I'm not sure about adding another extra boolean option. How would things work if `PrintAnalysisCallTreeInCSV` and `PrintAnalysisCallTree` where set? It doesn't seem very intuitive. IMO #3227 should use a separate property for the filter, since that is complementary to either the txt or csv outputs.

[2021-10-01 12:41] galderz commented on #3843
Then you'd have `PrintAnalysisCallTree` being an enum. One more doubt I have is how'd that work from a backwards compatibility perspective. A lot of native image builds out there are using `+PrintAnalysisCallTree` so if we change that we'd have to maintain the old format as possibility to avoid breaking things. It's a popular option.

Another option would be, leave `PrintAnalysisCallTree` as boole

[2021-10-01 17:41] rodrigar-mx commented on #3820
I have reported this issue with the native-image team. They will respond you accordingly.

[2021-10-01 18:07] ansalond commented on #3856
Hi @jaikiran, thank you for the report.

Could you please tell me which GraalVM `21.2.0` artefact has Doug listed as a committer in the `release` file? I think all these base artefacts list only Gilles: https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.2.0

I also cannot reproduce the issue locally:
[code]

[2021-10-02 05:44] cstancu commented on #3849
@marjanasolajic thanks for the report. I tried it and I can reproduce the issue. To better debug it, and other potential similar issues:
1. Can we generate an IntelliJ project definition for the benchmark? A project for the benchmark and all its classpath dependencies, including all the sources, would allow to import the benchmark code in the IDE to easily inspect the stack traces.
2. Can we run t

[2021-10-02 08:47] introex opened #3858 "Huge performance difference in JS between MacBook pro 2020 and 2 CPU, 48 threads server"
Hello

 - GraalVM version 21.2.0
 - CE
 - JDK version: 16 (the same issue happens on jdk15 + UseJVMCICompiler)
 - macOS Catalina and fedora 33
 - Amd64
 -
[code]
- macos - i5 and 16gb ram
- fedora - 2x xeon e5-2695 v2 and 128gb ddr3 ram

**Have you verified this issue still happens when using the latest snapshot?**
Tried 2 versions - they don't work at all, that's a different story.

**Describe th

[2021-10-02 18:19] marjanasolajic commented on #3849
2. @cstancu I also tried to run the benchmarks on JDK17 and get the same error. Then, I tried this:

-  add '--add-opens'  to the list ['-D', '-Xmx', '-Xmn', '-XX:-PrintGC', '-XX:+PrintGC'] in mx_vm_bencmark.py
For this change, I get:
[code]
- then I look at mentioned path and compare to what I have in file system - there is a directory  /opt/graal/graal/vm/mxbuild/native-image-benchmarks/java.bas

[2021-10-02 18:32] marjanasolajic commented on #3849
For 1. maybe the source code mentioned in the stack trace can help:

- addOutputFile: https://github.com/dacapobench/dacapobench/blob/master/benchmarks/harness/src/org/dacapo/parser/Config.java#L130

- outputFile is generated from method outputFile in ConfigFile.jj:
https://github.com/dacapobench/dacapobench/blob/master/benchmarks/harness/src/org/dacapo/parser/ConfigFile.jj

I still don't have the

[2021-10-04 02:57] kammoh commented on #2666
OpenJDK 17 has been released for a while, with full support for macos/arm64. Any updates on GraalVM?

[2021-10-04 06:52] zakkak commented on #3843
Thanks for the feedback Galder, I really like your last proposal:

since it offers the needed functionality without breaking backwards compatibility.

@christianwimmer, WDYT?

[2021-10-04 07:11] mcraj017 commented on #3758
@Richard-Tang does solution offered by @jerboaa solves your problem?

[2021-10-04 07:12] mcraj017 commented on #3752
@zhengyu123 I am closing this ticket because there is no activity for last one month

[2021-10-04 07:12] #3752 closed

[2021-10-04 07:13] mcraj017 commented on #3688
Closing this ticket as there is no activity in last one month

[2021-10-04 07:13] #3688 closed

[2021-10-04 07:14] mcraj017 commented on #3677
Closing this ticket as there is no activity in last one month

[2021-10-04 07:14] #3677 closed

[2021-10-04 08:56] spangaer commented on #2344
I'm still running in to these on Graal 20.3.1 btw. I don't know if it has truly gotten worse, but I just 3 of them failing over the course of 24h all of them after about 5 days of running.
Not so much as clue as what "makes them special". If I look at what the crashing services have in common:
Fairly small heaps (300-700 mb), I/O heavy and I think Scala.
¯\_(ツ)_/¯

[2021-10-04 10:15] teshull commented on #3840
Hi @Montura Thanks for the reference to the aarch64 structs. I started to look at this as well earlier today. I should merge a solution into master in the next week or so.

For future reference, the reserved registers on AArch64 are (thread->r28) and (heap->r27). This information can be found in `com.oracle.svm.core.graal.aarch64.AArch64ReservedRegisters`

[2021-10-04 10:17] eregon commented on #2666
Now JDK 17 is released and has darwin-aarch64 support.
The next issue is that [Apple only provides mac minis with 16GB ram](https://www.apple.com/us/shop/buy-mac/mac-mini), and that's basically not enough to do proper CI.
And without proper CI it's not really feasible to do development and testing for this architecture.

[2021-10-04 18:20] rodrigar-mx commented on #3842
Hi @StefanLobbenmeier. I built this short demo https://github.com/rodrigar-mx/demo-axis2-graalvm-native-image. Please try it, and let me know if it does help you. Steps are indicated in README file.

[2021-10-04 18:36] rodrigar-mx commented on #3619
@hoangvantu  this issue will be closed because of inactivity for past months.
*similar error was solved by adding the following flags:  `--initialize-at-run-time=io.netty.channel.epoll.Epoll,io.netty.channel.epoll.EpollEventLoop,io.netty.channel.epoll.Native,io.netty.channel.epoll.EpollEventArray,io.netty.channel.DefaultFileRegion,io.netty.channel.unix.Errors`

[2021-10-04 18:36] #3619 closed

[2021-10-04 19:39] teshull commented on #3840
@Montura @kirillp Can check if https://github.com/oracle/graal/pull/3859 fixes your issue?

[2021-10-04 19:41] Montura commented on #3840
@teshull, I'll check it tomorrow.

[2021-10-04 19:42] christianwimmer commented on #3843
Having `PrintAnalysisCallTreeType` and `PrintAnalysisCallTreeFilter` sound good - they can implicitly set `PrintAnalysisCallTree` to `true` when they are specified so that only one option needs to be set.

[2021-10-04 23:03] StefanLobbenmeier commented on #3842
Thank you for creating this! It really helps out a lot.

I noticed that in the repository you created no axis2 service is loaded, right? Should I try adding one of the samples from the axis2 documentation to this? Then also the MockServer class would exactly match the producer I am having this me issue with. (I won’t be able to add the actual service due to licensing)

[2021-10-04 23:22] rodrigar-mx commented on #3842
I did not create any service because I do not have experience with axis2. Would be great if you add one of the samples in order to reproduce your issue.

[2021-10-05 00:34] christianwimmer commented on #3833
With the LLVM backend of the native image generator, it is reasonably easy to support new platforms. There were some experiments with 32-bit arm support, but it is certainly not finished and completely working.

[2021-10-05 00:54] christianwimmer commented on #3815
The error occurs as part of the trace output enabled by `-H:+ReflectionPluginTracing`. So when you remove that option, the error should go away.
Still something we will fix of course.

[2021-10-05 01:04] nixin72 opened #3860 "Native image fails to build on Windows and misreads system architecture"
**Describe the issue**
Native image fails to build on Windows and misreads system architecture.
Building a native image from the same jar file works fine on Linux.

**Steps to reproduce the issue**
1. `git clone https://github.com/nixin72/shan`
2. [Download jar file](https://github.com/nixin72/shan/releases/download/0.4.0/shan.jar) into the repository
    - Easier to download jar file than getting

[2021-10-05 05:02] mcraj017 commented on #3858
@introex Thanks for reporting the issue, please share the reproducer

[2021-10-05 05:06] mcraj017 commented on #3860
@nixin72 thanks for reporting the issue, we will check it and get back to you

[2021-10-05 05:18] galderz commented on #3843
One more detail, when we add the `PrintAnalysisCallTreeType` and print either text or csv, we can remove the `csv_` prefix from the `.csv` files. It doesn't serve any purpouse.

[2021-10-05 05:19] mcraj017 commented on #3860
@nixin72 most probably, your machine is not AMD64 as per the error message
I tried it my side and able to build it without any error below are the instructions:
1. mkdir META-INF\native-image
2. java -agentlib:native-image-agent=config-output-dir=META-INF\native-image -jar shan.jar
3. native-image -jar .\shan.jar --no-fallback -H:Name=shan --initialize-at-run-time=shan.core
4. output:
[code]

[2021-10-05 10:01] introex commented on #3858
@mcraj017
Is it possible to suggest some parameters for GraalVM jvm to try to fix this issue on my side? I think it might be some recompilation issue, if I'm able to control recompilation using some parameters - it can solve an issue.

It's quite hard to suggest the reproducer as it involves many things and can be too synthetic, but I'll try.

[2021-10-05 11:05] StefanLobbenmeier commented on #3842
Ok I pushed the sample here: https://github.com/StefanLobbenmeier/demo-axis2-graalvm-native-image/tree/add-sample-aar

Compiling this to nativeImage shows the original warning of
`WARNING: Could not resolve userguide.example1.MyService for reflection configuration. Reason: java.lang.ClassNotFoundException: userguide.example1.MyService.`

I guess it is now only a warning because the `AllowIncomplet

[2021-10-05 11:30] kirillp commented on #3840
@teshull the patch looks good.
As I can see we are loosing one register on iOS, interesting will it affect performance much.
https://github.com/oracle/graal/pull/3859/commits/74b024e02be65a307ceb1d6cbe2d4f69693c02de

[2021-10-05 12:02] StefanLobbenmeier commented on #3052
@voigtste did you check if https://github.com/HewlettPackard/kraal solves your issue?

[2021-10-05 12:12] StefanLobbenmeier commented on #3842
Actually that scary error has been solved before: https://github.com/oracle/graal/issues/1438
Fixed in Axiom: https://issues.apache.org/jira/browse/AXIOM-502

So all I had to do to get rid of this error is upgrade to axis 1.8.0, which uses axiom 1.3.0 instead of axiom 1.2.2:
[code]

[code]

Output of running the native application:
[code]
Checking the server now / if it is able to find it from the

[2021-10-05 12:18] StefanLobbenmeier commented on #3842
Unfortunately the service is not loaded in the native version:
![image](https://user-images.githubusercontent.com/36509607/136020688-95d2a058-2e66-432e-93b4-d17ec811f916.png)

[2021-10-05 15:50] nixin72 commented on #3860
@mcraj017 I have an Intel i7 6500U CPU - I was under the impression that x86_64 and AMD64 were the same thing?
[code]

[2021-10-05 17:43] jerboaa commented on #3811
First off, this appears to be an issue of xsltc which is the default `TransformerFactory` provider as part of OpenJDK. Note that there doesn't seem to be interpretive xalan available (as part of OpenJDK) and needs to be used via an external dependency. This is what this reproducer shows:

https://github.com/jerboaa/demo-xslt-native

Interpretive xalan works with native-image. xsltc based transform

[2021-10-05 18:31] chrisseaton opened #3866 "Remainder nodes are always fixed, even when they can't divide-by-zero"
For example this Ruby code:

[code]

I'd expect `n % 5 == 0` and `n % 3 == 0` to be calculated once each, but they aren't, as the nodes are fixed and so GVN fails. They needn't be fixed, as they can't divide-by-zero.

![graph](https://user-images.githubusercontent.com/341094/136081937-31e70ffd-bc12-4e9b-93c4-37611b9611b1.png)

@davleopo

[2021-10-06 06:40] davleopo commented on #3866
@chrisseaton  thanks for the report, Ill have a look.

[2021-10-06 06:41] sergey-morenets opened #3869 "Native image build crashes"
**Describe the issue**

I have very simple Java class that I could build previously using earlier versions on GraalVM. However on the latest version I got the crash after rather long build (600 seconds).

**Steps to reproduce the issue**

Here's Dockerfile I used:

[code]

Java class:

[code]

[code]

[2021-10-06 07:32] phejl opened #3870 "Runtime crash in spring 5.3/spring-native with JDK 17"
**Describe the issue**
The generated image crashes at runtime when `isSealed` method of `Class` is invoked through reflection. Happens at https://github.com/spring-projects/spring-framework/blob/5.3.x/spring-aop/src/main/java/org/springframework/aop/framework/AopProxyUtils.java#L145

**Describe GraalVM and your environment:**
 - GraalVM CE 21.3.0-dev-20211001_0733
 - JDK **17**
 - OS: **Linux**
 -

[2021-10-06 11:48] kirillp commented on #3840
[code]

do we need to check it ?
AFIAK all Apple ARM 64 bit processors supports FP and ASIMD from the 1st version.

[2021-10-06 13:18] chrisseaton opened #3872 "Boxed parameter is not trusted"
Related to #3101, @davleopo.

[code]

<img width="659" alt="Screenshot 2021-10-06 at 14 15 52" src="https://user-images.githubusercontent.com/341094/136209766-192197a6-7804-4069-9467-e97a7456a98c.png">

Looking at node 161. How come 167 is trusted but 2085 isn't? 2085 is returned, and because it isn't trusted, it's reboxed, leaving us with a unbox-box operation.

[2021-10-06 13:49] davleopo commented on #3872
Hm, interesting pattern. I wonder where 2085 is created, Ill have a look.

[2021-10-06 14:31] chrisseaton commented on #3872
When you do `x.times do ...` it returns `x`. So it's likely an artefact of inlining `times` where we unbox the receiver. Benoit will be able to explain more.

2085:

[code]

Corresponding box which consumes:

[code]

[2021-10-06 19:59] phejl opened #3875 "java.lang.NoClassDefFoundError: sun.management.Util in runtime on JDK 17"
**Describe the issue**
`ManagementFactory.getPlatformMBeanServer` in native-image (JDK 17) throws NoClassDefFoundError.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1.
[code]
2. `javac Test.java`
3. `native-image --no-fallback --allow-incomplete-classpath Test`
4. `./test`
5. NoClassDefFoundError

**Describe GraalVM and your environment:**
[code]
 - JDK ma

[2021-10-06 20:07] mutasemhidmi commented on #2666
Yeah but I mean to build it on a mac M1 in order to deploy it on Lambda.  The same way it's done now in Windows laptops.

[2021-10-06 20:18] phejl commented on #3875
It seems this can be workarounded by adding `-J--add-exports=java.management/sun.management=ALL-UNNAMED` as an argument to `native-image`

[2021-10-06 22:16] #3842 closed, assigned to rodrigar-mx

[2021-10-07 06:54] mcraj017 commented on #3858
@introex thanks for the prompt response, I have raised this issue with our JavaScript Team

[2021-10-07 08:06] mcraj017 commented on #3758
Closing this issue because there is no activity in last one month

[2021-10-07 08:06] #3758 closed

[2021-10-07 08:12] wirthi commented on #3858
Hi @introex

thanks for your report. Is there any way you can share the code so we can execute it? Maybe in a minified version without your actual business logic (if you cannot share that)? Or at least the core of the code that implements the JS<->Java bridge? That would make reasoning much easier.

I am confused about that. When you use GraalVM, you don't need to - and should not? - manipulate th

[2021-10-07 09:07] introex commented on #3858
Hi @wirthi , @mcraj017

Thanks for your responses. Is there's a way I can share the code in private? Yes, I can't share the whole code as it contains a lot of costly and internal algorithms, but I can send main points and differences between slow and fast scripts.

It was accidentaly, because previously I used regular openJDK and then moved to GraalVM CE, just shared info about this weird situatio

[2021-10-07 09:42] dougxc commented on #2666
As we get sufficient hardware in our CI system to test and develop on darwin-aarch64, this will become a priority.
Any help from the GraalVM community before then would of course be very welcome.

[2021-10-07 15:41] ilopmar opened #3876 "`java.lang.OutOfMemoryError: Garbage-collected heap size exceeded` with JDK17"
**Describe the issue**

Our CI has detected this morning an error when starting a Micronaut app with Oracle and JDK17 (it worked with JDK11).
The error is `java.lang.OutOfMemoryError: Garbage-collected heap size exceeded` and it's the first time I see this kind of error. See execution on CI: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/1657285826#L72

The issue happened with

[2021-10-07 21:00] rodrigar-mx commented on #3869
@sergey-morenets please change your Dockerfile to look like this
[code]
GraalVM CE is based on openjdk so there is no need for pulling openjdk:11-slim. With GraalVM you can call directly `javac` for compiling your code. The error you reported was pretty rare but its cause might be some confligct between both jdk that were installed.

[2021-10-08 07:27] tolginho commented on #3833
Does that mean that you will still implement it or that it is not planned for the time being?

[2021-10-08 09:04] alexfedorenchik opened #3878 "InheritableThreadLocal doesn't work in native-image"
**Describe the issue**
The child thread doesn't receive initial values for inheritable thread-locals from the parent.

**Steps to reproduce the issue**
Example source (Test.java)
[code]

Build:
[code]

Run native-image:
[code]

Expected Result:

[code]

Actual Result:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version CE 21.2.0
 - JDK major version: 11
 - OS: macOS BigSur 11.5.

[2021-10-08 14:15] rhyadav commented on #606
@fniephaus i'll start working on this

[2021-10-08 15:18] jerboaa opened #3879 "native image build should report RSS size of build process"
**Feature request**

Add resident set size memory information to the native image build process for a more accurate picture of consumed memory.

**Is your feature request related to a problem? Please describe.**
We frequently analyze the native image build process for memory consumption. While it shows the [current heap capacity]( https://github.com/oracle/graal/blob/d03e3b3a5192b8e6ef205d507bf9b4

[2021-10-08 16:08] peter-hofer commented on #3403
@StefanLobbenmeier #3589 and #3791 introduce fixes that should address this issue. I'll close this, please try and reopen if the problem still persists.

[2021-10-08 20:32] lread opened #3882 "native-image fails only on Windows when using --initialize-at-build-time with args"
**Thanks!**
First and foremost: thanks to the Graal team for native-image, it is truly an awesome work!

**Describe the issue**
The Clojure community is adapting to the fact that `--initialize-at-build-time` without arguments has been deprecated and will be removed in GraalVM v22.0.  (Clojure-created classes typically need to be initialized at build time and, for this reason, many Clojure projects

[2021-10-09 01:06] christianwimmer commented on #3860
Looks like the `cl.exe` is really the one from the `arm64` directory. So you have your developer prompt set wrongly. https://www.graalvm.org/reference-manual/native-image/#prerequisites has some links to the Microsoft documentation on how to set it.

[2021-10-09 03:36] weitingyuk opened #3884 "native image generation fails with unrecognized relocation (0x2a) in section `.text.JVM_FindLibraryEntry'"
Using GraalVM community edition of 21.2.0 to generate a native image fails with the following error:

/usr/bin/ld: /home/me/tmp/graalvm-ce-java11-21.2.0/lib/svm/clibraries/linux-amd64/libjvm.a(JvmFuncs.o): unrecognized relocation (0x2a) in section `.text.JVM_FindLibraryEntry'
/usr/bin/ld: final link failed: Bad value
collect2: error: ld returned 1 exit status

**Steps to reproduce the issue**
Clon

[2021-10-09 12:34] lucaswerkmeister commented on #3372
Still happens in GraalVM CE 21.2.0.

[2021-10-11 08:27] mcraj017 commented on #3876
@ilopmar thanks for the issue, we will check and get back to you

[2021-10-11 08:37] fniephaus commented on #549
It seems this is no longer an issue. The following fallback guard is generated with GraalVM 21.3:

[code]

[2021-10-11 08:54] #1089 closed

[2021-10-11 23:12] rodrigar-mx commented on #3884
Hi @weitingyuk . Thanks for reporting the issue. I will take a closer look into it and get back to you.

[2021-10-12 08:30] olpaw opened #3911 "[GR-34444] Ensure java.lang.Module#isReflectivelyExportedOrOpen works as expected"
Currently `java.lang.Module#isReflectivelyExportedOrOpen` simply returns true at image-runtime. This is needed to e.g. make e.g. ResourceBundle lookups at image runtime working. The ResourceBundle lookup code involves:
[code]
After https://github.com/oracle/graal/pull/3445 got merged this code can now fail with `IllegalAccessException` (see 🗲🗲🗲) due to moduleinfo no knowing that `m.isOpen(bundleCl

[2021-10-12 11:14] vjovanov commented on #3703
The link doesn't contain the jar anymore. Would it be possible to upload it again?

[2021-10-12 11:21] johanvos commented on #3376
I wasn't aware of negative consequences of `-H:-SpawnIsolates`. It used to be a requirement when using the LLVM backend. I'm not sure if that requirement no longer holds?

[2021-10-12 12:29] jchalou commented on #3372
I am looking into this

[2021-10-12 17:36] lread commented on #3882
Thanks so much @fernando-valdez, I look forward to learning more!

[2021-10-13 12:30] jerboaa commented on #3879
See also: https://github.com/oracle/graal/pull/3913#issuecomment-942252756

[2021-10-13 13:43] chbloemer opened #3915 "Keep scope when evaluating inner js inside a outer js evaluation"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
I am developing pug4j and try to replicate the full features of pugjs. There is one thing I can't figure out how to solve with graalvm.
I have to switch between pug4j evaluation and graaljs evaluation. pugjs allows something called unbuffered code blocks.
For this I ne

[2021-10-13 17:04] neomatrix369 opened #3916 "[gu rebuild native-images] Rebuilding of polyglot and libpolyglot fail (using the gu tool)"
**Describe the issue**

Rebuilding the `polyglot` and `libpolyglot` components using the `gu` tool lead to a failure related to blacklisted methods (more details in the attached logs)

I did follow the steps mentioned on https://github.com/oracle/truffleruby/blob/master/doc/user/installing-graalvm.md#installing-ruby-and-other-languages and other TruffleRuby docs, see [here](https://github.com/graa

[2021-10-13 18:58] rodrigar-mx commented on #3884
Hi @weitingyuk. The problem seems to be caused by the old version of binutils. I managed to reproduce the same error with a simple HelloWorld native image program using Debian Jessie in a Dockerfile. The error does not present any more in Debian 9 onwards. If it is not possible for you to migrate to Debian 9, then try upgrading binutils tool, which I tried and also fixed the issue. I updated binut

[2021-10-13 21:06] neomatrix369 commented on #3916
Certainly, I'll build an image from this release and get back to you with the outcome.

[2021-10-14 09:17] eregon commented on #3916
Yes, it automatically picks the dev components, from the same "GitHub Pre-release" of the dev builds.
Anything else would be incorrect of course.
Best to always use `gu install component_name` and not manually download them if you can.

[2021-10-14 14:36] ebremer opened #3917 "Static build fails with missing libraries"
**Describe the issue**
Project builds fine when NOT using --static.  It throws the following errors when using --static:
/usr/bin/ld: cannot find -lstdc++
/usr/bin/ld: cannot find -lm
/usr/bin/ld: cannot find -lpthread
/usr/bin/ld: cannot find -ldl
/usr/bin/ld: cannot find -lz
/usr/bin/ld: cannot find -lrt
/usr/bin/ld: cannot find -lc
collect2: error: ld returned 1 exit status
        at com.oracl

[2021-10-15 05:15] mcraj017 commented on #3917
@ebremer thanks for the issue, please install glibc-devel, zlib-devel, libstdc++-static
for more information, please check the below link
https://www.graalvm.org/reference-manual/native-image/#prerequisites

[2021-10-15 08:10] LaurentGougeon opened #3918 "Reoccurring errors (SIGSEGV) with crash in native code - JVMCI-native CompilerThread0"
Crash occurring regularly at peak time (although not always) with a SIGSEV signal while running a "JVMCI native compiler thread".

No easy way of reproducing this error. Please note the same was happening with GraalVM CE 21.2.0 Java16.

JRE version: OpenJDK Runtime Environment GraalVM CE 21.2.0 (11.0.12+6) (build 11.0.12+6-jvmci-21.2-b08)
Java VM: OpenJDK 64-Bit Server VM GraalVM CE 21.2.0 (11.0.1

[2021-10-15 11:45] chbloemer commented on #3915
Hi Christian,
I need the scope from the inner function on the inner context.eval() not on the outer context.eval. I need to call java which further renders the NodeTree of Pug4j. If in the Tree there is a ExpressionNode, then its evaluated by graal again. So I can't use the js eval method. To get a working example I broke it down to only graal code so you don't need to know pug4j.
I thought becaus

[2021-10-15 13:15] #3916 closed, assigned to nobody

[2021-10-15 14:55] ebremer commented on #3917
libstdc++-static was missing, however, the same error message occurs.

[2021-10-16 15:43] bojanv55 opened #3919 "Problem including resource when name of the file has square brackets"
Trying to create native-image with two resources inside using this specs:

[code]

Resource names are:

[code]
`rad.moj.txt` gets included, since I can see it inside the generated binary using hex editor and I can access it using `.getResourceAsStream("public/rad.moj.txt");`.

**`[rad].moj.txt`** **_**is not included**_**, since I cannot find it inside binary using hex editor and it is not accessi

[2021-10-18 08:54] mcraj017 commented on #3917
@ebremer thanks for the response, I will check further and update you

[2021-10-18 21:58] ccleve opened #3921 "gu upgrade doesn't upgrade"
`gu upgrade` returns:

[code]

The GraalVM site says that the current version is 21.2.0

Oddly, the components catalog here (https://www.graalvm.org/component-catalog/graal-updater-component-catalog.properties), linked on this page (https://github.com/oracle/graal/blob/master/vm/GRAALVM-README.md), only goes up to 19.2.1. Scroll to the bottom to see.

[2021-10-18 22:03] rodrigar-mx commented on #3918
Hi @LaurentGougeon. Thanks for reporting this issue. Tomorrow graalvm 21.3 is released, so could you please try running your app with this new version and see if the error persists.

[2021-10-19 08:25] bojanv55 commented on #3919
@rodrigar-mx

[code]

OS is Windows 10.

[2021-10-19 09:14] Aleksandr-Filichkin opened #3922 "Graalvm native compilation for ARM ~12times slower than for AMD"
Environment:
Docker host is Windows 10(Intel i7)

I'm compiling Java to native image for ARM(for AWS Lambda ARM) and it works too slow.
**The same code for AMD takes 147s:**

[code]

**but for ARM is 1600s:**
[code]
The code is here https://github.com/Aleksandr-Filichkin/aws-lambda-runtimes-performance/blob/arm-lambda/java-graalvm-lambda/Dockerfile.graalvm.al-arm.

JFYI, I see compilation slowness

[2021-10-19 11:49] KangoV commented on #1308
I just hit this issue. Probably related?
[code]
Sorry for the long stack trace.
This is with:
Micronaut: 3.1.0
JDK: GraalVM CE 21.2.0 (build 16.0.2+7-jvmci-21.2-b08, mixed mode, sharing)
Ubuntu 21.04
Note that ClientT is a Java record.

[2021-10-19 11:55] galderz opened #3923 "[GR-34674] AWT Windows linker invocations lack /MACHINE"
See https://github.com/quarkusio/quarkus/issues/20681

[code]

Unless 32 bit is supported, `JNIRegistrationAWTSupport` should add `/MACHINE:X64` to the linker invocation.

[2021-10-19 18:40] bojanv55 commented on #3919
Here is what is generated when I run with tracing agent, and when I request those static files via Java web server (all requests are 200 OK).
[code]

You can see those files at the end of `includes` list.

[2021-10-20 06:20] mcraj017 commented on #3917
@ebremer please install g++ and try again

[2021-10-20 07:32] ilopmar commented on #3876
@mcraj017 As I mentioned, I'm not able to reproduce this locally:

It has been failing consistently on our CI since I reported this issue. These are some of the last runs:

- https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/1682320966
- https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/1691568877

Surprisingly, this morning it has worked https://gitlab.com/micron

[2021-10-20 13:15] galderz opened #3929 "Allow incomplete classpath configuration to be more granular"
**Is your feature request related to a problem? Please describe.**
Having 3rd party libraries define `--allow-incomplete-classpath` can be very problematic for frameworks such as Quarkus.

When the flag is there, errors start to become more difficult to understand. It would even seem that the native image itself behaves differently enough, that seemingly unrelated errors appear out of nowhere.

Qu

[2021-10-20 13:19] ebremer commented on #3917
It was already installed.

[2021-10-20 13:20] jovanstevanovic commented on #3811
It looks like the `xsltc` branch in the repo is running into a problem because of modules. So I will include @ivan-ristovic to verify that the problem is with the lack of NI module support.

[2021-10-20 13:49] aldettinger opened #3930 "[native-image] Memory management documentation clarifications about "just-in-time" compile code"
**Describe the issue**
The native-image documentation about [performance considerations](https://www.graalvm.org/reference-manual/native-image/MemoryManagement/#performance-considerations) states that:

Is there really any "just-in-time compiled code" when using native-image ?

[2021-10-21 07:37] ilopmar opened #3934 "Missing `native-image-maven-plugin` 21.3.0 in Maven Central"
**Describe the issue**

After upgrading Micronaut to 21.3.0, our Maven test application has failed with:

[code]

Because the artifact for 21.3.0 is not available in Maven Central: https://repo.maven.apache.org/maven2/org/graalvm/nativeimage/native-image-maven-plugin/

**Steps to reproduce the issue**

N/A

**Describe GraalVM and your environment:**
 - GraalVM version: **21.3.0**
 - JDK major vers

[2021-10-21 08:44] olpaw opened #3935 "Improve module support for native-image building"
https://github.com/oracle/graal/issues/1962 was implemented for 21.3. Basic support for building images from modules is available. But more work is needed.

- While all of the images coming from the substratevm suite (`native-image-launcher`, `native-image-agent-library`, ...) are already built on module-path our other GraalVM images from other suites are still built in the classpath. This needs t

[2021-10-21 09:45] LaurentGougeon commented on #3918
Hi @rodrigar-mx. I have deployed the new GraalVM release as you suggested (21.3). No crash for the past 24 hours, so this looks good.
Many thanks

[2021-10-21 12:59] ctabin opened #3937 "[21.3.0][JDK11][javax.script] TypeError with scoped Bindings"
Hello,

We are migrating to GraalJS as scripting engine behind the `javax.script` API in replacement of Nashorn. We were waiting for #631 and happy to see it finally implemented in 21.3.0.

In our case we need to execute multiple script blocks in isolation, but all have some common data/tools used. By doing this, we are hitting some strange issues. Find below the detailed data to reproduce the cas

[2021-10-21 13:33] DrDaleks opened #3938 "[CE-17-21.3] native-image crashes at linking step for a barebones awt/swing app on linux"
**Issue description**
Trying to "natify" a barebones swing app (ie. just showing an empty JFrame via the EDT) results in a crash at the linking step:
[code]
results (after about a minute or so) in
[code]

**GraalVM and environment:**
 - GraalVM **CE 21.3**
 - JDK major version: **17**
 - OS: **RHEL 7.9**
 - Architecture: **x86_64**
 - GCC **4.8.5**

I'm going to assume my prehistoric gcc is at fau

[2021-10-21 15:49] rodrigar-mx commented on #3922
Could you please provide the steps for reproducing the builds.

[2021-10-21 16:28] bojanv55 commented on #3919
Still the same.
[code]

[2021-10-22 09:20] #3937 closed, assigned to nobody

[2021-10-22 11:25] #3934 closed, assigned to nobody

[2021-10-22 12:30] s0dyy opened #3939 "source files are not supported by default native projects"
Hello ;)

I maintain graalvm-ce for the Exherbo Linux distribution, since version 21.2.0, I cannot compile from source anymore.

I have always followed [this documentation](https://github.com/oracle/graal/blob/master/vm/README.md) without any problem until now.

 - 21.2.0
 - labsjdk-ce-11.0.13+7-jvmci-21.3-b04-linux-amd64.tar.gz
 - Exherbo Linux
 - AMD64

 OR

 - 21.3.0
 - labsjdk-ce-17+35-jvmci-2

[2021-10-22 21:41] #3922 closed, assigned to rodrigar-mx

[2021-10-24 20:22] spockz opened #3943 "ArrayIndexOutOfBounds in java.lang.reflect.Executable.getAllGenericParameterTypes"
**Describe the issue**
I am generating a native image for my internal application using the Spring Boot native build packs. The Spring Boot AOT misses a few things so I add my own config using the assisted configuration of the tracing agent. Regardless of whether I add that configuration to `META-INF/native-image` directly or to `META-INF/native-image/$group/$artifact` I get the `ArrayIndexOutOfBo

[2021-10-24 22:43] jperedadnr opened #3944 "[iOS] Wrong values on JNI methods with 8+ arguments of same type"
**Describe the issue**

When building a native image for iOS AAarch64 without LLVM backend, there is an issue if the JNI methods have 8 or more arguments of the same type, and the values that are passed from the Java method are wrong starting from the 8th argument of that same type.

**Steps to reproduce the issue**
HelloWorld.java
[code]

native:
[code]

Building and deploying to iOS gives:
[code

[2021-10-25 02:15] TheShermanTanker opened #3945 "Unable to build libgraal.dll on Windows 10 with Java 17: Could not find any unresolved JVM_* symbols in static JDK libraries"
**Describe the issue**
Building libgraal on Windows 10 with the instructions in the readme results in the build failing after a while

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **Follow the instructions to compile libgraal in the readme in the compiler directory**
2. **The build fails after around 2 minutes**

**Describe GraalVM and your environment:*

[2021-10-25 12:42] scientificware opened #3948 "Windows 10. Cannot use jpackage with GraalVM 21."
**Describe the issue**
- When using openjdk-17, jpackage works as expected.
- But when we use graalvm-ce-java17-21.3.0 or graalvm-ce-java16-21.1.0 there is an exception.

**Steps to reproduce the issue**
1. The code :
[code]
2. Compile :

3. Create jar file :

4. Create exe file :

**GraalVM and my environment:**
 - GraalVM version : 21.1 or 21.3
 - JDK major version : 16 or 17
 - OS: **Windows 10

[2021-10-25 23:33] #3875 closed, assigned to rodrigar-mx

[2021-10-26 04:57] #3876 closed, assigned to munishchouhan

[2021-10-27 09:31] fniephaus opened #3955 "[GR-33602] [RFC] More User-friendly Output for Native Image"
### Update: This feature has landed on master and will ship with the GraalVM 22.0 release.<br>You can try it out using a [GraalVM nightly build](https://github.com/graalvm/graalvm-ce-dev-builds/releases).

# Description

Currently, the output produced during native image generation is limited to a list of stages, how long each of them took to run, and GC footprint. We want to make this output more

[2021-10-28 20:07] hejcz opened #3959 "Load and cpu share increase when moving from graal 21.1.0 to 21.3.0"
**Describe the issue**
When we try to update graal from 21.1.0 to 21.3.0 we consistently observe:
- load increase (+50% - from 20 to 30 on Intel(R) Xeon(R) Gold 6130 CPU)
- cpu share increase. 21.1.0 has ~8% cpu share on startup and disappears from flamegraph eventually (or sometimes oscillates around 0.9%). 21.3.0 has **33.5%** cpu share and it doesn't get lower even after considerable amount of

[2021-10-29 02:02] Leonardo-DGS opened #3960 "NativeImage InvalidPathException"
**Describe the issue**
When compiling anything with native-image, it gives an InvalidPathException

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **native-image -jar [any jar file]**

**Describe GraalVM and your environment:**
 - GraalVM version: **CE 22.0.0-dev-20211028_1927**
 - JDK major version: **1.17**
 - OS: **Windows 10**
 - Architecture: **AMD64*

[2021-10-29 11:28] ivan-ristovic opened #3961 "[GR-34849] `jdk.internal.misc.Unsafe.objectFieldOffset` substitution is sensitive to reflection filters"
Object field offset is calculated during build and stored in the `offset` field of `Target_java_lang_reflect_Field` substitution. `jdk.internal.misc.Unsafe.objectFieldOffset` is substituted in the following way:
https://github.com/oracle/graal/blob/d0577b6cb0b7fce7b96f9d1f1855c2b4fd3cddd9/substratevm/src/com.oracle.svm.reflect/src/com/oracle/svm/reflect/target/Target_jdk_internal_misc_Unsafe_Refle

[2021-10-29 11:52] ivan-ristovic opened #3963 "Provide an API to disallow objects in the image heap by type or predicate"
## Feature request
**Provide an API to disallow objects in the image heap by type or predicate**

## Is your feature request related to a problem? Please describe.

Image heap should not contain objects of a certain type, e.g.:
- Random seeds
- Threads
- File descriptors
- Byte buffers

NI has [`com.oracle.svm.hosted.image.DisallowedImageHeapObjectFeature`](https://github.com/oracle/graal/blob/mas

[2021-10-29 21:50] Leonardo-DGS commented on #3960
I just followed step-by-step the installation instructions, and simply doesn't work.

[2021-10-30 05:03] #3733 closed

[2021-10-30 07:55] Consulting4J commented on #3721
@rodrigar-mx
the following code could be used to reproduce the error.

	try {
		System.loadLibrary("attach");
		System.out.println("loadLibrary attach successful ...");
	} catch (Error e) {
		System.out.println("loadLibrary attach failure: " + e.getMessage());
	}

when try to convert this application to native image, you would get error like this

loadLibrary attach failure: no attach in java.libr

[2021-10-31 09:48] gorankarlic commented on #3090
Still present in GraalVM CE 21.3.0

[code]

[code]

[2021-10-31 09:52] gorankarlic opened #3965 "jlink: Hash of java.rmi differs to expected hash recorded in java.base"
Error when using `jlink` with GraalVM CE 21.3.0 on Windows x64:

[code]

[code]

_Originally posted by @gorankarlic in https://github.com/oracle/graal/issues/3090#issuecomment-955668637_

[2021-11-01 04:53] rubyFeedback opened #3966 "[Documentation] "Quick start" for experienced users?"
Hey there GraalVM devs,

I know ruby fairly well; and I know java semi-ok-ish. I know python fairly well too.

I still haven't extensively tested GraalVM but I finally intend to do so in November/December 2021.

Personally I use Linux, but my laptop runs Win10 and I need to make available programs for
elderly relatives, so I have to use windows too.

The guide here specifies what to do on windows:

[2021-11-01 04:54] rubyFeedback commented on #3966
Hmm ... Github seems to automatically add a label. The above is incorrect, though, as it was not me who added the "bug" label, but github. I would have added a [documentation] label but I don't know how to change that...

[2021-11-01 08:37] jovanstevanovic commented on #3811
Hey @jerboaa, some good news! @ivan-ristovic's PR with this small [patch](https://github.com/oracle/graal/files/7451738/xslt.patch.txt) makes it work. Try again, and let me know if something shows up. :smile:

[2021-11-01 09:10] pejovica commented on #3945
That's odd. It would mean that your JDK does not have the necessary static libraries, which could be the case if you are not using LabsJDK. If so, you can download it using the `mx fetch-jdk` command.

[2021-11-01 14:45] oubidar-Abderrahim commented on #3938
Thank you, this issue is tracked by the dev team on GR--34809

[2021-11-01 17:12] sdeleuze commented on #3961
Please add `spring` label to this issue since it is impacting us.

[2021-11-01 17:23] ivan-ristovic commented on #3961
Unfortunately I do not have the permissions to add labels, I hope someone else can do it.

[2021-11-01 17:40] raphw opened #3968 "Assisted Configuration agent does not consider META-INF/native-image files"
I have added a *native-image.properties* file to my library to specify that its static initializers are to be run at build-time, not at runtime. This is both to improve efficiency, as they are safe to run, and since the initializers trigger code that require code generation, so they would fail at runtime.

When running the assisted configuration agent, this agent still detects all code that is run

[2021-11-01 18:48] raphw opened #3969 "Offer API to interact with Assisted Configuration agent"
I am working with integrating Byte Buddy (a runtime code generation library) better with Graal to hopefully contribute with a seamless integration of many libraries that rely on Byte Buddy when it comes to the generation of subclass proxies. My experiments looks very promising and I would hope to make it more convenient if you can help me. I [already filed another ticket](https://github.com/oracle

[2021-11-01 20:13] rodrigar-mx commented on #3959
HI @hejcz. Thanks for reporting this issue. To have a deeper understanding of the issue it will be useful to perform some JFR recordings. Could you please run JFR in both graalvm versions and then share the produced files. To run JFR add the following flags to the command line when running your java application:
[code]
Choose the duration of the recording appropriately so it can be appreciated the

[2021-11-01 22:53] fernando-valdez commented on #3960
Hello @Leonardo-DGS, can you please share the instructions you followed?

[2021-11-01 22:59] fernando-valdez commented on #3960
Part 3 of this [page ](https://medium.com/graalvm/using-graalvm-and-native-image-on-windows-10-9954dc071311) describes how to use the x64 Native Tools Command Prompt. Please follow those steps and share your results

[2021-11-01 23:54] raphw commented on #3968
To simplify the replication of the problem, I added a reproduction in [sample.zip](https://github.com/oracle/graal/files/7456681/sample.zip).

Running *native-image -cp bb.jar:. Sample* yields

what can be avoided by deleting all entires in the *net.bytebuddy* namespace.

Note that there's a related issue to be solved to actually run the program where dynamic classes need to be stored. For now, th

[2021-11-02 01:53] Leonardo-DGS commented on #3960
Sorry, I didn't initialized it with vcvars64.bat, I understood that it was sufficient to use the x64 Native Tools Command Prompt.
Thank you.

[2021-11-02 01:53] #3960 closed

[2021-11-02 02:50] scientificware opened #3971 "Documentation - Installation on Windows Platforms - setx Usage"
**Description**
In the [Documentation - Installation on Windows Platforms](https://github.com/oracle/graal/blob/1e3022f74100d54c80d2710ee6449f8c785b5d15/docs/getting-started/graalvm-community/windows.md?plain=1#L19) you suggest to use the `setx` command. But this command has some [limitations](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/setx#remarks). Wouldn't i

[2021-11-02 05:19] unlucku commented on #3948
Having the same issue here, cannot take leverage of graal vm's runtime on my applications because of this :/

[2021-11-02 06:00] unlucku commented on #3948
Found a temporary workaround!
This only happens when jlink tries to add jdk.jpackage to --add-modules argument.
If your application is not using the jdk.jpackage module (Yes you are using it for building, but are you using it IN YOUR APP, like the code you specified does not use the jdk.jpackage imports, which means you are not using it in the app)

Therefore you can exclude it by using the follow

[2021-11-02 09:21] sbrannen commented on #3969
This part is closely related to:

- #2395

[2021-11-02 09:30] raphw commented on #3969
It is! I might just follow the same convention, but I would also really appreciate if the Graal team added this or another mechanism to the agent. The problem is that, if several libraries follow this convention, the defacto adoption would have an impact on any future decision, so it might rather be decided sooner than later.

[2021-11-02 11:23] sickert opened #3973 "Calling `Record::equals` from multiple threads results in an `IllegalAccessException`"
**Describe the issue**

Calling the `equals` method on a record from multiple threads results in a `IllegalAccessException` when run on a binary produced by native-image. Note that the attached snippet runs fine when using the included JVM of GraalVM.

**Steps to reproduce the issue**

Compile and run the following snippet:

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 21

[2021-11-02 11:48] raphw commented on #3968
I realized now that you have an experimental option to extract class files which seems to work. I can however not build the image which yields the following null pointer exception:

Fatal error:java.lang.NullPointerException
	at com.oracle.svm.hosted.ClassPredefinitionFeature$PredefinedClassesRegistryImpl.add(ClassPredefinitionFeature.java:132)
	at com.oracle.svm.core.configure.PredefinedClassesCo

[2021-11-02 11:51] raphw opened #3974 "NullPointerException when building native image with experimental-class-define-support"
When using the *experimental-class-define-support* flag, the *native-image* build fails with the following null pointer exception. I attached a sample project which reproduces the issue: [sample.zip](https://github.com/oracle/graal/files/7460347/sample.zip).

It's run with:

    native-image -cp bb.jar:. Sample

The META-INF was created using:

    java -agentlib:native-image-agent=config-output-d

[2021-11-02 12:53] scientificware commented on #3948
Hi @unlucku, great thanks for your suggestion. :smiley:

Workaround :

4. Check the modules with `jdeps HelloAWT.jar`

[code]

5. Use it to build a custom runtine with `jlink` or package with the `--add-modules` option in `jpackage` :

[2021-11-02 13:19] sbrannen commented on #3969
I agree.

No, I'm not personally doing that.

The Spring Framework has a [`NativeDetector`](https://github.com/spring-projects/spring-framework/blob/main/spring-core/src/main/java/org/springframework/core/NativeDetector.java) utility that we use to influence the code path taken when running within a native image. So when using the agent, we have to manually set that system property (to a non-null

[2021-11-02 13:38] spockz opened #3976 "Unable to upgrade to graal ee, unknown distribution"
**Describe the issue**
Using the documented command to upgrade my CE 21.3.0 install to EE fails with "unkown distribution" (including typo ;)).

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. ```
    $> gu upgrade --edition ee
    Error: Unkown GraalVM edition: ee
[code]

[2021-11-02 13:43] INPUTsys-Chris opened #3977 "Building native-image throws a NPE using GraalVM CE 21.3.0"
We encounter an internal NPE while compiling a simple webapp embedded in Tomcat-embed (version 9.0.54) on Windows.
Both the Java 11 and 17 versions are affected. It also happens with current 22.0 DEV version (tried only the Java 17 version).

Output:

[code]

It's important to notice that if we use 21.2.0 agent generated config files the problems goes away. So somehow the agent creates invalid fil

[2021-11-02 14:10] hanxiao34 opened #3978 "How do I scan resource files in a directory"
We have specified a directory as the directory for storing configuration files. When starting, we need to scan this directory and load all configuration files in it. How can I do it?

the directory structure like this:

     META-INF
           --configs
               --my.a.properties
               --my.b.properties
               --my.c.properties
               .....................
- if I lo

[2021-11-02 14:31] oubidar-Abderrahim commented on #3963
Thank you for your suggestion. A member of the Dev team will take a look into it shortly

[2021-11-02 22:43] anborg opened #3982 "windows : PlatformDependent0] direct buffer constructor: unavailable"
**Describe the issue**

windows : PlatformDependent0] direct buffer constructor: unavailable

https://github.com/anborg/ws-quarkus/blob/panache_repo_try/build-native.log
https://stackoverflow.com/questions/69817653/quarks-native-img-error-windows-platformdependent0-direct-buffer-constructor

**Steps to reproduce the issue**

In Windows 10
git clone https://github.com/anborg/ws-quarkus.git
git chec

[2021-11-02 23:37] rodrigar-mx commented on #3721
Thanks for sharing @Consulting4J. I misread the first time and did not notice you were trying to load a build-in library. Anyway, I have reported this issue internally with the native image team. You will receive a response accordingly.

[2021-11-02 23:57] rodrigar-mx commented on #3961
Thanks for sharing this issue. A member of the Dev team will take a look into it shortly.

[2021-11-03 10:00] fniephaus commented on #3955
I agree, there's still room for improvement. While good crash reports are important, I hope you don't mind if we focus on the output of a successful build in this issue and discuss your ideas in a separate one. Could you open another issue for this please?

[2021-11-03 10:07] fniephaus commented on #3955
I've updated https://github.com/oracle/graal/issues/3955#issue-1037190579 with a screencast of a prototype. Please feel free to leave any feedback.

[2021-11-03 14:27] d-kozak commented on #2982
The resource bundles can now be included in multiple locales, the list of included locales is customizable and the agent was modified to create configuration files accordingly.

[2021-11-03 14:27] #2982 closed

[2021-11-03 15:20] Ondrej-Douda commented on #3976
Thanks for finding this problem...
Fix will be available with next release...

For now you can use a workaround and include string `{ee=GraalVM Enterprise Edition}` in front of EE catalog, file `release` located in root folder of you GraalVM installation...
Last line in this file should look like this: `component_catalog="{ee=GraalVM Enterprise Edition}gds://oca.opensource.oracle.com/gds/meta-data

[2021-11-03 16:38] zakkak opened #3984 "Native images unable to access declared annotations of Java records"
**Describe the issue**
Native images unable to access declared annotations of Java records through `java.lang.reflect.RecordComponent.declaredAnnotations`.

A simple application like the following cannot compile into a native image:
[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **

[2021-11-03 18:05] chumer commented on #3963
In SVM the Feature API ist core mechanism for extensions.
Why not just define your own Feature with your own checks?
DisallowedImageHeapObjectsFeature does not seem very complicated.

[2021-11-03 20:04] ivan-ristovic commented on #3963
Although writing a new feature with custom checks would work fine, in my opinion it would not be an optimal solution because of the following:
- code duplication (everything beside check logic would be duplicated from `DissalowedImageHeapObjectsFeature`)
- multiple object replacers running at the same time, whereas one would be sufficient to run all the checks
- order of replacers might impact the

[2021-11-03 20:19] chumer commented on #3963
Why can't the DisallowedImageHeapObjectsFeature not be improved to just provide better error messages?
What would an extension do differently?

[2021-11-03 20:20] zakkak commented on #3955
Great work @fniephaus! This is a huge improvement. Please see below for some comments

#### GC usage

I think having a GC usage next to each phase can be valuable as well, e.g.
[code]

Or we could just have the time spent in GCs, since the number of GCs is not necessarily that important (especially for young collections), e.g.
[code]

To give a usage example of this, with that in place we can easi

[2021-11-03 21:21] borkdude commented on #3225
Co-incidentally I'm also experiencing java.awt classes being pulled in while I don't expect those in my image, even more so when upgrading to JDK 17.

<img width="1462" alt="Screen Shot 2021-11-03 at 21 50 23" src="https://user-images.githubusercontent.com/284934/140194556-81fd4580-6e3a-4bb9-8696-c7f3a8651cd1.png">

[2021-11-04 00:15] rodrigar-mx commented on #3814
Closing this issue because there is no activity in last one month.

[2021-11-04 00:15] #3814 closed

[2021-11-04 00:18] rodrigar-mx commented on #3965
Hi @gorankarlic. Thanks for reporting this issue. I will take a look into it and report the bug if required.

[2021-11-04 03:52] hanxiao34 opened #3986 "how to use --target"
I saw the parameter -- target. I thought it could compile software packages on different platforms on a set of environment. But when I execute -- target = windows-amd64 on Linux, it prompts
[code]

and then,  i copy windows-amd64 into there from window sdk and try again ,it prompts:

Error: Substitution target for com.oracle.svm.core.jdk.Target_java_io_WinNTFileSystem is not loaded. Use field `onl

[2021-11-04 13:51] oubidar-Abderrahim commented on #3966
Thank you for your proposition. Unfortunately, both python and ruby are not supported in Windows, therefore it won't make much sense to add examples for those languages for the Windows platform.

[2021-11-04 13:51] #3966 closed

[2021-11-04 14:31] oubidar-Abderrahim commented on #3968
Thank you for reporting this, we will take a look into it and get back to you

[2021-11-04 17:02] christianwimmer commented on #2224
GraalVM 22.0 enables a new GC policy that should reduce the memory footprint already. Especially, it starts with a more conservative young generation size and then grows automatically based on GC overhead.

Memory sizes are aware of cgroup.

[2021-11-04 17:11] Stono commented on #2224
Ah interesting, seeing as we're just experimenting at the moment we may well be best waiting for that.
Is there a release schedule or estimated release date for 22?

[2021-11-04 17:16] christianwimmer commented on #2224
You can use the daily 22.0 snapshot builds for experiments. Release will be in January.

[2021-11-04 17:16] Stono commented on #2224
Great, thanks for your responses.

[2021-11-04 17:40] fniephaus commented on #3955
Thanks for your feedback, @zakkak! Glad you like it so far. :)

I'm not sure how much info we really want to display there to be honest. Your suggestion is quite GC-focused and since GCs tend to behave in non-deterministic ways, the output can be quite noisy. Maybe we could add some warnings instead that only show up if we detect an excessive number of GCs? Would that work for your use case and if

[2021-11-04 19:11] spockz commented on #3955
@fniephaus I really like the demoed output. Reading both your remarks and responding, I would say that any output produced by default on the shell should somehow be actionable for me. It triggers me to think: If I see long GCs that should maybe be a trigger for me to tweak some parameter? If I see the top 5 classes, should I do something about that?

Regarding the machine readable output, json is

[2021-11-04 19:19] rodrigar-mx commented on #3965
The same error is produced in macOS with GraalVM CE 21.3.0 JDK 11 version, however, in macOS with GraalVM CE 21.3.0 JDK 17 or Linux AMD 64 with GraalVM CE 21.3.0 JDK 11 or with GraalVM CE 21.3.0 JDK 17 no error is generated.

The bug has now been reported internally. An answer will be provided accordingly.

[2021-11-04 19:52] rodrigar-mx commented on #3978
Hi @hanxiao34 . Maybe you can try
`Path p = Path.of(Main.class.getResource("META-INF/configs/").toURI().getPath());`
_*change Main to your current class_
then you can walk through it
[code]
Otherwise, I will need you to provide more information about your execution environment:
i) graalvm version you are using, share the output of `java -version`
ii) OS you are using
iii) are you building a native

[2021-11-05 03:00] hanxiao34 commented on #3978
Wow,thxbro!!!!
My env：
GraalVM Community 21.3.0   Based on OpenJDK 11.0.13
OS :ubuntu 16.04
command : native-image  -jar solondemo.jar --allow-incomplete-classpath -H:+ReportExceptionStackTraces --enable-http
solondemo.jar  is a Java HTTP service demo,base on  solon,h2,jlhttp and other libraries。Build by jdk 1.8.0_171
The configurationfiles has been packaged into META-INF/native-image

[2021-11-05 07:24] vjovanov commented on #3968
I find this to be a great proposal; it will also reduce the image size.
I would still keep a flag that disables this functionality in the agent as we have a flag to ignore what is in the jar config as well.

[2021-11-05 08:16] hanxiao34 commented on #3978
Hi @rodrigar-mx
I tried what you said. But it still doesn't work。
my  code:
[code]

and the  output:
[code]

[2021-11-05 08:55] borkdude commented on #3225
@zakkak Adding `-H:ServiceLoaderFeatureExcludeServices=java.net.ContentHandlerFactory` gets rid of including `java.awt.Toolkit` in the image for me. Thanks to @olpaw.

[2021-11-05 09:22] fniephaus commented on #3955
I agree. While I think we should keep the amount of output text to a minimum, one way we can address this is through good documentation that explains the output items and possible actions. We can then add appropriate links from the output to the docs.

Good!

Noted.

[2021-11-05 12:04] ivan-ristovic commented on #3963
I have updated the main post, expressing motivation and showing benefits of such API over existing solutions.

[2021-11-05 12:55] zakkak commented on #3955
I guess it would, after all no matter the output we will end up using GC logs to better understand what's going on, so a warning would be enough.

What comes to mind is observing the past `X` GCs and what percentage of the heap they were able to reclaim. If for instance the past 10 GCs where each able to reclaim only 1% that could trigger a warning. But that again seems GC specific, e.g. 10 full G

[2021-11-05 13:49] oubidar-Abderrahim commented on #3974
Thank you for reporting this, we will take a look into it and get back to you

[2021-11-05 13:56] oubidar-Abderrahim commented on #3971
Thank you for sharing this, using `setx` was a suggestion only, the main objective is to set the `PATH` variable. Could you please share another tool to use instead without this limitation?

[2021-11-05 15:27] scientificware commented on #3971
Sorry @oubidar-Abderrahim, I don't know another command line to use. At least a warning message could be added about `setx` usage.

I prefer set `path` through a Windows GUI :
- Reach the Environment variable
  - Windows Start Menu - Settings - ... - Advanced
  - One can simply type `SystemPropertiesAdvanced` in a command prompt or in a Search Field (Windows Tool Bar or Windows + r) to direct acce

[2021-11-05 16:27] sophokles73 opened #3992 "Native executable running in Docker does not detect container limits"
I have built a native executable from a simple Java class using the `native-image` tool

The class prints cgroup related information to the console and then outputs the VM's max heap and number of available processors as reported by `Runtime.getRuntime().maxMemory()` and `Runtime.getRuntime().availableProcessors()`.
I have then put the native executable into a Docker image and run it with memory a

[2021-11-05 17:54] rodrigar-mx commented on #3969
Thank you for sharing your proposal. A member of the Dev team will take a look into it shortly.

[2021-11-06 00:56] rodrigar-mx commented on #3977
Hi @INPUTsys-Chris. Thanks for sharing the issue. Is it possible for you to share the web app you are having problems with?

[2021-11-06 01:08] rodrigar-mx commented on #3982
Thanks for reporting this issue. We will take a look into it and get back to you.

[2021-11-06 12:32] fniephaus commented on #3955
Thanks, @zakkak! Those are all good ideas but I have the feeling that we may need more data points (which the new output can provide) before we can come up with a good way to detect GC issues in native image. On my local machine, for example, I can observe larger numbers of GCs when memory pressure is high, but the time spent in GC isn't anywhere near the time "doing work". What do you see in memo

[2021-11-06 13:40] ClementGre commented on #2713
Hi, I have almost the same issue, when trying to link, I get:
[code]

[2021-11-06 16:24] ghost opened #3994 "java.lang.NoSuchMethodError: No virtual method ensureClassInitialized on android"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.3.0**
 - CE or EE: **CE**
 - JDK version: **Android Runtime**
 - OS and OS Version: **android 11RKQ1.200826.002**
 - Architecture: **aarch64**
 - The output of `java -Xinternalversion`:

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds he

[2021-11-07 22:22] matteoturini opened #3995 "OpenJDK VM warning"
**Describe the issue**
This warning appears with NodeJS.
[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. gu install nodejs
2. npm i -g yarn
3. yarn add webpack

**Describe GraalVM and your environment:**
 - GraalVM version: GraalVM CE 22.0.0-dev-20211105_2059
 - JDK major version: 17
 - OS: Ubuntu 20.04 via WSL 2
 - Architecture: AMD64

[2021-11-08 13:28] zakkak commented on #3955
Hi @fniephaus

In https://github.com/graalvm/mandrel/issues/304#issuecomment-948517381 (which is quite extreme I admit, since the live data set happens to be almost identical to the available memory) I observed the following:

| | GraalVM CE 21.3 |
| -- | -- |
| Total time | ~16.5m |
| Time spend in Full GCs | ~11.5m |
| # of GCs | 275 |
| # of Full GCs | 125 |

This is like 70% of the **total** t

[2021-11-08 13:34] oubidar-Abderrahim commented on #3984
Thank you for reporting this, we will take a look into it and get back to you

[2021-11-08 15:23] rgmz commented on #617
@Capalupo: Did you install the root and intermediate certificates, or the specific server certificate for `graalvm.org` and `github.com`? Server certificates are unreliable because they require importing certificates for each website and node (if it's load-balanced), whereas root & intermediate certificates will implicitly trust all domains and nodes signed by that authority.

Another common cause

[2021-11-08 15:53] rgmz commented on #617
@sdedic: My company has an internal proxy & certificate authority. I was able to consistently reproduce the error, despite the same operation working with cURL:

[code]

<details>
<summary>Full install command output (click to expand)</summary>

[code]

</details>

Using the JVM options lead to the `SSLHandshakeException` error described above:
[code]

<details>
<summary>Full gu JVM output (click

[2021-11-08 16:35] d-kozak opened #3998 "Include All Mode for Native Image"
Create a mode where **all user code** is included in the image, so that any configuration errors that might be **dependent on the reachability** of some type become visible. The goal is to allow developers to check even those parts of their applications that are not included at the moment to see whether they are native-image compliant and their configuration is valid. Switching from a more precise

[2021-11-08 18:47] rodrigar-mx commented on #3978
Hi @hanxiao34. Could you please try now change
[code]
to
[code]
I tried it and get  isdir: false  and exists:true in the native image output.

[2021-11-08 19:44] jkeys089 commented on #2842
@vjovanov should we open a separate issue for macOS?

[2021-11-09 00:12] rodrigar-mx commented on #3986
Hi @hanxiao34. Cross compilation between different OS is not possible for the moment. There is already an open issue about that https://github.com/oracle/graal/issues/407. Possible alternatives are using VMs or docker images.
--target option is used, for example, for building native images for mobile apps in gluon project https://github.com/gluonhq/gluon-samples.

[2021-11-09 01:05] #3986 closed

[2021-11-09 01:05] hanxiao34 commented on #3986
OK，tkx！

[2021-11-09 03:51] RIvance opened #3999 "Unable to generate a shared library without main manifest attribute"
when i use the following command to generate a shared library
[code]
the output is
[code]

the same error also occurs when i try to generate a shared library with a single class file
[code]
output:
[code]

however, with `main` method, everything is fine

the only code in the jar file is
[code]

[2021-11-09 08:24] raphw commented on #3969
I adopted the same convention as the Spring framework and it works as expected. I hope this can become official at some point!

[2021-11-09 10:01] gtn1024 commented on #2666
Hope to see arm-based GraalVM on mac..

[2021-11-09 14:04] bodiam opened #4002 "Fatal error:com.oracle.svm.core.util.VMError$HostedError: Resource path contains backslash!"
**Describe the issue**

On my Mac, using GraalVM CE 21.3.0, I'm trying out the native-image builder, using the Example.java listed in the documentation. Compiling is fine, but when I use the native-image builder, I get the following error:

[code]

**Steps to reproduce the issue**

Use the Example.java from here: https://www.graalvm.org/reference-manual/native-image/#build-a-native-image

~/Downlo

[2021-11-09 14:09] bodiam commented on #4002
I've also tried running the native-image with the following argument: `native-image -H:Log=registerResource: Example`

But that results in this:

[code]

[2021-11-09 14:15] oubidar-Abderrahim commented on #3974
Could you please specify the following information:
- version of GraalVM?
- JDK version?
- Edition (EE or CE)?
- OS version?

[2021-11-09 14:16] #1776 closed

[2021-11-09 14:24] oubidar-Abderrahim commented on #3992
Thank you for reporting this, we will take a look into it and get back to you

[2021-11-09 20:24] raphw commented on #3974
I have used:

penjdk version "11.0.13" 2021-10-19
OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 11.0.13+7-jvmci-21.3-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.3.0 (build 11.0.13+7-jvmci-21.3-b05, mixed mode, sharing)

On Linux (Ubuntu 21.04).

[2021-11-10 14:57] oubidar-Abderrahim commented on #3994
Currently, Android is not a supported platform for GraalVM. There is some work done by https://github.com/gluonhq for Android, not sure if it could help but you may want to check it.

[2021-11-11 00:05] rodrigar-mx commented on #3995
Thanks for sharing. We will take a look into it.

[2021-11-11 06:25] bhargavmodi opened #4003 "Is it possible to decompile the executable and see the original code?"
**Describe the issue**
One can easily generate the executable using GraalVM. Now, it is also claimed that the original code is getting obfuscated during the executable generation.

So, let's say if the executable is shared through public platform, then in this case is it possible for hacker to decompile the executable and see the original code?

If that is possible, then hacker can modify the orig

[2021-11-11 07:19] KengoTODA commented on #2809
In my case it is necessary to use [BCEL's `SyntheticRepository` class](https://github.com/apache/commons-bcel/blob/rel/commons-bcel-6.5.0/src/main/java/org/apache/bcel/util/SyntheticRepository.java#L44). This class try to parse `CLASSPATH` which is [created based on `java.home` property](https://github.com/apache/commons-bcel/blob/rel/commons-bcel-6.5.0/src/main/java/org/apache/bcel/util/ClassPath

[2021-11-11 08:44] ilopmar commented on #3820
Now the PR with the fix have been merged, I've tried compiling from master branch and it now works. Closing this issue. Thanks!

[2021-11-11 08:44] #3820 closed

[2021-11-11 10:21] adinn commented on #4003
In brief: No. This is almost always impossible and, even where it might be possible, is almost always impractical. The remaning cases are trivial programs.

The first thing to note is that it is no easier to do this for GraalVM than for any other compiled binary such as, say, a compiled C++ executable. If you are worried about this threat with a GraalVM native binary then you ought to be just as w

[2021-11-11 10:58] mukel commented on #2809
Pass `-H:+AllowJRTFileSystem`. Note that you won't be able to inspect modules within the native executable, but you can open and inspect other modules e.g. you still need to have the jmods around.

[2021-11-11 12:13] sdeleuze opened #4004 "Please provide JSON schemas for *-config.json files"
Native configuration files have grown in term of complexity, also the documentation usually shows only a subset of what is possible to achieve (or is not up to date). JSON schemas could improve the discoverability of capabilities and could be used by tooling to validate the format of such files against a specific GraalVM version upfront providing them to `native-image` compiler.

Please tag this i

[2021-11-11 13:15] zakkak opened #4006 "Use of LambdaMetafactory broken in Java 17 while working on Java 11"
**Describe the issue**

Applications using `LambdaMetafactory.metafactory()` fail to compile with java17-21.3.0 due to `java.lang.Class.protectionDomain()` being reached. The issue does not manifest with java11-21.3.0.

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **21.3**
 - JDK major version: **17**
 - OS: **Fedora 34**
 - Architecture:

[2021-11-11 17:03] petermz commented on #3999
The second command fails because it is unclear where Test.class comes from. It needs a classpath, e.g.
native-image -cp test.jar Test --shared ...

[2021-11-11 18:25] Thihup opened #4008 "Show module name in stacktrace"
Currently the stacktraces in native image doesn't show the module name, even when using a Java module.

One example is the following:
[code]
When using the module-path, I guess it should return the module name.

[2021-11-11 19:57] smarr opened #4009 "[TruffleDSL] Reuse fields for @Specialization(assumptions)"
TruffleRuby relies a lot on assumptions in the context of the TruffleDSL.
In a significant number of cases, the assumptions are already stored in a `final` or `@CompilationFinal` field higher up in the class hierarchy.

The DSL however introduces new fields which can increase the node size quite significantly.

I am imagining that the TruffleDSL could note that the expression for the `assumptions`

[2021-11-11 23:35] rodrigar-mx commented on #3999
Hi @RIvance. Yes, please try with the classpath and the compiled class like `native-image --shared -H:Name=libtests -cp Test.class`

[2021-11-12 02:06] KengoTODA commented on #2809
Thanks, I've tried the option, and faced another `UnsatisfiedLinkError` in the same constructor. `java.home` is pointing the home of GraalVM v21.1.0 (Java 11). I'll keep investigating on this issue.

[code]

[2021-11-12 04:32] lread commented on #3882
@fernando-valdez, I have some good news: I have found the cause of the failure.

I use the `native-image` `-H:Name` option to specify my target executable.

My usage included a target dir: `-H:Name=target/hello-world`.

When running under Windows it seems that some `native-image` components recognize that `-H:Name` can include a directory and others do not. And/or some components recognize the for

[2021-11-12 05:40] TempleLin commented on #2539
Any chance of supporting Windows in the future? It seems like a pretty crucial feature.

[2021-11-12 05:43] smurugu commented on #2937
I believe Hadoop including version 3.x supports only JDK 8 although you can run the compiled jar file in JDK 11. Is it possible to run NamedNode, DataNode applications in GraalVM

[2021-11-12 07:45] MartinBalin commented on #2539
GU could in the future print some info that given component is not available for particular version/platform/arch/JDK. This will require big changes to catalog so GU has this information.

[2021-11-12 13:19] oubidar-Abderrahim commented on #4002
Thank you for reporting this, we will take a look into it and get back to you

[2021-11-12 16:33] RIvance commented on #3999
It works! Thanks!

[2021-11-12 16:33] #3999 closed

[2021-11-12 17:29] olyagpl commented on #3971
The windows guides have been updated. Thanks for the suggestions!

[2021-11-12 17:29] #3971 closed

[2021-11-12 17:53] jamesward opened #4010 "The `--no-fallback` option seems to be quietly enabling `--allow-incomplete-classpath`"
**Describe the issue**
When I run native-image without `--no-fallback` on a project that has an incomplete classpath, it falls back (as expected).  But when I add the `--no-fallback` option the build does not fail and the resulting executable fails at runtime.

**Steps to reproduce the issue**
1. `git clone https://github.com/jamesward/scala3-graalvm-tester.git`
2. `cd scala3-graalvm-tester`
3. Ru

[2021-11-12 23:31] rodrigar-mx commented on #3995
I have reported this warning with the js team. They will respond you accordingly.

[2021-11-13 13:39] INPUTsys-Chris commented on #3977
@rodrigar-mx

Sorry for my late reply. I can't share the original app but I will try to find time to test with a simpler app next week.

[2021-11-13 13:40] blackjyn commented on #3965
I got similar error:
[code]

[2021-11-13 15:10] TempleLin opened #4011 "LLVM support for Windows?"
The interopable languages that LLVM toolchain provides are pretty significant. Hope Windows OS of GraalVM can have that kind of feature in the future.

[2021-11-13 16:21] crschnick opened #4012 "GraalVM installation identified as a virus by Windows Defender"
**Describe the issue**
Windows Defender quarantines parts of my graalvm installation, more precisely `lib\svm\builder\svm.jar`, and deletes it.

Here is a screenshot from the Windows Defender popup:
![image](https://user-images.githubusercontent.com/72509152/141651072-d2e5bb4f-aa8e-4860-8438-4c4a9313f356.png)

**Steps to reproduce the issue**
1. Download the release from https://github.com/graalvm

[2021-11-13 19:20] UbiquitousBear commented on #775
@cstancu just echoing this here - can you see what the issue is, or how can I contribute more data towards this?

[2021-11-13 19:36] UbiquitousBear commented on #775
Looking further into this, I think this might be an issue with the resource bundling:

[code]

It looks like `IllegalArgumentException` is called with MessageFormat.format, but either the value of `JGitText.get().enumValuesNotAvailable` or `typeName` is null, causing the NPE.

[2021-11-14 11:57] smarr opened #4013 "IGV Fails Loading Graphs/Corrupted Graph Data"
IGV fails loading graphs generated by Graal, again.

Loading fails with the following error (two examples):

[code]

This is the same symptom as back in #3385. /cc @MartinBalin @Ondrej-Douda @tkrodriguez
Haven't further investigated yet. Though, a broken graph can be found here: https://stefan-marr.de/downloads/truffle/Queens-inner.bgv.bz2

[2021-11-14 12:09] smarr commented on #4013
Hmm, so, this seems to only be a problem when using libgraal. The graph is fine when not using libgraal.

[2021-11-14 12:11] archethic opened #4014 "Truffle library must also be supported on Android"
I want to run graaljs on android but it doesn't work. This is an issue that came up trying to use graaljs, but the reason for posting an issue in the graal repo is that most errors occur in truffle and other sub-libraries in the graal repo, not in the graaljs error. One example is using ClassValue<T> in https://github.com/oracle/graal/blob/master/truffle/src/com.oracle.truffle.api/src/com/oracle/t

[2021-11-14 17:09] sdeleuze opened #4015 "Improve native conditional configuration to be usable with annotations"
[Native conditional configuration](https://www.graalvm.org/reference-manual/native-image/Reflection/#conditional-configuration) works great for regular programmatic code, but not for annotations.

In order to be usable for annotations (I take Spring use case, but that could probably apply to other use cases), It would require to take in account meta annotations (annotation annotated by another ann

[2021-11-15 00:46] hogfilho opened #4016 "Embedded Jetty Native Websocket Server fails at runtime on native-image"
**Describe the issue**
Hello! When I try to run a minimal example of embedded Jetty websocket server, it fails at runtime when a client connects if I compile it using native-image.
This repository contains the minimal server example:
https://github.com/jetty-project/embedded-jetty-websocket-examples
it contais two projects.
 - javax.websocket-example - This one uses javax.websocket apis and works

[2021-11-15 01:39] sheltonwilson opened #4017 "Simple HTTP(S) request yields NoClassDefFoundError: sun.net.NetProperties on native image 21.3.0 CE/EE"
Hi all,

We have a urgent bugfix request, our development has stopped because the bug has broken http/https functionality and downgrading is not an option because, Java Module System support which is introduced in version 21.3.0.

A simple program doing a HTTP/HTTPS get request is producing the bellow exception, the code was working on previous versions of Graalvm native image. We have tried using

[2021-11-15 05:10] mcraj017 commented on #4004
@sdeleuze thanks for reporting the issue, we will check it out and get back to you

[2021-11-15 05:18] mcraj017 commented on #4006
@zakkak thanks for reporting the issue, we will check it out and get back to you

[2021-11-15 05:39] mcraj017 commented on #4006
@zakkak I am getting below, while trying to clone
[code]

[2021-11-15 05:54] mcraj017 commented on #4008
@Thihup thanks for reporting the issue, we will check it out and get back to you

[2021-11-15 05:58] mcraj017 commented on #4008
@Thihup I will add this request in the ongoing effort of improving module support on native-image

[2021-11-15 06:00] mcraj017 commented on #3935
@olpaw There is a request to add module name in stack traces of native image, please add that in this effort also
https://github.com/oracle/graal/issues/4008

[2021-11-15 06:00] mcraj017 commented on #4008
please follow https://github.com/oracle/graal/issues/3935 for more updates, closing this issue now

[2021-11-15 06:00] #4008 closed

[2021-11-15 09:07] olpaw commented on #4008
@Thihup good point. This is currently missing and should be added. @ivan-ristovic this is something that would fit in your previous line of work.

[2021-11-15 09:45] fniephaus opened #4018 "[GR-35118] debuginfotest fails on JDK17; assertion error on aarch64."
After switching the vm-native gates from JDK 8 to JDK 17, the [debuginfotest started to fail on JDK17](https://github.com/oracle/graal/runs/4125253987?check_suite_focus=true). To debug the issue, I tried to reproduce it on an aarch64 machine. However, image generation crashed due to an `AssertionError` (see below).

@zakkak is that expected/a known issue? Is debuginfo supported on aarch64?

[code]

[2021-11-15 10:00] fniephaus commented on #4018
It seems that `java.io.PrintStream::println(java.lang.String *)` cannot be found. Changing

https://github.com/oracle/graal/blob/e9bddb1c7bd93b0435e08199f21cf7d1d04b497e/substratevm/mx.substratevm/testhello.py#L308

to

[code]

let's the test pass again. Not sure if that's the right thing to do, maybe the wrong `println` was pulled into the image?

[2021-11-15 11:36] adinn commented on #4018
Yes, debug info is currently supported on AArch64.

The assert and the gdb test failure are both a bit peculiar. Perhaps the two failures may well be related but I am not sure.

1) The assertion on AArch64 indicates that a method with symbol name Class_arrayType_adf989c78c59c6f411d53216c542e93dcf201093 has turned up twice in the list of compiled methods for which debug info is to be generated. The

[2021-11-15 11:48] fniephaus commented on #4018
Thanks for confirming.

That's why I initially created the public issue against @zakkak. If you could help with a proper fix, that'd be great.

Yes, I build against e9bddb1c7bd93b0435e08199f21cf7d1d04b497e from a checkout I pulled today.

[2021-11-15 12:30] fniephaus commented on #3955
I've implemented a test after the end of each stage that checks whether the time spent in GC dominates the overall time to run the stage and is above 15s. If the test fails, the following warning is displayed:

<img width="698" alt="image" src="https://user-images.githubusercontent.com/2368856/141780004-405f3040-d0fd-462b-894b-f18573adcbb8.png">

(Here, I decreased both threshold to trigger the wa

[2021-11-15 13:17] bhargavmodi commented on #4003
Thank you so much @adinn for the detailed comment. I think it resolves many doubts.

But there is one point, I need your help to clarify. Generally, java application generates jar file. Now, this jar can be easily decompiled. So, if we apply the tool such as proguard to obfuscate and generate the jar - this makes it hard for a normal developer to convert into original code, but a hacker can easily

[2021-11-15 13:39] adinn commented on #4003
In general, a java application does not *generate* a jar file.  What I think you are trying to express is that 1) java applications are compiled (by the javac program) to an intermediate format called class files and 2) these application class files are normally deployed as jar files (along with the JVM i.e. the java program).

Note that it is the method bytecode in these class files that the JVM'

[2021-11-15 15:27] oubidar-Abderrahim commented on #4002
I couldn't reproduce the issue on my macOS Catalina, this could be a specific issue with macOS Monterey but I have no way to confirm this.

[2021-11-15 16:31] adinn commented on #4018
Hi Fabio,

I found out why the assert is happening. When building up debug info for a HostedType that is included in the hosted universe (i.e. the ones listed by `NativeImageHeap.getUniverse().getTypes()`) the debuginfo code generator calls method `HostedType::getAllDeclaredMethods` to identify all the methods of the type. The case that is blowing up is type `DynamicHub` which, as you know, is a s

[2021-11-15 16:37] adinn commented on #4018
@olpaw Do you have any idea why this is failing with jdk17 and whether or not it is legitimate. I could ignore the repeated use of the symbol. However, I think it would be wrong to list all 3 variants of this method rather than list the target version that is actually going to be used. My feeling is that `HostedType::getAllDeclaredMethods` ought only to report the target method. If there is a good

[2021-11-15 16:54] bhargavmodi commented on #4003
Again @adinn Thank you so much for covering all the points very nicely.
I can understand there's no shame on showing up your code till the time you're following the best practices. And open sourcing is the great way to make the codebase mature.

Even though there's one point in code obfuscation is that you dont only hide your code but you can stop others to copy your code. I know you can bundle up

[2021-11-15 17:25] tkrodriguez commented on #4013
Do you have a command line for reproducing this problem?  There's some extra sanity checking to detect the problem in #3385.  https://github.com/oracle/graal/blob/master/compiler/src/org.graalvm.graphio/src/org/graalvm/graphio/GraphProtocol.java#L941 is the check though it's assert only.  You might enable that all the time and rebuild libgraal.  I've felt a bit like there's a lurking IGV libgraal

[2021-11-15 18:07] smarr commented on #4013
This is on my TruffleSOM.

Something like the following should be able to reproduce:

[code]

`-vv` prints out the plain command line. A `-LG` would disable the use of libgraal`.

With the following, patch I get the message below.
So, indeed, the assertion is failing.

[code]

Message:

[code]

I'd hope that the old examples would reproduce it too, though, didn't have a chance to try.
- https://gi

[2021-11-16 00:37] tkrodriguez commented on #4013
Ok, it appears this code just has to be robust in the face of inconsistent equality and `toString` implementations.  In this case `HSTruffleNode.equals` checks that two objects point at the same Java object through a native handle but `toString` prints out the address of the handle which won't be the same in this case.  I think there might be multiple problems.  Anyway, I'll create an issue.

[2021-11-16 06:53] mcraj017 commented on #4010
@jamesward thanks for reporting the issue, we will check it out and get back to you

[2021-11-16 09:14] zakkak commented on #3955
Nice :)

What's the threshold to determine whether the time spend in GC dominates the overall time? Is this set to 50%?

When you say "overall time" you refer to the overall time spent for the last phase, 66.3s in this case, right?

Do you think it would make sense to be able to tune those thresholds (or disable the warning) to avoid warnings in memory constraint configurations that are known to b

[2021-11-16 09:39] zakkak commented on #4006
@mcraj017 sorry for that. The clone command should now work!

[2021-11-16 14:56] adinn commented on #4018
Ok, I believe I have found out what is special about this case and it probably explains why processing of the substitution for `Class::arrayType` differs from processing for `Class::getSimpleName0`.

In jdk17 class `Class` implements an interface `OfField<F>`. The method `arrayType()` that is causing the problem here is declared by that interface. When I debugged the substitution processor I notic

[2021-11-16 15:00] fniephaus commented on #3955
Yes, it's currently set to a `0.5` ratio.

Technically, it checks the delta since the last check. But that's very close to the time spent for the last phase.

Yes, we could/should do that. An option for suppressing such warnings sounds reasonable. Noted!

[2021-11-16 15:15] oubidar-Abderrahim commented on #4011
Hi, thank you for your suggestion, I think @zapster would be able to share more about the status of LLVM support on Windows

[2021-11-16 15:19] INPUTsys-Chris commented on #3977
[graalvm_3977.zip](https://github.com/oracle/graal/files/7547506/graalvm_3977.zip)

Here is a simple app demonstrating the NPE. It includes an embedded tomcat and the app, together with the batch script used to compile.

I couldn't reproduce the error with a config generated with this app, so I included the config of the original app.

It hope that's sufficient for you to debug your compilation.

[2021-11-16 15:50] rschatz commented on #4011
Hi!

Of course we have Windows support planned at some point, but it is a significant implementation effort. The LLVM language runtime contains a lot of platform dependent code, and while that code is very similar for Linux and MacOS, I expect it will take a bigger effort to port it to Windows.

There are many other important open issues for the GraalVM LLVM runtime, so unfortunately I can't give

[2021-11-16 16:12] TempleLin commented on #4011
Thank you for the replies. Glad to hear it's planned, and hope to see this feature some day!

[2021-11-16 16:58] olpaw commented on #4018
I agree with @adinn that this is a bug on our side.

Looking at a few interesting entries of `HostedType::getAllDeclaredMethods` for `Ljava/lang/Class;` gives us:
[code]
As suspected for method `arrayType()` we do have 3 entries. This makes no sense. Something goes terribly wrong when we process the substitution:
[code]
I will investigate further and provide a fix. cc @christianwimmer

[2021-11-16 19:03] TPGamesNL opened #4022 "[GR-35116] Enterprise JIT gives wrong output for String#indexOf with certain characters"
**Describe the issue**
When using `String#indexOf(int)` on a String containing a character in the range from `\u0080` to `\u00FF`, with that character as the argument, `-1` is always returned if EE's JIT had compiled the method.

**Steps to reproduce the issue**
Code:
[code]
Command: `"<path to GraalVM EE>/bin/java.exe" MyClass.java` (make to execute source file directly, see *more details*)

**De

[2021-11-16 20:57] tkrodriguez commented on #4013
The graph you attached to the report is failing because the file itself appears to be truncated.  This is mostly likely caused by the JVM shutting down in the middle the dumping.  I don't think there's really anything we can do about that.  The compiler threads are daemon so they can't stop the JVM from shutting down when they are in the middle of dumping.  However several of the other graphs prod

[2021-11-16 21:16] smarr commented on #4013
Oh, I see. Hm, well, perhaps it was user error all along :flushed:

[2021-11-16 21:30] alexfedorenchik opened #4024 "CompletableFuture with timeout hangs Isolate"
**Describe the issue**
java.util.concurrent.CompletableFuture$Delayer class that is used in "orTimeout" and "completeOnTimeout" methods prevents isolate from being teared-down.

As far as I understand, Delayer instantiates a static ScheduledThreadPoolExecutor with a single daemon thread that is not terminated due to https://github.com/oracle/graal/issues/2617#issuecomment-673015433

Issue can be w

[2021-11-16 21:52] Instein98 opened #4025 ""There was an error linking the native image" when building the native image for a maven project"
**Describe the issue**
I was trying to build a native image to run the tests of a maven project. I write a scripts to include the loaded classes during `mvn test` in the reflection configuration file and use that configuration file to build the native image.

After excluding many loaded classes from the reflection configuration files, the native image failed: "Fatal error:java.lang.RuntimeExceptio

[2021-11-16 22:19] dougxc commented on #4022
Thanks for the report with a simple reproducer.
Tracked internally with GR-35116.

[2021-11-17 01:07] domdorn opened #4026 "[Regression] AWTView keyboardInputSourceChanged / NSException"
**Describe the issue**
I thought I want to try out how IntelliJ IDEA would run using GraalVM EE 21.3.0.
First it ran ok, then it suddenly crashed.

Please see the following error report created by OSX - it looks like there is a problem with AWT.

[code]

[2021-11-17 02:21] grzm opened #4027 "native-image does not respect jdk.httpclient.allowRestrictedHeaders (GraalVM CE 21.3.0 (build 17.0.1+12-jvmci-21.3-b05))"
**Describe the issue**

The java.net.http.HttpRequest$Builder header method restricts which headers can be included in an HttpRequest per RFC 7230. As of JDK12, this can be overridden by setting the jdk.httpclient.allowRestrictedHeaders system property. See the following resolved JDK tickets for details.

* [JDK-8213189 Make restricted headers in HTTP Client configurable and remove Date by default

[2021-11-17 08:53] mcraj017 commented on #4012
@crschnick Thanks for reporting the issue, we will check it out and get back to you

[2021-11-17 09:41] domdorn commented on #4026
Ok, this seems to be related to https://bugs.openjdk.java.net/browse/JDK-8257242
I can reproduce this reliably by switching the Keyboard-Layout in OSX through the shortcut CMD+ALT+Space (it doesn't matter if Idea or any other app has the focus at that time). Noteworthy: I'm using graalvm on jdk11  while the above mentioned bug is in JDK16, so this bug seems to be backported.

[2021-11-17 10:05] domdorn commented on #4026
I just tested with `graalvm-ce-java11-20.3.0` and the problem does not exist there, so this is a regression

[2021-11-17 10:53] gradinac opened #4028 "Support statically linking user JNI libraries"
### Why JNI Libraries for static linking need additional support?
Dynamic linking in the static context is not possible out of the box. The whole purpose of static linking is not to have any library dependencies at runtime, removing the need for the dynamic linker completely. In practice dynamic libraries depend on the underlying libc (and potentially other libraries) that would lead to very hard-

[2021-11-17 12:49] domdorn commented on #4026
Tested now with `graalvm-ee-java11-20.3.4` and the problem DOES exist there.
[code]

[2021-11-17 13:13] domdorn commented on #4026
Tested also with `graalvm-ee-java11-20.3.1` and problem exists:
[code]

[2021-11-17 13:16] domdorn commented on #4026
Tested now with `graalvm-ee-java11-20.3.0` and the problem does NOT exist. So it was introduced between 20.3.0 and 20.3.1 for EE.
I also tested `graalvm-ce-java11-20.3.0` and `graalvm-ce-java11-20.3.1` and the problem does NOT exist there.

[2021-11-17 14:47] gergo- commented on #4026
Thanks for this report @domdorn . Do I understand correctly that this seems to be a general AWT problem, so it should also show up with any small AWT demo application? Could you please check if it persists with `-XX:-UseJVMCICompiler` (i.e., if you don't run the GraalVM compiler at all)?
@dougxc this looks like it's https://bugs.openjdk.java.net/browse/JDK-8257242, maybe we need a backport?

[2021-11-17 18:19] domdorn commented on #4026
@dougxc so it looks like that might have actually introduced the issue?

Steps to reproduce (on mac):
* Install graalvm-ee-java11-20.3.1 (or later)
[code]
* Have at least two keyboard layouts configured in osx.
* Open IDEA
* switch to another keyboard layout (cmd + alt + space )

[2021-11-17 18:26] dougxc commented on #4026
what do you mean by "that"?

It will be available 18th Jan (https://www.graalvm.org/release-notes/version-roadmap/)

I assume this error also occurs with [OracleJDK 11.0.13](https://www.oracle.com/java/technologies/downloads/#java11)?

[2021-11-17 18:30] domdorn commented on #4026
@dougxc yep, just tested it, also crashes with OracleJDK 11.0.13
[code]

[2021-11-17 19:45] chrisseaton opened #4030 "The Truffle PE deoptimises on an instanceof interface where it doesn't know the class, but doesn't report a performance warning"
If you do `instanceof` against an interface with multiple implementations, and the class of the object isn't known, the Truffle PE compiled a depot runtime constraint. A useful error message is reported at the point of deoptimisation. But no performance warning is printed at the point of compilation, which would be more useful.

Found with @wildmaples.

[2021-11-17 20:28] deandelponte commented on #3386
This issue persists with GraalVM version 21.3.0.r11 as well

[2021-11-17 20:30] deandelponte commented on #3386
@Alex100 do you happen to have an example app demonstrating how your workaround is used?

[2021-11-17 23:39] rodrigar-mx commented on #4016
Thanks for sharing this issue. I will take a look into it and get back to you.

[2021-11-18 07:50] iamstolis commented on #3995
Fixed by https://github.com/oracle/graaljs/commit/38f0a682586a6a9a97243507e9a4aa017ca8aa1d

[2021-11-18 07:50] #3995 closed

[2021-11-18 08:51] mcraj017 commented on #4017
@sheltonwilson thanks for reporting the issue, we will check it out and get back to you

[2021-11-18 09:10] mcraj017 commented on #4017
@sheltonwilson I did not encounter any error the provided reproducer.
please provide the steps to get this error:
[code]

[2021-11-18 10:59] bhargavmodi commented on #4003
Hi @adinn

I've some follow up questions. Thank you so much in advance.

- GraalVM generates executable Ahead of Time (AOT). Could you please suggest a way to distribute the native-image because in advance we're unaware about the machines in which it is going to be executing?
- Is there a specific treatment required to run the native-image on AWS, AKS ?

[2021-11-18 13:26] adinn commented on #4003
@bhargavmodi Those are interesting and pertinent questions. However, I'm afraid you will have to see if someone else, perhaps someone from Oracle's team,  can provide answers. I am merely a (non-Oracle) contributor to the GraalVM project and am not normally involved in deploying applications.

[2021-11-18 14:46] bhargavmodi commented on #4003
Ok, Thank you much @adinn on sharing the knowledge and clearing doubts.

[2021-11-18 14:46] #4003 closed

[2021-11-18 23:56] rodrigar-mx commented on #4003
@bhargavmodi for distributing the native-image either you build it within a container or build an image for each architecture. As far as I know there are no extra requirements to build and run native image on AWS. Depending on the OS you may need to install some libraries (see https://www.graalvm.org/reference-manual/native-image/#prerequisites). I found also [this interesting article for AWS and

[2021-11-19 03:05] bhargavmodi opened #4033 "Proper documentation is missing for the native-image distribution"
**Describe the issue**
One of the great benefit with **JVM is that write once and run anywhere**. It means you don't have to worry about the distribution of your build, whichever machine has the JVM installed that can run your java code flawlessly.

Now, in case of GraalVM which is doing Ahead of Time (AOT) compilation. But, it does not support cross-compilation. It means you need to generate mult

[2021-11-19 09:09] zakkak commented on #4018
A note regarding the `info func` part of the issue. The [tests where passing on my branch](https://github.com/oracle/graal/runs/4085005990?check_suite_focus=true) just before the merge of https://github.com/oracle/graal/pull/3981 so the issue appears to got introduced in the following changes https://github.com/oracle/graal/compare/d0c739482ac6da2118ccddbeea0ffef1e0cf0ef2...15cbb20f5ae (left branc

[2021-11-19 09:42] oubidar-Abderrahim commented on #4024
Thank you for reporting this, we will take a look into it and get back to you.

[2021-11-19 10:23] adinn commented on #4018
I can certainly see how insertion of the IterativeConditionalEliminationPhase might mean that there is no longer an explicit call to println(String) that causes the method to be compiled.  Conditional elimination can remove branches which include non-inlined calls. It can also change inlining decisions, causing calls to be inlined. This might be enough to ensure that all calls only exists inlined

[2021-11-19 10:49] zakkak commented on #4018
Uh right, that's what I was missing here (since there we invoke println unconditionally in our HelloWorld) :)

Unfortunately I can't `b java.io.PrintStream::println(java.lang.String *)` but if I do `b java.io.PrintStream::println` I can see it breaks in `java.io.PrintStream::println(java.lang.String *)`

I think I will move this part in a different issue!

[2021-11-19 12:47] zakkak opened #4036 "Conditional elimination phase before static analysis breaks debuginfotest gate"
**Describe the issue**
As discussed in https://github.com/oracle/graal/issues/4018#issuecomment-973888501 after the merge of https://github.com/oracle/graal/commit/ee638aadb6201aa713e44c4865858a84f856d06e the debuginfotest started failing in Java 17 with:

[code]

**Steps to reproduce the issue**

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **4550c69898bf6c0eec11e4965f86

[2021-11-19 14:53] zakkak commented on #4036
**TLDR:** the gate failure appears to be a false alarm so I plan to change the test. (FYI @fniephaus)

As [mentioned](https://github.com/oracle/graal/issues/4018#issuecomment-973942928) by @adinn:

Indeed after https://github.com/oracle/graal/commit/ee638aadb6201aa713e44c4865858a84f856d06e `println(String) no longer appears as a primary range (i.e. top-level method). Note that a Debug Info Entry (

[2021-11-19 17:06] adinn commented on #4036
I don't believe the presence of an FDE  is of any relevance to how info works. An FDE is provided so gdb can understand how to unwind stack frames and identify the associated register save locations. info func does nto need that information to identify which compiled methods exist in the program. As far as I am aware it bases its printout on information it retrieves from the info section. Specific

[2021-11-19 18:23] zakkak commented on #4036
Right, thanks for refreshing my memory (which seems to need an upgrade :sweat_smile:) Andrew!
I indeed see a declaration for `printn(String)`:

[code]

an inline definition:
[code]

and no (top level) definition.

You are right on this one as well. For the following C/C++ program:

[code]

gdb returns:
[code]

Note that `bar(int)` is missing like in our case.

What I see **different** is that in t

[2021-11-19 23:01] rodrigar-mx commented on #3977
Hi @INPUTsys-Chris. Thanks for sharing. I observed that if building the config files with the tracing agent, no error appears. And that when using the config files you have included, the error presents.  I also detected that the problematic file seems to be `reflect-config.json`, and that when changing the entry in that file
[code]
to just
[code]
error is gone. Could you try it out and confirm it?

[2021-11-19 23:09] rodrigar-mx commented on #3869
Closing this issue because there has been no activity in last month.

[2021-11-19 23:09] #3869 closed

[2021-11-19 23:53] rodrigar-mx commented on #4025
Hi @Instein98. Could you please try using the latest graalvm version: 21.3.0. You can use either jdk 11 or jdk 17 based versions. jdk 8 is no longer supported.

[2021-11-20 00:41] matteoturini commented on #3995
Thanks

[2021-11-20 08:51] SaltedFishBayonet opened #4037 "AWT and Swing, on Windows, run with black windows!"
I know that new projects tend to be developed in javaFX these days, but I have an old Swing project.
I tried to compile swing programs into EXE using Graal AOT and it worked,
But it runs with a black window.
I know that in traditional Java it should be run with Javaw.exe
In Microsoft VC, you can try removing black Windows with GUI projects, setting window properties to hide, Windows Services proje

[2021-11-20 12:18] kristofdho commented on #4037
Same question has been answered in this discussion: https://github.com/oracle/graal/discussions/3599

[2021-11-20 12:36] INPUTsys-Chris commented on #3977
Yes, I can confirm that fixes the issue for me.

I had to remove the extra comma but I guess that's just a copy/paste error on your side.

[2021-11-21 21:02] renatoathaydes opened #4038 "TypeError: Unknown identifier - cannot call host method in Java modular app unless type is exported"
**Issue Description**

When using the Java module system, a JS script executed through a `Context` instance cannot see non-exported types and methods from the host, even when loaded from the same module.

**Steps to reproduce the issue**

1. Create a Java module.
2. Make the module execute a JS script loaded with `SomeClass.class.getResource("path")`.
3. Pass a Java object with a type from the sam

[2021-11-21 23:21] chrisseaton opened #4039 "Methods that always deoptimise shouldn't be installed"
When a Truffle method compiles to a single deoptimise node, it shouldn't be installed and the compilation should bail out instead.

Related to #4030. Found with @wildmaples.

[2021-11-22 03:46] debu999 commented on #2825
I am looking for the same for a new project any traction on this. #Alpine #GraalVM

[2021-11-22 05:55] mcraj017 commented on #4026
@domdorn thanks for reporting the issue, Please  retry once GraalVM EE 22.0.0, 21.3.1, and 20.3.5 is available
you can check https://www.graalvm.org/downloads/ for that
Closing this issue, for now, if you still see the same issue with new releases, then please reopen or open a new issue

[2021-11-22 05:55] #4026 closed

[2021-11-22 05:56] mcraj017 commented on #4027
@grzm thanks for reporting the issue, we will check it out and get back to you

[2021-11-22 07:28] mcraj017 commented on #4010
@jamesward Getting error while using reproducer
am I missing something?
[code]

[2021-11-22 07:41] epragtbeamtree commented on #4002
@oubidar-Abderrahim no problem, I'll try to look into it myself. I've never debugged Graal however, is there an easy way to run Graal from my IDE (IntelliJ) so I can set a few breakpoints or so?

[2021-11-22 08:29] mcraj017 commented on #4012
@crschnick I tried it on windows 10 and did not face any error
Can you please download and try again?

[2021-11-22 09:05] crschnick commented on #4012
@mcraj017 I recently set up a new Windows installation, so I sadly can't test it anymore on the original one.
When I test this on my new system, I also don't get any error. However, I was able to consistently reproduce it on my old system multiple times.

[2021-11-22 09:31] petermz commented on #4002
I think the easiest way to debug native-image is to run it with --debug-attach[:port] , then attach your IDE. Default port is 8000.

[2021-11-22 10:54] adinn commented on #4036
@zakkak It is unfortunate that bytecode does not contain line numbers for method and field declarations. Line numbers are only provided for code lines in the method body that can be associated with some specific bytecode. I was hoping we could eventually remedy this by defining new line number bytecode attributes and getting javac to co-operate in inserting them. However, that's a long haul to ach

[2021-11-22 11:16] kirillp commented on #4028
Can I also compile and link my JNI into a libjni.so and later link it statically to the .so produced by GraalVM ?
So it loads without any callto dlopen

[2021-11-22 12:46] jamesward commented on #4010
Well that is not a useful error.  Under the covers this task calls docker.  Maybe you don't have docker installed?

[2021-11-22 13:11] zakkak commented on #4036
@adinn @fniephaus FYI I am working on it, but as I keep removing/fixing tests new errors are popping out, the last couple of which seem like actual regressions.

[2021-11-22 13:23] smarr opened #4041 "[Truffle] Possible Footprint Improvement for DynamicObjectLibrary"
On TruffleRuby, I am seeing for unit-test code a lot of AST sub trees of the shape:

[code]

It seems that reading a missing field requires 3 nodes, and is one of the most common subtrees I see on the ActiveSupport unit tests.

Perhaps there's potential to reduce the footprint for those.

/cc @eregon

[2021-11-22 13:36] adinn commented on #4036
Ok, this may need to wait until @christianwimmer or @olpaw fix the problem that introduced multiple copies of methods into the native image method list.

[2021-11-22 13:57] eregon commented on #4041
cc @woess

[2021-11-22 14:10] oubidar-Abderrahim commented on #4037
Please try the solution provided in https://github.com/oracle/graal/discussions/3599 and let us now if it fixed your issue

[2021-11-22 17:34] adinn opened #4043 "DebugInfo log message are not showing param types in method signatures"
An error was introduced into the debuginfo code in the patch committed as GR-31277  Full method names printed to the include empty space where a parameter type name should occur in the signature.

Steps to reproduce:

Run a native image compilation with "-H:Log=DebugCodeInfo:3,dwarf:3 -Dgraal.LogFile=out.log" and look in the log for messages starting with "Merge subranges". The method names will i

[2021-11-22 21:15] deandelponte commented on #3386
As a workaround, I've been able to use StaticTableSchema for mapping simple objects, but run into issues when mapping more complex attributes.  For example, how would I map something like this using StaticTableSchema?

Please note, `CustomerOrgData` is a bean and all fields are Strings.

[code]

[2021-11-23 00:19] rodrigar-mx commented on #4033
Hi @bhargavmodi. Thanks for contributing to graalvm. Firstly, I think is important to clarify that native-image is not graalvm. Native-image is just a graalvm feature. With GraalVM compiler you still get the great benefit of "write once and run anywhere" with an additional higher performance. Still, as you correctly mentioned it, when building a native-image, cross-compilation is not supported yet

[2021-11-23 04:57] mcraj017 commented on #4012
@crschnick Thanks for the confirmation.
If you see the issue again, please reopen the issue or report new one
Closing this for now

[2021-11-23 04:57] #4012 closed

[2021-11-23 08:00] jaroslawr commented on #3959
@rodrigar-mx I work in one company with @hejcz , we identified the problem to be increased usage of the "non-profiled nmethods" CodeHeap - with Graal 21.1.0 and OpenJDK 16 we can run our app with the default setting of 128MB, it very rarely gets full and when it does, it logs something like this:

[code]

With Graal 21.3.0 and OpenJDK 17.0.1 the message above does not seem to be printed, but when

[2021-11-23 08:32] bhargavmodi commented on #4033
Thanks @rodrigar-mx for your reply.
Could you please elaborate more on GaalVM compiler's benefit of "write once and run anywhere"

Currently, I'm working on Spring Boot project, so below is the developer guide requirement in the spring-boot project context, but later it can be then generalized.

As a spring-boot application developer, I should be able to create a script for generating the native-i

[2021-11-23 09:40] WowYouCanReallyDance opened #4045 "What is the strategy of memory allocation for SubstrateVM? How do I get more information about that?"
**Describe the issue**
What is the strategy of  memory allocation for SubstrateVM? How do I get more information about that?

**Steps to reproduce the issue**
I notice that the native image got a low memory when application startup (about 30MB with a simple application on JavaFX). But the memory will goes up when I take some simple operation like click button...
Then It will keep on about 320MB st

[2021-11-23 11:05] aleqsss commented on #2585
Is this still true for `gu`? I'm trying to use `JAVA_TOOL_OPTIONS` for the following:
-Djavax.net.ssl.trustStore=/path/to/cacerts
-Djavax.net.ssl.trustStorePassword=password

By doing the following:
`JAVA_TOOL_OPTIONS="-Djavax.net.ssl.trustStore=/path/to/cacerts -Djavax.net.ssl.trustStorePassword=password"`

Where `/path/to/cacerts` has been updated with some extra certs we need in our environment

[2021-11-23 11:55] adinn commented on #4018
The assertion failure because of repeated methods with the same symbol is not just restricted to jdk17. I just observed the same problem on my master branch when the github CI ran debuginfotest for jdk11.

Saleint details excerpted from https://github.com/adinn/graal/runs/4289658938?check_suite_focus=true

    [hello.hello:9148]        image:   1,820.01 ms,  2.47 GB
    Fatal error: com.oracle.svm

[2021-11-23 13:15] #3843 closed

[2021-11-23 14:13] aleqsss commented on #1506
Hi,

I have an additional question here.

If I take the **cacerts** from the `graalvm-ce-java11-21.3.0/lib/security` folder, and use keytool like this:
`keytool -importcert -alias cert01 -keystore "graalvm-ce-java11-21.3.0/lib/security/cacerts" -file "/path/cert01.pem" -storepass "changeit" -noprompt`

To populate it with, by our corporate required, certificate.

And then run:
`gu install native-i

[2021-11-23 15:53] chrisvest commented on #3028
Having better support for VarHandles in Graal would be very helpful for Netty, as we seek to reduce our reliance on `sun.misc.Unsafe`. Netty is also very widely used, so we need to support Graal native-image build configurations. It would be a lot of trouble to configure every class that makes use of VarHandles, for runtime initialisation.

[2021-11-23 18:00] fniephaus commented on #1431
I added a comment to explain this: https://github.com/oracle/graal/commit/824a2465762dbf2f2fb92c2bda4bc9bc98e67a76

[2021-11-23 18:00] #1431 closed

[2021-11-23 19:19] chrisseaton commented on #4039
Will fold into #4030.

[2021-11-23 19:19] #4039 closed

[2021-11-23 20:11] chrisseaton commented on #4030
Adding some more detail.

Not sure what the point of installing this is?

<img width="488" alt="Screenshot 2021-11-23 at 19 59 36" src="https://user-images.githubusercontent.com/341094/143095112-f68cc1f4-6e09-49f9-8f9f-3fd35b087fda.png">

The deopt node has no source info. There's no compilation warnings.

I don't seem to get told when it deoptimises. I do see a deoptimize for `#foo` but it's ahea

[2021-11-23 20:42] raphw commented on #3974
I debugged this, and the null pointer stems [from a call with a null value](https://github.com/oracle/graal/blob/1fde5c48a53f5bf10bc11eb48b751b2274360204/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/configure/PredefinedClassesConfigurationParser.java#L52) which is [later attempted to be resolved](https://github.com/oracle/graal/blob/61bc720709fc6c68341db6063809b7cb92b9cf72/substrate

[2021-11-23 21:12] raphw commented on #3974
I also created a simplified [sample project](https://github.com/oracle/graal/files/7591051/sample.zip).

You can provoke the error by running `./run.sh /location/of/graal`.

[2021-11-23 21:31] chumer commented on #4030
Using instanceof with interfaces is generally discouraged for Truffle. It was one of the reasons why we introduced Truffle Libraries in the first place.

Seeing the deopt for a virtual interface type check is unexpected. My guess is that the deopt comes from a different location of the ruby implementation.

None really, we just do not special case it yet. However if that happens it typically means

[2021-11-23 21:44] renatoathaydes opened #4047 "GraalVM jlink fails with Error: Hash of jdk.crypto.ec on MacOS and Windows"
I am trying to package a modular Java application with `jlink`.

It works fine on OpenJDK in all operating systems, but as I am using GraalVM.js, I wanted to compile and package it using GraalVM.

However, the build seems to only succeed on Linux. On both MacOS and Windows, I am getting the following error:

[code]

* [Linux build](https://github.com/renatoathaydes/rawhttp/runs/4304958401?check_su

[2021-11-23 21:45] renatoathaydes commented on #4047
I think that to reproduce, trying to jlink a simple modular Java project with at least these modules should suffice:

`--add-modules', 'java.base,jdk.crypto.ec`

The crypto module is required for HTTPS to work.

[2021-11-23 21:54] chrisseaton commented on #4030
This was possibly a red herring. I couldn't reproduce with a simple `instanceof` when I tried - hence the convoluted reproduction instructions.

The deopt is attributed to the Truffle-compiled code, which doesn't make sense to me of how you could PE with unloaded classes.

Maybe I'll sit on this until I can reproduce more reasonably and then show you.

[2021-11-23 22:03] Dufgui commented on #1210
I think I still experiment this bug in 21.3.
I try to create a builtin with varargs

https://github.com/Dufgui/graaltcl/blob/main/language/src/main/java/com/oracle/truffle/tcl/builtins/TclListBuiltin.java

But it not works. The TclListBuiltinFactory take only the first arg, no ?
[code]

 I don't find any entry in documentation in https://www.graalvm.org/graalvm-as-a-platform/language-implementatio

[2021-11-23 22:18] chumer commented on #4030
If you can reproduce this somehow with a simple RootNode that is certainly appreciated and saves me time as I need to do that anyway for the regression test.

[2021-11-24 00:26] aleqsss opened #4048 "gu install native-image - Specify path to trustStore"
**Describe the issue**
When I run the command `gu install native-image`, it defaults to use the TrustStore from the build-time host environment. In my case this TrustStore is created from the root certificate file provided within the graalvm-ce-java11-21.3.0 JDK (/lib/security/cacerts).

This makes my `gu install native-image` fail with the following error:
_I/O error occurred: PKIX path building

[2021-11-24 02:37] bhargavmodi commented on #4003
Hi @rodrigar-mx
Thanks for the container based suggestions - it makes sense.

I've some subsequent questions, though it may sound silly, but need to confirm with you:

- Cross-compilation is not supported. But let's say if native-image is generated in ubuntu, then will it work in other linux distributions such as Debian, Red Hat and so on
- Will there be impact on OS upgrade. Let's say if native-i

[2021-11-24 03:47] debu999 commented on #2666
Recently started building on Apple silicon and will get help if arm64 is supported. Please advise if any traction. All new Macs are now with Apple silicon.

[2021-11-24 07:56] MartinBalin commented on #4048
When you run with --jvm (not as native image binary) does it work and picks up the options?

[2021-11-24 08:59] ziyilin opened #4050 "Need log inside the @Uninterruptible methods for debugging purpose"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
Current logging class `com.oracle.svm.core.log.RealLog` can't log inside methods with `@Uninterruptible` annotations. However, sometimes we need to track the native image runtime for debugging purpose.

**Describe the solution you'd like.**
This feature request can be

[2021-11-24 09:32] petermz commented on #4045
Have you read https://www.graalvm.org/reference-manual/native-image/MemoryManagement/ ? It mostly discusses GC, but also various logging options

[2021-11-24 09:51] eregon commented on #4030
Did you enable performance warnings? They are not shown by default.
"virtual instanceof" like that should be reported as performance warnings.
`--engine.TracePerformanceWarnings=all` is the way to report them, and see `--check-compilation` in jt if you want to abort if there is a performance warning.

[2021-11-24 10:22] eregon commented on #4030
Also to trace transfers/deopts, the best is to do it on SVM as documented in https://github.com/oracle/graal/blob/master/truffle/docs/Optimizing.md#debugging-deoptimizations.
That shall give a clear stacktrace of where the deopt happens.

[2021-11-24 13:46] WowYouCanReallyDance commented on #4045
Thanks a lot! That's very helpful.

[2021-11-24 17:23] mutasemhidmi commented on #2666
Is there a timeline for this?

[2021-11-24 19:53] chumer commented on #4030
Did you see this issue native or JVM? On JVM I cannot reproduce.

[code]

As expected two compiles, once with first tier, once with second tier.
I used latest graal from master, CE.

[2021-11-24 20:58] GavinRay97 opened #4052 "`poly_engine_get_languages` in C ABI makes reference to `poly_engine_get_languages_size` that doesn't exist"
**Describe the issue**

If you want to get the languages available using the C ABI, currently the code is a bit redundant and makes a reference to a function that I think was meant to be written, but then never was:

https://github.com/oracle/graal/blob/0550f758478993b1a0c011f4c8186915ee910d6a/substratevm/src/org.graalvm.polyglot.nativeapi/src/org/graalvm/polyglot/nativeapi/PolyglotNativeAPI.java#

[2021-11-24 21:36] discordgr commented on #1675
Just leaving this here in case it helps someone:
- Navigate to the link below
- https://medium.com/graalvm/using-graalvm-and-native-image-on-windows-10-9954dc071311
- Complete part 1 & part 2.
- When you finish part 2, open x64 Native Tools Command Prompt, go to the root directory of your project and run the command: mvnw package -Pnative

[2021-11-24 21:49] dougxc commented on #2666
Nothing that we can firmly commit to but I would expect something in the first quarter of 2022.

[2021-11-24 22:57] rodrigar-mx commented on #4003
Hi @bhargavmodi. Yes it should generally work in different distros as long as they share the same architecture, but the common practice is to build the native image again. No, there should be no impact on OS upgrade.

[2021-11-24 22:59] GavinRay97 commented on #4033
All of this info already exists, abundantly.

1. Install `sdkman` for your operating system, (or download the binaries for your system directly from `releases`, skip to step 3)
2. Run `sdk install java 21.3.0.r17-grl` or whichever version you like
	- ```ps1
		  ❯ which gu
		  /home/user/.sdkman/candidates/java/current/bin/gu
[code]

- https://docs.spring.io/spring-native/docs/current

This essenti

[2021-11-24 23:04] chrisseaton commented on #4030
I can only reproduce with this

I'll try to give a better reproducer.

[2021-11-24 23:06] rodrigar-mx commented on #4033
Hi @bhargavmodi. Yes, graalvm is build on top of the JVM adding an advanced just-in-time (JIT) optimizing compiler. Therefore, like the standard JVM, you can distribute your java bytecode and run it everywhere where you have graalvm installed. Indeed, due to its polyglot capabilities, you can run not just java, but many languages everywhere. Native image is an additional optional feature that can

[2021-11-24 23:38] rodrigar-mx commented on #4047
Hi @renatoathaydes. Could you please try using the latest graalvm ce 22.0.0-dev build (https://github.com/graalvm/graalvm-ce-dev-builds/releases) and share your results. The error should be already fixed.

[2021-11-24 23:56] rodrigar-mx commented on #3884
Closing this issue because there has been no activity in last month.

[2021-11-24 23:56] #3884 closed

[2021-11-25 01:52] liming1010 opened #4054 "Unable to instantiate class load helper class: org.quartz.simpl.CascadingClassLoadHelper [See nested exception: java.lang.ClassNotFoundException: org.quartz.simpl.CascadingClassLoadHelper]"
**Describe the issue**
Quartz is used in the project. It is packaged into an EXE program with native image. The EXE generation is completed, but an error is reported when running
`org.quartz.SchedulerConfigException: Unable to instantiate class load helper class: org.quartz.simpl.CascadingClassLoadHelper [See nested exception: java.lang.ClassNotFoundException: org.quartz.simpl.CascadingClassLoadHe

[2021-11-25 06:29] mcraj017 commented on #4038
@renatoathaydes thanks for reporting the issue, we will check it out and get back to you

[2021-11-25 07:51] sdeleuze commented on #3283
FYI https://github.com/spring-projects-experimental/spring-native/issues/617#issuecomment-978919441

[2021-11-25 09:44] aleqsss commented on #4048
Could you please give me an example? Would be appreciated!

Thanks!

[2021-11-25 13:03] MartinBalin commented on #4048
It is e.g. `gu available --jvm`
We will look for the rest, but knowing it works at least in JVM mode is the start.

[2021-11-25 13:56] aleqsss commented on #4048
Running `gu available --jvm` results in the following output:
[code]

[2021-11-25 16:11] eregon commented on #4030
I tried to repro and I get many:
[code]
So compilation fails because a VirtualFrame is leaked, that's expected to fail.

[2021-11-25 16:12] chrisseaton commented on #4030
Yes run with `--engine.CompileOnly=foo`. As I say TruffleRuby is broken on this commit - the point is about how it handles that broken code.

[2021-11-25 16:15] eregon commented on #4030
With that I get:
[code]
So two Tier 1 compilations.
I'll check on native to see if that's easier to pinpoint the deopt.

[2021-11-25 16:39] MartinBalin commented on #4048
Seems like you can work with GraalVM GU at least workaround exists. We will look at the rest of problems reported.

[2021-11-25 16:50] eregon commented on #4030
On native (needs a older mx to build, I used `5.316.1`), with the imported graal (6178bf1efa51876102fa3873f24ed965344a7208):
[code]

[code]
That's still a weird stacktrace though.

[2021-11-25 17:22] eregon commented on #4030
With a debug JDK, I see
[code]

And looking for that node in IGV it's a Guard of a `<`, with nodeSourcePosition:
[code]
code: `&& firstTierLoopCallCount >= scaledThreshold(engine.callAndLoopThresholdInFirstTier)) {`

But looking at the IGV graph further, it seems clear, the path which doesn't go to `lastTierCompile()` ends up in a deopt, and so is pruned as dead code, transforming the compilation

[2021-11-25 17:28] chrisseaton commented on #4030
Do you think we should also report unconditional depots as a performance warning? And not install them?

[2021-11-25 17:44] eregon commented on #4030
With `--vm.Dgraal.Dump=Truffle:4` it's possible to dig further, notably I see the `if (value != ReadDescriptorArgumentNode.MISSING) {` can be proven to be always true, because `value` is typed as a non-null Integer.
And the other branch is a call to argumentErrorMissingKeyword().
[code]

Maybe we could report a compilation of a method that doesn't return and doesn't unwind, i.e. it can only termin

[2021-11-25 18:14] hogfilho commented on #4016
@rodrigar-mx Thanks for trying to help! If you need any other information, please let me know.

[2021-11-25 22:36] aleqsss commented on #4048
_Seems like you can work with GraalVM GU at least workaround exists._
Which workaround are you referring to? The "keytool" of the (in JDK included) default **cacerts**, which I mentioned in the OP? 🙂

_We will look at the rest of problems reported._
Including the "--jvm" switch/environment variable issue in conjuction with `gu install native-image`, right?

Sorry for me being confused. 😁

[2021-11-26 12:18] adinn commented on #4018
I looked into the duplication that occurs for this case where we have a JNICallTrampolineMethod and a JNINativeCallWrapperMethod. This seems to be quite a weird situation.

The trampoline method exists to provide a target address for a foreign call into a Java method. It merely jumps to the corresponding Jav amethod code entry.

The native method is the usual wrapper that is the target for a Java

[2021-11-26 12:52] aleqsss commented on #4048
Want to make it clear that running `gu --jvm install native-image` doesn't work, even if it says that it picks up the `JAVA_TOOL_OPTIONS`. Here is what the log looks like when running `gu --jvm install native-image`:

_Picked up JAVA_TOOL_OPTIONS: -Djavax.net.ssl.trustStore=/etc/cacerts/java/cacerts -Djavax.net.ssl.trustStorePassword=changeit -Djavax.net.ssl.trustStoreType=jks
Downloading: Release

[2021-11-26 13:36] chumer commented on #1210
@Dufgui

A concrete builtin node *always* has a fixed set of arguments. So having a varargs parameter in @Fallback or @Specialization method does not have meaning. It will just set the first parameter to be checked and cast to an array type.

Since you use in TclBuiltinNode :
[code]
The first parameter in the factory is expected to be TclExpressionNode[]. Note that NodeFactory#createNode has a gen

[2021-11-26 16:04] olpaw commented on #4018
@peter-hofer are you aware of any place were we might depend on the current names of `JNICallTrampolineMethod`s ?

[2021-11-26 20:54] rodrigar-mx commented on #4016
Hi @hogfilho. I have reproduced the error as described. I have reported this issue with the native image team. You will receive a response  accordingly.

[2021-11-27 02:15] #3911 closed

[2021-11-27 02:29] dcorbe commented on #381
LLVM supports GCC's IR.  Has anyone investigated the possibility of using gccgo as a bridge?

[2021-11-27 17:03] adinn commented on #4036
This issue has not been fixed and should not be closed.

[2021-11-27 23:00] #3870 closed

[2021-11-28 02:39] mathjeff opened #4057 "Compiler command output included error [version string]"
When I try out `native-image.cmd`, I get this output:

[code]

This error message appears to me to be saying that the version string "Microsoft (R) C/C++ Optimizing Compiler" is considered to be an error.

After some research I discovered I could ask CL to not output that message. Then when I ran `native-image.cmd` again, I got this output:

[code]

Is it possible to:
1) Reword the error message t

[2021-11-28 11:29] bojanv55 commented on #3977
@rodrigar-mx  I have the same problem with spring-native app. When I set-up for debugging and listening for null-pointer, I can see that this one is making a problem:

`[Lcom.fasterxml.jackson.databind.JsonSerializer;`

The thing is that I do not have this defined in the `reflect-config.json` at all, so not sure how to solve it? If I add it manually it still complains about null-pointer (maybe dif

[2021-11-28 17:29] bojanv55 commented on #3977
I managed to solve this problem after adding these 3 lines to `reflect-config.json`

[code]

Not sure how these were not picked-up by `native-image-agent`?

[2021-11-28 18:46] andgeno commented on #3977
Is there actually a way to debug this kind of error?

[code]

I'm totally lost on how to debug this in order to find out what is causing this error. It seemslike this is an error within GraalVM itself.

[2021-11-28 19:22] bojanv55 commented on #3977
@andgeno What I actually did (using intellij), I put breakpoint to this line:

![image](https://user-images.githubusercontent.com/1422698/143782698-81934fa4-1fa0-461d-ba9c-c9afe1484b17.png)

and then made a change in `native-image.cmd` where I added debugging support to port 8888:

`"%location%..\lib\svm\bin\native-image.exe" --debug-attach=8888  %*`

and then I waited native compilation process t

[2021-11-29 04:16] christianwimmer commented on #4018
@adinn in general, you need to be prepared that you have multiple methods with the same fully qualified name.

We have a completely unnecessary restriction right now to disallow loading the two classes with the same name (in different class loaders of course). This restriction will go away soon. And even now there are corner cases (like with synthetic methods as you observed, or method substitutio

[2021-11-29 04:27] christianwimmer commented on #4018
That is just a method that is declared `native` on the Java side, and also registered for invocation via JNI. It's probably not the most useful Java method to call from C (because it immediately calls back to C), but it is certainly allowed.

[2021-11-29 04:51] joshtexas commented on #3386
@loicottet Just wondering if you have an update on this? Is this something that is still going to be a number of months away?

[2021-11-29 05:49] mcraj017 commented on #4052
@GavinRay97 thanks for the PR, we will review it and get back to you

[2021-11-29 06:51] INPUTsys-Chris commented on #3977
You're right. The exception is a NullPointerException and it's an internal error.

[2021-11-29 07:17] zakkak commented on #4036
Why do you say so? This issue (breakage due to Conditional Elimination Phase aka https://github.com/oracle/graal/commit/ee638aadb6201aa713e44c4865858a84f856d06e) should indeed be fixed by #4046 , what is still not fixed is #4018 which was introduced with https://github.com/oracle/graal/commit/7b5f83119a8a216a72924aeaa6c116a877cd020e.

[2021-11-29 08:27] Albretch opened #4058 "examples or code scraps of how to use crawler4j when pages contain js generated links? ..."
java -version
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06)
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06, mixed mode, sharing)

neither wget nor curl have such a feature and some sites obfuscate access to public domain documents behind js walls

[2021-11-29 12:02] adinn commented on #4036
@zakkak @fniephaus Oh, sorry, I got confused about the issue being closed (I thought this was GR=35118). You are right that this one should be closed.

[2021-11-29 12:10] #4036 closed

[2021-11-29 14:34] jerboaa commented on #3955
@fniephaus Shouldn't this be closed as it's been implemented with https://github.com/oracle/graal/commit/e04a9cd21653bfc5c44c3dc2702b86085216de71 ?

[2021-11-29 14:34] #3879 closed

[2021-11-29 15:01] fniephaus commented on #3955
As mentioned by @jerboaa, we have implemented a new user-friendly build output mode with https://github.com/oracle/graal/commit/e04a9cd21653bfc5c44c3dc2702b86085216de71. The new mode is enabled by default and the old output can be restored with `-H:-BuildOutputUseNewStyle`. Run `native-image --expert-options-all | grep "BuildOutput"` to see all options for the new output.

I will keep this issue o

[2021-11-29 15:05] cagriuslu-adyen opened #4059 "[LLVM] OpenSSL-1.1.1 cannot be loaded into GraalVM-21.3.0, works with 21.2.0"
**Describe GraalVM and your environment :**
[code]

**Have you verified this issue still happens when using the latest snapshot?**
No, the issue happens on the latest release version BUT NOT on `21.2.0`.

**Describe the issue**
OpenSSL-1.1.1 shared library built using the bundled LLVM toolchain throws `org.graalvm.polyglot.PolyglotException: java.lang.AssertionError: Invalid ElementType of Vector:

[2021-11-29 17:15] adinn commented on #4018
@christianwimmer Yes, I realise that is needed in the longer term. Originally, the code was deliberately designed to avoid passing native image-specific types through the debuginfo API. So, it relied on names (String) to identify/distinguish common elements that are independently notified when iterating first the image's type list and then the compiled method set. That was fine when we had a flat

[2021-11-29 17:59] adinn commented on #4018
@peter-hofer It's true in this case that the trampoline target is a native stub. However, in other cases where we have a trampoline for a Java method will it not also have the same name as the method it jumps to? As far as I can see the trampoline borrows the name of its target, whether or not it is native.

If that is so then that means whenever a trampoline is generated there will end up being t

[2021-11-29 18:42] collinpeters opened #4061 "Errors trying to use functionality from groovy jar"
**Describe the issue**
This is a follow-up to #3447. Specifically having issues trying to use functionality from within the groovy jar.

Reproduction repo: https://github.com/collinpeters/graalvm-groovy

I get this error when trying to use the groovy `AstBuilder` to load a `build.gradle` file:

[code]

That is with `--allow-incomplete-classpath`. If I remove that then it won't build with the error

[2021-11-29 21:31] mosheduminer commented on #3314
I'm facing this issue as well.

[2021-11-29 22:28] dougxc commented on #2666
Yes!

The steps to try are:
* Clone https://github.com/graalvm/labs-openjdk-17 and build it using the steps in the `README.md`.
* Set `JAVA_HOME` to the result of that build and then run `mx --env ce build` in the `vm/` directory of the graal repo.

[2021-11-29 22:30] rodrigar-mx commented on #4054
Hi @liming1010. I need you to share the following information:
i) the specific graalvm version you are using (the output generated by running `java -version` command)
ii) the OS you are using (I suppose it is windows 10)
iii) a reproducer, and the steps to reproduce this issue

As an additional suggestion change `<groupId>org.graalvm.nativeimage</groupId> <artifactId>native-image-maven-plugin</art

[2021-11-29 22:37] cap10morgan commented on #2666
@dougxc First issue from the labs-openjdk-17 README's build instructions:

[code]

I removed that arg and am proceeding with the rest of the directions.

[2021-11-29 23:52] christianwimmer commented on #4018
I looked into the `arrayType` duplication:

1) `HostedMethod<Class.arrayType -> AnalysisMethod<java.lang.Class.arrayType -> SubstitutionMethod<definition HotSpotMethod<Class.arrayType()>, implementation HotSpotMethod<DynamicHub.arrayType()>>>>`
This is the "real" substitution method with the implementation.

2) `HostedMethod<Class.arrayType -> AnalysisMethod<java.lang.Class.arrayType -> HotSpotMet

[2021-11-30 01:40] cap10morgan commented on #2666
I had to add `--java-home` arg to the `mx` command, but then it failed like this:

[code]

[2021-11-30 08:24] aproust33 opened #4064 "Exception in thread "main" java.lang.UnsatisfiedLinkError: no pkcs11wrapper in java.library.path"
I am trying to migrate an application to native, using graalVM. This app needs a dependance for crpyto purpose. It is currently using this lib (https://jce.iaik.tugraz.at/products/core-crypto-toolkits/pkcs11-wrapper/). This app is a windows one.

This lib use a DLL (pkcs11wrapper.dll) included in the jar. I am currently building the jar, then building the native image using this command :
[code]
(

[2021-11-30 08:33] dougxc commented on #2666
It's probably best to try smaller steps.

First try building the compiler and running its unit tests:
[code]

Then try building libgraal and running its gate:
[code]

[2021-11-30 11:49] borkdude opened #4065 "org.graalvm.compiler.debug.GraalError: unimplemented: Only one node can consume the exception edge"
**Issue**
When compiling [babashka](https://github.com/babashka/babashka) with the newest nightly 22 dev build, I get:

More info in log below.

**Steps to reproduce the issue**
Please include both build steps as well as run steps

[code]

You need to set `GRAALVM_HOME` and you also need to install the Clojure build tool leiningen: https://leiningen.org for creating the uberjar. If this is a probl

[2021-11-30 11:53] dougxc commented on #4065
@zapster could this be caused by your recent work on arraycopy?

[2021-11-30 12:12] zapster commented on #4065
@dougxc possible, I'll have a look.

[2021-11-30 12:17] mbjarland commented on #2666
Ok I'll add my 2c. Attempted the build.

Below a few notes on the process for anybody reproducing this

(full terminal session log cat be found [in the following gist](https://gist.github.com/mbjarland/abe6f39897d5b13b48984893ffcb423c) , note the inline comments with `#` characters):

* cloned the repo from git@github.com:graalvm/labs-openjdk-17.git
* removed the `--enable-aot=no` flag from the `s

[2021-11-30 12:32] mbjarland commented on #2666
@dougxc - added file listing of `build/labsjdk/images/static-libs/lib/` to the comment above.

[2021-11-30 12:42] dougxc commented on #2666
The python crash can be avoided by making the build serial: `mx build -n`

Ok, looks like the `static-libs` target works so the problem must be in the part of `graal-builder-image` that copies the `*.a` final to the final image.
You should be able to do that manually with:
[code]

[2021-11-30 12:51] mbjarland commented on #2666
testing the above, will update here in a few

[2021-11-30 13:43] mbjarland commented on #2666
ok after copying the static libs and also setting my java home to:
[code]
I get quite a lot further, full log can be found [here](https://gist.github.com/mbjarland/f8c2a3c3417104599d5a52c6a901212e), but the log ends with:

[code]

[2021-11-30 13:48] dougxc commented on #2666
What's the output of `find /Users/mbjarland/projects/apple-silicon/graal/sdk/mxbuild/darwin-amd64/GRAALVM_7EF73E63D7_JAVA17_STAGE1/graalvm-7ef73e63d7-java17-22.0.0-dev/lib -name '*.a'`
If the output includes the missing libs, @olpaw may have some ideas as what the problem may be.

[2021-11-30 13:51] mbjarland commented on #2666
[code]

[2021-11-30 13:57] dougxc commented on #2666
I think the problem is [here](https://github.com/oracle/graal/blob/df2133fa08f60599ba97a687e5a3b5f63f071c63/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/c/NativeLibraries.java#L297) based on your [earlier comment](https://github.com/oracle/graal/issues/2666#issuecomment-982581998) about `os.arch` reporting `x86_64`.
So the next thing is to figure out why that happens.

[2021-11-30 14:25] mbjarland commented on #2666
Trying to trace that one down seems to be a rabbit hole (at least to my very uninformed eyes). [This](https://github.com/graalvm/labs-openjdk-17/blob/13e2a145487df3194fe82ce4299312f5f3e13766/src/java.base/share/classes/jdk/internal/util/SystemProps.java#L77) seems relevant but then we immediately reach out to native code via the `Raw` class [here](https://github.com/graalvm/labs-openjdk-17/blob/13

[2021-11-30 15:25] cap10morgan commented on #2666
When I run `System.out.println(System.getProperty("os.arch"));` in my built labs-openjdk-17 jshell I get `aarch64`. So I'll follow the steps from there and see if I get a different result.

[2021-11-30 15:29] cap10morgan commented on #2666
@mbjarland The terminal where you built your labs-openjdk binaries isn't running under Rosetta 2 is it? You can check in Activity Monitor. Just a thought.

[2021-11-30 15:42] mbjarland commented on #2666
@cap10morgan good call...but no cigar it seems. I'm running iterm2 and checking activity monitor it reports the iterm2 process as "Kind" "Apple" ...assuming that should suffice?

[2021-11-30 15:45] cap10morgan commented on #2666
Yeah you should be good then. 🤔

The only other obvious difference I can see between my system and yours is that I used Homebrew's `openjdk` formula (which is currently version 17.0.1) as my bootstrap JDK when I built my labs-openjdk-17 binaries.

[2021-11-30 15:49] cap10morgan commented on #2666
libgraal results:

`mx --env libgraal --java-home $JAVA_HOME build -n` seemed to succeed.

`mx --env libgraal --java-home $JAVA_HOME gate -t "LibGraal"` did not succeed. It's output isn't so long, so I'll post it here:

[code]

[2021-11-30 15:52] mbjarland commented on #2666
@cap10morgan what does your `sh configure ...` command report at the end?

Mine has this:

[code]

[2021-11-30 15:54] dougxc commented on #2666
@cap10morgan can you please attach `hs_err_pid39076.log` or make it available somewhere.

[2021-11-30 15:56] cap10morgan commented on #2666
@mbjarland I get this:

[code]

[2021-11-30 15:58] cap10morgan commented on #2666
Yes: https://gist.github.com/cap10morgan/1f5918b75f9d5a52f591d3df35919fa6

[2021-11-30 16:57] mbjarland commented on #2666
ok apologies for the detour above, my `zsh` which is the shell I used to execute things was running under rosetta and intel. Needed to do a song and dance (uninstall homebrew, reinstall, reinstall all homebrew installed things as apple versions etc) to remedy that. Almost guaranteed to have caused the misbehavior above.

Will re-try once I've fixed all that.

[2021-11-30 21:08] lewurm commented on #2666
FYI you can switch between architectures on the CLI like this:

[code]

I think there are four relevant scenarios:
1. Run in `x86_64` mode and use a `x86_64` boot JDK. This should work today imho as it just means everything runs under Rosetta 2. However, this is not what this issue is asking for.
2. Run in `x86_64` mode and use a `arm64` boot JDK. This is kind of cross-compilation. While theoretic

[2021-12-01 01:28] KengoTODA opened #4067 "Generated proxy-config contains not array but objects from 21.3.0"
**Describe the issue**

GraalVM 21.2.0 generates the proxy-config as follows, same to the description in the official document:

[code]

However, GraalVM 21.3.0 generates proxy-config in a different format introduced by #3774:

[code]

The new format is not described in the [release note](https://www.graalvm.org/release-notes/21_3/), the [reference manual](https://www.graalvm.org/reference-manual/

[2021-12-01 05:57] mbjarland commented on #2666
Link to contents of [/Users/mbjarland/projects/apple-silicon/graal/vm/hs_err_pid12942.log](https://gist.github.com/mbjarland/8d1170bec489521914fea37c321d6587) in the above execution.

[2021-12-01 09:21] zapster commented on #4065
@borkdude thanks for the excellent report and for testing with nightly builds! Very much appreciated. The issue as been identified and the fix has been merged.

[2021-12-01 09:21] #4065 closed

[2021-12-01 09:27] borkdude commented on #4065
@zapster And thank you for fixing it! I'll re-test once the nightly comes out with the fix.

[2021-12-01 09:42] dougxc commented on #2666
Thanks for the hs-err logs. At this point, it will require someone with access to an M1 Mac and working knowledge of libgraal to get further. There's no one in that position yet on the compiler team but hopefully that will be resolved early in 2022.

[2021-12-01 09:45] zapster commented on #4065
@borkdude cool, thx!

[2021-12-01 10:25] mbjarland commented on #2666
Perhaps something like this:

https://www.scaleway.com/en/hello-m1/

might be useful?

[2021-12-01 12:27] mbjarland commented on #2666
Ok so I have an apple silicon m1 instance running in the cloud. Could somebody appropriate ping me via email at `mbjarland@gmail.com` and I can provide appropriate connection details. I can leave that instance up at least for a month and possibly more.

[2021-12-01 12:44] naah69 opened #4070 "use G1 with native build,throw error"
when i build the quarkus application native-image  with `--gc=G1`,it will be error.
in  #1875 ,it need `libstdc++-static`,but it had be installed in my machine.

log:
[code]

[2021-12-01 13:23] estrogently opened #4071 "Minecraft 1.18 Initial World Generation Fails"
**Describe the issue**
Initial world generation on a Minecraft 1.18 server fails with one or more `java.lang.IllegalStateException: stream has already been operated upon or closed` errors, after which it hangs indefinitely. This issue does not occur on OpenJDK 17.

**Steps to reproduce the issue**
1. Download the [1.18 server jar](https://launcher.mojang.com/v1/objects/3cf24a8694aca6267883b17d934e

[2021-12-01 19:57] dmclean652 opened #4072 ""Should not reach here" error compiling a Swing application"
**Describe the issue**
I have a relatively small and straight forward Swing application that fails during native image compilation. I'm trying to build on Windows 10 and using Visual Studio 2017 Express. The error is the same if I use Visual Studio 2019 Express.

My command line is:

native-image --module-path . -m LogViewer/com.bkin.logviewer.gui.LogViewer

The error during the build is simply "S

[2021-12-01 23:51] smarr opened #4073 "TruffleDSL: Allow using `@Shared` together with `@Bind`"
In the interested of consistency and symmetry, it would be great if `@Shared` could be used together with `@Bind` the same way it can be used with `@Cached`.

The main use case would be the same as for `@Bind`, avoiding to call code multiple times that can do undesired side effects.

The situation where I wanted to use it was [here](https://github.com/SOM-st/TruffleSOM/pull/107/files).

[code]

He

[2021-12-02 00:16] chumer commented on #4073
How about solving it like this?

[code]

Of course this does not work if some specializations need to be doing different side-effects that others, but I think that is kind of an anti-pattern if side-effects are dependent on the active specializations.

[2021-12-02 00:31] smarr commented on #4073
That's a little less convenient with `execute` methods for boxing elimination.
I guess, I could implement them all explicitly. Though, the DSL seems to be more convenient.

And, yeah, in the end, this is more about consistency and symmetry in the DSL.
From a language perspective, it seems a little unusual that `@Cached` and `@Bind` are treated differently in the context of `@Shared`.

[2021-12-02 00:51] rodrigar-mx commented on #3959
Hi @jaroslawr. Could you please also perform some JFR recordings and share them with us, so we can get a picture of the performance between both versions. Try also with 22.0.0-dev latest [build](https://github.com/graalvm/graalvm-ce-dev-builds/releases).

[2021-12-02 03:19] smallshen commented on #4071
It also happens on client

[2021-12-02 07:21] mcraj017 commented on #4058
@Albretch thanks for reporting the issue,
 please elaborate on your issue or requirements, So that we can help you in the right way.

[2021-12-02 07:25] mcraj017 commented on #4059
@cagriuslu-adyen thanks for reporting the issue, we will check it out and get back to you

[2021-12-02 11:39] julb commented on #3671
Hello,
I confirm that I have the same issue on GraalVM 21.3
Is there a workaround available ?

[2021-12-02 11:59] eregon commented on #4073
I wish we had something that would allow to pass an argument through a node (e.g., for conversion/coercion but not only), whether it's executed with `execute(Frame)` or `executeEvaluated(Frame, arg1, arg2, ...)`. And ideally would also allow getting both the original and the converted value, so a mechanism to execute a node on an argument and provide the result as a new argument for specialization

[2021-12-02 12:51] mbjarland commented on #2666
@dougxc any takers for the above? I would need the public ssh key of whoever wants to connect and perhaps just ping them with how things are setup, but that should be it.

Also I realize that 8GB ram is low for CI (as @eregon mentioned above, seems even 16 might be too low), but perhaps enough to figure out any potential build issues?

Scaleway only has the 8GB M1 instance type. There seems to be

[2021-12-02 12:57] dougxc commented on #2666
Thanks for setting up the scaleway instance. It may be interesting to someone in the community to use.
At Oracle, we have a couple of Mac Mini instances that were added to our internal pool of resources recently. There's a chance @lewurm may be able to spend time with them soon to progress this effort further.

[2021-12-02 13:03] mbjarland commented on #2666
Ok no worries, I'll retire that instance. Just a thought.

[2021-12-02 13:40] vaibhavkulkarni opened #4076 "Static linking using musl doesn't work"
**Issue**
*Env*
OS: Manjaro 21.2.0
Graal VM: 21.3.0
JDK Version: JDK 11
JAVA_HOME: Set to GRAALVM_HOME
Musl Version: 11.2.1 20211120 (GCC)
ARCH: AMD64

All the steps mentioned [here](https://www.graalvm.org/reference-manual/native-image/StaticImages/#prerequisites) are followed.

**Steps to reproduce the issue**
1. Compile a simple "Hello, World!" program below:

`$GRAALVM_HOME/bin/javac TestStaic

[2021-12-02 14:49] gergo- commented on #4071
Thanks for the report @estrogently . I can reproduce a problem which may cause the error you're seeing. Tracking this internally as GR-35446.

[2021-12-02 18:16] teshull commented on #3944
Thanks for reporting this. Can you see if #4077 solves the issue?

[2021-12-02 18:44] rafalwrzeszcz commented on #3386
@deandelponte I also run into trouble with that - had to look into `BeanTableDefinition` to see how it's handled, as documentation says nothing about it.

You need a schema for each "document" class, regardless if it's table-level entity or nested one:

[code]

[2021-12-02 19:14] teshull commented on #2666
Thanks for looking into things. W.r.t.  LibGraal, internally we need to do some testing to help ensure native image is working properly on Darwin AArch64. #4077 addresses one issue, but there may be others.

For now it'd probably be best to test things with JarGraal

[2021-12-02 19:18] jperedadnr commented on #3944
@teshull Yes, it does!
I've run several tests (the one I posted here and a few more complex ones), all good!

[2021-12-03 00:05] christianwimmer commented on #3943
Without a reproducer, I was not able to diagnose the problem.

The exception occurs in the JDK, in `Executable.getAnnotatedParameterTypes`. So my suggestion is that you debug the native image generator yourself (by adding `--debug-attach` to the native-image command line and then attaching a Java debugger). When you are stopped at the exception breakpoint, you see the `Executable` object that caus

[2021-12-03 00:05] #3943 closed

[2021-12-03 00:45] rodrigar-mx commented on #4061
Hi @collinpeters. Thanks for sharing the issue. We will take a look into it and get back to you.

[2021-12-03 10:01] liudonghua123 commented on #403
I have the same issue recently when I want to make a JavaFx app executable. After go through the code, I found it had more debugging info when add `-Dprism.verbose=true`.

Here are the steps when I tried to fix the native-image problems.

`prism_d3d.dll` is not in PATH.

[code]

`com.sun.prism.impl.PrismSettings` should config in `jniconfig.json` by `-H:JNIConfigurationFiles`.

[code]

`-H:Include

[2021-12-03 10:04] zakkak commented on #4070
@naah69 which GraalVM version are you using?

The G1 GC is only available in GraalVM Enterprise Edition

See: https://www.graalvm.org/reference-manual/native-image/MemoryManagement/

[2021-12-03 10:20] naah69 commented on #4070
yes ,i am graalvm ee

java -version
[code]

[2021-12-03 10:33] zakkak commented on #3197
@yuriy-larin-firstbridge is this still an issue?

[2021-12-03 11:46] yuriy-larin-firstbridge commented on #3197
@zakkak I've solved that, but could you pls put that config example into a doc ?

[2021-12-03 11:56] zakkak commented on #3197
I just noticed @sendev1 was the one that opened the issue... @sendev1 is this still an issue?

@yuriy-larin-firstbridge are you referring to the exact configuration you needed? I am afraid that's application specific and wouldn't make sense to be part of the documentation. In any case please open an issue or a PR adding the documentation in https://github.com/quarkusio/quarkus for the Quarkus team

[2021-12-03 12:17] yuriy-larin-firstbridge commented on #3197
@zakkak I'm referring to quite long and complex set of different config parameters. Putting such complex set into maven config is quite big headache.

[2021-12-03 12:39] zakkak commented on #3197
Typically Quarkus users do not need to use `quarkus.native.additional-build-args` at all, so this appears to be an application specific requirement. `quarkus.native.additional-build-args` is mostly there for advanced users to be able to further tune/extend their native applications.

Quarkus already supports bouncycastle through the `quarkus-security` extension, so if you think that your scenario

[2021-12-03 12:45] Albretch commented on #4058
again, how to you crawl pages contain js generated links using java on Truffel?

[2021-12-03 12:53] gergo- commented on #4071
I fixed the internal compiler error that I found, but now I'm not convinced anymore that it's related to this exception and hang. I haven't been able to reproduce those so far.

@estrogently on the remote chance that this is the same problem, could you try running with the `-Dgraal.VectorizeGather=false` flag, i.e., `java -Dgraal.VectorizeGather=false -jar server.jar`?
Are you running on an Oracle

[2021-12-03 13:18] estrogently commented on #4071
Running it with that flag sadly does not fix it.
For reproducibility's sake, adding `level-seed=1423185990` to the server.properties file (and removing the "world" folder, if one is already present) consistently gets it to occur near the end of the "preparing spawn area" stage for me.

I'm running on Oracle Cloud (a 4-core arm A1.Flex), with the GraalVM EE JDK from the included repositories (`graa

[2021-12-03 14:32] oubidar-Abderrahim commented on #4067
Thank you for reporting this, we will take a look into it and get back to you

[2021-12-03 15:42] gergo- commented on #4071
Thanks for this information! With the seed I was able to reproduce this in about half of the runs. Reducing the active cores to 4 (I was testing on a 32-core machine) makes it happen every time. This doesn't seem to be specific to AArch64. I'll investigate further.

[2021-12-03 16:51] mbarbero opened #4083 "ce-builds repository does not mark the most recent released build as latest"
The CE-builds download repository https://github.com/graalvm/graalvm-ce-builds/releases shows release 19.3.6 as the latest release while latest is actually 21.3.0.

Please mark the most recent release (https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.3.0) as the latest on GitHub.

[2021-12-03 17:18] gergo- commented on #4071
`-Dgraal.OptDuplication=false` should work around this for now.

[2021-12-03 22:30] rodrigar-mx commented on #3977
Hi @INPUTsys-Chris @bojanv55 @andgeno. I have reported this error with the native image team. An answer will be provided accordingly.

[2021-12-03 22:51] andgeno commented on #3977
Maybe this helps to further debug this error:

Using the debugger didn't help me so I decided to brute force through this. So in my case, I found out that the `reflect-config.json` (generated via `spring-aot-maven-plugin`) was causing the NPE I posted above.

My config contains an entry like this:
[code]

When I removed `queryAllDeclaredMethods` from this, the error disappeared and everything was

[2021-12-04 03:37] mattco98 opened #4084 "`org.graalvm.regex:regex` has no `MANIFEST.MF` file"
**Describe GraalVM and your environment :**
 - GraalVM version: 21.3.0 CE
 - JDK version: 8
 - OS and OS Version: Arch Linux 5.15.5
 - Architecture: amd64
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes

**Describe the issue**
The jar files hosted on maven central under `org.graalvm.regex:regex` have no `MANIFEST

[2021-12-04 11:11] smallshen commented on #4071
Install Minecraft and set the GraalVM as the JVM.
You can also setup a fabric project and use it in ide.
https://fabricmc.net/wiki/start

GraalVM version: 17 EE 21.3.0

The word generation is the same on the server and client since the client is just a local server

[2021-12-04 20:17] eregon commented on #3955
Suggestion: add the percentage of time spent in GC, not just the seconds, so
[code]

[2021-12-05 08:43] fniephaus commented on #3955
Keeping this open for collecting more feedback.

@eregon `7.2%` doesn't make it clear to what it relates to. Maybe `(7.2% of total time)` or something like that?

[2021-12-05 12:02] eregon commented on #3955
Yeah, that sounds good.

[2021-12-05 13:20] zhendongsu opened #4086 "[LLVM] wrong result from bitcode compiled from C source with packed struct"
- GraalVM version or commit id if built from source: GraalVM CE 19.3.6
 - CE or EE: CE
 - JDK version: openjdk 11.0.11
 - OS and OS Version: Ubuntu 18.04
 - Architecture: amd64
 - The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.11+8-jvmci-19.3-b26) for linux-amd64 JRE (11.0.11+8-jvmci-19.3-b26), built on Apr 12 2021 21:07:52 by "buildslave" with gcc 7.3.0

[code]

Expected o

[2021-12-05 16:58] ttelang opened #4087 "tar: Error opening archive: Failed to open 'graalvm-ce-java17-darwin-amd64-21.3.0.tar.gz'"
**Steps to reproduce the issue**
1. Downloaded graalvm-ce-java17-darwin-amd64-21.3.0.tar.gz from this link -> https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-21.3.0/graalvm-ce-java17-darwin-amd64-21.3.0.tar.gz
2. On executing the comment ```$ tar -xzf graalvm-ce-java17-darwin-amd64-21.3.0.tar.gz``` getting error as below:

**Describe GraalVM and your environment:**
 - GraalVM ver

[2021-12-05 18:16] Thihup opened #4088 "Espresso Verifier allows not calling the super initializer"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: 21.3.0 and latest snapshot
 - CE or EE: CE
 - JDK version: JDK17
 - OS and OS Version: Ubuntu 20.04
 - Architecture: am,d
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
It should report and error while verifying the "BClass", as it doesn't call the super constructor. Running

[2021-12-06 07:55] mcraj017 commented on #4064
@aproust33 thanks for reporting the issue, we will check it out and get back to you

[2021-12-06 07:57] mcraj017 commented on #4070
@naah69 thanks for reporting the issue, please update the gcc in your machine and try again

[2021-12-06 07:59] mcraj017 commented on #4072
@dmclean652 thanks for reporting the issue, please share a reproducer.

[2021-12-06 08:00] naah69 commented on #4070
ok,which version will work?

[2021-12-06 08:37] han1448 opened #4089 "Kafka sasl authentication failure with NullPointerException"
**Describe the issue**
I got `NullPointerException` error when trying to authenticate with kafka sasl.
I already reported an [issue](https://github.com/spring-projects-experimental/spring-native/issues/751) to spring native a few months ago, but I'm curious about the current situation.
I tried again with the latest version but got the same error.
This app works fine without native image.

**Steps

[2021-12-06 09:10] sdeleuze commented on #3671
Any update ?

[2021-12-06 11:44] zhendongsu opened #4091 "[LLVM] wrong result from bitcode compiled from C source with bitfields"
GraalVM version or commit id if built from source: GraalVM CE 19.3.6
CE or EE: CE
JDK version: openjdk 11.0.11
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of java -Xinternalversion:
OpenJDK 64-Bit Server VM (11.0.11+8-jvmci-19.3-b26) for linux-amd64 JRE (11.0.11+8-jvmci-19.3-b26), built on Apr 12 2021 21:07:52 by "buildslave" with gcc 7.3.0

Also see: https://github.com/oracle/g

[2021-12-06 12:19] sdeleuze commented on #4015
Just to elaborate why the lack of meta-annotation  is an issue, given the fact that Spring has a hierarchy (via meta-annotations) of `@GetMapping`  meta-annotated with `@RequestMapping` meta-annotated with `@Mapping` and the same for `@PostMapping`, `@PutMapping`, `@DeleteMapping` and `@PatchMapping`, unless I am mistaken that forces us to declare:

[code]
Considering meta-annotation would allow m

[2021-12-06 12:27] zhendongsu opened #4092 "[LLVM] error with "unsupported value range: java.lang.ArithmeticException: long overflow""
GraalVM version or commit id if built from source: GraalVM CE 22.0.0-dev-20211201_2302 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of java -Xinternalversion:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci-2

[2021-12-06 12:31] zhendongsu opened #4093 "[LLVM] ERROR: com.oracle.truffle.api.dsl.UnsupportedSpecializationException: Unexpected values provided for LLVMUnsignedLtNodeGen#1: [true, false], [Boolean,Boolean]"
GraalVM version or commit id if built from source: GraalVM CE 22.0.0-dev-20211201_2302 (the latest snapshot build from https://github.com/graalvm/graalvm-ce-dev-builds/releases)
CE or EE: CE
JDK version: openjdk 11.0.13
OS and OS Version: Ubuntu 18.04
Architecture: amd64
The output of `java -Xinternalversion`:
OpenJDK 64-Bit Server VM (11.0.13+8-jvmci-22.0-b02) for linux-amd64 JRE (11.0.13+8-jvmci

[2021-12-06 13:11] zakkak opened #4094 "Enable the use of JFR at native-image build time"
**Feature request**

Enable the use of Java Flight Recorder (JFR) to profile the native image driver itself, i.e. by passing `-J-XX:StartFlightRecording` to `native-image`.

**Is your feature request related to a problem? Please describe.**

Being able to profile and better understand what's happening during native-image generation is a key prerequisite in optimizing it.

**Describe the solution y

[2021-12-06 13:16] zakkak commented on #4094
Trying on GraalVM built from e00d0635a390f4a4345f4ce333d16e736362c9da the following:

[code]

results in

[code]

[2021-12-06 14:03] oubidar-Abderrahim commented on #4067
Hi @olyagpl, could you please check with the Dev on the changes introduced in #3774 and reflect them on our reference manual? Thank you

[2021-12-06 14:06] olyagpl commented on #4067
Will be followed.

[2021-12-06 14:07] oubidar-Abderrahim commented on #4057
Hi, could you please try the latest releases of GraalVM?

[2021-12-06 14:43] LiannOM commented on #4022
Can someone lmk when issue will be fixed?

[2021-12-06 15:28] djoooooe commented on #4022
This is fixed in the upcoming 22.0 release.

[2021-12-06 18:54] jaroslawr commented on #3959
@rodrigar-mx I think we possibly have found the source of this, it seems something got broken when sharing an Engine instance between threads, have a look at this test:

[code]

It executes just fine with Graal 21.1.0+Java16, but with Graal 21.3.0+Java17 it results in failed assertions inside Graal:

[code]

[2021-12-06 19:58] garethyoder opened #4095 "DynamoDB Enhanced Client Graalvm Spring Native Missing Reflection"
When executing my Native Spring Cloud Function with DynamoDB Enhanced Client I receive the following error (below), however I have the reflections listed here: https://github.com/garethyoder/cdk-lambda-packaging-java/blob/spring-native/software/FunctionThree/src/main/resources/META-INF/native-image/helloworld/model/reflect-config.json
[code]
Github: https://github.com/garethyoder/cdk-lambda-packag

[2021-12-06 22:00] rodrigar-mx commented on #4076
Thanks for sharing the issue. We will take a look into it and get back to you.

[2021-12-07 00:02] rodrigar-mx commented on #3959
Hi @jaroslawr. I have run the test and verified this is an error. However, could you elaborate more why do you think this error is related to your performance issue.

[2021-12-07 05:58] mcraj017 commented on #4083
@mbarbero thanks for reporting the issue, we will correct it

[2021-12-07 06:01] mcraj017 commented on #4070
@naah69 gcc version 7.5.0 or later

[2021-12-07 06:40] jaroslawr commented on #3959
@rodrigar-mx  I am guessing, I might be wrong and it might be a separate issue, but the assertion that fails is this:

[code]

It looks like there is some kind of race condition or bug that causes multiple different GuestToHostCodeCache instances to come into existence (at least this is how it looks like when I set a breakpoint on the assertion with a debugger). Now, the cause of the increased loa