[2021-02-24 15:53] loicottet commented on #2761
@gustavonalle can you open a separate issue for this bug? I'll look into it.

[2021-02-24 17:38] hminukuri-chwy opened #3240 "error:java.util.MissingResourceException: Can't find bundle for base name org.apache.tomcat.util.descriptor.tld.LocalStrings, locale en_US"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

**Describe GraalVM and your environment:**
 GraalVM 21.0.0

**More details**
Consider adding the `--native-image-info` and  `--verbose` flags w

[2021-02-24 18:20] gustavonalle opened #3241 "Native image hangs"
**Describe the issue**

Executing the sample native image causes it to hang

**Steps to reproduce the issue**

git clone https://github.com/gustavonalle/lucene-graalvm
cd lucene-graalvm
mvn clean package
target/lucene-sample

(hangs)

**Describe GraalVM and your environment:**

Linux 5.8.18-100.fc31.x86_64 #1 SMP Mon Nov 2 20:32:55 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
openjdk version "11.0.10"

[2021-02-24 18:25] gustavonalle commented on #2761
@loicottet sure, I have a reproducer inside Quarkus only, when trying to create a reproducer for GraalVM directly, got caught in https://github.com/oracle/graal/issues/3241, could you take a look?

[2021-02-24 23:10] Gil-lic opened #3242 "[LLVM]"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **[e.g. 19.3]**
 - CE or EE: **[e.g.: CE]**
 - JDK version: **[e.g.: JDK8]**
 - OS and OS Version: **[e.g.: macOS Catalina]**
 - Architecture: **[e.g.: amd64]**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can fin

[2021-02-25 05:45] mcraj017 commented on #3235
@qiujiangkun thanks for reporting the issue
native-image compiles all the possible classes at build time to create native-image which consumes memory, but when you will run you application image, it will consume less memory.
If you will use --fallback option, then your application wont use java when running.

You command_line.txt is showing that you are using java and not native-image.

to read mo

[2021-02-25 06:11] qiujiangkun commented on #3235
I can't see a --fallback, but `--no-fallback`, `--auto-fallback` and `--force-fallback`

command_line.txt is the argument I call native-image compiler itself(with sbt-native-image plugin), not my application

Thank you for the assistence, I had no luck compiling my application into native-image and gave up.

[2021-02-25 06:11] #3235 closed

[2021-02-25 06:25] mcraj017 commented on #3235
@qiujiangkun my bad, I meant --no-fallback

[2021-02-25 06:40] mcraj017 commented on #3220
@borkdude does the above comments solve your issue?

[2021-02-25 08:00] mcraj017 commented on #3171
@machaval thanks for the reproducer
I did try this on windows 10 and it works, so its specific to window 2019
I will check further and get back to you

[2021-02-25 08:44] borkdude commented on #3220
I still have to wrap my head around @chrisseaton's comments. Can I write a GraalVM/Truffle-agnostic "Thread#stop" replacement using this? A small example would help.

Is there a technical reason GraalVM native-image doesn't support Thread#stop or is this just a "deprecated so we don't support it" decision?

[2021-02-25 10:15] oubidar-Abderrahim commented on #3222
@mbcgit please try the workaround provided by @mukel and see if it does fix the issue for you.
As you know espresso is still in the experimental phase and there are a lot of limitations to it.

[2021-02-25 11:41] kirillp opened #3243 "native-image error building Kotlin code"
**Describe the issue**

GraalVM failed to compile some Kotlin generated code
Rendering the following errors:

Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing delightex.api.uibuilder.example.TodoKt$todoList$$inlined$vflow$lambda$3.invoke(delightex.api.uibuilder.builders.ChooseBuilder)
Caused by: org.graalvm.compiler.java.BytecodeParser$Bytecode

[2021-02-25 11:56] kirillp commented on #3243
If I enable Dashboard file like this
[code]

then error is different

Fatal error:java.lang.NullPointerException
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstan

[2021-02-25 13:44] MarioMO98 commented on #3093
Hi,
I'm still getting the same error trying to run the native-image .exe generated file of one of the spring graalvm native samples after doing the proposal solution, **in Windows environment**: (https://github.com/spring-projects-experimental/spring-native/tree/master/samples/cloud-function-netty).

I'm using the same Graalvm version too:
openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Enviro

[2021-02-25 16:01] jessica-d-pennell-at-xcelenergy commented on #583
If anyone else came across this post because they have learned getMemberKeys does not return all member keys for a Value in Java, this is a very kludge work-around. getMember will work on the majority of these keys even though they are not present in getMemberKeys. If a key is truly inaccessable, getMember will return null.

            Set<String> keys = new HashSet<>(reflection.getMemberKeys());

[2021-02-25 16:20] usommerl commented on #2928
@oubidar-Abderrahim I had the same issue in a different scala application (See usommerl/graalnative4s#16). In my case, the issue was not reproducible with GraalVM 21.0.0.2.

[2021-02-25 18:41] msimacek opened #3244 "False positives in user directory check"
**Describe the issue**
Originally reported in graalpython as https://github.com/oracle/graalpython/issues/197 by @SchrodingerZhu. The check for user directory has false positives when rebuilding shipped version of graalpython as root:
[code]
The string is not a path, and even if it was, it doesn't contain the home directory (`/root`) as a path component. I believe the heuristic could be improved.

[2021-02-25 20:54] jiekang opened #3245 "'native-image' compilation process crashes very rarely"
**Describe the issue**

When using `native-image` to compile a binary, the JVM process crashes *very* rarely:
[code]

**Steps to reproduce the issue**

1. Download `EventCommit.java` from: https://gist.github.com/jiekang/c2dd7851de31b88e7c6feb9453224303
2. Compile with labsjdk11: `javac EventCommit.java`
3. Build substratevm: `mx build`
4. Build native image:
`mx native-image -ea -esa --no-fallbac

[2021-02-25 21:29] marinier opened #3246 "com.oracle.svm.hosted.substitute.DeletedElementException"
**Describe the issue**
During building a native image, I'm getting this error:

[code]
It appears that others have run into this before, and I got the impression from #2736 that it had been fixed, but maybe there's something different about my situation.

**Steps to reproduce the issue**
1. git clone --depth 1 --branch graalvm-native-image-unsupported-method-error https://github.com/soartech/jsoar

[2021-02-26 01:14] kristofdho commented on #2187
@sgyeme in my experience, the ClassCastException is always caused by missing reflection configuration.
For yours specifically, `org.openxmlformats.schemas.spreadsheetml.x2006.main.impl.CTWorkbookImpl` and its constructor.

[2021-02-26 01:15] kkriske commented on #2187
@sgyeme in my experience, the ClassCastException is always caused by missing reflection configuration. For yours specifically, `org.openxmlformats.schemas.spreadsheetml.x2006.main.impl.CTWorkbookImpl` and its constructor.

[2021-02-26 01:39] kkriske commented on #2187
I'll also add that you can initialize `org.apache.commons.compress` at build-time, which is the only config I have for apache commons-compress. The reflection config is afaik only required for the static initialization of `org.apache.commons.compress.archivers.zip.ExtraFieldUtils` so putting it (and the whole package) at build-time is much easier.

For this issue itself: Other than that, you have

[2021-02-26 04:08] mpv945 commented on #3191
Modify to POI 5.0 version, through Java- agentlib:native-image-agent Configure, run local programs：

java.lang.NoSuchMethodException: org.openxmlformats.schemas.spreadsheetml.x2006.main.impl.CTWorkbookImpl.<init>(org.apache.xmlbeans.SchemaType)
        at java.lang.Class.getConstructor0(DynamicHub.java:3082)
        at java.lang.Class.getConstructor(DynamicHub.java:1825)
        at org.apache.xmlb

[2021-02-26 07:11] mcraj017 commented on #3240
@hminukuri-chwy please provide a reproducer

[2021-02-26 07:43] kkriske commented on #3191
@mpv945 You're missing this reflection config:
[code]
Which I just grabbed from my generated configuration, so I don't understand how you're not getting this with the agent..

[2021-02-26 08:37] jessica-d-pennell-at-xcelenergy opened #3247 "JavaScript objects passed into function not "copy of reference" when using execute from Java"
**Describe GraalVM and your environment :**
 - GraalVM version : **org.graalvm.js:js:21.0.0.2, org.graalvm.js:js-scriptengine:21.0.0.2**
 - JDK version: **OpenJDK 11**
 - OS and OS Version: **Windows 10**
 - Architecture: **Intel(R) Core(TM) i7-8665U CUP @ 1.90GHz 2.11 GHz**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
Normally JavaScript objects passed into functions

[2021-02-26 08:48] jessica-d-pennell-at-xcelenergy commented on #3247
Almost forgot the arguments to the function.
![image](https://user-images.githubusercontent.com/79125779/109277402-84388200-77d4-11eb-8ba2-d9e54ee9cd74.png)
The 5th object (index 4) is a custom ScriptObjectMirror object with these contents
![image](https://user-images.githubusercontent.com/79125779/109277540-b518b700-77d4-11eb-8c85-fd6df8fb3de2.png)

[2021-02-26 09:41] jessica-d-pennell-at-xcelenergy commented on #3247
For the time being, to work around this, I will be using function.protototype.apply similar to the following

[code]

[2021-02-26 09:43] kirillp commented on #3243
JVM executes the code just fine.
Also TeaVM compiles it as well.

[2021-02-26 11:22] dragosroban opened #3248 "No instances of sun.nio.ch.Iocp are allowed in the image heap as this class should be initialized at image runtime."
Hello,

I am dealing with this issue for 2 days now and I don't understand if it's on my side or it's actually a bug.
Yesterday I managed to have a native-image out of a simple spring-boot aplication (hello world).
Today I added just a simple h2 database with a JPA feature to be able to manipulate some data.

I had this issue before but somehow it worked suddelny after playing with this two comman

[2021-02-26 12:08] AndersClausen commented on #2991
Hi @d-kozak - did the quickfix get merged and if so, in what version? Thank you

[2021-02-26 12:54] dragosroban commented on #3114
Anyone here with a solution? I am having the exact same issue. :(

[2021-02-26 15:34] sdedic commented on #3175
Should be now fixed by 33bfa104

[2021-02-26 15:34] #3175 closed

[2021-02-26 16:06] marinier opened #3249 "Built image can't find included resource"
**Describe the issue**
I created configuration files for my application via multiple methods, one of which was using the native agent. The agent added many entries to my configuration, including this one in resource-config.json:

[code]

I am able to build the native image (working around various issues, like the one reported in #3246 -- see [this commit](https://github.com/soartech/jsoar/commit/0

[2021-02-26 16:57] sdeleuze opened #3250 "Update the tracing agent to create automatically the configuration output directory"
When using the tracing agent configured with paths like `config-merge-dir=target/classes/META-INF/native-image` or `config-output-dir=target/classes/META-INF/native-image`, the agent fails if the directory does not exists. As a consequence, it forces our users to configure that kind of Maven entry which is not very practical:
[code]
Could you please update the tracing agent to create the configura

[2021-02-27 15:52] sdeleuze commented on #2568
@olpaw I have tried to move forward on that on Spring Native side, but I think I am blocked.

My [draft commit](https://github.com/spring-projects-experimental/spring-native/commit/mainclass) tried to add `-H:Class=FooApplication` to `native-image.properties` but it does not work because, I think, Maven plugin passes `-H:Class=${start-class}` upfront when `mainClass` is not defined. So I get `Erro

[2021-02-27 16:07] jkroepke commented on #2568
Feel free to adopt #2593, the OCA sign process is to complicated and I'm not going to sign it, expect there is an online only solution.

[2021-02-27 17:52] zekronium commented on #3090
To add to this, same thing happens with java.rmi JMOD on Windows

[code]

java -version output:
[code]

[2021-02-27 17:59] belu commented on #3192
@oubidar-Abderrahim
Fyi, just pushed the code (substitutions) so you can build & run the application. Please see the updated README.md in the
project on how to reproduce the issue.

[2021-02-27 19:52] borkdude opened #3251 "Native image compilation sometimes stalls: deadlock?"
**Describe the issue**

Native image compilation sometimes stalls during the build of this project:

https://github.com/borkdude/tools-deps-native-experiment

Maybe a deadlock issue?

**Steps to reproduce the issue**
Please include both build steps as well as run steps

Check out [the repo](https://github.com/borkdude/tools-deps-native-experiment) at commit `9b13099542d1fd682b96138b8e7baadc20eeea9

[2021-02-27 19:52] borkdude commented on #3251
Today at the GraalVM workshop someone pointed out issue #2869: not sure if that's related, but could be?

[2021-02-28 09:55] mcraj017 commented on #3241
@gustavonalle Thanks for reporting the issue
We will check it out and get back to you

[2021-02-28 21:59] brianwyka commented on #3186
It seems that `SnakeYAML` also uses `java.beans` classes (which I am using).

[2021-03-01 06:24] mcraj017 commented on #3242
@Gil-lic Please describe your issue and provide a reproducer

[2021-03-01 06:56] mbcgit commented on #3222
Thanks for your support!

With the limitations currently in place it does not make sense for me to further explore Espresso. I am going to wait until it has matured and there will be better documentation in place. Anyway I guess that the provided code snippet might help others to play with Java as a guest language (on those platforms where currently possible).

[2021-03-01 06:56] #3222 closed

[2021-03-01 09:14] loicottet commented on #3185
Fixed by https://github.com/oracle/graal/commit/43a4c1b16e2baaa16ed0598fa6fb59408ee71ef2

[2021-03-01 09:14] #3185 closed

[2021-03-01 09:43] oubidar-Abderrahim commented on #3243
Thank you for reporting this issue. Please if you do find a simpler way to reproduce this, it would be much appreciated to share it. If not, Could we have the reproducing code, with the steps to reproduce, in a Github repo that we can just clone? this should be easier to test for everyone and also will go accordingly to security standards. Thanks.

[2021-03-01 09:51] oubidar-Abderrahim commented on #3244
@SchrodingerZhu could you please describe GraalVM and your environment?

[2021-03-01 10:11] d-kozak commented on #2991
Hello @AndersClausen,

The quickfix was merged last week - https://github.com/oracle/graal/commit/1b92af41014cabe0ddfc646cc7394e51ea64476d so it should be available in 21.1 and I also made a backport request for the next 20.3 release.

I've also been looking into whether  `GraalJSEngineFactory` can be excluded if `--language:js` is not set and unfortunately, there does not seem to be a clean way t

[2021-03-01 10:55] oubidar-Abderrahim commented on #3246
Thank you for reporting this, we're going to take a look at it.

Did you try generating config files using the native-image-agent from 21.0.0?

[2021-03-01 11:11] oubidar-Abderrahim commented on #3247
Thank you for reporting this, I can take this to the Truffle team, but it would be much appreciated if we can have a smaller reproducer, would you mind providing a small java class with the `changeStuff` example you've shown with and without the workaround. This would reduce debugging time considerably.

Also, I'm wondering why you're using an old version of java11?

[2021-03-01 11:20] oubidar-Abderrahim commented on #3248
Could you please provide the complete native-image command executed with all the flags?

Also, please describe your environment:

- GraalVM version
- CE or EE
- JDK major version
- OS
- Architecture

[2021-03-01 11:48] dragosroban commented on #3248
@oubidar-Abderrahim  Hello. I tried with thwo GraalVM versions. One was 20.3.1.2 and one was 21.0.0.2 ( The behaviour was the same). Community Edition.
JDK 8 (1.8.0_282).
I am running Windows 10 Enterprise LTSC edition x64

Thank you for responding. I removed the H2 dependency and as well the code which was using it and it works. Seems to be something H2 specific which I heard that may be a proble

[2021-03-01 12:03] oubidar-Abderrahim commented on #2928
Thank you @usommerl, I checked [usommerl/graalnative4s#16](https://github.com/usommerl/graalnative4s/issues/16). 20.3.x is LTS so if there is a bug in a prior version it will be fixed in that branch.

The latest 20.3.x currently is 20.3.1.2, please try this version and see if you can reproduce this issue.

[2021-03-01 14:18] jaikiran commented on #2017
Closing this, since I no longer run into this, plus the suggestions in this issue already helped me get past this when I first ran into it.

[2021-03-01 14:18] #2017 closed

[2021-03-01 15:06] marinier commented on #3246
Yes, I generated everything using 21.0.0 (although not 21.0.0.2, but looking at the release notes for that, it doesn't look like it would make a difference).

[2021-03-01 17:26] superbob commented on #2648
Hello @christianwimmer, could you elaborate on that topic please?

I'm curious to know what precise legal reason makes it impossible to have `--no-fallback` a default setting.

Also, reading https://www.graalvm.org/reference-manual/native-image/Limitations/, there are some technical aspects mentioned, making fallback images necessary, in some cases.
Could fallback images be default also for compat

[2021-03-01 18:03] gradinac commented on #3192
Hey @belu!
This seems to be reproducible even without configuration merging - in my case, it was enough to leave the app running for a bit more. I suspect I've found the culprit - once the fix has been reviewed and merged, I'll let you know. If you also wish to try the fix out, I can either create a public PR or I can give you the diff that you can apply to Graal.

[2021-03-01 18:05] christianwimmer commented on #2648
Sorry, I am not a lawyer and therefore are not allowed to comment further on any legal reasons.

[2021-03-01 18:15] belu commented on #3192
@gradinac
Great! No hurry, I will try it with the next CE release that contains the fix.

[2021-03-01 20:13] usommerl commented on #2928
@oubidar-Abderrahim Thanks! I didn't know that 20.3 is an LTS release. I have run the tracing agent again and build an image with 20.3.1.2. Unfortunately, the issue is still reproducible with this version.

[2021-03-02 05:05] mdsina opened #3252 "OptimizedCallTarget::profiledPERoot causes "uncommon_trap" issue?"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.0.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **linux**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
We've inspected some code cashe leaks, and I found, that there are problem with `PolyglotEngineImpl::getCachedTh

[2021-03-02 07:09] mcraj017 commented on #3171
@machaval I checked with our dev team, and its most probably a config issue
could you please confirm that using the same is not happening with other versions?

[2021-03-02 07:26] mcraj017 commented on #3242
Closing this issue as there is nothing mentioned except the template

[2021-03-02 07:26] #3242 closed

[2021-03-02 07:45] mcraj017 commented on #3174
@helpermethod did you tried with GraalVM 21.0 java 11?

[2021-03-02 09:55] adinn commented on #2648
I am not a lawyer either so I cannot provide any reliable advice on this matter (in other words you should not assume that you can act upon what I say next and have any legal redress against me or my employer for whatever consequences derive from your reading of the explanation I have provided). With that in place I'll claim that given this relates to a legal requirement for the GraalVM Native Ima

[2021-03-02 10:01] adinn commented on #2648
Sorry, that comment got published before I was able to finish. Obviously that does not imply that it must be bug free. The acid test as to whether GraalVM Native Image generates correct executables is the the Java TCK, the suite of conformance tests that is used to check each Java release. The legal requirement is attached to the TCK.

Once again, take that as merely a suggestion with no liability

[2021-03-02 10:35] oubidar-Abderrahim commented on #2928
@usommerl Can you provide a reproducer? a smaller one would be perfect. And we will target a fix for it in the next 20.3.x release.

[2021-03-02 10:38] mcraj017 commented on #3216
@StefanOltmann I tried the reproducer and got another exception:
[code]

[2021-03-02 11:46] StefanOltmann commented on #3216
@mcraj017 That exception is the result of the root exception I quoted above.

You should get the same exception somewhere in your stack trace.

Please see here the full stack trace:
https://github.com/StefanOltmann/smart-home-server/runs/1906383194?check_suite_focus=true

[2021-03-02 12:07] gradinac commented on #3159
Hey @ilopmar!
I've tried this on Ubuntu 20.04 && GraalVM master (Java 11) - it seems to work properly:
[code]
Which host distro are you using?
I think this issue may be related to a mismatch of the library versions between the host system used to build the native-image and the compat layer ones that are used to run it.

[2021-03-02 14:37] gradinac commented on #3192
Hey @belu!
The fix for the issue has been merged to master (https://github.com/oracle/graal/commit/d704ad5be087ee8a4f71f215aac7217430d9c079). If you want, you can test it once the latest GraalVM CE dev build is out here: https://github.com/graalvm/graalvm-ce-dev-builds/releases (the latest dev builds do not seem to be available right now, but this is a temporary outage).

[2021-03-02 14:40] gradinac commented on #3250
Hey @sdeleuze!
The fix for this has been merged to master: https://github.com/oracle/graal/commit/d704ad5be087ee8a4f71f215aac7217430d9c079
The agent will now create the missing parent directories on top of creating the config directory. The extra maven task should no longer be needed :)

[2021-03-02 14:40] #3250 closed

[2021-03-02 18:56] tkrodriguez commented on #3232
That graph presentation is very busy without a lot of controls for display.  If you clone those pages with wget you can tweak the underlying data to get pairwise comparisons which look much better.  I used
` wget --mirror --convert-links --page-requisites --no-parent -P . https://plokhotnyuk.github.io/jsoniter-scala/`
and then if you edit `plokhotnyuk.github.io/jsoniter-scala/provided.js` you can

[2021-03-02 22:15] superbob commented on #2648
Thanks @adinn for this statement.
I will consider the legal disclaimer you expressed and act as such.
It has helped me understand what the kind of reasons it could be, and it satisfies my curiosity 🙂.

It could be nice to have this precise legal aspect being completely settled and written down in a explicit documentation. It could be for example in an FAQ with a question such as : _Why generated n

[2021-03-03 06:47] YuanGunGun commented on #1121
@TisonKun any new please?

[2021-03-03 10:58] rschatz commented on #3219
By default the GraalVM LLVM runtime just forwards all the library calls to libc, including allocations. This is necessary if you want to interface with system libraries. The same is true for IO. Imagine what would happen if we would intercept file open to some Java interface, and then you pass down that file descriptor to a system library function. That system library wouldn't know what to do with

[2021-03-03 13:31] thomaswue commented on #3251
Thanks for the report! I don't think this can be related to #2869, because the way we use the compiler for creating the image is so different. During which part of the build process does it deadlock / can you maybe paste a console output?

[2021-03-03 13:33] dougxc commented on #3251
Also, a dump of all stacks (by sending SIGQUIT to the Native Image process) would be helpful.

[2021-03-03 13:36] dougxc commented on #2247
Thanks for the report. It certainly looks like the existing intrinsics should be ported to Graal CE. Any chance you or your team could attempt that @helloguo ? Of course, we can provide help where needed.

[2021-03-03 13:39] #2869 closed

[2021-03-03 13:41] borkdude commented on #3251
This happens after the setup phase:

[code]

Here is the thread dump.

[thread_dump.txt](https://github.com/oracle/graal/files/6076317/thread_dump.txt)

[2021-03-03 13:58] dougxc commented on #3251
This looks related to https://github.com/oracle/graal/issues/673 (/cc @peter-hofer).
Also, I noticed that a couple of threads are blocked in JNA class initializers:
[code]
and:
[code]
It could be that there's racy logic in this class initializers that causes deadlock when class initialization is triggered by Native Image.

[2021-03-03 16:42] dougxc commented on #3245
The crash is happening in a stack that contains `com.redhat.jfr.events.StringEvent.<clinit>()V+2` so there may be something about that constructed begin called when it's not expected?
[code]

[2021-03-03 17:00] zvozin commented on #3243
It appears to be the naming conventions that Kotlin plays loose with. E.g.:
[code]

To reproduce, simply add `org.jetbrains.kotlinx:kotlinx-coroutines-core:{{your-kotlin-version}}` to a project and instantiate a CoroutineContext.

`native-images` appears to not be friendly to multi-$ class names. My builds are failing with errors like:
[code]
Each time it's a different class name, seemingly random

[2021-03-03 17:08] jiekang commented on #3245
I'll update with full reproducer instructions and include the code shortly.

[2021-03-03 18:21] jiekang commented on #3245
I've edited the steps to reproduce and included a gist with minimal code. It sounds like an issue with Hotspot transformation of event classes for JFR. This is pretty niche; I'm not sure now if this bug report is appropriate for upstream at this exact moment since the JFR work is still in progress @ https://github.com/native-image-jfr/graal

[2021-03-03 18:30] kirillp commented on #3243
Try new kotlin release with -ir compiler flag, it might help.
https://blog.jetbrains.com/kotlin/2021/02/the-jvm-backend-is-in-beta-let-s-make-it-stable-together/

[2021-03-03 18:33] christianwimmer commented on #3245
Since the crash is in the JDK module system code
[code]
it could also be just a generic JDK bug, where the HotSpot code needs to be made more defensive. So maybe file a OpenJDK bug for this?

[2021-03-03 18:52] helloguo commented on #2247
@dougxc Yes, we are working on getting contributor agreement in place.

[2021-03-03 19:40] dougxc commented on #2247
Great - looking forward to the PR!

[2021-03-03 21:25] zvozin commented on #3243
@kirillp it does, actually. `native-image` still craps out in a million different ways and requires a fantastically long list of exclusions, but the new JVM IR appears to solve the lambda naming problem.

[2021-03-03 21:34] usommerl commented on #2928
@oubidar-Abderrahim I have created a considerably smaller example application that tries to log a single line. Obviously, the issue is triggered by the logging framework. See [usommerl/graal2928](https://github.com/usommerl/graal2928)

[2021-03-03 23:01] borkdude commented on #3251
One library I'm using in this project was using JSch but is now just shelling out to git, which is easier on GraalVM.

To reproduce the problem reported above:

Check out [the repo](https://github.com/borkdude/tools-deps-native-experiment) at commit `9b13099542d1fd682b96138b8e7baadc20eeea92`:

Follow instructions here: https://github.com/borkdude/tools-deps-native-experiment/tree/9b13099542d1fd682

[2021-03-04 04:19] ziyilin opened #3255 "NativeImage report "Invalid maximum heap size: -Xmx0" error"
**Describe the issue**
There are cases when run native-image inside docker container, JDK can't get correct physical total memory, leading to native-image startup failure "Invalid maximum heap size: -Xmx0". As shown in the picture below:
![image](https://user-images.githubusercontent.com/6834162/109908727-bc155d00-7cdf-11eb-938f-239a864280c3.png)
Still fails even the -J-Xmx1g is set:
![image](http

[2021-03-04 06:22] LifeIsStrange commented on #1656
Here's an official update on espresso:
https://www.infoq.com/news/2021/01/graalvm-21-jvm-java/

Is there a github repository yet?

[2021-03-04 07:26] sify21 opened #3256 "dynamic proxy `NoSuchMethodError` for inherited interface in commons-configuration2"
**Describe the issue**
I made a [sample project](https://github.com/sify21/test-graal-native) with commons-configuration2. The native-image is built successfully but gives error when running. The build configurations are generated by the agent.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **git clone https://github.com/sify21/test-graal-native.git**
2.

[2021-03-04 08:05] mcraj017 commented on #3012
@bric3 as I can see in the upx ticket that they are fixing this issue, so I am closing the issue from our side, if the problem still persists, please reopen

[2021-03-04 08:05] #3012 closed

[2021-03-04 08:14] bric3 commented on #3012
@mcraj017 yes sure, thanks for looking into it 👍

[2021-03-04 09:23] gilles-duboscq commented on #1656
Espresso is part of this repository. See https://github.com/oracle/graal/tree/master/espresso

[2021-03-04 11:05] adinn commented on #3245
It looks to me like this happens when Modules::add_reads_module(from_module, to_module) calls from_module->add_read(to_module) which in turn calls this->set_read_walk_required(to_module->loader_data()). This last call effectively executes  to_module->loader_data()->is_builtin_class_loader_data(). Since by that point we know to_module cannot be null the SEGV indicates that to_module->loader_data()

[2021-03-04 11:05] petermz commented on #3255
Thank you for posting this issue, I encountered this error a few times but did not take time to investigate.

That doesn't help BTW, Java still complains about 0 being invalid size and exits

[2021-03-04 11:11] ziyilin commented on #3255
Yes, user's argument is omitted by NativeImage now. My proposed PR fixes both of 1 and 2.

[2021-03-04 13:14] dragosroban commented on #3248
@oubidar-Abderrahim  I am posting here the pom.xml in order to have a look.
The procedure I am doing to get the native-image running is that I package my project first and after I run the native-image agent to scan the jar file and spit the ouput under src/main/resources/META-INF/native-image. All the scanned classes are in the files generated there.
`java -agentlib:native-image-agent=config-outpu

[2021-03-04 13:21] dragosroban commented on #3248
This is the execution of the command that comes out of building the maven profile with the native plugin

[code]

[2021-03-04 22:43] thomaswue commented on #2568
OK, thank you. There is btw now a new online only version that went live just today: https://oca.opensource.oracle.com/

[2021-03-05 08:18] jantoniucci commented on #1108
Me too. Are there any update nor workaround on it ? Thanks!

[2021-03-05 08:31] ilopmar commented on #3159
Hi @gradinac, sorry for the delay. I know what's going on and why it is working for you. Some time after I submitted the issue I enabled the `-H:+StaticExecutableWithDynamicLibC` flag in that branch, that's why it is working.
I've updated the original issue with a new branch that reproduces the issue. Please try now using the branch `issue-alpine-3.13` and you can reproduce the problem.

Sorry aga

[2021-03-05 08:57] olpaw commented on #2568
@sdeleuze, fyi, @gradinac is currently fixing this by making sure our plugin evaluates `${start-class}` before using its value.

[2021-03-05 09:23] jkroepke commented on #2568
@olpaw does this mean, my PR is obsolete?

[2021-03-05 09:38] olpaw commented on #2568
@jkroepke the problem @sdeleuze described in https://github.com/oracle/graal/issues/2568#issuecomment-787093319 is better addressed by making the native-image-maven-plugin behave correctly when it looks up the `<mainClass>` node from maven-shade-plugin, maven-assembly-plugin, maven-jar-plugin configurations (in that order) in the pom. So far the value of that node was always taken literally instea

[2021-03-05 10:07] lorenz commented on #3000
Also ran into this with third-party code containing a function with 70 loops. It seems like the 64 limit is slightly too low, maybe 128 would be better.

[2021-03-05 12:01] ziyilin commented on #3255
@petermz What are your OS kernel and docker environment when the same issue occurred? We track the issue to the incompatible  between Alibaba's OS kernel and Alibaba's docker. Docker version >= 1.13 is fine. I'm curious about your environment. May be this issue is more common than I think it is.

[2021-03-05 14:02] petermz commented on #3255
I believe the container was Alpine Linux 3.11, and Docker version must have been 19.03

Doesn't the latest `-Xmx` option win? If it does, user-supplied option must come after the default one

[2021-03-05 14:19] oubidar-Abderrahim commented on #3150
I'm closing this issue for lack of reproducer, if you still face this issue please follow the template of reporting issues and provide clear detailed steps to reproduce the issue

[2021-03-05 14:35] kirillp commented on #3150
The reproducing code is in the 1st post.
This is compiler crash, what is the point in closing compiler bugs without resolution ?

[2021-03-05 16:30] oubidar-Abderrahim commented on #3150
@kirillp we didn't ask for much, we only asked to respect the template and to provide clear steps to reproduce. there's a lot of work to be done and all help we can get is much appreciated

[2021-03-05 16:44] laszbalo commented on #3241
I have a Lucene project, too,  where calling the constructor of [IndexWriterConfig](https://github.com/apache/lucene-solr/blob/6ba9fe5be35dea3ff66d89f63bc876286f186ea4/lucene/core/src/java/org/apache/lucene/index/IndexWriterConfig.java#L143) makes the process hang with a 100% CPU utilisation.

[2021-03-05 19:29] cstancu commented on #2762
This PR removes the `--enable-all-security-services` option: https://github.com/oracle/graal/pull/3258.  We now rely on static analysis to discover which security services are required.

[2021-03-06 06:24] T-baby opened #3259 "How do I execute import numpy in Kotlin?"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: 21.0.0.2
 - CE or EE: CE
 - JDK version: JDK11
 - OS and OS Version: ubuntu20.04
 - Architecture: amd64
 - The output of
[code]

[code]

[code]

[code]

I've installed numpy with ginstall, but it still exception "No module named 'numpy" when I import it.

[2021-03-06 06:51] mpv945 commented on #3191
Can you create a local program that can run POI normally and compile under windows. Write the version and operation steps? I urgently need to implement this function.

[2021-03-06 11:57] hhandoko commented on #1323
Your solution works for me @begrossi ! Thanks :+1:

My code (Scala) with the working solution can be seen on the PR link above.

[2021-03-06 11:57] #1323 closed

[2021-03-06 15:56] belu commented on #3192
@gradinac
Just tested with the latest dev build and confirm the issue is fixed. Thanks!

[2021-03-06 16:47] eduveks opened #3260 "LinkedHashMap memory leak"
Hello,

I'm facing memory leak of many LinkedHashMap with GraalVM.

This behaviour is not new because in the last years I am using GraalVM always seeing memory issues, but now is more critical because we are using in situations with much more stress overall.

Anyway GraalVM is awesome, thank you a lot by all your work. 👏

Hope this report can help to improve.

![Screenshot 2021-03-06 at 16 27 49](

[2021-03-06 16:49] eduveks commented on #3260
After more 20 minutes looks like this:

![Screenshot 2021-03-06 at 16 48 04](https://user-images.githubusercontent.com/5670920/110214281-caa87380-7e9b-11eb-9143-faf282b16985.png)

![Screenshot 2021-03-06 at 16 48 19](https://user-images.githubusercontent.com/5670920/110214285-ced49100-7e9b-11eb-9a46-6f53e8c0b463.png)

[2021-03-06 18:29] gradinac commented on #3192
Hey @belu, I'm glad to hear that! :)
I'll close this issue - if you hit any other problems, please let us know.

[2021-03-06 18:29] #3192 closed

[2021-03-07 13:57] florensie opened #3261 "Espresso java.lang.VerifyError: Wrong local map frames in class file"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.0.0.2**
 - CE or EE: **CE**
 - JDK version: **JDK8**
 - OS and OS Version: **Arch Linux**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
Yes, the same issue occurs on `GraalVM CE 21.1.0-d

[2021-03-07 14:29] mukel commented on #3261
I've tried older versions of Minecraft, before it was bundled with the launcher. You can use `-Xverify:none` to disable the verifier (not recommended) and also speedup compilation with `--java.InlineFieldAccessors --engine.Inlining=false`.

[2021-03-07 15:03] florensie commented on #3261
Not sure if it's at all related but disabling the verifier results in this very long stacktrace: https://gist.github.com/florensie/24e4ff01364db583938d75d26589f1d7

[2021-03-08 02:50] viniciusccarvalho opened #3263 "Intermittent crashes building micronaut application"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch
I'm experiencing some very strange crashes. They don't happen always, but often. Sometimes the native-image command will succeed, but many other

[2021-03-08 08:06] #3259 closed

[2021-03-08 09:49] oubidar-Abderrahim commented on #3256
Hi, did you use the agent to generate config files?

[2021-03-08 10:16] sify21 commented on #3256
yes, I have put the configs in the resources folder.

[2021-03-08 13:21] rpofuk opened #3265 "Compilation fails with NoSuchFieldError: InliningCutoffCountPenalty"
**Compilation broken**
[code]

I dont even know where to start checking. Where is source code for this classes? TruffleCompilerOptions, InliningCutoffCountPenalty

I'm compiling on Ubuntu 20.04 using GraalVM 20.0.3.

[2021-03-08 14:48] jerboaa commented on #2196
For the record, we build the downstream [Mandrel releases](https://github.com/graalvm/mandrel/releases/) with stock OpenJDK 11u by using a small build script called [mandrel-packaging](https://github.com/graalvm/mandrel-packaging). So as far as we are concerned this issue is resolved. Of course it'll need regular patches every once in a while, but we keep track of breakages within Mandrel.

Note t

[2021-03-08 14:48] #2196 closed

[2021-03-08 15:36] oubidar-Abderrahim commented on #2928
@usommerl I am so sorry to say this, but after checking with the development team, it looks like this is not a bug but rather a limitation of using `Method handles` in native-image. We have some support for it in 21.0.0 but it is still not complete and experimental, therefore it cannot be backported to 20.3.x

My apologies.

[2021-03-08 16:17] oubidar-Abderrahim commented on #3035
As mentioned above, this looks like a missing config by the spring team. I will close this issue for now, if you still need assistance with this issue please provide us with a reproducer and re-open the issue.

[2021-03-08 16:17] #3035 closed

[2021-03-08 16:19] oubidar-Abderrahim commented on #3057
I am closing this issue. If you still need assistance please re-open.

[2021-03-08 16:19] #3057 closed

[2021-03-08 17:34] usommerl commented on #2928
@oubidar-Abderrahim  No worries! It didn't take much effort to create the example and I have already migrated to 21.0.x with the application where the issue originally appeared. The experimental features in 21.0.x work great for me 😄

[2021-03-08 21:11] mur47x111 commented on #3232
The performance difference between Java 8 and Java 11 is likely due to the `String.getBytes` call at `com.github.plokhotnyuk.jsoniter_scala.core.JsonWriter.writeNonEscapedAsciiKey (JsonWriter.scala:144) [bci:107]`.

On Java 8, `String.getBytes` copies the bytes using a while loop:
[code]
which will be fully unrolled given that this call in the application code always asks for 4 bytes.
On Java 11,

[2021-03-08 23:27] LifeIsStrange commented on #3232
Great find! Is there any way to fix that?
Maybe that @cl4es would be interested to take a look as he was recently working on optimizing openjdk string/charset performance
(cf: https://cl4es.github.io/2021/02/23/Faster-Charset-Decoding.html )

[2021-03-09 03:28] sify21 commented on #3256
Hi @oubidar-Abderrahim , is this a bug instead of a problem with the build configurations?

[2021-03-09 06:46] SergejIsbrecht commented on #3265
Which version of native-image are you using? It seems that there are some dependencies in your runtime-classpath, which are incompatible. It seems that the current master does not contain a class named `TruffleCompilerOptions`, but your native-image thinks it does.

I would try using a native-image, which matches GraalVM 20.0.3

[2021-03-09 07:58] rpofuk commented on #3265
Thank you!

[2021-03-09 07:58] #3265 closed

[2021-03-09 10:46] ansalond commented on #3172
I merged some changes to mx (https://github.com/graalvm/mx/commit/94903a9cf1e72afabd7fa608bf4883a82a4ac261) and graal (https://github.com/oracle/graal/commit/580ba3f682e68cb93c56649815ca1e5747ab62e3). The issue should now be fixed.

[2021-03-09 10:46] #3172 closed

[2021-03-09 11:55] mukel commented on #3261
LWJGL violates the JVM spec [here](https://github.com/LWJGL/lwjgl3/blob/8598adb990362bf8d51b66b5c03b743ee5d5c14c/modules/lwjgl/core/src/main/java/org/lwjgl/system/MemoryUtil.java#L3139-L3147) and [here](https://github.com/LWJGL/lwjgl3/blob/8598adb990362bf8d51b66b5c03b743ee5d5c14c/modules/lwjgl/core/src/main/java/org/lwjgl/system/MemoryUtil.java#L3172-L3191). Scanning objects like that is illegal.

[2021-03-09 12:53] shelajev commented on #3150
If I have the class like:

[code]
Generating the config is necessary, so:
[code]

Then building the native image like this fails with the error about the Thread above:
[code]

Using the `-H:+PrintClassInitialization` I can see that `reports/build_time_classes_date_time.txt` does indeed have `Socket11` class.

Initializing it at runtime from the command line makes the program work:
[code]

I don't

[2021-03-09 15:08] heikobornholdt commented on #2694
The issue persists in current GraalVM versions as well:
[code]

[2021-03-10 01:56] ziyilin opened #3267 "-H:+PrintPointsToStatistics fails"
**Describe the issue**
`-H:+PrintPointsToStatistics` option fails the build with NullPointerException and multi-threading issues. A PR is proposed to fix this issue: https://github.com/oracle/graal/pull/3266

**Steps to reproduce the issue**
1.  Simply run `$GRAALVM_HOME/bin/native-image -H:+PrintPointsToStatistics HelloWorld` and fails with message:
[code]
After fix this problem, run `$GRAALVM_HO

[2021-03-10 04:22] mcraj017 commented on #3260
@eduveks thanks for reporting the issue
we will check it and get back to you

[2021-03-10 06:27] culyun commented on #1752
This issue is still present in graalvm-ce-java11-windows-amd64-21.0.0.2

An (unacceptable) workaround is to disable Windows Threat Detector for the offending file.
This will let you build the exe, but it will contain the same "exploit".

[2021-03-10 10:17] oubidar-Abderrahim commented on #3248
@dragosroban could you try with the following commands:
[code]
If this doesn't work, please post the complete stacktrace you received from using these flags:

It could be helpful if we have access to a reproducer, maybe you can share the code you're using in a repo?

[2021-03-10 10:31] oubidar-Abderrahim commented on #2928
@informarte I will close this issue. if you still face the same error with 21.0.0.2 please re-open it.

[2021-03-10 10:31] #2928 closed

[2021-03-10 10:46] dragosroban commented on #3248
Hhello @oubidar-Abderrahim.

It didn't worked unfortunately.
The repo made public: https://github.com/dragosroban/spring-native
Here is the full stack trace:

[2021-03-10 12:21] gradinac commented on #3163
The source of randomness has come from structures with undefined order of iteration (HashMaps and set returned by Set.of), as well as maps returned by a module finder class generated by jlink, used by the JDK during the module system initialization phase.

@cstancu and I revisited this issue and it has been resolved in a different approach here: https://github.com/oracle/graal/commit/f3629c317f79d

[2021-03-10 12:51] mdsina commented on #3252
Non-profiled code cache leak. We've found a huge CPU load that caused by out of memory for code cache. Tuning of code cache segment's didn't help. Then we investigate, who cause the problem and found that issue.

Yes. We use Project Reactor, tasks in scope of one request may executing on different threads, sequentially of caurse.

Yes, one Engine on whole application. Context closed after usage.

[2021-03-10 15:50] ebremer opened #3269 "Windows 10 detected a virus in graalvm-ce download"
I just downloaded https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-21.0.0.2/graalvm-ce-java11-windows-amd64-21.0.0.2.zip

and my Windows 10 system complained of an infected file in lib\svm\builder\svm.jar

![image](https://user-images.githubusercontent.com/4094961/110656917-67199100-818e-11eb-8845-f5fbf47e9807.png)

[2021-03-10 16:54] pys-arhs opened #3270 "Unknown name in option specification: tool:native-image-configure"
I tried to compile a native image from a jar file with the procedure described in https://blogs.oracle.com/javamagazine/graalvm-native-images-in-containers

Using graalvm-ce-java8-21.0.0.2 on Windows 10 from the x64 native command prompt for VS 2019.
I installed native-image:
[code]

However, the following command to build native-image-configure is not recognized:
`native-image --tool:native-image

[2021-03-10 17:49] shelajev commented on #3243
@zvozin can you please create an example to reproduce this?

[2021-03-10 18:18] maxandersen commented on #3163
Btw. I also figured out why we dont see this issue in quarkus - reason is we as you describe here disable the service catalog and just avoids the whole problem as it happens at build time.

[2021-03-10 18:34] zvozin commented on #3243
My comment 2 above has instructions. Note that the problem appears to go away with the Kotlin 1.5 IR, which compiles lambdas to dynamic invocations rather than anonymous inner classes.

[2021-03-10 20:02] StefanOltmann commented on #3216
@mcraj017 Is there anything you need from me to reproduce the issue?

[2021-03-11 04:54] #3085 closed

[2021-03-11 10:54] andrewcraik opened #3272 "Quarkus Nightly consistently failing"
**Describe the issue**
The Graal github.com action `Nightly quarkus tests` has been failing for the last 6 months. There are a number of different issues in the builds. See [https://github.com/oracle/graal/actions/workflows/quarkus.yml](https://github.com/oracle/graal/actions/workflows/quarkus.yml)

**Steps to reproduce the issue**
[https://github.com/oracle/graal/actions/workflows/quarkus.yml](ht

[2021-03-11 11:02] dougxc commented on #3272
@zakkak can you please look into this.

[2021-03-11 11:08] zakkak commented on #3272
Hi Andrew and Doug,

The Quarkus team is aware of this (see https://github.com/quarkusio/quarkus/issues/14904) and working on improving the situation.

[2021-03-11 15:44] fniephaus commented on #3272
Should we maybe disable the GitHub workflow until quarkusio/quarkus#14904 has been fixed? Seems quite wasteful to run CI for 6 months if it fails consistently.

[2021-03-11 16:16] kirillp commented on #3243
@zvozin
Hi Alex, I have Kotlin project setup for GraalVM maven build
Can you suggest code that I can put there to reproduce ?
Our project is very big, I can not over-simplify it to send a simple reproducer

[2021-03-11 16:32] kustosz opened #3273 "Thread interrupts permanently break the HostClassLoader"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.0.0.2**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina 11.1**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds here: https

[2021-03-11 20:38] nemecec opened #3274 "NoClassDefFoundError on synchronized(Class) block when class is compiled with 1.3 target"
**Describe the issue**
Given a simple test class:
[code]
Compiled with JDK 1.8: `javac -target 1.3 -source 1.3 Test.java`
Converted to native image with GraalVM 21.0.0.2 (JDK 11): `native-image --install-exit-handlers --no-fallback Test`
When ran: `./test`
It fails with:
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **21.0.0.2 (Java Version 11.0.10+8-jvmci-21.0-b06)**
 - J

[2021-03-12 07:21] kdesineedi commented on #3131
Hi  @wirthi so is it safe to conclude that GraalVM is not supported/recommended on OracleJDK8?

@mcraj017 When you use the sampler you saw the required capability to be 9.0 and not 1.8? Right?

( i meant on java version "1.8.0_131")

[2021-03-12 07:26] kristofvb opened #3275 "native-image-maven-plugin ignores finalName property"
In my pom.xml I have set `<finalName>${project.artifactId}</finalName>`. When running the package goal it returns an error

`Error: Main entry point class 'com.example.Application' not found.`

It looks like the classpath contains the default versioned jar file like `demo-0.1.jar` instead of the unversioned jar file as specified by the finalName property.

**Steps to reproduce the issue**
I just c

[2021-03-12 07:44] wirthi commented on #3131
@kdesineedi

_GraalVM_ is a full Java VM. It is a drop-in replacement for OracleJDK8. You cannot use it _in_, but _instead of_ it.

What you are trying to achieve is to reuse only one single specific component of GraalVM - the JavaScript interpreter - outside of GraalVM, on a different JVM. This is technically possible: the JavaScript interpreter is a plain Java application that will run on any Ja

[2021-03-12 07:49] joshlong opened #3276 "I can't get a native image to compile an application using Kotlin"
I'm getting an error when trying to compile a Kotlin + Spring application with `native-image`.

Here's the stack trace:

[code]

You can reproduce it using `mvn spring-boot:build-image` with the `pom.xml` at the root of the [this Github repository](https://github.com/joshlong/rx-kotlin-native).

[2021-03-12 11:30] zakkak commented on #3272
Please note that the workflow has indeed been failing for quite some time but mostly because of 1-2 tests (e.g. https://github.com/oracle/graal/issues/2783), which unfortunately there is no easy way to turn on/off on demand since the tests list changes between versions and we fetch it from the quarkus repository:
https://github.com/oracle/graal/blob/85eb61d7e07ea694b438edf8187e5b2887c439fe/.github

[2021-03-12 16:21] kdesineedi commented on #3131
Thanks Christian!!

cc: @wirthi

[2021-03-12 16:21] #3131 closed

[2021-03-12 17:38] christianwimmer commented on #3263
Thanks for the report, that is an interesting one. The stack trace shows that the segfault is in libgraal doing a JIT compilation. But the disassembly shows it is at a register-register move, which cannot really segfault.

@viniciusccarvalho have you observed the problem multiple times? If yes, can you provide us with all of the HotSpot crash dump files, so that we can see if there is a certain pa

[2021-03-12 17:44] tkrodriguez commented on #3263
[code]

[2021-03-12 19:03] jamesward commented on #2050
Ran into this too and had to add:
[code]

[2021-03-13 00:15] kirillp commented on #3243
reproducer https://github.com/oracle/graal/issues/3276

[2021-03-13 09:36] messages-one commented on #3248
I think the problem is with the h2 dependency.

When I commented the h2 dependency and instead  added  mysql jdbc driver to interact with a mysql instance; the native file was generated.

os : windows 10 enterprise
graal vm: 21

[2021-03-13 15:57] itning opened #3277 "InvalidPathException when target file path have"
When HelloWorld.class file have Chinese path, such as `C://哈哈/HelloWorld.class`
[code]
This is my version:
[code]

[2021-03-14 20:36] mukel commented on #3261
Verifier issue was fixed in cd82245fa78e0 . PR/discussion for the unsafe scan [here](https://github.com/LWJGL/lwjgl3/pull/631).

[2021-03-14 21:57] mcraj017 commented on #3267
@ziyilin Thanks for reporting the issue
we will take a look and get back to you

[2021-03-14 21:59] mcraj017 commented on #3269
@ebremer thanks for reporting the issue
we will check it

[2021-03-14 22:12] mcraj017 commented on #3270
@pys-arhs this tool has been removed as the same can be achieved by tracing agent, check the below link to use tracing agent
https://docs.oracle.com/en/graalvm/enterprise/19/guide/reference/native-image/tracing-agent.html

[2021-03-14 22:12] #3270 closed

[2021-03-14 22:27] mcraj017 commented on #3270
@olyagpl please check, if we still this in documentation
https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/#the-configuration-tool

[2021-03-15 07:08] himanshusharma30 opened #3278 "Using date in version 21.0.0"
On printing date in js using `console.log(dateObject)`,  prints the instant of the object. In my case, I am using java.sql.Date which has no time component, hence throws UnsupportedOperationException. Such problem was not in the previous versions and the date got printed as the toString() returned the string but after the v21.0.0 release the same code is throwing exception.

[2021-03-15 09:41] oubidar-Abderrahim commented on #3273
Tracked internally at GR-30019

[2021-03-15 09:47] binoysankar commented on #2150
I am using Micronaut + Java 11 + Redis Cache + native-image, when deployed to k8s I can see the memory consumed per pod is between 45-55 Mi.
When compiled with Java 8 the same application is only utilizing 15-20 Mi.

[2021-03-15 12:02] oubidar-Abderrahim commented on #3274
Thank you for reporting this, this is tracked internally in GR-30022

[2021-03-15 12:19] nemecec commented on #3274
Thank you! Any idea when I can expect a fix? Next release?

[2021-03-15 14:18] kirillp opened #3279 "Run time NPE in Kotlin code"
**Describe the issue**

When I compile Kotlin simple, the result executable crashes with NPE
[code]
**Steps to reproduce the issue**
use my repo: https://github.com/kirillp/graalSamples/tree/kotlin
branch kotlin
mvn clean package

**Describe GraalVM and your environment:**
 - GraalVM version graalvm-ce-java11-21.0.0
 - JDK major version:  11
 - OS: Windows
 - Architecture: AMD64

[2021-03-15 15:30] kirillp opened #3280 "Executable size regression in 21.1"
**Describe the issue**
My simple app compiled by graalvm-ce-java11-21.0.0 is 7500k executable
And if compiled by graalvm-ce-java11-21.1.0-dev - 8M executable

So executable is 500k size bigger, have no differences in source code.

**Steps to reproduce the issue**
Please include both build steps as well as run steps

Use trivial System.out.println(); program
Compile it using graalvm-ce-java11-21.0.

[2021-03-15 17:01] hminukuri-chwy opened #3281 "Bean definition [freemarker.template.Configuration] could not be loaded: Error instantiating bean of type [freemarker.template.Configuration]: null"
**Describe the issue**
Native image throws Error instantiating bean of type [freemarker.template.Configuration]: null , while java jar works fine

**Steps to reproduce the issue**
https://github.com/hminukuri-chwy/graalfreemarkerConfiguration

**Describe GraalVM and your environment:**
Steps to reproduce
./deploy.sh
Invoke lambda function with sample test event
  "body": "{\"name\":\"Testing Graal

[2021-03-15 17:14] olyagpl commented on #3270
@pys-arhs, It's just that this option at one point was renamed from `--tool:native-image-configure` to `--macro:native-image-configure-launcher`. Another point is that this option is only available if native-image got built via `mx` (https://github.com/oracle/graal/blob/master/substratevm/SubstrateVM.md). The Native Image Configure Tool component is not part of any GraalVM release that a user can

[2021-03-15 19:50] mukel commented on #3261
LWJGL tip is now spec-compliant. Minecraft should work now but sadly I cannot test a different LWJGL version using your setup (Fabric Loom).

[2021-03-15 20:12] gruenich commented on #3248
I am associated with dragosroban and a project partner made some progress with regard to h2. We are going to join our knowledge: Either the problem is solved by this knowledge or we get a hopefully more helpful error message. Either way, we are going to report back.

[2021-03-15 20:28] sdeleuze opened #3283 "Make it possible to ignore existing native configuration with the native tracing agent"
One simple but very useful feature would be to allow to ignore existing native configuration with the tracing agent. For example, the agent could be aware of the configuration in `META-INF/native-image/*.json` in the project and generate only what is not already present in this existing configuration.

A very interesting use case would be with [Spring Native](https://github.com/spring-projects-exp

[2021-03-15 23:36] florensie commented on #3261
Thanks for making it happen! I'll see if I can't find a way to test it out with Minecraft again, I'll close the issue until then and report back if I manage to figure it out.

[2021-03-16 06:30] mcraj017 commented on #3275
@kristofvb please share the reproducer

[2021-03-16 06:30] mcraj017 commented on #3276
@joshlong thanks for reporting the issue
we will check it and get back to you

[2021-03-16 06:39] mcraj017 commented on #3276
@joshlong I tried the reproducer and got the below error:
[code]

[2021-03-16 07:04] kristofvb commented on #3275
https://github.com/kristofvb/graalvm-3275

[2021-03-16 07:11] sify21 opened #3285 "runtime error: ClassNotFoundException antlr.CommonToken"
**Describe the issue**
I have a runnable jar, it runs fine with `java -jar`. I used graal agent to generate build configurations, and it builds successfully. But when I run the built binary, it outputs an error:
[code]
I have no idea where this message comes from. So I don't have much useful info.
I debugged the binary twice using gdb, but the program seems to exit with this error at different sou

[2021-03-16 07:12] mcraj017 commented on #3103
@huw0 please let us know if the latest release works, if it doesn't then please reopen the issue

[2021-03-16 07:12] #3103 closed

[2021-03-16 07:17] #3285 closed

[2021-03-16 09:43] mdsina commented on #3252
@chumer I have reproduced problem on "simplified" example. https://github.com/mdsina/graalvm-codecache-leak/blob/main/src/main/java/com/github/mdsina/graalvm/codecackeleak/Main.java

Turned out a little tricky due to reproducing problems.
Also, problem will not reproduced, if profiler attached.

jvm options:
[code]

[2021-03-16 10:31] oubidar-Abderrahim commented on #3277
Thank you for reporting this, the issue is tracked internally by GR-30070

[2021-03-16 12:10] dragosroban commented on #3248
@gradinac  @oubidar-Abderrahim

Thanks for your response here. Indeed, MySQL serves well creating the native-image, but still problems on running it. The application itself works well ( the java one). The created image outputs the following errros:

[code]
How should I figure out here?
The only things that I've changed in the code is replacing the h2 dependency with mysql and the `application.prop

[2021-03-16 14:39] mcraj017 commented on #3216
@StefanOltmann I am able to build the image successfully by removing the java.net classes from native-image arguments in application.properties
`quarkus.native.additional-build-args=--initialize-at-run-time=li.pitschmann.knx.core.utils.Networker\\,li.pitschmann.knx.core.net.HPAI\\,li.pitschmann.knx.core.config.CoreConfigs\\,li.pitschmann.knx.core.body.SearchRequestBody\\,li.pitschmann.knx.core.bod

[2021-03-16 17:37] collinpeters opened #3286 "The `-H:+DumpTargetInfo` argument causes build failure on Windows when working directory and Graal are on different drives"
**Describe the issue**
The `-H:+DumpTargetInfo` causes builds on Windows to fail with `IllegalArgumentException: 'other' has different root`.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. On Windows install GraalVM on C:\
2. Build your native-image from a working directory other than C:\

**Describe GraalVM and your environment:**
 - GraalVM version 20.2

[2021-03-16 18:15] hminukuri-chwy commented on #3281
Closing this adding this dependency fixed issue

  **implementation("io.micronaut.views:micronaut-views-freemarker")**

[2021-03-16 18:15] #3281 closed

[2021-03-16 19:40] StefanOltmann commented on #3216
Ok, for some reason, now it works. Thank you.

[2021-03-16 19:40] #3216 closed

[2021-03-16 23:51] Glavo commented on #2149
What is the current state of the issue?

[2021-03-17 05:36] mcraj017 commented on #3216
great

[2021-03-17 07:45] mcraj017 commented on #3104
@schiebel can you please try 21.0.02
https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.0.0.2
 i tried again and got the below error:
[code]

[2021-03-17 08:01] mcraj017 commented on #3107
@johanvos please use 21.0.02
https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.0.0.2
I have tried and successfully build the image, if you still face the error, please reopen

[2021-03-17 08:01] #3107 closed

[2021-03-17 08:12] mcraj017 commented on #3109
@edrobal I tried the reproducer and got error:
[code]

Please provide the complete reproducer with steps

[2021-03-17 11:14] edrobal commented on #3109
Replace JsPerformanceTest with GraalPerformanceTest and it's OK. I test it with Graal V21.
Regards

[2021-03-17 22:11] dougxc commented on #2149
Still on the to do list but no current activity. As always, external contributions are welcome.

[2021-03-18 08:38] oubidar-Abderrahim commented on #3278
Could you please provide a reproducer for this issue? thanks

[2021-03-18 09:19] mcraj017 commented on #3109
INternal ticket has been raised to look further into this issue

[2021-03-18 09:22] oubidar-Abderrahim commented on #3286
I see you're using an old version of GraalVM, did you try this using one of the latest versions? (20.3.1.2 or 21.0.0.2)

[2021-03-18 11:44] wirthi commented on #3109
Hi @edrobal

There are a several quite significant problems with your benchmark I am afraid.

First, all your results are fundamentally flawed as you don't use _any_ of the results. In your `get*TestDuration` methods, you call the individual functions millions of times, but never actually care about the result. Any clever compiler will just **not** execute the actual function. Now, that most likel

[2021-03-18 11:56] wirthi commented on #3109
Hi,

Running all three of your tests:
[code]
Note that GraalVM is behind on average on test[1] and test[2] but beating Nashorn in the individual run. Must have had a bad start.

Here is my modified benchmark:
[GraalPerformanceTest.zip](https://github.com/oracle/graal/files/6163786/GraalPerformanceTest.zip)

Best,
Christian

[2021-03-18 12:51] RafaelCavazza opened #3289 "com.oracle.svm.core.jdk.UnsupportedFeatureError: OperatingSystemMXBean"
We are trying to collect some runtime and system metrics using the com.sun.management.OperatingSystemMXBean.

Stack Trace:
[code]

Our code:
[code]
GraalVM Version
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06)
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06, mixed mode, sharing)

Enviroment:
 - OS:

[2021-03-18 15:34] Sanne commented on #2762
Hello,

please don't enable `--allow-incomplete-classpath`, it makes building large projects extremely difficult - especially if one wants to produce a reliable application (don't we all want that?).

Also, regarding "since in practice every large project needs to specify this option" : that's not true. All Quarkus applications are built without this option, as we explicitly prohibit using it.

[2021-03-18 17:43] TimMurnaghan opened #3291 "Critical CVEs reported by grype CVE-2020-15505 CVE-2020-15506"
We run our build through a scanner and critical vulnerabilites cause a fail - so we can't currently use graal. (Trying to replace the node docker base image with the graal one ghcr.io/graalvm/graalvm-ce:latest in our build)

Given that it appears to be a problem in visualvm can I:
a) uninstall it? But there's no obvious package in rpm
b) get it upgraded to a fixed version?
c)  Raise this issue the

[2021-03-18 17:55] #3267 closed

[2021-03-18 18:04] christianwimmer commented on #2762
@Sanne I'm glad to hear that Quarkus does not need `--allow-incomplete-classpath`. I totally agree that it makes applications more robust.

From a "works out-of-the-box" point of view, it is bad though because many libraries have "dangling" dependencies that are just ignored on HotSpot but causes native image build errors. So the my current thinking is to make `--allow-incomplete-classpath` the de

[2021-03-18 18:33] Sanne commented on #2762
@christianwimmer that makes sense, thank you!

If we can simply revert to the current semantics I see no problem; we already do the same for e.g. not discovering all Services by default (only the ones explicitly chosen) and defaulting to build-time-initialization for most classes (with explicit exceptions). We really like the better optimisations that GraalVM can do in such configuration.

[2021-03-18 21:19] cnuernber opened #3292 "Convert a long address into a VoidPointer"
**Issue Description**

I am failing to find a valid codepath to, given a long address, create a VoidPointer pointer type for a native library binding.  Simply implementing the VoidPointer interface in a [straighforward]( way yields:

[code]

**Steps to reproduce the issue**

Please include both build steps as well as run steps
1. git clone https://github.com/cnuernber/dtype-next
2. git checkout gr

[2021-03-18 23:32] cnuernber commented on #3292
Closing this; WordFactory works fine as long as it is used in the right context.  Sorry about issue noise!

[2021-03-18 23:32] #3292 closed

[2021-03-19 00:59] michelou opened #3293 "Build failure when generating Scala 3 compiler image on MS Windows"
**Description**
Our objective is to create Windows executables for the Scala 3 command line tools, i.e. to run `scalac.exe` instead of `scalac.bat` (`java.exe`+jars).

- Messages like `warning: unknown locality of class ...` and `GR-7731: Could not find the enclosing method of class ...` appear during the build process. **NB.** See also issue #1857.
- If available the Windows executable ends with

[2021-03-19 02:29] netroby opened #3294 "Is it possible graal can handle compile dependencies itself, like golang, rust?"
I am not good at configure Visual Studio. but i want to try GraalVM, I only well on coding with Java.

I failed to configure GraalVM to build native image on Windows 10, To configure the VisualStudio make too hard to work.
Not me, i found many bug report on the issue list.

We shall be more easy to deal with it .

Can graalVM build native image without these too complex setup step?

I am also try

[2021-03-19 03:39] acertain opened #3295 "A way to pass arguments in registers instead of CallTarget arguments array"
Currently the only calling convention available to truffle languages is `Object[]`. It'd be nice if there was a way to pass arguments directly in registers.

Maybe something based on `MethodHandle`?

#2100 is related

[2021-03-19 04:59] mcraj017 commented on #3279
@kirillp thanks for reporting the issue
we will look into it and get back to you

[2021-03-19 04:59] mcraj017 commented on #3280
@kirillp please provide the reproducer

[2021-03-19 05:20] himanshusharma30 commented on #3278
`org.graalvm.polyglot.Context.Builder builder = Context.newBuilder();
		builder.allowAllAccess(true);
		try (Context context = builder.build()) {
		context.eval("js", "console.log(new java.util.Date()); console.log(new java.sql.Date(new java.util.Date().getTime()))");
		}`

In version previous to 21.0.0, this code gives output as

Fri Mar 19 10:50:07 IST 2021
2021-03-19

but in versions on and aft

[2021-03-19 05:43] krisewang-cell commented on #617
use Configure Proxies # is helpful

[2021-03-19 06:18] kirillp commented on #3280
What is not clear?
To reproduce compile a trivial single line program.
System.out.println();  with 21.0 and 21.1

[2021-03-19 06:26] mcraj017 commented on #3140
@kwang1 closing this issue as there is no response from user from last 1 month

[2021-03-19 06:26] #3140 closed

[2021-03-19 06:41] ruanzhi opened #3296 "java run c++ find LoadNativeNode is called with unexpected arguments Exception"
Describe GraalVM and your environment :

openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment GraalVM CE 20.3.1 (build 11.0.10+8-jvmci-20.3-b09)
OpenJDK 64-Bit Server VM GraalVM CE 20.3.1 (build 11.0.10+8-jvmci-20.3-b09, mixed mode, sharing)

Hello there,

I use the "https://www.graalvm.org/reference-manual/llvm/Interoperability/" link to learn how to execute C/C++ in java
code show as

[2021-03-19 10:20] abvijaykumar commented on #3135
Even I had the same issue, when I tried to compile the espresso. I remove WASM and I was able rebuild espresso

[2021-03-19 10:50] edrobal commented on #3109
Hello.
With the last release of GraalVM, i can't run anything. I must wait next release to test.

[2021-03-19 11:16] wirthi commented on #3109
Hi @edrobal

what is the problem there? I was running this with GraalVM 21.0.0.

Best,
Christian

[2021-03-19 11:20] edrobal commented on #3109
I don't know. I install v 21.0.3 and nothing start anymore. And without any error message. I'm on Linux desktop.

[2021-03-19 12:46] wirthi commented on #3109
Such version does not exist. Latest official release is `21.0.0.2`, latest nightly builds (dev builds) are at `21.1.0-dev`.

You should see a version number when you run `/path/to/your/graalvm/bin/java -version`. What does your java print then? Are you sure you have that version on your `$PATH`?`

Best,
Christian

[2021-03-19 12:54] florensie commented on #3261
I added the latest LWJGL version to my testing environment (https://github.com/florensie/espressotest).
[code]

However, the verifier still gets hung up at the same spot. Disabling the verifier with `-Xverify:none` again seems to work until a segmentation fault occurs much later during launch.
[code]

[2021-03-19 13:00] plokhotnyuk commented on #3232
On all JVMs the `-XX:+UseParallelGC` options was turned on. Full list of JVM options that are set for all JVMs is [here](https://github.com/plokhotnyuk/jsoniter-scala/blob/master/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/CommonParams.scala).

[2021-03-19 13:21] timfel commented on #3160
There is no interesting information in the log. Is there any chance you can share the script (even if it's not a deterministic reproducer). Are you loading any Python packages that are C extensions (like struct or numpy)?

In any case @mcraj017, this looks more like a compiler bug to me, so probably something for the compiler team to look at.

[2021-03-19 13:32] fra-orolo commented on #3160
Not at all, the executed script is just pure Python 2.7 that works nicely on Jython and also works with Graal-Python, if it is not processing a lot of data. But If i benchmark with a 10^5 numbers to normalize, it starts crashing.

The point where it crashes is the removal of our Python -> Java API bindings from the shared namespace. Interestingly this works without crashing, when I fill a Python d

[2021-03-19 13:39] ondokuzz commented on #2842
we get the same problem with graalvm-ce-java8-21.0.0.2.
but no problem with graalvm-ce-java11-21.0.0.2.

do we have any workaround for java8?

[2021-03-19 13:51] timfel commented on #3160
@chumer from the log and the description it seems to like the crash is trying to call a compiled removeMember on the polyglot bindings object. Any ideas?

[2021-03-19 14:00] oubidar-Abderrahim commented on #3291
@TimMurnaghan Thank you for reporting this issue. we did check the dependencies in question and it does not seem to be an actual vulnerability with GraalVM, This looks more like a false-positive or some misinterpretation from the scanner itself.

[2021-03-19 14:15] mukel commented on #3261
I tried a fresh GraalVM (build from sources) and the issues with Espresso are fixed.
Fixes will go live with GraalVM 21.1 , in the meantime you can find GraalVM dev builds in https://github.com/graalvm/graalvm-ce-dev-builds/releases (I don't think they contain the Espresso patch yet).

Minecraft 1.16.5 is not compatible out-of-the-box with LWJGL >= 3.3.0, vanilla HotSpot crashes the same way.
Stac

[2021-03-19 14:42] shelajev commented on #3280
I assume this is reproducible with the hello world:
[code]

@kirillp  please confirm if that's the case, thank you.

[2021-03-19 14:48] florensie commented on #3261
Yeah I didn't consider that. It seems to work fine for me at least on hotspot 15 but it might be down to the natives/platform. I'll give it a go when another dev build goes live.

[2021-03-19 14:48] #3261 closed

[2021-03-19 14:50] jerboaa opened #3297 "native-image on applications using com.sun.jndi.ldap.ServiceLocator fail"
**Describe the issue**
https://github.com/oracle/graal/commit/11b9817fb341f9447c300304fe461933bf79c2aa#diff-8ea159555f76609d835155ca3b7f534b8a5adbb932fa6366c4db09a5b2ec2275R62 banned Random/SplittableRandom from the image heap. As it turns out there is still some usage of `java.util.Random` in `com.sun.jndi.ldap.ServiceLocator` (part of OpenJDK 11), which isn't properly configured to get runtime-r

[2021-03-19 14:50] jerboaa commented on #3297
I should have a PR which fixes this issue available shortly.

[2021-03-19 15:11] kirillp commented on #3280
Right, the issue here is that we see +500k grow in executable size

[2021-03-19 15:20] mukel commented on #3261
It fails for me on vanilla OpenJDK 8, 11 and 15. I'm on Linux (Arch-based distro).

[2021-03-19 15:21] edrobal commented on #3109
Yes it is 0.2

[2021-03-19 15:33] LarsEckart commented on #3269
I'm running into the same issue. When using [this GitHub action](https://github.com/marketplace/actions/setup-graalvm-environment) on a self hosted windows runner, the build will fail with the following message `Error opening zip file or JAR manifest missing : C:\...\GraalVM\21.0.0-2-java11-amd64\x64\lib\svm\builder\svm.jar` and indeed, the file is not present.

When I download the installer zip a

[2021-03-19 15:37] florensie commented on #3261
Weird, it worked for me on arch with the `jdk-openjdk` package.

[2021-03-19 15:39] vjovanov commented on #2842
No, there is little reason to support Java 8 for native image as the same code should run on 11 and produce a final executable that behaves equivalently.

[2021-03-19 16:18] mukel commented on #3261
I'm probably hitting something similar to this: https://github.com/LWJGL/lwjgl3/issues/602
My laptop integrated GPU (Intel 620) doesn't support `GL_NV_vertex_buffer_unified_memory`, not sure if `glEnableClientState` exists but it seems not.
Do you have it when you run `glinfo`?
I also tried on my desktop computer (fanless AMD video card) and I got the same error.

[2021-03-20 22:12] ScalaWilliam commented on #373
@sanzinger @vjovanov  when I google 'graalvm ios', I get to this github issue, and I get the impression that iOS would not be supported by GraalVM.

But then there are pages like this https://github.com/lazar-mitrovic/GraalREPL

What is the situation? Can you share a clarification? It seems users could be very confused.

I only know to look into this beyond this GitHub issue because I am familiar

[2021-03-21 18:05] soynomm opened #3299 "native-image says error looking up CFStringCreateWithCharacters on MacOS"
**Describe the issue**
I'm using a Java library io.methvin.directory-watcher version 0.15.0 and from what I can gather it uses the MacOS native `CFStringCreateWithCharacters` at some point of its process, but GraalVM native image will prompt an error that it could not look this function up.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **Install  `io.met

[2021-03-21 20:06] messages-one commented on #3248
This doesn't seem like a  GRAAL vm issue but rather to do with your jpa mappings.

[2021-03-22 00:04] acertain opened #3301 "Source.CONTENT_NONE breaks IGV and graal.Dump"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: 21.0.0.2
 - CE or EE: I think both? but this stack trace iirc is from EE
 - JDK version: graalvm-ee-java11-21.0.0.2
 - OS and OS Version: linux nixos
 - Architecture: amd64
 - The output of `java -Xinternalversion`: Java HotSpot(TM) 64-Bit Server VM (11.0.10+8-LTS-jvmci-21.0-b06) for linux-amd64 JRE (

[2021-03-22 06:49] mcraj017 commented on #3289
@RafaelCavazza thanks for reporting the issue
we will take a look and get back to you

[2021-03-22 06:54] mcraj017 commented on #3289
I tried a simple sysout with GraalVM CE 21.0.0.2 and it worked
please provide specific reproduer :
[code]
output
[code]

[2021-03-22 09:53] sdeleuze opened #3302 "Introduce an official native image Gradle plugin"
As discussed with @vjovanov and @thomaswue, it would be great to see the GraalVM team introducing an official native image Gradle plugin that would provide the same features than the Maven one. Both could share the same core.

That would avoid the multiplication of the unofficial Gradle plugins:
 - https://plugins.gradle.org/plugin/org.graalvm.plugin.native-image (you may want to contact the autho

[2021-03-22 14:29] oubidar-Abderrahim commented on #3286
Internally tracked in GR-30312

[2021-03-22 14:32] galderz commented on #2129
Last week I had a look to see how different build times are. Running David's native image test in the description in my local environment, GraalVM CE 21.0.0.2 Java 11 is ~8-9% slower compared to the Java 8 version.

As @cstancu said on [this comment](https://github.com/oracle/graal/issues/2129#issuecomment-618709982), the fact that `com.oracle.truffle.api` classes are loaded by the ImageClassLoade

[2021-03-22 17:38] chumer commented on #2100
We are already performing some of the mentioned optimizations on SVM EE.
On SVM EE the Object[] is virtualized the call site and the callee. Any Java primitive will be passed by value instead of reference, hence there is no Java boxing overhead at call boundaries. We have ideas to support more values like this. E.g. values that are annotated with `@CompilerDirectives.ValueType` but I cannot provid

[2021-03-22 17:41] chumer commented on #3295
I answered a similar question here https://github.com/oracle/graal/issues/2100#issuecomment-804260355. Let me know if this is helpful.

[2021-03-22 18:25] acertain commented on #3295
Hm, really I'd like a way to declare function signatures then do indirect calls to matching signatures. I couldn't find any documentation about the SVM EE feature, but I assume it only works on direct calls (but maybe you resolve all indirect calls to direct calls)?

[2021-03-22 18:43] acertain commented on #2100
I guess what eliasvasylenko means by "If we have the opportunity to choose an appropriate carrier type for the whole arguments list this can allow us to flatten primitive arguments into it." is that e.g. I can have a family of classes `Args_n_m` with n Object fields and m long fields, then choose the appropriate Args class for each function depending on its type or maybe even dynamic arguments sha

[2021-03-22 20:09] chumer commented on #2100
Yes that would be relatively easy(tm). But not sure this is what you want and need.
There are certain advantages to using Object[]. I will try to explain what i mean.

With Object[] we automatically virtualize on the caller and callee side, as well as we automatically inject the exact argument profile at the callee side. We can only do this because it is an Object[] and we know how to reallocate a

[2021-03-22 20:10] gigiblender opened #3303 "Service provider exception when dumping the CFG"
**Describe the issue**

Running `$JAVA_HOME/bin/java -XX:-TieredCompilation -Xcomp -Dgraal.Dump=*:1 -Dgraal.PrintCFG=true -XX:CompileOnly=Main::testMethod Main` with `JAVA_HOME` pointing to GraalVM CE 21.0.0.2 will dump the CFG up to the `PostAllocationOptimizationStage`. The `code generation` and `code installation` phases will not appear in the dump.

![image](https://user-images.githubuserconte

[2021-03-22 21:31] chumer commented on #3295
Sorry I haven't seen this comment before I wrote my response in the other issue.

Not yet. But we should really do that. Indirect calls were not really a big focus yet, as we expect inline caches to be there.

I see your use-case now. I think with the static object model approach we could do indirect calls efficiently as well.

[2021-03-23 03:09] RafaelCavazza commented on #3289
Hi @mcraj017!

Thanks for the response.

I built the native-image using:
```mvn clean package -DskipTests  -Pnative```

Then a ran the binary using: ```./target/MY_PROJECT```

My code:

[code]
The error:
[code]

[2021-03-23 03:21] mcraj017 commented on #3296
@ruanzhi thanks for reporting the issue
We will take a look and get back to you

[2021-03-23 03:31] mcraj017 commented on #3297
@vjovanov please close this issue, once you merge the related PR

[2021-03-23 11:13] oubidar-Abderrahim commented on #3278
Thank you for reporting the issue. It is tracked now internally by GR-30325

[2021-03-23 13:00] chumer commented on #3273
Thanks for the report.

We want to move away from using Thread.interrupt for interruption in general in 21.2. Until then we can maybe handle interrupt more gracefully.

[2021-03-23 15:06] petermz commented on #2825
Hi @gradinac, sorry to disturb you but do you think we'll be able to work on integrating this patch anytime soon?
If yes, I will work on resolving conflicts and re-merging the master branch

[2021-03-23 17:03] chumer commented on #3273
We think we have already fixed this in latest.
@kustosz Can you double check wheter this still happens on latest?
You can find a latest snapshot build in: https://github.com/graalvm/graalvm-ce-dev-builds/releases/
We will add a test for this in the meantime.

[2021-03-24 07:21] mcraj017 commented on #3289
@RafaelCavazza thanks I am able to reproduce it and it will be resolved in future releases

[2021-03-24 09:40] iamrecursion commented on #3273
Initial news is positive. The above reproducer does indeed appear to be fixed and behave as expected on [21.1.0-dev-20210324_0142](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210324_0142). Before calling this truly fixed, however, I need to see if the problem as we encountered it in Enso is fixed. Expect updates in a day or so.

[2021-03-24 10:39] ilopmar opened #3305 "Failed to leave the current IsolateThread context and to detach the current thread. (code 12) with Micronaut and LDAP"
**Describe the issue**

We have in Micronaut a test application for Micronaut Security and LDAP. To make it work as a native image we've used the tracing agent to add the following reflection configuration that we've already included in Micronaut Security. The test application works as a native image using Java 11:

[code]

For Java 8 this doesn't work. Using the tracing agent again we've discover

[2021-03-24 11:57] radeusgd commented on #3273
To be able to build our project, we also need the variant of `truffle-api.jar` that has the open modules (normally I think it is available on https://mvnrepository.com/artifact/org.graalvm.truffle/truffle-api/21.0.0.2 ) (so its `module-info` contains `exports com.oracle.truffle.api;` and not `exports com.oracle.truffle.api to ...;` as the one in the distribution).

Is it possible to somehow get th

[2021-03-24 13:55] mukel opened #3306 "Support context pre-initialization in Espresso."
**Feature request**

Espresso can take advantage of context pre-initialization by pre-parsing core classes required to boot the VM. A previous prototype (parser only caching) halved startup time e.g. time to boot the VM.

**Describe the solution you'd like.**
Caching (of metadata) can be implemented at several levels:
  - Parser e.g. `byte[]` -> `ParserKlass`
  - Linked metadata e.g. `(ParserKlass

[2021-03-24 15:54] hminukuri-chwy commented on #3148
I am running into this error when I add this library ,
java.lang.ClassNotFoundException: com.lowagie.text.pdf.PdfName

 implementation group: 'com.lowagie', name: 'itext', version: '2.1.7', ext: 'pom'
Tried to add above lib to resolve it , still running into same error

any thoughts ?

[2021-03-24 16:04] woess commented on #3129
If you write/generate a Java interface for a JavaScript library, then can just use `Value.as(JavaInterface.class)` and GraalVM will automatically generate a wrapper class for this interface.

e.g.:
[code]

You still need to define the Java interface yourself. This isn't something GraalVM can do for you. You'd need a TypeScript definition file (.d.ts) to Java compiler for that.

[2021-03-24 17:16] matneu commented on #1752
This is a false positive. We are working with Microsoft to resolve the issue.

[2021-03-24 19:19] cstancu commented on #3293
The warning message mentioning `GR-7731` was removed in 04788ced5ac2c83d076332dacc23d7124360eb44. Missing the enclosing method of a class is most likely due to invalid bytecode. Since Native Image eagerly queries class metadata this shouldn't cause an error in practice unless code relies on the enclosing method of exactly that class.

We have seen this issue in ECJ generated code which seems relat

[2021-03-24 20:49] gradinac commented on #2825
Hey @petermz, thank you for your contribution! :)
I have some things that I need to finish up, but I will probably have time to look into this sometime next week - I'll post an update here as soon as I can.

[2021-03-24 20:52] collinpeters commented on #3286
I have not. I see that the call to `relativize` is still present in the 21.0.0.2 `VMFeature` so I think it will still be there.

[2021-03-25 00:27] kenpb commented on #2552
Hello,

Sorry to jump in @cstancu just found this issue as I reached the same point as @mttcr any updates?

    GraalVM version: GraalVM Version 21.0.0 (Java Version 1.8.0_282-b07)
    JDK major version: 1.8.0
    OS: Mint 19.04 LTS
    Architecture: x64

[2021-03-25 05:36] mcraj017 commented on #3299
@soynomm thanks for reporting the issue
we will check it out and get back to you

[2021-03-25 07:42] b3nb1 commented on #2940
Could you please stop telling ```--report-unsupported-elements-at-runtime``` does help. I read this in several threads now. All this does is moving the problem from build time to runtime. Its like building a car with no engine and ignoring it at build time -no-errors here. Start the car and -well, surprise it does not work! Why? cause you did NOT fix the problem, you moved it!

[2021-03-25 12:36] iamrecursion commented on #3273
Alrighty, a bunch of `--add-open`s fixed our build issue for the purposes of testing and it looks like this has indeed fixed the issue we were seeing! Both the repro and the Enso interpreter now behave as expected. Thanks so much!

[2021-03-25 19:02] skyhunter555 opened #3308 "Error compile Spring Boot app on mvn clean package on native image profile"
Errors compile Spring Boot on running
mvn -Pnative clean package

Steps to reproduce the issue:
1. git clone --depth 1 https://github.com/skyhunter555/integration_artemis/tree/develop_mapstruct_graal
2. mvn clean package
3. java -agentlib:native-image-agent=config-output-dir=${MI}/native-image -jar target/integration-artemis-1.0.0.jar
4. mvn -Pnative clean package

GraalVM and my environment:
 - G

[2021-03-26 08:00] dragosroban commented on #3248
This topic is open.
Can someone please address this?

@messages-one This has nothing to do with the mappings. The application works just fine standalone.
Are there some special mappings made for GRAAL? If yes,  then please reveal some documentation in order to see this.

Thank you,
Draogs.

[2021-03-26 08:12] messages-one commented on #3248
Hi! Draogs
 There are no special mappings to get it working as a native image.
I 'm assuming you are using hibernate version upward of 5.

[2021-03-26 08:17] echoinacup opened #3309 "[dap] SEVERE: Index 0 out of bounds for length 0"
**Described GraalVM and your environment :**
 - GraalVM version **[graal-sdk-20.3.0]**
 - **[CE]**
 - JDK version: **[e.g.: JDK11]**
 - OS and OS Version: **[macOS BigSur 11.2.1]**
 - Architecture: **[x64]**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?** YES
You can find snapshot builds here: https://github.com/graa

[2021-03-26 08:17] messages-one commented on #3248
Hi! dragosroban

   Can you share the project ?

[2021-03-26 08:24] dragosroban commented on #3248
Hello @messages-one,

The project is public: https://github.com/dragosroban/spring-native
For this specific issue please use branch "fearture/mySqlConnectivity"

[2021-03-26 09:10] ilopmar opened #3310 "jdk.vm.ci.common.JVMCIError: Unknown JvmConstant tag 17 with Micronaut and Java 16"
**Describe the issue**

I've given a try to create a native image with Micronaut and Java 16 but the process fails with the error: `jdk.vm.ci.common.JVMCIError: Unknown JvmConstant tag 17`. See the full stacktrace bellow.

**Steps to reproduce the issue**

- `git clone https://github.com/micronaut-graal-tests/micronaut-basic-app`
- `cd micronaut-basic-app`
- `git checkout jdk16`
- Use GraalVM for

[2021-03-26 09:28] petermz commented on #3308
Looks like some -devel package is missing, as it seems unable to find libc header files

[2021-03-26 10:00] tzezula commented on #3301
Fixed in graalvm-21.1.
https://github.com/oracle/graal/commit/35a07adf4249afbf19aec5db02b291da2d8a3749

[2021-03-26 10:00] #3301 closed

[2021-03-26 10:02] oubidar-Abderrahim commented on #3303
Thank you @gigiblender for reporting this.

@dougxc Could you please advise on this issue?

[2021-03-26 11:07] dougxc commented on #3303
There is a simple fix for this:
[code]
@oubidar-Abderrahim could you please help merge that fix.

[2021-03-26 11:38] eix128 commented on #3129
Why there is no java interface generator script ?
It wont be hard to make such utility for GraalVM.

[2021-03-26 13:30] acron0 commented on #768
@PGoski this json file, with `-H:ReflectionConfigurationFiles=reflectconfig` didn't work for me

[2021-03-26 14:14] BoyceMa opened #3311 "About the error when building native-image with WSL2"
![image](https://user-images.githubusercontent.com/11460761/112644336-43d62d80-8e80-11eb-97c9-9c74958d7217.png)

[2021-03-26 14:37] mitchelladam opened #3312 "native-image-agent not respecting filter config for serialization-config.json"
**Describe the issue**
When using the native-image-agent to generate the json configuration files, access and caller filters are not being respected with regards to serialization-config.json. neither blanket nor specific excludeClasses work

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone https://github.com/mitchelladam/graalvm-example.git
2. dock

[2021-03-26 15:25] tzezula commented on #3273
Fixed by 9e83f61934aae0da785a7bb6483384ce9c283b46 in the graalvm-21.1.

[2021-03-26 15:25] #3273 closed

[2021-03-26 15:35] joelpramos commented on #631
Another vote to share binding across contexts. Finding that when I have functions jumping between Java -> JavaScript -> back to Java Graal passes them as Polyglots which are internal classess of the truffle API so even trying the workarounds of obtaining the Source, as described in this thread, is incredibly complex. This seems like imposing a "limitation"/design of a language (JS) into an a frame

[2021-03-26 19:02] jerboaa opened #3313 "native-image bash launcher reports different version than native binary"
**Describe the issue**
A recent master build from source, revision 32645548c1f3d09a7a077084fb530d6b8061b5e6, produces different versions for bash launchers vs. a produced native via `--macro:native-image-launcher`.

Bash launcher:
[code]

Native launcher:
[code]

**Steps to reproduce the issue**
1. Produce a native image with a bash launcher:
[code]
2. Produce a native image binary for the launche

[2021-03-26 19:03] jerboaa commented on #3313
@olpaw Is this intentional? If so what's the recommendation to produce similar version output for bash launchers?

[2021-03-26 19:57] kristofdho commented on #3312
Can you verify on a dev build? I think this should be fixed by https://github.com/oracle/graal/pull/3268

[2021-03-27 11:52] mipastgt commented on #2842
I still get this error on macOS with graalvm-ce-java11-21.0.0.2. I am a bit confused about the status of this issue.

[code]

[2021-03-27 12:55] cnuernber opened #3314 "Native Linker - missing symbol when using JDK-16 Memory Model"
**Describe the issue**
When compiling a codebase that uses the jdk-16 memory model into a native application you will get (at the very least) linker errors:

[code]

**Steps to reproduce the issue**
1.  Get JDK-16-enabled graalvm
2.  Use scoped memory segments in your application
3.  Compile to native application

**Describe GraalVM and your environment:**
 - GraalVM version `graalvm-ce-java16-21.

[2021-03-27 15:04] soynomm commented on #3299
On further investigation I think it's because it's using JNA (Java Native Access) behind the scenes, and (I think) it's not supported by GraalVM. I'm not sure if this helps at all, but it's all I got.

[2021-03-28 07:26] cyraid commented on #287
Kotlin native has about a 500K for a Hello World without debug?

[2021-03-28 10:51] soynomm commented on #1051
I'm not sure why this issue has been closed. Do you consider the dirty hack above as a sufficient enough solution? Are there plans to make this a native option for GraalVM?

[2021-03-28 10:52] soynomm commented on #907
I'm also interested in knowing how to add a app icon to the executable.

[2021-03-28 11:53] douglashg commented on #3000
I also had the same error. Is there any forecast for correcting this error?

[2021-03-29 08:18] olpaw commented on #3313
Yes. This is intentional. Only if you build a native-image **image** you will get reported `GraalVM 21.1.0-dev Java 11 CE (Java Version 11.0.9+10-jvmci-21.0-b02)` because that is what that image then actually is (the driver executable image produced by GraalVM 21.1.0-dev Java 11 CE). If you run the driver as an ordinary JVM application (i.e. via bash/cmd-launcher) it will now report running as suc

[2021-03-29 08:18] #3313 closed

[2021-03-29 08:32] jerboaa commented on #3313
OK, thanks!

[2021-03-29 11:10] chumer commented on #3260
@eduveks thanks for the report!

Are you reloading classes e.g. using a custom host class loader or some application server? It looks to me as if our host member/method lookup cache seems to be missed a lot.

If this is true then the current behavior might be not ideal but is expected. We currently do reference bound host methods strongly. A workaround is to recreate the Engine (or Context if you

[2021-03-29 11:32] mitchelladam commented on #3312
confirmed fixed in 21.1.0-dev-20210325_0249
see: https://github.com/mitchelladam/graalvm-example/tree/dev-build

[2021-03-29 11:32] #3312 closed

[2021-03-29 12:28] oubidar-Abderrahim commented on #3309
Thank you for reporting this, Could you please try with either 21.0.0.2 or 20.3.1.2 and see if the issue persists?

[2021-03-29 12:36] oubidar-Abderrahim commented on #3087
@davidpcaldwell Could you please confirm if this is still an issue?

Could you please install the latest version of the GraalVM extension and from within the extension click "Add Existing GraalVM" and point to your GraalVM installation? please let us know if you still face an issue with it.

Thank you

[2021-03-29 12:45] petermz commented on #2237
Seems fixed! Works for me in version 21.0.0.2

[2021-03-29 13:10] echoinacup commented on #3309
@oubidar-Abderrahim thank you for such a quick response!
Could you please take a look on the screenshot below:
<img width="1028" alt="Screenshot 2021-03-29 at 15 04 34" src="https://user-images.githubusercontent.com/12871695/112841484-d05f3680-90a0-11eb-83dd-c681dc07eaae.png">

[2021-03-29 13:11] zakkak commented on #3313
Hi @olpaw ,

I am still a bit confused about this. In the case of tha bash-launcher we have a bash script that starts the Java application `com.oracle.svm.driver.NativeImage` so passing `--version` to it should print the version of that application and not the version of the JVM (or at least not only that).
Furthermore, I would expect `java MyApp --version` to give the same result as `native-image

[2021-03-29 13:24] zakkak commented on #3118
Hi @gilles-duboscq,

In the meantime could we please have access to the commit hash of the public repository on which the internal release branch for the next feature release is based? This would allow us to have a better view of which changes from `master` are expected to land in the upcoming feature release (e.g. the upcoming 20.1.0).
A possible approach would be to send an email to the graalvm-

[2021-03-29 13:43] borkdude commented on #2892
When setting the`java.home` property manually I get a different error:

[code]

[2021-03-29 13:49] oubidar-Abderrahim commented on #3309
I couldn't reproduce this issue on my macOS Catalina, maybe it is specific to Big Sur. I will try to find a suitable machine to test.
Also, if it possible for you to test in another macOS version or in Linux, this would be very helpful.

[2021-03-29 13:50] echoinacup commented on #3309
I will ask my colleague and I will let you know as soon as possible :)

[2021-03-29 14:24] olpaw commented on #3313
We use `System.getProperty("java.vm.version")` because for us the driver is always shipped as image. The bash/cmd-launcher for us are only intermediate ways of using native-image (bootstrapping). If you need a custom `--version` output for your usecase of always running the driver via launcher please provide a PR that adds this. E.g. you could add something like
[code]

[2021-03-29 14:55] ivan-ristovic opened #3316 "RuntimeException while using `-H:+PrintUniverse` option"
**Describe the issue**
Invoking native-image with `-H:+PrintUniverse` diagnostic option throws a RuntimeException. This happens regardless of the source code, the issue can be reproduced even with a simple "Hello world" program.

**Steps to reproduce the issue**
1. Create a simple HelloWorld program
2. Invoke `native-image` with `-H:+PrintUniverse` option
3. Observe the error

**Describe GraalVM a

[2021-03-29 16:37] zakkak opened #3317 "Quarkus integration-tests/jgit fails to parse bytecode"
**Describe the issue**

As reported in https://github.com/graalvm/mandrel/issues/226 there seems to be a bug which doesn't reproduce 100% of the time.
When using a graal vm 21.1-dev build from https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210323_2140 and trying to generate a native-image from `integration-tests/jgit` will sometimes fail with a bytecode parsing error. C

[2021-03-29 17:05] christianwimmer commented on #3317
Thanks for the report, I'm working on a fix to make that code more robust

[2021-03-29 19:59] brunocaballero opened #3319 "Error: Missing CAP cache value for: NativeCodeInfo:JNIHeaderDirectives:ConstantInfo:JNI_ABORT"
**Describe the issue**
The file JNIHeaderDirectives.c is sometimes incomplete, when generating the files for the target linux-aarch64. The error only happens randomly on about 50% of the tests.

**Steps to reproduce the issue**
1. Download both GraalVM CE 21.0.0.2 for linux amd64 and aarch64 and install native-image on both.
2. Copy all libraries from the aarch64 image into amd64 image.
3. Generat

[2021-03-29 20:52] davidpcaldwell commented on #3087
Thanks, I'll have a look again today (maybe tomorrow) and see what the state of this is.

[2021-03-29 21:08] christianwimmer commented on #3317
https://github.com/oracle/graal/pull/3318/files should fix the problem.
I was not able to immediately build Quarkus from source and run the tests, so can you please veriy if my PR fixes the problem?

[2021-03-30 10:16] echoinacup commented on #3309
I've tried on my colleague's  machine with the same MacOs and it works fine. I've reinstalled the latest version of Graalvm and reconfigured my local setting for the debug etc. The issue is gone. Thank you a lot again!

[2021-03-30 10:16] #3309 closed

[2021-03-30 10:32] oubidar-Abderrahim commented on #3311
Hi @BoyceMa

Please respect the template for opening issues in Graal Project providing a clear description of the issue, code & steps to reproduce, and information about the environment used for it.

I will close this issue, please create a new one with the required information and we will gladly look into it and provide support for it.

Thank you.

[2021-03-30 10:32] #3311 closed

[2021-03-30 10:39] oubidar-Abderrahim commented on #3314
Hi @cnuernber
Is it possible for you to provide a small reproducer for this issue? that would be greatly helpful of you

[2021-03-30 11:14] woess commented on #3129
JavaScript sources do not provide the type information that would be needed to generate a typed Java interface (which I think is what you want), and parsing TypeScript is out of scope of GraalVM currently. We welcome community contributions, though!

Closing this since we don't have plans to make such a tool.

[2021-03-30 11:14] #3129 closed

[2021-03-30 11:46] radeusgd commented on #1724
What is the status of this? Are there plans to notarize the Graal packages in the near future?

[2021-03-30 11:49] zakkak commented on #3317
Thanks for the quick fix Christian, I tried it about 10 times and I was not able to reproduce (it used to appear about 1 out of 3 times).

[2021-03-30 13:34] cnuernber commented on #3314
My pleasure:

https://github.com/cnuernber/gn-issue-3314

[2021-03-30 14:52] eix128 commented on #3129
With transcoder facebook project , you can convert javascript to java directly.
Maybe you can use such tool in future.
I just give you links maybe you can look detailed.
These tools will help you:

https://www.youtube.com/watch?v=1VHtP5FV0kM
https://www.youtube.com/watch?v=xTzFJIknh7E
https://github.com/facebookresearch/TransCoder

[2021-03-30 14:54] gilles-duboscq commented on #3118
FYI, the `release/graal-vm/21.1` branch is now mirrored so you can see all the backports to that branch

[2021-03-30 15:26] zakkak commented on #3118
Thanks @gilles-duboscq, that helps a lot.

Is this now the new standard or just an one off? i.e. may we close this Issue or not?

[2021-03-30 15:49] gilles-duboscq commented on #3118
For "feature" releases such as 21.1 we want to continue doing that.

However my understanding was the the original issue was about maintenance releases on other supported branches (e.g., 20.3.1 back then or 20.3.2 now).

[2021-03-30 16:32] zakkak commented on #3118
Correct, the issue is for both feature and CPU releases, so ideally we would like to have access to (the non CPU-related parts of) 20.3.2 and 19.3.6 along with 21.1.0.

[2021-03-30 16:34] eduveks commented on #3260
Hello @chumer,

I did another round of stress test, with screenshots below and here the hprof file made a few minutes ago:

- https://netuno.org/heapdump-1617120295618.hprof.zip

Yes, it is an application server, the Netuno platform, with Jetty Server inside and runs over GraalVM.

You can check out [Netuno Install](https://doc.netuno.org/docs/en/installation/).

The installation will download and

[2021-03-30 19:47] brunocaballero commented on #3319
Probably fixed in [https://github.com/oracle/graal/commit/3c81d0a6ae3187d8162437474f02d07ad5a9e61a](Make CAP output deterministic. )

[2021-03-30 22:02] zakkak commented on #3272
Hello,

Just an update on this.

Most issues have now been fixed except for;
- Version parsing issue: https://github.com/quarkusio/quarkus/issues/16131 (This one is not causing failures though)
- Bouncy Castle FIPS: https://github.com/quarkusio/quarkus/issues/15889
  PR: https://github.com/quarkusio/quarkus/pull/16105
- Bouncy Castle JSSE: https://github.com/quarkusio/quarkus/issues/14139
- Elytro

[2021-03-31 06:58] mcraj017 commented on #3269
@ebremer I tried to use it on win 10, but i dont get this erro
is there anything specific you are doing with svm.jar?

[2021-03-31 07:37] gilles-duboscq commented on #3118
@ezzarghili can we do that?

[2021-03-31 07:50] jessielesbian opened #3320 "Can we implement JEP 295 in GraalVM, as we have with OpenJDK?"
Can we implement JEP 295 in GraalVM, as we have with OpenJDK?
https://openjdk.java.net/jeps/295

I want to combine the startup performance of native-image with the flexibility of not having to AOT-compile everything and the flexibility of getting to use reflection and JNI more freely of `jaotc`. Also, I want you guys to add profile-guided optimizations and LLVM backend to your implementation of `j

[2021-03-31 09:33] ugonen opened #3321 "closing context with cancel = true hangs canceling thread while infinite javascript loop execution is not canceled"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **[e.g. 19.3]**
 - CE or EE: **[e.g.: CE]**
 - JDK version: **[e.g.: JDK8]**
 - OS and OS Version: **[e.g.: macOS Catalina]**
 - Architecture: **[e.g.: amd64]**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can fin

[2021-03-31 09:54] jerboaa commented on #3297
@vjovanov Any update on this one? You've mentioned in #3298 that the fix will be part of another change. Has that been integrated?

[2021-03-31 13:17] petermz opened #3322 "Wrong parameters in call to RuntimeClassInitialization.initializeAtBuildTime()"
https://github.com/oracle/graal/blob/37989b2fe40feffd7f69f28cbfe46ff231b8cd35/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/management/ManagementFeature.java#L86

I believe this method expects all parameters to be package names. Same for `RuntimeClassInitialization.initializeAtBuildTime`.

I will submit a PR shortly.

[2021-03-31 13:38] argenstijn commented on #2720
Do you still experience the issue using the latest version of graalvm and jaxb?

[2021-03-31 13:49] AntonHofer opened #3324 "FatalError while using -H:-PartialEscapeAnalysis option"
**Describe the issue**
Invoking native-image with -H:-PartialEscapeAnalysis flag results in a RuntimeException.
This happens regardless of the source code, the issue can be reproduced even with a simple "Hello world" program.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Create a simple HelloWorld program
2. Invoke native-image with -H:-PartialEscapeAnal

[2021-03-31 15:11] ezzarghili commented on #3118
I will need evaluate what changes can we share at this point for current releases due to CPU restricted changes, we will take this in consideration for next cycle (which actually will be just 20.3.x releases).

[2021-03-31 15:48] oubidar-Abderrahim commented on #3286
This should be fixed by f55915ac2638559b52d4b369c470f98028f66d72
If not please reopen.

[2021-03-31 15:48] #3286 closed

[2021-03-31 23:08] Jaakkonen commented on #2971
I had same kind of issue with a statically compiled groovy script pulling in `org.jenkins-ci.plugins:job-dsl-core:1.77` with GraalVM JDK 11. With GraalVM JDK 8 the linking passed.

[2021-04-01 01:33] #3317 closed

[2021-04-01 05:52] pramodanarase commented on #631
Any update on this? Is there any plan to fix this issue? Is there any workaround to share value across context?

[2021-04-01 07:48] lizhanhui opened #3325 "native-image build DLL dependency issue"
**Describe the issue**

We are building a DLL out of jar files on the Windows platform with the help of GraalVM native-image. The problem is that the artifact native-image generates depends on private Windows system DLLs, which are not supposed to be used according to this [thread](https://social.msdn.microsoft.com/Forums/en-US/a28331ae-19a3-4a34-b3ba-1e8fd4430375/missing-apimswincore-dlls). This

[2021-04-01 12:46] argenstijn commented on #2720
Can we please have an update on this issue?

[2021-04-01 16:18] ebremer commented on #3269
@mcraj017 nothing special at all.  I've been downloading and doing the same thing I do each time.  My machine is completely up to date including Windows Defender.

[2021-04-01 21:26] ehsmeng-graalvm commented on #3289
Hi, I have a trivial tomcat example that seems to produce the same error

Caused by: com.oracle.svm.core.jdk.UnsupportedFeatureError: Setting a custom URLStreamHandlerFactory.
	at com.oracle.svm.core.util.VMError.unsupportedFeature(VMError.java:87)
	at java.net.URL.setURLStreamHandlerFactory(URL.java:78)
	at org.apache.catalina.webresources.TomcatURLStreamHandlerFactory.<init>(TomcatURLStreamHandl

[2021-04-02 04:52] mcraj017 commented on #3320
@dougxc please advise

[2021-04-02 09:00] mcraj017 commented on #3124
@apetrelli it is working with GraalVM 21.0.0.2, please check
[code]

[2021-04-02 09:03] mcraj017 commented on #3124
@apetrelli please ignore my last comment, I forgot to add --gc=G1 flag,
I can reproduce the issue now, I will report the bug to our dev team

[2021-04-02 11:33] argenstijn commented on #2720
I include a simpleJaxb project which can reproduce this error constantly:
using:
graalvm 21
quarkus 1.13.0
jaxb-extension
[jaxb-bug.zip](https://github.com/oracle/graal/files/6249303/jaxb-bug.zip)

[2021-04-02 13:07] kirillp commented on #3325
It is not an issue, this DLLs are not private.
Also Microsoft toolchain was sued to build the image, so that all is related to the underlying Visual Studio toolchain.
This is not related to GraalVM.

[2021-04-02 13:15] apetrelli commented on #3124
Fantastic! I would like to test G1 GC to see how it behaves in contrast to the default one, thanks!

[2021-04-02 18:55] dougxc commented on #3320
Hi @jessielesbian , for various internal reasons, we have omitted `jaotc` from GraalVM binaries from the very beginning. This decision is very unlikely to be reversed, especially now that OpenJDK has also stopped including `jaotc` by default in binaries (https://bugs.openjdk.java.net/browse/JDK-8255616).
That said, it would be interesting to hear of workloads where you found `jaotc` provided signi

[2021-04-02 20:44] sgyeme commented on #403
Any work around other than gloun. Because so many libraries cannot work with it.

[2021-04-03 01:29] wlnirvana commented on #979
I guess performance improvement is probably not prioritized as opposed to stability, polyglot support, etc. At least a fallback is already available - the JIT version.

[2021-04-04 01:34] smasher164 commented on #381
How does support for Project Loom affect the viability of a truffle implementation for the Go runtime?

[2021-04-04 03:56] eginez commented on #381
It would surely make the implementation of go-routines much easier

[2021-04-04 08:27] jovanstevanovic opened #3326 "Improve support for resource registration"
**TASK**
All resources that should be available at the run time need to be listed at image build time. Currently, all listed resources are included in a non-structured form, i.e., it is not possible to navigate resources like a file system. Also, resources are not separated by the class loader, i.e., every class loader sees all resources.
The image heap must include a virtual file system for the i

[2021-04-04 12:02] lucaswerkmeister opened #3328 "Inexplicable DeniedIOFileSystem/SecurityException when adding simple node to otherwise working language"
**Describe the issue**
lucaswerkmeister/graaleneyj@543c3492e5aa2d87b633fcab51683eba33e6c56c causes all of my tests to fail because the language home apparently becomes inaccessible. I have no idea why that commit should produce such a change in behavior – you can see it just adds a fairly simple node (that I haven’t even started implementing yet).

**Steps to reproduce the issue**
[code]

**Descri

[2021-04-05 01:54] CAFxX commented on #381
One scenario is that of compute-heavy applications; the go compiler is heavily focused on compilation speed, and for this reason it is extremely conservative about which optimizations are performed (inlining is done extremely sparingly, very little devirtualization is supported, no LICM, no autovectorization, very basic native arch detection, and especially no support for PGO). As a result, comput

[2021-04-05 05:27] mcraj017 commented on #3321
@ugonen please share the error stack trace ad a working reproducer

[2021-04-05 05:29] mcraj017 commented on #3322
@petermz noted and thanks

[2021-04-05 06:35] ugonen commented on #3321
@mcraj017  please see the attached complete thread dump.
pluto-exec-pluto.server.exec-dispatcher-64 is the thread which executes the infinite while loop.
pluto-exec-akka.actor.default-dispatcher-14 is the canceling hanged thread

[2021-04-05 09:18] oubidar-Abderrahim commented on #3303
fix merged in 28e94a58852343644ee94922c0a3440f8fcd2b56

[2021-04-05 09:20] oubidar-Abderrahim commented on #3303
If the error still persists after the fix, please reopen this issue.

[2021-04-05 09:20] #3303 closed

[2021-04-05 11:16] oubidar-Abderrahim commented on #3324
Thank you for reporting this issue, it is now tracked internally on GR-30564

[2021-04-05 11:20] #3325 closed

[2021-04-05 20:57] raphw commented on #1065
I am wondering about a thing here: If I use a Java agent in the build that transforms classes of the core libraries which are GPL licensed, would I need to provide sources (byte code) of the transformed methods as those would be considered derivatives of the original classes that are not covered by the class path exception?

[2021-04-06 04:21] mcraj017 commented on #3326
@christianwimmer please advise

[2021-04-06 07:54] jchalou commented on #3321
Please try it with the latest snapshot build: https://github.com/graalvm/graalvm-ce-dev-builds/releases/ If that fixes your problem, then the issue will most probably be fixed also in 20.3.2 version that will be released shortly.

[2021-04-06 12:55] bgmf commented on #3143
@christianwimmer  are there any news on this issue?

[2021-04-06 13:24] chumer commented on #3260
I downloaded the heap dump and computed the retained size and the retained size looks like this:

![Screenshot 2021-04-06 at 15 19 41](https://user-images.githubusercontent.com/4346215/113717067-87842f00-96eb-11eb-8790-a4647ec9f71c.png)

So it looks like if all of the references can actually be freed.
So I don't think there is anything leaking in that heap dump.
Why you are seeing the GC pressure

[2021-04-06 15:16] pshirshov commented on #3208
21.0.0.2 still has the same problem:

[code]

[2021-04-06 15:34] EstebanMarin commented on #2050
@jamesward thanks!

[2021-04-06 15:57] peter-hofer commented on #1830
@degenaro apologies for overlooking this issue. There have been many improvements to the agent since, please try again with a recent release (and ideally with Java 11). If you encounter this issue again, please reopen.

[2021-04-06 15:57] #1830 closed

[2021-04-06 16:03] peter-hofer commented on #675
Closing this issue because supporting JNR at runtime is an unlikely prospect with the ahead-of-time nature of image generation. However, #2442 could make it possible to incorporate JNR classes into the image build via `native-image-agent`.

[2021-04-06 16:03] #675 closed

[2021-04-06 16:08] peter-hofer commented on #1238
Such filters have been introduced, please see [section _Access Filters_ in BuildConfiguration.md](https://github.com/oracle/graal/blob/master/substratevm/BuildConfiguration.md#access-filters).

[2021-04-06 16:08] #1238 closed

[2021-04-06 17:23] christianhaeubl commented on #3124
@apetrelli the issue will be fixed in 21.1. As a workaround, you can remove the image build argument `-H:+AllowVMInspection`

[2021-04-06 20:39] tzezula commented on #3328
There are two issues:
The patch from your diff seems to add lots of `StackOverflowError`s causing `PolyglotException`s in the `mvn test`.

Regarding the language home The `LanguageHomeFileSystem` does not follow symbolic links, because conversion to real canonical path is very expensive. The path to stdlib file passed by a guest language needs to be resolved using language home.

In your tests:
SE

[2021-04-06 20:39] #3328 closed

[2021-04-07 02:50] amahfouz1 commented on #2261
@dennisdietrich @MuriloFtto Please find my sample code here https://github.com/amahfouz1/jna-graalvm sorry for the delay.

[2021-04-07 04:59] IgorEulalio commented on #3186
Has this been resolved?

[2021-04-07 05:19] ScottPierce commented on #2644
@mcraj017 When will JDK 13 be supported?

[2021-04-07 05:29] mcraj017 commented on #2644
@ScottPierce next release 21.1 will have eperimental support for Java 16
You can try the dev builds from here
https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210406_2231

[2021-04-07 06:18] mcraj017 commented on #3174
Closing the issue as user did not respond in the last month

[2021-04-07 06:18] #3174 closed

[2021-04-07 06:20] mcraj017 commented on #3171
Closing the issue as user did not respond in the last month

[2021-04-07 06:20] #3171 closed

[2021-04-07 06:28] mcraj017 commented on #3275
@kristofvb thanks for reproducer, I will log a bug to the dev team and it will resolved in the future releases

[2021-04-07 07:15] mcraj017 commented on #3241
@gustavonalle I am getting below error, when running this progeam:
[code]

[2021-04-07 08:19] mcraj017 commented on #3241
@gustavonalle just to clarify i got the above exception with EE and native-image is hanging with CE,
I have logged the bug with dev team

[2021-04-07 09:06] mcraj017 commented on #3279
@kirillp please try with GraalVM 21.0.0.2 https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.0.0.2
It worked for me
[code]

[2021-04-07 09:54] mcraj017 commented on #3240
Closing the issue because reporter did not provide Reproducer for more than a month

[2021-04-07 09:54] #3240 closed

[2021-04-07 10:29] oubidar-Abderrahim commented on #3247
Were you able to get a small reproducer for this issue? FYI I couldn't access the GitLab repo you provided.

[2021-04-07 11:58] mcraj017 commented on #3218
@dansiviter I have raised bug to dev team, it will get fixed in future releases

[2021-04-07 12:05] kirillp commented on #3279
the problem with resulting executable does not work

[2021-04-07 12:09] eduveks commented on #3260
I think that I already tested the implementation with code caching across multiple contexts in the past.

But yesterday, I did some tests changing the implementation to supports the same Engine across all threads and with one Engine per thread.

The first impression in both cases was memory ate fast and very slow performance, scripts executed before in 300 milliseconds jumped to 20 seconds, CPU wi

[2021-04-07 12:18] chumer commented on #3260
Any chance you can give me something runnable that reproduces this problem?

[2021-04-07 15:53] eduveks commented on #3260
Yes, I think. I don't have time today, but I will give you more news in the next few days.

[2021-04-07 16:22] ezzarghili commented on #3118
Release branches for both 19.3 and 20.3 were mirrored.

[2021-04-07 16:22] #3118 closed

[2021-04-07 16:27] jerboaa commented on #3118
Thank you very much!

[2021-04-07 17:37] cstancu commented on #2694
You are right, that commit only updated the internal mechanism to properly support `Unsafe.staticFieldOffset()`. The missing substitutions have been added in f97bdb527dc2c272b5cb17438f5691e20ac3b012.

[2021-04-07 17:38] cstancu commented on #3020
f97bdb527dc2c272b5cb17438f5691e20ac3b012 adds the missing substitution.

[2021-04-07 18:54] lucaswerkmeister commented on #3328
I’m sorry, I don’t follow… both with and without that fix I get 103 errors. And I thought I solved the language home issue long ago? That’s why I moved the `abstracttext` submodule below the `language/` directory in lucaswerkmeister/graaleneyj@7bef984fe6c8f2ca7ca735eadbe88bfc4fc3a9a3. I’m not sure where that `graaleneyj/abstracttext` path in your example comes from – I think that should be `graale

[2021-04-08 07:45] tzezula commented on #3328
These errors are caused by the `StackOverflowError` introduced by the `ZTypeCheckNode` diff.

The example is dump from`mvn unittest`.
The tests are using relative path `abstracttext/eneyj/data/Z4.json` and the java vm current working directory is `/Users/tom/Projects/tmp/graal-issue/graaleneyj/`. The absoulte path is `/Users/tom/Projects/tmp/graal-issue/graaleneyj/abstracttext/eneyj/data/Z4.json`.

[2021-04-08 07:47] mcraj017 commented on #3279
@kirillp thanks for the clarification, I have raised the bug with our dev team.
I will be resolved in future releases

[2021-04-08 07:50] mcraj017 commented on #3321
@ugonen as mentioned by @jchalou try the latest graalvm release and let us know the output

[2021-04-08 07:52] thurka commented on #3260
I think I know what is going on here. I was investigating, why there are so many instances of `java.lang.reflect.Method` in the heap dump. I tracked almost all the references to various instances of java.lang.ClassValue$ClassValueMap and those instances does not have any references so it looks like they can be collected by GC, but instances of `java.lang.ClassValue$ClassValueMap` are references fr

[2021-04-08 07:54] thurka commented on #3260
This is example of references from `Method` to `ClassValueMap`.
<img width="920" alt="refs" src="https://user-images.githubusercontent.com/22048069/113989066-5cffb680-9850-11eb-80a3-8dc1677bc43f.png">

[2021-04-08 08:01] ugonen commented on #3321
@mcraj017  @jchalou  will do, thanks

[2021-04-08 08:07] thurka commented on #3260
Small heap dump for investigation: [GH-3260_heapdump.zip](https://github.com/oracle/graal/files/6277050/GH-3260_heapdump.zip) .

[2021-04-08 08:48] lucaswerkmeister commented on #3328
Hm, I thought Maven changed the current directory to `language/` before running the unit tests of that project.

But anyways, you’re right about the stack overflow error, I think I realize now where that comes from (the Z4/type object is created, and `ZTypeCheckNode` tries to gets its meta object, the Z4/type object, before it’s been stored in the context). I’ll try to fix that later today and see

[2021-04-08 09:30] thurka commented on #3260
Steps to reproduce:
1. get off Cisco VPN
2. set JAVA_HOME to JDK 11 (installation below needs nashorn, so it will not work on JDK 15+)
3. install `netuno` in `/tmp`
[code]
3. add `node` to PATH
[code]
4. start `netuno` server with the default application via `./netuno server`
5. fill in email address
6. it will open web browser in Portuguese locale(???), you have to manually register the netuno se

[2021-04-08 09:44] tzezula commented on #3328
It should. But the output  `Process CWD: /Users/tom/Projects/tmp/graal-issue/graaleneyj/` comes from `Paths.get("").toAbsolutePaht()`.
Let me know when the `StackOverflowError` is fixed.

[2021-04-08 10:20] zakkak commented on #3118
That's awesome! Thank you :)

[2021-04-08 11:09] chumer commented on #3260
I did not yet run your code yet, but I think I found a problematic pattern in our code:
[code]

Switching that cyclic reference flag to false fixes the problem (tested on latest JDK 8 on Mac). But this should really not happen, as such cyclic references should be resolvable by the GC. I will double check and maybe file a JDK bug. We probably need to deploy a workaround for this.

I need to do some

[2021-04-08 11:28] chumer commented on #3260
Turns out this is a known issue:
https://bugs.openjdk.java.net/browse/JDK-8169425

[2021-04-08 11:29] thurka commented on #3260
It looks like every page reload in the web app adds several instances of `com.oracle.truffle.polyglot.HostClassCache`.

[2021-04-08 12:35] #3124 closed

[2021-04-08 12:37] eric-moritz opened #3330 "Error: Incompatible change of initialization policy for org.slf4j.impl.StaticLoggerBinder: trying to change BUILD_TIME from the command line to RUN_TIME from the command line"
**Describe the issue**
Adding `--initialize-at-run-time=org.slf4j.impl.StaticLoggerBinder` to build args causes: `Error: Incompatible change of initialization policy for org.slf4j.impl.StaticLoggerBinder: trying to change BUILD_TIME from the command line to RUN_TIME from the command line`

**Steps to reproduce the issue**

1. mvn -Pnative-image package

**Describe GraalVM and your environment:**

[2021-04-08 13:46] chumer commented on #3260
I could reproduce it with this simple example now locally.
It looks like there is a simple workaround. You need to reuse the same `HostAccess` instance for all contexts.
I am working on a fix that avoids a the Cyclic dependency.

[2021-04-08 15:01] chumer commented on #3260
Fix is in the pipeline. Will backport this to 21.1 and probably also 20.3 (need to double check)

[2021-04-08 15:30] neoludo opened #3331 "Cannot do ntlm authentication in a native image"
Hi,

I'm Using HttpUrlConnection that supports ntlm authentication.
I've modified conf/net.properties file :
jdk.http.ntlm.transparentAuth=trustedHosts

unit tests are working but when I launch the native compiled EXE file,  have an error with 401

Is there a special configuration to be done ?

Thanks in advance for your help
Ludovic

[2021-04-08 20:18] lucaswerkmeister commented on #3328
Alright, lucaswerkmeister/graaleneyj@79b0b7ad7b084a50aea4a777464b34b946524bdc fixes the logical infinite recursion, which also seems to resolve all the errors (CI green).

I still feel like there’s some bugs in how these errors prevented themselves (e.g. how the `surefire-reports/` files for most tests just contained “org.graalvm.polyglot.PolyglotException” with no message or stack trace), but the

[2021-04-08 20:32] caleron opened #3332 "Sigsev when building Apache FOP"
**Describe the issue**
When building the native image for Apache FOP 2.6 for the command line, a segmentation fault happens.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Download the binary releason from Apache FOP 2.6 from https://xmlgraphics.apache.org/fop/download.html
2. Create the reflectconfig like shown below
3. Run the command from the fop/build

[2021-04-09 01:42] Paradox98 commented on #2995
I encountered the same problem, has it been resolved?

[2021-04-09 02:48] huntc commented on #917
gRPC Java shades Netty and so the lookup for `io.netty.channel.socket.nio.NioServerSocketChannel` can never succeed (I'm guessing that the original issue here was because of native-image not being able to resolve `NioServerSocketChannel`). To make native-image happy, I declared my own `io.netty.channel.socket.nio.NioServerSocketChannel` as follows:

[code]

[2021-04-09 08:33] dougxc commented on #3320
This seals the fate of any further effort to add `jaotc` to GraalVM: https://bugs.openjdk.java.net/browse/JDK-8264805

[2021-04-09 08:33] #3320 closed

[2021-04-09 08:44] dragosroban commented on #3248
@gradinac
See you got this story assigned to you.
Do you have any update on this?

@messages-one something new?

Thanks. Appreciate the time.

[2021-04-09 10:08] a74nh commented on #3119
The merged patch fixes the issue I was seeing.
However, since then, there have been additional changes in OpenJDK. This causes updategraalinopenjdk to fail in a different way.

I wonder if this is worth fixing?
http://openjdk.java.net/jeps/410 will remove the Graal compiler code from OpenJDK.
Once this happens, will updategraalinopenjdk become deprecated?

[2021-04-09 10:29] dougxc commented on #3119
It will certainly become unused for newer JDKs.
If there are people who still want to maintain/update Graal in earlier JDKs, then we will continue to accept PRs to keep it working.

[2021-04-09 10:32] chrisseaton commented on #2666
Note that macOS 11 isn't part of the issue any more Graal works fine on that.

[2021-04-09 11:54] jerboaa commented on #3313
This has been addressed with https://github.com/oracle/graal/pull/3329

[2021-04-09 11:58] edrobal opened #3333 "My application doesn't start with graalVM"
**Describe the issue**
My application doesn't start with graalVM without any message. I cannot start debugging.

**Describe GraalVM and your environment:**
 - GraalVM version : openjdk version "1.8.0_282"
OpenJDK Runtime Environment (build 1.8.0_282-b07)
OpenJDK 64-Bit Server VM GraalVM CE 20.3.1.2 (build 25.282-b07-jvmci-20.3-b09, mixed mode)
 - OS: Linux 4.12.14-lp151.28.91-default #1 SMP Tue Ja

[2021-04-09 12:53] eduveks commented on #3260
Thank you, @thurka, for your inputs, and I'm happy you could found the issue with Netuno.

@chumer the workaround reusing the `HostAccess` across all contexts does not affect overall performance, but in this case, the memory leak still happens. See the print screen below:

![Screenshot 2021-04-09 at 12 26 00](https://user-images.githubusercontent.com/5670920/114181713-bf80b180-9939-11eb-9afc-cca82

[2021-04-09 13:02] gradinac commented on #3248
Hey @dragosroban! Sorry for a bit of a late answer on this one.
From the initial look at the trace, this error does not seem to be the fault of native-image - the underlying dependencies are trying to dynamically define new classes at runtime which is currently not supported.

However, I've worked on something very similar to this recently: the issue is caused by Hibernate generating dynamic proxi

[2021-04-09 13:03] chumer commented on #3260
@eduveks This is really weird, in my local tests using the same HostAccess instance for all contexts resolved the problem. As the cache is bound and reused for HostAccess instances. So it should be impossible to have the same method loaded twice. Are you sure you are not just building an equal HostAccess instance? To make sure, can you read the HostAccess instance from a static final? Maybe you ca

[2021-04-09 13:13] gradinac commented on #3248
This may come in handy as well: https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-boot
It contains a list of supported Spring starters, as well as notes regarding any extra tweaking that may be needed (such as the above for Hibernate)

[2021-04-09 13:26] eduveks commented on #3260
@chumer I did another test to ensure and is the same behavior with `HostAccess` as static.

This is the current full code of the integration with GraalVM:

[code]

[2021-04-09 13:33] tzezula commented on #3328
I put it on todo list to look at it.

[2021-04-09 13:39] lucaswerkmeister commented on #3328
(Oops, and I meant how they *presented* themselves, of course. Though I wouldn’t mind errors that *prevent* themselves either :D)

[2021-04-09 15:39] a74nh commented on #3119
Ok, given the above, I've no plans on fixing the new issue(s). We've migrated away from using updategraalinopenjdk internally now.

I'm closing this because the merged patches fix the issue I was seeing.

[2021-04-09 15:39] #3119 closed

[2021-04-09 16:17] edrobal commented on #3333
I change ScriptEngine scriptEngine = new ScriptEngineManager().getEngineByName("JavaScript") by ScriptEngine scriptEngine = new ScriptEngineManager().getEngineByName("nashorn") and my application start again.

[2021-04-09 16:17] #3333 closed

[2021-04-09 18:01] aclement commented on #3283
I'll just mention I did some experiments around this in a branch of mine:
 https://github.com/aclement/graal/tree/agent-filtering

It's a bit unfinished but the principles are there:
- it discovers META-INF/native-image entries on the classpath (in directories, don't think it goes into jars yet)
- loads them up into a separate configurationset
- subtracts that configurationset from the collected s

[2021-04-09 18:10] dzou commented on #917
Thanks for the help @huntc. Just an fyi we started a project compiling the Google Cloud GraalVM configurations (for reflection, native calls, etc.) here: https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support

The project aims to get everything working out of the box; hope this helps! :)

[2021-04-10 23:01] acertain opened #3337 "native-image imagecp MANIFEST.MF Class-Path inserted before jar containing MANIFEST.MF (should be after?)"
The `-imagecp` from `native-image --verbose -cp myjar.jar` lists myjar at the end (after the jars in `myjar.jar/META-INF/MANIFEST.MF` Class-Path).

Unless I'm wrong about what `java -cp/java -jar` does, I think `myjar.jar` should be before `myjar.jar/META-INF/MANIFEST.MF`?

[2021-04-11 08:50] johanvos commented on #2291
FYI, Jose's PR (#3336) fixes this issue (at least confirmed for the issues we observed with FXML loading)

[2021-04-12 00:30] mcraj017 commented on #3330
@eric-moritz please share a reproducer

[2021-04-12 03:11] IgorEulalio commented on #3159
This problem been solved?

[2021-04-12 08:15] ilopmar commented on #3159
I've just tried compiling GraalVM from master branch and it still fails with the same error.

[2021-04-12 09:49] fniephaus opened #3338 "BytecodeParserError: NPE when parsing sun.nio.ch.Util$3.run(Util.java:414)"
**Steps to reproduce the issue**
Please include both build steps as well as run steps
[code]

**Describe GraalVM and your environment:**
 - GraalVM version, commit id: **14b6790d744d1cca484482bc09f545eee7ed93dc**
 - JDK major version: **11**
 - OS: **macOS Catalina**
 - Architecture: **AMD64**

**More details**
[code]

![image](https://user-images.githubusercontent.com/2368856/114375296-cea76f80-9

[2021-04-12 09:57] dkovalenko opened #3339 "GraalVM polyglot Context is not working in custom JRE(JLink) environment"
**Describe the issue**
I try to bundle my custom graalvm jre using jlink tool.
- When i use GraalVM 21.0.0.2.r11 i have error during jlink run:
`Error: Hash of java.rmi (bb68a77816d9b03846e06607d7addb24e4ba4dc568898cd97cf21a6547ddfe38) differs to expected hash (31d47a2989873e5fef34bd4481f1bfd864ce36085263a738b2f958244ecccc47) recorded in java.base`
- When i use GraalVM 20.0.0.r11 I have error in r

[2021-04-12 10:43] eregon commented on #2666
Internal issue: GR-27422

[2021-04-12 10:53] zonghaishang commented on #381
At present, the wasm module is supported on the go project mosn, and we hope that the wasm compiled by java can also be executed (outside the js environment).

We have implemented protocol extensions in the rpc field, so we also hope that java developers can provide extension plugins.

We noticed that wasm currently supports multiple language implementations：https://github.com/proxy-wasm/spec

- A

[2021-04-12 12:31] eric-moritz commented on #3330
@mcraj017 I am not able to share current project details due to corp policies, however, I will try to create duplicate error in new project which I can share.  I then interim is there anything else I can do?

[2021-04-12 13:46] petermz commented on #3322
Hi @mcraj017 -- I see you've assigned this one to me, but I'm not sure how to proceed. There's a PR, but it is unreviewed, and I don't have commit rights anyway. Please advice.

[2021-04-12 13:56] chumer commented on #3260
Any reason why you are doing:
[code]

With enter/leave? Any context operation should do an implicit enter/leave. In this case doing the enter and leave explicitely is actually slower.

Missing a leave on a particular thread can also potentially cause another leak. Is there any multi-threading happening for a GraalRunner instance?

[2021-04-12 13:56] eregon commented on #2666
FWIW https://github.com/openjdk/jdk/pull/2200 got merged, but that's for JDK 17, planned to be released on 2021/09/14 (https://openjdk.java.net/projects/jdk/17/).
JVMCI JDK builds are always based on a release.
It might be backported to older JDKs, but that doesn't seem clear yet.
cc @deepj

[2021-04-12 14:29] davidpcaldwell commented on #3087
Going to try to get back to this today! Thanks for sticking with me.

[2021-04-12 14:56] peter-hofer commented on #2658
I believe this should be resolved by the recent method handle enhancements. @sdeleuze @loicottet  , please reopen if it is not.

[2021-04-12 14:56] #2658 closed

[2021-04-12 16:53] eduveks commented on #3260
@chumer, my apologies, I detect a maven malfunction that did not change my code version in all of my tests. 🤦‍♂️

Finally, it is correct. Your workaround sharing the HostAccess works very well!

Sorry for my mistake.

This is the result of many stress, my hardest test, rolling smooth: 🥳

![Screenshot 2021-04-12 at 17 50 20](https://user-images.githubusercontent.com/5670920/114431580-8e151980-9bb7-

[2021-04-12 17:01] eduveks commented on #3260
To clarify, I commented all `context.enter()` and `context.leave()`. I do not remember why but I think it was an attempt to avoid the leak.

Yes, just one instance of the `GraalRunner` per thread always.

And again, thank you for your support.

[2021-04-12 18:09] eduveks commented on #3260
With this, I remembered making another test sharing the same Engine with all threads, as @chumer said.

And the performance jumped to another level, much less memory and CPU consumption overall, even with a lot of stress is like nothing is going on.

Then the key is to share Engine and HostAccess over all threads. 🚀

Finally, the killer result:

![Screenshot 2021-04-12 at 19 08 40](https://user-im

[2021-04-12 18:16] etspaceman opened #3341 "java.lang.ClassCastException: java.lang.invoke.BoundMethodHandle$Species_LL cannot be cast to java.lang.invoke.SimpleMethodHandle"
**Describe the issue**
Something seems to be missing from the MethodHandle support, getting:

[code]
Creating based on :

https://github.com/oracle/graal/issues/2761#issuecomment-785006081

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Clone https://github.com/etspaceman/kinesis-mock/tree/4acc3ee60a6dda9ea85629c2551a25faa9985ac6
2. Run `sbt dockerComposeU

[2021-04-12 21:56] smallshen opened #3342 "Error: Frame states being merged are incompatible"
[code]
In compatible with coroutines in Jetpack Compose Desktop when adding "--no-fallback" option for generating native image

Version: graalvm-ce-java11-21.0.0.2

[2021-04-12 22:01] smallshen opened #3343 "Illegal char <:> with generated native-image configuration"
Generating configuration for jar with agentlib  ```-agentlib:native-image-agent=config-output-dir=./config/```
[code]

Version: graalvm-ce-java11-21.0.0.2

[2021-04-13 05:31] mcraj017 commented on #3331
@neoludo please provide a reproducer

[2021-04-13 05:32] mcraj017 commented on #3332
@caleron thank you for reporting the issue
we will check it out and come back to you

[2021-04-13 05:37] mcraj017 commented on #3322
@petermz no worries, I will assign it to the reviewer
thanks

[2021-04-13 06:59] zonghaishang opened #3344 "Does anyone follow up on this issue?"
**Feature request**

Please include the following information:

go wasm support: https://github.com/oracle/graal/issues/381

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. E.g. I'm always frustrated when [...]

**Describe the solution you'd like.**
A clear and concise description of what you want to happen.

**Describe who

[2021-04-13 07:52] Paradox98 commented on #3035
How to solve it, I also encountered a similar problem

[2021-04-13 07:53] Paradox98 commented on #3035
@moorsu
How to solve it, I also encountered a similar problem

[2021-04-13 09:57] dhombios commented on #2696
I'm having a similar issue while compiling a Jasper Reports based application in windows:

Native-tools options: native-image -H:+ReportExceptionStackTraces -H:-CheckToolchain --no-fallback

[code]

**Describe GraalVM and your environment:**

- GraalVM version - GraalVM Community Edition 21.0.0.2
- JDK major version: 11
- OS: Windows
- Architecture: AMD64
- Visual Studio version: Visual Studio 201

[2021-04-13 12:58] #3260 closed

[2021-04-13 14:56] sdeleuze commented on #2658
@peter-hofer Thanks, could you please set the related milestone (21.1 I guess) ?

[2021-04-13 16:25] doctorpangloss commented on #3004
In the meantime, using this https://github.com/Kagami/wasm-polyfill.js as a polyfill seems to work for me and fixes https://github.com/oracle/graal/issues/2804

[2021-04-13 16:25] doctorpangloss commented on #2804
Using this https://github.com/Kagami/wasm-polyfill.js as a polyfill seems to work for me

[2021-04-13 16:31] wirthi commented on #3004
The GraalVM 21.1 release (expected to be released on April 20th) will have some prelimiary, experimental support for WASM. Don't expect a fully working engine, but it should be able to execute basic usecases already. Looking forward to your feedback on this and extend and improve the support in the next releases.

https://github.com/oracle/graaljs/blob/master/CHANGELOG.md#version-2110

[2021-04-14 00:52] scubasoft commented on #2842
I am getting the same error as **mipastgt** with graalvm-ce-java11-21.0.0.2 AND graalvm-ce-java11-21.1.0-dev.

[2021-04-14 02:00] sureshg commented on #3211
@mukel will this get fixed in the next Graal release?

[2021-04-14 05:20] mcraj017 commented on #2842
@scubasoft and @mipastgt we will check it out,
please provide the reproducer

[2021-04-14 09:09] fniephaus commented on #3338
@cstancu any way you could have a look at this before the 21.1 release? It seems we will no longer be able to build TruffleSqueak with Native Image until this is fixed.

[2021-04-14 10:22] mmuniz75 opened #3345 "Fatal java.lang.NoClassDefFoundError during object scanning when building a native-image with an incomplete classpath"
Fail to generate image in Spring Webflux+R2DBC+Spring Validation project.

The project is : https://github.com/mmuniz75/native-test2

ps : This issue was original created on Spring native and requested to be foward for this queue :
https://github.com/spring-projects-experimental/spring-native/issues/731
Please tag this issue to #spring

Following the log :

Fatal error:java.lang.NoClassDefFoundErr

[2021-04-14 11:47] chumer commented on #3260
Happy to hear it all works out now as intended! :-)

[2021-04-14 11:49] yrodiere opened #3346 "MethodHandles are not thread-safe: invoking different MethodHandles concurrently leads to ClassCastException"
**Describe the issue**

Invoking `MethodHandles` concurrently apparently leads to an internal mix-up; ultimately the "self" argument passed to `MethodHandle.invoke` will be cast to the type expected by *a different `MethodHandle` being invoked in another thread*.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `git clone https://github.com/yrodiere/graalvm

[2021-04-14 13:36] ilopmar opened #3347 "Regression with Micronaut when using POJOs from other modules"
**Describe the issue**

We've detected in Micronaut a regression with a test application we have. It is a multi-project build. There is a `core` module that only has a POJO and then, then POJO is used in a Micronaut application in a controller.
Some time ago the application started to fail with a `java.lang.NoClassDefFoundError: example.micronaut.pojo.Book` when the Micronaut app starts.

It seems

[2021-04-14 14:07] sdeleuze commented on #3345
I had a look to this issue but it seems to happen at GraalVM native image level, hence my ask to create it here.

[2021-04-14 14:37] zakkak commented on #3124
@christianhaeubl can you please link the commit that fixes the issue as well?

[2021-04-14 14:43] christianhaeubl commented on #3124
@zakkak this issue only affects EE, so there is no publicly visible commit.

[2021-04-14 15:54] plokhotnyuk opened #3349 "Performance regression with GraalVM CE/EE for Java 16"
Unexpected regression of throughput (down to 3x times) was detected for some simple benchmarks of the [jsoniter-scala](https://github.com/plokhotnyuk/jsoniter-scala) project.

**Steps to reproduce the issue**
1. `git clone --depth 1 https://github.com/plokhotnyuk/jsoniter-scala`
2. `cd jsoniter-scala`
2. `sbt -java-home <path-to-graalvm-ce-home> 'jsoniter-scala-benchmarkJVM/jmh:run benchmark.Int(R

[2021-04-14 18:07] scubasoft commented on #2842
@mcraj017 Here is the Java code

[code]

After compiling, it runs fine through Java alone.
Then I feed it to native-image like this
`native-image awttestforgraal.First2 test-awt-image`
and it goes well. Then I try to run the test-awt-image and get the error
[code]

Many thanks in advance.

[2021-04-14 19:40] dansiviter opened #3351 "[native-image] SegFault Using Helidon, Google Cloud Libraries"
**Describe the issue**
SegFault issue with application. Lack of understanding of how Graal static works has forced raising this ticket so hoping for either guidance or confirmation of it being a bug. The example app is Helidon integrated with Google Cloud Logging, Metrics & Tracing.

**Steps to reproduce the issue**
For Windows, run the following:
1. `git clone --depth 1 --branch GraalSegFault htt

[2021-04-14 19:45] Berstanio opened #3352 "NoSuchMethodError for Toolkit.getDefaultToolkit() when using packed jar."
**Describe the issue**
I am using the newest dev-build with JDK 11. I try to build with native-image a very simple programm with awt but when I try to run the created executable I get a NoSuchMethodError(see below).
The strange thing is when I build this programm without bundeling it into a jar it runs perfectly fine. It doesn't matter whether I run the native-image-agent or not.

**Steps to repro

[2021-04-14 21:25] fniephaus commented on #3338
Using git bisect, I found out that https://github.com/oracle/graal/commit/a0ea2cdee4a5569b686660e9c681a3454e4c02e7 caused issues with out SqueakSSL plugin because [some boundaries were missing](https://github.com/hpi-swa/trufflesqueak/commit/2a267daf9d292e25d69094cff03fd2b465a21a8c). With those boundaries in place, compilation succeeds again. So this is no longer a blocker for us. Nonetheless, I'l

[2021-04-15 00:55] aprimadi opened #3353 "GraalVM with Play framework throws java.lang.IllegalStateException when creating Context"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.0.0.2.r11-grl**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - Scala version: **2.13.5**
 - Sbt version: **1.5.0**
 - OS and OS Version: **macOS Mojave 10.14.6**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]
Note: Java, GraalVM, Scala, and Sbt are all installed us

[2021-04-15 03:34] mcraj017 commented on #3337
@acertain please provide reproducer

[2021-04-15 04:02] mcraj017 commented on #2842
@scubasoft Please use java tracing agent
`java -agentlib:native-image-agent=config-output-dir=META-INF/native-image First2`
`native-image --no-fallback First2`

[2021-04-15 06:37] mutasemhidmi commented on #2666
is it possible to build an image from graalvm arm64 for Linux in order to build native images. Note that I tried to do this to build a native image for Quarkus framework but it didn't work. I used this graalvm https://github.com/graalvm/container/tree/master/community in order to build my image, but eventually after running sam cli to test the lambda function I got this error msg="Init failed" Inv

[2021-04-15 07:16] fniephaus commented on #2666
I don't think that's possible. You can run native images built for macOS/AMD64 on Apple Silicon via Rosetta 2.

[2021-04-15 07:23] sergey-morenets commented on #2535
Hi @galderz

Thank you for your help. So is there any option flag to override default native image configuration folder?
By default it's META-INF/native-image inside jar file. But Spring Boot, for example, puts this folder under /BOOT-INF/classes/ folder. So native-image utility is unable to detect them.

Thank you.

[2021-04-15 07:25] mutasemhidmi commented on #2666
@fniephaus I tried but the build got stuck, and I got a warning that I am using amd64 and not arm64. All the information is here
[https://github.com/quarkusio/quarkus/issues/16225](https://github.com/quarkusio/quarkus/issues/16225)

[2021-04-15 07:37] fniephaus commented on #2666
Are you sure you used an amd64 GraalVM for macOS to generate the native image? Can you try building it on an Intel-based Mac? Then, copy over the native image and give it a go. If that doesn't work, you may be out of luck as an early adopter of an M1 Mac. I don't think native image support for Apple Silicon has a high priority for the GraalVM team at this point and will probably take weeks if not

[2021-04-15 07:41] olpaw commented on #3337
The `Class-Path` attribute in jar-files is recursively processed. Thus the jars mentioned in  `Class-Path` are put on the `-imagecp` before the jar that refers to them. Why do you think this is the wrong order?

[2021-04-15 07:51] mutasemhidmi commented on #2666
@fniephaus yes I am sure. However, I think my case is a little different because eventually, I want to build an image that works on Linux(arm64/aarch64) since I want to deploy it on AWS Lambda. Note that I have docker desktop already downloaded, so I want to use this image to build my quarkus application Lambda function. I hope I expressed myself clearly.

[2021-04-15 08:10] fniephaus commented on #2666
Ah ok, so essentially, you want to build native image for Linux/aarch64 on your M1-powered Mac. You should just be able to do this with a Linux/aarch64 Docker container on your M1. Then just copy over the native image.

[2021-04-15 09:12] kkriske commented on #3352
This is JNI configuration (You can know this as the exception comes from the `JNIFunctions` class.

I tried to recreate your issue with your build artifacts, same dev release, same environment. The produced native images from both the jar and the class file give me the `NoSuchMethodError`, so I cannot reproduce your issue.

[2021-04-15 11:26] Paradox98 opened #3354 "The spring-native image can be started normally, but an exception occurs when there is a request"
graal 21.0.0.2
centos
java8
jersey 2.5.1
hk2-api 2.5.0-b32
[code]

[2021-04-15 11:27] Berstanio commented on #3352
Oh I'm really sorry, I found my mistake. As it looks like during testing I forgot to delete the META-INF/native-image/ folder for the .class file that I generated way earlier. In the .jar there obviously wasn't the jni configuration so the .jar failed on my pc and the .class not. I'm sorry I didn't realized it earlier!

[2021-04-15 11:27] #3352 closed

[2021-04-15 13:54] alaa-az commented on #2261
@amahfouz1 Thank you very much , it worked on Windows and Mac also, I only needed to change the native library to the corresponding one in the resource list.

[2021-04-15 14:57] yuriy-larin-firstbridge commented on #3197
I have the same problem with attempt to list both classes for native build.
I'm using following in my pom.xml where I pass parameters into native build

[code]

but only one class (usually first in list) is taken. The second (and probably third, etc...) is ignored. I can see that by replacing the classes order here.

[2021-04-15 15:29] scubasoft commented on #2842
@mcraj017 Here is a zip archive of the resulting files after running the tracing agent.

[native-image-config.zip](https://github.com/oracle/graal/files/6319186/native-image-config.zip)

[2021-04-15 16:59] edrobal commented on #3109
I add another test in benchmark and Graal give different results than Java or Nashorn.
[GraalPerformanceTestV2.zip](https://github.com/oracle/graal/files/6319898/GraalPerformanceTestV2.zip)

[2021-04-15 19:32] acertain commented on #3337
@olpaw https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/hotspot/share/classfile/classLoader.cpp#L1040-L1051

[2021-04-16 07:32] olpaw commented on #3337
Thanks for the pointer! Back when I implemented this I didn't find anything the jar file spec that specifies an order so I took the liberty to implement it as it seemed most obvious to me.

[2021-04-16 07:42] smallshen commented on #3342
Full Log
[code]

[2021-04-16 07:43] smallshen commented on #3342
[code]

[2021-04-16 08:09] Naihua-TW opened #3355 "can't solve /usr/bin/id: cannot find -lz"
**Describe the issue**
I also get `/usr/bin/id: cannot find -lz` error message,  I try flow [doc](https://www.graalvm.org/reference-manual/native-image/StaticImages/), but can't solve this issue, I know this issue high possibility not about graalvm, I'm sorry for any  problems that I may have caused.

**Steps to reproduce the issue**
./mvnw package -Pnative -DquarkusNativeArgs=-H:+StaticExecutable

[2021-04-16 11:48] mcraj017 commented on #3341
@etspaceman thanks for the issue
we will check it out and get back to you

[2021-04-16 11:49] mcraj017 commented on #3342
@smallshen please provide reproducer

[2021-04-16 11:51] mcraj017 commented on #3343
@smallshen try this
java -agentlib:native-image-agent=config-output-dir=META-INF/native-image

[2021-04-16 11:52] mcraj017 commented on #3344
@dougxc Pleas advise on https://github.com/oracle/graal/issues/381

[2021-04-16 11:56] smallshen commented on #3343
![image](https://user-images.githubusercontent.com/39912494/115020877-d31fa100-9e80-11eb-9436-9020fafd444b.png)

[2021-04-16 12:34] zakkak commented on #3355
Hi @Naihua-TW it looks like you need to install `zlib-devel` can you please try the following?
[code]

[2021-04-16 12:42] zakkak commented on #2535
@sergey-morenets it looks like this is not possible at the moment.
The configuration folder is hard-coded here https://github.com/oracle/graal/blob/e997cec694c5cf8fd22e34648947ed6e35e06be5/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImage.java#L265

[2021-04-16 12:54] dougxc commented on #3344
@zonghaishang please don't open a new issue that simply asks "whats up" with an existing issue. I see that you left a comment already on the original issue. When time allows, the assignees on #381 will respond.

[2021-04-16 12:54] #3344 closed

[2021-04-16 14:45] schiebel commented on #3104
Thanks for the feedback. The problem is with using managed mode. Does the community edition support managed mode?

[2021-04-16 15:09] loicottet commented on #3346
The failure seems to be corrected on master and on the upcoming 21.1 release. However the fact that the cache is not thread-safe is something that should be corrected, thanks for the catch!

[2021-04-16 15:57] schiebel commented on #3104
@mcraj017 maybe it would be better if we approach this a different way. The error you encounter is immaterial to this problem so I have changed this function so that it will no longer fail to compile. Please give it another try (you will have to start from scratch since I updated the branch that the test build uses).

Unfortunately, since I don't see this problem I am unable to anticipate future c

[2021-04-16 23:12] Noisyfox opened #3356 "MacOS Big Sur: EXC_BAD_ACCESS: EXC_I386_GPFLT in _Unwind_RaiseException due to the requirement of 16 bytes alignment"
**Describe the issue**
On MacOS the `_Unwind_RaiseException` function expects the `exception_object` pointer to be aligned with 16 bytes, due to the fact that the following two lines:
[code]
in https://opensource.apple.com/source/libunwind/libunwind-35.3/src/Unwind-sjlj.c.auto.html are compiled into a xmm 128bit instruction, which raises EXC_I386_GPFLT if the address is not aligned with 16 bytes (

[2021-04-17 02:02] qianyiyong commented on #2998
Thanks! I got the same problem on 20.3.0, I'll try 21.0....

[2021-04-17 05:18] #3161 closed

[2021-04-17 05:23] mcraj017 commented on #2842
@scubasoft run tracing agent
[code]

and run native image

`native-image --no-fallback First2`

it will work

[2021-04-17 08:09] smallshen commented on #3342
[EridaniLauncher-windows-x64-1.0.0.jar.zip](https://github.com/oracle/graal/files/6328826/EridaniLauncher-windows-x64-1.0.0.jar.zip)
It is built with kotlin 1.4.32, compose desktop version is v0.4.0-build183

[2021-04-17 15:09] Batman-Igor opened #3357 "Native-image dont working without stdio.h"
Hello everybody! I started to study GraalVM and trying to create native-image of "Hello World" project.
I had a Visual Studio 19 and also I download MinGW libs (dont know I need it or not, but it had stdio.h).

When I'm trying to create native-image I have a problem:
[code]

I'm trying to hind the answer, but any solution didn't help me with that problem.

Some information:
- working in Hyper-V
-

[2021-04-17 21:37] cstancu commented on #3143
Fixed by https://github.com/oracle/graal/commit/075fcde78c63ec16ac91e636db1e30fa8b79bc68. You'll need to use `--allow-incomplete-classpath`.

[2021-04-17 21:37] #3143 closed

[2021-04-17 22:33] jack161641 opened #3358 "Native-image base springNative can't running"
**Describe the issue**
A dubbo consumer server，http server，spring mvc base springBoot 2.4.4 ,nativeImage build sucess ,but run nativeImage throws  exception, The error message is:
`WARNING: Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.context.annotation.i

[2021-04-18 01:52] smasher164 opened #3359 "native-image: support statically linking libraries with JNI"
`native-image` can currently produce static or mostly static executables, except for object files loaded with `System/loadLibrary` when using JNI. This makes it inconvenient to distribute binaries for applications where the user doesn't have the JNI library present on their system.

The only alternative appears to be to build GraalVM from source with library linked, but I would prefer a solution w

[2021-04-18 09:46] kristofdho commented on #3359
You can do this using `-H:AdditionalLinkerOptions=<path-to-your-lib>`, not sure if that's strictly the right way to do it.
from the output of `native-image --expert-options-all`:
`-H:AdditionalLinkerOptions=""                String which would be appended to the linker call.`

Alternatively you can write your own feature for your lib and tell native-image exactly what to do with it:
https://github

[2021-04-18 18:29] smasher164 commented on #3359
Thanks for following up @kristofdho!
I made a repo for a minimal proof-of-concept here: https://github.com/smasher164/staticjni.
I passed in `AdditionalLinkerOptions` with the absolute path to the library, and I no longer compile the library with `-shared`, however I still see the following error:
[code]
(Note, I ran this example inside an ubuntu docker container)

Should I not be using `loadLibra

[2021-04-18 21:44] ehsmeng-graalvm opened #3360 "Tracing-agent added entries to reflect-config.json and compilation crashes."
**Describe the issue**
Using the latest CE nightly build.
https://github.com/ehsmeng-graalvm/odd/tree/master/2
./graal_compilation.sh
->
[a.exe:987998]     analysis:  16,421.64 ms,  2.28 GB
Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing org.eclipse.jetty.util.TypeUtil.<clinit>()
Parsing context: <no parsing context available>

**Steps to repr

[2021-04-18 22:11] kristofdho commented on #3359
I'm having troubles getting it to work with `-H:AdditionalLinkerOptions` to the point that I'm doubting if I ever got it working that way..

The second example does work however. I am on windows btw, so I had to figure out some stuff before I could run your example.

In the end, to get it statically linked into the image, I had to add this custom feature to my classpath:
[code]

After this, native

[2021-04-19 01:25] #3354 closed

[2021-04-19 06:14] bgmf commented on #3143
Thank you very much!
I'll add the `--allow-incomplete-classpath` parameter to our build script in the mean time.

[2021-04-19 06:34] mcraj017 commented on #3343
@smallshen As error states create META-INF\native-image directory
`mkdir -p META-INF\native-image`

[2021-04-19 08:17] smasher164 commented on #3359
Thanks @kristofdho, that works! Did you mean `-jar HelloWorld.jar` instead of `-cp HelloWorld.jar` in the native-image command? I've updated my repo accordingly.

[2021-04-19 08:35] mcraj017 commented on #3299
@soynomm I have create a bug for the Dev team, it will be fixed in future releases

[2021-04-19 08:39] mcraj017 commented on #3104
@mcraj017 thanks I will try it again
Managed execution mode for LLVM bitcode is possible with GraalVM Enterprise only.

[2021-04-19 08:39] kristofdho commented on #3359
Ah yes, I didn't have a manifest, so I actually used `-cp HelloWorld.jar HelloWorld`, but I only partially changed it back to your use case. Should indeed be `-jar HelloWorld.jar`. Glad I could help you!

[2021-04-19 08:52] galderz commented on #2535
@sergey-morenets Do you know what option Spring are using to customize the parent folder for the configuration? I could see how to do it in [the docs](https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/), but `native-image` has a lot of options available. The reason I ask is because if there's a way to customize that, it seems to me that `NativeImage` class should take that i

[2021-04-19 08:55] mcraj017 commented on #3104
at step $make
i got this error:
[code]

[2021-04-19 13:08] schiebel commented on #3104
@mcraj017, thank you for trying the build. I believe you did not start from scratch. [This file no longer has any calls to strerror_r](https://github.com/casacore/casacore/blob/graalvm/casa/Exceptions/Error2.cc#L217). Please start from scratch:

1. bash$ export JAVA_HOME=\`pwd\`/graalvm-ee-java8-21.0.0
2. bash$ export PATH=$JAVA_HOME/bin:$PATH
3. bash$ cp makefile.txt makefile
4. bash$ make LLI=\`

[2021-04-19 13:43] smasher164 commented on #3359
Great. I'll go ahead and close this issue.

[2021-04-19 14:14] peter-hofer commented on #2237
This should have been fixed in 1b42c79, see also #1788.
I believe that before, it only worked when the instance class was also overridden, in this case `ZoneRegion.getId`.

[2021-04-19 14:14] #2237 closed

[2021-04-19 14:17] sergey-morenets commented on #2535
@galderz I guess they repackage far JAR by their Spring Boot plugin so that META-INF/native-image would be top-level folder

[2021-04-19 17:12] ByerN commented on #304
Please check my example for LibGDX + GraalVM native-image (tested on Windows10). It may be useful :)
https://github.com/ByerN/libgdx-graalvm-example

[2021-04-19 19:18] smasher164 commented on #3359
Actually, is it possible to put this information in the GraalVM docs somewhere? I understand the user must implement a `Feature`, but I feel that this is a common enough use-case to warrant its own place in the docs.

[2021-04-19 20:15] kristofdho commented on #3359
Unfortunately that's not something I can help you with. And strictly speaking, I think those calls are implementation details, and not part of the API. So for an actual API conform solution some code changes and indeed, definitely documentation, would be required.

[2021-04-20 03:01] OlegPliss opened #3361 "SimpleLanguage test failure"
cd simplelanguage
mvn package

Failed tests:   testInteropStackAtGuest(com.oracle.truffle.sl.test.SLJavaInteropDebugTest): expected:<[com.oracle.truffle.sl.test.SLJavaInteropDebugTest$HostCalls.apply]> but was:<[doCall]>

GraalVM version:
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 25.282-b07-jvmci-21.0-b06, mixed mode)

[2021-04-20 03:57] Paradox98 opened #3362 "Error when native image are running"
[code]

[2021-04-20 05:12] mcraj017 commented on #3276
Closing the issue because there is no response form the user

[2021-04-20 05:12] #3276 closed

[2021-04-20 05:37] mcraj017 commented on #3296
@ruanzhi please use the below command and it will work
`clang hello.c -lgraalvm-llvm -o hello`
remember to use the clang provided by graalvm

[2021-04-20 05:37] #3296 closed

[2021-04-20 05:43] mcraj017 commented on #3330
@eric-moritz check out https://github.com/oracle/graal/issues/2222

[2021-04-20 06:16] edthamm opened #3363 "Make GraalVM available in operating system package managers"
**Feature request**

Please include the following information:

**Is your feature request related to a problem? Please describe.**
When trying to install GraalVM globally for production images, which is useful in some contexts, the current installation paths are unconvincing. SDKMan does not help, manually upgrading versions every X units of time is not very fun either.

**Describe the solution yo

[2021-04-20 08:09] mcraj017 commented on #3332
@caleron try the following steps:

[code]

[2021-04-20 09:11] dkovalenko commented on #3339
Seems like project is missing some modules during jlink - so resulting JRE misses crucial modules to make polyglot context work.
[code]
I think I need to add some more modules to make org/graalvm/polyglot/Context work, I just don't know which ones.

[2021-04-20 09:53] smallshen commented on #3343
this is more like a parse error instead of directory error

[2021-04-20 11:30] oubidar-Abderrahim commented on #3356
is this occurring only on macOS Big Sur? or is it related to macOS in general?

[2021-04-20 13:21] Noisyfox commented on #3356
I believe it's related to macOS in general. I can also reproduce it on macOS 11.0.1 20B29
[code]

[2021-04-20 13:40] oubidar-Abderrahim commented on #3356
macOS 11.0.1 20B29 is still Big Sur, I run the test you provided in macOS Catalina 10.15.7 and it executed as expected.

[2021-04-20 13:42] Noisyfox commented on #3356
Yes sorry my bad. I tried on Catalina as well and it didn't crash.
The libunwind on Catalina does not use xmm instrcution:
[code]

[2021-04-20 13:54] mcraj017 commented on #3343
@smallshen please follow the doc in the below link
https://docs.oracle.com/en/graalvm/enterprise/19/guide/reference/native-image/tracing-agent.html

[2021-04-20 13:54] mcraj017 commented on #3343
if you still face some error
Please provide reproducer

[2021-04-20 13:59] oubidar-Abderrahim commented on #3356
Thank you for the detailed report, this is now tracked internally on GR-30914

[2021-04-20 14:04] sdeleuze opened #3365 "Reduce Java 11+ native image size and footprint"
This issue is a follow-up of #3163 which intended to make native-image size predictable and smaller, and reduce the gap between Java 8 and Java 11+.

We made more tests with Spring Native [`commandlinerunner` sample](https://github.com/spring-projects-experimental/spring-native/tree/main/samples/commandlinerunner) and GraalVM 21.1.0.

**Java 8**
- Image build time: 22.5s
- RSS memory: 32.1M
- Imag

[2021-04-20 14:06] sdeleuze commented on #3163
This issue fixed the source of randomness, but XML classes still get included with GraalVM 21.1, see #3365 for more details.

[2021-04-20 14:51] wirthi commented on #3109
Hi @edrobal

This is the result of running your code for 300 iterations:
[code]

As lower is better for your values, after the first few iterations, GraalVM clearly beats Nashorn here. This is the case already at iteration 10, after 5 seconds of execution time.

All the rest has been discussed above. Again, you are NOT measuring JavaScript performance with your benchmarks, you are measuring how fa

[2021-04-20 16:06] dkovalenko commented on #3339
If I change jlinkModules to this:
[code]
in runtime I get another exception:
[code]

What really will help me - example of working java application with jlink plugin(maven or gradle). Maybe all problem is that sbt jlink plugin is not suited to build graalvm custom JRE yet.

[2021-04-20 20:56] ppalaga commented on #2908
Seems to be fixed in GraalVM 21.1. Citing from https://medium.com/graalvm/graalvm-21-1-96e18f6806b :

[2021-04-20 21:01] christianwimmer commented on #2908
We are not calling it "fixed" yet because there are still fixes and improvements that we will do over the next releases. But this release was indeed an important step forward.

[2021-04-20 21:05] mipastgt commented on #2908
What are these "fixes and improvements"? Are there any visible limitations?

[2021-04-20 21:40] christianwimmer commented on #2908
We want to reduce the memory footprint, and put the locale data into separate files, so that you can decide which locales to include without re-building the image. But all of that is in the design state, so plans might change.

[2021-04-20 22:08] shoaniki opened #3366 "tzmappings format has changed, breaking native-image timezone support in JDK 16"
**Describe the issue**
The tzmappings file used to convert Windows timezone names to Java has changed format slightly, dropping an obsolete field.  SVM includes a copy of the old code in order to read the file from memory instead of disk, but the experimental JDK 16 builds use this to parse the new file, with the result that it invariably reports "Illegal format in tzmappings file: illegal null ch

[2021-04-21 05:47] mcraj017 commented on #3357
@Batman-Igor Please follow this link
https://www.graalvm.org/docs/getting-started/windows/
and if you still face error, please share the reproducer

[2021-04-21 06:00] LilWayne7 commented on #3357
Thank you very much! I missed one thing (x64 Native Tools Command Prompt) and start it from usual cmd

[2021-04-21 06:11] mcraj017 commented on #3357
ok great, closing it now

[2021-04-21 06:11] #3357 closed

[2021-04-21 06:51] mcraj017 commented on #3347
@ilopmar bug has been raised to dev team.

[2021-04-21 10:42] smallshen commented on #3343
https://github.com/oracle/graal/issues/3342#issuecomment-821786690
The same one

[2021-04-21 16:38] dkovalenko opened #3369 "Jlink build issue: automatic module cannot be used with jlink: com.ibm.icu"
**Describe the issue**
I'm trying to build minimal GraalVM custom JRE using jlink.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone --depth 1 https://github.com/dkovalenko/minimal-java-graaljs-jlink/tree/main
2. mvn clean package

**Describe GraalVM and your environment:**
 - GraalVM version **21.0.0.2**,  GraalVM version **20.0.0**
 - JDK major v

[2021-04-21 17:47] dansiviter commented on #3351
FYI I've just tried this with 21.1.0 (linux_amd64) Java 11 based and it's still an issue.

[code]

[2021-04-21 18:55] christianwimmer commented on #3347
I think the `Book` class is just not on the class path provided to the native image generator. Adding `--verbose` to the `native-image` command gives me the following class path (external dependencies omitted):
[code]

But the file `core.jar` and the directory it is supposed to be in just don't exist.

[2021-04-21 21:56] willholen opened #3370 "System.err in Graal compiler causes VM to write to stdOUT in certain build modes"
**Describe the issue**
Using `System.err.println(..)` for debug messages in Graal code causes the VM to write them to stdout instead of stderr as expected. This interfers with normal program output.

This only happens when invoking the built JVM, not when testing or debugging via `mx vm`.

The expected behavior is for `System.err` to print to stderr, as it would in any other code.

**Steps to repr

[2021-04-21 23:56] mcraj017 commented on #3358
@jack161641 please provide a reproducer

[2021-04-21 23:57] mcraj017 commented on #3343
ok so closing this issue
We will follow there

[2021-04-21 23:57] #3343 closed

[2021-04-22 00:02] mcraj017 commented on #3359
@olyagpl please check it out

[2021-04-22 00:06] smasher164 commented on #3359
I published a blog post about this method today, and mentioned the caveat that it's undocumented and unstable.
See https://www.blog.akhil.cc/static-jni.

[2021-04-22 07:47] plokhotnyuk commented on #3349
I got almost the same kind of performance drop with GraalVM EE for Java 16:
![image](https://user-images.githubusercontent.com/890289/115676088-87bd3500-a34f-11eb-8452-c7dcf1ccec39.png)
![image](https://user-images.githubusercontent.com/890289/115676158-99064180-a34f-11eb-8852-19c2addcc863.png)

[2021-04-22 07:56] plokhotnyuk commented on #3349
Please use following links to see difference of results for all benchmarks between versions of GraalVM:
1) [GraalVM CE Java11 vs. GraalVM CE Java16](https://jmh.morethan.io/?sources=https://plokhotnyuk.github.io/jsoniter-scala/graalvm-ce-java11.json,https://plokhotnyuk.github.io/jsoniter-scala/graalvm-ce-java16.json)
2) [GraalVM EE Java11 vs. GraalVM EE Java16](https://jmh.morethan.io/?sources=htt

[2021-04-22 08:03] jack161641 commented on #3358
`Executing: /alidata1/graalvm-ce-java8-21.0.0.2/jre/lib/svm/bin/native-image -cp /home/admin/.m2/repository/org/springframework/boot/spring-boot-starter-web/2.4.4/spring-boot-starter-web-2.4.4.jar:/home/admin/.m2/repository/org/springframework/boot/spring-boot-starter/2.4.4/spring-boot-starter-2.4.4.jar:/home/admin/.m2/repository/org/springframework/boot/spring-boot/2.4.4/spring-boot-2.4.4.jar:/ho

[2021-04-22 08:23] ilopmar commented on #3347
Thank you so much for digging into this. I've tried building `core.jar` manually before trying to create the native image and it works as expected. I didn't think about this approach to try to figure it out.

This is some bug in our Gradle plugin.

Apologies for the noise.

[2021-04-22 08:23] #3347 closed

[2021-04-22 09:59] janbodnar commented on #1327
I have tested the newest current GraalVM (21.0.0.2.r11-grl) with a simple Swing application on Linux. It failed with
Error: Unsupported type sun.awt.X11.XBaseWindow is reachable.

I also tested JavaFX. The build finished, but the program failed at runtime with
Caused by: java.lang.NoClassDefFoundError: Ljava/nio/ByteBuffer;

It's a pity; it would be great to have Java GUI binaries.

[2021-04-22 10:03] #3366 closed

[2021-04-22 10:37] kristofdho commented on #1327
JavaFX is an entirely different story and requires, https://docs.gluonhq.com/#_the_gluon_client_plugin_for_maven
It has native-image support for unix for over a year now.

Sidenote, the newest current GraalVM would be 21.1, released 2 days ago.

[2021-04-22 10:45] janbodnar commented on #1327
OK, my mistake, I have copied the wrong line. I have tested the examples against 21.1.0.r16-grl.

Thanks for pointing to the Gluon Substrate, I will test it.

[2021-04-22 11:12] lucaswerkmeister opened #3372 "ArrayIndexOutOfBoundsException in PolyglotContextImpl when parsing Python code in inner context"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.1.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Arch Linux** (but also happens in [GitHub Actions](https://github.com/lucaswerkmeister/graaleneyj/runs/2409293428), Ubuntu 20.04.2)
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you

[2021-04-22 14:07] kristofdho commented on #1327
Oh I remembered something else, with AWT and unix. I think native-image by default runs with `-Djava.awt.headless=true`. And it only links headless awt stuff. I think the X11 stuff is only linked when running heady, and the subsitution you're running into is also conditional on this.

TL;DL: try adding `-Djava.awt.headless=false` to your native-image command.

[2021-04-22 15:22] scubasoft commented on #2842
@mcraj017  Yes, just like before, the native-image runs fine. But when I run the resulting native image I still get the same error:

[code]

[2021-04-22 17:44] ehsmeng-graalvm opened #3374 "java.lang.NoClassDefFoundError: Ljava/lang/Object; when running native compiled binary"
**Describe the issue**
Trying to compile Cassandra. Compilation works, but when running I get:
[code]
...

**Steps to reproduce the issue**
1. **https://github.com/ehsmeng-graalvm/odd/tree/master/3**
2. **./graal_compilation.sh**
3. **. run_binary.sh**

**Describe GraalVM and your environment:**
 - GraalVM version: **CE 21.2.0-dev (build 11.0.11+5-jvmci-21.1-b03)**
 - JDK major version: **11**
 -

[2021-04-22 19:52] janbodnar commented on #1327
I tried to set the headless option to false and it passed. But later it failed with some linker error:

/usr/bin/ld: native-app.o: warning: relocation in read-only section `.svm_heap'
/usr/bin/ld: warning: creating DT_TEXTREL in a PIE
collect2: error: ld returned 1 exit status
        at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at java.base/j

[2021-04-22 21:59] SergejIsbrecht commented on #3374
@ehsmeng-graalvm ,

to me it seems, that Object is not registered with the JNI-Class-store, if I look in your JNI configuration at given repo:

https://github.com/ehsmeng-graalvm/odd/blob/master/3/magicator-native-image-conf/jni-config.json

[code]

(JNI - Java Native Interface). It seems that a native library is loaded and it tries to to access the class Object, which is not in the JNI-Class-Stor

[2021-04-23 10:14] mipastgt commented on #2908
Just tested this with a large GluonHQ based JavaFX application and it works. I included English and German language bundles and could switch between the two. Thanks to everybody involved.

[2021-04-23 10:14] oubidar-Abderrahim commented on #3361
@OlegPliss please provide a more descriptive issue body so that we can understand where the issue is coming from. We encourage you to follow our issue's template

[2021-04-23 11:25] ehsmeng-graalvm commented on #3374
Hi, The directory run-native-image-conf/ is the output from tracing-agent, and the magicator-native-image-conf/ is generated by a tool.

Tracing agent didn't create many of the entries I need in the jni-conf.
[code]

I don't know if it was supposed to, or if I'm doing something wrong.
I added "run_old_trace.sh" to show how the tracing agent was run.

[2021-04-23 11:56] smallshen commented on #3342
I think the problem is the native compiler can not recognize the loop in kotlin coroutines. I tested with another jar made with jetpack compose it throws error of
[code]

[2021-04-23 12:24] robberphex opened #3375 "native-image compiling failed at GraalVM CE 21.1.0"
**Describe the issue**
The code is [spring-native-demo](https://github.com/RobberPhex/spring-native-demo/tree/a4f132ce452b884b57e073bd11003865466f75d8), and it compiled failed with version `GraalVM 21.2.0-dev Java 11 CE (Java Version 11.0.11+5-jvmci-21.1-b03)`.
The log is:
[code]

Re-run `native-image` with options `--trace-class-initialization=sun.rmi.transport.ObjectTabl`:
[code]
And re-run with

[2021-04-23 13:13] kirillp opened #3376 "Crash on application start: Fatal error: overwriting existing java.lang.Thread"
Trivial program crashes with GraalVM 21.1,
It is regression GraalVM  works fine.

The repository to prerodice: https://github.com/kirillp/graalSamples/tree/crash_on_main/simpleApp

Program is really trvivial:

app.java:

[code]

app.cpp:

[code]

Commandline:
`            --no-fallback   --shared   -H:-SpawnIsolates   -H:Optimize=2   ${main.class}`

[2021-04-23 13:15] kirillp commented on #3376
Fatal error: overwriting existing java.lang.Thread

JavaFrameAnchor dump:

  No anchors

TopFrame info:

  TotalFrameSize in CodeInfoTable 48

VMThreads info:

  VMThread 00007f854040a180  STATUS_IN_JAVA (safepoints disabled)  java.lang.Thread@0x1013ecfe0

VM Thread State for current thread 00007f854040a180:

  0 (8 bytes): com.oracle.svm.jni.JNIThreadLocalEnvironment.jniFunctions = (bytes)
    00

[2021-04-23 14:50] ehsmeng-graalvm commented on #3374
I updated jni-config and reflect-config (checked in) as far as possible and it ended up here:

[code]

[2021-04-23 14:56] argenstijn commented on #2720
@TargetClass(className = "com.sun.xml.bind.v2.model.impl.TypeInfoImpl", onlyWith = Target_com_sun_xml_bind_v2_model_impl_TypeInfoImpl.Selector.class)
@Substitute
final class Target_com_sun_xml_bind_v2_model_impl_TypeInfoImpl {

    static final class Selector implements BooleanSupplier {

        @Override
        public boolean getAsBoolean() {
            try {
                Class.forName("com

[2021-04-23 20:20] willholen commented on #3370
I dug into the JVMCI source code and found that `System.err` ends up going to the VM's `tty` log. This log is written to stdout by default, and can be controlled with the flag `-XX:+DisplayVMOutputToStderr.

[2021-04-23 20:24] SergejIsbrecht commented on #3374
native-image:

[code]

I get following error when running:

`   38;2;228;228;228m 38;2;228;228;228m~/Development/GitHub/odd/3  master ?15     ./a.exe -Dcassandra.config=file:///home/sergej/Development/GitHub/odd/3/cassandra/conf/cassandra.yaml ✔  ✔  22:21:23 `

[code]

on `uname -a`

[code]

[2021-04-24 08:22] kristofdho commented on #1327
Sorry, can't help you with that, it's a unix linker failure which I don't know anything about.

[2021-04-24 10:16] alexarchambault commented on #3171
FWIW, I'm running into the same issue on GitHub Actions, on a `windows-latest` worker, using GraalVM `20.3.1.2`:
[code]
Running into that in a private code base, which should be made public in the coming days. I can come up with a repro by then.

[2021-04-24 20:01] ScottPierce commented on #3342
Seeing this also.

[2021-04-25 19:17] lucaswerkmeister commented on #3372
<details>
<summary>Short reproducer</summary>

[code]

</details>

Tarball (Makefile assumes GraalVM 11 is installed in `/usr/lib/jvm/java-11-graalvm`, as it would be using [jdk11-graalvm-bin](https://aur.archlinux.org/packages/jdk11-graalvm-bin/) + [graalpython-jdk11-bin](https://aur.archlinux.org/packages/graalpython-jdk11-bin); not sure if other distributions use the same directory structure):

[2021-04-25 19:25] lucaswerkmeister commented on #3372
On second thought, here’s an alternative tarball with a Makefile that should work on any system as long as `$JAVA_HOME` is set properly. (The `$JAVA_HOME` must not contain spaces or other shell special character, because Makefile.) The Java code is the same :)

[graal-issue-3372.tar.gz](https://github.com/oracle/graal/files/6372794/graal-issue-3372.tar.gz)

[2021-04-26 04:36] mcraj017 commented on #3369
@dkovalenko thanks for reporting the issue,
we will look into it and come back to you

[2021-04-26 07:01] dainiusjocas commented on #3341
I have the same issue.

[2021-04-26 07:39] zakkak opened #3377 ""GraalVM Gate" and "Nightly quarkus tests" workflows failing due to missing JDK"
**Describe the issue**
The github workflows ["GraalVM Gate"](https://github.com/oracle/graal/actions/workflows/main.yml) and ["Nightly quarkus tests"](https://github.com/oracle/graal/actions/workflows/quarkus.yml) are failing with:

[code]

[2021-04-26 07:51] dougxc commented on #3377
I have uploaded the artifacts now.
We will try ensure they are published more promptly for future CPU releases (/cc @marwan-hallaoui ).

[2021-04-26 08:01] #3377 closed

[2021-04-26 08:28] sdeleuze commented on #2991
@d-kozak Any chance that `GraalJSEngineFactory` could be excluded if `--language:js` is not set in GraalVM 21.2.0?

[2021-04-26 09:42] xcorrnner opened #3379 "reflection problem in spring boot code"
**Describe the issue**
Trying to compile a spring boot demo project that only print "hello" using the native image.  have tried to add the configuration JSON but still provide the same error.
[code]

**Steps to reproduce the issue**
1. **git clone https://github.com/xcorrnner/graalvm-springboot-aot**
2. **native-image -jar old-0.0.1-SNAPSHOT.jar**

**Describe GraalVM and your environment:**
 - Gra

[2021-04-26 13:45] chumer commented on #3154
We are currently working on implementing stack size and limit for a different feature. Whether we want to expose it as an API is not yet clear. If we understand the feature well enough we can make an educated decision whether we can expose it. You probably also want to have a very efficient, ideally almost free, stack check. So what you probably want a:
{code}
if (hasFreeStackSpace(1025)) {
  // c

[2021-04-26 14:25] iamrecursion commented on #3154
Correct. A primitive like this would allow us to make an informed decision about when to spawn a new thread / fiber / what have you. The idea behind the `getStackSize()` and `getStackUsage()` above was mainly to do `getStackSize() - getStackUsage()` after all!

That makes a lot of sense, yes!

[2021-04-27 09:45] tenwx commented on #3374
Adding the following json string to the jni-conf file will work:
`
{
  "name":"java.lang.Object",
  "methods": [
    { "name": "toString" }
  ]
},
{
  "name":"java.lang.Class",
  "methods": [
    { "name": "getComponentType" }
  ]
},
{
  "name":"java.lang.String",
  "methods": [
    { "name": "getBytes" },
    { "name": "toCharArray" },
    { "name": "<init>" }
  ]
},
{
  "name":"java.lang.reflect

[2021-04-27 12:20] mur47x111 commented on #3349
I have looked at `IntReading.jsoniterScala` and it is due to the not-yet-supported intrinsic of `Reference.refersTo` called from `ThreadLocal.get()`. See [JDK-8256999](https://bugs.openjdk.java.net/browse/JDK-8256999), [CheckGraalIntrinsics.java#L407-L410](https://github.com/oracle/graal/blob/master/compiler/src/org.graalvm.compiler.hotspot.test/src/org/graalvm/compiler/hotspot/test/CheckGraalIntr

[2021-04-27 14:28] nilskp commented on #1752
Just saw it:

![image](https://user-images.githubusercontent.com/74843/116258780-dcd7bd00-a73a-11eb-9abf-f78f926befc8.png)

[2021-04-27 22:58] warrenc5 commented on #1334
Post and check here https://github.com/oracle/graaljs/issues/

https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/Value.html#hasArrayElements--

https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/Value.html#hasHashEntries--

[2021-04-27 23:48] smallshen commented on #3343
this is solved in new version of release

[2021-04-28 08:22] cyw3 commented on #3075
Hi, @christianwimmer .
Any progress?

[2021-04-28 13:04] StevenHachel opened #3380 "svm.jar package is defect. cant build native-image"
In the graalvm 21.1.0 Java 16/11 is the svm.jar "...\graalvm-ce-java16-21.1.0\lib\svm\builder\svm.jar"

[2021-04-28 13:51] sbanoth-vmw opened #3381 "Native image not accepting runtime truststore"
**Use Case**

We are generating a spring native image using graalvm. This image will talk to other apps,  where the apps can be CA trusted/ selfsigned. As we know native image can talk to CA trusted apps. But if it is selfsigned ssl app, then we need to add certificate to image trust store. we can pass env JAVA_TOOL_OPTIONS, this can be added to truststore(in jvm image). But for spring native imag

[2021-04-28 13:53] sbanoth-vmw commented on #3381
Please tag it to `spring`.

[2021-04-28 13:55] sbanoth-vmw commented on #3381
[duplicate](https://github.com/oracle/graal/pull/3091)

[2021-04-28 13:56] #3381 closed

[2021-04-28 15:48] collinpeters commented on #3066
The release notes for 21.1 read:

Does that resolve this issue? Haven't had a chance to test myself.

[2021-04-28 15:51] jack161641 commented on #3358
I use graalvm-ce-java11-21.1.0 ,Spring Native 0.9.2 to build ,but I am getting another exception,It likes cann't found springframework class,like this:

Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: org.springframework.beans.factory.groovy.GroovyBeanDefinitionReader. To diagnose the issue you can use the --allow-incomplete-class

[2021-04-28 16:28] kristofdho commented on #3380
Are you on windows? windows sometimes flags svm.jar als a thread, and removes it. Check defender.

If you are not on windows, please elaborate, there is very little to go on..

[2021-04-28 16:39] scubasoft commented on #2842
@mcraj017 , could this be related to any environment variables that may be set incorrectly?

I also tried the same example without the extra package awttestforgraal, but got the exact same result, just without the mentioning of that package.

[2021-04-28 17:56] StevenHachel commented on #3380
Yes, windows 10 64. Sorry!
Under GraalVM 21.0.0 works perfectly.

I cannot open the svm.jar directly from the zip file either. Then a message comes up that the package is damaged.

Steven

[2021-04-28 18:00] leccelecce commented on #1752
Also seen this today:

[2021-04-28 21:41] chrisseaton opened #3383 "[LLVM] Error building on macOS 11.3"
[code]

[2021-04-28 23:17] smallshen commented on #3342
any progress?

[2021-04-29 03:05] YihongGao commented on #3355
Sorry response late, I found some problem about my server OS, I need a few day solve that.
I will try it command after fix OS problem, thanks you help.

[2021-04-29 04:00] mcraj017 commented on #3358
@jack161641 please provide a sample code to reproduce this issue

[2021-04-29 04:32] mcraj017 commented on #3342
@smallshen I have raised this issue with our dev team, please wait for their response

[2021-04-29 06:05] mcraj017 commented on #3332
@caleron closing this issue, if you the issue still persist, please reopen

[2021-04-29 06:05] #3332 closed

[2021-04-29 10:03] mcraj017 commented on #3341
@etspaceman when I tried your reproducer, I didn't get any error:
[code]

[2021-04-29 10:03] mcraj017 commented on #3341
@etspaceman please share any other information which can help me to reproduce this issue

[2021-04-29 11:49] stanislavcc opened #3384 "Unexpected assert failure org.graalvm.polyglot.Context should not be reachable"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **21.1.0**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **Windows**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
no

**Describe the issue**
We implemented an TruffleIn

[2021-04-29 12:33] mcraj017 commented on #3345
@mmuniz75 I have tried with Graalvm -21.1.0-Java 8 and image is successfully built
please givr it a try
[code]

[2021-04-29 13:43] rschatz commented on #3383
Unfortunately I don't have macOS 11 yet, and on my machine it doesn't reproduce (macOS 10.15).

The symbol it doesn't find is supposed to be defined in `wchar.h`. At least it's there on my system (in `/Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/usr/include/wchar.h`) it is defined there. Is this still there on the newer version?

Also we did recently change our build process to use CMa

[2021-04-29 13:45] chrisseaton commented on #3383
I've never even seen `#include_next` before in this header!

[2021-04-29 14:41] smarr opened #3385 "IGV Fails Loading Graphs"
**Describe the issue**
IGV currently has issues loading graphs generated by Graal.

Loading fails with errors such as:

[code]

It doesn't fail with all graphs, at the moment, it's perhaps 10%.
To find the cause for this, I bisected through the Graal history and identified the following commit as likely related:
https://github.com/oracle/graal/commit/8ec6c62fad2442dd4ef47d82783bde7c2cf46286

With

[2021-04-29 14:42] Aleksandr-Filichkin opened #3386 "Failed to generate method handle for GraalVM 21.1.0 for dynamodb-enhanced"
Hi,

I'm trying to compile dynamodb-enhanced client with Graalvm 21.1(graalvm-ce-java11-21.1.0) and awssdk.version=2.16.50
Here the code:
DynamoDbTable<Book> dynamoDbTable = dynamoDbEnhancedClient.table(TABLE_NAME, TableSchema.fromBean(Book.class));

Reflection config doesn't help. I generated native-image artifacts with -agentlib: but it still doesn't help.
GraalVM 21.1 supports Method Handler, I

[2021-04-29 15:15] ilopmar opened #3387 "`--allow-incomplete-classpath` doesn't seem to work with JNI"
**Describe the issue**

In Micronaut we include by default the flag `--allow-incomplete-classpath` because we have some compile only depedencies that may or may not exist during native-image generation. In a lot of places in the framework with have classes annotated with `@Requires(...)` so if that requirement is not there Micronaut doesn't create the appropriate beans at runtime. This way, if use

[2021-04-29 15:54] lread commented on #1752
As of this writing, I am also seeing Microsoft Defender Antivirus detecting `Trojan:Script/Oneeva.A!ml` in `svm.jar` for GraalVM 21.1.0 Java 11.

On my Windows 10 Home OS, Microsoft Defender security intelligence version is at `1.337.198.0` created on `4/29/2021 6:45 AM`, last update `4/29/2021 11:38 AM` (I am in EDT if these times are localized).

[2021-04-29 18:52] entlicher commented on #2855
This was fixed already in 21.0 and backported to 20.3.1.

[2021-04-29 18:52] #2855 closed

[2021-04-29 19:01] entlicher commented on #2920
This is fixed by https://github.com/oracle/graal/commit/53815995d3bb825e87cd670fd1aafe847aa80da6
We show `this` only when the language provides it (`NodeLibrary.getReceiverMember()`) and we use the receiver's name (e.g. `self` in Ruby).

[2021-04-29 19:01] #2920 closed

[2021-04-29 19:53] kaspernielsen commented on #3341
I'm seeing the same issue.

[code]
Compiled with native-image HelloWorld --initialize-at-build-time=HelloWorld foobar

[2021-04-29 22:32] MikeDombo opened #3388 "Native Image: NOFOLLOW_LINKS is not supported on this platform"
**Describe the issue**
Using GraalVM graalvm-ce-java8-21.1.0/bin/native-image to build an application which uses the NOFOLLOW_LINKS option fails at runtime with the error "NOFOLLOW_LINKS is not supported on this platform". However the output of `find --version` does show `O_NOFOLLOW(enabled)`. OS is AmazonLinux 2 x64 kernel `5.4.95-47.164.amzn2int.x86_64`.

**Steps to reproduce the issue**
Please

[2021-04-29 22:56] chrisseaton commented on #3383
I hacked a fix by just removing `libc++`.

On ec3ea38955a61bf2e70306e7291a5ff9f8da5196:

[code]

On 7b97b5c09468ec1a8c3187353b4781c38272a728 for TruffleRuby:

[code]

[2021-04-29 23:24] chrisseaton commented on #3383
@rschatz it's not Ninja that makes the difference.

[2021-04-30 04:06] mcraj017 commented on #3379
@xcorrnner thanks for reporting the issue
we will check it out and come back to you

[2021-04-30 05:40] mcraj017 commented on #3341
@kaspernielsen thanks for the reproducer, I am able to reproduce the issue
I will raise to our Dev team for further steps

[2021-04-30 07:53] rschatz commented on #3383
:(

Thanks for checking. So it's either the MacOS version or some other setup problem.

[2021-04-30 09:45] mmuniz75 commented on #3345
Hi, for the exemple I provided works fine with jdk 8, but the real project use keyword "val" and maybe others new jdk features.
I need it working with jdk 11, thanks

[2021-04-30 09:48] ziyilin opened #3389 "Can't correctly report error when @CEntryPoint's exception handler method is not static"
**Describe the issue**
When `@CEntryPoint`'s exception handler method is not static, there is exception in the error reporting procedure. The following message is reported:
[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. **[e.g.: git clone --depth 1 https://git.myrepo.com/projectone ]**
2. **[e.g.: mvn clean package]**

**Describe GraalVM and your e

[2021-04-30 10:31] rschatz commented on #3383
Ok, I updated my Mac to 11.3, and I can reproduce the problem. Looking into it...

[2021-04-30 11:11] mcraj017 commented on #3345
@mmuniz75 in the console I have seen java.lang.UnsupportedOperationException: Reflective setAccessible(true) disabled is not allowed, which is not allowed after java 9

[2021-04-30 13:11] rschatz commented on #3383
Looks like it's specifically the MacOSX11.3 sdk. Looks like our LLVM toolchain build just doesn't work at all for C++ with that SDK. I still haven't found out why.

Not a real fix, but you can work around the issue by specifying `SDKROOT` manually to an older version, for example this works on my machine:
[code]

[2021-04-30 14:28] etspaceman commented on #3341
Thanks for the reproducer @kaspernielsen . @mcraj017 - I switched out the library that was causing my issue in my latest versions. The commit that I had linked had this issue. But it seems we have a much simpler reproducer here which is good.

[2021-04-30 15:13] rschatz commented on #3383
Looks like an include directory with C++ headers from the SDK appears on the include path on newer SDKs, and that's redundant with an include path from the LLVM toolchain we ship.

I haven't figured out how to prevent that, but I can offer you a workaround: You can just remove the headers from our shipped LLVM toolchain:
Just add `include/c++` to the excludes list here https://github.com/oracle/gr

[2021-04-30 15:14] christianwimmer commented on #3341
Is this still reproducible with GraalVM 21.1? We definitely fixed a bug recently that caused a similar exception.

[2021-04-30 15:18] kaspernielsen commented on #3341
The snippet I posted failed with 21.1

On Fri, 30 Apr 2021 at 16.14, Christian Wimmer ***@***.***>
wrote:

[2021-04-30 22:07] smarr commented on #3385
Looking at the mentioned merge a little more, the line that breaks IGV is the addition to `GraphPrinterDumpHandler`.

If I remove it on `HEAD`, I can load all graphs.

[code]

/cc @davleopo and perhaps @chumer

[2021-05-01 16:34] jack161641 commented on #3358
sample code is https://github.com/jack161641/gs-rest-service.git

I get error message when build

	at org.apache.dubbo.config.bootstrap.DubboBootstrap.hasExportedServices(DubboBootstrap.java:937) ~[dubbo-2.7.9.jar:2.7.9]
	at org.apache.dubbo.config.bootstrap.DubboBootstrap.start(DubboBootstrap.java:899) ~[dubbo-2.7.9.jar:2.7.9]
	at org.apache.dubbo.config.spring.context.DubboBootstrapApplicationLi

[2021-05-02 00:03] chrisseaton commented on #3383
I wasn't able to fix using `SDKROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk` for a copy of `MacOSX11.1.sdk` copied from an old computer - I guess it's a bit more complex in reality, maybe symlinks to other places and things.

[2021-05-02 10:29] jespertheend commented on #2919
Did anyone find a workaround for this?

[2021-05-02 12:38] jespertheend opened #3391 "Wasm target architecture for native image"
**Feature request**

**Is your feature request related to a problem? Please describe.**
I'm trying to port closure compiler to wasm so that it can run from within a browser.

**Describe the solution you'd like.**
Closure compiler already has build support for native image. So I was hoping to be able to use the LLVM backend but it seems like adding a new target architecture is a lot more work than

[2021-05-02 13:53] lucaswerkmeister commented on #3372
Still happens in [GraalVM CE 21.2.0-dev-20210430_1928](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.2.0-dev-20210430_1928):

[code]

[2021-05-03 02:30] mcraj017 commented on #3380
@christianwimmer please advise

[2021-05-03 03:11] mcraj017 commented on #3380
@StevenHachel please share the steps you are performing when getting this error

[2021-05-03 03:27] mcraj017 commented on #3380
@StevenHachel I have tried building Helloworld native-image using graalvm 21.1.0 Java 16 on windows 10 64 bit and it worked fine

[2021-05-03 04:16] mcraj017 commented on #3387
@ilopmar Bug has been raised with dev team

[2021-05-03 04:17] mcraj017 commented on #3269
@ebremer please try the latest release 21.1.0