[2020-10-15 20:31] emrul commented on #2842
I get the same error using SXSSFWorkbook in Apache POI

[code]

[2020-10-16 13:49] mipastgt commented on #2901
Does a similar fix like in this issue https://github.com/oracle/graal/issues/1462 also apply here?

[2020-10-16 15:31] jramirez-isc commented on #2913
Hi @zfernandez88 Thanks for reporting this.
Currently, we don’t have an API for that. There is only a periodical dump available, but it is a GraalVM EE feature.
The dev team is making an effort to document such an option better. We'll let you know any progress on that.

[2020-10-16 17:34] zfernandez88 commented on #2913
Thanks for looking. I had discussed with @chumer and I did not see the periodic dump option. What version is that flag in? I had tried on EE 20.2.0 (Java8).

Running with -XX:ProfileDumpPeriod yields the following:
<pre>
error: Could not find option 'ProfileDumpPeriod'. Use -XX:PrintFlags= to list all available options.
</pre>

If I run with –XX:PrintFlags=, grepping for profile yields the followi

[2020-10-16 17:49] olyagpl commented on #2851
Documentation updated https://github.com/oracle/graal/blob/master/substratevm/BuildConfiguration.md#embedding-a-configuration-file
I'm closing the issue.
Thanks!

[2020-10-16 17:49] #2851 closed

[2020-10-16 17:53] olyagpl commented on #1592
@olpaw, the command option is now mentioned on https://github.com/oracle/graal/blob/master/substratevm/README.md#build-a-native-image and options pages.

[2020-10-16 17:57] olyagpl commented on #465
@paul-bjorkstrand, information  on signal handlers is available on https://github.com/oracle/graal/blob/master/substratevm/Limitations.md#signal-handlers and https://github.com/oracle/graal/blob/master/substratevm/README.md#build-a-native-image pages.
Thanks!

[2020-10-16 17:58] olyagpl commented on #726
@olpaw, done!

[2020-10-16 19:06] olyagpl commented on #2517
@fniephaus,  I've tested IGV 20.2  for macOS Catalina and it launches as expected from command line.
Do you still encounter the same problem with 20.2?

[2020-10-16 19:58] chumer commented on #2913
Note I have recommended to use `VMRuntime.shutdown()` to manually dump the profiles as a workaround.
We should probably have an explicit API for this.

[2020-10-17 20:18] ChadKillingsworth commented on #2756
This problem still exists with version 20.2.0

[2020-10-17 20:32] ezzarghili commented on #2781
Including the the JDK exact version in the file name will make the artifacts hard for automation.

As you have mentioned there are already ways to get that information.

[2020-10-18 11:04] fniephaus commented on #2517
For some reason, I no longer get the error in IGV 20.2, even though the jnilib is still unsigned:
[code]

Closing this for now...

[2020-10-18 11:04] #2517 closed

[2020-10-18 16:53] informarte opened #2928 "native-image 20.2.0: Scala application does not run anymore"
**Description of the issue**

Compiling a Scala application with native-image 20.2.0 results in a non-working binary. Interestingly, compiling the same code with native-image 20.1.0 results in a working binary.

**Environment**

- GraalVM version: CE 20.2.0
- JDK major version: 11
- OS: Linux 5.4.0 (Ubuntu 20.04)
- Architecture: x86_64

**Steps to reproduce the issue**

[code]
Expected outcome and

[2020-10-18 17:27] informarte commented on #2928
I double-checked with GraalVM CE 20.3.0-dev-20201017_0226 and ran into the same issue.

[2020-10-18 17:42] informarte commented on #2542
@gergo-, I wanted to repeat my performance test with native-image 20.2.0 and the current dev branch, but ran into this issue: https://github.com/oracle/graal/issues/2928

[2020-10-19 08:42] christianhaeubl commented on #1793
Fixed in 20.3.

[2020-10-19 08:42] #1793 closed

[2020-10-19 10:15] oubidar-Abderrahim commented on #2928
I couldn't reproduce the issue because of this error when running the make `command`:
[code]
Is there something missing?

[2020-10-19 11:20] informarte commented on #2928
I am sorry, this was a bug in the Makefile.
Please pull and try again.

[2020-10-19 13:06] oubidar-Abderrahim commented on #2928
I see that you're using `-H:ReflectionConfigurationFiles=src/graalvm/reflect-config.json`, did you generated this file with the agent or manually? did you try re-generating the config files using the agent with 20.2.0?

[2020-10-19 14:44] informarte commented on #2928
`reflect-config.json` was created manually.
Since the binary produced by native-image 2.1.0 works fine, I think that the Reflection configuration is complete.

[2020-10-19 15:02] informarte commented on #2928
I tried the agent; it suggested to extend my `reflect-config.json` with:

[code]

Extending the configuration did not help, however: The resulting binary throws as reported above.

[2020-10-19 15:08] zcui001 commented on #2745
The above repro code provides a simple callbacks of Subject.doAs() to show what's the issue. A real example of callback is below:

    Subject.doAs(subject, new PrivilegedExceptionAction<GSSCredential>() {
        @Override
        public GSSCredential run() throws Exception
        {
            GSSManager manager = GSSManager.getInstance();
            return manager.createCredential(GSSCredenti

[2020-10-20 01:00] mcraj017 commented on #2877
@sendev1 I cannot find https://github.com/sendev1/cxf-client

[2020-10-20 06:34] ilopmar commented on #2923
Now that the change has been "propagated" to the daily dev-releases, our jobs for those releases started to fail too: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/204324955

[2020-10-20 09:48] kirillp commented on #2873
Is there a better way to pass
`float data[] = new float[16];`
to a @CFunction somehow  to invoke ?
`extern "C" void getMatrix(float *);`

Can I use [org.grallvm.naiveimage.c](https://www.graalvm.org/sdk/javadoc/org/graalvm/nativeimage/c/function/package-summary.html) interop somehow here ?

[2020-10-20 12:18] UltraBurstXD opened #2931 "Will GraalVM support cross compiling in future?"
Hi,
I'm using GraalVM recently on my projects and I think it's cool. The programs uses less memory footprint, are smaller and blazing fast when compared to recently packing tool reintroduced in Java 14, **jpackage** with Hotspot JIT. But just like the previously mentioned tool, from what I recently saw **Native Image** only can target the host OS and what about Cross compiling with AOT? Will that

[2020-10-20 13:35] gergo- commented on #2928
For reference, when working on Yuck's `native-image-performance-issue` branch for #2542 , I also had trouble building the newest version of that branch with GraalVM 20.2. It also failed with the same `MethodHandle` error message.
There the problem was with this commit: https://github.com/informarte/yuck/commit/c62d0cd45c3208e9c8557551a3e9cf36bb506914, the one before it worked. However, I don't see

[2020-10-20 13:50] zakkak opened #2933 ""cannot find symbol SpeculationReasonEncoding" when building with vanilla OpenJDK"
**Describe the issue**
As discussed in https://github.com/graalvm/mandrel/issues/146 after @2d5eee0 GraalVM no longer builds with vanilla OpenJDK.

Unfortunately https://bugs.openjdk.java.net/browse/JDK-8220623 is rather big and includes many changes that are not all related to the issue at hand. I tried creating a minimal backport/patch for jdk11u by pulling in only the needed changes but I ended

[2020-10-20 14:42] oubidar-Abderrahim commented on #2928
An internal ticket was created to investigate and fix this issue (GR-26843)

[2020-10-20 15:34] informarte commented on #2928
Don't get confused by the `native-image-performance-issue` branch, it's an old branch. The `native-image-20.2.0-compilation-issue` branch is based on my latest release and, yes, the build system has been swapped out. The code in informarte/yuck@c62d0cd was added at some point to obtain a working binary but later removed because it was not necessary any more. (I can't remember the details, though.)

[2020-10-20 20:18] olyagpl commented on #2292
@aitorhh , there was a change introduced to WASM support in GraalVM.
We updated the doc https://www.graalvm.org/reference-manual/wasm/#running-webassembly-programs
It is recommended to built WASM binary must be built using a recent Emscripten version. the Builtins option should point to wasi_snapshot_preview1:
`wasm --Builtins=wasi_snapshot_preview1 example.wasm`.
Thanks for reporting the problem!

[2020-10-20 20:42] sendev1 commented on #2877
I had to take down the repo because looks like my work email id is used for one of commit. I am having hartime to use 2 different git account to check in code. I will attach cxf-client as zip file
[cxf-client.zip](https://github.com/oracle/graal/files/5411406/cxf-client.zip)

[2020-10-21 04:02] ziyilin opened #2936 "Build time initialization for substitution class is wrong"
**Describe the issue**
For clarity, I refer the original class to be substituted as **target class**, and the substitution class annotated with `@TargetClass` as **substitution class**.
Current class initialization attempts to initialize the **target class** at build time, which is unnecessary and causes initialization errors.
Current initialization process firstly initializes all unconfigured cla

[2020-10-21 11:09] oubidar-Abderrahim commented on #2931
Hi,
I am afraid what you're expecting is next to impossible. A native image is nothing more than an executable program, having an executable that can be executed on any platform means you need to include all possible libraries you're going to need, thus you'll end up with something huge, a few dozens of Gigabytes and maybe more. and to my knowledge no other software has attempted to create an exec

[2020-10-21 11:11] #2931 closed

[2020-10-21 15:37] andreaTP commented on #2826
Please reopen, this is an issue with Graal 20.2.0 ( @cstancu @gradinac )
Here you have a repro:

https://github.com/andreaTP/graal-repro-2826

[2020-10-21 16:02] gradinac commented on #2826
Hey @andreaTP! Yes, this issue has been verified with GraalVM 20.2 and has been addressed for the next release (GraalVM 20.3). Since GraalVM 20.3 is not out yet, you could try if the latest dev build fixes it for you: https://github.com/graalvm/graalvm-ce-dev-builds/releases

[2020-10-21 16:52] andreaTP commented on #2826
Thanks for the heads up @gradinac ! I'll test as soon as 20.3 is out 😄

[2020-10-21 17:30] teshull commented on #2228
Support for this was added in dba82b8047a7ee0f1fb7e14ec6413c23617dbc64 and will part of the 20.3 release

[2020-10-21 17:30] #2228 closed

[2020-10-21 19:39] zcui001 opened #2937 "GraalVM native image runtime issue for Hadoop APIs: No LoginModule found for com.sun.security.auth.module.UnixLoginModule / NTLoginModule"
GraalVM and environment:

OS: Red Hat Enterprise Linux Server release 6.4 (Santiago)
OS: Windows 10
GraalVM version 20.1.0  CE JDK 11

Issue:
GraalVM native image runtime failed for Hadoop APIs:
Linux error: No LoginModule found for com.sun.security.auth.module.UnixLoginModule
Windows error: No LoginModule found for com.sun.security.auth.module.NTLoginModule

Steps to reproduce the issue
1. Create

[2020-10-21 19:51] zcui001 commented on #2937
The above one line java code will reproduce the issue. This issue was observed in a real scenario where we try to call Apache Parquet API (based on Hadoop Core API) to write parquet files. Below is how to reproduce in this real example issue besides the same steps above.
1) Add Apache Parquet maven dependencies:
[code]

2) Add below java code:

[code]

[2020-10-21 19:58] zcui001 commented on #2937
To reproduce the issue on Windows, you need Hadoop winutils.exe
1) Download winutils.exe from https://github.com/steveloughran/winutils/tree/master/hadoop-2.7.1/bin and save to local drive: C:\hadoop-2.7.1\bin
2) set env var: set HADOOP_HOME=c:\hadoop-2.7.1
3) Run/Build the above code on Windows

[2020-10-22 02:58] zakkak opened #2938 ""Code that was considered unreachable by closed-world analysis was reached" when using --initialize-at-build-time"
**Describe the issue**
Native image throws exception about unreachable code when using `--initialize-at-build-time`.

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: **master (aa323f54c9abd583af86c1f876925e38366c900a)**
 - JDK major version: **11**
 - OS: **Linux Fedora 32**
 - Architecture: **AMD64**

**More details**
The failure appears whe

[2020-10-22 09:29] peter-hofer commented on #2933
This is how @dougxc and I think this can be fixed:
1. Unimplement interface `SpeculationReasonEncoding` in `IsolatedSpeculationReasonEncoding` and create and implement a new interface that is identical.
1. `UnencodedSpeculationReason` is the class instantiated by `GraalServices` when `EncodedSpeculationReason` and `SpeculationReasonEncoding` are not available. Duplicate the code in `EncodedSpecula

[2020-10-22 09:33] zakkak commented on #2933
Thanks a lot @peter-hofer and @dougxc! I'll give it a go and come back :)

[2020-10-22 13:41] oubidar-Abderrahim commented on #2937
I see that you're using the agent to generate the config files, but where do you specify those files to the native image?

[2020-10-22 13:47] oubidar-Abderrahim commented on #2937
I created a maven project with the Hadoop dependency and the main method you suggested and was able to run it, generate the native image and execute it without issues

I used ` java -agentlib:native-image-agent=config-merge-dir=src/main/resources/META-INF/native-image/com/oracle/example -jar target/Example-1.0-SNAPSHOT-jar-with-dependencies.jar` to generate the config files and `native-image --no-

[2020-10-22 15:35] loicottet opened #2939 "Support for interpreted method handles"
As part of #2761, version 20.3 supports invoking method handles that are directly linked to an actual method, without any modification through the MethodHandles API. This issue is about supporting the method handles that need lambda form interpretation (see the documentation of the `LambdaForm` class for more information) because of a call to `MethodHandle.bindTo()`, `MethodHandle.asType()` or any

[2020-10-22 19:13] chumer commented on #1210
Fixed as part of https://github.com/oracle/graal/commit/8baf365e6ade02a0e375bc998c5508222940e2be

[2020-10-22 19:13] #1210 closed

[2020-10-23 10:57] ilopmar opened #2940 "Error with Micronaut and jOOQ 3.14: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported type java.lang.invoke.MemberName is reachable"
**Describe the issue**

We have upgraded Micronaut to use jOOQ 3.14 and our GraalVM test application fails now and it's not possible to create the native image.
The build fails with: `com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported type java.lang.invoke.MemberName is reachable`

Adding the flag `--report-unsupported-elements-at-runtime` makes it work again, but as this has be

[2020-10-23 11:10] scientificware commented on #1327
Hi @pquiring,
Did you make a request to jdk-updates about back port JDK-8130266 to OpenJDK11 ?
Regards

[2020-10-23 13:18] adinn commented on #1327
@dougxc I think a request to backport to upstream jdk11u is unlikely to be be accepted. However, it doesn't look like it is really needed . . .

@pquiring @scientificware Is there any reason why the advice provided by @kristofdho cannot be followed? i.e. resolve the reflection issue by declaring the relevant targets in a reflection config?

[2020-10-23 13:34] scientificware commented on #1327
Hi @adinn,
Thanks for your advice, I'm trying to understand his suggestion :thinking:
In other words ... where does it take place ?
Maybe I'm not right now qualified enough to apply it :smiley:
Regards.

[2020-10-23 14:58] zcui001 commented on #2937
@oubidar-Abderrahim Abderrahim
Thanks so much your quick response! I tried with your command and still got the same error. Just wanted to confirm: which GraalVM version do you use? (I am using CE  20.1.0 for Java 11).

[2020-10-23 15:43] oubidar-Abderrahim commented on #2937
@zcui001 yes I am using GraalVM CE 20.1.0 for Java 11 and I am testing on Ubuntu 18.04
I am assuming if it was reproducible in RedHat it should be on Ubuntu. before thinking about OS let make sure we're using the same reproducer:

My Main.java is :
[code]
my pom.xml:
[code]
This looks similar to what you provided, right?

[2020-10-23 17:26] zcui001 commented on #2937
@oubidar-Abderrahim yes, it looks similar, except for using 11 as maven compiler version as I'm using GraalVM JDK 11. I'm going to give a try on Ubuntu.

[code]

[2020-10-23 17:41] oubidar-Abderrahim commented on #2937
Okay, I was able to get the exception when specifying
[code]
instead of
[code]

[2020-10-23 18:26] zcui001 commented on #2937
I also tried with 1.8 as maven compiler version, but got the same runtime error. I'm going to try the same on Ubuntu.

[2020-10-23 23:06] jramirez-isc commented on #2938
Hi @zakkak,
Thanks for reporting this.
I was able to reproduce the issue following the steps you provided.
We'll let know any progress.

[2020-10-24 16:15] TodGilbertHarter commented on #2774
I can confirm that with:
eclipse.buildId=4.17.0.I20200902-1800
java.runtime.name=OpenJDK Runtime Environment
java.runtime.version=11.0.8+10-jvmci-20.2-b03
java.specification.name=Java Platform API Specification
java.specification.vendor=Oracle Corporation
java.specification.version=11
java.vendor=GraalVM Community
java.vendor.url=https://www.graalvm.org/
java.vendor.url.bug=https://github.com/orac

[2020-10-24 23:55] vjovanov commented on #1163
20.3 will include AWT and Swing that work on JDK 11. Please try it out in a few days on the master branch or wait for 20.3 release.

[2020-10-25 16:00] Hixon10 opened #2942 "Example.class.getResourceAsStream("example.properties") returns null"
Hello,

I tried to create native image with https://github.com/mangstadt/biweekly library. I have a problem, connected with resources.

The block of code is:
[code]

**Steps to reproduce**:
1. Download the jars of the lib: https://repo1.maven.org/maven2/net/sf/biweekly/biweekly/0.6.4/biweekly-0.6.4.jar and https://repo1.maven.org/maven2/com/github/mangstadt/vinnie/2.0.2/vinnie-2.0.2.jar
2. The Exa

[2020-10-26 04:10] christianwimmer commented on #2873
You can pass pointers into primitive arrays to C functions if you "pin" the array, i.e., prevent it from being moved while C code might access it. The API for pinning is in https://github.com/oracle/graal/blob/fe2ba8d03ae8c032da8f2c0f467117b5a56991e2/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/PinnedObject.java

[2020-10-26 06:39] mcraj017 commented on #2940
@ilopmar thanks for reporting the issue, we will look into it

[2020-10-26 08:37] mcraj017 commented on #2942
@Hixon10 thanks for reporting the issue.
We will look into it

[2020-10-26 09:09] spangaer commented on #2344
I'm wondering if some AWS nitro host level intervention could cause this. I've had exceptional stability on these for quite a while, and now I had 3 crashes in a single weekend in 2 AWS regions and 2 different AWS accounts. (I had hoped that a 19.3.3 upgrade might have _magically_ solved something)

[code]
[code]
[code]

Notice that the last one is 19.3.1, but did run for 2 months

[2020-10-26 09:13] kirillp commented on #2873
` <T extends PointerBase> T addressOfArrayElement(int index);`

Sounds good.  It is not clear for me how to use it later on.

Should I use
`extern "C" JNIEXPORT jint JNICALL Java_test_JniTest_getMatrix(JNIEnv * env, jclass c, void *array);`
instead of
`extern "C" JNIEXPORT jint JNICALL Java_test_JniTest_getMatrix(JNIEnv * env, jclass c, jintArray array);`
?
Can I avoid "JNIEnv * env, jclass" someh

[2020-10-26 09:18] kirillp commented on #2873
`<T extends PointerBase> T addressOfArrayElement(int index);`

Sounds good. It is not clear for me how to use it later on.

Should I use
`extern "C" JNIEXPORT jint JNICALL Java_test_JniTest_call(JNIEnv * env, jclass c, void *array);`
instead of
`extern "C" JNIEXPORT jint JNICALL Java_test_JniTest_call(JNIEnv * env, jclass c, jintArray array);`
?

Can I aviod "JNIEnv * env, jclass c," like JavaCrit

[2020-10-26 10:00] #2292 closed

[2020-10-26 14:50] oubidar-Abderrahim commented on #2937
@zcui001 I think the issue is in `UnixLoginModule` (or `NTLoginModule` if you're on Windows) not being picked up by the agent.

Could you add
[code]
to the `reflect-config.json` file and generate the native-image again? let me know if it worked

[2020-10-26 15:11] ngittlen commented on #631
Adding on to the request for this to be fixed. Our project also relies on passing objects between contexts and serializing/deserializing adds other issues.

[2020-10-26 15:11] christianwimmer commented on #2873
When using `@CFunction`, you just define your function as `extern "C" void getMatrix(float *);` on the C side. No JNI parameters involved at all.

[2020-10-26 15:38] abhishekmishra17 commented on #1022
The same issue occurring for aws-java-sdk-cognitoidentity:1.11.887.Is issue fixed for all or specficy to DynamoDb?

[2020-10-26 16:12] kirillp commented on #2873
What I need to write on Java side to invoke
`extern "C" void getMatrix(float *);` or `Kernel32.dll:GetProcAddress` ?

Where can I see samples of using @CFunction ?

[2020-10-26 17:04] christianwimmer commented on #2873
btw, examples how to use `@CFunction` are in https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.tutorial/src/com/oracle/svm/tutorial/CInterfaceTutorial.java

[2020-10-26 19:53] zcui001 commented on #2937
@oubidar-Abderrahim yes, it works now! Thanks so much for your help!!

[2020-10-26 19:56] #2937 closed

[2020-10-27 05:15] vsevel commented on #1999
hello, here are my thought about it
https://groups.google.com/g/quarkus-dev/c/xS87YeiQd_o/m/gAar2LH9BgAJ

I really hope https://github.com/oracle/graal/pull/2831 from @jaikiran will go through

[2020-10-27 11:27] fniephaus commented on #1210
Thanks, @chumer!

[2020-10-27 13:21] scientificware commented on #1327
Try to understant why application still query the `java.library.path` ?
--
- Write : `queryJavaLibPath.java`, a simple test to see what is the java.library.path after `native-image`.
[code]
- Compile : `javac -d . queryJavaLibPath.java`.
- Build native : `native-image test.queryJavaLibPath`
- Run : `test.queryJavaLibPath`
- Output : `java.library.path : ""`, an empty string.
- Compare with : `java

[2020-10-27 15:02] sdeleuze commented on #2902
Any chance to do progresse on that one for 20.3?

[2020-10-27 15:11] sdeleuze commented on #2748
The related JDK issue is expected to be fixed in openjdk8u282, is it something we could benefit in GraalVM 20.3?

[2020-10-27 15:46] adinn commented on #2748
Sorry, for not confirming earlier but yes you are right that a fix has already been pushed and will appear in openjdk8u282 (I reviewed the fix and the jdk8u maintainers approved it).

I am sorry I cannot help you much regarding pushing the patch to the GraalVM Oracle 'labs' jdk8 releases. I assume the fix will eventually go into a release automatically -- Oracle jdk8u mostly keeps parity with open

[2020-10-27 15:46] Karm opened #2944 "sun.util.resources.TimeZoneNames is included by deafult on Linux, but it is not on Windows"
Hello,

The following snippet builds and runs without warnings on Centos8 and contemporary Fedora systems:
**TimeZoneTest.java**
[code]
# Linux :heavy_check_mark:

[code]

# Windows :x:

On Windows, it seems it is necessary to include ```-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames``` explicitly (the same with 20.2.0 and 20.1.0):

[code]

When I include it, it goes better...although

[2020-10-27 16:22] jerboaa commented on #2944
@Karm Seems expected. It got fixed with:
https://github.com/oracle/graal/pull/2777 which is in 20.3+ CE apparently.

[2020-10-27 16:26] jerboaa commented on #2944
I don't recall which versions of OpenJDK 20.1 and 20.2 use, but if they're on 11.0.8 the difference between Linux and Windows may just be that it's easier to reproduce there. Please check a build from master.

[2020-10-27 16:37] Karm commented on #2944
@jerboaa O.K. built made of master on my Windows workstation works...    I used  labsjdk-ce-11.0.8-jvmci-20.3-b01.

[code]

[2020-10-27 16:38] #2944 closed

[2020-10-27 21:08] dougxc commented on #2748
I will apply https://bugs.openjdk.java.net/browse/JDK-8252904 to graal-jvmci-8. If all goes well, it should make it into GraalVM CE 20.3 but if not, definitely in 21.0.

[2020-10-27 22:11] zakkak commented on #2933
Hello @peter-hofer, please find a draft PR [here](https://github.com/oracle/graal/pull/2945) implementing the above suggestions. I am not sure how to test these specific parts though, so please let me know how to test them if they are not covered by the standard `mx gate`.

[2020-10-28 07:39] ziyilin opened #2946 "Initializing annotation member's class at build time leads to runtime error"
**Describe the issue**
Annotation member's class and all related classes are initialized at build time, but the not all are safe to initialize at build time.
This issue is discovered with Spring-boot, and here is a simplified case for illustration:
[code]
Given the above data structure, when the annotation `Anno` is parsed by `java.lang.reflect.AnnotatedElement.getAnnotations` called in `com.oracl

[2020-10-28 16:59] d-kozak commented on #2923
Hello.
In the PR that caused the regression, I've added support for lookup of services registered using module descriptors. I've debugged what is happening in your case and the reason is the following. The service  **javax.naming.spi.InitialContextFactory** is reachable, which makes it's two providers **com.sun.jndi.rmi.registry.RegistryContextFactory** and **com.sun.jndi.dns.DnsContextFactory** r

[2020-10-28 17:48] ilopmar commented on #2923
Hi @d-kozak,

I'm not using any of those classes directly, no idea why they are used, maybe because of some dependency. We have some initializations for some `com.sun` classes that may trigger those other classes, but TBH, I'm not sure. We've been using those for a long time:

- https://github.com/micronaut-projects/micronaut-core/blob/b5cc40ea85d020d875f5a95e570188d4a47890a1/http-netty/src/main/r

[2020-10-28 18:29] lorenzleutgeb commented on #565
I came here trying to find out how I can bake JShell into a Native Image. As of 2020-10-28 the docs on [Dynamic Proxy in Native Image](https://www.graalvm.org/reference-manual/native-image/DynamicProxy/) state:

The way I understand things, this is a requirement for JShell, since it needs to generate and interpret bytecode at run time. So, no  significant progress here, right?

[2020-10-28 20:32] swwins commented on #2928
I was using GraalVM with a simple scalafx/scala program and when executing the native-image command, it worked great with
the graalvm-ce-java11-20.1.0 version. But it would not work with the graalvm-ce-java11-20.2.0 version. So I compared files and
noticed that the newer version was missing two files in it's bin directory. They are: native-image and rebuild-images. Those two
files are in the graal

[2020-10-29 08:27] d-kozak commented on #2923
The PR I mentioned is this one https://github.com/oracle/graal/pull/2794 - Its aim is to add support for object serialization to the native image. According to the stack trace, it seems that the problem with **sun.security.pkcs11.SunPKCS11** is related to object serialization. So it might be fixed when it is merged.

Regarding the other question, these options are currently not part of the API. I'

[2020-10-29 08:59] ilopmar commented on #2923
I've tried compiling from source code using that PR and it works now. I see that is still draft so if you want me to give it another try once is ready and before merging it, please let me know.

No need to apologize. There is time to fix this before releasing 20.3 :smiley:

[2020-10-29 10:34] Adelrisk commented on #2720
Quarkus 1.9.1 was released, so I revisited this problem with GraalVM Version 20.2.0 (Java Version 11.0.8). This problem persists:

I'm still missing a sane approach to fixing, debugging or further analysing this problem. Suggestions are welcome!

[2020-10-29 11:01] sdeleuze commented on #2748
Thanks @dougxc please keep us informed.

[2020-10-29 17:12] shaunsmith commented on #2808
Oracle does have source licenses available for both Oracle Java SE and Oracle GraalVM Enterprise for customers who need access to source.  You can reach out to your Oracle sales contact or we can put you in touch.

[2020-10-29 20:08] frank-dspeed opened #2948 "graalvm 21.0.0 fails to build on labsjdk15-jvmci-20.3-b03"
**Describe the issue**
graalvm 21.0.0 fails to build on labsjdk15-jvmci-20.3-b03

**Steps to reproduce the issue**
https://github.com/direktspeed/graalvm-stack/blob/main/.github/workflows/release-ce-dev.yml

**Describe GraalVM and your environment:**
https://github.com/direktspeed/graalvm-stack/blob/main/.github/workflows/release-ce-dev.yml

**More details**
my builds worked befor since 23 days pr

[2020-10-29 20:11] dougxc commented on #2948
There are a number of issues in addition to this one in terms of being able to build GraalVM on JDK 15. We are working through them but have no concrete time line at this point.

[2020-10-29 20:16] dougxc commented on #2948
Tracked internally with GR-23899.

[2020-10-29 20:23] frank-dspeed commented on #2948
@dougxc could you maybe add that also to graalvm-ce-dev builds? i mean you probally already buld and test that some where then i would not need to have my own build stack for that. i need it because i use always java edge version features.

[2020-10-29 20:29] dougxc commented on #2948
Yes, once we have GraalVM on JDK 15 (or JDK 16 depending on time line) working, we will include it in the graalvm-ce-dev builds (cc @gilles-duboscq ).

[2020-10-29 20:33] frank-dspeed commented on #2948
@dougxc graalvm 20.3 worked perfect 20 days befrore

[2020-10-29 21:13] dougxc commented on #2948
I'm surprised to hear that - you got lucky ;-)

In any case, I cannot offer any guarantees of it working (again) until we've resolved all known issues.

[2020-10-30 00:14] tlf30 commented on #1979
I am having the same issue:
[code]

Tested using several different dev builds, Currently using: 21.0.0-dev-20201029_0221

[2020-10-30 08:40] indalaterre opened #2949 "PrinterJob.lookupPrintServices()"
**Describe the issue**
I writter an app using quarkus that should use all the printers of the running host.
To do this a record the execution of that code for retrieving the printers in a Runtime Recorder of quarkus but seems that once the code is executed, it can't find any printer.

I created an issue on Quarkus board but they suggest me that could be a GraalVM problem

Attached there is a sampl

[2020-10-30 08:58] deen13 commented on #1572
I'm currently working on a mqtt load generation tool which I would love to distribute as GraalVM Native Image but I'm stuck with some reflection problems.

[code]

Steps to reproduce:
1. git clone https://github.com/SmartsquareGmbH/kortance
2. cd kortance
3. git checkout develop
4. ./gradlew nativeImage
5. /build/graal/kortance spike https://test.mosquitto.org/ 1883

[2020-10-30 09:26] olyagpl commented on #2633
Done https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/#changing-the-configuration-directory
@strogiyotec, thank you!

[2020-10-30 09:26] #2633 closed

[2020-10-30 10:17] dougxc commented on #2748
TheJDK-8252904 patch has been applied (https://github.com/graalvm/graal-jvmci-8/commit/0284e18f2a74a3bfce00ce1e827c1dc54c671beb) so this will make it into 20.3.

[2020-10-30 10:18] dougxc commented on #2748
Please re-open if the issue still shows up in the 20.3 release.

[2020-10-30 10:18] #2748 closed

[2020-10-30 10:21] dougxc commented on #397
Fixed in 568fb15c1b4f398d3b461bce6fbc4a722f71eaee.

[2020-10-30 10:21] #397 closed

[2020-10-30 10:22] dougxc commented on #1987
Please re-open if problem still exists.

[2020-10-30 10:22] #1987 closed

[2020-10-30 10:28] dougxc commented on #2027
Feel free to re-open once you have code demonstrating your claims.

[2020-10-30 10:28] #2027 closed

[2020-10-30 10:29] #2142 closed

[2020-10-30 10:31] dougxc commented on #2157
Please re-open if this problem still exists on recent GraalVM releases.

[2020-10-30 10:31] #2157 closed

[2020-10-30 10:31] #2162 closed

[2020-10-30 10:46] dougxc commented on #2164
Since OpenJDK 64-Bit Server VM GraalVM CE 20.2.0 (11.0.8+10-jvmci-20.2-b03) [includes](422e0f7f28be381de49fd157f3567eb06ae33539) [JDK-8232997](https://bugs.openjdk.java.net/browse/JDK-8232997), there must be some other JFR problem here.
Hopefully we can get some non-Windows hs-err logs attached to this issue to better understand where the problem may be. The Windows hs-err log is not very helpful

[2020-10-30 10:49] dougxc commented on #2782
Can we close this issue now @zakkak ?

[2020-10-30 10:51] #2894 closed

[2020-10-30 14:24] strogiyotec commented on #2633
@@olyagpl  thank you so much

[2020-10-30 16:45] alvarosanchez opened #2950 "[native-image-maven-plugin] Make `buildArgs` a list to allow reusability from parent POMs"
Currently, [`buildArgs` is a String](https://github.com/oracle/graal/blob/master/substratevm/src/native-image-maven-plugin/src/main/java/com/oracle/substratevm/NativeImageMojo.java#L91), making it impossible to reuse definitions of the plugin between parent and children POMs.

If it were a `List<String>`, one could have the following in a parent POM:

[code]

And the following in a child POM:

[co

[2020-10-30 21:29] RoxaBee commented on #2767
Our policy is to only allow GitHub and in-org published actions. There is a GitHub published issue labeling action.Looking at the code this uses GITHUB_TOKEN which is overprivileged since it allows full write access to a repo. Any action that does labeling should really run with an Oauth token that has triage permission level. I am following up on this.

However we can have as previously suggested

[2020-10-30 23:26] jramirez-isc commented on #2949
Hi @indalaterre, I think you'd need to use the [native-image-agent](https://github.com/oracle/graal/blob/master/substratevm/BuildConfiguration.md#assisted-configuration-of-native-image-builds) to help you with the config files.

[2020-10-31 11:34] scientificware commented on #1327
Hi @vjovanov,

Sorry, if double post. But I can't find the first one anymore.
Why `||` and not `&&` in this line [NativeImage](https://github.com/oracle/graal/blob/97cc60491a9c18423c108f1e7aac8b03a45a1ebd/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImage.java#L736)

Regards.

[2020-10-31 20:36] hakdogan commented on #1057
Hi,

I'm getting the same error with 20.2.0 on Ubuntu 18.04.1

[code]

When I execute `java -agentlib:native-image-agent=config-output-dir=/home/hakdogan/config -jar sample-1.0.0-SNAPSHOT-runner.jar` command I get the following error

[code]

bin directory of Graal defined at `.bashrc`. An interesting point for me, if I give the full path of the java file the agent initialize and the command compl

[2020-10-31 21:23] hakdogan opened #2951 "The AggregatedMemoryPoolBean that added by the native image agent to reflect-config.json is not available on the platform"
After using the native image agent for my runner jar, it produces an entry for `org.graalvm.compiler.hotspot.management.AggregatedMemoryPoolBean` in reflect-config.json

[code]

This entry resulting in the following during the native image build.

[code]

GraalVM version: 20.2.0
OS: Ubuntu 18.04.1
Architecture: x86_64

[2020-11-01 11:04] dougxc commented on #2951
@tzezula , seems like the libgraal classes need to be hidden from the native image agent.

[2020-11-01 20:59] mosheduminer opened #2954 "EXCEPTION_ACCESS_VIOLATION"
**Describe the issue**
Building a native image with graalvm native-image results in `EXCEPTION_ACCESS_VIOLATION` at build time.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. clone [this repo](https://github.com/mosheduminer/jmonkey-hello-world).
2. **modify the path to the local graal distribution** in `gradle.build`.
3. run `gradlew build shadowjar`.
4.

[2020-11-02 08:43] zakkak commented on #2782
Hi @dougxc, merging https://github.com/oracle/graal/pull/2797 should close this automatically.

[2020-11-02 08:45] olpaw commented on #2950
@alvarosanchez that sounds like a good idea. Looking forward to your PR.

[2020-11-02 09:34] dougxc commented on #2782
@sanzinger can you please take care of #2797 soon.

[2020-11-02 10:06] dougxc commented on #2954
Tracked internally with GR-26774.

[2020-11-02 10:15] dloiacono commented on #2949
Hi @jramirez-isc unfortunately this didn't fix the issue.
Seems that the AWT support is not yet implemented.

[2020-11-02 13:02] IvanLuchkin commented on #2842
Are there any updates on this issue? I have faced a similar problem

[2020-11-02 14:16] dougxc opened #2956 "migrate to travis-ci.com"
Given that travis-ci.org is shutting down on Dec 31st 2020m the Graal Travis config needs to be migrated to travis-ci.com.

https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom

[2020-11-02 15:18] fernando-valdez commented on #2398
Hi @pquiring,
The fix was pushed and it will be available on GraalVM 20.3.
Thanks!

[2020-11-02 15:18] #2398 closed

[2020-11-02 15:25] IvanLuchkin commented on #1163
@vjovanov This is great news but what about javax.imageio.ImageIO?

[2020-11-02 18:55] tkrodriguez commented on #2954
Can you attach an hs_err_pid please?

[2020-11-02 18:58] mosheduminer commented on #2954
It is in the repo linked. I can attach it here when I get back to my computer.

[2020-11-02 19:04] tkrodriguez commented on #2954
Oh I see.  Somehow it didn't click for me that the logs were in the repo.  I'll grab them from there.

[2020-11-02 19:08] tkrodriguez commented on #2954
This looks like a native image issue with initializing classes that aren't safe to just statically initialize.  @christianwimmer
[code]

[2020-11-02 19:13] christianwimmer commented on #2954
The command line shown in the issue description contains `--initialize-at-build-time`. That is not a good idea in general, but especially not for a library that for sure uses JNI (and therefore likely has `System.loadLibrary` in a class initializer) and is likely to cache C state in `static final` fields.

[2020-11-02 19:52] tkrodriguez commented on #2164
Decoding that stack using the jvm.map file gives this which I think matches well with the existing crash.  The output converted hex to decimal and the last two number of the ranges of the symbol itself.
[code]

[2020-11-02 21:20] vjovanov commented on #1327
We have a PR for that, it will be fixed soon.

[2020-11-02 22:54] jramirez-isc commented on #2951
@hakdogan Hi,
Can you share a reproducer of this?

[2020-11-03 07:09] scientificware commented on #1327
Thank you very much.

[2020-11-03 08:12] hakdogan commented on #2951
@jramirez-isc sure

I have one class
[code]

My pom.xml
[code]

[2020-11-03 09:09] oubidar-Abderrahim commented on #2815
We didn't get any answer for 2 months so I am closing this ticket. If you still want us to investigate this. please re-open and provide a reproducer for this issue.

[2020-11-03 09:09] #2815 closed

[2020-11-03 12:53] ilopmar opened #2958 "Regression: All Micronaut apps fail with JDK11"
**Describe the issue**

Last Friday night our CI started to fail building GraalVM from source using JDK11. See https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/822485895#L529

[code]

We were using `labsjdk-ce-11.0.7+10-jvmci-20.2-b01` and this morning I've updated it to `labsjdk-ce-11.0.9+10-jvmci-20.3-b04` and now we were able to build again GraalVM from source.  Not sure if th

[2020-11-03 15:00] gradinac commented on #2958
Hey @ilopmar, thank you for reporting this issue!
I've managed to reproduce it locally with the sample you've posted. This appears to have been triggered by the recent AWT/Swing support changes. I'll let you know as soon as there's progress on this.

[2020-11-03 15:24] oubidar-Abderrahim commented on #2905
Looks like it's not finding some runtime library. It's probably implicitly linking against some swift library, and we don't see that. So the problem here is that bitcode files don't have a way of recording library dependencies. One solution is to find out what library it needs, and manually load it with the` llvm.libraries` option.
The better solution is to not use bitcode files, but ELF files wit

[2020-11-04 09:40] rsteppac commented on #1387
Sorry for the late response. I have been travelling... Please go ahead and close the issue. If I encounter the issue again I can do as suggested and open a new issue referencing this one.

[2020-11-04 09:46] #1387 closed

[2020-11-04 10:03] UltraBurstXD opened #2963 "Why is Oracle's "safe" AOT compilation so much expensive than others AOT strategies from compiled languages like C/C++ or Rust or even C#?"
Why is Java's AOT compilation more expensive (huge amount of resources usage) than others languages, that it requires 8GB+ (or maybe 16GB+ - DDR4 or DDR5 tech?) RAM or mid-end to high-end PCs? What is so especial about it? Does Oracle offers at least cloud AOT compilation function (It would waste all my data plan)? What about low end PCs with 4GB RAM and weak CPU (In these cases virtual memory doe

[2020-11-04 11:13] ilopmar commented on #2958
I've realized that the code that broke this is included in `master` branch (currently `21.0-dev`) but not in `release/graal-vm/20.3` branch so, as long it's not merged before the 20.3 release, then we should be good and you have plenty of time to fix it.

[2020-11-04 14:09] zakkak commented on #2956
Hello it looks like there is another change coming to travis

    You will not need to change your build definitions when you are pointed to the new plan
    When your credit allotment runs out - we’d love for you to consider which of our plans will meet your needs.
    We will be offering an allotment of OSS minutes that will be reviewed and allocated on a case by case basis. Should you want to a

[2020-11-04 15:39] sdeleuze opened #2965 "Must release all locks when leaving VM error"
On [Spring CI](https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/) we see multiple build failures on Java 8 only, with both 20.3 branch and `master`, with `jvmci-20.3-b04`.

Full log: [hs_err_pid1165.log](https://github.com/oracle/graal/files/5489065/hs_err_pid1165.log)

[code]

[2020-11-04 15:40] sdeleuze commented on #2748
Not sure if that's due to `jvmci-20.3-b04` or not but our builds are mostly broken, I have raised https://github.com/oracle/graal/issues/2965 for the detailed error log.

[2020-11-04 15:46] dougxc commented on #2965
Please attach `hs_err_pid7318.log` to this issue (in general you should always do this for VM crashes).

[2020-11-04 15:51] sdeleuze commented on #2965
I have [already attached the log](https://github.com/oracle/graal/files/5488801/hs_err.log) I had for 21.0, trying to get one for 20.3.

[2020-11-04 15:52] dougxc commented on #2965
This looks a lot like https://bugs.openjdk.java.net/browse/JDK-8165096 so far.

[2020-11-04 15:55] dougxc commented on #2965
Yes, sorry, I missed that upon first glance. I deleted my hasty comment but obviously not quick enough ;-)

[2020-11-04 16:00] antonliauchuk-tealium opened #2967 "Clean up file descriptors opened by java.net.PlainSocketImpl#initProto on isolate tear-down"
**Describe the issue**
hello @peter-hofer
I have a question about opened file descriptors during the http requests inside the isolate. The example of code for showing the issue:
[code]

Commands for running the sample:
[code]

After running this sample, I have about ~5000 opened file descriptors, I’m checking that by command:
[code]

in the case of listing these files by particular OpenedFileDescr

[2020-11-04 16:29] sdeleuze commented on #2965
I have uploaded the 20.3-dev based log.

[2020-11-04 21:22] fhanik commented on #2902
Platform: Linux (Ubuntu 20.04 LTS)
Download from: https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.2.0

The bug/performance regression only exists in the [Java 8 bundle](https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.2.0/graalvm-ce-java8-linux-amd64-20.2.0.tar.gz).

The [Java 11 bundle](https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.2.0/gr

[2020-11-04 22:34] dougxc commented on #2965
This is a JDK 8 bug: https://bugs.openjdk.java.net/browse/JDK-8255910

Are you sure you've seen it occur on 11? Please attach a hs-err for that case if so.

[2020-11-05 03:04] 8Keep commented on #407
This is pretty huge for me. Is there any future plan at all to find a way to do this?

[2020-11-05 09:01] sdeleuze commented on #2965
You are right, I confirm this bug is java 8 specific, I have updated the description accordingly.

[2020-11-05 09:11] sdeleuze commented on #2748
I confirm the bug seems to be fixed, thanks a lot! In practice Java 11 seems not stable for us, and Java 8 will require a fix for #2965 .

[2020-11-05 09:30] sdeleuze commented on #2965
With `jvmci-20.3-b03` l (on Java 8) I have this error, not sure if that's the same or not.

Full log: [hs_err_pid1182.log](https://github.com/oracle/graal/files/5493254/hs_err_pid1182.log)

[code]

Please let me know if I should open another issue or not.

[2020-11-05 09:36] #2220 closed

[2020-11-05 09:47] gilles-duboscq commented on #2965
That last one looks like the same as #2164 and #2748

[2020-11-05 10:04] sdeleuze commented on #2965
Ok so I guess let's focus on the "must release all locks when leaving VM" which is currently the only one we see with b04.

[2020-11-05 13:32] dougxc commented on #2965
Tracked internally with GR-27263.

[2020-11-05 14:36] vjovanov commented on #2842
This should be fixed for the LINUX_AMD64 platform in the latest 20.3 build

[2020-11-05 16:06] ilopmar commented on #2923
I see that there is already a branch for the 20.3 release. I don't want to be annoying, just wanted to ask if you folks think this could be fixed and included in that release.

[2020-11-05 16:10] IvanLuchkin commented on #1258
@olpaw in my circumstances, JDK 11 based GraalVM versions fails does to some weird errors like
`java.lang.IllegalArgumentException: Can't load standard profile: GRAY.pf`

[2020-11-05 16:11] fernando-valdez commented on #2923
Hi @ilopmar, I will test it today using the latest 20.3 build.
I'll be back to you once I have any news

[2020-11-05 16:17] ilopmar commented on #2923
@fernando-valdez you mean that the fix is already included in the `release/graal-vm/20.3` branch?

[2020-11-05 16:20] fernando-valdez commented on #2923
no, I don't know if the fix was included in the latest build. But there are a lot of fixes, and I want to see if your issue was solved by any chance.

[2020-11-05 16:23] ilopmar commented on #2923
Ahhh, I see...

[2020-11-05 18:24] #2950 closed

[2020-11-05 22:19] gradinac commented on #2958
It's still a nasty bug for master! :)
Could you try and see if the fix works with the following revision (or later): https://github.com/oracle/graal/commit/7853fc41fb4f90ae87505fa3c7eae7d43825a93b?

There's one caveat, however - now that the AWT/Swing support has been added, you might need to rework the class initialization configuration. While building your demo app, I've noticed that `javax` pac

[2020-11-06 06:14] mcraj017 commented on #2877
@sendev1 ok thanks

[2020-11-06 10:02] d-kozak commented on #2923
Hello @ilopmar,

I've merged a fix for this issue recently. I checked your repo again and the image build was successful. Please let me know if it works in your environment as well.

[2020-11-06 10:10] ilopmar commented on #2923
(@d-kozak I just writing this when you put your comment)

I can confirm that the latest changes in 20.3 release branch fixed this issue. The CI is (almost) back to green: https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/212657011

P.S: The only issue left is #2940, it would be great if that can also be fixed before 20.3

[2020-11-06 10:10] #2923 closed

[2020-11-06 11:34] ilopmar commented on #2958
I've tried with latest changes from `master` and after removing `javax` from the file you mentioned, the application fails to build with this error:

[code]

Adding the suggested flag `--trace-class-initialization=javax.xml.parsers.FactoryFinder` doesn't work:

[code]

I don't know if something has changed, and probably now I'm building GraalVM with some missing option. This is what I've been usin

[2020-11-06 11:43] gradinac commented on #2958
At some point, class initialization tracing had been moved to a separate JVMTI agent. There's an mx env variable which affects which native-images get built called `NATIVE_IMAGES`. It's value should be a comma separated list of native-images which you'd like to build. For libraries, their names should be prefixed with `lib:`.
For this case, you'd need the following command:
[code]
If you wanted to

[2020-11-06 12:05] ilopmar commented on #2958
Thank you very much for the explanation.

The "culprit" was `io.micronaut.runtime.Micronaut` that I think needs the some xml classes for parsing `logback.xml`. I've changed the build time initialization of the whole `javax` package to initialize only `javax.xml` and this basic-app works again.

I think it should be good enough for now. I'm going to make those changes in Micronaut and I'll let our

[2020-11-06 12:09] gradinac commented on #2958
No problem at all! :)

I'm glad that you got it working again!

I'll leave this issue open for a bit more just in case something goes wrong with other apps.

[2020-11-06 12:24] #2782 closed

[2020-11-06 12:38] Zachpocalypse opened #2968 "Issue with WebView reflection"
The last time I tried building on my Windows device, I experienced a similar issue. But I'm getting an issue accessing what I'm guessing is a component in the native libraries for JavaFX?

Environments I've reproduced on:
macOS Catalina/Big Sur RC/Windows 10 (2004)
AdoptOpenJDK11/14
Latest GraalVM from the website (20.2)

[code]

My build.gradle:

[code]

Any insight would be greatly appreciated.

[2020-11-06 12:57] kirillp opened #2969 "Native image fatal error building trivial program"
**Describe the issue**

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
 - Build the file with native image

**Describe GraalVM and your environment:**
 - GraalVM version: graalvm-ce-java11-20.2.0
 - JDK major version: 11
 - OS: macOS
 - Architecture: AMD64, ARM

[2020-11-06 12:59] kirillp commented on #2969
exception message
https://gist.githubusercontent.com/kirillp/1cdb773aaaf454aa07a637de3b6f0e50/raw/becc42bf283a83d912b59b2ee5c8cfe98e057629/gistfile1.txt

[2020-11-06 15:14] jramirez-isc commented on #2969
Hi @kirillp
Thanks for reporting this.

I was able to reproduce the error you mentioned.
Interestingly, if you do something like this in your main method the native image builds and runs fine:

[code]

[2020-11-08 12:00] ashwinbhaskar commented on #1074
I think you meant `--initialize-at-build-time` and not `--serialize-at-build-time` ?

[2020-11-09 09:02] olpaw commented on #1258
@IvanLuchkin That does not sound like it's related to native tool chain detection / use.
Please provide a full bug report with detailed steps (also exact infos about the version of each component involved) so that we can reproduce your finding.

[2020-11-09 09:39] yyanglike opened #2971 "(.data+0xf50): undefined reference to `Java_java_awt_Component_initIDs'"
**Describe the issue**
/usr/bin/ld: demo.o: warning: relocation in read-only section `.svm_heap'
/usr/bin/ld: demo.o:(.data+0xf50): undefined reference to `Java_java_awt_Component_initIDs'
/usr/bin/ld: warning: creating DT_TEXTREL in a PIE
collect2: error: ld returned 1 exit status
	at com.oracle.svm.hosted.image.NativeBootImageViaCC.handleLinkerFailure(NativeBootImageViaCC.java:463)
	at com.oracl

[2020-11-09 10:14] antonliauchuk-tealium commented on #2967
@peter-hofer
I found out that the issue is in java.net.PlainSocketImpl#initProto which is executed inside static block during first accessing to PlainSocketImpl class.
inside native code, there is a logic of creating marker_fd http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/tip/src/solaris/native/java/net/PlainSocketImpl.c (getMarkerFD() function)
in the case of isolates, we are creating this marker

[2020-11-09 12:20] oubidar-Abderrahim commented on #2863
Since there was no reproducer to confirm, I will assume this is a duplicate of #2283 and close this issue.
If you think otherwise please re-open this ticket and provide a reproducer to confirm the issue.

[2020-11-09 12:20] #2863 closed

[2020-11-09 13:35] fniephaus opened #2972 "[truffle] Truffle DSL doesn't like variable args"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3.0-dev**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**

**Have you verified this issue still happens when using the latest snapshot?**
Yes

**Describe the issue**
The Truffle DSL generates bad code that does not compile. https:/

[2020-11-09 13:41] chumer commented on #2972
Internally tracked as GR-27335.

[2020-11-09 15:47] fernando-valdez commented on #2968
Thanks for reporting this issue @Zachpocalypse,
I will take a look at it.
If I have any questions, I will let you know.

[2020-11-09 15:52] fernando-valdez commented on #2968
@Zachpocalypse can you please share the entire content of your build.gradle file?
 Seems like the top of the file is missing.

[2020-11-09 17:59] gradinac commented on #2958
I'll close the issue as nothing new seems to have been broken :)
Thank you once more for reporting this!

[2020-11-09 17:59] #2958 closed

[2020-11-09 18:27] alaakaazaam commented on #1152
Hi guys, i discuss the same situation here : https://www.reddit.com/r/graalvm/comments/jnzo2d/graalvm_bouncycastle/

[2020-11-09 19:06] jramirez-isc commented on #2971
Hi @yyanglike do you have a reproducer for this error?

[2020-11-09 19:40] jdimona opened #2974 "Unable to create context with no statement limit from an engine which has previously had a statement limit set"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: 20.2.0-dev
 - CE or EE: CE
 - JDK version: JDK8
 - OS and OS Version: macOS Catalina
 - Architecture: amd64
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
Once a context has been created from an engine with a statement limit, it is not possible to create a new context from t

[2020-11-10 00:35] yyanglike commented on #2971
This is just a spring boot project,I think the error should not appear.i recompile the project ,but the same error re-emerged
/usr/bin/ld: demo.o: warning: relocation in read-only section `.svm_heap'
/usr/bin/ld: demo.o:(.data+0x1060): undefined reference to `Java_java_awt_Component_initIDs'
/usr/bin/ld: warning: creating DT_TEXTREL in a PIE
collect2: error: ld returned 1 exit status
	at com.oracl

[2020-11-10 06:56] dufoli commented on #2386
hello, I have worked on mono long time ago and they work a lot on GC. And there is a cool article which describe feature. Some of them can be very interesting.
https://www.mono-project.com/docs/advanced/garbage-collector/sgen/

I know that, at the beginning, they use an external GC (bohem GC) but it was not so accurate. So they choose to implement a new one and it take years to be done. So why not

[2020-11-10 11:08] dufoli opened #2975 "Win10 graal native stacktrace ms SDK 7.1"
**Describe the issue**
Under win10, with microsoft SDK, when I build any quarkus extension, I get a stack trace.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. git clone --depth 1 https://github.com/quarkiverse/quarkiverse-cxf.git
2. CALL "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
3. mvn clean install -Dnative

**Describe GraalVM a

[2020-11-10 12:03] peter-hofer commented on #2967
@antonliauchuk-tealium , thank you for your analysis. I don't think there is a good way to work around this for now, as `marker_fd` is declared as a `static` variable and so it won't have a symbol with which it can be accessed.

[2020-11-10 12:32] antonliauchuk-tealium commented on #2967
yes, we discussed with team this issue and also, didn't find good working solution. For now, we are preparing workaround for our project but it's not clear how to prepare good fix for that.

It looks like good solution can with overriding .c/.h sources for PlainSocketImpl but it's not clear how much sources will be copied from jdk in this case

[2020-11-10 12:56] FWiesner commented on #2217
having this problem with an internal Oracle project as well. I my case it is just `jdk.internal.reflect.MethodAccessorGenerator` that causes the exception

[2020-11-10 13:35] tarsa commented on #2963
I am not involved in development of any AOT mechanism so I'll take some wild guesses here. All of the AOT approaches for high level languages needs some LTO (link time optimization) for good performance. LTO is expensive, both in terms of memory and CPU time as you need to track a lot of data through many compilation units. There are many factor affecting LTO resource usage, e.g.:
- amount of code

[2020-11-10 15:58] UltraBurstXD commented on #2963
JIT uses too much resources compared to GraalVM (I think it's more suitable for development time only), for my end users I was thinking about native image because it's nearly on par with C/C++ or Rust. And Workstation PC isn't so easy to find for AOT compilation. I think there was misunderstanding, I meant Java AOT compilation is very costly. Not the native image.

[2020-11-10 19:12] SaraDark commented on #407
+1000 to Cross compilation support

[2020-11-10 19:33] tarsa commented on #2963
I think Java code that is compatible with (currently memory hungry) AOT is also compatible with JIT, so you can develop using GraalVM JIT and then occasionally compile with GraalVM AOT. Also since you've asked about Oracle's offerings, there's a new (?) cloud offer that is cheaper than competition according to Oracle's website: https://www.oracle.com/cloud/economics/

[2020-11-11 09:13] fniephaus commented on #2842
I ran into a similar issue (see below) and just in case someone else is too on macOS: According to @vjovanov, additional work for macOS is still needed to make this work.

[code]

[2020-11-11 09:43] mpela81 commented on #2842
And what about Windows?

[2020-11-11 10:04] vjovanov commented on #2842
Same, as MacOS. Still the work needed now is an order of magnitude smaller than what was necessary for LINUX.

@pejovica have you tried it out on Windows?

[2020-11-11 11:13] fniephaus commented on #2972
Fixed via https://github.com/oracle/graal/commit/625be879c032c97739cf59adcf48b2a74f2fc283.

[2020-11-11 11:13] #2972 closed

[2020-11-11 14:47] pmlopes opened #2977 "Assertion / NPE on removeMember()"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **GraalVM CE 21.0.0-dev-20201111_0522**
 - CE or EE: **CE]**
 - JDK version: **JDK11**
 - OS and OS Version: **Linux Ubuntu 20.04 LTS**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Describe the issue**
With the current stable release 20.2.0, removing elements from th

[2020-11-11 14:58] pmlopes commented on #2977
Also happens with: `GraalVM CE 20.3.0-dev-20201109_0912`

[2020-11-11 15:03] chumer commented on #2977
That is a known issue internally tracked as GR-27300. Was fixed today on master. Currently being backported to 20.3.
By @wirthi .

[2020-11-11 15:52] wirthi commented on #2977
HI @pmlopes

as @chumer mentioned, this was already fixed (last week, and already backported; we just happen to have the same issue in Ruby as well, which is currently in the CI).

It should be in the next public preview build of GraalVM 20.3.0 (it already in the internal one).

-- Christian

[2020-11-11 15:52] #2977 closed

[2020-11-11 16:10] jvican commented on #1261
Looks like the latest graalvm native image 20.2 fixed this, so adding the aforementioned missing methods for `io.netty.bootstrap.ServerBootstrap$1` to the `reflect-config.json` file removes the runtime errors. There will be some warnings during image creation but they can safely be ignored.

[2020-11-11 16:15] wirthi commented on #2977
Just confirmed it is actually working: your code is printing `{}` and the `removeMember` line returns `true`.

-- Christian

[2020-11-12 13:50] oubidar-Abderrahim commented on #2974
Could you please provide the steps to reproduce this issue?

[2020-11-12 14:12] fniephaus opened #2978 "[host interop] Correct host method no longer found"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.1-dev**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**

**Have you verified this issue still happens when using the latest snapshot?**
Yes.

**Describe the issue**
[Precedence for target type mappings has recently been implemented

[2020-11-12 14:37] woess commented on #2636
20.3.0 will allow access to the underlying JS object via a special `this` member, so the following will work:
[code]
Is this satisfactory?

Note that this currently only works with:
[code]
but not class overrides:
[code]

[2020-11-12 14:54] pmlopes opened #2979 "Allow JavaScript `Set` to be mapped to Java `java.util.Set`"
Currently a js `Set` cannot be automatically converted to a java `java.util.Set`

Consider:

[code]

And the script:

[code]

Will fail as the internal mapping will consider `mySet` as a js object so it becomes a `PolyglotMap` and gets wrapped in a java proxy, which doesn't seem to have the knowledge how to handle the Set.

In order to work around this, we need a expensive `typeMapping`:

[code]

[2020-11-12 15:10] jdimona commented on #2974
Hi, Abderrahim. Thanks for looking into this.

[code]

[2020-11-12 15:14] oubidar-Abderrahim commented on #2974
I meant what was the command you used to run the example? did you provide any extra flags to the JVM?

[2020-11-12 15:46] #2298 closed

[2020-11-12 16:09] AnitaNayak opened #2980 "GraalVM on s390x: Build steps"
We are exploring on Quarkus and want to build cloud native applications. But GraalVM is not available on s390x. Could this be available on s390x soon.

Could anyone please send the build steps to build GraalVM on s390x.

[2020-11-12 16:10] fernando-valdez commented on #2975
Hi @dufoli,
Thanks for reporting this. I will take a look at the issue. If I have any questions I will let you know

[2020-11-12 16:13] chumer commented on #2974
Thanks for reporting this. This is indeed a bug, we will look into fixing this.
This should work as a workaround:
[code]
It is equivalent what would be done under the hood if not specifying the limit would work.

[2020-11-12 16:22] jdimona commented on #2974
Excellent, thank you.

[2020-11-12 16:28] dougxc commented on #2980
The major blocker for s390x will be the lack of a [JVMCI port](https://openjdk.java.net/jeps/243) for that platform.

[2020-11-12 16:35] qdeee opened #2981 "Native image hangs in GC"
Hello!
I have java-application compiled with native-image. It works fine with Graal version 19.0.2.

Now I try to update Graal to 20.2.0. Application starts and hangs after few seconds.
I enabled debug info for the image, here is the GDB trace:
[code]

As you can see, many threads are waiting in `__lll_lock_wait () at ../nptl/sysdeps/unix/sysv/linux/x86_64/lowlevellock.S:135`. I checked that all t

[2020-11-13 00:38] christianwimmer commented on #2878
GraalVM 20.3 will have the option `ActiveProcessorCount` with the same semantics as HotSpot.

[2020-11-13 00:38] #2878 closed

[2020-11-13 03:08] Zachpocalypse commented on #2968
The only missing line was the opening portion of the plugins codeblock. I've fixed that.

[2020-11-13 09:53] dougxc commented on #2956
Hi @zakkak since you [migrated mx from Travis to GitHub actions](https://github.com/graalvm/mx/pull/224), is there any chance you could try do the same for the graal repo?

[2020-11-13 09:57] tuhuynh27 commented on #407
+10000 to Cross compilation support

[2020-11-13 14:20] zakkak commented on #2956
Hi @dougxc, sure. In that case I suggest we close this issue in favour to https://github.com/oracle/graal/issues/2609 (which you can assign to me).

[2020-11-13 14:34] dougxc commented on #2956
Excellent - thanks for stepping up to this task!

[2020-11-13 14:34] #2956 closed

[2020-11-13 14:47] zakkak commented on #2609
After the recent changes announced by Travis CI (see #2956) the decision to migrate the CI to GH actions has been taken. However as we have already discussed here, GH actions do not provide AArch64 runners, so we need to decide how we would like to keep testing AArch64.

So far I see the following options:
1. Test in emulation through https://github.com/uraimo/run-on-arch-action
2. Keep the travis

[2020-11-13 15:10] dougxc commented on #2609
Wrt (1), longer running times are not a problem per se. However, I suspect emulation will slow down things so much that these jobs will never succeed in the GitHub Actions time limit (whatever it is).
(3) is indeed the best. However, we don't have the resources for that currently.
So that leaves us with (2) as the path I would recommend for now.

[2020-11-13 17:13] d-kozak opened #2982 "Improve support for resource bundles and locales"
Currently, the locale is fixed at image build time, i.e., registered resource bundles are only included for a single locale. This single locale is of course also the default locale at runtime. This should be made more flexible so that arbitrary locales can be included and the default locale is set correctly at run time.

[2020-11-14 00:03] dropofwill commented on #2892
Just wanted to add I ran into this with a Java only project as well. Same exact error for playing sounds.

In addition I found that the native image version of `AudioSystem#getMixerInfo` couldn't find any mixers, whereas with the original jar I get:
[code]

vs.
[code]

**Steps to reproduce the issue:**
1. clone https://github.com/dropofwill/graal-sampled-sound
2. `mvn package`
3. `native-image -cp

[2020-11-14 08:24] Charanor commented on #2636
Yes that is good enough for me at least! I'm guessing it doesn't work when doing `Java.extend(JSayer, HelloSayer)` either? Thanks a lot this will definitely improve useability.

[2020-11-14 14:54] brettwooldridge commented on #2149
@bobmcwhirter @adinn Any thoughts on the priority of this, feasibility, or remaining hurdles (if any)?

[2020-11-14 20:47] valdo404 opened #2984 "Graalvm does not start on Mac OS Big Sur"
**Describe the issue**
Graalvm does not start on bigsur

**Steps to reproduce the issue**
Try to use graalvm on Mac OS X

**Describe GraalVM and your environment:**
 - graalvm-ce-java11-20.2.0
 - OS: **Mac OS Big Sur**
 - Architecture: **x86-64**

**More details**
Add any other information about the problem here. Especially important are stack traces or log output. Feel free to link to gists or to

[2020-11-15 10:22] dougxc commented on #2984
Tracked internally by GR-26569.

[2020-11-15 19:04] aucampia commented on #2231
working with GraalVM Updater 20.2.0

I also get this error unless I set `GRAAL_HOME`:

[code]

[2020-11-16 01:00] mrbahr2021 opened #2985 "JVM Crash while Building Quarkus Project"
[code]

Unfortunately, I cannot constantly reproduce.  If I reboot my system, it will work for a while and then start eliciting the same error.

GraalVM 20.2.0
Quarkus 1.9.2
OS Ubuntu: 5.8.17-050817-generic
Architecture: AMD64

[code]

Stack Trace:

[code]

[2020-11-16 07:26] zakkak commented on #2878
FWIW the corresponding commit is https://github.com/oracle/graal/commit/e3ef0368e4882cdf6d9d89ddd9d1e47b9148e104

[2020-11-16 07:27] MartinBalin commented on #2231
I just tried and gu worsk without setting any environment property on my computer.
`~/graalvm-ce-java11-20.2.0/bin$ ./gu available`
running it like this returns list of all components. I don't have anything set on my machine no $GRAAL_HOME, $GRAALVM_HOME, no $JAVA_HOME.
Can you try it without these env. variables set?

[2020-11-16 09:00] dougxc commented on #2985
Please attach hs_err_pid27.log to this issue.

[2020-11-16 09:06] dougxc commented on #2149
Tracked internally with GR-27475.

[2020-11-16 09:54] oubidar-Abderrahim commented on #2984
The issue with Big Sur was already mentioned in #2897, but since this one is clearer and easier to search we will keep it for tracking and close the first one.

[2020-11-16 09:54] oubidar-Abderrahim commented on #2897
Answering the first question:

Using LLVM it should be possible. I don't have prior experience with Swift and cannot provide much help on how to do it but as I mentioned in #2905 (https://github.com/oracle/graal/issues/2905#issuecomment-721196413) It should be possible.
For the issue with Big Sur:
As I mentioned earlier an internal ticket was created for this (GR-26569). Issue #2984 is technically

[2020-11-16 09:54] #2897 closed

[2020-11-16 09:59] adinn commented on #2980
JVMCI is part of OpenJDK so porting JVMCI to s390x really requires co-operation and support from the OpenJDK project. You might possibly convince the project to make the necessary changes in the OpenJDK dev tree but it would be extremely difficult to get them backported to jdk11u. Alternatively, you could try to convince the Oracle GraalVM team to add s390x to JVMCI in the downstream OpenJDK relea

[2020-11-16 11:38] AnitaNayak commented on #2980
Thank you so much for the detail @adinn @dougxc .

[2020-11-16 12:36] gilles-duboscq commented on #2865
@entlicher, it this one of the instrumentation deadlock that was fixed recently? Is this resolved by d37946aec3112a015b3f205545cf993c3d0c31c2?
If that is the case then this is fixed in 20.3.0

[2020-11-16 14:32] oubidar-Abderrahim commented on #2979
@wirthi For the time being I'm assigning this to you. please feel free to reassign it.

[2020-11-16 14:51] oubidar-Abderrahim commented on #2981
Do you experience this issue while running your jar using GraalVM 20.2.0? or it only happens in native-image.

Could you please try with the latest release (20.3.0)? since some known Deadlock issues were solved in that version.

Also if you could provide a small reproducer that does not expose your application's mechanics but could help pinpoint the inner function causing this issue? that would be

[2020-11-16 15:15] vjovanov commented on #2902
Thanks for reporting this! We looked into this and this issue is only on JDK 8. The GraalVM team will not prioritize performance issues on JDK 8 as there are more important things to tackle.

[2020-11-16 15:15] #2902 closed

[2020-11-16 15:59] mrbahr2021 commented on #2985
[hs_err_pid27.log](https://github.com/oracle/graal/files/5547452/hs_err_pid27.log)

Here is the log.

Thanks,
Tom

[2020-11-16 16:12] adinn opened #2986 "Upgrade CE debug info feature to provide information about Java types"
# Upgrade Debug Info Model with Type Info

This issue proposes an upgrade to the debug info feature to implement some of the capabilities proposed in the original debug info feature request (#1917) but not yet implemented. A prototype implementation exists for gdb (PR to follow) and work is under way to implement equivalent functionality for Windows.

## Proposed additions

Issue #1917 specified s

[2020-11-16 17:17] olpaw commented on #2986
Hi @adinn
Looks promising. I will provide a some info on how to deal with isolates in DWARF debuginfo.

[2020-11-16 17:27] adinn commented on #2986
@olpaw Thanks for any tips you can provide. It's not the isolates per se that are the problem but the narrow (heap-base relative) pointer. I believe a similar problem will arise in an image which omits isolates but uses compressed pointers.

I did try to define a narrow pointer type and configure narrow pointer to pointer conversion using a data_location info element in the DWARF type but gdb did

[2020-11-16 20:50] pmlopes commented on #2979
Hi, the example I gave is indeed JavaScript but I guess it should also apply to other languages too. Ruby also has a Set and Python too (but I didn't look how those implementations expose that type back to java).

[2020-11-16 23:28] aclement opened #2988 "agent includes entries that later cause native-image build failure: AggregatedMemoryPoolBean"
**Describe the issue**
I am using the agent to collect the configuration data for an application. It produces a reflect-config.json containing org.graalvm types:
[code]
however, on then building with native-image and supplying that config at least the first entry causes:
[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
I am using graalvm-ce-java11-20.3.

[2020-11-17 01:36] fernando-valdez commented on #2985
Hello @mrbahr2021,
I will take a look at this issue. If I have any question I will let you know

[2020-11-17 08:38] #2980 closed

[2020-11-17 08:39] sdeleuze commented on #2965
Based on my tests this is now fixed with 20.3-b06, thanks a lot, so I am closing it. Could you please add it to 20.3 and add `spring` label please.

[2020-11-17 08:39] #2965 closed

[2020-11-17 08:48] dougxc commented on #2988
@tzezula can you please look into this.

[2020-11-17 10:47] gilles-duboscq commented on #2004
The 20.3.0 release for WIndows and macOS should have all its binaries signed. Please re-open if this is still an issue.

[2020-11-17 10:47] #2004 closed

[2020-11-17 15:16] woess commented on #2636
Correct. But I don't think you should not use that anyway. Creating new instances of the returned class does not create new instances of `HelloSayer` as you might expect. For that you have to use `Extended = Java.extend(JSayer), new Extended(new HelloSayer())`.

[2020-11-17 16:00] jiekang opened #2989 "ClassLoader class getPackage equal in Java but not equal in Native Image"
**Describe the issue**

The default ClassLoader class getPackage is equal in Java but not equal in Native Image. Is this an expected result?

**Steps to reproduce the issue**
[code]

[code]

**Describe GraalVM and your environment:**
- CE: commit `4d56547a080c7f97fef5b8e6d19827ed66a0c398`
 - JDK: `labsjdk-ce-11.0.9-jvmci-20.3-b06`
 - OS: **[Fedora 31]**
 - Architecture: **[AMD64]**

[2020-11-17 17:01] qdeee commented on #2981
Hi, Abderrahim Oubidar!

It only happens in native-image.

Where can I download release 20.3.0? I see only 20.2.0 on the releases page: https://github.com/graalvm/graalvm-ce-builds/releases . Also I built GraalVM from source 5 days ago (commit 0445418ace3c7190934fa5390001220599669898) and got the same error.

Unfortunately, now I can't provide such reproducer, it'll take some time to extract indep

[2020-11-17 17:15] vjovanov commented on #2988
@peter-hofer we have the following filter in the `AccessAdvisor`:
[code]

Shouldn't this filter out the entry in question?

[2020-11-17 17:33] aclement opened #2990 "Rogue proxy/lambda entries in the agent captured reflect-config.json files"
**Describe the issue**
When collecting configuration via the agent, the `reflect-config.json` can sometimes contain entries that I'm not sure should be there. Entries for JDK proxies and entries for lambdas:
[code]

**Steps to reproduce the issue**
I am using graalvm-ce-java11-20.3.0-dev-20201112

1. **git clone https://github.com/spring-projects-experimental/spring-graalvm-native.git**
2. **cd sp

[2020-11-17 17:36] woess commented on #2978
Thanks for the report! Fixed in master (https://github.com/oracle/graal/commit/8e2fcd121d4ec26ae9980efb1d5ebecc3b2ac083). Unfortunately the fix won't make it into 20.3.0 anymore but it will be part of 20.3.1 and 21.0.0.

[2020-11-17 17:36] #2978 closed

[2020-11-17 17:41] fniephaus commented on #2978
Thanks a lot, @woess. No worries, great it is fixed now!

[2020-11-17 21:26] ezzarghili commented on #2377
We have now a companion sha256 file each release artifact. see https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.3.0

[2020-11-18 02:11] fernando-valdez commented on #2963
Hi @UltraBurstXD,

As described at https://www.graalvm.org/reference-manual/native-image/, the executable generated by native-image "includes the application classes, classes from its dependencies, runtime library classes, and statically linked native code from JDK."
In contrast, when you compile a C program, you do not compile the entire C library, and all other dependencies, along with it. The t

[2020-11-18 06:52] sdeleuze commented on #2748
Could you please add this one in the 20.3 milestone?

[2020-11-18 11:05] ilopmar opened #2991 "Micronaut app fails with 20.3.0 Release but works with same version compiled from source code"
**Describe the issue**

We've been continuously testing the `release/graal-vm/20.3` branch for the last couple of weeks to make sure everything would work with Micronaut. All our [test applications passed the build](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/217672727) this morning at 7am using latest Micronaut snapshot and that mentioned release branch.

This morning

[2020-11-18 12:45] eregon commented on #2991
Regarding building GraalVM:
* `LIBGRAAL` has no effect, it's just a component like another nowadays
* Use `--components=...`/`COMPONENTS=...` to control exactly what gets built, see https://github.com/oracle/graal/blob/c78128b20a9139207aa7374440cc66003c242386/vm/README.md#example-build-only-the-truffleruby-launcher
* `NATIVE_IMAGES`/`FORCE_BASH_LAUNCHERS` can be used to control what gets built as

[2020-11-18 12:50] eregon commented on #2991
From the stacktrace:
[code]

So that ends up initializing Graal.js through the `org.apache.logging.log4j.core.script.ScriptManager` here. That's probably unexpected that the native image generation process would end up loading JavaScript that way.

[2020-11-18 12:53] graemerocher commented on #2991
@ilopmar why does this app have log4j on the classpath and not logback?

[2020-11-18 13:52] borkdude opened #2992 "[native-image 20.3.0] javax.sound classes are being included in image which weren't there before in 20.2.0"
**Describe the issue**
`javax.sound` classes are being included in image which weren't there before in 20.2.0. This makes my binary bigger than necessary.

Note that the build output prints:

[code]
whereas with 20.2.0 it didn't output this.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
Build babashka with 20.2.0 and 20.3.0. Instructions are here:
https://g

[2020-11-18 14:15] ilopmar commented on #2991
@eregon Thanks for the information regarding to build GraalVM. I'll take a closer look at do some tests.

Can you please explain why the output of the build is different?

@graemerocher I added [this](https://github.com/micronaut-graal-tests/micronaut-elasticsearch-graal/blob/2.1.x/build.gradle#L39) to make Elasticsearch logging work on the JVM and [this](https://github.com/micronaut-graal-tests/m

[2020-11-18 14:42] graemerocher commented on #2991
@ilopmar but the question is why? Why not use logback?

[2020-11-18 14:52] ilopmar commented on #2991
@graemerocher Because it didn't work when I created the test app sometime ago. Maybe I can try this approach I did for Liquibase https://micronaut-projects.github.io/micronaut-liquibase/latest/guide/index.html#_logging

In any case, none of this explains why the Graal.js is triggered and why the builds are not the same, which I think is the really important part because I would like to create the

[2020-11-18 15:22] ilopmar commented on #2991
@eregon I think the issue migth be because I'm not building `graal-js` locally so maybe that javascript thing is not triggered when using my build. I've tried the following to build it locally (according to the docs you linked) but it fails:

[code]

Adding `/graal-js` with or without any other dynamic imports fails.

Regarding the rest of the options for building I think I'm already doing what I

[2020-11-18 16:02] ilopmar commented on #2991
@graemerocher I've tried adding `implementation("org.slf4j:log4j-over-slf4j:1.7.30")` but unless I add log4j in implementation scope, the native image fails at runtime when sending a request with:

[code]

[2020-11-18 16:50] gilles-duboscq commented on #2991
Yes

The build job is actually this one:
https://github.com/oracle/graal/blob/c5ff5a5a091bfd974640aaf6fbe51c81bd080438/vm/ci_common/common.hocon#L325-L338

After all the hocon expansion this is the result: https://gist.github.com/gilles-duboscq/7828de2147bc3e9a436b08980ea700b0
I think mostly it's:
[code]

Yes, you can use the command mentioned by Benoit to automatically download the right one. `co

[2020-11-18 17:30] jayanmn commented on #2842
graalvm-ce-java11-20.3.0 : has same exception on windows

[2020-11-18 19:50] arielcarrera commented on #2390
Graalvm's embedded node implementation works slow, impossible to have graalvm in the path and work with node.js using WSL2.

[2020-11-18 20:57] Skhmt commented on #2842
Can confirm, same problem on Windows
`OpenJDK Runtime Environment GraalVM CE 20.3.0 (build 11.0.9+10-jvmci-20.3-b06)`
`OpenJDK 64-Bit Server VM GraalVM CE 20.3.0 (build 11.0.9+10-jvmci-20.3-b06, mixed mode, sharing)`

[2020-11-18 21:33] chanseokoh opened #2994 "Native Image Agent fails to generate correct reflection configuration"
**Describe the issue**
The Native Image Agent misses to generate necessary `fields` access reflection configuration. To resolve the issue, I have to add them manually, which is impractical in our case.

Our app makes heavy use of Jackson to serialize and deserialize a lot of JSON contents. Many of our JSON Java template classes declare some fields as `final` so that no matter what the actual conte

[2020-11-18 22:22] aucampia commented on #2231
Okay I figured out why this was happening:

Clean extract from archive works well:

[code]

However if bin/gu is not a symlink to `../lib/installer/bin/gu` but instead the actual file it does not work:

[code]

[code]

[2020-11-19 00:00] eregon commented on #2991
My guess is `org.apache.logging.log4j.core.script.ScriptManager` iterates all ScriptEngine's. Since GraalVM releases always include Graal.js, this happens, but the commands above do not include Graal.js so it does not.

Now `Engine.getVersion()` should probably work there (it needs the `HomeFinderFeature`, but that should automatically be picked up if graal-sdk.jar is on the classpath, maybe an is

[2020-11-19 07:38] RoxaBee commented on #2609
Regarding option 3 the self-hosted runner in terms of security

[code]
We would need to build something similar to GitHub-hosted runners, essentially a cloud service, which would not be trivial.

[2020-11-19 07:58] MartinBalin commented on #2231
Pardon me, why to replace symlink created in graalvm /bin folder with a file copied from `installer/bin/gu`? I miss the reason for this change, sorry.

[2020-11-19 08:05] aucampia commented on #2231
No good reason, I was installing it with conan and conan defaults to this behaviour. When instructing conan to copy symlinks this problem goes away. Hopefully the detail can help someone who has this problem in the future.

[2020-11-19 09:13] loicottet commented on #2991
@ilopmar The discrepancy indeed comes from the fact that you are not including graal-js in your local build. Building with `--dynamicimports /substratevm,/graal-js` should trigger the same failure as the official 20.3 build.
The underlying issue is that the `GraalJSEngineFactory` gets pulled on the classpath even though the JavaScript language is not loaded, which apparently wasn't the case in the

[2020-11-19 09:40] ilopmar commented on #2991
Thank you @gilles-duboscq @eregon and @loicottet for the detailed explanations. I really appreciate it!

I think I'm missing some config or environment variable defined because the instructions you have provided don't work for me:

[code]

Then I've realized that maybe it's because of python, so I've defined this:

[code]

But now it fails with other error message:

[code]

Any hints on how to fix

[2020-11-19 10:19] ilopmar commented on #2991
I'm sorry, I've realized that `graal-js` is in another repository. I've cloned that repo, followed the instructions, and I was able to build Graalvm locally with `graal-js` and reproduce the error.

Again, thank you very much!

[2020-11-19 11:05] gilles-duboscq commented on #2991
Given
[code]
It looks like you already had JS cloned at `/home/ivan/workspaces/misc/graal/graaljs` but in a version that was incompatible.
Maybe check your `/home/ivan/workspaces/misc/graal` directory to check that you have only one copy of the JS repo in there.

[2020-11-19 11:18] ilopmar commented on #2991
Yeah, I already fixed it. It looks like I had a really old clone of `graaljs`. I deleted it and cloned again and everything worked!

[2020-11-19 12:06] hakdogan commented on #2951
Hi,

I would like to share with you that my experiment with the latest version gave a similar result because the tracing agent produced the same entry in reflect-config.json

[code]

[2020-11-19 12:34] jonenst opened #2995 "native-image-maven-plugin crash on windows with long command lines"
**Describe the issue**
Using native-image-maven-plugin 20.3, in my case the command line generated by native-image-maven-plugin is about 15k characters (all the jars) and maven crashes with "The command line is too long."

More details on
https://github.com/oracle/graal/pull/2596#issuecomment-730310898

**Steps to reproduce the issue**
To reproduce, you need jars with a long prefix.. example publi

[2020-11-19 12:50] gradinac commented on #2992
Hey @borkdude, thank you for reporting this issue!
The classes seem to be pulled in by the service loader feature because the class that they implement via SPI is reachable. If you are sure that you do not need those services, you can add the following build argument to native-image:

[code]

[2020-11-19 13:13] webfolderio commented on #2992
@gradinac It seems that `-H:ServiceLoaderFeatureExcludeServices` is undocumented new feature. Am i correct?

[2020-11-19 13:20] argenstijn commented on #2720
what is the status of this issue?

[2020-11-19 13:35] Adelrisk commented on #2720
My understanding of the issue is what can be perceived: GraalVM cannot compile XmlSeeAlso. There is no workaround.

[2020-11-19 13:48] argenstijn commented on #2720
cstancu, do you have any idea to support this in graalvm? If yes, do you happen to know when?

[2020-11-19 13:53] gradinac commented on #2992
@webfolderio yes, it is a new feature added to 20.3. You can view the documentation for it with `native-image --expert-options-all`

[2020-11-19 15:08] rschatz commented on #2984
Should be fixed by https://github.com/oracle/graal/commit/d260d6834c9e52adbf26b8f2fe477d4b78e400c1

[2020-11-19 15:08] #2984 closed

[2020-11-19 16:57] mrbahr2021 commented on #2985
Hi All - Any thoughts on this issue?  I appreciate your help.  Tom

[2020-11-19 17:04] dougxc commented on #2985
Have you opened a Quarkus issue? Maybe someone from that project has an idea.

[2020-11-19 17:06] borkdude commented on #2992
@gradinac Unfortunately that didn't help.

[code]

I still see the output:

[code]

and the binary is equally big as before without the argument.

[2020-11-19 17:14] mrbahr2021 commented on #2985
I can do that.  And if they have any ideas, I'll update you all.

Thanks,
Tom

On Thu, Nov 19, 2020 at 9:05 AM Douglas Simon <notifications@github.com>
wrote:

[2020-11-19 17:42] gradinac commented on #2992
@borkdude hmm, it seems like there's a bug related to the parsing of this option. Could you please try the following workaround:
[code]
We will investigate and fix this on our side

[2020-11-19 18:52] borkdude commented on #2992
@gradinac That worked, thanks! The binary even got a little bit smaller than with 20.2.0 so that's good.

I'll leave it up to you to close this issue as a reminder for the bug with the option parsing.

[2020-11-19 19:07] gradinac commented on #2992
@borkdude That's good news! I'm glad the fix worked :)
I'll keep the issue open until the underlying problem is fixed and we'll post an update here once it is.

[2020-11-19 20:16] lazar-mitrovic commented on #2745
I am looking into this.
There are several ways this issue can be worked around so I'm going to do run tests in order to be as compatible with JVM as possible atm.

[2020-11-19 21:57] sherl0cks commented on #2842
@vjovanov I'm still hitting this with 20.3.0 Linux AMD64 CE that was released this week. Is there a build or deploy time flag needed to link `libawt.so`?

[2020-11-20 05:25] zakkak commented on #2842
FWIW in Mandrel we had to backport https://github.com/oracle/graal/commit/5d2997a9ac8cafdfc6b5c316532165839ad7d1af to 20.3 to get a similar case resolved

[2020-11-20 06:37] sherl0cks commented on #2842
@zakkak interesting. Is there an equivalent of https://quay.io/repository/quarkus/ubi-quarkus-native-image for mandrel 20.3.0? If so, I'd like to test that out to see if I can get this working.

[2020-11-20 06:39] zakkak commented on #2842
@sherl0cks sure it's https://quay.io/repository/quarkus/ubi-quarkus-mandrel :)

[2020-11-20 06:40] sherl0cks commented on #2842
@zakkak brilliant. Will let you know how it goes. Thank you very much!

[2020-11-20 07:00] #2609 closed

[2020-11-20 08:33] mcraj017 commented on #2994
@chanseokoh Thanks for reporting the issue
We will look into it

[2020-11-20 09:03] mcraj017 commented on #2989
@jiekang thanks for reporting the bug
We will look into it

[2020-11-20 10:21] vjovanov commented on #2842
Unfortunately, the AWT patch didn't make it into 20.3 as it was considered dangerous for stability. To get the code that works with AWT you will have to rely on our dev builds or wait for 21.0.

[2020-11-20 10:59] ilopmar commented on #2991
I've found another issue. With the workaround provided I can build the native image, but then some javascript code is still there when running the app.

[code]

To reproduce this new problem:

- `git clone https://github.com/micronaut-graal-tests/micronaut-elasticsearch-graal`
- `cd micronaut-elasticsearch-graal`
- `git checkout 2.2.x`
- Use GraalVM 20.3.0 release for Java 8
- `./build-native-imag

[2020-11-20 11:11] loicottet commented on #2991
The whole situation is caused by the fact that services declared by modules are automatically included in the reflection configuration since 20.3 (see https://github.com/oracle/graal/commit/678354c0c31adad5cae9d348e085153c4134f603). In particular, `GraalJSEngineFactory` is registered as a ScriptEngineFactory by `org.graalvm.js.scriptengine`, which is present in the base Graal distribution. This ne

[2020-11-20 11:15] vjovanov commented on #1261
Excellent, can we close this issue?

[2020-11-20 11:18] #1261 closed

[2020-11-20 11:38] ilopmar opened #2998 "Core dump using native image agent with 20.3.0 and Java 8"
**Describe the issue**

I was trying to use the native image agent with 20.3.0 release and when I start my application it fails. This was working with 20.2.0.

This fails using Java 8 but it works with Java 11.

**Steps to reproduce the issue**

- `git clone https://github.com/micronaut-graal-tests/micronaut-basic-app`
- `cd micronaut-basic-app`
- `git checkout 2.2.x`
- `echo "run.jvmArgs('-agentl

[2020-11-20 12:15] vjovanov commented on #1979
The correct command to build the image with 21.0-dev is:
[code]
Now it seems to fail with a configuration issue:
[code]

[2020-11-20 12:29] vjovanov opened #2999 "Native Image and Agent should have a mode to fail fatally if reflection configuration is not preset"
Debugging configuration issues in GraalVM Native Image is hard. There are two main issues:
 1) A project might originally throw `ClassNotFound`, and similar, errors.
 2) A project could catch and handle those exceptions making it hard to find misconfiguration.

The solution is to:
 1) Have an agent mode that will collect all `ClassNotFound` errors, and similar, and record them into config.
 2) Add

[2020-11-20 12:31] vjovanov commented on #1979
I got inspired by this issue and opened a master thesis project: https://github.com/oracle/graal/issues/2999

[2020-11-20 12:50] loicottet commented on #2991
`-H:ServiceLoaderFeatureExcludeServiceProviders=com.oracle.truffle.js.scriptengine.GraalJSEngineFactory` should be a sturdier workaround until we fix this.

[2020-11-20 12:51] vjovanov commented on #1979
[code]

And it works, as I mentioned above.

[2020-11-20 12:51] #1979 closed

[2020-11-20 13:22] lrxit opened #3000 "Native image generation failed due too many loops."
Native image generation failed due too many loops.

Source code is a grammar parser generated by ANTLR so there's no easy way to change number of loops due to the grammar itself.

Method contains 90 loops.

**ENVIRONMENT**

Windows 10 (x64) version 10.0.19041.630

GraalVM dev:
#Fri Nov 20 03:10:07 GMT 2020
component_catalog=https\://raw.githubusercontent.com/graalvm/graalvm-ce-dev-builds/99fc14085

[2020-11-20 13:37] lrxit commented on #2842
Will AWT feature be available for Windows native image and Java 8?

[2020-11-20 13:38] vjovanov commented on #2842
Java 8, most likely now. For Windows, it turns out that it is a noticeable amount of work. \CC @pejovica

[2020-11-20 13:49] vjovanov opened #3001 "Overhaul of class initialization error reporting"
Whenever a class initialization config error happens we need to pinpoint exactly what the culprit is:

 1) If it is a feature, we should analyze the stack trace, say which feature causes it and in which jar it resides.

 2) If it is a command-line flag we should print the jar where this flag is configured, or point to the command line.

 3) Allow a mode where non-JDK class initialization is displa

[2020-11-20 14:17] lrxit commented on #2842
pity, imho it would represent the definitive solution to the various launchers (launch4j, jar2exe, etc)

[2020-11-20 15:37] adinn commented on #2986
Following feedback from people who have used the EE product debug capability I have decided to revise the Java -> C++ mapping so it conforms to with EE. That means the Java names will used for the layout types and Java types will be translated to pointers to those layout types. So, for example, gdb will see a C++ class named `java.lang.String` and the signature of the concat method will be

    ja

[2020-11-20 15:59] jiekang commented on #2989
Thanks. To be clear, I'm curious if this is intentional or not, but I'd also prefer that behavior was the same between Java and  native image.

[2020-11-20 16:00] bric3 commented on #2830
GraalVM 2020.3.0 announced this issue to be fixed, however on macOS, the produced executable fails.

[code]

I noticed the issue https://github.com/upx/upx/issues/405 is closed, and the latest release is 3.96 anyway.

I'm using a gradle plugin to generate the archive, but I can reporduce the issue with :

[code]

---------------

[code]

[2020-11-20 16:16] bric3 commented on #2830
Here's a simple reproducer

[code]

<details><summary>Using upx on a go binary is working fine</summary>

[code]

</details>

[2020-11-20 16:44] bric3 commented on #2830
For reference, upx on linux works well it seems. I tried the same steps inside `oracle/graalvm-ce:20.3.0-java11` docker container :

[code]

@peter-hofer Should this issue be re-opened ? Or should I create a new one since the upx issue is persisting with macOs ?

[2020-11-20 17:04] ppalaga commented on #2347
Thanks @pgillet, `-H:ExcludeResources` option is now documented in https://www.graalvm.org/reference-manual/native-image/Resources/

[2020-11-20 17:04] #2347 closed

[2020-11-20 17:20] olpaw commented on #2986
To represent Java object/array refs we use `DW_TAG_pointer_type to DW_TAG_structure_type` dwarf-types where DW_TAG_pointer_type has a different DW_AT_byte_size depending if we have a compressed ref or not. In addition the DW_TAG_structure_type has a DW_AT_data_location that holds a dwarf expression (little dwarf stack-machine programs) that can vary depending on what ref type we want to represent.

[2020-11-20 19:33] peter-hofer commented on #2988
@vjovanov Not the entry you reference, which applies to lookups from _callers_ in `org.graalvm.compiler.**`. However, we also have a filter for lookups of elements in `org.graalvm.compiler.**`, which should cover this, so this could be a bug:
[code]

[2020-11-20 19:42] peter-hofer commented on #2830
So now it works on Linux, but is broken on OS X? Is that your experience as well @bajajyog? Either way, given that is appears to crash rather than exiting with an error message, the underlying issue seems different, and a new issue seems warranted.

[2020-11-20 20:36] bric3 commented on #2830
@peter-hofer OK, thanks for the feedback. I will open a new issue (My timezone tells me to go to sleep, so it'll be another day ;))

[2020-11-20 21:00] ppalaga opened #3003 "-H:IncludeResources stopped working in GraalVM 20.3.0"
**Describe the issue**

`-H:IncludeResources` used to be a common way in GraalVM 20.2.0's `native-image` to include native resources. It does not seem to work anymore in 20.3.0

**Steps to reproduce the issue**

I have created a simple reproducer project in https://github.com/ppalaga/include-resources

[code]

**Describe GraalVM and your environment:**
 - GraalVM version: see above
 - JDK major ve

[2020-11-20 22:13] sherl0cks commented on #2842
In case anyone runs into this issue looking for AWT support, it looks like Mandrel did backport the commit, but there is still work needed to fix issues like https://github.com/quarkusio/quarkus-images/issues/114 before the mandrel images are usable. Hopefully those are resolved soon and give folks a viable path to use AWT in native.

[2020-11-20 22:44] pergamonster opened #3004 "GraalVM's Node does not support WebAssembly."
Currently, GraalVM's Node does not support WebAssembly.

There are plans for adding support to WebAssembly for GraalVM's Node. But there is no guarantee when It will be ready.

Unfortunately, there is no workaround for this, using GraalVM.

_Originally posted by @oubidar-Abderrahim in https://github.com/oracle/graal/issues/2804#issuecomment-686354440_

Any update on progress?

[2020-11-21 02:32] davidbruce opened #3005 "JetBrains Skija Unsupported JNI version native-image"
**Describe the issue**
I'm trying to run Jetbrain's "Rendering the first image" example from https://github.com/JetBrains/skija/blob/master/docs/Getting%20Started.md.  It seems to compile fine, but once I attempt to run it, it fails.  The application runs fine as a jar, but it extracts the libskija.so to `/tmp/skija_(nanosecondtime)/libskija.so` and I think that is where the issue stems from.   He

[2020-11-21 05:53] yyanglike commented on #2971
I changed the new version and some parentments ,this error disappered.

[2020-11-21 05:53] #2971 closed

[2020-11-21 07:50] fniephaus commented on #2842
@sherl0cks As @vjovanov pointed out, you can try AWT support today if you use a [nightly 21.0.0-dev build of GraalVM](https://github.com/graalvm/graalvm-ce-dev-builds/releases). I suggest you use that and help test and improve support for AWT. It will make it a bit easier to identify bugs and try out new commits.

[2020-11-21 08:01] mbbee commented on #2842
@fniephaus i tried the nightly 21.0.0-dev build and got the same error. Had anyone success with the nighty 21.0.0-dev build and a HelloWorld - Dialog in AWT or Swing? If yes, please share a detailed howto.

[2020-11-21 15:23] petenorth opened #3007 "on enter not working for TruffleRuby with the insight tool"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: Nightly buld
 - CE or EE: CE
 - JDK version: JDK8
 - OS and OS Version: macOS
 - Architecture: amd64

**Have you verified this issue still happens when using the latest snapshot?**
Yes

**Describe the issue**
The insight tool does not capture TruffleRuby method entries

**Code snippet or code reposito

[2020-11-21 18:57] dmlloyd commented on #3005
I've seen this in other JNI libraries with GraalVM.  It happens when the JNI_OnLoad method returns `-1` (aka `JNI_ERR`) - which occurs in more than one JNI library "in the wild" when there is an error, even though the JNI spec doesn't actually document that error return and the runtime generally recognizes it as `Unsupported JNI version 0xffffffff` (where `0xffffffff` is the twos-complement unsign

[2020-11-21 22:25] sherl0cks commented on #2842
@fniephaus Would be happy to test it out, but the build system I'm working with is set up for these docker images. If you are able to work with the quarkus folks to get a nightly dev build out through their container images, or if there is a comparable image that isn't through quarkus, I'll definitely give it a go. Unfortunately, I just don't have the bandwidth right now to setup a different build

[2020-11-21 23:18] swankjesse opened #3008 "Throwable.addSuppressed() doesn’t add a suppressed exception"
**Describe the issue**
Suppressed exceptions are not retained on Throwable.

**Steps to reproduce the issue**
This is very straightforward to reproduce. Here’s a very standard `build.gradle`:

`build.gradle:`
[code]

And a test class:

`src/main/java/test/SuppressedExceptionTest.java`
[code]

Then at a shell:
[code]

Expected output:
[code]

Actual output:
[code]

**Describe GraalVM and your envir

[2020-11-22 15:45] ppalaga commented on #3003
Attaching debugger to the native-image process and setting a breakpoint straight at the beginning of `com.oracle.svm.hosted.NativeImageGeneratorRunner.JDK9Plus.main(String[])` reveals that backslashes in the command line arguments are doubled where they should not be:
![image](https://user-images.githubusercontent.com/1826249/99908241-c471fb00-2ce1-11eb-8588-ce6d8e2e6b7e.png)

This is perhaps the

[2020-11-22 15:49] ppalaga commented on #3003
Running the same scenario with 20.2.0 shows the slashes non-doubled as expected:
![image](https://user-images.githubusercontent.com/1826249/99908393-b670aa00-2ce2-11eb-8172-0576f4ec210f.png)

[2020-11-22 20:00] budgidiere commented on #2534
This error is still happening on 20.3.0 EE. Any word on it being fixed?

[2020-11-22 23:01] ppalaga commented on #3003
This might be caused by d72991abcc1346be7f87bec18ef329c0b7310c51, esp. [here](https://github.com/oracle/graal/commit/d72991abcc1346be7f87bec18ef329c0b7310c51#diff-9e053bec9eca0799896bd471363fa6aa1df70269e454b89dff1ea5fb844a480cR1263) I guess the [quoteFileArg() method](https://github.com/oracle/graal/commit/d72991abcc1346be7f87bec18ef329c0b7310c51#diff-9e053bec9eca0799896bd471363fa6aa1df70269e454b

[2020-11-22 23:59] ppalaga commented on #3003
Looking at how the backslash escaping in java argument files is explained in https://docs.oracle.com/javase/9/tools/java.htm#JSWOR-GUID-BE93ABDC-999C-4CB5-A88B-1994AAAC74D5

I guess we need to circumfix args containing backslashes with double quotes like we do with args containing spaces.

[2020-11-23 01:22] mcraj017 commented on #3000
@lrxit please provide the reproducer

[2020-11-23 07:23] peter-hofer commented on #2988
On second thought, `accessWithoutCallerFilter` applies only when the agent cannot determine the caller. Judging from the context, `AggregatedMemoryPoolBean` seems to be accessed from the management bean mechanism, which is probably not covered by a caller filter. The question is if it should be because it can also be used to load custom management beans.

[2020-11-23 07:41] ppalaga commented on #3003
I am working on a fix @gradinac if you do not mind.

[2020-11-23 08:23] MartinBalin commented on #2231
OK, thank you for investigation and posting the root cause of your problem here.

[2020-11-23 08:43] vjovanov commented on #2988
I think it would make sense to apply a direct filter even when we have a caller. Sometimes it is just easier to have a class excluded irrespective of the caller. This would be useful whenever the caller is used for both JDK and user classes.

[2020-11-23 08:53] sdeleuze opened #3010 "Tracing agent crash with 20.3.0 and Java 8"
Spring builds with the tracing agent shows that some (not all) samples crashes with the agent when Java 8 is used, Java 11 is fine. See attached report for more information.

[hs_err_pid992.log](https://github.com/oracle/graal/files/5581806/hs_err_pid992.log)

[2020-11-23 09:04] sdeleuze opened #3011 "JDK debug builds break Spring agent samples"
We have spent a fair amount of time to debug [this crazy issue](https://github.com/spring-projects-experimental/spring-graalvm-native/issues/349) that throwq a `java.lang.ClassNotFoundException` on classes present in the classpath and referenced in `reflect-config.json` generated by the agent generated config.

We found that what triggers consistently this bug is the usage of JDK debug builds and

[2020-11-23 09:08] bric3 opened #3012 "On macOS upx produce an executable that get's killed immediately"
**Describe the issue**
A clear and concise description of the issue. We recommend using the [latest snapshot builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases) to replicate the issue as  bugs are constantly being fixed in the master branch

Hi I got redirected from oracle/graal#2830, I noticed that upx does not produce a working executable on macOs. I knew this was an issue prior 2

[2020-11-23 09:24] adinn commented on #2986
Hi Paul,

Thanks for the advice. I'll try to work that into my current implementation.

Can you explain why you use DWARF structure_type rather than class_type info records? Is that simply to avoid gdb naming methods using classname::methodname syntax? Or is there another reason?

n.b. I have deliberately not dumped and inspected the EE DWARF output for two reasons.

 - I need it to be utterly cle

[2020-11-23 09:54] gergo- commented on #2534
Thanks for this report. I can confirm that this is still happening, and I'm investigating.

[2020-11-23 10:53] olpaw commented on #2986
The decision to go with `DW_TAG_pointer_type to DW_TAG_structure_type` was made long before I had anything to do with
with debuginfo support. I guess back then it was unclear if class_type is a good fit to describe Java (i.e. not C++) classes and if GDB would interpret `class_type` exclusively in C++ terms. From todays perspective going with `DW_TAG_class_type` seems a like good idea.

[2020-11-23 13:24] fniephaus opened #3014 "[vscode] VS Code extension for GraalVM 20.3 not yet published to VS Marketplace"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**

**Describe the issue**
I understand the VS Code extension is released as Technology Preview. Nonetheless, I think it makes sense to update it in the VS Marketplace whenever a new

[2020-11-23 13:39] gradinac commented on #3003
Hey @ppalaga! Thank you for contributing to the project! :)
@d-kozak iz working on this, he will integrate a fix for it as part of a larger change. I will reassign the issue to him

[2020-11-23 13:46] wirthi commented on #3004
Our plan is to support it roughly the same time we switch to the Node.js 14.x branch in GraalVM 21.x.

We cannot promise any exact date of availability.

[2020-11-23 14:32] Nillouise commented on #617
How to set window proxy? I didn't find it in document. And the manual download from oracle does not have compoenet I think.

[2020-11-23 14:40] lrxit commented on #3000
[here it is!](https://github.com/oracle/graal/files/5583674/loops.zip)

[code]

[2020-11-23 15:04] ppalaga commented on #3003
I have proposed a fix in https://github.com/oracle/graal/pull/3015

[2020-11-23 16:32] kirillp opened #3017 "Problem with extremely large executable size when using LLVM compiler backend"
We created an executable of our **simple** app with LLVM stack using -H:CompilerBackend=llvm.
And the the resulting executable is **100Mb** for the app.
The App does not have any large dependencies like javafx or desktop or network.
Here is sections, and i see that __LLVM_STACKMAPS__llvm_stackmaps and __LINKEDIT consuming **60Mb**
![image](https://user-images.githubusercontent.com/4068190/99988034

[2020-11-23 16:33] kirillp commented on #3017
[graalTest.zip](https://github.com/oracle/graal/files/5584341/graalTest.zip)

the test demonstrating the issue

[2020-11-23 16:37] adinn opened #3018 "Add JDK Flight Recorder support for Java native images"
# Synopsis

This issue proposes to add JDK Flight Recorder (JFR) support for Java native images for monitoring and performance profiling of applications.

A prototype implementation is in progress, and work is ongoing to finalize the initial feature set for contribution to Graal CE. We welcome feedback from Oracle’s GraalVM team and the GraalVM community on both this proposal and the prototype imp

[2020-11-23 20:09] thegreystone commented on #3018
Is support for the jdk.ExecutionSample event, or a true CPU profiling event, part of this effort?

[2020-11-23 23:12] mcraj017 commented on #2998
@ilopmar thanks for reporting the issue
we will check it out

[2020-11-24 00:18] fcurts commented on #1230
@chumer I can't find a `cpuTimeLimit()` method.

[2020-11-24 01:25] fernando-valdez commented on #3007
Hi @petenorth, thank you for reporting this issue.
I will take a look at it. If I have any questions I will let you know.

[2020-11-24 01:37] fernando-valdez commented on #3005
Hi @davidbruce,
Thanks for reporting this issue, I will take a look at this and will go back to you with any new feedback

[2020-11-24 02:12] mcraj017 commented on #3012
@bric3 thanks for reporting the issue
we will take a look and update you

[2020-11-24 04:02] mcraj017 commented on #3012
@bric3 Its working for me, is there anything I am missing?
[code]

[2020-11-24 05:59] mcraj017 commented on #2877
@sendev1 I tried to reproduce this issue, but there are no steps provided and also compile.bat is not working.
Please check the reproducer and provide clear steps and repo to reproduce this issue
thanks

[2020-11-24 06:48] bric3 commented on #3012
Ok so there's something wrong on this machine.

Could it be the macOs version ?
I installed upx via brew, I'll try to get a release from upx repo.

I'm not at ease regarding native tooling or debugging especially on macOS. What can I do to identify the problem?

[2020-11-24 09:05] zakkak commented on #2679
@adinn I think we can close this now

[2020-11-24 09:40] adinn commented on #2679
Agreed.

[2020-11-24 09:40] #2679 closed

[2020-11-24 09:44] oubidar-Abderrahim commented on #3008
The issue is tracked internally on GR-27667

[2020-11-24 10:05] benediktarnold commented on #2845
I still have the same issue on graal 20.3.0 which is based on OpenJDK 11.0.9

According to https://bugs.openjdk.java.net/browse/JDK-8223777 the fix is in JDK14 and 15 and there is a plan to backport it to JDK 11. This backport wasn't done yet since they are waiting until https://bugs.openjdk.java.net/browse/JDK-8226192 is fixed. That is currently not yet done.

[2020-11-24 10:08] vjovanov commented on #2998
This is a Java 8 issue for native-image. We tend to prioritize Java 11 issues as they are more impactful for the community.

[2020-11-24 11:07] kirillp commented on #3017
Interestingly, If I link executable with Graal, `__LINKEDIT ` is small,
But when I link it on myself, `__LINKEDIT ` very large (15mb+)

This is custom linking code

[code]

[2020-11-24 11:22] ujibang opened #3020 "Impossibile to build Undertow based native image due to unsafe.staticFieldBase() on static volatile int fails with UnsupportedFeatureError"
**Describe the issue**

the native image of a project that uses undertow, fails at runtime with following error:

[code]

The problem comes from `EnhancedQueueExecutor` class of [jboss-threads](https://github.com/jbossas/jboss-threads) that uses

[code]

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `git clone --depth 1 https://github.com/SoftInstigate/gr

[2020-11-24 11:42] williamhaw commented on #2390
The source files were inside the WSL 2 file system. When using GraalVM’s node executable on Mac, there is no slowdown.

[2020-11-24 13:30] MartinBalin commented on #617
On windows proxy can be set as:
[code]

[2020-11-24 13:32] MartinBalin commented on #617
GraalPython is available at
CE https://github.com/graalvm/graalpython/releases
and also EE OTN license: https://www.oracle.com/downloads/graalvm-downloads.html

[2020-11-24 13:35] zakkak commented on #3010
Possible duplicate of #2998

[2020-11-24 13:58] bric3 commented on #3012
@mcraj017 OK this worked for me on another laptop with Catalina (10.15.7). Using the same reproducer (with the `upx` coming from brew).

And using upx built from sources on BigSur, failed again

[code]

[2020-11-24 14:09] kirillp commented on #2599
what about  this  `@TargetClass` and `@Substitute?`

Without scanning GraalVM can never see this classes.

`@TargetClass(value = Png.class)
public final class PngReplacement {
  @Substitute
  static long encodeRGBA(byte[] image, int width, int height, Png.PngWriteCallback cb)`

[2020-11-24 16:00] bric3 commented on #3012
Hi, I am a real novice for native code, but I installed gdb via home brew and added the codesign as documented (https://sourceware.org/gdb/wiki/BuildingOnDarwin), and set startup-with-shell off.

However gdb immediately fails on the `run` command, and it seems I'm [not alone](https://sourceware.org/bugzilla/show_bug.cgi?id=26861)

[code]

I'll try `dtrace`

[2020-11-24 16:29] bric3 commented on #3012
Humm that is not going right

[code]

-----

For reference I did `csrutil disable; csrutil enable --without dtrace` in the recovery os.

[2020-11-24 16:56] janglada opened #3022 "Incorrect method signature called from graal-js"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3**
 - CE or EE: **CE**
 - JDK version: **JDK11**
 - OS and OS Version: **[macOS Mojave]**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`: ```OpenJDK 64-Bit Server VM (11.0.9+10-jvmci-20.3-b06) for bsd-amd64 JRE (11.0.9+10-jvmci-20.3-b06), built on Nov 11 2020 22:26:48 by "g

[2020-11-24 17:33] fniephaus opened #3023 "[interop] Unable to export all interop messages due to "State space too big""
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3**
 - CE or EE: **CE**
 - JDK version: **JDK8**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**

**Have you verified this issue still happens when using the latest snapshot?**
yes

**Describe the issue**
As [`InteropLibrary`](https://github.com/oracle/graal/blob/dcf9e763901ca

[2020-11-24 19:45] christianwimmer commented on #2599
The easiest way to handle these things will be annotation processing when the source code is compiled, i.e., let `javac` already collect the list of annotated classes.

[2020-11-24 21:14] jiekang commented on #3018
@thegreystone Support for `jdk.ExecutionSample` or similar is part of the overall effort but for a currently unknown future date.

[2020-11-24 22:27] duncanmak opened #3024 "Failing to use native image with Kawa Scheme"
**Describe the issue**

I'm trying to build a native image with JavaFX code using Kawa Scheme.

**Steps to reproduce the issue**
https://github.com/duncanmak/kawa-javafx-graalvm, run `mvn client:build`.

This is a project that uses the GluonHQ maven plugins.

**Describe GraalVM and your environment:**
 - GraalVM version -
[code]
 - JDK major version:
[code]
 - OS:
[code]
 - Architecture: Intel x86

[2020-11-25 00:37] davidbruce commented on #3005
Thanks for looking into this!

[2020-11-25 00:40] stevenschlansker commented on #2881
We're running openjdk 15.0.1 and graal 20.3 and are suffering this problem.
I don't see newer versions of the JAR files to link against -- we don't run `mx` at all, how can we incorporate the fix?

[2020-11-25 05:11] mcraj017 commented on #3022
@janglada thanks for reporting the issue
We will check it and update you

[2020-11-25 08:56] dougxc commented on #2881
This was re-fixed in 76d0c303763cbd1d98ffee722ef7644819143aa3 which did not make it into 20.3.
Where are you getting the Graal JAR files?

[2020-11-25 10:35] mcraj017 commented on #3012
@bric3 I think your issue is related to ups and not graalvm
please check this issue out
https://github.com/upx/upx/issues/424

[2020-11-25 13:17] mcraj017 commented on #2994
@chanseokoh you can add the allowWrite manually in /tmp/native-image-config/reflect-config.json
and your application will work
`[
{
  "name":"com.example.JacksonIssueDemo$JsonTemplate",
  "allDeclaredFields":true,
  "allDeclaredMethods":true,
  "allDeclaredConstructors":true,
"fields" : [
      { "name" : "finalValue", "allowWrite" : true }
    ]
},
{
  "name":"com.fasterxml.jackson.databind.ext.J

[2020-11-25 13:21] mcraj017 commented on #2942
@Hixon10 I have filed the bug with our Dev team, once its fixed, I will let you know

[2020-11-25 13:25] brunocaballero opened #3025 "Native Image --initialize-at-run-time doesn't work with package names"
**Describe the issue**
The parameter "--initialize-at-run-time" doesn't work when using package names. It works when specifying single classes.

**Steps to reproduce the issue**
Consider the following code:

`package Main;
import A.A1;
import A.A2;
public class Hello {
  public static void main(String args[]) {
    A1 a1 = new A1();
    A2 a2 = new A2();
    System.out.println("Hello World " + a1.

[2020-11-25 13:27] mcraj017 commented on #2989
@jiekang We have added this in our feature list  and will be fixed in future releases,
please do check out https://www.graalvm.org/ to get update on future releases.

[2020-11-25 13:30] Nillouise commented on #617
Sorry window proxy does not work with me, I set a **not** exist proxy 192.168.2.111:7980, gu still can download, but very slow and will broke.

[code]

[2020-11-25 14:53] chumer commented on #3023
Tracked internally as GR-27711

[2020-11-25 14:53] jiekang commented on #2989
@mcraj017 Okay sounds good; I appreciate the communication!

[2020-11-25 16:26] MartinBalin commented on #617
I'm afraid I ran out of ideas. Originally you asked how to set proxy on Windows, right? Looks like connectivity works but connection is slow or there is a big packet lost.

[2020-11-25 16:37] stevenschlansker commented on #2881
We link Graal in as a library from Maven Central:
https://search.maven.org/artifact/org.graalvm.compiler/compiler/20.3.0/jar

[2020-11-25 16:52] dougxc commented on #2881
Using the maven jars with any JDK for which there is not a GraalVM release will always run this risk.

[2020-11-25 17:39] sdedic commented on #617
GU is a super-simple utility; and does not do inetnum matching as regular utilities do, to process e.g. `no_proxy` env variables. A very simple (and stupid) approach was taken: GU tries to connect through the proxy **and without** the proxy in parallell. If a direct connect succeeds, it will be preferred (to that authority) even though a proxy connect succeeds. If all three (http proxy, https prox

[2020-11-26 06:15] mcraj017 commented on #3024
@duncanmak thanks for reporting the issue
we will look into it and update you

[2020-11-26 06:41] mcraj017 commented on #3024
@duncanmak This exception is because method handle support for GraalVM Native Image is still in progress
please check the below feature request for your reference
https://github.com/oracle/graal/issues/2761

Once the support is added you can try again

[2020-11-26 13:19] jerboaa commented on #1163
At revision c92adba1183a11ab75bdb2ab437a79502a66f565 of graal master I'm getting (producing the native image works) the following trace on the initial ImageIO example from the reporter:

[code]

So there is still work left to do for ImageIO to work.

[2020-11-26 14:51] vjovanov commented on #1163
Have you generated the config first with an agent? AWT is still not supported without configuration.

[2020-11-26 14:56] jerboaa commented on #1163
I have not. Let me try that now.

[2020-11-26 16:36] Nillouise commented on #617
Thank you, the Java's bultin proxy support is work for me. My area's network environment is bad, direct to connect to Github often broken by GFW when downloading compoenent, so I have to force gu use the proxy.

[2020-11-26 19:55] jerboaa commented on #1163
OK that seems to work for png images illustrated in `Example1.java`:

[code]

[2020-11-26 20:39] vjovanov commented on #1163
Can we close the issue?

[2020-11-26 20:39] #1163 closed

[2020-11-26 21:27] smil2k commented on #1163
@jerboaa: for the record, could you tell me how did you created the "config with an agent" for graalvm?

[2020-11-26 21:29] vjovanov commented on #1163
We have documentation on that:

https://github.com/oracle/graal/blob/master/substratevm/BuildConfiguration.md

[2020-11-26 21:37] bric3 commented on #3012
@mcraj017 I have already looked at this ticket but I'm not sure it's related, upx/upx#424 looks to be about _codesigned_ applications. Besides a go app is compressed fine.

Although it may be worth asking for our friends at upx too.

[2020-11-26 22:01] halimpuckjava opened #3027 "GraalVM native image support for Dart native exec"

[2020-11-27 05:09] mcraj017 commented on #3027
@halimpuckjava
Please provide the following information:

1. Is your feature request related to a problem? Please describe.
2. Describe the solution you'd like.
3. Describe who do you think will benefit the most.
4. Describe alternatives you've considered.
5. Additional context.

[2020-11-27 05:13] mcraj017 commented on #3025
@brunocaballero Thanks for reporting the issue
We will look into it and update you

[2020-11-27 09:08] jerboaa commented on #1163
@smil2k See https://github.com/oracle/graal/issues/1163#issuecomment-734459532 The `-agentlib:native-image-agent[...]` part generates files in `META-INF/native-image` which then the `native-image` invocation picks up. Consider also adding `--verbose` so as to see how this config is being picked up.

[2020-11-27 10:19] halimpuckjava commented on #3027
@mcraj017

in dart we can build a native exe, but when launch it is not fast (average 20 ms to start),
so my suggestion is how transform this native exe from dart to native image with graalvm to make it faster

thnaks

[2020-11-27 11:29] ilopmar commented on #2998
I understand that it's good to prioritize Java 11 issues but this one seems to be important enough to give it some love :-), and I don't know, maybe release a 20.3.1 with the fix.

Btw, I always try Micronaut applications first with Java 8 and once they work I try them with Java 11. I've found in the past issues that were only present in Java 11 (and reported them, of course).

[2020-11-27 11:31] ilopmar opened #3028 "UnsupportedFeatureException: VarHandle object must be a compile time constant with Java 11"
**Describe the issue**

We've added support to create Micronaut GraalVM native images with Liquibase, and the native-image build fails when using H2 and JDK11. It works properly with JDK8.

**Steps to reproduce the issue**

- `git clone https://github.com/micronaut-graal-tests/micronaut-liquibase-graal`
- `cd micronaut-liquibase-graal`
- `git checkout 2.2.x_h2`
- Use GraalVM 20.3.0-JDK11 or GraalV

[2020-11-27 16:48] gergo- commented on #2534
Thanks again for reporting this @budgidiere. This is a new variant of the original problem. A new fix for this problem will be included in the 21.0.0 and 20.3.1 releases scheduled for January 19th. The 19.3.x series should not be affected by this new variant of the problem, which was caused by an interaction of my original fix with later changes on the 20.x tree.
As before, the workaround is to pa

[2020-11-27 16:48] #2534 closed

[2020-11-27 17:39] Tradias opened #3029 "NPE evaluating JS eval() in double-nested IILE from Java/Kotlin"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3.0**
 - CE or EE: **CE**
 - JDK version: **JDK15**
 - OS and OS Version: **Windows 10 Pro**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
no

**Describe the issue**
Evaluating the JS sc

[2020-11-27 18:06] sir-ion opened #3030 "Imported javascript File is read twice by Truffle virtual file system."
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3.0**
 - CE or EE: **CE**
 - JDK version: **graalvm-ce-java11-20.0.0**
 - OS and OS Version: **Ubuntu 19.10**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?** No

**Describe the issue**
I a

[2020-11-27 19:10] chanseokoh commented on #2994
That's what I did as I said in the issue description, which is not really feasible in our case.

[2020-11-27 19:32] jerboaa opened #3031 "ImageIO app fails to run with UnsatisfiedLinkError when using jpeg image types"
When building graal master tree at revision 64bd483a0de96740a932502234da45aa1014c31b and trying to run the below reproducer it fails at runtime with:

[code]

This doesn't happen with plain Java mode. Relevant images are being produced in that mode.

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your environment:**
 - Graal master at 64bd483a0de96740a932502234da45aa1014c31b
 - JD

[2020-11-27 19:45] jerboaa commented on #1163
@vjovanov One small issue left. See https://github.com/oracle/graal/issues/3031

[2020-11-27 20:55] ppalaga opened #3033 "-H:* arguments containing newlines cause a native-image crash"
https://github.com/oracle/graal/commit/e54f5cfb0dcc21c777bafec9bcba02be2208afd5 introduced passing of command line arguments from `native-image` to the builder JVM via a file where arguments are delimited by `System.lineSeparator()`. This works well in most common cases, but makes the JVM fail if any of the arguments contains a newline character.

**Steps to reproduce**

Have a Java class like the

[2020-11-27 20:58] ppalaga commented on #3003
https://github.com/oracle/graal/commit/e54f5cfb0dcc21c777bafec9bcba02be2208afd5 fixed the scenario described in this issue, but it is still possible to construct a set of arguments that do not work as expected - see https://github.com/oracle/graal/issues/3033

[2020-11-27 20:58] #3003 closed

[2020-11-27 21:14] jarohen opened #3034 "`polyglot --shell` fails with StringIndexOutOfBoundsException on urxvt"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3**
 - CE or EE: **CE**
 - JDK version: **11**
 - OS and OS Version: **Arch Linux**
 - Architecture: **amd64**
 - The output of `java -Xinternalversion`:
[code]

**Have you verified this issue still happens when using the latest snapshot?**
You can find snapshot builds here: https://github.com/gr

[2020-11-27 21:52] fernando-valdez commented on #2865
@Caffeine-01 can you please test this issue using the latest GraalVM version, and share your results?

[2020-11-27 23:13] fernando-valdez commented on #2909
hi @postmodern. This behavior is consistent with JDK.

[2020-11-27 23:13] #2909 closed

[2020-11-27 23:25] fernando-valdez commented on #3033
Thanks for reporting this @ppalaga, I will take a look at the issue

[2020-11-27 23:36] fernando-valdez commented on #3031
Hi @jerboaa. Thank you for reporting this issue. I will take a look at it.

[2020-11-28 05:57] virustotalop commented on #631
+1 for support for this. We've sorted out all of our issues of migrating from nashorn besides this issue. Without this being complete we can't migrate to graaljs. Thank you to all the people who work on graal.

[2020-11-28 06:02] jaikiran commented on #1843
Closing this as out-of-date since it's more than a year now and I haven't seen this happen recently.

[2020-11-28 06:02] #1843 closed

[2020-11-28 06:21] ptrthomas commented on #631
+1 - I just spent 2 very frustrating weeks trying to solve this - just when I thought the [approach here](https://github.com/graalvm/graaljs/issues/59#issuecomment-667574696) was working, I hit another dead end:

for the benefit of everyone here, it was recently announced that Nashorn will be revived as a stand-alone project and a JDK 15 compatible dependency has just been released: https://twitte

[2020-11-28 09:14] MartinBalin commented on #3014
Extensions went live today morning.

[2020-11-28 09:14] #3014 closed

[2020-11-28 11:46] fniephaus commented on #3014
Excellent, thank you!

[2020-11-28 14:54] moorsu opened #3035 "Creating native image of spring boot application (2.4.0) is failing with an error : Error: could not find target field: private org.springframework.core.metrics.ApplicationStartup"
**Describe the issue**

Trying to compile an existing 2.4.0 spring boot application into a native image using

`mvn clean -Pnative package`

**Steps to reproduce the issue**

The command

/opt/graalvm-ce-java11-20.3.0/bin/native-image --verbose --native-image-info -cp /home/parallels/.m2/repository/org/springframework/experimental/spring-graalvm-native/0.8.3/spring-graalvm-native-0.8.3.jar:/home/p

[2020-11-29 19:10] stevenschlansker commented on #2881
Yes, this probably isn't the most common configuration, and as open source users it broke and we got to keep both pieces :)
All the same, hoping for the latest Graal GA to work with latest OpenJDK GA (especially given the new rolling release schedule) doesn't seem like that far of a reach.  Looking forward to the fix hopefully landing in 20.3.1, we'll try to patch the jar ourselves in the meantime

[2020-11-29 19:34] kristofdho commented on #2207
I am trying to figure out a small example for my issue (with the Object jni registration).
But as already mentioned, I am also running into the orriginal issue, and for that I do have a reproducible example:

file: `UndefinedReferencePoc.java`
[code]

file: `reflect-config.json`
[code]

Steps to reproduce:
1. `javac UndefinedReferencePoc.java`
2. delete the `DeleteMe.class` file
3. run native-imag

[2020-11-29 20:32] kristofdho commented on #2207
Upon further inspection, constructors can fail too if they contain references to non existing classes, and the warning is shown if one of these fail:
https://github.com/oracle/graal/blob/26431bf1b00dc23da5fbd8b89f02060f8cfd4811/substratevm/src/com.oracle.svm.reflect/src/com/oracle/svm/reflect/hosted/ReflectionDataBuilder.java#L256-L263

I think the correct way to handle this would be to check thes

[2020-11-29 21:42] spket opened #3036 "Native JavaFX image got segmentation fault on Raspberry PI OS 64"
**Describe the issue**
I created native image for JavaFX hello world example on Raspberry PI OS64, it runs but got Segmentation fault after Application.start(Stage stage) got called.

**Steps to reproduce the issue**
It's JavaFX hello world example,

**Describe GraalVM and your environment:**
 - GraalVM version: **CE 20.2 & 20.3**
 - JDK major version: **11**
 - OpenJFX version: **11.0.2+1-1 arm64

[2020-11-30 02:53] budgidiere commented on #2534
Thank you.

[2020-11-30 08:14] jerboaa commented on #3031
OK, thanks. Please see #3032 for a proposed fix.

[2020-11-30 09:55] giova333 commented on #2620
@vjovanov has this issue already been fixed?

[2020-11-30 12:10] olpaw commented on #3033
Hi @ppalaga please be aware that `-H:FallbackExecutorJavaArg` is an internal option. It is used by the driver if regular image-build fails and we have to revert to building a fallback-image. We do not support this option to be used explicitly on command line.

That said, we could change the option separator used in the file for passing the image builder arguments to something else than newline. Eg

[2020-11-30 13:58] spket commented on #3036
More information:
[code]
Before:
[code]
After:
[code]
So it's the register's value got changed, probably GCC's issue, maybe different version or compile flags that cause different behave

[2020-11-30 14:28] ppalaga commented on #3033
Yeah, I admit, the example is a bit artificial. But as you certainly see, any `-H:` argument containing a newline will cause the same kind of driver failure. Even if newline is not considered a valid input of any of the current `-H:` options, I think driver should pass it to the builder JVM rather than fail. I thus welcome your readiness to solve this corner case in some way.

Hard to say whether

[2020-11-30 15:57] olpaw commented on #3033
That's a very good idea.

[2020-11-30 16:03] olpaw commented on #3033
There is https://stackoverflow.com/questions/2283335/how-to-pass-in-a-null-character-in-a-command-line-argument-in-c

But in general ... almost nothing can ever reliably be ruled out ;-)

[2020-11-30 17:15] lazar-mitrovic commented on #3027
AFAIK this could only feasibly be supported if [JDart](https://code.google.com/archive/p/jdart/) ever got to a usable state, but that project was abandoned almost a decade ago.

[2020-11-30 21:10] vjovanov commented on #2998
@ilopmar can you give an example where building a native-image on Java 8 can't be replaced with a native-image on Java 11? Even in the case of the agent, I believe all Java 8 code should run on Java 11. I can't find this to be dangerous because the agent run on Java 11 is not a production run so there is really no potential fears of crashing.

Also, when building a native-image, the change of tech

[2020-11-30 23:24] kristofdho commented on #2207
I made a PR which implements this suggestion on my other account. #3037

[2020-12-01 06:53] opjk opened #3038 "It reports "Exception in thread "main" java.lang.UnsatisfiedLinkError: no awt in java.library.path" when starting."
**Describe the issue**
My project is a desktop Application  coding with openJFX 15, openJDK 11 and springboot 2.4.0.
It works fine  starting with ' java -jar  ' command ,  but don't  work  with native image.
It reports  "Exception in thread "main" java.lang.UnsatisfiedLinkError: no awt in java.library.path"  when starting.

**Describe GraalVM and your environment:**
 - JDK major version: **[ Graal

[2020-12-01 08:20] oubidar-Abderrahim commented on #2865
Closed as resolved

[2020-12-01 08:20] #2865 closed

[2020-12-01 08:32] mcraj017 commented on #3029
@Tradias Thanks for reporting the bug
We will check it and let you know the findings

[2020-12-01 08:33] mcraj017 commented on #3030
@sir-ion Thanks for reporting the bug
We will check it and let you know the findings

[2020-12-01 08:53] ilopmar commented on #2998
@vjovanov the latest issue I've found that works on Java 8 but fails in Java 11 is this https://github.com/oracle/graal/issues/3028

Right, I totally agree with this, we should move forward and start using Java 11. In our new Maven plugin for Micronaut we are defaulting to Java 11 if the users want to build an static image because we can use musl.
Maybe what you (the GraalVM team) can do to "push"

[2020-12-01 09:43] Karm commented on #2701
@zakkak Is this still an issue? I recon I could break / list in a method that was surely inlined...  gonna try to be sure.

[2020-12-01 10:02] argenstijn commented on #2720
I guess the problem is because of the LocatableAnnotation class. This implemention contains some reflection code.

[2020-12-01 10:02] argenstijn commented on #2720
see https://github.com/quarkusio/quarkus/pull/5562/commits/daec663d06ff028133127243d4afeefec40a3ee6

[2020-12-01 10:42] argenstijn commented on #2720
https://gitlri.lri.fr/jlopez/qsl/blob/3637195abe5729f77cf4dee38f5429b873c58d51/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java:
  /*
         * Check that the type states for method parameters and fields are compatible with the
         * declared type. This is required for interface types because interfaces are not trusted
         * according to the Java

[2020-12-01 11:00] ppalaga commented on #3033
Fair enough, thanks for taking care, @olpaw.

[2020-12-01 11:33] chumer commented on #3023
Arbitrary state space is now supported.
See https://github.com/oracle/graal/commit/ce51ea5eb89d072bda8b0fb6b36152950fd6eb8f

[2020-12-01 11:33] #3023 closed

[2020-12-01 12:15] olpaw commented on #3033
Fixed by https://github.com/oracle/graal/commit/5a3a2e016f907c6deabb4643763d973408b4b715

[2020-12-01 12:15] #3033 closed

[2020-12-01 12:19] vjovanov commented on #2620
I think JPEG had issues and this PR ought to address them:

https://github.com/oracle/graal/pull/3032#issuecomment-736515615

[2020-12-01 12:36] zakkak commented on #2701
Yes, this is still an issue:
[code]

[2020-12-01 12:37] jerboaa commented on #2620
I concur. It should be fixed with that PR.

[2020-12-01 21:41] sebthom opened #3039 "native-image-maven-plugin fails with java.lang.ClassNotFoundException: jdk.vm.ci.services.Services"
**Describe the issue**
Even trying to build a very simple helloworld Maven project without any dependencies fails.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. Unzip [helloworld.zip](https://github.com/oracle/graal/files/5625537/helloworld.zip)
2. Install latest maven version and OpenJDK 11
2. Run **mvn clean package**

**Describe GraalVM and your envir

[2020-12-01 23:43] jramirez-isc commented on #3035
Hi @moorsu do you have a reproducer of this issue?

[2020-12-02 01:54] sdavids commented on #1645
The excellent I18N features of Java are a major selling point vs. the poor support in Rust and Go.

[2020-12-02 03:37] christianwimmer commented on #2951
While we will be able to fix that particular case (a GraalVM internal class that is annotated as hosted only), I want to note that by principle the agent is not able to produce 100% correct reflection configuration files. It is always possible that a HotSpot-only class from the JDK ends up in the reflection configuration. So it will always be necessary to manually inspect the reflection configurat

[2020-12-02 06:27] mcraj017 commented on #3024
Closing this issue for now, if you have any question, please reopen it

[2020-12-02 06:27] #3024 closed

[2020-12-02 06:33] mcraj017 commented on #2994
@chanseokoh Native-image is early adopter technology, so with every update we are making it better and better, for now The agent only observes lookups of fields via JNI or reflection, not each individual write of a field. Doing so would significantly slow down accesses. We can detect illegal accesses at image runtime however.
for now, I will check with the dev team, if there is any backgroud

[2020-12-02 07:55] mcraj017 commented on #3029
@Tradias  Please share the command line used to run your code snippet

[2020-12-02 09:14] oubidar-Abderrahim commented on #3036
Could you please share the JavaFX example you used and the command you used to generate the native-image?

[2020-12-02 09:32] oubidar-Abderrahim commented on #3038
Could you please share a small reproducer for this issue? there isn't currently much information to debug

[2020-12-02 10:25] Tradias commented on #3029
I have updated the issue description. Also changed the example to Java, I guess that makes it easier for you to reproduce

[2020-12-02 12:40] petermz commented on #2825
I've managed to build complete GraalVM CE 20.3.0 package (including js, graalpython, truffleruby, and fastr) on Alpine Linux 3.11 with the 3 patches attached, and
- [labsjdk-11](https://github.com/graalvm/labs-openjdk-11.git) as boot JDK
- `apk add bash build-base cmake ed gfortran git make openssh python2 sed xz binutils-dev bzip2-dev curl-dev libffi-dev libxml2-dev openssl-dev pcre-dev readline-

[2020-12-02 13:27] mcraj017 commented on #2994
@chanseokoh for now, the only way to resolve this is only changing the config files manually, as it is early adopter technology, please always use the latest version

[2020-12-02 13:27] #2994 closed

[2020-12-02 13:34] mcraj017 commented on #3029
@Tradias thank you

[2020-12-02 14:37] fniephaus opened #3040 "[vscode] "Cannot read property 'JAVA_HOME' of undefined""
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **20.3**
 - CE or EE: **CE/EE**
 - JDK version: **JDK11**
 - OS and OS Version: **macOS Catalina**
 - Architecture: **amd64**
- VS Code extension: **0.5.0**

### Description

When I click on the "Home" icon of a GraalVM installation, the following error is raised:

<img width="1198" alt="image" src="h

[2020-12-02 14:59] fniephaus opened #3041 "[vscode] Behavior of languageServer.inProcessServer option is unclear"
I’m not sure I understand the [`languageServer.inProcessServer` option](https://github.com/oracle/graal/tree/41f21fde7086a507c4e6100fd89cb560bb496789/vscode/graalvm#extension-settings). The description says:

And it’s set to `true` by default.

According to the code, it looks like this will spawn an LSP server whenever I “launch” something through the extension. But why would that be the default b

[2020-12-02 15:34] vjovanov commented on #3025
Because they are proven to be safe to initialize. If you want to prevent such classes, you will have to list them explicitly.

[2020-12-02 15:34] #3025 closed

[2020-12-02 15:39] hakdogan commented on #2951
I'm aware of this, tbh it would not be realistic to expect otherwise. I just wanted to contribute to your getting one step closer to better by giving feedback.

[2020-12-02 16:46] fotad commented on #3036
sure - https://github.com/fotad/jfx-hello

[2020-12-02 18:41] jramirez-isc commented on #3034
Hi @jarohen
Thanks for reporting this.
I've tested on linux-amd64 but didn't hit the issue. I'll try next with Arch Linux and report back.

[2020-12-02 19:10] olyagpl commented on #3034
@jarohen, languages shells that migrated JLine 3 will crash on startup when launched in rxvt terminal emulator. Please see
https://www.graalvm.org/release-notes/known-issues/

[2020-12-02 20:17] brunocaballero commented on #3025
Ok, make sense. Perhaps the documentation in https://github.com/oracle/graal/blob/master/substratevm/ClassInitialization.md needs a warning or something, for me it was not clear that the automatic initialization of safe classes prevails over the option ---initialize-at-runtime for packages.

[2020-12-02 22:55] sebthom commented on #3039
Apparently this happens when JAVA_HOME does not point to GraalVM but to OpenJDK.

This requirement is not mentioned in the documentation at https://www.graalvm.org/reference-manual/native-image/NativeImageMavenPlugin/

Also it might be helpful if the maven plugin would verify if it is running with graalvm or openjdk and exit with a user-friendly error message instead of this cryptic exception.

[2020-12-02 23:19] max-datagamma commented on #1910
If you're using Java modules, this can also be caused by trying to access a class in a module that Graal does not have access to. Just add the package for the class in question to your module-info.java, e.g.:
opens com.acme.server.utils;

[2020-12-03 07:18] vjovanov commented on #3025
Yes, this decision was added later and not documented. We also need to improve printing to show the reason why a class was initialized at build-time.

[2020-12-03 08:36] olpaw commented on #3039
@sebthom this is already fixed on master. There you will get the error message https://github.com/oracle/graal/blob/5058707b0a95fa14c6f2e2f89e7de3da0a302d2c/substratevm/src/native-image-maven-plugin/src/main/java/com/oracle/substratevm/NativeImageMojo.java#L131 This is in the process of getting backported to 20.3 (lands in 20.3.1)

[2020-12-03 08:52] oubidar-Abderrahim commented on #3036
When I run `./javafx -trace -cp bin demo.Hello` I got the following error, am I missing something? I'm running it on a Ubuntu machine and I installed openjfx as mentioned in the readme.md
[code]

[2020-12-03 08:55] oubidar-Abderrahim commented on #3036
Did you test the native image on another Linux distribution (Ubuntu, Fedora...) on a normal machine to see if the issue is related to something specific in Raspberry or it happens on all Linux machines?

[2020-12-03 09:14] Zachpocalypse commented on #2968
Any update on the issue or suggestions as to what the problem may be?

[2020-12-03 09:17] zakkak commented on #3038
Possible duplicate of https://github.com/oracle/graal/issues/2842

[2020-12-03 15:58] fotad commented on #3036
remove -Dprism.forceGPU=true from all script? probably Ubuntu does not have proper driver.

I don't have other linux machine ATM, the bug is about raspberry pi os 64, which can download from  https://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2020-08-24/

[2020-12-03 16:47] robby-phd opened #3042 "native-image hangs in Linux but works in macOS and Windows"
**Describe the issue**
For a [jar file](http://pub.santoslab.org/sireum.jar) from my project, native-image hangs in Linux but compiles successfully in macOS (and Windows).

**Steps to reproduce the issue**
[code]

**Describe GraalVM and your environment:**
 - GraalVM version: 20.3.0, 21.0.0-dev
 - JDK major version: 15
 - OS: macOS Catalina and Ubuntu 20.04 (and Windows 10)
 - Architecture: amd64

[2020-12-03 20:37] sebthom commented on #3039
@olpaw thanks for that info. could you still improve the guide at https://www.graalvm.org/reference-manual/native-image/NativeImageMavenPlugin/ and mention that the project needs to be build with GraalVM and not a regular JDK. The page currently says `One can build a native image directly with Maven ... It is sufficient to add native-image-maven-plugin into the <plugins> section of the pom.xml fil

[2020-12-04 03:47] jbiancot opened #3043 "Pi4 2GB of ram, Ubuntu 20.04 - Image generator watchdog is aborting image generation. To configure the watchdog"
Hi,

I added this issue on here:
https://github.com/spring-projects-experimental/spring-graalvm-native/issues/391

They told me I should post on this forum...

Hi folks,

I have build successfully using:
Linux Ubuntu-20-04 5.4.0-54-generic #60-Ubuntu SMP Fri Nov 6 10:37:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 20.04.1 LTS, with 8 GB of RAM, that is a VM running on my Mac under Parallels D

[2020-12-04 05:14] christianwimmer commented on #3008
That was a historic restriction that is no longer necessary. Fixed in https://github.com/oracle/graal/commit/12011052a067fd0dfd195e37856147e0a70f89e0

[2020-12-04 05:14] #3008 closed

[2020-12-04 08:13] MartinBalin commented on #3041
It is default  behavior to run LSP during any execution from VSCode as we want to gather more information about types as being executed during runtime from GraalVM. But after some experience with this we are inclined towards setting this FALSE by default for next version.

[2020-12-04 09:01] fniephaus commented on #3041
I think it might make sense to split the option into two. `languageServer.inProcessServer` could become:

- `languageServer.launchServerWithProcesses`, which is what `languageServer.inProcessServer` is expected to do at the moment, essentially just passing in `--lsp` whenever a process is launched,
- and `languageServer.runServerInBackground`, which is what `languageServer.inProcessServer` does ri

[2020-12-04 12:03] olpaw commented on #3039
I agree. This is piece of documentation it not in sync anymore with the plugin requirements. @olyagpl please update the documentation to mention that the plugin requires GraalVM needs to be used as JVM. Thanks!

[2020-12-04 15:11] alexweide opened #3044 "Unable to build Native Image when using GitLab4J"
**Description**
I am trying to build a program which depends on [GitLab4J](https://github.com/gitlab4j/gitlab4j-api) using GraalVM Native Image and the build fails all the time. I also tried to build it using the latest development version, but it also failed.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. `git clone https://github.com/alexweide/reproduce

[2020-12-04 15:37] Robson96 opened #3045 "Runs a little slower clojure"
**Describe the issue**
When working with recursion the compile grail performs more

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. save this code in file .clj with name app.clj
[code]
2. set env export JAVA_TOOL_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+EnableJVMCI -XX:+UseJVMCICompiler -XX:+UseParallelGC"

3. $ time clojure app.clj

 - JDK major vers

[2020-12-04 15:59] galderz commented on #2761
I'm aware `MethodHandle` support is not complete, but there's something about the current status that found slightly surprising and wondered if in the future it'd be improved: @yrodiere was playing with `MethodHandle.Lookup.findVirtual` and it didn't work when used on a non-final method on a non-final class that was not extended in the codebase. You'd get error `...could not be reduced to at most

[2020-12-04 17:46] pquiring commented on #1327
So with the lastest graal 21.0 and labsjdk15 I'm able to build a simple app but there is an uber amount of JNI reflection used in AWT.  Creating a JNI config file is painful.   Is there anyway to enable reflection on all classes in a package or module?

[2020-12-04 20:20] kristofdho commented on #1327
You could write your own feature, and using https://github.com/ronmamo/reflections, iterate over all classes in a package and add everything programatically.. Not the greatest, and will bloat everything as suddenly everything in that package (even what you don't use) will be reachable and included in the native-image.

You can obviously also use the native-image-agent to get a starting point for y

[2020-12-05 10:10] vmcrash commented on #1327
Did someone used the agent successfully on Windows? For me it never recorded anything for an SWT application.

[2020-12-05 11:02] mbbee commented on #1327
For simple SWT dialogs i used this: graalvm-swt-native-image
[https://github.com/mbarbeaux/graalvm-swt-native-imagel](https://github.com/mbarbeaux/graalvm-swt-native-imagel)

also interesting:
[GraalVM: provide json config file for fields/methods to keep for native-to-Java invocation](https://bugs.eclipse.org/bugs/show_bug.cgi?id=567958)

[2020-12-05 13:38] xalmam commented on #2720
hi, we also looking at GraalVM but XML + JAXB is used a lot in our backend services. This issue blocking us from switching to GraalVm and Quarkus. Is there a workaround for this?

[2020-12-06 17:21] lazar-mitrovic commented on #3043
When running on systems that are this under-powered, adding this to your `native-image` invocation as a workaround should fix your issue.
[code]

[2020-12-06 17:30] lazar-mitrovic commented on #3036
Have you tried building this example using Gluon Substrate?
AFAIK they merged a lot of changes in OpenJFX in order to support `native-image` compilation and those weren't back-ported from OpenJFX 14+ (and 11.0.2 is quite old at this point).

[2020-12-07 03:10] mcraj017 commented on #3042
@robby-phd Thanks for reporting the issue
we will check it out and let you know our thoughts

[2020-12-07 09:36] oubidar-Abderrahim commented on #3044
From the logs, it seems an issue with MethodHandle, Support of MethodHandles is in progress and can be tracked in #2761

[2020-12-07 09:36] #3044 closed

[2020-12-07 13:11] woess commented on #3022
Fixed in 21.0.0 (https://github.com/oracle/graal/commit/5058707b0a95fa14c6f2e2f89e7de3da0a302d2c). The overload with the `Function` parameter is now preferred. Thanks again for the report.

[2020-12-07 13:11] #3022 closed

[2020-12-07 15:56] oubidar-Abderrahim commented on #2974
Should be solved by commit 1e6b914

[2020-12-07 15:57] #2974 closed

[2020-12-07 16:43] nedis-ua opened #3051 "@InjectAccessors works differently for similar environments"
**Describe the issue**
Sometimes `@InjectAccessors` requires the `setter`, but sometimes not.
The issue is occured within [io.netty.util.NetUtil](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/NetUtil.java) class:

1. First use case:
[code]
The native image requires substitutions for `InetAddress` classes.
For debug purposes I created the custom substitution instead of

[2020-12-07 20:50] #2933 closed

[2020-12-07 21:46] jamesward opened #3052 "InternalError: Enclosing method not found - gRPC + Netty"
GraalVM 20.3.0-java11

My gRPC server runs fine under GraalVM and generates the config with the agent.  But when I try to create a native image it fails:
[code]

Not sure why.  To reproduce:
1. Get https://github.com/grpc/grpc-kotlin/tree/native-server (`native-server` branch)
1. `cd examples`
1. `./gradlew :native-server:nativeImage`

[2020-12-08 03:07] mcraj017 commented on #3045
@Robson96 Thanks for reporting the issue
We will check it out and update you

[2020-12-08 11:45] vjovanov commented on #2685
@oubidar-Abderrahim have you tried reproducing this example and tried to run it with an agent to make sure there is no missing config here?

[2020-12-08 11:47] qianyiyong commented on #2116
thanks! nice answer

[2020-12-08 13:00] oubidar-Abderrahim commented on #2685
@vjovanov yes, I tried the agent but still got the same behavior. I created GR-25639 with the provided reproducer, I also created a mush smaller reproducer that you can find attached to the GR ticket.

[2020-12-08 18:11] oubidar-Abderrahim commented on #2867
Tracked in GR-26334

[2020-12-08 18:20] #3031 closed

[2020-12-08 20:21] fernando-valdez commented on #3052
Hi @jamesward, what OS are you using?

[2020-12-08 20:22] jamesward commented on #3052
I'm on Linux.

[2020-12-08 20:28] vjovanov commented on #2685
Thanks, @gradinac is probably the best person to handle this.

[2020-12-09 04:59] christianwimmer commented on #3042
No idea what the class initializer
[code]
is doing. But definitely something that should not run at image build time. Why do you have `--initialize-at-build-time` on the native image command line? Unless you have manually inspected all classes to be safe for initialization at image build time, this is not an option to use.

[2020-12-09 12:05] gradinac commented on #2685
Hey @dhanendras, thank you for reporting the issue!
It appears that some native-image configuration was missing. However, after tweaking the configuration, we hit the following exception at runtime:
[code]
Serialization support is a new feature available from GraalVM 21.0 (available currently in [dev builds](https://github.com/graalvm/graalvm-ce-dev-builds/releases)), however, after attempting to

[2020-12-09 12:38] vjovanov commented on #2685
@gradinac how come @oubidar-Abderrahim didn't see that the configuration is missing?

[2020-12-09 12:50] sdedic commented on #617
I'm closing this one: @Nillouise's problem seems to be "flaky" (sorry ;)) unproxied connection, which the autodetection has no chance to asses. The other reporters (@danmur and @mathbagu ) were silent from September.

Reopen if another similar issue occurs, please do remember to include your environment (http_*) settings and also try another tool (verify its proxy settings !) like `curl` to reach

[2020-12-09 12:50] #617 closed

[2020-12-09 12:51] gradinac commented on #2685
The most likely reason is because of the way the underlying projects wrapped the exception:
[code]
The configuration generated by the agent also requires a bit of manual tweaking to get the image build working (I've also probably provided a superset of the necessary config in the previous comment)

[2020-12-09 12:58] jerboaa commented on #2620
This should be fixed with latest graal master.

[2020-12-09 13:22] robby-phd commented on #3042
I thought I did, but I changed a field initialization that used to be simple and forgot to make the modified unsafe-at-build-time initialization lazy.
It is interesting that the problem only manifests in Linux.
Anyway, I have [made the field lazy](https://github.com/sireum/runtime/commit/ce432861ee6603da91f09eeb2e8ddba136048a42) and confirmed that it workarounds the issue. Thanks.

[2020-12-09 14:16] vjovanov commented on #2620
Thaks @jerboaa!

[2020-12-09 14:16] #2620 closed

[2020-12-09 18:07] pquiring commented on #1327
After building the Reflection config file, the resulting app generates a Headless exception.  If I add -Djava.awt.headless=false to native-image it generates compile errors.

[2020-12-09 22:11] kristofdho commented on #1327
If I remember correctly, that is caused by `java.awt.GraphicsEnvironment` being initialized at build time, so it stores the `-Djava.awt.headless=true` that native-image uses. So you need to mark that one for runtime initialization, and of course everything that somehow initializes it as well.

[2020-12-10 04:58] mcraj017 commented on #3042
as the issue has been resolved, closing the issue

[2020-12-10 04:58] #3042 closed

[2020-12-10 05:07] mcraj017 commented on #3029
@Tradias This has been added to our feature list and will be fixed in future versions

[2020-12-10 05:08] mcraj017 commented on #3030
@sir-ion bug has been raised with our dev team, will update you once its fixed

[2020-12-10 07:32] buptzyf commented on #2503
@skyguard1  how to solve the problem? 怎么解决fastjson的错误呢？

[2020-12-10 08:12] ziyilin opened #3053 "Support building a static share native image library"
**Feature request**

Native image can be built as static executable, share library or executable file, but not static share library, as shown in the following table.

|            | static | dynamic |
|------------|--------|---------|
| library    |      ✗  | ✓        |
| executable |      ✓  |✓         |

But there are cases that we need to build the Java code into a share library without any dep

[2020-12-10 08:25] sdeleuze opened #3054 "Duplicate key error in GraalVM dashboard"
When we try to use GraalVM dashboard in one of the [Spring Native samples ](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples) (let say the `rsocket` one), we got this error:

[code]

It may be related to optional types not in the classpath and/or generics based on some observation we did.

[2020-12-10 08:41] olpaw commented on #3053
Hi @ziyilin
I'm not aware of any near term plans on our side to add such a feature. But I can see how this could be useful.

Feel free to create a PR that implements statically linking of dependencies for native image shared library images.

cc @christianwimmer @vjovanov

[2020-12-10 11:55] darkjeffbr commented on #2720
hi, everyone!
We are also facing the same issue with quarkus native compilation. Does anyone have a workaround for this issue ?

[2020-12-10 13:41] robby-phd commented on #3042
It would be great if native-image behaves the same/similarly on the different platforms that it supports for the same input and options specified.

[2020-12-10 14:06] olyagpl commented on #3039
@sebthom, thanks for the feedback, we updated the page!

[2020-12-10 14:06] #3039 closed

[2020-12-10 14:59] christianwimmer commented on #3042
But in that case the *application* is behaving differently on the different platforms.

[2020-12-10 15:39] robby-phd commented on #3042
Ah yes, you are right. Just curious, will there be a feature to abort native compilation with `--initialize-at-build-time` when an init hits an unsafe method (and perhaps output a nice error message with the relevant call chain)?

[2020-12-10 15:47] zakkak opened #3056 "[native-image] Write debug info in separate file (e.g., `.debug`) when building with -g"
**Feature request**

Produce separate `.debug` file when building with `-g` (or introduce new flag to make it optional)

**Is your feature request related to a problem? Please describe.**
In Quarkus `objcopy` is being used to split the debug info from the executable (which recently resulted into https://github.com/quarkusio/quarkus/issues/13517). This seems like a good approach for other GraalVM u

[2020-12-10 17:01] vjovanov commented on #3053
Adding @gradinac as he is maintaining static linking with Musl and the distroless feature that we have.

[2020-12-10 17:06] gradinac commented on #3053
Hey @ziyilin! Would a shared library that only depends on `libc` work for you?
If it does, you can try building your native-image with `-H:+StaticExecutableWithDynamicLibC`. This option has so far only been used for dynamic executables, but it could also work for your use case. Let us know if you hit any problems with it

[2020-12-10 17:36] jimbethancourt commented on #2480
I got the same error on a mac
**Error: Unable to detect supported DARWIN native software development toolchain.**

Doing some looking around I found [these instructions](https://ma.ttias.be/mac-os-xcrun-error-invalid-active-developer-path-missing-xcrun/) indicating that I needed to run
[code]
which addresses the issue.

Hope this helps others!

[2020-12-11 02:32] ahTy opened #3057 "How can I use GraalVm agentlib in graalvm version 20.3.0"
**Describe GraalVM and your environment :**
 - GraalVM version or commit id if built from source: **[20.3.0]**
 - CE or EE: **[e.g.: CE]**
 - JDK version: **[JDK8]**
 - OS and OS Version: **[Ubuntu 16.04.6 LTS]**
 - Architecture: **[Intel(R) Core(TM) 64]**
 - The output of `java -Xinternalversion`:
[code]
[code]
</details>

How can I use GraalVm's reflection configuration assistant tool agentlib t

[2020-12-11 05:50] ziyilin commented on #3053
Thanks. I can have a try. Currently for a simple demo the `libc` is enough, but more dependencies may be required in the future.

[2020-12-11 08:41] kristofdho commented on #2207
As explained on #3058, that sort-of fixes my issue with the `Object#<init>` JNI registration. It is caused by a class being reachable through service-loading that can't be loaded due to missing classes on the classpath. I don't know the exact reason why it's not loadable as I don't have access to the source code.

The unloadable class is included as it's a subtype of Object, and the `getDeclaredMe

[2020-12-11 09:50] pei-wang commented on #2231
export GRAAL_HOME works for me.

[2020-12-11 11:30] buptzyf opened #3059 "Caused by: com.oracle.svm.core.jdk.UnsupportedFeatureError: Unsupported method java.lang.ClassLoader.defineClass(String, byte[], int, int, ProtectionDomain) is reachable"
environment：
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /root/.m2/wrapper/dists/apache-maven-3.6.3-bin/1iopthnavndlasol9gbrbg6bf2/apache-maven-3.6.3
Java version: 11.0.9, vendor: GraalVM Community, runtime: /root/.sdkman/candidates/java/20.3.0.r11-grl
Default locale: en_HK, platform encoding: UTF-8
OS name: "linux", version: "3.13.0-137-generic", arch: "amd64", famil

[2020-12-11 11:31] buptzyf commented on #3059
https://github.com/oracle/graal/issues/2369#issuecomment-698093675

[2020-12-11 11:32] buptzyf commented on #3059
#2369

[2020-12-11 11:42] buptzyf commented on #3059
more detail

[code]

[2020-12-11 12:16] gradinac commented on #3053
Ah, by only depending on `libc`, I mean the resulting shared library will be statically linked against all other libraries, except for the `libc` ones. `libc` libraries refer to the set of libraries that constitute the system's `libc`, you can see the list here: https://github.com/oracle/graal/blob/2004ee59b0eec60e2b7a83ee006a2827b7a9a533/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/ho

[2020-12-11 13:03] ziyilin commented on #3053
Thanks, I have managed to compile a shared library with `StaticExecutableWithDynamicLibC`.
But still need to further include `libc` into the built out shared library in our scenario.

[2020-12-11 13:28] gradinac commented on #3053
I'm glad that worked! :smile:
Hmm, for your use-case, you'd also like to have `libc` statically linked to your shared library? Is your shared library used on a `glibc` based platform? If yes, statically linking against `glibc` can be quite problematic for a couple of reasons:
 - Without a custom glibc build, you'd still have dynamic dependencies at runtime:
[code]
 - You may encounter strange bugs

[2020-12-11 15:25] jramirez-isc commented on #3057
Hi @ahTy
Can you share the error log?

[2020-12-12 06:11] SavagePy10 opened #3062 "I can't use graalVM on jvdroid (JVDroid - java compiler for android)"
![Screenshot_2020-12-12-14-11-29-58](https://user-images.githubusercontent.com/75002427/101976810-f8f32a00-3c83-11eb-849a-2903cc985ff9.jpg)

[2020-12-12 06:12] SavagePy10 commented on #3062
=(

[2020-12-12 06:16] SavagePy10 commented on #3062
Nothing works

[2020-12-13 14:25] kristofdho opened #3064 "Headless property is baked in, can no longer run heady"
**Describe the issue**
The awt invocation plugin causes the headless property to be stored at build-time, which means you can no longer switch between headless and heady execution at runtime. Since on windows, `-Djava.awt.headless=true` is set by native-image itself, this breaks any heady application.

The plugin seems to be directed at unix environments, as that's also the only awt support that's

[2020-12-14 05:58] mcraj017 commented on #3059
@buptzyf Please provide the reproducer

[2020-12-14 06:49] buptzyf commented on #3059
@mcraj017
[code]
[code]
[code]

[2020-12-14 18:15] collinpeters opened #3066 "Windows app parameters not consistent for file globbing"
**Describe the issue**
Native images produced on Windows do not correctly do any file globbing on parameters.

**Steps to reproduce the issue**
Please include both build steps as well as run steps
1. With the following code
[code]
2. On Linux this works fully as expected. On Linux systems the shell is the one doing the file globbing
[code]
3. On Windows the native-image does *not* behave the same

[2020-12-14 19:54] goeh opened #3067 "com.oracle.svm.hosted.substitute.DeletedElementException"
**Describe the issue**
I'm trying to build a native image from a Micronaut+Picocli+MinIO project that I developed but I get an exception `com.oracle.svm.hosted.substitute.DeletedElementException` and if I add `--report-unsupported-elements-at-runtime` I get `java.lang.RuntimeException: class io.minio.ListObjectsArgs must have no argument constructor` at runtime.

This offending class is in a 3:rd

[2020-12-15 08:20] mcraj017 commented on #3062
@SavagePy10 please provide the reproducer

[2020-12-15 08:21] mcraj017 commented on #3064
@kristofdho please provide reproducer

[2020-12-15 08:23] SavagePy10 commented on #3062
First i install graal on jvdroid in a normal way... (Setting PATH and JAVA_HOME). Then try commands. It didn't work

[2020-12-15 08:24] SavagePy10 commented on #3062
Also, if u want to reproduce, u will need to know that changing PATH and JAVA_HOME on jvdroid is a bit different.

[2020-12-15 08:25] SavagePy10 commented on #3062
https://www.google.com/amp/s/m.apkpure.com/jvdroid-ide-for-java/ru.iiec.jvdroid/amp

[2020-12-15 08:27] SavagePy10 commented on #3062
Swipe from left to right. U will see `terminal`. Click it...

[2020-12-15 09:42] kristofdho commented on #3064
file: BakedInHeadlessPoc.java
[code]

compile & build:
[code]

run compiled binary:
[code]

expected output:
[code]

marking `GraphicsEnvironment` for run-time initialization doesn't work as the plugin appears to require it to be initialized at build-time.

suggested fix in #3068

[2020-12-15 10:28] galderz opened #3069 "Potential multiple reflection type processing and initialization"
**Describe the issue**
ReflectionDataBuilder tracks processed classes during points-to analysis in a non-concurrent collection (HashSet), hence there's no guarantee that one thread's inserts are not seen in a timeline fashion by other threads, potentially leading to reflection classes being processed and initialized multiple times.

**Steps to reproduce the issue**
This was observed during the stu

[2020-12-15 10:42] vjovanov commented on #2500
This should be addressed by the following commit:

 https://github.com/oracle/graal/commit/17f1de43c1aa31df22e5a62ea2d9cb1318413c5d

Feel free to try this out by using `-H:+InlineBeforeAnalysis`?

[2020-12-15 10:42] #2500 closed

[2020-12-15 10:48] vjovanov commented on #911
This feature is set for 21.1 and will be implemented by @d-kozak.

[2020-12-15 10:54] vjovanov commented on #2594
This should be addressed by the following commit: https://github.com/oracle/graal/commit/17f1de43c1aa31df22e5a62ea2d9cb1318413c5d

Feel free to try this out by using `-H:+InlineBeforeAnalysis`?

[2020-12-15 10:55] #2594 closed

[2020-12-15 11:26] kristofdho commented on #3064
Should this not be included in the 21.0 milestone as well? It is regression so it would make sense.
There is quite some stuff depending on this flag as well, like anything javafx, or awt functionality. I personally depend on both so this would render 21.0 unusable for me.

[2020-12-15 11:34] vjovanov commented on #2990
How would I verify that the image still works after I remove these inputs?

[2020-12-15 12:41] vjovanov commented on #2990
After a discussion with @peter-hofer we agreed that the best solution is to:
1. For lambdas try and introduce a stable name that would be valid across the agent and Native Image runs. We need this anyhow for serialization.
2. For proxies, we should filter them out, but we should also allow all the methods and fields in proxies to be accessible by reflection. We would take this approach only if all

[2020-12-15 13:35] mcraj017 commented on #3059
@buptzyf try native-image tracing agent
https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271

[2020-12-15 16:01] aclement commented on #3035
This looks like an issue for the https://github.com/spring-projects-experimental/spring-graalvm-native project rather than the graal project. An error like that suggests missing reflective configuration that the spring feature hasn't computed. Possibly because there is something in the app it hasn't allowed for yet. The fallback would be running the app with the GraalVM agent to collect the missin

[2020-12-15 20:29] aclement commented on #2990
Hey,

I'l include this for completeness for the future. Basically we would rebuild the app with that config on the class path and ensure it doesn't fall over. This is possible via:
1. open `compile.sh`, where it supplies `-cp $CP` near the bottom, tweak that to `-cp $CP:../../graal` to add the agent generated config as input.
2. Now run `build.sh` - this will run `compile.sh` and then automaticall

[2020-12-15 22:50] joerg-wille commented on #1327
@pquiring do you have a repo for your example?

Is there any example code for a minimal swing application with native-image?

[2020-12-16 07:38] SavagePy10 commented on #3062
Btw i think its app issue

[2020-12-16 07:38] #3062 closed

[2020-12-16 07:38] SavagePy10 commented on #3062
I think this issue is useless

[2020-12-16 09:02] jerboaa commented on #3018
The WIP PR for this is here: https://github.com/oracle/graal/pull/3070

[2020-12-16 11:12] galderz opened #3071 "Native image should ignore non zip/jar classpath entries"
**Describe the issue**
20.3 maven jars depend on `tar.gz` files. A tool, like [JBang](https://github.com/jbangdev/jbang), is free to add these `tar.gz` files to the java classpath because it states:

`native-image` does not behave that way. Instead it breaks when it encounters something that is not a ZIP, e.g.

[code]

`native-image` should behave just like `java`, `javac` and others.

The issue i

[2020-12-16 15:19] maxandersen commented on #3071
just want to clarify the line is not from jbang but JDK docs: https://docs.oracle.com/javase/8/docs/technotes/tools/windows/classpath.html

"Class path entries that are neither directories nor archives (.zip or JAR files) nor the asterisk (*) wildcard character are ignored."

[2020-12-16 16:06] marjanasolajic commented on #2500
The native-image option -H:+InlineBeforeAnalysis can be used (for now) without requiring reflection configuration for this example:

    public static void main(String[] args) throws NoSuchMethodException, IllegalAccessException, InvocationTargetException, InstantiationException {
        Constructor<FooImpl> fooConstructor = getDeclaredConstructor(FooImpl.class);
        Foo foo = fooConstructor.

[2020-12-16 16:37] rnayabed opened #3074 ""os.name" property on Native Image on Android"
`System.getProperty("os.name")` returns `linux` on android aarch64 app and on traditional linux desktop as well (Ubuntu 20.10). I am using [Gluon Client](https://github.com/gluonhq/substrate) to compile my javafx app into a native image for Android.

It should return `android` or something which is different from `linux` as it may cause confusions when using platform specific code.

Currently, I a

[2020-12-17 02:29] vjovanov commented on #3074
This is an issue for @lazar-mitrovic.

[2020-12-17 08:12] mcraj017 commented on #3066
@collinpeters thanks for reporting the issue
we will check and get back to you

[2020-12-17 09:36] cyw3 commented on #1236
Any progress here?

[2020-12-17 10:04] cyw3 opened #3075 "`org.reflections8.Reflections.getTypesAnnotatedWith()` don't work after native-images"
**Describe the issue**
I use `org.reflections8.Reflections.getTypesAnnotatedWith()` to get class and do somethings.
When I run this java code, `org.reflections8.Reflections.getTypesAnnotatedWith()` return a list with lots of class.

But after native-images, `org.reflections8.Reflections.getTypesAnnotatedWith()` return a empty list.

**Steps to reproduce the issue**
1. Here is demo:

[code]

2. aft

[2020-12-17 15:05] mcraj017 commented on #3075
@cyw3 use native-image tracing agent to create reflect-config.json
https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271

[2020-12-17 18:07] tzezula commented on #2774
The fix of the issue #2710 was integrated into the graalvm-20.3.

I've tried to reproduce this issue on the GraalVM CE 20.3.0  with java.specification.version=11 and no `ClassNotFoundException` were thrown. The fix of the issue #2710 resolved them.
On the JDK-11 there is still one `LinkageError` which I am fixing right  now.

Regarding the JDK-8 the JMX support needs to initialize JVMCI classloade

[2020-12-17 18:10] zakkak opened #3077 "Request to revert color profiles fix or backport awt library support to 20.3.1"
**Feature request**
Since GraalVM CE 20.3 was released in Nov 17 2020 and is an LTS release we would like to upgrade Quarkus to support this new release.

However despite efforts on resolving Quarkus issues with 20.3:
* https://github.com/quarkusio/quarkus/pull/13473
* https://github.com/quarkusio/quarkus/pull/13718
* https://github.com/quarkusio/quarkus/pull/12405
* https://github.com/quarkusio/q

[2020-12-17 18:30] tzezula commented on #2774
Works fine also on the `graalvm-ce-java8-20.3.0`.

[2020-12-17 18:52] tzezula commented on #2774
The `LinkageError` does not cause an application to stop on a breakpoint, it's harmless.
But it's still better to remove it.
This issue is fixed in the GraalVM-20.3.

[2020-12-17 18:52] #2774 closed

[2020-12-17 19:17] fniephaus opened #3078 "[dsl] Overriding library messages can cause compilation errors (regression)"
**Have you verified this issue still happens when using the latest snapshot?**
Yes, still happening on [current master](https://github.com/oracle/graal/commit/5967b4ee9d81a74322a2b69412cfa298fc5caf4d) and used to work fine in `20.3.0`.

**Code snippet or code repository that reproduces the issue**
[code]

**Error**
[code]

Please assign to @chumer.

[2020-12-18 05:49] ziyilin commented on #2946
There are a few causes for this issue:

1. JDK annotation related APIs such as `AnnotatedElement.getAnnotations()`  initialize annotation classes and all related classes. The classloader `com.oracle.svm.hosted.AbstractNativeImageClassLoaderSupport.classPathClassLoader` in `ImageClassLoader` loads all classes that will be written into native image. But `ImageClassLoader` uses the same classloader t

[2020-12-18 07:24] cyw3 commented on #3075
OK, I try native-image-agent now.

But I encounter some problems:
1. the same error as #2998. And after I change to use graalvm-jdk11, it works.

2. `org.reflections.ReflectionsException: could not create Vfs.Dir from url, no matching UrlType was found [resource:]`

Steps to reproduce the issue
[code]
[code]

So How to solve 2nd problem?

[2020-12-18 09:20] JouperCoding opened #3080 "DynamoDB Enhanced Client UnsupportedFeatureException"
**Describe the issue**
When using https://github.com/aws/aws-sdk-java-v2/tree/master/services-custom/dynamodb-enhanced and creating my DynamoDbBean tables. The following issue occurs.

**Steps to reproduce the issue**
In any class constructor, create a DynamoDBEnhancedClient and create the dbt table.
[code]

This will cause the native-image (fallback image) .exe to fail and when launching it, the

[2020-12-18 09:57] sdeleuze commented on #2991
@loicottet `-H:ServiceLoaderFeatureExcludeServiceProviders=com.oracle.truffle.js.scriptengine.GraalJSEngineFactory` does not seems to fix the issue based on my use case (using Log4j2 in Spring Boot) and the workaround used on Micronaut example side (`--features=org.graalvm.home.HomeFinderFeature`) is not usable for us since it will disable other required part. How could we move forward on fixing t

[2020-12-18 12:59] gradinac commented on #3077
Hey @zakkak!
The issue with the color profiles was a sneaky one - due to the way the JDK handles color profile deferring, you might end up with a standard profile that has not actually been loaded. https://github.com/oracle/graal/commit/39d7ff72e9b02d24a333d176c9dc3166afabd6a3 introduced a fix that would prevent that from ever happening, however, it did lead to the issues you're facing now.

I don

[2020-12-18 14:06] zakkak commented on #3077
Hi @gradinac thanks for your help (again :) )

* Removing the substitution in https://github.com/oracle/graal/commit/39d7ff72e9b02d24a333d176c9dc3166afabd6a3#diff-7fef70ac05d49832c18e504903baefa3c2e61a986bf6527774f3494891fcb6acR52-R59 doesn't do the trick
* Removing the  code that triggers the class init rerun: https://github.com/oracle/graal/commit/39d7ff72e9b02d24a333d176c9dc3166afabd6a3#diff-99

[2020-12-18 14:23] gradinac commented on #3077
No problem at all! :)
We should remove both the substitution and the class init rerun for this to work. If we were to leave the substitution, then we would definitely hit issues as the deferred profiles would never be activated. Looking back at this now, disabling the lazy initialization of the caches was probably an overkill as with the profile resources registered even that should work out of th

[2020-12-18 15:26] loicottet commented on #2991
@d-kozak can you help with this? This looks like further service loader shenanigans.

[2020-12-19 08:14] gracehop commented on #606
yes I would love the help

[2020-12-20 16:22] Wqrld commented on #2842
Ive just tested the latest 21.1.0-dev build and it compiles and works correctly with basic AWT code. strangely enough this did couple my binary size so that might be something to look into if thats consistent for all programs.

[2020-12-20 22:41] borkdude commented on #1613
Running into this problem again with another project: https://app.circleci.com/pipelines/github/borkdude/clj-kondo/3169/workflows/f3ad112c-6b45-4a95-993d-3b0aad09bf91/jobs/12157

[2020-12-20 22:47] borkdude commented on #1613
Bumping Xcode in the CircleCI environment seemed to help: 9 -> 12.

https://app.circleci.com/pipelines/github/borkdude/clj-kondo/3170/workflows/5cf9e375-c06a-4c83-b1df-f0e158549402/jobs/12165

[2020-12-21 02:10] cyw3 commented on #3075
Corresponding to this code:
[code]
it can not handle with `scope`.

[2020-12-21 04:37] mcraj017 commented on #3069
@galderz please provide the reproducer

[2020-12-21 04:41] mcraj017 commented on #3080
@JouperCoding from the error, I can see the issue is related to Method Handle, which is not supported by native-image currently. you can follow issue #2761 to see progress on Method handle support

[2020-12-21 04:41] #3080 closed

[2020-12-21 10:02] HannesWell commented on #2774
With GraalVM CE 20.3 it works perfectly fine for me on Win10. Thanks for your support.

I'm just surprised that the fix of #2710 isn't integrated into Graal until 20.3. I thought the the fix would be contained in 20.2 already, because it was fixed before 20.2 was released and I didn't expect a delay. But probably it was too late to be considered.

Have you ever considered to (automatically) add ta

[2020-12-21 12:38] gradinac commented on #3077
Hey @zakkak!
The fix for the color profile issue has been merged to 20.3.1 - you should no longer hit the above problems :)

I'm not sure if we mirror the 20.3.1 branch somewhere outside - here's the diff of the applied fix:
[code]
You should be able to verify it by applying it to 20.3 and testing if the previously failing apps that used ICC_ColorProfiles now work properly.
If you hit any more iss

[2020-12-21 12:52] jerboaa commented on #3077
Thanks @gradinac!

I take it the push was to some internal tree? Doesn't look like it's showing up on the public `graal-vm/20.3` tree (yet):
https://github.com/oracle/graal/commits/release/graal-vm/20.3

[2020-12-21 12:59] #2842 closed

[2020-12-21 13:09] gradinac commented on #3077
Cheers! :)
Yes, I think 20.3.1 is an internal-only branch - I'm not sure if it's mirrored anywhere publicly but I'll check.

[2020-12-21 14:15] jerboaa commented on #3077
Thanks for checking!

[2020-12-21 15:37] gradinac commented on #3077
No problem at all! I've checked and it seems like the 20.3.1 branch isn't public.
If you need any help with testing the fix, let me know

[2020-12-21 21:48] bajajyog opened #3081 "Issue in Finding native image packages and memory info from Oracle dashboard tool"
**Describe the issue**
I am using this oracle native image dashboard tool. https://www.graalvm.org/docs/tools/dashboard/.
During native image generation, I provided all the required params and bgv file is generated. Size of bgv file is 5 GB.
I am uploading the file to dashboard tool and it is erroring out due to large size  of bgv file. Not able to tell what packages contained inside the native im

[2020-12-22 01:36] voigtste commented on #3052
Have the same topic with MacOS

[2020-12-22 03:00] zakkak commented on #3077
Thanks @gradinac. I tested the patch and it works as expected.

FTR: To get things working one needs to apply this patch on 20.3 and revert https://github.com/quarkusio/quarkus/pull/12912 in Quarkus

[2020-12-22 06:37] mcraj017 commented on #2877
closing the issue as there is no response from the user

[2020-12-22 06:37] #2877 closed

[2020-12-22 06:43] mcraj017 commented on #3075
@cyw3 So you are getting error with Java 8 and not with Java 11

[2020-12-22 06:52] cyw3 commented on #3075
@mcraj017

No, i also get this error with java 11.

[2020-12-22 06:55] mcraj017 commented on #3075
@cyw3 please provide the reproducer
means class or jar to reproduce this

[2020-12-22 06:56] mcraj017 commented on #3075
@cyw3 just to confirm, if this application is working using java?

[2020-12-22 06:57] cyw3 commented on #3075
Yes.

[2020-12-22 07:36] cyw3 commented on #3075
@mcraj017
Here is a demo with `build.sh`.

[NativeImageTest.zip](https://github.com/oracle/graal/files/5728392/NativeImageTest.zip)

[code]

[code]

[2020-12-22 12:09] pejovica opened #3084 "AWT & Swing on Windows"
AWT & Swing are not currently supported on Windows. There are several aspects to adding this support, so the aim of this issue is to describe the overall approach. The actual work will be done under separate issues.

### Linking with Native Libraries

When it comes to linking, we considered both options: static and dynamic. However, initial testing (which was fairly basic) has already revealed pro

[2020-12-22 12:52] pejovica opened #3085 "Add support for dynamic linking of JDK libraries on Windows"
The main problem is that libraries such as `awt.dll` have load-time dependencies on `jvm.dll` and libraries that may already be statically linked, such as `java.dll`. So for dynamic linking to work, we need to:

1. Identify all used JDK libraries and copy them next to the native image.
2. Create shim DLLs, as a replacement for problematic dependencies, that will redirect exported calls back to the

[2020-12-22 13:51] gradinac commented on #3077
I'm glad to hear that! :)
As this has been solved, I'll close this issue. If you hit any more problems, let us know and we'll investigate.

[2020-12-22 13:51] #3077 closed

[2020-12-22 14:51] voigtste commented on #3052
After debugging, I saw the root cause:

The graal analyzer is trying to resolve io.grpc.kotlin.ServerCalls$unaryServerMethodDefinition$2$$special$$inlined$map$1 The reflection result for the class (Kotlin generated) is public java.lang.Object io.grpc.kotlin.ServerCalls$unaryServerMethodDefinition$2$$special$$inlined$map$1.collect(kotlinx.coroutines.flow.FlowCollector,kotlin.coroutines.Continuation

[2020-12-22 21:37] olyagpl commented on #3081
@bajajyog, first and foremost we should fix the dashboard tool. For now you can try `-H:+PrintUniverse` and `grep` to get the packages included into the native image.

[2020-12-22 22:26] bajajyog commented on #3081
Please fix the dashboard tool so that it can accept large bgv file.  Thanks for this input-H:+PrintUniverse and let me try this.

[2020-12-23 05:38] mcraj017 commented on #3075
@cyw3 Thanks for the reproducer

[2020-12-23 06:20] mcraj017 commented on #3054
@sdeleuze it has been added for future natiuve-image releases (21.1), please follow https://www.graalvm.org/ to get updated with the new releses

[2020-12-23 06:20] #3054 closed

[2020-12-23 10:05] lazar-mitrovic commented on #3074
`System.getProperty("os.name")` implementation [on Android itself](https://android.googlesource.com/platform/libcore/+/15d8280/luni/src/main/java/java/lang/System.java#321) returns "Linux" (as it is the `uname` value). Returning something else could potentially break compatibility, which (I believe) should be discussed at JDK project.

Better solution might be to add new client-facing system prope

[2020-12-23 11:23] oubidar-Abderrahim commented on #3081
Hi @bajajyog I am more interested in why the bgv file size is that big. Could you share a reproducer for this please?

[2020-12-23 14:04] bajajyog commented on #3081
This is good point that why bgv file size is 5GB?  Here are the configs which I added in  native-image properties file.

-H:DashboardDump=/tmp/dashboard/dashboard1 \
-H:+DashboardAll

Please advise these configs are good or not.

[2020-12-23 15:11] bajajyog commented on #3081
My use case is Spring Boot 2, Hibernate, Jersey, Log4j2, Redis, Gemfire microservice.  I am creating a shaded jar whose size is 100 MB and building native image. Native image is deployed to AWS lambda.

[2020-12-23 15:17] oubidar-Abderrahim commented on #3081
I wonder, what is the size of the generated native-image?

[2020-12-23 17:12] bajajyog commented on #3081
Size of native image is 340 MB.

[2020-12-23 18:22] davidpcaldwell opened #3087 "VSCode extension attempt to attach debugger fails with "Cannot find runtime 'node' within your GraalVM installation""
When attempting to attach VSCode to a process launched with `--inspect` (or `--inspect-brk`), the debugger fails immediately, popping up a dialog with the message in the issue title.

I tried this with both `graalpython` and `js`.

In both cases, it was possible to connect Chrome DevTools to the given target using the URL each tool provided in its console output. I could launch the `node` tool fro

[2020-12-23 18:32] lazar-mitrovic commented on #2745
Update: I'm going deep into the rabbit hole with this. It seems that our Thread implementation doesn't respect passed `AccessControlContext` which manifests in all kind of bugs. I'm currently trying to remove as much substitutions as I can which should not only fix this bug, but privilege checking tests as well.

[2020-12-23 19:22] rnayabed commented on #3074
Sounds good. Thanks for the reply :)

[2020-12-23 20:39] bajajyog commented on #3081
I generated native image with code and heap size params. BGV file size is only 38 MB now.  Native image size is 340 MB. Please advise, how to reduce the size of native image. Attached BGV file.
[test.bgv.zip](https://github.com/oracle/graal/files/5737047/test.bgv.zip)

[2020-12-24 14:40] pejovica commented on #1886
Closing as resolved.

[2020-12-24 14:40] #1886 closed

[2020-12-24 14:42] pejovica commented on #1939
Closing as resolved.

[2020-12-24 14:42] #1939 closed

[2020-12-24 14:58] kirillp commented on #3017
i have written a tool that removed __LLVM_STACKMAPS__llvm_stackmaps section
and the executable reduced by that, 100 Mb -> 53 Mb
and it works, so that I hope this be fixed

[2020-12-24 15:47] pejovica commented on #1328
This issue is not relevant anymore. Windows support was added a while ago.

[2020-12-24 15:47] #1328 closed

[2020-12-24 18:01] pejovica commented on #2741
Closing as resolved.

[2020-12-24 18:01] #2741 closed

[2020-12-24 21:35] provirus opened #3089 "AWT not working on Linux even when providing the JNI config"
**Describe the issue**
I tried to create a Native Image of my Swing application, but it was failing to start when AWT was kicked off. I created a minimal AWT application to reproduce the issue and I tried 3 different configurations.

**Describe GraalVM and your environment:**
 - GraalVM version: graalvm-ce-java11-20.3.0
 - JDK major version: 11
 - OS: Ubuntu Ubuntu 20.04.1 LTS
 - Architecture: AMD

[2020-12-24 23:44] kkriske commented on #3084
For AWT support, are there plans in the long run to use static linking anyway?
And to avoid no longer having a single build artefact with the dynamic linking, could we instead store the dll as a resource in the image, and use the trick of writing it to a temp file and loading the extracted dll?

[2020-12-25 01:41] cyw3 commented on #3075
Hi, @christianwimmer .
Any progress?

[2020-12-25 06:58] mcraj017 commented on #3089
@provirus Please use the GraalVM-20.1-dev build
https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20201225_0311

[2020-12-25 12:17] provirus commented on #3089
Hi,
I used my `test-1` branch and changed:

- use `graalvm-ce-java11-21.1.0-dev`
- add `-Djava.awt.headless=false` otherwise it crashes at runtime saying it is headless

You can get the changes on my branch `test-1-21.1.0` .

Build output:
[code]

Runtime output:
[code]

thanks

[2020-12-25 13:34] oubidar-Abderrahim commented on #3087
Could you please provide more detailed reproducing steps? What is the content of your `launch.json`? what is the full command used to debug? were you able to test on another macOS distribution?
Any more context you can provide will be much appreciated.

[2020-12-25 14:34] pejovica commented on #2492
The root cause should be the same as in #2398 and has been fixed.

[2020-12-25 16:03] pejovica commented on #3084
No, we don't have such plans at the moment.

I guess that could be an option too, we'll see.

[2020-12-25 17:33] #2963 closed

[2020-12-25 18:01] pejovica commented on #1744
This issue is not reproducible anymore.

[2020-12-25 18:01] #1744 closed

[2020-12-26 03:04] veixuan commented on #2731
works for me, thanks

[2020-12-26 11:04] kkriske commented on #3085
awt.dll requires:
* jvm.dll
* java.dll

java.dll requires:
* jvm.dll
* verify.dll

verify.dll requires:
* jvm.dll

jvm.dll has no (java) dll requirements.

Our current setup has jvm.dll, verify.dll, java.dll and awt.dll in a /lib subfolder next to the native-image and hardcoded references in `System#load` calls, loading them in that order, which works as a charm.

[2020-12-26 22:10] metametadata opened #3090 "jlink fails with java.io.IOException: Invalid JMOD file"
`jlink` doesn't work in 20.3.0. But seems to work in the latest dev build.

**Steps to reproduce the issue**
Invoke `jlink`. Observe the output.

**Expected**

**Actual**

**Describe GraalVM and your environment:**
 - GraalVM version: **20.3.0**

 - JDK major version: 11.
 - OS: macOS Catalina 10.15.6.
 - Architecture: AMD64.

**More details**

* On macOS JDKs were installed using `sdkman`.
* Also

[2020-12-27 09:13] javasuns commented on #2842
Still getting the error when calling SystemTray.isSupported()

[Sun Dec 27 11:07:04 EET 2020][INFO] [SUB] Exception in Preloader start method
[Sun Dec 27 11:07:04 EET 2020][INFO] [SUB] Exception in thread "main" java.lang.RuntimeException: Exception in Preloader start method
[Sun Dec 27 11:07:04 EET 2020][INFO] [SUB]      at com.sun.javafx.application.LauncherImpl.launchApplication1(LauncherImpl.j

[2020-12-27 11:40] Wqrld commented on #2842
Are you running the dev build? This hasn't been pushed to prod yet.

Op zo 27 dec. 2020 10:13 schreef javasuns <notifications@github.com>:

[2020-12-27 13:37] javasuns commented on #2842
Yes, I use the latest “GraalVM CE 21.1.0-dev" release

[2020-12-27 13:41] Wqrld commented on #2842
Is AWT added on windows too? I only tested it on linux which worked correctly.

[2020-12-27 13:50] fniephaus commented on #2842
Windows is not (yet) supported. But it looks like someone is working on it: https://github.com/oracle/graal/pull/3079.

[2020-12-27 21:42] davidpcaldwell commented on #3087
Yes. I uninstalled the extension because it wasn't fitting into my current workflow. I'll re-install it and try to come up with a more comprehensive reproduction case.

I'm porting a pretty complicated Rhino/Nashorn setup, so it might be hard for me to reproduce the exact command I'm runnjing to launch the process being inspected. But I'll try to boil it down as small as I can, or see whether I ca

[2020-12-28 07:48] cyw3 commented on #2988
I have the same error.

[2020-12-28 10:46] kirillp commented on #3085
Support for dynamic linking of JDK libraries (which is actually Graal-runtime in this case, since we don't need hot-spot compilers or various gc) on any system would be good.
Linking into executable, however, allows some benefits like  striping dead code
So both options is nice to have.

[2020-12-28 11:15] oubidar-Abderrahim commented on #3090
If it cannot be reproduced in the latest dev, that means that the bug was already fixed.
Since there's no action for us to do here, I am closing the issue.

[2020-12-28 11:15] kkriske commented on #3084
For my use case, this is fine, but I've seen the pattern being used plenty before like javafx loading in all the `api-ms-win-...` dlls bundled with it. They do search for existing dlls first before extracting them but this likely won't be the case on the target systems. I merely suggested it as a possibility as it may be usefull if a single artefact is desired.

The only minor issue I have with pu

[2020-12-28 19:28] sherl0cks commented on #2842
I see that this issue is in the 21.0 milestone, but folks have been testing against 21.1. In which release should we expect this feature?

[2020-12-29 06:25] rnayabed opened #3092 "Include directory from resources while compiling native Image via gluon client maven plugin"
I wrote a custom alert/combobox implementation for my project. Could not
use Gluon Mobile because its integrated tightly with our custom Theme
API. It works now!!

However, I have a small issue. My project root currently looks like this

root

     - src

     - resources

         - default/

             - config.xml

             - Themes/

             - Profiles/

             - Icons/

[2020-12-29 07:30] mcraj017 commented on #3089
@provirus Please use native-image tracing agent
https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271

[2020-12-29 09:20] jameshugit opened #3093 "Got "java.util.zip.ZipException: zip END header not found" error when running image"
Environment:
java -version
openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment GraalVM CE 20.3.0 (build 11.0.9+10-jvmci-20.3-b06)
OpenJDK 64-Bit Server VM GraalVM CE 20.3.0 (build 11.0.9+10-jvmci-20.3-b06, mixed mode, sharing)

native-image --version
GraalVM Version 20.3.0 (Java Version 11.0.9+10-jvmci-20.3-b06)

Steps:
1) /usr/lib/jvm/graalvm-ce-java11-20.3.0/lib/svm/bin/native-image

[2020-12-29 12:06] denara opened #3094 "os.version reports wrong number on Windows 10"
The system property os.version reports "6.2" after building the native image with GraalVM 20.3.

**Steps to reproduce the issue**
1. Create a simple app to print the system properties
2. Start the app the usual way with GraalVM 20.3
3. "os.version" -> 10.0
4. "os.name "-> Windows 10
5. Build the native image (I am using the gluon client-maven-plugin 0.1.35) *
6. Start the created exe file
7. "os.v

[2020-12-29 13:12] shafqatevo commented on #2969
We are also waiting for this to resolve. Our use case is to be able to use Akka in iOS.

[2020-12-29 14:18] cyw3 opened #3095 "performance of the genetared native-image decreased by 2x"
**Describe the issue**
When I native-image and get the binary file, I found that the performance of the binary file deteriorated, and it took twice as long. How can I improve performance?

**Describe GraalVM and your environment:**
GraalVM version 20.3.0
JDK major version: "1.8.0_144"
OS: macOS Mojave
Architecture: AMD64

[2020-12-30 10:07] oubidar-Abderrahim commented on #3094
Hi, thank you for reporting this issue. it's a known bug that was internally tracked (GR-27257) and fixed by this [commit](https://github.com/oracle/graal/commit/b254ed5cde7c0aa582092b71372b4e063fd8f8e2).
You can try the fix in the snapshot of 21.0.0. if you still face this issue with the latest snapshot please reopen the issue.

[2020-12-30 10:07] #3094 closed

[2020-12-30 10:15] dufoli commented on #2761
about how to proceed, I try to analyse how to implement it, am I right ?:
- add a new config file and register it in substratevm/src/com.oracle.svm.agent/src/com/oracle/svm/agent/NativeImageAgent.java
- add load of config in substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/config/ConfigurationSet.java
- create a methodHandleConfigurationParser which extend ConfigurationParser

[2020-12-30 10:21] oubidar-Abderrahim commented on #3093
1. What is cams.jar? is it your application? in this case please provide the repository containing the source code and the steps to build and run it.
2. What is the complete stack trace of the exception?
3. Did you try with the latest snapshot of 21.0.0?
4. Did you try generating config files for your application using the [native-image-agent](https://www.graalvm.org/reference-manual/native-image/

[2020-12-30 13:01] rnayabed commented on #3074
I tried setting `-Dsvm.targetName=android` but `os.name` still returns the same (`linux`).

[2020-12-30 14:06] kkriske commented on #3092
The pattern passed to `IncludeResources` is a regex, see the docs: https://github.com/oracle/graal/blob/master/substratevm/Resources.md

So the "regex" `*/*.*` simply does not what you think it does. To include everything in the default dir, adding `default/.*` should normally do the trick.

As for the `resourceList` option of the gluon maven plugin, it writes the pattern to a resources-config.jso

[2020-12-30 14:31] bajajyog commented on #3081
Any recommendation to reduce the native image size from BGV file.

[2020-12-30 15:07] provirus commented on #3089
Thanks! The config needed a lot of stuff in it, but at least, it is automatically generated with the agent.
It is now a success to build and run it.

thanks

[2020-12-30 15:07] #3089 closed

[2020-12-30 15:10] rnayabed commented on #3092
@kkriske i tried `-H:IncludeResources='Default/.*'` but it did not work as well :(

The line `new File(Main.class.getResource("Default/").toURI())` is causing `NullPointerException`

[2020-12-30 15:29] kkriske commented on #3092
What I think that's happening, without having the stacktrace: You are looking up a directory, which is not a resource, so `getResource` returns null. Looking up a file in the directory should work.

Walking through resources as a directory structure is not (yet) supported, as mentioned here: https://github.com/oracle/graal/issues/2762 under **Improve support for resource registration**