[2018-04-12 13:05] smelc commented on #304
Thank you very much for this detailed help @cstancu! I was able to reproduce the next error you mentioned and correct it (I could remove my static initializer, which was indeed depending on some platform-dependent stuff being setuped; a bad idea).

Now I'm stuck with an error in [libgdx](https://github.com/libgdx/), which is also too eager to access platform-dependent stuff statically. I believe I

[2018-04-12 16:27] jlovejoy opened #333 "license question for Substrate"
Your readme at the top level directory says GPL2 for Substrate, and the source files in Substrate have that license notice. But the license file in the Substrate sub-directory has the Classpath exception - is this a mistake?
Also, are all contributions to any sub-component (Substrate and others) under the OCA?

[2018-04-12 16:32] jlovejoy commented on #333
also, would you consider using SPDX identifiers, for example: GPL-2.0-only WITH Classpath-exception-2.0
as per https://spdx.org/spdx-specification-21-web-version#h.twlc0ztnng3b
:)

[2018-04-12 19:03] cstancu commented on #304
You could use `@Alias` and `@RecomputeFieldValue` to force set that field to `null` if the value is not used:

[code]
or simply reset it to `null`:
[code]
or provide an alternative implementation:
[code]
Alternatively you can force lazy initialization on first access using `@InjectAccessors`. Look at the `Target_sun_security_provider_NativePRNG.INSTANCE` here (https://github.com/oracle/graal/blob/

[2018-04-13 13:30] smelc commented on #304
Thanks @cstancu. I've been trying your first suggestion, because I don't need the field's value, but I can't get it to work. It's as if I haven't been specifying anything. Here's what I've added to the MySubstitutions.java file:

[code]

The field I want to filter is "static Timer instance = new Timer()" in this file: [Timer.java on libgdx github repo](https://github.com/libgdx/libgdx/blob/648dfc4

[2018-04-13 18:16] Peter-B-Kessler commented on #304
You say "compiling with native-image still fails on this field".  What is the error message you get?

If you just want to make `com.badlogic.gdx.utils.Timer.instance` have the value `null` in the generated image, the simplest way is to use the second suggestion from @cstancu, e.g.,
[code]
(and you might not need the fully-qualified type in the declaration of `instance` depending on your `import` s

[2018-04-16 07:45] smelc commented on #304
@cstancu and @Peter-B-Kessler > Indeed the problem is that [libgdx's Timer](https://github.com/libgdx/libgdx/blob/648dfc4112491f695a92885dbe7809a551fdeb69/gdx/src/com/badlogic/gdx/utils/Timer.java) static initializer crashes _during the call to native-image_ because platform-dependent stuff (Gdx.app) isn't yet initialized.I thought I could tell native-image to interpret the bytecode differently _w

[2018-04-17 17:11] kkimdev opened #336 "[Feature Request] Compiling via Emscripten."
It would be great if we can run graal on web using Emscripten

[2018-04-17 18:42] tmysik opened #337 "[v1.0.0-rc1/rc2] Grails (v2.5.6) project does not run"
If one tries to run a Grails (v2.5.6) project, it fails. The output is:

[code]

The project runs fine with Oracle JDK or OpenJDK 8.

Thanks.

[2018-04-17 20:46] dougxc commented on #337
This looks a lot like https://github.com/spring-projects/spring-loaded/pull/184/files. To determine if it is related, can you please try adding the `-XX:-UseJVMCIClassLoader` option to the command line and see if the problem goes away. (/cc @jtulach )

[2018-04-18 01:55] rhencke opened #338 "https://graalvm.org/ reports invalid SSL certificate in Chrome, Firefox"
The README.md links to `https://graalvm.org`, but this link appears as insecure (big red 'Your connection is not private' warning page when you click it.

(The certificate given over HTTPS is valid for `https://www.graalvm.org`, but not for `https://graalvm.org`.  Interestingly, they are not the same certificate, either.)

I am happy to provide more information if desired.

[2018-04-18 02:13] tuleism opened #339 "Links to documentation in README are broken"
1. The website (graalvm.org) is having issue with certificate:

2. Links to section, e.g *Getting Started* don't exist: https://github.com/oracle/graal/blob/master/docs/docs/getting-started

[2018-04-18 05:38] tmysik commented on #337
Unfortunately, it does not help. The output is:

[code]

[2018-04-18 05:43] tmysik commented on #337
My previous message was the output from the IDE; if I run it from command line, it works. So, apparently, it has to do with something what the IDE does. Thanks.

[2018-04-18 07:59] davleopo commented on #336
Hi @kkimdev,

We previously implemented a JS back end for Graal and JS specific optimizations that allowed us to AOT compile Java applications (and Truffle language AST interpreters) to the web (see http://doi.acm.org/10.1145/2816707.2816715).
However, there are currently no plans to pursue this effort further.

[2018-04-18 08:02] kkimdev commented on #336
Thanks for the information!

[2018-04-18 08:04] dougxc commented on #337
Hi @tmysik , it makes issues easier to read if such large stack traces and output are put into a [gist](https://gist.github.com) and linked from the issue.

BTW, I saw a message in my inbox about a comment you made on the issue about this being an IDE problem. However, now I don't see the comment here. Please let me know the current state.

[2018-04-18 08:09] tmysik commented on #337
- gist - OK, will do next time.
- message - I was too fast, sorry (my fault, I did not set JDK properly).

[2018-04-18 08:10] thomaswue commented on #336
WebAssembly being available could be however be an opportunity to revisit this. We are interested in ideas and thoughts on how this could work in practice (and what limitations would be acceptable). The research paper is a good summary of our experiences when we did early investigations in this direction.

[2018-04-18 08:33] thomaswue commented on #339
Thanks for the report! It should be fixed now. Also the issue with the SSL certificate. The GitHub pages SSL support is very new and it seems to not work when linking without a "www." as the URL prefix. Please reopen the issue if there is still a problem.

[2018-04-18 08:33] #339 closed

[2018-04-18 08:37] thomaswue commented on #338
Thanks for the report! This seems to be related to our URL forwarding from https://www.graalvm.org to the GitHub pages site hosted by GitHub. I fixed now in the README.md to everywhere properly quality with https://www.graalvm.org. Please reopen if there is any additional issue related to this.

[2018-04-18 08:37] #338 closed

[2018-04-18 08:39] dougxc commented on #337
Ok, thanks for the update. Please re-open if there are still problems.

[2018-04-18 09:25] tmysik commented on #337
Sorry, this is a misunderstanding - it does not work, the last stack trace still applies :)
(I just deleted a comment here saying that it works from the command line because, as I wrote, that was my mistake.)

BTW I cannot reopen this issue. Thanks.

[2018-04-18 09:28] dougxc commented on #337
Ok, please provide clear steps to reproduce.

[2018-04-18 09:58] jponge opened #341 "Stack overflow on Eclipse Golo generated bytecode with invokedynamic"
Playing with a JDK 10 ea I found a stack overflow when running a simple recursion-based Fibonacci sample.

Apparently inlining of invokedynamic callsites causes problems with deep recursion stacks.
Here is a small part of the stack trace:

[code]

## Steps to reproduce

1. Get Eclipse Golo
2. `cd` to the Golo distribution folder.
3. Run `JAVA_OPTS='-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICom

[2018-04-18 10:17] dougxc commented on #341
Hi @jponge , thanks for the report. Is this reproducible with the recently released [GraalVM](https://www.graalvm.org/downloads/)? I ask because the version of Graal in JDK 10 is somewhat behind GraalVM and this problem may have already been fixed.

[2018-04-18 10:55] dougxc commented on #341
I can confirm this fails on GraalVM. We will look into it.

[2018-04-18 12:58] cfsilence opened #343 "Native Image "HelloWorld.java" Fails"
I'm trying the `HelloWorld.java` native image example and am receiving a failure.  Here is what I attempted:

HelloWorld.java:

[code]

command:
`javac HelloWorld.java`

Results in HelloWorld.class file generated.

command:
`native-image HelloWorld`

Results in the following failure:

[code]

My environment:

[code]

[code]

[2018-04-18 13:55] olpaw commented on #343
You need to have zlib.h header file on your system.
Running
[code]
should fix your problem.

[2018-04-18 13:58] cfsilence commented on #343
Can you tell me a little more about that?  Is that something I would normally have installed in Debian?  Are there any other prerequisites to using Graal?  I feel any/all of those should be listed on the Install page.

[2018-04-18 14:06] olpaw commented on #343
Generally, if you set up your Linux distro to have all the packages for _general software development_ installed (this is called slightly different in each distro) you should not have problems building native images.

Specifically if you have
- libc headers + libz header
- gcc toolchain

installed, image building should work fine.

[2018-04-18 14:15] olpaw commented on #343
@shelajev can we get the contents of https://github.com/oracle/graal/issues/343#issuecomment-382398506 into some note on http://www.graalvm.org/docs/reference-manual/aot-compilation/ ?

[2018-04-18 14:30] arthurp opened #345 "Frames not working in JavaDoc"
The Java docs at http://www.graalvm.org/truffle/javadoc are mildly broken in that the "Frames" link does not work to turn on the side bar.

To reproduce go to http://www.graalvm.org/truffle/javadoc/org/graalvm/polyglot/package-summary.html and then click "Frames" in the header. I would expect it to open the side bar, but instead it jumps back to the top-level index and stays in "No Frames" mode.

[2018-04-18 14:31] chumer commented on #345
Are you using the frames view a lot? But yeah we will fix.

[2018-04-18 14:32] chumer commented on #345
This link still works:
http://www.graalvm.org/truffle/javadoc/overview-frames.html

[2018-04-18 14:33] cfsilence commented on #343
Confirmed:  adding `libz-dev` resolved the issue.

[2018-04-18 14:34] #343 closed

[2018-04-18 14:36] arthurp commented on #345
Thanks for the work around. I use the frames view almost exclusively since it allows me to hop between classes quickly and use text search to find classes by name without switching pages.

[2018-04-18 14:41] cfsilence opened #346 "Native Image From Compiled Groovy Class"
I'm trying to slightly modify the `HelloWorld.java` native image example to work with Groovy instead:

HiWorld.groovy:
[code]

[code]

Which results in a `HiWorld.class` file.  When trying to run this class file with: `java HiWorld` it results in the following error:

[code]

Which makes sense - Groovy isn't on the class path (see [here](https://stackoverflow.com/a/27668689/511250)).  So, running

[2018-04-18 14:41] chumer commented on #345
I recently switched the default view to non-frames. I thought it to be less intimidating if you see a list of packages first.  We also had some discussions to switch to doxygen for all APIS. To have a place for native apis as well.

[2018-04-18 14:52] tdkn opened #347 "Wrong href location in Official gh-pages"
https://github.com/oracle/graal/blob/b69b3c8f9df00b48576503b893427a13481671fc/docs/index.html#L25

[2018-04-18 15:07] chumer commented on #346
I don't think so. We try to emulate the java command with native-image but we are not using the same code.

[2018-04-18 15:50] cfsilence commented on #346
As a followup, I tried:

[code]

Which failed with:
[code]

Even though this works:
[code]

[2018-04-18 16:55] daniel-frank opened #348 "[native-image] Failed to compile spring-boot project to native image (UnsupportedFeatureException)"
I'm trying to compile a 'simple' spring-boot web project to native image.
Project source:
https://drive.google.com/file/d/136E00Gux6vL3tvcZFM3KgcNuIvtXWlj1/view?usp=sharing

Command:
`native-image -jar graal-0.0.1-SNAPSHOT.jar`

Log:
[code]

[2018-04-18 16:58] vectorix opened #349 "C#/.NET support"
Newbie question, any reason why C# and .NET is not supported? Would it be possible technically?
Apologies in advance if this is out of scope of the project.

Thanks

[2018-04-18 17:44] chumer commented on #349
Thank you for asking.

A C# and .NET interpreter on top of Truffle would be absolutely possible. You can either implement it as a full AST interpreter specialized for C# (similar to Graal.js) or you could implement a Bytecode Interpreter for CLR bytecode (similar to Sulong). The second approach would probably be simpler and would also get you support for other CLR languages.

Currently we have nob

[2018-04-18 17:56] cstancu commented on #346
Does your `JAVA_HOME` point to Java 9 or later? Can you try with Java 8? We don't currently support Java versions greater than 8 for SubstrateVM. The problem here seems to be that the signature for `jline.TerminalFactory.create()` has changed starting with Java 9 and our substitution mechanism doesn't know that. We are working on Java 9 and later support.

[2018-04-18 17:58] dougxc commented on #346
I think the `native-image` command should detect the Java version is it running on and fail fast if it's not a supported version. (/cc @olpaw )

[2018-04-18 18:07] cfsilence commented on #346
@cstancu

[code]

[2018-04-18 18:25] cstancu commented on #346
Then it is probably a classpath issue. Can you post the output when you run `native-image` with the `--verbose` flag.

[2018-04-18 18:26] thomaswue commented on #347
Thanks for reporting! Should be fixed now.

[2018-04-18 18:26] #347 closed

[2018-04-18 18:31] cfsilence commented on #346
[code]

[2018-04-18 18:45] cstancu commented on #346
Thanks! That doesn't show the build server `-cp` which is the one that might cause the problem. You probably had the server already started from a previous build request. Can you add `--no-server` too? Or alternatively you can shutdown all the build servers first with `--server-shutdown-all`. (Btw, if you want to see options related to the build server you can run `native-image --help-extra`).

[2018-04-18 19:16] cfsilence commented on #346
How is this?

[code]

[2018-04-18 19:33] cstancu commented on #346
That's the complete verbose output. Thank you!

[2018-04-18 20:08] shelajev commented on #347
This is fixed by [0aa9114](https://github.com/oracle/graal/commit/0aa9114d689c8555b945bee71863f9dd0ae27d24). Please close.

[2018-04-18 20:27] cstancu commented on #346
The classpath looks good, i.e., the jars that are needed by native-image are all there. I will install groovy and try to replicate the problem.

[2018-04-18 20:56] cstancu commented on #346
I replicated the problem and will investigate further. It most likely has to do with some features that the Groovy implementation uses (e.g., like reflection, static initializers that are either too lazy or too eager) which have a special treatment on SubstrateVM (e.g., reflection configuration files and/or some substitutions). We take a similar approach with Scala and Kotlin.

@olpaw it looks lik

[2018-04-18 21:13] cfsilence commented on #346
Thanks a lot!  I'm really impressed with what your team has done with Graal so far!

[2018-04-18 22:00] dougxc commented on #341
This should be fixed by https://github.com/oracle/graal/commit/2f1b86339ce8830b14c0b466d188afb56430cb93. To test this, you can build graal following the instructions at https://github.com/oracle/graal/blob/master/compiler/README.md and then:
[code]
Once Graal is warmed up, it seems to compare favorably to C2 in this example:
[code]

[2018-04-19 03:11] cstancu commented on #346
The problem is that groovy-2.4.15, the latest stable version that I installed through sdkman as I guess you did too, brings in jline-2.12, quite an old version. In SubstrateVM we currently support a later version of jline, 2.14.5, used by some other components. The changes between jline-2.12 and jline-2.14.5 range from simple method signature changes to new classes.

JLine support involves patchin

[2018-04-19 07:10] misiek08 opened #351 "Broken link"
I didn't find quickly any repository with website sources. If there is one - let me know and I will make a PR.

**Here**: https://www.graalvm.org/docs/why-graal/
**is link**: Find out [how to get started](https://www.graalvm.org/docs/graalvm-as-a-platform/simple-language/) implementing a language.

It's a 404 know, a the correct URL is (probably): https://www.graalvm.org/docs/graalvm-as-a-platform

[2018-04-19 08:56] jponge commented on #341
Thanks @dougxc I'll have a look in the next few days.

It surely looks impressive compared to C2!

[2018-04-19 09:10] thomaswue commented on #351
Thanks a lot for the report! We will fix asap.

[2018-04-19 11:15] shelajev commented on #351
This is fixed in [8c94de6](https://github.com/oracle/graal/commit/8c94de61115afa9c0966e4c609840565a056e0ac).

[2018-04-19 15:01] #351 closed

[2018-04-19 18:42] cstancu commented on #346
Indeed that's the issue I see too. It will be fixed soon.

[2018-04-19 21:26] ambv opened #352 "Make the Python version which GraalVM is targetting more prominent"
Hi! Exciting project.

Instead of addressing the language as just "Python" in the docs, it would be helpful to state "Python 3" which will answer the most pressing question Python users have. I especially mean the README here and the landing page on https://graalvm.org.

While the "Reference manual for Python" already states GraalVM is targetting Python 3.7, that's buried a bit.

(BTW, great decis

[2018-04-19 22:29] domdorn opened #353 "[native-image] can't compile project which uses netty"
I tried to build one of my simplest apps with native-image (a program that fetches mail from imap inboxes, parses them and then calls a web endpoint..
Apparently, graal doesn't like netty (and javax.mail.MessagingException as I had to manually copy it into my sources)

if required, I can provide a sample application.

the jar that includes ReferenceCountedOpenSslServerContext is in the classpath..

[2018-04-19 22:36] domdorn commented on #353
enhanced verbosity:
[code]

command used to compile
[code]

[2018-04-19 22:58] cstancu commented on #353
Thank you for your report. Netty is a library that we looked at before and plan to fully support. As with other libraries netty's use of reflection and unsafe operations needs special handling for native image compilation. In our experiments we successfully run a subset of the netty test suite and will make that available soon.

[2018-04-20 06:33] W4anD0eR96 opened #354 "[native-image] Command `native-image` is slow"
I follow the [HelloWorld.java example](https://www.graalvm.org/docs/getting-started/#native-images) and `native-image HelloWorld` takes 10 minutes or so. Is it just so slow or something wrong with my environment?

[code]
Set JAVA_HOME to GraalVM installation directory, GraalVM version is `GraalVM based on JDK8, preview for macOS (1.0.0 RC1)`

[2018-04-20 06:43] W4anD0eR96 commented on #354
Well, it seems like something wrong with my env. Just now I try to reproduce this and get
[code]

[2018-04-20 06:47] W4anD0eR96 commented on #354
But wait, I've saw the time others cost, it is still too long for me.

[2018-04-20 07:15] lukasstadler commented on #352
Indeed, we should be more clear about that, it's not obvious that we're always referring to Python 3.
Thanks for the hint!

[2018-04-20 07:58] cstancu commented on #346
That issue is fixed by https://github.com/oracle/graal/commit/ea925f2dfa7e5d89b32d87e454bc1e28b2f51530. To get the latest changes you need to build the `native-image` from source as described in the substratevm [README.md](https://github.com/oracle/graal/blob/master/substratevm/README.md).
However, now we get to the real issues that I expected: groovy makes heavy use of reflection and dynamic clas

[2018-04-20 09:14] cstancu commented on #348
Thank you for your report. Spring-boot uses dynamic class loading which is a [limitation of SubstrateVM](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md). Sometimes it is possible to avoid dynamic class loading (which might reduce some functionality). I will look into this possibility for spring-boot.

[2018-04-20 09:17] olpaw commented on #354
@W4anD0eR96 I can't reproduce your issue on OSX. I tried with the following machine
[code]
with
[code]
Can you try if this is related to build-server use? Please try again to build HelloWorld with
[code]
You should get something like
[code]
While this is slower than on Linux its still much faster than what you see. Especially the `classlist` phase in your case is way out of proportion.

[2018-04-20 09:28] olpaw opened #355 "Support wildcard usage in native-image -cp"
See https://github.com/oracle/graal/issues/346#issuecomment-382526763

[2018-04-20 09:29] olpaw commented on #346
That's correct. Currently we don't have wildcards support for classpath entries. I created https://github.com/oracle/graal/issues/355 for that.

[2018-04-20 09:33] W4anD0eR96 commented on #354
[code]
with
[code]
It produces
[code]

[2018-04-20 10:38] olpaw commented on #354
Ok, then it's probably the 8GB of RAM. You could try if forcing a higher heap size improves the situation, e.g. try
[code]

[2018-04-20 11:32] httpdigest opened #356 "Building on Windows 7 x64 using JDK 10.0.1"
I tried to build Graal by following this readme https://github.com/oracle/graal/blob/master/compiler/README.md exactly to the point. But whenever I called `mx build` it fails with the following message:
[code]
Information about the system:
- JDK version: 10.0.1 (latest JDK 10 Oracle build)
- Python version: 2.7.11 (also, using Python 3 did not work at all due to a reported syntax error), so which

[2018-04-20 11:33] httpdigest commented on #356
Oh, btw. that error message "WindowsError: [Error 183] Eine Datei kann nicht erstellt werden, wenn sie bereits vorhanden ist" translate in English to: "The file cannot be created if it already exists."

[2018-04-20 11:49] olpaw commented on #355
https://docs.oracle.com/javase/8/docs/technotes/tools/windows/classpath.html#A1100762

[2018-04-20 12:04] dougxc commented on #356
Hi @httpdigest , this may not be the cause of the problem, but that looks like an old version of mx. Can you please `mx update` and try again.
Unfortunately we do not currently develop or test on Windows so this is not too surprising. I'll clarify that in the README. I will also clarify that Graal _should_ work with JDK 9,10,11...

[2018-04-20 12:08] httpdigest commented on #356
Thank you for your reply! As part of that readme, it asks to `git clone https://github.com/graalvm/mx.git`. Will this not give me the latest mx? I also did `mx update` which says: `Pulling head updates in D:\downloads\graal\mx with Git
True`
Alright, I will develop on Ubuntu/Linux then.

[2018-04-20 12:10] dougxc commented on #356
What does `mx version` show? It should be `5.153.0`.

[2018-04-20 12:12] httpdigest commented on #356
Yes, exactly. It does show
[code]

[2018-04-20 12:13] dougxc commented on #356
Sorry - my version of mx was out of date! ;-)

[2018-04-20 12:41] W4anD0eR96 commented on #354
[code]
Works anyway.

[2018-04-20 13:33] lbialy opened #357 "Can't use HttpURLConnection due to reflection"
A trivial example using `scalaj-http` library (a wrapper for HttpURLConnection) crashes in runtime when compiled to native binary with `native-image` tool. Here's a stack trace:
[code]
That assertion is a null check for this field in `sun.util.logging.LoggingSupport`:
[code]

I assume that `Class.forName` doesn't work and ClassNotFoundException is thrown, which results in `proxy` field being set t

[2018-04-20 13:47] medmedin2014 opened #358 "Why no JavaFX in CE ?"
If JavaFX is free and open source library, why I only found it in EE of GraalVM and not inside CE ?

[2018-04-20 15:13] dougxc commented on #358
hi @medmedin2014 , GraalVM EE is based on OracleJDK which includes JavaFX by default. This does not appear to be the case for all OpenJDK distros. We will look into trying to include it in the OpenJDK base we use for GraalVM CE for a future release. In the meantime, you might want to try and get the openjfx for your distro and see if overlaying it on GraalVM CE "just works".

[2018-04-20 17:45] mrveera opened #360 "Supporting rust automatically"
As graal already includes llvm we can load rust libs as well without manually specifying.

[2018-04-20 18:42] cstancu commented on #346
The patch for groovy is in. You should be able to run the example as I described above. In the future we will look into eliminating the need to use `-H:+ReportUnsupportedElementsAtRuntime`.

More generally for groovy we should be able to run most workloads as long as you use static compilation, i.e., either `@CompileStatic` for methods/types or per application using  a compiler configuration like:

[2018-04-21 01:11] cstancu commented on #355
Fixed in https://github.com/oracle/graal/commit/1b2ab7f971337fcbb74e18937c44ae2601c42961.

[2018-04-21 01:11] #355 closed

[2018-04-21 01:48] cstancu commented on #357
Thank you for the detailed report. Your diagnosis is correct: the call to `Class.forName()` throws a `ClassNotFoundException`. `Class.forName()` is supported only for classes preregistered during image generation. See [com.oracle.svm.thirdparty.ICU4JFeature.registerShimClass()](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.thirdparty/src/com/oracle/svm/thirdparty/ICU4J

[2018-04-21 04:31] xiongxin opened #361 "PHP support"
It would be great if PHP was supported

Thanks

[2018-04-21 05:14] lbialy commented on #357
Ahhh, nice! I tried to import that class and/or copy & paste it into my project, but that didn't work due to package visibility.

[2018-04-21 08:41] koduki opened #362 "[native-image] can't compile on docker"
I tried to build simple code with native-image on docker + graalvm-ce-1.0.0-rc1, but native-image throwed NullpinterException.
And same program is sucess on MacOS + graalvm-ee-1.0.0-rc1.
Haven't yet native-image support Docker? Or should I need some configuration to Dockerfile?

[code]

I use following Dockerfile.

[code]

[2018-04-21 09:33] veera83372 commented on #361
If you don't mind I want to work on it.

[2018-04-21 11:17] svladykin opened #363 "[native-image] Java 9 and above."
GraalVM ships with Java 8, but Graal compiler is known to work with Java 9 and 10.
Is it possible to produce native images for Java 9 and above?

[2018-04-21 12:40] chrisseaton commented on #363
I'm not an expert on the native image tool so someone else might want to comment, but I believe that it isn't possible to use Java 9 at the moment, because Java 9 has new intrinsics and a new implementation of classes such as `String` that the SubstrateVM needs to know about to use.

We do plan to support Java 9 soon-ish however.

[2018-04-21 13:21] rahmanusta opened #364 "Ctrl - L for language switch doesn't work"
Hi, Ctrl - L for language switch doesn't work in polyglot shell in 1.0.

[2018-04-21 19:28] cstancu commented on #363
@christianwimmer is already working on Java 9 support.

[2018-04-21 20:56] cstancu commented on #357
Alternatively you can patch the `scalaj-http` code using the SubstrateVM substitution mechanism:
[code]
This is essentially injecting a catch for the `NullPointerException` in the original `scalaj.http.HttpRequest.closeStreams()`. To use it you need to first compile it with `javac` and then add it to the `native-image` classpath.
The commands bellow assume that you cloned the latest sources and yo

[2018-04-21 21:04] rhencke opened #365 "[native-image] Code using JavaFX fails to generate native image."
When attempting to generate a native image using code that uses JavaFX, an error occurs.  I can't exactly understand the root cause given the error message, but I can give the steps to reproduce it.

1) Create a file HelloWorld.java, containing the example in Example 1-1 at https://docs.oracle.com/javafx/2/get_started/hello_world.htm
2) Using the Graal toolchain (in this case, graalvm-1.0.0-rc1 fr

[2018-04-21 21:08] khengsdijk commented on #365
no

Op 21 apr. 2018 23:05 schreef "Robert Hencke" <notifications@github.com>:

When attempting to generate a native image using code that uses JavaFX, an
error occurs. I can't exactly understand the root cause given the error
message, but I can give the steps to reproduce it.

   1. Create a file HelloWorld.java, containing the example in Example 1-1
   at https://docs.oracle.com/javafx/2/get_star

[2018-04-22 02:37] rhencke opened #366 "[native-image] Classes with loops inside Kotlin coroutines fail to generate native code"
Consider the following Kotlin code:

[code]

Compile it with the [Kotlin compiler](https://github.com/JetBrains/kotlin/releases/tag/v1.2.40) (kotlin-compiler-1.2.40.zip).  (Assume the zip is extracted to a directory represented by `$KOTLIN_HOME`)

[code]

This will fail to generate a native image, showing the following error:

[code]

If you adjust the sample, and comment out the loop within the c

[2018-04-22 10:36] marc0der opened #367 "Make GraalVM available on SDKMAN!"
It would be great to have GraalVM available for download on SDKMAN!

We provide an [API](http://sdkman.io/) for project owners to publish their latest versions for clients to consume. All that's required is an API key/token pair which we will issue to you.

Let me know if I can help with this.

[2018-04-22 19:46] hepin1989 commented on #367
so does homebrew

[2018-04-22 19:49] sureshg opened #368 "[native-image] Document the prerequisites for native-image on linux."
I created a new VM on digital ocean and download the Graal CE 1.0.0 RC1. Getting following errors when trying to generate a native-image for my application jar.

* `gcc` not found. Had to install it manually.

[code]

* `zlib` not found.

[code]

If these are the prerequisites for running `native-image`, it would be great to add this details to the documentation.

[2018-04-22 21:44] msgilligan commented on #264
Above, @vjovanov  says:

    [
         {
            "name" : "package.Car",
            "allDeclaredMethods" : "true",
            "allPublicMethods" : "true"
        }
    ]

But it should be:

    [
         {
            "name" : "package.Car",
            "allDeclaredMethods" : true,
            "allPublicMethods" : true
        }
    ]

In two places `true` (boolean) should be used instead

[2018-04-22 22:01] msgilligan commented on #264
I found this same error in some documentation and submitted a PR:
https://github.com/oracle/graal/pull/369

[2018-04-23 08:30] olpaw commented on #362
@koduki this a bug in native image that classpath handling when the classpath contains the root directory (`/`). I'm going to fix this ASAP. In the meantime as a workaround I suggest image building in a subdirectory:
[code]

[2018-04-23 08:34] lbialy commented on #357
Is this the prospective way of dealing with such issues? Shim libraries that need to be on classpath during native image compilation? If so we should probably add support for such concepts to build tools like maven, gradle or sbt.

[2018-04-23 08:43] ddload opened #370 "[native-image] can't compile project which uses akka"
I'm trying to compile a akka sample project with scala(https://developer.lightbend.com/start/?group=akka&project=akka-quickstart-scala) ,seems like cause a java.lang.IncompatibleClassChangeError.

How to reproduction:
1.Generate project from https://developer.lightbend.com/start/?group=akka&project=akka-quickstart-scala
2.Add sbt assembly plugin `addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.1

[2018-04-23 09:12] svladykin commented on #363
Thanks for your answers!

@christianwimmer Can you share your view on how long it may take?

[2018-04-23 09:39] shelajev commented on #368
Thank you for reporting it! I added it to the native-images [page](http://www.graalvm.org/docs/reference-manual/aot-compilation/).

[2018-04-23 10:10] rschatz commented on #360
I assume you're referring to the need to specify the standard libraries manually from http://www.graalvm.org/docs/reference-manual/languages/llvm/#running-rust

I'm not sure there is much we can do about that. The problem is that the bitcode files don't contain information about which libraries are required. This makes sense for rust, since usually rust is linked statically, but it is a bit unfort

[2018-04-23 10:18] chumer opened #371 "Java Interop overload resolution does not work for functional interfaces with an additional empty overload."
The following test program produces:
[code]

This currently fails in GraalVM 1.0 RC1 for Mac with the following error:

[code]

I'd expect the requestHandler with the the Handler argument to be selected and executed.

This was reported by Paulo Lopez on the Gitter chat.

[2018-04-23 10:57] thomaswue commented on #368
Can we also change the error message in addition to documenting it better? @olpaw

[2018-04-23 11:50] gilles-duboscq commented on #366
Hi @rhencke, thank you for the report and minimal reproducer.

At the moment, Graal does not support compilation of non-reducible loops (i.e., loops with multiple entry-points). This is fine on HotSpot as we can just delegate execution of such methods to either the interpreter or C1 and they are fairly rare (for example javac or scalac would never produce such code patterns).
However, as you have

[2018-04-23 12:02] jponge commented on #341
I've built my own Graal JDK and I can confirm that:

1. the issue has been fixed, and that
2. performance is on par with Java.

Very impressive!

[2018-04-23 13:01] kleinj opened #372 "[native-image] NullPointerException in ObjectScanner.scanField"
I've been experimenting with the `native-image` compiler, trying to see how far I'd get with compilation of the PRISM modelchecker (details at the bottom for steps to reproduce). This resulted consistently in a `NullPointerException` in `ObjectScanner.scanField`:

[code]

I'm aware that there a probably some further issues regarding the PRISM code base to solve to make it work with native-image (I

[2018-04-23 13:17] dougxc commented on #341
Great to hear - thanks for the feedback.

[2018-04-23 13:44] olpaw commented on #354
@W4anD0eR96 can you try if the following makes the runtime of the `classlist` phase normal:
1. Create a new directory
2. Change the current working directory to that new directory
3. Put the HelloWorld.java program in there
4. Build the HelloWorld.class file with javac
5. Build the helloworld native image.

I suspect that that the runtime of `classlist` phase very much depends on the amount of sub

[2018-04-23 14:17] W4anD0eR96 commented on #354
Well, I do what you suggest. Now the runtime of `classlist` phase looks normal.

[code]

[code]

[code]

[2018-04-23 14:19] W4anD0eR96 commented on #354
Does `native-image` search all sub-directories of current directory to cover all potential dependence?

[2018-04-23 14:31] sirthias opened #373 "Add iOS support to Substrate VM"
If Substract VM allowed for writing libraries in any of the supported languages (most importantly Java) and these libraries could be called into from iOS application code (written in Swift or Objective-C) then this would be a complete game changer for the "holy grail" of mobile development: Joint code bases for truly native mobile applications.

Rich client logic could then be written purely in Ja

[2018-04-23 16:41] kleinj commented on #372
Thank you very much. Yes, static initializers are probably the cause. We'll try and work around that.

[2018-04-23 16:41] #372 closed

[2018-04-23 17:05] cstancu commented on #357
@lbialy in the long run ideally you wouldn't need any substitutions or any special patch to run a library on SubstrateVM. A better approach is to 'fix' the library and make it native-image compatible. This is up to the library maintainer, but since this is a strong restriction on SVM and wouldn't change the functionality of  scalaj-http you can try and submit a PR to scalaj-http.

[2018-04-23 20:48] rahmanusta commented on #364
Hi Boris, it worked now, thank you!

[2018-04-23 21:00] cstancu commented on #373
The Truffle languages can be supported as long as Truffle runs in interpreter mode. You won't get the same performance as with a JIT but it would still be useful for certain scenarios.

[2018-04-23 21:38] nanodeath opened #374 "[native-image] MalformedParameterizedTypeException when using Kotlin"
I'm running the following command and getting a crash. Compiled using Graal 1.0.0 RC and Kotlin 1.2.40.

[code]

Unfortunately I can't attach source or JARs (as they're company IP), but if there's any other way I can provide more context, please let me know.

Thanks!

[2018-04-23 22:14] cstancu commented on #374
Thank you for your report. It would help if you could reproduce this with a minimal, non-proprietary, example. The `MalformedParameterizedTypeException` is thrown from `java.lang.Class.getGenericInterfaces()` which is

This doesn't seem to be a SubstrateVM issue but rather an application issue. My guess is that you have some class path configuration problems (e.g., incompatible versions of the sam

[2018-04-23 22:27] nanodeath commented on #374
Messing around with the classpath a bit, if I remove `kotlin-stdlib-1.2.40.jar` I get `java.lang.ClassNotFoundException: kotlin.jvm.functions.Function0`, but if I add it back I get the same stacktrace as listed above. So my current unfounded theory is that it's related to that particular JAR.

I'll try what you suggested.

[2018-04-23 23:12] nanodeath commented on #374
That was...surprisingly easy to set up, actually. I'm kinda shocked.

Anyway, the exception seems to happen when `Inflation` (at L240) hit the following class:

![image](https://user-images.githubusercontent.com/10625/39157708-fa0b85ba-4710-11e8-968c-b600c906521f.png)

So I'm working on a repro for that.

[2018-04-23 23:30] cstancu commented on #374
You can try calling `java.lang.Class.getGenericInterfaces()` directly on that class from within your app, with the same setup. I expect you will get the same exception.

[2018-04-23 23:51] nanodeath commented on #374
Indeed, you're correct. I've created a Kotlin application from scratch and run the following:
[code]
which fails even on the standard Oracle JVM.

Correct me if I'm wrong, but this seems like an issue I should raise with JetBrains, correct?

[2018-04-23 23:57] nanodeath commented on #374
Cross-reference: https://youtrack.jetbrains.com/issue/KT-23962

[2018-04-24 00:01] cstancu commented on #374
That's correct since JetBrains is the developer of `kotlin-reflect`. Glad you got to the bottom of this. I will close this issue, but let us know if you are successful in running your app on SubstrateVM.

[2018-04-24 00:01] #374 closed

[2018-04-24 00:37] cstancu commented on #357
In the feature we will look into relaxing our restrictions around implicit exceptions thrown from within the same method. For now the substitution class is the way to go.

I will close this issue. Let us know if you run into more problems.

[2018-04-24 00:37] #357 closed

[2018-04-24 01:00] nanodeath opened #375 "[native-image] NPE in ObjectScanner.scanField"
Disclaimer: I think you already fixed this (kind of), but the `fieldValue` at the top of `scanField` can be null, and we're hitting that...apparently on one of Graal's own classes (?):

[code]

I've managed to set a break point just before the NPE is thrown:
![image](https://user-images.githubusercontent.com/10625/39160431-2347cc90-4720-11e8-87b1-23ff15897ef2.png)

Using Graal 1.0.0 RC.

[2018-04-24 01:02] cstancu commented on #372
The NPE is fixed in https://github.com/oracle/graal/commit/6fac95ab2434fc697ce975bb815d724b98e5f41f.

[2018-04-24 01:06] cstancu commented on #375
This is most likely the same issue as https://github.com/oracle/graal/issues/372 which was just fixed in https://github.com/oracle/graal/commit/6fac95ab2434fc697ce975bb815d724b98e5f41f. That NPE was hiding the actual issue: we don't support ZipFile objects in the boot image heap for reasons described [here](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md#static-initializers)

[2018-04-24 01:09] nanodeath commented on #375
*Fixed an hour ago*. Nice. Guess it's time to build from source.

[2018-04-24 04:05] nanodeath commented on #375
Building substratevm from source also succeeded without a hitch.

I got past the original error and am now seeing a couple other `This is not supported.`-type errors, which I guess I need to figure out how to solve! The "stack"trace isn't 100% clear, but I think it'll be enough.

[2018-04-24 04:05] #375 closed

[2018-04-24 06:28] koduki commented on #362
Thank you for your information.
I can build & run on a sub-directory.

[2018-04-24 07:38] olpaw commented on #362
BTW, I have fixed this on master: https://github.com/oracle/graal/commit/f53341bdb1db374b0f2f47e4f323e31430562a96
So if you really want to build with `/` on the classpath it will no more be a problem in future releases (but I still recommend not to do so).

[2018-04-24 07:38] #362 closed

[2018-04-24 07:47] marc0der commented on #367
@shelajev Thanks for submitting the PR to add GraalVM to sdkman. However, when I went about testing it I discovered that your SDK provides the same binary executables as the Java SDK (my bad for not checking first). As a result of this, Java would end up clobbering Graal every time and your executables would never be visible on the shell's path.

As a result, I would like to make a recommendation:

[2018-04-24 08:05] olpaw commented on #354
It does if you have `.` on the classpath (which is the default if you do not specify a custom cp).

[2018-04-24 08:05] #354 closed

[2018-04-24 08:34] shelajev commented on #367
@marc0der, the GraalVM distribution also contains the `node` and `npm` executables. Will that result in a conflict with the node.js or the latter is not on the sdkman?

[2018-04-24 09:40] sirthias commented on #373
Ok, great. Thank you, @cstancu!

[2018-04-24 14:39] olpaw commented on #368
Fixed in https://github.com/oracle/graal/commit/6ff678ac8d5c48cc57ddb0fc1681dceb29fcd635

[2018-04-24 14:39] #368 closed

[2018-04-24 14:48] dougxc commented on #368
Maybe in a follow up change you can augment the missing dependency error message with an os-dependent hint such as `This may be resolvable with "yum install .<package name(s)>"` or `This may be resolvable with `brew install <package name(s)>`. This is what the [configure step does when building the JDK](http://hg.openjdk.java.net/jdk/jdk/file/1da3a463a499/make/autoconf/help.m4#l60) and is very hel

[2018-04-24 15:08] olpaw commented on #368
I don't think this is a good idea. Do we really want to get into maintaining os-dependent hints in a simple help message. On Linux alone i can think of at least 5 distribution-specifc variants (think of Fedora, Arch, Suse, Debian/Ubuntu, Centos, ....). Also this info changes over time. On Fedora it used to be yum now it's dnf. I think a brief generic description is the better choice here.

[2018-04-24 15:25] churlinpr opened #376 "[native-image] NPE on HelloWorld jar if "Class-Path: ." is specified in the jar's MANIFEST.MF"
native-image crashes with the NPE below when launched on an HelloWorld program whose jar has been generated by Eclipse's _Export > Runnable Jar_ because the generated MANIFEST.MF contains "Class-Path: ." (i.e. removing this entry from MANIFEST.MF **solves the problem**).

* Here's the concerned jar: http://schplaf.org/hgames/substratevm_jaxb.jar
* Here's the corresponding project's source as an Ec

[2018-04-24 15:28] olpaw commented on #376
Thanks for your report. This will be fixed on master.

[2018-04-24 15:41] dougxc commented on #368
How often do you think the hint will have to change? I doubt very often at all and the support in JDK seems very straightforward. Seems like a small investment for improving an initial first impression but I leave the final call up to you.

[2018-04-24 16:26] olpaw commented on #376
This is already fixed on master (by commit https://github.com/oracle/graal/commit/9df2b6a25bebf015d95859f4c555f58f431653d0)

[2018-04-24 16:26] #376 closed

[2018-04-24 17:11] marc0der commented on #367
@shelajev we currently don't support native `node` or `npm` so this shouldn't pose a problem right now.

If the above is acceptable to you, ping me directly on Gitter if you would like me to set you up with your own credentials for our Vendor API. That will allow you to publish a new version of GraalVM under Java with a simple REST call.

[2018-04-24 23:22] #371 closed, assigned to woess

[2018-04-24 23:56] MateuszKubuszok opened #378 "Graal is not bundled with some certificates roots"
After switching for testing purposes JDK from OpenJDK 8 to GraalVM RC-1 I was unable to either download certain artifacts from Sonatype nor publish my own artifacts to Sonatype Nexus via SBT. After some investigation I found out that:

 * when I switch back to OpenJDK 8 I am able to download/publish artifacts
 * when I switch to GraalVM RC-1 downloaded from GitHub it fail

To confirm that it was a

[2018-04-25 04:11] cstancu commented on #353
@domdorn can you provide a sample application? I'll give it a try.

[2018-04-25 09:13] dougxc commented on #378
This sounds like a case of missing certificates in our OpenJDK build (/cc @gilles-duboscq )
You should be able to test this by trying with [GraalVM from OTN](http://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html). If that works, try copying `jre/lib/security/cacerts` from OTN GraalVM to GitHub GraalVM.

[2018-04-25 09:14] dougxc commented on #378
@MateuszKubuszok can you please post the exception showing the Sonatype failure.

[2018-04-25 09:33] churlinpr commented on #376
Indeed, checkouting https://github.com/oracle/graal/releases/tag/JDK-8199755 circumvents the bug.

[2018-04-25 10:40] churlinpr opened #379 "binary obtained with native-image crashes with ClassNotFoundException: com.sun.xml.internal.bind.v2.ContextFactory"
Compiling this code with native-image (with `native-image  --no-server -jar substratevm_jaxb.jar`):

[code]

yields a binary that crashes as follows (whereas it works fine with `java -jar` on java 8):

[code]

I suppose that part of JAXB's implementation is not supported out of the box, but there's no warning whatsoever. Is there a way to circumvent this issue ? (by adding something to the classpa

[2018-04-25 10:52] gilles-duboscq commented on #378
This is a known issue with OpenJDK's `cacerts` bundle. Unfortunately at the moment we can not distribute a better bundle in the community edition. I also noticed the issue with https://oss.sonatype.org.

The OpenJDK 8 version you are testing with probably comes from your distribution and probably use your distribution's `cacerts` bundle. As @dougxc advised, you can replace `jre/lib/security/cacert

[2018-04-25 11:43] steve-s commented on #309
The requirements are now documented [1] and the error messages now also contains hints for troubleshooting common problems including this one.

[1] http://www.graalvm.org/docs/reference-manual/languages/r

[2018-04-25 11:43] #309 closed

[2018-04-25 11:54] boris-spas commented on #345
Should fixed now.

[2018-04-25 11:54] #345 closed

[2018-04-25 18:49] joegrasse opened #381 "Golang Support"
Will Go be supported in the future?

[2018-04-25 20:04] thomaswue commented on #381
It could be possible via a Go => LLVM => GraalVM bridge. There is this project https://go.googlesource.com/gollvm/ and this project https://github.com/go-llvm/llgo. The former looks more up-to-date. We will investigate what it takes.

[2018-04-25 23:52] cstancu commented on #353
The `NoClassDefFoundError` is caused by missing the `netty-tcnative` dependency on the classpath. `ReferenceCountedOpenSslServerContext` is importing classes from `io.netty.internal.tcnative.*`. While your application might not use `netty-tcnative` the netty ssl handler was compiled with support for it. This is not a problem for the JVM as long as your app doesn't use the tcnative classes. However

[2018-04-26 14:40] sxend opened #382 "[native-image] SubstrateSegfault at Netty App runtime"
Is there a solution?
(And is this the right way to ask questions? please teach right way to issues report if I wrong......)
[code]

[2018-04-26 16:33] cstancu commented on #382
Hi @sxend, thank you for your report. The segmentation fault is caused by missing some field recomputations; SubstrateVM uses a different object layout than JVM and while most of the fields can be recomputed automatically there are some exceptions that require the manual use of `@RecomputeFieldValue` as suggested by the warning message. We will merge a solution for this soon.

[2018-04-28 19:57] valdo404 opened #384 "Class incompatibility problem using plain scala"
Hi people,

how are you ? Greetings from france ;)

[code]
won't work and fails with this exception at build time:
[code]

whereas
[code]
works.
Any idea ?

Best regards,
laurent

[2018-04-28 23:28] cstancu commented on #384
Hi Laurent, Thank you for your report. This seems to be a scala compiler bug See here: https://github.com/scala/bug/issues/10487.

[2018-04-28 23:45] cstancu commented on #370
After a similar report (https://github.com/oracle/graal/issues/384) and more digging it seems that this is a scala compiler bug. See here: https://github.com/scala/bug/issues/10487.
The workaround is to avoid extending `App`, e.g., instead of
[code]
use
[code]

[2018-04-29 22:06] Gastove opened #385 "Reflection NPE using `native-image` on a compile Clojure jar"
I do know that Clojure isn't officially supported _per se_; that said, this particular failure case surprised me, so I figured I'd stop by and mention it.

If  I have a pure Clojure standard library project (e.g. no dependencies), and compile it into a jar, I can build it into a native image flawlessly with Graal. It's fast, starts instantly -- all I ever dreamed of. This works whether I try it on

[2018-04-30 01:03] ckampfe commented on #385
@Gastove Have you tried doing `lein compile :all` (or the boot equiavlent) and then pointing `native-image` at the resulting class files, rather than the jar?

Like:
[code]
I've had good luck with this where I previously was getting similar errors using the `-jar` option.
I realize this doesn't help you solve your issue, but might help you keep moving :)

[2018-04-30 01:46] cstancu commented on #385
@Gastove thank you for trying out GraalVM. That NPE was reported before and fixed in the meantime. The NPE was hiding another issue: trying to load a jar from a static initializer, which I suspect might happen when you include a dependency on another Clojure library in your second configuration. See [this section on limitations](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.m

[2018-04-30 02:38] Gastove commented on #385
@ckampfe Ah! Interesting -- I'll try that, thanks! I hadn't considered approaching it that way, and I appreciate the guidance!

@cstancu Ahhh, good to know. I'll see what I can do with a fresher build of Graal.

[2018-04-30 04:33] cstancu commented on #385
Please report them and we'll try to fix. Is the `NoClassDefFoundError` a runtime or compile time issue?
What issue do you encounter when you try to build from source?

[2018-04-30 04:33] eginez commented on #381
For what is worth I tried running lli with https://github.com/go-llvm/llgo and found that lli was failing to load some of the native libraries. I created a docker image that can be used for testing `docker pull eginez/graalgo`, fair warning is a big image(~17Gb)

[2018-04-30 04:59] Gastove commented on #385
I'm hitting `NoClassDefFoundError` at compile-time, while attempting to run `native-image` against a compiled Clojure class. I note that if I, for instance, miss-spell the name of the class I'm trying to compile, I get an error much earlier -- the error I'm seeing comes from the build server, but I have no notion of which class it can't find.

When I try to build Graal from source, it goes like th

[2018-04-30 05:06] Gastove commented on #385
(Ah, just for reference: I'm using Fedora 27.)

[2018-04-30 05:38] cstancu commented on #385
@Gastove the build issue is known, it is a bootstrapping issue. The problem is that you try to build you build Graal/Truffle with GraalVM. Your `JAVA_HOME` needs to point to a [LabsJDK](http://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html).

[2018-04-30 08:46] sureshg opened #386 "[native-image] Binary execution causes segfault on Alpine linux."
Created a simple native image on `Ubuntu` and trying to run it on the latest alpine causes `segfault error`.

Using this sample project by changing the running image to `alpine:3.7` - https://github.com/JurrianFahner/play-with-graalvm/blob/master/Dockerfile

Since alpine uses musl libc, I had to make the following workaround to make it executable.

[code]
After that the native-images throws `Segma

[2018-04-30 16:06] Gastove commented on #385
@dougxc AH. Okay, that makes more sense. I did see that instruction/requirement, and thought I had followed it -- clearly, I got confused. Will re-try and report back.

[2018-04-30 21:55] lbialy opened #388 "[native-image] Problems during compilation of http4s with http client"
I was trying to compile my POC service and got this:
[code]
How to reproduce -
1) pull https://github.com/lbialy/blockchain-explorer-on-cats
2) run `sbt assembly`
3) run `native-image -H:+ReportUnsupportedElementsAtRuntime -jar blockchain-explorer-on-cats-assembly-0.0.1-SNAPSHOT.jar`

[2018-04-30 21:56] lbialy commented on #388
What does this `Must not have a started Thread in the image heap.` error mean?

[2018-04-30 22:30] cstancu commented on #388
That error means that you start a thread in a static initializer. This is not allowed. The error message has been [improved](https://github.com/oracle/graal/commit/6fac95ab2434fc697ce975bb815d724b98e5f41f#diff-34e98a7e972517b13ee1b7eb5c522349R44) since the release.

[2018-04-30 22:42] thomaswue commented on #388
One way to solve these issues could be to run specific static initializers not at boot image generation time, but make them part of the native image.

[2018-05-01 08:37] lbialy commented on #388
I was able to pinpoint the problem in http4s' blaze-based client here:
https://github.com/http4s/http4s/blob/b9a28ddcd335cf5dee60a9f7d3be5bdc12523179/blaze-client/src/main/scala/org/http4s/client/blaze/bits.scala#L20
changing that `val` to `lazy val` seems not to break anything and makes native compilation possible again.

I think we can close this issue. Is this limitation in documentation somewh

[2018-05-01 08:57] lbialy opened #389 "[licensing] GPLv2 impact for projects using native-image"
I've noticed that most stuff here is licensed under GPLv2 with small modifications, most notably SubstrateVM is. Am I right to assume that every application compiled using `native-image` tool has to be released under GPLv2 since SubstrateVM is statically linked?

[2018-05-01 09:48] thomaswue commented on #389
We are in the process of adding Classpath Exception to all components that can form part of the resulting native image.

[2018-05-01 10:30] lbialy opened #390 "[native-image] SSLContext reflective instantation fails"
Hello again, I've found another problem with native-image tool related to reflection I guess. When I compile http4s-blaze-client package with native-image I get:

[code]

Missing class in question is `sun.security.ssl.SSLContextImpl`. Is providing a shim the only way to work around this class of problems?

[2018-05-01 18:58] cstancu commented on #388
@lbialy This limitation is not explicitly in the documentation. I'll fix it.
@thomaswue that might be possible, however it requires more investigation. If we push some initializer to runtime we need to push all other initializers that might depend on it and need to be careful about the initialization order.

[2018-05-01 19:06] #388 closed

[2018-05-01 21:35] skjolber commented on #382
Here is a minimal working Netty example: https://github.com/skjolber/substratevm-netty-hello-world. Basically adding -Dio.netty.noUnsafe=true helped a lot. Would think some of the unsafe-stuff would be possible to support natively, as it is more or less about doing native things in Java?

[2018-05-01 22:08] Gastove commented on #385
Okay, yep: this works considerably better. I don't have a clear error message about what, specifically, is using a static initializer, and in perfect world one would be very nice -- would make working around it much easier. But! Still happy to get this far, and I appreciate the guidance. I personally would consider this closed.

[2018-05-01 22:24] sureshg opened #392 "[native-image] Https/Http2 protocol support."
Using the following kotlin code to make basic `HttpsURLConnection`
[code]
and used this command to generate the native-image.
[code]
Eventhough the error says it can be enabled using `-H:EnableURLProtocols=https`, it's not working.

[code]
IMHO, protocols  like `http`, `https` and `http2` should be enabled by default to make graal native-image genartion attractive for developers making cli tools.

[2018-05-01 22:58] cstancu commented on #392
@sureshg the rationale behind enabling the `http` protocol on demand, i.e., using `-H:EnableURLProtocols=http`, is that you can start with a minimal image and can enable features as you need them to keep the overall size small.
As for `https`, that is currently under development. I agree that the error message is misleading. It will be improved soon.

[2018-05-01 23:00] cstancu commented on #390
@lbialy support for the Java security packages is currently under development. There is no workaround for it at this point.

[2018-05-02 01:15] Gastove commented on #385
@cstancu holy moly -- I don't..... understand why, but I'm seeing two different stacktraces built out of the same jar; one is _very_ helpful, the other less so. In both cases, here's the command I'm using to execute `native-image`:

[code]

The first stack trace looks something like this:
[code]

So, I know what the problem is, but not where in the code to dig to fix it. The other goes like so:

[

[2018-05-02 04:15] cstancu commented on #385
It is "normal" to get multiple "stack traces" during image building. Each of them corresponds to an unsupported feature error. When the analysis runs we don't stop on the first discovered unsupported feature but keep going on unexplored code paths. This way you get a complete image of all the problems. So it has nothing to do with the build server; you would get the same output if you run without

[2018-05-02 08:15] olpaw commented on #386
So far, we haven't tested native-images on systems that use musl libc. I'll have a look.

[2018-05-02 11:09] olpaw commented on #386
Hmmm, I cannot reproduce the problem:
[code]
Seems to work just fine with the following change in `Dockerfile`
[code]

[2018-05-02 11:37] olpaw commented on #386
Oh my bad. Of course I need to remove the copy commands otherwise it's no alpine linux anymore.

[2018-05-02 11:45] ashtonhogan opened #393 "Can AOT compilations run without an operating system?"
Is it possible to place compiled binary into `address 0` and execute it without an operating system?

[2018-05-02 12:29] olpaw commented on #386
For now the following can be used as a workaround
[code]
Note that this will provide a glibc within the alpine image which is suboptimal. Currently we do not support linking native images against musl libc.

[2018-05-02 13:18] olpaw commented on #386
I experimented a bit more and it turns out that when I force image building to statically link the binary with the following hack
[code]
I'm able to produce a binary that doesn't need a libc at all:
[code]
:-)

[2018-05-02 13:32] olpaw commented on #386
Then `Dockerfile` for that image is trivial
[code]
and the size of the docker image now equals the size of the native-image
[code]
[code]

[2018-05-02 18:42] Peter-B-Kessler commented on #393
The binaries SubstrateVM generates still need a linker, for references to libraries and relocation of symbols.  I think of those as coming from the operating system.  We rely on the OS for things like thread creation, mutexes and condvars, etc.  How much "without an operating system" are you thinking of?

[2018-05-02 20:00] kmrozek-shareablee opened #394 "Support building static final binary"
I would like the binary output was static linked like with Go compiled programs. Is it possible?

[2018-05-02 20:14] cstancu commented on #394
We're currently experimenting with static linking the binary. See for example: https://github.com/oracle/graal/issues/386#issuecomment-385974629.

[2018-05-02 20:15] olpaw commented on #394
I'm already working on that.

[2018-05-02 20:16] olpaw commented on #386
See https://github.com/oracle/graal/issues/394#issuecomment-386106570

[2018-05-03 00:13] duckladydinh opened #395 "Native-image fails to compile Jar"
Hello everyone,

this is my first time trying GraalVM and I wanted to compile a Jar file into executable. The command I used was

native-image -H:+ReportUnsupportedElementsAtRuntime --verbose -jar eimage.jar

and this what I get

[code]

I wonder if i used the wrong command or there is something wrong with graalvm?

Thank you.

[2018-05-03 00:27] cstancu commented on #395
Duplicate of #374

[2018-05-03 08:31] olpaw commented on #393
@ashtonhogan, although we currently do not support it, conceptually this is quite possible. One could take a bare-metal C library like newlib and customize the linking step of our image building to output a bare metal executable that would run on a system without OS. Now if you combine that with the ongoing efforts to have a decent ARM64 backend for Graal this could take an interesting direction.

[2018-05-03 12:26] lbialy commented on #390
Workaround that works if you don't actually use https:
[code]

[2018-05-03 13:21] lbialy opened #396 "Unsupported method in UnixAsynchronousSocketChannelImpl"
Hi again :)

While trying to use `http4s-blaze-client` package during request handling following exception gets thrown:
[code]

Recompilation with `-H:+JNI` transforms it into:
[code]

[2018-05-03 14:09] shipilev opened #397 "Boolean field access codegeneration quality"
Running JMH samples on GraalVM 1.0.0-rc1 yields a simple codegeneration issue.

$ java -jar jmh-samples/target/benchmarks.jar JMHSample_01_HelloWorld -prof perfnorm  -f 1 -bm avgt -tu ns

[code]

The reason, apparently, is worse codegeneration for `boolean` field accesses. Visible with running the the same test under `-prof perfasm`:

GraalVM:
[code]

8u171, C2:
[code]

Graal does `movsbl+movzbl`,

[2018-05-03 21:49] sundbp opened #400 "[native-image] Getting bad address when writing to socket (PosixJavaNIOSubstitutions)"
I'm trying to make a CLI tool for accessing a grpc API run using native-image. It's using grpc java libs, and hence grpc-netty. I've managed to make an executable, and via a reflection config file I dealt with netty's ReflectiveChannelFactory. I can see that I can actually create the grpc client and see a few TCP packets between my client and server. So far so good.

When I actually try to make an

[2018-05-03 22:04] cstancu commented on #400
Hi @sundbp, thank you for the report. This seems like an issue in our Posix NIO implementation. We'll take a look at it. Can you provide the app that you are trying to run so we can reproduce?

[2018-05-04 06:48] sundbp commented on #400
I'll see if I can cut it down to a small repro case with instructions.

On Thu, 3 May 2018, 23:05 Codrut Stancu, <notifications@github.com> wrote:

[2018-05-04 06:58] huntc opened #401 "NPE with native-image on Akka program"
[code]

`native-image` on an Akka based program yields an NPE. Unfortunately, I'm unable to provide the source code as it is presently closed. Here's the full stacktrace in the hope that this may help understand the problem:

[code]

[2018-05-04 11:11] shipilev opened #402 "JMH Blackhole and Graal interaction"
@thomaswue said that there is a special support for Blackhole in Graal. Yet, our early JMH testing shows it breaks at least in one case. Seen this with JMH validation tests:
  https://twitter.com/shipilev/status/992332163055017986

Try this benchmark:

[code]

On 8u171, C2 the test yields:

[code]

With GraalVM 1.0.0-rc1 and now-current JMH 1.20:

[code]

So, it breaks: it seems the Blackhole meth

[2018-05-04 12:34] dougxc commented on #402
Strangely, this seems to be an issue only with GraalVM CE, not GraalVM EE. I am investigating.

[2018-05-04 13:14] dougxc commented on #402
So it seems as though Graal's partial escape analysis causes problems for JMH's attempt to force the boxing allocation:
[code]
That is the boxing allocation is moved inside the `SHOULD ALMOST NEVER HAPPEN IN MEASUREMENT` branch.

Now I'm just trying to work out why it doesn't happen in GraalVM EE.

[2018-05-04 13:41] shipilev commented on #402
Yes, we thought that would eventually happen, and this is why inline hints are providing another layer of defense. Yet, Thomas implied there is `BlackholeNode` that this code should have been parsed into, and then Graal would not optimize this, as we would expect?

[2018-05-04 13:49] thomaswue commented on #402
Yes, it is a bug that this is not turned into a BlackholeNode.

[2018-05-04 14:08] dougxc commented on #402
The problem is that Graal [doesn't trust](https://github.com/oracle/graal/blob/6b9b1e38299a73d05dd23c41c667fbb3966c61e7/compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/meta/IntrinsificationPredicate.java#L64) classes on the app class path in terms of intrinsification. I'm not sure what the right solution is here. Maybe something like `-Dgraal.TrustedIntrinsifiableClasses

[2018-05-04 14:09] dougxc commented on #402
Or try make JMH defend against Graal's PEA.

[2018-05-04 14:34] rschatz commented on #402
Or introduce a standard blackhole intrinsic in the JDK, and use that. ;)

[2018-05-04 14:35] dougxc commented on #402
@thomaswue had a good idea: we insert the BlackholeNode for these calls but then also call/inline the method.

[2018-05-04 16:50] Glavo opened #403 "[native-image] Native image of JavaFX application can not run"

[2018-05-04 17:01] Glavo commented on #403
It looks like this problem exists for all JavaFX apps GraalVM, when I tried to deal with [this demo](https://docs.oracle.com/javase/8/javafx/get-started-tutorial/hello_world.htm), they also failed for the same reason.

[2018-05-04 17:14] shipilev commented on #402
FYI, JMH 1.21 is [released](http://mail.openjdk.java.net/pipermail/jmh-dev/2018-May/002753.html) with first part of the fix mentioned in the first comment: compiler hints are no longer broken. It would still be nice to have the defense-in-depth to make Graal more resistant to inline hints failures.

[2018-05-04 17:28] cstancu commented on #395
I'll close this since it is not a SubstrateVM bug, but feel free to open another issue if you run into other problems.

[2018-05-04 17:28] #395 closed

[2018-05-04 17:32] #384 closed

[2018-05-04 17:33] cstancu commented on #370
I'll close this issue since it is not a SubstrateVM bug. Until the scala compiler bug is fixed the workaround is the only solution. Feel free to open another issue if you run into other problems.

[2018-05-04 17:33] #370 closed

[2018-05-04 17:54] cstancu commented on #365
@rhencke thank you for your report. He haven't tried running JavaFX apps so far. It looks like they will need a bit more work to run on SubstrateVM.
Related issue: https://github.com/oracle/graal/issues/403.

[2018-05-04 18:32] dougxc commented on #402
This should now be fixed by 40e02e0f3d13bd7db19f8bb98e7a4cae7f6fba36. Please re-open if you still see the problem in the next GraalVM CE release.
Note you should also be able to test on JMH < 1.21 by [building Graal](https://github.com/oracle/graal/blob/master/compiler/README.md#building-graal) and then:
[code]

[2018-05-04 18:32] #402 closed

[2018-05-04 20:18] W4anD0eR96 commented on #365
For cross refer #358

[2018-05-04 20:19] W4anD0eR96 commented on #403
For cross refer #358

[2018-05-04 22:15] cstancu commented on #401
The NPE should be fixed in https://github.com/oracle/graal/commit/ae10d57edc0107525f7a287debb1a3a932b01791. You can [try building from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest bug fixes, however the Akka framework is something that we haven't tried and you might encounter some of the [limitations](https://github.com/oracle/graal/blob/master/sub

[2018-05-04 23:58] huntc commented on #401
Thanks for the advice.

[2018-05-05 07:38] cstancu commented on #400
@sundbp thank you for providing a cut down version and for the detailed steps to reproduce the issue. We'll run it and let you know what we find.

[2018-05-05 08:34] Glavo opened #404 "[native-image] Can not generate native-image for Ammonite"
<pre><font color="#8AE234"><b>glavo@glavo</b></font>:<font color="#729FCF"><b>~/文档/Test</b></font>$ native-image -jar ammonite.jar
Warning: Native image server limit exceeded. Use options --server{-list,-shutdown[-all]} to fix the problem.
   classlist:   7,071.37 ms
       (cap):   1,785.21 ms
       setup:   2,688.78 ms
warning: unknown locality of class Lammonite/interp/LineNumberModifier$LineN

[2018-05-05 08:40] Glavo opened #405 "[native-image] Naitve-image tool does not recognize jar files that contain shell headers"
Jar files generated using [this](https://www.linuxjournal.com/content/add-binary-payload-your-shell-scripts) tricks can be run directly by java commands:
<pre><font color="#8AE234"><b>glavo@glavo</b></font>:<font color="#729FCF"><b>~/文档/Test</b></font>$ java -jar amm.jar
<font color="#3465A4">Loading...</font>
Welcome to the Ammonite Repl 1.1.0
(Scala 2.12.4 Java 1.8.0_161)
If you like Ammonite, p

[2018-05-05 17:28] cstancu commented on #404
@Glavo thank you for your report. The `NullPointerException` has been reported before and fixed in the meantime (see https://github.com/oracle/graal/issues/372 and https://github.com/oracle/graal/issues/385 for reference). You should [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes.

[2018-05-05 18:54] #404 closed

[2018-05-05 18:56] #401 closed

[2018-05-05 18:59] #393 closed

[2018-05-05 22:45] huntc commented on #401
As a follow up, I’ve started a discussion on Akka and Graal native-image support here: https://discuss.lightbend.com/t/akka-and-graal-s-native-image-tool/940

[2018-05-06 00:06] cstancu commented on #401
@huntc I think that's the right approach. We are working on lifting some of the SubstrateVM restrictions, but there is a limit to how far we can take that if we want to preserve the fast startup/low footprint benefits. Library and framework maintainers will have to meet us half way. We will follow the discussion and support the efforts to make this happen.

[2018-05-06 15:24] OlegIlyenko opened #406 "Issues with AtomicReferenceFieldUpdater"
I tried to use GraalVM CE 1.0.0-rc1 in a scala project but faced an issue with `AtomicReferenceFieldUpdater` which is used in scala's `TrieMap`.

I prepared a very minimal repository that reproduces the issue and contains more info (including the compiled image and verbose output from native-image):

https://github.com/OlegIlyenko/graalvm-sangria-test

The native-image is compiled successfully, bu

[2018-05-06 17:32] io7m commented on #394
Is this something that's intended to be optional? I could see situations where I'd prefer a statically linked binary, but others where I'd prefer to keep them dynamically linked.

[2018-05-06 19:38] sureshg opened #407 "[native-image] Cross compilation support?"
Any plans to add cross-compilation feature to `native-image`? I know it's too early to ask for these kind of requirements since we don't even have a working Windows build. IMHO, this would be a nice feature (golang has nice support for it) to have especially if we want to build binaries for all platforms from a CI (Jenkins) machine.

[2018-05-06 22:23] thomaswue opened #408 "Graphhopper library shows weird performance pattern when executing with GraalVM"
See https://twitter.com/timetabling/status/993110231252021249

[2018-05-07 06:57] lukasstadler commented on #381
Yes, the relationship between the gollvm-created bitcode and the Go runtime library is somewhat special - FWIW, even llvm's own "lli" seems to be unable to handle it.
We're looking into various ways to make that work, we may need to introduce a special hook for Go code.

[2018-05-07 07:47] karussell commented on #408
This applies only for EE and it is likely as you suggested a warmup problem because increasing the query count to 50K the average response time went down from 19ms to 14ms (similar value we get for the CE)

[2018-05-07 08:01] dougxc commented on #408
Hi @karussell , I'm having some problem running the benchmark described at https://discuss.graphhopper.com/t/running-the-routing-engine-on-graalvm-openjdk8-and-openjdk10-shenandoah-gc-zgc/3011. Firstly, it seems as though the dataset URL may be out of date:
[code]
Browsing around http://download.geofabrik.de I managed to find what I believe is the [right file](http://download.geofabrik.de/europe/g

[2018-05-07 08:28] karussell commented on #408
Thanks for trying this. Please use the `0.10` branch (sorry, we have to fix the measurement in latest master and also the OSM PBF downloading stuff)

[2018-05-07 08:50] dougxc commented on #408
Thanks - 0.10.0 works.
Can you please explain how the numbers in the [table](https://discuss.graphhopper.com/t/running-the-routing-engine-on-graalvm-openjdk8-and-openjdk10-shenandoah-gc-zgc/3011) are extracted
from the `measurement*.properties` file.

[2018-05-07 08:59] karussell commented on #408
Yes, a bit unclear too. Here are the important values (left the key from the measurement properties)

route = routing.mean

route CH = routingCH.mean

route LM4 = routingLM4.mean

prepare CH = prepare.ch.time (is in ms)

The last value prepare.ch.time is only calculated if the graph folder calculated from scratch (can take really long so the default is to avoid calculation if already existent). So

[2018-05-07 10:10] dougxc commented on #408
On my MacBook, I'm unable to reproduce the large outlier time for `route` on Graal EE compared to Graal CE:

measurement | OracleJDK 8u161 | Graal CE | Graal EE
-------------- | ------------- | ------------ | -------------
routing.mean | 9.412532988 | 10.3255645 | 12.907907935999999

I suspect this is result of the slower warmup we currently have for EE.

Please re-open if there's something furthe

[2018-05-07 10:10] #408 closed

[2018-05-07 10:12] karussell commented on #408
Thanks for taking the time for this! Do you have any links to the warmup issue? Or is this an internal issue tracker?

[2018-05-07 10:16] dougxc commented on #408
We only have an internal issue tracking the work to compile Graal ahead of time to use as a shared library in HotSpot. It is quite a major change which also requires JVMCI API changes. We hope to have something publicly available within 2 months. I'll be sure to notify https://oss.oracle.com/mailman/listinfo/graalvm-users and https://oss.oracle.com/mailman/listinfo/graalvm-dev once it is out.

[2018-05-07 11:04] olpaw commented on #394
@io7m the default will remain as it is (output dynamically linked binaries). I'm just adding `--static` to optionally allow building of statically linked executables.

[2018-05-07 11:33] io7m commented on #394
Sounds good, thanks! Looking forward to this.

[2018-05-07 15:46] olpaw commented on #405
@Glavo, thanks for your report. I will have a look if this can be fixed easily.

[2018-05-07 17:00] harmanpa opened #409 "LanguageCache.collectLanguages() creates invalid path on Windows"
This line fails on Windows:
https://github.com/oracle/graal/blob/3122d963ef7a5e1674ef8f590deda5a85b16ebc0/truffle/src/com.oracle.truffle.api.vm/src/com/oracle/truffle/api/vm/LanguageCache.java#L199

as `((JarURLConnection) connection).getJarFileURL().getPath()` creates a path with a leading slash, e.g. `/C:/path/to/file.jar`

[2018-05-07 18:56] borkdude opened #410 "Binary size increases more than 2x with option -H:+ReportUnsupportedElementsAtRuntime"
I compiled [this clojure project](https://gitlab.com/konrad.mrozek/cljfmt-graalvm) using `native-image` without and with the option `-H:+ReportUnsupportedElementsAtRuntime`.

Compiled without the option:

[code]

Compiled with the option:
[code]

As you can see the size increases more than 2x with the option. I had a discussion about this with https://twitter.com/cstancu and he suggested I post an

[2018-05-07 22:06] Peter-B-Kessler commented on #410
I do *not* see this result when building the JavaScript image on GraalVM EE on MacOS El Capitan (10.11.6).
[code]
The image built with `-H:+ReportUnsupportedElementsAtRuntime` is slightly larger, but not enough to complain about.

I get similar results on Linux.

[2018-05-08 07:16] borkdude commented on #410
I'm not complaining, just reporting. Also, what would be the reason for 2x size? I attached the jar file in question, so you don't have to install leiningen (the Clojure build toold).

[cljfmt-graalvm-0.1.0-SNAPSHOT-standalone.jar.zip](https://github.com/oracle/graal/files/1982701/cljfmt-graalvm-0.1.0-SNAPSHOT-standalone.jar.zip)

[2018-05-08 10:13] olpaw commented on #394
Fixed. See https://github.com/oracle/graal/commit/622cd8acc818bfccb1c9a4ee750b488b8c1fcbcc

[2018-05-08 10:13] #394 closed

[2018-05-08 10:17] olpaw commented on #394
The new option is
[code]
To use it you must install static variants of libc and zlib first.
(On fedora you would use `sudo dnf install glibc-static zlib-static`)

[2018-05-08 10:20] olpaw commented on #386
see https://github.com/oracle/graal/issues/394#issuecomment-387355567

[2018-05-08 10:20] #386 closed

[2018-05-08 13:07] thomaswue commented on #410
Thanks for posting @borkdude. This is indeed unexpected. Would assume this has to be the same size.

[2018-05-08 15:44] sound2gd opened #411 "[native-image] native image failed to build jar"
I am a clojure user and I use leiningen to build a executable fat jar.

it can be runned directly using `java -jar`, but when I use `native-image -jar`

It stucked and hung forever

here is the output
![image](https://user-images.githubusercontent.com/10735388/39767564-a705887e-5319-11e8-8909-b369f26f9e2b.png)

[code]

[2018-05-08 16:55] cstancu commented on #411
@sound2gd thank you for your report, we'll look into it!

[2018-05-08 17:17] cstancu commented on #411
@sound2gd can you provide the steps to build that jar?

[2018-05-08 17:31] olpaw commented on #405
Fixed on master (https://github.com/oracle/graal/commit/023d1b0f0e75f887138cae001fa0e2ba2df02ea7).
Note that doesn't mean building an image for Ammonite succeeds.
IIUC, Ammonite is a full Scala repl relying on dynamic classloading. SubstrateVM doesn't support dynamic classloading: https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md#dynamic-class-loading--unloading

[2018-05-08 17:31] #405 closed

[2018-05-08 18:16] olpaw commented on #405
FWIW, implementing a full Scala repl on top of SubstrateVM would require a truffle-language implementation for Scala.
(I wonder if anyone from the Scala community is considering truffle as an execution environment for
https://github.com/lampepfl/dotty/tree/master/compiler/src/dotty/tools/dotc/core/tasty)

[2018-05-09 06:18] sound2gd commented on #411
@cstancu  sorry for late reply. here is the step.

first make sure you have installed [leiningen](https://leiningen.org/)
then

[code]

[2018-05-09 10:59] plokhotnyuk opened #412 "Performance regresion on long methods with big lookup switches"
I have a benchmark which parses JSON data from UTF-8 bytes to a structure of nested classes with 20-40 fields.

Code for that is generated by Scala macros and compiled by scalac to long methods with big lookup switches (one for each field) like here: https://gist.github.com/plokhotnyuk/1e2ee19d3cc80c3644bc9e453c8aae77

With GraalVM CE/EE it shows ~2x slowdown comparing to running on Oracle JDK 8.

[2018-05-09 11:32] BottosGroup opened #413 "What about graal used for light VM of blockchain"
As we know , blockchain could use light vm to run a light operation, just like evm or wasm. What about the graal used for blockchain? Who are interested in this issue?  Is it possible?

[2018-05-09 15:59] sundbp commented on #400
Did you manage to reproduce from that example repo? Thanks

[2018-05-10 09:22] roman01la opened #414 "AOT compiled JavaScript?"
Hello! Is it possible that Graal's JavaScript partial evaluator can be used to AOT JavaScript code?

[2018-05-10 10:12] dougxc commented on #414
Hi @roman01la, please see [this discussion](https://news.ycombinator.com/item?id=16997615).

[2018-05-10 10:12] #414 closed

[2018-05-10 13:42] plokhotnyuk commented on #412
Screenshot of the reverse flame graph from GraalVM EE:
![image](https://user-images.githubusercontent.com/890289/39872589-c480a816-5468-11e8-803f-0c26f61ca886.png)

[2018-05-10 13:44] plokhotnyuk commented on #412
Screenshot of the reverse flame graph build using GraalVM EE:

![image](https://user-images.githubusercontent.com/890289/39872677-076d2ec4-5469-11e8-8bea-84e925fcbb26.png)

[2018-05-10 13:46] plokhotnyuk commented on #412
The same graph with JDK 8:
![image](https://user-images.githubusercontent.com/890289/39872756-4345c79e-5469-11e8-8d0d-149aca60d123.png)

[2018-05-10 20:48] MartyIX opened #415 "How to compile VM suite?"
Hi,

I have tried to compile VM suite according to https://github.com/oracle/graal/tree/master/vm#base-graalvm and this is what I get:

[code]

so it seems that https://github.com/oracle/js.git is private/old repository. Is that correct?

My next attempt was to remove `/graal-nodejs`, then I get:

[code]

Am I doing something wrong?

Regards,
Martin

[2018-05-10 23:52] djhaskin987 commented on #389
Does that mean I don't have to license something as gpl if I build it using native-image?

[2018-05-11 08:06] pekd commented on #413
Of course you can embed Graal into your blockchain. But the big question is: why would you want to do that?

A scripting environment for a blockchain has certain requirements like determinism and limited resources (i.e. starting the program from the same initial state always has to lead to the same final state, and every program is guaranteed to terminate within a certain number of steps). Graal d

[2018-05-11 09:01] thomaswue commented on #389
Yes, correct.

[2018-05-11 10:49] harmanpa commented on #356
@httpdigest Did you make further progress with the build?

I have made some progress compiling Graal on Windows 10, see my fork at https://github.com/harmanpa/graal
It requires some changes in mx (hence also my fork at https://github.com/harmanpa/mx) to deal with windows paths.
I have added a dependency on https://github.com/dlfcn-win32/dlfcn-win32 in order to compile the Truffle native code.
Curr

[2018-05-11 12:14] dsyer commented on #348
You can get past this specific error by not using the fat jar launcher as a main method. But there are other bogies lurking. Spring Boot has a static (but optional) dependency on Groovy, for example, so even though it will never be used at runtime, a native-image cannot be built because `groovy.lang.Closure` is not available for a vanilla app. If you add Groovy to the classpath (even though it wil

[2018-05-11 12:17] dsyer opened #416 "Use of java.lang.reflect.Proxy generates error at runtime in native image"
Here's a `HelloWorld` app that runs fine from java:

[code]

So:

[code]

But it fails when compiled to a native image:

[code]

[2018-05-11 12:35] fniephaus opened #417 "Virtual method invocations vs. code duplication"
Let's say I have the following classes for storing `bytes` or `ints`:

[code]

To get all values, one could implement the following node:
[code]

This, however, will cause virtual method invocations which Truffle can't optimize well.
First, I thought I could rewrite the node like this:
[code]
Unfortunately, virtual calls are still a problem.
To avoid virtual calls completely, one could inline the

[2018-05-11 12:52] gilles-duboscq commented on #415
Regarding Graal.js, the URL is wrong, until this is fixed, you can replace https://github.com/oracle/js.git with https://github.com/graalvm/graaljs.git in `vm/mx.vm/suite.py`:

    sed -i 's https://github.com/oracle/js.git https://github.com/graalvm/graaljs.git ' vm/mx.vm/suite.py

The second part about `ConnectionResetException`  looks like an issue with the JDK version used for compilation, can

[2018-05-11 12:57] MartyIX commented on #415
@gilles-duboscq Thank you! I'll try.

As for the `ConnectionResetException`, this is my fault as I use JDK 10 by purpose as I thought that Graal can be compiled under any JDK 8+ and the only caveat being that your team does not provide binaries for JDK 9+ to general public at the moment to avoid supporting so many JDKs in this early phase.

[2018-05-11 13:11] thomaswue commented on #417
Treat the following as pseudo-code. Would something like this achieve what you want? Only downside currently would be that the partial evaluator will not work across the #apply call (i.e., the call will be inlined only later), but this might be fixable.

`public class VirtualMethodProfile<T, R>  {
    private final Function<T, R> function;
    private @CompilationFinal(dimensions = 1) Class[] rece

[2018-05-11 13:30] fniephaus commented on #417
I haven't fully understood how Truffle profiles work in detail to be honest, but this one records receiver classes and adds new ones that it hasn't seen for a given `Function`. So I'd be able to use such a profile similar to the below (pseudo-code, haven't used Java `Function` that often)? Also, your profile draft needs to return something after the `receiverTypes = newTypes` line :)

[code]

[2018-05-11 13:36] smarr commented on #417
@fniephaus why is there still a problem with virtual calls in the version using `doA(A)`? At this point, the compiler should know during PE that the `A` is actually a `B` or `C`, no?

I guess this could be an issue that `doA(A)` was not actually inlined during PE, because some limit was hit?

[2018-05-11 13:38] thomaswue commented on #417
Fixed the missing return value by editing the comment. Who cares about the slow path case 😉.

Yes, that would be the theory that you can use the profile like you showed. The second version would need to be BiFunction, but also on-the-fly capturing the i value in a lambda should work.

[2018-05-11 13:39] fniephaus commented on #417
@smarr I don't know and I was unable to debug this on my own...I only saw a significant change in the AST (virtual calls no longer existed) when using the inlined version for some reason.

[2018-05-11 14:34] gilles-duboscq commented on #415
While it is possible to run the various parts of GraalVM on JDK9+, it is not possible to build a GraalVM based on JDK 9+ at the moment.

The deployment and integration of the GraalVM components into the JDK is very different between JDK8 and JDK9+. In JDK8 is is based on class loaders and trusted locations inside the JDK while on JDK9+ it is based on the module system and requires a lot of command

[2018-05-11 15:14] eregon commented on #417
For the specific case of arrays, in TruffleRuby we use [array mirrors](https://github.com/oracle/truffleruby/blob/b2d83aa61f9430f99c00f46951f9fa37d43b5188/src/main/java/org/truffleruby/core/array/IntegerArrayMirror.java) and [array strategies](https://github.com/oracle/truffleruby/blob/b2d83aa61f9430f99c00f46951f9fa37d43b5188/src/main/java/org/truffleruby/core/array/ArrayStrategy.java#L195) object

[2018-05-12 00:27] cstancu commented on #348
@dsyer can you provide the trace for the `java.lang.ClassCastException: jdk.vm.ci.hotspot.HotSpotUnresolvedJavaType cannot be cast to jdk.vm.ci.meta.ResolvedJavaType` that you mention above? Thank you!

[2018-05-12 02:02] cstancu commented on #400
I was able to reproduce, thank you! Looking at the log output of `./create-exe.sh` I see a lot of warnings of the form:
[code]
These are generated by SubstrateVM and are quite serious. (As a side node: we should increase the visibility of this kind of messages especially when they are intermingled with log messages from the static initializers of the library that we are trying to build, like it ha

[2018-05-12 06:53] dsyer commented on #348
Sure:

[code]

[2018-05-12 07:31] sundbp commented on #400
Great - thanks for progress report.

Question: Could I have done anything myself to fix the UnsafeUtil
errors/warnings? Short of understanding all of SVM :) I'd love to learn
enough to sort these kinds of things for myself going fwd.

On Sat, May 12, 2018 at 3:02 AM, Codrut Stancu <notifications@github.com>
wrote:

[2018-05-12 21:51] zmitrok commented on #415
@gilles-duboscq do you need any help from the community to get to a JDK9-based GraalVM or is it already in the works and we just can't see the progress being made?

[2018-05-12 22:29] cstancu commented on #400
Definitely, we have a mechanism that allows you to do that, although the end goal is to automate the process of detecting and patching unsafe operations. We have a blog article scheduled for next week that goes into details.

[2018-05-13 04:29] rlewczuk opened #418 "[native-image] build crashes when trying to use mysql JDBC driver"
I tried to compile following code:

[code]

Got following error:

[code]

Used following command:

[code]

Tested with several mysql-connector versions: 5.0.8, 5.1.6, 5.1.46, GraalVM CE 1.0-rc1.

Not sure that it is but looks like some kind of internal error. If something inside JDBC/driver is not supported (yet), some more readable message would be useful.

Thanks and regards,
rle

[2018-05-13 05:11] anidotnet opened #419 "[native-image] How to implement plugin architecture in application"
As a limitation of substrate vm, dynamic class loading is not possible. So what is the idiomatic way of introducing plugin architecture in a native application?

[2018-05-13 17:49] cstancu commented on #418
@rlewczuk this looks like an internal error. Thank you for reporting.

[2018-05-13 17:54] cstancu commented on #419
@anidotnet all the plugin implementations need to be available during image building and, assuming they are loaded/allocated via reflection, the classes need to be [registered for reflection](https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md).

[2018-05-13 18:18] anidotnet commented on #419
That is very restrictive and totally defies the merit of plugin system. Is there any plan/consideration to add dynamic class loading later in future?

[2018-05-13 18:37] cstancu commented on #419
There is no plan to support "true" dynamic class loading in SubstrateVM itself, i.e., dynamic loading of bytecodes that are not available at image build time. This restriction is necessary to preserve the fast startup/low footprint benefits. However, conceptually this can be implemented at the application level, e.g., via a Truffle based Java implementation. We are not currently working on this bu

[2018-05-14 03:50] anidotnet commented on #419
Can you please elaborate more on this?

[2018-05-14 06:19] nicokosi opened #420 "[native-image] Cannot generate a native image from a Clojure JAR: command does not end"
I cannot generate a native image from a Clojure JAR file, with GraalVM Community Edition 1.0 RC1.
I did:
[code]
And got this error:
[code]

My setup:
- macOS
- Leiningen is installed (https://leiningen.org/#install) with a Hotspot JVM:
[code]

Since this issue seems similar to https://github.com/oracle/graal/issues/385, I also tried to build from source. I cloned https://github.com/oracle/graal (c

[2018-05-14 08:02] pekd commented on #419
You can use the Truffle framework to implement language interpreters (like the JavaScript/Ruby/R/Python/llvm/… interpreters right now). These language interpreters can be included in a native image. Therefore, you could develop a Java interpreter on top of Truffle, include that in your native image, and use that for your dynamically loaded plugins. Or just use one of the existing language interpre

[2018-05-14 09:39] gilles-duboscq commented on #415
Hi @zmitrok, we are working on JDK9+ based GraalVM builds.

[2018-05-14 10:31] chumer commented on #417
This is how you would apply `@Cached` in your use-case:

[code]

[2018-05-15 17:05] sundbp commented on #400
Excellent - Looking forward to reading the blog article! (and follow up on what goes wrong with PosixJavaNio!)

[2018-05-15 22:34] marc0der commented on #367
@shelajev I've released 1.0.0-rc-1 as I could no longer hold back the enthusiastic crowds. I've done so under the Java candidate as this does not cause any clashes right now.

I'd still be happy for your team to perform your own releases under the Java candidate going forward though. Let me know your thoughts around this.

[2018-05-16 00:27] cstancu commented on #411
@sound2gd I tried to replicate the issue on my machine and I get a different behavior. The `native-image` runs for ~4 minutes but the build crashes because it detects unsupported features. On my machine the heap size of `native-image` gets up to the max, 14GB. You probably have less memory on your machine so the `native-image` runs with much less and at some point the GC occupies most of the execu

[2018-05-16 00:30] cstancu commented on #420
@nicokosi this seems to be the same issue as reported in #411 and trying to replicate it I get the same behavior as detailed in https://github.com/oracle/graal/issues/411#issuecomment-389356526.

[2018-05-16 04:43] nicokosi commented on #420
Thanks for your response. 👍

When running from source (commit 5dc95abd42795d871c937d5be205ef01ae7300ff) on my machine (macOS), `native-image` visibly takes half of my machine's memory (8Go on 16Go) and all the CPU cores:
<img width="1440" alt="screen shot 2018-05-16 at 06 37 16" src="https://user-images.githubusercontent.com/3862051/40096996-f4193a38-58d3-11e8-9b31-139dcfff7338.png">

[2018-05-16 15:27] lbialy opened #421 "Compiling scala compiler with native-image yields a NPE"
Hello :)

I tried to compile scala compiler (v2.12.6) with native-image and sadly it crashed with a NullPointerException:

[code]

Is this a known problem? I'm using GraalVM 1.0.0-RC1 EE.

[2018-05-16 16:44] chumer commented on #421
As far as I know @vjovanov works on this. I think it is targeted for 1.0 RC2.

[2018-05-16 16:54] cstancu commented on #421
The NPE was reported before and fixed. You can try building from source, but I am not sure if @vjovanov pushed all other changes needed for the scala compiler.

[2018-05-16 22:49] cstancu commented on #406
@OlegIlyenko the `AtomicReferenceFieldUpdater` issue should be fixed in https://github.com/oracle/graal/commit/3a120f4e2ba530d18a3e6c46e5b9141becd37d90. You can [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the fix.

[2018-05-16 22:49] #406 closed

[2018-05-16 22:50] vjovanov commented on #421
Yes, this has been fixed.
There is a few more minor changes that I have on a PR. I will merge them in the next couple of days.
Scala 2.12.6 and 2.13.x will be compiling by the next release. Also, as soon as the merges are in you will be able to use the public version of SVM to build `scalac`.

[2018-05-16 23:32] OlegIlyenko commented on #406
Awesome, thanks a lot! :+1:

[2018-05-17 05:12] lbialy commented on #396
Any update on this? :smile:

[2018-05-17 13:06] vjovanov opened #423 "Incorrect behaviour when compiling the Scala compiler"
To reproduce:
[code]
The failure is:
[code]
The method that misbehaves is probably
[code]
as changing it with `println` statements made the bug go away.
Big thanks to @lrytz for finding the bug and identifying the method that fails.

[2018-05-17 14:42] lrytz commented on #423
That looks unexpected. Is it a fresh checkout / can you run `git clean -dffx`? `MapLike` is something from 2.12 land, should not show up/exist in 2.13.

[2018-05-17 15:38] dougxc commented on #423
After running `git clean -dffx`, I can now reproduce - thanks.

[2018-05-17 17:51] Peter-B-Kessler commented on #396
I wrote an implementation of `sun.nio.ch.UnixAsynchronousSocketChannelImpl.checkConnect(I)V` but did not have a test for it.  So I wrote a test for it and got some of the dreaded "RecomputeFieldValue.FieldOffset automatic substitution failed." errors during image building.  I handed the repo to @cstancu.  I will make him an assignee.

[2018-05-18 06:44] lrytz commented on #423
Once diagnosed or fixed, we'd be interested to hear what the issue was. Is the Scala compiler emitting exotic bytecode patterns?

For a long while, we had intermittent failures on CI that we could never nail down (https://github.com/scala/bug/issues/9264). That was on HotSpot. We could not reproduce the issue reliably. Maybe there is a small chance the the issue we're seeing here on Graal is relat

[2018-05-18 12:48] schmitch opened #424 "[native-image] running play on GraalVM/SubstrateVM"
Hello,
I wanted to share my knowledge of running Play on GraalVM and wanted to point out some "issues" along the way.

Some error messages I couldn't really resolve are these:
- Error: Must not have a FileDescriptor in the image heap.
- Error: Must not have a started Thread in the image heap.

See: https://gist.github.com/schmitch/469eae4062373b6fe67def99ec220103
(I also created a repository to re

[2018-05-18 19:13] cstancu commented on #424
@schmitch thank you for your report. The `Must not have a <unsupported-feature> in the image heap.` errors have been updated and are more descriptive now:
[code]
,where `<unsupported-feature>` currently can be: `a started Thread`, `a FileDescriptor`, or `a ZipFile object`.

In the near future we will also support loading resources via `ClassLoader`, probably similarly to how we support [resource b

[2018-05-19 07:08] jakirkham commented on #389
What about Docker images where components of this stack may need to be bundled to run an application?

[2018-05-21 20:12] shelajev commented on #367
@thomaswue, I think we can close this issue. GraalVM CE is available on sdkman. And on jabba as it happens.

[2018-05-21 20:29] fniephaus opened #426 "Difference between TraceTruffleCompilationPolymorphism and TraceTruffleCompilationAST?"
What is the difference between `TraceTruffleCompilationPolymorphism` and `TraceTruffleCompilationAST`? Their [help texts appear to be identical](https://github.com/oracle/graal/blob/1b109ea1c9ed59239c5e266ee69ba7350fd9ce37/compiler/src/org.graalvm.compiler.truffle.common/src/org/graalvm/compiler/truffle/common/TruffleCompilerOptions.java#L226-L230) which might be a documentation bug.

[2018-05-22 05:48] cushon opened #428 "[native-image] runs forever on closure compiler"
`native-image` (built at a6781fa81b067f7d7dcee77feb48d4ab255ee3b1) appears to hang when processing https://github.com/google/closure-compiler. The following invocation ran for >90 minutes without finishing:

[code]

[2018-05-22 07:56] zaharidichev commented on #373
@cstancu Thanks for the time to elaborate on all the details. So it appears to me that the sequence of steps is:

[2018-05-22 08:02] zaharidichev commented on #373
Hi there @cstancu Thanks a lot for elaborating on these topics. So it appears to me that the two major pieces of work are finishing the AArch64 compiler backend and then providing support for that in SVM.  Is there any kind of board outlining planned broken down work on any of these major tasks. Just asking because if there is any way to help, I would be more than glad to (although the matter can

[2018-05-22 12:51] sundbp commented on #400
I've now read the blog post - great!

@cstancu would you mind making a PR with the unsafe substitutions you made for my example repo? I'd love to see if it matches up with how I'd do it after reading the blog post.

[2018-05-22 12:54] dougxc commented on #423
@lrytz what kind of println statements make the problem go away? Adding `-XX:CompileCommand=exclude,scala.tools.nsc.backend.jvm.BCodeIdiomatic\$LabelDefsFinder::traverse` confirms your suspicion that the problem is in the compilation of `scala.tools.nsc.backend.jvm.BCodeIdiomatic$LabelDefsFinder.traverse` and I'm now trying to work out which Graal phase is causing the problem.

[2018-05-22 14:15] dougxc commented on #423
@lrytz II know it's a big ask, but is there anyway you can boil this error down to a simple(r) reproducer?

[2018-05-22 14:35] melix opened #430 "[native-image] Fails with java.lang.ArrayIndexOutOfBoundsException: -1"
## Context

Trying to build a native image of the Gradle launcher. This is the very first time I'm trying `native-image`, so there's obviously not a lot of details here. It means that fixing this issue would probably be not enough to generate a working image.

Nevertheless, it can be reproduced by running `native-image` on a Gradle installation.

`/opt/DEV/graalvm-1.0.0-rc1/bin/native-image -cp li

[2018-05-22 17:19] mukel commented on #423
Triggers only on `graal-enterprise`

[2018-05-22 17:48] MateuszKubuszok commented on #378
In case someone had the same error (and maybe need a one-liner for docker image:

[code]

[2018-05-22 18:39] lrytz commented on #423
@dougxc to minimize the number of players in the game, you can run `java` directly without sbt, and use the scala compiler "as a library".

Download 2.13.0-M4 from https://downloads.lightbend.com/scala/2.13.0-M4/scala-2.13.0-M4.tgz

[code]

I don't have a good idea how to minimize the issue further. Compiling fewer files will probably lead to different profiles and might not trigger the bug in Gra

[2018-05-22 20:27] marc0der commented on #367
Sure. BTW, future releases can be added to sdkman in the same way through PRs on the db migrations project going forward.

[2018-05-22 20:27] #367 closed

[2018-05-22 21:54] sheevy commented on #349
Would it be possible, in principle, to use something like lilc, which translates CIL to LLVM IR (https://github.com/dotnet/llilc however it seems to be dead).

[2018-05-22 21:58] chrisseaton commented on #349
I think it's generally best to write Truffle interpreters as high-level as you can, as this means that tools understand and report on the actual source language, not a lower-level representation. You may also lose useful information about the program which could be used for optimisation when you lower it to another representation.

So the gold standard would be an AST interpreter for C# and the ot

[2018-05-22 23:10] spullara opened #431 "[native-image] NullPointerException"
[code]

[2018-05-22 23:58] cstancu commented on #430
Thank you for your report. This is the same problem as https://github.com/oracle/graal/issues/418. It is due to the old JSR/RET subroutines. I reproduced it with Gradle 4.7 which is Java version 49, i.e., Java 1.5. I will push a fix for it soon.

[2018-05-23 04:34] cstancu commented on #400
Actually the substitutions that I used were quite simple. For protobuf I cheated and essentially disabled unsafe memory access by just returning `null` from `com.google.protobuf.UnsafeUtil.getUnsafe()`. Protobuf is built with a failsafe mechanism if unsafe memory access is not available on a platform. For JCTools is just the same substitution as in the article. Here is the entire substitution file

[2018-05-23 07:51] RUSshy commented on #304
Any news on this ?

[2018-05-23 08:37] danielnorberg commented on #390
Really looking forward to compiling our cli with native-image when ssl/https support lands. Any updates on when it might be implemented or any pointers on how to contribute to make this work?

[2018-05-23 09:18] dsyer commented on #431
I have a similar issue:

[code]

Steps to reproduce here: https://github.com/dsyer/spring-boot-micro-apps. I'm happy to open another issue if this one is actually different.

[2018-05-23 09:32] mukel commented on #423
Narrowed it down to `-Dgraal.OptimizeLoopAccesses=false` which is one of the latest phases.

[2018-05-23 09:40] sundbp commented on #400
@cstancu I'm struggling to get a build going with those substitutions included. If I use graal as distributed in the 1.0.0-rc1 I don't have the `--report-usupported-elements-at-runtime` option available and the build fails with:
[code]

If I try to use native-image from git (after installing the svm.jar from that build), and using the `--report-unsupported-elements-at-runtime` option I get:
[code]

[2018-05-23 11:26] melix commented on #430
Thanks for the answer. For the record, the launcher jar uses classes version 49 for silly reasons: Gradle only supports running on JDK 7+ (soon JDK 8+ only), but we still want to provide a nice error messages to users who are on older JDKs, so we need to be able to run on JDK 5 to say we need 7 :D

[2018-05-23 11:43] sundbp commented on #400
Dumping packages we can see for the non-native image case:
![image](https://user-images.githubusercontent.com/61735/40421824-1a90454c-5e85-11e8-966e-f3c6067d54c3.png)

Native image case:
![image](https://user-images.githubusercontent.com/61735/40421925-6dac7232-5e85-11e8-8ca7-6af8725fb91d.png)

Looks like the initial handshake takes place in both sessions, but then for in native-image case it ends

[2018-05-23 13:14] sundbp commented on #400
Added a printout to the args passed to writev before it crashes:
`Address is 0x7FE91A602DB0 with len 2. fdo is true and fd is 27`

So that doesn't obviously look "bad".

One thing that is a little suspicious to me is that fd always seems to be 27 (regardless if I open some other files, or some nc -lk etc on the same machine). I'm not sure if that is normal or not.

Starting to get to the end of my

[2018-05-23 14:23] sundbp commented on #400
Another experiment - check lsof of the process before I've created gRPC client, after I've created it but before I've sent any API request over it, and after it has crashed:
Before creating gRPC client:
[code]
After creating client, but before API call:
[code]
After crash (before process exits):
[code]

Not making me that much wiser, but at least I see how 27 is the "next fd in line" (and obviousl

[2018-05-23 14:40] sundbp commented on #400
A quick check that the iovec address doesn't get altered:
[code]
gives:
[code]

[2018-05-23 17:10] sundbp opened #432 "[native-image] Finding thread started through static initializers?"
Hi,

I'm trying to understand how I work out which static initializer leads to a thread being started as per the following error message from native-image:
[code]

I'm digging around the classes mentioned in that trace but it's not at all clear to me what static initialiser takes us down this path. How would an experienced SVM user go about this case?

Thanks!

[2018-05-23 19:06] cstancu commented on #432
The two parts of the error message should be interpreted like this. First the trace:

[code]

is generated during scanning of heap roots, i.e., scanning of constants. It represents a chain of concrete objects. The root of this chain is a constant embeded in the `method io.netty.util.internal.ObjectCleaner.register(Object, Runnable)` and it has the type `	object io.netty.util.internal.ConcurrentSet

[2018-05-23 19:10] Peter-B-Kessler commented on #400
Where are your `System.out.println`s shown just above?  Are they in `Target_sun_nio_ch_FileDispatcherImpl.writev0(FileDescriptor, long, int)`?

Is the `address`/`iov` a valid address?  Is it from a new `IOVecWrapper`, or reusing a cached one?  I assume the `Deallocator` has not already gone off, or the address would be 0.  If you follow the address, does it look like a (C) list of `struct iovec*`

[2018-05-23 19:13] cstancu commented on #431
This error was reported before and fixed (see for example https://github.com/oracle/graal/issues/385). The NPE was hiding an unsupported feature: trying to load a jar from a static initializer Please [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes.

[2018-05-23 19:13] #431 closed

[2018-05-23 19:21] sundbp commented on #432
Ok, I understand the output a lot better now.

It starts to sound like this may be tricky to work around without making changes to netty itself with regards to these static initializers - or am I getting that wrong and you can think of ways to continue?

(fwiw, this happens if I add `[io.netty/netty-tcnative-boringssl-static "2.0.7.Final"]` to the same cut-down example repo as my other thread, not

[2018-05-23 19:50] cstancu commented on #432
I haven't looked much into the static initializers in netty yet. At this point I cannot think of any quick ways to continue, it will probably require a bit more work on our side first. We are also considering the possibility to push some of the static initializers at runtime to deal with situations like this, trading some of the benefits of pre-initializing the entire heap with easing the developm

[2018-05-23 20:45] sundbp commented on #400
Yes, more exactly line 1355 in `substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/PosixJavaNIOSubstitutions.java`.

I'm not quite sure how to investigate the `address / iov`. How would I attempt to print out the content of the memory address here?

I'm not a java developer, not using any IDE/debugger - happy for brief instruction of useful tooling you'd use here!

The relevan

[2018-05-23 20:47] sundbp commented on #432
Ok - thanks for the info. Let me know if there's anything I can do to help test things as you continue forward!

[2018-05-24 14:51] mukel commented on #423
A fix is being merged, will be out for RC2.
The culprit was one of the optimization phases that went rogue with the `List` implementation in Scala, specifically with the mutable `var next` trick. The pattern was exotic enough that we couldn't reproduce it in Java.

[2018-05-24 17:20] concavelenz commented on #428
My run did eventually stop with an OutOfMemoryError but I failed to time it:

Build on Server(pid: 247414, port: 26681)*
   classlist:   1,010.54 ms
       (cap):   1,168.40 ms
       setup:   2,064.06 ms
RecomputeFieldValue.ArrayBaseOffset automatic substitution failed. The automatic substitution registration was attempted because a call to sun.misc.Unsafe.arrayBaseOffset(Class) was detected in t

[2018-05-24 18:44] cstancu commented on #430
The `ArrayIndexOutOfBoundsException` is fixed in https://github.com/oracle/graal/commit/c066358c0cd8e792b82d5d81ed0963b9e950f613. Now the image builds (you can try [building from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start)), however it throws a `NullPointerExceptionAtRuntime` at run time from `org.gradle.internal.installation.CurrentGradleInstallationLocator.locate

[2018-05-24 18:44] #430 closed

[2018-05-24 18:56] Peter-B-Kessler commented on #400
Since you are comfortable with modifying the source and rebuilding, but not debugging, for "tooling" I would recommend adding tracing code.

There is nothing for `SocketDispatcher` on the graal side.  We use the straight http://hg.openjdk.java.net/jdk8u/jdk8u/jdk/file/556b17038b5c/src/solaris/classes/sun/nio/ch/SocketDispatcher.java, which just trampolines to the corresponding native methods `File

[2018-05-24 19:00] cstancu commented on #430
By the way this is the stack trace for the NPE:
[code]

[2018-05-24 19:17] cstancu commented on #418
The `ArrayIndexOutOfBoundsException` is fixed in https://github.com/oracle/graal/commit/c066358c0cd8e792b82d5d81ed0963b9e950f613. Now the image builds (you can try [building from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start)) however it looks like mysql-connector is using unsupported features like `java.lang.reflect.Proxy` and `java.lang.ClassLoader`. We will have li

[2018-05-24 19:17] #418 closed

[2018-05-24 19:19] #421 closed

[2018-05-24 19:21] cstancu commented on #428
This is probably the same issue as reported in https://github.com/oracle/graal/issues/411. See also my response there: https://github.com/oracle/graal/issues/411#issuecomment-389356526. I will investigate it soon.

[2018-05-24 20:46] lrytz commented on #423
Is the fix in one of the recent commits here https://github.com/oracle/graal/commits/master/compiler?

Could you share what the exotic bytecode pattern is? Mutable varialbes seem pretty common in Java 😃.

[2018-05-24 21:06] dougxc commented on #423
The fix is in an enterprise extension so unfortunately it won't show up on GitHub. The problem (as I understand it) was that a node was hoisted outside a loop but one of its usages was not rewired correctly. In any case, the fix will be part of the next GraalVM release.

[2018-05-24 21:33] mukel commented on #423
Until then you can disable the phase by passing `-Dgraal.OptimizeLoopAccesses=false`

Not a bytecode pattern; but a very particular "code pattern" that aligned with other very unlikely conditions to trigger the bug. `scalac` is exotic on it's own :wink:.

[2018-05-25 01:34] BottosGroup commented on #413
OK， I know graal may be heavy for blockchain. But now the blockchain's evm can support specific lang and the tool chain is not popular for coder. So we want to find out a common enviroment which can load and excute some langs to easy it's development. Also the evm can plugin any excutor . So we want to adjust the graal  to adopt the chain.

[2018-05-25 01:36] BottosGroup commented on #413
We also want find some developers to join our team and make a new type evm

[2018-05-25 22:42] aemadrid opened #433 "Minimal Java app example to run ruby"
I'd like to build a static Ruby app and it seems `native-image` only support Java/JVM languages. Could you provide a simple example of a minimal Java app to run some Ruby code?

[2018-05-25 22:44] chrisseaton commented on #433
Do you want to compile a Ruby application to native?

[2018-05-25 22:47] aemadrid commented on #433
yes, I want to compile a Ruby app. Just like `mruby` but without the limitations.

[2018-05-25 22:49] chrisseaton commented on #433
Graal cannot AOT compile a Ruby application. It can only AOT compile a JVM bytecode application.

It can AOT compile a Ruby interpreter, which is what `mruby` is, and that is what the `ruby` executable you get in GraalVM is - an AOT compiled Ruby interpreter.

[2018-05-25 22:51] aemadrid commented on #433
For me it is not so much about the performance improvements but how easy it would be to distribute the app and the garbled/hidden code. Nothing big for the moment but mostly small CLI apps.

[2018-05-25 22:53] chrisseaton commented on #433
In the future it may be possible to compile a special version of the Ruby interpreter that has your code already loaded and initialised, so it is ready to start running the code immediately, but this is not something we're actively working on right now.

[2018-05-25 22:57] aemadrid commented on #433
I see. I was confused about how the AOT worked. So to run Ruby code the Java code still needs a Ruby interpreter then?

[2018-05-25 23:00] chrisseaton commented on #433
Yes that's right.

The reason this doesn't work for Ruby is that compiling pessimistic (never deoptimising) machine code from Java code is tractable and can be reasonably fast. I'm not sure that compiling pessimistic machine code from Ruby code is going to be reasonably fast. There are AOT Ruby compilers but I'm not really sure how much of the Ruby language they implement - I think it's not all of

[2018-05-26 08:51] fcurts commented on #389
What's the status of this? More clarification with regard to licensing would be very welcome.

[2018-05-26 09:07] eregon commented on #433
FWIW it seems mruby and [mruby-cli](https://github.com/hone/mruby-cli) just add the Ruby code compiled as bytecode in the final executable, and of course still ship the mruby interpreter.
We could probably do something similar by storing the pre-parsed AST of the application Ruby code in the executable. We already do this for the core library, but not yet for application Ruby code.
Note that both

[2018-05-26 14:47] aemadrid commented on #433
It would be enough for me. It’s super easy to distribute and the minimal garbling is just enough for me.

[2018-05-26 15:13] thomaswue commented on #389
@jakirkham Distribution is generally allowed. See point "3." of GPL+CPE for details. https://github.com/oracle/graal/blob/master/compiler/LICENSE.md

@fcurts Yes, this is coming soon. We treat this as top priority and will also add a clarifying guidance re licensing.

[2018-05-27 10:32] eregon commented on #433
Currently, the standard library (both Ruby files and C extensions) are not stored in the native image but in a sibling directory. IIRC some of the libraries expect them to be real files and e.g., be able to `File.read()` them. As Chris said, this is not something we're actively working on right now.

On the other hand, one could distribute an archive containing truffleruby (bin/truffleruby + lib/)

[2018-05-27 18:50] vmutafov commented on #349
Happy to see there are fellow developers interested in this idea. :)

Writing an interpreter for the LLVM bitcode generated by LLILC would probably be harder than interpreting C#/CIL. The reason for this is that the LLILC compiler "changes" your C# code in a way to enable features like garbage collection, exception handling and memory management as a whole, in the C# runtime (e.g. CoreRT).
A disad

[2018-05-27 19:45] jfrhdehdrkde commented on #419
Another possibility would be to create a C api and write your plugins in C/C++. You would then compile the plugins with normal gcc/clang to shared library (.so/.dll) and load it with System.loadLibrary.

[2018-05-28 15:16] renatoathaydes opened #434 "[native-image] Process dies without apparent errors"
I am using GraalVM to compile a native-image for my HTTP server.
It seems to work great, but when I load test it it dies even under modest request loads.

When running on the JVM, it never dies even under much higher loads.

I have tried to simplify my application in order to identify what is causing the process to crash, but interestingly, the process won't die in any of the scenarios I tested wi

[2018-05-28 19:27] cstancu commented on #434
Thank you for your report. That is indeed unexpected. We'll look into it!

[2018-05-29 06:52] RomanIakovlev commented on #357
I've come here via internet search for the same stack trace as mentioned by @cstancu in https://github.com/oracle/graal/issues/357#issuecomment-383322363, however I'm not sure if root cause is the same.

The stack trace looks like this:

[code]
It comes from Apache Commons compression library, and the code immediately before the exception is the following:

[code]
Is this the same issue? If not, s

[2018-05-29 09:56] jstriebel opened #435 "[bug report] multiple errors in scala/sbt/js project"
I am trying to move the build process of the `scala/sbt/js` based project webknossos to GraalVM (scalableminds/webknossos#2647).

The compilation of the project works fine, but `sbt stage` (which involves js (e.g. webpack builds)) takes very long (> 50min, with OpenJDK/NodeJS ~3min) and has several errors, which can be seen in the [CI output](https://circleci.com/gh/scalableminds/webknossos/3737).

[2018-05-29 11:33] dougxc commented on #435
Thanks for the report @jstriebel. Two things that may help diagnosing this:
* Set `-Dgraal.TruffleCompilationExceptionsAreFatal=true`
* Make the dump files (i.e. those mention in [messages](https://circleci.com/gh/scalableminds/webknossos/3737?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) like `Dumping debug output in /home/circleci/webknossos/dumps/1527524793

[2018-05-29 19:22] Anuken commented on #304
I'm getting a similar problem with a libGDX game using LWJGL3. Looks like it tries to initialize openAL statically. [Here's the error log,](https://hastebin.com/ehowohofah.sql) and the [problematic file](https://github.com/LWJGL/lwjgl3/blob/bb38fb3c2b151cc84248d20aaa3a166f8b0ea6c0/modules/lwjgl/openal/src/main/java/org/lwjgl/openal/AL.java) on Github.

Does anyone have any ideas besides editing LW

[2018-05-30 00:25] gnp opened #436 "Hard-coding search for $VALUES prevents GraalVM native-image from working on (some) obfuscated jars"
https://github.com/oracle/graal/blob/8a11ac495df7ebf2b99a3ae2e6dfc018d83d9424/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/analysis/Inflation.java#L167

Observed problem in the version of SubstrateVM used by this version of GraalVM: _graalvm-ee-1.0.0-rc1-macos-amd64.tar.gz_

To reproduce, download the minecraft 1.12.2 server jar from

https://launcher.mojang.com/mc/game/1.12.2/s

[2018-05-30 02:51] gnp commented on #436
Alternatively, if there is only one static member with the required type, it’s probably safe enough to go for it.

[2018-05-30 08:06] dougxc commented on #435
@wirthi can you please assign someone from the GraalJS team to investigate this.

[2018-05-30 08:27] jstriebel commented on #435
PS: Please feel free to correct the title to something more useful for you.

[2018-05-30 13:45] chengenzhao opened #437 "Dart support"
Newbie question, any reason why Dart is not supported? Would it be possible technically?
Apologies in advance if this is out of scope of the project.

Thanks

[2018-05-30 15:47] Anuken opened #438 "[native-image] Can't load Shared Libraries"
I am trying to compile a java libGDX .jar using native-image. No errors are produced during compilation, but when I try to run the resulting executable, I get [this error](https://hastebin.com/utocobukej.sql), despite the fact that all the relevant `.so` files are in the jar file.

[Here](https://github.com/libgdx/libgdx/blob/master/gdx/src/com/badlogic/gdx/utils/SharedLibraryLoader.java#L288) is

[2018-05-31 06:30] mustafaakin opened #439 "native-image Bridging Go with Java fails with Graal"
Go can build shared libraries as well. Fetched an example code from somewhere and come up with the following:

[code]

The corresponding Java class:

[code]

Script to build and run with normal Java:

[code]

It compiles succesfully but in the runtime it fails:

[code]

In the runtime:
[code]

I also checked whether I should link the generated shared library .so

[code]

What am I doing wrong?

[2018-05-31 07:27] Jotschi commented on #353
I created a small example project which uses Vert.x (utilizes netty). It could be used to test native-image generation. I'm going to use this project to check when native image generation with netty will work in the future.

https://github.com/Jotschi/vertx-graalvm-native-image-test

[2018-05-31 10:19] rbygrave opened #440 "[native-image] UnsupportedFeatureError: unimplemented ... at com.oracle.svm.core.posix.Target _java_net_PlainSocketImpl.socketGetOption (PosixJavaNetSubstitutions.java:2958)"
Trying to use native-image with a small test program that creates a Postgres JDBC Connection.

I'm using:
[code]

Getting the exception below.

[code]

I did build the image with `native-image -H:+ReportUnsupportedElementsAtRuntime -H:ReflectionConfigurationFiles=../reflectconfig.json -jar app.jar`

reflectconfig.json is:
[code]

It just looks like PlainSocketImpl.socketGetOption(PosixJavaNetSubst

[2018-05-31 12:02] Jotschi commented on #420
I see the same issue (NPE) using this example project:
https://github.com/Jotschi/orientdb-graalvm-native-image-test

Is there a way to somehow print the object that is being scanned? I would like to know which class is causing the trouble.

[2018-05-31 12:44] rtfpessoa opened #441 "fatal error: java.lang.InternalError: java.lang.InternalError: Malformed class name"
I got this issue but I cannot understand what might be the source of it.

https://pastebin.com/6pucZWUe

Any ideas how I can further debug to understand what is causing this?

[2018-05-31 12:48] dougxc commented on #441
This looks like something that may have already been fixed by https://github.com/oracle/graal/commit/07cb3e0b2f8b8d765ef89217a7554f8c06b65974#diff-1bac5f5761ba33975a372908063c1111

[2018-05-31 13:12] rtfpessoa commented on #441
Thanks for the quick answer @dougxc.

Any way for me to test with that fix on Mac OS? Or even linux (I guess I could do it in a vm or docker)

[2018-05-31 13:29] dougxc commented on #441
I don't know of an easy way to test this apart from waiting for the next GraalVM release. @vjovanov or @ansalond may know more.

[2018-05-31 13:36] vmutafov commented on #437
Wouldn't dart2js do the work? Compile Dart to JS and then execute it on the GraalVM. I haven't tried it, but I think of trying it.

[2018-05-31 14:17] rtfpessoa commented on #441
@chrisseaton  gave me a tip to follow https://github.com/oracle/graal/tree/master/substratevm and seems to let me build `native-image`.

[2018-05-31 14:38] rtfpessoa commented on #441
Closing this since seems fixed.

[2018-05-31 14:38] #441 closed

[2018-05-31 16:36] Jotschi commented on #438
I had to place the lib files in a `clibraries/linux-amd64` folder. I think you can also use the `-H:CLibraryPath` setting to set the path.

[2018-05-31 16:57] Anuken commented on #438
@Jotschi Just tried putting all the shared libraries in the `clibraries/linux-amd64` folder, and then specifying it with `H:CLibraryPath` with both absolute and relative directories. Neither seemed to work-- I think the problem may be with how libGDX loads libraries. It fails when trying to call [getResourceAsStream](https://github.com/libgdx/libgdx/blob/master/gdx/src/com/badlogic/gdx/utils/Share

[2018-05-31 17:05] Jotschi commented on #438
@Anuken No - sorry. I was referring to my own usecase. I'm also a bit lost but I think you may need to specify the native methods of your class in the JNIConfigurationFile. (Wild guess)

[2018-05-31 18:21] Jotschi opened #442 "[native-image] Netty with native EPoll support"
I'm trying to build a native image for netty / Vert.x which makes use of the native EPoll library (`netty-transport-native-epoll`).

The image generation is however failing with error:

Full Log:
https://gist.github.com/Jotschi/c9ba9e54fed1a7bdb6d1acf4c1f1aaa4

I think this is similar to the error in this issue:
https://github.com/oracle/graal/issues/365

A very basic reproducer can be found in th

[2018-05-31 18:39] Anuken commented on #438
Oh.
After specifying all the classes with JNI in them in the config, I compiled again. This increased the size of the resulting image significantly, but I still ran into the same error.

I finally decided to just replace the libGDX `SharedLibraryLoader` with my own version that loaded from local files-- this worked, surprisingly, but the errors just kept coming. Now I'm getting a `UnsatisfiedLink`

[2018-05-31 18:45] cstancu commented on #420
@Jotschi the NPE was fixed. You can [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) or wait for the next GraalVM release.

[2018-05-31 18:52] cstancu commented on #440
@rbygrave thank you for your report. You are right, `PlainSocketImpl.socketGetOption(PosixJavaNetSubstitutions.java:2958)` is not currently implemented.

[2018-05-31 19:36] Jotschi commented on #420
@cstancu I just tried the master. I can no longer observe the NPE. Thanks

[2018-06-01 15:55] jstriebel commented on #435
Hi Christian,

our current quick fix is to simply use nodejs and give it precedence in the PATH.

To reproduce the problem, checkout commit [`1df1d00a9a88c996ff12c3c034ed646f5fb4c2bf` of `scalableminds/webknossos`](https://github.com/scalableminds/webknossos/pull/2647/commits/1df1d00a9a88c996ff12c3c034ed646f5fb4c2bf) and simply follow the [steps of the CI](https://circleci.com/gh/scalableminds/web

[2018-06-02 03:39] cstancu commented on #428
The problem reported above is fixed. You can get the fixes by [building from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start). After running `mx build`, assuming that your working directory is `substratevm` and that you have `closure-compiler-v20180506.jar` there, you can run:
[code]
This will build the `closure-compiler-v20180506` executable in the current directory, w

[2018-06-02 03:39] #428 closed

[2018-06-02 14:44] concavelenz commented on #428
Thank you!

On Fri, Jun 1, 2018, 8:39 PM Codrut Stancu <notifications@github.com> wrote:

[2018-06-02 22:15] sundbp commented on #400
I ended up first sick and then busy. I ran through that trace:
[code]

The call to `convertLongReturnVal` is where the exception is thrown on unclean returns so it's natural we don't see the `result:` part of the trace.

As I expected it shows nothing I didn't expect from other traces etc I've done.

When I say I'm not using a debugger that doesn't mean I wouldn't be happy to give it whirl. It's j

[2018-06-03 01:44] kjeet opened #444 "Private Java Method and Field Access"
In GraalPython only public fields and methods of Java objects are accessible. Digging into the source a little bit, this seems to be enforced in the Truffle Framework, not GraalPython (see [JavaClassDesc.java](https://github.com/oracle/graal/blob/master/truffle/src/com.oracle.truffle.api.interop.java/src/com/oracle/truffle/api/interop/java/JavaClassDesc.java#L95)), so I assume this limitation appl

[2018-06-03 17:03] vlsi opened #445 "[native-image] NPE in NativeImageHeap.addObjectToBootImageHeap -> Proxy_15_Iterables_iterators.toString"
Testcase:

    git clone --depth=1 https://github.com/yandex-qatools/juseppe.git
    cd juseppe
    mvn -DskipTests package
    # Get juseppe-cli/target/juseppe.jar
    native-image --verbose --class-path juseppe.jar -H:Name=juseppe -H:Class=ru.lanwen.jenkins.juseppe.JuseppeCli

Output

[code]

[2018-06-03 18:53] cstancu commented on #445
@vlsi thank you for your report. This issue was [recently fixed](https://github.com/oracle/graal/commit/bade450af5e9e08935a5b6df7ba69a4dd9ed6026). Please [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes.

[2018-06-03 18:53] #445 closed

[2018-06-04 12:36] dougxc commented on #423
Please re-open this issue if there's still a problem in the next GraalVM release (in the next few days).

[2018-06-04 12:36] #423 closed

[2018-06-04 12:45] peter-hofer commented on #439
The problem is that the library is loaded in the static constructor `static { ... }`. Static constructors are already executed when the class is loaded during the build, but are no longer executed at runtime. If you move the `System.loadLibrary()` call to the first line of `main`, it will work.

[2018-06-04 12:45] #439 closed

[2018-06-04 12:47] peter-hofer commented on #438
Addition: we do not support loading native libraries from static constructors, because these are already executed when the class is loaded during the build and no longer at runtime (see also #439).

[2018-06-04 13:22] mustafaakin commented on #439
Yes, I confirm it works when the shared library is loaded in the main:

[code]

[2018-06-04 15:32] concavelenz commented on #420
Any reason not to close this?

[2018-06-04 17:15] Jotschi opened #447 "[native-image] PGO Instrument build failing"
I'm seeing a `ClassCastException` error when building a native image using  the `--pgo-instrument` flag. Same build passes without the flag.

## Version

* graalvm-ee-1.0.0-rc1-linux-amd64.tar.gz

[code]

## Error

[code]

## Reproducer

https://github.com/Jotschi/vertx-graalvm-native-image-test/tree/dev-pgo (__dev-pgo__ branch)

1. Run maven build
`mvn clean package`

2. Run native image build
[c

[2018-06-04 17:37] cstancu commented on #420
@concavelenz unfortunately this is not fixed yet; the same fix as for #428 doesn't apply here. Just like with #411 this takes a lot of time and memory, but it eventually finishes compilation (and reports unsupported features).

[2018-06-04 18:51] Anuken commented on #438
@peter-hofer Thank you for the response! Yes, I did get that issue as well. To fix it, I had to make a copy of the original file, change the `static{}` initialization to runtime lazy-initilization and save it in the same exact package, then compile it and replace the resulting `.class` files in the jar.

[Here is a new jar with these fixes applied.](https://mega.nz/#!m9gCTQDK!hO8SwadWalzTWfMxw46ri

[2018-06-04 20:41] mustafaakin opened #448 "Native image library running with AWS Lambda"
I have a simple image, wanted to run a Java function with a Go bridge in AWS Lambda (because it uses a stupid non-standard go specific RPC/input format). When I bundle my application as a zip and upload to AWS and try to run the binary, I get the following error:

[code]

What can cause that? I have built both in a Docker with OpenJDK. In under Docker, it works like following:

[code]

But when de

[2018-06-05 10:38] stephanfrind opened #449 "Graal CE slower than c1/c2 for factorial"
# graal seems to produce code for a factorial example that is slower than normal jit

It takes 2x longer to compute a factorial if graal is used.

I used
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)
on windows 10

# use graal within jvm
export JAVA_TOOL_OPTIONS="-XX:+UnlockExperimentalVM

[2018-06-05 11:46] vlsi opened #450 "[native-image] allPublicMethods does not include constructors"
https://github.com/oracle/graal/blob/079591ab18a5694a8ba5cf630ed4f76d3442fe21/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/config/ReflectionConfigurationParser.java#L154-L155

It is somewhat confusing that `allPublicMethods` does not include `public <init>`.
I think it should either include the constructors or `allPublicConstructors` option should be created.

[2018-06-05 12:15] dougxc commented on #449
Hi @stephanfrind , thanks for the report. Do you see the same slow down when comparing stock JDK8 with GraalVM CE or GraalVM EE? Juts trying to narrow down whether this a Graal issue or a JDK10 issue.

[2018-06-05 15:46] stephanfrind commented on #449
I have tried it on graalvm-0.30.2-linux-amd64-jdk8.tar.gz

bash-4.2# java -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.71-b01-internal-jvmci-0.38, mixed mode)

bash-4.2# java -XX:-UseJVMCICompiler -jar factorial.jar 10000
factorial(10000) bitlength 118459
computation time 36621 ms

bash-4.2# java -XX:+UseJVMCICo

[2018-06-05 17:13] chumer commented on #449
Please note that its not 36621 ms but 36621 µs. So it is likely that Graal was not compiling yet. Still the difference should not be this significant if Graal is enabled.

[2018-06-05 17:24] chumer commented on #444
Interesting idea. no objection if it is guarded behind a flag. However I don't want to make it an access right, because I don't want to make it enabled if `allowAllAccess(true)` is set. I think this should be a debug option not for production use. I suggest  an option you can pass in like `--engine.respectHostAccessibility=false`. Not 100% certain about the option name.

[2018-06-05 17:40] stephanfrind commented on #449
I have changed the warmup to
		int i = 100;
		while (i-- > 0) {
			tempResult = factorial(aNumber);
		}
and fixed the computation time. Sorry for confusion.

result:
 code is slower

graal seems to compile it because -X:+PrintCompilation  shows
    343  252       3       de.frind.test.Factorial::factorialTail (28 bytes)

Picked up JAVA_TOOL_OPTIONS: --module-path=/C/temp/graalsf/data/org.graalvm.g

[2018-06-05 18:47] cstancu commented on #450
@vlsi that's a good point. Thanks for reporting. I will add options for `allPublicConstructors` and `allDeclaredConstructors`:
[code]
I think it is better to have a finer granularity.

[2018-06-05 19:33] kontrafiktion commented on #442
Would it help to call the static block in ThreadDeathWatcher from the main function?

[code]

see https://github.com/oracle/graal/issues/424

[2018-06-05 20:12] kjeet commented on #444
Sounds good. I'll whip up a first pass at it.

[2018-06-05 20:54] dougxc commented on #449
Ok, thanks, I'll investigate further.

[2018-06-05 21:11] Jotschi commented on #442
@kontrafiktion Thanks. I patched a few more classes and handled the static constructor calls in the main. That solved the issue. I'm now down to two errors.

[code]

[2018-06-05 21:14] cstancu commented on #436
Issue is fixed in https://github.com/oracle/graal/commit/77f19a97ff1862461be5f12d18a152c4dc0a785d. [Build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes.

[2018-06-05 21:14] #436 closed

[2018-06-05 21:35] cstancu commented on #450
Issue is fixed in https://github.com/oracle/graal/commit/59fc579975dac729c90dc00cbcf29121534dac13. Please [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes.

[2018-06-05 21:35] #450 closed

[2018-06-05 22:37] Peter-B-Kessler commented on #448
Thanks for finding that.

The underlying problem is that `pthread_setname_np` is not declared the same way on all POSIX platforms.  (That's what the `_np` means.)  See https://stackoverflow.com/questions/2369738/can-i-set-the-name-of-a-thread-in-pthreads-linux/7989973#7989973 for more details than you probably want.

It would be interesting to find out how AWS declares it.

OpenJDK avoids this iss

[2018-06-06 02:48] avatar21 commented on #405
I had the same problem ... trying to convert a maven-based springboot jar into executable.

[code]

I saw that you have fix it in [here](https://github.com/oracle/graal/commit/023d1b0f0e75f887138cae001fa0e2ba2df02ea7), I assume now it should parse jar correctly, so I checkout from git, how am I going to build the latest changes that you've made, but I seems not able to follow those instructions (s

[2018-06-06 03:26] kontrafiktion commented on #442
Is that the full stack trace? No “caused by ...”?

[2018-06-06 04:46] cstancu commented on #405
@avatar21 to build SubstrateVM from source please follow the instructions [here](https://github.com/oracle/graal/issues/450#issuecomment-394868345).

[2018-06-06 05:02] avatar21 commented on #405
Erm I kinda get it one step further this time, it generates a binary for me ... super NICE, however the result isn't correct (exception thrown), probably related to the UnsupportedElementsAtRuntime previously ...

- generate executable fro jar (1st attempt)
[code]

- generate executable fro jar (2nd attempt)
[code]

- try to execute
[code]

[2018-06-06 05:08] cstancu commented on #405
@avatar21 yes, that error means that we don't currently support `java.security.ProtectionDomain`.

[2018-06-06 05:08] Jotschi commented on #442
@kontrafiktion Yes. That is the full stacktrace.

[2018-06-06 06:19] avatar21 commented on #405
@cstancu thanks, is it in another word SpringBoot is not supported yet??

[2018-06-06 07:49] kontrafiktion commented on #442
Your article (https://vertx.io/blog/eclipse-vert-x-goes-native/) does not mention how you handle JNI

   https://github.com/oracle/graal/blob/master/substratevm/JNI.md

Especially I do not see

   `-H:+JNI`

in your command line.

(But I am admittedly very far out of my depth)

[2018-06-06 07:57] Jotschi commented on #442
@kontrafiktion I'm actually using the `netty-native-epoll` branch to test this and the build.sh script uses the mentioned flag. I'm a bit clueless why the `FileDescriptor` class can't be initialized. It has some native methods but those should afaik be provided by the netty-transport-native-epoll native lib.

[2018-06-06 08:50] peter-hofer commented on #438
Indeed we currently don't support JVMTI. So loading the shared libraries works now (despite the necessary changes)?
Please keep us posted, I think running projects like this would make a great use case for Graal native images.

[2018-06-06 12:18] fniephaus opened #452 "Provide and use mirrors for external dependencies"
When running `mx eclipseinit` in `compiler/`, I'm currently getting errors like this:

[code]
Obviously, this is because [lafo.ssw.uni-linz.ac.at is down](https://downforeveryoneorjustme.com/lafo.ssw.uni-linz.ac.at). It might be good to provide mirrors that are used as fallbacks to avoid these situations.

[2018-06-06 12:30] fniephaus commented on #452
Our CI builds also fail because of this at the moment...

[2018-06-06 12:53] sanzinger commented on #452
We're working on that, should be be up soon.

[2018-06-06 13:16] sanzinger commented on #452
The fileserver is back up. For the future we should create a hosting mirror for these files.

[2018-06-06 13:23] fniephaus commented on #452
@sanzinger thanks!

I've renamed the issue, so it can be used to track the progress of introducing hosting mirrors.

[2018-06-06 15:11] mukel commented on #449
You are using `graal-ce` bundled with OpenJDK which can be a bit outdated.
The main issue here seems to be warmup; Graal takes more time to warmup than Hotspot; with proper warmup I managed to get within 10% of Hotspot with `graal-enterprise` and within 30% with `graal-ce` on the latest `1.0.0-rc2`. Hotspot is still faster but not 2x faster.

We are working on `libgraal`; an AOT version of Graal t

[2018-06-06 15:59] chumer commented on #426
Sorry for the delayed response.

Thanks for pointing that out. Seems like a copy past error. `TraceTruffleCompilationPolymorphism` is a new flag to debug when a language reports polymorphism that we use for our new splitting heuristic. Read more about this here: https://github.com/oracle/graal/tree/master/truffle/docs/splitting

[2018-06-06 16:50] dariusf opened #454 "java.lang.NoClassDefFoundError: javax/servlet/http/HttpServletRequest"
Encountered this trying to build a native image with the current master:

[code]

`app.jar` is a (nontrivial) fat JAR created with Maven Shade. Let me know if I can provide any other useful information.

[code]

[2018-06-06 17:09] fniephaus commented on #426
@chumer thanks!

[2018-06-06 17:28] chumer commented on #426
Sorry `TraceTruffleCompilationPolymorphism` is actually not related with the new splitting. sorry for the noise. It can be used to print nodes with node cost polymorphic on compiles.

[2018-06-06 18:11] cstancu commented on #454
Thanks for your report. I assume your jar is missing `javax/servlet/http/HttpServletRequest`, however `-H:+ReportUnsupportedElementsAtRuntime` should push the error at run time. I'll look into it.

[2018-06-06 19:03] dougxc commented on #449
@mukel , can you please show @stephanfrind how you implemented proper warmup.

[2018-06-06 21:47] schmitch commented on #424
Well we could probably look if we could rewrite some logic that supports SubstrateVM, however without support for `ClassLoader#getResource` it's probably not simple.

I have created some work that now supports image creation, but fails on runtime:
Play branch https://github.com/schmitch/playframework/tree/substrate-vm-optimization
Play project https://github.com/schmitch/play-scala-starter-example

[2018-06-06 23:08] markehammons opened #455 "Graal CE 1.0-rc2 is slower than C1/C2 on SciMark 2.0a"
[This is](https://math.nist.gov/scimark2/download_java.html) an ancient bench, but it's alarming the results I'm getting for it on graal ce 1.0-rc2.

GraalCE results
[code]

Graal EE results
[code]

C1/C2 (-XX:-UseJVMCICompiler) results:
[code]

As you can see, Graal EE is not affected or is not affected as badly as CE is in this bench. It is odd that C1/C2 beats it in fast fourier transform calcu

[2018-06-07 00:06] Peter-B-Kessler commented on #434
I suspect you are relying on the fact that `FileInputStream` declares an override of the `Object.finalize()` method.  SubstrateVM does not support finalization (for lots of reasons).  [Here](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md) is the full list of SubstrateVM limitations.

The best thing for you to do would be to explicitly call `FileInputStream.close()` when you

[2018-06-07 00:51] mukel commented on #449
With Graal enabled, `-XX:+PrintCompilation` shows that Graal is also being compiled; this is the overhead `libgraal` aims to remove.

Proper warmup means making sure the method is hot; but how many hits? 100? 1000?

The **proper** way is to use [JMH](http://openjdk.java.net/projects/code-tools/jmh/), and even JMH can be outsmarted by Graal (see #402).
Check Shipilev's [Nanotrusting the Nanotime](h

[2018-06-07 03:14] Anuken commented on #438
Yes, it does seem to load the libraries now. I've updated my LWJGL3 version to the latest snapshot, and while the JVMTI error seems to be gone now, I'm getting a new, probably-unrelated (native?) [crash](https://hastebin.com/amovepobit.go) related to usage of `sun.misc.unsafe`.
While it could be related to an error made by me while upgrading, I somehow don't think that's the case.

[2018-06-07 03:59] johnzeringue opened #456 "Ignore non-existent classpath entries"
Running `native-image` with non-existent classpath entries (i.e. `native-image Main -cp /not/a/real/dir`) causes an error like

[code]

However, the `java` binary doesn't care about these types of classpath entries. Something like `java Main -cp /real/file.jar:/not/a/real/file.jar:/real/dir:/not/a/real/dir` is fine as long as `Main` doesn't end up missing classes it needs.

I only care because bet

[2018-06-07 08:09] olpaw commented on #456
@johnzeringue I agree. I will turn non-existent image classpath entries into warning messages instead. Thanks for reporting!

[2018-06-07 08:35] tmysik commented on #337
I just tried the RC2 and the stacktrace is a bit different, see [this gist](https://gist.github.com/tmysik/b4b2dfaa8a520efe170e0ad467cbe78d).

My steps:
- open (our) web Grails 2.5.6 application in IDEA IDE
- edit its Run Configuration, add `-XX:-UseJVMCIClassLoader` to VM options
- run it

-> exception from the gist occurs

Not sure what exact command the IDE runs but it prints this one:
[code]

[2018-06-07 10:02] thomaswue commented on #412
Thanks for testing again. @axel22 What is your current assessment?

[2018-06-07 11:37] JornVernee commented on #356
I've also tried this today. Currently I'm running into a bunch of these

[code]

I'm also using JDK 10 (build 10-ea+42). It seems like mx is checking that the JDK version is exactly 1.8?

[2018-06-07 11:39] dougxc commented on #337
Hi @tmysik , is it possible for you to provide a small Grails app that I can use to reproduce the problem?

[2018-06-07 11:41] dougxc commented on #356
Yes, mx now enforces strict JDK compliance for projects. Please see [this thread](http://mail.openjdk.java.net/pipermail/graal-dev/2018-June/005410.html) for more detail.

[2018-06-07 11:47] JornVernee commented on #356
@dougxc Ah yes! I ran into that in the mailing list as well, but didn't remember ;) I guess the documentation in graal/compiler/README.md
 ("Graal should work out of the box with JDK 9 or later.") should be updated.

Is building with JDK 9+ not supported any more? Or do the compliance values still need to be updated?

[2018-06-07 11:49] tmysik commented on #337
@dougxc will try to prepare one but will take me some time. Thank you.

[2018-06-07 11:52] dougxc commented on #356
You should still be able to build with `JAVA_HOME=/path/to/jdk9` as long as `EXTRA_JAVA_HOMES=/path/to/jvmci-jdk8`. It just means the projects with a Java compliance > 9 will be ignored.

[2018-06-07 11:55] JornVernee commented on #356
Ok, I never got the jmci jdk 8 build working on windows, and there's no distribution :/ So I wanted to try with JDK 9.

Oh well.

[2018-06-07 11:59] dougxc commented on #356
Maybe you can build a "JVMCI jars only" JVMCI JDK8 on Windows following the advice here: http://mail.openjdk.java.net/pipermail/graal-dev/2018-June/005413.html
That would allow you to build Graal and try run on JDK 10.

[2018-06-07 12:09] JornVernee commented on #356
Will give that a try, thanks.

[2018-06-07 12:36] JornVernee commented on #356
That worked, running `mx build` now gets me to this point:

[code]

Seems like there's some kind of race condition going on?

@dougxc Thanks for the helps so far, but I think I'll just wait until someone else gets this working or there is a distribution of GraalVM for windows. I don't wanna keep tying you up ;)

[2018-06-07 12:41] peter-hofer commented on #438
Looking at the LWJGL code, I might have found the problem: `MemoryAccessorUnsafe` determines the offsets of the `address` and `capacity` fields of a `Buffer` in a static initializer using magic constants. That static initializer runs at the native image's build time, but the determined offsets can be (and probably are) different at runtime.
Can you try fixing that too or provide me with your curre

[2018-06-07 12:55] dougxc commented on #356
Yes, it's probably best to wait for Windows to be a supported platform.

[2018-06-07 13:03] Jotschi commented on #447
Also happens using graalvm-ee-1.0.0-rc2-linux-amd64.tar.gz

[2018-06-07 13:47] Anuken commented on #438
Oh, I see. It looks like it might be related to one of the issues discussed [here](https://github.com/oracle/graal/issues/304)? It's strange that no compile-time errors are thrown. I'll be away from home for most of today, so I'm not sure if I'll have time to try and fix it right now.

[Here is the link to the updated JAR file.](https://mega.nz/#!akplXYJB!uWWtS06Qennxf-Kj6hlgajn9sP4P-RBAIy-h2aWOYp

[2018-06-07 15:00] markehammons commented on #455
I have other benches grabbed from the languages shootout showing performance degradation in some cases from the C1/C2 JITC to Graal's. Should I post those as a seperate issue or would you like that I put them in here?

[2018-06-07 15:13] thomaswue commented on #455
Thanks for measuring performance. It is great to see that EE outperforms C1/C2 according to your measurements. We do have a lot of synthetic benchmarks internally. What would be interesting to us are benchmark setups with more real-world workloads; in particular with complex object-oriented abstractions rather than simple mathematical algorithms.

[2018-06-07 16:45] plombardi89 commented on #407
Definitely would love to see this feature! This would make it so much nicer to use Java for CLI apps and servers that need to be distributed to users on Linux, Mac and Windows.

[2018-06-07 17:48] cstancu commented on #454
The issue is fixed in https://github.com/oracle/graal/commit/ae4804b186cc35d39436c1dd9c5869639d436a9c.

[2018-06-08 10:17] sundbp commented on #400
@Peter-B-Kessler happy to dig more - incl debuggers etc. If you have the time to briefly describe what you'd do next I'm happy to try to run with it.

[2018-06-08 15:02] stephanfrind commented on #449
Thank's a lot for pointing me at JMH.
I did measure your Benchmark GH_449 with Oracle java 10 (build 10.0.1+10,), JMH 1.19 and Graal head version from git repo.
I used 50 warm up iterations in order to avoid to measure graal compiling itself. I checked that with a run with `-XX:+PrintCompilation` and saw that within the first 30 warm up cycles Graal compiled itself too.
In order to measure code ge

[2018-06-08 15:09] dougxc commented on #449
Thanks for confirming the results @stephanfrind . It's also nice to see that Graal EE is on par with the standard JDK. I suspect the inlining algorithm in EE makes the difference here (compared to CE).
Please re-open if you have further questions.

[2018-06-08 15:09] #449 closed

[2018-06-08 22:52] markehammons opened #459 "GraalCE 1.0-rc2 is slower than nashorn on nbody from the languages shootout"
When comparing graal to nashorn I found that CE is running slower than nashorn. This doesn't seem like it should be happening, as EE completely blows nashorn out of the water on this bench with a ~5x speedup.

[ce_results.txt](https://github.com/oracle/graal/files/2086354/ce_results.txt)
[ee_results.txt](https://github.com/oracle/graal/files/2086355/ee_results.txt)
[ojdk_results.txt](https://githu

[2018-06-09 03:01] cushon opened #460 "[native-image] UnsupportedFeatureError: ObjectOutputStream.writeObject()"
I ran into this stack trace using `native-image` on an application that uses Java serialization:

[code]

I didn't see a discussion of serialization in `LIMITATIONS.md`. Is this something you plan to support and haven't gotten to yet, or is serialization not supported?

[2018-06-09 04:58] dariusf commented on #454
Thanks for responding so quickly! The problem still occurs though; seems like [this constructor call](https://github.com/oracle/graal/blob/fb04b787128e94d385e9aea17104642d52d41629/substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/meta/AnalysisUniverse.java#L255) is still reachable.

[code]

I've worked around it temporarily by removing the dependency (Sentry) which references

[2018-06-09 06:11] renatoathaydes commented on #434
Hello!

There was one place where I indeed forgot to close the `FileInputStream` I was using! Thanks for the great hint.

After I [fixed that and stopped using File*Stream](https://github.com/renatoathaydes/rawhttp/commit/36e84f6c07c14f78eb8b4d2f2cbe86c35c3c66d6) as @cstancu suggested, the server won't crash anymore! And the performance seems to be about the same as before.

Awesome work, thank yo

[2018-06-09 06:28] lbialy commented on #396
Still present in rc2 :cry:

[2018-06-09 06:31] lbialy commented on #455
Why do I get a feeling that by not addressing the fact CE was sluggish you're kinda pointing towards the conclusion that this was expected @thomaswue?

[2018-06-09 14:05] thomaswue commented on #459
Thanks for reporting. This seems indeed like a bug. We will look into it. Good to see the ~5x speed up still ;).

[2018-06-09 14:15] thomaswue commented on #455
@lbialy For this particular instance of mathematical benchmarks (created in 1999), it is expected that CE is currently lagging. We are working on improving performance of both CE and EE versions. Generally, it is for compilers always a trade-off between compilation speed and peak performance. The EE version compiles slower but then produces the best machine code (also for this instance) while the

[2018-06-10 19:05] brettwooldridge commented on #361
@xiongxin *"Why PHP is not supported?"* is rather a rude question.  This is a volunteer effort, there is no entitlement to support of any particular language.

*"It would be great if PHP was supported"* or *"I would like to vote for PHP support"* would be a request that developers are more likely to respond positively to.

[2018-06-10 19:05] #346 closed

[2018-06-10 20:38] thomaswue commented on #459
@brettwooldridge Our benchmarks indicate on average more than a factor 2 better JavaScript performance vs Nashorn with GraalVM CE. And another factor on top of that with GraalVM EE.

The benchmark in question here is heavily dependent on handling of JavaScript objects with 7 primitive number fields and no object fields. This is not your average case outside of physics simulations.

What type of Ja

[2018-06-10 20:51] thomaswue commented on #361
It is a legitimate question and thanks for asking it.

We would be happy to collaborate with one of the existing PHP implementors for adding PHP support (e.g., Zend or Facebook). Or maybe adding Hack support, which is a PHP dialect.

Implementing a language on GraalVM is a lot easier than from scratch (because compiler, GC, and other infrastructure pieces are provided for free). For languages with

[2018-06-11 01:37] cqjjjzr opened #461 "[native-image] Any chance to support dynamic class loading if the JARs loaded by code is given at native-image compiling time?"
From the "LIMITATIONS.md" I know the dynamic class loading is not supported.
But is there any way to support it if the JARs loaded is already known when compiling and can the native-image tool statically link it into the built program?
Also, can the tool just analyze the invocations to Class.forName and find out the class being loaded if it's invoked by a const string class name.(Like forcely load

[2018-06-11 03:35] zuohuadong opened #463 "support typescript"
we need  typescript .
thanks

[2018-06-11 05:06] cstancu commented on #461
@cqjjjzr thank you for your comment. Yes, the features that you mentioned are not available yet, but we plan to implement them. They should be available soon.

[2018-06-11 08:10] tmysik commented on #337
@dougxc I tried to create a [sample application to reproduce this problem](https://github.com/tmysik/grails-helloworld). Thanks.

[2018-06-11 09:30] boris-spas commented on #426
Fixed in https://github.com/oracle/graal/commit/b272dac2408ce296b72112431c9dc1abf1041bc5.
Thanks for the heads up!

[2018-06-11 09:30] #426 closed

[2018-06-11 10:50] peter-hofer commented on #438
I managed to temporarily work around the crash by using the substitutions mechanism to use the correct field offsets: ```@TargetClass(className = "org.lwjgl.system.MemoryAccess", innerClass = "MemoryAccessorUnsafe")
final class Target_org_lwjgl_system_MemoryAccess_MemoryAccessorUnsafe {
    @Alias
    @RecomputeFieldValue(kind = Kind.FieldOffset, declClass = Buffer.class, name = "address")
    sta

[2018-06-11 11:12] fniephaus commented on #426
@boris-spas thanks for the fix!

[2018-06-11 13:11] pmlopes opened #464 "Add support for user defined type casts when crossing from non Java to Java language"
One feature that for example `Nashorn` has is the support for dynalink. Although dynalink is quite a complex component one feature would be quite nice to have for polyglot integration.

Imagine that we are working with JavaScript and a scripting language and use a Java library (that was not written by you (so you can't modify its source). Now say that the library definesa method:

[code]
From the

[2018-06-11 14:31] chumer commented on #464
@pmlopes what do you think of identity preservation? If you pass the cast value back into JavaScript should it be converted back to the original object?

[2018-06-11 16:06] Anuken commented on #438
Is it worth trying to re-write big chunks of LWJGL code and remove **all** static initializers, substituting for runtime initialization?

[2018-06-11 16:58] dougxc commented on #337
Thanks for the sample. However, when I run `env JAVA_HOME=/Library/Java/JavaVirtualMachines/graalvm-ee-1.0.0-rc2/Contents/Home grails -XX:-UseJVMCIClassLoader run-app`, I don't think the `-XX:-UseJVMCIClassLoader` option is going to the VM as I don't get an error if I substitute it with an invalid option. For example:
[code]

[2018-06-11 19:25] cstancu commented on #438
@Anuken we are investigating the possibility to push some of the static initializers execution at run time to avoid this kind of issues. However, this is just in the idea phase for now and we don't have a concrete time line nor we know if that will solve all the LWJGL issues. For now, replacing the static initializers in LWJGL that cause issues seems to be the only solution.

[2018-06-11 19:43] pmlopes commented on #464
I can imagine that that would be nice to have but I also think it could complicate a lot the implementation, as many references between objects would be required. I think that the reverse path could also go through this "interceptor" and would lookup a converter form the Java type to the scripting "type", this would allow users to write the custom converters and probably for cases where both way c

[2018-06-11 23:51] thomaswue commented on #463
We do support running TypeScript like any other JavaScript engine.

[2018-06-12 00:26] rroller opened #465 "Shutdownhook not firing with native"
Firing off a CTRL C will not call the shutdown hook in the following example when running as native. It will fire when running with `java jar`

[code]

[2018-06-12 01:07] cstancu commented on #460
It is not currently supported because we haven't gotten around to do it yet.

[2018-06-12 12:13] worlwide opened #466 "logo for graal"
Hello there. I design a logo in my free time. I want to design a logo for you. What do you think ? I want to contribute you.

[2018-06-12 13:36] markehammons opened #468 "Segfault when using -XX:+UseNUMA"
Hi all,

When using graal EE on a project that i've been testing it with extensively, and activating NUMA mode (cause it's a NUMA arch, and I'm using a ton of threads), I get this segfault:
[code]

[2018-06-12 13:40] markehammons commented on #468
Thanks @dougxc, i was just in the middle of cleaning that up :+1:

[2018-06-12 13:42] dougxc commented on #468
no problem ;-)
Can you please paste the contents of `hs_err_pid5792.log` in a gist and link to it here.

[2018-06-12 14:37] markehammons commented on #468
[hs_err_pid5792.log](https://github.com/oracle/graal/files/2094479/hs_err_pid5792.log)

Here it is.

[2018-06-12 14:42] dougxc commented on #468
This looks like https://bugs.openjdk.java.net/browse/JDK-8198794 which is [fixed in 8u172](https://bugs.openjdk.java.net/browse/JDK-8200694). GraalVM RC2 is based on 8u171 but the next GraalVM release will be based on 8u172. Until then, you'll have to avoid using NUMA.

[2018-06-12 14:43] dougxc commented on #468
Please re-open if the next GraalVM release still has this issue.

[2018-06-12 14:43] #468 closed

[2018-06-12 16:09] woess commented on #464
I agree this feature would be nice to have.
Would it be sufficient to have these custom converters only as fallback, i.e., if no other conversions are applicable? Alternatively, we could prioritize them over catch-all conversions (target type `Object`or the like).

[2018-06-13 00:30] newk5 opened #469 "InvalidPathException on Windows when trying to eval js"
Despite Windows support not being fully available yet, I was told on gitter that Graal in its interpreted mode should already work on Windows on a stock JDK8 as long as the following .jars are on the classpath:
- graal-sdk-jar
- truffle-api.jar
- tregex.jar
- graaljs.jar
- graaljs-scriptengine.jar

However there seems to be a bug causing an **InvalidPathException** when the context is being create

[2018-06-13 06:30] graemerocher opened #470 "Micronaut support for SubstrateVM and native image"
I have been investigating support for SubstrateVM and the nativeimage tool for Micronaut http://micronaut.io/

Micronaut produces largely reflection free DI and AOP, however does allow soft loading of classes.

Currently only one error occurs when preparing the image, which is probably a matter of supplying a correct reflection.json:

[code]

More fundamentally however, we rely on `ServiceLoader.l

[2018-06-13 07:12] cstancu commented on #470
@graemerocher loading resources is currently available through the [`Class.getResourceAsStream(String)`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/hub/DynamicHub.java#L494) and [`Class.getResource(String)`](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/hub/DynamicHub.java#L501) A

[2018-06-13 07:20] cstancu commented on #470
Regarding the `automatic substitution failed` warning, that is not about reflection, it is about the `sun.misc.Unsafe` API. You can read more about SubstrateVM support of `sun.misc.Unsafe` and about how those warnings can be avoided in [this blog post](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692), the *Unsafe Memory Access* section.

[2018-06-13 07:31] cstancu commented on #424
Related: https://github.com/oracle/graal/issues/470#issuecomment-396837552

[2018-06-13 08:04] graemerocher commented on #470
@cstancu Thanks for the reply. Is there a way to use wildcards to include resources, such as `-H:IncludeResources=META-INF/services/*` ?

Specifying every resource by name is not really practical as many are generated at compile time.

[2018-06-13 08:28] cstancu commented on #470
Yes, wildcards should work, the option takes a regexp as an argument. It also works for resources in both directories and jars on the classpath. We don't have documentation for this yet, but [the implementation](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/ResourcesFeature.java#L50) is straightforward.

[2018-06-13 08:39] hanzr commented on #469
And the same error occurs for tregex.jar:
`Exception in thread "main" java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/dev/temp/graal/tregex.jar`

Current code doesn't like the semicolon in a windows path..
Workaround is to set systemprops:
[code]
or pass in
`-Djs.home=x -Dregex.home=x`

[2018-06-13 08:42] #364 closed

[2018-06-13 08:45] shelajev opened #471 "[native-image] Segfault on io.netty.buffer.AbstractByteBuf.getLong(AbstractByteBuf.java:444)"
Using GraalVM CE 1.0 RC2.

I'm not sure how segfaults work exactly. But while trying to compile a sample grpc server app into a native image.

The app uses gprc server, so it's netty, http2 (through JNI), etc.
The issue was originally found and described by @saturnism: [graal-docker/examples/grpc-server](https://github.com/saturnism/graal-docker/commit/0ce7da6577d4642d3f8930c7e55b42c7750d663a).

F

[2018-06-13 09:12] graemerocher commented on #470
@cstancu I have progressed past the resources issue. Our next problem is with regards to `ServiceLoader`. The following throws an exception:

[code]

The above results in:

[code]
I assume this related to limitations with regards to dynamic class loading, although in this case the classes are on the classpath when the image is created. Is this a limitation that can be overcome?

[2018-06-13 09:40] rahmanusta opened #472 "Packaging Graal VM"
Hi,

How can I package Graal VM with an application which uses both Java and Ruby ?

Is there any too like that?

[2018-06-13 11:32] pmlopes commented on #464
@woess yes, these would be just fallback as I'd expect that most of the times, the default converters are enough.

[2018-06-13 11:39] christhalinger commented on #466
Whatcha got?

[2018-06-13 16:09] cstancu commented on #470
Yes, this is related to the dynamic class loading limitation. Currently `Thread.currentThread().getContextClassLoader()` returns null. As I mentioned above we are currently working on a solution for this.

[2018-06-13 17:02] graemerocher commented on #470
Gotcha. Thanks

[2018-06-13 17:40] rahmanusta commented on #472
Hi @shelajev

Actually if I can bundle Java + Ruby together as a native image of a polyglot app, it is enogh for me. I'm thinking to migrate @ AsciidocFx to Graal to be able to use Asciidoctor's Ruby implementation.

However, can I create a native image for a JavaFX application? If I can't I can need to use second option.

[2018-06-13 23:02] eregon commented on #472
Yes, that's possible. You just need to pass `--language:ruby` to native-image:
`$ native-image --language:ruby ... MainJavaClass`
and in the Java code you can use Ruby with the [Context API](http://www.graalvm.org/docs/getting-started/#native-images).

I don't know if native-image supports JavaFX though.

[2018-06-13 23:05] neomatrix369 commented on #415
With regards to this issue - https://github.com/oracle/graal/issues/415#issuecomment-388354589 (first issue), I had this for `graaljs` and `graalpython` and here are my temporary fixes for both Linux and MacOS, if anyone is interested: https://github.com/neomatrix369/awesome-graal/commit/47d7cd2357f11b04ea851645227fd155be5224ed

[2018-06-13 23:14] neomatrix369 commented on #415
My latest attempt to build the VM suite failed on MacOS with this error:
[code]

[2018-06-14 00:37] cstancu commented on #396
Fixed in https://github.com/oracle/graal/commit/69c31b4338ced46b3a3b7ba09d639f6267aa00ff.

[2018-06-14 00:37] #396 closed

[2018-06-14 07:47] tmysik commented on #337
@dougxc Sorry about that, this is kind of cryptic in Grails (`-Dkey=val` is passed to JVM but `-XX` apparently not); therefore I have provided also the alternative way how to test it. Anyway, I have fixed the README so now, it should fail on your PC as well, I hope [1]. On mine, I can see this:

[code]

Thanks.
[1] Using incorrect `-XX` option, I get now:
[code]

[2018-06-14 08:00] dougxc commented on #337
Does `org.codehaus.groovy.grails.cli.support.GrailsStarter` launch another VM process and if so, does it pass through the `-XX` options? This still looks like an issue with springloader instrumenting classes that it shouldn't.

[2018-06-14 08:05] tmysik commented on #337
Not sure will verify that. Thanks for your time.

[2018-06-14 09:28] shelajev commented on #472
I don't think building a native image of the JavaFX will succeed currently. There's some [limitations](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md) to what programs can be compiled, and I think JavaFX does hit several of them.

[2018-06-14 09:32] shelajev commented on #472
To be 100% honest a while ago I tried building a native image of AsciidocFX specifically and it didn't work. So I'm quite sure it won't work now as well. Currently, we're working on supporting compiling native images of more real world applications.

[2018-06-14 10:16] chrisseaton commented on #415
Do you have LLVM installed? `opt` is an LLVM command.

[2018-06-14 11:06] tmysik commented on #337
I [configured it](https://github.com/tmysik/grails-helloworld/commit/14075e5ca378d12c6b899d373a1414881d109f1e) so no forks now - and it works! I feel quite bad for wasting your time, sorry...

Thank you for your help and time.

[2018-06-14 11:06] #337 closed

[2018-06-14 11:39] dougxc commented on #337
No problem. I think it should still be possible to use springloader without `-XX:-UseJVMCIClassLoader` but that's something for the Spring folks to resolve since looks like https://github.com/spring-projects/spring-loaded/pull/184 didn't fix it completely.

[2018-06-14 12:18] numberpi opened #473 "IndexRange misleading javadoc"
JavaDoc of `com.oracle.truffle.api.instrumentation.SourceSectionFilter.IndexRange.between(int, int)` says `[...] and a second index exclusive` in the text, but
`@param endIndex the end index (inclusive)`
six lines below.
Should be
`@param endIndex the end index (exclusive)`

https://github.com/oracle/graal/blob/49dbd42b7ebc8ef6e01e8656b98cef3f24c00f7d/truffle/src/com.oracle.truffle.api.instrumenta

[2018-06-14 12:42] chumer commented on #473
You are right. it should be exclusive. Thanks for the catch!

[2018-06-14 21:06] Anuken opened #474 "[native-image] DatagramChannel Unsupported?"
I'm trying to compile a headless server for my Java game with `native-image`.

I use [KryoNet](https://github.com/EsotericSoftware/kryonet) as my network library. When a client tries to connect to the server, I get [this error](https://hastebin.com/pidemaxoma.bash).

It appears that the `sun.nio.ch.DatagramChannelImpl` class that Kryonet uses for (UDP?) communication is not implemented. Did I do s

[2018-06-14 21:56] cstancu commented on #474
@Anuken `sun.nio.ch.DatagramChannelImpl` is currently not supported. Yes, we plan to support it in the future, but we don't have any estimation at this point as of when it will be ready.

[2018-06-14 22:01] cstancu commented on #474
As a workaround for now you could try to configure your KryoNet server to use a `com.esotericsoftware.kryonet.TcpConnection` instead? I see that it internally it uses `java.nio.channels.SocketChannel` which we support.

[2018-06-14 22:36] neomatrix369 commented on #415
Both my Linux and MacOS machines have LLVM, but none have `opt`, I did some searching and found out, on the MacOS `opt` has NOT been provided (among couple other commands).

LLVM commands (Linux):
[code]

[2018-06-14 22:58] christianwimmer commented on #465
This boils down to the question "how much should we do during the startup of an application"? We want to do as little as possible during startup, but registering a signal handler would require us to start a new thread that handles the signal and invokes the shutdown hooks.

In addition, we want to be embedding-friendly: we do not want to register any signal handlers unless they are registered expl

[2018-06-15 02:14] Anuken commented on #474
Alright, I'll try that. Thanks for the response.

[2018-06-15 07:11] boris-spas commented on #473
Fixed in https://github.com/oracle/graal/commit/c1eacb298315fe824b9de973eddf17d6c53f45b5
Thanks!

[2018-06-15 07:11] #473 closed

[2018-06-15 10:56] olegchir opened #475 "Separate Compilation and Caching for SVM"
Hi Team,

Is it possible to implement separate compilation or any other type of compilation artifacts reuse for SubstrateVM?

SVM is very good for very tiny microservices, but in real production use, especially on desktops, we'll meet with scalability problems.

Imagine Google Chromium that's written in SVM Java.

A small note about motivation. It's a good idea to write things like Chromium in Jav

[2018-06-15 12:20] olegchir commented on #452
@sanzinger maybe we can just use Github Releases or even better, Bintray? Pretty stable solutions. Cost nothing.

[2018-06-15 15:01] rroller commented on #465
Thanks. This should work for my use-case.

[2018-06-15 15:04] sanzinger commented on #452
Yes, this is actually what we are going to do. The change will be avialable next week.

[2018-06-15 15:10] #465 closed

[2018-06-15 19:40] cstancu commented on #475
@olegchir we currently don't have incremental compilation for SubstrateVM. We thought about it before and we think it is theoretically possible. We never went further than a thought experiment, but with enough effort it can probably be implemented. One way to do it is to cache the static analysis results and only recompute them for code that changes. The static analysis takes about half the time o

[2018-06-16 09:05] serkan-ozal opened #476 "Reflection configuration file generator tool"
Hi,

I have just started playing with GraalVM (especially for native image build feature) and thought that automated reflection configuration file generator tool from given jar file might be useful.

I am thinking of implementing a tool which parses bytecode of all classes in the given jar, introspecting reflective calls (field/method accesses though reflection, etc ...) and adding their conf to t

[2018-06-16 11:22] yrsh opened #477 "Coroutines support?"
Is it expected to support green threads or coroutines?

[2018-06-16 17:34] neomatrix369 commented on #415
Thanks @chrisseaton working on it now

[2018-06-16 19:20] cstancu commented on #476
@serkan-ozal that's a good idea, however I think this goal can be achieved easier inside SubstrateVM, during image building, not in a separate tool. Graal provides a plugin mechanism that enables you to intercept calls during bytecode parsing. Then you can either substitute the intercepted calls with your own logic or just trigger other side effects.  See [here](https://github.com/oracle/graal/blo

[2018-06-16 19:35] serkan-ozal commented on #476
Hi @cstancu
Agreed that it is better to implement in Graal rather that in 3rd party tool. I was not aware of that it is on your roadmap in short term.

Is there any issue or branch for this feature that I can track the changes and status?

[2018-06-16 19:51] cstancu commented on #476
We don't have an issue or branch on github for this work. I will notify you here when the commit is merged.

[2018-06-16 19:52] serkan-ozal commented on #476
Great! any ETA?

[2018-06-17 06:30] cstancu commented on #476
No concrete ETA, but not more than few weeks. The changes also include some improvements in our sun.misc.Unsafe automatic offset recomputation which is tightly coupled with reflection.

[2018-06-17 09:23] sureshg opened #478 "[native-image] Can't build static executable images on MacOSX"
`--static` option gives the following error

[code]
The documentation or release notes don't mention anything specific about mac osx for static build generation. Is static executable image generation supported on MacOSX?

[2018-06-17 12:28] ChadKillingsworth commented on #428
For the open source command line version, you also need a reflection config: https://gist.github.com/ChadKillingsworth/137e8064a9933379726b4d23254a3214

The full build command is:

[code]

[2018-06-18 08:46] olpaw commented on #478
No. OS X does not static linking of libc.
See https://developer.apple.com/library/archive/qa/qa1118/_index.html

[2018-06-18 08:47] #478 closed

[2018-06-18 08:57] olpaw commented on #475
Hi @olegchir ,
for such scenarios I suggest running on JVM during development/debugging as much as possible and only build images when you need to deploy/test it in production (e.g. on a nightly basis). That way you get the convenience of full debugging support of modern Java IDEs plus the instant-startup characteristics of SVM when you need it.

[2018-06-18 14:59] fniephaus opened #479 "Inform about deopts caused by TruffleRuntime:: iterateFrames"
The Javadoc of [`TruffleRuntime::iterateFrames`](https://github.com/oracle/graal/blob/dede8791b189077c3cf64006f40c02719a72e022/truffle/src/com.oracle.truffle.api/src/com/oracle/truffle/api/TruffleRuntime.java#L159) does not mention that this causes deoptimizations and it took me quite some time to find out about this.
I think it would make sense to elaborate a bit more about the impact and possibl

[2018-06-18 18:47] neomatrix369 commented on #415
I have moved further and installed LLVM 6.0 in my docker environment:

[code]

[2018-06-19 00:19] woess commented on #479
Does that also happen with `FrameAccess.READ_ONLY`?

[2018-06-19 06:52] rahmanusta commented on #472
Thanks @shelajev. I'll chase the changes about JavaFx.

[2018-06-19 08:53] making opened #480 "[native-image] simple http server fails on Cloud Foundry with NioSocketError"
I made a simple http server as following and built as a native image.

[code]

This works on my laptop and docker container but fails on Cloud Foundry deployed with [binary-buildpack](https://github.com/cloudfoundry/binary-buildpack).

The error log follows

[code]

This exception seems a general error and occurred in `else` clause, so It's difficult to dig into more.
https://github.com/oracle/gra

[2018-06-19 09:59] fniephaus commented on #479
I would assume the answer is no, but I don't know for sure.

[2018-06-19 13:02] timboudreau opened #481 "NPE in runtime image generation"
I'm attempting to get a [Netty+Guice-based framework](https://github.com/timboudreau/acteur) generating all of the necessary metadata about dependency injection to be able to create native images using annotation processors, starting from [this article](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692) about running Netty (I expect the Guice part

[2018-06-19 14:48] cstancu commented on #481
Are you using the rc2 release? This issue should be fixed. That proxy is generated by us for reflective accesses. The problem was that the proxy didn't have an invocation handler that could handle `toString` calls which are necessary for debugging and error reporting. Can you please try building from source using the [quick start guide](https://github.com/oracle/graal/tree/master/substratevm#quick

[2018-06-19 16:04] rbotafogo opened #482 "Multithread support in polyglot with Ruby and R"
When running Ruby and R Graalvm goes into single threaded mode.  This will have serious impact when running Ruby apps.  Here is a use case I'd like to see working:

let's say I'm building a Web Application that at some point might needs to develop a data model for the user.  In this case:
    • I don't want my web application to be single threaded just because eventually I'll need to interface wit

[2018-06-19 16:11] #419 closed

[2018-06-19 17:48] Peter-B-Kessler commented on #480
With some work we could add the cause of the exception to the exception detail string.  I have filed an issue to fix that.  I am not sure it would help in this case: We know all the errors that are not the cause, because we are in the final `else` clause.

I also see that between JDK-8 and JDK-10, the HotSpot implementation of `handleSocketException` added a case for `ENOTCONN`.  I have filed an i

[2018-06-19 17:48] #480 closed

[2018-06-19 18:20] timboudreau commented on #481
[code]
Specifically here we seem to be proxying the iterator produced by a proxy of an iterable, and something is calling `toString()` on the iterator.

[2018-06-19 18:29] timboudreau commented on #481
Building based on quickstart with a fresh checkout of `mx` gets:
[code]

[2018-06-19 18:30] timboudreau commented on #481
Is that because the bootstrap JDK is the copy of graal I already have?

[2018-06-19 20:23] cstancu commented on #481
That's probably the cause. You should try building with a **JVMCI JDK** from http://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html.

[2018-06-20 05:19] timboudreau commented on #481
Okay, got it built, and now getting a different error much earlier :-)

[code]

[2018-06-20 07:49] cstancu commented on #481
Do you have any substitutions for `java.lang.reflect.Proxy.proxyClassCache`. We `@Delete` that field in `com.oracle.svm.core.jdk.proxy.Target_java_lang_reflect_Proxy` so it wouldn't be possible to add another substitution.

[2018-06-20 08:20] eregon commented on #482
This seems similar to the use-case for mini_racer, where we want multiple JS contexts.
And we'd still want this to work with a multithreaded Ruby application.
@aardvark179 Could you confirm you basically need the same feature?

[2018-06-20 09:19] neomatrix369 commented on #415
After excluding `fastr` from the list, the build proceeds but breaks at:
[code]

[2018-06-20 11:00] neomatrix369 commented on #415
Just raised an issue on the fastr repo about https://github.com/oracle/graal/issues/415#issuecomment-398156370

[2018-06-20 11:58] neomatrix369 commented on #415
I have temporarily patched https://github.com/oracle/graal/issues/415#issuecomment-398682772, and get the below:

[code]

I find this error a bit strange:
[code]

[2018-06-20 12:55] gilles-duboscq commented on #415
This (`Could not find any source file`) looks like what @ansalond just fixed in mx (graalvm/mx@224dfc3)

[2018-06-20 17:49] ansalond commented on #415
Re.:
[code]
Thanks for the report. We have a fix for it, which will be merged in the next hours.

[2018-06-20 18:00] rbotafogo opened #485 "Method order broken?"
I have the following code:

      R.eval(<<-R)
            vec = c(2.1, 4.2, 3.3, 5.4);
            print(order(vec));
      R

and the result is:

Failure/Error: R.order(vect)

     RuntimeError:
       java.lang.ClassCastException: com.oracle.truffle.object.enterprise.b cannot be cast to com.oracle.truffle.r.runtime.data.RList (RInternalError)
       	from com.oracle.truffle.r.nodes.function.Fun

[2018-06-20 18:11] rbotafogo commented on #485
Sorry... wrong report.

[2018-06-20 18:11] #485 closed

[2018-06-20 20:31] arthurp commented on #477
I think it will be a while, but I also hope we eventually get them. The challenge is that the JVM itself doesn't support green thread/coroutines/fibers and graal cannot add them without support since Graal still uses the JVMs support for managing stacks and heap (and rewriting stacks during deopt and OSR).

@eregon's work [Truffle-Oz](https://github.com/eregon/mozart-graal)  uses [a modified JVM 8

[2018-06-20 21:53] neomatrix369 commented on #415
Consider this issue resolved https://github.com/oracle/graal/issues/415#issuecomment-398838894, thank you, we are moving forward :+1: :heart:

[2018-06-20 22:56] mlucool opened #486 "Expected performance of node"
Hi,

What type of performance should we expect from node? I wrote a simple fib.js test and saw it is ~18x slower than the standard node.js on my machine.

Code tested via [benchmark.js](https://benchmarkjs.com):
[code]
Graal:
[code]
Native:
[code]

I have also run the example on the homepage of benchmark.js and found similar slowness (regex was 15x, indexOf was 64x, and match was 7x slower).

Is t

[2018-06-21 09:09] wirthi commented on #486
Hi Marc,

thanks for trying out GraalVM; we appreciate you report your results!

GraalVM is expected to be in the ballpark of Node.js on peak performance, maybe a bit slower on average; depending on the kind of workload. GraalVM is better - often even faster than Node.js - on mostly algorithmic/arithmetic code; GraalVM is slower on code stressing Node.js internals a lot. In general, anything betwe

[2018-06-21 13:11] schmitch opened #488 "Runtime/Compile Error in Play Dev Mode"
Currently when running Playframework Dev Mode on a GraalVM (1.0.0-rc2) I **rarely** get the following error after multiple "compilations":

[code]
I also attached the full stack trace:
[graalvm_error.txt](https://github.com/oracle/graal/files/2123704/graalvm_error.txt)

Currently I guess the error happens on class loading, since play uses multiple class loaders to actually have a smooth way of rel

[2018-06-21 13:30] mlucool commented on #486
Thanks for the detailed response. I'll watch for future benchmarks and improvements in compilation

[2018-06-21 14:52] mur47x111 commented on #488
Hi @schmitch thanks for the bug report. Could you please add `-Dgraal.Vectorization=false` to your Java command and see if the issue is still there?

[2018-06-21 15:18] ansalond commented on #415
FYI, we removed SubstrateVM's Java version check:
https://github.com/oracle/graal/commit/56cbed9d5bd2ff80d6d111f487bb606c7f16bc3f
I'm closing this issue, please re-open it if there are more problems. Thanks for all the feedback!

[2018-06-21 15:18] #415 closed

[2018-06-22 06:41] chengenzhao commented on #437
dart2js is not that elegant actually
a front-end of dart lang would be better
in that case we could implement dart lang support for vert.x rather than translate dart into js and then use it as js way

[2018-06-22 07:06] graemerocher commented on #470
@cstancu do you have a timeline for when the feature you describe will be available?

[2018-06-22 08:43] mukel opened #491 "Moving jdk.aot (jaotc) module to Graal repo."
We'll be soon moving jdk.aot into Graal repo, it will be part of our gate (+weekly for aarch64). FYI @theRealAph

[2018-06-22 08:51] theRealAph commented on #491
On 06/22/2018 09:44 AM, Alfonso² Peterssen wrote:

Nice to know.  It does make sense, but there is some tight coupling
between HotSpot features and jdk.aot so it'll be interesting to try
to keep it all in step.

--
Andrew Haley
Java Platform Lead Engineer
Red Hat UK Ltd. <https://www.redhat.com>
EAC8 43EB D3EF DB98 CC77 2FAD A5CD 6035 332F A671

[2018-06-22 09:04] cstancu commented on #470
We will try to make it available in the next release, which as of now is planned for June 29th.

[2018-06-22 09:05] graemerocher commented on #470
Thanks for the update

[2018-06-22 10:11] mukel commented on #491
Moved to #492

[2018-06-22 10:11] #491 closed

[2018-06-22 10:22] #275 closed

[2018-06-22 10:36] cstancu commented on #382
I am closing this issue as a solution was discussed here: https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692.

[2018-06-22 10:36] #382 closed

[2018-06-22 10:41] ghost opened #493 "sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"
SSL connections appear to be broken in GraalVM:
[code]

I found `SSLPoke.class` on this page: https://confluence.atlassian.com/kb/unable-to-connect-to-ssl-services-due-to-pkix-path-building-failed-779355358.html

The problem also affects other Java applications, like [Leiningen](https://leiningen.org/), which are unable to connect to any SSL secured web servers.

[code]

I also tried to copy over

[2018-06-22 11:22] cstancu commented on #434
I am closing this issue. When you run out of file descriptors you should now get a `java.io.FileNotFoundException` instead of a dying process.

[2018-06-22 11:22] #434 closed

[2018-06-22 16:51] dsyer opened #494 "ClassNotFoundException: com.jcraft.jzlib.Deflater when generating native image"
JZlib is not used or required by my app. Looks like maybe something Graal is trying to accesss?

[code]

[2018-06-22 17:47] panga commented on #447
PGO feature is enterprise only?

[2018-06-22 17:50] Jotschi commented on #447
@panga Yes

[2018-06-22 17:55] panga opened #495 "Native Image: Classpath scan issues"
I'm trying to build a native image for a Java microservice project that uses CDI.
I'm struggling in an weird error even with `-H:+ReportUnsupportedElementsAtRuntime` set.
The stacktrace doesn't help me to identify what's happening.

[code]

This error happens with two CDI implementations: Weld and OpenWebBeans.

[Weld verbose log](https://gist.github.com/panga/cb6768016420f14db1da8d32a136913a).
[O

[2018-06-22 19:48] tarsa commented on #494
AFAIK JSch has implicit dependency on JZlib, but since Java's class loading is lazy you won't get ClassNotFoundException on JVM if you don't trigger JZlib usage. Native-image tool in Graal doesn't load classes lazily, but eagerly and that's why it fails, I guess. Some stubbing is probably needed.

[2018-06-22 21:34] vjovanov commented on #447
Fixed. Thank you very much for the clean bug report!

[2018-06-22 21:35] #447 closed

[2018-06-23 06:53] neomatrix369 commented on #415
The GraalVM suite build still fails when FastR is included in the suite, I have raised an issue, see https://github.com/oracle/fastr/issues/17. The solution suggested does not resolve the issue, I think everyone will have this issue when building the GraalVM suite.

[2018-06-23 07:46] cstancu commented on #495
The problem is that `JarFileFactory` caches `JarFile` objects into its `private static final HashMap<String, JarFile> fileCache = new HashMap<>()` and ` private static final HashMap<JarFile, URL> urlCache = new HashMap<>()` fields during image building and, as the `Error:` part of the error message describes, this is not supported. This most likely happens because `sun.net.www.protocol.jar.JarFile

[2018-06-23 07:51] cstancu commented on #495
Regarding the reflection configuration files we are working on automating the discovery of classes/methods/fields that need reflective access. In the meantime ReflectionConfigurationFiles is the only solution.

[2018-06-23 07:55] cstancu commented on #494
@tarsa is right, however, when using `--report-unsupported-elements-at-runtime` the error should be pushed to runtime and only reported when that execution path is taken. This is a bug.

[2018-06-23 12:21] neomatrix369 commented on #415
I get the below failure when building the Graal compiler:
[code]

[2018-06-23 12:40] panga commented on #495
@cstancu, thanks for quick answer.

If you look at my code it's a very simple call`ServiceLoader.load(clazz).next()`.
I didn't call JarFileFactory that's a Java core call during ServiceLoader.parse().

Do you mean that SubstrateVM doesn't support META-INF/services for loading service classes?

Specifically about ServiceLoader.load() reflective access, maybe you can substitute this method in Substr

[2018-06-23 12:43] neomatrix369 commented on #291
I'm I reading the message right here, that building JVMCI or Graal or GraalVM suite in parallel mode might not be trivial using the `mx` build tool, if not please let me know, so I can discuss this separately?

[2018-06-23 13:29] panga commented on #495
I'm trying in a uber (shaded) jar now, got a slightly different stacktrace, but same error.

[code]

[code]

[2018-06-23 21:11] cstancu commented on #495
That's correct, SubstrateVM doesn't currently have a general solution for loading service classes via META-INF/services. We will work on it as soon as we have support for dynamic class loading which is under development. (To be clear, dynamic class loading in the context of SubstrateVM is not "true" dynamic class loading: only classes available during image building will be available for dynamic l

[2018-06-23 21:58] panga commented on #495
@cstancu that works for me, I only expect to load services available at build time.

Please contact me once you have something, so I can test and give some feedback.

Thanks!

[2018-06-24 11:57] dsyer commented on #494
I found where it came from: jzlib is an optional dependency of netty-codec, but not on my classpath. So it's surprising that other people seem to have been successful with native images and netty.

[2018-06-24 13:01] cstancu commented on #494
Thank you for investigating further. I was able to reproduce this with a minimal test case, however it's a somewhat complicated corner case, a proper solution for it will take some work.

I guess your code reaches into some parts of netty that makes jzlib reachable. You probably use more of netty than we have tried before.

[2018-06-24 13:26] vektory79 opened #496 "Error on the obfuscated code compilation in SubstrateVM"
Recently I tryed to compile the [Minecraft server](https://minecraft.net/ru-ru/download/server) jar. It's contain an obfuscated code. This obfuscation is touching everything around. Even the enum declarations. As a result I have the compilation crash with this error:
[code]

As I understand, it's because compilation is searching the static field's name with enum values array. But in obfuscated cod

[2018-06-24 18:00] dsyer opened #497 "ObjectStamp cannot be cast IntegerStamp"
I have no idea what this means, or if there is a way for me to configure around it. Here's the error (when generating a native-image):

[code]

[2018-06-24 18:38] cstancu commented on #496
We support obfuscated code. This issue was reported before and fixed. See https://github.com/oracle/graal/issues/436. You can [build from source](https://github.com/oracle/graal/tree/master/substratevm#quick-start) to get the latest fixes or wait for the next release which is scheduled for June 29th.

[2018-06-24 18:38] #496 closed

[2018-06-25 09:35] gilles-duboscq commented on #415
Hi @neomatrix369,

It looks like an issue with your toolchain. Apparently it's a common error when one of the processes used by GCC gets killed by the OOM killer because of low memory conditions.

How much RAM & CPUs do you have available? By default it will run as many compilations in parallel as you have CPUs. You can try to lower that parallelism to save memory by using the `HOTSPOT_BUILD_JOBS`

[2018-06-25 14:22] dsyer commented on #497
I was using rc2. You can reproduce using the "func" branch here: https://github.com/dsyer/spring-boot-micro-apps/tree/func. Follow the instructions in the README, but use `com.example.func.FuncApplication` instead of `MicroApplication` (which works).

[2018-06-25 17:23] mur47x111 commented on #488
Hi @schmitch , is the issue gone with `-Dgraal.Vectorization=false`? If so, it is likely the same bug that I have encountered, and the bugfix will be integrated in the next release.

[2018-06-25 17:28] schmitch commented on #488
Actually I only had one day to test it.
And actually it never occurred on this day.

So I guess the issue is gone with `-Dgraal.Vectorization=false`.

[2018-06-25 19:21] tonykero commented on #301
Perhaps you could get some stuff knowledge from https://github.com/konsoletyper/teavm ?

[2018-06-25 19:22] tonykero commented on #301
Perhaps you could get some stuff from https://github.com/konsoletyper/teavm ?

[2018-06-26 00:42] dsyer commented on #494
Adding jzlib to the classpath fixes it. But that's a workaround really.

[2018-06-26 06:30] olegchir commented on #475
@olpaw is there any way to check if a code is native-image ready? Static checking for LIMITATIONS.md and things like that. Writing something all day to understand that it doesn't work at all on SVM after a couple of days is a very special type of perversion :)

[2018-06-26 06:36] Spasi commented on #438
Hello,

I haven't had a chance to play with `native-image` yet, but it might be interesting to explain why LWJGL 3 works the way it does.

- The `java.nio.Buffer` field offsets are retrieved using magic values to avoid illegal reflective access warnings (and in the future, errors) on Java 9+. Note that LWJGL is one of the few libraries with explicit modules and multi-release (JAR) code. Java 8 is

[2018-06-26 06:39] olegchir commented on #486
For history: I tried to run Octane2 (it's in my [forked repo](https://github.com/graalvm-community/graalvm-carbon)) and found that Node had dramatic slowdowns on different things like regexps.  Which of course isn't a big surprise. We discussed it in the gitter. By the way, can we SVM-compile JS code?

![](https://files.gitter.im/graalvm/graal-core/xzWs/______-______-2018-06-20-_-1.56.39.png)

[2018-06-26 06:56] olegchir commented on #452
@sanzinger is there any way I can help? I thought about creating Ansible/Docker/... scripts on everything we have in public documentation, but I talked to Oleg and realized that this would be copying the work that you are already doing, which is quite pointless. If you have any ideas on this, please ping me. (+ oleg@jugru.org).

[2018-06-26 07:45] fniephaus commented on #452
IMHO GitHub Releases is way easier to use than Bintray. Bintray have weird limitations (e.g. after 180 days, files cannot be removed anymore) and the UI/UX is quite annoying too.

[2018-06-26 07:52] sanzinger commented on #452
Hi @olegchir , the change was a bit delayed. The change came through last night, which downloads now all dependencies from github. dcd7153

[2018-06-26 07:56] sanzinger commented on #452
@olegchir For what purpose you think about building a docker image?

[2018-06-26 08:20] olpaw commented on #475
Other than performing native-image generation not really. For our own use (making sure the whole truffle stack + languages can be AOT-compiled with native-image) over time people got used to the do's and don't's. Also we have gate checks to ensure every PR that goes to master is checked for SVM compatibility.

There is a flag to make native-image generation stop right after the static analysis (`-

[2018-06-26 08:31] olpaw commented on #475
And you combine both of the above things:
[code]
As you can see above in subsequent requests time per request drops by half.

[2018-06-26 10:02] mur47x111 commented on #488
Please test without `-Dgraal.Vectorization=false` when the next release is available, and reopen the issue if it would occur again. Thanks

[2018-06-26 10:02] #488 closed

[2018-06-26 13:49] chumer commented on #486
Short answer no.

Long answer: We can SVM compile the JS interpreter but not JS code itself. We are planning to allow some embedding of preparsed (maybe also preoptimized) JS sources in a JS interpreter native-image. That would mean that you create a specialized JS VM for your JS application. Cannot promise anything at this point, still only experiments.

[2018-06-26 14:53] chengenzhao opened #499 "Haskell support?"
Will Haskell be supported in the future?

[2018-06-26 15:25] Glavo commented on #499
I think [Eta](https://github.com/typelead/eta) is a good solution

[2018-06-26 15:46] gaberger opened #500 "Native Image exception Clojure with SnakeYaml"
[code]

[2018-06-26 15:49] dougxc commented on #500
Thanks for the report @gaberger . Can you please provide steps to reproduce this error.

[2018-06-26 19:01] gaberger commented on #500
Ok the issue is not with SnakeYaml. The problem is with String method `startsWith`

[code]

Compiled with
`native-image --report-unsupported-elements-at-runtime -Djava.runtime.name=graalvm --verbose GraalTest --static GraalTest`

Execution Exception

[code]
native-image --version
SubstrateVM Version Info
b76cd1450aa1085c6b82d3d7f1563fa0c26d6b03:substratevm
GraalVM Version 1.0.0-rc2
[code]

[2018-06-26 21:06] Peter-B-Kessler commented on #500
The cause of the `NullPointerException` is because native images do not have a `java.runtime.name` System property.  So `r` is `null` and you are trying to invoke `String.startsWith` on it.

[2018-06-26 21:09] sureshg commented on #493
@cstancu you are correct. My bad didn't check the exception properly.
Is this due to the root ca certs missing on GraalVM - https://github.com/oracle/graal/issues/378